[2022-07-18 15:16] mlok-nokia commented on #11473
@liuh-80 Please take a look this issue which is related to the new sonic-db-cli.  Either fix the return value of the sonic-db-cli  for the case of ping a particular database or fix the database.sh to grep "PONG" instead of "True".  Thanks.

[2022-07-19 01:11] liuh-80 commented on #11473
ACK, I will fix this issue ASAP.

[2022-07-19 02:48] liuh-80 commented on #11473
This is a strange behavior in python, because PING with -s will return PONG, I will check if this is a BUG or feature:

admin@vlab-01:~$ /usr/local/bin/sonic-db-cli -s PING
PONG

admin@vlab-01:~$ /usr/local/bin/sonic-db-cli STATE_DB PING
True

admin@vlab-01:~$ /usr/local/bin/sonic-db-cli CONFIG_DB PING
True

[2022-07-19 06:59] Rancho333 commented on #11217
Broadcom's FAE helped me to fix this issue.  I will close this issue now. Thanks!

[2022-07-19 06:59] #11217 closed

[2022-07-19 07:27] liuh-80 commented on #11473
Please ignore https://github.com/Azure/sonic-swss-common/pull/647, that is a mistake.

Issue fixed with https://github.com/Azure/sonic-swss-common/pull/650

[2022-07-19 08:28] DavidZagury opened #11484 "[FRR] Submodule was not updated to 8.2"
#### Description

Although SONiC has upgraded FRR to 8.2 the FRR submodule in our code base, on both master and 202205 branches, is still pointing to the same hash c69608a which is part of the FRR branch origin/frr/7.5.

It seems that the PR that updated the FRR version ( https://github.com/Azure/sonic-buildimage/pull/10691 )  has updated the .gitmodules file to the new FRR branch and the makefile

[2022-07-20 02:51] wen587 commented on #11171
Hi @StormLiangMS, will this be fixed?

[2022-07-20 05:16] liuh-80 commented on #10870
Get object list with multi-asic VS:

{"list": 550,
 "dict": 3186,
 "tuple": 2608,
 "coroutine": 46,
 "frame": 45,
 "Future": 22,
 "TimerHandle": 21,
 "Context": 92,
 "FutureIter": 22,
 "TaskWakeupMethWrapper": 22,
 "scputimes": 12,
 "svmem": 1,
 "wrapper_descriptor": 1184,
 "builtin_function_or_method": 1588,
 "method_descriptor": 947,
 "classmethod_descriptor": 27,
 "getset_descriptor": 925,
 "me

[2022-07-20 09:53] UmaMaven opened #11498 "Supporting static route yang"
Static route yang data model support does not exist for now.
As part of this issue, adding support for static route yang model

[2022-07-20 23:12] #11377 closed

[2022-07-21 02:32] dgsudharsan opened #11503 "[EVPN] When MAC moves from remote end point to local, ASIC DB fields are not updated properly for the mac"
#### Description

When a MAC move happens from remote end point to local, the ASIC DB update doesn't reflect the current state of the MAC address.
This may be due to the fact that mac update to ASIC DB is done using hset of list of fields obtained in the notification but it doesn't remove the existing fields.

https://github.com/Azure/sonic-sairedis/blob/f50dba7c2a3fa07428aabe1384f9b10c0b9f1937/sy

[2022-07-21 07:02] liuh-80 commented on #10870
The issue can be reproduce with following code:
from swsscommon.swsscommon import SonicDBConfig
from swsscommon.swsscommon import SonicV2Connector
import gc

SonicDBConfig.load_sonic_global_db_config()
SonicDBConfig.get_ns_list()
db = SonicV2Connector(use_unix_socket_path=True, namespace='')
db.connect("CONFIG_DB")
db.get_redis_client("CONFIG_DB")
client = db.get_redis_client("CONFIG_DB")
client.p

[2022-07-21 15:28] Japanavt commented on #11337
Anybody can help me?

[2022-07-21 16:16] jon-nokia opened #11511 "build fail with ENABLE_SYNCD_RPC"
#### Description
Build of target/docker-syncd-brcm-rpc.gz fails.  This has been broken for a few weeks and was working earlier.

#### Steps to reproduce the issue:
[code]
#### Describe the results you received:

[code]

#### Describe the results you expected:

#### Output of `show version`:
git is based on e4e3adcbc

#### Output of `show techsupport`:

[code]

#### Additional information you deem

[2022-07-21 17:33] zhangyanzhao commented on #9312
@li-pingmao would you please join next YANG meeting to provide an update? Thanks.

[2022-07-21 17:52] zhangyanzhao commented on #10545
@StormLiangMS  a kind reminder

[2022-07-23 02:25] saiarcot895 opened #11521 "dhcp-relay and macsec dockers are not tagged with the image version"
#### Description

The dhcp-relay and macsec docker containers are not tagged with the image version in `docker images`. They have the `latest` tag, but not the image version tag.

#### Steps to reproduce the issue:
1. Load any master branch or 202205 branch image.
2. Run `docker images` to see what images are available

#### Describe the results you received:

[code]

`docker-dhcp-relay:latest` is

[2022-07-24 10:03] liat-grozovik commented on #11484
@hasan-brcm could you please self signin this issue on you?

[2022-07-25 01:10] richardyu-ms commented on #11511
the PR for the fix is right here.
https://github.com/opencomputeproject/SAI/pull/1541

[2022-07-25 07:18] keboliu opened #11525 "[CMIS cable] Xcvrd could crash while reseting CMIS cable"
#### Description

Recently when I perform community SFP reset(https://github.com/Azure/sonic-mgmt/blob/master/tests/platform_tests/sfp/test_sfputil.py#L90) against CMIS cables(**with latest 202205 branch**) I see xcvrd can crash at different position due to encountered into “NoneType” object and “KeyErrors”, I listed the traceback as below:

**1.	NoneType object in  sonic_platform_base/sonic_xcvr/

[2022-07-25 08:41] aslam-man opened #11526 "dhcp-relay docker compilation required for buster"
#### Description

When  dhcp relay is compiled with command make target/docker-dhcp-relay.gz
It only builds for bullseye version.  This relay docker needs to be available for buster version also

#### Steps to reproduce the issue:
1.make target/docker-dhcp-relay.gz

#### Describe the results you received:
$ ls -l target/debs/bullseye/*dhcp*.deb
-rw-r--r-- 1 ubuntu ubuntu 685096 Jul 25 07:24 target

[2022-07-25 09:17] stepanblyschak commented on #11521
@saiarcot895 Could you please describe the use case where you need to see the docker image tagged also with the image version?

It is by design that the app. ext images have a single tag present in the system, so that it is easy to manage the image. You can find the Tag in the docker image labels.

[2022-07-25 13:46] sahiltyagi4 opened #11527 "Unable to verify checksum when installing a new image from SONiC environment on Edgecore DCS800."
#### Description
Unable to verify checksum when installing a new image with `sonic_installer` on Edgecore DCS800.
The image was built with PLATFORM barefoot.

#### Steps to reproduce the issue:
1. To build sonic: make configure PLATFORM=barefoot
2. Installation method: installing image from SONiC environment: sudo sonic_installer install sonic-barefoot.bin

#### Describe the results you received:

[2022-07-25 17:08] kellyyeh commented on #11431
Hi @vivekrnv, this PR has fixed interface binding issue https://github.com/Azure/sonic-buildimage/pull/10712, a retry mechanism is added to check for interface's ipv6 global and link-local addresses before binding. Closing the issue

[2022-07-25 17:16] dgsudharsan commented on #11431
Hi @kellyyeh  We are seeing this in spite of the fix @vivekrnv  can provide more details

[2022-07-25 17:18] kellyyeh commented on #11431
@vivekrnv Are both global and link-local addresses available for the interface?

[2022-07-25 17:41] saiarcot895 commented on #11521
It's more of a visual expectation. All of the other dockers that are packaged with this image are tagged with the image version. Older images (such as those from the 202012 branch) have docker-dhcp-relay tagged with the image version.

[2022-07-25 20:03] #11455 closed

[2022-07-25 20:52] kellyyeh commented on #11431
@vivekrnv what's the cause for the missing ipv6 link local address on interface? Six retries should be enough for the interface to come up and addresses to be available
Can you check that while the binding/retries fail, the interface is up and has an ipv6 link local address

[2022-07-25 20:55] yxieca commented on #11521
@renukamanavalan Can you assess this design change from K8 perspective?

[2022-07-25 22:33] renukamanavalan commented on #11521
Looks good to me.

[2022-07-25 22:45] yxieca commented on #11431
@vivekrnv That is a great suggestion. however, we do need to be careful here. I think we do need to know if we have IPv6 and/or IPv4 configuration for the wait_for_intf.sh script so that it can wait for the right things to show up.

[2022-07-25 22:53] ghooo commented on #9312
Related PR: https://github.com/Azure/sonic-buildimage/pull/9545

[2022-07-25 23:24] li-pingmao commented on #9312
Yes,  I will join this Thursday's meeting

[2022-07-26 00:08] prsunny commented on #11381
This can be fixed by bypassing for the KVM image. Can be checked for platform in [build_debian.sh](https://github.com/Azure/sonic-buildimage/blob/master/build_debian.sh#L561) or [docker_image_ctl.j2](https://github.com/Azure/sonic-buildimage/blob/master/files/build_templates/docker_image_ctl.j2#L193). Request help from community.

[2022-07-26 11:44] dprital commented on #11431
@yxieca - Can you please share the PR that fix this issue ?

[2022-07-26 12:46] liat-grozovik commented on #7895
@kcudnik , @stepanblyschak  where do we stands with this issue on master sonic? is it still open? will it be targeted to the next sonic/sai releases?

[2022-07-26 13:07] liat-grozovik commented on #8599
@hasan-brcm @AkhileshSamineni any update since the last infor shared?
if there is already a fix shared could you please refer to the PR? if not, any ETA for PR to be avaialble?

[2022-07-26 15:49] prsunny commented on #7095
One of the route delete error log is handled here - https://github.com/Azure/sonic-swss/pull/2391

[2022-07-27 06:55] liuh-80 commented on #10870
Found another memory leak issue in swsscommon:

void ConfigDBConnector_Native::db_connect(string db_name, bool wait_for_init, bool retry_on)
{
    m_db_name = db_name;
    m_key_separator = m_table_name_separator = get_db_separator(db_name);
    SonicV2Connector_Native::connect(m_db_name, retry_on);

    if (wait_for_init)
    {
        auto& client = get_redis_client(m_db_name);
        auto pubs

[2022-07-27 09:12] #9817 closed

[2022-07-27 16:22] jhli-cisco commented on #11527
This issue seems to be related with https://github.com/Azure/sonic-buildimage/commit/429254cb2d756e1851050c659d48a718fd7e1973. Use image with 429254c reverse patched, the issue is no longer hit.

[2022-07-27 18:40] #11290 closed

[2022-07-27 20:54] gechiang opened #11551 "[chassis][platform]Request enhancement to add output of serial number in "show chassis modules status""
#### Description
Today the output of "show chassis modules status" only has the following fields:
[code]
We would like to see a new column added at the end to show each card's serial number including the FC

[code]

#### Steps to reproduce the issue:
This is not an issue.  It is an enhancement request.

[2022-07-28 03:44] hustleige2003 commented on #9714
I met similar problem when trying to create 64 portchannels
I got the sending option change via netlink with err -105 failure when the PortChannel47 was being created：
Jul 26 09:04:14.344262 Sonic DEBUG teamd#teamd_PortChannel47[411]: Using agg_select_policy "lacp_prio".
Jul 26 09:04:14.344693 Sonic ERR teamd#teamd_PortChannel47[411]: Failed to set lb_tx_method.
Jul 26 09:04:14.345160 Sonic DEBUG

[2022-07-28 14:57] mlok-nokia commented on #8389
Issue is fixed

[2022-07-28 14:57] #8389 closed

[2022-07-28 17:53] DavidZagury opened #11576 "[Generic Config Updater] apply-patch ignore-path path is not working"
#### Description

When using apply-patch to update the DB there is an hidden option 'ignore-path' that should be used to ignore validation for config specified by given path.

The validation on apply-path does not ignore the tables given with this flag.

#### Steps to reproduce the issue:
1. Verify using dynamic buffer.
2. Create a patch to shutdown a port:
[code]
3. Verify the interface status is

[2022-07-29 02:01] wen587 commented on #11576
Hi, can you try other tools except GCU to shut down the port?
Just want to make sure whether it is a bug of the box or not.

[2022-07-29 03:25] congh-nvidia opened #11579 "[Errors in log] Orchagent should gracefully handle a situation in which a PUDE comes from SAI targeting a port that orchagent has already deleted."
#### Description

Some errors was observed in log when doing an automation port breakout test:
[code]
This is caused by a racing condition that  a PUDE comes from SAI targeting a port that orchagent has already deleted, from the syslog we can see:
During creation:
[code]
During removal:
[code]
Then after this:
[code]
process_on_port_state_change is attempting to do something with Ethernet118 after

[2022-07-29 08:14] msosyak commented on #11167
Are there any updates?

[2022-07-29 08:54] gregory-mac commented on #9855
Hi!
Might be the wrong place to ask, but are there any plans to reinstate MLAG functionality?

[2022-07-29 10:01] kcudnik commented on #7895
i think this is still opened

[2022-07-29 10:20] kcudnik commented on #11503
i think mac_move event is not properly supported yet, so far we had only learn/age events and we based on that,
do you have fix that can address this issue?

[2022-07-29 10:29] kcudnik commented on #11167
@saiarcot895 any updates ?

[2022-07-29 20:00] ghooo commented on #11576
This seems like a problem in the box, shutting down a port has a side effect of changing BUFFER_PG table. @qiluo-msft do you have suggestions about who can help with this?

`ignore_path` is used for ignoring tables or fields from YANG validation. This is used to unblock E2E testing of the GCU feature especially the YANG models are not complete and the test DUTS they have different YANG validation

[2022-07-29 22:03] qiluo-msft commented on #11576
@DavidZagury The ERR syslog is generated by this code line https://github.com/Azure/sonic-utilities/blob/6de18a1ded43a5bec02af5732fc4c64e551d8a42/generic_config_updater/change_applier.py#L129 and it is truncated. Could you just add some debug output and capture `run_data, upd_data` there?

@renukamanavalan Could you please help check also?

[2022-07-29 23:12] renukamanavalan commented on #11576
@ghooo is correct w.r.t YANG validation.
It appears that the patch did not get applied to the running config.
Someone has to repro and debug.

[2022-07-31 06:56] qiluo-msft commented on #10218
@liuh-80 Could you summarize all the PR related to this fix into a markdown table? Check the [Sample](https://github.com/sonic-net/SONiC/pull/1002).

Then we need to mark each PR with cherry-pick labels for 202111 and 202205.

[2022-08-01 02:03] wen587 commented on #11576
I think when use GCU to shut down the port, GCU will compare the running config and target config to make sure it makes the change and only make the change to the `Ethernet0's admin_status`.
The operation will fail if changes other than `admin_status` are changed.

In this example(check **Additional information** in this issue), shutting down the port will result in "BUFFER_PG|Ethernet0|3-4" disap

[2022-08-01 02:42] liuh-80 commented on #10218
Here are summary of all PRs related to this fix:
| PR title                                                                               | state                                                                                                              | context                                                                                                                 |
| -------------------

[2022-08-01 06:08] SudharshanSuresh opened #11589 "Query regarding EVPN VXLAN support on Trident2 and Tomahawk based Chipsets"
Hi All,
      I am trying to bring up EVPN-VXLAN on the following boards  for a POC

x86_64-accton_as7716_32x-r0 (Tomahawk)
x86_64-accton_as5712_54x-r0 (Trident2)

and end up with the following error message

Jul 20 16:07:25.498047 sonic NOTICE swss#orchagent: :- create_tunnel: create_tunnel:encapmaplist[0]=0x29000000000687
Jul 20 16:07:25.498047 sonic NOTICE swss#orchagent: :- create_tunnel: crea

[2022-08-01 07:54] DavidZagury commented on #11576
I have add a breakpoint and printed the run_data and the upd_data, since it is the full db it is quite long to add as a comment here, I added it to here:
run_data:
https://justpaste.it/3ag9p
upd_data:
https://justpaste.it/5hso8

As I said, the difference is only on the BUFFER_PG where a profile was removed.

[2022-08-01 12:27] Yuval-Mellanox commented on #9634
@prsunny  @TACappleman Any further progress on this issue?

[2022-08-01 12:32] Yuval-Mellanox commented on #9631
@kellyyeh Any updates on this issue?

[2022-08-01 12:34] Yuval-Mellanox commented on #9629
@zhangyanzhao any update on this issue?

[2022-08-01 12:51] Yuval-Mellanox commented on #10000
@wangxin Any updates?

[2022-08-01 20:53] vaibhavhd opened #11597 "[master] Errors in docker database supervisord init - flush_unused_database failed"
#### Description

Database container init has errors in latest master image. Likely due to this error other database dependent services also fail to start.

I think the issue is because of this change: https://github.com/Azure/sonic-buildimage/pull/11215

The change replaced swsssdk.SonicDBConfig with swsscommon.SonicDBConfig, but the function get_instancelist is not in swsscommon. Should that cha

[2022-08-02 01:06] liuh-80 commented on #11597
ACK, will create a fix for this issue soon

[2022-08-02 01:34] liuh-80 commented on #11597
Draft PR created, will request review after all validation passed: https://github.com/Azure/sonic-buildimage/pull/11600

[2022-08-02 03:07] stephenxs commented on #11576
Hi
We understand applying patches via using `sudo config apply-patch -i /BUFFER_PG test_down` can fail if there is a difference in `CONFIG_DB` between and after the patch is applied.
But by design, the traditional buffer manager will update the `BUFFER_PG` and `BUFFER_PROFILE` table on ports' `speed` or `admin_status` updated.
As a result, it will fail to apply a patch containing `speed` and `admi

[2022-08-02 09:15] liuh-80 commented on #11597
PR ready for review: https://github.com/sonic-net/sonic-buildimage/pull/11600
Manually verifyed with following command:

admin@vlab-01:~$ sudo docker exec -it database bash
root@vlab-01:/# docker-database-init.sh
/usr/local/lib/python3.9/dist-packages/supervisor/options.py:473: UserWarning: Supervisord is running as root and it is searching for its configuration file in default locations (includin

[2022-08-02 09:26] ayurkiv-nvda commented on #11163
Just FYI this issue was also observed on 202205
The same steps - apply VNET configuration and "config reload" after that (exactly the same steps that is mentioned in this ticket)

[2022-08-02 16:50] saiarcot895 commented on #11167
No updates yet, still working on this.

[2022-08-02 21:00] adyeung commented on #11589
Community EVPN VxLAN is not tested/supported on TD2 and TH. Testing and validation was done on TD3.

[2022-08-03 02:19] liuh-80 commented on #11597
PR merged to master branch.

[2022-08-03 07:14] SudharshanSuresh commented on #11589
Thank you Adam for the confirmation.

[2022-08-03 07:15] #11589 closed

[2022-08-03 14:05] rajendra-dendukuri commented on #9629
I checked SONiC.master.129888-7f7800622 broadcom image and it appears that the kdump-tools package itself is not installed. So I am seeing other errors and not the ones mentioned here. I need to fix the build first before I can proceed to fix this error.

It is likely that during first boot, the grub.cfg doesn't have the crashkernel value set. As a result, when kdump tries to enable it we may be s

[2022-08-03 15:07] zhangyanzhao commented on #11597
@vaibhavhd please close this issue if the fix is verified. Thanks.

[2022-08-03 15:10] zhangyanzhao commented on #11579
@zhenggen-xu  can you please help to take a look to see if this is a bug or feature enhancement? Thanks.

[2022-08-03 15:13] zhangyanzhao commented on #11576
@qiluo-msft  can you please find someone in your team to take a look at this issue?

[2022-08-03 15:15] zhangyanzhao commented on #11527
Looks like this issue has been root caused. Any other help from community? Otherwise, can you please close? Thanks.

[2022-08-03 15:19] zhangyanzhao commented on #11526
No plan to support an older Debian.

[2022-08-03 15:21] zhangyanzhao commented on #11521
Is this issue fix?

[2022-08-03 15:22] Yuval-Mellanox commented on #11527
@zhangyanzhao Why was NVIDIA tag added?

[2022-08-03 15:23] zhangyanzhao commented on #11511
Looks like this issue is fixed, please confirm and close this issue. Thanks.

[2022-08-03 15:26] zhangyanzhao commented on #11511
@richardyu-ms are the sai and sairedis submodules updated? Can you please double check? Thanks.

[2022-08-03 15:27] zhangyanzhao commented on #11503
BRCM team will take a look. Thanks.

[2022-08-03 15:29] zhangyanzhao commented on #11484
Fix is provided.

[2022-08-03 15:30] zhangyanzhao commented on #11457
Is this issue handled by #2392? @saksarav-nokia

[2022-08-03 15:34] zhangyanzhao commented on #11437
https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-sflow/port_index_mapper.py#L48 need be improved to handle this situation.

[2022-08-03 15:35] zhangyanzhao commented on #11437
@jeff-yin

[2022-08-03 15:39] zhangyanzhao commented on #11292
Thanks @jusherma

[2022-08-03 15:48] zhangyanzhao commented on #9631
@kellyyeh can you please help to take a look at this issue?

[2022-08-03 15:49] zhangyanzhao commented on #11218
BRCM will take a look

[2022-08-03 15:50] zhangyanzhao commented on #11328
@qiluo-msft the issue still exists, please help to take a look. Thanks.

[2022-08-03 15:50] saksarav-nokia commented on #11457
@zhangyanzhao , yes. I have few more changes and i will update the PR  by end of this week

[2022-08-03 15:57] zhangyanzhao commented on #10629
The message can be ignored for now.

[2022-08-03 15:57] #10629 closed

[2022-08-03 15:57] dgsudharsan commented on #11527
@sahiltyagi4 @jhli-cisco There are some additional fixes that went in following the commit you mentioned. https://github.com/sonic-net/sonic-buildimage/pull/11572
Can you please check if this commit solves your issue?

[2022-08-03 16:01] zhangyanzhao commented on #9831
Can we fix the error message issue?  "sonic ERR teamd#tlm_teamd: :- get_dump: Can't get dump for LAG 'PortChannel1111'. Skipping"  @judyjoseph

[2022-08-03 16:02] zhangyanzhao commented on #8928
@sujinmkang can you please help to provide an update on this issue? Thanks.

[2022-08-03 16:03] zhangyanzhao commented on #8923
@sujinmkang can you please help to provide an update? Thanks.

[2022-08-03 16:04] #11597 closed

[2022-08-03 19:02] kellyyeh commented on #9631
Will give an update by end of this week

[2022-08-03 19:43] saksarav-nokia commented on #11457
Found few more issues with Everflow mirror

 1) show mirror-session doesn't show correct monitor port when the destination port is in remote asic
 2) When the Acl rule with action as mirror is deleted before mirror is activated by the acl_loader script, then mirror is activated by nexthop update, lot of error messages were seen and orchagent crashes.

[2022-08-03 22:59] qiluo-msft commented on #11576
@wen587 will work on a fix.

[2022-08-04 00:19] xumia commented on #11292
FYI.
@jusherma has fixed in master branch, see https://github.com/sonic-net/sonic-buildimage/pull/11417
The PR has been merged to 202205.
Waiting for release manager to merge to 202111&202106, if urgent we can send a separate PR to merge to the release branches.

[2022-08-04 06:36] #11472 closed

[2022-08-04 08:56] ds952811 commented on #11399
This is not a supported application for IEEE Clause 73, the AN/LT only works on copper and backplane medium, not the optics.
Please note LT always takes place after speed negotiation in AN, and LT is not designed for optics.
In the other words, please use either 1000BASE‑KX or 1000BASE‑CX instead 1000BASE‑SX.

[2022-08-04 09:06] aseaudi commented on #11399
Yes, I was able to get link up using 1000BASE-KX, but it's not compatible with our CPEs mainly CISCO.
I would like to run 1000BASE-X Clause 37 Auto-Negotiation on the AS5835-54X using Broadcom Trident 3 BCM56771_A0.
Any ideas how can I make it work ?

[2022-08-04 09:15] ds952811 commented on #11399
You could try adding 'phy_an_c73=0' or 'phy_an_c73=5' into your config.bcm, this may or may not work.
For further support, please reach to Broadcom SDK team via Accton (ODM). Thx

0 - CL73 disabled
5 - CL73 + CL37

[2022-08-04 13:54] xumia opened #11620 "Build vs image timeout"
#### Description

The vm has already started successfully, and prompt the "sonic login:" message, but the check_install.py is still waiting for it.

2022-08-04T09:23:42.8905416Z **Debian GNU/Linux 11 sonic ttyS0**
2022-08-04T09:23:42.8905787Z
2022-08-04T09:23:42.8906200Z [   23.154924] rc.local[348]: + [ -n  ]
2022-08-04T09:23:42.8906808Z **sonic** [   23.206462] rc.local[348]: + [ -n x86_64-kvm_x

[2022-08-04 14:34] stepanblyschak opened #11621 "[swss/syncd] race between orchagent removes RIF rate counters from DB and lua script fetching them"
#### Description

Errors in the log comming from RIF rate lua script due to orchagent removes RIF rates from COUNTERS DB.

#### Steps to reproduce the issue:
1. Create RIF in SONiC, wait till RIF rates are populated in COUNTERS DB
2. Remove RIF
3. Repeat until you see:

[code]

#### Describe the results you received:

Errors in the logs:

[code]

#### Describe the results you expected:

No errors

[2022-08-04 14:35] stepanblyschak commented on #11621
@sumanbrcm Could you please handle this issue?

PR: https://github.com/sonic-net/sonic-swss/pull/2199

[2022-08-04 15:34] dbarashinvd opened #11622 "[Generic Config Updater][IPv6] | Generic Config Updater is case sensitive when dealing with IPv6 addresses"
#### Description

Generic Config Updater is case sensitive when dealing with IPv6 addresses

#### Steps to reproduce the issue:

1. Config a ipv6 interface and bind ipv6 addresses to it via CLI:

admin@r-bulldog-02:~$ sudo config interface ip add Ethernet12 fc00::1/126   # the address is in lowercase

admin@r-bulldog-02:~$ sudo config interface ip add Ethernet12 FC00::11/126  # the address is in u

[2022-08-04 16:18] #11381 closed

[2022-08-04 18:16] anilkpan commented on #11503
In case of event SAI_FDB_EVENT_MOVE, we need to delete the existing entry before setting the new one, as the extra attributes present in a remote mac are not cleaned up. I will add a fix and upload the PR. ETA 8/30.

[2022-08-04 22:56] qiluo-msft commented on #11328
Could you check syslog messages? I guess it is duplicated issue of https://github.com/sonic-net/sonic-buildimage/issues/11576 and there are someone assigned there.

[2022-08-05 06:02] stephenxs commented on #11328
@qiluo-msft Yes. You are correct.

[2022-08-05 06:04] qiluo-msft commented on #11328
It is duplicated issue of https://github.com/sonic-net/sonic-buildimage/issues/11576. Close this one.

[2022-08-05 06:05] qiluo-msft commented on #11328
It is duplicated issue of https://github.com/sonic-net/sonic-buildimage/issues/11576. Close this one.

[2022-08-05 06:05] #11328 closed

[2022-08-05 07:42] linyutsung opened #11633 "The ONIE_PLATFORM_EXTRA_CMDLINE_LINUX not apply to grub.cfg after installation"
#### Description

After sonic image install in onie, the defined ONIE_PLATFORM_EXTRA_CMDLINE_LINUX didn't apply to grub.cfg

#### Steps to reproduce the issue:
1. Update ONIE_PLATFORM_EXTRA_CMDLINE_LINUX="module_blacklist=gpio_ich  nomodeset pcie_aspm=off" in installer.conf of target platform
2. Build sonic image for target platform
3. Install sonic image in onie
4. After boot up, check Command li

[2022-08-05 07:45] aslam-man commented on #11526
If We provide this fix , Will you accept our code.
Thanks

[2022-08-05 20:21] arlakshm commented on #11143
Fixed with this change https://github.com/sonic-net/sonic-buildimage/pull/11212

[2022-08-05 20:22] #11143 closed

[2022-08-06 10:07] Pterosaur opened #11645 "[lldp]: show lldp table has wrong output"
#### Description

I got the following output of show lldp table

[code]

The RemoteDevice and Capability cannot be shown correctly in the rows in Ethernet4 and Ethernet5.

#### Steps to reproduce the issue:

This is an occasional issue that cannot be reproduce with specified steps.

#### Describe the results you received:

[code]

#### Describe the results you expected:

[code]

#### Output of `sh

[2022-08-06 10:07] Pterosaur commented on #11645
I will investigate this issue.

[2022-08-07 15:02] madhukar-kamarapu commented on #11464
The reported failure log seems to be a timing issue.

1. From the CONFIG_DB.json, I see that the MAC address of the device is "1c:34:da:a1:96:80"
[code]
When the issue is seen, I see a different MAC address for the PortChannel1111 - "c6:d2:15:f4:6c:93"
[code]
Can you please check where this MAC address belongs to.

2. It is better to capture the logs with teamsyncd loglevel set to INFO. teamsyncd

[2022-08-08 02:22] sahiltyagi4 commented on #11527
@vivekrnv
[sonic-barefoot.bin.log](https://github.com/sonic-net/sonic-buildimage/files/9278159/sonic-barefoot.bin.log)

[2022-08-08 03:28] StormLiangMS commented on #10545
Start to work on this, and ETA would be end of Aug'2022

[2022-08-08 03:55] dellwuchuan commented on #11437
Another error log in the same test and same module:
ERR sflow#port_index_mapper: <built-in function Select_select> returned a result with an error set

[2022-08-08 18:07] sjhwilkes commented on #9855
Is anyone using MCLAG in production out there?  When I build successfully with IPCC I seem to hit issues with production levels of traffic on MCLAGs.  Currently running with 2nd ToR in cold standby as LAGs to a single chassis are rock solid as expected.  (this on on Broadcom based platform)

[2022-08-08 19:29] zhenggen-xu commented on #11579
Just to confirm, Is this just temporary error messages issue and there was no functional impact on the daemon and breakout feature?

[2022-08-08 21:51] #10920 closed

[2022-08-09 01:38] #11576 closed

[2022-08-09 01:45] SuvarnaMeenakshi opened #11653 "bgp service starts in default namespace on multi-asic platform"
#### Description

#### Steps to reproduce the issue:
1. boot up multi-asic vs image (sonic-4asic-vs.img.gz
./testbed-cli.sh -t vtestbed.yaml -m veos_vtb -k ceos add-topo vms-kvm-four-asic-t1-lag password.txt
2. load minigraph
./testbed-cli.sh -t vtestbed.yaml -m veos_vtb deploy-mg vms-kvm-four-asic-t1-lag veos_vtb password.txt

#### Describe the results you received:
Before load_minigraph or deplo

[2022-08-09 01:46] SuvarnaMeenakshi commented on #11653
@wenyiz2021

[2022-08-09 01:47] SuvarnaMeenakshi commented on #11653
caused due to https://github.com/sonic-net/sonic-buildimage/pull/11000

[2022-08-09 02:22] bingwang-ms opened #11654 "[mux] Duplicate binding of port to MUX_ACL_TABLE"
#### Description

We are seeing below errors on dualtor platform when `MuxCable` was being toggled to `Standby`
[code]
The error is because the initial state of `MuxCable` is set to `Standby` in construction function.

https://github.com/sonic-net/sonic-swss/blob/d36c17d62c17b7ae2617868989891bc7bb8c72f8/orchagent/muxorch.cpp#L368

[code]
However, the cached state `state_` in `MuxCable` is still `M

[2022-08-09 16:32] vaibhavhd commented on #11416
Issue is seen again. Last time this was suspected to be due to manual intervention during the test that caused cold reboot instead of warm.

Second occurrence makes this more worthy of investigation.

[2022-08-09 17:01] vaibhavhd opened #11664 "[202012][warmboot] Syncd failed to get hardware lane list port RID cause OA crash"
#### Description

Syncd fails in INIT_VIEW and sends switch_shutdown_request notification to OA. The failure that seems to trigger this is below.

This seems to be a regression image `20201231.72` onwards. Seen only on 6100.

[code]

#### Steps to reproduce the issue:
1. Run test_warm_reboot on 6100 installed with 202012 latest image
2. The test will fail with orchagent core and crash reported
3.

[2022-08-09 17:04] sahiltyagi4 commented on #11527
@vivekrnv I just tried with the patch in #11572 and it worked! Earlier I was using an image built prior to the addition of this update. We can close this now. Thanks!

[2022-08-09 17:04] #11527 closed

[2022-08-09 17:42] wenyiz2021 opened #11665 "[master] dhcp_relay did not turn down after load_minigraph"
#### Description

on master branch, dhcp_relay logic in init_cfg.json:
"dhcp_relay": {
            "state": "{% if not (DEVICE_METADATA is defined and DEVICE_METADATA[[
'localhost'] is defined and DEVICE_METADATA['localhost']['type'] is defined and
DEVICE_METADATA['localhost']['type'] is not in ['ToRRouter', 'EPMS', 'MgmtTsToR''
, 'MgmtToRRouter']) %}enabled{% else %}disabled{% endif %}

Before lo

[2022-08-09 18:02] vaibhavhd commented on #11664
[syslog (64).log.log](https://github.com/sonic-net/sonic-buildimage/files/9293524/syslog.64.log.log)

[2022-08-09 18:07] vaibhavhd commented on #11664
sairedis:

[code]

[2022-08-09 18:38] Ndancejic opened #11667 "[swss] swss MULTI_INST_DEPENDENT list (teamd) restarting swss during crash"
#### Description

swss MULTI_INST_DEPENDENT list is set to take down both swss and the dependent when the dependent is restarted. teamd is on this dependent list, and is causing swss to restart. we don't expect swss to restart if teamd is restarted.

#### Steps to reproduce the issue:
1. restart teamd
2. docker ps -a shows swss also came down

#### Describe the results you received:

swss is being

[2022-08-10 01:45] xumia commented on #11620
show version timeout:
https://dev.azure.com/mssonic/build/_build/results?buildId=132681&view=logs&j=cef3d8a9-152e-5193-620b-567dc18af272&t=359769c4-8b5e-5976-a793-85da132e0a6f&s=6884a131-87da-5381-61f3-d7acc3b91d76
[code]

[2022-08-10 01:58] xumia commented on #11620
https://dev.azure.com/mssonic/build/_build/results?buildId=132869&view=logs&j=cef3d8a9-152e-5193-620b-567dc18af272&t=359769c4-8b5e-5976-a793-85da132e0a6f

Unable to connect to redis: Cannot assign requested address

[?2004hadmin@sonic:~$ show version
show version
[?2004l
Traceback (most recent call last):
  File "/usr/local/bin/show", line 5, in <module>
    from show.main import cli
  File "/us

[2022-08-10 09:28] abhiranjeet opened #11678 "Support preemphasis on Edgecore AS7726-32X"
#### Description
I am building SONiC 202205 image. I see that media_settings.json file is missing for AS7726-32X platform, but this has been supported for other platforms as mentioned in this PR - https://github.com/sonic-net/sonic-buildimage/pull/10586.

#### Describe the results you expected:
Is the media_settings.json available for AS7726-32X ?

[2022-08-10 16:55] hehuang-nokia opened #11682 "[console] failed to connect to USB console port"
#### Description
1. USB console connection failed due to permission errors
2. one other minor issue was found during code inspection of exception handling in the consutil module
3. the proposed solution is add a second attempt in case of compatibility error and the pytest of console_test.py::test_console_port_info_connect_connection_fail needs to be updated accordingly
4. directly use picocom or a

[2022-08-10 22:06] prsunny commented on #11654
Fix PR merged

[2022-08-10 22:06] #11654 closed

[2022-08-11 00:43] Ndancejic commented on #11653
updated #11000 with a fix, please confirm that this works for multi-asic systems

[2022-08-11 00:48] Ndancejic commented on #11653
https://github.com/sonic-net/sonic-buildimage/pull/11691

[2022-08-11 01:58] guangjung opened #11692 "[mgmt-framework]How to add extended yang function for Openconfig Yang"
#### Description
I tried to add extended yang for an Openconfig Yang, but found that leaf in extended yang cannot be operated (set/get operations by executing REST command）. Can you make an example ? Or help me, thanks.

#### Steps to reproduce the issue:
refer to https://github.com/sonic-net/sonic-mgmt-common/issues/60

#### Describe the results you received:

#### Describe the results you expect

[2022-08-11 06:19] #11622 closed

[2022-08-11 11:43] copyandrun opened #11702 "normal user cannot run show ntp command"
#### Description

#### Steps to reproduce the issue:
1.config ntp and config mgmt
2.add a normal local user like this
test2:x:1003:1004::/home/test2:/bin/bash
3.login with test2 and run show ntp

#### Describe the results you received:
test2@sonic:/$ show ntp
[sudo] password for test2:
Sorry, user test2 is not allowed to execute '/usr/bin/ip vrf exec mgmt ntpq -p -n' as root on sonic.

#### Descri

[2022-08-11 15:19] mlok-nokia commented on #11473
Fixed

[2022-08-11 15:19] #11473 closed

[2022-08-11 19:41] Ndancejic commented on #11667
duplicate

[2022-08-11 19:41] #11667 closed

[2022-08-11 19:44] Ndancejic opened #11706 "docker-sonic-vs.gz on master branch is on buster"
#### Description

docker-sonic-vs.gz is buster on the master branch build

#### Steps to reproduce the issue:

Build sonic-buildimage from master branch

#### Describe the results you received:

cannot test swss changes with pytest because swss master is on bullseye and docker-sonic-vs.gz provides a buster image.

#### Describe the results you expected:

docker-sonic-vs.gz should be on bullseye\

[2022-08-11 20:42] anamehra opened #11707 "xcvrd crash observed during boot"
#### Description
During boot on Line cards, xcvrd crash is observed which cause the port optics init failure:

Aug 11 17:09:52.008708 sfd-vt2-lc0 INFO pmon#supervisord 2022-08-11 17:09:52,007 INFO success: xcvrd entered RUNNING state, process has stayed up for > than 10 seconds (startsecs)
Aug 11 17:09:56.747253 sfd-vt2-lc0 INFO pmon#supervisord: xcvrd ERROR: execvpe(/usr/sbin/smartctl) failed
Aug

[2022-08-11 20:45] anamehra commented on #11707
@abdosi , @prsunny , FYI-

I used the following fix in xcvrd, line 1226, to resolve the issue:

1226c1226
<             admin_status = dict(port_info)['admin_status']
---

[2022-08-12 01:21] dellwuchuan opened #11711 "[SFLOW] [error log] ERR sflow#port_index_mapper: <built-in function Select_select> returned a result with an error set"
#### Description
When I enable SFLOW configuration as background configuration which is existing with other configurations, such as VLAN and port.
sudo config reload -y, could trigger sflow error log - ERR sflow#port_index_mapper: <built-in function Select_select> returned a result with an error set
One of my colleagues had some investigation on this issue, I hope it could provide some advantage.

[2022-08-12 14:53] ayurkiv-nvda opened #11720 "[vnet] missed routes in ASIC DB"
#### Description

After applying specific `vnet.route.json`  file which includes "nexthop" config becomes broken

(loglevel INFO)
[code]
 There is route entry in APP DB but **NO** appropriate entry in ASIC DB

[code]

#### Steps to reproduce the issue:
Create `vnet.switch.json` file and move it into `swss `docker
[code]
Run **docker exec swss swssconfig vnet.switch.json**

2) Create  `vnet.conf.js

[2022-08-12 16:59] #5014 closed

[2022-08-12 17:01] sumukhatv commented on #10548
@zhangyanzhao I am not working on this task

[2022-08-12 17:02] #6446 closed

[2022-08-12 21:20] wenyiz2021 commented on #11665
on a good run:
admin@vlab-08:~$ docker ps | grep dhcp
407a13235ec1   a430358c38a9                      "/usr/bin/docker_ini…"   About a minute ago   Up About a minute             dhcp_relay
admin@vlab-08:~$ sudo systemctl status dhcp_relay
Warning: The unit file, source configuration file or drop-ins of dhcp_relay.service changed on disk. Run 'systemctl daemon-reload' >
● dhcp_relay.service
     L

[2022-08-15 10:23] lolyu opened #11737 "[202205][dualtor][active-active] orchagent failed to set route nexthop to `tun0` after shutdown port"
#### Description
As the titile, after shutdown a port in `active-active` cable type, orchagent failed to set the route nexthop to `tun0`.

#### Steps to reproduce the issue:
1. shut port `Ethernet40` op to `down`:
[code]
2. verify the mux is `standby`
[code]
3. show the route to server IP `192.168.0.20`
[code]

Here are syslog snippets:
[code]
Compared with ports in `active-standby`, the second sy

[2022-08-15 10:24] lolyu commented on #11737
Hi @prsunny, could you please take a look into this issue?

[2022-08-15 15:08] zhangyanzhao commented on #11711
@venkatmahalingam  can you please help to find someone in Dell to take a look? Thanks.

[2022-08-16 00:19] prsunny commented on #11737
@lolyu , is this happening for all neighbors? Also, is tunnel/mux_cable created during initialization or you manually added those?

[2022-08-16 01:21] lolyu commented on #11737
the neighbors are advertised by `garp_service`, it should be happening for all neighbors, let me check further.

[2022-08-16 11:51] copyandrun commented on #11702
i have found how to solve it.
This command also requires to be ran as root or with the
              CAP_SYS_ADMIN, CAP_NET_ADMIN and CAP_DAC_OVERRIDE
              capabilities.
https://man7.org/linux/man-pages/man8/ip-vrf.8.html

[2022-08-16 11:51] #11702 closed

[2022-08-16 15:59] sumanbrcm commented on #11621
@stepanblyschak Sure, I will check and work on the fix accordingly . As per the previous discussion in PR (https://github.com/sonic-net/sonic-swss/pull/2199) , the proposal was to move cleanup code to syncd . As per your suggestion >>the cleanup of COUNTERS RIF tables should be done in syncd while cleanup of the mapping should still be done in orchagent <<
Once we have converged on the use case wi

[2022-08-17 03:32] lolyu commented on #11737
Hi @prsunny, I've found that, for those ports that have this issue, after shutdown the port, the neighbor entry state changes to `FAILED` in a short period of time(3~10s) or so.
For example:
* shutdown port `Ethernet12`:
[code]
* verify the kernel neighbor entry learned from `Ethernet12`:
[code]

[2022-08-17 03:53] hustleige2003 commented on #9714
By setting larger NETLINK_RCVBUF,  we reduced the chance of this issue. But I think it also needs a complete solution.
When the issue happens with debug information added in advance, I find it returns NLE_NOMEM while waiting for the result of setting option as following teamd.log.
Aug 16 18:06:03 sonic teamd_pc1[37869]: Using team runner "lacp".
Aug 16 18:06:03 sonic teamd_pc1[37869]: send_and_rec

[2022-08-17 07:07] lolyu commented on #11737
I think I've found the root cause for this, the neighbors for the mux servers are not validated by the kernel into state `REACHABLE`:
[code]
For those neighbors of mux servers that are `STALE`, if we shutdown the port, the route to the neighbor will be changed to `tun0`, but

[2022-08-17 15:14] yxieca commented on #11706
@saiarcot895 can you assess the change with @Ndancejic , my concerns are:

- Do we have test depends on buster vs image that will fail after the move?
- The effort of moving to bullseye. Do we need help from the community?

[2022-08-17 15:17] yxieca commented on #11692
@kannankvs can you/Dell help provide example?

[2022-08-17 15:17] yxieca commented on #11682
@Blueve  can you assess this issue?

[2022-08-17 15:18] zhangyanzhao commented on #11692
review in YANG subgroup

[2022-08-17 15:19] yxieca commented on #11678
@prgeor  can you give some instructions to @abhiranjeet regarding how to create the media_settings.json? do we have public document?

[2022-08-17 15:25] sanmalho-git commented on #10734
@rlhui  @judyjoseph  - We are not seeing this issue in our pipeline runs for the last 3 months. Can we close this issue for now.

[2022-08-17 15:28] yxieca commented on #11645
@Pterosaur , please reach out to @ZhaohuiS if you need help.

[2022-08-17 15:31] yxieca commented on #11621
@sumanbrcm is actively working on this issue.

[2022-08-17 15:34] yxieca commented on #8478
@vaibhavhd is this issue still valid? Can we close and work on any outstanding bug with new issues?

[2022-08-17 15:40] yxieca commented on #11464
@congh-nvidia please provide information requested.

[2022-08-17 15:43] yxieca commented on #11424
@jaganbal-a please feel free to raise submodule advance PR satisfies the dependency requirements.

[2022-08-17 15:48] yxieca commented on #11418
Questions: is 10G breakout support on this platform? If it is not supported. Then there is chance the 10G port might have some display issue.

[2022-08-17 15:51] yxieca commented on #11418
Broadcom, please help assess this issue.

[2022-08-17 15:58] yxieca commented on #11484
@abdosi please review.

[2022-08-17 17:08] SuvarnaMeenakshi commented on #10870
https://github.com/Azure/sonic-swss-common/pull/655
checked with the sonic-buildimage multi-asic VS image with your latest swss-common PR, I see that the fd count is not going above this range; the issue that we were seeing in SNMP is fixed with the fix

root@vlab-08:/# ls -l /proc/24/fd | wc -l
650
root@vlab-08:/# ls -l /proc/24/fd | wc -l
650
root@vlab-08:/# ls -l /proc/24/fd | wc -l
626
root@vl

[2022-08-17 17:08] #10870 closed

[2022-08-17 17:08] abdosi commented on #11551
Help needed from community

[2022-08-17 17:09] abdosi commented on #11551
Help needed from community.

[2022-08-17 17:11] abdosi commented on #11551
@anamehra : Please check with Shivu.

[2022-08-17 17:13] abdosi commented on #11457
should be fix by: https://github.com/sonic-net/sonic-swss/pull/2392

[2022-08-17 17:13] abdosi commented on #11165
working on this.

[2022-08-17 17:15] abdosi commented on #10999
Need to white-list Midplane-IP in iptable rules.

[2022-08-17 17:16] SuvarnaMeenakshi commented on #10170
PR raised to fix https://github.com/sonic-net/sonic-buildimage/pull/11442

[2022-08-17 17:20] abdosi commented on #10897
@wenyiz2021 will create further and create PR for this if needed.

[2022-08-17 17:26] abdosi commented on #10832
https://github.com/sonic-net/sonic-buildimage/pull/11754

[2022-08-17 17:28] abdosi commented on #10734
Based on above comment as the issue not seen recently (especially in 202205 branch) we can close this.

[2022-08-17 17:28] #10734 closed

[2022-08-17 17:36] abdosi commented on #11457
There is another PR on everflow: https://github.com/sonic-net/sonic-swss/pull/2024

[2022-08-17 17:39] abdosi commented on #10246
@saksarav-nokia : Please help in updating test to new infra.

[2022-08-17 17:41] abdosi commented on #10094
@arlakshm please close after linking the appropriate PR's.

[2022-08-17 17:45] abdosi commented on #9033
@mlorrillere can you confirm if your PR: https://github.com/sonic-net/sonic-swss/pull/1944 will fix this

[2022-08-17 17:48] abdosi commented on #9033
Sandeep from Nokia please add test pr link here that ignores this error.

[2022-08-17 17:52] abdosi commented on #6295
Issue is fixed.

[2022-08-17 17:52] #6295 closed

[2022-08-17 17:52] abdosi commented on #6171
Already fixed.

[2022-08-17 17:52] #6171 closed

[2022-08-17 17:54] abdosi commented on #6135
SONiC command has assumption to interact with DB so if we add Neighbor via FRR directly command is not design to display that. So closing this.

[2022-08-17 17:54] #6135 closed

[2022-08-17 17:54] sanmalho-git commented on #9033
Test PR to ignore these messages at in reload/reboot scenarios of supervisor is https://github.com/sonic-net/sonic-mgmt/pull/6056

[2022-08-17 17:54] abdosi commented on #6098
Closing based on above comment.

[2022-08-17 17:54] #6098 closed

[2022-08-17 18:27] prgeor commented on #11678
@abhiranjeet please refer to this document [https://github.com/sonic-net/SONiC/blob/master/doc/media-settings/Media-based-Port-settings.md](https://github.com/sonic-net/SONiC/blob/master/doc/media-settings/Media-based-Port-settings.md)

[2022-08-17 18:27] #11678 closed

[2022-08-17 18:59] wenyiz2021 commented on #10643
Issue no longer seen

[2022-08-17 18:59] #10643 closed

[2022-08-17 19:06] wenyiz2021 commented on #10897
issue seen since Jan/2022:
13/01/2022 04:30:57 __init__._fixture_generator_decorator    L0078 ERROR  |
ValueError('No JSON object could be decoded',)
Traceback (most recent call last):
  File "/azp/agent/_work/1/s/tests/common/plugins/log_section_start/__init__.py", line 74, in _fixture_generator_decorator
    res = next(it)
  File "/azp/agent/_work/1/s/tests/bgp/test_bgpmon.py", line 54, in commo

[2022-08-17 20:29] #10549 closed

[2022-08-17 20:29] #10550 closed

[2022-08-17 22:33] adyeung commented on #11418
10G  breakout is supported on BRCM Tomahawk, otherwise the breakout would fail. Suspect flex counter is not delete/reattach after breakout, pls share techsupport.

[2022-08-17 23:38] arlakshm commented on #10250
Fix the `show interface counters` not to display the Inband ports in this PR https://github.com/sonic-net/sonic-buildimage/pull/11764

[2022-08-18 01:23] lolyu commented on #11737
Discussed with @prsunny, this issue should be fixed by PR: https://github.com/sonic-net/sonic-swss/pull/2151, let's cherry-pick those testcases into 202205/master branch.

[2022-08-18 03:57] ashwin-h opened #11769 "sonic-net/sonic-buildimage: Build fails with only BULLSEYE enabled"
#### Description

#### Steps to reproduce the issue:
git clone https://github.com/sonic-net/sonic-buildimage
make init
make configure PLATFORM=broadcom
NOJESSIE=1 NOSTRETCH=1 NOBUSTER=1 NOBULLSEYE=0 make target/sonic-broadcom.bin

#### Describe the results you received:
Build error log below
Make: *** No rule to make target 'target/docker-fpm-frr.gz', needed by 'target/sonic-broadcom.bin'.  Stop.

[2022-08-18 04:34] aravindmani-1 commented on #10638
verified that this issue is fixed in latest master image. Hence, closing it.

[2022-08-18 04:34] #10638 closed

[2022-08-18 06:17] bgmastermind commented on #11769
same here

[2022-08-18 10:10] ZhaohuiS commented on #11645
@Pterosaur `show lldp table`  is same with the command `lldpshow`. It parses of output of command `docker exec -i lldp lldpctl -x xml`.
Actually, `lldpctl` is a cli in ubuntu, please refer [this](https://manpages.ubuntu.com/manpages/bionic/man8/lldpcli.8.html).

If there is some content missing from the output, it means lldpctl has some problem in lldp container. Is this issue permanent after load

[2022-08-18 14:47] tcusto opened #11776 "ACL with IN_PORT rule on multiasic does not load when ports are across asics."
#### Description

Loading an ACL with IN_PORT rule on multiasic card when ports are selected across linecards is failing.

#### Steps to reproduce the issue:
1. Try to load this everflow ACL below.  Port 0 is on asic0, other ports are on asic1.  Any port mix across asics will do.
2. acl-loader update full /tmp/everflow/acl-erspan.json --table_name EVERFLOWV6 --session_name everflow_session_pe

[co

[2022-08-18 19:01] salvadorb commented on #11418
Hi,
I just generated the support file but it weights 628MB, would that be possible?
<img width="715" alt="image" src="https://user-images.githubusercontent.com/23199382/185473580-a2662982-9f00-4564-a10f-9bd714efb044.png">

[2022-08-18 20:41] wenyiz2021 commented on #10897
on multi-asic:

-> output = proc.communicate()[0].decode("utf-8")
(Pdb)

-> return output
(Pdb) output
u'% Network not in table\n'
(Pdb) proc
<subprocess.Popen object at 0x7fb9a7881390>
(Pdb)  proc.communicate()
*** ValueError: I/O operation on closed file
(Pdb) proc.communicate()[0]
*** ValueError: I/O operation on closed file

[2022-08-19 01:20] anamehra commented on #11769
This looks different from the original issue reported.
This is because rules/snmpd.mk uses hardcoded version 5.9+dfsg-3+b1 but a new version is available to download 5.9+dfsg-4+deb11u1, looks like released two days ago

[2022-08-19 01:20] anamehra commented on #11769
This looks different from the original issue reported.
This is because rules/snmpd.mk uses hardcoded version 5.9+dfsg-3+b1 but a new version is available to download 5.9+dfsg-4+deb11u1, looks like released two days ago

[2022-08-19 03:21] salvadorb commented on #11418
Hi @adyeung
Here is the techsupport file https://drive.google.com/file/d/1swp90Qvt37LQdHbBosdtiqP5Owc6iOjn/view?usp=sharing

[2022-08-19 06:17] jostar-yang opened #11785 "[PDDF] API get_lpmode and set_lpmode don't work on QSFP port"
#### Description
API get_lpmode and set_lpmode don't work on QSFP port on pddf. PDDF base code call sfp_refactor to provide set_lpmode and get_lpmode. From fail information, it seems sonic_xcvr sfp_refactor doesn't suport lpmode function on QSFP port.

#### Steps to reproduce the issue:
1.  Run python3 and import sonic_platform
2.  Insert to port55.
Make sure  "platform_chassis.get_sfp(55).get_pre

[2022-08-19 06:44] FuzailBrcm commented on #11785
I will look into it. Please assign it to me.

[2022-08-19 09:22] FuzailBrcm commented on #11785
Fix is in this PR.
https://github.com/sonic-net/sonic-buildimage/pull/11786

[2022-08-19 17:15] anamehra commented on #11769
@abdosi FYI-

[2022-08-19 18:25] adyeung commented on #11769
#11777

[2022-08-19 19:42] vishnushetty commented on #11418
There is no specific error reported, but counters are not installed. No entries in COUNTER_DB. Can you enable orchagent debug log "swssloglevel -l DEBUG -c orchagent" and do breakout. Also get the dump of FLEX_COUNTER_DB.

[2022-08-19 21:31] abdosi commented on #10832
Linked Merged PR should fix this.  cc @rlhui

[2022-08-19 21:31] #10832 closed

[2022-08-19 21:33] abdosi commented on #11165
PR's should fix this:
https://github.com/sonic-net/sonic-buildimage/pull/11796
https://github.com/sonic-net/sonic-buildimage/pull/11795
https://github.com/sonic-net/sonic-host-services/pull/14

[2022-08-19 21:33] abdosi commented on #11165
cc @rlhui

[2022-08-19 23:22] bratashX opened #11798 "Try to get stats from removed counter"
#### Description

Sometimes `drop_packets/test_configurable_drop_counters.py::test_neighbor_link_down` TC fail due to **_Log Analizer_**.
**_Error logs:_**

Return code 7 -> **_SAI_STATUS_ITEM_NOT_FOUND_**
Looks like SONiC tries to get stats from the removed object.

#### Steps to reproduce the issue:
**Reproduce~10%**
1. Deploy T0 topology
2. Run `drop_packets/test_configurable_drop_counters.py::

[2022-08-19 23:31] bratashX commented on #11798
@kcudnik Could you please review it, maybe your comment relates to this issue:
https://github.com/sonic-net/sonic-sairedis/blob/9652ea49b22e5f14421e957e3c8e52a35729478b/syncd/Syncd.cpp#L2061?

[2022-08-20 01:03] wenyiz2021 commented on #11665
Update of my finding:

bad one:

before load_mg: hostcfgd ask systemd to start dhcp -- started
after load_mg:
	someone(not hostcfgd) asked systemd to stop dhcp -- stopped
	someone asked systemd to start dhcp -- not finished
	hostcfgd stopping dhcp -- left in a bad state

good one:

before load_mg: hostcfgd ask systemd to start dhcp -- started
after load_mg:
	someone(not hostcfgd) asked systemd to

[2022-08-22 02:10] saiarcot895 commented on #11769
[code]

This is not a supported build command. As of today, both Buster and Bullseye are needed to build a SONiC image.

Is there a reason you are explicitly setting the `NO*` variables?

[2022-08-22 02:36] Junchao-Mellanox opened #11803 "[static route] 'STATIC_ROUTE|1.1.1.0/24' and 'STATIC_ROUTE|default|1.1.1.0/24' should not exist at the same time in CONFIG DB"
#### Description

`config route add prefix vrf default 1.1.1.0/24 ...` adds entry `STATIC_ROUTE|default|1.1.1.0/24` to CONFIG DB; `config route add prefix 1.1.1.0/24 ...` adds entry `STATIC_ROUTE|1.1.1.0/24` to CONFIG DB.

For bgpcfgd,  `STATIC_ROUTE|default|1.1.1.0/24` and `STATIC_ROUTE|1.1.1.0/24` are the same route entry. See https://github.com/sonic-net/sonic-buildimage/blob/2d4ab9e9792c41dd40

[2022-08-22 04:26] ashwin-h commented on #11769
@saiarcot895 To reduce the buildtime/space i thought we can build only one version of the debian distribution and build the image. Do we reuse the pkgs across debian distributions during build ? We should be able to build one version of the debian and create the image.

[2022-08-22 04:47] bgmastermind commented on #11769
Well the first time I tried it was the default makefile strech, buster, bulsseye. Which failed.
Then I thought exactly the same as ashwin, to save time I tried only bullseye which again failed.
Then decided that I can try the others, but always isolated. Just buster, just stretch. Build again failed.
Please update the build readme with that very important information.

[2022-08-22 06:09] congh-nvidia commented on #11464
I've checked that the test case doesn't configure any mac address. @dgsudharsan do you have any clue where is this address c6:d2:15:f4:6c:93 come from?

[2022-08-22 13:33] florath opened #11811 "Build fails with "FAILED tests/ctrmgr_iptables_test.py::TestIPTableUpdate::test_table - assert""
#### Description
Current master ( 2d4ab9e9792c41dd403f4345454bd83db3dfdf36 )  fails with
"FAILED tests/ctrmgr_iptables_test.py::TestIPTableUpdate::test_table - assert"

This test fails:

target/python-wheels/bullseye/sonic_ctrmgrd-1.0.0-py3-none-any.whl.log

[code]

#### Steps to reproduce the issue:
1. make init
2. make configure PLATFORM=broadcom
3. make SONIC_BUILD_JOBS=4 target/sonic-broadcom.

[2022-08-22 17:08] #10170 closed

[2022-08-22 19:58] saiarcot895 commented on #11769
Some containers are currently defined to be on Buster, whereas others are defined to be on Bullseye. For certain platforms, those platforms may have containers that are based on Stretch, and so Stretch will be required as well.

Additionally, it is not that a version of Debian is being built; SONiC builds SONiC-specific/modified packages for a particular Debian distribution, which then get used in

[2022-08-22 19:58] prgeor opened #11840 "Duplicate events on STATE_DB's port table while configuring the port"
Steps:-

1. config interface startup Ethernet0
2. grep the log where you can see Xcvrd is getting duplicate events from the STATE_DB's PORT_TABLE. syslog confirms message repeated 2 times.
3. Also why the index = -1?

root@sonic:~# tail -f /var/log/syslog | grep xcvrd
Aug 22 19:54:09.464954 sonic NOTICE pmon#xcvrd[43961]: $$$ handle_port_update_event() : op=SET port_tbl <swsscommon.swsscommon.Subs

[2022-08-22 20:21] bgmastermind commented on #11769
Thank you I get it now. Also with latest fixes it builds successfully.

[2022-08-23 04:33] nand0104 opened #11816 "Configuring sub-interfaces via swagger throws error"
When I try to configure sub-interface from swagger i.e. use rest API it throws error:

"Must condition not satisfied, please follow vlan sub interface naming convention"

[2022-08-23 05:20] ashwin-h commented on #11769
Thanks @saiarcot895 for the clarification. I observed that for `make target/sonic-broadcom.bin` works fine with buster and bullseye. In that case we don't need strech/jessie. But what i see is make calls for stretch(by default) as well. Is this configurable per platform so that we can avoid building unnecessary version required for the target ?

[2022-08-23 14:26] lolyu commented on #11737
Close this as PR https://github.com/sonic-net/sonic-swss/pull/2151 got merged.

[2022-08-23 14:27] lolyu commented on #11737
Will try to verify on the latest image for the change.

[2022-08-23 16:00] Praveen-Brcm commented on #9984
ICCPD service auto re-restart on failure support is not functioning, Am working on a possible fix to auto re-start ICCPD docker services. Will update once we have the fix . - Praveen

[2022-08-23 16:26] nazariig opened #11823 "[202205][warm-boot][coppmgrd]: Orchagent crashed after policer configuration"
#### Description

The issue is caused by policer configuration with create only attribute
https://github.com/opencomputeproject/SAI/blob/master/inc/saipolicer.h#L103
[code]
which caused orchagent crash
[code]

From the logs we can see that policer double configuration takes place. Second time it fails because update operation is performed with keys which are supposed to be used for create only.

*

[2022-08-23 16:52] nazariig opened #11824 "[202205][warm-boot]: DB migration doesn't work"
#### Description

The issue is caused by DB migrator:
[code]

Configuration reload is also broken:
[code]

#### Steps to reproduce the issue:
1. Install `202111` image
2. Make sure `config_db.json` doesn't have version defined
3. Reload configuration
4. Install `202205` image
5. Run `warm-reboot`

#### Describe the results you received:
Configuration migration is failed after `warm-reboot`

#### D

[2022-08-23 18:57] tcusto opened #11826 "orchagent exits when using everflow policer on unsupported platform"
#### Description

Orchagent errors out when configuring a everflow mirror session with a policer on the DNX platform.  The policer is not supported on the ASIC and when the error is returned from sai, the session creation failure causes orchagent to exit.

Sample logs:

 ERR syncd0#syncd: [06:00.0] SAI_API_MIRROR:_brcm_sai_dnx_create_mirror_session:2825 Platform does not support SAI_MIRROR_SESSION

[2022-08-23 19:01] prgeor commented on #11707
Instead of fixing this crash in Xcvrd we should see why 'admin_status' field is missing in PORT table of CONFIG_DB. Xcvrd start running code only after Portconfigdone [https://github.com/sonic-net/sonic-platform-daemons/blob/master/sonic-xcvrd/xcvrd/xcvrd.py#L1295](https://github.com/sonic-net/sonic-platform-daemons/blob/master/sonic-xcvrd/xcvrd/xcvrd.py#L1295)

[2022-08-23 19:29] anamehra commented on #11707
Hi Prince, what I observed from my debugging is that at the point of the crash, the data being used is from config db.
I observed that the Ethernet ports, which are not configured for far-end connectivity, the admin_state field is missing in the config. And that is what caused the crash. I think, if the field is missing, the admin_status is considered as "down" by default.

for example, the Ethern

[2022-08-23 20:46] #11511 closed

[2022-08-24 01:03] dgsudharsan opened #11830 "IPv4 routes with link local next hops are not installed in the hardware"
#### Description
IPv4 route with link local nexthop is not installed in the hardware. Previously a similar issue was raised https://github.com/sonic-net/sonic-buildimage/issues/8606 which was fixed by supporting IPv4 link local nexthops https://github.com/sonic-net/sonic-swss/pull/1903

However a recent change was introduced to ignore IPv4 link local next hops for dual ToR scenario. https://github

[2022-08-24 01:07] prsunny commented on #11830
@Ndancejic , can you please provide a fix for this. Please check if the subtype is 'dualtor' and ignore the LL neighbor entry.

[2022-08-24 18:14] prsunny commented on #11803
I think the 2nd command should also append 'default' as key to the STATIC_ROUTE table. What do you think?

[2022-08-24 19:45] Ndancejic commented on #11830
https://github.com/sonic-net/sonic-swss/pull/2427 <- PR to fix, please review. Thanks!

[2022-08-24 21:09] tcusto opened #11841 "everflow monitor port does not update when it is over porchannel and the port goes down."
#### Description

If an everflow monitor session is configured, and the destination address of the everflow session is over a portchannel, the software picks one of the portchannel links to be the monitor port.  If that interface goes down, but the portchannel remains up, it does not switch to another port in the portchannel.

#### Steps to reproduce the issue:
1.  Setup everflow session with moni

[2022-08-24 21:16] saiarcot895 commented on #11769
No, it's not configurable per platform. However, in terms of additional space/time used, it should only be the Stretch slave container that gets uilt

[2022-08-24 21:18] wenyiz2021 commented on #10897
closing as it is not an image issue, more a testcase issue that doesn't support multi-asic

admin@str2-7050cx3-acs-02:~$ show ip route '11.0.0.1/24'
% Network not in table

[2022-08-24 21:18] #10897 closed

[2022-08-25 01:14] Junchao-Mellanox commented on #11803
That's true. But we should not allow user configuring same route entry to different redis DB entry.
[code]

[2022-08-25 01:34] Junchao-Mellanox commented on #11840
I suppose this is not something new. Linksync applying configuration to STATE_DB when receiving port up event: https://github.com/sonic-net/sonic-swss/blob/4aaeec91fcd635a33902965c529e779a1accd9d9/portsyncd/linksync.cpp#L243

[code]

[2022-08-25 01:53] prsunny commented on #11840
Why is it applied multiple times? @prgeor , do you see the logs as below:

`SWSS_LOG_NOTICE("Publish %s(ok:%s) to state db", key.c_str(), oper ? "up" : "down");`

[2022-08-25 01:58] Junchao-Mellanox commented on #11840
In addition, there are a lot of code update STATE DB port table in portsoch.cpp. For example:

https://github.com/sonic-net/sonic-swss/blob/4aaeec91fcd635a33902965c529e779a1accd9d9/orchagent/portsorch.cpp#L1094
https://github.com/sonic-net/sonic-swss/blob/4aaeec91fcd635a33902965c529e779a1accd9d9/orchagent/portsorch.cpp#L1111
https://github.com/sonic-net/sonic-swss/blob/4aaeec91fcd635a33902965c529e

[2022-08-25 11:23] HarshaF1 commented on #11217
Hello @Rancho333 , Could you please elaborate on how the issue was fixed we are getting a similar error.

[code]

[2022-08-25 19:02] prgeor commented on #11840
These duplicate events are more

@snider-nokia could you please attach the complete syslog where we see CMIS task manager getting interrupted due to these duplicate events?

[2022-08-25 22:58] #8478 closed

[2022-08-26 05:48] StormLiangMS commented on #11171
@wen587 as we talked, no fix plan so far. for the loopback0, all learned routes will associated with IP of loopback0 when published through Zebra to kernel. Change this could possibly cause route flap in Kernel side.
If there is a real application scenario need to change the IP addr of loopback0 during run time, pls let me know, which we may need to spend some time to scope the efforts to support

[2022-08-26 06:39] ashwin-h commented on #11769
Thanks @saiarcot895 .. ```target/sonic-broadcom.bin``` works with buster and bullseye enabled..

[2022-08-26 06:39] #11769 closed

[2022-08-26 15:04] #11165 closed

[2022-08-29 10:09] liorghub opened #11873 "[LAG] Inconsistency in LAG members configuration in config DB"
#### Description
When adding ports to lag using minigraph, 2 tables contain the lag membership information, PORTCHANNEL and PORTCHANNEL_MEMBER.
But when we adding ports to LAG using CLI, only 1 table contains the lag membership information, PORTCHANNEL_MEMBER.

When I deployed t0 topology (that contains lag) using minigraph, "members@" field is being created in PORTCHANNEL table.
[Link](https://na

[2022-08-29 11:24] liorghub commented on #11873
[sonic_dump_r-tigris-13_20220829_111839.tar.gz](https://github.com/sonic-net/sonic-buildimage/files/9444089/sonic_dump_r-tigris-13_20220829_111839.tar.gz)
[r-tigris-13-t0-xml.tar.gz](https://github.com/sonic-net/sonic-buildimage/files/9444097/r-tigris-13-t0-xml.tar.gz)

[2022-08-29 15:42] saksarav-nokia commented on #10246
@abdosi, This issue is fixed in PR #2214 .

[2022-08-29 18:16] neethajohn opened #11879 "ecnconfig script needs to be updated to not use referencing format for ecn status command"
#### Description
Currently the commands to query the ecn status and set the ecn status use the referencing format [WRED_PROFILE|AZURE_LOSSLESS].  This format is only supported up till 202012 branch. On later branches it should be 'AZURE_LOSSLESS'

## Steps to reproduce the issue
With current config db format on 202205 branch,
        "Ethernet0|3": {
            "scheduler": "scheduler.1",

[2022-08-29 18:52] garigipati31 opened #11880 "SONiC should support more granular hash/offset changes"
#### Description

#### Steps to reproduce the issue:
1. Boot T2 topology with the existing hash seeds
2. We see traffic/ecmp distributed unevenly

#### Describe the results you received:

Changing the hash/offsets internally helps accomplish even distribution of traffic.

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

###

[2022-08-29 19:17] snider-nokia commented on #11840
[2205 extraneous port update msgs with PR 285 applied - full syslog.txt](https://github.com/sonic-net/sonic-buildimage/files/9447396/2205.extraneous.port.update.msgs.with.PR.285.applied.-.full.syslog.txt)

In the attached syslog, ports are all up for the first time at around 18:45:15, and then the bouncing commences until they all finally stabilize back up again around 18:57:11.

[2022-08-30 02:18] #11620 closed

[2022-08-30 05:00] ysmanman opened #11892 "[VOQ] syncd and swss didn't come up on sup"
#### Description

When testing recent master and also 202205 image, we found that syncd and swss didn't come up on sup.

Our debug indicates syncd and also swss were stuck in asic_status.py https://github.com/sonic-net/sonic-buildimage/blob/master/files/scripts/asic_status.py.  Take asic3 as an example:

$ systemctl status syncd@3
● syncd@3.service - syncd service
     Loaded: loaded (/lib/systemd

[2022-08-30 05:01] ysmanman commented on #11892
Add @arlakshm for viz.

[2022-08-30 17:39] aparkhomenko-xsight commented on #5143
Try to use this commands
BLDENV=buster make -f Makefile.work list
BLDENV=bullseye make -f Makefile.work list

[2022-08-30 19:54] saiarcot895 commented on #11706
sairedis, swss, and swss-common all use the docker-sonic-vs image in pipelines and/or README instructions. The upgrade to Bullseye may need pipeline updates in these submodules as well to build Bullseye artifacts.

As for moving the container itself to Bullseye, it doesn't look to be difficult, just need to remove Python 2 packages.

[2022-08-30 22:34] anilkpan commented on #11503
Created PR with the fix:
https://github.com/sonic-net/sonic-sairedis/pull/1118

[2022-08-31 02:41] dellwuchuan opened #11902 "[EVPN VXLAN] Only one vni to vlan map entry in the output of show vxlan tunnel command"
#### Description

When there are many vlan to vni mapping entries, there are only one founded in the output of show vxlan tunnel command.

#### Steps to reproduce the issue:
1. Configure vxlan at dut

sudo config vxlan add vtep101032 10.1.0.32
sudo config vxlan evpn_nvo add my-nvo vtep101032
sudo config vxlan map add vtep101032 100 500100
sudo config vxlan map add vtep101032 101 500101
2. Configur

[2022-08-31 07:59] Hedgehog-Guru opened #11912 "[Config Rollback] | Failed to rollback config"
#### Description
In attempt to make config rollback I receive the next error : Error: 'DryRunChangeApplier' object has no attribute 'remove_backend_tables_from_config'

#### Steps to reproduce the issue:
1) Make some changes in configuration

2) Configure checkpoint (config checkpoint A)

3) Make some changes in configuration

4) Configure 2nd checkpoint (config checkpoint B)

5) Make some changes

[2022-08-31 12:57] SavchukRomanLv opened #11914 "SONiC did not perform warm-reboot"
#### Description
SONiC does not perform warm-reboot command. It returns
`sudo warm-reboot
cp: cannot stat '/tmp/cache': No such file or directory`

**Changes caused this issue introduced in PR [2232](https://github.com/sonic-net/sonic-utilities/pull/2232) row [472](https://github.com/sonic-net/sonic-utilities/pull/2232/files#diff-ce99c55499028be5fd2d0d3247c051eb453e98725c645c395ed29ef9d9e1ad21R472

[2022-08-31 15:14] zhangyanzhao commented on #11873
legacy issue, minigraph LAG member should be deprecated if no component uses it.

[2022-08-31 15:17] zhangyanzhao commented on #11912
GCU related issue, please help to investigate @qiluo-msft

[2022-08-31 15:18] zhangyanzhao commented on #11902
BRCM will help to take a look. Thanks @adyeung

[2022-08-31 15:20] zhangyanzhao commented on #11841
feature gap.

[2022-08-31 15:27] zhangyanzhao commented on #11826
BRCM will take a look.

[2022-08-31 15:32] zhangyanzhao commented on #11824
happen on multiple ASIC platforms only but load minigraph, then warmreboot works fine. Known issue, no fix.

[2022-08-31 15:35] yxieca commented on #11824
This is a known limitation that db_migrator cannot work when there is a version chain disruption.

To work-around this issue, please run "sudo config load_minigraph -y" and "config save -y" to generate a new config_db.json. With that, worm-reboot upgrade should work again.

Going forward, we need to bump up major version in master branch as soon as a new feature/release branch is created.

This kn

[2022-08-31 15:35] zhangyanzhao commented on #11823
known limitation, will update the doc to highlight this known issue.

[2022-08-31 15:36] zhangyanzhao commented on #11823
https://github.com/sonic-net/sonic-buildimage/issues/11824

[2022-08-31 15:38] zhangyanzhao commented on #11816
@nand0104 can you please help to provide more info on the repro steps and paste more logs? Thanks.

[2022-08-31 15:45] zhangyanzhao commented on #11798
@kcudnik  can you please help to take a look? Thanks.

[2022-08-31 15:48] zhangyanzhao commented on #11776
everflow on chassis.

[2022-08-31 18:09] kcudnik commented on #11798
this could happen when there is race condition when port is removed and stats thread is still colleting stats

[2022-08-31 18:09] kcudnik commented on #11798
since port remove and subscrube/unsubscribe for port collection stats comes in 2 different channels in syncd

[2022-08-31 18:11] kcudnik commented on #11798
yes this comment is related to this issue here, but it will be very hard now to move this subscribe to asic channel :/

[2022-08-31 23:43] adyeung commented on #11826
@zhangyanzhao  @bingwang-ms SAI_MIRROR_SESSION_ATTR_POLICER is not currently supported in DNX. Syncd received an ERROR code from SAI within the SAI_STATUS_ATTR_NOT_SUPPORTED range. To prevent the crash, either syncd has to be modified to handle the error code gracefully or introduce a SAI capability check before setting SAI_MIRROR_SESSION_ATTR_POLICIER. Request feature owner of everflow to address

[2022-09-01 03:13] lolyu commented on #11737
Verified on the latest 202205 image, the issue is gone, now the route to `tun0` could be persistent with neighbor entry changes to `FAILED` state.

[2022-09-01 03:13] #11737 closed

[2022-09-01 03:26] lolyu opened #11924 "[202205][dualtor][active-standby] The routes to `tun0` are removed after shutdown all ports in a vlan"
#### Description
On a dualtor setup, if the mux ports on one ToR are all `active` and they are members under the same vlan, if we are trying to shutdown those mux ports one by one, after shutdown the last `up` port, all routes to `tun0` for previous `down` ports will be removed, and the routes to the mux servers will be directed to the default route.

#### Steps to reproduce the issue:
1. shutdown

[2022-09-01 03:41] lolyu commented on #11924
If we shutdown all mux ports that are all `standby`, the routes to `tun0` for mux servers will be removed and will be changed to be directed to the default route.

[2022-09-01 04:13] lolyu commented on #11924
Recent link down test failures are due to this:
[code]

[2022-09-01 06:18] chiranjeevi-07 opened #11928 "Unable to compile image for Marvell - arm64 architecture"
#### Description

Hi, I'm unable to compile image for Marvell platform with the latest master code.
Please help with the compilation and also let me know if I'm doing anything wrong

#### Steps to reproduce the issue:

1. git clone https://github.com/sonic-net/sonic-buildimage.git
2. cd sonic-buildimage/
3. git checkout
4. make init
5. make configure PLATFORM=marvell-arm64 PLATFORM_ARCH=arm64
6. m

[2022-09-01 06:56] WistronNetwork opened #11930 "[reboot-cause] after couple times of fast-reboot or warm-reboot, the reboot cause would become unknown"
#### Description

After couple times of fast-reboot or warm-reboot, the reboot cause would become "unknown", and determine-reboot-cause.service would be exited with failure.

#### Steps to reproduce the issue:
do the "warm-reboot" or "fast-reboot" couple times

#### Describe the results you received:

after reboot, determine-reboot-cause.service would be failure
[code]
and then process-reboot-caus

[2022-09-01 12:13] liorghub opened #11934 "[Inband ZTP] When reboot takes place during ZTP process, interface connected to provision server is not getting IP address from DHCP on init"
#### Description
When reboot takes place during ZTP process, interface connected to provision server is not getting IP address from DHCP server on init.

Issue is in the flow of continue processing addition configuration tasks after reboot that took place as part of handling former configuration task.

ZTP engine starts DHCP on the inband interfaces but the interface that is connected to provision

[2022-09-01 13:18] nazariig commented on #11824
@yxieca not sure how this W/A suppose to mitigate the issue:
[code]

I tried to do the following:
1. Install `SONiC-OS-202111.95-949b426a2_Internal`
2. `config load_minigraph -y` & `config save -y`
3. DB version is:
[code]
4. Install `SONiC-OS-202205.27-0adfd724e_Internal`
5. `warm-reboot -v`
6. DB version is:
[code]
7. OA crashed due to Policer double provisioning
[code]
8. DB migration failed:
[

[2022-09-01 15:24] SviatoslavNastasiak opened #11936 "[AS7726-32X, 202111] QSFP optical links permanently DOWN"
#### Description

We experienced issues with using 202111 SONiC branch in AS7726-32x EC box.
Ports that are connected to third-party devices are not coming up.
Seems that Platform drivers (PDDF) for AS7726 are broken on 202111. It results in no control of QSFPs over I2C. Switch interfaces stuck in DOWN state.
Problem was not observed in 202012 and master branch. Probably some piece of platform int

[2022-09-01 18:17] prsunny commented on #11924
@lolyu , is this a valid usecase that we admin down the Vlan ports?

[2022-09-01 18:27] srideepDell opened #11939 "TD4[BCM56881_B0] NPU bringup issue on Dell z9432"
#### Description
current version of SAI/SDK supports BCM56881_B0.  While bring up we did hit issue of syncd exiting while configuring npu. Logs and other details attached below.

#### Steps to reproduce the issue:
1. Boot latest sonic image on TH4 ( Ex- Z9432)
2. syncd crash will be seen in logs.

#### Describe the results you received:

syncd crash seen
Logs from syncd.

[code]

Core file bt

[co

[2022-09-01 18:33] srideepDell commented on #11939
[9432_TD4_community_sonic_logs.txt](https://github.com/sonic-net/sonic-buildimage/files/9472422/9432_TD4_community_sonic_logs.txt)

[2022-09-01 18:52] #10970 closed

[2022-09-01 23:57] lolyu commented on #11924
Yes, these failures should be regression as they are passed previously, could you please help identify the change that causes this?

[2022-09-02 02:24] dellwuchuan opened #11944 "[EVPN VXLAN] Orchagent crash when removing a Vlan that is mapped to VNI"
#### Description

The issue is that when remove a VLAN which is mapped to VNI, FRR docker would crash.
The CLI shouldn't allow it.

#### Steps to reproduce the issue:
Steps:

config vlan add 1000

config vlan member add 1000 Ethernet60

config vxlan map add vtep101032 1000 7385123

config vlan member del 1000 Ethernet60

config vlan del 1000 -----> This should throw error since there is vxlan map

[2022-09-02 02:33] keboliu opened #11945 "Formatting issue of the new refactored sonic-db-cli"
#### Description

I see some formatting issues of the refactored `sonic-db-cli `when fetching` TRANCEIVER_INFO` table from the STATE_DB with command  `sonic-db-cli STATE_DB HGETALL "TRANSCEIVER_INFO|Ethernet224"`, it’s related to a specific field. Since the output is very long and I will snip the relevant fields.

**The raw data in STATE_DB is like below:**

[code]
…

**With the old version(python

[2022-09-02 06:07] chiranjeevi-07 opened #11948 "Compilation stuck - Marvell Platform"
#### Description

Hi, I've tried to compile for Marvell platform and it's stuck for 8hrs at the same point.

#### Steps to reproduce the issue:
1. git clone -b 202106 https://github.com/Azure/sonic-buildimage.git
2. cd sonic-buildimage
3. git checkout
4. make init
5. make configure PLATFORM=marvell-arm64 PLATFORM_ARCH=arm64
6. make target/sonic-marvell-arm64.bin

#### Describe the results you rece

[2022-09-02 10:15] ppikh opened #11950 "[sonic-mgmt docker] - latest sonic-mgmt docker based on Ubuntu 20.04 can not install extra packets using APT"
#### Description

Latest sonic-mgmt docker based on Ubuntu 20.04 can not install extra packets using APT.
Old image based on Ubuntu 18.04 can install any packets by "apt update && apt install packet_name", new sonic-mgmt docker image can not do it and when we do "apt update && apt install packet_name" we got error.
This issue introduced by PR: https://github.com/sonic-net/sonic-buildimage/pull/118

[2022-09-02 14:59] snider-nokia opened #11953 "[sonic-platform-daemons] - Xcvrd CMIS Manager state machine is getting improperly reset during progression"
#### Description

Xcvrd CMIS Manager state machine is getting reset to CMIS_STATE_INSERTED from within on_port_update_event() method unnecessarily/improperly.

PR [sonic-platform-daemons/#285](https://github.com/sonic-net/sonic-platform-daemons/pull/285) should be applied before attempting to reproduce and fix this issue.

#### Steps to reproduce the issue:
1.    Using a minimally CMIS 4.0 complia

[2022-09-02 16:26] yxieca commented on #11824
This change (https://github.com/sonic-net/sonic-utilities/pull/2272) needs to be cherry-picked into 202111 branch.

[2022-09-02 16:34] skbhava commented on #11902
Will work for the solution and create PR for review. ETA 09/19.

[2022-09-02 17:41] amulyan7 opened #11955 "[sonic-platform-daemons] - chassis daemon does not exit on SIGTERM signal"
#### Description
chassis daemon on PMON is not terminating on SIGTERM signal

I see that it receives the signal in signal handler, but does not exit because the child process (ConfigManagerTask) is still running. There was a recent commit that went in removing the stop of config manager on daemon stop.
[https://github.com/Azure/sonic-platform-daemons/commit/9ac12bfb406416b0fb3b03a084d8179bdc53f3a6

[2022-09-02 17:46] amulyan7 commented on #11955
@judyjoseph

[2022-09-03 03:09] dgsudharsan commented on #11944
@adyeung Can you please assign someone to fix this?

[2022-09-05 03:02] #11912 closed

[2022-09-05 05:50] laiguoliang-lyr opened #11967 "How to understand "fan" and "fan drawer" in fan_base.py and fan_drawer_base.py."
How to understand "fan" and "fan drawer" in fan_base.py and fan_drawer_base.py.
Since the fans I have seen are all pluggable on the device, should I understand "fan" as the rotor and "fan drawer" as the entire fan. Or is it understood that "fan" is the entire fan, and "fan drawer" is the frame used to install the fan?

[2022-09-05 07:19] liuh-80 commented on #11945
Created a draft PR: https://github.com/sonic-net/sonic-swss-common/pull/678
Still need validate if this fix breaks any existing code.

[2022-09-06 09:15] kevinskwang opened #11977 "SNMP is consistent failed after disable the queue flex counter"
#### Description

When queue flex counter is disabled in config, it results in not
Populating/removal of Counter_QUEUENAME_MAP table in Counter_DB.  As a part of SNMP query, when snmp_subagent process
Triggers MIBupdate, the internal MIB code tries to connect to Redis DB and retrieve the nonexistent COUNTER_QUEUENAME_MAP
table. This results in Runtime Error and abort without updating any other MIB

[2022-09-06 15:38] liorghub opened #11982 "[Inband ZTP] Router advertisement is not handled in DHCPv6 process"
#### Description
Issue is in the DHCPv6 process that takes place at the beginning of ZTP operation.
Router advertisement packet sent from the DHCP server to the switch is being trapped (captured and verified to publish prefix /64), however the IPv6 address configured by DHCP hook (inband-ztp-ip6) is with /128 prefix.

#### Steps to reproduce the issue:
1. Single switch connected to a server using

[2022-09-06 15:45] liorghub commented on #11982
[sonic_dump_r-tigris-22_20220906_152736.tar.gz](https://github.com/sonic-net/sonic-buildimage/files/9498501/sonic_dump_r-tigris-22_20220906_152736.tar.gz)

[2022-09-06 16:04] liorghub commented on #11982
[dhcp_files.zip](https://github.com/sonic-net/sonic-buildimage/files/9498729/dhcp_files.zip)

[2022-09-06 16:26] #10134 closed

[2022-09-06 16:58] judyjoseph commented on #11953
@prgeor is taking a look

[2022-09-07 01:42] #11967 closed

[2022-09-07 01:42] laiguoliang-lyr commented on #11967
close

[2022-09-07 11:17] liat-grozovik commented on #11621
@sumanbrcm could you please provide ETA when the fix can be in 202205?

[2022-09-07 13:37] arfeigin opened #11993 "Reboot pattern "...Rebooting with /sbin/kexec -e..." is missing from syslog after fast-reboot"
#### Description
Reboot pattern message is not printed to syslog in fast-reboot - this is not consistent. Running multiple times and checking reboot cause history will show few fast-reboot were done but in the syslog(s) it is not printed each time.

#### Steps to reproduce the issue:
1. Run: sudo fast-reboot
2. Check if reboot pattern is printed to syslog file, check reboot-cause history and compa

[2022-09-07 15:13] yxieca commented on #11950
@wangxin , @wsycqyz are you aware of this issue? Is there a fix? If not, let's revert the change and put it back with the fix?

[2022-09-07 18:07] prsunny opened #11995 "'eth0' oper down causing BGP default route missing"
With a stable system with BGP learnt default route, and oper down of mgmt port (eth0) is causing default route deleted from APP_DB.  This issue is seen on 202205 as well.

Logs:

/var/log/syslog.444.gz:Aug 31 17:52:41.788610  INFO kernel: [2430739.815597] tg3 0000:04:00.0 eth0: Link is down

swss rec
2022-08-31.17:52:41.801386|ROUTE_TABLE:2603:10e2:11:154f::/64|DEL
2022-08-31.17:52:41.801423|ROUTE

[2022-09-07 19:17] arlakshm commented on #11995
Logs from debugging so far. On bootup we see the  kernel routes in `zebra` for the `default` table
[code]
Now  when `eth0` becomes linkdown for the first time. These routes in `default `table are removed in `zebra`.
[code]

which might be causing the default route learnt from BGP to be removed from `APP_DB`
[code]
When `eth0` comes up, the default route in table `default` is not added back  in zeb

[2022-09-07 19:18] arlakshm commented on #11995
@hasan-brcm, @prsunny. FYI add logs I collected

[2022-09-08 01:23] lolyu commented on #11924
link down testcases are passing on 202012 image, but they are failing on 202205 image.

[2022-09-08 02:11] prsunny commented on #11924
@Ndancejic , can you please take a look at this?

[2022-09-08 04:13] stephenxs opened #12008 "Error message during config reload due to by missing `eventd.timer`"
#### Description

#### Steps to reproduce the issue:
1. `config reload` or `systemctl enable eventd.timer` (which is invoked from `config reload`)
2.
3.

#### Describe the results you received:
Error message is observed from the syslog or the output of the command `systemctl enable eventd.timer`
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of

[2022-09-08 14:00] xumia opened #12022 "Undefined variables used in ctrmgrd"
#### Description

The variable msg is not defined in method log_error, log_info.
See https://github.com/sonic-net/sonic-buildimage/blob/98d6357ae70d903c04e1ef883887a5e15d7be348/src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py#L107

![image](https://user-images.githubusercontent.com/59720581/189142064-88bede62-5a44-40fd-8a88-35ec4164926b.png)

The LGTM cannot detect such issue, we need to add some static code a

[2022-09-08 16:08] zhangyanzhao commented on #10544
https://github.com/sonic-net/sonic-buildimage/pull/11806

[2022-09-08 16:08] zhangyanzhao commented on #10544
console switch YANG model is defined with https://github.com/sonic-net/sonic-buildimage/pull/11806. @ganglyu  can you please check to see if we can close this issue? Thanks.

[2022-09-08 16:11] prsunny commented on #11803
ETA 9/16

[2022-09-08 17:21] zhangyanzhao commented on #9478
this is done and close per YANG subgroup discussion.

[2022-09-08 17:21] #9478 closed

[2022-09-08 17:28] zhangyanzhao commented on #9623
update the assignee and Praveen will help

[2022-09-08 17:31] zhangyanzhao commented on #6025
Not YANG model issue,  general assets management issue.

[2022-09-08 17:32] zhangyanzhao commented on #6025
[venkatmahalingam](https://github.com/venkatmahalingam) will talk to DELL team on the plan.

[2022-09-08 21:08] vivekrnv opened #12029 "[Warm-reboot] [NeighOrch] Orchagent cannot handle a neighbor entry DEL which is referenced by a static route"
#### Description

When the neighbor entry which is referenced by the static route is deleted somehow, the orchagent cannot handle the delete and this impact WR restart check.

Now the steps outlined below are just an easy way to repro it, but this can also happen in a critical flow i.e. WR

When restore_neighbors.py script couldn't resolve the neighbor entry in the new-life of the WR phase, it'll

[2022-09-08 21:25] dgsudharsan commented on #12029
@prsunny FYI

[2022-09-08 22:29] #10878 closed

[2022-09-08 22:29] adyeung commented on #10878
Ticket close, fix has merged

[2022-09-08 22:30] adyeung commented on #10802
Close ticket, fix has merged

[2022-09-08 22:30] #10802 closed

[2022-09-08 22:53] #10544 closed

[2022-09-08 23:02] ganglyu commented on #10968
fixed by https://github.com/sonic-net/sonic-buildimage/pull/11806

[2022-09-08 23:02] #10968 closed

[2022-09-08 23:19] adyeung commented on #11944
Will push a CLI check to block the VLAN del if there is an existing VLAN VNI mapping associated. Expect a fix by end of Sept

[2022-09-09 00:16] anamehra opened #12031 "radv docker: jinja2.exceptions.UndefinedError: 'vlan_list' is undefined"
#### Description

 Following traceback is seen in docker logs for radv when VLAN_INTERFACE config is not present:

/usr/local/lib/python3.9/dist-packages/supervisor/[options.py:473](https://options.py:473/): UserWarning: Supervisord is running as root and it is searching for its configuration file in default locations (including its current working directory); you probably want to specify a "-c" a

[2022-09-09 00:17] anamehra commented on #12031
@abdosi FYI-

[2022-09-09 00:33] ganglyu opened #12032 "[yang] Need Yang for KUBERNETES_MASTER table"
#### Description

We don't have Yang model for KUBERNETES_MASTER table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/sonic-net/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: KUBERNETES_MASTER, VOQ_INBAND_INTERFACE, TUNNEL, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI

#### Describe the results

[2022-09-09 00:36] prsunny commented on #12031
@kellyyeh for viz

[2022-09-09 00:45] abdosi commented on #12031
@kellyyeh wondering can we enhance to to enable radv router based on device role ?

[2022-09-09 01:06] anamehra commented on #12031
The bug is in file https://github.com/sonic-net/sonic-buildimage/blob/master/dockers/docker-router-advertiser/radvd.conf.j2

12  {% if VLAN_INTERFACE %}
13  {% set vlan_list = dict() %}

The set statement to init vlan_list should be before if check. The current code fails at
27  {% for name, prefixes in vlan_list.items() %}

when line 12 is false because vlan_list is never declared.

[2022-09-09 02:53] prsunny commented on #12031
@anamehra , could you provide the fix?

[2022-09-09 06:17] wsycqyz commented on #11950
The dependencies packages needs to be re-compile in Ubuntu20.04.
I have reverted PR#11831. Will raise another PR for Python3 migration later.

[2022-09-09 08:43] lizhijianrd opened #12037 "Update `port_config.ini` for `Arista-720DT-48S`"
#### Description

`port_config.ini` of `Arista-720DT-48S` is using `Ethernet1`\~`Ethernet52` as alias now. According to [SONiC port naming convention change](https://github.com/sonic-net/SONiC/blob/master/doc/sonic-port-name.md), we need to update it to `etp1`\~`etp52`.

[2022-09-09 14:19] wsycqyz commented on #11950
Fix has been committed.

[2022-09-09 14:31] #11945 closed

[2022-09-09 14:32] #11525 closed

[2022-09-09 19:54] #12031 closed

[2022-09-09 20:26] Hedgehog-Guru opened #12042 "[BGP-Unnumbered] Only one of parallel BGP-Unnumbered sessions is up"
#### Description

Two switches connected using several L3 ports. No IPv4 or IPv6 addresses. Just IPv6 link-locals. Due all ports have the same MAC, all IPv6-LL are the same on the switch,
Each port has BGP-Unnumbered peering configured. Only one BGP session is up, while all are expected.

#### Steps to reproduce the issue:
1. Enable ports. Speed, FEC, etc
2. Enable IPv6-LL  `config ipv6 enable lin

[2022-09-09 21:22] prsunny commented on #11840
ok, so its pretty much as a response to netlink notifications from kernel

[2022-09-10 01:02] prsunny commented on #11995
Closing the issue as FRR patch is merged

[2022-09-10 01:02] #11995 closed

[2022-09-10 01:11] prsunny commented on #9188
Fixed by patch

[2022-09-10 01:11] #9188 closed

[2022-09-12 05:12] mohannai opened #12045 "Port breakout is failing is SONIC since ports are not deleted from the config db."
#### Description

Port breakout is failing is SONIC since ports are not deleted from the config db.
So breakout is failing with below error
!!!  Critical Failure, Ports                     are not Deleted from ASIC DB, Bail Out  !!!
Ports are present in ASIC DB after 60 secs
Ports are present in ASIC DB after 60 secs
[ERROR] Port breakout Failed!!! Opting Out
Failed to break out Port. Error:

####

[2022-09-12 13:53] sumanbrcm commented on #11621
@liat-grozovik ETA for this fix is 10th Oct.

[2022-09-12 15:42] mlok-nokia opened #12047 "[multiasic][supervisor] sonic-db-cli crashes at boot up when execute sonic-db-cli PING command in database.sh on multiasic platform"
#### Description
On supervisor card,  sonic-db-cli crashes when executes the sonic-db-cli PING command in the database.sh.   The new implementation of the sonci-db-cli with PING  command calls initializeGlobalConfig() which will check all ASICs redis#/sonic-db/database_config.json files which are not ready yet. This cause crash and the following error log.   This function was used to wait for all

[2022-09-12 18:18] mlok-nokia opened #12049 "[202205][multiasic] after sonic-installer install a new image, docke0 IP is changed and sudo reboot command is hung."
#### Description
On 202205 branch, after sonic-installer installed a new image on a multiasic platform, the interface docker0 IP 140.127.1.1 is changed to 172.18.0.1.  And the sudo reboot command is hung fro a long time and all Sonic commands produce a backtrace .  The same issue https://github.com/sonic-net/sonic-buildimage/issues/10135 has been fixed in the master.  It looks like PR  https://git

[2022-09-12 19:17] anamehra opened #12050 "swsscommon Error in docker database supervisord init - flush_unused_database failed"
#### Description
Observing following error during database docker start with latest master based image:
Sep 11 23:28:24.601520 sfd-t2-sup INFO database#supervisord: flushdb   File "/usr/local/bin/flush_unused_database", line 14, in <module>
Sep 11 23:28:24.601665 sfd-t2-sup INFO database#supervisord: flushdb     instlists = swsscommon.SonicDBConfig.getInstanceList()
Sep 11 23:28:24.601665 sfd-t2-s

[2022-09-12 19:22] anamehra commented on #12050
Hi @abdosi , FYI-

[2022-09-12 23:00] ysmanman opened #12051 "[VOQ] syncd was not coming up successfully in sup"
#### Description

We observed this issue when testing an internally build of SONiC 202205 branch.
We were not able to get to bcmsh, which hangs. Noticed the following logs after enable syncd log.
This was not observed in linecards.

syncd log:
root@cmp210:/var/log# tail -f /var/log/messages
2022-09-12T22:56:59.526709+00:00 cmp210 syncd: :> getTimeSinceEpoch: enter
2022-09-12T22:56:59.526727+00:00

[2022-09-12 23:07] ysmanman commented on #12051
syncd log
[syncd_log.txt.gz](https://github.com/sonic-net/sonic-buildimage/files/9552310/syncd_log.txt.gz)

[2022-09-12 23:08] ysmanman commented on #12051
Add @arlakshm for viz.

[2022-09-13 01:42] guangjung commented on #11692
Hi ,
1). when can I see the example.  Until now，I still NOT find it.
2). Looking forward to solving [the problems](https://github.com/sonic-net/sonic-mgmt-common/issues/60) I encounter,  who can help me, thanks.

[2022-09-13 02:07] #10545 closed

[2022-09-13 17:39] ysmanman commented on #12051
The issue seems because the connectivity between containers and chassis_db is broken, which is a known issue. Once we applied our work-around of the connectivity issue  to 202205 branch, the issue was not seen anymore. Close the issue for now.

[2022-09-13 17:39] #12051 closed

[2022-09-13 18:12] judyjoseph commented on #11953
@snider-nokia, please update any issues/results you notice in the tests with this PR - https://github.com/sonic-net/sonic-platform-daemons/pull/285

[2022-09-13 18:23] snider-nokia commented on #11953
The situation is much better with the latest changes made on Sept. 7th at [sonic-net/sonic-platform-daemons/pull/285].
I'd suggest those changes should be merged.
The only problem remaining is that those latest changes at [sonic-net/sonic-platform-daemons/pull/285] do not build under 2205 (build target target/python-wheels/bullseye/sonic_xcvrd-1.0-py3-none-any.whl fails).  Building of the aforemen

[2022-09-13 21:07] ysmanman opened #12062 "[202205][VOQ] pfcwd failed in SonicDBConfig::validateNamespace"
#### Description

With 202205 image, we noticed the following error  when running sonic-mgmt test:

        "  File \\"/usr/local/bin/pfcwd\\", line 8, in <module>",
        "    sys.exit(cli())",
        "  File \\"/usr/local/lib/python3.9/dist-packages/click/core.py\\", line 764, in __call__",
        "    return self.main(*args, **kwargs)",
        "  File \\"/usr/local/lib/python3.9/dist-packa

[2022-09-13 21:09] ysmanman commented on #12062
Add @arlakshm for viz.

[2022-09-13 21:14] dgsudharsan opened #12063 "[VxLAN] Removing the VxLAN tunnel through CLI doesn't delete the tunnel from hardware"
#### Description

After configuring a static VxLAN and VNET, trying to remove  vxlan using CLI will result in successfully removing it in the application but not in the hardware. The reason is the delete task doesn't call any SAI API. (https://github.com/sonic-net/sonic-swss/blob/fd0c585d34de63dc9cca57bb7d508cadfe1125d4/orchagent/vxlanorch.cpp#L1536)

Previously the delete task had the flow of rem

[2022-09-13 21:15] #11428 closed

[2022-09-13 21:16] dgsudharsan commented on #10603
This problem can be overcome using the changes defined in https://github.com/sonic-net/sonic-buildimage/pull/10958. However SONiC by default would advertise /128 as /64

[2022-09-13 21:25] ysmanman commented on #12062
We may need include https://github.com/sonic-net/sonic-utilities/pull/2238 in 202205 branch.

[2022-09-14 00:43] prgeor commented on #11840
@prsunny what should be the next step?

[2022-09-14 01:51] liuh-80 commented on #12062
Can't reproduce this issue with latest 202205 branch build:

admin@vlab-01:~$ pfcwd start_default
Root privileges are required for this operation
admin@vlab-01:~$ sudo  pfcwd start_default
admin@vlab-01:~$

After check the source code of pfcwd, the issue happened when try to validate namespace but not initialize global config.
Issue may caused by some mock in sonic-mgmt, need more information to d

[2022-09-14 05:38] ysmanman commented on #12062
Hi Hua,

We first noticed the error because deploy-mg failed. According the traceback, we were able to manually reproduce the error with 'pfcwd start_default'. One thing to notice is the issue was only seen with multi-ASIC. We observed this in both sup and also LC that have 2 ASICs.

admin@cmp210:/$ show platform summary
Platform: x86_64-arista_7800_sup
HwSKU: Arista-7804R3-FM
ASIC: broadcom
ASIC

[2022-09-14 07:33] liuh-80 commented on #12062
@ysmanman  Thanks, I add the request for 202205 label to this PR for cherry pick:
https://github.com/sonic-net/sonic-utilities/pull/2238

[2022-09-14 07:33] salvadorb commented on #11317
I'm facing exactly the same problem

[2022-09-14 07:36] salvadorb commented on #11321
I'm facing the same problem. It worked fine until 202106

[2022-09-14 07:48] salvadorb commented on #8506
Hi,
I'm wondering if this issue has been addressed on current master or not yet?

Best regards

[2022-09-14 13:55] snider-nokia commented on #11953
Latest Sept. 13th changes at [sonic-net/sonic-platform-daemons/pull/285] resolve the 2205 build problem.
Target sonic_xcvrd-1.0-py3-none-any.whl now builds properly.

[2022-09-14 14:08] antonptashnik opened #12070 "vnet_route_check Monit script fails when vnet routes are setup"
#### Description

vnet_route_check script used by Monit exits with the error below when there are any Vnet routes configured
[code]
Note there is a PR that was intended to address the issue but the issue is still present. The PR is https://github.com/sonic-net/sonic-utilities/pull/2268

#### Steps to reproduce the issue:
1. Save each config below to a JSON file and apply with `sudo config load fil

[2022-09-14 14:26] dgsudharsan opened #12071 "threadFunction: time span WD exceeded 30955 ms for create:SAI_OBJECT_TYPE_SWITCH:oid seen during config reload"
#### Description

When the switch has scaled configuration, the below logs are seen during config reload. It happens because of high CPU contention during config reload. The logs don't happen during reboot.

Feb  8 21:13:46.695474 r-spider-05 ERR syncd#SDK: :- threadFunction: time span WD exceeded 30955 ms for create:SAI_OBJECT_TYPE_SWITCH:oid:0x21000000000000
Feb  8 21:13:46.695474 r-spider-05 ER

[2022-09-14 14:57] prsunny commented on #12070
@volodymyrsamotiy , can you please check?

[2022-09-14 15:06] zhangyanzhao commented on #12071
CPU resource competition. We need a new architecture to manage the service start during scaled config reload.

[2022-09-14 15:13] zhangyanzhao commented on #12063
Besides the bug fix, we should also add one test case for vxlan tunnel deletion

[2022-09-14 15:15] zhangyanzhao commented on #12062
Is this issue fixed? Can we close it? @ysmanman Thanks.

[2022-09-14 15:19] zhangyanzhao commented on #12050
@anamehra can you please help to add the repro steps and paste the output?

[2022-09-14 15:23] zhangyanzhao commented on #12049
https://github.com/sonic-net/sonic-utilities/pull/2179 needs to be cherry pick to 202205 branch.

[2022-09-14 15:28] zhangyanzhao commented on #12047
@qiluo-msft  can you please help to check the sonic-db-cli behavior change and see how to fix? looks like scalability issue  Thanks.

[2022-09-14 15:30] rlhui commented on #12062
@vmittal-msft - fyi

[2022-09-14 15:31] zhangyanzhao commented on #12029
by design so far. Need further improvement.

[2022-09-14 15:33] anamehra commented on #12050
@zhangyanzhao, this is 100% reproducible on the latest image I build. If one enter database docker, and try to run flush_unused_database, it throws error. import swsscommon is missing. But looks like its not just limited to that. I added the import statement and hit a different issue.
[code]

[2022-09-14 15:34] zhangyanzhao commented on #12022
@renukamanavalan  can you please help to fix this issue? Thanks.

[2022-09-14 15:35] zhangyanzhao commented on #12008
@renukamanavalan  can you please help to fix? Thanks.

[2022-09-14 15:38] zhangyanzhao commented on #11982
Looks like ZTP related issue, BRCM will help to take a look. @adyeung

[2022-09-14 15:38] anamehra commented on #12047
@abdosi , This is the same as we are observing on 202205 based image.

[2022-09-14 15:42] zhangyanzhao commented on #11948
arm64 build never succeed yet, can Marvell help to fix the issues? Thanks.

[2022-09-14 15:45] zhangyanzhao commented on #11928
Can Marvell help to enable the ARM64 build? Thanks.

[2022-09-14 15:50] zhangyanzhao commented on #11315
Can someone from Celestica to take a look? Thanks.

[2022-09-14 15:51] zhangyanzhao commented on #11268
Per investigation, it is testbed setup issue. @ysmanman can you please double check and close this issue? Thanks.

[2022-09-14 16:36] ysmanman commented on #12062
@zhangyanzhao The issue is still in 202205. https://github.com/sonic-net/sonic-utilities/pull/2238 should fix this issue. @liuh-80 will request to cherry pick the PR in 202205.

[2022-09-14 16:39] renukamanavalan commented on #12022
@lixiaoyuner Can you please fix this?

[2022-09-14 17:17] zbud-msft commented on #12008
Hi @zhangyanzhao we do not have an eventd.timer file as it is not needed and I am unable to reproduce this issue:

admin@str-msn2700-04:~$ sudo config reload
Clear current config and reload config in config_db format from the default config file(s) ? [y/N]: y
Stopping SONiC target ...
Running command: /usr/local/bin/sonic-cfggen  -j /etc/sonic/init_cfg.json  -j /etc/sonic/config_db.json  --write-t

[2022-09-14 18:10] dgsudharsan commented on #12042
@zhangyanzhao This is not triaged today. Can we please assign it

@adyeung  I believe broadcom is the feature owner for unnumbered and link local. Can you please assign someone to investigate?

[2022-09-14 18:31] rlhui commented on #12050
@anamehra  - is this issue seen in master or 202205 based, or both?  Thanks.

[2022-09-14 18:44] anamehra commented on #12050
Hi @rlhui , Hit this issue on msft/202205, have not tested master. May be fixed in master and needs double commit to 202205. Update the description with sha1.

[2022-09-14 18:48] dgsudharsan commented on #10604
This issue is closed by https://github.com/sonic-net/sonic-utilities/pull/2268

[2022-09-14 18:48] #10604 closed

[2022-09-14 18:50] anamehra commented on #12050
Looks like related to this commit missing in 202205
https://github.com/sonic-net/sonic-buildimage/pull/11215

[2022-09-14 19:09] dgsudharsan commented on #9631
@kellyyeh Can you please provide an update?

[2022-09-14 21:11] ysmanman commented on #11268
Hi @zhangyanzhao, yes, we haven't seen the issue anymore in our recent testing. I will close it for now.

[2022-09-14 21:11] #11268 closed

[2022-09-14 23:26] vdahiya12 opened #12083 "[sonic-config-engine] /usr/local/bin/db_migrator.py -o migrate fails on all Arista platforms while trying to configure a device for L2 configuration"
#### Description

While trying to configure a device for L2 style topology in SONiC OS, the administrator is required to execute a sequential stream of commands as suggested here https://github.com/sonic-net/SONiC/wiki/L2-Switch-mode
while running the first command we see this error for dualtor
[code]

#### Steps to reproduce the issue:
1.run the first command as suggested by this wiki link for al

[2022-09-14 23:36] lguohan commented on #12083
looks like caused by this pr.

https://github.com/sonic-net/sonic-utilities/commit/6dfbdcb665602dadcdb5539bfbf8aa937478fde3

[2022-09-15 00:21] stephenxs commented on #12008
Thanks @zbud-msft
Can you try running `sudo systemctl enable eventd.timer` or check the syslog?
For `config reload`, the error message is not in CLI output but in the log.
For `sudo systemctl enable eventd.timer`, the error message is printed to the CLI.

[2022-09-15 00:31] zbud-msft commented on #12008
Understand, I see it in the logs. I will look into it.

[2022-09-15 00:55] renukamanavalan commented on #12008
There is no eventd.timer, so "systemctl <any action> eventd.timer" would indeed fail and the error message says the same.

"`Failed to enable unit: Unit file eventd.timer **does not exist**.`"

@zbud-msft, please check if log has anything related to eventd.timer, when config reload is invoked.

[2022-09-15 00:56] liuh-80 commented on #12050
I will check and make a list for PRs need cherry-pick to 202205 to fix this issue:
https://github.com/sonic-net/sonic-swss-common/pull/639

[2022-09-15 01:55] lixiaoyuner commented on #12022
@renukamanavalan @zhangyanzhao I will fix this

[2022-09-15 02:05] liuh-80 commented on #12050
After check all related PR, I found the root cause of this issue is PR https://github.com/sonic-net/sonic-buildimage/pull/11600 been cherry-pick to 202205 branch by mistake, the deprecate swsssdk feature not ready to be cherry pick to 202205.

I create this revert PR to revert change in #11600:
https://github.com/sonic-net/sonic-buildimage/pull/12084

[2022-09-15 14:17] srj102 commented on #12063
@dgsudharsan
Please describe the exact sequence which leads to the Tunnel object creation in the SAI ?
As far as I see it happens only as part of the vlan-vni or vrf-vni map creation.
Similarly deletion should happen after the last mapping entry is removed.

[2022-09-15 15:06] antony-rheneus opened #12089 "saiplayer aborts send api response or sync/async issue"
#### Description

saiplayer aborts after INIT view. Seen the same behaviour in 202012 and 202111 branch.
Referred and followed similar steps provided in
https://github.com/sonic-net/SONiC/wiki/How-to-Use-SAI-Player

#### Steps to reproduce the issue:
1. systemctl stop system-health
2. systemctl stop  monit
3.  pkill orchagent
4. pkill syncd
5. docker exec -it syncd supervisorctl start syncd
5. doc

[2022-09-15 21:10] andywongarista commented on #12037
Hi Zhijian, yes this was something that we had meant to do. We will look into updating it now.

[2022-09-15 22:04] vaibhavhd opened #12091 "[201811 to 202012] Incorrect reboot cause for FAST and WARM upgrades on 7060 Arista devices"
#### Description

Incorrect reboot cause during warmreboot (or fastreboot) from 201811 image to 202012 image on Arista devices.
The reboot cause displayed is older than the time when warm-reboot was issued.
This indicates that platform registers holding reboot cause are not reset during warm/fast reboot.

#### Steps to reproduce the issue:
1. Fast or Warm upgrade from latest 201811 image to latest

[2022-09-15 23:26] Ndancejic commented on #11924
Before shutdown, ip link show Vlan1000 and Bridge are up, and arp entry for neighbor is present:
[code]

After shutdown, on 202205 ip show Vlan1000 and Bridge are down, and arp entry for neighbor is removed:
[code]

On 202012 however, the arp entry remains:
[code]

This is a behavior change between 202012 and 202205, will research why this is happening further

[2022-09-16 03:09] santoshdoke commented on #12042
Hello,

Based on the tech support, it looks like the neighbour resolution is completed for one peer only and for that peer BGP adjacency is established. Ethernet48 is the link where neighbour is resolved and BGP is established. For other 3 interfaces, neighbour is in stale state, and BGP is not receiving/transmitting any packets. Please check ping to peer's IPv6 link-local addresses using interfac

[2022-09-19 02:02] lolyu commented on #11924
@Ndancejic, thanks for the investigation.
In addition, if you check `ip neighbor` on 202012 image, there will be `FAILED` neighbor entries for mux servers. But on 202212 image, those entries will be flushed.

[2022-09-19 06:31] #11914 closed

[2022-09-19 21:41] dgsudharsan commented on #12063
@srj102 I see. In case of VNET deleting the VNET before VxLAN tunnel will clear the tunnel from the hardware. However the problem here I see is the CLI command to remove the VxLAN tunnel succeeds without throwing any dependency errors whether a tunnel map or VNET is associated with it. This needs to be fixed.

[2022-09-20 00:58] dgsudharsan opened #12114 "[VNET] IPv6 directly attached subnet routes are not programmed to SAI"
#### Description

The directly attached subnet routes for IPv6 are not installed if the interface belongs to VNET. This works fine with IPv4. The issue might be due to the check here which checks only for IPv4

https://github.com/sonic-net/sonic-swss/blob/3161eaae6bd589bf8c9819aefb9d738047e0c9f8/orchagent/vnetorch.cpp#L1206

The below logs will be observed when INFO level is enabled for orchagent

[2022-09-20 01:01] hasan-brcm opened #12115 "PortChannel interface flaps during Warm-restart if VRF config is present"
#### Description
As part of config-replay during warm-restart, VRF bind to PortChannel interface causes Linux kernel to flap the PortChannel netdevice. Due to the netdevice flap, teamd resets the local SM and causes PortChannel interface to flap on the remote (helper) router as well resulting in traffic drop.

#### Steps to reproduce the issue:
This issue can be recreated in controlled fashion wit

[2022-09-20 01:15] dgsudharsan commented on #12114
@prsunny  FYI

[2022-09-20 08:09] matti125 commented on #6401
I have the same issue with a version build number 20220917.5, or thereabouts. It is hard to tell the version, as the container does not show the version. "sudo" exists on the VM from the same build, but is missing in the container (docker) version

[2022-09-20 12:04] #12037 closed

[2022-09-20 15:26] #11707 closed

[2022-09-20 23:32] vivekrnv opened #12133 "[xcvrd][sfputil] sfputil response is extremely slow when used upon on a xcvr of type cmis"
#### Description

The inefficiency is in SfpBase, xcvr_mem_maps etc and this also affects xcvrd, since both xcvrd and sfputil use the same api's of SfpBase such as  `get_transceiver_info & get_transceiver_bulk_status & get_transceiver_threshold_info`. On a device with 30 front-panel ports and 30 QSFP-DD xcvrs, i've seen pmon CPU usage reaching upto 35% with a period of 10-20 sec. pmon usage can ge

[2022-09-21 08:06] dprital opened #12140 "Unknown log level appear for JINJA2_CACHE when running swssloglevel -p command"
#### Description

When running "swssloglevel -p" command that suppose to present the log level set per each component,
The first component appear is "JINJA2_CACHE" (as it is part of LOGLEVEL_DB) and since this table is not related to log level,
it doesn't have the LOGLEVEL parameter and trying to print the LOGLEVEL for this table, end with "Unknown log level" output
and due to that, errorCount is

[2022-09-21 08:11] dprital commented on #12140
Suggested solution, to cherry pick the following PR to 202205:
https://github.com/sonic-net/sonic-buildimage/pull/11996

[2022-09-21 15:52] alpeshspatel opened #12145 "show command discrepancy when executed as regular user vs sudo/root"
#### Description
 *pg-drop -c show*  discrepancy in output when run as regular user vs run as sudo/root (aka: *show priority-group drop counters* )
 *show interface counters*  discrepancy in output when run as regular user vs run as sudo/root
 *show interface counters*  discrepancy in output when run as regular user vs run as sudo/root
 *show queue counter* discrepancy in output when run as regula

[2022-09-21 19:19] #10875 closed

[2022-09-22 03:14] abudaoweng opened #12154 "[master] [target/sonic-vs.bin] Error in make all"
#### Description

Branch : master
Tried to make all
#### Steps to reproduce the issue:
1.make  init
2.make configure PLATFORM=vs
3.make  all

#### Describe the results you received:
[code]
#### Describe the results you expected:
Excepted the make successfully
Why this issue might be happening?
Thanks !

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additio

[2022-09-22 03:23] lolyu commented on #11924
The root cause is now on bullseye, linux now will flush all arp entries learnt from a device if the device comes to `NOCARRIER`. So if we shutdown all ports in `Vlan1000`, the bridge device `Bridge` will become `NOCARRIER`, so does device `Vlan1000`.
The change caused this is https://git.kernel.org/pub/scm/linux/kernel/git/netdev/net-next.git/commit/?id=859bd2ef1fc1110a8031b967ee656c53a6260a76.
An

[2022-09-22 04:16] #12008 closed

[2022-09-22 05:29] arlakshm opened #12157 "[Multi-asic][20191130] The default route in APP_DB is not removed after bgp shutdown"
#### Description

#### Steps to reproduce the issue:
1.Load latest 20191130 image and bring-up the sonic-mgmt topology `t1-64-lag`
2. Start all  ebgp sessions and verify the default route is learnt.
3.Shutdown ebgp sessions and check the default route is removed in the control plane and `APP_DB`

#### Describe the results you received:
After shutdown eBGP sessions the default route is still presen

[2022-09-22 07:08] JibinBao opened #12159 "[SFP] There is no txpower info in the results by 'show interfaces transceiver eeprom interface -d'"
#### Description
The results by 'show interfaces transceiver eeprom  interface -d' lack below info:

- txpowerhighalarm,
- txpowerlowalarm,
- txpowerhighwarning,
- txpowerlowwarning.

But they exist in STATE_DB.

#### Steps to reproduce the issue:
1. Find one interface supporting dom, and check the results of transceiver eeprom with dom like: show interfaces transceiver eeprom Ethernet0 -d
2.  Che

[2022-09-22 13:40] stepanblyschak commented on #11824
@yxieca What is required to overcome this issue? I assume we need to upgrade old 202111 to 202111 with https://github.com/sonic-net/sonic-utilities/pull/2272 and then to 202205?
I am looking at https://github.com/sonic-net/sonic-utilities/pull/2272 and don't see migration functions for 2_0_X versions so I believe this will not work.

[2022-09-22 15:15] prgeor commented on #11939
SIGBUS error indicates that there is some issue in accessing the mmaped region. Are you able to do PCI r/w in configuration and memory mapped region?

[2022-09-22 17:23] zhangyanzhao commented on #9739
Qi is working with Arvind on this

[2022-09-22 17:25] zhangyanzhao commented on #9312
@li-pingmao need your help to update on this. Thanks.

[2022-09-22 17:35] zhangyanzhao commented on #10116
@StormLiangMS can you please help to reply Praveen's comments?

[2022-09-22 17:37] zhangyanzhao commented on #10376
Qi will double check with Jingwen if the issue still exists.

[2022-09-22 17:39] zhangyanzhao commented on #10386
@ljyfree  can you please check if this issue still there? or any other info do you need? Thanks.

[2022-09-22 17:40] zhangyanzhao commented on #10548
@prsunny  would you please help to find someone to enable the YANG for this RESTAPI table? Thanks.

[2022-09-22 17:40] zhangyanzhao commented on #10546
Praveen will help to create the YANG model

[2022-09-22 17:41] zhangyanzhao commented on #10386
https://github.com/sonic-net/sonic-buildimage/pull/10291 this PR should fixed the issue. @ljyfree  can you please verify and close this issue if it works? Thanks.

[2022-09-22 17:43] zhangyanzhao commented on #10145
@StormLiangMS  can you please close this issue if it has been fixed ? Thanks.

[2022-09-22 17:45] zhangyanzhao commented on #10668
@aslam4g  would you please join the YANG subgroup meeting if you still need help? Thanks.

[2022-09-22 17:47] zhangyanzhao commented on #10967
@rlhui can you please help to create YANG model for this table? Thanks.

[2022-09-22 17:48] zhangyanzhao commented on #10969
@prsunny  can you please help to create the YANG model for this table? Thanks.

[2022-09-22 17:51] zhangyanzhao commented on #11110
#11243 is merged. @qiluo-msft  please close this issue.

[2022-09-22 17:52] #11110 closed

[2022-09-22 17:54] zhangyanzhao commented on #11692
@venkatmahalingam can you please help to provide an example?

[2022-09-22 19:49] ITJamie commented on #3194
any update on this?

[2022-09-22 19:57] ITJamie opened #12163 "Please re-consider not including frr-reload in bgp image"
per https://github.com/sonic-net/sonic-buildimage/pull/3486/
Please reconsider not having FRR_PYTHONTOOLS in the bgp image. this is a regression for those of us who use it

[2022-09-22 23:39] #10630 closed

[2022-09-23 00:33] ljyfree commented on #10386
Hi @zhangyanzhao
I don't think they are the same issue, since #10291 fix the issue on leaf-list 's seperation while here is the `map-list` issue.

[2022-09-23 00:43] wen587 commented on #10376
It is not an issue for GCU now as we have a fix ourselves. https://github.com/sonic-net/sonic-utilities/pull/2145
We keep this issue open to see if we can have yang extension support.

[2022-09-23 02:40] xwjiang-ms opened #12167 "[Ipfwd] Dualtor do not support directed broadcast"
#### Description
Dualtor do not support directed broadcast, dualtor will not forward directed broadcast packets

#### Steps to reproduce the issue:
1. Create a DHCP (udp_sport = udp_dport = 67) packet, ip_dst = vlan subnet address
2. Run "show mux status" to get active downstream port in active tor
3. Send this udp packet from a random upstream port
4. Receive packet in active downstream ports in

[2022-09-23 05:53] qiluo-msft commented on #10376
@praveen-li This is to track sonic yang extension issue, which is similar to unique lane yang extension. Currently the validator is hardcoded as python function `validate_bgp_peer_group`.

[2022-09-23 07:52] Hedgehog-Guru opened #12170 "[Sub-If|VRF] Unbind sub-interface from VRF is failed"
#### Description

Sun-Interface is left in inconsistent state if it was unbinded from VRF

#### Steps to reproduce the issue:
1. Create any VRF `config vrf add Vrf_11`
2. Create any sub-interface `config subinterface add Eth0.11 11`
3. Bind sub-interface to VRF `config interface vrf bind Eth0.11 Vrf_11`
4. Check bind was successful
`show vrf`
`ip link show vrf Vrf_11`
5. Unbind `config interface v

[2022-09-23 11:35] stepanblyschak opened #12171 "201911 -> 202205 warm-upgrade failure due to "unknown" compression"
#### Description

Warm reboot fails due to failure in attempt to mount next image squashfs. This is needed for several things including asic config check, FW upgrade on Nvidia platform, etc. The compression algorithm was changed to ```zstd``` in 202205 but in 201911 this compression is not supported leading to errors and unability to perform warm reboot. Commit that introduced ```zstd```: https://

[2022-09-23 11:45] Hedgehog-Guru commented on #12042
Here are CLI output and sysdump shows that neighbors could be resolved, but BGP sessions are still in down state

[CLI-log1.txt](https://github.com/sonic-net/sonic-buildimage/files/9633254/CLI-log1.txt)
[sonic_dump_qa-eth-vt01-4-3700c_20220923_144012.tar.gz](https://github.com/sonic-net/sonic-buildimage/files/9633257/sonic_dump_qa-eth-vt01-4-3700c_20220923_144012.tar.gz)

[2022-09-23 16:11] dgsudharsan commented on #12170
@adyeung @preetham-singh  Can you please investigate?
This is due to unbind not properly handled for subinterface. In unbind call CLI rather than deleting the interface the vlan subinterface table is set with fields other than Vrf which is not properly handled in swss
127.0.0.1:6379[4]> hgetall "VLAN_SUB_INTERFACE|Eth0.11"
1) "admin_status"
2) "up"
3) "vlan"
4) "11"
127.0.0.1:6379> hgetall "INTF_T

[2022-09-23 18:03] srideepDell commented on #11939
@prgeor  yes we are able to access the PCI configuration and memory mapped region. the gdb traces/logs are just to indicate issue is in libsai threads which we will not be able to debug since platform vendors don't have access to it.

Logs indicate chip is detected initialized and some callbacks from the sdk is not returning and timing out. similar issues are reported by other HW vendors too
https

[2022-09-23 23:05] adyeung commented on #11902
[https://github.com/sonic-net/sonic-utilities/pull/2391](url)

[2022-09-23 23:06] adyeung commented on #11902
Fix posted to
https://github.com/sonic-net/sonic-utilities/pull/2391

[2022-09-23 23:10] adyeung commented on #11944
Will be fixed by
https://github.com/sonic-net/sonic-utilities/pull/2388

[2022-09-24 19:50] anamehra opened #12179 "202205: caclmgrd traceback KeyError: 'dst_ports'"
#### Description
caclmgrd process throws traceback

Sep 23 23:25:48.993340 sfd-t2-lc0 INFO caclmgrd[247606]:   File "/usr/local/bin/caclmgrd", line 973, in <module>
Sep 23 23:25:48.993535 sfd-t2-lc0 INFO caclmgrd[247606]:     main()
Sep 23 23:25:48.993577 sfd-t2-lc0 INFO caclmgrd[247606]:   File "/usr/local/bin/caclmgrd", line 969, in main
Sep 23 23:25:48.993724 sfd-t2-lc0 INFO caclmgrd[247606]:

[2022-09-24 19:52] anamehra commented on #12179
@abdosi , @SuvarnaMeenakshi , @ZhaohuiS , FYI-

[2022-09-25 05:59] ZhaohuiS commented on #12179
@anamehra I will take a look.

[2022-09-25 06:07] abdosi commented on #12179
@ZhaohuiS I have pr already with fix. Will create it by tomorrow.  Please help in review that

[2022-09-25 06:27] ZhaohuiS commented on #12179
@abdosi Sure, thank you for your quick fix. I haven't considered multi-asic scenario.

[2022-09-26 06:30] lixiaoyuner commented on #12022
Fixed
https://github.com/sonic-net/sonic-buildimage/pull/11946/commits/c19802b1c29b5bf00e582f35d447cf56458d25c7

[2022-09-26 06:30] #12022 closed

[2022-09-26 08:27] ZhaohuiS commented on #11046
Fixed in this PR https://github.com/sonic-net/sonic-swss/pull/2332.

[2022-09-26 08:27] #11046 closed

[2022-09-26 12:10] srj102 commented on #12063
@dgsudharsan the foll is the snippet for vxlan deletion.
Here the vlan vni mappings are handled.

    vxlan_keys = db.cfgdb.get_keys("VXLAN_TUNNEL_MAP|*")
    if not vxlan_keys:
      vxlan_count = 0
    else:
      vxlan_count = len(vxlan_keys)

    if(vxlan_count > 0):
        ctx.fail("Please delete all VLAN VNI mappings.")

w.r.t VNET,
  If the user is going to add/remove vnet and vnet to vni

[2022-09-26 12:49] #11803 closed

[2022-09-26 14:34] rajendra-dendukuri commented on #11934
Proposed fixes in

https://github.com/sonic-net/sonic-ztp/pull/39
https://github.com/sonic-net/sonic-ztp/pull/38

[2022-09-26 19:42] rajendra-dendukuri commented on #11982
This behavior is inline with how isc-dhcp client and server behave along with radvd. The connectivity to the SONiC switch undergoing ZTP over IPv6 transport also works.  The RAs received by the switch hep establish connectivity to the upstream routers. The "ip -6 route show" command confirms that.
So it is not necessary to have the exact same subnet configured with the IPv6 address offered by the

[2022-09-27 08:04] preetham-singh commented on #12170
Please assign the issue to me. I am working on fix.

[2022-09-27 12:25] AndriiLozovyi opened #12192 "[snmp] Snmp value for cached memory is different from system_info"
#### Description
It looks that starting from sonic image` SONiC.master.137279-dirty-20220820.094848` something changed in output of snmp for CachedMemory, and now output of snmp and info from system have a difference starting from` 6%` and may be up to `12 %`. On previous sonic image `SONiC.master.135201-dirty-20220815.112418` output of snmp for cached memory was in touch with system_info from DUT

[2022-09-27 15:44] #11008 closed

[2022-09-27 16:45] santoshdoke commented on #12042
Hello,

If the IPv6 link-local neighbors are resolved, then there is no issue with Link-local addressing and reachability.  I suspect the issue is with BGP FRR code (may be missing some fixes on these lines). BGP should detect the new neighbor and initiate the TCP connection, but that doesn't seem to be happening. Can you please involve BGP expert to this thread.

[2022-09-27 21:05] adyeung commented on #12042
@dgsudharsan @zhangyanzhao can someone take a look from BGP to see why the tcp session is not initiated?

[2022-09-27 21:26] qiluo-msft commented on #11977
@kevinskwang Could you explain "When queue flex counter is disabled in config, it results in not Populating/removal of Counter_QUEUE_NAME_MAP table in Counter_DB."? I am okay you want to disable some counters, but why remove the map?

[2022-09-28 00:13] dgsudharsan commented on #12063
@srj102  I believe handling in CLI should be good enough as CLI is the only flow for delete. I have raised a fix https://github.com/sonic-net/sonic-utilities/pull/2404

[2022-09-28 00:39] #12179 closed

[2022-09-28 06:12] vivekrnv commented on #11431
@yxieca

[code]
The link local address is added to the vlan iface after a member is added to it. I guess kernel adds the link local address  after a member is added

Also, the info is not populated in STATE_DB and so how would you suggest in updating this script https://github.com/sonic-net/sonic-buildimage/blob/202205/dockers/docker-dhcp-relay/wait_for_intf.sh.j2 to check for this interface befor

[2022-09-28 08:14] #10466 closed

[2022-09-28 10:07] JibinBao opened #12201 "[transceiver eeprom ][202012] outputs are not consistent between "show interfaces transceiver eeprom -d" and "sudo sfputil show eeprom -d""
#### Description
For branch 202012, the outputs are not consistent between "show interfaces transceiver eeprom -d" and "sudo sfputil show eeprom -d". But for 202205, they are consistent.

#### Steps to reproduce the issue:
1. show interfaces transceiver eeprom -d
2. sudo sfputil show eeprom -d
3. Compare the outputs

#### Describe the results you received:
[code]
[code]
From the above results, we

[2022-09-28 20:40] yxieca commented on #11431
@vivekrnv  are you going to add a fix to address this issue?

[2022-09-28 22:12] vivekrnv commented on #11431
The fix i thought of adding is to add a check to the wait_for_intf.sh script to wait until the link local address is assigned to the Vlan Iface. And as i've mentioned in the above comment, it's not populated in the STATE_DB and thus has to find other ways.

But i guess @kellyyeh should take it up if he can

[2022-09-29 02:05] dgsudharsan commented on #12114
It appears IPv6 Overlay is not supported in the VNET context as per the initial VNET design

[2022-09-29 02:34] lolyu commented on #11924
Reopen as it needs a swss change to work

[2022-09-29 03:10] dellwuchuan opened #12219 "[SWSS] [error log] ERR swss#orchagent: :- removeVlan: Failed to remove ref count 1 VLAN Vlanxx"
#### Description

When running community test show_techsupport/test_auto_techsupport.py, there would be an error log come out occasionally:

Sep 20 17:04:42.790266 r-tigon-15 ERR swss#orchagent: :- removeVlan: Failed to remove ref count 1 VLAN Vlan40

Sep 20 17:04:43.005691 r-tigon-15 ERR swss#orchagent: :- removeVlan: Failed to remove ref count 1 VLAN Vlan40

Sep 20 17:04:43.790354 r-tigon-15 ERR

[2022-10-01 19:01] rlhui commented on #12062
@ysmanman  - this PR is supposed to fix it.  https://github.com/sonic-net/sonic-utilities/pull/2372  could you please confirm if issue is fixed? Thanks.

[2022-10-03 03:17] isabelmsft opened #12253 "[yang-models] Missing constraints in PORTCHANNEL yang model"
#### Description
PORTCHANNEL yang model is missing validation criteria. These missing constraints are checked in sonic-utilities adhoc validation, but are not represented in the YANG model.

1. If portchannel name already exists, do not allow duplicitous write to ConfigDB

sonic-utilities config/main.py
[code]
2. Don't allow removal of portchannel if vlan membership exists

sonic-utilities config/

[2022-10-03 03:26] isabelmsft opened #12254 "[yang-models] Missing constraint in LOOPBACK_INTERFACE yang model"
#### Description
LOOPBACK_INTERFACE yang model is missing validation criteria. This constraint is missing from the YANG model, but it is checked in sonic-utilities adhoc validation. Included in the description is the adhoc validation code in sonic-utilities that we aim to replace with systemized YANG validation

If loopback interface name already exists, do not allow duplicitous write to ConfigDB

[2022-10-03 04:13] isabelmsft opened #12256 "[yang-models] Missing constraints in VLAN, VLAN_INTERFACE yang models"
#### Description

VLAN, VLAN_INTERFACE yang models are missing validation criteria. These constraints are missing from the YANG model, but they are checked in sonic-utilities using adhoc validation. Included in the description for each missing constraint is the adhoc validation code in sonic-utilities that we aim to replace with systemized YANG validation.

1. Don't allow write of default vlan (vi

[2022-10-03 05:56] #8162 closed

[2022-10-03 11:33] stepanblyschak opened #12257 "[warm-reboot] race between neighbor_advertiser and orchagent_restart_check"
#### Description

There's an issue observed during ```vxlan/test_vnet_vxlan.py``` test in ```WR_ARP``` test case that on some ports ARP response downtime is greater than 25 sec. The root cause for it seems to be in a race condition between ```neighbor_advertiser``` and ```orchagent_restart_check```. In ```warm-reboot``` script we first do call ```setup_control_plane_assistant``` which invokes ```n

[2022-10-03 11:52] stepanblyschak opened #12259 "[fpmsyncd] race condition leading to "Invalid VRF name" error"
#### Description

During testing ```vxlan/test_vnet_route_leak.py``` it is observed error in the logs:

[code]

This issue happens if we are getting an RTM_DELROUTE netlink message in fpmsyncd by the time the VRF is already deleted in the manager daemon. The fpmsyncd tries to get the name of the master interface by master if_index but it does not exist. The return code of ```getIfName``` is not ch

[2022-10-03 16:37] vaibhavhd commented on #11824
We need this PR on 202111 branch for upgrade path 202111->202205 to work.
https://github.com/sonic-net/sonic-utilities/pull/2272

The tags were added to PR 2272, but the commit has not been picked so far.

[2022-10-03 18:19] #12050 closed

[2022-10-03 21:49] dorDiogo commented on #11977
@qiluo-msft can you add me as assignee? I don't see the button so I probably don't have permission.

[2022-10-04 01:14] jcaiMR commented on #11431
@kellyyeh Since binding operation is critical to us, is it possible we set SO_REUSEADDR for binding socket. With this we can avoid some case that LLA already bind by other unknown app and still keep dhcpv6 relay work.

[2022-10-04 03:23] ysmanman commented on #12062
Hi @rlhui yes, https://github.com/sonic-net/sonic-utilities/pull/2372 fixed the issue.

[2022-10-04 03:23] #12062 closed

[2022-10-04 08:18] antonptashnik commented on #12070
@zhangyanzhao I see you put "triaged" tag so I suppose the issue was investigated. Please provide any investigation results and URLs to pending fixes if present. Thanks in advance!

[2022-10-05 08:37] msosyak commented on #11167
@saiarcot895 Have you had a chance to look at this?

[2022-10-05 13:46] kv-y opened #12279 "[Build] Incorrect version (md5 hash) of web files in some conditions"
#### Description

We use curl and md5sum to calculate version of web file for reproducible build:
https://github.com/sonic-net/sonic-buildimage/blob/1f0699f51e51cf9ca6e36d85bc632ee0e31792e4/src/sonic-build-hooks/scripts/buildinfo_base.sh#L54-L58

The main issues here:
1. This action is not atomic. We use curl two times: for calculation md5sum and for downloading file after that.
https://github.com

[2022-10-06 17:24] saiarcot895 commented on #12171
Resolved with #12260.

[2022-10-06 17:24] #12171 closed

[2022-10-06 22:59] #11924 closed

[2022-10-07 00:27] vaibhavhd commented on #11993
I missed this issue somehow. Do you have any failure logs that you can share?
I am trying to repro this too.

[2022-10-07 07:55] SavchukRomanLv opened #12301 "show interfaces neighbor expected returns empty output"
#### Description
Issue has been spotted while running [test_show_interfaces_neighbor_expected](https://github.com/sonic-net/sonic-mgmt/blob/680230f97c9618c2ac4f16abbba771fb903e5bce/tests/iface_namingmode/test_iface_namingmode.py#L777) TC

Issue started repro from SONiC [147826](https://dev.azure.com/mssonic/build/_build/results?buildId=147826&view=results)
I suspect PR [11894](https://github.com/s

[2022-10-07 09:57] Lasso0 commented on #9061
Hello anyone .
Can you provide more information about the "type" field in DEVICE_METADATA.

[2022-10-07 10:03] stepanblyschak opened #12303 "[sonic-eventd] errors in the logs: "echo_receive: failing to read echo rc=11""
#### Description

There are errors comming most probably from event framework during config reload. It looks like zmq returns EAGAIN because it is starting while networking service is restarting.

#### Steps to reproduce the issue:
1. do ```config reload -y````
2. Observe errors in the log

#### Describe the results you received:

[code]

#### Describe the results you expected:

No errors

#### Ou

[2022-10-07 11:29] dprital commented on #11993
It happens occasionally, we saw that the reset happens before the kexec LOG message is written to LOG.  If we put sleep of 2 seconds between the LOG message write and the reset, it always get into the LOG but it will impact the scheduling so we will not do it. (it was done only for testring)

[2022-10-08 08:26] kevinskwang commented on #11977
I think we can close this issue as we have confirmed this is a configuration issue.

[2022-10-09 03:06] kevinskwang opened #12321 "The port counter and queue counter can’t work after config reload"
#### Description

After did config reload/ config load_minigraph, the port counter and queue counter can’t work. Need to manually clear the directory portstat-* and queuestat-* under /tmp, then it can work normally. Tried on other platform, the issue is the same.
#### Steps to reproduce the issue:
1. Running the system for a while, guarantee there are some portstat-*, queuestats-* directory genera

[2022-10-09 03:24] #11077 closed

[2022-10-09 03:27] #7349 closed

[2022-10-10 19:21] ysmanman opened #12343 "[202205] system neighbor was not programmed in remote ASIC"
#### Description

We noticed the issue when triaging t2 sonic-mgmt test failure with 202205 image. The issue is that some system neighbors, including inband neighbor, were added in chassis neigh table, but they were missing in kernel and also hw in some asics.  We haven't figured out the exact trigger of the issue.  Our experiment shows config reload may fix this issue. So this seems due to some r

[2022-10-11 02:03] nhe-NV opened #12346 "There are some err msg after the installation of 201911 image with ONIE such as "Failed name lookup - disconnected path""
#### Description
After the onie installation for the 201911 image, and do the loganalyzer, There are some unexpected err msgs in the syslog:
There is a PR handled this issue in 202012, maybe this need to be backport to the 201911: https://github.com/sonic-net/sonic-buildimage/pull/6040

#### Steps to reproduce the issue:
1. onie install the 201911 image
2. run loganalyzer

#### Describe the result

[2022-10-11 02:16] dgsudharsan commented on #12346
This issue is fixed in 202012+ versions. However it exists in 201911. Should this fix be backported to 201911? https://github.com/sonic-net/sonic-buildimage/pull/6040

[2022-10-11 03:39] dgsudharsan commented on #7669
This should be fixed with https://github.com/sonic-net/sonic-utilities/pull/2398. @vaibhavhd  Can you please verify?

[2022-10-11 03:39] #7669 closed

[2022-10-11 11:09] JibinBao opened #12357 "[transceiver eeprom ][202012] when the cable is SFP/SFP+/SFP28, most key names are not consistent between "show interfaces transceiver eeprom -d" and "sudo sfputil show eeprom -d""
#### Description
When the cable is SFP/SFP+/SFP28, most key names are not consistent between "show interfaces transceiver eeprom -d" and "sudo sfputil show eeprom -d". For branch 202205, the outputs are consistent.

#### Steps to reproduce the issue:
1. show interfaces transceiver eeprom -d
2. sudo sfputil show eeprom -d
3. Compare the results for cable which is SFP/SFP+/SFP28

#### Describe the r

[2022-10-11 16:51] vaibhavhd opened #12361 "Warmboot fails with OA not ready for warm restart - pending SET oper on VXLAN table"
#### Description

When warmboot is issue with CPA, `RESTARTCHECK` fails with OA continuously being busy on a pending task `VXLAN_REMOTE_VNI_TABLE:Vlan1000:192.168.8.1|SET|vni:1000`

This issue has surfaced after a recent PR to fix another issue with interface creation during CPA:
https://github.com/sonic-net/sonic-utilities/pull/2398

[code]

#### Steps to reproduce the issue:
1. Install latest ma

[2022-10-11 18:26] saiarcot895 commented on #11167
Hi @msosyak,

I have some code changes that might fix this, but when running with a recent image, it seems that there's been some changes done to VXLAN tunnel creation codepath. Could you recheck to see if there's still a warm reboot issue with this particular config?

[2022-10-11 19:05] kv-y opened #12362 "[Build] Incorrect info in Build Configuration for SONIC_VERSION_CONTROL_COMPONENTS"
#### Description
Build configuration provides incorect info about SONIC_VERSION_CONTROL_COMPONENTS.
It always show value from rules/config.
https://github.com/sonic-net/sonic-buildimage/blob/e1765121b2fa3a5481e80c7db15da597964ab30f/slave.mk#L398

#### Steps to reproduce the issue:
1. make configure PLATFORM=broadcom SONIC_VERSION_CONTROL_COMPONENTS=all
2. check value of SONIC_VERSION_CONTROL_COMPO

[2022-10-12 01:19] dgsudharsan opened #12363 "[EVPN] MAC move from remote to Local does not work"
#### Description

When a MAC that's learnt remotely, is learnt local the move doesn't work. The issue is due to a race condition. On detecting mac move, fdbsyncd tries to delete remote mac first and then replace it with local mac. However frr will try to reinstall the remote mac as the local vtep cannot delete remote mac. This results in remote mac being reinstalled after the local mac is updated

[2022-10-12 01:22] dgsudharsan commented on #12363
@adyeung @srj102 @prsunny  FYI. I believe the issue is due to the ordering of events in fpmsyncd. Should replace be done first followed by del?

[2022-10-12 04:23] dgsudharsan commented on #12363
Debug from frr show that bridge fdb delete command deletes both fdb entries in the kernel which might be the issue. Deleting the mac without dst results in readd

bridge fdb show | grep 00:01:00:00:00:01
00:01:00:00:00:01 dev VTEP2-11 vlan 11 extern_learn master Bridge
00:01:00:00:00:01 dev VTEP2-11 dst 1.1.1.1 self extern_learn

2022/10/12 04:13:49.672998 ZEBRA: [QFR1P-4MVVD] Rx RTM_DELNEIGH AF_B

[2022-10-12 07:15] #12140 closed

[2022-10-12 08:46] #11431 closed

[2022-10-12 12:18] Hedgehog-Guru opened #12370 "[EVPN][warm-reboot] EVPN vxlan traffic loss during warm-reboot"
#### Description

In EVPN vxlan scenario with proper graceful restart config inside FRR, there is traffic loss during warm-reboot

#### Steps to reproduce the issue:
Topology: two switches connected with single port. Each switch has L2 access port to any traffic generator able to send L2 frames. Ixia in my case.
1. Configure split config mode.
2. Configure VTEPs on switches
3. Configure any vlan a

[2022-10-12 15:00] dgsudharsan commented on #12370
It appears FRR doesn't support graceful restart for EVPN address family https://github.com/FRRouting/frr/issues/9749

[2022-10-12 15:08] gechiang commented on #12145
@alpeshspatel did you perform conic-clear command from one of the account?  if you did, it is expected...
Please clarify...

[2022-10-12 15:17] gechiang commented on #12154
@xumia, please help triage this VS build issue. The badger in build page also shows VS build failure

[2022-10-12 15:20] gechiang commented on #12159
@prgeor , can you help triage this to see if this is a RFE or something broken and stop displaying the info correctly?

[2022-10-12 15:24] gechiang commented on #12163
@ITJamie this decision was done way back and was thoroughly discussed. if you have new use case for this that needs to add this back then please share so we can consider it.

[2022-10-12 15:27] gechiang commented on #12167
@prsunny please help triage this one.

[2022-10-12 15:33] gechiang commented on #12192
@AndriiLozovyi can you file a bug on snmpd as this is not an issue on the agent.
@qiluo-msft is this been tested and known issue?  If so, can you please help solicit help wanted?

[2022-10-12 15:45] gechiang commented on #12254
@zhangyanzhao please help put in correct project.

[2022-10-12 15:45] gechiang commented on #12256
@zhangyanzhao please help put in correct project.

[2022-10-12 19:52] adyeung commented on #12363
@skbhava to help take a look

[2022-10-12 19:58] adyeung commented on #12063
Closing this issue, #2404 already merged

[2022-10-12 19:58] #12063 closed

[2022-10-12 23:10] yxieca opened #12380 "[FRR 8.2.2] BGP sessions are unable to establish due to interface IP not recognized"
#### Description

Recently, many PR test for master/202205 branch has been failing because some BGP sessions were down after config reload or config load_minigraph, or just after deploying minigraph.

The issue has similarity to https://github.com/FRRouting/frr/issues/10404. However, the fix https://github.com/FRRouting/frr/commit/2cf7651f0b1b0123dc5568ebad00ac84a9b3c348 didn't address the issue.

[2022-10-12 23:25] yxieca commented on #12380
Alternative repro steps: download/build vs image from recent PR build but without including PR #12381. #12381 seems to be a workaround for this issue that we might be taking for the short term.

Deploy a kvm t1 testbed, the run this bash script:

`
#!/bin/bash -e

declare -i i

while true; do
    i=i+1
    echo "=== Iteration $i ==="
    sudo config reload -y &>/dev/null
    sleep 120
    bgp=$(sh

[2022-10-12 23:58] adyeung commented on #12380
@hasan-brcm will help take a look. @yxieca I'd suggest to backout #12381 first to unblock the build test while we are working on the RC

[2022-10-13 02:43] yxieca commented on #12380
back out? or are you suggesting take it first?

[2022-10-13 07:55] liushilongbuaa commented on #12279
Using curl only once is better. We can use local file to caculate md5sum value.
Actually, we have a cache for downloaded files. If we have cached file with correct sha value, we will use cached file.
If not, we will use latest file in Internet. It is not a critical error.

[2022-10-13 09:34] hisirbr commented on #12279
Yes, it's not critical error. But it's important when we do UpgradeVersion. In this case we disable DPKG cache. So if curl fails then we got incorrect md5hash in target/versions though whole build was successful. Later when we'll try to update info in files/build/versions and will build with enabled SONIC_VERSION_CONTROL_COMPONENTS we'll catch this error.
As a quick fix I'm testing now solution li

[2022-10-13 13:28] AndriiLozovyi commented on #12192
Made PR in sonic-mgmt that align **test_snmp_memory** with how cached memory is calculated in snmpd
Closing this issue

[2022-10-13 13:28] #12192 closed

[2022-10-13 16:31] ppikh opened #12392 "[logrotate] error in logs "Failed to start Rotate log files""
#### Description

Error in logs happen: "Failed to start Rotate log files"

#### Steps to reproduce the issue:
It reproduces only in case when time is 12:00AM and logrotation started

There are two triggers for logrotate - One is the default debian logrotate timer which runs daily at 12:00 AM. The second one is the logrotate by cron job which SONiC has created and runs every 10 mins.

The SONiC cr

[2022-10-13 16:37] yxieca commented on #12380
@adyeung @hasan-brcm please be advised that we've merged #12381, if you want to test a fix, it would be better to revert this #12381 in your test.

[2022-10-13 17:21] hasan-brcm commented on #12380
We had seen similar issues internally in our lab as well with frr 7.2 and
7.5 releases. The issue was if a netlink dump is triggered while updates
are still happening, the received dump had missing data.
The issues were ranging from ip-address missing (which is the case here) to
invalid vrf binding.

We added staging by intfmgr,vrfmgr declaring their replay-done state, which
was waited on by frr b

[2022-10-13 17:32] zhangyanzhao commented on #9692
Call for contributor. Thanks.

[2022-10-13 17:33] #10116 closed

[2022-10-13 17:37] zhangyanzhao commented on #10376
https://github.com/sonic-net/sonic-buildimage/issues/9692 is required to support this.

[2022-10-13 17:40] zhangyanzhao commented on #10386
CVL failure is not fixed yet, need BRCM to help. But this is not YANG issue. @adyeung

[2022-10-13 17:42] zhangyanzhao commented on #10145
@StormLiangMS  can you please raise PR for the pattern of BGP_Community

[2022-10-13 17:44] zhangyanzhao commented on #10668
@aslam4g  can you please join the next YANG group meeting next week? If no response within 1 month, this issue will be closed. Thanks.

[2022-10-13 17:55] zhangyanzhao commented on #12253
@isabelmsft  can you please help to provide more data:

1. config
2. logs for YANG validation success
3. exit error happened in the backend
If log is not proper to be shared publicly, please engage with @praveen-li  @qiluo-msft  @dgsudharsan  with mail.

[2022-10-13 23:58] ganglyu opened #12397 "[yang] sonic-mirror-session.yang does not align with ConfigDb"
#### Description

sonic-mirror-session.yang uses leaf-list for for src_port:
https://github.com/sonic-net/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-mirror-session.yang#L157

But src_port is not a list in ConfigDB:
admin@vlab-01:~$ sudo config mirror_session erspan add mrr_port 1.2.3.4 20.21.22.23 8 100 1234 0 Ethernet0

admin@vlab-01:~$ redis-cli -n 4 hgetall "MIRROR_SES

[2022-10-14 00:23] qiluo-msft commented on #12397
@praveen-li @Junchao-Mellanox Could you help investigate this issue? It is similar to port lanes attribute.

[2022-10-14 09:51] Junchao-Mellanox commented on #12397
I suppose this is by design. Redis hash type does not support `list` value. So, any field defined as `leaf-list` will be translated into a comma separated string. @praveen-li , correct me if I am wrong.

[2022-10-14 10:42] bingwang-ms opened #12408 "rsyslogd UDP server is rendered as `null`"
#### Description

We found a timing issue for script [rsyslog-config.sh](https://github.com/sonic-net/sonic-buildimage/blob/master/files/image_config/rsyslog/rsyslog-config.sh)
If the `lo` interface is not ready before below call, we will get `null` for `udp_server_ip`. As a result, the `$UDPServerAddress` in `/etc/rsyslog.conf` will be `null`, and `rsyslog` service will not work as expected. We w

[2022-10-14 20:08] DINGDAMU commented on #9741
Same issue here!

[2022-10-14 21:33] qiluo-msft commented on #12346
I added request label for 201911 branch.

[2022-10-15 05:27] #10548 closed

[2022-10-16 14:07] Hedgehog-Guru opened #12419 "[EVPN] Static MAC propagated via EVPN as dynamic"
#### Description

Static MAC propagated via EVPN without BGP MAC Mobility extended community, thus shown as dynamic on remote VTEP

#### Steps to reproduce the issue:
Two switches with any link connected them
1. Both switches configured for EVPN: VTEP, NVO, BGP, etc
2. Single vlan and vlan to VNI map
3. Add static MAC to SW1
[code]
4. Check MAC added locally as static:  fdbshow
5. Check that MAC o

[2022-10-16 18:24] antonptashnik opened #12420 "no PTF is built with SAI Thrift for py3 env"
#### Description
Recently QoS SAI test were migrated to Python 3 https://github.com/sonic-net/sonic-mgmt/pull/6363
Tests require Python SAI thrift lib to be installed in PTF but recent PTFs have the lib installed for Python 2 env only.
Moreover no bullseye sai thrift debs present among latest build artifacts.

#### Steps to reproduce the issue:

1. Install any recently built PTF
2. Login to PTF
3.

[2022-10-17 03:30] bingwang-ms opened #12421 "[Mellanox] Policer for mirror session is not as accurate as expected"
#### Description

We were seeing the policer for mirror session is not as accurate as expected on Mellanox ACS-MSN4600C devices.
Below is the configuration for policer
[code]
We are expecting to see the PPS of mirrored packets between `90` and `110` given the error tolerance is `10%`.
However, the test `everflow/test_everflow_testbed.py::TestEverflowV4EgressAclEgressMirror::test_everflow_dscp_with

[2022-10-17 07:58] #12032 closed

[2022-10-17 19:11] dorDiogo commented on #11977
@kevinskwang, can you close the issue? I don't have permission

[2022-10-17 21:32] #11977 closed

[2022-10-18 00:38] #12346 closed

[2022-10-18 03:18] dgsudharsan commented on #12370
@adyeung Can you please help to assign someone to confirm if warmboot with EVPN will not be supported in SONiC? EVPN HLD mentions that it is supported. Is it tested?

[2022-10-18 03:19] dgsudharsan commented on #12419
@adyeung  Can you please assign someone to investigate this?

[2022-10-18 07:33] dprital commented on #11993
@vaibhavhd - Any update here ?

[2022-10-18 09:59] bingwang-ms commented on #12421
Have it tracked on other place.
Close this issue.

[2022-10-18 09:59] #12421 closed

[2022-10-18 11:59] stephenxs opened #12438 "Configuring an IPv4 address with 32 bit mask on a non-loopback interface leads orchagent to abort"
#### Description

#### Steps to reproduce the issue:
1. Configure an IPv4 address with a 32-bit mask on a non-loopback interface (eg. `config interface ip add Ethernet0 10.10.10.8`)
2.
3.

#### Describe the results you received:

Orchagent can abort.

2 routing entries are generated when an IP address A.B.C.D/prefixLen is configured on an interface
1. A directly-connected routing entry whose prefi

[2022-10-18 17:02] vganesan-nokia opened #12442 "Dynamically learned neighbors are not deleted from ASIC_DB when eBGP interfaces are shutdown and the neighbors are flushed"
#### Description

After the eBGP neighbors interfaces (ports and port channles) are shut down, when "sonic-clear arp" or "sonic-clear ndp" command is issued, the dynamically learned eBGP neighbors are not cleared from ASIC_DB. The orchagent syslogs show that "Failed to remove still referenced neighbor". This is unexpected and incorrect. Since bringing down the eBGP interfaces will bring down the e

[2022-10-19 07:22] keboliu opened #12446 "[202012] "sfputil show eeprom" can not work on QSFP-DD cables"
#### Description
On the 202012 branch, run "**sfputil show eeprom**" on a QSFP-DD cable will see that it can not display the correct info of the cable.

This is because on the 202012 branch, sfputil doesn't have the logic to parse the QSFP-DD cable EEPROM(CMIS).

It can only handle the SFF8472 and SFF8436/8636 cables.

Check the detail from here: https://github.com/sonic-net/sonic-platform-common/

[2022-10-20 07:33] ganglyu opened #12457 "[yang] Need Yang for FG_NHG_MEMBER, FG_NHG table"
#### Description

We don't have Yang model for FG_NHG_MEMBER, FG_NHG, NEIGH table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: TUNNEL, FG_NHG_MEMBER, FG_NHG, NEIGH

#### Describe the results you received:
sonic-config-engine unit test failed.

[2022-10-20 07:35] ganglyu opened #12458 "Need Yang for SYSTEM_PORT table"
We don't have Yang model for SYSTEM_PORT table.

#### Description

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: SYSTEM_PORT, TUNNEL

#### Describe the results you received:
sonic-config-engine unit test failed.

#### Describe the results you exp

[2022-10-20 13:30] volodymyrsamotiy commented on #12070
I wasn't able to reproduce this issue on the image with the same hash (SONiC-OS-master.147814-b34d94be1).
I actually faced another error: "ValueError: Circular reference detected".
But I also tried on the latest image (SONiC-OS-master.162640-ef0559c03) and all looks working there.
Could you please check on latest image as well and confirm whether this issue is still reproducible in your case?

[2022-10-20 18:41] adyeung commented on #11944
Resolved by #2388

[2022-10-20 18:42] adyeung commented on #11902
resolved by https://github.com/sonic-net/sonic-utilities/pull/2391

[2022-10-20 18:42] #11902 closed

[2022-10-20 22:19] SuvarnaMeenakshi opened #12464 "test_cacl_application failing due to recent change in caclmgrd"
#### Description

#### Steps to reproduce the issue:
1. Bring up testbed with latest sonic-buildimage master and master branch of sonic-host-services submodule.
2. run test_cacl_application.

#### Describe the results you received:
below failure is seen:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Addition

[2022-10-21 00:14] ganglyu commented on #12397
@rupesh-k will fix this issue

[2022-10-21 00:18] ganglyu commented on #12457
@anish-n
Did you introduce these tables?

[2022-10-21 00:20] ganglyu commented on #12458
@mlorrillere
Did you introduce SYSTEM_PORT table?

[2022-10-21 06:37] isabelmsft opened #12466 "[yang] sonic-vlan-sub-interface.yang does not align with ConfigDB"
#### Description

VLAN_SUB_INTERFACE ConfigDB table has field: "vlan" but this is not present in yang model

#### Steps to reproduce the issue:
1. `sudo config subinterface add Eth64.100 100` to add subinterface with vlan id 100
2. ` redis-cli -n 4 hgetall "VLAN_SUB_INTERFACE|Eth64.100"` shows
[code]
#### Describe the results you received:
`vlan` field is not represented in `sonic-vlan-sub-interfa

[2022-10-21 23:37] SuvarnaMeenakshi commented on #12047
As this error is seen during boot up, multi-asic VS tests suite we have today in PR checker will not be able to flag this.
 This might be the case for any boot up exception seen in syslog.
If there is a reboot test case and post reboot exception seen in syslog will be flagged by log analyzer.

This specific issue is seen only on supervisor and not seen on multi-asic VS or multi-asic LC

[2022-10-22 01:21] prgeor commented on #10144
@shyam77git FYI

[2022-10-24 03:02] liuh-80 commented on #12047
Create following PR to fix this issue:
https://github.com/sonic-net/sonic-swss-common/pull/701

According to the database.sh code, it will wait until database ready by check sonic-db-cli return value, when database not ready sonic-db-cli should return 1:

https://github.com/sonic-net/sonic-buildimage/blob/master/files/build_templates/docker_image_ctl.j2

[code]

However, because a code regression

[2022-10-24 08:49] ZhaohuiS commented on #12420
@antonptashnik

The purpose of https://github.com/sonic-net/sonic-mgmt/pull/6363 is to fix the incompatibility of saithrift version and ptf version ran by test_qos_sai.

Since saithrift is upgraded into python3, we have to run env-python3/ptf in virtual environment in ptf container.
[https://github.com/sonic-net/sonic-mgmt/blob/master/tests/qos/qos_sai_base.py#:~:text=/root/env%2Dpython3/bin/ptf%2

[2022-10-24 18:44] isabelmsft opened #12477 "Need Yang for RADIUS_SERVER, RADIUS tables"
#### Description
We don't have Yang models for RADIUS_SERVER, RADIUS tables.

#### Steps to reproduce the issue:
1. Attempt to use GCU to apply-patch writing to RADIUS_SERVER or RADIUS tables
Sample JSON patch:
`[{"op": "add", "path": "/RADIUS_SERVER", "value": {}}, {"op": "add", "path": "/RADIUS_SERVER/10.10.10.10", "value": {"auth_port": "1812", "priority": "1"}}]`
#### Describe the results you

[2022-10-24 22:38] rlhui commented on #12442
@vganesan-nokia - which release is this found and what kind of platform e.g. chassis or pizza box?

[2022-10-24 22:40] rlhui commented on #12343
@ysmanman from Arista is working on this issue.

[2022-10-25 06:26] ganglyu opened #12483 "Need Yang model for TELEMETRY_CLIENT"
#### Description

Dialout client in telemetry container is using TELEMETRY_CLIENT table.
Minigraph and CLI do not cover this table, and we can only use redis CLI to configure this table. So this issue does not block anything.
We should have SONiC Yang model for all the tables in config db.

#### Steps to reproduce the issue:
We don't have any chance to run Yang validation for this table.

#### Des

[2022-10-25 22:45] vivekrnv opened #12496 "[dhcp6relay] Segfault can be seen when updates are made to DHCP_RELAY table"
#### Description

**Non-Functional:** Updates made to DHCP_RELAY table after process start could potentially result in dhcp6relay crash

**Technically, this isn't a functional issue because user is expected to restart dhcp_relay service after any config changes, so core generated wouldn't interrupt anything, but logs like this can appear**

`Oct 24 06:39:42.190618 r-leopard-45 INFO kernel: [ 3835.

[2022-10-26 02:33] stephenxs opened #12499 "telemetry process can not start if SONiC is installed from ONIE in 202012"
#### Description

#### Steps to reproduce the issue:
1. Install a 202012 based image from ONIE
2. Boot the image
3.

#### Describe the results you received:

The telemetry process does not start due to the following error
[code]

#### Describe the results you expected:

The telemetry should start without error

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

####

[2022-10-26 04:23] dgsudharsan opened #12502 "[FDB]All MACs are not synced to the kernel in scale scenario"
#### Description

During scale testing, all MACs are not synced to kernel. This can be easily reproduced by learning 10K MACs on a port and doing a shutdown/no shut.  Could this be due to fdbsyncd not checking if port is up in kernel before programming the mac?

The second scenario where the problem happens is when MAC ages out in kernel but not in switch (if FDB aging time is increased in switch)

[2022-10-26 06:02] dgsudharsan opened #12503 "[dhcp6relay][202012] dhcp_relay container is down due to the wrong generated config in config_db"
#### Description

This is due to PR https://github.com/sonic-net/sonic-utilities/pull/2336

config vlan dhcp_relay add 1679 2000:1::2  generates incorrect config in config_db
    "VLAN": {
        "Vlan1679": {
            "dhcp_servers": [   <<< --- Mistake is here
                "2000:1::2"
            ],
            "vlanid": "1679"
        }
    },

#### Steps to reproduce the issue:
1. confi

[2022-10-26 14:08] stepanblyschak opened #12512 "[202012][reboot-cause] Incorrect reboot reason after warm-reboot"
#### Description

If the switch is rebooted due to HW reason and after that rebooted with warm-reboot command the previous HW reboot reason is shown instead of warm reboot reason.

#### Steps to reproduce the issue:
1. Install from ONIE
2. Log in to switch
3. run command "warm-reboot"
4. wait few min
5. run command "show reboot-cause"

#### Describe the results you received:

[code]

#### Describe

[2022-10-26 14:10] stepanblyschak commented on #12512
@sujinmkang

[2022-10-26 15:12] arlakshm commented on #12503
@dgsudharsan add the details here. @yxieca to discuss with @kellyyeh

[2022-10-26 15:21] dgsudharsan commented on #12503
We do have dhcpv6_servers in master and 202205 as well https://github.com/sonic-net/sonic-buildimage/blob/3058fb62e6d19bcd069259136f5d6a7761a68f62/dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py#L27

Reverting it in 202012 will lead to functional issue. For now having dhcpv6_servers is not going to cause any issues and will help backward compatibility of show and config commands. Later

[2022-10-26 15:30] arlakshm commented on #12321
Please create a testgap issue for this problem

[2022-10-26 15:38] arlakshm commented on #12357
Duplicate of https://github.com/sonic-net/sonic-buildimage/issues/12201

[2022-10-26 15:47] arlakshm commented on #12361
The EVPN-VXLAN feature seems to be interfering with CPA feature. This is causing a warmboot problem with CPA
@yxieca to start thread with @adyeung on this issue.

[2022-10-26 16:01] arlakshm commented on #12370
@yxieca to start the thread with @adyeung on EVPN warmboot issues.

[2022-10-26 16:22] vivekrnv commented on #12503
Few more details: From this commit, https://github.com/sonic-net/sonic-utilities/pull/2271 the cli started to add even the ipv6 addresses to the dhcp_servers@ field and when there are only ipv6 addresses present under dhcp_servers@ field under a VLAN table, the supervisord.conf file is not properly generated from the template and is the reason why the container is down.

[2022-10-27 04:38] xumia opened #12523 "Add the debian mirror template to sonic base docker image"
#### Description

Currently, the debian buster and bullseye uses different mirror, we should use the same template to reduce mirror missing issue and make easy to add a new distribution, for example bookworm.
https://github.com/sonic-net/sonic-buildimage/pull/12522

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### O

[2022-10-27 05:58] #12503 closed

[2022-10-27 08:32] galdem6 opened #12524 "SWSS Error when shutting down interfaces in ECMP Fine Grain mode"
#### Description

I created a simulation for validating ECMP Fine Grain Feature.
The simulation includes FG_NHG_PREFIX with 2 Banks.
After configuring ECMP Fine Grain topology I Shutdown interfaces to see indices changes.
When trying to shutdown interface that it indices wasn't changed in the previous shutdown I get SIGABRT.

#### Steps to reproduce the issue:
1. configure routes as follow:
sudo c

[2022-10-27 12:34] coolkidBigEye opened #12528 "After warm"
Ethernet11 received lldp packet  as follows：
tcpdump: listening on Ethernet11, link-type EN10MB (Ethernet), snapshot length 262144 bytes
20:25:07.783897 LLDP, length 108
        Chassis ID TLV (1), length 7
          Subtype MAC address (4): 98:19:2c:65:47:90
          0x0000:  0498 192c 6547 90
        Port ID TLV (2), length 11
          Subtype Local (7): 100GE1/0/3
          0x0000:  0731 3030

[2022-10-27 12:58] coolkidBigEye commented on #12528
Maybe something wrong in kernerl，we do action:
1.ifconfig Ethernet11 down
2.ifconfig Ethernet12 up

show lldp neighbors Ethernet11
-------------------------------------------------------------------------------
LLDP neighbors:
-------------------------------------------------------------------------------
Interface:    Ethernet11, via: LLDP, RID: 20, Time: 0 day, 00:06:08
  Chassis:
    ChassisID:

[2022-10-27 15:11] liat-grozovik commented on #12512
@prgeor , @sujinmkang could you please take further look?
This seems to be a degradation on 202012.

[2022-10-27 17:35] zhangyanzhao commented on #12483
@adyeung can you please help to find someone in BRCM to help to create YANG model? Thanks.

[2022-10-27 17:36] zhangyanzhao commented on #12477
@adyeung can you please help to check if BRCM can help to define YANG model for these tables?

[2022-10-27 17:38] zhangyanzhao commented on #12457
@anish-n can you please help to create YANG model for these tables? Thanks.

[2022-10-27 17:41] zhangyanzhao commented on #12256
This issue has dependency on custom validation YANG.

[2022-10-27 17:47] zhangyanzhao commented on #9663
@aravindmani-1 will provide the platform.jason file

[2022-10-27 17:50] zhangyanzhao commented on #9663
@praveen-li  will talk to Sangita

[2022-10-27 17:57] zhangyanzhao commented on #10174
@aravindmani-1 will try the suggestion. @praveen-li

[2022-10-27 17:59] aravindmani-1 commented on #9663
[platform_json.zip](https://github.com/sonic-net/sonic-buildimage/files/9882057/platform_json.zip)

[2022-10-27 18:31] zhenggen-xu commented on #9663
@aravindmani-1  As mentioned before,  the issue seemed to be here:  https://github.com/sonic-net/sonic-utilities/blob/4a3d49d359f787cae896d65fa882fbaaac6e57f2/config/main.py#L4146 ,  can you remove the below a few lines of code for optimization and try while new logic implementing is not available yet?

[code]

[2022-10-27 21:59] adyeung commented on #12361
@skbhava from BRCM will followup

[2022-10-27 22:05] adyeung commented on #12370
@nkelapur from BRCM will followup

[2022-10-27 23:01] adyeung commented on #12502
@skbhava from BRCM to help take a look

[2022-10-27 23:02] adyeung commented on #12419
@skbhava from BRCM to help take a look

[2022-10-28 00:08] mihirpat1 opened #12539 "[Nokia] Restarting SWSS followed by issuing shut or no shut causes no change on admin status"
#### Description
It seems that on Nokia IXR7250e, the admin status remains unchaged for any shut or no shut config done for a port after restarting SWSS docker container

#### Steps to reproduce the issue:
1. Restart SWSS docker container (docker restart swss0)
2. For a port which is in shut state, issue no shut or for a port in no shut state, issue shut. The admin status will remain unchanged whi

[2022-10-28 04:54] aravindmani-1 commented on #9663
Removing those lines didn't help.

[2022-10-28 04:55] aravindmani-1 commented on #9663
Removing those lines didn't help.

[2022-10-28 05:04] zhenggen-xu commented on #9663
Please include the CLI output.  There were two issues in the ticket:
1,  Port with same speed before and after breakout would be ignored.  This should be fixed after removing the 3 lines.
2,  `None` field in CLI.   This need to be supported, and currently it was not implemented.

[2022-10-28 05:18] aravindmani-1 commented on #9663
Thanks @zhenggen-xu. Removing those 3 lines resolved the first issue(Port with same speed before and after breakout would be ignored)

**CLI output:**
        root@sonic:~# config interface breakout Ethernet0 "1x100G(4)" -y -f

        Running Breakout Mode : 1x400G
        Target Breakout Mode : 1x100G(4)

        Ports to be deleted :
         {
            "Ethernet0": "400000"
        }

[2022-10-28 13:16] volodymyrsamotiy commented on #10336
This issue still exists and I observe it on all branches (I checked on "master", "202205", "202012").
@yozhao101, @judyjoseph, is there any plan for fixing it?
Thanks!

[2022-10-28 15:29] dgsudharsan commented on #12392
There are two triggers for logrotate - One is the default debian logrotate timer which runs daily at 12:00 AM. The second one is the logrotate by cron job which SONiC has created and runs every 10 mins.

The SONiC cron job has a logic to kill any logrotate that is running. https://github.com/sonic-net/sonic-buildimage/pull/2942

# Attempt to rotate system logs once every 10 minutes.
# First kill a

[2022-10-28 15:53] praveen-li commented on #9663
@Aravind, Kindly raise PR for the same and assign review to Sangita.

Thanks,

Regards
Praveen
________________________________
From: Aravind Mani ***@***.***>
Sent: Thursday, October 27, 2022 10:18 PM
To: sonic-net/sonic-buildimage ***@***.***>
Cc: Praveen Chaudhary ***@***.***>; Mention ***@***.***>
Subject: Re: [sonic-net/sonic-buildimage] [DPB] swss docker crashes when doing DPB in DellEMC Z93

[2022-10-28 17:02] dgsudharsan commented on #12170
@preetham-singh @adyeung  Any update on ETA for this issue?

[2022-10-28 19:23] kishorekunal01 commented on #12419
This is FRR issue (sticky MAC) bit is not getting set in the MACIP route advertisement.
Recreated the issue on my setup, and seeing the originator router is not setting sticky MAC

From Techsupport:
Local node:
00:01:00:aa:aa:aa dev Ethernet64 vlan 11 master Bridge static

Remote node:
00:01:00:aa:aa:aa dev VTEP2-11 vlan 11 extern_learn master Bridge   <<< Static is not set
00:01:00:aa:aa:aa dev V

[2022-10-28 19:34] mihirpat1 commented on #12539
Closing this issue since restarting swss0 through "docker restart swss0" is not a recommended way. Also, verified that things are working if I use "systemctl restart swss@0.service" instead.

[2022-10-28 19:34] #12539 closed

[2022-10-28 23:47] adyeung commented on #12363
@kishorekunal01 has the RC, he will post a fix

[2022-10-28 23:58] adyeung commented on #12502
@kishorekunal01 from BRCM to take a look

[2022-10-29 00:13] kishorekunal01 commented on #12502
This is not issue, this is kernel behavior, and reprogramming is done so add back the MAC to kernel as per design

The second scenario where the problem happens is when MAC ages out in kernel but not in switch (if FDB aging time is increased in switch). This results in fdbsyncd processing stale mac notifications and reprogramming them based on status in state_db. In this scenario it is always obse

[2022-10-29 00:35] kishorekunal01 commented on #12502
@dgsudharsan

When interface goes down all the entry in the FDB_TABLE for the interface should get deleted by the switch, And when interface comes up(in kernel the interface will be up) all the MAC need to be added back in FDB_TABLE.

If it is not working please enable below debug "swssloglevel -l INFO -c fdbsyncd" and provide the tech support.

[2022-10-29 01:28] #12343 closed

[2022-10-29 01:39] ysmanman commented on #11892
Hi @arlakshm,  should https://github.com/sonic-net/sonic-buildimage/pull/12540 fix this issue too?

[2022-10-31 09:58] jcaiMR commented on #12301
Solution under review with discussion, will merge soon.

[2022-10-31 13:49] EdenGri opened #12558 "Test failure test_BlockUseSwsssdk()"
#### Description

The test test_BlockUseSwsssdk() failed with the error message "AttributeError: 'module' object has no attribute 'run'".
I think that it runs Python 2.7 when the function 'run' of the subprocess (in line 38) is available only in Python 3.5 and newer

The test test_BlockUseSwsssdk() in the sonic-pyswssdk repo failed with the error message "AttributeError: 'module' object has no att

[2022-10-31 16:39] dgsudharsan commented on #12133
@prgeor Can you please provide an ETA for the fix?

[2022-10-31 21:11] dgsudharsan commented on #12502
@kishorekunal01 The issue is not with reprogramming the MACs but the consistency of mac between ASIC and kernel. One of the dumps captured has swssloglevel enabled as info. As mentioned there are two scenarios where macs are not properly reprogrammed in the kernel. I believe fdbsyncd is not robust enough to handle these scenarios. Please let me know if you need more details.

[2022-10-31 23:24] kishorekunal01 commented on #12502
@dgsudharsan I tried the interface up/down test case on Broadcom chipset. And I don't see any issue with MAC sync between the ASIC and kernel.

I have enable debug "swssloglevel -l INFO -c fdbsyncd"  and collected the tech support. Same is attached with this reply.

As I have earlier replied
Step 1: When interface goes down all the entry in the FDB_TABLE for the interface should get deleted(Trigge

[2022-10-31 23:34] qiluo-msft commented on #11521
@stepanblyschak We should support multiple tags. I could give a use case. If some docker controller ask SONiC device to pull a latest `docker-macsec:latest` image, the previous image will lose the tag and it is not convenient to refer the previous one. If would be quite meaningful, if we add a label like `master.125402-ba991ab2b` because it comes with this image version.

[2022-10-31 23:35] kishorekunal01 commented on #12502
I have enable debug "swssloglevel -l INFO -c fdbsyncd" and collected the tech support. Log file attached

[sonic_dump_sonic_20221031_230704.zip](https://github.com/sonic-net/sonic-buildimage/files/9905594/sonic_dump_sonic_20221031_230704.zip)

[2022-11-01 03:26] WistronNetwork commented on #11930
@prgeor would you please check? any comment? thanks.

[2022-11-01 13:00] romanvasylys opened #12570 "[eventd] error in logs "Deserialize failed: input stream errorstr""
#### Description

Recently we have eventd error in logs after restarting eventd.service:
[code]

#### Steps to reproduce the issue:
1. docker restart eventd
2. sudo systemctl restart eventd.service
#### Describe the results you received:
Got eventd deserialize fail
#### Describe the results you expected:
No errors during eventd.service restart
#### Output of `show version`:

[code]
#### Output of

[2022-11-01 16:29] #11211 closed

[2022-11-01 18:06] isabelmsft opened #12573 "Need Yang for SNMP_AGENT_ADDRESS_CONFIG, SNMP_USER tables"
#### Description
We don't have Yang models for SNMP_AGENT_ADDRESS_CONFIG, SNMP_USER tables.

#### Steps to reproduce the issue:
1. Attempt to use GCU to apply-patch writing to SNMP_AGENT_ADDRESS_CONFIG or SNMP_USER tables

#### Describe the results you received:
GCU patch application failed with error:
ValueError: Given patch is not valid because it has changes to tables without YANG models

####

[2022-11-01 21:04] arlakshm opened #12575 "chassis asic table is getting overwritten in the supervisor"
#### Description

#### Steps to reproduce the issue:
1.In the PMON design for SONiC Chassis, the `chassisd` process update the `chassis state db` with the asic information. On the supervisor `chassisd` will be update asic information of the fabric ASIC. The chassisd on the linecard will update the information of the linecard asics.
2. In `chassisd` the key `CHASSIS_ASIC_TABLE|asic<id>` is used to

[2022-11-02 04:28] xumia commented on #12523
PR to fix the issue.
https://github.com/sonic-net/sonic-buildimage/pull/12557

[2022-11-02 04:58] preetham-singh commented on #12170
ETA: 7th Nov'2022

[2022-11-02 06:02] #8504 closed

[2022-11-02 16:08] snider-nokia opened #12587 "[sonic-swss] - Netlink messages can be lost inbound from kernel and STATE_DB PORT_TABLE 'admin_status' field is misleading"
#### Description

1.)  The STATE_DB PORT_TABLE admin_status attribute/field is being improperly updated from within linksync.cpp (method LinkSync::onMsg) to reflect interface IFF_UP flag status as passed from the kernel via Netlink event(s).  Either this admin_status attribute/field should be eliminated or it should be renamed (to properly reflect that it represents the Netdev IFF_UP flag status).

[2022-11-02 23:07] wenyiz2021 opened #12590 "[Arista] [chassis] [platform] platform.json mismatch with platform_api_conn returned"
#### Description
•	Test_chassis.py::test_modules
o	str2-7804-lc6-1 WARNING pmon#platform_api_server.py: API 'get_module_index' not implemented
	warning though, but not seen on other LCs or SUP

•	Test_chassis.py::test_get_name
	SUP has mismatch. Please update platform.json file, name should be DCS-7800-SUP1A, not DCS-7800A-SUP1A
	LC6 has name mismatch, but not platform.json issue, LC6 returns w

[2022-11-03 03:15] dgsudharsan commented on #12502
@kishorekunal01 Thanks. For the port up down scenario, I did some more analysis and found the rc to be due to SAI notification issue which I am handling internally.

However I also specified the netlink buffer issue which you can see from the logs

**Oct 23 20:24:52.707880 qa-eth-vt03-2-3700v ERR swss#fdbsyncd: :- readData: netlink reports out of memory on reading a netlink socket. High possibilit

[2022-11-03 22:37] prgeor commented on #12512
@sujinmkang looks like the platform is NOT clearing the hardware reboot reason after warm reboot.

[2022-11-04 05:55] aravindmani-1 commented on #10144
I observed that xcvrd crash trace are seen once DPB is done in Dell Z9332f platform.
**Logs:**
        config interface breakout Ethernet56 "4x100G[50G]" -y -f

        Running Breakout Mode : 1x400G
        Target Breakout Mode : 4x100G[50G]

        Ports to be deleted :
         {
            "Ethernet56": "400000"
        }
        Ports to be added :
         {
            "Ethernet56": "1000

[2022-11-04 18:06] sanmalho-git opened #12608 "[chassis][T2] orchagent crashes while running test_crm_nexthop_group in test_crm.py due to SAI_STATUS_INSUFFICIENT_RESOURCES"
#### Description
While running CRM suite against a T2 chassis, we see orchagent crash during the test test_crm_nexthop_group in test_crm.py.

Logs from the test indicate that the test is trying to config 805 nexthop groups.
[code]

Command sent:
[code]

syslog error messages seen (crash in asic0 orchagent):
[code]

#### Steps to reproduce the issue:
1. Run test_crm.py with T2 min or T2 topology ag

[2022-11-04 18:07] sanmalho-git commented on #12608
@arlakshm - fyi

[2022-11-06 23:53] arlakshm opened #12614 "[chassis] monit checker failing on supervisor"
#### Description
The monit checker `container_checker` fails  with below error on Arista 7808 supervisor
[code]

#### Steps to reproduce the issue:
1. Start the monit check on supervisor
2.
3.

#### Describe the results you received:
`container_checker` fails

#### Describe the results you expected:
`container_checker` should work on supervisor

#### Output of `show version`:
Master and 202205
[co

[2022-11-07 05:50] isabelmsft opened #12620 "[yang] sonic-snmp.yang does not align with ConfigDB"
#### Description

sonic-snmp.yang defines leaf Contact, but sonic-utilities writes to ConfigDB with key {contact name}. So YANG validation fails when the key is {contact name} and not the string "Contact"
[code]

#### Steps to reproduce the issue:
1. Create JsonPatch to write to SNMP contact field. Sample JsonPatch:
[code]
2. Using GCU with JsonPatch above, attempt to update SNMP contact field
[co

[2022-11-07 06:42] nkelapur commented on #12370
FRR currently does not support BGP Graceful restart for EVPN address-family. Hence EVPN warm-reboot will not be hitless in Sonic until this support is available in FRR.
Updated EVPN HLD with this note

[2022-11-07 08:47] ZhaohuiS commented on #12420
@antonptashnik
mellanox's saithrift is built for bullseye https://dev.azure.com/mssonic/build/_build/results?buildId=170542&view=logs&j=d37bc48d-29a0-534f-a1dc-3d699deb17a6&t=933dfdc6-d074-504d-ee66-71743fd9ae4e&l=2618

[code]

VS's saithrift is still built for buster, because docker-ptf has been upgrade to bullseye, it only has virtual py3 environment inside https://dev.azure.com/mssonic/build/_b

[2022-11-07 09:09] xwjiang-ms opened #12621 "[Mellanox] [techsupport] LogAnalyzer report error at teardown of test_techsupport in some Mellanox platforms"
#### Description

When we run test script `tests/show_techsupport/test_techsupport.py`, will get below errors at teardown of test_techsupport in some Mellanox platforms.

Error occurred in:

OSVersion | Platform | HardwareSku
-- | -- | --
20191130 | x86_64-mlnx_msn3800-r0 | Mellanox-SN3800-D112C8
20201231, 20220530, master | x86_64-mlnx_msn4600c-r0 | ACS-MSN4600C

Error messages:

E 	Traceback:
E

[2022-11-07 15:05] volodymyrsamotiy opened #12625 "[warm-reboot] Upgrade from 201911 to 202205 is failing due to fpmsyncd crash"
#### Description
201911->202205 warm-upgrade is failing because of fpmsyncd crash on reconciliation stage during 202205 initialization after warm-reboot.
[code]

fpmsyncd is crashing due to shown below ```assert``` during routes reconciliation.
https://github.com/sonic-net/sonic-swss/blob/202205/warmrestart/warmRestartHelper.cpp#L295
[code]

Not 100% sure if it is root cause for fpmsyncd crash, bu

[2022-11-07 16:56] stepanblyschak commented on #11521
@qiluo-msft Just to understand is this your use case? Have you tested it?:
1. Load SONiC image in local docker mode
2. Deploy *latest* with kubernetes
3. Switch back to local and observe there's no original docker SONiC was built with?

[2022-11-07 17:19] stepanblyschak commented on #11521
Discussed online. Will keep SONiC version string instead of *latest*, but will not keep the *latest*, scripts generated by *spm* are using image id to identify image. Medium priority issue.

[2022-11-07 17:23] prgeor commented on #12133
@dgsudharsan there is an inherent issue where mlnx platform make several ethool command call via process call that make sfputil much slower in mlnx platform. Do you still see the issue after this [fix](https://github.com/sonic-net/sonic-buildimage/pull/12480)

[2022-11-07 17:29] vivekrnv commented on #12133
That fixes significantly reduces the response time but the approach still involves making multiple file open and read calls. I think SfpBase and the others can be optimized to reduce read_eeprom calls.

[2022-11-07 20:31] dgsudharsan commented on #12621
@xwjiang-ms Can you please attach techsupport to the ticket?

[2022-11-07 23:30] #12614 closed

[2022-11-08 00:18] wenyiz2021 opened #12629 "[chassis] [arista] thermal info mismatch between platform.json and platform_api_conn"
#### Description
[code]

FAILED platform_tests/api/test_chassis.py::TestChassisApi::test_thermals[str2-7804-lc6-1] - Failed: Number of thermals (6) does not match expected number (5)
FAILED platform_tests/api/test_chassis.py::TestChassisApi::test_thermals[str2-7804-lc7-1] - Failed: Number of thermals (6) does not match expected number (5)

#### Steps to reproduce the issue:
1. run test_chassis.py:

[2022-11-08 02:27] wenyiz2021 opened #12630 "[Arista] [chassis] psus info mismatch between platform.json and platform_api_conn"
#### Description
[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2022-11-08 07:08] jostar-yang opened #12634 "[PDDF] sfputil show lpmode will get error message"
#### Description

When cmd "sfputil show lpmode", console will dump error message.
#### Steps to reproduce the issue:
1. Insert QSFP transceiver to port.
2. Cmd "sfputil show lpmode" will get error message.

3.

#### Describe the results you received:
Get below fail message,
File "/usr/local/lib/python3.9/dist-packages/sfputil/main.py", line 1064, in lpmode
    lpmode = platform_chassis.get_sfp(ph

[2022-11-08 08:04] FuzailBrcm commented on #12634
I am working on this issue.

[2022-11-08 09:02] xwjiang-ms commented on #12621
@dgsudharsan Sure, I have uploaded the output of `show techsupport` in x86_64-mlnx_msn4600c-r0.

[2022-11-08 18:52] isabelmsft opened #12640 "Need Yang for CHASSIS_MODULE table"
#### Description
We don't have Yang models for CHASSIS_MODULE table.

#### Steps to reproduce the issue:
1. Attempt to use GCU to apply-patch writing to CHASSIS_MODULE table

#### Describe the results you received:
GCU patch application failed with error:
ValueError: Given patch is not valid because it has changes to tables without YANG models

#### Describe the results you expected:
GCU patch app

[2022-11-08 21:39] dgsudharsan opened #12643 "[DB Migrator] DB Migration from 202012 to 202205 does not work"
#### Description

The latest 202012 has DB migrator version as [2_0_2](https://github.com/sonic-net/sonic-utilities/blob/e296a1a93faa84700e4833133135c0b8a28cf33d/scripts/db_migrator.py#L49). However there is no handler for this version in [202205](https://github.com/sonic-net/sonic-utilities/blob/202205/scripts/db_migrator.py)

Nov  8 03:30:48 sonic config-setup[3464]: Running command: /usr/local/

[2022-11-08 21:53] dgsudharsan commented on #12621
@xwjiang-ms I need the tar.gz file generated at the end of techsupport to be attached to the issue. Can you please attach the file?

[2022-11-09 00:53] #9739 closed

[2022-11-09 07:16] xwjiang-ms commented on #12621
Hi @dgsudharsan, the tar.gz file is too big, can you tell me which file you want exactly or give me an email address?

[2022-11-09 09:26] YuriiHordynskyi commented on #11217
Hello @Rancho333, Could you please share some details on how it was fixed?
Looks like I have the same issue with the BCM56770_A0:
[code]

[2022-11-09 16:35] prgeor commented on #12587
@judyjoseph if we need more netlink socket buffer increased

[2022-11-09 16:43] prgeor commented on #12558
@qiluo-msft could you check why we still using python2.x in test environment?

[2022-11-09 16:44] prgeor commented on #12528
@coolkidBigEye could you attach the tech support?

[2022-11-09 16:46] prgeor commented on #12528
@coolkidBigEye could you check if this fix is included https://github.com/sonic-net/sonic-buildimage/pull/9519 and if lldp restart helps?

[2022-11-09 16:49] prgeor commented on #12524
@volodymyrsamotiy could you check if its a sonic issue?

[2022-11-09 16:52] prgeor commented on #12524
@galdem6 could you attach tech support?

[2022-11-09 16:53] prgeor commented on #12523
@xumia could you check why issue is open after PR merged?

[2022-11-09 17:00] prgeor commented on #12512
@stepanblyschak could you confirm when do you clear hardware reboot reason

[2022-11-09 17:15] prsunny commented on #12524
@anish-n , can you please take a look?

[2022-11-09 18:00] anish-n commented on #12524
Sure will take a look

[2022-11-09 18:18] stepanblyschak commented on #12512
@prgeor Do you mean the hardware should clear the reboot reason when doing warm/fast reboot?
How the hardware should know that there was a kexec type of reboot if this is purely software kind of reboot?

@keboliu Could you please comment on that?

[2022-11-09 22:09] dgsudharsan commented on #12621
Hi @xwjiang-ms In that case can you please attach the entire syslog file that contains this error message?

[2022-11-10 05:15] #12523 closed

[2022-11-10 05:16] xumia commented on #12523
The issue was created before the PR https://github.com/sonic-net/sonic-buildimage/pull/12557 merged.

[2022-11-10 07:45] liuh-80 commented on #12558
This issue fixed by https://github.com/sonic-net/sonic-py-swsssdk/pull/128

[2022-11-10 17:55] xwjiang-ms commented on #12621
Hi @dgsudharsan, log file uploaded and show techsupport refreshed, please take a look.

[2022-11-11 04:08] dgsudharsan commented on #12621
@xwjiang-ms This is a known firmware limitation. When techsupport is taken, it invokes fw dump. While taking the fw dump, the fw is busy and doesn't respond to other calls. The access of sfp eeprom happens through firmware and xcvrd gets the DOM fields every 60 seconds which fails during the fw dump. This is a temporary issue and this log can be ignored. Currently there is no fix available for thi

[2022-11-11 05:31] nkelapur commented on #12625
The old design for warm-reboot was expecting that the number of fields will be same before and after warmreboot. However for a warm-reboot with upgrade scenario clearly this is not the case. Hence the assert needs to be removed and instead need to return "true" so that the new  route entry gets written to the APP-DB

[2022-11-11 06:17] xwjiang-ms commented on #12621
OK, I will add code to ignore this msg, thanks @dgsudharsan

[2022-11-11 07:32] jostar-yang opened #12675 "[sonic_xcvr/cmis] set_lpmdoe status get false on some 400G transceiver"
#### Description

When we insert 400G-ZR transceiver to machine(accton as9716), we find sfputil setlpmode will get status false.  Check sfputil show lpmode is fine and make sure eeprom can be set.
We trace code and find it happen on  /usr/local/lib/python3.9/dist-packages/sonic_platform_base/sonic_xcvr/api/public/cmis.py

def set_lpmode(self, lpmode):
     if lpmode is True:
               # Force

[2022-11-11 17:08] adyeung commented on #11621
Fix merged

[2022-11-11 17:08] #11621 closed

[2022-11-11 18:32] rlhui commented on #12049
@mlok-nokia fix should be in 202205 now, could you confirm if issue is fixed?

[2022-11-11 18:33] rlhui commented on #12047
fix available, please confirm if this can be closed @mlok-nokia

[2022-11-11 19:16] mihirpat1 opened #12681 "Adding multi-asic check for EEPROM dump command"
#### Description
It currently seems that on platforms with multiple asics, an error is not thrown if user doesn't specify the asic number for “show int transceiver eeprom <port_name>” command and an incorrect o/p is displayed.
We need to add an check while handling the above command to ensure that a user specifies an asic number for multi-asic platforms while executing EEPROM command (similar to a

[2022-11-11 21:46] wenyiz2021 commented on #10243
closing as PR merged: https://github.com/sonic-net/sonic-mgmt/pull/6417

[2022-11-11 21:46] #10243 closed

[2022-11-12 02:07] rlhui commented on #12608
@deepak-singhal0408

[2022-11-13 09:45] galdem6 commented on #12524
Hi.
for tech support I had to reproduce the bug on different system.

The config here is a bit different but the problem is the same.
the config is:

sudo config vrf add Vrf1
sudo config vrf add Vrf2
sudo config vrf add Vrf3
sudo config vrf add Vrf4
sudo config vrf add Vrf5
sudo config vrf add Vrf6
sudo config vrf add Vrf7
sudo config vrf add Vrf8

sudo config interface vrf bind Ethernet0 Vrf1
sud

[2022-11-13 20:38] #12558 closed

[2022-11-14 10:06] stepanblyschak opened #12699 "[warm-reboot] Warm-reboot does not work with control plane assistant configuration"
#### Description

Recently warm-reboot with control plane assistant setup started failing on orchagent restart check:

[code]

The issue started to happen after SAI implementation update. In our latest SAI P2P tunnels are now supported (```SAI_TUNNEL_PEER_MODE_P2P```). Therefore the logic inside orchdaemon chooses a p2p implementation of evpn remote vni orch:

https://github.com/sonic-net/sonic-sw

[2022-11-14 16:02] antonptashnik opened #12701 "[system-health] User-defined health checkers fail to start"
#### Description

[Per HLD](https://github.com/sonic-net/SONiC/blob/master/doc/system_health_monitoring/system-health-HLD.md#142-extend-the-monitoring-with-adding-user-specific-program-to-monitor) , a user can define own checkers to be executed on health checks in a form provided below, in file /usr/share/sonic/device/<platform>/system_health_monitoring_config.json
[code]
Attempt to add any script

[2022-11-14 16:50] sujinmkang commented on #12512
@stepanblyschak can you add this hardware reboot reason clear in the fast/warm-reboot plug in?

[2022-11-15 00:38] wenyiz2021 commented on #12630
PR https://github.com/sonic-net/sonic-buildimage/pull/12667 merged

[2022-11-15 00:38] #12630 closed

[2022-11-15 01:21] kishorekunal01 commented on #12502
@prsunny Can we increase the netlink buffer. Currently it is set to 3MB, Can we increase the netlink buffer size to 16MB.

    /* Set socket buffer size to 3MB */
    nl_socket_set_buffer_size(m_socket, 3145728, 0);

When there is a dump from kernel it is possible that netlink buffer run out of memory with 10k MAC scale. Hence this error is reported.

[2022-11-15 21:40] #12575 closed

[2022-11-16 07:44] dgsudharsan commented on #12621
@xwjiang-ms Please let me know if we can close this bug?

[2022-11-16 19:23] mannytaheri opened #12727 "[Chassis] Many Errors are seen when a config reload or reboot is done on a J2C+ line card"
#### Description
We see many error messages when we do either a config reload or a reboot on a J2C+ line card in a multi asics chassis:

#### Steps to reproduce the issue:
1. Do either a config reload or reboot on a J2C+ line card

#### Describe the results you received:
We see the following error messages:
ERR swss1#orchagent: :- removeLag: Failed to remove ref count 4 LAG PortChannel106
ERR swss

[2022-11-17 12:01] stepanblyschak commented on #12699
@vaibhavhd @prsunny Since it is related to vxlan and warm reboot could you please check?

[2022-11-17 19:24] wenyiz2021 commented on #12629
PR https://github.com/sonic-net/sonic-buildimage/pull/12714 merged

[2022-11-17 19:24] #12629 closed

[2022-11-17 19:25] wenyiz2021 commented on #12590
https://github.com/sonic-net/sonic-buildimage/pull/12714
https://github.com/sonic-net/sonic-buildimage/pull/12667
https://github.com/sonic-net/sonic-buildimage/pull/12627
fixed these info

[2022-11-17 19:25] #12590 closed

[2022-11-17 20:58] romanvasylys opened #12738 "[snmp] IOError in logs after SNMP container restart"
#### Description

Recently we have IOError in logs after restrting SNMP container due to no value given to 'DEVICE_METADATA|localhost' chassis_serial_number in [preStartAction](https://github.com/sonic-net/sonic-buildimage/blob/763d3dc29dfa071823a35e66c37b48e6824759b2/files/build_templates/docker_image_ctl.j2#L110):
[code]

#### Steps to reproduce the issue:
1. docker restart snmp
2. sudo systemct

[2022-11-18 00:55] romanvasylys commented on #12738
Last [autorestart update](https://github.com/sonic-net/sonic-mgmt/commit/b37904c769d6144e3ecf1c0f91dc1571ea92aad9) fixes the IOError issue. Closing the issue.

[2022-11-18 00:55] #12738 closed

[2022-11-18 00:58] xwjiang-ms commented on #12621
Hi @dgsudharsan, I got more error messages, are they all caused by this reason? If so, please tell me and close this bug, if anything not caused by this reason, please follow up.

E               Nov 12 04:38:42.742174 str2-msn4600c-acs-01 ERR kernel: [ 6447.571772] Fails to access (1) register MCIA (module:5, page:0, device_addr:195, size:1, i2c_addr:0x50, slot:0, status:0), err: -16.
E
E

[2022-11-18 01:15] qiluo-msft commented on #12397
@rupesh-k any update?

[2022-11-18 09:17] kbabujp opened #12752 "show_techsupport TC test_sanity & test_rate_limit_interval failure in batch run"
#### Description

Below 2 show_techsupport TC fails ONLY when we run in batch along with all other modules like below.
./run_tests.sh -n marvell-t1 -d sonic-marvell-dut -f ../ansible/testbed.csv -i ../ansible/lab,../ansible/veos -t t1,any -e "--skip_sanity --num_routes 1000 --no_dscp_uniform --no_ttl_uniform --log-cli-level debug" -a False -u

FAILED show_techsupport/test_auto_techsupport.py::Test

[2022-11-18 10:13] Stephenxf opened #12753 "FRR/zebra error messages for routes from kernel default table"
#### Description
With the patch from https://github.com/sonic-net/sonic-buildimage/pull/12018, the routes from kernel default table are ignored in function `netlink_route_info_fill()`. However, this change also introduces unwanted error messages with this sequence of function calls from FRR:

`zfpm_build_route_updates()` -> `zfpm_encode_route()` -> `zfpm_netlink_encode_route()` -> `netlink_route_i

[2022-11-18 16:45] #9663 closed

[2022-11-18 21:57] dgsudharsan commented on #12170
@preetham-singh  Do we have a PR to fix this issue?

[2022-11-19 00:26] arlakshm commented on #12442
@vganesan-nokia,
I tried to repro the issue with the following steps but did see the issue
- Shutdown all ebgp sessions
-  Check if the default route is removed from app_db and asic_db
- shutdown the port to flush out the neigh entries.

After these steps I see the default route is removed from APP_db and ASIC_DB
The neighbor entry is removed from APP_db and CHASSIS_APP_DB.

I am testing on the la

[2022-11-20 18:46] rlhui commented on #11892
@ysmanman  - could you please confirm if issue is now fixed or still there, as #12540 is merged and in 202205.

[2022-11-20 18:47] rlhui commented on #11892
@ysmanman  - could you please confirm if issue is now fixed or still there, as #12540 is merged and in 202205.

[2022-11-21 06:30] qiluo-msft commented on #12620
@suresh-rupanagudi Could you help check this bug?

[2022-11-21 13:42] SavchukRomanLv commented on #7024
@lguohan issue is still seen at master SONiC:
SONiC Software Version: SONiC.master.172539-dirty-20221110.095210
Distribution: Debian 11.5
Kernel: 5.10.0-12-2-amd64
Build commit: 7c746e67d
Build date: Thu Nov 10 16:18:12 UTC 2022
Built by: AzDevOps@sonic-build-workers-002D7H

Platform: x86_64-arista_7170_64c
HwSKU: Arista-7170-64C
ASIC: barefoot
ASIC Count: 1
Serial Number: SGD19412115
Model Number

[2022-11-21 15:28] romanvasylys opened #12787 "[eventd] "ERR:The eventd service started" in logs"
#### Description

Recently we have "ERR:The eventd service started" shown in logs when starting/restarting eventd services due to [this message](https://github.com/sonic-net/sonic-buildimage/blob/6a54bc439a980c7fc10e7a74de6472ee7731f8a5/src/sonic-eventd/src/main.cpp#L10)

#### Steps to reproduce the issue:
1. docker restart eventd
2. sudo systemctl restart eventd.service

#### Describe the results

[2022-11-21 17:14] vaibhavhd commented on #12625
@adyeung , do you have any update on this issue?

[2022-11-21 19:33] dgsudharsan commented on #12029
@yxieca Can you please update what are the next steps on this issue?

[2022-11-22 02:19] keboliu commented on #12512
previously there was the same issue,  https://github.com/sonic-net/sonic-buildimage/issues/3871, and it was fixed. In the fix the flow to determine the reboot cause should be:

1. test whether /proc/cmdline indicating a fast/warm reboot, if yes, return it as the reboot cause
2. test the /host/reboot-cause.txt
3. call the platform API.

seems above flow was changed in the code.   @sujinmkang  could

[2022-11-22 03:19] dgsudharsan opened #12794 "[memory_checker]Memory checker tracebacks when memory threshold is crossed"
#### Description

Memory checker tracebacks when threshold is crossed. Below is the traceback seen. This issue is observed after the PR https://github.com/sonic-net/sonic-buildimage/pull/12563
This results in monit not restarting the container when memory threshold is more than configured value. This also results in https://github.com/sonic-net/sonic-mgmt/blob/master/tests/memory_checker/test_memo

[2022-11-22 09:24] nkelapur commented on #12625
created a commit https://github.com/sonic-net/sonic-swss/pull/2544 with the fix

[2022-11-22 09:28] ITJamie commented on #10098
Are community contributor's / linux foundation contributors allowed to join?

[2022-11-22 13:40] AntonHryshchuk opened #12799 "[ecmp-fgnhg] ipv6 hash has more then 30% deviation between neighbors"
#### Description

ptf test output:

15:03:19.550  root      : INFO    : Received packet at 25
15:03:19.550  root      : INFO    : port 41 exp_flows 125 num_flows 108 deviation 0.136
15:03:19.550  root      : INFO    : port 53 exp_flows 125 num_flows 135 deviation 0.08000000000000007
15:03:19.550  root      : INFO    : port 54 exp_flows 125 num_flows 123 deviation 0.016000000000000014
15:03:19.550