[2018-09-25 09:31] fillmorechen0928 commented on #2067
It is not working.

![default](https://user-images.githubusercontent.com/35523342/46005832-bc5da700-c0e8-11e8-9fc3-9dca1cb0bdfa.png)

Thanks.

[2018-09-25 15:36] marian-pritsak opened #2081 "Image build timestamp inconsistency"
**Description**

Image timestamp in show version is different from /host directory:

# show version
SONiC Software Version: SONiC.201807.0-dirty-20180925.**144022**
Distribution: Debian 9.5
Kernel: 4.9.0-7-amd64
Build commit: cfe01f1
Build date: Tue Sep 25 14:40:22 UTC 2018
Built by: marianp@arc-build-server

Docker images:
REPOSITORY                 TAG                              IMAGE ID

[2018-09-25 15:38] marian-pritsak commented on #2081
Suggest to cache date in a temporary file upon first call of https://github.com/Azure/sonic-buildimage/blob/0e85986088a97135dc4472d49c1f2fa8bc264318/functions.sh#L53 so that function will always return same value

[2018-09-26 01:04] stanepc1 commented on #2030
We use modprobe instead of insmod in our script, but the result is the same as the previous one.

We see that you merged Inventec's source code in https://github.com/Azure/sonic-buildimage/pull/2010 which allows "depmod -a" in each init script.
Can you also allow "depmod -a"  to come back to the PR of https://github.com/Azure/sonic-buildimage/pull/2024 ?

[2018-09-26 11:07] amitabhja commented on #1545
sfputil show eeprom:
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>
root@sonic:~# sfputil show eeprom
Ethernet0: SFP EEPROM not detected

Ethernet4: SFP EEPROM not detected

Ethernet8: SFP EEPROM not detected

Ethernet12: SFP EEPROM not detected

Ethernet16: SFP EEPROM not detected

Ethernet20: SFP EEPROM not detected

Ethernet24: SFP EEPROM not detected

Ethernet28: SFP EEPROM not detected

Ethernet32: SFP

[2018-09-26 11:07] #1545 closed

[2018-09-27 01:54] appleCh opened #2091 ""show environment" need to wait at least 10 seconds when boot up starting"
**Description**

We get code at 20180911. In our current branch, after boot up success and starting Login prompts,
we issue "show env" or "show e+tab", need to wait at least 10~15 seconds at worst case,
but about 3 minutes later, the response time is shortened within 3 seconds.

On the same platform (BCM56970, Tomahawk2, Configure as 64 x 100G ports. Intel Broadwell DE CPU based), rollback firmwar

[2018-09-27 16:22] nikos-github opened #2092 "dhcp-relay: dhcrelay daemon is permantly blocked and not starting"
An admin status up interface in config_db.json without an IP address will cause dhcrelay daemon to block permanently and not start.

Can be reproduced and verified manually by running sonic-cfggen -d -t /usr/share/sonic/templates/wait_for_intf.sh.j2 > /usr/bin/wait_for_intf.sh and then running /usr/bin/wait_for_intf.sh.

[2018-09-28 07:46] fillmorechen0928 opened #2096 "make target/debs/sonic-device-data_1.0-1_all.deb-clean, wait for a long time"
The command "make target/debs/sonic-device-data_1.0-1_all.deb-clean" cause to wait for a long time.(more than 30 minutes)

It did not happend at 20180514 version of SONIC project.

![default](https://user-images.githubusercontent.com/35523342/46194780-f8854780-c334-11e8-9617-a70776bff976.png)

[2018-09-28 08:09] fillmorechen0928 commented on #2042
Could docker images prebuilt for SONIC?

When users build a sonic project, the docker images just pull from docker hub.

[2018-09-29 00:36] nikos-github opened #2102 "Kernel: config reload does not clean up old loopback IP address from kernel"
Boot device into sonic. Change config_db.json and assign a new IP address into lo. Perform config reload. The previous IP address is not cleaned up from the kernel which causes BGP peering over the loopback to never come up. Subsequent changes result in stale IP addresses on lo to accumulate.

root@sonic:/home/admin# ip addr show dev lo
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state U

[2018-09-29 02:55] jipanyang commented on #2102
Probably you could update interface-config.sh to do ip addr flush for loopback interface.  Not sure if eth0 has similar problem, since it won't be deleted/created like other frontpanel netdev interface.

[2018-09-29 19:18] blakedot commented on #2005
Same here; I'd like to try out sonic-p4 but it looks like the Jenkins build has been failing for 6 months...

[2018-10-01 03:01] fillmorechen0928 commented on #2081
This issue cause the firsttime file could not found.

[2018-10-01 09:02] lguohan commented on #2081
@jipanyang , looks like introduce in this PR. https://github.com/Azure/sonic-buildimage/pull/2058/files

Can you fix?

[2018-10-01 17:30] nikos-github commented on #2102
@jipanyang Not that simple.

[2018-10-01 17:45] jipanyang commented on #2081
Working on the fix.

[2018-10-01 19:39] jipanyang commented on #2102
@nikos-github please be more specific.
interfaces-config service will call interface-config.sh for reconfiguring host interface,  current "ifdown lo && ifup lo"will leave previous IP there, but if  ip addr flush dev lo is called before systemctl restart networking, it should work.  Did you see problem with it?

[2018-10-01 20:41] nikos-github commented on #2102
@jipanyang  You can't do an ip addr flush dev lo because it will also kill the ipv4 and ipv6 localhost addresses. Nothing will work after that.

The right approach is to check the db, find out if there is an address for the loopback in there, and remove that only. Can't  blindly remove all the non-localhost addresses.

[2018-10-02 09:14] roylee123 commented on #1969
Hi, I've just sent a PR, https://github.com/Azure/sonic-buildimage/pull/2110, to fix this problem on master branch.
Your can wait for PR been merged, or built it on my repository.

[2018-10-02 12:37] lguohan commented on #1969
#2110 merged.

[2018-10-02 12:40] lguohan commented on #2067
does this driver work before on your platform? I know many other platform used this driver and I am not aware of this issue.

[2018-10-02 21:13] nikos-github commented on #2092
Closing this after discussing with Guohan.

[2018-10-02 21:13] #2092 closed

[2018-10-03 09:07] fillmorechen0928 commented on #2067
Could we don't load ismt kernel driver as default on SONIC project?

[2018-10-05 20:18] xinliu-seattle commented on #2102
Aptra will propose the fix.

[2018-10-05 21:16] lguohan commented on #2091
is this the only command that is slow? what about other commands?

[2018-10-05 21:31] #2006 closed

[2018-10-05 22:38] yxieca commented on #2096
@fillmorechen0928

Please issue make with NOSTRETCH=1, e.g:

make NOSTRETCH=1 target/debs/sonic-device-data_1.0-1_all.deb
make NOSTRETCH=1 target/debs/sonic-device-data_1.0-1_all.deb-clean

Thanks,
Ying

[2018-10-06 00:17] loshihyu opened #2125 "SAI_STATUS_TABLE_FULL and swss:orchagent shutdown"
We are testing SONiC to add 8k+ ipv4 routes in Broadcom BCM56960 switch. CRM showed 8192 ipv4_routes available. We could add up to 8188. Then, when adding the 8189th route, we hit following syslog errors, see "* syslog:" below, SAI_STATUS_TABLE_FULL, and syncd calls exit_and_notify() to shutdown orchagent running in swss container. We have to do "config reload" or reboot system to recover.

![imag

[2018-10-06 01:05] prsunny commented on #1991
We are able to reproduce the issue and fix plan is in-progress.

[2018-10-06 01:11] prsunny commented on #2080
This is a known limitation in the current model. When teamd restarts, the port-channels are removed from the master in kernel. It is enslaved by VlanMgr during the first create, but when teamd restarts, VlanMgr is not subscribed to port-channel notifications.  Note that this issue won't be there is the whole system restarts. A fix for this is not currently in plan.

[2018-10-06 01:18] prsunny commented on #2125
As per the current design, orchagent crashes when there is a "table full" error. This is the expectation. However, in this case, looks like the crm available count is returning an incorrect value (4 instead of 0). The available count is returned by the SAI vendor based on their table size.  If this is consistently happening, we would need to take this with Broadcom.

[2018-10-06 01:44] loshihyu commented on #2125
Any plan to not to crash orchagent in this "table full" error? And we will work with Broadcom if incorrect crm available count becomes an issue to us. Thanks for your prompt follow-up Sunny!

[2018-10-06 02:00] prsunny commented on #2125
Not planned for any immediate release!

[2018-10-08 02:36] appleCh commented on #2091
Not only the command response slowly, i have tried "show version" and "show platform summary" also have same situation.
Thanks.

[2018-10-08 21:52] loshihyu commented on #2125
Ok, Sunny, could you help to add this as a soon-to-fix critical issue and let us know when the fix will be available? SONiC no longer works after orchagent crashes, and it has critical impact on users. Thanks!

[2018-10-10 00:18] NehaRajeM opened #2134 "sonic_version.yml file not generated for virtual switch"
sonic_version.yml file is missing for docker-vs build.

[2018-10-10 08:28] leoli-nps commented on #2080
Hi prsunny, thank you for your reply.

[2018-10-11 07:24] lguohan opened #2136 "AssertionError: Assertion failed for start.sh: RUNNING not in STARTING"
**Description**

supervisord crashed due to clock moved backward.

[code]
time shift backward after teamd docker starts

[code]

supervisord version 3.3.3

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[2018-10-11 07:27] lguohan commented on #2136
#762

[2018-10-12 21:56] lguohan commented on #2125
please enable the alpm so that you are going to hit routing table issue in the near future.

[2018-10-12 22:01] lguohan commented on #1360
talking partner meeting to see how to address this issue.

[2018-10-12 22:03] lguohan commented on #1331
dup as #1629

[2018-10-12 22:03] #1331 closed

[2018-10-12 22:07] lguohan commented on #1302
option ```b``` is preferred.

[2018-10-12 23:02] qiluo-msft commented on #1067
Hi @zhuzhuzhu23, you are not supposed to manipulate ApplDB contents directly. Roughly speaking, applications use ApplDB to interprocess communication. The providers are using ProducerStateTable, and the consumer (orchagent) is using ConsuerStateTable. The table you saw is manipulated by ConsuerStateTable after popping the data from the queue, and it is for state saving purpose only.

[2018-10-12 23:04] qiluo-msft commented on #1067
There is no specific log related to your ask. You need to check related components logs to know what happens. In your case, there is no components involved.

[2018-10-12 23:04] #1067 closed

[2018-10-12 23:41] qiluo-msft commented on #2134
I found many more are missing:
1. sonic_version.yml
2. DEVICE_METADATA.localhost.hwsku. Is there a CLI to feed it?
3. /host/machine.conf

[2018-10-14 16:16] #1969 closed

[2018-10-15 20:08] pavel-shirshov commented on #1302
Fixed in https://github.com/Azure/sonic-buildimage/pull/2154

[2018-10-15 20:49] #1201 closed

[2018-10-16 01:28] #1302 closed

[2018-10-18 13:33] maq123 opened #2165 "[question] caclmgrd, how is the CP filtering done on Arista platform?"
In one of the pull requests: https://github.com/Azure/sonic-buildimage/pull/1240/commits/fcd1bb6c0361bd31ae663f08063a948e742c4105  I see the information that Arista uses its own  proprietary solution to implement CP ACLs.

Could anyone shed more light onto this mechanism? Is it completely independent from iptables?

[2018-10-18 22:00] hzheng5 commented on #2066
Hi @leoli-nps ,

There seems to be a bug for me in teamd. Can you please try the following patch to see if it works for you

From f5a2e5aaf005a2ae6ac7e6fde345139a24dfa5e1 Mon Sep 17 00:00:00 2001
From: Haiyang Zheng <haiyang.z@alibaba-inc.com>
Date: Fri, 12 Jan 2018 22:09:16 -0800
Subject: [patch libteam] Only enable port if the it is admin up and link up

Signed-off-by: Haiyang Zheng <haiyang.z@a

[2018-10-18 22:53] lguohan commented on #2165
we will drop their CP implementation and unified to use iptables. it is no longer needed.

[2018-10-19 09:59] maq123 commented on #2165
thanks. But is this feature working currently with this Arista specific thing? I wanted to be able to verify if the rules were applied but can't figure out where to look.

[2018-10-19 21:09] lguohan commented on #1012
add -e in the build_debian.sh and extension.sh and check.

[2018-10-19 21:12] lguohan commented on #987
no response over 3 months, assuming no more questions from originator.

[2018-10-19 21:12] #987 closed

[2018-10-19 21:17] stcheng commented on #896
https://github.com/Azure/sonic-buildimage/pull/1992 resolved

[2018-10-19 21:17] #896 closed

[2018-10-19 21:34] taoyl-ms commented on #857
Specifying gateway is not supported in minigraph schema. Please use `gwaddr` attribute in `MGMT_INTERFACE` table in config db to config this.

[2018-10-19 21:34] #857 closed

[2018-10-19 21:39] lguohan commented on #839
seems we are following liat suggestion, nothing further needs to be done.

[2018-10-19 21:39] #839 closed

[2018-10-19 21:42] #678 closed

[2018-10-19 21:44] lguohan commented on #673
check default_sku in the porting guide. no longer use mingraph now.

https://github.com/Azure/SONiC/wiki/Porting-Guide

[2018-10-19 21:44] #673 closed

[2018-10-19 21:48] lguohan commented on #631
v1.0.1 is already merged into master.

[2018-10-19 21:48] #631 closed

[2018-10-19 21:52] lguohan commented on #622
addressed in https://github.com/Azure/sonic-buildimage/pull/1668

[2018-10-19 21:52] #622 closed

[2018-10-19 21:54] lguohan commented on #602
1.0.1 was already in master a few months ago, we do not see any issue on that.

[2018-10-19 21:54] #602 closed

[2018-10-19 21:59] lguohan commented on #542
addressed in https://github.com/Azure/sonic-buildimage/pull/1987

[2018-10-19 21:59] #542 closed

[2018-10-19 22:00] stcheng commented on #521
no loner using /etc/teamd to store the static configurations
close this sissue

[2018-10-19 22:00] #521 closed

[2018-10-19 22:01] stcheng commented on #315
this has been supported by config save -y

[2018-10-19 22:01] #315 closed

[2018-10-19 22:02] stcheng commented on #181
done

[2018-10-19 22:02] #181 closed

[2018-10-19 22:07] lguohan commented on #411
addressed in #801

[2018-10-19 22:07] #411 closed

[2018-10-19 22:14] #219 closed

[2018-10-22 01:39] klhaung opened #2176 "@klhaung, this looks like a bug in teamd, do you think you can get this bug fix upstreamed?"
Hi, @lguohan,

The fix we did previously is to have a patch, named 0005-when-port-status-is-disabled-it-could-not-handle-lacpdu-frame.patch, in src/libteam and modify src/libteam/Makefile to apply this patch. Is it not the correct method to fix the bug in src/libteam ? Please help to show us the correct method and we will follow the right one to do PR. Thanks for the review.

[2018-10-22 01:39] #2176 closed, assigned to nobody

[2018-10-23 06:23] mslocrian opened #2184 "[question] improvements for bgp configuration"
I would like to propose some improvements to the bgp configuration, in order to take some advantages of features available within FRR.

There are two main features which I feel would be beneficial to get support for:
1. bgp ipv6 peer auto configuration
1. use of bgp instances in vrf

Let's note, I'm very green with how to configure a lot of this, so I've had to do some manual configuration outside

[2018-10-23 09:57] lguohan commented on #1652
I found the supervisord activity log also goes to stdout/stderr, therefore you can use docker logs to see them.

https://docs.docker.com/config/containers/logging/configure/#configure-the-delivery-mode-of-log-messages-from-container-to-log-driver

[2018-10-24 01:53] jipanyang opened #2186 "Race condition between teamd and swss service."
**Description**
With the new config mechanism (teammgrd) for teamd, the problem has become more noticeable.

The LAG state in stateDB created by teamsyncd has greater chance of being flushed by swss service.

It is time add dependency on swss for teamd systemd service.

**Steps to reproduce the issue:**
1.
config lag/lag member
2.
restart system
3.
check configDB

**Describe the results you receiv

[2018-10-24 09:28] pollyhsu2git opened #2189 "CLI / redis DB Hangs Upon ARP Cache's Hitting the Default Maximum Limit, 1024"
**Description**
CLI / redis DB hangs upon ARP cache's hitting the default maximum Limit, 1024 on the latest jenkins built image, n750 (Tue Oct 23 13:30:19 UTC 2018)

**Steps to reproduce the issue:**
1. `show platform summary`
2. `show ver`
3. Retrieve the ARP table default maximum setting  (1024)
4. Bring up the Interfaces
5. Insert the static ARP entries up to the default maximum limit
6. Make s

[2018-10-24 10:28] pollyhsu2git commented on #2189
![100_sonic-v2-as5712-j_n750_20181023_709cd5a-arp_1024-debug-001](https://user-images.githubusercontent.com/28097129/47424555-7fa1d000-d7ba-11e8-900d-6f131847aadd.jpg)

[2018-10-24 21:29] jleveque commented on #2165
@maq123: With the current Arista solution, for SSH, allowed IPs/ranges will be written to `/etc/sshd.allow` in the base image, and for SNMP, allowed IPs/ranges will be written to `/etc/snmp/snmpd.conf` inside the SNMP container. Please let me know if you have further questions.

[2018-10-24 22:39] stcheng commented on #2066
I will check how we support port channel in VLAN. If the port channel is down, I suppose it will not have any ARP entries associated with it. But I doubt if the FDB entry is still there since in the ASIC the member ports are still up and selected, which allows the L2 traffic to be sent to the port channel.

[2018-10-25 08:19] quantasw opened #2196 "[snmp] enable-ipv6 is not added when configure net-snmp"
**Description**
I tried to enable snmp ipv6 (add "agentAddress udp6:161" to /etc/snmp/snmpd.conf), but get the error:

`Error opening specified endpoint "udp6:161"`

I don't see `--enable-ipv6` in src/snmpd/net-snmp-5.7.3+dfsg/config.log.
Actually, `--enable-ipv6` should be added via net-snmp-5.7.3+dfsg/debian/rules if `DEB_BUILD_ARCH_OS` is `linux`. Unfortunately, DEB_BUILD_ARCH_OS seems not be r

[2018-10-26 06:32] zhenggen-xu commented on #2189
This is a kernel setting issue that invoking the gc process always if the neighbor entries are more than gc_thresh3.   If the system requires to get more than 1024 neighbor entries, you should set the kernel parameters to a proper value, e,g, 4096:  sysctl -w net.ipv4.neigh.default.gc_thresh3=4096 . You may want to tune the gc_thresh1 and gc_thresh2 accordingly to have optimized setting for your c

[2018-10-26 15:14] nikos-github commented on #2184
I'd be happy to take the time and understand better what your goals are and explain what I'm doing on my side for sonic. I think you may find useful what I'm working on. Feel free to ping me and we can chat informally or setup a meeting.

[2018-10-26 21:58] mslocrian opened #2201 "Accton AS7712-32x kernel panic"
**Description**
I was having some issues with some interfaces (not receiving light in the transcievers). I reinstalled an alternative NOS for some sanity check, and saw light. I decided to reinstall SONiC and then started receiving the following kernel panic upon boot.

[code]

Looks like perhaps something is going on with the fan? I can get that checked out, but I also wanted to raise this and in

[2018-10-26 22:00] maq123 commented on #2165
Hi @jleveque , thank you for the clarifications!

[2018-10-27 00:13] lguohan commented on #2201
looks like accton driver issue.

[2018-10-29 01:42] pollyhsu2git commented on #2189
@zhenggen-xu
Thanks for the info~ We are aware of this optimization.
We just want to make sure .... **`Is it also one of the matters on SONiC, which the administrator MUST watch for and tune it manually?`**

[2018-10-29 04:57] zhenggen-xu commented on #2189
ARP table is managed by kernel directly, SONiC is the downstream consumer and has no obvious constrain(except memory etc). To support your ARP table size requirement, you would need tune the kernel settings.

[2018-10-29 08:25] sunnogo opened #2206 "Why pass PLATFORM and other parameters to slave.mk in Makefile.work?"
**Description**

It's a question. Code in Makefile.work:

[code]

Question: Main Makefile or Makefile.work doesn't include rules/config, I think parameters like `PASSWORD=$(PASSWORD)` makes no sense here.

I think it takes effect because slave.mk include rules/config:

[code]

[2018-10-30 03:09] pollyhsu2git commented on #2189
@zhenggen-xu
Clarified!
Thanks~

[2018-10-30 05:19] mslocrian commented on #2201
@roylee123 , if you need anything from me, please let me know. Will be happy to work with you to get any sort of debugging information that you need.

thanks!

[2018-10-30 05:43] roylee123 commented on #2201
It supposed to be fixed at https://github.com/Azure/sonic-buildimage/pull/2197.
I confirmed it's OK for  https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/755.
Even there are still some error message on kernel starting up, but no panic any more.

[2018-10-30 06:55] vemulabalaji commented on #1991
Thought of updating the existing bug instead of raising new issue,
I observed orchagent segementation fault on config reload at some different place.

I am attaching my config.json file and the crash dump.
[config_db_orchagent_crash.txt](https://github.com/Azure/sonic-buildimage/files/2528343/config_db_orchagent_crash.txt)

[config-reload-orchagent-crash.txt](https://github.com/Azure/sonic-buildim

[2018-10-30 22:33] mslocrian commented on #2201
Confirmed fixed on:
[code]

Thanks @roylee123 !

[2018-10-30 22:33] #2201 closed

[2018-10-30 23:06] nikos-github commented on #2102
Not reproducible in latest image (consistently seen in image a month ago) since at the moment, INTF_TABLE is cleared of all entries. The following diffs can also solve the problem if seen again, in config reload function. Placing the diffs here for completeness and closing this issue.

def _loopback_address_delete(config_db):
    loopbacks = config_db.keys(config_db.CONFIG_DB, 'LOOPBACK_INTERFACE|

[2018-10-30 23:06] #2102 closed

[2018-10-31 15:34] yxieca commented on #2206
@sunnogo ,

These parameters were there and passed into slave.mk so that we could override the default config.

e.g. the default config could set PASSWORD='foo', and you can issue "make PASSWORD=bar" to set the password to 'bar' instead.

Please let me know if you have further questions.

Cheers,
Ying

[2018-10-31 16:18] sunnogo commented on #2206
@yxieca Thanks! It's a dynamic way compare to static way in rules/config. I didn't compile by this way before, and I will have try if I need to enable a new feature next time.

[2018-10-31 16:18] #2206 closed

[2018-10-31 16:20] sunnogo commented on #1873
Close issue as I cannot reproduce it.

[2018-10-31 16:35] sunnogo commented on #2042
I am working on this for long. Thanks to GFW in China, sometimes I cannot even git clone code from github. Several ways to optimize build time:

1. Host all the things in your LAN, e.g. tarball, git repos, debian mirror, pypi mirror, docker jessie image, and so on. It's a large work...
2. Use host docker to build docker images other than docker build in docker container. And you have to clean your

[2018-11-06 03:28] yangbashuang opened #2227 "Please help merge PR 2043 ( centec platform update )"
**Description**
Please help merge PR 2043:
https://github.com/Azure/sonic-buildimage/pull/2043

hung for two months

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo

[2018-11-06 20:28] nikos-github opened #2229 "telemetry: target/debs/sonic-telemetry_0.1_amd64.deb fails to build in latest"
# google.golang.org/grpc/resolver/dns
/tmp/go/src/google.golang.org/grpc/resolver/dns/dns_resolver.go:66: cannot use net.DefaultResolver (type *net.Resolver) as type netResolver in assignment:
	*net.Resolver does not implement netResolver (wrong type for LookupHost method)
		have LookupHost("context".Context, string) ([]string, error)
		want LookupHost("golang.org/x/net/context".Context, string) (

[2018-11-07 06:19] richard28530 commented on #1873
![image](https://user-images.githubusercontent.com/384871/48113561-5ee77900-e296-11e8-98c0-3c0360b515ec.png)

this issue can be produced, I met several times (2 or more).

I checked configdb, the flag CONFIG_DB_INITIALIZED is set
![image](https://user-images.githubusercontent.com/384871/48113946-fd280e80-e297-11e8-99d4-e236bae7a336.png)

And I also able to re-execute the same command, but the orig

[2018-11-07 06:47] taoyl-ms commented on #1873
Interesting. Do you have the syslog file? Can I have a copy at taoyl@microsoft.com?

[2018-11-07 07:16] richard28530 commented on #1873
syslog and tech-support dump sent by mail

[2018-11-07 07:47] richard28530 commented on #1873
admin@S9130-32X:/proc/1221$ sudo cat stack
[<ffffffff81432423>] kfree_skb_partial+0x13/0x40
[<ffffffff814944ae>] tcp_rcv_established+0x40e/0x6e0
[<ffffffff8149ec2f>] tcp_v4_do_rcv+0x1af/0x4e0
[<ffffffff8142dc89>] sk_wait_data+0xc9/0xd0
[<ffffffff810ae410>] autoremove_wake_function+0x0/0x30
[<ffffffff8148b6bd>] tcp_recvmsg+0x65d/0xb70
[<ffffffff814b5380>] inet_recvmsg+0x70/0x90
[<ffffffff814297c2>]

[2018-11-07 20:21] #2189 closed

[2018-11-08 06:34] nikos-github opened #2236 "mlnx msn2010: default config_db.json generation with sonic-cfggen is not working"
admin@sonic: sudo sonic-cfggen -H -k ACS-MSN2010 --preset t1
Failed to get port config

[2018-11-08 22:35] zhenggen-xu opened #2240 "config interface will erase configuration in configDB?"
**Description**

**Steps to reproduce the issue:**
1. load config_db.json which has this in PORT section:
PORT: {
        "Ethernet112": {
            "alias": "Eth29/1",
            "lanes": "113,114",
            "speed": "50000",
            "index": "28"
        },
  ....
}

2.
sudo config interface Ethernet112 startup

3. sonic-cfggen -d --print-data
PORT: {
        "Ethernet112": {

[2018-11-09 08:40] jipanyang opened #2243 "README.buildsystem.md needs some update"
**Describe the results you received:**
https://github.com/Azure/sonic-buildimage/blob/master/README.buildsystem.md needs to be updated to reflect recent changes,   especially changes made for debian stretch support.

**Describe the results you expected:**

[2018-11-12 17:00] andriymoroz-mlnx commented on #2236
could be dependent on other issues you opened (corrupted output of platform info)
please show output of
`cat /host/machine.conf`
and
`cat /usr/share/sonic/device/x86_64-mlnx_msn2010-r0/ACS-MSN2010/port_config.ini`

[2018-11-12 17:47] nikos-github commented on #2236
@andriymoroz-mlnx Will get back to you on this in a couple of hours.

[2018-11-14 21:59] habeebmohammed opened #2258 "Show arp display age out entries"
**Description**
"show arp " show the entries after age out, The reason is it follows linux standard display.
root@switch2:/home/admin# show arp
Address                  HWtype  HWaddress           Flags Mask            Iface
12.12.12.5               ether   00:10:94:00:00:02   C                     Ethernet1
11.11.11.5               ether   00:10:94:00:00:01   C                     Vlan2
10.6.48.2

[2018-11-15 02:59] stcheng opened #2260 "database.sh: Starting existing database container with HWSKU"
At this moment the database is not ready yet, the HWSKU cannot be retrieved.

[2018-11-15 14:57] mykolaf commented on #2236
@nikos-github  Did you look for port_config.ini? Based on the error it's either missing or sonic-cfggen is unable to parse it.

[2018-11-16 01:34] pavel-shirshov commented on #1525
Currently SONiC is running two OSs. We run Debian 9 as host system, Debian 8 as a container system.
lldp shows you a container system. Why do you think it's better to show host system in lldp?

[2018-11-16 22:09] stcheng commented on #2227
already merged, thanks!

[2018-11-16 22:09] #2227 closed

[2018-11-16 22:10] #2229 closed

[2018-11-16 22:16] stcheng commented on #2240
already fixed: https://github.com/Azure/sonic-utilities/pull/361

[2018-11-16 22:16] #2240 closed

[2018-11-16 22:21] qiluo-msft opened #2264 "reboot --help"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

**Describe the results you expected:**
1. It should output usage and exit immediately
2. Stopping syncd... should be 'syncd process'

**Additional information you deem important (e.g. issue happens only occasionally):**

[2018-11-19 06:19] lguohan commented on #2134
addressed in #2269

[2018-11-19 11:23] chitra-raghavan opened #2272 "config interface shutdown/startup doesnt work in 201803 branch"
**Description**

config interface shutdown/startup doesnt work in 201803 branch

**Steps to reproduce the issue:**
1. sudo config interface shutdown/startup Ethernet2
2. Error is thrown and interface status  is not changed

**Describe the results you received:**

	root@sonic-z9100-02:~# ifconfig  Ethernet2
	Ethernet2 Link encap:Ethernet  HWaddr 4c:76:25:e4:e4:c2
			  inet6 addr: fe80::4e76:25ff:fe

[2018-11-19 18:27] vivekvijaykumar opened #2275 "Dell 6000: show platform syseeprom invalid output"
**Description**
show platform syseeprom errors out on a DellS6000 box running onie version 3.20.1.3 as recommended in the quick start wiki guide in SONiC.

The sonic version is based on Build commit: b1d290c

The machine.conf file as follows -
root@spine-1:/home/admin# cat /host/machine.conf
onie_version=3.20.1.3
onie_vendor_id=674
onie_platform=x86_64-dell_s6000_s1220-r0
onie_machine=dell_s6000_s

[2018-11-19 20:30] vivekvijaykumar opened #2276 "Dell S6000: wrong lane mapping in port_config.ini"
**Description**

admin@sonic:~$ show platform sum
Platform: x86_64-dell_s6000_s1220-r0
HwSKU: Force10-S6000
ASIC: broadcom

I am noticing that the lane maps for the first 6 ports seemed to be swapped based on LLDP neighbors and also by manually checking it by doing single port shut/no shut test.

current lane map is as follows -

  Ethernet0      29,30,31,32      40G
  Ethernet4      25,26,27,28

[2018-11-19 20:38] vivekvijaykumar commented on #2276
@vharish02 Can we please get someone from Dell to take a look?

[2018-11-19 20:39] vivekvijaykumar commented on #2275
@vharish02 Can we please get someone from Dell to take a look?

[2018-11-20 01:19] stcheng commented on #2272
On 201803 branch, please still use `ip link set [up|down]` command to toggle the interfaces.

[2018-11-20 01:20] stcheng commented on #2136
This bug is still open.

[2018-11-20 05:30] chitra-raghavan commented on #2272
Thanks

[2018-11-20 05:30] #2272 closed

[2018-11-20 07:52] linalvin opened #2279 "Port Based Flow control malfunction"
**Description**
when specific port is encountered traffic congestion, there is no any pause frame sent out.
we have tried with 201803 and 201807
this situation has happened in 201807, not in 201803

**Steps to reproduce the issue:**
1. let three ports(Ethernet0, Ethernet1, Ethernet3) are up
2. set up the packets are directed from both Ethernet0 and Ethernet1 to Ethernet3
3. when Ethernet3 is overl

[2018-11-20 17:09] vivekvijaykumar commented on #2276
@lguohan , thanks for the update . I see on the sonic wiki for support [hw](https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms)  that Dell S600-ON is listed as supported.  It also says Dell S6100-ON is supported .  Since the SONIC buildimage is building for S6000, could we update the wiki so it avoids confusion (given that the onie_platform name is also identical between S6000 and

[2018-11-21 08:02] zhenggen-xu commented on #1629
"config reload" and "config load_minigraph" will flush the configDB first, then try to load things to DB, if failed, the flag was flushed already.  However, any subsequent config reload will wait for that flag (CONFIG_DB_INITIALIZED) in configDB when creating ConfigDBConnector instance.  We will be stuck at this situation regardless timeout until we manually set the configDB flag or restart databa

[2018-11-22 20:27] prsunny opened #2293 "MTU not set correctly to hardware"
**Description**

In the latest master, mtu value `9100` is not set to hardware. This is a bug introduced as part of the commit (https://github.com/Azure/sonic-swss/pull/653), since the default mtu value is set as 9100 (https://github.com/Azure/sonic-swss/pull/574). There is a check introduced to **skip** pushing the value to SAI, if the configured mtu and current value is same. This breaks if the

[2018-11-25 00:21] pawmas opened #2298 "Can't ping from VLAN interface which has LAG member"
**Description**
_ping_ command doesn't work when I try to run it for IP address from VLAN interface subnet. VLAN interface has one member which is LAG interface. In turn LAG consist of two physical interfaces.

**Steps to reproduce the issue:**
1. Create LAG interface named _lag1_
[code]
2. Assign physical ports (#1 and #2) to the LAG interface
[code]
3. Remove existed IP addresses from physical p

[2018-11-26 07:24] zhenggen-xu opened #2300 "Won't be able to build swss_1.0.0_amd64.deb after run vs test cases"
**Description**

**Steps to reproduce the issue:**
1.  Run vs tests as mentioned  here:
https://github.com/Azure/sonic-swss/blob/master/tests/README.md

2.  trying to rebuild swss_1.0.0_amd64.deb by:
make target/debs/swss_1.0.0_amd64.deb

hit error:
find: `./tests/log/log': Permission denied
find: `./tests/log/log': Permission denied
find: `./tests/log/log': Permission denied
dh_autotools-dev_rest

[2018-11-26 08:47] mykolaf commented on #2236
Hi @nikos-github, this issue should also be fixed by ONIE upgrade.
The cause is the same as https://github.com/Azure/sonic-utilities/issues/370 .
Could you confirm please?

[2018-11-26 11:17] chitra-raghavan opened #2301 "[201803] Orchagent is crashed upon remove IP address from Port channel and shutting it in t0 topology"
**Description**

While trying to remove ip address  and shutting the Port channel interface in t0 topology , orchagent is getting crashed.
script :  https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/vlan_configure.yml
Topology: T0

6400 Bgp routes are learned via Po interfaces
[code]

**Steps to reproduce the issue:**
1. flush ip address in Portchannel
2. shut the Port chann

[2018-11-26 18:33] stcheng commented on #2301
In the 201803 branch, this operation is not fully supported.

[2018-11-27 04:00] batmancn opened #2304 "Questions about how to have PR access and add opcode for notification in sonic-py-swsssdk/configdb.py ?"
**Description**
I have two questions:
1) how to give PR?
2) if it's good to add opcode for notification in configdb.py to verify the difference between these:
[code]

**My solution**
This is my solution: https://github.com/Azure/sonic-py-swsssdk/issues/41
I don't know where to report this issue better, so I report both.

[2018-11-27 04:52] chitra-raghavan commented on #2301
Thanks

[2018-11-27 04:52] #2301 closed

[2018-11-27 07:41] stcheng commented on #2304
in order to create a pull request, you could first fork the branch and then create a commit in your fork. then you could create a pull request against the current master with your fork's master.

[2018-11-27 17:08] Anandaraj-Maharajan commented on #2276
@vivekvijaykumar We are looking in to it. We will make necessary modifications for S6000-ON and raise a PR soon. Update from normal FTOS to SONiC in normal is not a straight forward step.

[2018-11-28 06:03] shaukathsathar opened #2312 "[201803]ptf-everflow : expected error message is not seen in syslog after configuring invalid json"
Description

Script location : /var/johnar/sonic-mgmt/ansible/roles/test/tasks/everflow/config_test/config_test.yml

Issue : Failed to get the expected error message upon configuring invalid json files only with pft topology

Steps to reproduce the issue:
run the script : ansible-playbook test_sonic.yml -i lab --limit sonic-z9100-02 --tags everflow --extra-vars "testbed_type=ptf32 ptf_host=10.11.1

[2018-11-28 06:43] yangbashuang opened #2313 "[Help]how to add a new build task in sonic-jenkins for a platform"
**Description**
i want to add build task for centec platform in:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/centec/
no build job for 201803 201807 and master
plaese someone can show me how to do it

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens onl

[2018-11-28 08:33] sslvjun opened #2314 "mkdir: cannot create directory '/var/run/sshd': File exists"
It will report this error when I execute “make configure PLATFORM=p4”.  This problem may be due to "mkdir /var/run/sshd" in "sonic-slave/Dockfile" and "sonic-slave-stretch/Dockfile".

[2018-11-28 19:21] qiluo-msft commented on #2047
@lguohan Do you mean portsyncd or portorch in your comment?

[2018-11-29 07:02] sslvjun commented on #2005
Hi, Is this problem solved now?

I modified `src/sonic-swss/configure.ac`， and it built success.
[code]

Then another problem occured:
[code]
I modified `platform/p4/docker-sonic-p4/Dockerfile` and  `platform/p4/docker-sonic-p4/Dockerfile.j2`:

[code]
and
[code]

I got `docker-sonic-p4.gz`  finally! But when I ran the `p4_test` script, It executed `ping` failed.

[2018-11-29 14:21] vemulabalaji commented on #2279
Can you update with detailed configuration commands.

[2018-11-30 21:52] jleveque commented on #1697
Resolved via https://github.com/Azure/sonic-swss/pull/708 / https://github.com/Azure/sonic-buildimage/pull/2320

[2018-11-30 21:52] #1697 closed

[2018-12-01 09:17] pawmas opened #2328 "Broadcom SAI binary package version mismatch"
Hi SONiC team,

I'm just a little confused. I didn't find any information that SONiC team is contributing its own SAI implementation for Broadcom ASIC chips and as far as I know SONiC is using Broadcom SAI binary package. Am I correct?

So in the _sai.mk_ at master branch I can see that to build SONiC image there is used Broadcom SAI binary package in version _3.1.3.5_. On the second side we have

[2018-12-02 17:02] yxieca commented on #2328
@pawmas

You are correct, SONiC team doesn't come up with another implementation of browdcom SAI.

Please contact Broadcom for individual release of SAI.

Thanks and regards,
Ying

[2018-12-03 06:07] linalvin commented on #2279
box information:
- broadcom chip: Trident 3

commands:
portconfig -p Ethernet0 -s 25000 -f fc -vv
portconfig -p Ethernet1 -s 25000 -f fc -vv
portconfig -p Ethernet2 -s 25000 -f fc -vv
portconfig -p Ethernet3 -s 25000 -f fc -vv

config vlan add 11
config vlan add 12
config vlan member add 11 Ethernet0 -u
config vlan member add 11 Ethernet1 -u
config vlan member add 11 Ethernet2 -u
config vlan membe

[2018-12-03 08:05] stcheng commented on #2328
Yes. We mainly update the subversion due to some early bug fixes.

[2018-12-03 09:13] pawmas commented on #2328
@stcheng ,
But fixed bugs was still development under Broadcom company as @yxieca mentioned?

Thanks

[2018-12-03 20:08] prsunny commented on #2293
Fix merged. Closing

[2018-12-03 20:08] #2293 closed

[2018-12-04 06:32] robert1030 opened #2341 "rc.local of Debian9 base firmware(HEAD.794/HEAD.765) can't get true console speed and set true speed to serial-getty@.service"
---------------------------------------------------
Description
---------------------------------------------------
After Upgrade Deb9 base sonic Network OS from HEAD.695 to HEAD.765/HEAD.794,
rc.local of HEAD.765/HEAD.794 can't got true CONSOLE SPEED
and it can't set true CONSOLE SPEED to serial-getty@.service

---------------------------------------------------
GENERAL SUPPORT INFORMATION
------

[2018-12-04 09:00] mfriyas opened #2343 "loading minigraph from sonic-mgmt get crashed with orchagent in latest builds"
Device dell s6100 was loaded with latest 790 build. When am trying to load T0 minigraph  from sonic-mgmt device gets crashed with orchagnet core. Pasted here the core logs and syslog output.

Core
[code]

[2018-12-04 18:22] #2046 closed

[2018-12-04 21:21] #2328 closed

[2018-12-05 09:32] richard28530 commented on #1873
diff --git a/src/swsssdk/configdb.py b/src/swsssdk/configdb.py
index 6bffad9..e0b9411 100644
--- a/src/swsssdk/configdb.py
+++ b/src/swsssdk/configdb.py
@@ -39,18 +39,24 @@ class ConfigDBConnector(SonicV2Connector):
     def __wait_for_db_init(self):
         client = self.redis_clients[self.CONFIG_DB]
         pubsub = client.pubsub()
+
         initialized = client.get(self.INIT_INDICATOR)
-

[2018-12-05 10:19] keboliu opened #2351 "[ACL range] ACL range not supported in egress ACL table"
**Description**

with the latest master image,  "SAI_ACL_TABLE_ATTR_FIELD_ACL_RANGE_TYPE" only supported in ingress ACL table but not in egress ACL table, please chek the below code:
https://github.com/Azure/sonic-swss/blob/7fd158f3f966df10582ec85cc01e09e0ad96335f/orchagent/aclorch.cpp#L1154

[code]
Any reason to rule out egress ACL table here?

[2018-12-05 19:59] stcheng commented on #2343
Hello, `snmp` related logs are not relevant, could you paste more logs here? orchagent related logs.

[2018-12-06 07:41] stcheng commented on #2343
@mfriyas the syslog was still not complete. it is better to tar all the syslog files. you could send to me via email.

[2018-12-07 04:51] vivekvijaykumar opened #2363 "Config reload with port breakout on Mellanox MSN2100 fails to complete successfully"
**Description**

With a port configuration as follows on Mellanox MSN2100, config reload does not successfully complete. Orchagent seems to have terminated with error pointing to the creation of Router interfaces followed by switch shutdown -
"NOTICE swss#orchagent: :- handle_switch_shutdown_request: switch shutdown request"

The ports are created in the kernel and are actually UP. But SONiC is un

[2018-12-10 01:45] simonJi2018 opened #2369 "please help merge 2347 on the branch of 201811 to support nephos platform"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2018-12-10 07:43] pollyhsu2git opened #2370 "Is the branch, 201811 (Broadcom SAI 3.3 GA release) supporting the Broadcom TD3 chip yet?"
**Description**
Based on the Broadcom SAI release note, the Broadcom SAI 3.3.X.X supports the Broadcom TD3 chp.  However, based on our testing here on the branch, 201811, it seems ***`NOT`***

We just want to clarify that:
1. Whether SONiC has any plan to support the Broadcom TD3 chip?
2. If YES, when will it be?

**Steps to reproduce the issue:**
1. git clone the SONiC code base, and checkout the

[2018-12-10 09:53] pollyhsu2git opened #2371 "Accton-AS5712-54X syncd-failed with detected an unsupported device id 0xb854 on 201811"
**Description**
New SAI [3.3.3.1] on the 201811 branch rules out the TD2: info dev value as 0xb854 again. We reported it on your SAI [3.0.3.2] release via Azure/sonic-buildimage#1054; also [3.1.3.4] release via https://github.com/Azure/SONiC/issues/153. For details, please refer to our test attachment log with this post.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you recei

[2018-12-10 19:41] habeebmohammed commented on #2258
Thanks for fixing this bug.

[2018-12-11 19:16] stcheng opened #2375 "show mirror session command failed to show the status of the mirror session"
Instead of showing active or inactive, the command is showing error.

[2018-12-12 04:02] PrabhuSreenivasan commented on #2370
Hi,
Below logs suggest cancun files are missing and that could be root cause of your issue. Are they available on SONiC? If not, you may want to get in touch with Broadcom marketing.

Nov 3 17:32:39.971735 sonic INFO syncd#supervisord: syncd 0:_cmd_cancun_file_load: Fail to open/load file bcm56870_a0_cmh.pkg. (Invalid parameter)#15
Nov 3 17:32:39.971735 sonic INFO syncd#supervisord: syncd 0:_cmd_c

[2018-12-13 01:56] pollyhsu2git commented on #2370
@PrabhuSreenivasan
Um, On SONiC, the Broadcom SAI 3.3 GA release is built / released by MS co-working with Broadcom.  We are trying to clarify whether this chip family will be supported here (MS / Broadcom).

[2018-12-13 22:22] rameshsanth opened #2380 "incorrect way to detect fast-reboot"
inconsistent strings used in /proc/cmdline to detect fast reboot.
[dockers/docker-orchagent/swssconfig.sh](https://github.com/Azure/sonic-buildimage/blob/dedd5624a06aaae81425b9c03714f6801e7b6251/dockers/docker-orchagent/swssconfig.sh#L6)  uses "*fast-reboot*" to detect fast reboot

Looks like SONIC_BOOT_TYPE=fast is the string that is saved by sonic-utilities:scripts/fast-reboot file

Correct usag

[2018-12-14 08:48] tieguoevan opened #2382 "Reboot has a probability that docker can't start"
Hi,
 I found that execute reboot in linux shell has a probability that docker can't start. It seems to be related to the filesystem, because I can found some error in dmesg:
[code]
[code]
I dont know whether it's related to debian:stretch but we didn't met the problem when using debian:jessie.

Any ideas about this problem? Thanks!

**Steps to reproduce the issue:**
1. reboot several times
2.
3.

[2018-12-19 09:16] mfriyas commented on #2343
After doing this  , the issue was not seen.

There’s a file inside docker swss needs to be updated:
Docker exec -it swss bash
File /etc/sonic/share/templates/ipinip.json.j2

https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-orchagent/ipinip.json.j2
remove line 58 – 77 and restart and the device will survive.

This is the issue with Broadcom SAI 3.1 and the current master branch.

[2018-12-19 09:16] #2343 closed

[2018-12-19 09:18] sergeypopovich-ord commented on #2371
Tested on TD2 56854 based device with current master (commit f8d63edea72d "[bcm sai] upgrace Broadcom SAI to 3.3.3.1-3 #2389") and issue is fixed for us.

Should work for Accton-AS5712-54X too.

[2018-12-20 04:07] habeebmohammed commented on #2229
Hi
I see below error when built sonic-telemetry
# google.golang.org/grpc/credentials/internal
/tmp/go/src/google.golang.org/grpc/credentials/internal/syscallconn.go:29: syntax error: unexpected = in type declaration
google.golang.org/grpc/internal/backoff
google.golang.org/grpc/resolver/passthrough
github.com/go-redis/redis/internal/proto
google.golang.org/grpc/connectivity
google.golang.org/grpc/

[2018-12-20 04:09] PrabhuSreenivasan commented on #2229
Hi Habeeb,

Can you give it a try on the 201811 branch?

Regards
Prabhu

On Thu, Dec 20, 2018 at 9:37 AM habeebmohammed <notifications@github.com>
wrote:

--
Thanks & Regards
Prabhu

[2018-12-21 21:42] #1991 closed

[2018-12-23 08:56] dawnbeauty opened #2398 "Ports stripped the vlan tag in vs-kvm"
**Description**
I use vs-kvm image for some l2 switch testing. And i found that the vlan tag of ingress packets will be stripped on sonic ports (not veths).
What i do :
   1.  Send a tagged packet to vnet(created by libvirt/qemu on vs host server)
   2.  Capture(tcpdump -i xxx -n -vvv -Q in) on veth(eth29) and its peer port (Ethernet112)
   Captured packet from veth keep the vlan tag as what i sen

[2018-12-25 00:37] dawnbeauty commented on #2298
Could you try 'PortChannel0001' instead of 'lag1'?

[2018-12-26 18:44] pawmas commented on #2298
Yeah, that's it! _PortChannel01_ instead _lag1_ is correct way.

Thanks @dawnbeauty !

[2018-12-26 18:44] #2298 closed

[2018-12-29 05:34] leoli-nps opened #2404 "Portmgrd will crash when the configured mtu value of lag is not the same as the default value"
**Description**

I configure PortChannel0001 with one member Ethernet80. The related configuration is as follows:
[code]
After the device is up, use the cmd “show interface status”, you can see that the mtu of some ports is “N/A”.
[code]
And in the syslog you can see the message that portmgrd quits.
[code]

In addition, you can see the following information using cmd “ip link show”.
[code]

**Step

[2019-01-03 12:08] wangxin opened #2412 "DUT switch failed to establish session with dynamic BGP neighbors"
**Description**

The bgp_speaker automation test case failed with error "ERROR! 'dict object' has no attribute u'10.154.239.129'"

This script starts 3 bgp peers on the PTF container and announces routes to DUT switch. However, the DUT switch
could not establish BGP session with the peers simulated by exabgp on PTF.

Image from the 201811 branch does not have this issue.

**Steps to reproduce the

[2019-01-04 07:25] keboliu opened #2414 "DUT takes more than 7 seconds to finish update ip v6 neighbor"
**Description**

**Steps to reproduce the issue:**
run sonic-mgmt test "neighbour_mac_noptf", in this test it use command "ip -6 neigh change xxxxxx" to change the ipv6 neighbor mac address and then verify the ASIC DB to see whether the change is success or not.

**Describe the results you received:**
sometimes the test failed due to the mac address in the ASIC DB table "KEYS ASIC_STATE:SAI_OBJECT

[2019-01-04 10:37] wangxin opened #2416 "Loading minigraph may fail with stopping swss"
**Description**

In our automation, loading minigraph after image upgrade sometimes failed. It happens around 1-2 times after every 10 tests. Command "sudo config load_minigraph -y" is used. This command firstly needs to stop some services including swss. Stopping swss sometimes may fail and lead to loading minigraph fail.

**Steps to reproduce the issue:**
1. Install SONiC image using sonic_insta

[2019-01-06 05:15] bsbsrkg opened #2507 "building Sonic throws error"
Hi,
I'm compiling Sonic 201803 branch for Marvell platform. But getting the below issue.

++++++++++++++++++++++++++++++++++
ERROR: ld.so: object 'libfakeroot-sysv.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
man: error while loading shared libraries: libmandb-2.7.0.2.so: cannot open shared object file
ERROR: ld.so: object 'libfakeroot-sysv.so' from LD_PRELOAD

[2019-01-06 05:42] bsbsrkg opened #2418 "Sonic building image is unsuccessful"
**Description**
Building Sonic image is not successful

ERROR: ld.so: object 'libfakeroot-sysv.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
man: error while loading shared libraries: libmandb-2.7.0.2.so: cannot open shared object file
ERROR: ld.so: object 'libfakeroot-sysv.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
man:

[2019-01-08 10:13] wangxin commented on #2416
We found that the success rate of loading minigraph increased if add more delay after reboot, say 3 minutes, then run "config load_minigraph". This hints that stopping swss too early could fail. Is this issue related with this change: [Enable sairedis counter thread in 3 minutes after SONiC was started](https://github.com/Azure/sonic-buildimage/pull/1805) ?
If yes, then maybe the logic of stopping

[2019-01-09 00:56] dawnbeauty commented on #2382
We encountered a similar issue on branch 201811. Add more infos:
- Steps
     reboot several times
- What we found
     swss or syncd does not start its docker container as `/usr/local/bin/swss.sh ` or `syncd.sh` hangs while executing `docker exec database redis-cli` commands.
    After that, all docker commands (eg: inspect, logs, exec, ps) for database container hang without any output. But redi

[2019-01-09 02:51] jipanyang commented on #2382
Which reboot command was used during the test,  /usr/bin/reboot or /sbin/reboot or /sbin/shutdown -r ?

[2019-01-09 05:43] kevinwangsk opened #2426 "Please help cherry-pick #2422 to 201811 and 201807 branch"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2019-01-09 06:11] jipanyang opened #2427 "lo address not synced to the asic"
Changes in [intfmgrd]: Merge intfsyncd into intfmgrd:  https://github.com/Azure/sonic-swss/pull/635
has broken the existing behavior that address on lo will be syncd to asic.

lo intf processing in intforch gets voided with this commit.

The original change for syncing lo address to asic:   https://github.com/Azure/sonic-swss/pull/103

[2019-01-09 15:58] marian-pritsak commented on #2427
https://github.com/Azure/sonic-swss/pull/742

[2019-01-09 16:00] stepanblyschak opened #2429 "Reboot takes too much time"
**Description**

Reboot takes too much time.
It seems related to a docker engine upgrade (https://github.com/Azure/sonic-buildimage/pull/2417)
[code]

**Steps to reproduce the issue:**
1. sudo reboot
2. Observe that reboot takes too much time
3. ...
As a result our deploy task fails

**Describe the results you received:**
Reboot takes more than 5 min to finish

**Describe the results you expected:

[2019-01-11 02:23] richard28530 opened #2433 "%syslogtag% not complete"
https://github.com/Azure/sonic-buildimage/blob/b57a3766227841b1f7dcb7ee99a3626db510e741/dockers/docker-database/Dockerfile.j2#L4

should be
<pre>
RUN [ -f /etc/rsyslog.conf ] && sed -ri "s/%syslogtag%/$docker_container_name#%syslogtag%/;" /etc/rsyslog.conf
</pre>

[2019-01-11 02:41] jleveque commented on #2433
Thanks for posting this issue!

[2019-01-11 10:45] stepanblyschak opened #2435 "After warm reboot, execution of sudo config reload -y does not restart syncd"
**Description**
After warm reboot, execution of ```sudo config reload -y``` does not restart syncd

**Steps to reproduce the issue:**
1. sudo warm-reboot
2. sudo config reload -y
3. syncd restart count is same as before ```sudo config reload -y```

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue h

[2019-01-11 10:48] stepanblyschak opened #2436 "warm restart config table is saved when executing sudo config save -y"
**Description**
warm restart config table is saved when executing sudo config save -y

**Steps to reproduce the issue:**
1. sudo warm-reboot
2. sudo config save -y
3. Every next reload/reboot will be warm

**Describe the results you received:**

**Describe the results you expected:**
sudo config save -y does not save warm restart table so after config reload I expect to get a fully restarted syste

[2019-01-12 01:46] #2433 closed

[2019-01-14 23:52] johcheun commented on #2429
This is also observed in barefoot platforms, and community test cases that involves reboot are failing due to docker timing out, and reboot taking longer than expected causing ansible test case to fail.

[2019-01-15 01:08] stcheng opened #2443 "Move libteam version from v1.26 to v1.28"
Various fixes between these two versions

[2019-01-15 01:25] richard28530 opened #2444 "use local docker.sock needs to clean tmp docker images"
https://github.com/Azure/sonic-buildimage/blob/178764e3fa2fdd08f8b7b05c33e2e1539b09dfe2/Makefile.work#L83

<pre>
docker image ls
REPOSITORY                   TAG                 IMAGE ID            CREATED             SIZE
docker-orchagent-nephos      latest              836e854dbd19        15 hours ago        285MB
<none>                       <none>              336d9bd9334f        15 hours ago

[2019-01-17 03:14] vincent201881 commented on #2412
Is the exabgp process up on ptf-docker? Maybe it not up.

[2019-01-18 04:02] mslocrian commented on #2184
Closing this issue. @nikos-github has done some awesome bgp stuff which takes care of my ask here. Thanks @nikos-github !

[2019-01-18 04:02] #2184 closed

[2019-01-19 00:20] mslocrian opened #2465 "dot1q subinterface support in SONiC"
What is the process to get dot1q sub interface support into the roadmap?

I'm not sure what all the work would entail for an addition like this, but my org has use cases where having that support would make for a more usable SONiC experience.

Here is a currently open issue with someone else who has encountered the issue that I've also encountered:
https://github.com/Azure/SONiC/issues/109

They s

[2019-01-19 19:19] caizhenghui opened #2466 "solve dependency issue"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2019-01-19 19:19] #2466 closed

[2019-01-19 19:40] caizhenghui opened #2467 "solve package build dependency issue"
**Description**

I'm trying to write my own sai module to support new platform. Is there a way to force the deb packages in the dependency to be built/installed before building my own sai package?
I have put the following in my sai.mk file
$(XXX_SAI))_DEPENDS += $(LIBHIREDIS_DEV) $(LIBSWSSCOMMON_DEV)
But at the time of building my sai package, those two packages are not installed. Please help.

[2019-01-22 11:20] wangxin commented on #2412
@vincent201881 Thanks for sharing your findings!

File http_api.py on my testbed has correct content:
app.run(port=int(sys.argv[1]))

According to Stepan Blyschak, root cause of this issue is https://github.com/Azure/sonic-buildimage/issues/2427 lo address not synced to the asic
It has been fixed by PR https://github.com/Azure/sonic-swss/pull/742

Just tested latest build of master branch. Test pa

[2019-01-22 11:20] #2412 closed

[2019-01-24 21:13] #1652 closed

[2019-01-28 03:15] TencentSwitchGroup opened #2492 "tags 201811-1 seems to be rebased，it's commit id 602204f cannot be found in both master and 201811 branch"
**Description**

Cannot find commit [602204f](https://github.com/Azure/sonic-buildimage/commit/602204f54e9325842735b327458fa8a2963d483b) (tags 201811-1) in both branch master and 201811. It seems there's a `git rebase` after the tag.

After compare log, I think the new commit id of tags 201811-1 should be [1e8d3ec](https://github.com/Azure/sonic-buildimage/commit/1e8d3ec156899e0d3e4af3cc87bf4399a0

[2019-01-28 16:24] yxieca commented on #2492
That is correct. There was an PR went into 201811 branch by mistake. And the change went later into master branch. Then cherry-picked again from master branch. In order to do so, the previous commit was discarded.

201811-01 was a work tag just so that I have a log for what was done before rebase. Please ignore this tag and use latest 201811 branch instead.

[2019-01-29 09:43] mfriyas opened #2500 "Enabling Fast-reboot command in s6100 loaded with T0 topo getting Failed unmounting /host error"
Description:-

Loaded latest master  build 843  in s6100 and enable fast-reboot command in device , its throwing Failed unmounting /host.

Failed logs:-

root@sonic:/home/admin# fast-reboot
[FAILED] Failed unmounting /host.  >>>>>>>>>>>>>>>>>>> error here
[  OK  ] Unmounted /run/docker/netns/default.
[  OK  ] Unmounted /boot.
[  OK  ] Unmounted /var/lib/docker.
[  OK  ] Unmounted /var/log.
[  OK

[2019-01-29 20:49] prsunny opened #2503 "Config reload/load_minigraph not clearing State DB"
**Description**

State DB is not cleared during "load_minigraph" or "config reload"

**Steps to reproduce the issue:**
1. Do` config load_minigraph`
2. Or `config reload`

**Describe the results you received:**
STATE DB must be flushed, but I still see those old entries persisting.

**Describe the results you expected:**

For some VRF entries created and later deleted, the below entries still pers

[2019-01-30 22:55] yxieca commented on #2500
Unmount host will always happen because the tool required to umount is installed in this partition. This is not a new behavior.

We are looking into this issue but don't have a concrete solution yet. But I don't think this issue would affect fast reboot.

[2019-01-31 01:40] lguohan commented on #2467
Can you take a look at this document.

https://github.com/Azure/sonic-buildimage/blob/master/README.buildsystem.md

[2019-01-31 01:41] xinliu-seattle commented on #2492
Ying will delete the tag which is a mistake, and close the issue.

[2019-01-31 01:42] yxieca commented on #2492
The tag has been removed.

[2019-01-31 01:42] #2492 closed

[2019-01-31 01:45] lguohan commented on #2429
addressed in https://github.com/Azure/sonic-buildimage/commit/bfe46e0f1dd1b1e4769317ec46e31e8ada4d2dba

[2019-01-31 01:45] #2429 closed

[2019-01-31 01:46] xinliu-seattle commented on #2467
@caizhenghui, I will close this. Please reopen if you still have questions on this.

[2019-01-31 01:46] #2467 closed

[2019-01-31 01:51] stcheng commented on #2444
@ishidawataru

[2019-01-31 02:05] #2427 closed

[2019-01-31 08:45] liat-grozovik commented on #2414
@prsunny could you please provide some kind of estimation when this issue can be addressed?
the 'neighbour_mac_noptf' is keep failing and we need this issue to be fixed as part of 201811 release.

[2019-01-31 11:04] wangxin opened #2509 "acl-loader incremental update overwrites previously loaded ACL rules"
**Description**

If add ACL rules using "config acl update incremental" command, the previously added ACL rules are overwritten.

Adding ACL rules using command "acl-loader update increment" has the same issue.

**Steps to reproduce the issue:**
1. Create two json files. File1 conatins ACL rules 1,2,3,4,13,14. File2 contains ACL rules 5-12, 15-26.
2. Use "config acl update incremental file1.json"

[2019-02-01 00:40] prsunny commented on #2414
I also tested on the Nov branch, and observed the same result when changing the Neighbor MAC address manually.

[2019-02-01 03:32] keboliu opened #2513 "[VLAN] "show mac" doesn't work when interface added to vlan as tagged member"
**Description**
add some interface to vlan 100 as tagged vlan member, send some traffic to this interface to make mac address learned, but "show mac" will have some error.

the reason is that in this case the pvid of the interface is 1, all the mac address is learned in vlan 1, but the "SAI_OBJECT_TYPE_VLAN" info for vlan 1 in ASIC DB is NULL:

[code]

[2019-02-01 05:01] ishidawataru commented on #2444
In my opinion, removing tmp docker images should be done explicitly by the user.

Suggested method will wrongly remove the images if there are non-temporal docker images whose name start with `docker-*`.
To do this properlly, we need to memorize docker images hash somewhere during the build and remove the images by using these ids.

[2019-02-01 21:54] prsunny commented on #2513
@keboliu , The FDB would be learned with BVID in Key which would have the Vlan ID.
It works for me in master image.
[code]

[code]

[code]

Are you sending *untagged* packets on a *tagged* port? If so, is it for some layer 2 traffic test? Can you explain the test?

[2019-02-07 01:46] lguohan commented on #2507
if you are using ubuntu 18.04, can you change the storage driver to overlayfs. besides, there is also a fix https://github.com/Azure/sonic-buildimage/commit/be9f3ad7c1aabcb1aecfd8212b1acbee5c9581e0

[2019-02-07 01:48] lguohan commented on #2509
it is by design. https://github.com/Azure/SONiC/wiki/ACL-Configuration-High-Level-Design

[2019-02-07 01:48] #2509 closed

[2019-02-07 01:50] lguohan commented on #2418
if you are using ubuntu 18.04, can you change the storage driver to overlayfs. besides, there is also a fix [be9f3ad](https://github.com/Azure/sonic-buildimage/commit/be9f3ad7c1aabcb1aecfd8212b1acbee5c9581e0)

[2019-02-07 01:51] stcheng commented on #2443
backlog

[2019-02-07 01:52] lguohan commented on #2398
we have found this issue and will fix it in the virtual switch in sonic-sairedis.

[2019-02-07 02:00] lguohan commented on #2382
we have updated the 18.09 and it seems solve this issue, can you check if you still see this problem in latest image?

[2019-02-07 06:02] yxieca commented on #2341
@robert1030 Can you paste your /proc/cmdline? I tested on a few of platforms that I have access and I didn't see the same problem. What you proposed actually doesn't work for the platforms that I tested. I need to see your /proc/cmdline to determine the best way to make it work for your platform and other platforms I have access to.

Thanks,
Ying

[2019-02-07 07:30] qiluo-msft commented on #2380
The doc https://github.com/Azure/SONiC/blob/master/doc/warm-reboot/system-warmboot.md#details-of-kernel-arguments explain the design choice we made. Because of backward-compatibility issue, we made it inconsistent on purpose.

Let me know if you have more questions on the design doc.

[2019-02-07 07:30] #2380 closed

[2019-02-08 22:18] rameshsanth opened #2543 "Build on server behind proxy fails due to curl"
Build failure seen when building in a server that requires Proxy to access internet

**Steps to reproduce the issue:**
1. do make
2.
3.

**Describe the results you received:**

Step 20/24 : RUN curl -fsSL https://download.docker.com/linux/debian/gpg | sudo apt-key add -
 ---> Running in 5da854896cec
curl: (35) Unknown SSL protocol error in connection to xxxxx.com:8080
Warning: apt-key output shoul

[2019-02-09 05:30] ramachandrareddygaddam commented on #1131
Could you pl try by removing the 'queue' entry in mirror session.
    "MIRROR_SESSION": {
        "everflow0": {
            "dscp": "50",
            "src_ip": "10.1.0.32",
            "ttl": "10",
            "dst_ip": "20.0.0.10",
            "gre_type": "0x6558"
        }
    }

[2019-02-09 06:01] #2543 closed

[2019-02-11 01:57] robert1030 commented on #2341
root@sonic-ag9032:/proc# more cmdline
BOOT_IMAGE=/image-HEAD.853-33fe8d2/boot/vmlinuz-4.9.0-8-2-amd64 root=/dev/sda3 r
w console=tty0 console=ttyS,115200n8 quiet net.ifnames=0 biosdevname=0 loop=imag
e-HEAD.853-33fe8d2/fs.squashfs loopfstype=squashfs apparmor=1 security=apparmor
varlog_size=4096 usbcore.autosuspend=-1

[2019-02-11 02:59] richard28530 opened #2547 "add a default fdb aging time"
https://github.com/Azure/sonic-buildimage/blob/44551d0fb57d9fae3e46f36929fb4a0d66b1d375/dockers/docker-orchagent/switch.json.j2#L13

Currently some SAI implementation do not set a default fdb aging time while initialize switch.
suggest initialize one at swss startup.

<pre>
{# the range of hash_seed is 0-15 #}
{# set default hash seed to 0 #}
{% set hash_seed = 0 %}
{% if DEVICE_METADATA.localhost

[2019-02-11 07:18] Peter5Lin commented on #2370
Hi
I'm porting Broadcom TD3 in SAI 3.3.4.3-1 and get some error message after port was inserted

Feb 11 01:31:29.718115 sonic INFO syncd#supervisord: ledinit 0:soc_cmicx_led_link_status: Led msg id 0x0 send failed, Error Code -3#015
Feb 11 01:31:30.980540 sonic INFO syncd#supervisord: ledinit 0:soc_iproc_data_send_wait: No response for msg 0#015
Feb 11 01:31:30.980683 sonic INFO syncd#supervisord:

[2019-02-11 18:43] bsbsrkg commented on #2418
Thanks for the info

Regards
Ramakrishna

On Thu, Feb 7, 2019, 7:21 AM lguohan <notifications@github.com> wrote:

[2019-02-12 02:28] yangbashuang opened #2553 "build errors on branch 201811 for centec platform"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]
Error Log:
make[2]: Entering directory '/sonic/src/sonic-sairedis/SAI'
dh

[2019-02-12 09:17] keboliu commented on #2414
@prsunny thanks for sharing the test result. do you know the flow for the neighbor entry update? I would like to further investigate on our platform.

[2019-02-12 10:14] keboliu commented on #2513
@prsunny yes, I was sending untagged traffic to this port. It's not a traffic test, just want to verify the mac learning behavior. what would be the expected behavior in this case?

[2019-02-13 07:22] keboliu commented on #2351
fixed by https://github.com/Azure/sonic-swss/pull/741

[2019-02-13 07:22] #2351 closed

[2019-02-13 08:29] yangbashuang commented on #2553
@lguohan
can you please help me on this, thanks

[2019-02-13 20:29] olivier-singla opened #2563 "Documentation - Feature to run an option platform specific script on the first boot"
I added the ability to run an optional platform specific script on the first boot. This will be useful in the case of doing some switch specific setup and initialization.

See the code change here:
https://github.com/Azure/sonic-buildimage/pull/2531

This is the change in the documentation in order to document this feature.
https://gist.github.com/olivier-singla/992492e59d55631a2f78648656daacbb

[2019-02-14 01:46] xinliu-seattle commented on #2371
The BRCM SAI has updated the SAI binary. @pollyhsu2git can you retest?

[2019-02-14 01:56] xinliu-seattle commented on #2547
@praveen-li can you please help to review this ? thanks.

[2019-02-14 01:56] pollyhsu2git commented on #2371
@xinliu-seattle
We'll test the Jenkins build no. 866 dated 2019/2/12 here, and update you when the test is done.
Thanks,

[2019-02-14 02:04] yxieca opened #2566 "Race condition between syncd and swss in cold reboot/restart"
**Description**

There is a race condition between the syncd and swss related to the event passing queue. This issue is only in 201811 branch and later (including master branch).

In 201811 branch and later, in order to support warm reboot. The strong tie between syncd and swss has been cut in order to support syncd/swss warm restart. These 2 services could start in any order.

syncd clears ASIC_D

[2019-02-14 02:50] pollyhsu2git commented on #2371
@xinliu-seattle

Accton-AS5712-54X was verified to be booted OK, and the port link OK with the external loopback DAC cable on the Jenkins build no. 866 dated 2019/2/12 here.

Regards,
#####
root@sonic:/home/admin# show platform summary
Platform: x86_64-accton_as5712_54x-r0
HwSKU: Accton-AS5712-54X
ASIC: broadcom
root@sonic:/home/admin# show ver
SONiC Software Version: SONiC.HEAD.866-ca522a3
Distri

[2019-02-14 05:28] praveen-li commented on #2547
1.) I do not see a diff here. Is some thing wrong.

2.) Also I feel, this part has been addressed already with:
https://github.com/Azure/sonic-buildimage/pull/2365

Thanks.

[2019-02-14 05:47] richard28530 commented on #2547
Close since there is already doing.

[2019-02-14 05:47] #2547 closed

[2019-02-14 06:25] jipanyang commented on #2382
@dawnbeauty  with recent docker engine update and containerd systemd service change, I didn't see docker start issue with reboot any more.  Has that fixed your issue too?

[2019-02-14 06:28] dawnbeauty commented on #2398
Thanks, i'll test with the latest vs kvm image.

[2019-02-14 06:30] dawnbeauty commented on #2382
@jipanyang, thanks for the reply.
I'll build and check again.

[2019-02-14 06:42] #2444 closed

[2019-02-14 16:58] yxieca commented on #2369
Change has been included for a while.

[2019-02-14 16:58] #2369 closed

[2019-02-18 04:57] yxieca opened #2579 "Consider moving to use timesyncd.conf in favor of ntp.conf"
I discovered an issue recently that ntpd running without -x option could set clock back with initial sync with the ntp servers. If this happens at a bad time, it could cause supervisord to crash a service.

While testing with -x option, I found that the device didn't really adjust the clock even though ntpstats shows a difference. I also noticed that the drift file is not created at /var/lib/ntp/n

[2019-02-18 06:16] #2236 closed

[2019-02-19 02:59] yxieca commented on #2579
With further investigations, it appears that -c /etc/ntp.conf is not really required. The creation or missing of the drift file doesn't really change the behavior.

[2019-02-19 16:40] olivier-singla commented on #2563
I was able to perform the platform initialization using the platform debian package. Therefore, the new feature I was proposing is no longer needed.

[2019-02-19 16:40] #2563 closed

[2019-02-20 11:41] mdivyamohan opened #2591 "build failing for PLATFORM=p4"
I am trying to build sonic image with instructions given [here](https://github.com/Azure/sonic-buildimage/blob/master/README.md).

I am using debian stretch environment, and PLATFORM is set as p4.
Compilation is failing with error:
[code]
The [jenkins build](https://sonic-jenkins.westus2.cloudapp.azure.com/job/p4/job/buildimage-p4-all/964/console) also seems to be failing with same error.

Do we h

[2019-02-21 16:12] nathanalderson commented on #2591
I believe the issue @mdivyamohan mentions was introduced by #2519, first built in [build 950](https://sonic-jenkins.westus2.cloudapp.azure.com/job/p4/job/buildimage-p4-all/950/).

Prior to that, a nearly year-long standing issue existed:

[code]

This was introduced in [build 614](https://sonic-jenkins.westus2.cloudapp.azure.com/job/p4/job/buildimage-p4-all/614/). I'm still trying to determine whi

[2019-02-23 23:10] jipanyang opened #2600 "Warm-reboot: teamd warm restart caused neighbor deleted and learned again."
warm restart of teamd caused interruption on Linux neighbor entries.

It may mess up neighbor restore processing even for system warm reboot.

**Steps to reproduce the issue:**
1.
[code]

2.
[code]
3.
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**
No impact on existing arp and ND entries.

**Additional information you deem important (e.g. issue happe

[2019-02-25 07:52] mfriyas commented on #2500
Fast reboot time  calculated as 18 secs, for multiple iterations. So fastreboot in sonic is working properly. As in sonic-mgmt there are few changes in script , so once we build the new sonic-mgmt repo we will validate the new fast reboot script

[2019-02-25 07:52] #2500 closed

[2019-02-26 06:07] jipanyang opened #2606 "Cold-boot: teammgrd PORTCHANNEL configuration flushed by swss docker start script swss.sh"
**Description**
Upon cold boot,  teamd service starts immediately after updategraph.service, teammgrd reads the portchannel configuration and push configurations like min_links, fallback, mtu down to appDB.

SWSS server starts after updategraph.service and interfaces-config.service,  upon cold start, it will flushes appDB. All the configuration done teammgrd previously will be lost.

teammgrd star

[2019-02-26 12:11] jcmathews commented on #2591
Issue can be resolved by adding include path starting as /sonic/path_to_saiffd_includes.
@ src/sonic-sairedis/SAI/test/saithrift/Makefile
Change to SAI_HEADER_DIR --> SAI_HEADER_DIR ?= /sonic/src/sonic-sairedis/SAI/inc
However even after building docker image, i have observed orchagent is crashing.
A reason could be platform p4 maintains a set of SAI includes which is different from sairedis/sai_i

[2019-02-27 20:13] jipanyang opened #2614 ""failed to load plugin io.containerd.snapshotter..." seen during linux boot up"
**Description**
[code]

Log:

[code]

Complete log:

[2019-02-27 20:15] jipanyang commented on #2614
[code]

[2019-02-27 20:16] jipanyang commented on #2614
[code]

[2019-02-28 01:15] dawnbeauty commented on #2382
@jipanyang  The change seems fixed the issue.  I've tried 100+ times to reboot and didn't encounter any issue about docker start.
[code]

[2019-02-28 01:26] dawnbeauty commented on #2606
another scenario,  `sudo systemctl restart swss` without enable warm-boot, all the lag configuration in app db done by teammgrd also be flushed.

[2019-02-28 02:00] #2507 closed

[2019-02-28 02:01] xinliu-seattle commented on #2614
@Staphylo Samil, can you please take a look at this issue ? thanks.

[2019-02-28 03:48] Staphylo commented on #2614
Is there an actual issue here?
The log just shows that containerd tried to discover every available storage backend.

It successfully loaded native and overlayfs which are the one used in SONiC.

It failed to load aufs since we don't build the module anymore as overlayfs is better.
We don't use btrfs nor zfs as flash format, hence why they are discarded by docker here.

I'm not sure if there is a

[2019-02-28 05:39] jipanyang commented on #2614
Please ignore the syncd issue, that is some configuration issue.  Since containerd log has key words like error and fatal, would like to make sure it doesn't have any potential problem.  It is kind of weird that docker uses overlayfs while it still raise alarm about aufs, zfs, btrfs.

If you are sure that it is a non-issue, we may close it. thanks.

[2019-02-28 08:21] jipanyang commented on #2382
@dawnbeauty thanks for the update!  I think we may close this issue.

[2019-03-01 00:14] jleveque opened #2622 "Add knob in ConfigDB to enable/disable telemetry container"
Add knob in ConfigDB to enable/disable telemetry container

[2019-03-01 04:30] jipanyang commented on #2606
Actually it affects warm reboot too.   After warm reboot, the correct mtu will be applied on portchannel interface and cause traffic disruption.

[2019-03-01 07:38] mslocrian opened #2627 "Expose FRR /var/run/frr (frr sockets) to the host system"
This is more of a query, than anything.

I would like to expose the frr socket path (/var/run/frr) to the host system. That is so it could be shared with other containers, where desired. I find it useful to be able to utilize the various frr .vty sockets to gather information about the routing daemons (eg: gather output from `show ip bgp sum json` for example), and expose that metrics to other too

[2019-03-04 10:31] gord1306 commented on #2627
Does it mean that other processes have a chance to close these socket? I am not familiar FRR, is there any interfaces like fpm can do similar operations?

[2019-03-04 17:34] mslocrian commented on #2627
Hi @gord1306 ,

It would mean that any process that lives on the host system would be able to read or write to the frr (and quagga as well. If we are doing one, we should do the other.) configuration. The closing of the sockets should only occur when the frr/quagga daemons stop (in their own container).

My goal with this is that I, and perhaps other users, would like to be able to share those soc

[2019-03-04 23:52] Staphylo commented on #2614
I looked some more at the codebase of containerd and I think these messages are harmless.
All the snapshot drivers get loaded as plugins and all get executed during startup.
 - https://github.com/containerd/containerd/blob/master/vendor/github.com/containerd/aufs/aufs.go#L387
 - https://github.com/containerd/containerd/blob/master/snapshots/btrfs/btrfs.go#L80

It seems that all the plugins are com

[2019-03-05 07:29] mfriyas opened #2641 "Traceback error seen while issuing show interface commands with if_names"
Description:-

In dell s6100 loaded with latest master build , while issuing show interface status and show interfaces description commands with interface names getting traceback error.

Issue Logs:-

root@sonic-s6100-01:/home/admin# show interfaces status fortyGigE1/1/1
Traceback (most recent call last):
  File "/usr/bin/intfutil", line 206, in <module>
    main(sys.argv[1:])
  File "/usr/bin/int

[2019-03-05 08:58] batmancn opened #2642 "[sonic-quagga] Function defect, do NOT cancel route while connect IP down"
Hi all,

I found in sonic-quagga, do NOT cancel route while connect IP down.

1. How to produce
- use 2 SONiC, construct BGP peer
- SONiC-A have a connect IP with vlanif like this
[code]
- Then SONiC-B's quagga could learn these route by BGP peer
- Then down Vlan200, the connect IP with Vlan200 is also down
[code]
- But SONiC-B do NOT cancel this route !!!

2. route cause:
- there are 2 root cause

[2019-03-05 10:29] stcheng commented on #2606
I think the better fix is not pushing the configurations into application database; but reading configuration database instead of application database.

[2019-03-06 07:31] TencentSwitchGroup opened #2646 "lm75 doesn't support written alarm to syslog."
First of all, it's not a sonic-buildimage issue. But I think it's OK to commit this issue here.

[Linux kernel](https://github.com/torvalds/linux/blob/master/drivers/hwmon/lm78.c) supports written temperature sensors  alarm to syslog, only when the temperature sensors support alarm registers. But not all temperature sensors support this feature, for example LM75.

Many vendors use LM75, but SONiC

[2019-03-07 01:46] xinliu-seattle commented on #2646
@TencentSwitchGroup please help to clarify the issue. Your link is related to LM78 not LM75?

[2019-03-07 02:00] xinliu-seattle commented on #2641
@mfriyas: we will be able to fix this. can you propose a test to catch this?

[2019-03-07 02:00] sunnogo commented on #2646
LM75 link is https://github.com/torvalds/linux/blob/master/drivers/hwmon/lm75.c.

[2019-03-07 02:02] xinliu-seattle commented on #2641
@tsvanduyn Travis assign this bug to you, thanks!

[2019-03-07 02:04] TencentSwitchGroup commented on #2646
LM75 is https://github.com/torvalds/linux/blob/master/drivers/hwmon/lm75.c.

It's obviously that kernel support alarm feature in lm77/lm78, but not lm75.
I tested lm75  before, by setting Thigh lower that current temperature, but no syslog found.

[2019-03-07 02:33] lguohan commented on #2641
fixed in https://github.com/Azure/sonic-utilities/pull/479

[2019-03-07 02:43] xinliu-seattle commented on #2627
Will need to take some time to look into this. We can discuss in one of the community meetings.

[2019-03-07 03:04] mslocrian commented on #2627
Thanks @xinliu-seattle,

Can we Please keep the ticket posted as to when that community meeting will be so that I may participate? Otherwise will try to keep tabs on the mailing group threads.

Thanks!
stegen

[2019-03-07 07:46] stcheng opened #2653 "Failed to update FlexCounter, Segmentation fault"
Current master build fails on start.

[code]

[2019-03-07 08:27] stcheng opened #2655 "teamsyncd Exception "Unable to init team socket: Cannot assign requested address""
[code]

[2019-03-07 09:15] lguohan commented on #2641
fixed in Azure/sonic-utilities#440

[2019-03-07 21:06] stcheng opened #2658 "Remove port from VLAN leaving the port in default VLAN"
[code]

This is an unsymmetrical behavior and it causes the port to have a master - causing it failed to be added into a port channel.

[2019-03-07 21:58] jipanyang commented on #2658
Introduced with 4.9 kernel.  It is ok with 3.16.

[code]

[code]

[2019-03-07 22:42] stcheng commented on #2658
what would be the desired behavior? Do we want any untagged packet coming through this bridge port gets tagged with VID 1?

[2019-03-07 23:09] jipanyang commented on #2658
Bridge is the internal implementation.  My understanding of the expect behavior :

1.  If a port is configured in vlan with untagged mode,  we set pvid of the port  as this vlan id (as discussed  before, no explicit pvid setting).    Ingress untagged packet will gets tagged with the pvid.

2.  If a port is put in vlan with tagged mode only,   Ingress untagged packet will be dropped.

3.  if a port

[2019-03-08 07:27] vemulabalaji commented on #2658
Thought of sharing few more observations.
I am seeing difference in configuration using json file and "config vlan".
In my case, config_db.json file we created VLAN 1000 and attached few ports to VLAN 1000.
My understanding is by default All front panel ports are attached to VLAN 1 as untagged ports,
1.  bridge vlan show is not displaying them
2. But when a port is attached to some vlan and then i

[2019-03-08 08:36] jipanyang commented on #2658
config vlan member issue: https://github.com/Azure/SONiC/issues/323

[2019-03-13 08:54] wangxin opened #2665 ""config vlan member del 1000 Ethernet4" failed with "Ethernet4 is not a member of Vlan1000""
**Description**
SONiC switch is running the t0 topology. On my DUT switch, ports Ethernet4 to Ethernet96 are in Vlan1000. If use command like `config vlan member del 1000 Ethernet4` to remove a port from vlan, the cmd would fail with error "Ethernet4 is not a member of Vlan1000"

**Steps to reproduce the issue:**
1. Deploy SONiC switch with t0 topology defined in sonic-mgmt.
2. Run command `config

[2019-03-14 09:01] wangxin opened #2668 "Cmd "config vlan member add <vid> <interface_name>" always adds interface as tagged"
**Description**
If use CLI command "config vlan member add <vid> <interface_name>" to add an interface into a VLAN, the interface is always added as tagged.

**Steps to reproduce the issue:**
1. Remove an interface from VLAN:
[code]
2. Add the interface back into VLAN. The interface is added as tagged mode.
[code]

**Describe the results you received:**
Interface is always added into VLAN as tagge

[2019-03-19 20:51] yxieca commented on #2260
The database container doesn't have hwsku path mounted. It is a wording issue. I'll fix it soon.

[2019-03-19 21:38] yxieca commented on #119
I wasn't able to repeat this issue. I have been always building with multiple jobs. Will take a look at the make file to see if there is anything obvious.

[2019-03-20 03:15] #2260 closed

[2019-03-20 08:33] justin-lu-lyc commented on #2668
Hi wangxin
Use -u option to add interface with untagged mode
config vlan member add -u 1000 Ethernet4

[2019-03-20 09:05] justin-lu-lyc opened #2684 "Core dump in orchagent when assigning router interface to a vlan with untagged mode"
**Description**
Core dump in orchagent when assigning router interface to a vlan with untagged mode

**Steps to reproduce the issue:**
1. Assign IP to Ethernet20 by editing /etc/sonic/config_db.json
2. create vlan 108
    config vlan add 108
3. config vlan member add -u 108 Ethernet20

**Describe the results you received:**
Add router interface to a vlan with untagged mode is illegal, suppose it s

[2019-03-20 09:11] justin-lu-lyc commented on #2684
I thought the reason might be in line 241
sonic NOTICE syncd#syncd: :- exit_and_notify: sending switch_shutdown_request notification to OA

and in line 246, core dump happened
Nov  3 17:28:19.596339 sonic INFO swss.sh[2353]: 2016-11-03 17:28:19,595 INFO exited: orchagent (terminated by SIGABRT (core dumped); not expected)

[2019-03-21 00:47] xinliu-seattle commented on #2684
Add router interface to a vlan  - this is not supported operation. One team is working on the configuration validation. Once it is done, this will behave differently.

[2019-03-21 00:52] xinliu-seattle commented on #2668
please use -u to add untagged interface.

[2019-03-21 00:52] #2668 closed

[2019-03-21 01:42] justin-lu-lyc commented on #2684
Agree. We need to do more configuration validation in sonic-utility.
But I think the orchagent should not crash for a little wrong configuration, maybe it just print some error log and skip that setting?

[2019-03-21 02:38] xinliu-seattle commented on #2684
Right, this behavior of crash is going to be changed once the config validation is done.

[2019-03-21 02:46] jipanyang commented on #2684
For now, the mitigation to this problem:  https://github.com/Azure/sonic-swss/pull/770

[2019-03-21 06:02] justin-lu-lyc commented on #2684
Will this feature be release in the end of March? I noticed that the configuration validation is listed in Roadmap SONiC.201903.

[2019-03-21 06:06] justin-lu-lyc commented on #2684
Thanks for your reply. I use similar way to prevent orchagent from crash, but it leads to the mismatch between CONFIG_DB and ASIC_DB. So maybe the best way to resolve this issue is still configuration validation.

[2019-03-21 21:18] #2264 closed

[2019-03-22 15:18] stepanblyschak opened #2694 "RPC syncd docker image does not start RPC server automatically"
**Description**

RPC syncd docker image does not start RPC server automatically;
In the resulting docker syncd rpc image /usr/bin/syncd_init_common.sh has the following line:
[code]
However, expected is
[code]

At the same time **syncd** binary in docker image has RPC support, so changing "ENABLE_SAITHRIFT=0" to "ENABLE_SAITHRIFT=1" starts saithrift server.

After some investigation it looks like

[2019-03-25 02:53] inspurTW opened #2696 "Mirror command can set sip or dip only"
**Description**
The setting will not show error when I set missing configuration.

**Steps to reproduce the issue:**
1. Set SIP or DIP to mirror session
2.
3.

**Describe the results you received:**
The configuration will be successfully

**Describe the results you expected:**
I think the mirror session have to set both SIP/DIP to take effect.
Currently set only one of them will show no error and

[2019-03-25 03:20] inspurTW opened #2698 "Mirror configuration should be set in a specific steps"
**Description**
Mirror should be set in a specific step to take effect
(set up mirror session first and then set up ACL rule)
There will be no error even you set up in reverse order

**Steps to reproduce the issue:**
1. Set up ACL table and ACL rule
2. Set up mirror session
3.

**Describe the results you received:**
There is no error report but the mirror will not take effect

**Describe the resul

[2019-03-25 13:51] ryanliou72 commented on #2341
Hi Robert

I think this is because you doesn't add CONSOLE_DEV to installer.conf.
So the information in your cmdline is

`BOOT_IMAGE=/image-HEAD.853-33fe8d2/boot/vmlinuz-4.9.0-8-2-amd64 root=/dev/sda3 r
w console=tty0 console=ttyS,115200n8`

rc.local can not analyze `console=ttyS`, so the output is empty and default to 9600.

[2019-03-29 08:06] keboliu opened #2720 "[sfputil] Not able to read out values of voltage/temp/power on some cables"
**Description**

**Steps to reproduce the issue:**
read the eeprom dom info with sfputil:

**Describe the results you received:**
with 201807/201811 image, voltage/temp/power not able to be read out for some cable, but with 201803 image is OK.  any one encountered into similiar issue?

### bad output with 201807/201811 image:

~# sudo sfputil show eeprom --dom -p Ethernet0
Ethernet0: SFP EEPROM de

[2019-03-29 19:46] BeanJiu commented on #1262
Hello, I see the issue is closed, but what's the solution ? I am facing the same issue.thx

[2019-03-30 02:23] jaygmuru commented on #2653
is there a workaround for this ?

[2019-04-02 08:46] keboliu opened #2729 "warm reboot flag not cleared result in "config reload -y" to a "warm reload""
**Description**
issue "sudo config warm_restart enable" and then "sudo config reload -y".
expecting a cold reload but from the log can see that it performed a "warm" reload.

**Steps to reproduce the issue:**
1. issue "sudo config warm_restart enable"
2. issue "sudo config reload -y"
3. check the log

**Describe the results you received:**
it performed a warm reload
[code]

**Describe the results

[2019-04-03 02:39] jipanyang opened #2735 "swss stretch update broke restore_neighbors.py for neigh service"
**Description**
Not seen with old version of swss docker.

With new swss docker,  read_routes6() of linux.py for scapy translate ipv6 address `2000:0:0:100::1` into invalid format of `2000::100::1`

**Steps to reproduce the issue:**
1.
root@ASW-A1-1:/home/admin# ip add add 2000:0:0:100::1/56 dev lo
root@ASW-A1-1:/home/admin#
root@ASW-A1-1:/home/admin#

2.
root@ASW-A1-1:/home/admin# cat /proc/net/i

[2019-04-03 07:15] jipanyang commented on #2735
It looks the exact same issue: https://github.com/secdev/scapy/issues/359
Fixed with https://github.com/secdev/scapy/pull/363

[2019-04-03 07:19] jipanyang commented on #2735
The previous version:
[code]

Current version: (what version ??)
[code]

[2019-04-03 08:00] keboliu opened #2738 "Before issue “sonic-clear counters”, “show interface counters” result not complete"
**Description**

Before issue “sonic-clear counters”, with command “show interface counters”, several columns in the output is ‘N/A’
![show-counter-error](https://user-images.githubusercontent.com/19700240/55462356-240d2580-5629-11e9-8ac4-70741050bd78.png)

After issue command “sonic-clear counters”, the output of “show interface couters” changed, the previous “N/A” columns have number now.  So wh

[2019-04-03 09:09] keboliu commented on #2414
@prsunny This issue observed from time to time on our testbed.

**In one certain test change the neighbor mac two times**

`Apr  2 19:15:11.117851 arc-mtbc-1001 INFO ansible-<stdin>: Invoked with warn=True executable=None chdir=None _raw_params=ip -6 neigh change fc00::62 lladdr 08:bc:27:af:cc:65 dev Ethernet96 removes=None creates=None _uses_shell=False`

`Apr  2 19:15:11.408204 arc-mtbc-1001 INF

[2019-04-03 19:32] dgsudharsan commented on #2653
Hi. Is there a workaround for this issue? I find the issue still exists in the latest master

[2019-04-03 21:31] jleveque commented on #2738
@keboliu: Thank you for reporting this issue! I've been meaning to post it for a while, but haven't got around to it.

[2019-04-05 04:18] #2735 closed

[2019-04-05 13:57] stepanblyschak opened #2750 "SNMP service started and triggered SWSS start in the middle of warm-reboot"
**Description**
SNMP service start is delayed for 3 min and depends on SWSS service.
When issuing ```sudo warm-reboot``` after daemons reconciled state was reached (~2 min after system start) SNMP service may wake up in the middle of warm-reboot script, after SWSS was killed by warm-reboot script, and start SWSS container again. This causes warm reboot failure and system becomes in inconsistent st

[2019-04-05 21:18] jipanyang opened #2752 "dhcp_relay service stopped with "systemctl stop swss" but not restarted with "systemctl restart swss""
radv and telemtry have same issue.

1.
[code]
2.
[code]
3.
[code]
4.
[code]

[2019-04-05 21:20] jleveque commented on #2752
@jipanyang: Which branch is this image built from? master? 201803? 201811?

[2019-04-05 21:21] jipanyang commented on #2752
@jleveque   master branch

root@ASW-A1-1:/home/admin# show version
SONiC Software Version: SONiC.HEAD.916-fd3f611
Distribution: Debian 9.8
Kernel: 4.9.0-8-2-amd64
Build commit: fd3f611
Build date: Tue Apr  2 22:13:17 UTC 2019
Built by: johnar@jenkins-worker-3

Docker images:
REPOSITORY                 TAG                 IMAGE ID            SIZE
docker-syncd-brcm          HEAD.916-fd3f611    b10b2

[2019-04-05 21:24] jleveque commented on #2752
Thanks for the info. I am currently working on implementing a solution to auto-restart the swss container upon critical process crash in the master branch (similar to what I did for the 201803 branch here: https://github.com/Azure/sonic-buildimage/pull/2546). I believe I fixed this problem as part of that solution.

Is there any chance you can test an image built from the head of the 201803 branch

[2019-04-05 23:24] jipanyang commented on #2752
looks good to me on 201803 branch:
[code]

[2019-04-05 23:26] jleveque commented on #2752
Great! Thanks for confirming, Jipan! I will be raising a PR soon to implement similar changes in the master branch, and they will be cherry-picked into the 201811 branch, as well.

[2019-04-09 01:46] yxieca commented on #2750
@stepanblyschak great finding! Should we proactively stop snmp before warm reboot?

[2019-04-10 07:23] keboliu opened #2760 "Leftover portchannel found in the kernel after switch topology from T0 to T1-LAG"
**Description**
After switch DUT topology from T0 to T1-LAG through "config reload", some portchannel in T0 topology still can be found in the kernel(from the result of "ifconfig"), only reboot the DUT can have these leftover portchannels cleared.

Switch from T1-LAG to T0 can see the similiar issue.

capture from the DUT:
1. configured portchannels of T1 topo:
[code]

2. All portchannels from "if

[2019-04-10 18:38] yxieca commented on #2750
It is hard to solve this issue unless we have an indication of system boot up is done.

This timer is a one time timer since boot up.  snmp services wait for 3.5 minutes before starting service.

Can we fix snmp service to not depending on the delay? This delay is a result of delaying creating counters. why did we delay creating counters? @pavel-shirshov  can you fill in the information?

Per disc

[2019-04-10 18:55] yxieca opened #2763 "Improve bgp graceful timeout value: make it user configurable"
https://github.com/Azure/sonic-buildimage/pull/2754 is a short term solution.

We would like to improve our design to allow user to configure this value.

[2019-04-10 19:07] jaygmuru opened #2775 "LAG IP is applied 97+ seconds after warmboot."
Ping from peer on the portchannel ip takes long time(~97secs)  to recover after a warmboot.

Below is the log from peer side where we are pinging our portchannel ip 100.100.100.2.
Time stamp is of peer side, hence will not match with syslog.
Tue Mar 19 18:24:52 UTC 2019 - 64 bytes from 100.100.100.2: icmp_seq=164 ttl=64 time=0.268 ms
Tue Mar 19 18:24:53 UTC 2019 - 64 bytes from 100.100.100.2: icmp

[2019-04-11 00:58] xinliu-seattle commented on #2760
@keboliu Can you help with the fix?

[2019-04-11 01:07] xinliu-seattle commented on #2720
@keboliu can you dump the eeprom file to a binary file for debugging/attaching to the ticket?

[2019-04-13 04:25] yxieca commented on #2729
@keboliu The scenario you reported is a true behavior.

But I am not sure if we would encounter this scenario in production since we introduced warmboot finalizer service. Before the service, after a warm reboot, the flag would be persisted until admin explicitly disables it. That leaves a pretty big window for it to happen. With the service, we will disable warmreboot ~2 minutes after warm bootin

[2019-04-15 01:46] keboliu commented on #2729
@yxieca warm-reboot finalizer service can address the first case as you mentioned.
For the second case, can we have "config reload" to clear the "warm reboot" flag before doing any service restart?  I am not sure whether this will violate the design purpose of "config reload"?

[2019-04-15 15:32] mykolaf commented on #2738
@jleveque Please take a look at https://github.com/Azure/sonic-utilities/pull/508

[2019-04-15 16:21] jleveque commented on #2738
@mykolaf: Thank you for the fix!

Closing issue; should be fixed with https://github.com/Azure/sonic-utilities/pull/508.

[2019-04-16 23:40] stcheng commented on #2653
`https://github.com/Azure/sonic-sairedis/blob/master/syncd/syncd.cpp#L3668`
try to comment out the two lines about flex counters

[2019-04-18 08:09] #2750 closed

[2019-04-22 21:35] stcheng opened #2813 "rm: cannot remove './fsroot/var/lib/docker': Device or resource busy"
[code]

[2019-04-22 21:37] #2813 closed

[2019-04-22 21:38] stcheng commented on #2813
i'll check again on the reason.

[2019-04-30 10:26] liat-grozovik commented on #2414
@prsunny we cont to see this issue on testbed from time to time. these failures i believe are real and even if it succeed there is something wrong in it.

[2019-04-30 10:42] keboliu opened #2839 "PMON container exit immediately after "docker start pmon" with latest master image"
**Description**

PMON container exited immediately after "docker start pmon" in pmon.sh

[code]

**Steps to reproduce the issue:**
this issue reproduced stably with master image starting from 953.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

syslog attached.

[syslog.zip](http

[2019-04-30 10:51] keboliu opened #2840 "nbrmgrd/buffermgrd were killed due to use too much memory in latest master image"
server task like buffermgrd/nbrngrd were killed due to use too much memory:

[code]

[code]

**Steps to reproduce the issue:**
can be easily observed with the latest image after switch start up

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[co

[2019-05-01 15:02] #2752 closed

[2019-05-02 14:50] nazariig commented on #2839
@keboliu the root cause is the new platform API package which shares the same name with the sonic-config-engine.

root@sonic:/usr/local/lib/python2.7/dist-packages# sonic-cfggen -h
Traceback (most recent call last):
  File "/usr/local/bin/sonic-cfggen", line 31, in <module>
    from sonic_platform import get_machine_info
ImportError: cannot import name get_machine_info

root@sonic:/usr/local/lib/p

[2019-05-02 19:30] nazariig commented on #2840
@keboliu the issue was fixed in this PR: https://github.com/Azure/sonic-swss/pull/864

[2019-05-04 03:08] #2840 closed

[2019-05-09 03:18] CnaZhao opened #2877 "Could I compile an ONIE installer just for as5712-54x？"
I want to compile an ONIE installer just for as5712-54x,not for all of broadcom ASIC.
If can ,how?
Thanks!

[2019-05-13 06:51] pollyhsu2git opened #2887 "Is your Jenkins build system down today?"
**Description**

**Steps to reproduce the issue:**
1. Click on the item marked as "SONiC-ONIE-Broadcom" of your https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms
2. What we had here is

![image](https://user-images.githubusercontent.com/28097129/57601668-b04b2a80-758f-11e9-888e-6ae2fc4886d7.png)

**Describe the results you received:**

**Describe the results you expected:**

**Ad

[2019-05-13 08:37] leoli-nps opened #2888 "[warm-reboot] Orchagent will crash during startup, when we execute warm-reboot after pfcwd detects storm"
**Description**
1. Top
[code]
2. Enable pfc on queue 0 of Ethernet120
[code]
3. Configuring pfcwd on Ethernet120
[code]
4. Sending pfc frames to Ethernet120 via Ixia, triggering pfc storm; then performing warm-reboot operation on SW1. After this, we find that orchagent crashed. And in the log we can see the following messages:
[code]
And find the following information in ASIC_DB:
[code]

**Steps t

[2019-05-14 05:10] shihdada opened #2894 "Traffic still forward without NDP reachable"
**Description**
DUT will forward traffic even the NDP neighbor status is STALE, not REACHABLE.

**Steps to reproduce the issue:**
+----------+   　　 　+----------+
|     　　　44 |----------| 1     　　 　|
|  　DUT  　 |   　  　 　|  　 STC  　|
|     　　　45 |----------| 2     　　 　|
+----------+   　　 　+----------+

Config:

    "INTERFACE": {
        "Ethernet44|2010::1/64": {},
        "Ethernet45|2020::1/64":

[2019-05-14 19:08] #2655 closed

[2019-05-14 20:43] prsunny commented on #2894
Please note, `Stale `means the entry is **still** Valid. It will be refreshed when kernel receives the next packet. Here the expectation that "if the entry is stale, traffic should not be forwarded in ASIC" is not correct. Sonic does not remove routes/neighbor if the neighbor entry is in `stale `state. There are timers in Linux that cleans up stale entries based on certain threshold. When the stat

[2019-05-15 07:44] michealylj1 opened #2902 "build error on 201904 branch for nephos platform"
Hi All,

I meet one error message as:

+++ --- Making list --- +++
BLDENV=stretch EXTRA_STRETCH_TARGETS=list make -f Makefile.work stretch
make[1]: Entering directory '/home/ljyang/work/sonic/svn_code/test/sonic-buildimage_201904'
SONiC Build System

Build Configuration
"CONFIGURED_PLATFORM"             : "nephos"
"SONIC_CONFIG_PRINT_DEPENDENCIES" : ""
"SONIC_BUILD_JOBS"                : "1"
"SONI

[2019-05-15 22:52] dzhangalibaba opened #2904 "FLEX_COUNTER_TABLE in two DBs ?"
**Description**

why some FLEX_COUNTER_TABLE are using CONFIG_DB, e.g. dockers/docker-orchagent/enable_counters.py

others using FLEX_COUNTER_DB,  e.g.  in orchagent

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show

[2019-05-16 18:33] stcheng opened #2909 "[frr]: Missing route change messages with ip route change commands"
This issue is seen on the latest master with FRR.

[code]

[2019-05-16 18:35] stcheng commented on #2909
This is caught by the current EVERFLOW test

[2019-05-21 17:22] stcheng commented on #2909
resolved in https://github.com/Azure/sonic-buildimage/pull/2899

[2019-05-21 17:22] #2909 closed

[2019-05-21 17:22] #2887 closed

[2019-05-22 13:41] stepanblyschak opened #2932 "FDB table is not cleared during cold swss start"
**Description**
FDB table is not cleared during cold swss start

**Steps to reproduce the issue:**
1. Run VLAN-TRUNK test
2. config reload -y
3. redis-cli -n 6 keys *FDB*

**Describe the results you received:**
[code]
[code]

**Describe the results you expected:**

No FDB entries referencing non-existing interfaces

**Additional information you deem important (e.g. issue happens only occasionally)

[2019-05-23 05:07] #2932 closed

[2019-05-27 05:09] paavaanan opened #2947 "SMF version is not exported in Dell S6100/Z9100 switches"
**Description**
- For debugging purpose exported SMF version number for DellS6100/Z9100 platforms.
- sysfs varisble smf_version is not exported in Nov build.
- Below output is missing:
[code]
- This happens only in November build. (master/march are not affected)

**Steps to reproduce the issue:**
1. Try sonic-broadcom.bin from November branch or sonic-broadcom.bin (build 59)
2. cat /sys/devices/pl

[2019-05-30 06:12] wangxin opened #2958 "BGP graceful restart timeout err on peer if perform warm-restart on SONiC device"
**Description**

The warm-reboot testing failed on lastest master image: SONiC.HEAD.978-6d62249. On peer device, below BGP_GRACEFUL_RESTART_TIMEOUT error was observed while warm-reboot was performed on SONiC device.

Below is the log observed on peer device (Arista VM):
[code]
Before quagga was replaced with frr, the graceful restart time was configured to 240 seconds in https://github.com/Azure/s

[2019-06-03 07:00] sridhar-ravindran commented on #2947
Trying in 61 build
===========
S6100
=====
root@sonic:~# show version

SONiC Software Version: SONiC.HEAD.61-fbe55e9
Distribution: Debian 9.9
Kernel: 4.9.0-8-amd64
Build commit: fbe55e9
Build date: Fri May 31 11:39:21 UTC 2019
Built by: johnar@jenkins-worker-4

root@sonic:~# cat /sys/devices/platform/SMF.512/hwmon/hwmon1/smf_firmware_ver
1.25
root@sonic:~# cat /sys/devices/platform/SMF.512/hwmon/h

[2019-06-03 15:53] sridhar-ravindran commented on #2947
Hi,
Code was merged only with build number 60.  But this git issue was raised in 59.
It is working fine for 61.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201811/60/
Changes
1.	[devices]: Dell Hwmon S6100/Z9100 SFM version export (#2521) (detail / githubweb)
2.	[devices]: Export reboot_reason sysfs attribute for DellEMC S6100/Z9100 (detail / githubweb)
3.	[s

[2019-06-03 21:26] #1247 closed

[2019-06-03 21:29] jleveque commented on #1247
Closed as this is resolved by the following commits on the respective branches:
- master: https://github.com/Azure/sonic-buildimage/pull/2946
- 201811: https://github.com/Azure/sonic-buildimage/pull/2919
- 201803: https://github.com/Azure/sonic-buildimage/pull/2857

[2019-06-04 22:16] antony-rheneus opened #2970 "Typo error STRTCH_DEBS_PATH"
https://github.com/Azure/sonic-buildimage/blob/6dbae0e3cd5c7b749fd41f99fe7a57ac1b5a2d37/slave.mk#L599

@@ -596,7 +610,7 @@ $(addprefix $(TARGET_PATH)/, $(SONIC_INSTALLERS)) : $(TARGET_PATH)/% : \
        export files_path="$(FILES_PATH)"
        export python_debs_path="$(PYTHON_DEBS_PATH)"
        export initramfs_tools="$(STRETCH_DEBS_PATH)/$(INITRAMFS_TOOLS)"
-       export linux_kernel="$(STRT

[2019-06-04 23:17] jleveque commented on #2970
Thanks for reporting this! Fix is open here: https://github.com/Azure/sonic-buildimage/pull/2971

[2019-06-05 09:00] kcudnik commented on #2398
i think this is already fixed, closing issue

[2019-06-05 09:00] #2398 closed

[2019-06-05 16:31] #2970 closed

[2019-06-06 07:45] jleveque commented on #2877
Currently, our installer images are built on a per-ASIC manufacturer basis and contain support for all platforms with ASICs from that manufacturer. We do not currently offer a way to build an image which supports a single platform.

[2019-06-07 08:16] chitra-raghavan opened #2979 "ast"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2019-06-07 12:32] #2947 closed

[2019-06-07 21:58] #2979 closed

[2019-06-10 11:46] #2694 closed

[2019-06-10 15:28] stepanblyschak opened #2986 "[frr] prefers ipv6 link-local as next hop address"
**Description**
After a change to use seperated configuration mode, frr prefers to use link-local ipv6 addresses as nexthop address. This is behavior change comparing to quagga and also orchagent fails to proceses such routes and takes 100% cpu, because tries to insert such route in an endless loop

**Steps to reproduce the issue:**
1. Run public image 990 on t0/t1/t1-lag topologies
2. Execute "sh

[2019-06-11 14:06] stephenxs commented on #2986
I'm just curious that why neighsync disables link-local address from notifying orchagent. is there any reason behind?

[2019-06-12 03:19] #2720 closed

[2019-06-12 08:10] lguohan commented on #2986
link-local is not supported yet.

[2019-06-12 08:10] #2986 closed

[2019-06-13 02:31] ajuse opened #3001 "PORT TABLE in CONFIG_DB is incomplete in APPL_DB"
**Description**
I want to view port information by 'show interface status', but all entry got 'N/A' except Speed.
The command 'show interface status' got results by access APPL_DB.

**Steps to reproduce the issue:**
1.Enter the 'show interface status' in the sonic terminal.
2.View PORT information in CONFIG_DB by command 'redis-dump -d 4 -k  "PORT|Ethernet0" -y'
3.View PORT information in APPL_DB

[2019-06-13 08:23] lguohan commented on #2958
resolved in #2998

[2019-06-13 08:27] lguohan opened #3003 "kvm switch default start failed"
**Description**
kvm vs switch default start failed.

error log

[code]

The bug is introduced in #2924

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dum

[2019-06-13 09:32] stephenxs commented on #2414
@prsunny
I've built a debug image with some additional logs inserted at the following position:
1. NeighSync::onMsg which is called in neighsyncd when receiving the rtnl message notifying neighbor update from kernel and push it to the APPL_DB.
2. NeighOrch::addNeighbor which is called in orchagent when handling the newly updated/added neighbor and inserting them into ASIC_DB.

I've also add a snip

[2019-06-13 09:53] dawnbeauty opened #3008 "[warm-reboot] apps crash due to redis is busy running 'tablue_dump.lua' during warm-start"
**Description**
[Topo summary]:
T0 with 20k ipv4 routes, each route with 2 ecmp members.

**Steps to reproduce the issue:**
1. enable warm
sudo config warm_restart enable system

2. warm restart swss/system
sudo systemctl restart warm

3. WARMBOOT_FINALIZER found bgp did not change state to RECONCILED
NOTICE root: WARMBOOT_FINALIZER : Some components didn't finish reconcile: bgp ...
NOTICE root: W

[2019-06-14 01:19] keboliu opened #3011 "[VS test] VS test for Pull Request checking failed randomly"
**Description**

**Steps to reproduce the issue:**
 check the recent PRs that failed to pass the VS test

**Describe the results you received:**
checked few of them and get below result,
https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-all-pr/48/consoleFull
[code]

https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-all-pr/49/console

[code]

check fu

[2019-06-14 03:05] ajuse commented on #3001
config_db.json was incorrect, and I reinstall sonic-barefoot.bin by ONIE, it is all right now.

[2019-06-14 03:05] #3001 closed

[2019-06-14 05:24] #3003 closed

[2019-06-14 08:55] nazariig commented on #2986
@lguohan do we have any estimates for this: https://github.com/Azure/sonic-swss/pull/437

[2019-06-15 01:37] yxieca commented on #2729
@keboliu do you think we can close this issue now?

[2019-06-17 00:25] #2729 closed

[2019-06-17 09:55] tim-rj opened #3021 "after config load， acl rule not working"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
-->

** config 2000 entry acl rule and take effect， but after config reload the acl not work**

**Steps to reproduce the issue:**
1. config acl rules and it's work
2. config reload
3. the acl not work

**Describe the results you received:**
acl not work

**Describe the res

[2019-06-18 03:40] #2839 closed

[2019-06-18 06:50] tim-rj opened #3023 "config bgp network in config_db.json but not work"
**Description**
   config bgp network in config_db.json And execute the config reload command，but bgp network not work

**Steps to reproduce the issue:**
1. config bgp network in config_db.json
2. config reload or reboot
3. bgp network not work

**Describe the results you received:**
 bgp network not work

**Describe the results you expected:**
 bgp network is work

**Additional information you de

[2019-06-18 07:21] tim-rj opened #3024 "shutdown interface，arp entry not delete"
**Description**
TC(vlan100 100.0.0.1)--(Ethernet2)SONiC(Ethernet3)-TC（vlan100 100.0.0.2），The TC in different network，sonic have two interface in vlan100，and config vlanif（100.0.0.3）
![图片](https://user-images.githubusercontent.com/51427706/59660942-5b2cb500-91dc-11e9-8758-73327ec8dc9c.png)
![图片](https://user-images.githubusercontent.com/51427706/59660945-5e27a580-91dc-11e9-9663-04175fdaef9d.png)

*

[2019-06-18 07:43] tim-rj opened #3025 "sonic config bgp listen limit not effect"
**Description**
![图片](https://user-images.githubusercontent.com/51427706/59661643-d347aa80-91dd-11e9-8398-2829b8c62747.png)
config bgp listen limit 2，show ip bgp su display config is effect,but in fact dynamically  BGP neighbors is 3,(after execute clear bgp, still 3)
![图片](https://user-images.githubusercontent.com/51427706/59662108-da22ed00-91de-11e9-8f70-80f7bf13e5f3.png)

**Steps to reproduce t

[2019-06-18 09:12] tim-rj opened #3026 "the portchannel can‘t forward traffic when one of the member interfaces is down"
**Description**
![图片](https://user-images.githubusercontent.com/51427706/59668661-7521c400-91eb-11e9-82eb-009891651361.png)
![图片](https://user-images.githubusercontent.com/51427706/59668680-79e67800-91eb-11e9-89a5-28b73ff091a0.png)
config portchannel100 and have 3 member interface 。shutdown one of the member interface then can't Ping the portchannel ip address

**Steps to reproduce the issue:**
1.

[2019-06-18 09:47] tim-rj opened #3027 "kipmi0 process cpu usage 99%"
**Description**
kipmi0 process cpu usage 100%
![图片](https://user-images.githubusercontent.com/51427706/59671757-cda79000-91f0-11e9-83ef-d94aeafa3935.png)
![图片](https://user-images.githubusercontent.com/51427706/59671763-d1d3ad80-91f0-11e9-98f8-74c054ca65af.png)
The process hogs the CPU when the device is idle and has no impact on the actual business

**Steps to reproduce the issue:**
1.
2.
3.

**D

[2019-06-18 09:47] tim-rj commented on #3027
when sonic boot，set echo 100 > /sys/module/ipmi_si/parameters/kipmid_max_busy_us

[2019-06-19 02:36] keboliu opened #3035 "[SWSS ACL/Mirror] Race condition in Everflow mirror session and ACL rule creation"
**Description**
I have observed several failures in recent 201811 daily regression Everflow test(testcase_name=everflow_testbed), which seems caused by a race condition in ACL rule creation and mirror session creation.
In this test, it will create a mirror session first and then add ACL rules,  the mirror session creation command always issued prior to ACL rules,
But when it comes to orchagent, th

[2019-06-19 09:11] mfriyas opened #3041 "Stopping syncd process via syncd_request_shutdown --cold not working properly"
While executing restart_syncd.yml , the script was trying to execute the below command and expecting the process to be killed in output. But the command is fail to kill the syncd process.

utdown --cold264f-03:/home/admin# docker exec -i syncd /usr/bin/syncd_request_shu
requested COLD shutdown

root@sonic-z9264f-03:/home/admin# pgrep "\<syncd\>" -a

8396 /bin/bash /usr/local/bin/syncd.sh wait >>>>

[2019-06-19 10:56] stephenxs opened #3043 "BGP sessions are not established for both IPv4 and IPv6 due to IPv4&6 addresses on all Port channel lost after config reload"
**Description**
After issuing a "config reload" ipv4&6 addresses on all PortChannels have been lost in kernel protocol stack. "ifconfig PortChannelxxx" shows only ipv6 link local address existing.
It seems that thing goes well on SONiC side:
intfmgr has handled the CONFIG_DB update and issued the "ip address add xxx dev PortChannelxxx" command (which will add address to kernel). according to the l

[2019-06-19 14:57] stephenxs commented on #3043
I found sth strange when the ip address on portchannels lost. See blow.

A config reload procedure when ip addresses are lost, teamd has been stopped/started twice, which, I suspect, cause the ip addresses just set lost.
Like the following:
Stop teamd
Start teamd
Set ip address on portchannel
Stop teamd again
Start teamd again, I suspect teamd will destroy and recreate all the portchannels in the

[2019-06-19 22:29] stephenxs commented on #3043
what the config reload procedure regarding team stuff looks like in a normal procedure:
teammgrd only stop/start once

team stuff stopped
[code]
teammgrd started
[code]
intfmgrd started
[code]
setting ip addresses
[code]
no teammgrd restarting for the second round found.

[2019-06-20 09:57] keboliu opened #3054 "ACL SAI API not called due to SONiC is busying on updating route entries"
**Description**

This issue was observed on ACL test, from the log can see that although the ACL table and rules has been created in SWSS level,
but related SAI API calls haven't been called till the PTF start to send verification traffic.
And system is busying calling "mlnx_create_next_hop_group_member" and "mlnx_remove_next_hop_group_member" to update route.

seems that there is no "fairness" sc

[2019-06-21 08:53] #2005 closed

[2019-06-24 06:08] jipanyang opened #3070 "[FRR]: bgp-isolate works for ipv4 only"
**Steps to reproduce the issue:**
1.

[code]
2.

 "neighbor fc00::72 route-map ISOLATE out" went into   "address-family ipv4 unicast"
[code]

3.
AS 65100 prepended for ipv4 route only on neighbor:

[code]

[code]

**Describe the results you received:**

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

[2019-06-24 08:59] chitra-raghavan opened #3073 "vlan tagged packets egress out with priority 1"
**Description**

packets  egress out of vlan tagged port   has priority set  to 1 instead of 0. is this expected   ?

[vlan_test ](https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/files/ptftests/vlan_test.py )in ansible framework  , fails as it expects default priority as 0 , but the frames are received with priority 1 from tagged ports.

**Steps to reproduce the issue:**
1. run

[2019-06-24 10:28] chitra-raghavan opened #3075 "[Z9100]: syncd crash is seen during fast-reboot"
**Description**

While running fast-reboot tests , synd crash is seen in Z9100 /Z9264f platforms.
script :  [advanced_reboot.py](https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/files/ptftests/advanced-reboot.py)
Topology : T0

**Steps to reproduce the issue:**
1. Run the script  advanced_reboot.py from sonic-mgmt repo
2. Check for syncd crash

**Describe the results you received

[2019-06-25 07:19] mfriyas opened #3080 "Rate limiting not happening for ARP"
Issue Description:-

                   ARP rate limiting to CPU in dell platforms was set as 600 in copp.config.json .
Am sending arp request from ixia to sonic with more than 600 pps secs. Sonic device not dropping the packets when it reaches the rate-limit as 600. it processes all the packets to the cpu and gave arp reply to ixia .This happens when am increases the ixia stream to 1000pps,2000pp

[2019-06-25 10:19] brianlin-ec opened #3081 "How to generate syncd-rpc container for Ansible COPP Test"
Description
    We want to build docker-syncd with rpc packages , to replace the regular syncd container with   syncd-rpc container  for Ansible COPP testing purposes.

 (refer to https://github.com/Azure/sonic-mgmt/issues/401)

    While running "docker-syncd with rpc" from cold /warm start, synd crash is seen in Broadcom  platforms.

Steps to reproduce the issue:

    . Checkout Sonic source fil

[2019-06-26 02:46] brianlin-ec opened #3086 "SAI THRIFT"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2019-06-26 02:46] #3086 closed

[2019-06-26 12:01] nazeerhussainf opened #3087 "Orchagent crashes when PFCWD delay restoration timer expires"
**Description**
Orchagent crashes when Pause Frame Control Watchdog's(PFCWD) delay restoration timer expires.

**Topology:**
Ixia Port 1 ----- Z9264 ----- Ixia Port 2

**Steps to reproduce the issue:**

1. Configure PFCWD on switch's interface connecting to Ixia port 2 where pause frames will be   sent. Command : "pfcwd start --action drop ports Ethernet0   detection-time 400"
2. Send traffic from

[2019-06-28 10:14] jmzou opened #3096 "Sonic can support Cross build for ARM ?"
Sonic can support Cross build for ARM ?

[2019-06-29 13:42] blakedot commented on #2005
thanks @jcmathews! Is this upstream & Jenkins-buildable again?

[2019-07-02 12:30] volodymyrsamotiy opened #3108 "[warm-reboot]: Neighbor entry is not restored after warm-reboot"
**Description**

Valid and reachable neighbor entry is not restored after ```warm-reboot```.
Before issuing ```warm-reboot``` command, neighbor is ```REACHABLE``` in Linux and also it is programmed in HW.
[code]

Then, after ```warm-reboot``` procedure when switch boots up this neighbor is not present in HW and it is marked as ```FAILED``` in Linux.
[code]
It looks like neighbor was removed for so

[2019-07-03 06:24] kattamamatha commented on #2418
When i am running "make init" command i am facing following issues:

+++ Making init +++
BLDENV=stretch make -f Makefile.work init
make[1]: Entering directory '/home/brcmcoe/sonic-buildimage'
fatal: not a git repository (or any of the parent directories): .git
Makefile.work:169: recipe for target 'init' failed
make[1]: *** [init] Error 128
make[1]: Leaving directory '/home/brcmcoe/sonic-buildimage

[2019-07-03 18:32] jleveque commented on #2418
@kattamamatha: It appears as though the ".git" directory which Git uses for tracking is missing from your sonic-buildimage directory. Maybe you accidentally deleted it? I recommend you do a fresh clone of your sonic-buildimage repo.

[2019-07-03 21:10] jleveque commented on #633
Hi @YaoTien. The new SONiC platform API is now available [here](). https://github.com/Azure/sonic-platform-common/tree/master/sonic_platform_base. We will soon be transitioning all daemons and CLI to interact with platform hardware using this API. You should implement the API for your platform to communicate with your BMC. The "show environment" command will eventually display sensor data by calli

[2019-07-03 21:11] jleveque commented on #842
Once we transition to the new SONiC platform API, we will deprecate the use of lm-sensors. All sensor data will be retrieved using the new platform API.

[2019-07-03 21:12] jleveque commented on #1364
Hi @ForzaTian. Please close this issue if it is resolved.

[2019-07-03 21:13] jleveque commented on #1543
HI @appleCh. Please close this issue if it is resolved.

[2019-07-03 21:14] jleveque commented on #2136
Fixed in https://github.com/Azure/sonic-buildimage/pull/2624

[2019-07-03 21:14] #2136 closed

[2019-07-03 21:18] jleveque commented on #2646
Hi @TencentSwitchGroup. Once we transition to the new SONiC platform API, all sensor data will be retrieved using the new platform API and logging to syslog will be handled by a daemon which calls retrieves sensor data using the new API.

[2019-07-04 00:59] #1543 closed

[2019-07-04 05:47] kattamamatha commented on #2418
Previous issue got resolved when i cloned again,But now i am facing new issue:

brcmcoe@brcmcoe-ProLiant-DL180-Gen9:~/sonic-buildimage$ make init
+++ Making init +++
BLDENV=stretch make -f Makefile.work init
make[1]: Entering directory '/home/brcmcoe/sonic-buildimage'
Cloning into '/home/brcmcoe/sonic-buildimage/platform/barefoot/sonic-platform-modules-arista'...
Cloning into '/home/brcmcoe/sonic-

[2019-07-04 12:01] ForzaTian commented on #1364
@jleveque sorry,the issue was not opened by me.

[2019-07-05 03:01] #2958 closed

[2019-07-05 13:58] stepanblyschak commented on #3043
Fix in https://github.com/Azure/sonic-buildimage/pull/3114

[2019-07-05 18:52] jleveque commented on #2418
Looks like git had trouble connecting to GitHub. I say try again now that a couple days have passed.

Are you using a proxy at all?

[2019-07-05 19:53] jleveque commented on #1364
Hi @jostar-yang. Please close this issue if it is resolved.

[2019-07-08 01:41] #1364 closed

[2019-07-08 07:35] liat-grozovik commented on #3087
Can you provide information about the system you are using to run it? I wonder if this is a SONiC issue or SAI/SDK level.

I suggest you provide the output of the show techsupport for logs and more info on the configuraiton

[2019-07-08 08:18] wangxin commented on #2416
The issue was not observed on recent master builds. Close this issue.

[2019-07-08 08:18] #2416 closed

[2019-07-09 02:26] stephenxs commented on #3043
By deploying code in the [#3114](https://github.com/Azure/sonic-buildimage/pull/3114), intfMgrd creating ip address ahead of teamd started for the second time is effectively prevented.
But I have a further question, why teamd docker stopped/started twice during a single config reload and whether it can be avoided.

[2019-07-10 01:06] kattamamatha commented on #2418
Yeah, I added proxies at all places, now it's working fine.

On Sat, Jul 6, 2019, 12:23 AM Joe LeVeque <notifications@github.com> wrote:

[2019-07-10 04:48] jleveque commented on #2418
Good to hear. I will close this issue.

[2019-07-10 04:48] #2418 closed

[2019-07-10 04:57] kattamamatha commented on #2418
Now, I am facing other issues, while executing make configure
PLATFORM=broadcom.
Saying :

"python setup.py egg_info" failed with error code 1 in
/tmp/pip-build-cjlza0mw/mockredispy/

The command 'bin/sh -c pip3 install mockredispy==2.9.3'returned a non-zero
code :1

Makefile.work:138:recipe for target 'configure'failed

On Wed, Jul 10, 2019, 10:18 AM Joe LeVeque <notifications@github.com> wrote:

[2019-07-10 12:01] kattamamatha commented on #2418
When  i am executing make configure PLATFORM=broadcom , i am facing few errors saying:

Step 15/37 : RUN pip3 install mockredispy==2.9.3

  ---> Running in 02b4b51e7122
Collecting mockredispy==2.9.3
  Downloading https://files.pythonhosted.org/packages/0a/f1/d7db33898151aa9a1d647654cac55d01a5a1302fa4244af5fb5d3021f848/mockredispy-2.9.3.tar.gz
    Complete output from command python setup.py egg_in

[2019-07-10 18:25] jleveque commented on #2418
Looks like a download error. Maybe a transient issue with the peer or network? I suggest trying again after allowing some time to pass.

[2019-07-10 18:29] kattamamatha commented on #2418
So, it isn't  some issue with Github ,I mean do we get this error  If we
clone master  of sonic -buildimage from github repo instead of stable
branch,

On Wed, Jul 10, 2019, 11:55 PM Joe LeVeque <notifications@github.com> wrote:

[2019-07-10 18:31] jleveque commented on #2418
What do you mean by "stable branch"?

[2019-07-10 18:33] kattamamatha commented on #2418
Like instead of cloning master we can also clone recent release branch
right like 201905 something like that

On Thu, Jul 11, 2019, 12:01 AM Joe LeVeque <notifications@github.com> wrote:

[2019-07-10 18:35] jleveque commented on #2418
I believe all release branches from 201803 onward should not have any build issues.

[2019-07-10 18:38] kattamamatha commented on #2418
Fine, I will try building it again and get back to you with output. Thank
you

On Thu, Jul 11, 2019, 12:05 AM Joe LeVeque <notifications@github.com> wrote:

[2019-07-11 05:34] kattamamatha commented on #2418
I tried build again, but still getting the same error.

On Thu, Jul 11, 2019, 12:08 AM mamatha katta <kattamamatha95@gmail.com>
wrote:

[2019-07-11 16:16] stcheng commented on #2418
@kattamamatha you're still facing the downloading error?

[2019-07-11 16:18] kattamamatha commented on #2418
Yes same error, I cloned 201904 branch.

On Thu, Jul 11, 2019, 9:46 PM Shuotian Cheng <notifications@github.com>
wrote:

[2019-07-11 16:19] stcheng commented on #2418
https://files.pythonhosted.org/packages/0a/f1/d7db33898151aa9a1d647654cac55d01a5a1302fa4244af5fb5d3021f848/mockredispy-2.9.3.tar.gz
I could download this file. Check your network connectivity?

[2019-07-11 16:25] kattamamatha commented on #2418
I can download those files from browser, but in 15/37 step these files are
downloading in docker there I am facing issues.

On Thu, Jul 11, 2019, 9:50 PM Shuotian Cheng <notifications@github.com>
wrote:

[2019-07-12 19:49] habeebmohammed opened #3150 "PortChannel ip address is missing after do "systemctl restart teamd"."
**Description**
PortChannel ip address is missing after do "systemctl restart teamd".

**Steps to reproduce the issue:**
root@sonic:/home/admin# show ip interfaces
Interface     IPv4 address/mask    Admin/Oper
------------  -------------------  ------------
Ethernet49    11.11.11.1/24        up/up
Ethernet50    12.12.12.1/24        up/down
PortChannel1  34.34.34.1/24        up/up          <<== Cor

[2019-07-15 02:29] TencentSwitchGroup commented on #2646
Great!
I also work on this now and plan to implement a syslog daemon. The daemon will record peripheral equipment events, such as high temperature alarm, fan / psu plug in or plug out.

[2019-07-16 00:46] rajendra-dendukuri opened #3161 "radvd out of range MTU error"
**Description**

radvd out of range MTU error

As part of "PR#2795 Build radvd from source; Patch so as not to treat out-of-range MTU as an error", the error message was reduced to warning
and failure was bypassed.

This issue is created to track a final fix. Following fixes have been commited to 4.18 kernel to support setting of bridge MTU to a value > 9100. When SONiC kernrel is upgraded to a ke

[2019-07-16 00:52] jleveque commented on #3161
Thanks for creating this issue to track this.

[2019-07-16 09:11] Harrison-hu opened #3165 "Conflicting router between mgmt and copp, which will cause to transfer data failed."
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
   MGMT router of eth0 had been added into copp router table.
   Which will cause to conflict between MGMT router and copp router. specially for default router.

**Steps to reproduce the issue:**
1. Config eth0 normally
2. Add default router for copp
3. MGM

[2019-07-16 11:22] stepanblyschak commented on #3150
Duplicate https://github.com/Azure/sonic-buildimage/issues/3043

[2019-07-16 17:02] prsunny commented on #3165
`default `route via eth0 is in "default" route table and not in the main table.

[2019-07-17 03:00] Harrison-hu commented on #3165
Maybe the implementation has some potential problem.  This issue is not easy to reproduce.
Just very occasionally happens.
I have debugged it.  We have following default route within bgp container,:
                          root@cel-seastone-01:/# ip route|more
                          default proto 186 src 10.1.0.32 metric 20
                                         nexthop via 10.0.0.57  dev P

[2019-07-18 00:41] michealylj1 opened #3178 "Build image error in the branch 201807"
Hi All,

When I clone code from the branch 20817 to build one image, I meet the building error  as:

[code]

Please tell me how to fix the issue.

Thanks,
Michael

[2019-07-18 01:38] jleveque commented on #3178
Hi Michael. You should be able to fix this by forward-porting the changes in this PR which was made against the 201803 branch: https://github.com/Azure/sonic-buildimage/pull/2709

[2019-07-18 02:02] TencentSwitchGroup commented on #119
I got the same issue when building iproute2 from source.
What's the reason of this issue? Why `[build]: set build jobs to 1 by default #383` can fix it?

[code]

[2019-07-18 02:05] habeebmohammed commented on #3150
@stepanblyschak , I tried changing the swss.sh per #3114 still IP address is lost with "systemctl restart teamd".

[2019-07-18 02:19] michealylj1 commented on #3178
But it still has the error messages as:

[code]

[2019-07-18 07:59] stepanblyschak commented on #2414
@prsunny @keboliu @stephenxs
my 2 cents into this issue:

So first in the test goes IPv4 neighbor MAC change test which passes.
This means BGPv4 neighbor will go down because neighbor is not reachable with this MAC so orchagent will go though each route updating next hop group.
While orchagent is updating v4 routes IPv6 neighbor MAC change test starts and orchagent simply has no resources to deal

[2019-07-18 08:08] stepanblyschak commented on #3150
@habeebmohammed #3114 appeared to be not enough to fix the issue. There is another fix https://github.com/Azure/sonic-utilities/pull/582

[2019-07-18 10:36] stephenxs commented on #2414
i think your assumption is reasonable. and to test with a static neighbor is also a good idea.
in addition, as bgp has a  hold time of 10 seconds which is long enough for the test, is it possible to recover the mac address of the neighbor at the end of test so that it won't affect the further bgp processing?
also, we can log the bgp neighbor state at the beginning of the test, and also log at the

[2019-07-18 19:03] wendani commented on #3087
Can you show the syslog message error? What drop actions are you using? Has your SAI implemented the remove/disqualify logic?

[2019-07-18 23:34] pavel-shirshov commented on #3070
Fixed https://github.com/Azure/sonic-buildimage/pull/3183

[2019-07-18 23:34] #3070 closed

[2019-07-19 00:48] habeebmohammed commented on #3150
@stepanblyschak , I picked #582 changes as well, still no change in the result.

[2019-07-19 01:13] jleveque commented on #3150
@habeebmohammed: Azure/sonic-utilities#582 fixes a similar issue when calling `config reload` or `config load_minigraph` -- it would restart teamd twice. That PR prevents this behavior. It sounds like you are manually reproducing this behavior. I believe that currently SONiC does not support restarting teamd without also restarting SwSS first.

@stcheng: Please confirm.

[2019-07-19 12:24] mfriyas opened #3188 "everflow session status showing error"
While executing everflow_testbed.yml, seeing some failures and in sonic device it showing as everflow session status as error.

Script configures the mirror session with the follwoing parameters and mirror session staus showing error.

root@sonic-z9264f-03:/home/admin# show mirror_session
Name            Status    SRC IP     DST IP    GRE     DSCP    TTL    Queue
--------------  --------  --------

[2019-07-19 13:57] nazeerhussainf commented on #3087
Recreated the same issue using Dell Z9264 platform with 100G links on build 30.
SONiC Software Version: SONiC.HEAD.30-97645896
Distribution: Debian 9.9
Kernel: 4.9.0-9-2-amd64
Build commit: 97645896
Build date: Wed Jul 10 06:09:55 UTC 2019
Built by: johnar@jenkins-worker-4

Attached show-tech, syslog, core file and config_db.json file. Please refer PFCWD_100G.zip file.
[PFCWD_100G.zip](https://git

[2019-07-19 18:31] stcheng commented on #3188
shall be fixed: https://github.com/Azure/sonic-utilities/pull/580

[2019-07-19 22:25] stcheng commented on #2418
could you manually verify this by entering the docker and try to download the file?

[2019-07-22 10:29] nikos-github opened #3194 "service frr reload not working"
root@sonic:/home/admin# docker exec -it bgp service frr reload                                                                                                                                                    [warn] Reading deprecated /etc/frr/daemons.conf. Please move its settings to /etc/frr/daemons and remove it. ... (warning).
[warn] watchfrr_options contains a bash array value. The configure

[2019-07-22 10:29] nikos-github opened #3195 "frr.conf is not getting read when daemon starts with split config"

[2019-07-22 10:30] nikos-github opened #3196 "watchfrr is not running"

[2019-07-22 10:34] nikos-github opened #3197 "frr-reload for incremental config push not getting called"
This break existing functionality.

[2019-07-22 22:13] xinliu-seattle commented on #3195
@nikos-github, can you please add repro step. and what type of split config? Basically need to describe the scenario. Thanks.

[2019-07-22 22:14] xinliu-seattle commented on #3196
@nikos-github can you please add the repro steps ? thanks.

[2019-07-22 22:21] xinliu-seattle commented on #3197
@nikos-github can you please add the repro step and error logs? Thanks.

[2019-07-23 08:51] robert1030 opened #3206 "Deb9 SONiC image work on Accton Wedge100bf_65x, it have many issues."
**Description**
issue1: Deb9 SONiC image work on Wedge100bf_65x , it's interface port 65 will be disappear (But bf-201807 release work on Wedge100bf_65x, it's interface port 65 is normally), Ethernet256 is interface port 65.

issue2: "show platform psustatus", it print error message on console screen.

issue3: "show platform syseeprom", it print error message on console screen.

issue4: Plug in qs

[2019-07-23 11:00] nikos-github commented on #3195
"docker_routing_config_mode": "split" in "DEVICE_METADATA" of config_db.json.

[2019-07-23 11:01] nikos-github commented on #3196
@xinliu-seattle No repro steps needed.

[2019-07-23 11:01] nikos-github commented on #3197
"docker_routing_config_mode": "split" in "DEVICE_METADATA" of config_db.json.

[2019-07-23 14:15] lguohan commented on #3196
why do we need watchfrr, we are using supervisord to manage frr. according to manual, watchfrr is for systemd integration.

[2019-07-23 16:57] nikos-github commented on #3196
@lguohan @xinliu-seattle When frr was introduced to sonic, supervisord wasn't there. Supervisord came much later and recently you transitioned frr to supervisord without review from the community or the key frr stakeholder. All the functionality of watchfrr is being used and required by those running frr. frr-reload has a requirement on watchfrr too for incremental config push.

[2019-07-23 17:11] nikos-github commented on #3194
@xinliu-seattle @zhenggen-xu @MichelMoriniaux @mslocrian

[2019-07-23 21:47] jleveque commented on #3178
@michealylj1: It looks like you didn't apply the full patch, because is seems like `Acquire::Check-Valid-Until "false";` was not added to your APT configuration.

[2019-07-23 23:51] mslocrian commented on #3194
I thought that we had included frr-pythontools in a previous PR.

Going to build against current master and check it out.

[2019-07-24 03:37] michealylj1 commented on #3178
Yes, I think so. I just add the option as "apt-get  -o Acquire::Check-Valid-Until=false update". It works well.

Thanks.

[2019-07-24 03:38] #3178 closed

[2019-07-24 06:24] hans-tseng opened #3212 "Broadcom TD3 M0 formware did not work and was fail to light up LED"
**Description**
   We had put the delta AG903.2V2A (https://github.com/Azure/sonic-buildimage/pull/3148) on the master branch and wait for merged. But we encountered that the front panel LED was not working. We check the M0 firmware and it did not work

**Steps to reproduce the issue:**
1. check the broadcom was initialized finished
2.  use the  boradcom command to check the M0 firmware
       roo

[2019-07-24 06:58] nikos-github commented on #3194
@xinliu-seattle @mslocrian We did. Things are now broken at multiple levels unfortunately. Without proper review, frr got moved from systemd to supervisord, watchfrr is not running anymore and split configuration is not working.

[2019-07-24 09:56] shaukathsathar opened #3214 "vnet_vxlan] syncd & swss crash while exec docker exec swss sh -c "swssconfig /vnet.switch.json"
While running the testcase vnet_vxlan.yml , the synd & swss crashes and does not come up.
During manual repro , observed that the crash haoppens while perfroming the step 👍

docker exec swss sh -c "swssconfig /vnet.switch.json"

root@sonic-s5232-64:# docker ps
CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES
a329c41aab12 docker-sonic-telemetry:latest "/usr/bin/supervisord" 7 days ago Up 7 hou

[2019-07-24 11:26] chitra-raghavan opened #3215 "Everflow Test is failing. packets are dropped at egress"
**Description**

Everflow test is failing. The incoming packets hit the everflow acl rule, but packets are dropped at egress.

**Steps to reproduce the issue:**
1.Run the script[ everflow_testbed.yml ](https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/everflow_testbed.yml)

Upon sending traffic from script with source ip as 20.0.0.10 , the packet drop is seen on the Tx.

Ing

[2019-07-24 18:52] jleveque commented on #3212
This is technically not an active issue until https://github.com/Azure/sonic-buildimage/pull/3148 is merged.

[2019-07-25 00:24] prsunny commented on #3214
Please ensure the platform (SAI) has Vxlan support. Looks like you are running on Broadcom which does not have the L3 Vxlan support yet

[2019-07-25 04:41] lguohan commented on #3196
why does frr-reload require watchfrr?

[2019-07-25 09:28] nikos-github commented on #3196
frr-reload is part of frr-pythontools pkg which requires watchfrr in order to work properly. In addition, watchfrr provides integrated config functionality among other things through commands that are not available if watchfrr is not running. watchfrr has been running since day 1 when frr was introduced into sonic 2+ yrs back and it's a requirement.

[2019-07-26 17:45] ArunSaravananBalachandran opened #3224 "Directed broadcast test fails , packets are dropped at egress"
**Description**

Directed broadcast test fails for Trident 3 platforms. The packets are dropped at egress.

**Steps to reproduce the issue:**
1. Run [https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/dir_bcast.yml](url)

Upon sending the traffic through script , the packet drops are seen at egress

**Describe the results you received:**

Script logs:

[code]

DUT logs:

DUT'

[2019-07-29 10:14] antony-rheneus opened #3230 "Multiple restart of swss fails during config load command"
https://github.com/Azure/sonic-buildimage/blob/a5de31bf4388bcd8f6bb71334c9da238b0741261/files/build_templates/swss.service.j2#L13

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/sonicproject/xBMbljGPPYc

Need to adjust the burst value according to interval, it has been decreased

[2019-07-29 14:48] gpaussabrcm commented on #119
We've also been seeing the same issue when building the broadcom and vs platforms. In our case, we're using:
SONIC_CONFIG_BUILD_JOBS = 8
SONIC_CONFIG_MAKE_JOBS = 8

The error is intermittent and occurs for different .deb packages, but is occurring more frequently as the overall build times have decreased. This seems to be a race condition within the dpkg tools, and while the name of the reported p

[2019-07-30 14:06] nazeerhussainf opened #3238 "Syncd and orchagent crash when warm-reboot command is exected via ssh"
**Description**

When a warm-reboot command is issued via ssh, orchagent and syncd crash occurs and switch doesn't go for a warm-reboot.
This crash happens on Dell Z9100 platform.
Attached show-tech, config_db.json and core file in the attachment(warm-reboot_crash.zip)

johnar@83f6110999f3:~/sonic-mgmt/ansible$ ssh -o StrictHostKeyChecking=no root@10.11.150.14 sudo warm-reboot
Warning: Permanently

[2019-07-30 20:50] prsunny commented on #3224
Trident3 enables directed broadcast via fp rules. Can you first check if there is an entry with the action `RedirectIpmc`

`bcmcmd 'fp show' | grep 'Redirect'`

[2019-07-31 06:58] antony-rheneus opened #3244 "Multiple restart of swss during config load fails to start swss"
https://github.com/Azure/sonic-buildimage/blob/67463f18b2ea396c1b3bab87575f803376a8046e/files/build_templates/swss.service.j2#L13

@jleveque, Interval has been increased to from default 10sec to 1200sec, but burst has been decreased from default 5 to 3.
Since burst is too  low in longer interval timespan, swss was not started by systemd.
Can we revert the burst/increase it?

[2019-07-31 18:14] jleveque commented on #3244
@antony-rheneus: Could you please explain your issue more? The new settings (StartLimitInterval = 1200sec, StartLimitBurst = 3) now mean that if systemd has already restarted swss 3 times in the past 20 minutes, it should stop trying to restart the service and mark it as failed.

[2019-07-31 21:26] nikos-github commented on #3244
@jleveque We are having the same issue. Configuration that isn't incremental yet can't be pushed within the specified limit, is causing swss to not start again.

[2019-07-31 21:31] jleveque commented on #3244
@nikos-github: To clarify, you have a need to perform > 3 configuration pushes (and thus >3 SwSS restarts, due to lack of incremental config) within 20 minutes? Is this correct?

[2019-08-01 02:43] ajuse opened #3255 "Make all failed in branch 201811."
**Description**

**Steps to reproduce the issue:**
1.update latest code from github in branch 201811 at 2019.07.31.
2.make configure PLATFORM=barefoot and BLDENV=stretch make stretch.
3.make all

**Describe the results you received:**
g++ -DHAVE_CONFIG_H -I. -I.. -I .. -I ../warmrestart -g -DNDEBUG  -std=c++11 -Wall -fPIC -Wno-write-strings -I/usr/include/libnl3 -I/usr/include/swss -I/opt/bfn/inst

[2019-08-01 03:07] wangshengjun opened #3256 "[build] add the support of Apt-Cacher-NG proxy configuration to the slave docker build script"
Apt-Cacher-NG is a caching proxy server (or apt proxy) for Debian based distributions like Ubuntu, Kubuntu, Xubuntu, Edubuntu, Linux Mint, etc, which is used to cache the downloaded packages locally on your server.

Add the support of proxy configuration for Apt-Cacher-NG to accelerate the build process of slave docker.

[2019-08-01 05:15] lguohan commented on #3255
please update the submodules

[2019-08-01 05:27] ajuse commented on #3255
@lguohan I typed "make init" to update all submodules, but the prolem still here. btw, here is output of  "make init":
sonic@ubuntu:~/software/sonic-buildimage$ make init
+++ Making init +++
make -f Makefile.work init
make[1]: Entering directory '/home/sonic/software/sonic-buildimage'
Entering 'platform/barefoot/sonic-platform-modules-arista'
Entering 'platform/broadcom/sonic-platform-modules-aris

[2019-08-01 06:36] antony-rheneus commented on #3244
@jleveque , If you run test suite, this fails as test suite does change configs multiple times and test 1by1.
Excerpt " __if systemd has already restarted swss 3 times in the past 20 minutes, it should stop trying to restart the service and mark it as failed."__
How can you be sure swss restart more than thrice is not vaild scenario, I personally feel this is a valid scenario?

Continuous restart

[2019-08-01 06:39] antony-rheneus commented on #3244
@jleveque Would you give some pointers why this was changed from default system service values? If you provide me some insights it would be helpful for me to understand the reason for the change, as you would have analysed to come up with these new values

[2019-08-01 12:48] nikos-github commented on #3244
That is correct.

[2019-08-02 00:32] jleveque commented on #3244
@antony-rheneus: This was changed from the default values once we added the 'auto-restart-upon-critical-process-crash' feature (https://github.com/Azure/sonic-buildimage/pull/2845). This is to prevent SONiC from indefinitely restarting the service there is something causing one of the critical processes to crash consistently.

[2019-08-02 08:11] antony-rheneus opened #3271 "ARM arch support for SONIC"
Support for ARM architecture

             Platform arch armhf and arm64 changes
Submodule support for ARM

[2019-08-02 08:12] antony-rheneus commented on #3271
@lguohan , please assign this issue on my name (@antony-rheneus ) as enhancement

[2019-08-02 08:21] antony-rheneus commented on #3271
Support for ARM architecture

             https://github.com/Azure/sonic-buildimage/pull/2980 - DONE
            https://github.com/Azure/sonic-buildimage/pull/3237 - DONE
           https://github.com/Azure/sonic-buildimage/pull/3263 - DONE

            https://github.com/Azure/sonic-buildimage/pull/3221 - DONE
Submodule support for ARM

       https://github.com/Azure/sonic-swss/pull/989   - DO

[2019-08-06 16:23] #3188 closed

[2019-08-06 23:05] prsunny commented on #2414
Closing this as the fix is made as part of referenced commit #1026

[2019-08-06 23:05] #2414 closed

[2019-08-07 06:15] mfriyas opened #3300 "vxlan json configs not applying to config_db"
Hi,

While executing vxlan_decap failure am seeing vxlan config test is failing.After debugging i observed that the script trying to configure vxlan json configs from /tmp/vxlan.json. But configs are not apllied in config_db.

Manually tried loading vxlan.json file via

sonic-cfggen -j /tmp/vxlan_db.Vlan1000.json --write-to-db

root@sonic-z9264f-04:/etc/sonic# sonic-cfggen -j /tmp/vxlan_db.Vlan100

[2019-08-07 11:29] scjuang opened #3302 "ERR log is generated when there is no LED utility supported"
**Description**
An ERR SYSLOG will be generated from PMON when it cannot find LED utility. According to porting guide, this utility is optional if front panel LED can be controlled by hardware. Therefore, this should be recorded as INFO log, not ERR log.

(quoted from Porting Guide)
led_control.py
Python module providing a unified API for updating front-panel LED state. It is used by the SONiC LED

[2019-08-08 08:27] akokhan commented on #3206
Hi @robert1030
Thank you for the detailed description of the issues! The issues #2 and #3 (psu & syseeprom) have been fixed starting from #372. We will check on issues #1 and #4 and get back to you.

[2019-08-08 15:07] ArunSaravananBalachandran commented on #3224
A FP entry with 'RedirectIpmc' action is present and have included the same below.

[code]

[2019-08-09 07:17] nazeerhussainf opened #3314 "Orchagent crash upon loading build 57"
**Description**
Orchagent crash is seen upon loading the build SONiC.HEAD.57-dirty-20190808.113157 on DELLEMC S6100 and Z9100.
Also, most of the docker aren't up.
Attached core file.

root@sonic-s6100-07:/var/core# docker ps
CONTAINER ID        IMAGE                            COMMAND                  CREATED             STATUS              PORTS               NAMES
d01a47b92496        docker-soni

[2019-08-09 10:33] wangshengjun opened #3316 "[dhcp_relay]'wait_for_init.sh.j2' translate duplicate if the interface has both ipv4 and ipv6 address"
Signed-off-by: wangshengjun wangshengjun@asterfusion.com
Steps to reproduce the issue:
1.config the Portchannel interface with ipv4 and ipv6 address
 "PORTCHANNEL_INTERFACE": {
        "PortChannel0001": {},
        "PortChannel0002": {},
        "PortChannel0001|10.0.0.56/31": {},
        "PortChannel0001|FC00::71/126": {},
        "PortChannel0002|10.0.0.58/31": {},
        "PortChannel0002|FC00

[2019-08-09 11:31] michealylj1 opened #3318 "Failed to add Intel Denverton PINCTRL driver"
Hi All,

I try to add new Intel Denverton pinctrl driver for Atom C3758 CPU into 201811 branch. but I meet one build error messages:

  LD      drivers/gpu/drm/built-in.o
  LD      drivers/gpu/built-in.o
/sonic/src/sonic-linux-kernel/linux-4.9.110/Makefile:1011: recipe for target 'drivers' failed
make[6]: *** [drivers] Error 2
Makefile:152: recipe for target 'sub-make' failed
make[5]: *** [sub-mak

[2019-08-09 18:28] jleveque commented on #3316
Resolved via https://github.com/Azure/sonic-buildimage/pull/3317

[2019-08-09 18:28] #3316 closed

[2019-08-10 11:03] akokhan commented on #3206
The PR as follows addresses the issue 4 (sfputil)
https://github.com/Azure/sonic-buildimage/pull/3324

[2019-08-12 08:14] Rancho333 commented on #548
[code]
I found this error in branch 201904, How to fix it?

[2019-08-12 16:33] pavel-shirshov commented on #548
@Rancho333 How we can reproduce this?

[2019-08-12 21:14] caizhenghui opened #3331 "Need to move linux kernel repo pointer"
**Description**
src/sonic-linux-kernel is pointing to old commit, need to move to latest one since the kernel version in the repo is not available from Debian download site.

**Steps to reproduce the issue:**
1. trying to build any platform package with kernel procurement mode = build.
2.
3.

**Describe the results you received:**
--2019-08-12 15:23:44--  http://security-cdn.debian.org/debian-secu

[2019-08-13 02:26] Rancho333 commented on #548
@pavel-shirshov I run commands as follow:
[code]
The attach file make-targetsonic-centec.bin.log with the error info is part of the whole logs.
[make-targetsonic-centec.bin.log](https://github.com/Azure/sonic-buildimage/files/3495032/make-targetsonic-centec.bin.log)

[2019-08-13 22:04] pavel-shirshov commented on #548
Try to build the image broadcom?
If that works for you, you have an issue of dependency of LIBSAITHRIFT_DEV inside of sonic-buildimage
If it doesn't we need to check that further.

[2019-08-13 22:05] pavel-shirshov commented on #548
Also check that you have libsaithrift-dev*.deb inside of the target dir

[2019-08-14 00:34] MichelMoriniaux commented on #3331
@yxieca can you do the same you did for master and 201811 for branch 201904 ?

[2019-08-14 00:40] yxieca commented on #3331
@stcheng is the 201904 branch master :-)

[2019-08-14 07:26] antony-rheneus commented on #3244
can we add "systemctl reset-failed swss" to reset the restart counter in the sonic-utilities/ where config load/load_minigraph is being called?
This is to ensure the test suite doesn't report failure for valid multiple restarts

[2019-08-14 17:43] avi-milner commented on #3244
also for config reload operation will need to clear counter , this is not only for tests suites, but also for allowing pusing/changing  new configurations as much as desired without restrictions to it

[2019-08-14 17:59] jleveque commented on #3244
This is to ensure the test suite doesn't report failure for valid multiple restarts

We can. This is something I was already considering adding. I'll look into creating a PR.

[2019-08-14 18:55] MichelMoriniaux commented on #3331
sorry for that @yxieca :-)
@stcheng can we cherry-pick or advance to commit 1d9c691 the sonic-linux-kernel submodule?

[2019-08-14 19:08] jleveque commented on #3244
@antony-rheneus, @avi-milner: PR here: https://github.com/Azure/sonic-utilities/pull/607. Please review.

[2019-08-15 02:58] robert1030 commented on #3206
Hi akokhan

Thank you for your support.
issue1 still not be fixed after merge patch [#3324](https://github.com/Azure/sonic-buildimage/pull/3324) , because wedge100bf-65x that it has 65 ports, but Ethernet252 only mapping to 64port. the port 65 of wedge100bf-65x still keep disappear on [buildimage-bf-all #386](https://sonic-jenkins.westus2.cloudapp.azure.com/job/barefoot/job/buildimage-bf-all/386/a

[2019-08-15 07:30] Rancho333 commented on #548
I did not found the libsaithrift-dev*.deb inside of the target dir. Am I
missing something?
[image: image.png]
And the broadcom is still in compile.I will let you konw when i  get the
result.

pavel-shirshov <notifications@github.com> 于2019年8月14日周三 上午6:05写道：

[2019-08-15 12:29] akokhan commented on #3206
Right, as I mentioned above, the issues 2,3,4 are fixed. The issue 1 is still WIP.

[2019-08-16 10:15] michealylj1 opened #3356 "Build error in the Nephos platform by the code of the sonic branch 201811"
Hi All,

I just update my local code with 201811 branch, but I meet one compile error when build the package "libsairedis_1.0.0_amd64.deb" as:

'''
libtool: compile:  g++ -DHAVE_CONFIG_H -I. -I../.. -g -I../../vslib/inc -I../../SAI/inc -I../../SAI/meta -I/usr/include/libnl3 -I../../SAI/experimental -ansi -fPIC -std=c++11 -Wall -Wcast-align -Wcast-qual -Wconversion -Wdisabled-optimization -Werror -

[2019-08-16 11:03] keboliu opened #3358 "vtysh failure result in all bgp related CLI command stuck"
**Description**

with the latest master image, after switch boot up can observe that all bgp related CLI command stuck like "show bgp summary".  After investigated little bit further, found that it because "vtysh" can not be finished and always stuck there.  At the same time, the bgp neighbors seem are all established if check from the peer.

[code]
[code]

all tasks inside bgp are running:

[code

[2019-08-19 06:09] Rancho333 commented on #3331
I have the same problem.

[2019-08-19 07:04] Rancho333 commented on #3331
I modify file `rules/linux-kernel.mk ` like that:
[code]
And it works!

[2019-08-19 08:41] Rancho333 commented on #3331
But I got a error after modify.
[code]

[2019-08-19 11:30] Rancho333 commented on #3331
Ha, I delete the `changelog.path` from file src/sonic-linux-kernel/patch/preconfig/series. Kernel compile successfully!

[2019-08-19 23:06] tonytitus opened #3365 "[201811] Zebra daemon crash"
**Description**

[201811] Zebra daemon crash

**Steps to reproduce the issue:**
1. T1 Topology
2. reboot or systemctl restart swss

**Describe the results you received:**
Zebra daemon core dump

**Describe the results you expected:**
No core dumps

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

**/var/log/quagga/zeb

[2019-08-20 03:27] robert1030 commented on #3206
Hi akokhan:
     thanks for your response, waiting issue 1 that it have a good news.

[2019-08-20 14:48] muhammad51 opened #3367 "Orch agent crashes while creating vlan1 (default vlan)"
config vlan add 1
Nov  3 19:02:57.626169 et6448m-M0 NOTICE swss#orchagent: :- addVlan: Create an empty VLAN Vlan1 vid:1
Nov  3 19:02:57.630538 sonic ERR syncd#syncd: :- processEvent: attr: SAI_VLAN_ATTR_VLAN_ID: 1
Nov  3 19:02:57.630538 sonic ERR syncd#syncd: :- processEvent: failed to execute api: create, key: SAI_OBJECT_TYPE_VLAN:oid:0x260000000006ae, status: SAI_STATUS_ITEM_ALREADY_EXISTS
Nov

[2019-08-20 15:00] muhammad51 opened #3368 "Applying 4k vlan configuration is taking more than hour"
1.Configure 2-4094 vlans
2.Add two ports as tagged member of those vlan
3.Now save run reboot
4.It will take one hour to forward traffic to all the vlans (traffic starts forwarding incrimemntally)
5. In hardware table also i observed  vlan and vlan member installation completes after an hour.

Note:configuring through cli it takes more than an hour

[2019-08-20 18:00] jleveque commented on #3244
Should be addressed by https://github.com/Azure/sonic-utilities/pull/607

[2019-08-20 18:00] #3244 closed

[2019-08-21 06:55] DhinakaranDayalan opened #3370 "When we Switch from One Topology to Other , the Old Topology is still present"
**Description**

**Steps to reproduce the issue:**
1. Load T0 Topology to the DUT using MSFT Test bed.
2. T0 Topology is successfully Loaded and DUT is up with T0 Topology
3. Switch from T0 Topology to T1 Topology byLoading T1 Topology in Test bed
4. Load T1 Topology config using **"config load minigraph"** command from Test bed.
5. The T1 Topology is loaded successfully and T0 Portchannel are rem

[2019-08-22 06:46] batmancn opened #3374 "Test error while building 201904"
https://groups.google.com/forum/#!topic/sonicproject/ZSqexfDO5U8

Hi all,

I'm working on SONiC 201904 branch build. I use local repo, which is forked from sonic-buildimage 201904 and sonic-XXX project.

Now I build SONiC, in building 'target/python-wheels/asyncsnmp-2.1.0-py3-none-any.whl', I got errors like these below.

I guess these are some test work, so how to disable or bypass or fix these t

[2019-08-25 11:31] avi-milner commented on #3244
hi @jleveque ,
it seems that the fix is not working as we expected,
when we call to config_reload / config_load/ config_load_minigraph
from this code you only reset failed counter for services that are already in failed state, this still causes  the config load scenarios to fail after running them within the time window of 20 minutes, 3 times

can you please fix to always reset failed counter for

[2019-08-26 10:08] #2513 closed

[2019-08-26 10:08] #3011 closed

[2019-08-27 02:39] stephenxs commented on #3043
the issue that some docker stopped/started twice has been fixed by [[config] Do not stop or restart dependent services when reloading config #582](https://github.com/Azure/sonic-utilities/pull/582).

[2019-08-27 02:40] #3043 closed

[2019-08-28 03:22] keboliu commented on #2839
fixed by https://github.com/Azure/sonic-utilities/pull/528

[2019-08-28 05:27] nazeerhussainf commented on #3314
Still observing the issue on the Aug 27th build(Build 68).

[2019-09-01 09:23] justin-lu-lyc commented on #3224
Hi , I met the same issue.
The error log is almost the same with the one ArunSaravananBalachandran provided.
Does anyone have any thought for this issue?

[2019-09-04 02:05] TencentSwitchGroup commented on #2500
umount err ：Whether the problem has been solved

[2019-09-04 03:13] stephenxs opened #3406 "DUT fails to promote privilege due to failing to resolve domain name of itself"
**Description**
DUT fails to promote privilege due to failing to resolve domain name of itself
On the switch, it can take as long as 5 minutes to get “sudo” approved because of failing to resolve its hostname, which is “mtbc-sonic-03-2700” on itself, even the hostname is listed correctly in /etc/hosts.
All things and configurations seem good except that the nameservers aren’t reachable. But I don’

[2019-09-04 15:50] gpaussabrcm opened #3407 "Error rebuilding FRR after clean"
**Description**
The SONiC FRR code can only be built from a fresh clone, but causes a build error when rebuilding after a clean operation.

**Steps to reproduce the issue:**
1. Build SONiC normally (I'm using PLATFORM=broadcom, but the platform shouldn't matter).
2. make target/debs/stretch/frr_7.0.1-sonic-0_amd64.deb-clean
3. make target/debs/stretch/frr_7.0.1-sonic-0_amd64.deb

**Describe the re

[2019-09-07 13:54] CLUDev commented on #3407
Try:
rm -rf src/sonic-frr/frr
make init
make target/sonic-buildimage.bin

[2019-09-09 11:36] Rancho333 commented on #3356
Have you solved this problem?I

[2019-09-09 11:37] Rancho333 commented on #3356
Have you solved this problem?

[2019-09-10 01:31] michealylj1 commented on #3356
Yes, It's ok now.

[2019-09-10 01:31] #3356 closed

[2019-09-10 02:17] Rancho333 commented on #3356
How to fix it? I have the same problem on 201904 for barefoot!

[2019-09-10 02:49] Rancho333 commented on #548
@pavel-shirshov Sorry, I'm doing something else in the meantime. I can make image of broadcom and do nothing special. Ha, I don't known what i have done,but now i have libsaithrift-dev*.deb inside of the target dir. So ，it's the issue of dependency of  LIBSAITHIRFT_DEV? How can i fix it?

[2019-09-11 02:11] antony-rheneus opened #3436 "Add jenkins build for Marvell-armhf platform image"
Commands to run:

make configure PLATFORM=marvell-armhf PLATFORM_ARCH=armhf
make target/sonic-marvell-armhf.bin

[2019-09-11 22:47] pavel-shirshov commented on #548
I can only suggest to check the difference between broadcom Makefiles and your platform Makefiles.

[2019-09-12 05:30] stephenxs opened #3444 "swss restarts during service initialization due to sai_redis_internal_notify_syncd timeout"
**Description**
swss restarts during service initialization due to sai_redis_internal_notify_syncd timeout.
During the initialization, orchagent calls initSaiRedis to set up SAI interfaces. One step of it is to wait for some table via calling select and returns once SAI writes something to the table. If no data received within 1 minute the select returns timeout and orchagent fails, causing the wh

[2019-09-12 17:18] zzhiyuan opened #3450 ""port_desc" in lldpmgrd could be referenced before assigned"
https://github.com/Azure/sonic-buildimage/blob/2114b2129fc1a4b33bc3f43abc24d7b3289963c6/dockers/docker-lldp-sv2/lldpmgrd#L157

[2019-09-12 22:21] #3450 closed, assigned to jleveque

[2019-09-13 11:56] jangidrk commented on #3444
timeout is reduced to 1 minute from 6 as per below PR.  you can try to increase and see if that helps.

https://github.com/Azure/sonic-sairedis/pull/472

[2019-09-13 13:58] stepanblyschak opened #3453 "Change made some time ago to delay snmp in favor of faster fast-reboot stopped working"
**Description**

**Steps to reproduce the issue:**
1. docker ps # after fast-reboot
2. # uptime of snmp is same as all other containers
3.

**Describe the results you received:**
Delaying snmp really affect startup time in fast and warm reboot, but now it starts slower cause different issues (BGP flap, LAG flap)

**Describe the results you expected:**
SNMP container start is delayed

**Additional

[2019-09-13 16:57] pavel-shirshov commented on #3453
@stepanblyschak you're saying that it doesn't matter now, to delay snmp start or to don't delay it?

[2019-09-13 17:14] jleveque commented on #3453
@stepanblyschak: I am also confused as to what you are requesting here. Could you please add more information?

[2019-09-14 15:27] madhukar-kamarapu commented on #2760
When a port-channel is created by user (config portchannel add PortChannelXXX), the corresponding netdevice is created in the kernel(teamd_init() calls team_create() which creates the netdevice in the kernel).

These netdevices are deleted in the kernel when user deletes the configuration (config portchannel del PortChannelXXX).

During config-reload, port-channel netdevices are not exclusively de

[2019-09-14 15:34] madhukar-kamarapu commented on #2066
@leoli-nps Bringing DOWN the port-channel administratively (sudo config interface shutdown PortChannel0001) does not bring DOWN the port-channel member ports. The member ports continues to exchange LACPDUs and are in Selected state. Their entry exists in ASIC_DB as well.

Traffic would continue to forward in the hardware as the ports are programmed as LAG members (in the chip).

You may have to br

[2019-09-14 15:57] madhukar-kamarapu commented on #3026
1. Can you share the output of teamshow?
2. Did you debug if the ICMP request is coming to the port-channel members that are Up (tcpdump on the 2 interfaces would help)?

[2019-09-16 16:46] stepanblyschak commented on #3453
@jleveque @pavel-shirshov
This change https://github.com/Azure/sonic-buildimage/commit/07ea9741fba01d862343f16fedb5fe5f1d27a01f#diff-d39caff3b7cc5743b317762b959ae11fR2 introduces delay for 3m30s  of counters thread and SNMP container. Change was introduced AFAIK to speed up system startup on fast-reboot flow (note: this affects warm-reboot as well)

This change https://github.com/Azure/sonic-build

[2019-09-16 16:54] stepanblyschak opened #3460 "Config DB is not migrated from previous image"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Config DB has only version information.

**Describe the results you expected:**
Config DB is migrated from previous image

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[2019-09-16 18:01] jleveque commented on #3453
@qiluo-msft to comment

[2019-09-16 18:18] akokhan commented on #3206
The issue #1 expected to be fix once the following PR is merged https://github.com/Azure/sonic-buildimage/pull/3461

[2019-09-16 18:25] qiluo-msft commented on #3453
My understanding is that we should delay starting snmp docker container now, but current code is not.

[2019-09-17 01:15] yxieca commented on #119
Looks like there are 2 proposed way to fix this issue: https://ubuntuforums.org/showthread.php?t=872210

[2019-09-17 08:11] yangshp1987 opened #3464 "tacacs priority does not work"
Tacacs clients do not connect tac_plus servers according to the priority when tac_plus servers are configured different priority.

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
I configure two tac_plus server:192.168.15.87(priority 2),192.168.15.86(priority 10).When I checked /etc/pam.d/common-auth-sonic, the 192.168.

[2019-09-17 09:43] #3464 closed

[2019-09-17 09:43] yangshp1987 commented on #3464
the bug has been fixed

[2019-09-17 12:36] gpaussabrcm commented on #119
Looks like that's for a different issue related to /var/lib/dpkg/available, not /var/lib/dpkg/updates/nnnn. Also, the issue seen during a SONiC build occurs during the creation of any of the .deb files (i.e. executing debian/rules), therefore modifying the dpkg installation on a shared build host during the build is not the solution for this case.

We're still seeing this particular error too ofte

[2019-09-17 18:54] jleveque commented on #119
@gpaussabrcm: We have occasionally seen both `/var/lib/dpkg/available/nnnn` and `/var/lib/dpkg/updates/nnnn` error messages. We believe they may both be symptoms of the same issue.

[2019-09-18 01:05] prsunny commented on #3460
can you do a config save and check? I think it requires the config to be explicitly saved by user.

[2019-09-18 01:19] jleveque commented on #3460
@prsunny: `config save` dumps ConfigDB to /etc/sonic/config_db.json. From the description above, it appears as though the file **is** present before the upgrade. It looks like it's getting trashed during DB migration. Assigning to @yxieca to take a look.

[2019-09-18 03:50] yangshp1987 opened #3472 "expose lldpcli command of lldp docker to host"
Lldp can not be configured in host environment, so we expose lldpcli command of lldp docker to host for configuring more convenient.

[2019-09-18 04:46] yxieca commented on #3460
@prsunny  I think this is the flaw we discussed the other day. From the log, I think the old config_db.json was used without calling db_migrator.py. I thought you were adding these calls in updategraph.sh?

[2019-09-18 18:47] lguohan commented on #3453
@pavel-shirshov , how to resolve this issue?

[2019-09-18 19:37] jleveque commented on #3472
Resolved via https://github.com/Azure/sonic-buildimage/pull/3473

[2019-09-18 19:37] #3472 closed

[2019-09-19 08:25] nikos-github opened #3484 "static routes disappear after reboot"
With split mode, static routes configured in frr.conf, disappear from running config after reboot. Problem should be observable though with any mode.

Issue is caused by frr being handled via supervisord and not by watchfrr. This introduces a timing/race condition whereby staticd manages to start before zebra, tries to push the static routes, fails and there is no retry. No issue exists when frr d

[2019-09-19 22:44] #268 closed

[2019-09-19 22:44] yxieca commented on #268
closing. No longer an issue.

[2019-09-19 22:46] stcheng commented on #576
already fixed in https://github.com/Azure/sonic-buildimage/pull/2870

[2019-09-19 22:46] yxieca commented on #404
Closing. Moving away from minigraph is being discussed.

[2019-09-19 22:46] #404 closed

[2019-09-19 22:46] #576 closed

[2019-09-19 22:48] stcheng commented on #1131
moving away from 0x6558; we're using 8949 and 88be for now.

[2019-09-19 22:48] #1131 closed

[2019-09-19 22:48] #1637 closed

[2019-09-19 22:50] stcheng commented on #1770
resolved

[2019-09-19 22:50] #1770 closed

[2019-09-19 22:53] yxieca commented on #1525
Issue has been addressed.

[2019-09-19 22:53] #1525 closed

[2019-09-19 22:54] yxieca commented on #1618
Done.

[2019-09-19 22:54] #1618 closed

[2019-09-19 22:56] stcheng commented on #2042
you could get all the build packages from the Jenkins server.

[2019-09-19 23:00] stcheng commented on #1771
https://github.com/Azure/sonic-buildimage/blob/master/src/libteam/patch/0006-teamd-Administratively-shutdown-port-channel-has-mem.patch

this is fixed! 😆

[2019-09-19 23:00] #1771 closed

[2019-09-19 23:01] stcheng commented on #3215
we're seeing constant passing on this test case

[2019-09-19 23:01] #3215 closed

[2019-09-19 23:02] stcheng commented on #3096
yes

[2019-09-19 23:03] yxieca commented on #1990
We have different hwskus on vs now. this issue has been addressed.

[2019-09-19 23:03] #1990 closed

[2019-09-19 23:04] qiluo-msft commented on #1012
This issue should be there anymore.

[2019-09-19 23:04] #1012 closed

[2019-09-19 23:08] yxieca commented on #2044
I think the diff came 3 minutes later was due to the buffer profiles that are generated by the buffermgrd. Save them or not doesn't hurt next boot. I think it is ok.

[2019-09-19 23:08] #2044 closed

[2019-09-19 23:10] yxieca commented on #2047
@andriymoroz-mlnx  Is this issue address already? Please feel free to reopen if the issue still exists.

[2019-09-19 23:10] #2047 closed

[2019-09-19 23:13] yxieca commented on #2080
Close per Prince's comment. Please feel free to re-open.

[2019-09-19 23:13] #2080 closed

[2019-09-19 23:17] yxieca commented on #2276
Information has been provided by Guohan's comments.

[2019-09-19 23:17] #2276 closed

[2019-09-19 23:19] yxieca commented on #2304
Information provided. Please reopen if further question exists.

[2019-09-19 23:19] #2304 closed

[2019-09-19 23:20] yxieca commented on #2313
Done.

[2019-09-19 23:20] #2313 closed

[2019-09-19 23:22] yxieca commented on #2363
@andriymoroz-mlnx is this still an issue?

[2019-09-19 23:23] yxieca commented on #2370
No. SAI 3.3 doesn't have TD3 support. Sorry for taking so long to answer.

[2019-09-19 23:23] #2370 closed

[2019-09-19 23:25] yxieca commented on #2382
This issue has been addressed with docker engine upgrade.

[2019-09-19 23:25] #2382 closed

[2019-09-19 23:25] stcheng commented on #2375
fixed

[2019-09-19 23:25] #2375 closed

[2019-09-19 23:26] yxieca commented on #2443
We did it!

[2019-09-19 23:26] #2443 closed

[2019-09-19 23:27] stcheng commented on #3271
@antony-rheneus anything left to do?

[2019-09-19 23:30] yxieca commented on #2627
Done.

[2019-09-19 23:30] #2627 closed

[2019-09-19 23:32] yxieca commented on #2653
Fixed.

[2019-09-19 23:32] #2653 closed

[2019-09-19 23:32] yxieca commented on #2658
Fixed.

[2019-09-19 23:32] #2658 closed

[2019-09-19 23:39] yxieca commented on #2775
The issue has been addressed in master and 201811 branch. Please reopen with log if diff.

[2019-09-19 23:39] #2775 closed

[2019-09-19 23:40] yxieca commented on #2877
Question answered by Joe. Please feel free to enter new questions.

[2019-09-19 23:40] #2877 closed

[2019-09-19 23:42] yxieca commented on #2894
Prince answered the question. Please feel free to raise new questions.

[2019-09-19 23:42] #2894 closed

[2019-09-19 23:50] prsunny commented on #3024
This is a kernel behavior. ARP is bind to the Router Interface (Vlan in this example) and not to member ports. So if you shutdown the member ports, ARP will not be deleted as the Vlan interface is still `admin up`. Kindly check the same by `ifconfig Vlan100 down` and verify the behavior. Please re-open if you have further questions.

[2019-09-19 23:50] #3024 closed

[2019-09-19 23:51] yxieca commented on #3041
This issue has been addressed in master and 201811 branch.

[2019-09-19 23:51] #3041 closed

[2019-09-19 23:52] yxieca commented on #3054
Community member is working on bulk setting mode. That would help.

[2019-09-19 23:54] yxieca commented on #3150
Fixed in master and 201811 branch.

[2019-09-19 23:54] #3150 closed

[2019-09-20 00:02] prsunny commented on #3214
Closing this issue. Please re-open if you confirm the platform supports Vxlan. Provide the SAI/ASIC details

[2019-09-20 00:02] #3214 closed

[2019-09-20 00:04] yxieca commented on #3255
Please rebase to latest 201811 branch. Call 'make init' to update submodules. execute "make configure" again, and build.

[2019-09-20 00:15] yxieca commented on #3406
We noticed similar issue when the /etc/hosts file contents was corrupted. Can you check if you hit same issue?

[2019-09-20 03:01] jleveque commented on #633
@YaoTien: Since you haven't responded to my previous comment, I am assuming the new platform API will suffice. Please feel free to reopen this or open a new issue if need be.

[2019-09-20 03:01] #633 closed

[2019-09-20 03:03] jleveque commented on #842
Closing, as the new platform API will eventually remove the need for lm-sensors in SONiC.

[2019-09-20 03:03] #842 closed

[2019-09-20 03:05] jleveque commented on #933
@okanchou9: Since you have not responded in over two years, I am assuming this issue is resolved. Please feel free to reopen the issue if need be.

[2019-09-20 03:05] #933 closed

[2019-09-20 03:12] jleveque commented on #1873
@richard28530: Is this still an issue? If so, is your suggested code above a potential solution? Please feel free to submit a PR if this is the case.

[2019-09-20 03:16] jleveque commented on #2275
@vivekvijaykumar: Did https://github.com/Azure/sonic-buildimage/pull/2315 resolve your issue? If so, please close this.

[2019-09-20 03:19] jleveque commented on #2646
Closing, as the new platform API will eventually eliminate the need for lm-sensors in SONiC.

[2019-09-20 03:19] #2646 closed

[2019-09-20 06:30] antony-rheneus commented on #3271
These are the pending items.
#1 sonic linux kernel
kernel has to be built as part of sonic build process instead of using pre-built kernel for ARM

#2 x86 grub to uboot in all scripts and utilities
Most of the script like /usr/bin/reboot, sonic-utilities uses grub.cfg to check the installed image.
Need to change it to uboot env for ARM

[2019-09-20 10:24] keboliu opened #3493 "[SNMP] CPU utilization MIB OID sometime not available"
**Description**
This issue observed from time to time in various versions
it failed the SNMP test and can be found in the SNMP test log, and also sometimes can be observed from manually query this OID:

[code]

[code]

**Steps to reproduce the issue:**
This issue can not be reproduced every time, but observed from time to time.

**Describe the results you received:**
OID some time not available.

[2019-09-20 17:24] habeebmohammed opened #3497 "add led_fw_path to the permitted_list"
**Description**
I tried to add  led_fw_dir path to the config.bcm file and got an error when building.
"D7264Q28B/th2-d7264q28b-64x100g.config.bcm PASSED the config check!
[line 2] Error: led_fw_dir is not permitted"

adding LED binaries for TH3 & TD3.
https://groups.google.com/forum/#!topic/sonicproject/nlTkUQ53DbM

**Steps to reproduce the issue:**
1. add led_fw_path to config.bcm file
2. build

[2019-09-20 17:35] tonytitus commented on #3367
Looks like Sonic removes members from default vlan but do not remove default vlan. Sonic doesn't have any knowledge of this default vlan but SAI/SDK will still have default vlan with no members. Is this a bug?

[2019-09-23 05:17] ajuse commented on #3255
@yxieca It worked, thank you very much.

[2019-09-23 05:17] #3255 closed

[2019-09-23 19:22] wendani commented on #3370
The correct steps to switch from T0 to T1:
[code]
on  DUT, do `sudo config save -y `

[2019-09-23 19:23] #3370 closed

[2019-09-23 20:58] pawelmaslanka commented on #3368
Hi guys,

I checked changes from Broadcom PR about _Layer 2 Forwarding Enhancements_ :
https://github.com/Azure/sonic-swss/pull/885
https://github.com/Azure/sonic-sairedis/pull/510
https://github.com/Azure/sonic-swss-common/pull/303
https://github.com/Azure/sonic-utilities/pull/529

and I can confirm that after merge them to master branch, they decrease time of initialization so many VLANs interfa

[2019-09-23 21:06] wendani commented on #2904
The path through CONFIG_DB is handled by FlexCounterOrch, which will set to FLEX_COUNTER_DB. So both ways are essentially the same under the hood.

[2019-09-23 21:06] #2904 closed

[2019-09-23 21:15] #3081 closed

[2019-09-23 21:15] wendani commented on #3081
your command to build rpc looks good.

[2019-09-24 09:37] simonJi2018 opened #3503 "build error for 201904 because linux_4.9.168-1+deb9u3.dsc link 404 Not Found"
Hi all,

I'm working on SONiC 201904 branch build. I use local repo, which is forked from sonic-buildimage 201904

Now I build SONiC, I got errors like these below. I think for 201904 it should move linux version to deb9u5, thanks

# Building a custom kernel from Debian kernel source
DO_DOCS=False fakeroot make -f debian/rules -j 4 binary-indep
fakeroot make -f debian/rules.gen -j 4 binary-arch_am

[2019-09-24 09:46] DhinakaranDayalan commented on #3370
Hi Wendani,

I am following the same steps you have mentioned

1. Deleted the OLD Topo
2. Add the New Topo
3. Load the Minigraph for the New Topo
4. Save the Config

I see the Old config are still present in the JSON.
Actually the config load_minigraph command is not completely erasing the Old topo config and re-installing the new Topo Config.
Rather its just appending the new configuration on the

[2019-09-24 18:17] pavel-shirshov commented on #3453
@lguohan
we can:
1. Revert the change which break the feature.
2. Or just remove the timer, if Fast-Reboot still works and we didn't find any regressions.

[2019-09-24 18:30] pavel-shirshov commented on #3365
@tonytitus:
It's hard to say what was the trigger for FRR crash.
You could ask FRR guys here, but from my point of view you need to provide more information or debug by yourself.
First, you need to understand why you have netlink No such device issue.
Can you find another errors in the syslog?

[2019-09-24 18:41] pavel-shirshov commented on #3314
Please use https://github.com/Azure/SONiC/issues/458 to track the issue. The issue has a solution
Closing this as duplicate

[2019-09-24 18:41] #3314 closed

[2019-09-24 18:43] pavel-shirshov commented on #3300
you can see changes in the /etc/sonic/config_db.json after you run sudo config save -y.
Before that you can find the changes in the redis db.
I'm closing this. Please open it if you have further questions

[2019-09-24 18:43] #3300 closed

[2019-09-24 18:45] pavel-shirshov commented on #3256
@wadeheninger Can you please create a Pull request?

[2019-09-24 18:47] pavel-shirshov commented on #1051
Closing this as we don't; need this enhancement right now.

[2019-09-24 18:47] #1051 closed

[2019-09-24 18:49] pavel-shirshov commented on #3025
@tim-rj We found the issue too. We decided don't solve it in quagga for now. If this is critical for you, can you please create PR fixing the issue?

Thanks

[2019-09-24 22:13] #2196 closed

[2019-09-25 00:41] prsunny commented on #3367
In my understanding, Sonic treats default Vlan as 1 and doesn't allow creation of Vlan 1.

[2019-09-25 03:15] pollyhsu2git opened #3508 "AS7816-64X syncd Crashed due to Dynamic Breakout Port Feature commit"
**Description**

The customer reported that AS7816-64X syncd crashed upon the ONIE-installation on its master 20190917 pull.

**Steps to reproduce the issue:**
1.    Downloaded the SONiC latest built image, SONiC.HEAD.86-dirty-20190921.062232, which we got it from the SONiC Jenkins daily build system (https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/).

2.    E

[2019-09-25 14:42] stephenxs commented on #3406
Per my test /etc/hosts seems good when this issue occurs.
[code]

[2019-09-25 17:46] DhinakaranDayalan opened #3511 "bgp_gr_helper Test suite Execution Fails in Latest MSFT Sonic Testbed"
**Description**

Issue:

I was trying to run the bgp_gr_helper test suite form the MSFT Test bed Suite.
bgp_gr_helper.yml

**Steps to reproduce the issue:**
When I was executing the script the test case failed at the Following Location.

    # When RIBD up and send bgp open message it will set F bit to 1. Which means that during restart
    # all routes were preserved in FIB. When DUT receives ope

[2019-09-26 05:48] zhenggen-xu opened #3518 "[Celestica DX010] "show platform psustatus" failure"
admin@sonic:~$ show version

[code]

This is from 201811 github prebuilt binary:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201811/152/artifact/target/sonic-broadcom.bin

The issue happens on master too. please check the serial number for more HW information.

As you can probably see, "gpiochip452" was the one screwed up the PSU gpio base.

[2019-09-27 09:44] stepanblyschak opened #3527 "[ntp] traceback during ntp start due to 'MGMT_VRF_CONFIG' is not defined"
**Description**

**Steps to reproduce the issue:**
1. Usual start flow
2.
3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2019-09-30 11:13] muhammad51 opened #3539 "DOT1P is one-to-one map to TC without any configuration (mapping configuration)"
DOT1P is one-to-one map to TC without any configuration (mapping configuration).

1.Configure vlan 2000
2.Configure Eth1 (ingress) Eth2(Egress) as tagged member of vlan 2000
3.Now send unicast traffic with vlan priority 3
4. Traffic is forwarded via q 3

Expected:
It should passes through queue 0

root@sonic:/home/admin# show queue counters Ethernet12
      Port    TxQ    Counter/pkts    Counter/b

[2019-10-03 05:44] antony-rheneus commented on #3271
Raised PR for sonic-linux-kernel changes
https://github.com/Azure/sonic-buildimage/pull/3556

[2019-10-04 19:34] mikelazar opened #3565 "Jenkins check-in builds fail with the error "no space left on device""
The pull request is:
https://github.com/Azure/sonic-buildimage/pull/3553

Please note that the pull -request does not affect the build process in any way.

For details, please refer to:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/1100/console

---> Running in 331c7b687988
open **/var/lib/docker/vfs/dir/c71475e741cfe79d6526a6d97b713133aaaae7aac1b48b742ebae4409

[2019-10-05 00:16] jleveque commented on #3565
I freed up space on the Jenkins server. The test is rerunning now. If it succeeds, we can close this issue.

[2019-10-05 02:11] jleveque commented on #3565
Check builds all passed. Closing this issue.

[2019-10-05 02:11] #3565 closed

[2019-10-06 18:36] mikelazar commented on #3565
@jleveque Thank you!

[2019-10-07 03:42] robert1030 commented on #3206
These issues has be fixed, and check on SONiC.HEAD.437-dirty-20191005.065051

[2019-10-07 03:42] #3206 closed

[2019-10-07 14:17] #3518 closed

[2019-10-08 04:46] robert1030 opened #3578 "Port-65 of BFN Wedge100bf_65x can't link success with HPE-100G-840QSFP28 Adapter, when enable RS-FEC"
**Description**

Port65 of Wedge100bf_65x enable RS-FEC and Port speed is 100Gb, can't link success with HPE InfiniBand EDR/Ethernet 100Gb 1-port 840QSFP28 Adapter
(Adapter chip is mellanox connectx-4)

**Steps to reproduce the issue:**
1.  portconfig -p Ethernet256 -f rs -s 100000 on Wedge100bf_65x
2.  config interface shutdown Ethernet256
     config interface startup Ethernet256
3. show interfa

[2019-10-09 03:35] Rancho333 commented on #3503
Hi，the kernel version is update.You can find the right version from http://security-cdn.debian.org/debian-security/pool/updates/main/l/linux/

[2019-10-10 06:23] stephenxs opened #3587 "ARP test failed sporadically on t1-lag topo"
**Description**
arp test failed due to expected arp reply from DUT not received on t1-lag.
On the t1-lag, the test has the following steps:
1. choice two physical ports
2. remove them from lag group
3. configure ip address on the ports
4. send arp request, check whether there is an expected response packet received.
The test failed at step 4, the expected packet hasn't been received.
Before sendin

[2019-10-12 02:46] wangxin commented on #3527
Observed similar issue of generating /etc/ntp.conf:

[code]

As a result, the /etc/ntp.conf file is empty.

[2019-10-15 05:36] mini-nair-dell opened #3603 "The ntp.conf file is empty in the recent November images"
Issue:
+++++++
The NTP.conf file has no data , and hence the script <> fails

The file is empty

Failed image
+++++++++++++

root@sonic-s6100-07:/etc# ls -l ntp.conf
-rw-r--r-- 1 root root 0 Oct 14 21:44 ntp.conf
root@sonic-s6100-07:/etc# show version

SONiC Software Version: SONiC.HEAD.169-afbb916
Distribution: Debian 9.11

Passed image
++++++++++++
The passed image has the NTP config in the NTP.

[2019-10-15 18:09] pavel-shirshov commented on #3358
Probably fix is here:
https://github.com/Azure/sonic-buildimage/pull/3604

[2019-10-16 00:25] keboliu commented on #3358
Thank you for the notification, will test after PR merged.

[2019-10-16 20:05] pavel-shirshov commented on #3358
@keboliu I've merged the PR. Please test it when you have time. Thanks

[2019-10-18 11:14] keboliu opened #3630 "warm reboot failed due to LAG flapping"
**Description**

**Steps to reproduce the issue:**

with latest master image, there is a possibility encounter into this issue when run warm reboot test.

**Describe the results you received:**

[code]

**Describe the results you expected:**

warm reboot shall pass.
[syslog.gz](https://github.com/Azure/sonic-buildimage/files/3743604/syslog.gz)
[syslog.1.gz](https://github.com/Azure/sonic-buildimag

[2019-10-21 21:20] neethajohn opened #3641 "Orchagent crash on Broadcom platforms with latest master"
**Description**

Oct 21 20:44:39.306454 str-7260cx3-acs-7 NOTICE swss#orchagent: :- init: broadcom switch capability:
Oct 21 20:44:39.306454 str-7260cx3-acs-7 NOTICE swss#orchagent: :- init:     ACL_TABLE_MIRROR: yes
Oct 21 20:44:39.306454 str-7260cx3-acs-7 NOTICE swss#orchagent: :- init:     ACL_TABLE_MIRRORV6: yes
Oct 21 20:44:39.309377 str-7260cx3-acs-7 NOTICE swss#orchagent: :- init: Get ACL e

[2019-10-22 12:34] 3Hren opened #3645 "Push containers' logs to journald instead of json-file driver"
Hi!

During playing with SONiC we encountered an issue when all disk's space was consumed by docker containers' logs. I saw the https://github.com/Azure/sonic-buildimage/pull/563 and seems it must prevent such behavior, but seems like it's not. For example `swss` container still pushes its logs to the bind mount`/var/log/swss:/var/log/swss:rw`.

There are 2 questions:

1. Isn't it better to config

[2019-10-22 15:29] stepanblyschak commented on #3641
@neethajohn @stcheng Does brcm support SAI_SWITCH_ATTR_MAX_ACL_ACTION_COUNT?

[2019-10-22 15:33] stepanblyschak opened #3649 "[teamd][warmreboot] teamd fails to restore PortChannel state sporadically after warm reboot"
[teamd.txt](https://github.com/Azure/sonic-buildimage/files/3757377/teamd.txt)

**Description**

**Steps to reproduce the issue:**
1. sudo warm-reboot -v
2. repeat until use see issue with LAG flapping
3. zgrep ERR teamd.log

Part of teamd log
[code]

**Describe the results you received:**

LAG flaps sometimes after warm reboot

**Describe the results you expected:**

teamd restores LAG

**Additio

[2019-10-23 03:23] stephenxs opened #3654 "process-reboot-cause and ntp service report "redis.exceptions.ConnectionError" after warm-reboot"
**Description**
process-reboot-cause and ntp service reports unable to connect to redisdb after warm-reboot. From the syslog we can see the following logs like:

ntp service starts at 09:24:52

    Oct 22 09:24:52.254173 mtbc-sonic-03-2700 WARNING systemd-udevd[377]: Could not generate persistent MAC address for bond0: No such file or directory
    Oct 22 09:24:52.320610 mtbc-sonic-03-2700 INFO nt

[2019-10-23 07:08] chitra-raghavan commented on #3075
This is fixed in recent images

[2019-10-23 07:08] #3075 closed

[2019-10-23 09:24] robert1030 opened #3655 ""show arp" on BFN Wedge100bf_65x, it display Warning message "SAI_VLAN_ATTR_VLAN_ID""
**Description**
show arp on wedge100bf-65x, it display warning message "SAI_VLAN_ATTR_VLAN_ID", after deploy L2 vlan config to Wedge100bf_65x.

**Steps to reproduce the issue:**
1. Put l2_access-trunkvlan.json to /home/admin
2. cp -a l2_access-trunkvlan.json /etc/sonic/config_db.json
3. config reload -y
4. Waiting about 3 mins
5. Stop and Disalbe some service
systemctl stop lldp.service
systemctl

[2019-10-24 01:27] #3655 closed

[2019-10-24 01:27] robert1030 commented on #3655
Move the issue to Github/SONiC

[2019-10-24 01:41] #3578 closed

[2019-10-24 01:41] robert1030 commented on #3578
Move the issue to Github/SONiC

[2019-10-26 10:47] adamx-xk opened #3673 "sonic image compile error happend at "make all" stage. Need help, thanks."
...
Step 6/36 : RUN apt-get update && apt-get install -y         apt-utils         default-jre-headless         openssh-server         curl         wget         unzip         git         build-essential         libtool         lintian         sudo         dh-make         dh-exec         kmod         libtinyxml2-2         libboost-program-options1.55-dev         libtinyxml2-dev         python

[2019-10-28 00:19] #3673 closed

[2019-10-29 07:55] iMasaruOki commented on #3641
In my environment (Broadcom Trident3 switch),  commit 09171575 is works fine.

[2019-10-29 13:59] dflynn2019 commented on #3673
Hi Adam,

I have also seen this problem.
How did you resolve it?

Dennis

On Sun, Oct 27, 2019 at 8:19 PM adamx-xk <notifications@github.com> wrote:

[2019-10-29 22:04] baxia-lan commented on #2813
Same issue here, any update?

[2019-10-30 02:11] stephenxs commented on #3406
@yxieca
This issue can also be reproduced on 201811. And in that reproduction, the /etc/hosts was corrupt and a lot of "\0"s were inserted between the first line and the second line. I guess it prevents the DUT from reading the second line which contains the hostname.
So on 201811 it is the same issue as what you faced. Do you have any suggestions?

Information of the broken flow:

    open("/etc/

[2019-10-30 03:15] yxieca commented on #3406
I believe https://github.com/Azure/sonic-buildimage/pull/3676 addresses the /etc/hosts issue.

[2019-10-30 03:16] #3406 closed

[2019-10-30 05:39] adamx-xk commented on #3673
pls replace  'linux-compiler-gcc-4.8-x86' with 'linux-compiler-gcc-4.9-x86' in file sonic-slave/Dockerfile.j2.

[2019-10-30 23:49] jleveque commented on #3673
@ dflynn2019: I acutally made this change on Sep. 26 in both the [master branch](https://github.com/Azure/sonic-buildimage/pull/3514) as well as the [201811 branch](https://github.com/Azure/sonic-buildimage/pull/3515). You should no longer see any issues on these branches.

[2019-11-01 12:09] stepanblyschak commented on #3453
Should be fixed by https://github.com/Azure/sonic-buildimage/pull/3657

There is another interesting side effect of snmp.timer and ```WantedBy=swss.service```, if we do config reload right after start, during swss restart, after snmp has stopped snmp.timer may trigger snmp to start in the middle of config reload causing swss restart to fail. This should be fixed by https://github.com/Azure/sonic-b

[2019-11-01 13:21] nazariig opened #3697 "Boot type during config reload after fast reboot is invalid"
**Description**
After the fast reboot, on the next config reload, the system behaves in the same way as during the fast reboot flow.

It seems that the boot type detection logic in sonic-buildimage and sonic-sairedis are not aligned:

sonic-buildimage/files/scripts/syncd.sh
[code]

sonic-sairedis/syncd/scripts/syncd_init_common.sh
[code]

**Steps to reproduce the issue:**
1. fast-reboot
2. config

[2019-11-01 13:48] mykolaf commented on #2738
Reopening this issue, since we're reverting the fix.

[2019-11-04 09:16] adamx-xk opened #3701 "Barefoot-SONIC Daily build failed，anybody know how to solve this problem？Thanks."
-Wno-long-long -Wno-redundant-decls -I /usr/include/sai -Wdate-time -D_FORTIFY_SOURCE=2 -g -O2 -fdebug-prefix-map=/sonic/src/sonic-swss=. -fstack-protector-strong -Wformat -Werror=format-security -c -o orchagent-copporch.o test -f 'copporch.cpp' || echo './'copporch.cpp
In file included from /usr/include/sai/sai_meta.h:6:0,
from /usr/include/sai/sai_serialize.h:18,
from intfsorch.cpp:8:
/usr/inclu

[2019-11-05 02:35] yxieca commented on #3238
@nazeerhussainf if you can still repeat the issue. can you attach syslog instead of core?

[2019-11-05 02:36] yxieca commented on #2096
Please feel free to enter new issue or reopen if the issue still persists.

[2019-11-05 02:36] #2096 closed

[2019-11-05 02:38] yxieca commented on #2030
Closing stale issues. Please feel free to reopen if the issue still persists.

[2019-11-05 02:38] #2030 closed

[2019-11-05 03:49] billie-alsup commented on #2813
I also received this error today while trying to build master branch for PLATFORM=broadcom.  A google search seems to show this is a known problem for older kernels, where docker filesystem mounts can leak into other namespaces (https://github.com/moby/moby/issues/34198).  That URL in particular deals with cAdvisor, but I thought it might apply in general to docker usage.  I had another branch (di

[2019-11-06 18:33] neethajohn opened #3718 "Ping failure on latest master on Mellanox platform"
**Description**
With the Nov 5 and 6 Mellanox image, unable to ping BGP neighbors. Counter stats show RX_DROP for all packets received on Portchannels.

**Steps to reproduce the issue:**
1. Load Nov 5 image and issue 'show ip bgp summary'. BGP sessions are not established
2. Ping bgp neighbor and ping will fail
3. Check 'show int counters'. RX_OK is equal to RX_DROP on all portchannels

**Describe

[2019-11-06 20:55] jleveque commented on #2275
No response for months. Assuming this issue has been resolved; closing.

[2019-11-06 20:55] #2275 closed

[2019-11-06 21:02] jleveque commented on #3302
@scjuang: There is a new mechanism you can leverage to prevent the ledd daemon from getting started in the PMon container. Using this, the daemon will not start, and this error message will not get logged. Here is an example: https://github.com/Azure/sonic-buildimage/blob/master/device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json

[2019-11-06 21:02] #3302 closed

[2019-11-07 09:32] disaster123 commented on #3641
For me it works fine on latest master from yesterday or today.

[2019-11-07 15:31] stepanblyschak commented on #3641
Fixed by https://github.com/Azure/sonic-swss/pull/1106

[2019-11-07 15:31] #3641 closed

[2019-11-07 21:26] neethajohn commented on #3718
db migrator had the version set and didn't update the config

[2019-11-07 21:26] #3718 closed

[2019-11-07 23:06] pavel-shirshov commented on #3649
Please check https://github.com/Azure/sonic-buildimage/pull/3725

[2019-11-07 23:34] pavel-shirshov commented on #3697
I think that it wouldn't be enough.
If someone restart bgp container without reloading config, bgpd will think we're still in fast-reboot mode.
I think we should disable FAST-REBOOT mode in 3 minutes.

We can as you propose put the key into the DB and remove it in 3 minutes (or by config reload).
In the scripts we will check the key.
Will it work for you?

[2019-11-08 09:34] stepanblyschak commented on #3697
@pavel-shirshov I wasn't aware about BGP case, a new fastboot-finalizer service (similarly to warmboot-service) can remove the key after 3 min. It will work for me.

[2019-11-08 11:32] pphuchar opened #3727 "Broadcom platform SONiC built fail"
Built fails with following message:
[code]

Require newline at line 71.
https://github.com/Azure/sonic-buildimage/blob/2e61e14bb3f39f5d2e58137f697c7a8d55593a16/platform/broadcom/sonic-platform-modules-accton/debian/control#L71