[2020-11-10 16:51] lguohan opened #5883 "build failure for thrift"
**Description**

**Steps to reproduce the issue:**
I do not know how to repro.

but there are multiple instances for libthrift build failure recently.

**Describe the results you received:**
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all-pr/5935/console
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all-pr/5930/

**Describe

[2020-11-10 18:52] ciju-juniper commented on #5732
@prsunny @rajendra-dendukuri  Please take a look at this diff and review the changes.

I will create a pull request to sonic-buildimage once after current PR is merged. I haven't had branches created before creating the initial pull request.

[2020-11-10 19:03] ciju-juniper opened #5884 "Enhancement request for ZTP"
When the ztp over in-band ports are tried out, it expects a working link to be available. As the platforms are built with 'ZTP' turned on at the build time, there will not be any default confg_db.json included in the sonic image. Some platforms will require certain optics parameters like 'FEC:rs' to be configured for the connected optics for the link to be up.

This is an enhancement request for t

[2020-11-10 19:04] ciju-juniper commented on #5884
@rajendra-dendukuri  Please see if this request can be accommodated in the ZTP

[2020-11-10 19:05] ciju-juniper commented on #5884
@anshuv-mfst Please mark this as an enhancement and assign to @rajendra-dendukuri

[2020-11-10 19:07] yxieca opened #5885 "test_reboot.py triggers warm reboot failure: BRCM SAI warm recovery failure"
**Description**

**Steps to reproduce the issue:**
1. Running nightly test, particularly test_reboot.py
2.
3.

**Describe the results you received:**
warm reboot failed, orchagent crashed.

**Describe the results you expected:**
test succeeded.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file

[2020-11-10 20:01] gechiang commented on #5885
Additional info about this issue when it failed it was running master.480 image

[2020-11-10 22:28] vaibhavhd opened #5888 "FRRoute fixes unavailable in SONiC"
**Description**
SONiC does not seem to have fixes that FRRouting latest has made in past few months.
SONiC is at FRRouting 7.2.1-s3 and the latest FRRouting  is at 7.5.

Specifically, I have seen errors reported in `bgpd.log` that have been reportedly fixed in the FRRouting repo.
[code]

There was a similar issue reported and fixed too - Issue: https://github.com/FRRouting/frr/issues/6077  ----  F

[2020-11-10 22:36] vaibhavhd opened #5889 "SNMP MIBs missing"
**Description**

MIB missing errors are consistently logged in `/var/log/quagga/bgpd.log`. I think this is common in every platform ( I checked 6100 and DX010).

The SNMP docker in .201911 image does not have these MIBs present in `/usr/share/mibs/`
The missing MIBs are listed in `miblist.txt`.
The missing MIBs are present at https://github.com/net-snmp/net-snmp/tree/V5-7-patches/mibs but somehow

[2020-11-10 22:54] vaibhavhd opened #5890 "SAI_PORT_OPER_STATUS_DOWN issued to all ports abruptly after warm-reboot"
**Description**
The `test_cont_warm_reboot` failed and reported that all LAGs flapped in the DUT. Upon checking logs:

After warm-reboot, services are coming up as usual and then suddenly all the ports go down, and hence take the LAGs down with them too. Sairedis logs show `SAI_PORT_OPER_STATUS_DOWN` being issued for every port:

**Steps to reproduce the issue:**
1. Run continuous warm-reboot test

[2020-11-10 23:28] #5583 closed

[2020-11-10 23:43] qiluo-msft commented on #5889
Even the 'the results you expected' is met, bgp and snmp are isolated containers, so bgpd still has no visibilities on that folder.

What is the real impact other than the ERR logs?

[2020-11-11 00:01] vaibhavhd commented on #5889
I see. My assumption was that the MIBs listed in `miblist.txt` have some purpose.
I don't know if there are external or internal entities polling these MIBs which can have certain negative outcome due to MIBs not found in the image.

Also, why are these SNMP error logs appearing in `bgpd.log`?

[2020-11-11 00:17] yxieca commented on #5877
#5891  is a smaller impact change suggested by pca9541 expert. This change achieves the same effect as #5881 on Celestica dx010 platform and only impact dx010 platform.

[2020-11-11 01:16] Junchao-Mellanox opened #5892 "Invalid port info in state DB after configuring split port in config_db.json without changing port_config.ini/platform.json"
**Description**

We found that user can configure split port by directly changing config_db.json without modifying port_config.ini or platform.json. However, the problem is that xcvrd still reads port configuration from port_config.ini/platform.json which would cause wrong information in DB.

**Steps to reproduce the issue:**
1. User configure split port on Ethernet0 to “1 split 4” in  config_db.j

[2020-11-11 02:17] theasianpianist commented on #3849
@volodymyrsamotiy Can you please upload the VNET routes JSON file that you are using?

[2020-11-11 02:22] #5522 closed

[2020-11-11 02:25] ryan44guo commented on #5722
I mentioned that in these log messages， the database service restart in warm-reboot process，so I doubt that portsyncd crashed many times is the same reason，in your syslog file，you should find that swss service restart many times in this process too. And I think maybe you are running a sonic system in a slow CPU here.
I think this is because of the systemd used is an old version, in warm-reboot scr

[2020-11-11 02:27] lguohan commented on #5853
celestica upload the change by Friday.

[2020-11-11 03:07] bingwang-ms opened #5893 "[caclmgrd] caclmgrd crashed during fast-reboot"
**Description**
```caclmgrd``` crashed during ```fast-reboot``` with following log
[code]

**Steps to reproduce the issue:**
1. Just run ```fast-reboot```, and the issue will repro
2.
3.

**Describe the results you received:**
No crash during ```fast-reboot```.

**Describe the results you expected:**
The ```caclmgrd``` crashed and coredump was generated.

**Additional information you deem importan

[2020-11-11 03:12] #5855 closed

[2020-11-11 03:23] lguohan commented on #5893
it sounds like in fast reboot, the database will be killed and then caclmgrd will not be able to connect to the database? then it will issue such message?

[2020-11-11 03:27] bingwang-ms commented on #5893
Yes, Agree. I looked into the issue, and guess it was caused by unhandled exception in Select::poll_descriptors.
[code]

[2020-11-11 05:57] lguohan commented on #5893
@qiluo-msft to comment. maybe we should shutdown more gratefully?

[2020-11-11 09:03] lguohan opened #5897 "Mellanox build master failure"
**Description**

**Steps to reproduce the issue:**
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all/456/

[code]

**Describe the results you received:**
mellanox build should pass.

it is unclear why only mellanox build is failing.

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2020-11-11 09:04] lguohan commented on #5897
build 455 is ok, but starting from build 456 the build is failing.

it seems caused by bgpcfgd upgrade to python3.

[2020-11-11 10:37] lolyu opened #5898 "[PFCWD] Packets are dropped with designated queue after PFC storm is restored"
**Description**

After the PFC storm is restored over a designated queue, the port still drops packets for that queue.

**Steps to reproduce the issue:**
1. Start `pfcwd` with default config
[code]
2. Storming DUT Ethernet44 queue 4 on fanout switch
[code]
3. Check DUT pfcwd stat:
[code]
4. Kill the storming script on fanout switch and check pfcwd stats:
[code]
5. Send packets to DUT Ethernet44 qu

[2020-11-11 11:57] lguohan commented on #5898
can you check if the acl installed are removed after the storm is restored.

it looks like to me that we the acl is not removed after step 4.

can you capture the one tech support after step 4 and share?

[2020-11-11 12:02] #5706 closed

[2020-11-11 12:13] volodymyrsamotiy commented on #3849
[vnet.route.json.txt](https://github.com/Azure/sonic-buildimage/files/5523872/vnet.route.json.txt)

@theasianpianist uploaded

[2020-11-11 16:09] anshuv-mfst commented on #5890
@judyjoseph - could you please look into this issue.

@vaibhavhd
Please confirm if this this generic SONiC issue or SAI issue?
Please add more debug information in the issue.

[2020-11-11 16:15] anshuv-mfst commented on #5888
@rlhui - Could you please have someone from your team look into this issue. Thanks.

[2020-11-11 16:18] SuvarnaMeenakshi commented on #5598
In SONiC, ntp-config service creates /etc/ntp.conf which is the ntp configuration used by ntp service.
/etc/ntp.conf is created from a template ntp.conf.j2.
This template ensures that only Management IP or Loopback IP is used to listen, if both are configured.
If there is no management IP or Loopback IP, then it listens on all interfaces.
I don't see the issue described in the experiments done on

[2020-11-11 16:19] anshuv-mfst commented on #5880
1. Please provide "show tech support" output
2. Please which release is this seen.

[2020-11-11 16:30] anshuv-mfst commented on #5872
This is not supported for static route/warm-restart.
Need to add protection in warm-restart - @yxieca to discuss in Warmboot subgroup.

[2020-11-11 16:30] #5872 closed

[2020-11-11 16:32] pavel-shirshov commented on #5897
That should be fixed by moving sonic-config-engine to python3. After that sonic-bgpcfgd will not run python2 interpreter from python3 interpreter.
And this PR will woek https://github.com/Azure/sonic-buildimage/pull/5847

[2020-11-11 16:34] anshuv-mfst commented on #5852
Please provide more information to debug - please provide full build log.

Please re-test with latest verion (might have hit known issue https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image/)

[2020-11-11 16:35] pavel-shirshov commented on #5897
[code]
That means that sonic-config-engine was run by python3 interpreter, not python2 despite this https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-bgpcfgd/tests/test_sonic-cfggen.py#L17 and that everything works not in debug image.

[2020-11-11 16:38] anshuv-mfst commented on #5839
vlan is not supported in multi-asic.
Please provide more input: which platform is this tested on? (pizza box or chassis?)

[2020-11-11 16:42] anshuv-mfst commented on #5833
Please provide more information:
1. full logs from /target/debs/stretch

[2020-11-11 16:52] anshuv-mfst commented on #5821
@yxieca to discuss offline.

[2020-11-11 16:58] anshuv-mfst commented on #5796
@qiluo-msft - could you please verify if this is by design or is a bu. Thanks

[2020-11-11 17:02] anshuv-mfst commented on #5795
Please provide more information:
1. Is orchagent is in running state, i.e. after configuration does it crashes?
2. provide show tech support output
3. Need to confirm if this is SAI issue (BRCM).

[2020-11-11 17:06] anshuv-mfst commented on #5792
@qiluo-msft - could you please confirm if this is by design or bug.

[2020-11-11 17:09] anshuv-mfst commented on #5787
Please work with Quanta team on this issue.

[2020-11-11 18:41] qiluo-msft commented on #5796
RFC4293 OIDs are not supported right now.

[2020-11-11 18:41] #5796 closed

[2020-11-11 18:45] qiluo-msft commented on #5792
The ifPhysAddress OID is not supported right now. However we welcome any code contribution on this.

[2020-11-11 18:45] #5792 closed

[2020-11-11 19:48] gechiang commented on #5885
This is a BRCM SAI issue.
A simpler trigger for this is by running "warm-reboot -vvv" which can also reproduce this issue.
This seems to be BRCM ASIC dependent.
It fails on DUT that has ASIC BCM56960_B1  (Tomahawk)
but works fine with ASIC BCM56971_B0 (Tomahawk2)
CASE CS00011465498 filed with BRCM support.
On Tomahawk it seems SAI is unable to retrieve "bcmCosqControlUCEgressPool" value as part of

[2020-11-12 00:00] yxieca opened #5907 "xcvrd keep on crashing with latest master image 484 on 7050cx3 platform"
**Description**

**Steps to reproduce the issue:**
1. Install master image 484 on 7050cx3 platform
2.
3.

**Describe the results you received:**
pmon keep on crashing:

Nov 11 23:08:02.670333 str2-7050cx3-acs-07 INFO pmon#supervisord: xcvrd Traceback (most recent call last):
Nov 11 23:08:02.670477 str2-7050cx3-acs-07 INFO pmon#supervisord: xcvrd   File "/usr/local/bin/xcvrd", line 5, in <module>
N

[2020-11-12 01:00] lguohan commented on #5907
@vdahiya12 , can you identify which pr cause the regression?

[2020-11-12 01:58] bingwang-ms commented on #5583
Thanks @gechiang

[2020-11-12 03:03] irene-pan1202 commented on #5880
@anshuv-mfst Should the rsyslog service be started using "ip vrf exec mgmt" like NTP service?

● rsyslog.service - System Logging Service
   Loaded: loaded (/lib/systemd/system/rsyslog.service; enabled; vendor preset:
   Active: active (running) since Thu 2020-11-12 02:49:49 UTC; 5min ago
     Docs: man:rsyslogd(8)
           https://www.rsyslog.com/doc/
 Main PID: 20369 (rsyslogd)
    Tasks: 5 (l

[2020-11-12 06:24] ciju-juniper commented on #5732
@prsunny Could you take a look at the proposed suggestion? If you are fine with it, I will raise a PR to sonic-buildimage repo.

[2020-11-12 08:23] CLUDev commented on #5795
1. orchagent is not running
       [syslog]
       Nov 12 12:02:41.337078 sonic ERR monit[600]: 'orchagent' process is not running
       Nov 12 12:02:41.348722 sonic ERR monit[600]: 'sflowmgrd' process is not running

2. Tech Support Output
[sonic_dump_sonic_20201112_152504.tar.gz](https://github.com/Azure/sonic-buildimage/files/5528935/sonic_dump_sonic_20201112_152504.tar.gz)

3. It does not see

[2020-11-12 09:10] mini-nair-dell opened #5909 "S6100/201911/WFB/BGP docker container fails to run"
Description
============
1) The BGP docker doesnt get to run in the image.

root@sonic-s6100-10:~# show ver
SONiC Software Version: SONiC.201911.38-005702ba

2) The issue is not seen on 36th label

3) Could see the below fixes on 37th build. Not sure if this broke.

[multi-ASIC] BGP internal neighbor table support (#5520) — abdosi / githubweb
[multi-ASIC] util changes with the BGP_INTERNAL_NEIGHBO

[2020-11-12 09:55] liat-grozovik commented on #5909
Thanks for reporting it. it is not relevant to specific ASIC or platform. seems like 201911 is broken as of recent commits.
@judyjoseph FYI as it seems related to merges done on master but cherry picked to 201911.

[2020-11-12 10:57] nazeerhussainf opened #5910 "Lossless queues 3 and 4 are printed as lossy queues in syslog"
**Description**

**Steps to reproduce the issue:**
1. Topology :
Ixia1 ---- (Ethernet0) DUT (Ethernet4) ---- Ixia2
2. Create the topology as mentioned above.
3. Send traffic from Ixia1 on priority 0 to 7 to Ixia2.
4. Enable PFCWD with 200ms as detection and restoration time.
5. Send pause storm on priority 3 or priority 4 from Ixia2.
6. Observe the syslog for the following message.

Aug 20 13:08:4

[2020-11-12 15:00] mkjprior commented on #5787
I reached out to Quanta first. They said it was a SONIC issue and suggested I reach out the the SONIC team . I am inclined to agree with them, since the switch works in Quanta's own diagnostic. It can be loaded with an Edgecore Sonic image, that we use for our Edgecore Switches. This booted normally and brought up port power without issue. When I did this I noted that "/sys/class/gpio" files I ref

[2020-11-12 16:39] judyjoseph commented on #5909
Thanks @abdosi for cherry-picking this PR, https://github.com/Azure/sonic-swss-common/pull/389.
It was the DB schema change that was needed. The issue should be fixed now. Will verify a build and close.

[2020-11-12 16:53] abdosi commented on #5909
Verified locally and it is fine. New Build should be fine

[2020-11-12 16:53] #5909 closed

[2020-11-12 17:03] yxieca opened #5912 "lldp_syncd: continuous complaints of Failed to get system capabilities"
**Description**

**Steps to reproduce the issue:**
1. run nightly test on arista 7050cx3 platform
2.
3.

**Describe the results you received:**
Throughout the whole test period, lldp_syncd has been complaining with following ERROR level message and caused various testcases to fail due to loganalyzer caught this complaint.

syslog.58.gz:Nov 12 08:13:48.506123 str2-7050cx3-acs-06 ERR lldp#lldp-syncd

[2020-11-12 17:49] yxieca commented on #5912
Further log analysis shows that this error message was associated with either dut reboot or config reload.

[2020-11-12 18:07] prsunny commented on #5795
Thanks @CLUDev . Would you help fix it in sonic-utilities?

[2020-11-12 18:45] lguohan commented on #5912
debug a little bit. seems like some neighbor device on eth0 send invalid lldp messages.

[code]

[2020-11-12 18:48] lguohan commented on #5912
tcpdump

[code]

[2020-11-12 18:52] prsunny commented on #5732
With the new coppmgr changes, the traps can be installed or removed (via config_db), does that help solve this? Because as Guohan mentioned, we don't want to keep it installed in case of LeafRouter but remove the trap once ZTP is done. @dgsudharsan

[2020-11-12 18:57] ciju-juniper commented on #5732
@prsunny When the ztp is enabled at build time, there will not be any config_db.json at the first boot. What will happen in that case? Wouldn't the DHCP be disabled?

[2020-11-12 19:08] ciju-juniper commented on #5732
@prsunny Could the DHCP be enabled by default if there is no config_db.json present? And the new config_db deciding whether to enable DHCP or not ?

[2020-11-12 20:06] joraff opened #5914 "Edge-core as7312-54X SFP tx_power issue"
**Description**

On accton/edge-core as7312-54X platform, we are unable to get a link with any Q/SFP/+ optical module we have tried. Passive DAC cables are fine. We are able to read the eeprom of the modules.

The i2c nodes for sfp control seem to have changed. Possibly in the CPLD driver? I observe this by trying to use the platform-specific script:

[code]

**Steps to reproduce the issue:**
1. I

[2020-11-12 21:11] lguohan commented on #5910
is this a typo?

[2020-11-12 21:26] #5912 closed

[2020-11-12 21:33] neethajohn commented on #5910
No. That msg should only get printed if PFC frames are received on lossy queues. Need to understand why it is showing up for 3 and 4

[2020-11-12 23:04] anamehra commented on #5839
This is for chassis.

Is there any work in progress for show ip int support for multi asic?

[2020-11-13 01:03] tim-rj commented on #5334
One question: when a port not in any vlan member, bridge_port_oid and vlan_oid will be both null, is that problem?
If both is null is normal, then we should not print out such warning log;
If both is null is problem, then that is asic vendor issue, should close this.

[2020-11-13 03:45] CLUDev commented on #5795
@prsunny OK, will do.

[2020-11-16 03:44] bingwang-ms opened #5927 "[nbrshow/fdbshow] nbrshow/fdbshow throw Exception"
**Description**
```nbrshow```  and ```fdbshow``` throw Exception when some FDB entries are populated.
[code]
After some investigation, I found that the exception was thrown by method ```port_util.get_vlan_id_from_bvid```, which expect a str as the second argument, but something others is given. I checked the history of ```sonic-py-swsssdk/src/swsssdk/port_util.py``` but didn't find related change.

[2020-11-16 05:48] padmanarayana commented on #5880
As  per design (https://github.com/Azure/SONiC/blob/master/doc/mgmt/sonic_stretch_management_vrf_design.md), syslog is currently not supported with mVRF.

[2020-11-16 06:36] keboliu opened #5928 "Incorrect PVID set for tagged VLAN members"
**Description**

If add an interface as a tagged member to a VLAN, the PVID of this interface will be set to 1, however VLAN 1 is the default VLAN and not exist in ASIC DB.  Untagged packets arrived at this tagged member interface will trigger mac learning in VLAN1, and will cause "show mac" failure and other issues. like described in another issue  https://github.com/Azure/sonic-utilities/issues/

[2020-11-16 08:15] wangxin opened #5929 "Dynamic BGP_BBR is not working as expected"
**Description**

Issue1: When BBR is enabled in /etc/sonic/constants.yml, BBR cannot be disabled by following the instructions in https://github.com/Azure/sonic-buildimage/pull/5626

Issue2: When BBR is disabled in /etc/sonic/constants.yml (manually updated it). BGP configuration lines “neighbor PEER_V4 allowas-in 1” and  “ neighbor PEER_V6 allowas-in 1” are not added after enabled BBR by followin

[2020-11-16 08:40] astrekozov commented on #5793
Firstly 1.3.6.1.2.1.2.2.1.5 OID referenced in RFC 1213 with the name ifSpeed, contains "An estimate of the interface's current bandwidth in bits per second" and have type GAUGE (gauge32, uint32). Hence it is limited to value 4,294,967,295 (~2.2Gb). Obviously this does not cover modern systems, so in RFC 2863 suggested to store these values in ifHighSpeed (1.3.6.1.2.1.31.1.1.1.15) which has the cur

[2020-11-16 15:02] caizhenghui-juniper opened #5930 "Add LICENSE to sonic-restapi repo"
**Description**

Need LICENSE file for complete open source process in sonic-restapi repo

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
Missing LICENSE file in sonic-restapi repo.

**Describe the results you expected:**
We need LICENSE file in sonic-restapi repo just as other sonic repos.

**Additional information you deem important (e.g. issue happens only oc

[2020-11-16 15:26] aravindmani-1 opened #5931 "DellEMC : S5232f CPU pool buffer is not added."
**Description**
In DellEMC S5232f platform, CPU pool buffer is not added when using mmu_init_config="TD3-DELL-lossless"

**Steps to reproduce the issue:**
1.Bring the DellEMC S5232f switch with mmu_init_config
2.Check Buffer limit values through BCM shell.

**Describe the results you received:**
Currently, there is no value set when using the mmu_init_config.

**Describe the results you expected:*

[2020-11-16 15:43] aravindmani-1 opened #5932 "DellEMC: Need pg_lookup_profile.ini for TD3,TH3 platforms."
**Description**
Currently in DellEMC platforms, pg_profile_lookup.ini are all 208 cell size based.
We need values that are in alignment with TD3 platform(256 cell size),TH3(254 cell size).

TD3:
https://github.com/Azure/sonic-buildimage/blob/master/device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C32/pg_profile_lookup.ini
TH3:
https://github.com/Azure/sonic-buildimage/blob/master/device/d

[2020-11-16 18:51] #5907 closed

[2020-11-16 19:12] yxieca opened #5934 "monit complaints feature not ready too early"
**Description**

**Steps to reproduce the issue:**
1. run test_acl.py.
2.
3.

The issue was triggered by acl test reboot scenario. After boot up (see the logs below), the telemetry service takes a few minutes to becomes ready. But monit started to complain about 4 minutes earlier. That causes test cases to 'error' out.

We can take action in sonic-mgmt repo to ignore these errors. It would be nice

[2020-11-16 19:32] yxieca commented on #5934
monit is complaining other services too:

E           LogAnalyzerError: {'match_messages': {'/tmp/syslog.2020-11-16-19:28:36': ["Nov 16 19:28:30.811716 str-dx010-acs-1 ERR monit[560]: 'snmp|snmpd' status failed (1) -- '/usr/sbin/snmpd' is not running.\n", "Nov 16 19:28:30.824512 str-dx010-acs-1 ERR monit[560]: 'snmp|snmp_subagent' status failed (1) -- 'python3.6 -m sonic_ax_impl' is not running.\n

[2020-11-16 22:15] #5813 closed

[2020-11-16 23:08] yxieca commented on #5934
This issue was caused by developer worked on the DUT, commented out the start delay in /etc/monit/monitrc and didn't restore the configuration when done. The normal untampered image won't have this issue.

[2020-11-16 23:08] #5934 closed

[2020-11-16 23:26] joraff commented on #5914
For anyone else coming here:

[code]

Seems so elementary now, but there are literally zero google results with that i2c path.

[code]

 and the interface comes up.

Edge-core team, can you read this and update the platform scripts?

[2020-11-17 00:28] yxieca commented on #5722
@ryan44guo can you paste a line to the fix in the systemd? Many thanks!

[2020-11-17 01:00] ryan44guo commented on #5722
I think the commit  0f52f8e552f869269f02f0359c2d1019cc39f15a on systemd/systemd repaired this bug.
But I have not test it. so I don't know if this is the only problem make the stop failure.

[2020-11-17 02:26] Tsingsoon commented on #5040
I meeted  the same problem, and I found that this is because sonic ignores the linklocal address when processing the neighbor table of the kernel. And, the neighbor of the linklocal address will not be issued. Therefore, the learned ipv6 route will be unable to find the nexthop and fail to config.

[code]

[2020-11-17 03:36] roylee123 commented on #5914
Hi joraff,  refer to https://github.com/Azure/sonic-buildimage/pull/5941 for the fix.

[2020-11-17 05:45] joraff commented on #5914
I appreciate the fix! Working great now. Is there a suggested method for persisting the setting between reboots?

[2020-11-17 05:46] Blueve opened #5942 "Unable to install sonic_utilities-1.2-py3-none-any.whl with Build 492"
**Description**

I installed the latest success build [492](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/492/) to my SONiC switch.
And I am trying to install the newest sonic-utilities package `sonic_utilities-1.2-py3-none-any.whl` but failed with following error:
[code]

I was wondering that it might related to this change: https://github.com/Azure/sonic-u

[2020-11-17 06:18] Blueve opened #5943 "[console] udevprefix.conf not generated after plug-on usb console switch"
**Description**

Console switch uses udev rule to mapping usb tty devices to fixed tty device. More detial can be found in this HLD: https://github.com/Azure/SONiC/blob/master/doc/udev-terminalserver/udev%20rules%20for%20Terminal%20Server.md

According to our design in this PR: https://github.com/Azure/sonic-buildimage/pull/5571
A `udevprefix.conf` file will be put on platform's plugin folder afte

[2020-11-17 06:19] Blueve commented on #5943
@sandycelestica could you take a look on this issue?

[2020-11-17 06:42] roylee123 commented on #5914
This is a customized script for accton switches, it's not supported by sonic-cfggen.
But you may put your setting at the end of do_install() of accton_as7312_util.py.

[2020-11-17 07:27] sandycelestica commented on #5943
This file depends on your udev rules design. Here is an example about how
to generate this file.
e.g:
ACTION=="add"
,KERNEL=="ttyUSB*",SUBSYSTEM=="tty",KERNELS=="1-1.1",ATTRS{idProducc
t}=="2517",ATTRS{idVendor}=="0424",RUN+="/bin/bash -c
'/usr/local/bin/udev_prefii
x.sh C0-'",GOTO="C0 Add"

When the device is plugged in, "udev_prefix.sh" would be called .And  in
udev_prefix.sh it would generate t

[2020-11-17 08:22] Blueve commented on #5943
Hi Sandy, we are using the rule you provided(https://github.com/sandycelestica/sonic-buildimage/blob/master/platform/broadcom/sonic-platform-modules-cel/haliburton/script/50-ttyUSB-C0.rules), seems like the script were not executed when plugged in. But the following SYMLINK added successfully. This issue can be repro on my testbed, is possible to test it on your side?

[2020-11-17 08:53] CLUDev opened #5944 "[IPv6 BGP] Unable to update routes to eBGP peer"
**Description**

Switch is unable to update its BGP routes to peer if its peer does not use FRR to config IPv6 BGP.

**Steps to reproduce the issue:**
    1. Config IPv6 BGP on DUT_FRR
    (ex. use 201911 branch)

    router bgp 901
    bgp router-id 192.168.91.1
    neighbor 2222::2 remote-as 222
    neighbor 2222::2 timers 30 90
    address-family ipv6 unicast
    network 2014:192:168:91::1/128

[2020-11-17 09:14] ppikh opened #5946 "Static routes does not work until send ping to nexthop IP address from DUT"
**Description**

When you add static route on SONiC device - this static route does not work until you send ping to nexthop IP or until do ping to route destination from SONiC device.

**Test setup**
In reproduce scenario we will use 1 SONiC device(DUT) and 2 linux hosts(HA and HB).
DUT connected to HA via link Ethernet64
DUT connected to HB via link Ethernet0
HA connected to DUT via link enp4s0f0

[2020-11-17 09:28] ppikh opened #5947 "Impossible to do ping between IPs in different VRFs in scenario with physical loopback"
**Description**

Impossible to do ping between IPs in different VRFs in scenario with physical loopback

**Test setup**
SONiC device with cable connected from port Ethernet4 to port Ethernet8

**Steps to reproduce the issue:**
1. Do on SONiC device next commands:
sudo config vrf add Vrf_custom
sudo config interface vrf bind Ethernet8 Vrf_custom
sudo config interface ip add Ethernet8 31.1.1.2/24
su

[2020-11-17 10:39] dmytroxshevchuk commented on #5927
The issue starts reproduce after changes in this commit https://github.com/Azure/sonic-utilities/pull/1217/commits/4bf72585e0119f1925c827cf1a09c6d8fa598c5b in `script/fdbshow` file. In this commit was replaced swsssdk.SonicV2Connector to swsscommon.SonicV2Connector
Now in `port_util.get_vlan_id_from_bvid` method we use `db.keys` and try to find key in Unicode format but in db keys in nonUnicode fo

[2020-11-17 12:23] #5806 closed

[2020-11-17 13:26] noaOrMlnx opened #5948 "[orchagent] sairedis fails to create route"
**Description**
orchagent has the following error message in syslog:

`ERR swss#orchagent: :- meta_sai_validate_route_entry: object key SAI_OBJECT_TYPE_ROUTE_ENTRY:{"dest":"30.1.10.0/24","switch_id":"oid:0x21000000000000","vr":"oid:0x3000000000680"} already exists`

`ERR swss#orchagent: :- add_route: SAI failed to create route`

This issue occurs while running vnet_vxlan test which adds duplicated

[2020-11-17 15:23] sandycelestica commented on #5943
I tested this before I upload the code. If needed I could set up the environment to reproduce this issue.
Could you please share with me the test log? Including "ls /dev/*", "lsusb" ,"lsusb -t"

[2020-11-17 16:06] henzelis commented on #5793
Thank you for the detailed explanation and research of this issue. Agree with you.

[2020-11-17 16:06] #5793 closed

[2020-11-17 16:35] liat-grozovik commented on #5015
@madhanmellanox have you updated the documentation so we can close this issue?

[2020-11-17 16:39] madhanmellanox commented on #5015
@jleveque Is the ACL HLD update with Upper case rule props for the config DB schema? @liat-grozovik wants to close this PR once it is done. Please let me know.

[2020-11-17 16:41] madhanmellanox commented on #5015
In the Command Reference guide, there is no mention about aclshow tool. They only mention about ACL show commands and config commands.

[2020-11-17 16:45] liat-grozovik commented on #5015
You can probably add a note to the CLI reference guide about this tool and describe its intention and maybe go the the HLD (which is old one and see if there is any reference to it and update it).

[2020-11-17 22:22] prsunny commented on #5946
This is the current design/limitation for static routes. NH must be resolved before adding routes.

[2020-11-18 01:58] theasianpianist commented on #5663
Can you confirm if you are still seeing this issue on the latest master and 201911 images? I have been unable to reproduce so far with either image.

[2020-11-18 02:37] Blueve commented on #5942
Hi @jleveque, I guess you might know that... Should I need some additional configuration for that?

[2020-11-18 02:40] jleveque commented on #5942
Try calling `pip3` explicitly: `sudo pip3 install --force-reinstall --no-deps sonic_utilities-1.2-py3-none-any.whl`

However, you might run into issues with missing dependencies. Once https://github.com/Azure/sonic-buildimage/pull/5926 merges, this should not be an issue.

[2020-11-18 02:55] Blueve commented on #5942
Thanks a lot!
pip3 works for me. Unfortunately, I got dependencies missing issue as you side and pip3 couldn't resolve them due to my lab's network. I will close this issue after the PR merged. : D

[2020-11-18 03:11] gechiang opened #5955 "Telemetry services stops working each time I upgrade to the next version of code and require deploy minigraph"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
Branch: Mater branch.  any recent image (SONiC.master.491-af654944 as an example) all exhibit this issue.

Each time I upgrade from the same branch Telemetry certificate is lost and require to deploy minigraph to bring back the service.
Wondering why this i

[2020-11-18 03:29] #5841 closed

[2020-11-18 03:31] lguohan commented on #5955
we are not doing deploy minigraph for fast reboot and warm reboot, so it mean the telemetry feature is broken for warm reboot and fast reboot. need to be addressed.

[2020-11-18 03:39] lguohan commented on #5942
@Blueve , please use the linked pull request feature when a pr can close this issue.

[2020-11-18 04:04] pra-moh commented on #5955
It is happening in buildimage because deploy-mg(config_sonic_basedon_testbed.yml) creates and deploy certs.  I think I need to find out way to preserve certs using ansible.
For Production it will be always hardware proxy who will be pushing certs. Not sure how fast/warm reboot can break this?

[2020-11-18 04:39] jleveque commented on #5942
Technically, this isn't an issue with sonic-buildimage; until https://github.com/Azure/sonic-buildimage/pull/5926 merges, the image is technically still using the Python 2 wheel. This is only a problem because @Blueve is trying to install the Python 3 wheel in the image without the dependencies installed.

[2020-11-18 05:10] Blueve commented on #5943
Yeah. Seems like both LN11 and LN12(https://github.com/sandycelestica/sonic-buildimage/blob/master/platform/broadcom/sonic-platform-modules-cel/haliburton/script/50-ttyUSB-C0.rules#L11,L12) in the rule are not working as expect, but others works fine.

Could you please try below steps on your side?

1. Unplug the usb connection between E1031 and console switch

[code]

[code]

[code]

Ensure there

[2020-11-18 06:41] sandycelestica commented on #5943
Thanks.I got your log info and tried to reproduce on my site but each time
the file can be generated automatically.
Since udevprefix.conf depends on 50-ttyUSB-C0.rules and  udev_prefix.sh .
Could you help to provide me with the below log info so that I can check
the files are the right?
1.cat /etc/udev/rules.d/50-ttyUSB-C0.rules
2.cat /usr/local/bin/udev_prefix.sh
   If convenient you can add some

[2020-11-18 08:14] Blueve commented on #5943
@sandycelestica Thanks for your quick response!

[code]

[code]

I will try add something to this script tomorrow and get back to you.
I was wondering if there a hardware different or something cause this problem?
Here is my udev detail for `ttyUSB0`, but I think it should match the rule...
[code]

[2020-11-18 08:34] sandycelestica commented on #5943
Yes,It matches the rules.See below:

ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty",KERNELS=="1-1.1",ATTRS{idProduct}=="2517",ATTRS{idVendor}=="0424",RUN+="/bin/bash
-c '/usr/local/bin/udev_prefix.sh C0-'",GOTO="C0 Add"

Then please help to add some debug info in udev_prefix.sh to make sure
this script has been executed. Any update please let me know. Thanks.

On Wed, Nov 18, 2020 at 4:15 PM Blu

[2020-11-18 08:48] bingwang-ms opened #5957 "[TSC] TSC return 'Not consistent' in TSA(Maintenance) mode"
**Description**
TSC return ```Not consistent``` state in ```TSA```(Maintenance) mode, which should be ```System Mode: Maintenance```.

[code]

**Steps to reproduce the issue:**
1. Run ```config reload``` to re-initialize DUT
2. Run ```TSA``` to enter ```Maintenance``` Mode
[code]
3. Run ```TSC``` to check the current state of DUT, and will get ```System Mode: Not consistent```, which I think shoul

[2020-11-18 11:21] stephenxs opened #5959 "config reload failed on vs image"
**Description**
config reload failed on vs image

**Steps to reproduce the issue:**
1. start vs image
2. execute "config reload"
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
It should not failed

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**
    show version also failed.
[code]

[2020-11-18 17:33] #5069 closed

[2020-11-18 19:01] SuvarnaMeenakshi commented on #5696
Having checked 201911/202020 and master branch images, I don't see a parsing issue.
I see that when FEC column is added in port_config.ini:
SONiC Software Version: SONiC.2020.0-b82c0fc6
    "PORT": {
        "Ethernet0": {
            "alias": "fortyGigE0/0",
            "description": "fortyGigE0/0",
            "fec": "rs",
            "index": "0",
            "lanes": "25,26,27,28",

[2020-11-18 22:58] yxieca opened #5965 "FRR generates log /var/log/frr/frr.log inside bgp docker and taking lots of harddrive space"
**Description**

**Steps to reproduce the issue:**
1. Run nightly test
2.
3.

**Describe the results you received:**
Unable to upgrade to next image because BGP docker took too much hard drive space

**Describe the results you expected:**
Upgrade for nightly test goes smooth.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[2020-11-19 04:53] ciju-juniper commented on #5696
@SuvarnaMeenakshi Issue was observed in PORT[] dictionary table in the /usr/lib/ztp/templates/ztp-config.j2 when the 'fec' column was added. Had you put the changes similar to the one in the comment https://github.com/Azure/sonic-buildimage/issues/5696#issuecomment-714388985 ?

I will anyway check with a new image and see if its' fixed.

[2020-11-19 06:12] Blueve commented on #5943
I tried let the script output something to a file but no luck. Seems like these two rules are not triggered...

@sandycelestica Which image are you using now?  How about try master 492 on your side?

[2020-11-19 06:29] sandycelestica commented on #5943
We have tried the 201911 and 201811 branch.
For master 492 could you share with me the image.As we build it may need
more time.

On Thu, Nov 19, 2020 at 2:12 PM Blueve <notifications@github.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica.

[2020-11-19 07:06] Blueve commented on #5943
Yeah sure, here is the 492 image link: https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/492/artifact/target/sonic-broadcom.bin

[2020-11-19 07:14] liat-grozovik commented on #4717
CRM test is failing on this issue as well

[2020-11-19 07:28] liat-grozovik commented on #5946
Thanks @prsunny  for the reply. I wonder if this flow should be fixed as it seems strange to expect NH to be resolved before adding static route.

[2020-11-19 07:30] sandycelestica commented on #5943
Thanks. Got it.
 I will update you after I download the image and test it. It would need
some time as download speed is limited.

On Thu, Nov 19, 2020 at 3:07 PM Blueve <notifications@github.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica

[2020-11-19 07:34] Blueve commented on #5943
Interest founding:
The rule actually matched but the bash run failed due to permission issue. I thought the udev will using root to execute scirpt?

[code]

[code]

The script's attribute is shown below:
[code]

After I executed below command manually, the udev rule script works find.
[code]

@sandycelestica  could you share your script's attributes? May be we need to add execution permission to t

[2020-11-19 07:42] sandycelestica commented on #5943
Here are the attributes of the scripts.
admin@sonic:/usr/local/bin$ ls -la popmsg.sh
-rwxr-xr-x 1 root staff 364 Jul 29 15:04 popmsg.sh
admin@sonic:/usr/local/bin$ ls -la udev_prefix.sh
-rwxr-xr-x 1 root staff 494 Aug 25 16:29 udev_prefix.sh
admin@sonic:/usr/local/bin$

Agree with you. We need to add the execution permission.

On Thu, Nov 19, 2020 at 3:34 PM Blueve <notifications@github.com> wrote

[2020-11-19 07:48] sandycelestica commented on #5943
Yes, before I always run as root.

On Thu, Nov 19, 2020 at 3:42 PM Sandy Li <sandyli@celestica.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica.com
Think Bigger, Reach Further

[2020-11-19 08:01] Blueve commented on #5943
@sandycelestica  Do you know where is the best place to add the chmod script? I try searched this code repo, but seems like there are no sample...

[2020-11-19 08:30] bingwang-ms commented on #5580
Fixed in https://github.com/Azure/sonic-swss/pull/1498

[2020-11-19 08:30] #5580 closed

[2020-11-19 08:42] bingwang-ms opened #5971 "[orchagent] Orchagent keeps flooding ERROR log after teamd restarted"
**Description**
I noticed that orchagent kept flooding ERROR log if ```teamd``` was restarted when debugging.
[code]
And portchannel was unable to recover.
[code]

**Steps to reproduce the issue:**
1. Issue ```config reload``` to initialize DUT
2. Kill a critical process in ```teamd``` container, say ```teammgrd```.
3. Contailer ```teamd``` will be restarted, and ERROR is flooding.

**Describe the

[2020-11-19 08:45] sandycelestica commented on #5943
Yes, I am also thinking about this problem.
First we can add in udevrules. RUN+="....." .I don't think it is the best
place. But right now I have no other better idea.

On Thu, Nov 19, 2020 at 4:02 PM Blueve <notifications@github.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.c

[2020-11-19 08:48] stepanblyschak opened #5972 "SONiC upgrade via warm-reboot requires force flag for warm-reboot script"
**Description**

SONiC upgrade via warm-reboot requires to add force flag to warm-reboot script

**Steps to reproduce the issue:**
1. Install SONiC image wich has new FW/SDK.
2. Execute 'sudo warm-reboot'
3. Observe error: 'ASIC config may have changed".

A W/A we used is to add '-f' to warm-reboot script, however that might be unsafe because forcing the warm-reboot means the orchagent pause check

[2020-11-19 08:48] Blueve commented on #5943
Could you try add chmod scrpit in this file?
https://github.com/Azure/sonic-buildimage/blob/4c8b1c4896c374ef1132cbfc31524516c97db82c/platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.postinst
This script will run after install finished.

[2020-11-19 08:50] sandycelestica commented on #5943
Sure I'll verify it first.

On Thu, Nov 19, 2020 at 4:48 PM Blueve <notifications@github.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica.com
Think Bigger, Reach Further

[2020-11-19 09:43] lguohan commented on #5955
Have you confirmed that?

[2020-11-19 09:45] lguohan commented on #5955
on the other side, I agree with @gechiang , it is just poor engineering practice that we cannot handle this for normal sonic upgrade scenario.

[2020-11-19 09:50] ChinaMobileNG opened #5973 "Mellanox chip drops DHCP/BOOTP discover packets"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**
I tested dhcp-relay feature on Mellanox MSN2700, and I found the chip dropped DHCP DISCOVER packets, which caused dhcp-relay feature works incorrectly

**Steps to reproduce the issue:**
1. Connect one DHCP client to MSN2700 port;
2. Configure DHCP-Relay on

[2020-11-19 12:25] ChinaMobileNG commented on #5973
I found int mlns_sai:
/**
     * @brief DHCP traffic (UDP ports 67, 68), either L3 broadcast or unicast
     * to local router IP address (default packet action is forward)
     */
    SAI_HOSTIF_TRAP_TYPE_DHCP = 0x00002002,

/**
     * @brief L2 multicast flood control to CPU port
     *
     * @type bool
     * @flags CREATE_AND_SET
     * @default false
     */
    SAI_SWITCH_ATTR_MCAST_CPU_FLO

[2020-11-19 17:02] yxieca opened #5974 "PMON crashing with master image 494"
**Description**

**Steps to reproduce the issue:**
1. run nightly test
2.
3.

**Describe the results you received:**
pmon crashing prevented any test from running/passing

**Describe the results you expected:**
run nightly test and have most testcases passing at this stage.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[c

[2020-11-19 17:34] sumukhatv opened #5975 "NTP test failing on Mellanox 2700"
**Description**

The NTP Pytest is failing with the error `/usr/sbin/ntpd: error while loading shared libraries: libcap.so.2: cannot open shared object file: No such file or directory\n`

This is happening on Mellanox 2700 running 20191130 image.

**Steps to reproduce the issue:**
1. Run the NTP `pytest` from the `sonic-mgmt` repository

**Describe the results you received:**
[code]

**Describe th

[2020-11-19 20:09] vaibhavhd opened #5978 "Regression - Interface transceivers are incorrectly reported as "Not present""
**Description**

Regression in latest master image -
Interface transceivers are shown as `Not present`. However, in reality transceivers are present as the interfaces are oper up and admin up.

[code]

[code]
**Steps to reproduce the issue:**
1. Install latest master image. I tested with `SONiC.master.494-b595a6ea`
2. Do `show interfaces transceiver presence `.
3. All the ports are shown as `Not p

[2020-11-19 20:19] lguohan commented on #5978
is this related to #5974

[2020-11-19 21:12] vaibhavhd commented on #5978
I see errors in syslog in `arista/utils/sonic_platform/chassis.py` that are fixed by https://github.com/Azure/sonic-platform-common/pull/143
This seems to have caused the below error in detecting EEPROM, and consequently transceiver information is not updated.
[code]
I will wait for the latest image to re-confirm the issue.

[2020-11-19 21:12] pra-moh commented on #5955
Agree! I We can follow similar practice of other certs in sonic.

[2020-11-19 21:17] vaibhavhd commented on #5974
This also appears to have traces of `NameError` in `psu_base.py` that are now fixed by https://github.com/Azure/sonic-platform-common/pull/143
The latest image should not report below errors that are logged in this issue:
[code]

[2020-11-19 22:01] AshokDaparthi commented on #5206
Root Cause:
This issue was there for interface counters as well as pfc counters.
/tmp/portstat counters were not getting cleared when config reload is performed. Show int counters dumps the difference of CounterDB and /tmp/portstat values. When config reload is performed, portstat retains the old values, hence it starts showing the negative values.

Broadcom has plan to upstream fix.

[2020-11-19 22:04] AshokDaparthi commented on #5136
Root cause: Each PG is creating separate FP group. In S5232 might be having limited FP groups, which leads to syncd crashed with resource limitation. All storm entries can be go to same FP group and also at present Rules are not deleted after restore form storm, Which will take up entries unnecessary.

Broadcom has plan to upstream fix.

[2020-11-19 22:12] vaibhavhd opened #5980 "[logging] SSD health check print fast-reboot when warm-reboot is issued"
**Description**
During `warm-reboot` one of the logging incorrectly mentions `fast-reboot`

**Steps to reproduce the issue:**
1. Issue `warm-reboot -vv`
2. One of the step prints that `fast-reboot` is happening - `Collecting logs to check ssd health before fast-reboot...`

**Describe the results you received:**
[code]

**Describe the results you expected:**

Logs should capture the reboot type fro

[2020-11-19 22:14] AshokDaparthi commented on #5821
Even after get Drop counters after ACL entry remove in restore sequence still we will see issue because queue counter get is taking from SDK counter DB, which is  updated according to counter thread pool interval. Suppose if we take counter thread interval is 1 sec then we will get exact value after after 1 sec interval. By that time packets dropped by ACL rule may not be update to PFCWD action ha

[2020-11-20 01:38] tim-rj opened #5982 "[build] [debug] [201911] compile failed when enable SONIC_DEBUGGING_ON or SONIC_PROFILING_ON"
**Description**

compile failed locally when enable SONIC_DEBUGGING_ON or SONIC_PROFILING_ON

**Steps to reproduce the issue:**
1. set SONIC_DEBUGGING_ON = y (or SONIC_PROFILING_ON = y )
2. make target/sonic-broadcom.bin
3. compile failed

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens on

[2020-11-20 01:43] #5980 closed

[2020-11-20 02:39] gechiang commented on #5681
Had a web-x debug session today with BRCM support.
From the interface  packet count it seems to indicate that the un-even hash distribution is most likely due to LAG hashing polarization and NOT due to ECMP. it seems that once the ECMP hashing is done, it fails to hash over the LAG members and always pick one of the LAG member.
BRCM team has collected the info they needed and will investigate furt

[2020-11-20 04:01] Blueve commented on #5596
** Update **
From: Pradchaya Phucharoen (Celestica)

the issue occurs cause by out-of-tree DPS200 PSU driver.  Because the driver uses an old copy of drivers/hwmon/pmbus/pmbus.h.
When the kernel patched by this patch it causes the file to be different.

  The best way to fix this is to merge the DPS200 into sonic-Linux-kernel instead of keeping it as a platform driver.
The temporary fix is to upda

[2020-11-20 04:46] bingwang-ms commented on #5974
Same issue was observed on DX010-4, T0. But the error message is different
[code]

[2020-11-20 05:38] prsunny opened #5984 "Port oper down while removing vlan member port"
**Description**

Port going oper down when deleted from Vlan

**Steps to reproduce the issue:**
1. Configure Vlan and add member port
2. Learn neighbor entry
3. Remove member port

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

show versi

[2020-11-20 05:38] prsunny commented on #5984
@volodymyrsamotiy

[2020-11-20 05:49] prsunny commented on #5984
[sonic_dump_str-dcfx-t0-1-04_20201120_052055.tar.gz](https://github.com/Azure/sonic-buildimage/files/5571517/sonic_dump_str-dcfx-t0-1-04_20201120_052055.tar.gz)

[2020-11-20 06:43] #5974 closed

[2020-11-20 07:34] Blueve commented on #5596
** Update **
I tested install the image after build 492 and I found that it can reboot in SONiC without hanging now. But still seen some issues might relating to this topic:
- USB console switch not been detected after image installation, we have to re-plug it
- Install SONiC image with `sonic-installer` command will hang. Force power-cycle will boot in previous image.

[2020-11-20 09:57] ciju-juniper opened #5986 "PMON container crashes in latest SONiC images"
**Description**
Seeing issues with 'pmon' container startup and the following error in the syslog. All the platform monitoring daemons are killed and pmon also stopped after a few trials

[code]

**Initial Triage**
The last good build on the master branch was build# 481 and pmon crashes are seen from build# 482 onwards. In between, there are a few commits in which I suspect the following commit in

[2020-11-20 10:04] vdahiya12 commented on #5986
https://github.com/Azure/sonic-buildimage/pull/5924 this PR should fix the pmon and is already in master.
is this on latest master ? #5924

[2020-11-20 10:07] ciju-juniper commented on #5986
@vdahiya12 The last image I tried was build# 492. Pmon was crashing on this.

[2020-11-20 10:14] vdahiya12 commented on #5986
can u please try 496 as its also built

[2020-11-20 10:21] ciju-juniper commented on #5986
@vdahiya12  Downloading build #496. Once it's complete, I will load it and share the results.

[2020-11-20 12:14] ciju-juniper commented on #5986
@vdahiya12 PMON crash is seen in build# 496 also. Please let me know which image will have your fix.

[2020-11-20 18:07] vaibhavhd commented on #5978
This issue is not seen anymore on the latest of master (tested 498). Transceivers and EEPROM are detected.

[code]

[code]

[2020-11-20 18:07] #5978 closed

[2020-11-21 00:02] vaibhavhd opened #5992 "Python WARNINGs for empty APPL_DB appear on syslog"
**Description**
Multiple `APPL_DB` warnings keep appearing on syslog.

[code]
**Steps to reproduce the issue:**
1. Install latest of master - I tried 498.
2. Check syslog.
3. The messages keep appearing in regular intervals.

**Describe the results you received:**

Warnings in syslog.

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occa

[2020-11-21 18:19] yxieca opened #5994 "PMON xcvrd crash with master image 498"
**Description**

**Steps to reproduce the issue:**
1. Nightly test
2.
3.

**Describe the results you received:**
PMON crash causing all test to fail sanity check

**Describe the results you expected:**
Run nightly test

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[

[2020-11-21 18:20] yxieca commented on #5986
While this issue might have been fixed. the latest master image has a different issue with xcvrd as in issue #5994

[2020-11-21 19:28] jleveque commented on #5994
@vdahiya12: This seems to be related to your recent changes. Can you please investigate?

[2020-11-22 03:45] vdahiya12 commented on #5994
the mux_cable tag seems to be introduced for non y_cable ports, this should not happen if the port is not on a y_cable
admin@str2-7050cx3-acs-07:~$ redis-cli -n 4 hgetall "PORT|Ethernet112"
 1) "index"
 2) "29"
 3) "lanes"
 4) "117,118,119,120"
 5) "fec"
 6) "rs"
 7) "admin_status"
 8) "up"
 9) "mtu"
10) "9100"
11) "alias"
12) "Ethernet29/1"
13) "pfc_asym"
14) "off"
15) "speed"
16) "100000"
**17)

[2020-11-22 19:59] kcudnik commented on #3008
So i also performed some tests on my side, and it seems like the issues is the LENGTH of the key, i changed prefix from "TEMP_" to just "T" and there is almost no difference, i have 100k ASIC_STATE entreis and 100k TASIC_STATE entries

[code]

suddenly when we start using keys inside eval:
[code]

we get jump from 0,13 sec to over 5 seconds !!!, i have no idea why we get such a huge jump here, but

[2020-11-23 03:14] abdosi opened #5999 "Possibility of Teamd can start before swss restart"
Issue was found on multi-asic platform.
Teamd got started before swss restart which resulted in bad state since swss  on its init
cleaned up the State DB populated by teamd and system went into bad state
and could not recover on it’s own

Root cause for above condition is Feature Table handling being done in hostcfgd.
Feature Table does not know about state of swss when starting teamd(/syncd)
and

[2020-11-23 03:43] madhanmellanox commented on #5984
The fix is in the PR https://github.com/Azure/sonic-swss/pull/1516

[2020-11-23 03:45] tim-rj commented on #5982
I found that in issue log, no dbgsym deb is built:
[code]

compare the normal log:
[code]

[2020-11-23 05:29] ciju-juniper commented on #5986
@vdahiya12 @lguohan @jleveque @yxieca I tried build# 500. Most of the services are down. Still seeing the following error

[code]
[code]

Also seeing an orchagent crash:
[code]

[2020-11-23 05:36] ciju-juniper commented on #5986
Here is the dump from build# 500:
[sonic_dump_sonic_20201123_133333.tar.gz](https://github.com/Azure/sonic-buildimage/files/5581217/sonic_dump_sonic_20201123_133333.tar.gz)

[2020-11-23 08:58] Hedgehog-Guru commented on #4044
The issue is not reproducible on the image
[code]
Issue has been fixed.
Thanks.

[2020-11-23 09:19] wangxin opened #6001 "No drop_community is added to advertised IPv6 routes"
**Description**
After the BGP Allow List feature is introduced, the drop_community should be added to advertised routes that are not on allow list when default_action is "permit". However, the drop_community `"5056:12345"` is not added to IPv6 routes.

**Steps to reproduce the issue:**
1. By default, default_action of BGP allow list is "permit" and the allow list is empty. All the routes advertise

[2020-11-23 10:42] CLUDev commented on #5795
Hi @prsunny [PR#1263](https://github.com/Azure/sonic-utilities/pull/1263) is created in "sonic-utilities" to fix this issue

[2020-11-23 12:03] bingwang-ms opened #6002 "FDB entry doesn't respect aging configuration"
**Description**
Test case ```test_crm_fdb_entry``` failed in latest image. I check ```sairedis``` log and noticed that it was because the fdb entries got aged only 10 seconds after the fdb config file was loaded.
[code]
However, the configured timeout is 600 seconds.
[code]
[sairedis.rec.6.gz](https://github.com/Azure/sonic-buildimage/files/5582761/sairedis.rec.6.gz)

**Steps to reproduce the issu

[2020-11-23 12:03] #5984 closed

[2020-11-23 13:16] sandycelestica commented on #5943
Hi Blueve,
I verified and updated the script.
[image: image.png]
And below is the test log:
admin@sonic:~$ ls
mytty.json
platform-modules-haliburton_0.9_amd64.deb
platform-modules-haliburton_1.0_amd64.deb
admin@sonic:~$ cd /usr/local/bin/
admin@sonic:/usr/local/bin$ ls -l *.sh
-rwxr-xr-x 1 root staff 2054 Jul 31  2020 finalize-warmboot.sh
-rwxr-xr-x 1 root staff  162 Jul 31  2020 host-ssh-keygen.s

[2020-11-23 16:04] vazhel commented on #5959
Hello,

Could you check the file ( /etc/sonic/generated_services.conf ) exists on your vs-normal docker?
Is it master branch?

[2020-11-23 17:30] #5957 closed

[2020-11-23 17:35] nazariig commented on #5663
@theasianpianist sure. I will check and update.

[2020-11-23 18:41] prsunny commented on #6002
is this consistent? also, happening for all fdb entries?

[2020-11-23 19:04] jleveque commented on #5986
@ciju-juniper: It appears as though your sonic_platform wheel package was not found when the PMon container started up, so it was not installed in the container. Can you please investigate why?

[2020-11-23 19:10] lguohan commented on #5986
@jleveque, which package are you referring to. I do not see they build their own wheel package. https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/lastSuccessfulBuild/artifact/target/debs/buster/sonic-platform-juniper-qfx5210_1.1_amd64.deb.log

[2020-11-23 19:13] vadymhlushko-mlnx opened #6008 "[DPB] dynamic port breakout is not working because of the missing import library"
**Description**
The error in logs while doing breakout command on the switch:

`“ERR ConfigMgmt: global name 'natsorted' is not defined”`

**Steps to reproduce the issue:**
1. Burn the image to the switch that supports Dynamic Port Breakout
2. Do the next command: `config interface breakout EthernetXX 4x25G[10G]`

**Describe the results you received:**
[code]

**Describe the results you expected:*

[2020-11-23 19:15] jleveque commented on #5986
I see references to files in the sonic_platform package in the log, but I don't see a sonic_platform-1.0-py2-none-any.whl package being built.

[2020-11-23 19:16] vadymhlushko-mlnx commented on #6008
To fix this error - need to put the next line `from natsort import natsorted` into [sonic-cfggen file](https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/sonic-cfggen)

Originally, this import line had existed in the sonic-cfggen file, but it was removed. Could someone explain why?

[2020-11-23 19:33] tahmed-dev commented on #6008
@praveen-li will fix this in configMgmt module. Please see discussion here [PR:5860](https://github.com/Azure/sonic-buildimage/pull/5860)

[2020-11-23 19:37] vadymhlushko-mlnx commented on #6008
This issue already has [PR](https://github.com/Azure/sonic-buildimage/pull/5860) opened

[2020-11-23 19:37] #6008 closed

[2020-11-23 20:04] gechiang commented on #5885
Fix is available as part of the 4.2.1.5 BRCM SAI code patched drop...
https://github.com/Azure/sonic-buildimage/pull/5866

[2020-11-23 20:05] gechiang commented on #5885
Validated with Master image .496 and it looks like this issue is fixed.

[2020-11-23 20:05] #5885 closed

[2020-11-23 20:14] pavel-shirshov commented on #5929
Should be fixed in https://github.com/Azure/sonic-buildimage/pull/5956

[2020-11-23 22:42] vaibhavhd opened #6009 "determine-reboot-cause fails due to TypeError seen during during boot up"
**Description**

Reboot cause determination fails and errors are seen in syslog.
The errors seem to be coming due to Python3 script is using Python2 based library from different vendors at
https://github.com/Azure/sonic-buildimage/tree/master/platform/broadcom

The Python3 jump for `determine-reboot-cause` and `process-reboot-cause` has been made with the platform specific lib still based out in P

[2020-11-24 00:57] tim-rj commented on #5982
This is actually an issue, i will plan to fix it soon.

[2020-11-24 02:03] bingwang-ms commented on #6002
It's not consistent, but happening to all fdb entries. I suspect that if the aging timer is reset when we applying same FDB entries by swssconfig?

[2020-11-24 03:45] ciju-juniper commented on #5986
@jleveque  I started seeing that error from build# 482. No platform changes are involved.

[2020-11-24 03:48] ciju-juniper commented on #5986
@jleveque Moreover, the images are built by jenkins jobs. Were there any changes in the package selection / build rules from build# 482 onwards?

[2020-11-24 04:22] CLUDev commented on #5795
Hi @prsunny, thanks for merging PR#1263 to "sonic-utilities"
How often would the latest commit of "sonic-utilities" be  updated to "sonic-buildimage" in "master" branch?
Do I have to manually update the PR#1263 fix to "201911" branch to close this issue?

[2020-11-24 06:15] Blueve commented on #5943
@sandycelestica Awesome! Could you please sent out the PR? I can link it to this issue and review it : D

[2020-11-24 12:57] vadymhlushko-mlnx opened #6023 "[DPB] dynamic port breakout configuration not present in CONFIG_DB after the image installation"
**Description**

"BREAKOUT_CFG" keys are not presented in CONFIG_DB after installation of latest SONiC master branch image with DPB support.
Capability files are presented on the switch like in this [PR_6003](https://github.com/Azure/sonic-buildimage/pull/6003)

**Steps to reproduce the issue:**
1. Install the latest master image on the switch
2. Do the next command - `config interface breakout Et

[2020-11-24 12:59] vadymhlushko-mlnx commented on #6023
`sudo generate_dump`

[sonic_dump_arc-switch1004_20201124_123816.tar.gz](https://github.com/Azure/sonic-buildimage/files/5589973/sonic_dump_arc-switch1004_20201124_123816.tar.gz)

[2020-11-24 14:31] vadymhlushko-mlnx opened #6024 "[DPB] wrong aliases for interfaces"
**Description**
Interface has a wrong alias after successful dynamic port breakout command

**Steps to reproduce the issue:**
1. `show interfaces status`
2. `config interface breakout Ethernet4 2x50G`
3. `show interfaces status`

**Describe the results you received:**
[code]

[code]

[code]

[code]

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. i

[2020-11-24 14:32] vadymhlushko-mlnx commented on #6024
`sudo generate_dump`
[sonic_dump_arc-switch1004_20201124_130354.tar.gz](https://github.com/Azure/sonic-buildimage/files/5590543/sonic_dump_arc-switch1004_20201124_130354.tar.gz)

[2020-11-24 15:01] chaichairiko opened #6025 "[MGMT] Request: Get yang models from the yang-models dir to sonic-mgmt-common instead of duplicating a subset of them there"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-11-24 15:25] vadymhlushko-mlnx opened #6027 "[DPB] Dynamic Port Breakout feature is not stable"
**Description**
DPB feature stops working after a couple of successful tries

**Steps to reproduce the issue:**
1.Do the next command 3 times `config interface breakout EthernetXX <mode> -y`

**Describe the results you received:**
[code]

**Describe the results you expected:**
DPB should work no matter how many times you perform the CLI command to breakout the port.

**Additional information you d

[2020-11-24 15:27] vadymhlushko-mlnx commented on #6027
This issue is reproducible on SPC-1, SCP-2, SPC-3 devices.

`sudo generate_dump` SPC-1
[sonic_dump_arc-switch1004_20201124_143947.tar.gz](https://github.com/Azure/sonic-buildimage/files/5590874/sonic_dump_arc-switch1004_20201124_143947.tar.gz)

`sudo generate dump` SPC-2
[sonic_dump_r-tigris-13_20201124_145846.tar.gz](https://github.com/Azure/sonic-buildimage/files/5590871/sonic_dump_r-tigris-13_2

[2020-11-24 15:31] vadymhlushko-mlnx commented on #5417
This issue divided into:

[[DPB] dynamic port breakout is not working because of the missing import library](https://github.com/Azure/sonic-buildimage/issues/6008)
[[sonic-config-engine/sonic-cfggen]: Fix natsort import.](https://github.com/Azure/sonic-buildimage/pull/5860)
[[DPB] dynamic port breakout configuration not present in CONFIG_DB after the image installation](https://github.com/Azure/so

[2020-11-24 15:31] #5417 closed

[2020-11-24 16:02] nazariig opened #6028 "[supervisorctl]: status command returns exit code 3"
**Description**

Supervisorctl status command returns non zero exit code.
This makes basic sanity test to fail:
[code]

**Steps to reproduce the issue:**
1. docker exec -ti bgp supervisorctl status
2. echo $?

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
**Version

[2020-11-24 16:33] #6001 closed

[2020-11-24 16:54] lguohan commented on #6028
unable to repro.

[code]

[2020-11-24 17:04] nazariig commented on #6028
@lguohan what is the `supervisord` version?

[2020-11-24 17:13] nazariig commented on #6028
Some extra info:
[code]

A similar issue:
https://github.com/Supervisor/supervisor/issues/1223

[2020-11-24 17:56] jleveque commented on #6028
@nazariig: As you discovered via the issue in the supervisor repo, this is a behavioral change in Supervisor 4.0. If any managed processes are in the STOPPED or EXITED state, even if expected, `supervisorctl status` now returns `3`.

I discovered the sanity check issue myself, and opened a couple PRs to fix, by ignoring the return code from `supervisorctl status`:
- https://github.com/Azure/sonic-

[2020-11-24 18:50] jleveque commented on #5986
@ciju-juniper: You can see the commits which went into build # 482 here: https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/482/

There are no changes to package selection/build rules that I can see.

[2020-11-24 22:34] kcudnik commented on #3008
Confirmed locally, that indeed this is lua hashing problem https://github.com/redis/redis/issues/8077#issuecomment-733222358
To actually solve this properly we have 2 choices here:
* add redis-server submodule and apply patch to source, and use that compiled on fly debian package
* or reduce table names from ASIC_STATE to for example "A", but this will not be backward compatible and will brake som

[2020-11-24 23:05] vaibhavhd commented on #6009
This now does not seem to be an Arista platform issue. The reboo-cause determination fails on other platforms too.
The errors seen also seem to be due to Python3 conversion done recently - https://github.com/Azure/sonic-buildimage/pull/5933
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services/scripts/determine-reboot-cause#L1

The error trace on Dell clearly points  out at

[2020-11-24 23:13] vaibhavhd commented on #6009
Issue is also seen in 502.

[2020-11-25 00:40] #5992 closed

[2020-11-25 01:23] vaibhavhd commented on #6009
The `sonic-platform-common` library has recently made updates to support Python3. As part of the PR https://github.com/Azure/sonic-platform-common/pull/127, `read_eeprom()` now returns a `bytearray`  instead of a `string`.

The Dell S6100 error reported above is due to the Dell library is not updated to expect `bytearray` eeprom data.
https://github.com/Azure/sonic-buildimage/blob/master/platform/

[2020-11-25 01:29] jleveque commented on #6009
Yes. The fix is here: https://github.com/Azure/sonic-buildimage/pull/5960. I was waiting to merge it until after https://github.com/Azure/sonic-buildimage/pull/5926 merges, but the PR has taken longer than expected to be merge-ready. It should now be ready to merge, just waiting on the vsimage test to pass, but since this is causing a regression, I can merge it now and rebase my PR on top of it.

[2020-11-25 07:02] sandycelestica commented on #5943
I submitted the PR and here is the PR link:
https://github.com/Azure/sonic-buildimage/pull/6032

On Tue, Nov 24, 2020 at 2:49 PM Blueve <notifications@github.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica.com
Think Bigger, Reach Further

[2020-11-25 10:21] stephenxs opened #6036 "Error log found when trying to flush fdb during the test_vnet_vxlan"
**Description**
Error log found when trying to flush fdb during the test_vnet_vxlan
[code]
the port id is the bridge port:
[code]

**Steps to reproduce the issue:**
1. execute test_vnet_vxlan
2.
3.

**Describe the results you received:**
There are error logs

**Describe the results you expected:**
There should not be error log.

**Additional information you deem important (e.g. issue happens only

[2020-11-25 15:47] sandycelestica commented on #5943
Updated
https://github.com/Azure/sonic-buildimage/pull/6039

On Wed, Nov 25, 2020 at 3:02 PM Sandy Li <sandyli@celestica.com> wrote:

--
Thanks and Regards.

Sandy Li
Software Design Engineering Specialist,GDS SSL
Mobile: +86  <+86%20136%201189%204667>18073112486
Email: *sandyli@celestica.com <gshao@celestica.com>*
www.celestica.com
Think Bigger, Reach Further

[2020-11-25 15:51] aravindmani-1 commented on #5931
BRCM has the plan to fix this issue. Raised this issue for tracking the integration into community branches.

[2020-11-25 15:59] yxieca commented on #5994
image 502 still have the same crash

[2020-11-25 16:06] anshuv-mfst commented on #5752
Please provide more info:
1. Which release is the issue seen?
2. Is the issue seen manual test/automation test?

[2020-11-25 16:08] anshuv-mfst commented on #5770
Mgmt VRF owner needs to look into this (Dell Team)

[2020-11-25 16:11] anshuv-mfst commented on #5771
Mgmt VRF owner needs to further debug this issue. (Dell team maybe?)
@kannankvs - could you please assign to right POC from DELL.

[2020-11-25 16:11] anshuv-mfst commented on #5770
@kannankvs - could you please assign to right POC from DELL.

[2020-11-25 16:15] anshuv-mfst commented on #6036
Might be related to https://github.com/Azure/sonic-swss/commit/756dd9c8123cd06dc581d9b2eb236334deee1850

[2020-11-25 16:16] anshuv-mfst commented on #6036
@madhanmellanox - can you please look into this issue.

[2020-11-25 16:20] anshuv-mfst commented on #6027
Hi @zhenggen-xu , @praveen-li - Could you please look into this issue.

Thanks.

[2020-11-25 16:22] anshuv-mfst commented on #6025
Please provide more information on the enhancement request.

[2020-11-25 16:23] anshuv-mfst commented on #6024
Hi @zhenggen-xu , @praveen-li - Could you please look into this issue.

Thanks.

[2020-11-25 16:23] anshuv-mfst commented on #6023
Hi @zhenggen-xu , @praveen-li - Could you please look into this issue.

Thanks.

[2020-11-25 16:25] yxieca commented on #5994
The fix is not in 502. build 503 has the fix.

[2020-11-25 16:26] anshuv-mfst commented on #6002
BRCM team to look into this issue (@ben-gale could you please help with assigning this issue)

[2020-11-25 16:33] anshuv-mfst commented on #5975
(CC: @stepanblyschak , @volodymyrsamotiy )

@sumukhatv - Issue might be with testbed server,  aparmor profile. Please disable aparmor and retry steps.

[2020-11-25 16:40] anshuv-mfst commented on #5973
Please provide more info:
1. Is the issue on inband port or mgmt port?

[2020-11-25 16:41] #5999 closed

[2020-11-25 16:50] anshuv-mfst commented on #5959
Liat: Issue is seen only in master branch.

@lguohan - could you please provide input.

[2020-11-25 16:53] madhanmellanox commented on #6036
@anshuv-msft my fix introduced flush the FDB entries while removing bridgeport only. This is Flush FDB request from SDK. How is it related?

[2020-11-25 16:54] anshuv-mfst commented on #5948
this is non-issue, MLNX team discussed with Prince.

[2020-11-25 17:03] madhanmellanox commented on #6036
@prsunny do you think this is the side effect of flushFDBentries() fix while removing bridgeport. I see Flush FDB entries request coming from SDK here. How is this issue related to my fix?

[2020-11-25 17:03] anshuv-mfst commented on #5947
Issue seen by manual config/testing.
Can you please try adding interface IP to Eth4 instead of Vlan in the default VRF and try ping again.

(Can be enhancement request and not an issue)

[2020-11-25 17:08] anshuv-mfst commented on #5944
@pavel-shirshov, @arlakshm  - Can you please look into this issue. Thanks!

[2020-11-25 17:10] anshuv-mfst commented on #5932
@ben-gale - Please look into this issue.

[2020-11-25 17:12] anshuv-mfst commented on #5931
Awaiting for BRCM SAI fix.

(CC: @rlhui )

[2020-11-25 17:14] anshuv-mfst commented on #5930
Guohan - Can you please provide input.

[2020-11-25 17:16] praveen-li commented on #6023
@samaity : It says breakout table is not created even if platform.json is present, after image installation. Do we need to do anything here, please take a look thanks.

[2020-11-25 17:17] anshuv-mfst commented on #5928
Please provide show tech support output.

[2020-11-25 17:19] praveen-li commented on #6024
@zhenggen-xu @samaity : I recall aliases are mentioned in mlnx platform.json as displayed. Do we need to do anything here or platform.json needs the changes.

[2020-11-25 17:21] praveen-li commented on #6027
I will have a look, kindly run command with -v option and share syslogs [plz timestamp everything]. I will also push the changes so that error is shown correctly for each failure.

[2020-11-25 17:24] Ezrickd commented on #5973
can you pleae add config_db file ? what is the Sonic train 2020/2019/2018
I saw on community that you stated a working scenario from mgmt port.
please advise

[2020-11-25 17:30] madhanmellanox commented on #6036
@stephenxs the showtech does not contain the error logs you pointed out.

[2020-11-25 17:37] rlhui commented on #5944
@CLUDev - what's the image being used here, is it based on sonic community 201911 branch?  Can you please attach "show tech"  file as well?

[2020-11-25 17:43] rlhui commented on #5931
@vmittal-msft - will you please help confirm if latest SAI in master branch has the fix?

[2020-11-25 18:28] #5942 closed

[2020-11-25 18:31] pavel-shirshov commented on #5944
Hi @CLUDev

Can you please copy 'show run' from both SONiC and other device here?

Thanks

[2020-11-25 18:33] #5927 closed

[2020-11-25 18:45] zhenggen-xu commented on #6023
@vadymhlushko-mlnx If the image is fresh installed like ONIE, it should have that tables. In case of the sonic_installer, since we take the config_db.json from old image where it might not have the table,  we will hit this issue.

This seems to be a generic issue where the new SONiC version introduce new tables in config_db.json and we use sonic_installer.  I think we should load all default table

[2020-11-25 18:49] zhenggen-xu commented on #6024
@vadymhlushko-mlnx Please include the platform.json of the platform , and also specify your expectations.

[2020-11-25 20:23] #5820 closed

[2020-11-25 20:24] vaibhavhd commented on #6009
Thanks Joe!
I am now looking at Arista issue posted in this issue's description. That seems to have percolated after this commit in Arista repo: https://github.com/aristanetworks/sonic/commit/05a02d74c91fb1b91fbb4602bf8c77067da3ecf2

Particularly this new line that got added:
https://github.com/aristanetworks/sonic/blob/master/arista/utils/sonic_platform/sfp.py#L45

Using some extra debug prints I

[2020-11-25 20:28] jleveque commented on #6009
@Staphylo: Can you please investigate the issue in the comment above?

[2020-11-25 20:51] madhanmellanox commented on #6036
Working on the fix, the issue happens when we try to remove a VLAN member.

[2020-11-25 21:07] lguohan commented on #6028
this is a supervisorctl behavior change, and it is handled by the test. close this topic.

[2020-11-25 21:07] #6028 closed

[2020-11-25 21:16] Staphylo commented on #6009
Sure Joe. The error seen above most often happens when the platform is not initialized yet but APIs are being called.
We have a systemd `Before=process-reboot-cause` rule to prevent this from happening but since the systemd service was renamed it doesn't apply anymore. We'll work on a fix.
https://github.com/aristanetworks/sonic/blob/3943e69510b471e65797d6054dd5f47cff3012c3/systemd/platform-arista

[2020-11-25 21:44] Staphylo commented on #6009
Just confirming that adding the dependency solves the issue.
However `process-reboot-cause.service` now crashes though it's not platform related.
I'll perform a submodule update with the fix in the coming days.

[code]

[2020-11-25 21:50] Staphylo commented on #6009
The path for `ExecStart` in `process-reboot-cause.service` should be `/usr/local/bin/process-reboot-cause`.
I just tried it and it seems to be working.

[2020-11-25 22:08] jleveque commented on #6009
@sujinmkang: Can you please open a PR to fix this?

[2020-11-25 22:13] vmittal-msft commented on #5931
Latest SAI (4.2.1.3 and 4.2.1.5) is missing this fix. It is present in INT_3.7.

[2020-11-25 22:37] yxieca opened #6043 "FRR log disabling code caused rsyslog error message when BGP container starting"
**Description**
This issue is caused by PR #5962

**Steps to reproduce the issue:**
1. Run nightly test
2.
3.

**Describe the results you received:**

Whenever BGP container starts, following error message comes out:
syslog.104.gz:Nov 25 11:53:20.411386 str-dx010-acs-1 INFO systemd[1]: Starting BGP container...
syslog.104.gz:Nov 25 11:53:38.884340 str-dx010-acs-1 ERR bgp#rsyslogd: file './.': open

[2020-11-26 00:37] stephenxs commented on #5959
No, it doesn't.
Yes, it is the master branch.

[2020-11-26 00:59] vaibhavhd opened #6047 "syncd errors seen - timerWatchdogCallback: main loop execution exceeded"
**Description**
`autorestart/test_container_autorestart.py` test fails on 6100 platform because of ERR messages discovered by `log_analyzer`.

**Steps to reproduce the issue:**
1. Run `autorestart/test_container_autorestart.py`
2. Check syslog
3.

**Describe the results you received:**

[code]
**Describe the results you expected:**
Needs triage. The log messages should be either ignored or not see

[2020-11-26 01:01] madhanmellanox commented on #6036
@prsunny When I was trying to modify function redisPutFdbEntryToAsicView() in sonic-sairedis, I did not find Redisclient.cpp and so no member function processFlushEvent(). Not sure how to handle this.

[2020-11-26 01:05] sumukhatv commented on #5975
Can you provide me the steps to do it?

[2020-11-26 02:42] #5897 closed

[2020-11-26 08:10] vadymhlushko-mlnx commented on #6024
[[DPB] added capability files for SN2700 platform](https://github.com/Azure/sonic-buildimage/pull/6003)

[2020-11-26 08:36] ppikh commented on #5947
Hi @anshuv-mfst

I tried with physical interfaces. it still does not work.
I think maybe issue related to similar MAC addresses on L3 ifaces?

`root@X:/home/admin# ifconfig Ethernet4
Ethernet4: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 9100
        inet 31.1.1.1  netmask 255.255.255.0  broadcast 31.1.1.255
        inet6 fe80::1e34:daff:fe16:6800  prefixlen 64  scopeid 0x20<link>
        ethe

[2020-11-26 09:32] vazhel commented on #5947
Hi @ppikh

Tcpdump shows ARP requests. It looks like one ARP per one ICMP.
I checked with different configurations and got the same results.
I agree with you that issue can be related to similar MAC addresses.

There are my configurations below

--- 1)
sudo config vrf add Vrf_custom
sudo config interface vrf bind Ethernet36 Vrf_custom
sudo config interface ip add Ethernet36 192.168.10.36/24
sudo c

[2020-11-26 12:34] ppikh opened #6052 "DHCP relay forwards incorrect DHCP client packet to DHCP server(in case of DHCP packet without payload)"
[dump_on_dhcp_server_side.pcap.gz](https://github.com/Azure/sonic-buildimage/files/5603026/dump_on_dhcp_server_side.pcap.gz)
[dump_on_dut_dhcp_client_vlan.pcap.gz](https://github.com/Azure/sonic-buildimage/files/5603029/dump_on_dut_dhcp_client_vlan.pcap.gz)

**DHCP relay forwards incorrect DHCP client packet to DHCP server(in case of DHCP packet without payload)**

DHCP relay forwards incorrect DH

[2020-11-26 13:38] vazhel commented on #5959
I see that it is mandatory file. It includes list of services that should be restarted by 'config reload' command.
This file is generated as part of target platform building process.
It is very strange that you don't have this file.

Could you check your building logs in the folder sonic-buildimage/target, file <target_name>.bin.log
For instance: sonc-buildimage/target/sonic-mellanox.bin.log

Try

[2020-11-26 14:03] ppikh opened #6053 "DHCP relay does not forward unicast DHCP packets from client to DHCP server(in case with 2 VLANs with DHCP relay)"
**DHCP relay does not forward unicast DHCP packets from client to DHCP server(in case with 2 VLANs with DHCP relay)**

**Setup**
SONiC switch with 2 linux hosts connected to it(Host A, Host B)
Host A has interface enp4s0f1 which connected to SONiC interface Ethernet124
Host A has VLAN interface enp4s0f1.690 and act as DHCP client
Host B has interface enp6s0f1 which connected to SONiC interface Eth

[2020-11-26 15:06] tahmed-dev commented on #6052
@ppikh Thanks for reporting. This is an interesting scenario. Can you please instead of capturing from client/servers ends, do packet capture from the relay vlan port it is listening to and from uplink ports it sends packet through?

[2020-11-26 15:28] tahmed-dev commented on #6053
@ppikh thanks for reporting. Can you please provide packet capture with option `-i any`? This will show if the packet is relayed or not. To the point that that the server is not getting the packets, I see a couple of unresponded to ARP requests in the capture. This might be related.

[2020-11-26 15:44] ppikh commented on #6052
@tahmed-dev file **dump_on_dut_dhcp_client_vlan.pcap.gz** created on DUT(SONiC) side on VLAN interface 690.
I used: tcpdump -i Vlan690 -w file.pcap

File **dump_on_dhcp_server_side.pcap.gz** created on DHCP server side

Do you still need packet on interface to which connected DHCP server from DUT side, like run: "tcpdump -i Ethernet60 -w file.pcap"?

[2020-11-26 16:43] tahmed-dev commented on #6052
@ppikh Yes, please. I want to make sure that any option addition is indeed coming from the relay. The options are client based options and the relay doesn't how to fill them in. So, it is either sending garbage data, or it was indeed received that way. To rule out the latter, it is good to see what is being received on the downlink of the vlan interface. Also, capture on the uplink interface + def

[2020-11-27 00:50] #6043 closed

[2020-11-27 16:21] ppikh commented on #6052
@tahmed-dev Please see bellow 3 dumps from different interfaces on DUT.
Dump on VLAN interface to which connected DHCP client
[dump_vlan690_iface.pcap.gz](https://github.com/Azure/sonic-buildimage/files/5608795/dump_vlan690_iface.pcap.gz)

Dump on SONiC MGMT interface(default route)
[dump_on_default_route_mgmt_iface.pcap.gz](https://github.com/Azure/sonic-buildimage/files/5608796/dump_on_default_r

[2020-11-27 16:40] ppikh commented on #6053
@tahmed-dev
I attached tcpdump from DUT with -i any.
But I also used port 67-68 in filter, because otherwise here will be a lot of traffic.
Note that DHCP server can ping 69.0.1.1 and 69.1.0.1 and 69.0.0.1(should not be ARP issue).
[dump_on_all_ifaces_ports_67_68.pcap.gz](https://github.com/Azure/sonic-buildimage/files/5608909/dump_on_all_ifaces_ports_67_68.pcap.gz)

[2020-11-28 15:44] sowri1 opened #6056 "Error building sonic image for Cavium AS7512-32X"
**Description**
I am trying to build an image for the switch. Upon following all the procedures mentioned in the GitHub repo, I was able to run 'make configure '

**Steps to reproduce the issue:**
1.  make init
2.  make configure PLATFORM=cavium
3.  make all

**Here is the log:**

    cp SONiC/AS7512-32X/module/*.ko cavm-platform-modules-deb/lib/modules/4.19.0-9-2-amd64
    cp SONiC/AS7512-32X/acc

[2020-11-29 01:53] tahmed-dev commented on #6053
@ppikh I do not see this as a valid scenario as the relay agent should not be involved in relaying *unicast* packet. If it does, I'd call this a bug and not the other way around. The unicast release/renew/request should go to the server in a properly routed network. Server will then respond to the client using unicast packet. If you wish to debug this issue, you can enable debug logs and see if th

[2020-11-29 03:03] tahmed-dev commented on #6053
@ppikh,

Question regarding your setup, did you add `Ethernet124` to both vlans? Here is an excerpt from step 1 above
[code]
There is another issue with the setup which is DHCP server is on the same vlan as the client. Relay agent adds all vlans as uplink interfaces except for the one it is serving and so, this means that DHCP server has to be reachable via another uplink interface.  Can you pleas

[2020-11-29 05:05] tahmed-dev commented on #6052
@ppikh, can you please try your test with this [image](https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all-pr/6315/artifact/target/sonic-mellanox.bin)?

[2020-11-30 08:19] #5943 closed

[2020-11-30 08:20] liat-grozovik commented on #5959
@stephenxs can you please check if the config reload is working when running an official vsimage from public jenkins?

[2020-11-30 08:21] liat-grozovik commented on #5947
@lguohan can you please confirm if the above observation is by design or this should be changing the MAC assignment?

[2020-11-30 08:27] liat-grozovik commented on #5607
@madhanmellanox havent this issue resolved in master and documentation ip updated?
if so, can you refer to the PR of that and close the issue?

[2020-11-30 08:27] #5603 closed

[2020-11-30 08:27] liat-grozovik commented on #5603
as mentioned, resolved

[2020-11-30 08:50] irene-pan1202 commented on #5752
@anshuv-mfst Enable mgmt VRF will happen, no matter manual or automatic test

[2020-11-30 08:57] volodymyrsamotiy opened #6062 "[pfcwd] Starting pfcwd on a port which is operationally down blocks orchagent task queue"
**Description**
Starting pfcwd on a port which is operationally down blocks orchagent task queue

**Steps to reproduce the issue:**
1. Ethernet0 is operationally down
2. pfcwd start Ethernet0 down
3. show log orchagent
[code]

**Describe the results you received:**
Logs in syslog from orchagent:
[code]

**Describe the results you expected:**
No orchagent task queue block is expected.

**Additional

[2020-11-30 09:19] stephenxs commented on #5959
I did weeks ago when I first encountered the issue. The issue was reproduced on the official vsimage.
BTW, now I have another way to switch the buffer model on the fly on the vs image. Even though it has some limitations but it's good enough to make the test run.

[2020-11-30 12:28] henzelis commented on #5591
I configure the descriptions and output exactly show "Descriptions":

`root@r-ethernet-sw230:/home/admin# show int description
  Interface    Oper    Admin    Alias    Description
-----------  ------  -------  -------  -------------
  Ethernet0      up       up     etp1         To SW1
  Ethernet4    down       up     etp2        To Core
  Ethernet8      up       up     etp3         To SW2
 Etherne

[2020-11-30 12:38] henzelis commented on #5592
Thank you for your answers and explanation. I will know that ifName shows aliases and this behavior is expected.

[2020-11-30 12:38] #5592 closed

[2020-11-30 12:38] henzelis commented on #5591
Thank you for your answers and explanation. I will know that ifAlias shows descriptions and not aliases and this behaviour is expected.

[2020-11-30 12:38] #5591 closed

[2020-11-30 14:09] henzelis commented on #5593
These OIDs were not present even in previous SONiC versions too.
iso.3.6.1.2.1.4.21, iso.3.6.1.2.1.4.22 only appear starting the version SONiC-OS-201911.192-6545a586.

[2020-11-30 16:18] madhanmellanox commented on #5607
@anshuv-mfst The fix is introduced in Master branch. But, this fix may not be required, since the config entered in config-db.json should always be in Upper-case.

[2020-11-30 16:27] prsunny commented on #5795
Fix merged

[2020-11-30 16:27] #5795 closed

[2020-11-30 16:28] madhanmellanox commented on #5607
Fix in Master branch:
https://github.com/Azure/sonic-buildimage/pull/5748
Fix in 201911 branch:
https://github.com/Azure/sonic-buildimage/pull/5918
Documentation updated:
https://github.com/Azure/SONiC/pull/710

[2020-11-30 19:12] BRCM-DevOps commented on #5931
Hi Vineet, The fix is uploaded to 4.2.1.5 via commit id b3fa781827a3a28858c4710a135c8b8da7ccba8a.

[2020-11-30 22:32] shi-su commented on #3849
I cannot reproduce this issue with the latest master image on a Mellanox sn3800. I tried the `vnet.route.json.txt` shared in the comment and a route file with a million routes. @volodymyrsamotiy Could you please help check if it still happens on your end?

[2020-12-01 01:28] bingwang-ms opened #6068 "[Celestica] Missing 'sonic_platform' for Python 3"
**Description**
```show platform firmware status``` throws exception due to lack of ```sonic_platform``` on Celestica-DX010.
[code]

**Steps to reproduce the issue:**
1. Run ```show platform firmware status```
2.
3.

**Describe the results you received:**
An exception is thrown.

**Describe the results you expected:**
No exception should be thrown.

**Additional information you deem important (e.g

[2020-12-01 01:50] vaibhavhd opened #6069 "Syncd APPLY_VIEW failure causes Orchagent crash after warm reboot"
[oacrash.zip](https://github.com/Azure/sonic-buildimage/files/5623970/oacrash.zip)

**Description**

Orchagent crashes while in APPLY_VIEW:
1. DUT undergoes a warm-boot
2. Orchagent state restore finishes. OA notifies syncd to `APPLY_VIEW`.
3. In `APPLY_VIEW`, SAI API`SAI_API_HOSTIF:brcm_sai_remove_hostif_trap` fails with `remove hostif trap failed with error -17`
4. `syncd` finds that `ASIC is in

[2020-12-01 01:51] vaibhavhd commented on #5521
This error is not seen on vsimage and on physical DUT. There is another OA crash seen after warm-reboot which is tracked under https://github.com/Azure/sonic-buildimage/issues/6069

[2020-12-01 01:51] #5521 closed

[2020-12-01 06:57] vaibhavhd opened #6072 "SONiC system health monitor fails to restart after warm reboot."
**Description**

SONiC systeam health monitor service restarts 21 times before giving up.

**Steps to reproduce the issue:**
1. Install latest of master - the issue is seen on 507.
2. SONiC systeam health monitor service restarts 21 times before giving up.
3. Error message is seen on syslog

**Describe the results you received:**

[code]

**Describe the results you expected:**

Ideally, services s

[2020-12-01 10:25] kcudnik commented on #6069
I will need full recordings both on cold boot and warm boot.  there are some operations on ASIC:
 moved 12 REMOVE operations upper in stack from total 56 operations
so the state has been modified, and i will need those recordings to find out what's happening.
also i will need full syslog from that warm boot

[2020-12-01 10:45] kcudnik commented on #6069
from attached logs, seems like issues is when removing trap, this can happen if orchagent after warm boot didn't generated traps, or traps were not matched on comparison logic, or trap is actually in use on SAI_HOSTIF_TABLE_ENTRY_ATTR_TRAP_ID.
But i need logs and recordings to verify this

[2020-12-01 11:01] kcudnik commented on #6069
also use of SAI_HOSTIF_TABLE_ENTRY_ATTR_TRAP_ID was recently added in OA (7b76d2e2 (Sudharsan Dhamal Gopalarathnam 2020-11-11 11:47:11 -0800)

[2020-12-01 13:58] lolyu opened #6075 "[pfcwd] pfcwd start_default failed to start PFC watchdog"
**Description**
`pfcwd start_default` failed to start PFC watchdog.

**Steps to reproduce the issue:**
1. `sudo pfcwd start_default`

**Describe the results you received:**
* PFC watchdog failed to start with syslogs:
[code]

**Describe the results you expected:**
Start PFC watchdog with no Syslog errors.

**Additional information you deem important (e.g. issue happens only occasionally):**
[code]

[2020-12-01 16:11] lguohan commented on #6069
@shi-su , does this affect virtual switch warm reboot for master branch?

[2020-12-01 16:20] lguohan commented on #6068
@jleveque , is this dx010 platform specific problem?

[2020-12-01 16:34] vaibhavhd commented on #6069
@kcudnik I have attached logs at https://github.com/Azure/sonic-buildimage/files/5623970/oacrash.zip

[2020-12-01 17:39] msosyak opened #6077 "python-thrift is not installed for python3"
**Description**
python-thrift  is not installed for python3

**Steps to reproduce the issue:**
1. show version

**Describe the results you received:**
[code]

**Describe the results you expected:**
No exception during show version command

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Platform:**

[code]

[2020-12-01 17:42] msosyak commented on #6077
@jleveque could you have a look at this? As I see there are custom rules to build thrift from sources managed by MS I guess, and the update procedure is not clear for me.

[2020-12-01 18:28] jleveque commented on #6068
No, a few vendors are not net installing a Python 3 version of their sonic-platform package. Mellanox is currently working on theirs.

[2020-12-01 18:32] lguohan commented on #6069
@vaibhavhd , I think you can do analysis on the failure. during warm reboot, the expectation is that no change operation will be generated. if we are generating any change event, some thing is wrong in the first place. maybe you can do more analysis and figure out the root cause of this issue instead of relying kamil for the analysis.

[2020-12-01 18:36] lguohan commented on #6069
it looks like the root cause is step 3, the remove hostif trap failed, and it should not. This is a broadcom SAI issue. @gechiang , can you track this SAI issue? I believer there is already a broadcom SAI issue opened.

[2020-12-01 18:37] kcudnik commented on #6069
from the attached log

there are 56 operations that were generated to be performed on the ASIC, so there is definitely something was changed, it could be related to the sonic-swss commit (7b76d2e2 ) that changed hostif trap removal

[2020-12-01 18:38] vaibhavhd commented on #6069
Sure Guohan. Also, I just tried on VS testbed. The issue is not seen on the latest image for virtual switch.

[2020-12-01 18:48] kcudnik commented on #6069
I looked briefly to brcm source code, and they track references for hostif_trap_group, and in this case they returned SAI_STATUS_OBJECT_IN_USE is when trap is installed, but i don't know that that internally means, and internally installed is set to FALSE in very convoluted way, im not able to tell when this is happening, and i could suggest that removal of hostif_trap is in use on the attribute i

[2020-12-01 18:50] kcudnik commented on #6069
If it's not seen on VS, then it's most likely brcm issue, since in VS case references are counted both on syncd/VS side and on sairedis side, so if there would be some issue with reference count (object in use error) then it would show up on VS as well.

Also do you get that trap error on brcm hardware consistently ? time after time ?

[2020-12-01 19:33] vaibhavhd commented on #6069
The trap error is consistent on every warm-reboot. I am doing binary search, and found that 503 did not have this error. I will post more information if I find the change which caused this.
[code]

[2020-12-01 19:36] vadymhlushko-mlnx opened #6078 "[sflow] the command 'show sflow interfaces' does not work"
**Description**
The command 'show sflow interfaces' not work on the latest master image

**Steps to reproduce the issue:**
Run the next commands
1. `config sflow enable`
2. `config sflow collector add <collector_name> <ip_address> --port <port>`
3. `config sflow interface disable all`
4. `config sflow interface enable EthernetXX`
5. `show sflow interface`

**Describe the results you received:**
[c

[2020-12-01 19:36] vadymhlushko-mlnx commented on #6078
[sonic_dump_r-tigris-04_20201201_192900.zip](https://github.com/Azure/sonic-buildimage/files/5625007/sonic_dump_r-tigris-04_20201201_192900.zip)

[2020-12-01 20:27] kcudnik commented on #6036
depends which Redisclient.cpp, since there was one in swss-common (which was merged with dbconnector) and there is RedisClient.cpp on master now, but not 201119

[2020-12-01 20:37] vaibhavhd commented on #6069
Sorry, I spoke too soon regarding 503 being good. Image 503 also has the same issue, it is just that Bgp neighbors are maintained for longer period of time than the latest. In 507, the neighborship was impacted within 90s of warm reboot.

But, in 503, the neighborship goes down after around 4 mins. Upon checking the logs, the error "remove hostif trap failed with error" is seen too.

[2020-12-01 21:21] kcudnik commented on #6069
i grepped logs and SAI_HOSTIF_TABLE_ENTRY_ATTR_TRAP_ID is out of the question, since it's not present in recordings, so that's ruled out

i made syslog analysis attached, and 36 are just by setting fdb learning mode to HW (that's normal, since before warm boot OA disables learning mode, to not loose any fdb learning notification during warm boot), and other operations:

[code]

all 11 hostif_traps

[2020-12-01 22:08] ben-gale commented on #5932
Asking @jeff-yin to take this one - thx.

[2020-12-01 23:02] jleveque commented on #6077
@msosyak: We did not intend for our custom-built thrift package to be used for anything other than saithrift. There should be no no need for you to use that package, the vanilla package should work fine. I have opened a PR which will hopefully address this. Can you please test it out?  https://github.com/Azure/sonic-buildimage/pull/6080

[2020-12-01 23:24] vaibhavhd opened #6081 "Dell show-version output not properly formatted."
**Description**

After the recent change to account for Python2 to 3 support, the PR https://github.com/Azure/sonic-buildimage/pull/5960/files made changes to support `bytearray` type returned by read_eeprom and read_eeprom_bytes.

However, now Serial Number is not printed correctly. It seems that `bytearray` to `str` conversion is not done before populating the `show version` platform output.

**

[2020-12-01 23:35] vaibhavhd commented on #6081
@ArunSaravananBalachandran I am tagging you as I think the cosmetic issue here is due to this PR - https://github.com/Azure/sonic-buildimage/pull/5960

[2020-12-02 00:28] vaibhavhd opened #6082 "HWMON_DIR is not found for Dell platform causes crash in determine-reboot-cause"
**Description**

At the time of reboot, `HWMON_DIR` is not found for Dell platform which causes the `determine-reboot-cause` script to crash unexpectedly.

Failing line of code:
https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan.py#L26

`No such file or directory: '/sys/devices/platform/SMF.512/hwmon/`

However, the DIR is p

[2020-12-02 01:37] prsunny commented on #6078
@GarrickHe , @padmanarayana, could you please check this?

[2020-12-02 02:20] prsunny commented on #6069
@dgsudharsan for visibility. This is an issue with removing IP2ME trap which is being tracked with Brcm

[2020-12-02 02:24] #5994 closed

[2020-12-02 02:30] #6075 closed

[2020-12-02 02:38] peggy-chu opened #6083 "Porting new bcm platform but could not get device-id"
Hi,
I'm porting a new broadcom platform and encounter some errors. It seems that bcm sai doesn't recognize my board??
Both 201911 and 202006 don't work.  Can anyone help... Thanks in advance!

Information-1
**lspci:**
01:00.0 Ethernet controller: Broadcom Limited Device b967 (rev 02)
01:00.1 Ethernet controller: Broadcom Limited Device b967 (rev 02)

Information-2
**/var/log/syslog:**
Nov 15 15:00

[2020-12-02 02:44] lguohan commented on #6002
looks like the age is set to 600 seconds.

[code]

[2020-12-02 02:54] lguohan commented on #6068
you mean yes? do we need to ask Celestica to fix this issue on their platform?

[2020-12-02 02:55] jleveque commented on #6068
I misinterpreted your question. This issue is specific to a few platforms, not only Celestica. Yes, we need to ask Celestica to create and install a Python 3 version of their sonic-platform wheel package.

[2020-12-02 04:40] bingwang-ms opened #6085 "[python3] 'show arp' and 'show ndp' not work after updated to python3"
**Description**
Commands ```show arp``` and ```show ndp``` print nothing after updated to python3.
The root cause is that ```nbrshow``` called by ```show arp``` and ```show ndp``` have an issue in handling the output of ```arp -n```.
In python3, the type of output is ```bytes``` rather than ```str```. So the match of str will fail.

**Steps to reproduce the issue:**
1. Run ```show arp``` or ```sho

[2020-12-02 05:24] ArunSaravananBalachandran commented on #6081
@vaibhavhd This issue is due to 'serial_number' method in Dell S6100 eeprom plugin not converting bytearray to string.
Will raise a PR with the fix.

[2020-12-02 05:26] vaibhavhd commented on #6081
Thanks Arun!

[2020-12-02 07:13] peggy-chu commented on #6083
Ethernet switching: Broadcom BCM56967 A1

[2020-12-02 07:46] peggy-chu commented on #6083
syslog [teraterm1130.log](https://github.com/Azure/sonic-buildimage/files/5627673/teraterm1130.log)

[2020-12-02 08:05] bingwang-ms opened #6087 "[python3] fdbshow not works in lattest master image, python3"
**Description**
Command ```fdbshow``` throws exception on latest master image.
[code]
The bad code is in ```/usr/local/bin/fdbshow``` line 75.
[code]
It is because the interface ```_swsscommon.FieldValueMap___getitem__``` doesn't accept a ```bytes``` as arguments.

Two options to address the issue
1. Remove the ```b``` before ```SAI_FDB_ENTRY_ATTR_BRIDGE_PORT_ID``` and ```SAI_FDB_ENTRY_ATTR_TYPE``

[2020-12-02 08:19] bingwang-ms commented on #6002
I notices something interesting when repro this issue.
I inserted an MAC manually by loading a json with ```swssconfig```. There is only one entry in the json file.
[code]
The ```sairedis``` log shows that the entry is cleared by a 600 seconds timer, and the timer is never reset when we load the json again.
[code]
We can see that the FDB entry is cleared at ```06:59:36.837488```, ```07:09:36.83876

[2020-12-02 08:39] #6085 closed

[2020-12-02 11:28] #3224 closed

[2020-12-02 12:09] ben-gale commented on #6002
@anilkpandey - fyi .....

[2020-12-02 12:13] mini-nair-dell commented on #5821
[sonic_dump_sonic_20201202_200638.tar (2).gz](https://github.com/Azure/sonic-buildimage/files/5629153/sonic_dump_sonic_20201202_200638.tar.2.gz)

[2020-12-02 12:19] mini-nair-dell commented on #5259
[sonic_dump_sonic_20201202_200638.tar (2).gz](https://github.com/Azure/sonic-buildimage/files/5629187/sonic_dump_sonic_20201202_200638.tar.2.gz)

[2020-12-02 15:44] ppikh commented on #6052
@tahmed-dev Sorry, but looks like image not available. I had no time to check it before. Can you please build new image?

[2020-12-02 16:28] anamehra commented on #5839
Please suggest.

[2020-12-02 17:06] ppikh commented on #6053
@tahmed-dev
Yes, port `Ethernet124` added to both vlans 690 and 691.

Host A does not have IPs on interfaces enp4s0f1.690 and enp4s0f1.691.
Should I add on this interfaces IPs and try to ping 69.0.0.1?

Scenario example:
Add IP 69.0.1.100/24 to interface enp4s0f1.690
Then add route to 69.0.0.0/24 via 69.0.1.1
Then try to ping 69.0.0.2 from interface enp4s0f1.690 ?
Then remove IP and route to DHCP

[2020-12-02 17:24] anamehra opened #6097 "pmon xcvrd crash on multi asic chassis when all asics are BackEnd"
**Description**
xcvrd crash if none of the asic on the board are FrontEnd on a multi asic Chassis system. This cause pmon service to go down.

Nov  4 12:38:27.645057 sonic INFO pmon#supervisord: lm-sensors Starting sensor daemon: sensord
Nov  4 12:38:27.666989 sonic INFO pmon#sensord: sensord started
Nov  4 12:38:27.667853 sonic INFO pmon#supervisord: lm-sensors .
Nov  4 12:38:28.374348 sonic INFO

[2020-12-02 17:36] anamehra opened #6098 "show lldp does not show any data for BackEnd asics"
**Description**
On a multi asic system, show lldp table/neighbor is empty for BackEnd asics.
lldp protocol does work on the interfaces on BackEnd asics but show output is empty.

**Steps to reproduce the issue:**
1. Configure multi-asic chassis system
2. run show lldp table on card with BackEnd asics
3.

**Describe the results you received:**
Empty list

root@sonic:/# show lldp table
Capability co

[2020-12-02 18:15] gechiang commented on #6069
The I2ME trap BRCM issue is tracked with CS00011466224

[2020-12-02 19:32] tahmed-dev commented on #6052
@ppikh, no worries. I triggered another. Build artifacts are [here](https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all-pr/6351/artifact/target/)

[2020-12-02 19:52] vaibhavhd opened #6101 "Reboot cause determination and processing shows older/incorrect cause and time."
**Description**

**Steps to reproduce the issue:**
1. Install latest of SONiC master image.
2. Check output of `show reboot-cause`
3. Check syslog for `determine-reboot-cause` and `process-reboot-cause`.

**Describe the results you received:**

There is inconsistency in processing reboot cause and additional information (user, time of reboot). This leads to incorrect reboot-cause and time shown in

[2020-12-02 19:54] vaibhavhd commented on #6009
Closing this issue now.
The error logged in this issue is not seen in both Arista and Dell platforms. However, the reboot cause determination still is flaky and incorrect (for different errors). I am tracking this in separate tickets now:
Dell https://github.com/Azure/sonic-buildimage/issues/6082
More general issue - https://github.com/Azure/sonic-buildimage/issues/6101

[2020-12-02 19:54] #6009 closed

[2020-12-02 19:58] qiluo-msft commented on #6087
The option #1 is actually fixed in https://github.com/Azure/sonic-utilities/pull/1280
Could you please verify again?

[2020-12-02 20:09] #6081 closed

[2020-12-02 20:12] yxieca opened #6103 "Kernel GP during swss/syncd/teamd shutdown"
**Description**

**Steps to reproduce the issue:**
1. run autorestart test for teamd, swss, or syncd
2.
3.

**Describe the results you received:**
Test found following error in syslog, the system recovered from the test, GP happened during service shutdown. But this issue should be addressed anyways.

INFO kernel: [34985.337998] traps: gearsyncd[16050] general protection ip:7fe030bb1aea sp:7fe0306

[2020-12-02 20:41] vaibhavhd opened #6104 ""show system-health summary" crashes due to missing module health_checker."
**Description**
`system_health` script crashes due to missing module `health_checker`.

**Root cause** - The `system_health` library (in `sonic-utilities`) is Python3 based whereas `health_checker` (in `sonic-buildimage`) is still Python2 based:
[code]
[code]

**Steps to reproduce the issue:**
1. Install latest SONiC master image.
2. After applying fix https://github.com/Azure/sonic-buildimage/pul

[2020-12-02 21:00] yxieca commented on #6103
This issue is not easily repeatable. I only see once in available history.

[2020-12-02 21:55] yxieca commented on #6103
(gdb) bt
#0  0x00007fe030bb1aea in std::_Hashtable<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, std::pair<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const, std::unordered_map<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, swss::SonicDBInfo, std::hash<std::__cxx11::basic_string<char, std::char

[2020-12-02 21:57] vaibhavhd commented on #6101
This issue is due to the fact that `sonic-buildimage` is still using old code for `show reboot-cause`.
This explains why contents of `previous-reboot-cause.txt` are printed in `show reboot-cause`.
https://github.com/Azure/sonic-utilities/blob/6fabbedc8ba0f7961bec3ec0adf7bb9d5c71eb2b/show/main.py#L1822

`show reboot-cause` util changes have been recently made to read from `/host/reboot-cause/previo

[2020-12-02 22:08] yxieca commented on #6103
(gdb) f 4
#4  swss::SonicDBConfig::getDbInfo (dbName="LOGLEVEL_DB", netns="") at dbconnector.cpp:220
220     dbconnector.cpp: No such file or directory.
(gdb) info locals
logger__LINE__ = {m_line = 208,
  m_fun = 0x7fe030be72f0 <swss::SonicDBConfig::getDbInfo(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::__cxx11::basic_string<char, std::char_traits<ch

[2020-12-02 22:16] yxieca commented on #6103
A few things are interesting:
1. There is no db information in m_db_info (unordered_map), that is in a way consistent with swss being shutdown.
2. netns "" is EMPTY_NAMESPACE.

Looking up an empty map should yield nothing instead of segment faulting. I suspect this is a multi-thread issue where a thread made a query while the global variable m_db_info is changing. I did some research, it is believ

[2020-12-02 22:36] vaibhavhd commented on #6082
@ArunSaravananBalachandran tagging you as this seems to be DELL platform library issue.

[2020-12-03 00:42] vaibhavhd commented on #6104
@jleveque, is there an existing plan/effort to port `system-health` module to Python3?

https://github.com/Azure/sonic-buildimage/tree/master/src/system-health

[2020-12-03 00:44] jleveque commented on #6104
I already have a PR to do so, but I am waiting for Mellanox to provide a Python 3 sonic_platform package before merging it: https://github.com/Azure/sonic-buildimage/pull/5886

[2020-12-03 01:19] peggy-chu commented on #6083
I've tried manually add one line "#define BCM56967_A1_REV_ID 2" in file devids.h, but still it doesn't work.
Does it also need src (binary) update? Does Broadcom-SAI support BCM56967 A1 (b967 rev2) right now?

[2020-12-03 01:28] bingwang-ms commented on #6087
Thanks. The fix LGTM

[2020-12-03 01:28] bingwang-ms commented on #6087
Fixed in https://github.com/Azure/sonic-utilities/pull/1280

[2020-12-03 01:28] #6087 closed

[2020-12-03 01:35] jleveque commented on #6077
@msosyak: Have you had a chance to test the changes in https://github.com/Azure/sonic-buildimage/pull/6080 to see if it resolves your issue?

[2020-12-03 01:40] peggy-chu commented on #6083
Probably the same issue as **"Orchagent crash in the recent SONiC images #5704"** [https://github.com/Azure/sonic-buildimage/issues/5704](url). The error log in /var/log/syslog is the same.

[2020-12-03 01:42] SuvarnaMeenakshi opened #6108 "SNMP query over IPv6 does not work"
**Description**

**Steps to reproduce the issue:**
1. Update SNMP ACL rules so that the query over Loopback IP works, else ACLs by default will drop packets over loopback IP.
Example:
admin@vlab-01:/tmp$ show acl rule
Table          Rule          Priority    Action    Match
-------------  ------------  ----------  --------  ------------------------------
IPV6_SNMP_ACL  RULE_1        9999        AC

[2020-12-03 04:12] Junchao-Mellanox commented on #5663
I found an similar error during regression on 201911 image. The commit hash is 9345fff.

[code]

[2020-12-03 15:47] ppikh commented on #6052
@tahmed-dev Hi, I still do not see this artifact. In Jenkins history I see jobs since 1 Dec. But your build 6351 is not here. How it is possible? Oldest Jenkins build 6366 has build date 1 Dec 2020. Please check link for artifacts. Thanks

[2020-12-03 17:42] tahmed-dev commented on #6052
@ppikh my mistake, it was a stale link. Here is the [link](https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all-pr/6389/artifact/target/). Also, if the build artefact gets deleted, feel free to trigger a build in [PR:6057](https://github.com/Azure/sonic-buildimage/pull/6057)

[2020-12-03 18:34] prsunny opened #6121 "Multiple FDB learn events for the same entry"
**Description**

While running the FIB test, observed that multiple learn events are coming for the same entry as below:

[code]

**Steps to reproduce the issue:**
1. Run FIB test
2.
3.

**Describe the results you received:**
Multiple events

**Describe the results you expected:**
One event

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `sho

[2020-12-04 03:40] bingwang-ms opened #6126 "[psud] psud keeps reporting WARNING"
**Description**
psud keeps reporting WARNING in syslog on lattest image.
[code]

**Steps to reproduce the issue:**
1. Run nightly test, and the WARNING will be in syslog. Still not clear how triggered.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show ve

[2020-12-04 05:13] prsunny commented on #5930
PR merged. Closing the issue

[2020-12-04 05:13] #5930 closed

[2020-12-04 10:32] msosyak commented on #6077
Yes, https://github.com/Azure/sonic-buildimage/pull/6080 fix this issue. Thank you

[2020-12-04 12:45] ArunSaravananBalachandran commented on #6082
The mentioned error is seen because the platform APIs are called before the platform initialization is complete.For `process-reboot-cause`, there is a [systemd rule](https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sonic-platform-modules-dell/s6100/systemd/s6100-reboot-cause.service#L3) to prevent this, but the issue is seen since a new `determine-reboot-cause` service is us

[2020-12-04 13:19] #4044 closed

[2020-12-04 15:37] nazariig commented on #5663
@theasianpianist FYI. this issues is also observed on latest master

[2020-12-04 16:41] #6077 closed

[2020-12-04 19:05] vadymhlushko-mlnx commented on #6027
[sonic_dump_arc-switch1041_20201204_185438.tar.gz](https://github.com/Azure/sonic-buildimage/files/5644871/sonic_dump_arc-switch1041_20201204_185438.tar.gz)

[2020-12-04 19:19] praveen-li commented on #6027
Plz mention timestamp of error, I see logs of only successful Port Breakouts

[2020-12-04 19:36] theasianpianist commented on #5663
Thanks for the update, will continue to try and reproduce. Do you have any additional info about what could be causing it?

[2020-12-04 20:00] theasianpianist commented on #5663
@nazariig @Junchao-Mellanox the next time you see this issue, can you please run `systemctl status swss` and share the output?

[2020-12-04 21:41] #6126 closed

[2020-12-05 05:48] anamehra opened #6135 "show ip bgp summary fail when configured neighbor through frr"
**Description**

show ip bgp summary throws error 'Error: peerGroupCount missing in the bgp_summary' when neighbor is configured through frr.

FC0.0# show run
Building configuration...

Current configuration:
!
frr version 7.2.1-sonic
frr defaults traditional
hostname FC0.0
log syslog informational
log facility local4
agentx
no service integrated-vtysh-config
!
enable password zebra
password zebra

[2020-12-07 00:54] judyjoseph commented on #5971
@bingwang-ms when teamd docker goes down, it brings down both syncd and swss dockers along.
Please check that during this time the swss and syncd dockers are also going away and restarted.

The error message is expected and should stop when the swss goes down.

Later when all of them swss, syncd, teamd is up -- The portchannels should be back as normal
Could you give more details on that ?

[2020-12-07 01:07] shihhsien-wang opened #6137 "[QoS] Cannot remove port & queue shaping scheduler profile"
**Description**

Currently it doesn't have a way to remove scheduler profile used by queue or egress port shaping by neither `sonic-cfggen` nor any CLI command.

**Steps to reproduce the issue:**

1. Create a JSON file which is named `create_and_bind.json`:
[code]
2. Use `sonic-cfggen` command with above file: `sonic-cfggen -w -j create_and_bind.json`
3. Inject traffic from ports other than `Ether

[2020-12-07 01:08] Junchao-Mellanox commented on #5663
Hi @theasianpianist, I didn't find extra infor about what would be the cause, in syslog, there is only one line error log that I attached before. I will try ```systemctl status swss``` next time I see this issue.

[2020-12-07 05:52] lolyu opened #6138 "[reboot] Fail to start Arista early platform initialization"
**Description**

**Steps to reproduce the issue:**
1. Upgrade a DUT(Arista7060) to the latest master image
[code]
2. Run `show version`
3. Restart `platform-arista-swss.service`

**Describe the results you received:**
* during reboot, there is an error:
[code]
* `show version`
[code]
* after `systemctl restart platform-arista-swss.service`, logs in `syslog`:
[code]

**Describe the results you expe

[2020-12-07 08:12] ArunSaravananBalachandran opened #6140 "[dni_dps460] Read, Write on 'fan1_target' reports failure"
**Description**

Read and write to ‘fan1_target’ attribute of ‘dni_dps460’ driver fails with a kernel crash (list_add corruption) and error respectively.

- Write on the attribute fails with 'Bad address' error.
- Read on the attribute results in ‘list_add’ corruption (similar to Azure/sonic-linux-kernel#152 - reported for write operation)

**Steps to reproduce the issue:**
1. Load latest SONiC ma

[2020-12-07 08:37] bingwang-ms commented on #5971
@judyjoseph
I attempted to repro the issue on lattest image ```SONiC-OS-HEAD.85-61419f54``` but failed. It looks like that the issue has been fixed somehow.
Then I reinstall ```SONiC.master.491-af654944``` and the issue can repro.
I saw that swss and syncd were not restarted when teamd was down, and ERR kept flooding. The portchannels still not worked after several minutes.
[code]
[code]
Please re

[2020-12-07 11:47] dpetryshintl opened #6143 "big_sip TC fails due to invalid monit status on SONIC 202006"
**Description:**

Big_sip test case fails on Monit check for sflow|sflowmgrd feature, getting fault status "Does not exist", though the real status of the feature is "disabled" (which is correct according with it's default state).

**Steps to reproduce the issue:**

1. Install SONIC 202006
2. Deploy t0 topology on Montara
3. Run big_sip test case

**Describe the results you received:**

Status of

[2020-12-07 13:46] nazariig commented on #5663
@stepanblyschak please have a look at this issue

[2020-12-07 13:47] nazariig commented on #5663
@theasianpianist i have updated the ticket with all i had

[2020-12-07 15:07] stephenxs opened #6146 "bgp 'next-hop-tracking' feature enabled causes port_toggle to fail more frequently"
**Description**
Recently we notice that the `port_toggle` issue can be observed more frequently than before. We did some tests on the image from middle September till now in t1-lag topo and eventually found that it is very likely to be caused by the bgp 'next hop tracking' feature. With the bgp next hop tracking disabled, the port toggle test can seldom fail.
The flow of port toggle test is:

1. s

[2020-12-07 15:19] aravindmani-1 commented on #5931
@rlhui , @vmittal-msft Is there any ETA of when this fix will be integrated to community branch?.

[2020-12-07 16:55] #5893 closed

[2020-12-07 17:08] vaibhavhd commented on #6138
@Staphylo is this bug related to the recent platform/eeprom/python2 to 3 changes?

FWIW, I think this is a 7060 only issue as I did not observe this issue on 7260. Thanks.

[2020-12-07 17:54] Staphylo commented on #6138
Thanks for reporting this issue Vaibhav.
Could you provide the output of `cat -e /etc/sonic/.syseeprom`?
This issue is more likely tied to a refactor I did recently but not related to the python3 update.

[2020-12-07 21:16] Staphylo commented on #6138
Independently of the output, I enhanced the robustness of the eeprom parser which should now gracefully handle misformated files.
I will publish a PR soon and tag this issue once it's up.
Nevertheless it would still be interesting to see the content of the eeprom cache and which value seems corrupted.

[2020-12-07 21:21] vaibhavhd commented on #6138
Thanks Samuel! There is actually no `.syseeprom` file in the 7060 device.

[code]

[2020-12-07 21:27] daall commented on #5554
This is an issue w/ our lab setup.

[2020-12-07 21:27] #5554 closed

[2020-12-07 21:32] Staphylo commented on #6138
Could you also tell me if you see any of these files?
[code]

[2020-12-07 21:34] vaibhavhd commented on #6138
Sure:
[code]

[2020-12-07 21:48] Staphylo commented on #6138
Thank you for the outputs Vaibhav.
I now have the root cause of the problem. My fix will gracefully handle this case.

[2020-12-07 23:17] vaibhavhd commented on #5972
Hi @stepanblyschak, thanks for reporting this. I have added a new option (`-i`) that ignores only ASIC configuration checksum verification failures and kept `-f` to ignore only orchagent restart crash.

This is the PR: https://github.com/Azure/sonic-utilities/pull/1292

Can you please confirm that this resolves the issue raised here?

[2020-12-07 23:38] nazariig opened #6149 "Local subnet route is being removed on link operational state down"
**Description**
Local subnet routes for IPv4/IPv6 are being removed on link operational state down.
This causes packets to be looped thru the default route if any.

**Steps to reproduce the issue:**
1. Deploy PTF32/T0/T1-LAG
2. Shutdown neighbor interface
3. Startup neighbor interface

**Describe the results you received:**
#### Link operational state is up:
Kernel:
[code]

Debugger:
[code]

Logs:

[2020-12-07 23:52] nazariig commented on #6149
@prsunny please have a look

[2020-12-08 07:20] bingwang-ms opened #6153 "[CLI] 'show ip route sum' cmd is not available on lattest image"
**Description**
Recent update in ```show``` library made ```show ip route sum``` not availabe on lattest image. Is this expected?
[code]

**Steps to reproduce the issue:**
1. Run ```show ip route sum```
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Out

[2020-12-08 08:20] theasianpianist commented on #5663
@nazariig thanks for the info, I have been able to come up with some repro steps that have been consistent for me and have added them to the original ticket. I think some re-ordering of the systemd unit files should be able to fix this, I will look into it. In the meantime, please try the repro steps and confirm that they work for you.

[2020-12-08 19:30] vaibhavhd commented on #6101
This issue has been fixed in the latest master image.

[2020-12-08 19:30] #6101 closed

[2020-12-09 02:35] bingwang-ms opened #6164 "[lldp] lldp not works after teamd is restarted"
**Description**
The ```lldp``` is not to recover after teamd is restarted, and WARNING log keeps flooding.
Related issue https://github.com/Azure/sonic-buildimage/issues/5971
[code]

**Steps to reproduce the issue:**
1. Run ```config reload``` to initialize DUT
2. Kill a critical process in teamd container, say teammgrd.
3. Contailer teamd will be restarted, and WARNING is flooding.

**Describe th

[2020-12-09 03:51] prsunny commented on #6078
Fix merged - https://github.com/Azure/sonic-utilities/pull/1282

[2020-12-09 03:51] #6078 closed

[2020-12-09 04:52] mipxman opened #6167 "SONiC swss and syncd Exited in brcm when create a subinterface"
Hello Guys !

I try to create subinterface (subport) but after creating my switch was crashed !

SONiC Software Version: SONiC.master.0-dirty-20201104.075431
Distribution: Debian 10.6
Kernel: 4.19.0-9-2-amd64
Build commit: 3a4435eb
ASIC: broadcom (tomahawk)

---
I use this command to create subinterface `config interface ip add EthernetX.Y A.B.C.D/M`

 show subinterface status
  Sub port interface

[2020-12-09 04:52] prsunny commented on #6167
@wendani , could you comment?

[2020-12-09 05:03] mipxman commented on #6167
also when I send `$ bcmcmd "Switch Control" | grep Subport` show this result :

UnkownSubportPktTagToCpu	Feature unavilable
SubportPktTagEthertype		Feature unavilable
SubportPktTagToCpu		Feature unavilable
NonSubportPktTagToCpu		Feature unavilable
SubportCoEEtherType		Feature unavilable
SubportEgressWideTpid		Feature unavilable
SubportEgressWideTpid		Feature unavilable
SubportLowPriPfcSel		Feature

[2020-12-09 09:54] lolyu commented on #5898
Here is what I've found so far:
* after the storm is restored(toward `Ethernet44:4`), packets sent to other ports' queue 4 are dropped as well as `Ethernet44`.

1. check some ports' queue 4 is viable(`Ethernet44`, `Ethernet48`, and `Ethernet52`).
[code]
2. start storming `Ethernet44:4`
3. stop storming `Ethernet44:4`
4. `sairedis` logs from step2 to step3
[code]
5. check traffic
[code]

[2020-12-09 16:08] anshuv-mfst commented on #6167
@wendani - Could you please look into this issue.
Thanks!

[2020-12-09 16:14] anshuv-mfst commented on #6146
Liat: Issue caused by https://github.com/Azure/sonic-buildimage/pull/5600.

@liat-grozovik to add more info.

[2020-12-09 16:18] anshuv-mfst commented on #6140
Dell team to take this issue forward.

[2020-12-09 16:19] liat-grozovik commented on #6146
@stephenxs please add techsupport and more information of what is failing.
if i recall correctly you referred to some kind of error flow on swss. if this is not the case please elaborate.

[2020-12-09 16:20] anshuv-mfst commented on #6138
PR filed and merged.
@Staphylo - Please ask Samuel to include this fix in his PR to auto-close the issue.

[2020-12-09 16:21] anshuv-mfst commented on #6137
@neethajohn Could you please provide input on this issue.
Thanks.

[2020-12-09 16:24] anshuv-mfst commented on #6135
Configuration by vtysh is not currently supported, known issue.
Could you please confirm if reason for using vtysh for bgp configuration?

[2020-12-09 16:31] anshuv-mfst commented on #6097
Issue is seen on Cisco 8800 chassis.
Please provide output for "show tech support" command.

[2020-12-09 16:34] anshuv-mfst commented on #6083
@ben-gale - Could you please look into this issue.
Thanks.

[2020-12-09 16:37] anshuv-mfst commented on #6062
Issue is also seen in **master branch**

[2020-12-09 16:42] anshuv-mfst commented on #6056
Need to check with Marvell if asic is supported. @antony-rheneus could you please confirm

[2020-12-09 16:48] anshuv-mfst commented on #6047
@abdosi , @judyjoseph and @arlakshm are looking into this issue.

[2020-12-09 16:52] anshuv-mfst commented on #5839
Enhancement is not planned for 202012 release. Please file new issue for show ip int CLI enhancement for Chassis.

[2020-12-09 17:03] ppikh commented on #6052
@tahmed-dev
Hi, I checked on your image SONiC.HEAD.6389-33344befc - issue does not reproduce.

[2020-12-09 17:04] gechiang opened #6170 "PR build for Mellonox is failing with missing glib.h and glib-obj.h"
**Description**
Recently opened a new PR for some BRCM related changes and as part of the PR auto qualification tests several PR builds were automatically generated when PR is raised.  One of the PR test for Mallonox build keeps failing complaining missing glib.h and glib-obj.h
This is potentially impacting all PR due to this build issue...
If someone can quickly address this it would be gereat.

[2020-12-09 17:08] anamehra opened #6171 "show ip interface CLI support for multi asic"
**Description**
show ip interface CLIs needs multi asic support.

**Steps to reproduce the issue:**
1. configure multi asic router
2. configure asic interfaces with ip
3. run show ip interface -n asic<id>

**Describe the results you received:**
root@sonic:/home/cisco# ip netns
asic0 (id: 1)
asic1 (id: 0)

root@sonic# show ip interfaces
Interface    Master    IPv4 address/mask    Admin/Oper    BGP

[2020-12-09 17:09] anamehra commented on #5839
Filed #6171 for show ip int CLI enhancement

[2020-12-09 17:11] Staphylo commented on #6138
Anshu, I couldn't link the issue to the PR as the field is immutable on my PR.
I edited my PR message by adding a `fixes` that reference this issue, but that didn't solve it either.

[2020-12-09 17:14] vaibhavhd opened #6172 "Gearsyncd crash and core observed after continuous warm reboot"
**Description**

Gearsyncd crash seen after warm reboot, producing core file.
Core was generated by `/usr/bin/gearsyncd -p /usr/share/sonic/hwsku/gearbox_config.json'.

The issue seems to have been hit due to a GP fault reported by Kernel during gearsyncd warm start.

`Dec  9 05:28:18.287552 vlab-01 INFO kernel: [   41.785625] traps: gearsyncd[2570] general protection ip:7f385ce98fea sp:7f385c9166

[2020-12-09 18:09] anshuv-mfst commented on #6138
Closing issue as fix is merged.

[2020-12-09 18:09] #6138 closed

[2020-12-09 18:52] gechiang commented on #6170
@xumia it seems to be passing for my PR now after the 3rd retry...  Just want to provide you the data point that this might be intermittent...

[2020-12-09 19:49] manjo-git commented on #5514
Martin were you able to resolve this issue. I did exact same thing, and mine fails saying "No rule to build target/docker-sflow.gz " but it seems to build the kernel packages ok.

[2020-12-09 21:53] #5616 closed

[2020-12-09 21:53] #5681 closed

[2020-12-09 22:03] wendani commented on #6167
log.txt misses the line complaining process exit. Can you attach a complete one?

[2020-12-09 22:07] martin-belanger commented on #5514
Hi @manjo-git
No I was not able to fix this problem.

[2020-12-09 23:09] stephenxs commented on #6146
For most of the reproduction, port toggle test failed. I suspect it’s because it takes to much time to withdraw routing.
The delay between shutting down and starting up ports are newly introduced. Before having that, sometimes we can observe sairedis timeout during the starting up phase. This is because too many requests accumulated in sairedis queue makes it difficult to handle new request in tim

[2020-12-10 01:04] #5858 closed

[2020-12-10 02:01] lolyu commented on #5898
I reinstalled the DUT with `SONiC.20191130.56`, and all those ports queue 4 works fine.

[2020-12-10 02:52] bingwang-ms commented on #5877
Fixed.

[2020-12-10 02:52] #5877 closed

[2020-12-10 03:06] #5205 closed

[2020-12-10 03:31] bingwang-ms commented on #6002
Discussed with @prsunny offline, and I think it's an expected behavior. The FDB aging timer is running at a fixed cycle (10 minutes in this case) and any unavailable FDB entry is cleared. In other words, the FDB entry added at 9th minute might be cleared at 10th minute.
To workaround the test issue in test_crm_fdb, I will update test code to set the FDB aging time to 0 in order to disable the FDB

[2020-12-10 03:48] prsunny commented on #6002
@ben-gale , @anilkpandey, can you confirm this?

[2020-12-10 08:49] antony-rheneus commented on #6056
Can you do workaround in "platform/cavium/cavm_platform_modules/Makefile" and try building.
I have not tested it, changing the KERNEL_SRC to right path.

`git diff platform/cavium/cavm_platform_modules/Makefile
diff --git a/platform/cavium/cavm_platform_modules/Makefile b/platform/cavium/cavm_platform_modules/Makefile
index aeb274aa..e1c9c283 100644
--- a/platform/cavium/cavm_platform_modules/Make

[2020-12-10 08:57] stephenxs commented on #6146
[sonic_dump_arc-switch1004_20201210_084105.tar.gz](https://github.com/Azure/sonic-buildimage/files/5671461/sonic_dump_arc-switch1004_20201210_084105.tar.gz)

[2020-12-10 09:04] lguohan commented on #6146
can you do a comparison test. one enable next-hop-tracking, one without. and then compare the number of the route entries in the sairedis log between these two runs. if your theory is correct, then there will be much more route entries when device has next-hop-tracking enables v.s. w/o.

[2020-12-10 09:04] stepanblyschak commented on #5975
This issue is related to apparmor profile on testbed server.
Please check:
[code]

If profile for ntpd is not disabled, try to disable and rerun the test.

Since this is not an issue with DUT I suggest to move this issue to sonic-mgmt and add the step for disabling ntpd profile in testbed deployment playbooks

[2020-12-10 09:07] stephenxs commented on #6146
sure.

[2020-12-10 09:07] #6143 closed

[2020-12-10 15:25] mipxman commented on #6167
Ethernet8.100 and Ethernet8.200 is subinterface
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/5673781/syslog.txt)

[2020-12-10 17:21] gechiang commented on #6153
Problem understood.
This is due to the new "common" parsing method added for the multi-asic support that missed the handling of this option.
Will raise a PR to fix this.

[2020-12-10 17:58] vaibhavhd commented on #6172
Bt from the core:
[code]

[2020-12-10 18:44] vaibhavhd commented on #6172
Although the stacktrace is different, the root cause of this issue appears to be identical with https://github.com/Azure/sonic-buildimage/issues/6103

In this issue also the FAULT is hit when `getDBInfo` calls `m_db_info.find(netns)` with empty `netns`.

This is where it gets similar to the other issue - An EMPTY_NAMESPACE is searched in an empty `unordered_map`.

https://github.com/Azure/sonic-sw

[2020-12-10 19:00] vaibhavhd commented on #6172
This should be a multi-thread-mishandling/race condition issue due to the fact that this issue is not consistent and seen only once in ~30 iterations of gearsyncd warm start.

[2020-12-10 21:43] shi-su opened #6183 "Orchagent crash in warm-reboot upgrade between master kvm images"
**Description**
Orchagent crash in warm-reboot upgrade between master kvm images

**Steps to reproduce the issue:**
1. Install new sonic kvm image from master branch using sonic-installer
2. Warm reboot
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Expect the image to boot up without any problem

**Additional information you deem important (e.g. issue ha

[2020-12-10 23:21] #5497 closed

[2020-12-11 04:38] wendani commented on #6167
Can you fix the following issue fist? This is not related to sub interface.
[code]

[2020-12-11 05:59] mipxman commented on #6167
I try to fix it and reported the result here. tnx

[2020-12-11 08:23] stephenxs commented on #6146
[sonic_dump_arc-switch1004_20201211_075414.tar.gz](https://github.com/Azure/sonic-buildimage/files/5677956/sonic_dump_arc-switch1004_20201211_075414.tar.gz)
this is the dump without next-hop-tracking

[2020-12-11 14:27] lguohan commented on #6146
can you analyze the sairedis log and compare?

[2020-12-11 18:34] daall commented on #3035
fixed by https://github.com/Azure/sonic-swss/pull/1486

[2020-12-11 18:34] #3035 closed

[2020-12-11 23:18] #6153 closed

[2020-12-12 00:26] tahmed-dev commented on #6052
Thanks @ppikh for the great help. Will close this issue via [PR:6057](https://github.com/Azure/sonic-buildimage/pull/6057)

[2020-12-12 00:28] #6052 closed

[2020-12-12 01:25] theasianpianist commented on #5663
I believe the root cause of this issue is slightly different from what's listed in the ticket.

When stopping SWSS, a stop job is enqueued for SNMP (due to the `Requisite=swss.service` in the SNMP unit file, which causes SNMP to stop if SWSS stops). While this is happening, if the SNMP timer triggers, it creates a start job for SNMP which cancels the stop job for SNMP. Since the SNMP stop job was

[2020-12-12 01:37] prsunny commented on #6149
From my analysis and the logs, this subnet route delete is triggered by FRR zebra. Verified on both 201911 and 201811 and below are the observations:

1. [201911 - FRR] fpmsyncd is getting the Route msgs from zebra even-though kernel is not generating those.
2. [201811 - Quagga] fpmsyncd is *not* getting the route msgs from zebra during oper status change. Also subnet handling is different b/w 201

[2020-12-14 02:51] bingwang-ms opened #6199 "PortChannel is not fully cleared when teamd is stopped"
**Description**
The issue is detected by ```test_po_cleanup```. The test case failed consistently because ```PortChannel0023``` still exists in system when ```teamd``` is stopped.

[code]

**Steps to reproduce the issue:**
1. Run ```systemctl stop teamd``` to stop ```teamd``` service on DUT
2. Check if all portchannels are cleared
[code]
And we can see that ```PortChannel0023``` still exists.
3.

[2020-12-14 06:17] #6183 closed

[2020-12-14 08:16] CLUDev commented on #5944
@rlhui @pavel-shirshov Thank you for checking this issue!
The previous scenario could not be reproduced,
I've updated a reproducible scenario with configurations listed below.

Please find "show tech" and "show run all" listed below
[show_run_output.txt](https://github.com/Azure/sonic-buildimage/files/5687189/show_run_output.txt)
[sonic_dump_Maple-201911_20201214_063352_show_tech.tar.gz](https://g

[2020-12-14 09:20] nazariig commented on #6149
@prsunny so what's the plan? Do we need a bug for FRR?

[2020-12-14 18:22] #5853 closed

[2020-12-14 19:36] anamehra commented on #6135
What is the planned way for configuring bgp on multi-asic? I see some configuration like neighbor data could be entered through config_db.json but some configurations like update-source, policy etc, are not supported in config_db.json.
Is there plan to support all the configuration via config_db.json?

[2020-12-14 19:38] anamehra commented on #6097
Is there a limited set of logs which may help instead of complete show tech dump?

[2020-12-14 22:35] sramkrishna opened #6204 "SONiC Facebook Wedge 100bf 32x fails to install correctly completely"
**Description**

1. Grabbed the latest SONiC image for broadcom - renamed the image to onie-installer-x86_64-facebook_wedge100-r0 as the onie installer expected this format based on the onie image installed I would assume.
2. Uninstalled the current OS

3. After the install, I do a ''' show version''' and get:
'''admin@sonic:~$ show version

SONiC Software Version: SONiC.master.521-dirty-20201214.

[2020-12-14 23:50] judyjoseph commented on #6097
@anamehra, I will take a look and check how to check this. But have a general question of why we need to start XCVRD when there are no front-end ASIC's which usually have transceiver interfaces ? Can we skip starting xcvrd in pmon ?

[2020-12-15 00:09] stephenxs commented on #6146
I’ll analyze it a bit more.
the failure is not the sairedis time out but port toggle test failure.
there’s a logic in the port toggle test: after all port shut down, some of the ports are not down within the given time.
Without the BGP commit the test passed.

[2020-12-15 08:38] maksymbelei95 opened #6209 "Could not bind Ethernet interface to VRF"
**Description**
Could not bind any Ethernet interface to VRF, created before. Command 'bind' just freezes while executing.

**Steps to reproduce the issue:**
1. sudo config vrf add Vrf_custom
2. sudo config interface vrf bind Ethernet36 Vrf_custom

**Describe the results you received:**
The system could not complete binding the interface to the VRF, execution of 'bind' command freezes for undefine

[2020-12-15 17:49] stepanblyschak opened #6212 "swss may not restart syncd because swss.sh is using start instead of restart syncd"
**Description**

**Steps to reproduce the issue:**

[code]

This flow may happen in warm-reboot script. If script fails to do warm reboot and by that time swss is already stopped the system does not recover via cold restart.

**Describe the results you received:**

swss does not restart syncd and as a result orchagent crashed.

**Describe the results you expected:**

Restart of swss should restart

[2020-12-16 00:13] daall commented on #5986
@ciju-juniper are you still encountering this issue?

[2020-12-16 00:37] vaibhavhd commented on #6082
Hi @ArunSaravananBalachandran, do you have an ETA for this fix? Thanks.

[2020-12-16 01:15] vaibhavhd commented on #5487
This issue is not seen on lately. Checked on DX010 T0 dut. There are other failures with warm-reboot that are being captured in other issues. This can be verified again when cont_warm_reboot test can be executed on this device (at present is blocked by SAI issue).

[code]

[code]

[2020-12-16 01:15] #5487 closed

[2020-12-16 03:04] bingwang-ms commented on #5597
I think the issue still exists on lattest image, but the error is different.
[code]

[2020-12-16 04:19] ciju-juniper commented on #5986
@daall  Let me start downloading the latest master image. I will update this issue shortly.

[2020-12-16 11:16] ciju-juniper commented on #5986
@daall I tried with build# 522. Problem is still seen. PMON is exited after several startup attempts.

[code]

Please let me know, if you have seen similar issues and any suggestions to rectify it.

[2020-12-16 12:09] aravindmani-1 opened #6224 "show system-health CLI is not working in latest master image"
**Description**
When executing "show system-health summary/detail/monitor-list, following errors were seen in latest master image.

root@sonic:~# show system-health summary
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/show/system_health.py", line 21, in summary
    if os.environ["UTILITIES_UNIT_TESTING"] == "1":
  File "/usr/lib/python3.7/os.py", line 678, in _

[2020-12-16 13:12] ciju-juniper commented on #5986
@daall I did some debugging by selectively enabling syseepromd, & psud. Without enabling, xcvrd, pmon is starting up. The 'No module named sonic_platform' error is still there. It becomes problematic when the xcvrd is started.

This is what I get when I manually start xcvrd from pmon:

[code]

[2020-12-16 13:55] vadymhlushko-mlnx commented on #6027
This issue is not reproducible anymore.

[2020-12-16 13:55] #6027 closed

[2020-12-16 16:34] vaibhavhd commented on #6224
This issue was earlier raised as part of https://github.com/Azure/sonic-buildimage/issues/6104

[2020-12-16 17:41] anamehra commented on #6097
@judyjoseph, SONiC multi-asic supports routers with different asic role on same board. So there could be some asics with FrontEnd and some with BackEnd or all with same role. But as pmon is single service handling all asics, one might want to run xcrvd to check all asics to handle FrontEnd asics if present. But yes, if there is no other requirement to run XCRVD then it may not need to be started i

[2020-12-16 19:07] anamehra opened #6226 "Adding interface IP via config load does not work after remove from CLI"
**Description**
If an interface IP is removed via CLI "config interface ip rem", config load does not sets the IP again.

I configured an interface IP using config_db.json:

    "INTERFACE": {
        "Ethernet0|10.0.0.1/31": {}
    }

root@sonic:/home/router# show ip int
Interface    Master    IPv4 address/mask    Admin/Oper    BGP Neighbor    Neighbor IP
-----------  --------  ------------------

[2020-12-16 19:50] judyjoseph commented on #6097
Sure @anamehra, will add the check to make sure it covers all cases  -- but I wanted to point out we have a control file eg:(https://github.com/Azure/sonic-buildimage/blob/master/device/mellanox/x86_64-mlnx_msn3700_simx-r0/pmon_daemon_control.json) using whicih we can skip starting pmon daemon which are not needed.

[2020-12-16 20:00] anamehra commented on #6097
Thanks @judyjoseph for that info! I will try that on my router!

[2020-12-16 22:50] prsunny opened #6230 "[Restapi] Validate IP prefix while configuring route"
**Description**

if a route is programmed with incorrect prefix, orchagent might crash

**Steps to reproduce the issue:**
1. curl '[{"cmd":"add", "ip_prefix":"20.0.1.1/24", "ifname":"Vlan3"}]'
2.
3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Should not crash.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **

[2020-12-17 00:39] #5663 closed

[2020-12-17 01:40] bsun-sudo commented on #5880
syslog is not yet supported with mVRF in the community code, thus this error when mgmt VRF is configured.

[2020-12-17 18:51] vaibhavhd opened #6240 "IO errors seen during warm reboot causing drop in traffic from servers"
**Description**

I/O tests during warm-reboot are failing due to server->t1 traffic being dropped.

**Steps to reproduce the issue:**
1. Run `test_advanced_reboot::test_warm_reboot` on the latest Master image with SAI fix for https://github.com/Azure/sonic-buildimage/issues/6069
2. The test fails when traffic from servers is not received on the DUT.

In syslog, continous `SAI_API_FDB:_brcm_sai_fdb

[2020-12-17 21:11] shyam77git opened #6241 "Temperature sensors - critical high and critical low thresholds - are not defined in thermal_base.py"
Background/context:
---------------------
Per thermal-control-design.md, sec 2. Thermal device monitoring
There are actually 4 functions:
get_high_threshold(), get_critical_high_threshold()
get_low_threshold(), get_critical_low_threshold()

Main point:
-----------
Each has a distinct threshold/trip point and should be tracked separately w.r.t:
identification, logging (syslog, alarms etc.) followed

[2020-12-18 06:36] #5914 closed

[2020-12-18 07:26] chitra-raghavan opened #6245 "In interface alias naming mode , show ip route <> returns json format output and doesn't show alias name."
**Description**

In  interface alias naming mode , show ip route <>  returns json format output and doesn't show interface  alias name in output ..

**Default mode**

[code]
**Alias Mode**

[code]

**Steps to reproduce the issue:**
1. configure alias mode   and check 'show ip route' output

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you

[2020-12-18 07:56] chitra-raghavan opened #6246 "[Brcm TH3] : config non default interface speed values throws Error in Dell Z9332 Platform"
**Description**

Platorm: Dell Z9332f
SKU : DellEMC-Z9332f-O32
ASIC :  BRCM Th3
port config  : https://github.com/Azure/sonic-buildimage/blob/master/device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/port_config.ini

**Issue :** config non default interface speed values  throws  Error in Dell Z9332 Platform

**Default speed :**

[code]

**Non Default speed :**
[code]

**Steps to reprodu

[2020-12-18 09:27] vaibhavhd commented on #6240
Looking more into the logs:
There is a flood of FDB events. MAC address `00-06-07-08-09-0A` (used by PTF testutils) is continuously jumping to ALL the ports and gets cycled between AGED (event 0) and LEARNED (event 1). I am guessing that these events are based on SAI's enum values https://github.com/opencomputeproject/SAI/blob/master/inc/saifdb.h#L79

[code]

[2020-12-18 09:29] vaibhavhd commented on #6240
Side question - for all the traffic that is dropped, both `RX_OK` and `RX_DRP` counters are increased simultaneously. Aren't they both contrary in functionality - if DRP is seen, OK should not be increased, and vice-versa?

[2020-12-18 11:11] maksymbelei95 commented on #6209
Dear @liat-grozovik ,

We have been investigating the issue. Here is our current result.

We have found that source of 'bind' function is sonic-buildimage/src/sonic-utilities/config/main.py.
The function contains checking of "INTERFACE_TABLE|EthernetXX" record in STATE_DB, which performs in while loop.
As we investigated, "INTERFACE_TABLE|EthernetXX" record is being removed on build with af357f3e(

[2020-12-18 12:57] #5975 closed

[2020-12-18 13:20] ArunSaravananBalachandran commented on #6082
@vaibhavhd, will raise a PR by end of next week

[2020-12-18 22:19] neethajohn commented on #5910
This message gets printed for unset bits of the pfcMask associated with a port. Since 3 and 4 are lossless queues, bits 3 and 4 are set by default in the port pfcMask. During a pfc storm on a particular queue, we unset that queue from the pfcMask of the corresponding port which leads to this message getting printed for the queue that is currently stormed.

[2020-12-19 02:55] gechiang opened #6253 "[Syncd failed during boot] syncd#supervisord: syncd /usr/bin/syncd: error while loading shared libraries: libprotobuf.so.10: cannot open shared object file: No such file or directory#015"
**Description**
Starting with BRCM cached build 144 syncd fails to boot up. Syslog shows the following error:
[code]

**Steps to reproduce the issue:**
1. Install any image after 143 (144 and above) will show this issue
[code]

**Describe the results you expected:**
Boot up with all the services functioning correctly!

The change that went into this build (144) has the following changes:
Support S

[2020-12-19 03:01] gechiang commented on #6253
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/5718826/syslog.txt)

[2020-12-19 07:16] lguohan commented on #6253
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-cache/144/artifact/target/docker-syncd-brcm.gz.log

can you check dpkg --list in the sync docker? I can see the libprotobuf is installed, not sure why it is missing here.

[2020-12-19 07:24] lguohan commented on #6253
not sure why we installed the stretch backport here.

[code]

[code]

[2020-12-19 07:26] lguohan commented on #6253
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-cache/141/artifact/target/docker-syncd-brcm.gz.log

[code]

[2020-12-19 08:05] lguohan commented on #6253
the issue is caused by this pr #5718

usually, the packages from backport is not preferred, is there a particular reason to prefer backport packages?

@gechiang , there is something you can improve the saibcm packaging as well, you can specify a particular packet version in the control file. you can specify

Package libprotobuf-dev, libprotobuf10, libprotobuf-lite10 explicitly to avoid such issue.

[2020-12-19 10:52] xumia commented on #6170
@gechiang the issue should be caused by the aufs docker driver in the 4 Jenkins agents, I have changed the docker driver to overlay2 for all impacted agents.

[2020-12-19 10:52] #6170 closed

[2020-12-19 13:23] mipxman opened #6254 "same MAC address for Ethernet ports"
Dear all ,
when I install SONiC all of Ethernet port get a same mac and copy it from DEVICE , is it normal ?  or I must do some implementation to change these HW address for each Ethernet port ?
I check the vs image and we have same problem,too.

ASIC: Broadcom Trident II , Tomahawk

[2020-12-19 16:24] #5955 closed

[2020-12-20 05:55] ldotrg opened #6256 "P4 image build"
**Description**

**Steps to reproduce the issue:**
1. `make configure PLATFORM=p4`
2. `make all`

**Describe the results you received:**
[code]

Is the sonic P4 image build is not working?

[2020-12-21 05:11] ciju-juniper commented on #5986
I found out what's happening. After the xcvrd code moved to the python library, it started creating conflict with 'sonic_platform' platform library implementation (that contains chassis.py & platform.py).

As an experiment, I removed the 'sonic_platform' package from platform directory and built an image. There were no crashes of xcvrd and PMON docker is fine.

I do see these messages:

1) Dec 21

[2020-12-21 06:10] ciju-juniper commented on #5986
@lguohan @jleveque @vdahiya12 @daall  I took a deeper look at the error 6 listed in the above comment. This is due to the changes introduced for supporting chassis based systems.  Similar errors are there in the syseepromd, watchdog, xcvrd, etc.

[code]
This is mandating the implementation of 'sonic_platform.platform.Platform().get_chassis()' . Why is the new implementation is done without having

[2020-12-21 07:31] #6253 closed

[2020-12-21 09:21] tim-rj opened #6260 "[MASTER] Port MTU configuration is different between DB and kernel"
**Description**
When setting the port MTU, if it is less than 68, the APPL_DB data and the kernel MTU data will be inconsistent. For example, when it is set to 1, the APPL_DB data is 1, ASIC_DB data and sdk data is 23，but the kernel remains unchanged.

**Steps to reproduce the issue:**
1.set a port's MTU less than 68
2.view port status
3.view kernel status
4.view APPL_DB,ASIC_DB,sdk data

**Descri

[2020-12-21 15:22] nazariig commented on #6149
https://github.com/FRRouting/frr/pull/7745

[2020-12-21 16:19] aravindmani-1 commented on #5931
Verified that the fix is present in latest image.

[2020-12-21 16:19] #5931 closed

[2020-12-21 16:58] nazariig opened #6264 "[sonic_installer] Firmware upgrade log is not a part of syslog"
**Description**

SONiC journal is missing info related to image firmware upgrade.
This makes an issues with failures analysis when working with techsupport file.

**Steps to reproduce the issue:**
1. sonic-installer install sonic-mellanox.bin

**Describe the results you received:**
[code]

**Describe the results you expected:**
The `stdout`/`stderr` of firmware upgrade log should be also redirecte

[2020-12-21 17:31] yxieca opened #6265 "sonic minigraph parse crashes on dualtor testbed"
**Description**

**Steps to reproduce the issue:**
1. use sonic to sonic upgrade to latest master branch image on dualtor testbed
2.
3.

**Describe the results you received:**
device is not configured. management port is not reachable. no service started except database.

Issue was introduced by this PR: https://github.com/Azure/sonic-buildimage/pull/6174/

**Describe the results you expected:**
s

[2020-12-21 19:07] jleveque commented on #5986
@ciju-juniper: The old platform plugins are deprecated, and all vendors should move to the new `sonic_platform` platform API. All daemons which previously worked with the old plugins were written with backwards-compatibility, but new daemons only reference the new `sonic_platform` package. In the near future, we will remove support for the old plugins entirely.

Please see https://github.com/Azure

[2020-12-21 19:08] nazariig opened #6267 "[installer.sh] Filesystem corruption observed when sonic_version.yml is modified"
**Description**

SONiC installer corrupts filesystem in case `/etc/sonic/sonic_version.yml` contains invalid image version:
https://github.com/Azure/sonic-buildimage/blob/master/installer/x86_64/install.sh#L448
[code]

**Steps to reproduce the issue:**
1. Edit `/etc/sonic/sonic_version.yml` with invalid image version
2. sonic-installer install sonic-mellanox.bin

**Describe the results you receive

[2020-12-21 22:09] vaibhavhd commented on #6240
This issue is seen only after DUT is warm rebooted and traffic from servers to T1 is dropped. Not seen on KVM or cold-rebooted DUT.

It is also hard to nail when the issue started occurring first, as the older versions of BRCM SAI in master had syncd crashes.

Looking at the syslog, there are SEVERAL errors seen during syncd warm reboot. Specifically the errors regarding VID to RID translation and

[2020-12-21 22:10] vaibhavhd commented on #6240
Now this is being tested and seen on latest SAI version and master image:

`BRCM SAI ver: [4.2.1.5], OCP SAI ver: [1.7.1], SDK ver: [sdk-6.5.19]`

[code]

[2020-12-21 22:39] #6265 closed

[2020-12-22 03:34] tim-rj opened #6271 "Add the same port as an untagged member of different VLANs"
**Description**

**Steps to reproduce the issue:**
1. sudo config interface ip remove Ethernet11 10.0.0.22/31
2. sudo config vlan add 10
3. sudo config vlan member add 10 Ethernet11 -u
4. sudo config vlan add 20
5. sudo config vlan member add 20 Ethernet11 -u

**Describe the results you received:**
[code]

**Describe the results you expected:**
After checking code, when port is added a VLAN with u

[2020-12-22 08:03] vaibhavhd commented on #6240
With every traffic drop, `RDROP` counters are increasing. This is suspected to be MMU handling/config related post warm-reboot.

[code]

Output of my station tcam is _slightly_ different after COLD reboot and WARM reboot.
In the case of warm-reboot, there is an extra "EVEN_PARITY=1" on all entries.

Looping in BRCM team to look further into the issue.

[2020-12-22 08:04] vaibhavhd commented on #6240
Thanks @gechiang for the debug help and creating a BRCM SAI CSP for this - CS00011676762.

[2020-12-22 09:02] vaibhavhd commented on #6069
Tested on latest of Master. This issue is not seen anymore and the fix is provided by new SAI patch - https://github.com/Azure/sonic-buildimage/pull/6244

Tested:
[code]

[2020-12-22 09:02] #6069 closed

[2020-12-22 17:56] #5602 closed

[2020-12-22 23:10] yxieca commented on #6212
This operation sequence is not right. for swss warm restart, it is expected that operator should enable it by "sudo config warm_restart enable swss". The command "sudo config warm_restart enable" enables system wide warm reboot. It is not sufficient if warm restart swss is the goal.

[2020-12-22 23:10] yxieca commented on #6212
Adding @zhenggen-xu for awareness and potentially further disucssion.

[2020-12-23 01:24] vaibhavhd commented on #5595
This issue is not seen on the latest of master and SAI version. Verified in 6100 and DX010 devices.

`BRCM SAI ver: [4.2.1.5], OCP SAI ver: [1.7.1], SDK ver: [sdk-6.5.19]`

[code]

[2020-12-23 01:24] #5595 closed

[2020-12-23 01:27] vaibhavhd commented on #6172
Duplicate of https://github.com/Azure/sonic-buildimage/issues/6103

[2020-12-23 02:57] daall commented on #6002
This looks like expected behavior, closing.

[2020-12-23 02:57] #6002 closed

[2020-12-23 02:58] daall commented on #5971
@judyjoseph pls update

[2020-12-23 05:35] chenkelly commented on #5971
Hi @judyjoseph
According to https://github.com/Azure/sonic-buildimage/blob/master/files/scripts/swss.sh#L4,
when syncd docker goes down, swss and teamd also go down, we encounter this LLDP issue (https://github.com/Azure/sonic-buildimage/issues/6164) after finishing syncd, swss, teamd container restart.
Should we define lldp to MULTI_INST_DEPENDENT to fix the issue?
Do you have any suggestion?
Tha

[2020-12-23 13:25] vadymhlushko-mlnx commented on #6023
@zhenggen-xu
If the image is freshly installed via ONIE, `BREAKOUT_CFG` tables exist in `CONFIG_DB`

[2020-12-23 13:25] #6023 closed

[2020-12-23 19:02] daall opened #6283 "physical entity data missing from SNMP"
**Description**
We noticed a lot of failures in a new test added by https://github.com/Azure/sonic-mgmt/pull/2379. This test verifies that the info stored in the physical entity MIB is correct. What we find is that there is physical entity data present in state DB that is not present in SNMP.

**Steps to reproduce the issue:**
1. Check State DB:
[code]

2. Check SNMP for physical object types:
[co

[2020-12-23 19:15] daall commented on #5531
loganalyzer issue is no longer seen, closing.

[2020-12-23 19:15] #5531 closed

[2020-12-23 19:20] daall commented on #5490
Superseded by #5615 and #6240, closing.

[2020-12-23 19:20] #5490 closed

[2020-12-23 19:29] daall commented on #6172
closing as duplicate

[2020-12-23 19:29] #6172 closed

[2020-12-23 19:39] daall commented on #5597
It sounds like this is now blocked by #6068

[2020-12-23 23:27] daall opened #6287 "Control plane packets counted as RX drops on TD3 devices"
**Description**
Control plane packets that are trapped to the CPU (i.e. BGP, LACP packets) are counted as RX drops on TD3 devices.

**Steps to reproduce the issue:**
1. Start up a device with portchannels and/or active BGP sessions

**Describe the results you received:**
[code]

**Describe the results you expected:**
BGP/LACP traffic should not be counted as drops

**Additional information you dee

[2020-12-23 23:30] daall commented on #5617
The issue seems to be specific to TD3. It looks like, for the following RX drop reasons:
- Missing IP header
- Broken IP header (i.e. invalid IHL or IP version)

Some (but not all) packets are dropped in the ASIC and the rest get trapped to CPU. Will open a CSP for this to get it resolved.

Note: #6287 also needs to be addressed to fix the tests as there are also a lot of failures due to _overcoun

[2020-12-24 08:10] osydoren commented on #6052
@ppikh
Hi. I started working with this issue and I tried to reproduce it on my setup. I have Mellanox Spectrum SN2700 switch and I used the build from master branch. But I am having problems. I applied the configuration you described in the issue, the configuration is being applied successfully. Next, on the client DUT using Scapy, I generated DHCP discovery packet and sent it in the direction of

[2020-12-24 09:46] bingwang-ms opened #6290 "[TD3] Egress packet drop in test_vlan"
**Description**
The test case ```test_vlan``` is consistently failing on 7050cx3. I did some investigation and found that packets are dropped on egress side.
Test case ```test_vlan``` do following things:
1. Create two new vlans (100 and 200) for testing and add some interfaces into them
[code]
2.  Inject some broadcast icmp packet (tagged and untagger) from ptf to one of the PortChannels (```Ethe

[2020-12-24 10:22] AndriiLozovyi commented on #5752
@anshuv-mfst I saw this issue when tried to run `test_mgmtvrf`, same error messages appears in syslog's.
Also same errors in logs when tried it manually using command `sudo config vrf add mgmt`.

**Logs:**
[code]

**Environment:**
[code]

[2020-12-24 11:10] bingwang-ms opened #6293 "[TD3] crm show incorrect counter for FDB entry"
**Description**
```crm show resources fdb``` gives incorrect FDB entry count. It returns ```1``` although there is no FDB. The polling interval has been set to ```1``` second.

[code]

**Steps to reproduce the issue:**
The issue is not consistently repro.
1. Run ```test_crm_fdb_entry```.
2.
3.

**Describe the results you received:**
```crm show resources fdb``` should return 0 if no FDB entry exis

[2020-12-24 18:05] vganesan-nokia opened #6295 "Linksync - netdev oper status determination using IFF_RUNNING"
**Description**

This issue is raised as per recommendation from voq inband interface PR code review. This is to request change in netdev event handling in linksync to use IFF_RUNNING to determine the operational status instead of using IFF_LOWER_UP.

Motivation for this request is as follows: There is difference between how SONiC and zebra determine oper status of interfaces. This difference intr

[2020-12-24 19:36] prsunny commented on #6293
I tested this manually and could observe counters being updated correctly. May be is it related to polling interval? I did the learn/flush after setting polling interval.

[code]

[2020-12-24 19:40] prsunny commented on #6290
Is it due to incorrect mmu setting? @lguohan ? Configs looks correct to me.

[2020-12-24 21:13] vganesan-nokia opened #6296 "Port status notification processing before all ports are ready when there is only one connected port"
**Description**

Port status notification is not processed by protsorch if the notification comes before all the ports are ready and if there is **only one port** with port status up.

In the current port status notification processing in portsorch, if a link up event is received (by doTask(NotificationConsumer &)) before all the ports are ready, the notification is not processed.  If this is the

[2020-12-24 23:10] vganesan-nokia commented on #6295
PR https://github.com/Azure/sonic-swss/pull/1568 has changes to address this issue/request

[2020-12-25 01:48] bingwang-ms commented on #6293
The issue shouldn't be caused by polling interval because I have set it to 1 second. The issue is not consistently repro. I only encountered twice when debugging test_crm_fdb.

[2020-12-25 01:58] bingwang-ms commented on #6293
I just repro. Can you try to run ```test_crm_fdb_entry``` continuously and see if it repro?
[code]

[2020-12-27 08:27] bingwang-ms opened #6302 "orchagent reporting error 'Unknown attribute snat_entry_threshold_type'"
**Description**
orchagent reported error log in ```test_crm```
[code]
I think the issue is caused by newly added config in configdb, which are not accecped by orchagent.
[code]

**Steps to reproduce the issue:**
1. Run ```test_crm```.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasiona

[2020-12-27 10:43] lguohan commented on #6302
@rlhui , looks like snat crm changes break the master image. can you take a look?

[2020-12-27 20:29] rlhui commented on #6302
@PrabhuSreenivasan, will you be able to add/address this failure quickly? Thanks.

[2020-12-27 20:30] rlhui commented on #6302
@arlakshm , fyi

[2020-12-28 06:04] bingwang-ms opened #6305 "orchagent crashed after applying "VLAN_SUB_INTERFACE" config"
**Description**
I did some investigation on the failure of ```sub_port_interfaces.test_sub_port_interfaces``` and found that applying following config file will cause orchagent crash.
[code]
The error logs are
[code]
[syslog.tar.gz](https://github.com/Azure/sonic-buildimage/files/5746058/syslog.tar.gz)

**Steps to reproduce the issue:**
1. Run ```sub_port_interfaces.test_sub_port_interfaces```
2.

[2020-12-28 07:13] Junchao-Mellanox commented on #6146
Hi all,

I did some analyze on this issue. The issue is probably "caused" by that zebra deleting routes faster than before. The test flow is like:
1. User shutdown all ports from CLI
2. BGP detect some ports down and start to deleting routes

Two kinds of requests go to syncd queue: shutdown port request and remove route request. (of course there are other requests, but let's focus on these two) T

[2020-12-28 10:47] bahirul opened #6306 "set fan speed dx010"
How to set fan speed on dx010, i try to change fancontrol-B2F dan  fancontrol-F2B buat seem not work.
fan speed still high

[2020-12-28 15:52] maksymbelei95 commented on #6226
Dear @anamehra,

We have participated in investigation of the issue. Here is what we have got.

We have tested "config load -y" in two cases: when there are two records in config_db.json(both with IP address prefix and without it) and with only one record, which contains IP prefix.
During the investigation we captured output of command "redis-cli MONITOR" and compared them.

It seems the system pe

[2020-12-28 23:20] gechiang opened #6311 ""WARNING python3: :- operator(): DB '{APPL_DB}' is empty with pattern '_GEARBOX_TABLE:phy:*'!" is generated for "show interface status/counters""
**Description**

Whenever user issue "show interface counters" or "show interface status", a warning message similar to the following is logged in syslog:
[code]
perhaps the handler should add handling of cases where such DB entry is not expected for the given platform/SKU and not blindly issue requests thinking that it will always be there which result to these syslog warning messages...

"sonic-

[2020-12-29 03:03] PrabhuSreenivasan commented on #6302
@rlhui,
`handleSetCommand: Failed to parse CRM Config configuration. Unknown attribute snat_entry_threshold_type.` logs appear because the handler for these new resources are part of Azure/sonic-swss#1511 and needs to be merged.

[2020-12-29 06:22] bingwang-ms opened #6313 "[fdbsyncd] fdbsyncd reports errors when FDB entry is updating frequently"
**Description**
Some errors were observed in ```test_basic_fib``` in recent image.
[code]
The error is generated by https://github.com/Azure/sonic-swss-common/blob/bf8da3e464f0289af956f8f196f3dcc137e50434/common/subscriberstatetable.cpp#L156-L165

The test case ```test_basic_fib``` will send packet from eth0 to various dest address to test fib. As a result, the FDB is updating frequently because t

[2020-12-29 07:45] liat-grozovik commented on #5947
@lguohan kindly reminder.

[2020-12-29 08:05] liat-grozovik commented on #3849
@daall can you please confirm all the fixes are part of 201911? if so, we can validate and test on 201911 and provide info if needed.

[2020-12-29 08:13] liat-grozovik commented on #5605
@anshuv-mfst  can you please add this issue to the triage flow again?

[2020-12-29 08:21] liat-grozovik commented on #5598
@anshuv-mfst  and @SuvarnaMeenakshi the issue is in stage of waiting info. is this still correct?
is there any assignee on this issue so we can follow up?

[2020-12-29 08:40] liat-grozovik commented on #5441
@SuvarnaMeenakshi any update following the analyze? any information is missing in order to handle/fix it?

[2020-12-29 09:06] liat-grozovik commented on #3587
this bug should be tracked based on other community issue https://github.com/Azure/sonic-buildimage/issues/5822

[2020-12-29 09:07] #3587 closed

[2020-12-29 09:07] liat-grozovik commented on #3587
this bug should be tracked based on other community issue #5822

[2020-12-29 09:10] #5972 closed

[2020-12-29 10:06] liat-grozovik commented on #5245
@abdosi any update on this issue?

[2020-12-29 10:30] stephenxs commented on #4305
This issue isn't observed anymore.

[2020-12-29 10:30] #4305 closed

[2020-12-29 11:04] liat-grozovik commented on #4454
@daall any update on this issue?

[2020-12-29 12:10] Hedgehog-Guru opened #6314 "[drop counters] "show dropcounters counts" displays counters in a single row"
Description

The output of "show dropcounters count" use one row for multiple counters.

Steps to reproduce the issue

1. Create drop counter configuration
[code]

2. show dropcounter configuration

[code]

show dropcounter counts
[code]

Describe the results you received
When more multiple drop counters (with long name) are configured, its doesnt fit into one row on typical terminal.

Describe th

[2020-12-29 12:19] liat-grozovik commented on #4009
@pavel-shirshov and @lguohan what is the status of this issue? planning to be fixed for 201911?

[2020-12-29 13:27] MaxYaremchuk commented on #5607
Bug has been fixed.
Verified on:
[code]

[2020-12-29 13:27] #5607 closed

[2020-12-29 15:13] sowri1 commented on #6056
There's no /sonic/ path. How can we add that to the make file?

[2020-12-29 16:24] liat-grozovik commented on #6314
@daall can you please take a look at the issue reported here?

[2020-12-29 16:25] liat-grozovik commented on #4238
@rlhui and @lguohan any plan to handle this for 201911?

[2020-12-29 17:19] liat-grozovik commented on #3849
The issue was opened on 201911 and IMO is still reproducible with the info provided by Volodymyr.

[2020-12-29 17:23] liat-grozovik commented on #3630
Verified on latest 201911 after all the performance fixes cherry picked recently.
From latest measurements we see we are far away from the 90 seconds limit of the control plan downtime.

@keboliu if you agree, please close the issue.

[2020-12-29 17:37] daall commented on #3849
Ok, so it seems like there are two things going on here:

1) @bingwang-ms can you please confirm whether or not this issue is present in the master branch? (based on Shi's comment it seems like this has been resolved)

2) @theasianpianist / @shi-su can you please try the repro again against the 201911 image?

@prsunny FYI

[2020-12-29 19:51] MaxYaremchuk commented on #5245
This issue is not reproduced in case of upgrading (via warm-rebooting) from SONiC-OS-201911.18-c3ea7b4d to SONiC-OS-201911.47-6d386540

[2020-12-29 19:51] #5245 closed

[2020-12-29 22:04] #6104 closed

[2020-12-29 22:32] prsunny commented on #6313
@kishorekunal01 , could you please take a look at this issue?

[2020-12-30 01:01] #3630 closed

[2020-12-30 02:29] daall commented on #6290
Can we check the queue counters on the interfaces that are seeing drops?

[2020-12-30 02:38] #5615 closed

[2020-12-30 03:15] bingwang-ms commented on #6290
The queue counters are
[code]

[2020-12-30 03:34] bingwang-ms commented on #3849
I loaded a large config file which contains 10,000 routes for several times on master branch, the issue didn't repro.
I guess it was fixed by https://github.com/Azure/sonic-swss-common/pull/408 ?

[2020-12-30 11:56] chitra-raghavan opened #6323 "[BRCM Th3 Z9332 ]: Unable to add one more ingress acl table"
**Description**
Platform : Z9332
ASIC : Th3

[code]

**Script** : https://github.com/Azure/sonic-mgmt/blob/master/tests/acl/test_acl.py

Creating new acl table fails with the following syslog messages.

**syslogs :**

	Dec 30 10:44:48.913716 sonic-z9332-10429 ERR syncd#syncd: [0] SAI_API_ACL:_brcm_sai_create_acl_table:7911 field group config create failed with error No resources for operation (0xf

[2020-12-30 13:05] maksymbelei95 commented on #6311
Dear @gechiang, @lguohan

I have investigated the issue.
The root cause of the issue is https://github.com/Azure/sonic-utilities/blob/master/show/main.py#L166.
The checking of gearbox is being performed each time you calls show command, so, it explains why the warning occurs so often.
I have made PR with fix of the issue and some additional changes. Could you check it?
https://github.com/Azure/son

[2020-12-31 01:22] SuvarnaMeenakshi commented on #5598
@liat-grozovik having tried out couple of cases that I mentioned above, It does not seem to be a valid issue.
@mkovnir can confirm if the explanation is good or if there is still something to be looked at.
If not we can close this issue.

[2020-12-31 09:56] Hedgehog-Guru opened #6328 "Not sorted interfaces in config_db.json file"
**Description**

Not sorted interface in config_db.json file. In the previous builds, the configuration file was readable and sorted but for now it like some randomly generated and not sorted content, it is very hard to read, search and troubleshoot something manually there.

**Steps to reproduce the issue:**
1. Run more /etc/sonic/config_db.json
2. Observer unsorted interfaces in the configuratio

[2020-12-31 10:54] chitra-raghavan commented on #6164
This issue is seen after  warm-reboot in t1 topo.

	oot@sonic-z9332-10429:~#
	root@sonic-z9332-10429:~# show lldp table
	Capability codes: (R) Router, (B) Bridge, (O) Other
	LocalPort    RemoteDevice       RemotePortID    Capability    RemotePortDescr
	-----------  -----------------  --------------  ------------  -----------------
	Ethernet0    ARISTA01T2         Ethernet1       BR
	Ethernet8    A

[2020-12-31 11:46] vadymhlushko-mlnx opened #6330 "[DPB][YANG] sonic-device_metadata.yang is not aligned with newest changes in CONFIG_DB"
**Description**

The Dynamic Port Breakout feature requires all [YANG-models](https://github.com/Azure/sonic-buildimage/tree/master/src/sonic-yang-models/yang-models) to be fully aligned with CONFIG_DB.
If some engineer extends the CONFIG_DB with the new fields, those fields needed to be represented in the appropriate .yang file.

CONFIG_DB was extended with the field `buffer_model` need to add re

[2020-12-31 11:49] vadymhlushko-mlnx commented on #6330
Latest system logs with reproduce:
[syslog.zip](https://github.com/Azure/sonic-buildimage/files/5757175/syslog.zip)

[2020-12-31 12:25] vadymhlushko-mlnx opened #6331 "[DPB][YANG] sonic-crm.yang is not aligned with newest changes in CONFIG_DB"
**Description**

The Dynamic Port Breakout feature requires all [YANG-models](https://github.com/Azure/sonic-buildimage/tree/master/src/sonic-yang-models/yang-models) to be fully aligned with CONFIG_DB.
If some engineer extends the CONFIG_DB with the new fields, those fields needed to be represented in the appropriate .yang file.

CONFIG_DB was extended with the fields `snat_entry_threshold_type`,

[2020-12-31 12:27] vadymhlushko-mlnx commented on #6331
Latest system logs (reproduce at the end of this file)
[syslog.zip](https://github.com/Azure/sonic-buildimage/files/5757247/syslog.zip)

[2020-12-31 13:01] vadymhlushko-mlnx opened #6332 "[DPB] python error is not handled in the DPB CLI"
**Description**

The Dynamic Port Breakout CLI print python error `Failed to break out Port. Error: 'str' object has no attribute 'decode'`, but the actual result of execution DPB command was successful

**Steps to reproduce the issue:**
Run the command `config interface breakout <interface> <breakout_mode>`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[co

[2020-12-31 13:03] vadymhlushko-mlnx commented on #6332
Latest system logs (reproduce starts from time - `Dec 31 12:44:21.249494 arc-switch1038`)
[syslog.zip](https://github.com/Azure/sonic-buildimage/files/5757299/syslog.zip)

[2020-12-31 15:11] #4553 closed

[2021-01-03 07:23] liat-grozovik commented on #3849
@bingwang-ms as stated in the issue description a config of 10k works, also 28K but the max is 28K
As the req is to support 40K you will have a problem and you won't be able to have single config for it but you will need to split the config in chunks. It was verified again with latests of 201911 and the issue is still reproducible.

[2021-01-03 07:29] liat-grozovik commented on #6328
@lguohan I am not sure if this is a bug or not but clearly a change in behaviour.
Is there a req to keep the configuration sorted? if not, and there is no real reason to sort it, this issue can be closed.
But if there was an intention to sort it (i think it is also user friendly) we should understand why this was changed recently.

[2021-01-03 12:02] shlomibitton opened #6338 "[PFCWD CLI] Configuring to 'stop' all ports command is not aligned"
**Description**

Currently to configure PFCWD with same parameters on all ports we use for example:
**config pfcwd start --action drop --restoration-time 400 ports all detection-time 400**
To stop we use:
**config pfcwd stop**
**Stopping a specific port:**
config pfcwd stop ports Ethernet0
A clear and aligned  CLI command to stop all ports should be similar to "start" operation like:
**config pfcw

[2021-01-04 02:37] bingwang-ms opened #6341 "[pmon] xcvrd failed to start on Arista-7260"
**Description**
```xcvrd``` failed to start on Arista-7260, which results in ```pmon``` service failed to start.
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
```pmon``` service is down because ```xcvrd``` failed to start.

**Describe the results you expected:**
All service should be healthy.

**Additional information you deem important (e.g. issue happ

[2021-01-04 03:54] aravindmani-1 opened #6343 "[Platform system health] ASIC key is not handled properly in system health daemon"
**Description**
The ASIC table key used in system health is “TEMPERATURE_INFO|ASIC”.
https://github.com/Azure/sonic-buildimage/blob/a64994ec298bc8cae8f8b03216d6c4e1ed27586e/src/system-health/health_checker/hardware_checker.py#L11

In Dell platforms, we don’t have this key.
    root@sonic:/# redis-cli -n  6  hgetall  "TEMPERATURE_INFO|ASIC"
    (empty array)
    root@sonic:~#

The available list of

[2021-01-04 07:40] sujinmkang commented on #6343
@keboliu, @Junchao-Mellanox: Can you please comment on this?
And also I have one question in addition to this issue, why does the system health daemon check only the ASIC temperature not other components' temperature?

[2021-01-04 09:34] Junchao-Mellanox commented on #6343
Hi @sujinmkang ,

1. Why we hard code "TEMPERATURE_INFO|ASIC" as the key of ASIC thermal object?  I remember I had some discussion with the community when review the HLD. It is not possible to get ASIC temperature among all thermal objects without knowing the ASIC key. So we got an agreement that, the thermal name for ASIC should be "ASIC" for all vendors and it is vendor's responsibility to align

[2021-01-04 12:00] mipxman commented on #6254
#5947

[2021-01-04 12:00] #6254 closed

[2021-01-04 15:12] aravindmani-1 commented on #6343
Hi @Junchao-Mellanox,

Regarding the first item, If there are multiple ASIC keys(ASIC on-board Front/Rear), we can not have the same ASIC key name.
How do you want to handle this?.

[2021-01-04 19:29] daall commented on #3849
Thanks @bingwang-ms for confirming on master branch.

@qiluo-msft could you take a look at this issue on the 201911 branch and see if it makes sense to cherry-pick the PR that @bingwang-ms mentioned into 201911 to fix this?

[2021-01-04 19:55] tahmed-dev commented on #6328
Thanks @Hedgehog-Guru , @liat-grozovik . The sorting of config_db file was remove via commit [9122d16d](https://github.com/Azure/sonic-buildimage/commit/9122d16dd28c36d10a05ce0b30d81ff6273f1c63). The sorting logic was mainly used in unit test to compare outputs as strings and so the need for the string to be sorted. Since `natsort` cause almost 1s during run-time and there is no requirement to hav

[2021-01-04 20:05] liat-grozovik commented on #6328
I think that if such change is done the right way is to inform it to the community and somehow document it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tamer Ahmed <notifications@github.com>
Sent: Monday, January 4, 2021 9:55:37 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Mention <mention@noreply.gi

[2021-01-04 22:27] qiluo-msft commented on #3849
https://github.com/Azure/sonic-swss-common/pull/408 is not applicable for 201911 branch, because the offensive PR is not there.

[2021-01-05 00:11] theasianpianist commented on #6341
Also seen on 7050cx3

[2021-01-05 00:13] jleveque commented on #6341
This issue will be fixed once https://github.com/Azure/sonic-platform-common/pull/157 is merged and the submodule is updated.

[2021-01-05 04:33] #6082 closed

[2021-01-05 05:21] mipxman commented on #2465
#6167 SONiC swss and syncd Exited in brcm when create a subinterface

[2021-01-05 07:07] mipxman opened #6355 "snmp oid of subinterface (dot1q) in SONiC"
Hi

I want to monitor created subinterface in sonic
when I use
[code]
I can't get data about my subinterface only interfacees and portcahnnel interfaces are find. So, in snmp container `docker exec -it snmp vim /etc/snmp/snmpd.conf` add `view   systemonly  included   .1.3.6.1.2.1.17.7.1` and then restart services with `docker exec -it snmp service snmpd restart`.
when I run snmpwalk for find this

[2021-01-05 08:10] Hedgehog-Guru commented on #6328
Dear @tahmed-dev, in this particular case, I think the problem is extremely critical. The operating system for a network engineer is CLI and configuration files.
SONiC, as an operating system is designed not only for automated deployment, but also for network engineers to work with it, as evidenced by the presence of the command line, and configuration files are the result of commands. Of the hard

[2021-01-05 08:12] liat-grozovik commented on #6024
@zhenggen-xu , @praveen-li as this is holding all DPB PRs merge I appreciate to know what is next. Will you like to suggest a different approach to be able to support the Mellanox DPB files/options? Or this approach is ok?

[2021-01-05 08:16] liat-grozovik commented on #6328
I totally agree.
Although SONiC upstream code removed as explained there are users who expect to have it sorted for easily use and tracking.
I strongly vote for having that back.
Also there is non public automation and validations that end users have internally so I do think this will break it for them as well.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Hedg

[2021-01-05 09:05] lguohan commented on #6328
config save is not on the critical path? I understand the logic to remove it in sonic cfggen, but maybe we can add it back for config save? @tahmed-dev

[2021-01-05 14:25] chitra-raghavan opened #6357 "[Brcm Th3 Z9332] : SAI_MIRROR_SESSION_ATTR_POLICER is not supported"
**Description**

SAI_MIRROR_SESSION_ATTR_POLICER is not supported.

**Script :**  [everflow/test_everflow_testbed.py](https://github.com/Azure/sonic-mgmt/blob/master/tests/everflow/test_everflow_testbed.py)
Testcase : TestEverflowV4IngressAclIngressMirror::test_everflow_dscp_with_policer

Upon applying policer attribute to mirror session , below errors are seen.

**Logs :**

[code]

syslogs:

	Jan

[2021-01-05 14:35] Hedgehog-Guru opened #6358 "There should be a validation of inputs for "configure interface ip" command"
Description
CLI command configure interface ip doesn't check correctness of inputs.

Steps to reproduce the issue
It's possible to write to DB wrong settings for nonexistent and erroneous vlans
[code]
Command doesn't check correctness of vlan number in case of creation sub-interfaces

[code]

Describe the results you received

There is no validation in case of specifying misguided vlan number for

[2021-01-05 17:06] daall opened #6359 "staticd crashes after reconfiguring routes on VRF after upgrade to FRR 7.5"
**Description**
After upgrading to FRR 7.5, the [VS tests for VRF routes in test_route.py](https://github.com/Azure/sonic-swss/blob/f6c7422a8a1efedc990cbd12e888f572508ad490/tests/test_route.py#L236) fail consistently. After investigating we found that this line causes `staticd` to crash, which is triggering the failures: https://github.com/Azure/sonic-swss/blob/f6c7422a8a1efedc990cbd12e888f572508a

[2021-01-05 17:34] Hedgehog-Guru opened #6360 ""sonic ERR swss#orchagent: :- removeVlan: Failed to remove non-empty VLAN Vlan1002" in case of deleting a Vlan that contains members."
Description
There is no validation, so it’s acceptable to delete a particular Vlan in case of several ports are members of this vlan.
But doing this an error appears in syslog:
```sonic ERR swss#orchagent: :- removeVlan: Failed to remove non-empty VLAN Vlan1002```

Steps to reproduce the issue
Add a vlan
    ```config vlan add 1002```
Assign members to created Vlan
[code]
Jan  2 18:17:24.139406 so

[2021-01-05 17:34] Hedgehog-Guru opened #6361 ""sonic ERR swss#orchagent: :- removeVlan: Failed to remove non-empty VLAN Vlan1002" in case of deleting a Vlan that contains members."
Description
There is no validation, so it’s acceptable to delete a particular Vlan in case of several ports are members of this vlan.
But doing this an error appears in syslog:
```sonic ERR swss#orchagent: :- removeVlan: Failed to remove non-empty VLAN Vlan1002```

Steps to reproduce the issue
Add a vlan
    ```config vlan add 1002```
Assign members to created Vlan
[code]
Jan  2 18:17:24.139406 so

[2021-01-06 01:23] sujinmkang commented on #6343
@Junchao-Mellanox  and @aravindmani-1
To support multi-ASIC and multiple internal sensor in each ASIC, I want to re-define the DB schema as below.
The ASIC thermal monitoring hld (https://github.com/Azure/SONiC/blob/master/doc/asic_thermal_monitoring_hld.md) has defined multiple temperature sensor reading for each ASIC.
thermalctld uses the temperature values from the state db updated by the ASIC

[2021-01-06 02:25] yxieca commented on #5971
@judyjoseph please update.

[2021-01-06 02:25] yxieca commented on #6199
@judyjoseph please take a look.

[2021-01-06 02:26] yxieca commented on #5819
@sujinmkang, @jleveque can you assess if this issue is still applicable to latest image?

[2021-01-06 02:28] yxieca commented on #6164
@abdosi are you the right person for this issue? Can you take a look and comment?

[2021-01-06 02:51] bingwang-ms commented on #6313
I will update test case to generate packets with interface MAC address to work around this issue temporarily.

[2021-01-06 03:00] yxieca commented on #6224
@aravindmani-1 can you validate the fix associated with issue #6104 ? Thanks!

[2021-01-06 03:43] sujinmkang commented on #5819
I will clean up this message. There is no platforms which have platform api implemented.

[2021-01-06 03:45] judyjoseph commented on #5971
@bingwang-ms , @yxieca I had tried this earlier today.

In this old version SONiC.master.491-af654944, I too see the problem of  swss/syncd not restarting when teamd docker goes away, the "python3 /usr/bin/docker-wait-any -s swss -d syncd teamd" wait process also not going off. Could this be some intermediate build when we were converting from python2 --> python3 ?

But If i move to the latest son

[2021-01-06 05:00] aravindmani-1 commented on #6224
@yxieca , It is working fine now.

[2021-01-06 05:00] #6224 closed

[2021-01-06 06:36] liat-grozovik commented on #6328
@tahmed-dev will you return the logic to config_db which is the end user DB used?

[2021-01-06 07:07] judyjoseph commented on #5971
@bingwang-ms, if you could confirm similar behavior with the latest master image, we could close this case and follow up the issue #6199.

[2021-01-06 08:18] bingwang-ms commented on #5971
I tried to repro the issue on lattest inage (SONiC.HEAD.215-c4156b87), and it seemd that the issue has been addressed. The error message was gone after swss is restarted. So I think we can close this issue now. But do you have any idea which PR fixed it?

[2021-01-06 10:10] ppikh opened #6367 "Command "show arp" returns error: "int() argument must be a string, a bytes-like object or a number, not 'NoneType'""
**Command "show arp" returns error: "int() argument must be a string, a bytes-like object or a number, not 'NoneType'"**

**Setup**
SONiC switch with Linux host connected to port Ethernet68
Linux host with interface enp5s0f1 connected to SONiC port Ethernet68
SONiC ----> Ethernet68 ----> enp5s0f1 ----> Linux Host

**Steps to reproduce the issue:**
1. Do configuration on DUT
sudo config portchannel

[2021-01-06 13:55] tahmed-dev commented on #6328
@lguohan I agree that `config save` is not on the critical path and so the logic could be added there.

[2021-01-06 13:59] tahmed-dev commented on #6328
@liat-grozovik, @Hedgehog-Guru It would take some time as I am tracking a high priority item at the moment.

[2021-01-06 15:30] lguohan commented on #6313
@qiluo-msft @shi-su , can we make subscriber notification atomic?

[2021-01-06 16:28] maksymbelei95 commented on #6332
Dear @vadymhlushko-mlnx,

Looks like the root cause of the issue is a redundant ".decode" of "interface_name" variable inside function "breakout" in sonic-utilities/config/main.py.
It seems the issue should have been fixed with the next PR:
https://github.com/Azure/sonic-utilities/pull/1223

Could you check the issue occurrence on a newer build?

[2021-01-06 20:57] zhenggen-xu commented on #6024
I am not sure what is the issue and what is expected from you here ?

[2021-01-06 21:22] liat-grozovik commented on #6024
When you break out the port to 2 you get eth2a and eth2c - sounds good

Then you in unbreak out the port and you expect it to be the same as it was before you break out . But if I understand correct the output example provided I can see eth2a instead of eth2
@Vadym Hlushko<mailto:vadymh@nvidia.com>  can u confirm?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: z

[2021-01-06 22:47] #6341 closed

[2021-01-07 01:25] qiluo-msft commented on #6313
@lguohan, even if it could be atomic, we still see the issue, because there is latency between event happens and notification data is consumed. I will check the `SubscriberStateTable::pops` to make it more quite since this is a valid use case.

[2021-01-07 01:36] kishorekunal01 commented on #6313
@qiluo-msft completely agree that this is a valid case @Broadcom we have seen this error with scale for intfmgrd, natmgrd and teamd modules as well.

[2021-01-07 02:54] yxieca opened #6375 "With Broadcom SAI 4.2, setting buffer profile dynamic threshold will cause SAI to crash"
**Description**
With Broadcom SAI 4.2, setting buffer profile dynamic threshold will cause SAI to crash

**Steps to reproduce the issue:**
There are 2 ways to repeat this issue:
1. sudo mmuconfig -p egress_lossy_profile -a 0
2. with latest image, warm reboot.

**Describe the results you received:**
Jan  5 17:15:11.286647 str-7260cx3-acs-1 CRIT syncd#syncd: [0] SAI_API_SWITCH:_brcm_sai_log_backtrac

[2021-01-07 04:39] neethajohn opened #6377 "Orchagent Crash seen with Brcm SAI 3.7 on trying to set buffer profile attributes"
**Description**
With bcm sai 3.7, crash is seen while trying to set "SAI_BUFFER_PROFILE_ATTR_RESERVED_BUFFER_SIZE"

**Steps to reproduce the issue:**
1. Issue the command "mmuconfig -p egress_lossy_profile -a 0"

**Describe the results you received:**
Jan 6 01:55:45.505157 str-7260cx3-acs-7 ERR syncd#syncd: [none] brcm_sai_set_buffer_profile_attribute:1422 Unknown buffer profile attribute 1 passed

[2021-01-07 04:46] zhenggen-xu commented on #6024
OK, if that was the case, then it was as designed. we will only use the aliases defined in platform.json for breaking out to any mode (include the one port mode in the "unbreak out case").   I guess the question was, where did the original alias eth2 coming from?

If we want to support different aliases for different breakout mode, we need change the platform.json format and parsing logic for this

[2021-01-07 05:22] aravindmani-1 commented on #6343
@sujinmkang I don't think ASIC on-board Front/Rear sensors will have internal temperature 0 to N sensors.

[2021-01-07 05:31] liat-grozovik commented on #6024
It is strange that before and after have to different aliases
But I would suggest waiting for Vadym to clarify if my understanding is correct or not

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: zhenggen-xu <notifications@github.com>
Sent: Thursday, January 7, 2021 6:46:19 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <li

[2021-01-07 05:35] Mithunkh opened #6378 "SONIC build fails with "Makefile:95: recipe for target 'github.com/go-redis/redis' failed" error"
Hi Team,

While compiling the Mellanox-SONiC image as mentioned In the https://github.com/Azure/sonic-buildimage/tree/201911, we are getting below error. Kindly provide your input to solve this compilation issue.

Error:
[ target/debs/stretch/libyang-dev_1.0.73_amd64.deb-install ]
02:41:03 [ building ] [ target/debs/stretch/sonic-mgmt-framework_1.0-01_amd64.deb ]
02:41:09 [ finished ] [ target/deb

[2021-01-07 13:46] #6375 closed

[2021-01-07 14:55] chitra-raghavan commented on #5617
Similar issue is seen in th3 platform also. the below testcases fails

- test_broken_ip_header
- test_absent_ip_header
- test_ip_pkt_with_expired_ttl

[2021-01-07 15:00] chitra-raghavan opened #6380 ""intfstat" doesnt retrieve counter values"
**Description**

"intfstat" doesnt retrieve counter  values
script :  https://github.com/Azure/sonic-mgmt/blob/master/tests/drop_packets/test_drop_counters.py#L113
Image :  master image

[code]

**Steps to reproduce the issue:**
1. Execute command intfstat

**Describe the results you received:**

Should  show teh counter values

**Describe the results you expected:**

All values are shown as N/A

[2021-01-07 15:13] chitra-raghavan opened #6381 "[BRCM Th3 Z9332]: packets are not dropped for class e address"
**Description**

[BRCM Th3 Z9332]:  packets are not dropped for
- class e address( ip_list = ["240.0.0.1", "255.255.255.254"])

Script :
https://github.com/Azure/sonic-mgmt/blob/master/tests/drop_packets/drop_packets.py#L431

**Steps to reproduce the issue:**
1. Run the  drop counters script

**Describe the results you received:**

Packets are forwarded , instead of dropping packets.

[code]

**De

[2021-01-07 15:25] chitra-raghavan commented on #6381
show interface counters :
1000 Packets are forwarded on Ethernet0 , instead of dropping at Ethernet128

[code]

[2021-01-07 19:45] yxieca opened #6383 "warm reboot finalizer service could wait for not enabled component for 5 minutes"
**Description**
With latest master / 202012 branch image. The warm reboot finalizer could wait for not enabled component to reconcile for 5 minutes.

**Steps to reproduce the issue:**
1. warm reboot
2.
3.

**Describe the results you received:**
warm reboot finalizer wait for

Jan  7 19:40:33.519985 str-7260cx3-acs-1 NOTICE root: WARMBOOT_FINALIZER : Tearing down control plane assistant ...
Jan  7

[2021-01-07 19:45] anamehra commented on #6097
blocking the pmon process spawn via pmon_daemon_control.json worked fine.

[2021-01-07 22:25] jleveque commented on #5458
Fixed via https://github.com/Azure/sonic-platform-daemons/pull/103 (submodule updated in https://github.com/Azure/sonic-buildimage/pull/5741).

[2021-01-07 22:25] #5458 closed

[2021-01-08 06:58] 119064273 opened #6389 "orchagent not work correctly for bcm helix4 on 201911 SAI 3.7"
on 201911/master branch,  broadcom helix4 56340 chip, when we boot up our device, appl_db info not syncd to ASIC_DB, below show one port as a example.
[code]
ASIC_DB
`127.0.0.1:6379[1]> hgetall "ASIC_STATE:SAI_OBJECT_TYPE_PORT:oid:0x1000000000023"

1) "NULL"
2) "NULL"
127.0.0.1:6379[1]>
`

[code]

[2021-01-08 07:53] bingwang-ms opened #6391 "[nat] natshow throws exception in nat test"
**Description**
```natshow``` throws exception in nat test
[code]

The variable ```s``` is not defined. Is it an error caused by typo?

**Steps to reproduce the issue:**
1. Run ```test_dynamic_nat```
2.
3.

**Describe the results you received:**
An exception is thrown.

**Describe the results you expected:**
No exception should be thrown.

**Additional information you deem important (e.g. issue ha

[2021-01-08 08:24] 119064273 commented on #6389
@olivier-singla  does any one of broadcom's friends know if BCM SAI 3.7 support helix4 56340 platform?

[2021-01-08 09:41] vadymhlushko-mlnx commented on #6332
Yes, the issue is not reproducible on the latest master image.

[2021-01-08 09:41] #6332 closed

[2021-01-08 09:53] vadymhlushko-mlnx commented on #6024
@zhenggen-xu, @liat-grozovik
The problem is:

1 . Before the breakout alias was `etp2`:

[code]

2. After the breakout command `config interface breakout Ethernet4 2x50G -y`
    Aliases are `etp2a` and `etp2c`. The first question is why not `etp2a` and `etp2b`?

[code]

3. After the unbreakout command `config interface breakout Ethernet4 1x100G[40G] -y`
    Alias is `etp2a`, the second question is

[2021-01-08 11:48] chitra-raghavan opened #6392 "[BRCM Th3 Z9332]: When Ser is injected to a memory , the correction syslog event shows a different address"
**Description**

Platform : Z9332
ASIC :  Th3

[code]
Script : https://github.com/Azure/sonic-mgmt/blob/master/tests/platform_tests/broadcom/test_ser.py
When Ser is injected to a memory , the correction syslog event shows a different address. Hence script fails as  the memory address are not similar.

**Command** :
[code]
**Memory  address for L3_DEFIP_LEVEL1.ipipe0 :**
Memory corresponding to L3_

[2021-01-08 16:05] dmytroxshevchuk commented on #6331
Please check fix in PR: https://github.com/Azure/sonic-buildimage/pull/6395

[2021-01-08 17:26] stepanblyschak opened #6398 "SONiC Application Extension PR Tracker"
SONiC Application Extension PR Tracker Table:
| PR                                                                                                                                            | Category              | Impacts existing code? | Status                                                             | Assignees                                 | Dependencies | Comment        |
| ------------

[2021-01-08 17:30] stepanblyschak commented on #6398
@jleveque @bandaru-viswanath @rajendra-dendukuri @renukamanavalan @lguohan @yxieca @liat-grozovik @ben-gale @qiluo-msft @isabelmsft

[2021-01-08 18:24] kielfriedt opened #6399 "performance testing VS docker image on ARM"
I am looking for some help to start performance testing. I was able to build the VS docker image with some modifications. I am able to start the docker container and see most of the services up:

#supervisorctl status all
arp_update                       RUNNING   pid 250, uptime 0:00:05
bgpd                                 RUNNING   pid 254, uptime 0:00:05
buffermgrd                       RUNNING