[2020-05-29 20:59] kktheballer commented on #4366
@ciju-juniper  Thanks for your response. What I ended up doing was doing the OS build on a new VM altogether and that did the trick.

[2020-05-30 12:52] #4656 closed

[2020-05-31 00:55] abdosi commented on #4127
@mini-nair-dell: sonic-mgmt PR is merged now.

Manually please use this command pgrep syncd -a -x

Assigning back to you.

[2020-06-01 14:53] iMasaruOki opened #4682 "[BRCM] syncd has abnormally exited (missing libprotobuf.so.0 in syncd docker)"
**Description**

`show interfaces status` has empty output on SONiC master branch.

syncd has abnormally exited.

[code]

**Steps to reproduce the issue:**
1. Boot SONiC and login.
2. `show interface status`

**Describe the results you received:**

empty output.

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionall

[2020-06-02 00:39] daall commented on #4586
It looks like it's related to this change: https://github.com/Azure/sonic-swss/pull/1237.

It looks like there is some sort of issue polling those two counters introduced in the 3.7.3.3-4 SAI update, but this issue is only present in master, not 201911.

We're going to need do more investigating to figure out what exactly is wrong here, but for now I've opened a PR to revert the counter change to

[2020-06-02 06:11] mini-nair-dell commented on #4682
Hi,

We too observe similar issue.

- S6100 T0 testbed
- No crash seen
- Orchagent doesnt run
- warm-reboot and fast-reboot fails

From syslogs :

Jun  2 05:28:20.780311 sonic-s6100-07 ERR monit[499]: 'orchagent' process is not running
Jun  2 05:28:20.799408 sonic-s6100-07 ERR monit[499]: 'snmp_subagent' process is not running

root@sonic-s6100-07:~# show logging|grep -B 10 libprotobuf|tail -2

Ju

[2020-06-02 06:22] mini-nair-dell commented on #4682
[syslog-orchagent-exits.docx](https://github.com/Azure/sonic-buildimage/files/4715153/syslog-orchagent-exits.docx)
[syslogs-orchagent-exits1.docx](https://github.com/Azure/sonic-buildimage/files/4715154/syslogs-orchagent-exits1.docx)

[2020-06-02 06:28] mini-nair-dell commented on #3934
We tested the build (300) with the SAI merge, but could see that the orchagent process doesnt run.

- S6100 T0 testbed
- No crash seen
- Orchagent doesnt run
- show interface status has empty o/p
- warm-reboot and fast-reboot fails

From syslogs :

Jun 2 05:28:20.780311 sonic-s6100-07 ERR monit[499]: 'orchagent' process is not running
Jun 2 05:28:20.799408 sonic-s6100-07 ERR monit[499]: 'snmp_suba

[2020-06-02 06:28] mini-nair-dell commented on #3934
[syslog-orchagent-exits.docx](https://github.com/Azure/sonic-buildimage/files/4715193/syslog-orchagent-exits.docx)
[syslogs-orchagent-exits1.docx](https://github.com/Azure/sonic-buildimage/files/4715194/syslogs-orchagent-exits1.docx)

[2020-06-02 07:10] mini-nair-dell commented on #4594
This issue is fixed in the image - SONiC.master.295-f532fb95

Hence closing it.

[2020-06-02 07:10] #4594 closed

[2020-06-02 07:12] mini-nair-dell commented on #4607
The issue is not seen in the master -

SONiC.master.295-f532fb95

Hence clsosing it

[2020-06-02 07:12] #4607 closed

[2020-06-02 09:24] ciju-juniper commented on #4646
@lguohan What could be the next steps to debug this issue further?

[2020-06-02 14:20] mykolaf opened #4691 "enable_counters.py overwrites FC groups config after config reload/reboot"
**Description**

inside the swss docker orchagent start.sh executes [enable_counters.py](https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-orchagent/enable_counters.py) script which waits until the uptime of switch is at least 3m,
then writes hardcoded config directly into config db.

This raises the following concerns:

 - After reboot/config reload/swss docker restart the conf

[2020-06-02 19:44] pavel-shirshov commented on #3798
I checked this. I found the issue with zebra on master. I see that zebra crashes when we issue /sbin/reboot. I asked @tahmed-dev to investigate further.

[2020-06-03 07:47] mini-nair-dell commented on #4429
Hi @xinliu-seattle

Unable to test in the latest master image, as we are blocked with #4682.

By continuous reboot, i mean we got to reboot the dut > 2 times, and we see this issue. I have seen this with both T0 and T1.

THe script we use to test this is :
https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/continuous_reboot.yml

THanks
MIni

[2020-06-03 07:59] mini-nair-dell commented on #4127
PLs find the test o/p below:

root@sonic-s6100-07:/var/core# show ip bgp summary

IPv4 Unicast Summary:
BGP router identifier 10.1.0.32, local AS number 64601 vrf-id 0
BGP table version 70415
RIB entries 12807, using 2301 KiB of memory
Peers 4, using 82 KiB of memory
Peer groups 6, using 384 bytes of memory

Neighbor        V         AS MsgRcvd MsgSent   TblVer  InQ OutQ  Up/Down State/PfxRcd   Ne

[2020-06-03 08:01] mini-nair-dell commented on #4127
root@sonic-s6100-07:/var/core# tail -f /var/log/syslog
Jun  3 07:59:01.257158 sonic-s6100-07 ERR swss#orchagent: :- internal_redis_generic_get: generic get failed due to SELECT operation result: TIMEOUT
Jun  3 07:59:01.257248 sonic-s6100-07 ERR swss#orchagent: :- internal_redis_generic_get: generic get failed to get response
Jun  3 07:59:01.257299 sonic-s6100-07 ERR swss#orchagent: :- meta_sai_get

[2020-06-03 12:06] chitra-raghavan opened #4695 "[201911] : orchagent crash is seen while running vrf tests."
**Description**

in 201911 branch, While running test_vrf.py orchagent  crash is seen in Broadcom platform S5232.
Attached syslog .
[syslog-vrf.txt](https://github.com/Azure/sonic-buildimage/files/4723094/syslog-vrf.txt)
config_db :
[config_db_vrf.txt](https://github.com/Azure/sonic-buildimage/files/4723111/config_db_vrf.txt)

    ed.csv --host-pattern=vms-t0 --module-path=../ansible/library --dis

[2020-06-03 16:31] smaheshm commented on #4682
looking into this issue.

[2020-06-03 20:49] rlhui opened #4698 "NAT lgtm alerts"
Alerts flagged by lgtm on NAT related changes:

https://lgtm.com/projects/g/Azure/sonic-swss/alerts/?mode=tree&ruleFocus=2156680451
https://lgtm.com/projects/g/Azure/sonic-swss/latest/files/natsyncd/?sort=name&dir=ASC&mode=heatmap
https://lgtm.com/projects/g/Azure/sonic-swss/latest/files/tests/test_nat.py?sort=name&dir=ASC&mode=heatmap

[2020-06-03 20:52] rlhui commented on #4698
@AkhileshSamineni ,  could this be addressed asap? Some are real bugs. Thanks.

[2020-06-04 07:44] Lewis-Kang commented on #4667
_"Feb 14 10:12:45.749332 sonic INFO syncd#supervisord: syncd warning: device 0xb967 revision 0x2 is not supported#015"_
The above message means that the ASIC used by AS7312-54XS is not supported by the SAI debian packages got from the links indicated in [https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sai.mk](url)

[2020-06-04 07:49] Lewis-Kang commented on #4667
As I know, the current SAI debian packages (got from the links indicated in https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sai.mk) support the ASIC used by AS7312-54X, but do not support the ASIC used by  AS7312-54XS and AS7315-27XB.

[2020-06-04 08:10] chihhan123 commented on #4667
Solve related issue by PR:
    https://github.com/Azure/sonic-buildimage/pull/4702
Thanks!

[2020-06-04 16:40] volodymyrsamotiy commented on #4615
Fixed by https://github.com/Azure/sonic-buildimage/pull/3763

[2020-06-05 08:19] tim-rj opened #4715 "orchagent crash when 20k BGP route advertisement pushd local device"
orchagent crash when 20k BGP route advertisement pushd local device.

Steps to reproduce the issue:

    Establish IPv4 BGP neighbor with auxiliary testing device
    20K route is printed on the auxiliary test end and passed to the local end

Describe the results you received:
May 28 16:17:47.035024 switch2 ERR syncd#syncd: [none] _brcm_sai_l3_route_config:1927 L3 route add failed with error Table

[2020-06-05 08:21] tim-rj opened #4716 "show ipv6 interfaces command result doesn't conclude neighbor ipv6 address"
[version]
SONiC Software Version: SONiC.HEAD.67-8367dfeb
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: 8367dfeb
Build date: Wed May 6 13:49:49 UTC 2020
Built by: johnar@jenkins-worker-7

Platform: x86_64-ruijie_b6510-48vs8cq-r0
HwSKU: B6510-48VS8CQ
ASIC: broadcom
Serial Number: G1MW80H000123
Uptime: 17:39:24 up 21 min, 2 users, load average: 0.76, 0.94, 0.80

[configuration]
[co

[2020-06-05 08:22] tim-rj opened #4717 "error log "process_on_fdb_event: invalid OIDs in fdb notifications, NOT translating and NOT storing in ASIC DB" found on startup"
[version]
SONiC Software Version: SONiC.HEAD.67-8367dfeb
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: 8367dfeb
Build date: Wed May 6 13:49:49 UTC 2020
Built by: johnar@jenkins-worker-7

Platform: x86_64-ruijie_b6510-48vs8cq-r0
HwSKU: B6510-48VS8CQ
ASIC: broadcom
Serial Number: G1MW80H000123
Uptime: 17:39:24 up 21 min, 2 users, load average: 0.76, 0.94, 0.80

[configuration]
roo

[2020-06-05 10:53] mini-nair-dell commented on #4717
This issue is seen in our testing as well.

Test Bed - S6100 T0
Script - https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/config.yml

Error:
May 26 11:06:19.851080 sonic-s6100-07 ERR syncd#syncd: :- process_on_fdb_event: invalid OIDs in fdb notifications, NOT translating and NOT storing in ASIC DB
May 26 11:06:19.851220 sonic-s6100-07 ERR syncd#syncd: :- process_on_fdb_even

[2020-06-05 15:30] michael-bu opened #4719 "Arista 7050QX-32S has no switch interfaces build 3e110fb0"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
show version

SONiC Software Version: SONiC.master.302-3e110fb0
Distribution: Debian 10.4
Kernel: 4.19.0-6-amd64
Build commit: 3e110fb0
Build date: Wed Jun  3 11:51:32 UTC 2020
Built by: johnar@jenkins-worker-11

Platform: x86_64-arista_7050_qx32s
HwSKU: Arista-7050-QX-32S

[2020-06-05 15:46] michael-bu commented on #4719
Also confirming syncd is running

root@sonic:~# systemctl --failed
0 loaded units listed. Pass --all to see loaded but inactive units, too.
To show all installed unit files use 'systemctl list-unit-files'.

[2020-06-07 06:04] tanpinsiang commented on #4667
Dear @Lewis-Kang, where can I check the SAI debian packages (got from the links indicated in https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sai.mk) support the ASIC used by AS7312-54X, but do not support the ASIC used by AS7312-54XS and AS7315-27XB.
Is it fixable by the PR: #4702?

[2020-06-08 01:22] Lewis-Kang commented on #4667
@tanpinsiang, the SAI debian packages are released by Broadcom, so we can either check with Broadcom or try to run it to know the answer. The following message means the ASIC is not being supported by the used SAI packages. (PR: #4702 doesn't make SAI support AS7312-54XS and AS7315-27XB)

_sonic INFO syncd#supervisord: syncd warning: device 0xb967 revision 0x2 is not supported_

[2020-06-08 09:05] tanpinsiang commented on #4667
@Lewis-Kang thanks for the explanation. Do you have any best guess for me about which SAI debian packages are most likely to support AS7312-54XS(Tomahawk+)?

[2020-06-08 09:21] fillmorechen0928 commented on #4682
I have the same issue. How long will it take to fix the issue?

Thanks a lot.

[2020-06-08 14:14] smaheshm commented on #4682
will raise PR today.

[2020-06-09 01:07] Lewis-Kang commented on #4667
@tanpinsiang I don't have the information about Broadcom's SAI development plan for supporting various ASICs...

[2020-06-09 02:02] iMasaruOki commented on #4682
It look goot to me.  Thanks!

[2020-06-09 02:02] #4682 closed

[2020-06-09 06:52] tim-rj opened #4733 "BGP_ROUTEMAPS is not translated into FRR configuration"
**Description**
BGP_ROUTEMAPS is not translated into FRR configuration

**Steps to reproduce the issue:**
1.Create BGP_ROUTEMAPS  in config.db

"BGP_ROUTEMAPS": {
        "From-LC|5": {
            "matchcommunity": "20",
            "name": "From-LC",
            "opttype": "permit",
            "seqnumber": "5"
        },
        "SetComm-1/1|5": {
            "applycost": "1000",
            "c

[2020-06-09 07:39] tim-rj opened #4734 "[201911] PortChannel PING failed"
**Description**
PortChannel PING failed

**Steps to reproduce the issue:**
1.Create vlan 3 and portchannle,add portchannel into vlan 3, add ip 150.1.1.1 for vlan 3
root@switch2:/etc/sonic# show interfaces portchannel
Flags: A - active, I - inactive, Up - up, Dw - Down, N/A - not available,
       S - selected, D - deselected, * - not synced
  No.  Team Dev      Protocol     Ports
-----  ----------

[2020-06-09 08:07] tim-rj opened #4735 "After warm-restart swss docker, crm counters were abnormal"
**Description**
After warm-restart swss docker, crm counters were abnormal. It prompted that CRM counters are not ready. They would be populated after the polling interval. It couldn't be recovered until device restarted.

**Steps to reproduce the issue:**
1、sudo config warm_restart enable swss
2、sudo systemctl restart swss
3、crm show resources all
**Describe the results you received:**
root@switc

[2020-06-09 08:08] #4645 closed

[2020-06-09 08:09] #4735 closed

[2020-06-09 08:10] tim-rj opened #4736 "After warm-restart swss docker, crm counters were abnormal"
**Description**
After warm-restart swss docker, crm counters were abnormal. It prompted that CRM counters are not ready. They would be populated after the polling interval. It couldn't be recovered until device restarted.

**Steps to reproduce the issue:**
1、sudo config warm_restart enable swss
2、sudo systemctl restart swss
3、crm show resources all
**Describe the results you received:**
root@switc

[2020-06-09 15:07] tanpinsiang commented on #4667
@Lewis-Kang thanks for the info.
This syntax error issue was solve the following error by the PR:
#4702 and tested on AS7312-54XS. It does fix the format error.
This issue can be closed.

For the SAI debian packages support for Tomahawk+, do you think it deserve a new issue?

[2020-06-09 22:53] paulnice commented on #4572
@Ezrickd Thank you for your investigation.
Let me try to find the issue in the bgpcfgd. I think what we need is to have all ipv6 addresses to be converted to the one canonical format. Otherwise it is hard to compare them.
Or we have to have all ip addresses as objects, not strings.

[2020-06-10 00:17] tahmed-dev commented on #3798
@kannankvs, is this issue still being seen? I just used the tip off master on my DUT and could not produces it by either method 1 mentioned in the issue details nor by issuing /sbin/reboot:

[code]

[2020-06-10 01:55] Lewis-Kang commented on #4667
@tanpinsiang I think you can create an issue. But Broadcom may have their own plan on ASIC support of their released SAI debian packages, I am not sure whether creating such issue would help or not.

[2020-06-10 06:52] #4576 closed

[2020-06-10 07:45] stephengzh opened #4742 "Error in "make configurate PLATFORM=generic" at last step"
Hey guys,

I am building SONiC installer image and docker images.
in Step: https://github.com/Azure/sonic-buildimage#usage
When I execute make configure once to configure ASIC (generic): make configurate PLATFORM=generic, the jessie part is done, and I think the stretch part is done, but it failed.
here is my full output:

admin5@admin5-PowerEdge-R720:~/sonic-buildimage$ make configurate PLATFORM=

[2020-06-10 07:46] stephengzh commented on #4742
I also did "make all", the result is:

admin5@admin5-PowerEdge-R720:~/sonic-buildimage$ make all
+++ --- Making all --- +++
EXTRA_JESSIE_TARGETS=all make -f Makefile.work jessie
make[1]: Entering directory '/home/admin5/sonic-buildimage'
SONiC Build System

Build Configuration
"CONFIGURED_PLATFORM"             : "generic"
"CONFIGURED_ARCH"                 : "amd64"
"SONIC_CONFIG_PRINT_DEPENDENCIES

[2020-06-10 08:41] mini-nair-dell commented on #4587
The issue is still seen in master.306-af81b8eb

Thanks
Mini

[2020-06-10 11:00] santhosh-kt commented on #4500
This issue is not seen in latest 201911 branch(#88) with updated SAI (version 3.7.5.1).
Hence, closing this issue.
Thank you team in resolving this.

[2020-06-10 11:00] #4500 closed

[2020-06-10 17:58] iMasaruOki opened #4745 "Always disabled NAT feature on Broadcom ASIC based switch"
**Description**

Broadcom Trident 3 is supported NAT feature.
But NAT feature cannot using from SONiC.

**Steps to reproduce the issue:**
1. `sudo config nat feature enable`
2. `sudo config nat add static basic 10.0.0.1 172.21.0.1`
3.  `show logging|grep NAT|tail -3`

**Describe the results you received:**

2: response: `Max limit is reached for NAT entries, skipping adding the entry.`
3: result i

[2020-06-10 18:21] iMasaruOki opened #4746 "`config nat feature enable` is blocked management port incoming traffic"
**Description**
`config nat feature enable` is blocked management port incoming traffic e.g. cannot login by ssh.
outgoing traffic (and response) are passed.

**Steps to reproduce the issue:**
1. `sudo config nat feature enable`
2. ping or ssh from other host to management port.

**Describe the results you received:**

no response or connection timed out.

**Describe the results you expected:**

r

[2020-06-10 23:00] pavel-shirshov commented on #4429
We haven't fixed anything.
Reopen to find a reason when zebra crashed on sonic restart.

[2020-06-10 23:39] #4586 closed

[2020-06-11 01:36] Junchao-Mellanox commented on #4612
Sure. But what changes do we have?

[2020-06-11 01:37] rlhui commented on #4612
@Junchao-Mellanox, there are quite a lot of BGP changes added in last few weeks in 201911.

[2020-06-11 01:40] Junchao-Mellanox commented on #4612
OK, I will retest it.

[2020-06-11 02:43] stephengzh commented on #4742
@xinliu-seattle . Hi Liu, I am currently using the branch 201911.
Actually, when doing  make configurate PLATFORM=generic, I commented a line in sonic-slave-jessie/Dockerfile.j2:
# RUN apt-get -y install ca-certificates-java=20161107~bpo8+1 openjdk-8-jdk
Fatal:
![javafatal](https://user-images.githubusercontent.com/65524539/84338038-9e421e00-abcd-11ea-9ffa-17c6f04f6fc7.png)

 (This is the only com

[2020-06-11 03:39] yxieca commented on #4736
@tim-rj Please list exact steps of warm restarting swss.

Warm restarting this swss requires following steps:

sudo config warm_restart enable swss
sudo service swss restart
wait until the reconciliation is done.
sudo config warm_restart disable swss

If you didn't follow this exact steps, please retest.

[2020-06-11 05:52] stephengzh commented on #4742
@xinliu-seattle  Oppsss.. I know why.. I use "configurate", should be "configure". My typo issue...

[2020-06-11 05:55] stephengzh commented on #4742
@xinliu-seattle Liu, the returned result is here. Does this correct result? When finish the make configure PLATFORM=generic, return a "leave"? (Last line,)

admin5@admin5-PowerEdge-R720:~/sonic-buildimage$ make configurate PLATFORM=generic
+++ --- Making configurate --- +++
EXTRA_JESSIE_TARGETS=configurate make -f Makefile.work jessie
make[1]: Entering directory '/home/admin5/sonic-buildimage'
SON

[2020-06-11 09:31] mini-nair-dell opened #4755 "S6100- T0- Master - Critical processes doesn't run in the latest master - 306"
I see that many critical process gets exited or not running in the latest master image – 306

This issue is seen after running the script - https://github.com/Azure/sonic-mgmt/blob/master/ansible/roles/test/tasks/warm-reboot-fib.yml

A snippet from the syslog :

 get_all#012    raise UnavailableDataError(message, _hash)#012swsssdk.exceptions.UnavailableDataError: Key 'b'COUNTERS:oid:0x100000000000

[2020-06-11 09:37] mini-nair-dell commented on #4755
Looks like issue can be fixed by initializing REDIS_TIMEOUT_MSECS=0 in daemon_base.py.
•	After making the above change, critical processes are running.

Also, looks like this occurred due to change made in https://github.com/Azure/sonic-buildimage/pull/4549/

[2020-06-11 10:04] AkhileshSamineni commented on #4746
@iMasaruOki This issue is seen because of supported fullcone NAT patch file is not yet present.  We are working on porting the supported fullcone NAT patch file for 4.19 kernel version, for time being please use 201911 branch for NAT feature.

[2020-06-11 10:11] AkhileshSamineni commented on #4745
@iMasaruOki  Because of SNAT entry count query is failed,  it sets 0 as Max entries supported in COUNTER_DB, so you are seeing this response "Max limit is reached for NAT entries, skipping adding the entry." when tries to add any NAT entry.

Th fix for "SNAT entry count query" is getting pushed in SAI-3.7.5.1 version, once the fix is available, issue is no longer seen.

[2020-06-11 13:37] tim-rj commented on #4734
@xinliu-seattle 1) Help share how to join such a meeting since i am a new guy here 2)It seems that there is no packet send out. Please share the method to test this, currently i am only familier with tcpdump tool. Thanks ! (There are 15 hours time diff between beijing and seattle which may lead delay response)

[2020-06-11 14:33] tim-rj commented on #4736
@yxieca @xinliu-seattle  follow exactly the same steps , we found orchagent crash immediately ,syslog show as below:
Jun 11 22:17:34.803112 switch2 NOTICE syncd#syncd: :- threadFunction:  new span  = 417
Jun 11 22:17:35.094311 switch2 INFO swss#supervisord: start.sh portsyncd: started
Jun 11 22:17:35.126010 switch2 NOTICE swss#orchagent: :- postBake: Start MirrorOrch post-baking
Jun 11 22:17:35.12

[2020-06-12 06:20] lguohan opened #4821 "test_announce_routes failed due to Ethernet24 is down."
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/4218/testReport/junit/(root)/test_announce_routes/test_announce_routes/

{'check_item': 'interfaces', 'failed': True, 'down_ports': [u'Ethernet24']}

               pytest.fail("Pre-test sanity check failed, allow_re

[2020-06-12 08:53] mini-nair-dell commented on #4755
[syslog-process.docx](https://github.com/Azure/sonic-buildimage/files/4769729/syslog-process.docx)
[syslog.1-process.docx](https://github.com/Azure/sonic-buildimage/files/4769731/syslog.1-process.docx)

[2020-06-12 14:25] mgrzybowski commented on #4504
Hi

On recent broadcom SAI ( master build 308 ) :
[code]
creation of the subport looks clean:
[code]
but still arp entry is not learned by the SONIC switch and subport is not working.

Is there any sub project for broadcom SAI when i should rapport this ( i could not find where libsaibcm deb sources are , so i'm lost ) ?

[2020-06-12 18:49] jleveque opened #4769 "Design a universal infrastructure for updating CPU microcode upon boot"
One idea is to create a new systemd service which runs early in the boot process and checks the /usr/share/sonic/devices/<platform> folder for a payload, and if present, it does whatever is necessary to apply it (e.g., copy to /lib/firmware/, etc.).

If we want to avoid putting binary blobs in sonic-device-data, we could rely on debian packages to install the firmware files in the right locations

[2020-06-13 15:05] MheniMerz opened #4772 "Error in make configure PLATFORM=XXXX (configured platform not being considered)"
**Steps to reproduce the issue:**
1. make init
2. make configure PLATFORM=broadcom

**Problem**
the configured platform (broadcom in this example) is not being considered during the build, in the file `/slave.mk`

1. line **142**
[code]
2. the path is defined in line **47**
[code]
3. but the result is a wrong path to the rules.mk file
[code]
**Full output**
[code]

**Describe the results you expec

[2020-06-15 15:29] #4695 closed

[2020-06-15 19:43] arlakshm opened #4778 "remove syslog.conf related config from dockerfiles"
**Description**
This issue is created to handle this https://github.com/Azure/sonic-buildimage/pull/4738#discussion_r439580333 comment during review of [4738](https://github.com/Azure/sonic-buildimage/pull/4738)

As part of syslog changes for Multi NPU platforms, the syslog.conf in the containers are updated with in the docker_image_ctl.j2 template. This make the following code in the docker files

[2020-06-16 05:39] tim-rj commented on #4734
Update verification: The Issue has gone on newest master branch and 201911 branch.
Shall i close this one?

[2020-06-16 05:46] tim-rj commented on #4736
Update verification: This issue has gone on newest 201911 branch.  which means this is a bug on this build 'SONiC Software Version: SONiC.HEAD.67-8367dfeb' , not SAI or PLATFORM issue.

[2020-06-16 05:48] tim-rj commented on #4734
And this approve that this is a bug on this build 'SONiC Software Version: SONiC.HEAD.67-8367dfeb' on the other hand, right!?

[2020-06-16 08:24] PJHsieh opened #4782 "The port can not become up on x86_64-accton_wedge100bf_32x-r0."
**Description**

**Steps to reproduce the issue:**
1. Install image  SONiC-OS-201911.57-dirty-20200614.033737 on device x86_64-accton_wedge100bf_32x-r0.
2. Loopback connect Ethernet0 and Ethernet4.
3. Set Ethernet0 and Ethernet4 Admin to up.
4. Ethernet0 and Ethernet4 can not become up.

**Describe the results you received:**

root@sonic:/var/log# show int sta
  Interface            Lanes    Speed

[2020-06-16 08:45] PJHsieh commented on #4782
@akokhan

Can you help check this issue ?

[2020-06-16 10:50] akokhan commented on #4782
What's the cable/qsfp type that you are using? Thanks.

[2020-06-16 11:07] ciju-juniper commented on #4646
@lguohan How do we take this issue forward? Could we talk to BRCM to see what is going wrong with SAI?

[2020-06-16 17:15] kcudnik commented on #3832
If you still see this issue time to time on regression, please attache sairedis.rec.* logs and syslog.* logs from recent failure, so i could investigate and compare

[2020-06-17 00:36] PJHsieh commented on #4782
Hi, akokhan,
The cable I used is a DAC cable.
The Brand: Edge-core.
The Model Name: ET7402-100DAC-1M

It is a 100G QSFP28 DAC Cable.

[2020-06-17 01:57] PJHsieh commented on #4782
Hi, akokhan,

The syncd repeat print the following messages.
Please note that the messages are printed even if no SFP inserted.

Feb 12 19:48:12.358860 sonic ERR syncd[25]: 2018-02-12 19:48:12.358607 ERROR (BF_PLTFM:(file=null):(func=null):0) - Error in unselect_cpu_qsfp#012
Feb 12 19:48:12.358860 sonic ERR syncd[25]: 2018-02-12 19:48:12.358709 ERROR (BF_PLTFM:(file=null):(func=null):0) - Error Co

[2020-06-17 03:23] tim-rj commented on #4736
After updating to newest 201911 version and master version, this issue has gone. We will try to reproduce it later and update progress in time.

[2020-06-17 03:23] tim-rj commented on #4734
After updating to newest 201911 version and master version, this issue has gone. We will try to reproduce it later and update progress in time.

[2020-06-17 06:30] tanpinsiang commented on #4667
PR: #4702 merged. Closing this issue.

[2020-06-17 06:30] #4667 closed

[2020-06-17 09:28] ciju-juniper commented on #4646
@rlhui  I see a mail from you regarding SAI 1.6.2 release? Would you know if this problem is fixed in that?

[2020-06-17 13:59] ben-gale commented on #4291
What do we have to do to close this one? Is there an associated PR that makes Guohan's requested change?

[2020-06-17 16:52] sachinholla commented on #4291
@Ben, schema change was discussed as part of Mgmt framework phase2 HLD. Was waiting for that approval. Now we have it and I am will open a PR shortly.

[2020-06-17 17:43] lguohan opened #4792 "inconsistent kernel route entry versus the bgp route entry"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

In some kvm test run, the kernel route entry is in consistent bgp route entry.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/11/artifact/sonic-mgmt/tests/logs/1vlan/bgp/test_bgp_fact.log/*view*/

In above log, there is no 7 routes in the kerne

[2020-06-17 19:21] nazariig opened #4793 "fast-reboot fails when LAG has VLAN membership"
**Description**

fast-reboot fails while calling `/usr/bin/fast-reboot-dump.py`:
[code]

The issue happens when `/usr/bin/fast-reboot-dump.py` tries to process VLAN LAG members:
[code]

[code]
SONiC DB info:
[code]

The result of operation is invalid since `bridge_id_2_iface` doesn't have mapping for LAG bridge interfaces.

**Steps to reproduce the issue:**
1. Connect two DUT with LAG
2. Add LAG t

[2020-06-18 00:43] scottlaird opened #4797 "iptables blocking access to /32 Loopback address"
**Description**

The default iptables rules on SONiC block access to the .0 address of each interface netblock.  When Loopback is configured with a /32, this produces a rule that blocks all incoming traffic to loopback *except* for BGP and DHCP.  This is likely also an issue with /31 links, but not with /30 or larger.

**Steps to reproduce the issue:**
1.  Set loopback to a /32.  Example:
[code]
2

[2020-06-18 05:30] ciju-juniper commented on #4646
@smaheshm I see your commit for SAI 1.6.1. Are you aware of this issue?

[2020-06-18 08:56] lguohan commented on #4797
@jleveque , is this intended?

[2020-06-18 10:20] wangxin opened #4802 "Add/del mgmt VRF caused kernel EMERG error log"
**Description**

After `add` and `del` mgmt VRF on sonic device, EMERG level kernel error message is observed.

**Steps to reproduce the issue:**
1. Run `sudo config vrf add mgmt` command on SONiC device.
2. Run `sudo config vrf del mgmt` command on SONiC device.
3.

**Describe the results you received:**
1. Error logs were output to console:
[code]
An error message was sent to console every 10 se

[2020-06-18 16:49] smaheshm commented on #4646
No, not aware of this issue. Let me check the status of 1.6.2 release. Will open a case with BRCM if required.

[2020-06-18 18:05] jleveque commented on #4797
@scottlaird: Have you configured any control plane ACL rules on the device? We are now blocking all "IP-2-me" traffic by default on our loopback and P2P interfaces. Services like SSH and SNMP are expected to be allowed from sources as needed by adding control plane ACL rules for those services. Currently, BGP and DHCP are allowed by default, but eventually those protocols may become configurable b

[2020-06-18 18:29] Eric-Zaluzec-Vertiv opened #4805 "Docker container installed but not started/running."
**Description**
Building the SONiC broadcom image for an EdgeCore switch. After adding the docker metadata recipe to the platform's makefiles, I see that my docker container is built and installed with the sonic image. After updating my hardware with new sonic image; I run a docker images to verify my docker container is present. However, running docker ps shows my container was not started like t

[2020-06-19 02:49] fillmorechen0928 commented on #4805
I don't know if SONIC is allowed to add proprietary docker container? Have you checked this on other platform?

[2020-06-19 03:46] scottlaird commented on #4797
I haven't configured any control plane ACLs yet.  Is there documentation or a sample config somewhere?

Oddly, the iptables rules for this for my other interfaces (/30s) don't actually block anything useful, as they're all blocking the network address (.0) not the local address.  Maybe this works correctly with /31s?

Example:

[code]

The local address on the /30 is 10.0.1.253, but the iptables r

[2020-06-19 04:15] jleveque commented on #4797
This is odd. We'll need to look into this further. Feel free to take a look if you have the time and interest.

I'm not sure how complete our documentation is for configuring ACLs, but basically you need to define the ACL tables in your config_db.json file and load it, then create a JSON file (we'll call it /etc/sonic/acl.json) which will contain your ACL rules, with content similar to the followi

[2020-06-19 07:46] #4291 closed

[2020-06-19 17:36] Eric-Zaluzec-Vertiv commented on #4805
Thanks for the response @fillmorechen0928. The docker container is not proprietary, but open source. It is just an Alpine Linux container.

The sonic-buildimage has a buildsystem [README](https://github.com/Azure/sonic-buildimage/blob/master/README.buildsystem.md) where it covers how users can add their custom source code and containers to the sonic image. This functionality seems to be a valid us

[2020-06-21 02:48] yxieca commented on #4736
@tim-rj can you close issue after verifying it is addressed?

[2020-06-21 15:10] lguohan commented on #4821
https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-test/311/

[2020-06-21 15:10] lguohan commented on #4821
[code]

[2020-06-21 15:12] lguohan commented on #4821
[code]

[2020-06-21 15:14] lguohan commented on #4821
[code]

[2020-06-21 15:47] lguohan commented on #4821
Jun 19 22:40:32.576773 vlab-01 NOTICE swss#orchagent: :- addHostIntfs: Create host interface for port Ethernet24

Jun 19 22:40:32.985462 vlab-01 NOTICE swss#intfmgrd: :- main: starting main loop
Jun 19 22:40:32.985826 vlab-01 NOTICE swss#portsyncd: :- onMsg: nlmsg type:16 key:eth0 admin:1 oper:1 addr:52:54:00:43:23:60 ifindex:2 master:0
Jun 19 22:40:32.986456 vlab-01 NOTICE swss#portsyncd: :- onMs

[2020-06-21 23:34] lguohan opened #4822 "[24288.377534] INFO: task kworker/1:2:10762 blocked for more than 120 seconds."
**Description**

**Steps to reproduce the issue:**
1. continously config reload
2.
3.

**Describe the results you received:**

kernel stucked. you can still log from the console.

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dum

[2020-06-21 23:35] lguohan commented on #4822
log in from the console, system appears normal

[code]

[2020-06-21 23:38] lguohan commented on #4822
the first kworker to be blocked is appear to be following.

[code]

[2020-06-22 11:40] ciju-juniper commented on #4646
@smaheshm We verified this issue with SAI 1.6.1. Problem is still seen. Please open a case with BRCM. This is very easy to re-create and very basic.

[2020-06-22 22:54] zhenggen-xu opened #4827 "High CPU utilization of syncd with 201911 BRCM image"
**Description**

**Steps to reproduce the issue:**
1.  Download and install image:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201911/100/artifact/target/sonic-broadcom.bin

2.  sudo sonic-cfggen -H -k Seastone-DX010-25-50 --preset=t1 > config_db_t1.json

3.  sudo config reload config_db_t1.json -y

4, top

**Describe the results you received:**
[code]

**Desc

[2020-06-23 10:01] BaluAlluru opened #4832 "Permission issues with latest SONiC images"
**Description**

Execute permissions of some of the files are revoked after 1st reboot. After the image is loaded,the box comes up and no issues observed.
But after the 1st reboot, the execute permissions of some of the files are revoked.

We found this issue when our platform service was not getting started after 1st reboot.
Permissions of the files in **/usr/local/bin** was getting changed after

[2020-06-23 10:03] BaluAlluru commented on #4832
[sonic_dump_sonic_20190214_101548.tar.gz](https://github.com/Azure/sonic-buildimage/files/4818651/sonic_dump_sonic_20190214_101548.tar.gz)

[2020-06-23 10:05] BaluAlluru commented on #4832
This issue is not seen in Jenkins 310 image.
We are suspecting this commit is causing issue.
commit 76a395cdbf911738ba3c384cd9b096819fcb275d
  Author: xumia <59720581+xumia@users.noreply.github.com>
  Date:   Sat Jun 13 15:10:13 2020 +0800

      [secure boot] Support rw files allowlist (#4585)

      * Support rw files allowlist for Sonic Secure Boot
      * Improve the performance
      * fix bu

[2020-06-23 16:18] smaheshm commented on #4646
@ciju-juniper Stay tuned for updated BRCM-SAI debian package. We have to check if the issue persists in the updated debian package and then open a case.

[2020-06-23 18:53] rlhui commented on #4646
@ciju-juniper, would you please confirm/clarify if this issue is seen ONLY with cables connecting ports within the same device?  Have you tried the same step, but with cables connecting ports of two separate boxes? Thanks.

[2020-06-23 19:12] ciju-juniper commented on #4646
@rlhui We had tried with a different switch at the other end. Issue is seen when the remote is down or the cable is pulled out from the other end. Port status is not changed in SONiC and no SAI events detected.

[2020-06-23 19:31] scottlaird commented on #4797
Okay, I went through and created SNMP_ACL and SSH_ACL via 'sudo config acl add table <name> L3'.  Then I lightly modified the ACL config above and ran acl-loader update full.

Running 'acl-loader show table' shows the new new ACL tables.  Running 'acl-loader show rule' shows the rules from the file.

I still can't SSH into the switch via the loopback /32, and can't scrape SNMP.  It doesn't look li

[2020-06-23 19:34] jleveque commented on #4797
`L3` is not the appropriate ACL table type for control plane ACLs. it should be `CTRLPLANE`. The control plane ACL manager will only process rules in tables of type `CTRLPLANE`. `L3` is for data plane ACLs.

[2020-06-23 20:52] scottlaird commented on #4797
That was an entertaining process.  It doesn't look like `config acl add <name> CTRLPLANE` actually works right.  The generated ACL entries are missing a `services` field, and this crashes a lot of code.  This took a while to work through.

I deleted the old tables and created new ones with the same name and type CTRLPLANE using 'config acl add'.  Then I tried loading them, but something was clearl

[2020-06-23 21:05] jleveque commented on #4797
Glad to know you finally got it working. Sorry about all the hurdles. I believe you're correct that `config acl add` does not support the current "service ACL" model of control plane ACLs because it does not understand the concept of a "service". Please do open issues for these, and if you do find the time to make some fixes, it would be appreciated!

[2020-06-23 21:46] scottlaird opened #4839 "SNMP ifName and ifDescr are identical and only expose aliases, not EthernetXX names"
**Description**

SNMP's ifName and ifDescr data is identical, and they both only expose aliases ("twentyfiveGigE27"), not actual ("Ethernet23") names.

**Steps to reproduce the issue:**

$ snmpwalk -c public -v2c switch | egrep 'ifDescr|ifName|ipv6IfDescr|ipv6IfName'

**Describe the results you received:**

ifDescr uses aliases: twentyfiveGigE27
ifName *also* uses aliases: twentyfiveGigE27
ipv6IfD

[2020-06-24 11:55] lguohan commented on #4822
another case

[code]

[code]

[2020-06-24 15:07] abdosi commented on #4827
Root cause has been identified. CSP case has been filed with broadcom.

@zhenggen-xu @rlhui

[2020-06-24 15:14] xinliu-seattle commented on #4839
@qiluo-msft  can you take a look?

[2020-06-24 15:19] xinliu-seattle commented on #4832
Please retest with fix #4836.

[2020-06-24 15:26] xinliu-seattle commented on #4827
This happens on Master as well. (Syncd takes high percentage). Will wait for CSP to come back.

[2020-06-24 15:28] xinliu-seattle commented on #4822
Kernel patch in later version available now, https://github.com/torvalds/linux/commit/e64e469b9a2c22d41b3dd7172118760cec22d473

Need to verify if it fixes this.

[2020-06-24 15:37] xinliu-seattle commented on #4805
1) please join the triage meeting to describe your issue; 2) please check how other dockers are started, particular the makefile.

[2020-06-24 15:42] xinliu-seattle commented on #4802
Dell will take a look. thanks.

[2020-06-24 15:43] xinliu-seattle commented on #4802
@venkatmahalingam

[2020-06-24 15:53] xinliu-seattle commented on #4782
@PJHsieh : 1)please join the triage meeting to have your issue discussed. 2) from Syncd msg, it seems an ASIC issue.

[2020-06-24 15:59] xinliu-seattle commented on #4772
Please check .platform file, if it empty, you need to delete it and do a re-config.

[2020-06-24 16:12] lguohan commented on #4822
torvalds/linux@e64e469 already in 4.19 kernel, should be something else.

[2020-06-24 19:11] venkatmahalingam commented on #4802
Please refer the below issue for resolution of this issue, Xin - Can we duplicate this issue with 3803?

https://github.com/Azure/sonic-buildimage/issues/3803

[2020-06-24 19:23] lguohan commented on #4821
looks like the root cause is that Ethernet24 is created by orchagent before portsyncd starts. Then, Ethernet24 is treated as an old port index.

[code]

[2020-06-24 21:47] gechiang commented on #4646
@ciju-juniper I have tried to reproduce this same issue using master.320 image and flapped the link over 30 times but not able to hit the same issue you reported.  May I ask for your help on the following:
1. If possible, please use the latest master branch image (320 for example) and try to reproduce this issue.  If still reproducible, please gather the following information for me:
    a). drop

[2020-06-25 01:12] lguohan commented on #4822
another repo.

[code]

[2020-06-25 05:48] #4821 closed

[2020-06-25 06:14] ciju-juniper commented on #4646
@gechiang  Problem is seen on master.320 image.  We had tried to recreate the issue with different boxes and different cables. Same behaviour.

Our test is very simple. Initially 100G DAC cable was connected to Ethernet8 & Ethernet12.

[code]

After that cable was moved to Ethernet16. Now it's connected between Ethernet8 & Ethernet16.
[code]

There are no SAI event messages for port down and up ev

[2020-06-25 06:19] ciju-juniper commented on #4646
@gechiang Here are the o/p that you have asked with master.320 image

[code]

1.b). Issue the cmd "bsv" to collect the SAI version output.
[code]
1.c). Issue the cmd "show unit" to collect the ASIC version output.
[code]
1.d). Issue the cmd "ver" to collect the BRCM SDK version output.
[code]

[2020-06-25 06:24] zhenggen-xu opened #4848 "[201811] sonic Image broken recently"
**Description**

**Steps to reproduce the issue:**
1. Download and install:  https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201811/298/artifact/target/sonic-broadcom.bin

2.  sudo sonic-cfggen -H -k Seastone-DX010-50 --preset=t1 > config.json.t1
     sudo config reload config.json.t1 -y

3, docker not started correctly

**Describe the results you received:**
[cod

[2020-06-25 06:26] ciju-juniper commented on #4646
@gechiang  Here are the o/p that you have asked with 201911 based image. This is from a TH2 based platform

[code]

1.b). Issue the cmd "bsv" to collect the SAI version output.
[code]

1.c). Issue the cmd "show unit" to collect the ASIC version output.
[code]

1.d). Issue the cmd "ver" to collect the BRCM SDK version output.
[code]

2). Please try using another cable other than the one that you we

[2020-06-25 07:17] qiluo-msft commented on #4839
By design, SONiC SNMP OID will only expose aliases, in order to maintain backward-compatible with vendor switches running vendor NOS.
If your use case has no backward-compatible concern, you are free to modify/create new SKU with different aliases.

If you verified

This should be a bug.

[2020-06-25 07:36] lguohan commented on #4848
resolved in https://github.com/Azure/sonic-buildimage/commit/d04ad415b4926f6eebf4f3d656931484450bc704

[2020-06-25 07:36] #4848 closed

[2020-06-25 07:36] lguohan commented on #4822
further debug

[code]

[2020-06-25 07:53] ciju-juniper commented on #4646
@gechiang Here are the o/p that you have asked with master.320 image. This is from a TH1 based platform. Issue is seen on TH1 platform as well.

[code]

1.b). Issue the cmd "bsv" to collect the SAI version output.
[code]
1.c). Issue the cmd "show unit" to collect the ASIC version output.
[code]

1.d). Issue the cmd "ver" to collect the BRCM SDK version output.
[code]

[2020-06-25 08:21] ciju-juniper commented on #4832
Fix provided in https://github.com/Azure/sonic-buildimage/pull/4836 rectified the issue

[code]
@Staphylo @qiluo-msft @lguohan  Please go ahead and merge the patch.

[2020-06-25 09:28] lguohan commented on #4505
P4 platform is not maintained now.

[2020-06-25 09:28] #4505 closed

[2020-06-25 09:32] #4095 closed

[2020-06-25 09:34] lguohan commented on #3735
addressed in 057ced0

[2020-06-25 09:34] #3735 closed

[2020-06-25 09:35] lguohan commented on #2591
p4 platform is no longer maintained.

[2020-06-25 09:35] #2591 closed

[2020-06-25 09:38] lguohan commented on #1598
addressed in https://github.com/Azure/sonic-buildimage/commit/7730bcf01138f01be0f69c7d636d4b88d0fa7196

[2020-06-25 09:38] #1598 closed

[2020-06-25 14:15] #4805 closed

[2020-06-25 17:07] #4832 closed

[2020-06-26 01:30] gechiang commented on #4646
@ciju-juniper Thank you for providing the detail version information.  I was able to reproduce the same issue with our lab DUT that uses the TH1 (BCM56960_B1 ) chip.  I have gathered the necessary information and have contacted BRCM to investigate this issue.  Will update this thread when I have more information.
Thanks!

[2020-06-26 04:50] BaluAlluru commented on #4646
issue is also seen on Broadcom TH2 chipset also.

[2020-06-26 05:20] ciju-juniper commented on #4646
@gechiang @rlhui @smaheshm  Could we list this as a must fix for the next SAI release as this is very basic and affect broadcom ASICs?

[2020-06-26 05:45] praveen-li opened #4855 "Cache Dependency on debs packages for python-debs packages."
**Description**
Cache Dependency on debs packages for python-debs packages.

With PR https://github.com/Azure/sonic-buildimage/pull/4849, a new dependency type is added. So that a python-debs package can depend on debs package. But cache dependency is not added for same yet.

For Example:
sonic-utilities depends on libyang, but if any file in libyang is changed then it will not force a new build f

[2020-06-26 07:01] gechiang commented on #4646
@ciju-juniper We are already working on the next SAI release for master branch.  I was told that in a few more days it will be pull into the master branch.  We have internal 20191130 builds that uses the new SAI release for qualification testing and I did not observe the link bounce missing notification issue on TH1 ASIC.  I will let you know if the new SAI becomes available on master branch if th

[2020-06-26 07:10] ciju-juniper commented on #4646
@gechiang Are you referring to SONiC 201911 branch? If yes, we have "BRCM SAI ver: [3.7.3.3], OCP SAI ver: [1.5], SDK ver: [6.5.16]" now. Is this version going to be upgraded?

[2020-06-26 17:12] gechiang commented on #4646
@ciju-juniper The one that we are qualifying is a derivative of the following version:
BRCM SAI ver: [3.7.5.1], OCP SAI ver: [1.5.2], SDK ver: [6.5.16]
But this may change for the master branch... So please don't quote me on this when the actual released value differs from the one I have shown you here...  We are qualifying this new SAI internally and thus not yet visible in any of the public bran

[2020-06-26 17:22] ciju-juniper commented on #4646
@gechiang Thanks! Version doesn't matter as long as this issue gets fixed.

[2020-06-26 17:25] ciju-juniper commented on #4827
This issue is observed on TH1 & TH2  broadcom based platforms.

[2020-06-26 18:23] gechiang commented on #4646
@ciju-juniper Yes it is fixed.  I just loaded a master branch based private build with the new version of BRCM SAI installed and I repeated the same link flap exercise and all are working fine!
BRCM SAI ver: [3.7.5.1], OCP SAI ver: [1.6.3], SDK ver: [6.5.16]

Please wait for the following PR to be approved and merged to master branch.
https://github.com/Azure/sonic-buildimage/pull/4847
Thanks!

[2020-06-26 19:29] ciju-juniper commented on #4646
@gechiang Can I take the sonic-broadcom.bin image from #4847 and give it a try?

[2020-06-26 21:04] gechiang commented on #4646
@ciju-juniper Sure.  But please note that this is internal image so use it to validate this particular issue only...
Thanks!

[2020-06-27 00:51] qiluo-msft commented on #4839
@scottlaird Could you provide a sample query to demo?

[2020-06-28 05:57] #4716 closed

[2020-06-29 00:30] PJHsieh commented on #4782
@xinliu-seattle :
About 1): When will the triage meeting and how shall I join ?
About 2: ASIC issue, do you mean HW issue ?

[2020-06-29 01:10] iMasaruOki commented on #4746
It looks fixed by commit c79783003d1ec615eed50135bd56dbb793794128
Thank you.

[2020-06-29 01:10] #4746 closed

[2020-06-29 08:27] mini-nair-dell commented on #4755
The issue is fixed in the build- 309, and not further seen

Thanks
Mini

[2020-06-29 08:27] #4755 closed

[2020-06-30 02:04] zhanggongc opened #4870 "FRR 7.2 compile fail when modify file frr/debain/rules"
Compiling problem:
I have modify the file frr/debain/rules, but compiling can't pass successfully
error report :
![image](https://user-images.githubusercontent.com/58503468/86074364-620d2980-bab8-11ea-9b1e-0836bf55647d.png)

modify rules like this:
![image](https://user-images.githubusercontent.com/58503468/86074340-53bf0d80-bab8-11ea-932d-458682cfc6fb.png)

[2020-06-30 02:05] zhanggongc commented on #4870
[ FAIL LOG START ] [ target/debs/stretch/frr_7.2.1-sonic-0_amd64.deb ]
make[1]: Entering directory '/sonic/src/sonic-frr'
# Build the package
pushd ./frr
git checkout -b frr/7.2 origin/frr/7.2
stg branch --create stg_temp.20200630.004731 frr-7.2.1-s3
stg import -s ../patch/series
tools/tarsource.sh -V -e '-sonic'
dpkg-buildpackage -rfakeroot -b -us -uc -Ppkg.frr.nortrlib -j8
stg undo || true
git c

[2020-06-30 06:06] chitra-raghavan opened #4872 "[Dell S5232]:Rx drop counters incremented for BGP control packets with ttl1."
**Description**

    ASIC: BROADCOM Td3
    Device : S5232

- RX drop counters are incremented for BGP Control packets with TTL1.
- This is seen when BGP is established over Physical interface as well as Portchannel interface.
- Seen in T1 topology and T0 .
- Upon capturing the packet  through mirroring , could see only  BGP Ack packet and Keepalive packets are received in the port , matching RX c

[2020-06-30 07:31] ciju-juniper commented on #4646
@gechiang We tested the sonic-broadcom.bin built as part if #4847 on a TH2 platform. Issue is still seen.
[code]
[code]

[code]

[2020-06-30 12:24] ciju-juniper commented on #4646
@gechiang Issue is seen on **TH1** platform as well with the built image in #4847

[2020-06-30 15:34] gechiang commented on #4646
@ciju-juniper That is quite surprising to me.  Not sure why the result is different for you.  In my case I clearly see the behavior changed.  Let's wait for  #4847 merged into the master branch and then try again.   If you have access to the latest 201911 branch image, can you try build 105 or above and see if you also see issues with this version?

[2020-07-01 04:54] pavel-shirshov commented on #4572
Can you please try this fix https://github.com/Azure/sonic-buildimage/pull/4876

[2020-07-01 07:55] tim-rj opened #4877 "ERR syslog about snmp-subagent [ax_interface] When the device is running"
**Description**

ERR syslog about snmp-subagent [ax_interface] When the device is running

**Steps to reproduce the issue:**
1.Upgrade the device to master,Check syslog, whether there is abnormal log

**Describe the results you received:**

snmp print ERROR log as follows:

root@switch2:/home/admin#
root@switch2:/home/admin# zgrep "ERR"  /var/log/syslog*   | grep  "snmp"
/var/log/syslog:Jul  1 15:

[2020-07-01 08:46] zhanggongc opened #4878 "Compile failure about ospfclient install files,"
I modify following two files in order to activate ospfclient :
frr/debian/not-installed
frr/debian/frr.install

![image](https://user-images.githubusercontent.com/58503468/86223340-01feac00-bbba-11ea-9d0f-037f795d0479.png)

after that modify ,compiling reports error ,following:
![image](https://user-images.githubusercontent.com/58503468/86223512-35d9d180-bbba-11ea-9389-e0448adc14b5.png)

so I don'

[2020-07-01 08:48] zhanggongc commented on #4878
sed -e '1c #!/usr/bin/python3' -i debian/tmp/usr/lib/frr/frr-reload.py
cp tools/frr.service debian/frr.service
cp tools/frrinit.sh debian/frr.init
rm -f debian/tmp/usr/lib/frr/frr
mkdir -p debian/tmp/etc
cp -r tools/etc/* debian/tmp/etc/
rm debian/tmp/etc/frr/daemons.conf
sed -e 's#^!log file #!log file /var/log/frr/#' -i debian/tmp/usr/share/doc/frr/examples/*sample*
find debian/tmp -name '*.la'

[2020-07-01 09:31] tim-rj opened #4879 "Neighbors learned from portchannel, when neighbors are offline for more than 5 minutes, ARP aging is abnormal"
**Description**

Neighbors learned from portchannel, when neighbors are offline for more than 5 minutes, ARP aging is abnormal

**Steps to reproduce the issue:**
1.config vlan
2.config portchannel,add into vlan member
3.add a port into portchannel
4.learn a Neighbor from portchannel
5.neighbors are offline,then View arp entries afer 5 minutes

**Describe the results you received:**

snmp print ERR

[2020-07-01 09:36] tim-rj commented on #4879
Additional information：
root@switch2:/home/admin# show arp
Address        MacAddress         Iface       Vlan
-------------  -----------------  ----------  ------
50.5.1.0       80:05:88:c9:17:01  Ethernet52  -
150.1.1.2      58:69:6c:83:56:86  -           3
Total number of entries 2
root@switch2:/home/admin# ping 150.1.1.2
PING 150.1.1.2 (150.1.1.2) 56(84) bytes of data.
^C
--- 150.1.1.2 ping sta

[2020-07-01 13:27] ciju-juniper commented on #4646
@gechiang We verified this issue with Jenkins **build-107** of **201911** branch on a **TH2** platform. No issues observed while doing OIR. Link status & SAI port up/down events are updated correctly.

[code]

[code]

[code]

[code]

Here is the complete test logs with build 107 on 201911 branch: [QFX5210_20911_Jenkins107_logs.txt](https://github.com/Azure/sonic-buildimage/files/4858136/QFX5210_20

[2020-07-01 17:04] #4827 closed

[2020-07-01 20:57] gechiang commented on #4646
@ciju-juniper Thanks for trying it and confirm that with 201911.107  which uses the SAI version
BRCM SAI ver: [3.7.5.1], OCP SAI ver: [1.5.2], SDK ver: [6.5.16]
It is good that you did not observe the issue.  Please note that the master branch is also moving towards a similar version of this SAI.  Unfortunately build #330 suppose to have this change but the build failed... Please wait for the next

[2020-07-02 00:29] #4870 closed

[2020-07-02 04:40] ciju-juniper commented on #4646
@gechiang @lguohan @rlhui @smaheshm  Instead of trying out various images, can we try to root cause the problem with SAI? Have you opened any broadcom issue for this? The risk is that even if this issue get resolved by a certain version, it may re-appear in the following releases. So we need to understand the bug in the code and fix it in the right way.

Since we already confirmed that #4847 doesn

[2020-07-02 05:27] lguohan commented on #4646
@gechiang , are we able to repo this issue internally? I heard this issue only apply to 100G port, is it correct? if yes, can we open an issue with broadcom to track this?

[2020-07-02 07:29] gechiang commented on #4646
@ciju-juniper I did open a case for this against BRCM previously but due to the SAI version reported was old (3.7.4.2) and I was not able to reproduce it when I moved to use SAI version 3.7.5.1 so I have closed the case.  The reason that I have asked you to wait for the next master branch release for this is because the new SAI checked in and merged into the master branch had an additional fix for

[2020-07-02 07:37] gechiang commented on #4646
@lguohan I was not able to reproduce the issue with 40G ports platform using the TH ASIC with SAI ver 3.7.4.2.  Only on platforms that uses 100G and with SAI version 3.7.4.2 I was able to see SAI hang and not notifying application for the port flap events.  internally in SAI the port state was maintained correctly for each link bounce similar to what Juniper reported.  I did move on to use higher

[2020-07-02 07:57] ciju-juniper commented on #4646
@gechiang @lguohan  I doubt if busy fix (for syncd running more than 100 %) will have any impact for the OIR events. The reason is simple. Even with syncd running at >100% cpu, 201911 branch does correctly reports the port up/down events, whereas master branch doesn't

[2020-07-02 08:08] gechiang commented on #4646
@ciju-juniper That is why it is very important to have a good master branch image with the latest SAI so that we can determine if the issue is still seen and whether it is really with SAI or somewhere else...  Thanks!

[2020-07-02 08:11] lguohan commented on #4646
@gechiang , i just trigger to broadcom master branch build. btw, you should be able to trigger them yourself on the public jenkins. can you check?

[2020-07-02 08:38] ciju-juniper commented on #4646
@gechiang Please have a look at the bug history and the debugging steps that we did with @lguohan  It was very clear that SAI is not sending the port up/down events. If you have any further suggestions, we can try those as well.

Master branch is highly unstable now. We just found out a crash with xcvrd. Will open an issue shortly. This is caused by not properly updating xcvrd PI code. That means,

[2020-07-02 10:19] tim-rj opened #4885 "ARP cannot reach the expected number which does not exceed the maximum"
**Description**

Arp counter can't reach maximum

**Steps to reproduce the issue:**
My topology is :  DUT---TC1
1.config vlan
2.config portchannel,add into vlan member
3.add a port into portchannel
4.Create 4k ipv4 devices on TC1 connected portchannel

**Describe the results you received:**
Arp counter can't reach 4k

**Describe the results you expected:**
Arp counter  reach 4k

[code]

**Addition

[2020-07-02 10:37] BaluAlluru opened #4886 "xcvrd daemon is crashing in sonic mainline"
**Description**
xcvrd daemon part of pmon container is crashing.
Tested on SONIC Jenkins 327 image.

**Steps to reproduce the issue:**
1. Load the latest SONIC image from Jenkins.
2. Get into pmon docker container bash by executing "docker exec -it pmon bash"
3. execute "ps ax" inside the pmon container
4. Observe that xcvrd is not running.

**Describe the results you received:**
root@sonic:/home/

[2020-07-02 10:39] BaluAlluru commented on #4886
[sonic_dump_sonic_20200702_181151.tar.gz](https://github.com/Azure/sonic-buildimage/files/4863634/sonic_dump_sonic_20200702_181151.tar.gz)

[2020-07-02 10:44] lguohan commented on #4872
just to confirm, function wise it is working, the bgp packet is not really dropped, it is just drop counter not correct? since bgp is trapped to cpu, we should not see it as rx drop, right?

[2020-07-02 10:46] ciju-juniper commented on #4646
Issue #4886 has been created for the xcvrd crash that I mentioned in my previous comment.

[2020-07-02 10:48] lguohan commented on #4877
x86_64-ruijie_b6510-48vs8cq-r0 is not a supported platform.

[2020-07-02 10:53] lguohan commented on #4879
again, it is difficult to debug this platform since it is not supported. the platform driver is not checked-in, it is not in the device list. there is no show tech provided. we do not know if you have configured the box correctly.

[2020-07-02 11:29] chitra-raghavan commented on #4872
@lguohan , yes, I see BgP is up and running , without issues. Could see only Drop counter being incremented. Also could see  "MC_PERQ_PKT(4).cpu0   " counter increments in brcm counters  for BGP packets

root@sonic:~#  bcmcmd "show c cpu0"
show c cpu0
MC_PERQ_PKT(4).cpu0         :                    28                 +11
MC_PERQ_BYTE(4).cpu0        :                 2,146                +841
driv

[2020-07-02 18:20] jleveque commented on #4886
Reopening. Will be closed once submodule update merges.

[2020-07-02 18:38] prsunny commented on #4885
can you provide the output of `redis-cli keys "NEIGH_TABLE*" | wc -l`

[2020-07-02 23:19] gechiang commented on #4646
@ciju-juniper I have used the latest master image (333) to perform the link bounce tests and it worked fine.
I tried bouncing single link also bouncing two links at the same time and both work fine.
Tried at least 10 iterations and each time the status is reflected in show interface status output.
Please see attached file for the output I gathered. I also captured part of the syslog that clearly s

[2020-07-03 01:12] alanC-Cameo opened #4888 "docker-sonic-mgmt.gz build failed on 201911 branch (head 2020/Jun/28)"
**Description**
"make target/docker-sonic-mgmt.gz" failed on 201911 branch (commit d32beffed06f13125d7af1d6fd339253e0ea0c7a, 2020/Jun/28; HEAD -> 201911, origin/201911)

**Steps to reproduce the issue:**
1. git clone https://github.com/Azure/sonic-buildimage.git
2. git checkout -b 201911 origin/201911
3. make init
4. make configure PLATFORM=generic
5. make all
6. make target/docker-sonic-mgmt.gz <

[2020-07-03 05:33] ciju-juniper commented on #4646
@gechiang I saw your test logs. You are plugging out Ethernet64 & Ethernet68 and putting it back.

A few differences with our testing method
   1) Your switch is fully populated with the pluggables, whereas we connect cables only to a few ports
   2) You are removing the cables from one port and putting it back in the same port, whereas we take out the cables from one port and connect to other por

[2020-07-03 05:38] #4886 closed

[2020-07-03 05:59] ciju-juniper commented on #4646
@gechiang @lguohan @rlhui @smaheshm We are still observing this problem with the latest master. **SAI events are not generated for cable OIR**. Validated on TH2 platform.

[code]

[code]

[code]

[code]

[2020-07-03 06:04] lguohan commented on #4646
is this tomahawk2 only issue, i belive @gechiang validated on th.

[2020-07-03 06:10] ciju-juniper commented on #4646
@gechiang These are the testing we did:

1) Initially 100G DAC cable connected between Ethernet8 and Ethernet12 and the box booted.
[code]
[code]
[code]
2) 100G DAC cable moved to Ethernet16, keeping the other end at Ethernet8. Ethernet16 is still down but shows the cable
[code]
You can see the correct status in bcmsh.
[code]
There are no SAI events generated
[code]

[2020-07-03 06:12] ciju-juniper commented on #4646
@lguohan We had observed on both TH1 & TH2.   We are yet to test with build 333 on TH1.

[2020-07-03 06:22] ciju-juniper commented on #4646
@lguohan @gechiang Would you need any further details for opening a case with broadcom for TH2?

[2020-07-03 16:57] gechiang commented on #4646
@ciju-juniper Can you confirm if this only happens on TH2 for master.333 and NOT on TH1 for the same image?
Once you confirm, please capture the output of "show services"  and then perform show tech and attach both output to this case so I can walk through the output and other dumps to see what is going on.  Please indicate which port (most likely Etherenet8 and Ethernet12 based on your past posti

[2020-07-06 00:55] iMasaruOki opened #4898 "'make clean' always failed"
**Description**

'make clean' are always failed on master branch.
201911 branch has no problem.

**Steps to reproduce the issue:**
1. `make init`
2. `make configure PLATFORM=broadcom` (`PLATFORM=vs` is also affected)
3. `make clean`

**Describe the results you received:**
[code]

**Describe the results you expected:**

no error.

**Additional information you deem important (e.g. issue happens only

[2020-07-06 01:08] tim-rj commented on #4715
I think Syncd.cpp should not throw exception when create failed due to SAI_STATE_TABLE_FULL which will case orchagent been killed. right?

[2020-07-06 01:16] tim-rj commented on #4879
ok, we will integrate our platform & device as soon as possible.

[2020-07-06 01:17] tim-rj commented on #4877
we will integrate our platform & device as soon as possible.

[2020-07-06 05:13] lguohan commented on #4898
@qiluo-msft, is this due to your redis server upgrade?

[2020-07-06 12:07] MheniMerz commented on #4772
@xinliu-seattle  thanks that resolves the issue

[2020-07-06 12:07] #4772 closed

[2020-07-06 12:16] ciju-juniper commented on #4646
@gechiang Here are the details that you asked which are collected from TH2 platform.

OIR sequences:
 1. Switch is rebooted by having Ethernet8 - Ethernet12 ports connected.
 2. Cable moved to Ethernet8 - Ethernet16
 3. Cable moved to Ethernet8 - Ethernet40  ==> Issue observed
 4. Cable moved to Ethernet8 - Ethernet12   ==> Issue observed

Here is the test log:
[QFX5210_JENKINS-333-Instance2.txt](

[2020-07-06 12:18] ciju-juniper commented on #4646
@gechiang We couldn't verify this on a TH1 platform as we don't have access to the setup right now. Shall update when we are able to try it.

[2020-07-06 13:01] paNjii commented on #4505
Can you perhaps point me to what you used to get started with VS ? I found this: https://github.com/Azure/sonic-mgmt/blob/master/ansible/doc/README.testbed.VsSetup.md but I do not have access to vEOS or cEOS images, is there another way ?

[2020-07-06 20:18] yxieca commented on #4888
There are some changes in master branch that are missing from 201911 branch. Rita will cherry-pick them into 201911 branch and address the build issue. Meanwhile, please use sonic-mgmt docker built from the master branch.

[2020-07-06 21:02] qiluo-msft commented on #4898
@iMasaruOki Thanks for the bug report!
Could you test this PR work for you?

[2020-07-07 00:38] gechiang commented on #4646
@ciju-juniper Thanks for capturing the show tech and provided the detailed reproducing steps and logs.
I went through the syslog as well as the SAI record and the only strange thing that I can find is that after you removed the original connection from Ethernet12 and connect it to Ethernet16 and that both Ethernet8 and Ethernet16 are reported to be UP, there seems to have no activities for a long

[2020-07-07 00:39] alanC-Cameo commented on #4888
well noted and tks for your great support.

[2020-07-07 01:22] gechiang commented on #4646
@ciju-juniper Can you also try one more thing.  Instead of removing the cableand plug it back to some other ports, can you  just config one of the connecting port to admin shut and check the port states are reported correctly.  then config "startup" the port to see if the port state is reported correctly as operational.  Just want to eliminate the transciver remove/insert events out of the picture

[2020-07-07 04:35] ciju-juniper commented on #4646
@gechiang We too doesn't have physical access to LAB. That's the reason why it is very difficult for us to try the iterations. So please open a case with broadcom and take it forward. If they need any further details, we can provide. We will try the config change and see if it's helpful.

I'm not sure if this problem is dependent on ASIC version. It should occur, if we try a number OIRs.

[2020-07-07 06:54] ciju-juniper commented on #4646
@gechiang We had already tried what you were asked sometime back.

Issue is seen. There were no SAI events for port down. 'show interface status' was reporting "up" even after cable was pulled out. No SAI events for port up also when the cable was connected back to the same port.

[2020-07-07 08:07] BaluAlluru opened #4907 "orchagent crash observed intermittently on latest SONIC images"
**Description**
orchagent crash observed few times on SONIC latest image.
No Optics are connected to front panel ports.

**Steps to reproduce the issue:**
1. Load the SONIC latest image (tested on jenkins 333 and 338 image)
2. orchagent crash observed
3. show interfaces status output is NULL

**Describe the results you received:**
Orchagent crashed and "show interfaces status" output is NULL.
Obse

[2020-07-07 08:49] BaluAlluru commented on #4907
wanted to take "generate dump" on fresh slate. uninstalled the image and reinstalled the image. didn't observe crash after installing the image again.
couldn't collect the generate dump when the crash was observed.
will attach "generate dump" to this issue, when crash is observed.

[2020-07-07 09:57] ciju-juniper commented on #4907
Issue is seen on the latest master.338 image. Also observing a crash in the bcm_knet driver.

Here is the dmesg output:
[dmesg_338.txt](https://github.com/Azure/sonic-buildimage/files/4884049/dmesg_338.txt)

Here is the dump generated:
[sonic_dump_sonic_20190214_102645.tar.gz](https://github.com/Azure/sonic-buildimage/files/4884060/sonic_dump_sonic_20190214_102645.tar.gz)

Here is the core file ge

[2020-07-07 12:21] BaluAlluru commented on #4646
@gechiang Issue is seen on TH1 platform also.
Below are the details for TH1 platform.

OIR sequences:

Switch is rebooted by having Ethernet0 - Ethernet4 ports connected.
Cable moved to Ethernet0 - Ethernet8
Cable moved to Ethernet0 - Ethernet40          ==> Issue observed
Cable moved to Ethernet0 - Ethernet124        ==> Issue observed
Cable moved to Ethernet0 - Ethernet4            ==> Issue obs

[2020-07-07 17:33] BaluAlluru commented on #4646
@gechiang,
As per your earlier mail, We configured one of the connecting port to admin shut and checked the port states then did config "startup" the port to see if the port state is reported correctly as operational.

**Installed SONIC Jenkins 333 image on TH1 ASIC Box.**
Connected 100G DAC cable between Port 0 and port 1.

In the first instance, observed failure.
Below are the logs:
[QFX5200_sta

[2020-07-07 20:10] gechiang commented on #4646
@BaluAlluru Here is my investigation response to your TH1 test result that I read from sonic_dump_sonic_20200707_183916.tar.gz:
According to the syslog there was a  problem with xcvrd at the following timestamp:

Jul  7 18:24:44.235976 sonic INFO pmon#supervisord: xcvrd Process Process-1:
Jul  7 18:24:44.235976 sonic INFO pmon#supervisord: xcvrd Traceback (most recent call last):
Jul  7 18:24:44.2

[2020-07-07 22:18] iMasaruOki opened #4912 "Parallel build are failed on master branch"
**Description**

I tried to build SONiC with PLATFORM=broadcom and SONIC_CONFIG_BUILD_JOBS = 8 on master branch, it got build failure.
Other platform except for vs has same problem, I think.
Build successful with SONIC_CONFIG_BUILD_JOBS = 1 but build speed are too slow.

**Steps to reproduce the issue:**
1 edit rules/config, SONIC_CONFIG_BUILD_JOBS = 8
2. make init
3. make configure PLATFORM=broad

[2020-07-08 03:46] ciju-juniper commented on #4646
@gechiang Thanks!

We will investigate the xcvrd issue. Look like there were some recent changes went into xcvrd. After that we will again experiment with TH1 platform.

Please let us know if broadcom requests for any additional data from TH2 platform.

@lguohan @gechiang There is an orchagent crash in the latest images #4907  There is a bcm_knet driver crash and BCM asic initialization has failed

[2020-07-08 03:47] ciju-juniper commented on #4907
@smaheshm @lguohan @rlhui Please have a look. Seems like an issue with broadcom components.

[2020-07-08 13:48] #4898 closed

[2020-07-08 15:20] xinliu-seattle commented on #4907
will need brcm to take a look.

[2020-07-08 15:22] xinliu-seattle commented on #4888
Close this as it is fixed.

[2020-07-08 15:22] lguohan commented on #4885
please provide tech support file

[2020-07-08 15:23] xinliu-seattle commented on #4885
please join the issue triage meeting to get this issue discussed.

[2020-07-08 15:23] lguohan commented on #4879
also can you provide tech support

[2020-07-08 15:27] xinliu-seattle commented on #4878
Need help from community who is using OSPF.

[2020-07-08 15:28] yxieca commented on #4888
This commit: https://github.com/daall/sonic-buildimage/commit/fb535bb2ba871bf6eef8a46081fb63b953578107 fixed the issue.

[2020-07-08 15:28] #4888 closed

[2020-07-08 15:28] lguohan commented on #4877
please provide tech support file.

[2020-07-08 15:32] xinliu-seattle commented on #4802
Close this one as dup.

[2020-07-08 15:32] #4802 closed

[2020-07-08 15:36] xinliu-seattle commented on #4797
@scottlaird please close this and open a new issue on config acl add does not support the current "service ACL" model of control plane ACLs because it does not understand the concept of a "service".

[2020-07-08 15:36] #4797 closed

[2020-07-08 15:52] lguohan commented on #4643
this is a private build and the SAI version is not released yet.

[2020-07-08 17:15] lguohan commented on #4912
can you provide the log file for this one? libsaivs-dev_1.0.0_amd64.deb-uninstall.log

it should be under target/debs/stretch/

[2020-07-08 17:22] smaheshm commented on #4907
@ciju-juniper How is orchagent crash related to the crash in bcm_knet driver. Do you know if orchagent crash is a result of bcm_knet crash?

Also saw this message in log. Did you get a chance to look at it:
[code]

[2020-07-08 18:29] ciju-juniper commented on #4907
@smaheshm I don't know if the bcm_knet driver and orchagent crash are related or not. During the startup orchgent crashed and also the bcm_knet driver crashed.

We started observing this as a regression recently. Not sure why syncd is reporting errors. We haven't changed anything on the BCM configuration.

[2020-07-08 18:35] dipalipatel25 opened #4924 "IPv6 address not being configured on sonic docker vs"
**Description**
For sonic docker virtual switch the ipv6 is enabled. but the ipv6 address from the start up configs are not being configured on the dockers.

sudo sysctl -a | grep ipv6.*disable | grep Ethernet0

output:
net.ipv6.conf.Ethernet0.disable_ipv6 = 0

[2020-07-08 20:34] gechiang opened #4925 "Console shows Kernel crash during boot up with Mater debug image .339 on Dell S6000-ACS/S6000"
**Description**

**Steps to reproduce the issue:**
1. Install master.339 image to DUT
2. sudo reboot

**Describe the results you received:**
+----------------------------------------------------------------------------+
 | SONiC-OS-201911.0-7d436b33                                                 |
 |*SONiC-OS-master.339-31baf381                                               |
 | ONIE

[2020-07-09 01:32] anish-n opened #4930 "arp_update script: IPv6 neighbors are not discovered in some cases"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
IPv6 neighbors are not discovered in some cases even though the neighbor is up and responding fine. This is a potential issue with ndisc6 command which gets run as part of the arp_update script.

**Steps to reproduce the issue:**
1. Have an endhost created

[2020-07-09 07:46] tim-rj commented on #4885
'''
root@switch2:/home/admin# redis-cli keys "NEIGH_TABLE*" | wc -l
1958
root@switch2:/home/admin# crm show resources all

Resource Name           Used Count    Available Count
--------------------  ------------  -----------------
ipv4_route                       7              16369
ipv6_route                       8               4092
ipv4_nexthop                  1960              63572
ipv6_ne

[2020-07-09 09:08] alanC-Cameo commented on #4888
after merging the fix (add this line "RUN pip install wheel==0.33.6"), the another error (UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 10: ordinal not in range(128)) reported when installing pytest-ansible==2.2.2 as below.

==========================================
Step 12/39 : RUN pip install --timeout=999 wheel==0.33.6
 ---> Running in dbd433083062
DEPRECATION: Python 2.

[2020-07-09 10:06] tim-rj commented on #4885
sonic_dump_switch2_20200709_174439-1.jpg -> sonic_dump_switch2_20200709_174439.tar.gzaa
sonic_dump_switch2_20200709_174439-2.jpg -> sonic_dump_switch2_20200709_174439.tar.gzab
sonic_dump_switch2_20200709_174439-3.jpg -> sonic_dump_switch2_20200709_174439.tar.gzac

![sonic_dump_switch2_20200709_174439-3](https://user-images.githubusercontent.com/51427706/87026774-cd6c9f00-c20e-11ea-9260-efe1c962dfc

[2020-07-09 10:51] SavchukRomanLv opened #4933 "[fast-reboot] fast-reboot can not be performed due to failed to filter FDb entries"
There are two ways to reproduce issue:
1. SONiC CLI execute:  `sudo fast-reboot`
2. Run fast-reboot test case.

**Steps to reproduce the issue:**
1. Prepare test environment.
2. Deploy T0 topology.
3. Execute `sudo fast-reboot` or run test fast-reboot: `py.test --testbed= --inventory= --testbed_file=testbed.csv --host-pattern= --module-path=ansible/library platform_tests/test_advanced_reboot.py::t

[2020-07-09 11:29] zhanggongc opened #4934 "[ACL BUG] A regular python trace error print when config acl table"
I describe this problem by following screenshot:
![image](https://user-images.githubusercontent.com/58503468/87034468-7371d680-c21a-11ea-97bd-2e94d3d76a3e.png)

"config acl add table -p Ethernet22 ACL_MIRROR mirror"
I input this command repeatly, also show acl table
it will report error regularly..

[2020-07-09 11:44] zhanggongc commented on #4934
root@7393ec979b0a:/# sudo config acl add table  ACL_MIRROR mirror
root@7393ec979b0a:/# show acl table
Name        Type    Binding      Description    Stage
----------  ------  -----------  -------------  -------
ACL_MIRROR  mirror  Ethernet0    ACL_MIRROR     ingress
                    Ethernet4
                    Ethernet8
                    Ethernet12
                    Ethernet16

[2020-07-09 11:44] zhanggongc commented on #4934
![image](https://user-images.githubusercontent.com/58503468/87035927-a2894780-c21c-11ea-8ab7-c2b80a4b311f.png)

[2020-07-09 11:47] zhanggongc commented on #4934
I don't bind any port to acl table, just only create one acl table repeatly, that python trace error still come out regularly

[2020-07-09 12:45] SavchukRomanLv commented on #3630
@lguohan
reproducible again with
SONiC Software Version: SONiC.HEAD.709-dirty-20200707.221645
Distribution: Debian 10.4
Kernel: 4.19.0-6-2-amd64
Build commit: 31baf381

FAILED:10.232.25.165:LAG flapped 2 times on 10.232.25.165 after warm boot
[31mE               FAILED:XXX.XXX.XXX.XXX:LAG flapped 2 times on XXX.XXX.XXX.XXX after warm boot
[31mE               FAILED:XXX.XXX.XXX.XXX:LAG flapped 2 ti

[2020-07-09 13:45] tahmed-dev commented on #4933
we have a fix for this issue in [PR:976](https://github.com/Azure/sonic-utilities/pull/976)

[2020-07-09 15:00] #4924 closed

[2020-07-09 15:58] iMasaruOki commented on #4912
[code]

[2020-07-09 22:48] smaheshm commented on #4907
@ciju-juniper FYI there was a kernel update on July 6th. I know @gechiang also found some issues related to kernel upgrade. @gechiang Have you seen any orchagent related crash in recent (past week) images.

I think the kernel crash and orchagent crash are unrelated. You mentioned it's seen intermittently, are you referring to orchagent crash?

Orchagent is throwing an exception:

Feb 14 10:12:36.8

[2020-07-09 23:00] gechiang commented on #4907
The Kernel issue that I reported was seen on debug enabled image.  I did not observe any Orchagent crash in that scenario.
BTW, any time the Syncd reports error back to Orchagent it will cause Orchagent to crash.  This is known behavior and there are plans to address Orchagent to not crash.  So the fact that Syncd is having problem the Orchagent crash is expected.  I think the focus should be to l

[2020-07-10 00:29] smaheshm commented on #4907
@ciju-juniper Based on the reply from Gen Hwa, lets focus on syncd errors. To understand syncd error better, can you confirm if both syncd error and kernel crash are always seen together.

use ' dmesg -T', with timestamps it becomes easier to compare the two events.

[2020-07-12 04:01] gechiang commented on #4646
@ciju-juniper @BaluAlluru BRCM has requested another repro with "link+ " enabled to help capture more debug information so that they can debug this issue.  Can you please use master.345 image (the latest of master branch) and once your setup boots up, go to BCM shell and issue the following cmd:
bcmsh

drivshell>debug link +

Ctrl-c

After this, then try your steps to move cable to reproduce the i

[2020-07-12 06:48] BaluAlluru commented on #4646
@gechiang,
We tested on Jenkins 338 image on TH1 box.
xcvrd issue is resolved in this image. However port status issue still seen in this image.
Attached are the logs and "show techsupport" for reference.
[QFX5200_Jenkins338_logs.txt](https://github.com/Azure/sonic-buildimage/files/4908127/QFX5200_Jenkins338_logs.txt)
[sonic_dump_sonic_20200710_174513.tar.gz](https://github.com/Azure/sonic-buildim

[2020-07-13 00:32] tim-rj commented on #4885
Append one more info: Only 277 mster build can reproducilbe now, the newest master build works fine.

[2020-07-13 01:42] zhanggongc commented on #4878
@xinliu-seattle

what i focus attention on is following different result :
the way 1 to start ospfclient in frr , firstly I install FRR  in local vm through open source code, and start frr service ,finally start ospfclient. the result is ok, that is the result i want to see .
![image](https://user-images.githubusercontent.com/58503468/87262365-49573780-c4ec-11ea-9f26-4599379b936b.png)

the way 2 t

[2020-07-13 02:59] eppoman commented on #4885
How many ipv4 neighbors learned under linux kernel in the senario of test?

[2020-07-13 03:22] prsunny commented on #4589
Fixed as part of https://github.com/Azure/sonic-utilities/pull/980

[2020-07-13 03:23] tim-rj commented on #4715
I try to fix it by simple not throw error when got SAI_STATUS_TABLE_FULL, but when i shut down a port, orchangent will crash due to reason SAI_STATUS_OBJECT_IN_USE, any help?

[2020-07-13 05:44] PJHsieh commented on #4782
From internal information:
This shall be HW (chip)issue. Therefore, set this issue to done.

[2020-07-13 05:46] PJHsieh commented on #4782
From internal information:
This issue shall be HW (chip)issue. Therefore, close this issue..

[2020-07-13 05:46] #4782 closed

[2020-07-13 09:31] BaluAlluru commented on #4646
@gechiang, We tested **Jenkins 345** image on **TH1** platform.
Issue observed on TH1 platform with this image.

**OIR sequences performed on TH1 platform**.
Switch is rebooted by having Ethernet0 - Ethernet4 ports connected.
Cable moved to Ethernet0 - Ethernet8     ==> Issue observed
Cable moved to Ethernet0 - Ethernet40    ==> Issue observed
Cable moved to Ethernet0 - Ethernet124   ==> Issue obs

[2020-07-13 10:52] keboliu opened #4952 "Kernel oops while unload psample kernel module"
**Description**

When unload the psample module will see kernel oops:

[code]

**Steps to reproduce the issue:**
This issue was observed in "config reload" process when integrating a new SDK version, managed to narrow down and can be reproduced only with two simple steps:

1. load sample module by "modprobe psample "
2. unload sample module by "modprobe -r psample"

**Describe the results you rece

[2020-07-13 15:34] mykolaf commented on #4173
@abdosi @wangxin What was the root cause/fix last time? We observe it again on

[code]

Full log:
[code]

[2020-07-13 17:12] gechiang commented on #4646
@BaluAlluru Thanks for trying out the new image and set the new BCM debug cmd to capture the show tech dump file.
I noticed that in syslog1 although xcvrd did not crash it is still not behaving correctly.  As soon as it started, it continuously detecting SFP insert and removal.  the entire syslog is filled with xcvrd activities.
I do see that the "debug link +" is causing syncd to report all the l

[2020-07-13 17:33] daall opened #4957 "ACLs are not applied to LAGs in latest Mellanox 201911 Image"
**Description**
ACL rules do not get properly applied to LAGs in the latest 201911 build on Mellanox devices.

**Steps to reproduce the issue:**
1.	Create an ACL Table with all front-panel ports (mix of LAGs and physical interfaces)
2.	Apply ACL rules to this table
3.	Send traffic to LAG members
4.	Check ACL counters
5.	Send traffic to physical interfaces
6.	Check ACL counters

**Describe the resu

[2020-07-14 00:42] zhanggongc opened #4961 "ospfclient can be started in FRR installed vm but can't in SONIC docker 's FRR"
I try to start ospfclient by two ways to test ospf api.
1. FRR source code is download  locally and FRR is installed directly in my vm machine  , so ospfclient can be started and ospfclient can get LSA info from ospfd.
![image](https://user-images.githubusercontent.com/58503468/87262365-49573780-c4ec-11ea-9f26-4599379b936b.png)

2.this way to start ospfclient is about SONIC's frr. I compiled frr i

[2020-07-14 00:46] zhanggongc commented on #4961
I have supply a issue about compiling ospfclient last week , nobody can give me any valueable suggestion.
https://github.com/Azure/sonic-buildimage/issues/4878#issuecomment-655590222

[2020-07-14 05:58] lguohan commented on #4651
#4865

[2020-07-14 06:02] lguohan commented on #4952
is this mellanox only issue?

I checked virtual switch.

[code]

I do not see kernel panic.

[2020-07-14 07:02] BaluAlluru commented on #4646
@gechiang, Today we tested **Jenkins 345** image on **TH2** platform.
Port status issue observed with this image.

OIR sequences performed on TH2 platform.
Switch is rebooted by having Ethernet8 - Ethernet12 ports connected.
Cable moved to Ethernet8 - Ethernet16 ==> Issue observed
Cable moved to Ethernet8 - Ethernet40 ==> Issue observed
Cable moved to Ethernet8 - Ethernet252 ==> Issue observed
Cab

[2020-07-14 07:42] keboliu commented on #4952
@lguohan in your test  because psample is in use so you can not unload it. I didn't test it in master, I am integrating a new SDK with 201911, which has a dependency on  psample module, during config reload, after SDK kernel module unloaded, since there will be no reference to the psample, so psample will also be unloaded and can be unloaded, then will see this kernel oops.

In you case, I think i

[2020-07-14 07:44] tim-rj commented on #4879
[sonic_dump_switch2_20200714_153357.tar.gz](https://github.com/Azure/sonic-buildimage/files/4917270/sonic_dump_switch2_20200714_153357.tar.gz)

[2020-07-14 08:04] tim-rj commented on #4885
[code]

[2020-07-14 08:37] keboliu commented on #4952
@lguohan some update, I test it on master image, although I am able to unload the psample module and didn't see this issue, I guess this is because of different kernel.   For this issue, I found that if we change "CONFIG_PSAMPLE=m" to "CONFIG_PSAMPLE=y", make psample built in to kernel instead of pluggable, this can avoid the module unload and so there will be no kernel oops?  What's your view on

[2020-07-14 12:47] Magni79 commented on #4570
Hi,
@abdosi sorry for delayed answer.
Using key **IP_PROTOCOL** causes orchagent crash:
[code]

[2020-07-14 16:47] prsunny commented on #4952
@padmanarayana , @dgsudharsan to take a look and confirm the solution

[2020-07-14 20:50] scottlaird opened #4969 "Routes not propagating from kernel to ASIC"
**Description**

I'm having problems with my Sonic switches failing to route traffic as expected.

Network layout (simplified):

A <=> B (Sonic) <=> C

All routes appear to be correct across A, B, and C.  I'm able to ping A and C from B, and B from A and C.  However, I cannot ping A from C or vice-versa.  In the past, rebooting B has frequently fixed the problem, but new routes haven't consistentl

[2020-07-14 20:56] scottlaird commented on #4969
This doesn't appear to be #4907; `show interface status` still works fine.

[2020-07-14 21:54] scottlaird commented on #4839
I can't reproduce this with build 310 or higher, and I don't have anything older handy.  Probably safe to close now.

[2020-07-14 21:54] #4839 closed

[2020-07-14 22:00] padmanarayana commented on #4952
psample is intentionally built as a loadable module. In case of VS, the module is added via https://github.com/Azure/sonic-buildimage/blob/201911/files/build_templates/sonic_debian_extension.j2#L389 . It is not a built-in since ASIC vendors may choose to build their own psample (for performance/other reasons).

I do not see a crash after removing act_sample & psample in case of VS. Can you please

[2020-07-14 22:07] qiluo-msft commented on #4839
Try to be more clear, if you want to expose different ifName or ifDescr than the default value, you could either modify/create new SKU with different aliases, or change ConfigDB.

[2020-07-14 22:08] scottlaird opened #4970 "config acl add does not support control plane service ACLs"
**Description**

Running `config acl add` for control plane ACLs generates invalid config entries.  Control plane ACLs require a `service` field, and `config acl add` does not provide a way to specify one.

(This is extracted from #4797, as requested.)

**Steps to reproduce the issue:**
1. `config acl add table FOO CTRLPLANE`
2. `show acl table`

**Describe the results you received:**
[code]

**De

[2020-07-14 22:15] scottlaird opened #4971 "caclmgrd does not restart when it dies"
**Description**

dding an invalid control plane ACL via `config acl add` can crash caclmgrd, and when this happens it is not restarted.

This is a companion to #4970, which covers the creation of invalid ACL entries via `config acl add`.  Both are follow-ons to #4749.

**Steps to reproduce the issue:**
1. `ps aux | grep cacl`
2. `config acl add table FOO CTRLPLANE`
3. `show acl table`
4. `ps aux |

[2020-07-14 22:34] #4651 closed

[2020-07-14 22:51] anish-n opened #4972 "Passive neighbor peering does not come up when configured via BGPPeerPassive config in minigraph"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Passive(Dynamic) BGP neighbors, when configured via BGPPeerPassive elements in the minigraph, do not lead to the addition of these passive peers to the actual BGP config.

**Steps to reproduce the issue:**
1. Create BGPPeerPassive as below in the minigraph:
[code]
2. Run '

[2020-07-15 01:41] keboliu commented on #4952
@padmanarayana which version were you tested? I only find this issue on 201911 but not on master. have you checked dmesg after remove psample module?
More clarification, this is not related to SDK, it just observed during the integration of a new SDK. I can reproduce easily with current 201911 official image, on the platform I tested, since there is no other modules depend on psample, so it will n

[2020-07-15 06:16] tim-rj commented on #4877
This issue should has been fixed by others laster Monday.

[2020-07-15 06:18] tim-rj commented on #4733
I see PR been closed, but issue still exist...

[2020-07-15 21:14] prsunny commented on #4969
For the sonic dump, just want to add my observations:

1. zebra is crashed
2. Neighbor entry for 10.0.2.2 doesnt appear to be added
`_NEIGH_TABLE:Ethernet0:10.0.2.2`
3. There is a timeout for orchagent. Not sure if syncd is crashed.
` Jul 14 20:50:02.264545 sw100 ERR swss#orchagent: :- wait: SELECT operation result: TIMEOUT on getresponse
`

[2020-07-15 21:50] scottlaird commented on #4969
Interesting.  Zebra crashed during a previous boot, but it seems to be running now:

[code]

In any case, once a route makes it into the kernel, does Zebra running or not running actually impact orchagent?

WRT the Neighbor entry for 10.0.2.2, I see it in DB 0:

[code]

but it's not in DB 1, except in ASIC_STATE:SAI_OBJECT_TYPE_ROUTE_ENTRY (as above):

[code]

Looking in the swss container's `/var

[2020-07-16 01:29] qiluo-msft commented on #4589
@prsunny So can we close this issue?

[2020-07-16 01:56] tim-rj commented on #4879
append one info: arp -n show the same perfomance, so i think it is a kernel issue?

[2020-07-16 04:01] padmanarayana commented on #4952
@keboliu : I had tested with https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image/399/artifact/target/sonic-vs.img.gz and I realise that this image is already at buster (and psample gets built by default rather than thru a patch after https://github.com/Azure/sonic-linux-kernel/commit/187bb4aa046c26f2fe508e71dc74c230d316838b).

w.r.t 201911, I see that there is a psample

[2020-07-16 07:54] #4589 closed

[2020-07-16 10:20] keboliu commented on #4952
@padmanarayana I don't have too much knowledge in this area, are you able to provide a patch so I can test locally?

[2020-07-16 13:07] BaluAlluru opened #4981 "Warm reboot not working on latest SONiC images"
**Description**
Error observed when executing "warm-reboot -v" command on SONIC Jenkins image 338

**Steps to reproduce the issue:**
1. Load the SONIC Jenkins image 338
2. Copied other SONIC image to box ( we copied SONIC Jenkins 350)
3. Execute the command
    sudo sonic_installer install /home/admin/sonic-broadcom.bin
4. Execute "sudo warm-reboot -v". Observing Error ( Tried multiple times)

**D

[2020-07-16 16:10] smaheshm commented on #4907
@ciju-juniper @BaluAlluru Let me know if this issue still exists.

[2020-07-17 05:56] padmanarayana commented on #4952
Please apply the attached patch and let me know the results.
[Issue4952_Patch.txt](https://github.com/Azure/sonic-buildimage/files/4935979/Issue4952_Patch.txt)

[2020-07-17 07:10] ciju-juniper commented on #4907
@smaheshm Haven't seen this issue yet in the later images.

[2020-07-17 14:58] BaluAlluru opened #4992 ""sonic-installer install " command not working in sonic mainline"
**Steps to reproduce the issue:**
1. load sonic Jenkins image 350 on the box.
2. execute the command "sonic-installer install "
3. Observe Error "NameError: name 'cli' is not defined"

**Describe the results you received:**
root@sonic:/home/admin# sonic-installer install /home/admin/sonic-broadcom.bin
Traceback (most recent call last):
  File "/usr/bin/sonic-installer", line 8, in <module>
    fro

[2020-07-17 15:44] BaluAlluru commented on #4981
opening this issue

[2020-07-17 15:48] smaheshm commented on #4907
Thank you for the update. Will close this.

[2020-07-17 15:48] #4907 closed

[2020-07-17 15:48] smaheshm commented on #4907
Closing as issue is not seeing in later builds.

[2020-07-17 16:33] rlhui commented on #4992
@jleveque - Hi Joe, could this be related to a recent change   https://github.com/Azure/sonic-utilities/pull/983? Thanks.

[2020-07-17 16:38] gechiang commented on #4646
@BaluAlluru BRCM is requesting for a repro with SAI log level setting change.  Unfortunately the swssloglevel setting for SAI components are currently broken in master branch.  See the following issue I raised for more details:

https://github.com/Azure/sonic-swss/issues/1348

We will wait for 1348 issue to be resolved and merged into master branch and then let's capture the info needed by BRCM to

[2020-07-17 17:24] jleveque commented on #4992
@rlhui: Yes. The root group name was changed from `cli` to `sonic_installer` inhttps://github.com/Azure/sonic-utilities/pull/983. However, `verify-next-image` subcommand was being added in an already-open PR https://github.com/Azure/sonic-utilities/pull/979/ at the time. It did not get updated before merge. I have opened a PR to align this command here: https://github.com/Azure/sonic-utilities/pul

[2020-07-17 17:27] dpbouchard commented on #4389
Fix is ready for testing in coordination with Dell as of 16 July 2020.

[2020-07-17 18:01] #4981 closed

[2020-07-17 18:07] BaluAlluru commented on #4981
In the 338 image we tested, xcvrd was not running due to wrong attribute names, which was later corrected in subsequent images.
I manually corrected the attribute names in this image to make xcvrd run.

Not seeing the below issue after xcvrd is running.

root@sonic:/home/admin# **sudo warm-reboot -v**
Fri 17 Jul 2020 11:24:11 PM UTC Pausing orchagent ...
RESTARTCHECK failed
Fri 17 Jul 2020 11:24:2

[2020-07-17 23:40] jleveque opened #4999 "Create a Python library to house common general SONiC-related APIs"
There is currently a lot of duplicated code in many SONiC repos. We need to centralize this common functionality in a Python library which resides in sonic-buildimage that we can import from sonic-daemon-base, sonic-utilities, sonic-platform-common, sonic-platform-daemons, etc. Examples of this functionality include:

- get_platform_and_hwsku()
- get_path_to_platform_and_hwsku()
- get_path_to_port

[2020-07-18 10:19] lguohan opened #5026 "ip route in the kernel does not match routes in bgp"
**Description**

**Steps to reproduce the issue:**
1. download vlab-01.img, vlab-01.memdmp, vlab-01.xml from https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/4972/artifact/kvmdump/
2. modify disk location in vlab-01.xml to point to vlab-01.img
3. in virsh, restore vlab-01.memdmp --xml vlab-01.xml
4. reconnect the T0 testbed to this dut.
5. ./testbed-cli.sh -m veos

[2020-07-18 12:37] davidfordouce opened #5001 "show interface transceiver broken in recent builds"
**Description**

I have recently upgraded a number of Dell z9100 (Broadcom) switchs we use here to the latest build, and whilst the interfaces come up, the data presented by the show interface transceiver series of commands seems to now be broken.

**Steps to reproduce the issue:**
1.  install a recent sonic build eg. 1ca47da4
2. run _show int tran pres_
3. it shows no transceivers even though the

[2020-07-18 23:58] jleveque commented on #5001
Are you noticing xcvrd crashes in the syslog? If so, I believe this should be fixed by https://github.com/Azure/sonic-buildimage/pull/4975.

Please try installing the latest master branch image and report your results.

[2020-07-19 19:39] davidfordouce commented on #5001
I'm afraid this all seems even more broken in the latest build, so I can't get as far as seeing a status:

[code]

Here are the version details:

[code]

[2020-07-19 20:31] jleveque commented on #5001
I still believe the original problem you reported is fixed, however, there appears to be a new, unrelated issue. I believe I have reproduced it. Can you please provide the output of the following commands:

[code]

[2020-07-19 21:34] davidfordouce commented on #5001
Thanks, that seems plausible.

Here is the output you requested.

[code]

[2020-07-19 22:10] jleveque commented on #5001
That's the same symptom I saw. `show interfaces status` displays no output.

It appears this new bug was introduced in a commit between 18bfa6df0823ee25742e6efe1a57ba78a4046cb8 and b3ae7858ca255706e2d5a8f94a00f393667225bb, inclusive. Unfortunately, there were no other nightly builds on Jenkins between these commits, so we don't have images readily available to test.

[2020-07-20 06:54] keboliu commented on #4952
@padmanarayana it worked like a charm, no kernel oops observed and everything is ok after a "config reload", thank. Will you submit this patch?

[2020-07-20 07:04] lguohan commented on #4952
is this upstream patch?

[2020-07-20 16:18] yxieca opened #5007 "NTP long jump is currently disabled, large clock difference is possible"
**Description**
NTP clock long jump is disabled by this PR: https://github.com/Azure/sonic-buildimage/pull/4748. Which could cause sonic device clock to stay far away from actual clock time for extended period of time.

The reason for disabling long jump was to prevent issues raised from software component using wall clock for timer functions (correct way is to use monotonic clock, or steady clock

[2020-07-20 16:37] aravindmani-1 commented on #4912
Team,

I've also faced the same issue where the parallel build was failing.
Compilation succeeded only when changing SONIC_CONFIG_BUILD_JOBS=1.

**Logs:**
[ FAIL LOG START ] [ target/debs/stretch/libsaivs-dev_1.0.0_amd64.deb-install ]
Selecting previously unselected package libsaivs-dev.
(Reading database ... 163266 files and directories currently installed.)
Preparing to unpack .../libsaivs-dev_1

[2020-07-20 17:59] padmanarayana commented on #4952
It's not an upstream patch. psample was backported (https://github.com/Azure/sonic-linux-kernel/pull/94) since it wasn't available in 4.9. The issue is not observed in 4.19. The patch is needed only in 201911.

[2020-07-21 04:22] qiluo-msft opened #5009 "`reboot` on Mellanox platform will return immediately to prompt"
When `reboot`, it will immediately return to shell prompt, and we can run other commands for a while, and then suddenly it reboot. The expected behavior should be no returning.
[code]

[2020-07-21 04:43] stephenxs commented on #5009
Hi Qi,
Is it on master or 201911?
If it's on master, I tend to think it's the reproduction of [issue 4305](https://github.com/Azure/sonic-buildimage/issues/4305)

[2020-07-21 04:46] qiluo-msft commented on #5009
I only checked master. It is not the same, please check `which reboot` in my output.

[2020-07-21 09:55] #4972 closed

[2020-07-21 10:10] lguohan commented on #4952
can you generate the patch on sonic-linux-kernel, we will review the patch there.

[2020-07-21 17:36] prsunny opened #5013 "Vxlan_decap ansible test is failing on Mellanox platform"
**Description**
Vxlan decap test failed during ptf test on mellanox platform with 201911 image.  SDK dump is shared with Mellanox during the problem state. Test is failing on 2700/3800 platforms.

**Steps to reproduce the issue:**
1. Run Vxlan_decap test (Ansible version)
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem import

[2020-07-21 17:37] prsunny commented on #5013
@marian-pritsak , @volodymyrsamotiy is investing this

[2020-07-21 17:44] prsunny opened #5014 "PFC test failing on Mellanox platforms"
**Description**
pfc_functional and pfc_all_port_storm is failing on Mellanox platforms running 201911 image

**Steps to reproduce the issue:**
1. ansible-playbook test_sonic.yml -i str --limit str-sn3800-01 --vault-password-file password.txt -e testcase_name=pfc_wd -e testbed_name=vms12-t0-3800 -e restore_time=3000 -e allow_recover=true -e subtest=pfc_functional
2. ansible-playbook test_sonic.yml

[2020-07-21 17:48] prsunny commented on #4173
@padmanarayana to provide update

[2020-07-21 21:04] madhanmellanox opened #5015 "Aclshow utility: ACL counters are not available for control plane ACLs"
**Description**
We use aclshow utility to display information about ACLs including control plane ACLs. When we execute aclshow -a to display all the ACL tables and rules, we find that for control plane ACLs, counters are displayed as N/A

admin@sonic:~$ aclshow -a
RULE NAME     TABLE NAME      PRIO  PACKETS COUNT    BYTES COUNT
------------  ------------  ------  ---------------  -------------
RUL

[2020-07-21 22:18] jleveque commented on #4999
First step toward resolving this: https://github.com/Azure/sonic-buildimage/pull/5003

[2020-07-22 06:01] venkatmahalingam opened #5017 "Configurations of WARM_RESTART_ENABLE_TABLE pushed to STATE_DB instead of config-DB"
**Description**

WARM_RESTART_ENABLE_TABLE configurations are pushed into STATE_DB instead of config DB in the below pull request, because of this, after every cold reboot, we had to manually re-configure the  below table entries, this can be avoided if we retain the configurations in config DB (as it puts the config to config_db.json upon config save) and push these configs to STATE_DB upon handl

[2020-07-22 11:45] ArunSaravananBalachandran opened #5019 "'show lldp' commands reports "the input device is not a TTY" error"
**Description**

'show lldp' commands when executed via pytest scripts in sonic-mgmt, report "the input device is not a TTY" error.

[code]

When the same command is executed from SSH/console terminal, the output is displayed properly.

**Steps to reproduce the issue:**
1. Execute test_iface_namingmode.py script in sonic-mgmt.

**Describe the results you received:**

[code]

**Describe the results

[2020-07-22 11:58] ArunSaravananBalachandran commented on #5019
As part of [sonic-utilities/PR914](https://github.com/Azure/sonic-utilities/pull/914), ‘lldpctl’ invocation has been changed to:

                'sudo docker exec -it lldp{} lldpctl '

in which use of '-t' option allocates a TTY

[2020-07-22 15:20] xinliu-seattle commented on #5017
This is by design.

[2020-07-22 15:20] #5017 closed

[2020-07-22 15:22] xinliu-seattle commented on #5015
appreciate you can provide a fix PR.

[2020-07-22 15:38] yxieca commented on #4969
@scottlaird :
zebra is responsible for push routes via netlink msgs to appl_db. If zebra is not running, then the routes won't make to appl_db. Please make sure when you test. zebra is healthy.

[2020-07-22 15:43] yxieca commented on #4961
@zhanggongc we discussed this issue in community issue triage meeting. We are not familiar with ospfclient. OSPF is current out of the immediate scope of SONiC. We welcome you to make further progress and teach the community how to work with OSPF.

[2020-07-22 15:49] yxieca commented on #4934
this issue is also reported in issue #4970

[2020-07-22 16:01] yxieca commented on #4879
@tim-rj  Can you clarify your expectation? Is your expectation that the kernel arp entry being aged out at the same time when FDB entry aged out?

Kernel ARP entry aging and FDB entry aging are currently 2 independent mechanisms.

[2020-07-22 16:04] zhanggongc commented on #4961
@yxieca  sir, we are continuing to testing ospfclient api to get LSAs of OSPFD,
our sonic project try to structure topo map of all routers through this way. just try it in sonic .
if we have any successful results ,I will make announce.

[2020-07-22 16:44] venkatmahalingam commented on #4969
I see the route entry 10.0.0.101 in APPL_DB and also as per the latest comment ASIC_DB has the NEIGHBOR entry, @scottlaird Can you check why the neighbor is not programmed to ASIC from Syncd.

 "ROUTE_TABLE:10.0.0.101": {
    "expireat": 1594759892.050941,
    "ttl": -0.001,
    "type": "hash",
    "value": {
      "ifname": "Ethernet0",
      "nexthop": "10.0.2.2"
    }
  },

"SAI_OBJECT_TYPE_NEI

[2020-07-22 21:24] prsunny commented on #4885
Current gc threshold values are as below:

[code]
Its not very clear why kernel entries are not scaling beyond ~2k in your case. Can you adjust the above params to a higher value and retest.? As for Sonic, ARP management is done by kernel completely and applications just set the values as above.

[2020-07-23 00:23] zhanggongc commented on #4934
admin@gdcni:~$ show version

SONiC Software Version: SONiC.V1.00.10R2-03
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: c062c07
Build date: Wed Jun 24 05:21:36 UTC 2020
Built by: gitlab-runner@harbor

Platform: x86_64-accton_wedge100bf_32x-r0
HwSKU: montara
ASIC: barefoot
Serial Number: AJ29068870
Uptime: 08:24:57 up 14:39,  1 user,  load average: 0.28, 0.24, 0.25

Docker images:

[2020-07-23 00:25] tim-rj commented on #4879
No, I mean arp entry should be removed(age) after a few minutes(maybe 5 or longer) when neighbor's ip address is reoved.

[2020-07-23 01:13] scottlaird commented on #4969
I assume this happens in `fpmsyncd`?

Ingestion into appl_db looks like it's working.  I manually added a new route to 10.99.99.98 that mirrored the missing 10.0.0.101 route, and it appeared in appl_db more or less immediately:

[code]

*Except*, this is a `_ROUTE_TABLE` entry, not a `ROUTE_TABLE` entry, with a leading underscore.  Neither my C++ nor my Redis is great, but I think that's coming fr

[2020-07-23 02:23] scottlaird commented on #4969
I don't see a usable neighbor entry for 10.0.2.2 in the ASIC DB (1), only in the APPL DB (0):

[code]

The entry from the ASIC DB is from ASIC_STATE_KEY_VALUE_OP_QUEUE.

From looking at my other switch, I *think* I should be seeing entries more like this:

[code]

I have 0 of those on this switch:

[code]

I decided to try rebooting (again) to see if that helps at all.  I raised the swssloglevel v

[2020-07-23 02:32] scottlaird commented on #4969
Oh for crying out loud.

Fixed.

The root filesystem was full, largely with 2 Sonic images.  Once I removed the older of the two and rebooted everything seems to have popped up fine.  I see neighbor entries, next hops, and a route to 10.0.0.101.

Apparently I need a bigger boot flash device for my 7060CX.

[2020-07-23 03:05] madhanmellanox commented on #5009
The reboot is aliased to /usr/sbin/reboot in super-user mode. Where as in user mode, it is aliased to /usr/bin/root.

In master image,
admin@sonic:~$ echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
admin@sonic:~$ which reboot
/usr/bin/reboot
admin@sonic:~$ sudo su
root@sonic:/home/admin# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
root@sonic:/home/ad

[2020-07-23 07:43] banagiri opened #5025 "syslogs error logs "sflowd is not running""
**Description**

monit tool is logging error logs in syslog as "sflowd is not running", which is causing the log analyzer from ptf to fail

**Steps to reproduce the issue:**
1. config reload or reboot
2.
3.

**Describe the results you received:**
Error logs
sonic ERR monit[377]: 'sflowmgrd' process is not running

root@sonic:/home/admin# systemctl status sflow
● sflow.service
   Loaded: masked (Re

[2020-07-23 07:49] banagiri commented on #5025
@jleveque @yozhao101

This can be fixed by enabling sflow service in init_cfg.json.j2.
But need to know what is the reason for disabling sflow? was it causing delayed startup or any ?
Why the monit script is checking for a disabled service?

[2020-07-23 07:51] volodymyrsamotiy commented on #4236
Fixed by https://github.com/Azure/sonic-swss/pull/1285.

[2020-07-23 07:51] #4236 closed

[2020-07-23 08:12] padmanarayana commented on #4173
sflow feature is disabled by default  ("show features"). However, monit is not excluding disabled features. Issue should not be seen if sflow is enabled in the config. Working on fix.

[2020-07-23 11:19] lguohan commented on #4792
duplicated as #5026

[2020-07-23 11:19] #4792 closed

[2020-07-23 15:36] yozhao101 commented on #5025
The Monit to monitor the processes in sflow container is merged into repo before sflow service is disabled. Right now I am working on the solution which will not monitor the processes in the service according to whether such service is enabled or disabled in configuration file.

[2020-07-23 19:34] padmanarayana commented on #4173
@jleveque and @yozhao101 will be addressing this issue as part of monit infra.

[2020-07-23 19:40] prsunny commented on #4879
@tim-rj, ARP aging is dependent on multiple factors. In case of Sonic, kernel manages the ARP and the gc threshold values are set to > 1k which means, if the number of total number of entries doesn't exceed those limits, there may not be any garbage collection. Again, it may not be a case only for portchannel, you may observe it with regular physical interface as well.

[2020-07-23 19:50] yozhao101 commented on #4173
Yes, I am working on a solution to address this issue.

[2020-07-23 21:08] yxieca opened #5028 "COPP test is triggering ASIC nexthop limit and causing orchagent to crash"
**Description**

**Steps to reproduce the issue:**
1. Run COPP pytest: ./run_tests.sh -d str-dx010-acs-1 -n vms3-t1-dx010-1 -s "test_vrf.py test_vrf_attr.py test_mgmtvrf.py platform_tests/test_cont_warm_reboot.py" -i /var/src/sonic-mgmt/ansible/str,/var/src/sonic-mgmt/ansible/veo -u -m group -p /tmp/logs-01 -c copp/test_copp.py
2.
3.

**Describe the results you received:**
Multiple orchagent cores

[2020-07-24 07:11] zhanggongc opened #5031 "[interfaces] some interfaces can't be displayed when arp table is almost full"
Description:
Our test purpose is testing arp capability in sonic sys. so we send 8192 arp ( different source ip and different dest ip ) traffic totally to a switch running SONIC software, after that , we can input command "show arp" to see the total arp items.
but from now on ,"show ip interfaces " can't display all interfaces we wish to.so we think abnormal or failure must come out in some proces

[2020-07-24 07:24] zhanggongc commented on #5031
admin@gdcni:~$ show version

SONiC Software Version: SONiC.V1.00.10R2-03
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: c062c07
Build date: Wed Jun 24 05:21:36 UTC 2020
Built by: gitlab-runner@harbor

Platform: x86_64-accton_wedge100bf_32x-r0
HwSKU: montara
ASIC: barefoot
Device is not ready: initializing..
Serial Number:
Uptime: 15:23:18 up  6:31,  1 user,  load average: 0.43, 0

[2020-07-24 07:30] zhanggongc commented on #5031
if we send arp flows < 8190 , there will not be any abnormal print log info

[2020-07-24 15:40] prsunny commented on #5031
can you provide the tech dump via show techsupport ?

[2020-07-24 15:41] prsunny commented on #5031
It is likely that some process crash occured

[2020-07-24 15:49] zhanggongc commented on #5031
admin@gdcni:~$ show techsupport

main
mkdir: created directory '/var/dump'
mkdir: created directory '/var/dump/sonic_dump_gdcni_20200724_234343'
'/var/dump/sonic_dump_gdcni_20200724_234343/generate_dump' -> '/usr/bin/generate_dump'
sonic_dump_gdcni_20200724_234343/
sonic_dump_gdcni_20200724_234343/generate_dump
mkdir: created directory '/var/dump/sonic_dump_gdcni_20200724_234343/proc'
'/proc/buddy

[2020-07-24 15:55] zhanggongc commented on #5031
@prsunny    sir ,thanks a lot ..
we can't judge or make sure which process have crashed , how to find this process ?

[2020-07-24 15:56] prsunny commented on #5031
can you please upload the tar.gz file?

[2020-07-24 15:58] akokhan opened #5069 "Caught exception while running Redis lua script"
**Description:**
Flooding of error messages in syslog
[code]
**Environment:**
[code]

[2020-07-24 16:11] zhanggongc commented on #5031
@prsunny   I am waiting the newest result, few minutes later i will upload the file..

[2020-07-24 16:23] zhanggongc commented on #5031
@prsunny  sir,this tar.gz file 's size is 2G . I have never upload a big file like this..  how to upload ? I have not find the upload path in issue..
or can I send a email for you ?

[2020-07-24 16:44] prsunny commented on #5031
can you check if orchagent is crashed? or look for any logs with orchagent in syslog

[2020-07-24 23:33] lguohan commented on #4912
it is likely due to this pr.

The pr that introduce this issue is likely this following PR.

https://github.com/Azure/sonic-buildimage/commit/58632e6e831e6aecb57a4dcca1236c3352e91b1c#diff-54252fe595f09e268f275810298a4beeR494

I did put a lock here. https://github.com/Azure/sonic-buildimage/commit/58632e6e831e6aecb57a4dcca1236c3352e91b1c#diff-54252fe595f09e268f275810298a4beeR508

So, I haven’t figu

[2020-07-25 06:15] scottlaird opened #5040 "IPv6 routes not propagating from APPL_DB to ASIC_DB"
**Description**

Kernel IPv6 routes aren't consistently propagating from the APPL_DB to the ASIC_DB.  This is seen on two different devices running recent(ish) Jenkins builds.

I'm using OSPFv6 to propagate IPv6 routes.  They're appearing in the kernel just fine:

[code]

And they're in the APPL DB:

[code]

But they're not in the ASIC DB:

[code]

There is nothing useful in `/var/log/syslog` or `

[2020-07-25 17:50] scottlaird commented on #5040
Comments on my previous routes-not-propagating bug had questions about next-hop entries.  I'm not sure how those are supposed to work with IPv6, but I don't see *any* v6 next hops in either DB.

[code]

By comparison, my IPv4 route next-hops have NEIGH_TABLE entries in DB 0 and ASIC_STATE:SAI_OBJECT_TYPE_NEIGHBOR_ENTRY entries in DB 1.  So perhaps this is an issue with `fpmsyncd` not generating ne

[2020-07-25 18:38] lguohan commented on #4912
when parallel build is enabled, both docker-fpm-frr and docker-syncd-brcm is built at the same time, docker-fpm-frr requires swss which requires to install libsaivs-dev. docker-syncd-brcm requires syncd package which requires to install libsaibcm-dev.

since libsaivs-dev and libsaibcm-dev install the sai header in the same location, these two packages cannot be installed at the same time. Therefor

[2020-07-25 18:42] scottlaird commented on #5040
I turned `swssloglevel` for `fpmsyncd` up to DEBUG, and added a new route:

[code]

That's coming from https://github.com/Azure/sonic-swss/blob/master/fpmsyncd/routesync.cpp, and it looks okay.  It has the right next hop and interface.  The APPL DB shows the correct ROUTE_TABLE entry and no entry for the next hop.

I then turned up `orchagent` logging, and there are a bunch of these:

[code]

So,

[2020-07-25 22:16] scottlaird commented on #5040
That makes this a duplicate of Azure/sonic-utilities#430, which is ~1.5 years old.  Is there a plan for how best to approach this?

[2020-07-26 22:41] scottlaird commented on #4969
I rebooted the switch, and routes stopped propagating again.  I'm still seeing "wait for getresponse response", and a bunch of queued routes.  So it's not disk space.  Reopening.

[2020-07-27 06:51] liat-grozovik commented on #5015
This is not a P1 issue. it was never worked before. I have reduced the priority
The acl ctrl plan counters are shown as N/A as they cannot read the way they are read today.
For now they should be read by iptables command from the linux shell. @madhanmellanox please add to the issue an example of how to read the info and what is the output a user can get in this case.

The reason it was not already

[2020-07-27 07:07] gechiang opened #5045 "Master branch starting on build 353 BRCM DUT suffers SYNCD get switch_type failure resulting to Orchagent crash"
Starting with Master branch build 353 Orchagent crashes for BRCM DUTs.
If you look into the SYS log you will find the following:
...
Jul 26 22:32:45.980049 str-s6000-acs-8 NOTICE syncd#syncd: :- helperSaveDiscoveredObjectsToRedis: save discovered objects to redis took 2.731556 sec
Jul 26 22:32:45.984351 str-s6000-acs-8 WARNING syncd#syncd: :- helperGetSwitchAttrOid: failed to get SAI_SWITCH_ATTR_E

[2020-07-27 07:12] gechiang commented on #5045
Attaching the syslog after worked around the get switch_type error but then seeing RedisReply system errors...
[get_switch_typeBypassed_RedisReply_srror_syslog.txt](https://github.com/Azure/sonic-buildimage/files/4980491/get_switch_typeBypassed_RedisReply_srror_syslog.txt)

[2020-07-27 07:52] zhanggongc commented on #5031
@prsunny
sir,
"show ip interfaces" this command display nothing now.. I have to input ctl+c.
![Uploading image.png…]()

I have not find any valueable info from following sonic_dump_gdcni_20200727_143432.tar.gz.
orchagent seem to normal.

 give me some guide   ?
appriciately !

[2020-07-27 07:53] zhanggongc commented on #5031
@prsunny
sir,
"show ip interfaces" this command display nothing now.. I have to input ctl+c.
![image](https://user-images.githubusercontent.com/58503468/88517342-46e2fa80-d021-11ea-9c9e-f791953788d3.png)

I have not find any valueable info from following sonic_dump_gdcni_20200727_143432.tar.gz.
orchagent seem to normal.
 give me some guide   ?
appriciately !

[2020-07-27 07:55] zhanggongc commented on #5031
is there any  relevancy with vlan configuration   ?

[2020-07-27 12:27] ciju-juniper opened #5046 "Build breakage on 201911 branch"
Build is broken on 201911 branch due the commit 6216d32db06ff30c0920fbed74940128b9fa2e0e

[code]

Getting the following error while compiling SWSS

[code]

@abdosi Please take a look and provide a fix.

[2020-07-27 15:40] gechiang commented on #5045
opened the issue in sonic-sairedis
https://github.com/Azure/sonic-sairedis/issues/646

[2020-07-27 16:10] abdosi commented on #5046
@ciju-juniper : New build has been triggered.

[2020-07-27 16:22] ciju-juniper commented on #5046
@abdosi Could you tell me how to fix it? I've a local build failure and it need to be restarted.

[2020-07-27 16:23] abdosi commented on #5046
@ciju-juniper. Can you pull latest 201911 and try ?

[2020-07-27 17:46] #4912 closed

[2020-07-27 22:34] madhanmellanox opened #5051 "Interfaces are displayed as Portchannel members even after deletion of the Portchannel"
**Description**

"show interface status" displays Interfaces as port channel members even after deletion of the  Port channel.

**Steps to reproduce the issue:**
1. Create a Port channel
2. Add 2 ports as Port channel members
3. Port channel comes up.
4. Delete the Port channel without deleting the Port channel members first.
5. Invoke command "show interface status", still the interfaces will be

[2020-07-28 06:02] zhanggongc opened #5054 "[portchannel specification]orchagent crashen when config 1000 portchannels"
We config 1000 portchannels in sonic switch;
"show interfaces portchannels" can display this result;
but orchagent process broken down and can't go on running;
![image](https://user-images.githubusercontent.com/58503468/88624871-540ff000-d0da-11ea-8f4b-922682a5b176.png)
![image](https://user-images.githubusercontent.com/58503468/88624962-7f92da80-d0da-11ea-8d48-ad6feeb3695e.png)
![image](https://u

[2020-07-28 06:52] bingwang-ms opened #5055 "fast-reboot fails to run on Arista-7260cx3"
**Description**
The fast-reboot command failed to reboot DUT on Arista-7260cx3 with the following error:
[code]
But fast-reboot is able to run on msn2700 with the same version SONiC.

**Steps to reproduce the issue:**
1. Just run command sudo ** fast-reboot **

**Describe the results you received:**
``
% Specify remote-as or peer-group commands first.
``
Then the fast-reboot exit and DUT is not re

[2020-07-28 19:20] lguohan commented on #5046
issue resolved.

[2020-07-28 19:20] #5046 closed

[2020-07-28 19:25] arlakshm opened #5061 "Move multi-ASIC common functions from sonic_device_util to sonic_py_common"
**Description**
Move all multi-ASIC common functions from sonic_device_util to sonic_py_common

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[

[2020-07-28 20:10] rlhui commented on #4877
@tim-rj, please close this issue if you confirmed. Thanks.

[2020-07-28 20:22] rlhui commented on #4612
@Junchao-Mellanox , does this issue still exist? Thanks.

[2020-07-28 20:24] rlhui commented on #4572
@Ezrickd, will you please confirm if this issue is fixed? Thanks.

[2020-07-28 20:35] Ezrickd commented on #4572
Is the fix present in 201911 ?

I am using only this for now. If so can
You advise on when it was merged.

Ezrickd

Sent from my iPhone
Sorry for his typing errors (-;

On 28 Jul 2020, at 23:24, rlhui <notifications@github.com> wrote:

﻿

@Ezrickd<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FEzrickd&data=02%7C01%7Cezrick%40mellanox.com%7C6ebba41241d64335494c08d833

[2020-07-29 00:21] Junchao-Mellanox commented on #4612
No, we don't see it anymore.

[2020-07-29 01:13] yxieca opened #5064 "restart_swss test cause orchagent to crash on some platform(s)"
**Description**

**Steps to reproduce the issue:**
1. yinxi@acs-trusty8:/var/src/sonic-mgmt/tests$ ./run_tests.sh -d str-dx010-acs-1 -n vms3-t1-dx010-1 -i /var/src/sonic-mgmt/ansible/str,/var/src/sonic-mgmt/ansible/veos -u -p /tmp/logs-01 -c platform_tests/test_sequential_restart.py
2.
3.

**Describe the results you received:**
Test passed, all looks good. however, swss crashed in the middle.

===

[2020-07-29 01:40] #4612 closed

[2020-07-29 01:46] prsunny commented on #5013
The image used for testing was configured with a different Vxlan port (SAI_SWITCH_ATTR_VXLAN_DEFAULT_PORT) instead of the of default "4789" value. Once the value was reset to the default in device, the tests were passing.

[2020-07-29 01:46] #5013 closed

[2020-07-29 07:45] tim-rj commented on #4885
After setting these threshold, arp can reach 4k now, thanks!

[2020-07-29 13:22] Ezrickd opened #5067 "frr.conf doens't reflect running FRR config"
running 201911 with FRRouting (version 7.2.1-sonic)

when checking vtysh "show run" or sonic "show runningconfig bgp", full FRR configuration is displayed.
when checking /etc/sonic/frr/frr.conf only partial configration is dispalyed, this is also relevant to BGP docker /etc/sonic/frr/frr.conf

the issue is imprtant as Tech-Support has no ability to bring the running config, and when ETC folder is

[2020-07-29 15:45] iMasaruOki opened #5068 "All ports are in link down state always on Delta ag9032v2a"
**Description**

All ports are in link down state always on Delta ag9032v2a.
master branch has this problem.  201911 branch are not.

**Steps to reproduce the issue:**
1. Install SONiC on Delta switch
2. Boot and connect port via cable.
3. `show interfaces status`
4. `show services`

**Describe the results you received:**

all ports: oper down, admin up.
pmon docker is not running.

**Describe the

[2020-07-29 17:12] #4971 closed

[2020-07-29 18:08] lguohan commented on #5064
can you provide tech support dump after crash?

[2020-07-29 18:19] #5045 closed

[2020-07-29 18:39] prsunny commented on #4885
@tim-rj, can you please close the issue if resolved?

[2020-07-29 19:26] yxieca commented on #5064
Test issue has been addressed by following PRs, this issue can be dedicated to track image issue.

https://github.com/Azure/sonic-mgmt/pull/1991
https://github.com/Azure/sonic-mgmt/pull/1992

[2020-07-29 19:42] yxieca commented on #5064
[sonic_dump_str-dx010-acs-1_20200729_193738.tar.gz](https://github.com/Azure/sonic-buildimage/files/4997066/sonic_dump_str-dx010-acs-1_20200729_193738.tar.gz)

Attaching show tech.

[2020-07-29 19:45] pavel-shirshov commented on #5067
It is not a bug. It is working as designed. frr.conf contains only base frr configuration. The rest configuration is controlled by bgpcfgd.
I'd suggest to download frr configuration from frr itself. Anyway putting startup configuration as running configuration doesn't make sense for tech-support. The frr configuration could be changed by human, for example.

[2020-07-29 22:20] Ezrickd commented on #5067
Hi Pavel
Allow me to disagree, if user want change FRR config manually he will probably will not use config_db and j2 to create FRR.conf. but rather configure FRR by vtysh and allow it to save.

As for tech-support, better have startup config from nothing at all.

The behavior has changed as in older Sonic images the FRR.conf did reflect the startup config.

I still see that as a flaw in the syste

[2020-07-29 23:27] sumukhatv commented on #5014
pfc_all_port_storm is seen passing at occasionally. I believe the issue is with the log-analyzer.

[2020-07-30 00:10] #5055 closed

[2020-07-30 01:27] tim-rj commented on #4877
It's already fixed, below codes is a evidence，db.keys has changed to db_conn.keys, close this one：

    def dbs_get_vlan_id_from_bvid(dbs, bvid):
        for db_conn in Namespace.get_non_host_dbs(dbs):
            db_conn.connect('ASIC_DB')
            vlan_obj = db_conn.keys('ASIC_DB', "ASIC_STATE:SAI_OBJECT_TYPE_VLAN:" + bvid)

[2020-07-30 01:27] #4877 closed

[2020-07-30 03:02] lguohan commented on #5055
why is this closed？

[2020-07-30 03:04] bingwang-ms commented on #5055
Talked with Pavel offline and he said this is an issue only in internal repo. So I close it here.

[2020-07-30 03:08] lguohan commented on #5055
is the fix to be internal only?

[2020-07-30 03:12] bingwang-ms commented on #5055
Not sure about it for now. I will discuss with Pavel for more details.

[2020-07-30 03:53] mini-nair-dell opened #5072 "S6100: Orchagent crash seen on loading the latest master image - master.362-ee4197e9"
On loading the recent master image, orchagent crashes. Pls find the logs below.

root@sonic-s6100-10:/var/log# docker ps
CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              PORTS               NAMES
3689568e97d2        docker-snmp:latest                   "/usr/bin/supervisord"   46 seconds ago      Up 44 seconds

[2020-07-30 04:08] mini-nair-dell commented on #5072
[syslog.docx](https://github.com/Azure/sonic-buildimage/files/4998728/syslog.docx)
[syslog1.docx](https://github.com/Azure/sonic-buildimage/files/4998729/syslog1.docx)

[2020-07-30 07:44] lguohan commented on #5067
If this is about having "show tech" to include running configuration of frr config, there are multiple ways to implement. We can dump a frr-running.conf in the show tech if that solves the problem.

[2020-07-30 07:47] lguohan commented on #5072
you need this commit [sonic-sairedis] Update Submodule (#5052)

which is only available after build 364. the crash is expected on broadcom platform.

[2020-07-30 07:47] #5072 closed

[2020-07-30 08:51] zhanggongc opened #5074 "[FRR GDB]gdb can't set break point after attaching ospfd but can when attach bgpd"
ospfd and bgpd are all included in **frr**.deb, of couse at one time they can run in same docker  .
GDB tool  can be used for bgpd process  but can't for ospfd process.
![image](https://user-images.githubusercontent.com/58503468/88902200-747bae00-d284-11ea-83c1-5f63a04fa2d9.png)

![image](https://user-images.githubusercontent.com/58503468/88902366-b0167800-d284-11ea-90ae-33cd48feb281.png)

my frr

[2020-07-30 08:57] Ezrickd commented on #5067
Agreed.
Accept any solution that will disclose the FRR running configuration when system snapshot is taken.

Tnx

/Ezrick

Ezrick Dayan
Mellanox, Nvidia Networking Division
Office: +972 74 7128603 | Cellphone: +972 54 4974192 | Email: ezrick@mellanox.com<mailto:ezrick@mellanox.com>
ezrick@nvidia.com

[cid:image001.png@01D66668.8E96D590]   [cid:image002.png@01D66668.8E96D590]

From: lguohan <notifi

[2020-07-30 09:00] lguohan commented on #5068
need more information to debug, current information is not enough. need show tech support file. likely orchagent crash.

[2020-07-30 09:03] lguohan commented on #5054
can you try to find out the reason why orchagent crashes? sonic does not put artificial constraint on number of port channel to support. likely it exceeds the hardware limitation and crash.

[2020-07-30 09:14] zhanggongc commented on #5054
@lguohan
we have found the reason . orchagent crashed when switch hardware driver report buffer not enough.
following log helped me find the underline reason:

Jul 29 08:51:14.195485 gdcni ERR syncd[25]: 2020-07-29 08:51:14.193744 ERROR  (BF_PIPE:(file=null):(func=null):0) - pipe_mgr_adt_ent_reserve_contiguous : Could not allocate a group of 64 contiguous entries for action data table with handle

[2020-07-30 09:16] zhanggongc commented on #5054
bf hardware drivers has some limitations for above SONIC configurations when communicate through SAI

[2020-07-30 09:44] lguohan commented on #5054
my take on this issue is that orchagent should never crash, no matter what. In this case, swss should really query the hardware capability about he number of lag the hardware can support, the reject users' input based on that.

right now, I think @shi-su is doing some pioneer work to enable synchronous SAI api support between swss and syncd so that the syncd will send sai status to orchagent inste

[2020-07-30 10:34] zhanggongc commented on #5054
@lguohan
I think your point should be top grade.
SONIC 's SAI should be a two - way process witch hardware driver.

[2020-07-30 17:34] liat-grozovik commented on #4572
@rlhui please confirm the fix is already merged to 201911 otherwise Ezrik cannot verify it. Or you can let me know which exactly fix you would like me to include in a build for him to test.

[2020-07-30 17:42] rlhui commented on #4572
@liat-grozovik , @Ezrickd, actually the PR to fix this is not yet merged.  Pavel has a question if you could try it.  Before it's merged, please see if it's feasible for you to pull in his PR to your repo and test it, if issue is still found?

[2020-07-30 19:16] Magni79 commented on #4457
@rck-innovium

What about rebooting the switch ? Will this rule (rule with action redirect) be applied correctly during the next rebooting ?
Retrying the ACL rule until NH is reachable will overcome this issue.

[2020-07-30 22:06] abdosi opened #5079 "[201911] syncd-rpc docker can not be loaded on device having <= 4G of disk"
syncd-rpc docker can not be loaded on device having <= 4G of Hard-disk.
In 201911 image we don't have enough space to load syncd-rpc docker on top of existing dockers.

[2020-07-31 05:20] pavel-shirshov commented on #4572
You don't need to build any image
Just donwload file https://raw.githubusercontent.com/Azure/sonic-buildimage/b6c395c864bcb12b688fb120661544a1c7da8fa1/src/sonic-bgpcfgd/bgpcfgd and put it into bgp container instead of the old one
[code]

[2020-07-31 05:38] iMasaruOki commented on #5068
https://www.dropbox.com/s/7r42q95a641e45t/sonic_dump_sonic-delta00_20200731_052142.tar.gz?dl=0
https://www.dropbox.com/s/zxe1pql1q2po46c/pmon.log.gz?dl=0

[2020-07-31 07:27] Ezrickd commented on #4572
Hi Pavel.
tested the new bgpcfgd file,
works Great !
tested with all "zero" and mixed "zero & double colon"
in every test case the Ipv6 is truncated to double colon and FRR config is matching the IPv6 address.
Excellent.
Ezrickd

[2020-07-31 17:14] yxieca opened #5083 "snmp mib.py crash during nightly test"
**Description**

**Steps to reproduce the issue:**
1. run nightly test.
2.
3.

**Describe the results you received:**
snmp mib.py crashed a few times during the test and caused some test to fail.

syslog.30.gz:Jul 31 08:20:16.596307 str-dx010-acs-1 ERR snmp#snmp-subagent [ax_interface] ERROR: MIBUpdater.start() caught an unexpected exception during update_data()#012Traceback (most recent call last

[2020-07-31 17:40] #4572 closed

[2020-07-31 19:12] gechiang commented on #4646
@BaluAlluru @ciju-juniper
We finally have a successful build image in master branch 368 which included the SAI Log level setting fix.
I ran a quick try on my BRCM based DUT to set all the SAI components to DEBUG log level and tried out link flaps to see what info were being captured.  To my disappointment I did not see any additional info provided by the log level setting.  I am in touch with the

[2020-07-31 21:32] gechiang commented on #4646
@BaluAlluru @ciju-juniper BRCM team is available to perform live debug on your failing DUT for the followingtwo time slots next week:
Mon (8/3) 2-4 PM or Wed  (8/5) 1-3PM.
Let me know if one of these time slots works for you.
If None works, please suggest a few time slots for the week of  8/10 that works for you and I check which one they can attend.
Thanks!

[2020-08-01 01:16] abdosi commented on #4127
@mini-nair-dell can we close this

[2020-08-01 07:50] ciju-juniper commented on #4646
@gechiang We work out of Bangalore, India. Due to ongoing pandemic issues, we are working remotely. So we need to talk to our LAB admins and get a time-slot during our day time. We will get back to you on this.

Where is the BRCM team located?

[2020-08-01 09:21] ciju-juniper commented on #4646
@gechiang This is my mail id for scheduling meeting crajank[at]juniper[dot]net

[2020-08-01 23:53] tim-rj commented on #4736
After fix config_db.json's style, the issue has gone. close this!

[2020-08-01 23:53] #4736 closed

[2020-08-02 17:46] yxieca commented on #4961
Thanks @zhanggongc I appreciate it!

[2020-08-03 01:25] zhanggongc opened #5090 "[frr compile]when SONIC_DEBUGGING_ON is enable, sonic-frr compiling don't pass and report error"
SONIC_DEBUGGING_ON ,this debug switch is opened , but it reports error when compiling sonic-frr.
I modified rules/config , enable SONIC_DEBUGGING_ON:
![image](https://user-images.githubusercontent.com/58503468/89137562-0debde00-d56b-11ea-8cdd-f6c9dc53e4dc.png)

compiling reports error like this:
![image](https://user-images.githubusercontent.com/58503468/89137584-2c51d980-d56b-11ea-9434-aa4e03669c

[2020-08-03 01:27] zhanggongc commented on #5090
frr version is 7.2.1

[2020-08-03 06:35] liat-grozovik commented on #3832
we have monitored this issue for quite some time and found it not reproducible any more.
issue can be considered as closed.

[2020-08-04 02:24] xiayunlei opened #5095 "[sonic_sfp] The key for connector dict should be lowercase for class sff8472InterfaceId"
The following is the dict connector  defined in sff8472.py .
connector = {'00': 'Unknown',
             '01': 'SC',
             '02': 'Fibre Channel Style 1 copper connector',
             '03': 'Fibre Channel Style 2 copper connector',
             '04': 'BNC/TNC',
             '05': 'Fibre Channel coaxial headers',
             '06': 'FibreJack',
             '07': 'LC',
             '08': 'MT-

[2020-08-04 19:11] HelenHZhang opened #5097 "build failure at kdump-tools stage while build target/sonic-broadcom.bin"
github commit hash: 70bf65302dfeb5d94f331af01db5487a228ff3b2

**Steps to reproduce the issue:**
1. export NOJESSIE=1
2. make init
3. make configure PLATFORM=broadcom
4. make target/sonic-broadcom.bin

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

error log:

[code]

    **Attach

[2020-08-05 15:06] yxieca commented on #5097
@HelenHZhang can you attach the whole build log?

[2020-08-05 15:09] yxieca commented on #5090
@zhanggongc please attach the full build log for Renuka's reference.

[2020-08-05 15:12] yxieca commented on #5074
@zhanggongc  sorry, we don't have experience with ospf. my guess would be that you might not have the debug symbol?

Maybe @renukamanavalan  can help give some hints.

[2020-08-05 15:13] yxieca commented on #5074
Another suggestion is that you can ask this question in FRR community.

[2020-08-05 15:19] yxieca commented on #5068
@iMasaruOki , we don't currently have this hardware platform in lab to try. Do you mind run a binary search with available images on github and try to find the regression point? Or build some images to find the breaking commit?

It could be a platform change or SAI change. You can find out these changes points and only do binary search on these changes.

[2020-08-05 15:28] yxieca commented on #5051
@madhanmellanox do you think you can help with a fix for this issue too?

We could add a protection to deny portchannel deletion before members are removed. Or we can recursively remove all port channel members.

[2020-08-05 15:36] yxieca commented on #5040
This issue might not be OSPF specific.

Looks like your neighbors are IPv6 link local addresses. Are you able to confirm this is the issue only happen to link local neighbors?

[2020-08-05 15:45] yxieca commented on #5031
@zhanggongc do you mind run some tests, like this time, we think that you created 4000 vlans and then "show ip interface" start to taking long time or hang. There are a few suggestions:

1. At the hanging stage, can you issue 'top' and see if there are any process taking too much CPU?
2. If convenient, can you time how much time "show ip interface" takes with small number of vlans and when it is w

[2020-08-05 15:46] yxieca commented on #5028
This issue was caused by swapping syncd before the tests. That took same execution path as in #5064 and caused orchagent to crash. Test has been changed to call "config reload" instead.

[2020-08-05 15:47] #5028 closed

[2020-08-05 15:51] #4742 closed

[2020-08-05 15:54] yxieca commented on #4734
@tim-rj  There are suggestions that this issue has been addressed in the latest image. Can you give it a try and close this issue accordingly?

[2020-08-05 15:57] yxieca commented on #4733
@tim-rj  according to the discussion on issue #4955. BGP routemap is not currently supported.

[2020-08-05 16:30] HelenHZhang commented on #5097
attached the log with errors:
[kdump-tools-error-sonic-broadcom.bin.log](https://github.com/Azure/sonic-buildimage/files/5029763/kdump-tools-error-sonic-broadcom.bin.log)

[2020-08-05 17:27] antony-rheneus opened #5106 "High Memory usage and possible memory leak in port_indexmapper"
https://github.com/Azure/sonic-buildimage/blob/569289ac86f8a3f5a195ccd4aec613311cb69a0f/dockers/docker-sflow/port_index_mapper.py#L30

Port index mapper inherits some imported modules memory leak/high utilization.

Reproduction step:
Add lot of routes via bgp
Toggle the port link status

Memory Usage:
python /usr/bin/port_index_mapper.py
started with 20% of memory, and stayed in 43% of Memory

  P

[2020-08-05 17:30] antony-rheneus commented on #5106
CC: @padmanarayana

[2020-08-05 17:42] madhanmellanox commented on #5051
@yxieca
I wanted to go with the approach removing all port channel members before portchannel deletion.
But, as I could see from the logs, removeLAGMember for both the ports are getting called, but that is not invoking config removal from config_db, so I was not sure how to come up with the fix.

[2020-08-05 17:43] lguohan commented on #5051
it is easier to do the first approach. block port channel removal if there is member.

[2020-08-05 17:47] madhanmellanox commented on #5051
Sure, I will fix using the first approach - block port channel removal if there is member. I will take it up. Thanks.

[2020-08-05 17:56] prsunny commented on #5064
With BCM SAI 3.7, the max ecmp group is always returned as 1024 instead of the actual hardware capability. This is causing TABLE full error.
`syslog str-dx-1 NOTICE swss#orchagent: :- RouteOrch: Maximum number of ECMP groups supported is 1024`

[2020-08-05 20:21] jleveque commented on #5095
@keboliu, @shlomibitton: Can you please look into this?

[2020-08-05 21:10] stepanblyschak opened #5107 "[fast-reboot] counter polling is not delayed on fast-boot"
**Description**

Inside the swss docker orchagent start.sh executes enable_counters.py script which waits until the uptime of switch is at least 3m,
then writes hardcoded config directly into config db. This was meant to delay counters polling threads on cold/fast-boot. However, if user did "config save -y" after that, counters polling is enabled in CONFIG DB at boot and polling starts imidiatelly

[2020-08-05 22:15] madhanmellanox commented on #4479
The issue is not fixed with Debian  4.19. We are not receiving ICMPv6 Destination Unreachable - Packet Too Big messages towards the source. The issue is not only seen with outgoing SVI IPv6 interface. The issue is seen with any outgoing routed IPv6 interface also.

[2020-08-06 01:24] zhanggongc commented on #5031
@yxieca @prsunny   sir, we have found the reason, linux kernel has a up limit with arp items, it will be ok when we change the kernel limit:
1. vi /etc/sysctl.conf

![image](https://user-images.githubusercontent.com/58503468/89479877-85697980-d7c6-11ea-8234-0198048236d4.png)

2.sysctl -p

[2020-08-06 10:45] lguohan commented on #5026
issue still seeing.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/770/artifact/sonic-mgmt/tests/logs/1vlan/route/test_default_route.log

[2020-08-06 17:50] vaibhavhd opened #5118 "Warm and fast reboot process throws error - "RuntimeError: Eeprom is not Programmed""
**Description**

**Steps to reproduce the issue**
1. Installed latest master broadcom image from public repo. At the time of issue, the image used was - https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/373/artifact/target/sonic-broadcom.bin
2. Issue warm/fast reboot on the device.
3. The error will be thrown before the device actually performs reboot (warm/fast

[2020-08-06 18:19] daddiaz opened #5117 "Support for Dell s6010-ON"
Hi,

I'm having a hard time getting Sonic functioning on Dell s6010-ON.  I installed the prebuilt sonic-broadcom.bin, I was able to log, but running any commands hang.  See my outputs below.  Is this something that is on the road map for supporting?

[    7.596684] rc.local[456]: + cat /etc/sonic/sonic_version.yml
[    7.612899] rc.local[456]: + grep build_version
[    7.630623] rc.local[456]: + s

[2020-08-06 19:57] prsunny commented on #5031
thanks for the update

[2020-08-08 23:16] #4734 closed

[2020-08-08 23:19] #4885 closed

[2020-08-09 02:00] sujinmkang commented on #5118
fix : https://github.com/Azure/sonic-utilities/pull/1037

[2020-08-09 18:20] #5118 closed

[2020-08-10 02:57] bingwang-ms opened #5134 "Failed to run show platform firmware status on Arista7260"
**Description**
Command **show platform firmware status** ran failed on Arista 7260.

**Steps to reproduce the issue:**
1. Just issue **show platform firmware status** and then the error will show.

**Describe the results you received:**
[code]

**Describe the results you expected:**
 The firmware info is expected.

**Additional information you deem important (e.g. issue happens only occasionally)

[2020-08-10 06:03] tim-rj opened #5135 "[201911][kernel][tpm2] Help wanted, how to integrate kernel modification from master for tpm, We can't find /dev/tpmrm0 on kernel 4.09"
**Description**

**Steps to reproduce the issue:**
1. Install TPM2 tools on 201911 sonic
2. User command 'tpm2_getcap properties-fixed' to get tpm version

**Describe the results you received:**
[code]
ls result:
[code]
**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-08-10 12:12] mini-nair-dell opened #5136 "5232/PFC/WD/The orchagent crashes with PG3 and PG4 traffic send together"
Topology:
=========
(source) Ixia1 ------50gig-----Switch------100gig-------Ixia2 (Reciever)

Description:
==============
The orchagent crashes when both the Priority group P3 and P4 traffic ise send together.
The orchagent crashes for P3 or P4 queues, thE traffic behaves as lossy, and PCWD doesnt work
The issue is not seen with uplink and downlink as both 100

Repro Steps:
============
1) Send P3

[2020-08-10 17:41] wendani commented on #5136
Looks like no spare TCAM table to accommodate the second TC

[2020-08-11 03:56] antony-rheneus opened #5143 "[Makefile] make-list builds non-built pkgs instead listing targets"
**Description**

make list and even make clean will start to build a non-built packages when it is not supposed to do.
It is seen after buster migration

**Steps to reproduce the issue:**
1. Enable ENABLE_SYNCD_RPC in rules/config
2. Do make list

sonic-buildimage$ NOJESSIE=1 make list
+++ --- Making list --- +++
EXTRA_DOCKER_TARGETS=list BLDENV=stretch make -f Makefile.work stretch
make[1]: Enter

[2020-08-11 16:38] lguohan commented on #5107
#4691

[2020-08-11 17:04] lguohan commented on #3035
@daall can you check these acl issues? is it still be applicable?

[2020-08-11 17:07] daall commented on #3035
I think we need to add retry logic if the ACL rule is created before the mirror session is ready.

[2020-08-12 05:09] stephenxs opened #5157 "Orchagent received notifications in an order different from the order in which other daemons sent them during dynamic buffer test"
**Description**
Orchagent received notifications in an order different from the order in which other daemons sent them.
This issue can be reproduced in dynamic buffer calculation test.
This is a new feature which will come soon. In the feature, there is a logic that the buffer profile will be dynamically created when a new tuple of speed, cable length occurs and removed when it isn't referenced an

[2020-08-12 06:08] tim-rj opened #5158 "syslogs ERR logs "ERR swss#orchagent: :- removeLag: Failed to remove LAG PortChannel1, it is still in VLAN" after warm_restart teadm.service"
**Description**

syslogs ERR logs "ERR swss#orchagent: :- removeLag: Failed to remove LAG PortChannel1, it is still in VLAN" after warm_restart teadm.service

**Steps to reproduce the issue:**
1.creat a portchannel  and add a port as portchannel member
2.config warm_restart enable teamd
3.sudo systemctl restart teamd

**Describe the results you received:**
syslogs ERR  logs "ERR swss#orchagent: :-

[2020-08-12 16:18] willieken559099 opened #5162 "Celestica DX010 32x100G"
How to configure Celestica seastone DX010 32x100G ports to use 10G in the BCM file ?

[2020-08-12 16:29] neethajohn commented on #5157
I am not clear on what is the dependency logic you are planning to add. Is it retry logic (task_need_retry)?

[2020-08-12 19:11] madhanmellanox commented on #5015
As described in the bug description, as a workaround, we can get the counters information for control plane ACLs using iptables command.

admin@sonic:~$ sudo iptables -L -v -n
Chain INPUT (policy ACCEPT 722 packets, 81748 bytes)
pkts bytes target prot opt in out source destination
33870 4546K ACCEPT all -- lo * 127.0.0.1 0.0.0.0/0
942 226K ACCEPT all -- * * 0.0.0.0/0 0.0.0.0/0 ctstate RELATED,ESTA

[2020-08-12 23:21] stephenxs commented on #5157
yes. to be more precise, we need to:
- record the dependencies among `BUFFER_POOL`,  `BUFFER_PROFILE` and `BUFFER_PG` in orchagent.
    - add a field containing the depending objects to the depended object.  it can be a set or something.
    - when a new object created, add it to the set of the object it depends on
    - when an object's the dependency updated, remove it from the field of the old

[2020-08-13 04:23] mini-nair-dell opened #5170 "5232/PFC/201911/Orchagent crashes while testing PFCWD"
**Description
===========**
While testing PFCWD  orchagent crashes randomly.
The exception is thrown in SAI when setting buffer pool attributes
Unable to recreate at will.
SAI : 3.7.5.1

**Sequence of events seen in syslog that triggered the orchagent crash.
==========================================================================**

Aug  3 09:54:08.709174 sonic ERR swss#orchagent: :- meta_generi

[2020-08-13 04:27] mini-nair-dell commented on #5170
[syslog.4.gz](https://github.com/Azure/sonic-buildimage/files/5067103/syslog.4.gz)

[2020-08-13 15:26] stepanblyschak opened #5172 "snmp and telemetry services are not delayed on fast-boot/warm-boot"
**Description**
snmp and telemetry services are not delayed on fast-boot and warm-boot

**Steps to reproduce the issue:**
1. sudo fast-reboot
2. docker ps
3.

**Describe the results you received:**
snmp and telemetry are started togather with other services

[code]

**Describe the results you expected:**
snmp and telemetry started after 3 minutes delay

**Additional information you deem important

[2020-08-13 18:39] Mike-Ubezzi-MSFT commented on #5162
@lguohan - Would it be possible to assist this this, as the same issue was raise in the MicrosoftDocs channel but there is no direct support for this topic. I am hoping that by bringing attention to the issue raised here, I can help the customer find the information they are seeking. Thank you, Mike.

[2020-08-13 19:13] willieken559099 commented on #5162
Please try to help , it's related to my work

[2020-08-14 05:44] abdosi opened #5185 "/32 Directly Connect subnet not getting programmed in Broadcom platform"
Issue Description:

/32 directly connected subnet route not getting programmed in ASIC
if the corresponding neighbor entry is not learnt for that on Broadcom platform.
Because of above issue if remove route is called then SAI return error causing orchagent to terminate.

If the neighbor entry is present before route add then it gets installed in ASIC.

[2020-08-14 05:45] abdosi commented on #5185
CSP case has been file with broadcom.

[2020-08-17 04:43] gechiang commented on #5069
Can we please fix this ASAP?

This has started to impact the community that uses master branch for development/testing.  I see community member started to ask about wha this specific error is about in their syslog...  Here is one example from Rama Sasthri Kristipati:
"I am seeing below in syslog messages on master build SONiC.master.383-c98734c6. But this error is not seen in 201911 build SONiC.HE

[2020-08-17 11:04] liat-grozovik commented on #5172
Please note that SONiC.201911.142-52e45e82 for sure works better that the latest one.

[2020-08-17 15:22] willieken559099 commented on #5162
Any updates ?

[2020-08-17 17:48] tahmed-dev opened #5201 "VLAN Interfaces Have MTU 1500"
**Description**
VLAN interfaces on host, have default MTU1500. Attempt to reconfigure the MTU to 9100 (Jambo frames). Subsequently, radv does throw a warning message when it add a link MTU:
[code]

**Steps to reproduce the issue:**
1. Reboot into SONiC device with Vlans configured (ToRRouter)
2. Observe Vlan<x> MTU using `sudo ifconfig Vlan<x>`
3. Observe Bridge MTU using `sudo ifconfig Bridge`

*

[2020-08-17 17:50] tahmed-dev commented on #5201
@rlhui, This issue has been fixed via [PR:1393](https://github.com/Azure/sonic-swss/pull/1393)

[2020-08-17 23:23] daall opened #5205 "VS tests fail occasionally during network creation"
**Description**
Very occasionally when running the PR tests or canary tests in sonic-swss, sonic-sairedis, or sonic-utilities we get a setup error like so:

[code]

This happens while `pytest` is initializing the network for the virtual switch to connect to the server container.

**Steps to reproduce the issue:**
1. Run a set of docker virtual switch tests on Jenkins
2. Wait for `ip link` runtime

[2020-08-18 03:35] nazeerhussainf opened #5206 "PFC and Queue counters showing negative values"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-08-18 16:18] Mike-Ubezzi-MSFT commented on #5162
@willieken559099 I am working with a Networking team to figure this out....apologies for the delay.

[2020-08-18 16:19] willieken559099 commented on #5162
Thank you Michael

[2020-08-18 19:00] tahmed-dev commented on #5172
@liat-grozovik please have a look at [PR:5211](https://github.com/Azure/sonic-buildimage/pull/5211)

[2020-08-19 09:21] stepanblyschak opened #5216 "[fast-reboot] FDB entries are not restored on fast-reboot"
**Description**

FDB entries are not restored on fast-reboot. This issues causes traffic to flood for a long period of time till all FDB entries are re-learned. The original fast-reboot design is to save FDB entries to a file and add them on HW in fast-boot ASAP, instead of waiting for learning.

**Steps to reproduce the issue:**
1. ansible-playbook test_sonic.yml -i inventory --limit $sw-t0 -e te

[2020-08-19 11:34] stepanblyschak opened #5217 "[fast-reboot] ARP entries are not restored after fast-reboot"
**Description**

Fast-reboot should dump FDB, ARP entries known prior to reboot and set them on HW ASAP after boot.
This is not observed with ARP entries even if I workaround https://github.com/Azure/sonic-buildimage/issues/5216.
Looking at logs I can observe that FDB entries were set, but neighbors were created only when ports become UP and traffic started to flow. I checked dumped arp.json and i

[2020-08-19 14:17] abdosi opened #5219 "Update caclmgrd to use swsscommon instead of swsssdk"
with the PR#https://github.com/Azure/sonic-buildimage/pull/5022 caclmgrd is using swsscommon select model.
We should replace all instance of swsssdk  to swsscommon.

Issue is raise as Tracking/To-DO item.

[2020-08-19 14:58] chitra-raghavan commented on #4872
As per Broadcom CS update , this  has been fixed in latest Brcm sai version 3.7.5.2.

[2020-08-19 15:05] chitra-raghavan commented on #5206
Output of 'show pfc counters' and 'show queue counters' commands displays negative values on latest master build 329 and 112019 build 110.
root@sonic:~# show queue counters Ethernet4
Last cached time was 2020-07-07 09:44:21.713031
     Port    TxQ      Counter/pkts        Counter/bytes        Drop/pkts        Drop/bytes
---------  -----  ----------------  -------------------  ---------------  ----

[2020-08-19 15:28] xinliu-seattle commented on #5206
please help to add more info on the repro step, counter status.

[2020-08-19 15:47] xinliu-seattle commented on #5170
Please add the CLIs used for this test and procedure it went through.

[2020-08-19 15:50] xinliu-seattle commented on #5162
sonicproject@googlegroups.com is a better place to ask this question.

[2020-08-19 15:51] xinliu-seattle commented on #5162
@zhenggen-xu is this supported by dynamic port breakout?

[2020-08-19 15:56] xinliu-seattle commented on #5158
@tim-rj please join the bi-weekly issue triage meeting on Wed. Please try add port channel then system reboot, does it repro ?

[2020-08-19 15:58] lguohan commented on #5135
what is the use case here?

[2020-08-19 16:19] tahmed-dev commented on #5216
@stepanblyschak Thanks for reporting this issue.  can you please post the content of arp.json?

[2020-08-19 16:21] tahmed-dev commented on #5216
The script filter FDB entries based on the contents of arp.json file and not based on `show arp` command. If arp.json is empty due to [issue:5217](https://github.com/Azure/sonic-buildimage/issues/5217), it is expect to have fdb.json cleared.

[2020-08-19 16:23] tahmed-dev commented on #5201
This issue was opened to track updates into 201911. it is resolved as per above comment. assigning to @rlhui

[2020-08-19 18:49] willieken559099 commented on #5162
Yes it's , the problem that the port doesn't light up when we change the speed to 10g and I believe that has to be done in the Bcm file first, that's why I am asking how to modify the Bcm file to use 10g

[2020-08-19 19:00] zhenggen-xu commented on #5162
OK, I don't think i have the context about your goals.  What exactly you are trying to achieve overall, just change one port to a different speed?  and What sonic version was used in your testing, and which hwsku?

Before the dynamic port breakout feature (which was onboarded recently on master),  to change the port breakout mode, e,g, from 32x100G to 96x25G/10G+16x50G,  you will have to use diffe

[2020-08-20 00:34] tim-rj commented on #5135
@lguohan It is about our private build, but seems that currently the customer accept this device character missing error, so we will do no change about this, simply close this one.

[2020-08-20 00:34] #5135 closed

[2020-08-20 01:42] jleveque commented on #4553
@tahmed-dev has been working to decrease CPU load at boot time due to sonic-cfggen. Reassigning this issue.

[2020-08-20 01:47] jleveque commented on #4160
Should be resolved by the following PRs:
- https://github.com/Azure/sonic-buildimage/pull/4673
- https://github.com/Azure/sonic-buildimage/pull/4676
- https://github.com/Azure/sonic-buildimage/pull/4714
- https://github.com/Azure/sonic-buildimage/pull/4721

If any issues persist, please open a new issue.

[2020-08-20 01:47] #4160 closed

[2020-08-20 01:52] jleveque commented on #3230
@antony-rheneus: Is this issue still valid? If so, can you please add more details to the description?

I don't understand why swss would restart multiple times during config load.

[2020-08-20 01:56] jleveque commented on #3161
Master branch is now running 4.19 kernel, so the patches in the description should be present.

@prsunny: Do you know if there is a plan to set the bridge MTU to 9100?

[2020-08-20 02:10] tahmed-dev commented on #3161
@jleveque: @prsunny and I verified that we can set the bridge MTU to 9100. [PR:1393](https://github.com/Azure/sonic-swss/pull/1393) should close this issue.

[2020-08-20 02:26] jleveque commented on #3161
@tahmed-dev: Thanks for the info! We should then also remove the patch from radvd before closing this issue.

[2020-08-20 02:28] #5172 closed

[2020-08-20 03:48] antony-rheneus commented on #3230
Looks duplicate of https://github.com/Azure/sonic-buildimage/issues/3244
Fix and Issue are discussed in #3244

[2020-08-20 03:48] #3230 closed

[2020-08-20 07:58] jleveque commented on #5001
@davidfordouce: This issue appears to be resolved in the latest master branch. Can you please test an image from the current head?

[2020-08-20 11:20] BaluAlluru opened #5225 "error observed when executing sonic_installer command on latest Jenkins (387) image"
error observed when executing **sonic-installer** command on latest Jenkins (387) image

Wanted to test warm-reboot and fast-reboot features on our box.
As part of testing, executed **sonic-installer** command. error observed.

**Steps to reproduce the issue:**
1. load the Jenkins 387 image on the box
2. copy another jenkins image ( in our case, we copied jenkins 385 image to box)
3. execute "**so

[2020-08-20 14:07] stepanblyschak commented on #5216
@tahmed-dev Sending the repro also with arp.json content:
[code]

The issue #5217 is different. As you can see arp.json has the necessary entry, but after reboot in #5217 those entry are not configured on HW before ports become operationally up.

[2020-08-20 14:14] tahmed-dev commented on #5216
Thanks @stepanblyschak can you please link those files to the issue:
[code]

[2020-08-20 14:20] stepanblyschak commented on #5216
@tahmed-dev  Done

[2020-08-20 18:16] jleveque commented on #1873
Closing as no response for 1 year.

[2020-08-20 18:16] #1873 closed

[2020-08-20 19:47] jleveque commented on #2622
Closing as this has been added via the `FEATURE` table in ConfigDB, hostcfgd and the `show feature` and `config feature` commands.

[2020-08-20 19:47] #2622 closed

[2020-08-20 19:50] jleveque commented on #4934
This is a different issue than https://github.com/Azure/sonic-buildimage/issues/4970.

Reassigning this issue to @daall.

[2020-08-21 02:21] madhanmellanox commented on #5051
The PR containing the fix for review.
https://github.com/Azure/sonic-utilities/pull/1062

[2020-08-21 07:24] lolyu opened #5232 "[test_techsupport[acl]] Failed due to no `DATAACL` table"
**Description**

Testcase `show_techsupport/test_techsupport.py::test_techsupport[acl]` failed because it tries to add rules to table `DATAACL`, which does not exist.
[code]
Manually add this table will make the test pass:
[code]

**Steps to reproduce the issue:**
1. run test `test_techsupport.py::test_techsupport[acl]`

**Describe the results you received:**

**Describe the results you expected:*

[2020-08-21 07:36] #5232 closed

[2020-08-21 16:48] bratashX opened #5236 "[platform-daemons] pcied daemon doesn't work"
**Description**

**Steps to reproduce the issue:**
1. Deploy SONiC.HEAD.748
2. Execute
`docker exec pmon supervisorctl status`
3.  Wait one minute
2. Execute
`docker exec pmon supervisorctl status`

**Describe the results you received:**
pmon daemon restarts every minute.

**Additional information you deem important (e.g. issue happens only occasionally):**

pmon daemon execute pcieutil, but pcieu

[2020-08-24 05:21] bingwang-ms opened #5239 "[show lldp cli] show lldp table/neighbors return 'the input device is not a TTY'"
**Description**

**Steps to reproduce the issue:**
Run **show lldp table** or **show lldp neighbors** from SSH command, like
[code]
I guess the reason for this issue is in  **get_info** method in  **/usr/bin/lldpshow** .
IMO, we should replace the **-it** in **docker exec** with **-i**, because there is no need for a pseudo-TTY when running in command line.
[code]
**Describe the results you receiv

[2020-08-24 06:54] bingwang-ms commented on #5239
Has been fixed in https://github.com/Azure/sonic-utilities/blob/master/scripts/lldpshow

[2020-08-24 06:54] #5239 closed

[2020-08-24 12:58] HelenHZhang commented on #5097
master
with commit hash: 70bf65302dfeb5d94f331af01db5487a228ff3b2

On Aug 21, 2020, at 7:49 PM, Olivier Singla <notifications@github.com<mailto:notifications@github.com>> wrote:

Which branch were you using?
I just tried with a freshly cloned repo, from master, and the build went through fine.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<htt

[2020-08-24 14:27] liat-grozovik commented on #4664
@pavel-shirshov any update on this one?

[2020-08-24 14:29] liat-grozovik commented on #4570
@daall any plan to handle this issue?

[2020-08-24 14:36] keboliu opened #5241 "supervisord-dependent-startup print out error log when stop daemons"
**Description**

supervisord-dependent-startup print out error logs when stopping daemons:

[code]

**Steps to reproduce the issue:**
1. stop some daemons inside swss or pmon will see the error log

**Describe the results you received:**
expecting no error log print out

**Describe the results you expected:**
error log seen

**Additional information you deem important (e.g. issue happens only occa

[2020-08-24 14:37] liat-grozovik commented on #4454
@daall in the last triage meeting, Dell has reported something similar. Can you please refer to it as well?
any plan to fix this one?

[2020-08-24 14:57] liat-grozovik commented on #3971
@neethajohn what is the plan for fixing this issue?

[2020-08-24 15:35] daall commented on #4570
This has been fixed for mlnx-based SKUs. We can't enable NEXT_HEADER across the board yet b/c it will crash other SKUs. I am working with the other vendors to get it added. The crash mentioned here was fixed by: https://github.com/Azure/sonic-swss/pull/1343

[2020-08-24 16:30] olivier-singla commented on #5097
I used this branch, did a rebase to master, did a make clean and rebuilt again, the build went through without any issue.

[2020-08-24 17:38] pavel-shirshov commented on #4664
@liat-grozovik As I already answered in this ticket I didn't see any incoming changes from config_db in the log. bgpcfgd reacts on config_db events, no events - no changes from bgpcfgd side.

[2020-08-24 23:40] neethajohn opened #5244 "Orchagent didn't come up after warm reboot"
**Description**

**Steps to reproduce the issue:**
Saw this issue only once while following the steps listed below
1. Install 201911 image .45
2. Issue 'sudo warm-reboot'

admin@str-7260cx3-acs-7:~$ sudo warm-reboot -v
Mon Aug 24 23:29:52 UTC 2020 Pausing orchagent ...
Mon Aug 24 23:29:52 UTC 2020 Stopping nat ...
Error response from daemon: Cannot kill container: nat: No such container: nat
Faile

[2020-08-25 07:43] Junchao-Mellanox commented on #3832
I reproduce this issue again. I have save the dump file by command
[code]
But it is too big to upload(40M). If you need it for debugging, I can send it via email.

FW version: 13.2008.1310
SDK version: 4.4.1306

SONiC version:
[code]

[2020-08-25 08:11] stephenxs commented on #3832
1 hour is enough and dump file size will be reduced significantly.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Junchao-Mellanox <notifications@github.com>
Sent: Tuesday, August 25, 2020 3:43:30 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Stephen Sun <stephens@nvidia.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/

[2020-08-25 10:47] MaxYaremchuk opened #5245 "Attempt of warm-booting between images fails if images have different FWs."
**Description**
Attempt of warm-booting between images fails with error "ASIC config may have changed: errno=1" if images have different FWs.
According to provided messages(CLI/Syslog)  it's not clear what to do to perform warm-booting. User experience is not good enough.

**Steps to reproduce the issue:**
1. Install image-A with FW-A
2. Install image-B with FW-B
3. Perform warm-reboot: warm-reboo

[2020-08-25 12:15] HelenHZhang commented on #5097
I tried it again. It still failed at the same place.

post installation — cannot change symbolic links when kdump is loaded….

Installing new config file as you requested.
Cannot change symbolic links when kdump is loaded ... failed!
dpkg: error processing package kdump-tools (--install):
 installed kdump-tools package post-installation script subprocess returned error exit status 1
Processing tri

[2020-08-25 12:48] olivier-singla commented on #5097
Did you rebase to master before rebuilding?
After the rebase, this is what I did:
export NOJESSIE=1
make clean
make init
make configure PLATFORM=broadcom
make target/sonic-broadcom.bin

[2020-08-25 13:02] HelenHZhang commented on #5097
I did not rebase. I am already on the master

export NOJESSIE=1
make clean
make init
make configure PLATFORM=broadcom
make all <<<< only difference.

On Aug 25, 2020, at 8:49 AM, Olivier Singla <notifications@github.com<mailto:notifications@github.com>> wrote:

export NOJESSIE=1
make clean
make init
make configure PLATFORM=broadcom
make target/sonic-broadcom.bin

[2020-08-25 17:39] abdosi opened #5246 "[201911] Monit complaining of Telemetry not running when started in Secure mode"
In 201911  Monit complaining of Telemetry not running when started in Secure mode with Certificate.
Issue has been fixed in master and need to be back ported to 201911.

[2020-08-25 17:40] abdosi commented on #5246
Cherry-pick PR#https://github.com/Azure/sonic-buildimage/pull/4286 fixes this

[2020-08-25 17:40] #5246 closed

[2020-08-26 01:41] stephenxs commented on #3842
We haven't observed this issue for a long time. Close it.

[2020-08-26 01:47] stephenxs commented on #3842
We haven't observed this issue for a long time. Close it.

[2020-08-26 01:47] #3842 closed

[2020-08-26 06:26] abdosi commented on #5241
@tahmed-dev should we unlink PR#5248 here ? Not sure this issue is related to PR#5248

[2020-08-26 16:28] tahmed-dev commented on #5241
@abdosi The link between this issue and PT#5248 was removed yesterday. The message should be outdated.

[2020-08-26 22:50] abdosi opened #5255 "[201911] Warmboot fails on Arista 7050"
Issue:
Warmboot from 201911 image to same image fails on Arista 7050 with below logs.

Root Cause
=======

Isssue is generic and can happen on any platform. It is more of timing issue. With the new supervisor way of starting process
swssconfig.sh starts after orchagent goes in running state

[program:swssconfig]
command=/usr/bin/swssconfig.sh
priority=6
autostart=false
autorestart=unexpected
start

[2020-08-26 23:14] rlhui commented on #5241
@jleveque , what's not expected here?  Thanks.

[2020-08-26 23:50] jleveque commented on #5241
@rlhui: The supervisor event buffer overflow is not expected.

[2020-08-27 01:19] jleveque commented on #5241
@keboliu: How are you stopping the daemons to trigger this issue? I can't seem to reliably reproduce it, so I'm not sure that my patch actually fixes this.

[2020-08-27 07:04] stephengzh commented on #5026
@lguohan
Hi guohan, I met the same issue when running test_default_route.py
I added a route and run again, the issue is still existed but I can see the "route raw info". However, the "route parsed info" gives nothing.

27/08/2020 05:37:21 DEBUG devices.py:_run:85: /var/johnar/sonic-mgmt/tests/common/devices.py::get_ip_route_info#617: [str-msn2700-01] AnsibleModule::command Result => {"stderr_lines

[2020-08-27 07:31] tim-rj opened #5257 "[swss test/vs] there is no processes in docker vs"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
no processes up, all test casees failed:
[code]

**Describe the results you expected:**

All test casees pass.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-08-27 07:36] tim-rj commented on #5257
@lguohan this issue relates to swss vs testing for gcov https://github.com/Azure/SONiC/pull/642, help move on, thanks!

[2020-08-27 07:46] tim-rj commented on #5257
add one infomation may help, run below comand to start vs contaniner, the processes will up, but the tests cases will failed due to "docker inspect --format '{{.HostConfig.NetworkMode}}' vs"  return none.
[code]

[2020-08-27 08:53] mini-nair-dell opened #5258 "Z9264/201911-170/Orchagent and python crash with warm-reboot. Kernal crash seen often"
**Description:
=============**
While performing warm-reboot observe python core and orchagent core generated. This is consistently seen in latest NOv image-HEAD
Often we see a kernal crash as well. The logs are attached below.

**Platform :
===========**
DellEMC-Z9264f-C64  with T1 config loaded

**Build :
======**
root@sonic:~# show ver

SONiC Software Version: SONiC.HEAD.170-c243b8a9
Distributio

[2020-08-27 09:05] mini-nair-dell opened #5259 "Z9264/201911-170/NAT is not running in the latest November image"
**Description:
============**
Nat container is not running in the latest image

r**oot@sonic:~# docker ps**
CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              PORTS               NAMES
28bc2fb500f3        docker-sonic-telemetry:latest        "/usr/bin/supervisord"   5 hours ago         Up 44 minutes                           te

[2020-08-27 09:40] BaluAlluru commented on #5225
this issue not observed in Jenkins 395 image.

root@sonic:/home/admin# sonic-installer install sonic-broadcom.bin
New image will be installed, continue? [y/N]: y
Installing image SONiC-OS-master.385-547f0a68 and setting it as default...
Command: bash ./sonic-broadcom.bin
Verifying image checksum ... OK.
Preparing image archive ... OK.
Installing SONiC in SONiC
ONIE Installer: platform: x86_64-broa

[2020-08-27 09:40] #5225 closed

[2020-08-27 09:41] BaluAlluru commented on #5225
issue not observed in Jenkins 395.
root@sonic:/home/admin# sonic-installer install sonic-broadcom.bin
New image will be installed, continue? [y/N]: y
Installing image SONiC-OS-master.385-547f0a68 and setting it as default...
Command: bash ./sonic-broadcom.bin
Verifying image checksum ... OK.
Preparing image archive ... OK.
Installing SONiC in SONiC
ONIE Installer: platform: x86_64-broadcom-r0
onie

[2020-08-27 16:48] pavel-shirshov commented on #5026
@stephengzh Thank you for your update. Do you have bgp and zebra logs for the moment, when default route test stopped working?
You can find them in /va/rlog/quagga. It would be good to have all files from there.

[2020-08-27 16:52] pavel-shirshov commented on #5026
@stephengzh You don't see parsed info, because your raw info doesn't have both src or nexthops information.
Check
https://github.com/Azure/sonic-mgmt/blob/master/tests/common/devices.py#L549

[2020-08-27 18:25] daall commented on #5257
@prsunny is this the problem you ran into a couple weeks ago?

[2020-08-27 19:40] daall opened #5263 "config db not updated with latest config_db.json after VS container restart"
**Description**
The VS test are failing across sonic-swss, sonic-sairedis, and sonic-utilities. We discovered that the issue is that the config_db.json, which is regenerated for the DPB tests, is not being re-read when the VS container restarts.

**Steps to reproduce the issue:**
1. Run `test_port_dpb_*` swss vs test.

**Describe the results you received:**
1. Tests fail
2. /etc/config_db.json doe

[2020-08-27 21:14] #4237 closed

[2020-08-28 01:00] prsunny commented on #5257
@daall, I don't think I faced this issue.

[2020-08-28 08:03] stephenxs commented on #4407
We haven't observed this issue for a long time. close it.

[2020-08-28 08:03] #4407 closed

[2020-08-28 08:10] wangxin opened #5270 "No access to management IP after add/del mgmt VRF"
**Description**

Simply run below commands on SONiC switch, then access to management IP failed, including ping and SSH.
[code]
This issue is not observed on all platforms. So far, I have tested 3 platforms, two of them have this issue:
* Platform: x86_64-arista_7260cx3_64, HwSKU: Arista-7260CX3-D108C8, ASIC: broadcom
* Platform: x86_64-cel_seastone-r0, HwSKU: Celestica-DX010-C32, ASIC: broadcom

[2020-08-28 19:25] davidfordouce opened #5272 "Static Port Breakout Issues"
**Description**

I am following the instructions at https://github.com/Azure/SONiC/wiki/How-to-breakout-a-port to attempt to breakout a 100Gb port into 4x 25Gb ports on a Dell z9100. It appears that this guide is slightly out-of-date with the syntax of some of the files, and following them results in a broken configuration, where `show int status` produces an Operational status of N/A for the port

[2020-08-28 22:05] daall opened #5273 "test_po_update flaky on KVM"
**Description**
Following https://github.com/Azure/sonic-buildimage/pull/5231 the test_po_update became extremely flaky on the PR runners. It is still passing intermittently so we're not sure if this is a test issue or an image issue introduced by the submodule update.

**Steps to reproduce the issue:**
1. Run test_po_update on a virtual switch w/ the latest master image.

**Describe the results y

[2020-08-29 01:46] keboliu commented on #5241
@jleveque,  it happened during "config reload"

[2020-08-29 23:21] abdosi opened #5274 "[201911] Warm boot fail from 201811 to 201911 on Broadcom platform"
When doing Warm-boot from 201811 image (SAI 3.5) to 201911 image (SAI 3.7) we are seeing below errors and warm-boot fails.

Root cause:
In 201911 image when syncd gets internal oid we are getting OID for attribute SAI_SWITCH_ATTR_DEFAULT_STP_INST_ID as part of 3.7 . In 3.5 this attribute was not supported.  This particular case is not handled correctly by syncd and when it compares temp and curren

[2020-08-29 23:21] abdosi commented on #5274
working on fix.

[2020-08-29 23:23] abdosi commented on #5255
Looking into fix.

[2020-08-30 12:06] Ezrickd opened #5275 "COPP with ~350 rules take more than 10 min to install at iptables"
Sonic swith running 201911 build commit f6a8678d
switch has 4 tables 2 for IPv4 and 2 for IPv6 for each there are two protocols SSH & SNMP.
when config reload and check iptables -L -v -n --line-number we see the list of rules go up and down, as if the table is flushed for every rule that is installed. I can see the same on syslog file that rules are insterted to iptales again and again....

it tak

[2020-08-30 18:00] kcudnik commented on #5274
@abdosi  when switch is created, there is discovery logic that discovers all the oids, it does not matter whether its cold or warm boot
so at new instance 3.7 SAI_SWITCH_ATTR_DEFAULT_STP_INST_ID  will be discovered, as it was not present on 3.5
and this should be done in different way, SAI_SWITCH_ATTR_DEFAULT_STP_INST_ID should be added to m_default_rid_map in SaiSwitch.cpp, and then when function

[2020-08-31 11:18] akokhan opened #5277 "sonic-cfggen fails to connect to /var/run/redis/redis.sock"
**Description**
The `sonic-cfggen` utility fails to connect to `/var/run/redis/redis.sock`:
[code]
The issue flow is:
[code]
Probably because `User=admin` in `bgp.service`:
[code]

**Steps to reproduce the issue:**
1. `sudo systemctl restart bgp`
2. `sudo cat /var/log/syslog | grep -B 30 -A 5 /var/run/redis/redis.sock`

**Describe the results you received:**
The `sonic-cfggen` utility fails to con

[2020-08-31 17:45] zhenggen-xu opened #5279 "[201811] [201911] Build failing due to pip setuptools version upgrade"
**Description**

Build for 201811 and 201911 fails while building target/docker-snmp-sv2.gz
This is due to issue: https://github.com/pypa/setuptools/issues/2352

**Steps to reproduce the issue:**
Build 201811 or 201911, you will hit below error:
[code]

**Describe the results you received:**
See above.

**Describe the results you expected:**
Build succesfully.

**Additional information you deem im

[2020-08-31 22:02] abdosi opened #5287 "Arista Platform HW watchdog timeout is not setup correcly"
In 201911 Watchdog timer is not setup correctly on Arista platform.
Default being 180 sec is not converted to milli-seconds setup correctly in the SCD Register.

Looks like following line is missing in 201911:
https://github.com/aristanetworks/sonic/blob/c4108a2e1e1fde809daa46af6fbadcb03c0b5c44/utils/arista#L174

On 201811 Reg Value :
admin@str-a7050-acs-1:~$ sudo watchdog -e
INFO: arming the hard

[2020-08-31 22:14] abdosi commented on #5259
NAT feature is disable by default.
Enable it using command:
sudo config feature status nat enable

[2020-08-31 22:17] abdosi commented on #5245
this is known issue. We are looking into it

[2020-08-31 22:18] abdosi commented on #5217
Looking into this

[2020-08-31 22:27] abdosi commented on #5287
@sujinmkang To follow up with Arista.

[2020-08-31 23:24] tahmed-dev commented on #5277
Thanks @akokhan for creating this issue. The issue was eclipsed on my end as I had `/etc/sonic/sonic-environment` present. In this case, no call is made to `sonic-cfggen` when creating/starting services. I've put out [PR:5289](https://github.com/Azure/sonic-buildimage/pull/5289) with suggested solution to this issue. @lguohan, @qiluo-msft  can you please have a look?

[2020-08-31 23:34] zhenggen-xu commented on #3832
I hit the same issue on 201811 when I was using gdb to attach to syncd for debugging for a few minutes, and exist gdb later.
[code]
might be useful for reproduce the issue easily.  I don't expect we should hit orchagent crash,  but rather more graceful way to handling it.

[2020-08-31 23:35] zhenggen-xu commented on #3832
@kcudnik

[2020-09-01 00:55] stephenxs commented on #3832
@kcudnik probably the fastest way of avoiding this issue is:
- in `transfer_attributes`, throw a certain exception rather than a generic one in case of `src_attr.id != dst_attr.id`
- in the main loop in `internal_redis_generic_get`,
    - catch that exception and handle it by skipping the response causing the exception.
    - an extra timeout should be put in case of response skipped

[2020-09-01 08:37] wangxin opened #5291 "PortChannels may lose IP address after config reload"
**Description**

**Steps to reproduce the issue:**
1. SONiC switch is running the t1-lag topology.
2. Simply run "sudo config reload -y".
3. Check bgp neighbors, check interface IP addresses

**Describe the results you received:**
After config reload, one or multiple PortChannels may lose their IP addresses.

In below console log, PortChannel0023 lost its IP address `10.0.0.28`.

[code]

**Describ

[2020-09-01 09:33] tim-rj opened #5292 "ERR SYSLOG about "ERR monit[555]: 'telemetry' process is not running" and "ERR monit[555]: 'dialout_client' process is not running" and "ERR monit[555]: 'sflowmgrd' process is not running""
**Description**

ERR SYSLOG about "ERR monit[555]: 'telemetry' process is not running" and "ERR monit[555]: 'dialout_client' process is not running" and "ERR monit[555]: 'sflowmgrd' process is not running"

**Steps to reproduce the issue:**
1.upgrade sonic to SONiC.master.399
2.reboot and View syslog

**Describe the results you received:**
ERR SYSLOG as follow:
[code]

**Describe the results you e

[2020-09-01 09:43] tim-rj opened #5293 "ERR SYSLOG about route_check.py"
**Description**

ERR SYSLOG about route_check.py

**Steps to reproduce the issue:**
1.upgrade sonic to SONiC.master.399
2.reboot and View syslog

**Describe the results you received:**
ERR SYSLOG as follow:
[code]

**Describe the results you expected:**
no print ERR in syslog

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[2020-09-01 12:44] kcudnik commented on #3832
no, thats the wrong approach, if attribute is is wrong, then something is wrong with reply, thats whyexception is throw, there is no way to make it skip and continue, since something went wrong, and we dont know why
we need to get to the root cause why this happening
@zhenggen-xu do you have any logs. recordings form that crash ? syslog/sairedis rec

[2020-09-01 16:00] prsunny commented on #5293
This is expected. Orchagent creates a default routes during init and if the device does not learn a default route via BGP/Static etc.. it will be treated as a "mismatched" route. @renukamanavalan for viz

[2020-09-01 16:18] renukamanavalan commented on #5293
Thanks Prince!

[2020-09-01 20:53] #3161 closed

[2020-09-01 21:45] qiluo-msft commented on #5279
Seems the issue is fixed by upstream https://github.com/pypa/setuptools/issues/2352

[2020-09-01 22:00] zhenggen-xu commented on #5279
it looks like not in 50.0.1, but probably a later release which is not available yet.  We could wait if you guys prefer, but I feel we should make a more deterministic build ourselves, depending on upstream dynamics for our build in general is not a good idea.

[2020-09-01 22:13] jleveque commented on #5279
I'm OK with keeping this change in order to make a more deterministic build. We have been locking down more and more package versions for this reason. Package updates will no longer be unexpected; we will have more control over when we upgrade the packages.

[2020-09-01 23:03] zhenggen-xu commented on #3832
@kcudnik  Another case with syslog
[code]
sairedis record shared seperately.

[2020-09-02 05:44] judyjoseph commented on #5291
@rlhui This could be related to the issue for which this PR is raised https://github.com/Azure/sonic-swss/pull/1407.
@wangxin Could you confirm if you are seeing this behavior very recently ?

[2020-09-02 05:45] nazeerhussainf commented on #5206
Attached the logs, repro steps, config_db and Ixia streams.

[2020-09-02 06:03] mini-nair-dell commented on #5259
Hi,

I tried to rnable it manually, and see that, it still doesnt run. If you see in the 'working image' output, we can see that it runs, when the image is loaded itself.

root@sonic:~#  sudo config feature state nat enabled
root@sonic:~# tail -f /var/log/syslog
Sep  2 06:00:06.282852 sonic INFO hostcfgd: Running cmd: 'sudo systemctl start nat.timer'
Sep  2 06:00:06.296850 sonic INFO hostcfgd[1452

[2020-09-02 06:17] mini-nair-dell commented on #5170
We have seen the issue while testing  PFCWD as part of RDMA testing. The test plan was provided by Microsoft.

A snippet of the testplan attached below:

Test Case 6: PFC WD on Server Facing Ports
Goal:
To verify whether PFC WD functions as expected on server facing ports.
Topology:

Figure 2 1 sender and 1 receiver
Test Steps:
1.	Start bi-directional lossless traffic on priority 3 between Server

[2020-09-02 06:22] mini-nair-dell commented on #5170
[MSFT RDMA Qualification Test Cases v1.4.docx](https://github.com/Azure/sonic-buildimage/files/5160468/MSFT.RDMA.Qualification.Test.Cases.v1.4.docx)

[2020-09-02 06:26] mini-nair-dell commented on #4127
@abdosi the issue is still seen in the recent images, and the script still fails

[2020-09-02 07:09] mini-nair-dell commented on #5258
[syslog-orchagent-python.docx](https://github.com/Azure/sonic-buildimage/files/5160627/syslog-orchagent-python.docx)

[2020-09-02 07:31] mini-nair-dell commented on #4429
The issue not seen in the latest builds.

[2020-09-02 07:32] mini-nair-dell commented on #5136
[MSFT RDMA Qualification Test Cases v1.4.docx](https://github.com/Azure/sonic-buildimage/files/5160719/MSFT.RDMA.Qualification.Test.Cases.v1.4.docx)

Attached the test plan doc.

[2020-09-02 07:37] wangxin commented on #5291
@judyjoseph This issue is observed on build SONiC.20191130.45 - 47. Build SONiC.20191130.44 does not have this issue.

[2020-09-02 10:20] kcudnik commented on #3832
@zhenggen-xu i analysed this case (thanks for sairedis recording)

internal_redis_generic_get: generic get failed due to SELECT operation result: TIMEOUT
this is timeout, thats interesting
2020-09-01.22:36:48.722458|g|SAI_OBJECT_TYPE_SWITCH:oid:0x21000000000000|SAI_SWITCH_ATTR_AVAILABLE_IPV4_ROUTE_ENTRY=3551813968
2020-09-01.22:42:48.806119|G|SAI_STATUS_FAILURE
this failed with timeout after 86min

[2020-09-02 14:26] ben-gale commented on #4872
So can we close this one now?

[2020-09-02 15:08] #5293 closed

[2020-09-02 15:13] anshuv-mfst commented on #5292
Need more information:
-  Is sflow docker running
- Confirm if you have deployed testbed
- Upload the tech support.

[2020-09-02 15:16] anshuv-mfst commented on #5291
@judyjoseph to triage this issue.

[2020-09-02 15:19] anshuv-mfst commented on #5287
@abdosi to look into this issue.

[2020-09-02 15:20] #5287 closed

[2020-09-02 15:21] #5279 closed

[2020-09-02 15:24] anshuv-mfst commented on #5277
@lguohan to follow-up with Tamer.

[2020-09-02 15:24] lguohan commented on #5277
why the kvm test is not failing if the service cannot be started?

[2020-09-02 15:26] anshuv-mfst commented on #5275
Issue in 2019 release, causing degradation in performance.

[2020-09-02 15:29] anshuv-mfst commented on #5273
@yxieca to follow-up on this issue.

[2020-09-02 15:35] anshuv-mfst commented on #5272
This has been validated on MLNX platform by adding data in port config ini or config db and breakout worked in 2019 release.

Need more information - add "show techsupport" output to the issue.
@liat-grozovik - to update the wiki.

[2020-09-02 15:37] lguohan commented on #5270
@Anandaraj-Maharajan , can dell look at this issue? it is related to mgmt vrf.

[2020-09-02 15:42] anshuv-mfst commented on #5258
Issue in 201911.

[2020-09-02 15:45] anshuv-mfst commented on #5258
Need more information:
- what is platform? TH
- Is this DELL platform specific issue?
- Warmboot from 2019 to 2019 release?

[2020-09-02 15:47] anshuv-mfst commented on #5258
Seems like HW watchdog issue and Dell specific cc: @lguohan

[2020-09-02 15:47] lguohan commented on #5258
there is a hardware watchdog issue, that must be dell platform specific issue in the going down path.
[code]

[2020-09-02 15:53] anshuv-mfst commented on #5244
Issue not consistently reproducible (seen when PCF and warmboot). Seen on Arista Platform.
@neethajohn - Please add test steps for this issue and how to reproduce this.

[2020-09-02 15:54] lguohan commented on #5236
@sujinmkang, any update on this?

[2020-09-02 16:02] lguohan commented on #5217
@tahmed-dev , can you look at this fast reboot related issue?

[2020-09-02 16:02] anshuv-mfst commented on #5217
@tahmed-dev to look into this issue.

[2020-09-02 16:57] #5274 closed

[2020-09-02 17:28] pavel-shirshov commented on #4429
[code]

[2020-09-02 17:51] jleveque commented on #5275
@abdosi: It appears this regression occurred with the introduction of multi-ASIC support in caclmgrd. Can you please investigate?

[2020-09-02 17:55] abdosi commented on #5275
@jleveque It is not with multi-asic changes. Issue is coming with "caclmgrd_comes with onic hash f6a8678d.txt" which does not have multi-asic changes.

It is working with "old caclmgrd file taken from git .txt" which is pretty old colde where we have different thread to do processing.

[2020-09-02 18:06] sujinmkang commented on #5236
@lguohan I just noticed this issue and am looking into it. I will update this issue soon.

[2020-09-02 20:36] kcudnik commented on #3832
I corelated attached syslog.2 and sairedis.3 and this is what i found:

Nov 14 12:06:10.059420 mtbc-r730-05-vm01 NOTICE syncd#syncd: :- threadFunction:  new span  = 508898

and here:

so in that time window syncd is processing those 50k create/set, and it's very busy, so before it starts to take GET  2019-11-14.12:00:54 from the redis queue, it's is already timed out, since there is a "lot of new

[2020-09-02 21:34] davidfordouce commented on #5272
Thanks for taking a look at this, I attach show techsupport output from the latest jenkins build.

[sonic_dump_sdccab86_20200903_053409.tar.gz](https://github.com/Azure/sonic-buildimage/files/5164933/sonic_dump_sdccab86_20200903_053409.tar.gz)

[2020-09-02 21:58] tahmed-dev commented on #5277
@lguohan it is not clear to me why it did not fail on kvm. Based on my finding from real DUT, `sonic-cfggen` does run under the same user as defined in the .service file. Here is a log from an instrumented sonic-cfggen and it does see same user id as defined in the service unit file.

[code]

I'll dig a bit more on why kvm does not catch this.

[2020-09-02 22:17] zhenggen-xu commented on #3832
In general, we would need transaction ID for GET operations so we could discard the mismatched ones due to time out, but that probably requires quite some work.  For the time being, I feel we should actually increase this 1 minute timeout in sairedis to a bigger value ( it was reduced by https://github.com/Azure/sonic-sairedis/pull/472) on branches that does not support synchronous call yet.

[2020-09-03 00:41] prsunny opened #5303 "Switch level drop counters not working"
**Description**

Enabling drop counter for `switch_ingress_drops` not working as expected

**Steps to reproduce the issue:**
1. show dropcounters capabilities
[code]

2. config dropcounters install test_decap  SWITCH_INGRESS_DROPS DECAP_ERROR
[code]

3. redis-cli

[code]

**Describe the results you received:**
show dropcounters counts -t SWITCH_INGRESS_DROPS

<No output>

**Describe the results yo

[2020-09-03 01:33] daall commented on #5303
After experimenting for a bit I figured out that the issue here is not w/ the switch counter handling, but actually because the name of the counter is lowercase. I will update utilities/swss to not be case-sensitive for the naming. :P

[2020-09-03 03:27] stephengzh commented on #5026
@pavel-shirshov These two files are empty files.

[2020-09-03 06:00] tim-rj opened #5306 "tlm_teamd crash when config a new portchannel"
**Description**

tlm_teamd crash when config a new portchannel

**Steps to reproduce the issue:**
1.config a new portchannel as follow

[code]

**Describe the results you received:**
tlm_teamd crash and generate the core :
syslog as follow
[code]

**Describe the results you expected:**
config success and no print ERR syslog

**Additional information you deem important (e.g. issue happens only occa

[2020-09-03 06:01] tim-rj commented on #5306
root@sonic:/var/core#  ls
tlm_teamd.1599130352.21.core.gz
root@sonic:/var/core# ls -al
total 208
drwxr-xr-x 1 root root   4096 Sep  3 10:52 .
drwxr-xr-x 1 root root   4096 Sep  1 17:30 ..
-rw-rw-rw- 1 root root 202339 Sep  3 10:52 tlm_teamd.1599130352.21.core.gz
root@sonic:/var/core#

[2020-09-03 06:40] tahmed-dev commented on #5277
Reopen in order to track why kvm did not show this issue

[2020-09-03 07:21] #5263 closed

[2020-09-03 15:43] madhanmellanox opened #5307 "201911 - SNMPwalk on Physical Table MIB yields no results"
**Description**

snmpwalk of Physical table MIB yields no results.
madhan@arc-build-server:~$snmpwalk -c public -v2c 10.209.21.32 iso.3.6.1.2.1.47.1.1.1.1
iso.3.6.1.2.1.47.1.1.1.1 = No Such Object available on this agent at this OID

**Steps to reproduce the issue:**
1. Do a snmpwalk on physical table mib on the switch from any server, it will not fetch the results.
2.
3.

**Describe the results y

[2020-09-03 15:49] madhanmellanox commented on #5307
The 201911 image used was:
20191130.44
544aa236c 2020-08-05 | [submodule]: update sonic-utilities [Guohan Lu]

Upon investigation, this image does not have these two commits:
https://github.com/Azure/sonic-snmpagent/commit/bdfcc132aab181287d8e5be20c84f517adc1bdd2
https://github.com/Azure/sonic-snmpagent/commit/a81b402a8ad944db0a20795a135392f4bfaa37ef,

[2020-09-03 16:33] pavel-shirshov commented on #5026
But in this case there were no bgp sessions established. I'd say frr even didn't start working.

[2020-09-03 18:30] BaluAlluru opened #5310 "Docker container iccpd is not running in the image built from latest SONIC mainline code."
Docker container iccpd is not running in the image built from latest SONIC mainline code.

Docker container iccpd is not running in the image built from latest SONIC mainline code.
Cloned the latest SONIC mainline code, built the image by making INCLUDE_ICCPD = y in rules/config file to build "docker-iccpd".
Loaded this image on the box and observed that **docker-iccpd** docker image is part of th

[2020-09-04 06:36] judyjoseph commented on #5291
Not able to reproduce the IP address issue. But the PR which could be the root cause Azure/sonic-swss#1407 is merged, will plan to include this in the next 201911 build.

[2020-09-04 07:52] tim-rj opened #5319 "shutdown the portchannel,but the portchannel member'Oper status is not down"
**Description**

shutdown the portchannel,but the portchannel member'Oper status is not down

**Steps to reproduce the issue:**
1.config a new portchannel
2.add portchannel member
3.shutdown the  portchannel
4.View port status

**Describe the results you received:**

portchannel member (portchannel member) Oper status is not down

[code]

**Describe the results you expected:**
portchannel member (

[2020-09-04 10:56] #4664 closed

[2020-09-04 10:59] mkovnir commented on #4664
BGP_PEER_RANGE depends on presence of Loopback interface in configuration - if loopback is present, ranges are translated into FRR configuration.

[2020-09-04 16:27] gechiang commented on #4646
@ciju-juniper I understand that your lab was impacted by COVID19 few weeks ago and thus not able to provide the information that we have requested via offline email discussion.  The request from BRCM/me was to load a master branch based gdb image and set up two GDB breakpoints that we provided via  the email so that you can help to see during your trigger which one of those break points get hit.

[2020-09-04 16:34] #5255 closed

[2020-09-04 18:35] rlhui commented on #5291
@judyjoseph , @wangxin  - as Xin can reproduce it, do we have a private build that has this change, for Xin to verify if this PR can address the issue? Thanks.

[2020-09-04 23:17] tahmed-dev opened #5323 "KVM Switch: Failed to Detect Redis.Sock Connection Failures"
This is clone of Azure/sonic-buildimage#5277 and is opened in order to track why KVM switch did not detect redis.sock connection failures.

Details copied from [issue:5277](https://github.com/Azure/sonic-buildimage/issues/5277)

**Description**
The `sonic-cfggen` utility fails to connect to `/var/run/redis/redis.sock`:
[code]
The issue flow is:
[code]
Probably because `User=admin` in `bgp.service`

[2020-09-04 23:18] tahmed-dev commented on #5277
This issue is fixed. KVM issue will be tracked via Azure/sonic-buildimage#5323

[2020-09-05 20:04] dev-aviz opened #5328 "Not able to disable port in innovium switch"
**Description**
Not able to disable port in Innovium Switch

**show version**

SONiC Software Version: SONiC.master.0-dirty-20200816.173139
Distribution: Debian 9.13
Kernel: 4.9.0-11-2-amd64

Platform: x86_64-cameo_esc601_32q-r0
HwSKU: esc601-32q
ASIC: innovium
Serial Number: DC64Y19W50T18004
Uptime: 12:17:44 up 4 min,  1 user,  load average: 0.27, 0.29, 0.14

Docker images:
REPOSITORY

[2020-09-05 22:30] #5257 closed

[2020-09-07 02:37] zhanggongc opened #5331 "[sonic-frr ][grpc compile error] it reports error when enable-grpc in sonic-frr"
we try to enable grpc functions in sonic-frr, so we modify this file:
src\sonic-frr\frr\debian\rules
![image](https://user-images.githubusercontent.com/58503468/92343268-dd610c00-f0f5-11ea-962e-466fa0c13acf.png)

but it report error while compiling:
![image](https://user-images.githubusercontent.com/58503468/92343340-10a39b00-f0f6-11ea-8928-f6f8ab22a3c0.png)

configure:26594: checking for GRPC (gr

[2020-09-07 07:07] wangxin opened #5332 "`sudo iptables --list` needs more than 4 minutes if BGP sessions are up"
**Description**

**Steps to reproduce the issue:**
1. SONiC switch is running with the t1-lag topology defined in the sonic-mgmt repo.
2. All BGP sessions are up. The switch is populated with IP routes.
3. Run the `sudo iptables --list` command. It takes more than 4 minutes for the command to complete.
4. Shutdown all the BGP sessions.
5. Run the `sudo iptables --list` command again. Now it takes

[2020-09-08 06:35] BaluAlluru commented on #5310
@shine4chen @sdddean @tylerlinp , Can you please let us know what to do with this issue.
iccpd is not running in sonic-mainline.

[2020-09-08 09:04] tim-rj opened #5334 "WARNING syslog "WARNING swss#orchagent: :- flushFDBEntries: Couldn't flush FDB. Bridge port OID: 0x0 bvid:0" When the neighbor interface is down"
**Description**

WARNING syslog "WARNING swss#orchagent: :- flushFDBEntries: Couldn't flush FDB. Bridge port OID: 0x0 bvid:0" When the neighbor interface is down

**Steps to reproduce the issue:**
1.shutdown neighbor interface
2.cat syslog

**Describe the results you received:**

WARNING syslog "WARNING swss#orchagent: :- flushFDBEntries: Couldn't flush FDB. Bridge port OID: 0x0 bvid:0" When the n

[2020-09-08 09:26] tim-rj opened #5335 "ND Status is REACHABLE When the nd neighbor interface is down"
**Description**

ND Status is REACHABLE  When the  nd neighbor interface is down

**Steps to reproduce the issue:**
1.shutdown neighbor interface
2.show nd

**Describe the results you received:**

[code]

**Describe the results you expected:**
ND Status should be change to STALE  When the nd neighbor interface is down

**Additional information you deem important (e.g. issue happens only occasional

[2020-09-08 10:09] hanstseng commented on #3212
Hi Sir:
  Its been a while that no one answer this question? We still have this issue in the current SAI version

Hans

[2020-09-08 16:30] prsunny commented on #5319
This is an expected behavior. `show int status` for Ethernet (Front Panel) interfaces is the physical link oper status and not the logical oper status. As you can see, the portchannel member state can be observed via 'show int portchannel'

[2020-09-08 18:31] daall commented on #4454
@liat-grozovik there should be a PR out to fix this this week.

[2020-09-09 01:34] willieken559099 opened #5342 "swss ! How to fix failed to start swss?"