[2021-09-02 07:14] Jarvx opened #8662 "Is "rjsysset" an unimported function name ?"
https://github.com/Azure/sonic-buildimage/blob/112fda787782fc70328d7f902412ad64bfdd2b68/platform/broadcom/sonic-platform-modules-ruijie/common/script/fancontrol.py#L719

[2021-09-02 10:50] kcudnik commented on #3008
Unfortunately LUA in redis will not be updated since it has some backward comparability problems with new versions, but i asked for a fix in current repo and made PR here: https://github.com/redis/redis/pull/9449

[2021-09-02 10:56] stepanblyschak commented on #7127
@maksymbelei95 This might be more general issue. As I understand any SONiC command will be killed when SSH session drops. @Hedgehog-Guru Need an analisis of disruptive commands that could lead to switch failure in case SSH session that invokes the command drops (e.g does config reload leaves switch in bad shape if interupted?)

[2021-09-02 14:36] pjeyarat opened #8668 "SWSS crashing on 202012 build image"
Hi,

I am using 202012 image of sonic release, my logs show following when swss crashes , is it possible to get some clarification on this error messages ?

[code]

[2021-09-02 22:34] Staphylo commented on #7800
Please close this issue.

[2021-09-03 00:30] prsunny commented on #8668
Can you provide the platform details?

[2021-09-03 00:55] bingwang-ms opened #8671 "[ACL][TD3] MIRROR_EGRESS_ACTION appears in SWITCH_CAPABILITY table before being supported"
#### Description

The issue is detected by test case ```test_everflow```.
The test case will read switch capability from STATE_DB to determine on which stage to run testing, i.e, ```ingress``` or ```egress```. We noticed that the ```egress``` everflow test was failing in last few days on ```Broadcom``` platform, which should be skipped.
The reason is because  ```MIRROR_EGRESS_ACTION``` appears in

[2021-09-03 01:47] prsunny opened #8672 "[Caclmgrd] Unexpected logs during mux state change"
#### Description

While Mux state change is triggered, the following logs were observed on the DUT:

`Sep 2 21:09:33.724837 str2-7050cx3-acs-09 WARNING caclmgrd[1003]: Unexpected update in MUX_CABLE_TABLE
`
More logs:
[code]

#### Steps to reproduce the issue:
1. Trigger mux state change on DUT
2.
3.

#### Describe the results you received:
Unexpected Warning logs.

#### Describe the results you e

[2021-09-03 01:50] prsunny commented on #8531
@vaibhavhd , are you looking into this issue?

[2021-09-03 02:02] lguohan commented on #8645
@qiluo-msft can you try to repro and see where is the problem?

[2021-09-03 04:22] trzhang-msft commented on #8672
Thanks. Fix is here: https://github.com/Azure/sonic-buildimage/pull/8673

[2021-09-03 04:23] trzhang-msft commented on #8672
master branch is all good

[2021-09-03 06:24] gechiang commented on #8671
CS00012207240 filed against BRCM.
From the last set of BRCM SAI changes that went into 4.3.5.1-1 found a piece of code that was causing this capability issue and removed it.  A new SAI built with this change proves to have fixed this issue.
@lguohan should I raise a PR for this potential fix or should I wait for BRCM official fix?

[2021-09-03 14:19] pjeyarat commented on #8668
We are using barefoot with default switch-p4-16 implementation.

[2021-09-03 21:56] gechiang commented on #7616
This issue was fixed as part of the SAI 4.3

[2021-09-03 21:56] #7616 closed

[2021-09-03 21:59] gechiang commented on #7276
@blueve Can you please try out any latest 202012 image that has SAI 4.3.5.1 or later versions.
I did validate this to be fixed already.  if you still find issues, feel free to reopen this issue.
Closing it now...

[2021-09-03 21:59] #7276 closed

[2021-09-03 22:01] gechiang commented on #7240
Per @vaibhavhd test result comment I am closing this issue.

[2021-09-03 22:01] #7240 closed

[2021-09-03 22:01] gechiang commented on #7017
Closing this issue as it is already fixed.

[2021-09-03 22:01] #7017 closed

[2021-09-03 22:04] gechiang commented on #6323
@chitra-raghavan I assume no news is good news...  I am closing this issue now. if you feel this is unresolved, please reopen it...
Thanks!

[2021-09-03 22:04] #6323 closed

[2021-09-03 23:08] adyeung commented on #8606
The fix will require a few changes from fpmsyncd, neighbororch, routeorch to address the FRR BGP IPv6LL NH, BRCM is targeting the fix to be pushed around 9/15.

[2021-09-03 23:30] v-wfarris commented on #8657
Let me know if there is any more information needed from me.
Thanks
Wes

From: Prince Sunny ***@***.***>
Sent: Wednesday, September 1, 2021 5:31 PM
To: Azure/sonic-buildimage ***@***.***>
Cc: Wesley Farris (BIBLIOSO CORPORATION) ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/sonic-buildimage] Mellanox 2700 Unable to configure mgmt ip and hostname info (#8657)

@volodymyrsamotiy<https://nam0

[2021-09-04 00:59] prsunny opened #8686 "[Coppmgr] Disable traps that are not explicitly present in feature table"
#### Description

In the current design, Coppmgr checks the feature table for status before installing traps. Sometimes, the *new* traps may not be added to feature table or could be missed, and since the existing logic is to enable a trap, if the corresponding feature is not present, such new traps can get installed and orchagent may fail.

We need a logic change to disable the trap if the featur

[2021-09-04 01:00] prsunny commented on #8686
cc @dgsudharsan

[2021-09-04 05:31] #8436 closed

[2021-09-06 01:42] #8585 closed

[2021-09-06 02:43] bingwang-ms commented on #8518
Fixed. Both expired_ttl and not_expected_vlan_tag tests are skipped now.

[2021-09-06 02:43] #8518 closed

[2021-09-06 07:57] andriyz-nv commented on #8518
Added ignore in https://github.com/Azure/sonic-mgmt/pull/4159

[2021-09-06 09:11] AkhileshSamineni commented on #8571
@dgsudharsan I am able to recreate the issue.
After second step 2, the RIF is not getting deleted due to ipv6 link-local neigh entry is not deleted from APPL_DB, resulting in refcount for the interface (Ethernet24) is non-zero.

I have fixed it.

[2021-09-07 01:01] #8457 closed

[2021-09-07 01:12] lolyu commented on #8510
Close as it is not reproduced anymore.

[2021-09-07 01:12] #8510 closed

[2021-09-07 01:22] lolyu commented on #8425
We have another regression seen on t1 nightlies with errors like:
[code]

[2021-09-07 03:25] gukunqing opened #8691 "How to define docker_base_buster_debs in dockers\docker-base-buster\Dockerfile.j2"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-09-07 05:55] Xichen96 opened #8692 "soft-reboot failed to boot up"
#### Description

soft-reboot does not actually boot up. Console show the switch keeps rebooting.

#### Steps to reproduce the issue:
1. soft-reboot

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally)

[2021-09-07 12:16] ArunSaravananBalachandran commented on #8656
Please provide the output of the following commands:

- ipmitool sensor list
- ipmitool fru list

[2021-09-07 14:54] tjchadaga commented on #8656
Attached as ipmi_sensor_info.txt

[2021-09-07 15:46] vaibhavhd commented on #8523
https://github.com/Azure/sonic-utilities/pull/1774 fixes this issue.

[2021-09-07 15:46] #8523 closed

[2021-09-07 15:47] vaibhavhd commented on #8546
CSP with broadcom was raised for this. Brcm has confirmed the issue, and working on fixing this from their end.

[2021-09-07 16:14] nazariig commented on #7403
@kcudnik PSB
* does this happen after warm boot? what's the scenario here ?
no warm-reboot, simple port breakout on vs platform
* was this ever working and it broke, or are you trying to add new test case?
don't know, this is just a simple manual test
* can you attach syslog and sairedis recording from that full session?
done
* does syslog contain line: "setup forward rule for" for the Ethernet0 e

[2021-09-07 16:28] nazariig commented on #7403
@kcudnik FYI. An aggregated log (`syslog` + `sairedis`):

*SONiC CLI:*
[code]

*SONiC LOGs:*
[code]

[2021-09-07 18:42] kcudnik commented on #7403
Ok, ther is a bug which returns false in sai_status_t expected function, and ifup fails which should fail in hostif creation on the first place

[code]

seems like you have naming interface wrong in lanemap.ini, you have eth1 defined, but system link discovers Ethernet0 device

in this scenario even with not breaking ports, traffic should not flow since hostif were not created at all

here is fix:

[2021-09-07 21:01] dgsudharsan opened #8697 "[DPB]config load_minigraph initializes all ports admin status to up when using platform.json"
#### Description

config load_minigraph initializes  all ports admin status to up when using platform.json.
The update minigraph has logic to initialize only the ports whose neighbors are defined (https://github.com/Azure/sonic-buildimage/blob/202106/src/sonic-config-engine/minigraph.py#L1486)
 or those belonging to portchannel (https://github.com/Azure/sonic-buildimage/blob/202106/src/sonic-confi

[2021-09-07 22:23] gechiang commented on #8446
@aravindmani-1 please take a look and provide comment.

[2021-09-07 23:35] Blueve opened #8698 "[Nokia][7215] SAI: ERROR PORT issue in syslog"
#### Description

SAI: ERROR PORT log detected in syslog.

#### Steps to reproduce the issue:
1. Install image
2. Reboot and wait system up
3. `cat /var/log/syslog | grep ERR`

#### Describe the results you received:
[code]

#### Describe the results you expected:
No such logs appear.

#### Output of `show version`:
Use image: Image: https://dev.azure.com/mssonic/build/_build/results?buildId=33599

[2021-09-07 23:38] Blueve opened #8699 "[Nokia][7215] SAI: ERROR HOST_INTERFACE"
#### Description

SAI: ERROR HOST_INTERFACE detected in syslog.

#### Steps to reproduce the issue:
1. Install image
2. Reboot and wait system up
3. `cat /var/log/syslog | grep ERR`

#### Describe the results you received:
[code]

#### Describe the results you expected:
No such logs appear

#### Output of `show version`:
Use image: Image: https://dev.azure.com/mssonic/build/_build/results?buildId=

[2021-09-08 01:45] sujinmkang opened #8700 "[202012] test_pmon_ledd_term_and_start_status is consistently failing"
#### Description

#### Steps to reproduce the issue:
1.test_pmon_ledd_term_and_start_status
2.
3.

#### Describe the results you received:
platform_tests/daemon/test_ledd.py::test_pmon_ledd_running_status PASSED [ 25%]
platform_tests/daemon/test_ledd.py::test_pmon_ledd_stop_and_start_status PASSED [ 50%]
platform_tests/daemon/test_ledd.py::test_pmon_ledd_term_and_start_status FAILED [ 75%]
platfor

[2021-09-08 02:03] vaibhavhd opened #8701 "PFC-WD warmboot cases are failing with unexpected packets received"
#### Description

PFC watchdog warmboot testcases are failing with `AssertionError: Received packet that we expected not to receive`.

#### Steps to reproduce the issue:
1. Run cases under `pfcwd/test_pfcwd_warm_reboot.py`
2. IO failures are seen. The issue is flaky.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]

[2021-09-08 06:48] #8553 closed

[2021-09-08 07:05] CharlieChenEC opened #8703 "AS7326-56X: Change port speed on Ethernet0 will also change the port speed on Ethernet1,2,5"
#### Description

When I execute the CLI command to change port speed of Ethernet0 from 25G to 1G, the port speed of Ethernet1, Ethernet2 and Ethernet5 will also be changed to 1G(This is observed from the output of 'bcmcmd ps'). The problem not only happens on Ethernet0, it happens on Ethernet0-47(All of the 48 SFP ports) actually. As I know, the observed result might be related to the hardware de

[2021-09-08 07:51] nhe-NV opened #8704 "[ARP] Config arp proxy return "ndppd: ERROR (no such process)" occationally"
#### Description
The issue happened on both 202012 and 202106 branch, but it is not always reproducable.
The CLI command "sudo config vlan proxy_arp 40 enabled" will restart the “ndppd” daemon using “supervisorctl” tool, But it is not present in the “supervisord” configuration, so “supervisorctl” reports “ndppd: ERROR (no such process)”.

#### Steps to reproduce the issue:
1. sudo config vlan add

[2021-09-08 09:10] lolyu commented on #8425
For recently failures, they were only seen over 20201231.22 image.
The failure is because the route is not present on one of the T2s: `ARISTA07T2`
[code]

But from the log, in the function `check_bbr_route_propagation` that checks the route on the DUT, the route output:
[code]
But we could see that the neighbor `ARISTA07T2(10.0.0.13)` is in the `advertisedTo` list.
So we could guarantee that the d

[2021-09-08 10:46] Xichen96 commented on #8692
/data/sonic-mgmt-int/tests$ ./run_tests.sh -c platform_tests/test_reboot.py::test_soft_reboot -n xxxxxx -i ../ansible/str,../ansible/veos -f ../ansible/testbed.csv -e "--disable_loganalyzer" -u
=== Running tests in groups ===
/usr/local/lib/python2.7/dist-packages/ansible/parsing/vault/__init__.py:44: CryptographyDeprecationWarning: Python 2 is no longer supported by the Python core team. Support

[2021-09-08 12:08] aravindmani-1 commented on #8446
@gechiang , @tjchadaga  Thermal control is done by BMC in DellEMC Z9332f platform. There is no need to implement thermal_policy.json for this platform and the test script may have to be changed to ignore the thermal_policy.

[2021-09-08 16:03] volodymyrsamotiy commented on #8642
@lguohan , @yozhao101
Could you please clarify if is there any progress?
Currently I see that all PRs in "sonic-buildimage" are failing and not only for "202012", but for "master" as well.
Thanks in advance.

[2021-09-08 19:17] yozhao101 commented on #8642
We are actively working on fixing this issue.

[2021-09-08 21:39] #8300 closed

[2021-09-09 00:25] DACRepair commented on #2042
I just came around to looking at SONiC. I cannot access the builds, so I am assuming others cannot as well.
![image](https://user-images.githubusercontent.com/7535519/132602734-d191b6ec-cfcb-4e3f-9eea-3ec11da602bc.png)

[2021-09-09 05:54] Blueve commented on #7276
Yes, this issue has been addressed.  Thanks for closing this issue : D

[2021-09-09 06:42] volodymyrsamotiy commented on #8657
@prsunny @v-wfarris
Will check it

[2021-09-09 08:53] #8425 closed

[2021-09-09 12:12] kcudnik commented on #3008
ok, that PR on redis was merged, so we just need to wait for next redis package release on ubuntu

[2021-09-09 14:17] Blueve commented on #8699
https://github.com/Azure/sonic-swss/blob/master/orchagent/intfsorch.cpp#L1311

[2021-09-09 14:22] yxieca commented on #8699
The more concerning issue is that there seems to be a dependency that neighbor entry can only created with a known fdb entry.

All FF mac is used for direct broadcast feature.

[2021-09-09 14:52] #7403 closed

[2021-09-09 14:53] rajkumar38 commented on #8699
Just to clarify, neighbor creation will not be failed, when FDB entry not found.
In this specific case, SDK is configured to flood in vlan.
Confusion is because of the log level. We will fix the log level.

[2021-09-09 16:11] shi-su commented on #8252
Failure is not seen recently. Closing this issue.

[2021-09-09 16:11] #8252 closed

[2021-09-09 17:07] v-wfarris commented on #8657
Okay I am seeing some additional commands you ran that were not ran in this website https://github.com/Azure/SONiC/wiki/L2-Switch-mode
When back on site tomorrow I will try running the additional commands and test out.
Thanks
Wes

From: Nazarii Hnydyn ***@***.***>
Sent: Thursday, September 9, 2021 7:00 AM
To: Azure/sonic-buildimage ***@***.***>
Cc: Wesley Farris (BIBLIOSO CORPORATION) ***@***.***>

[2021-09-09 17:50] v-wfarris commented on #8657
The only commands I ran for the 2700 from the website https://github.com/Azure/SONiC/wiki/L2-Switch-mode were the following.  Can you please replicate by only running those commands?

cat <<EOF | sudo config reload /dev/stdin -y
{
    "MGMT_INTERFACE": {
        "eth0|10.199.0.239/25": {
            "gwaddr": "10.199.0.129"
        }
    },
    "DEVICE_METADATA": {
        "localhost": {

[2021-09-09 19:08] vganesan-nokia commented on #7879
Fixed in SAI release 5.0.0.6

[2021-09-09 19:08] #7879 closed

[2021-09-09 19:08] vaibhavhd opened #8722 "[warmboot] Recovery path failed when syncd hits "Runtime error: :- translateVidToRid""
#### Description

Syncd sends switch shutdown request to OA after "Runtime error: :- translateVidToRid: unable to get RID for VID".

Orchagent, cannot process this request gracefully, while warm recovery is in progress, and leads to SIGSEGV error with core.

#### Steps to reproduce the issue:
1. Install latest master image
2. Issue "warm-reboot" command (no test/traffic needed)
3. There will be er

[2021-09-09 19:11] vganesan-nokia commented on #7451
Fixed by PR https://github.com/Azure/sonic-swss/pull/1729.

[2021-09-09 19:11] #7451 closed

[2021-09-09 19:20] vganesan-nokia commented on #7912
Fixed by PR https://github.com/Azure/sonic-buildimage/pull/7911

[2021-09-09 19:20] #7912 closed

[2021-09-09 19:22] vganesan-nokia commented on #8112
Fixed by PR https://github.com/Azure/sonic-buildimage/pull/8050

[2021-09-09 19:22] #8112 closed

[2021-09-10 00:42] vaibhavhd commented on #8531
Yes, I am tracking this offline. Checksum failure is expected for 201811 to 202012 warm upgrade. For public images, we have `-i` option in warm-reboot script to skip ONLY ASIC config checksum failure.

[2021-09-10 00:42] #8531 closed

[2021-09-10 02:42] bingwang-ms opened #8727 "test_nhop_count failed on Mellanox platform"
#### Description

```test_nhop_count``` is consistently failing on Mellanox platform with error

[code]

#### Steps to reproduce the issue:
1. Run ```test_nhop_count```
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue

[2021-09-10 12:07] nazariig commented on #8657
@v-wfarris I have got a reproduce of this issue:
[code]

**A few notes here:**
1. The issue is reproducible on both public and private images
2. The issue is only reproducible after fresh image install from ONiE

**The root cause:**
When the new configuration is about to be applied, the `hostname-config` & `interface-config` jobs are getting cancelled on config reload. This is an old `systemd` tim

[2021-09-10 18:45] vivekreddynv commented on #8657
Hi @v-wfarris, a similar issue has already been open. Ref: https://github.com/Azure/sonic-buildimage/issues/7508. This PR is working towards the fix  https://github.com/Azure/sonic-utilities/pull/1694

[2021-09-10 18:59] v-wfarris commented on #8657
Oh wonderful thanks for the feedback.  I knew there was an issue.  😊
Wes

From: Vivek Reddy ***@***.***>
Sent: Friday, September 10, 2021 11:45 AM
To: Azure/sonic-buildimage ***@***.***>
Cc: Wesley Farris (BIBLIOSO CORPORATION) ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/sonic-buildimage] Mellanox 2700 Unable to configure mgmt ip and hostname info (#8657)

Hi @v-wfarris<https://nam06.sa

[2021-09-10 19:03] v-wfarris commented on #8657
Actually I just looked at the link:
[config] config reload needs to handle exceptions while stopping sonic target

I am having issues where I follow the following commands exactly and the config file not save the eth0 ip settings and hostname.  Are we sure this is similar issue?

cat <<EOF | sudo config reload /dev/stdin -y
{
    "MGMT_INTERFACE": {
        "eth0|10.199.0.239/25": {
            "g

[2021-09-10 19:40] vivekreddynv commented on #8657
So, when the config reload is run, the first thing it does is to stop sonic.target (which inturn stops all the dependent services (swss, snmp etc)) even before applying the config you've provided through stdin

And from the bash log, i do see that the sonic.target job got cancelled and thus the first config reload failed even before loading any config. So, i believe it links up to the same issue.

[2021-09-10 20:07] lguohan commented on #8722
the earliest issue i see is this one.

[code]

[2021-09-10 20:09] lguohan commented on #8722
this test.
https://dev.azure.com/mssonic/build/_build/results?buildId=34620&view=results

the image is

[code]

[2021-09-11 00:07] prsunny commented on #8189
Agree with @shi-su on the suggestion. It should be `>= `. This is what is being done for cases like MAX ECMP groups ([ref](https://github.com/Azure/sonic-swss/blob/master/orchagent/routeorch.cpp#L738)). Also as suggested above, please get the value only once.

[2021-09-11 00:35] #8573 closed

[2021-09-12 04:03] #8103 closed

[2021-09-12 04:03] #8519 closed

[2021-09-12 11:50] mahdiniya5252 opened #8734 "Error in make target/ sonic-broadcom-armhf.bin"
According the instruction https://github.com/Azure/sonic-buildimage I'm trying to make bin file for ARM32 Architecture and broadcom.
based on on the rules I went forward step by step but I've faced the Error below in make target/sonic-broadcom-armhf.bin :
****make:nothing to be done for "stretch"
I would be thankful if you can help me
stretch part doesn't run but buster part finishes and I face th

[2021-09-13 03:20] #8108 closed

[2021-09-13 06:16] pettershao-ragilenetworks opened #8738 "[pddf] can't find pddf-platform-init.service in recent image, pddf module not installed"
#### Description

#### Steps to reproduce the issue:
1.
[code]
2.
3.

#### Describe the results you received:
can't find service for pddf

#### Describe the results you expected:
[code]
#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-09-13 06:20] pettershao-ragilenetworks commented on #8738
We have tried many builds, no pddf module installed. help check this.

[2021-09-13 06:59] #7508 closed

[2021-09-13 07:02] chaichairiko opened #8739 "Dangling VRFs in STATE_DB"
#### Description

VERSION: 202012

STATE_DB holds a reference to a VRF that no longer exists:
`redis-cli -n 6 keys "VRF_OBJECT_TABLE|*"
1) "VRF_OBJECT_TABLE|Vrf-Two"
2) "VRF_OBJECT_TABLE|Vrf-One"
`

Show Command
`show vrf
VRF      Interfaces
-------  ------------
Vrf-One  Vlan210
         Vlan110
`

Linux also has no recollection of this:
`
show ip route vrf all
Codes: K - kernel route, C - connec

[2021-09-13 09:15] chitra-raghavan commented on #8483
Atatched redis-cli monitor and redis-dump for db2 as requested

[redis-dump_db2.txt](https://github.com/Azure/sonic-buildimage/files/7153040/redis-dump_db2.txt)
[redis-monitor.txt](https://github.com/Azure/sonic-buildimage/files/7153042/redis-monitor.txt)

[2021-09-13 09:26] #6412 closed

[2021-09-13 09:26] dprital commented on #6412
Issue is not reproduced anymore.

[2021-09-13 11:34] #4389 closed

[2021-09-13 16:01] #8697 closed

[2021-09-13 16:15] nazariig commented on #8657
fix: https://github.com/Azure/sonic-utilities/pull/1814

[2021-09-13 20:29] zhangyanzhao commented on #8570
@volodymyrsamotiy would you please update this ticket with your finding and ETA? Thanks.

[2021-09-13 22:48] #8611 closed

[2021-09-14 00:16] bingwang-ms commented on #7990
Acked. Will work on it shortly.

[2021-09-14 01:47] qiluo-msft commented on #8570
@prsunny would you like to close this issue?

[2021-09-14 02:24] Blueve opened #8745 "[Nokia][7215] TestSfpApi failed due to type_abbrv_name not exists in transceiver_info_dict"
#### Description

TestSfpApi failed due to type_abbrv_name not exists in transceiver_info_dict

Three tests failed due to this issue:
- test_get_tx_bias
- test_tx_disable
- test_get_rx_power

If this key is not required for all platform, we might need update test case instead.

#### Steps to reproduce the issue:
1. Run platform test
2. Check result

#### Describe the results you received:
Test set

[2021-09-14 02:49] #8605 closed

[2021-09-14 03:24] Blueve commented on #8699
@rajkumar38 is this issue related to test_dir_bcast test failure?
[code]

[2021-09-14 06:36] Blueve commented on #8745
@dflynn-Nokia could you please take a look?
Let's determine solution from a) add type_abbrv_name data  b) update test case

[2021-09-14 08:13] bingwang-ms opened #8749 "test_decap[ttl=pipe, dscp=pipe] was consistently failing"
#### Description

```test_decap[ttl=pipe, dscp=pipe]``` failed on both Broadcom and Mellanox platform. Is ```ttl=pipe, dscp=pipe``` supported?
[code]
#### Steps to reproduce the issue:
1. Run ```test_decap```
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional inf

[2021-09-14 10:06] ksubashh opened #8751 "Build Failure: 202012 [ Broadcom] "Make all" fails"
#### Description

     Tried to make all for broadcom Platform [202012].
Getting dh_install failed error

#### Steps to reproduce the issue:
1. cd sonic-buildimage
2. make init
3.make configure PLATFORM=broadcom
4. Make all

#### Describe the results you received:

ake[2]: Leaving directory '/sonic/platform/broadcom/sonic-platform-modules-dell'
   dh_install
cat: '/sys/class/i2c-adapter/i2c-2/i2c-

[2021-09-14 13:36] dflynn-Nokia commented on #8745
Taking a look now.

[2021-09-14 14:30] dflynn-Nokia commented on #8745
@Blueve : When I run test_sfp.py I do not see the KeyError failure for 'type_abbrv_name' that you are seeing. Can you share the sonic-mgmt commit id that you are set to? I am currently at commit 3e096cf1c45b91f96a658042134e03f960d9eb17 (9/10/21)

Note: I do see that indeed the type_abbrv_name key is not currently supported. I can add support for that if required.

[2021-09-14 17:45] nazariig commented on #8722
@stephenxs FYI

[2021-09-14 18:06] kcudnik commented on #8722
[code]

is this whole log? uncutted? this seems terribly wrong if only buffer pools are discovered, there should be whole list of other objects as well

[2021-09-14 18:11] kcudnik commented on #8722
[code]

this is caused by clear_stats on buffer profile during init view mode

[2021-09-14 18:14] #8672 closed

[2021-09-14 18:38] yxieca commented on #8722
This PR: https://github.com/Azure/sonic-swss/pull/1857 introduced the call Kamil mentioned above.

[2021-09-14 22:37] imthatoneguy commented on #8261
Also impacts Celestica Seastone-DX010 (Broadcom) SONiC.master.646-990b1127.

[2021-09-15 00:59] vaibhavhd opened #8755 "[dual_tor] Warm reboot failed with "failed to create SAI_OBJECT_TYPE_NEXT_HOP""
#### Description
APPLY_VIEW failure seen in warm recovery path. Syncd throws error while processing SAI_OBJECT_TYPE_NEXT_HOP and throws `SAI_STATUS_ITEM_NOT_FOUND`.

#### Steps to reproduce the issue:
1. Install latest 202012 image on dualtor testbed.
2. Run test_reboot.py::test_warm_reboot test. The issue was seen WITHOUT traffic.
3. The test would fail.

#### Describe the results you received:
[

[2021-09-15 01:02] stephenxs commented on #8722
Hi @yxieca
There was a `clear` call before this PR had been merged. And there was a bug for that [Warm reboot: How the FlexCounter was handled after init view?](https://github.com/Azure/sonic-sairedis/issues/862)

[2021-09-15 01:06] #8464 closed

[2021-09-15 02:05] smaheshm commented on #8727
On MSN4600 CRM resources seem a bit odd:

[code]

Investigating..

[2021-09-15 03:14] Blueve commented on #8745
@dflynn-Nokia  The issue has been there for a long time... We are not upgrade our public image testbed recently, last repro happens on 202012.33599-ab07ba29d (Sep 4/21).

I think you can work on3e096cf1c45b91f96a658042134e03f960d9eb17.
I will upgrade our testbed image to 3e096cf1c45b91f96a658042134e03f960d9eb17

[2021-09-15 03:47] Blueve commented on #8745
Sorry... we don't have a build for 3e096cf1c45b91f96a658042134e03f960d9eb17

See here: https://sonic-build.azurewebsites.net/ui/sonic/pipelines/141/builds?branchName=202012
Maybe we can choice one image such as?
<html>
<body>

36022 | 20210913.1 | 202012 | Azure.sonic-buildimage.official.marvell-armhf | succeeded | 2021-09-13T04:00:33 | 2021-09-14T12:43:40 | 04fd5ed3ad | Build Link | Artifacts
--

[2021-09-15 07:36] stepanblyschak commented on #7895
@kcudnik Is there a plan to fix this in syncd?

[2021-09-15 07:37] stepanblyschak commented on #6675
@yxieca @bingwang-ms Is there a plan to fix this issue?

[2021-09-15 07:53] Junchao-Mellanox commented on #7768
A WA for this issue: https://github.com/Azure/sonic-swss/pull/1906

[2021-09-15 08:45] kcudnik commented on #7895
yes, i already replied here: https://github.com/Azure/sonic-buildimage/issues/7895#issuecomment-866723015

[2021-09-15 08:59] rajkumar38 commented on #8698
should be fixed with PR #8762

[2021-09-15 09:04] rajkumar38 commented on #8699
This issue is nothing to do with test_dir_bcast failure. test_dir_bcast TC is passing for us. We validated with sonic-mgmt commit 1b53581d1d32239a5b133b8c9000c0911746e698.

[2021-09-15 09:08] rajkumar38 commented on #8699
Below errors are seen while configuring COPP parameter "genetlink_name" and "genetlink_mcgrp_name". Looks like these are configured by sFlow trap group.
sFlow not supported in Marvell SAI and these errors are expected.
[code]
We have replaced above errors with,
[code]
For below logs, we have fixed the log level,
[code]
Changes are part of PR #8762

[2021-09-15 10:06] Blueve commented on #8749
This test can pass on Nokia 7215 platform (ARM) with parameter ttl=pipe, dscp=pipe

[2021-09-15 10:20] Blueve commented on #8699
Thanks @rajkumar38 !
Yeah, we aware the sflow feature issue, it is expected.

For the `test_dir_bcast` test, the test case not changed after your commit. I will trouble shoot it on my side, thanks for your informtion.

[2021-09-15 13:56] kcudnik commented on #8722
I added PR that should put nice message and fail in OA on those apis: https://github.com/Azure/sonic-sairedis/pull/930

[2021-09-15 14:59] lolyu opened #8767 "[drop counter] portstat doesn't show drop of packets with invalid vlan tag"
#### Description
`portstat` only show the drop of packets with those invalid vlan tags if the DUT has sub intefaces with those vlan tags.

#### Steps to reproduce the issue:
1. DUT Vlan1000 and sub interface status
[code]
2. send tcp packets with invalid vlan id as 2 from ptf to `Ethernet4`, and check `portstat`: **no drop counter for vlan id 2**
[code]
[code]
3. send tcp packets with invalid vlan

[2021-09-15 15:00] stepanblyschak commented on #7895
@kcudnik thanks!

[2021-09-15 16:26] ksubashh commented on #8751
Issue resolved

[2021-09-15 16:26] #8751 closed

[2021-09-15 17:10] smaheshm commented on #8727
https://github.com/Azure/sonic-mgmt/pull/4275

[2021-09-15 17:40] vaibhavhd opened #8770 "[202012][dualtor] Incorrect TxQ selection for DSCP value 9"
#### Description

The TX queue selection for DSCP value is not adhering to SONiC expectations.
According to SONiC configuration all dscp are classified to queue 1 except the as per the below map.
The failure is seen when dscp 9 packets are sent to queue 7 instead of queue 1. There might be other mismatches and not just DSCP 9.

            # dscp  8 -> queue 0
            # dscp  5 -> queue 2

[2021-09-15 18:01] vaibhavhd commented on #8770
I see a similar failure in *test_dscp_to_queue_during_decap_on_active*

In the last two 202012 failures, the mismatch occurred for:
1.	DSCP 29, queue 3 is selected. Expected is queue 1.
2.	DSCP 20, queue 2 is selected. Expected is queue 1.

I think there can be more such mismatches

[2021-09-15 20:05] neethajohn opened #8773 "Investigate/fix pfcwd failures"
**Description**

Pfcwd functional test failures are seen with 20201231.27 image on most platforms.

[2021-09-15 20:10] neethajohn commented on #8749
Was debugging this on 2700 and see that the dscp field is different in the received packet. Look at the highlighted field in the sent packet and the 3rd received packet.

E                   "IPv4inIPv4:",
E                   "Did not receive expected packet on any of ports [0, 1, 4, 5, 16, 17, 20, 21] for device 0.",
E                   "========== EXPECTED ==========",
E                   "Mask:

[2021-09-15 20:13] neethajohn commented on #8773
Looks like it is related to https://github.com/Azure/sonic-sairedis/pull/878

[2021-09-15 20:36] vaibhavhd opened #8774 "[warmboot] translateVidToRid failure for new field FLEX_COUNTER_DELAY_STATUS"
#### Description

Warm recovery failure.

New field `FLEX_COUNTER_DELAY_STATUS` caused syncd failure "translateVidToRid: unable to get RID for VID".

This caused syncd to send `sendShutdownRequest` to Orchagent.

#### Steps to reproduce the issue:
1. Install latest master image.
2. Issue warm reboot.
3. The failure was seen in 2nd iteration of test_cont_warm_reboot, so the trigger might be in the

[2021-09-15 20:48] yxieca commented on #6675
@stepanblyschak IIRC, this issue is transient at boot up time. We searched internet and didn't found a good solution for this issue. At the moment, we are not actively working on this issue. Did you see side effect from this issue?

If you found solution, please share.

[2021-09-15 21:43] dflynn-Nokia commented on #8745
I was referring to the commit id in the sonic-mgmt repo, not sonic-buildimage.
I created PR# [8772](https://github.com/Azure/sonic-buildimage/pull/8772) to deal with this.

[2021-09-16 03:08] gechiang opened #8776 "[Z9332F] Why some 100G ports seems to be assigned with 3 lanes instead of 2 in "sai_postinit_cmd.soc"?"
We noticed that in the following file some 100G ports gets assigned with 3 lanes while some gets one lane only... my understanding is that each 100G port should have 2 lanes and 400G ports should have 8 lanes.
Can DELL team please comment what is the purpose of the "sai_postinit_cmd.soc" for and if this strange behavior was intentional??

You can see the following where ce17 got assigned with 3 la

[2021-09-16 03:10] gechiang commented on #8776
@aravindmani-1 Can you please help investigate and answer my question?
Thanks!

[2021-09-16 03:23] aravindmani-1 commented on #8776
100G ports should be assigned to two lanes only. Will raise PR to fix this issue. Thanks.

[2021-09-16 07:03] #8727 closed

[2021-09-16 07:45] lolyu commented on #8767
CSP CS00012209080 raised

[2021-09-16 08:57] qiluo-msft opened #8779 "snmpd error syslog "truncating integer value > 32 bits""
#### Description
snmpd keep write syslog
[code]

This issue could be found on many switches.
Reference link: https://access.redhat.com/solutions/367093
I randomly picked several switches and checked the uptime is > 497 days.
[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#

[2021-09-16 14:07] #8699 closed

[2021-09-16 14:25] #8776 closed

[2021-09-16 16:13] prsunny commented on #8449
@volodymyrsamotiy to check

[2021-09-16 17:03] neethajohn commented on #8749
https://github.com/Azure/sonic-mgmt/pull/4278 was the fix needed for Mellanox

[2021-09-16 20:14] #7959 closed

[2021-09-16 20:16] #7956 closed

[2021-09-17 00:55] #8656 closed

[2021-09-17 01:04] sujinmkang opened #8784 "[platform_tests][PMONdaemon]test_syseepromd.py::test_pmon_syseepromd_running_status FAILED on arista"
#### Description

data_before_restart = {'data': {}, 'keys': []}
duthost    = <MultiAsicSonicHost> str2-7260cx3-acs-9
duthosts   = <tests.common.devices.duthosts.DutHosts object at 0x7f03afc08450>
rand_one_dut_hostname = 'str2-7260cx3-acs-9'

platform_tests/daemon/test_syseepromd.py:114: Failed
- generated xml file: /azp/agent/_work/41/s/tests/logs/platform_tests/daemon/test_syseepromd.xml -
=====

[2021-09-17 02:20] #6632 closed

[2021-09-17 06:55] qiluo-msft commented on #5345
The code in f66288d5 are trying to solve another issue relating SAI 0.9.4.
Could you please check if this issue exists on latest image?

[2021-09-17 07:46] ksubashh commented on #5097
"Were you able to fix this? I am facing this error as well

[2021-09-17 08:04] bingwang-ms commented on #7990
Issue addressed in PR https://github.com/Azure/sonic-utilities/pull/1825

[2021-09-17 08:19] #8071 closed

[2021-09-17 12:48] radha-danda commented on #8351
@yxieca, No sufficient details are present in the issue to debug further. We have not seen this in our lab anytime

Can you please share the details about:
-	the steps to reproduce the issue
-	syncd core file and  syslogs

[2021-09-17 18:08] ArthiSivanantham opened #8789 "The edge timer values are not accepted for Warm Restart feature in Click config commands"
#### Description

The edge timer values are not accepted for Warm Restart feature in Click config commands.
For example the valid range of timer values for bgp timer is 1-3600. But an input of "3600" is not accepted and the click config command throws an error. Similar case for neighsyncd timer. It's valid range is 1-9999. But an input of "9999" throws an error.

#### Steps to reproduce the issue:

[2021-09-17 22:01] ArthiSivanantham opened #8791 "In-consistency in teamsyncd timer values for Warm Restart feature"
#### Description

In-consistency seen in teamsyncd timer values for Warm Restart feature. In the Command Reference document and DB Schema, the timer values are mentioned in the range 1-9999. But in Click config command, the timer values allowed are 1-3600.

#### Steps to reproduce the issue:

1.  https://github.com/Azure/sonic-swss/blob/master/doc/swss-schema.md#warm_restart
2.  https://github.com

[2021-09-18 02:58] #8773 closed

[2021-09-18 03:35] Xichen96 opened #8934 "[reboot-cause] failed to get reboot cause"
#### Description

Reboot tests failed on getting reboot cause, if they are not stopped by other checks first

## Steps to reproduce the issue
1. reboot
2. show reboot-cause

#### Describe the results you received
Unknown

#### Describe the results you expected
User issued 'reboot' command [User: admin, Time: xxx]

#### Additional information you deem important (e.g. issue happens only occasionally

[2021-09-18 08:36] bingwang-ms commented on #8449
The issue can be reproed on 20201231.28. Please find more details in attached syslog
[syslog.tar.gz](https://github.com/Azure/sonic-buildimage/files/7189561/syslog.tar.gz)
.

[2021-09-19 00:13] TyagiShailesh opened #8796 "Failed to build: pull access denied for sonic-slave-stretch, repository does not exist or may require 'docker login'"
202106 failing with the following errors:

st@sv-s32:~/sonic/sonic-buildimage$ make configure PLATFORM=mellanox
+++ Cheking platform/mellanox +++
+++ Making configure +++
BLDENV=stretch make -f Makefile.work configure
make[1]: Entering directory '/home/st/sonic/sonic-buildimage'
~/sonic/sonic-buildimage/src/sonic-build-hooks ~/sonic/sonic-buildimage
make[2]: Entering directory '/home/st/sonic/soni

[2021-09-19 01:46] #8796 closed

[2021-09-19 01:47] TyagiShailesh commented on #8796
It was docker network error.

[2021-09-19 07:18] #8446 closed

[2021-09-20 01:36] TyagiShailesh opened #8798 "Containers/Services wouldn't start on boot"
Branch: 202106
Platform: Mellanox

An image was built without any errors but for some reasons the following services wouldn't start automatically. I was able to start them by unmasking and starting manually (Please see attached.)

Docker/services having issues:
docker-sonic-mgmt-framework
docker-snmp:
docker-sonic-telemetry
docker-iccpd

<img width="1496" alt="Screen Shot 2021-09-19 at 6 21 26 PM"

[2021-09-20 13:53] ppikh opened #8801 "[warm-reboot] Command "warm-reboot" exited with code 127 "/usr/local/bin/check_db_integrity.py: No such file or directory""
#### Description

When execute command "warm-reboot" - it exited with code 127 and error:
[code]

#### Steps to reproduce the issue:
1. Run command "warm-reboot"
2. Check result

#### Describe the results you received:
Command "warm-reboot" - it exited with code 127 and error:
[code]

#### Describe the results you expected:
Command executed successfully, warm-reboot passed

#### Output of `show ve

[2021-09-20 18:48] prsunny commented on #8739
We may want to fix the table name [here ](https://github.com/Azure/sonic-buildimage/blob/master/files/scripts/swss.sh#L162). Can you please check if it helps?

[2021-09-21 11:41] qiluo-msft opened #8808 "loadData() modifies the input parameter configdbJson, which is surprise to the caller"
Reason for failure is the sonic-yang-mgmt pkg we consume modifies an input parameter in-place as a side-effect, I don't think this should happen since the function should only be loading the data into sonic_yang.

Here is how:
https://github.com/Azure/sonic-buildimage/blob/e6699a0132c141b000af99521eab1fabf6942921/src/sonic-yang-mgmt/sonic_yang_ext.py#L702
[code]

check the comments starting with `

[2021-09-21 11:43] qiluo-msft commented on #8808
@praveen-li Could you help check and triage this issue? I believe this is a bug.

[2021-09-21 18:25] praveen-li commented on #8808
@qiluo-msft

The comment says "# self.jIn will be cropped"
If YANG models are not present for any table, then that config will be cropped.

[2021-09-21 22:52] rudubey opened #8810 "SONiC interface added as VLAN member is not coming as "trunk", always showing "routed""
#### Description

#### Steps to reproduce the issue:
1. Make sure interface naming_mode is set to "default" and add a VLAN member interface using alias name
2. Check "show interface status" output, added interface will still show "routed"
3. Change interface naming_mode as "alias" and add member to VLAN, it will come up as "trunk" in "show interface status" output.
4. Impact - Traffic impacting: t

[2021-09-22 03:52] qiluo-msft commented on #8808
I understood you need crop the `self.jIn` internally.

My concern is `configdbJson` is user input, and you crop it at the same time because both are just references. Is it a surprise to caller that a "load" function modified the "data"? As a workaround, caller must backup the data before calling `loadData()`

[2021-09-22 05:48] lolyu opened #8813 "[202012][bgp] test_traffic_shift failure on t1-lag"
* error
[code]

* the log
[code]

[2021-09-22 10:42] lolyu opened #8817 "[202012][bgp] test_bgp_gr_helper failure on t1-lag"
* error
[code]
* log
[code]

[2021-09-22 16:34] sujinmkang opened #8821 "[platform_tests/api] test_psu.py::TestPsuApi::test_power failure"
#### Description
15:32:19 __init__.pytest_runtest_call             L0039 ERROR  | Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/_pytest/python.py", line 1464, in runtest
    self.ihook.pytest_pyfunc_call(pyfuncitem=self)
  File "/usr/local/lib/python2.7/dist-packages/pluggy/hooks.py", line 286, in __call__
    return self._hookexec(self, self.get_hookimpls(), kw

[2021-09-22 16:47] sujinmkang opened #8822 "[platform tests][daemon] test_pmon_ledd_term_and_start_status failed occasionally"
#### Description
test_pmon_ledd_term_and_start_status occasionally failed during nightly test because of the delay of daemon start

[code]

#### Steps to reproduce the issue:
1. run pytest tests/platform_tests/daemon/test_ledd.py::test_pmon_ledd_term_and_start_status
2.
3.

#### Describe the results you received:
platform_tests/daemon/test_ledd.py::test_pmon_ledd_term_and_start_status FAILED [ 75%

[2021-09-22 16:48] sujinmkang commented on #8822
During the nightly test, the test failed sometime and the daemon's expected to be running but still in starting status.

[2021-09-22 18:37] allanstreib opened #8823 "Error building PLATFORM=broadcom, chmod: cannot access 'syncd.sh': No such file or directory"
#### Description

On Ubuntu 20.04, following build instructions for PLATFORM=broadcom, build fails with error:
[code]

#### Steps to reproduce the issue:
1. git clone https://github.com/Azure/sonic-buildimage.git
2. cd sonic-buildimage
2. make init
3. make configure PLATFORM=broadcom
4. make SONIC_BUILD_JOBS=4 all

#### Describe the results you received:
[code]

#### Describe the results you expec

[2021-09-23 00:55] #8817 closed

[2021-09-23 17:56] iMasaruOki opened #8831 "BGP unnumbered with VRF is not working"
#### Description

BGP unnumbered (ipv4 route via ipv6 nexthop) with VRF is not working on real switch.
It works with default VRF case.
Virtual switch are not affected.

Tested with Delta ag9032v2a (Broadcom Trident 3)

#### Steps to reproduce the issue:
1. Ethernet0 of DUT is connected to Ethernet0 of another SONiC switch.

In test environment, both switches are Delta ag9032v2a.

[code]

2. DUT se

[2021-09-24 00:44] tbgowda opened #8980 "Question regarding SAI_SWITCH_ATTR_UNINIT_DATA_PLANE_ON_REMOVAL"
Hello,

From SAI spec, it looks like the above mentioned attribute is set to false for fast reboot.

[code]

From the Syncd implementation it looks like it is being sent only for Mellanox boxes.

https://github.com/Azure/sonic-sairedis/blob/f2075ffd339584d5250dfc66cd3dd3288d4ba3d5/syncd/Makefile.am#L71
https://github.com/Azure/sonic-sairedis/blob/1020de71b2f842396d87761a2bf7a725fbd0b8c1/syncd/Sync

[2021-09-24 07:58] lolyu opened #8835 "[202012][test_decap] uniform dscp mode doesn't work on td2 devices"
#### Description
* run `decap/test_decap.py::test_decap[ttl=pipe, dscp=uniform]` on td2 devices, the decapsulated packet doesn't have expect DSCP value as the outer IP header DSCP field when the tunnel mode is uniform.

#### Steps to reproduce the issue:
1. run `decap/test_decap.py::test_decap[ttl=pipe, dscp=uniform]` on td2 devices, testcase failed

#### Describe the results you received:
* confi

[2021-09-24 08:07] lolyu commented on #8835
@prsunny, @neethajohn, could you please take a look? Thanks!

[2021-09-24 14:21] Blueve commented on #8479
Observed the issue again. Reopen to track.

[2021-09-24 19:38] dgsudharsan opened #8837 "PortChannel table is not populated in STATE_DB leading to N/A field displayed as protocol in 'show interfaces portchannel'"
#### Description
In scalability test scenarios,  sometimes the portchannel table is not populated in state_db for few port channels. We see the below log in such scenarios
syslog.1.gz:Sep 24 14:39:10.467562 r-panther-23 NOTICE teamd#tlm_teamd: :- pops: Miss table key LAG_TABLE|PortChannel7, possibly outdated.
Due to this teamd doesn't recognize PortChannel7 and all operations related to it arg ign

[2021-09-24 19:44] dgsudharsan commented on #8837
On a note this might be an infrastructure issue. The same pops log can also be seen in a different scenario as documented in the issue below
https://github.com/Azure/sonic-swss/issues/1226

[2021-09-24 21:11] allanstreib commented on #8823
I got this to work. I had the "cannot access 'syncd.sh': No such file or directory" message on repeated from-scratch builds using the given instructions.

I tried "make all" without "SONIC_BUILD_JOBS=4" in the last step. Obviously this took longer time. I got the following error, but tried just running "make all" again to see if it would finish and it did.

So I guess there are some timing issues

[2021-09-26 00:06] #8745 closed

[2021-09-26 14:12] abhiranjeet commented on #8734
This was tried at some point. ARM not supported for Broadcom (yet).
https://github.com/Azure/sonic-buildimage/issues/7767

[2021-09-27 08:32] jeffchen1988 commented on #8587
Hi,

This issue has been pending for a long time.
Is there any progress?

Thanks.

[2021-09-27 15:48] dgsudharsan commented on #8837
@judyjoseph This issue is also seen on MSN2410 device. It is not seen on other platforms.

[2021-09-27 15:55] yxieca commented on #8351
Close issue due to no-repro and the log from the crash is no longer available.

[2021-09-27 15:55] #8351 closed

[2021-09-27 16:07] volodymyrsamotiy commented on #8449
@bingwang-ms, I am not able to reproduce the issue.

I tried to run ```test_po_update``` 10 times and it always passed.

Also tried to run provided script 10 times as well and it never took minutes to get up:
* There are some sleep steps in the script so if run it as is then it takes about 40 seconds from the moment when ping stopped working and to the moment when it started working again.
* With

[2021-09-27 18:54] tjchadaga opened #8848 "[9332][platform_tests] test_power fails due to 10% fluctuations in PSU current reading"
#### Description
test_power fails with mismatch of power and voltage/current readings due to 10% fluctuation between readings. Issue is not seen on other Dell platforms, which seem to return the readings with higher precision

[code]

#### Steps to reproduce the issue:
1. Run test_psy.py::TestPsuApi::test_power on 9332

#### Describe the results you received:
Test failure:
Failed: PSU 0 reading do

[2021-09-27 18:56] tjchadaga commented on #8848
@ArunSaravananBalachandran - could you please check and comment on this?

[2021-09-27 19:20] tjchadaga commented on #8646
APIs added as part of https://github.com/Azure/sonic-buildimage/pull/8787

[2021-09-27 19:20] #8646 closed

[2021-09-28 00:13] xumia opened #8849 "Only for test, it will be closed soon."
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-09-28 00:13] #8849 closed

[2021-09-28 01:15] gechiang commented on #8558
Update the issue title to better describe the cause of the failure...

[2021-09-28 01:28] yxieca opened #8850 "show techsupport fail when /usr/core folder not existing"
#### Description
show techsupport fails on any platform not provided /usr/bin/hw-management-generate-dump.sh

#### Steps to reproduce the issue:
1. run "show techsupport" on platform didn't provide /usr/bin/hw-management-generate-dump.sh
2.
3.

#### Describe the results you received:
See log below

#### Describe the results you expected:
show techsupport should succeed.

#### Output of `show versi

[2021-09-28 01:32] lolyu commented on #8110
close it as it is fixed by https://github.com/Azure/sonic-mgmt/pull/4246, all sub_port_interfaces test cases are passing on non-dualtor testbed.

[2021-09-28 01:32] #8110 closed

[2021-09-28 02:31] Blueve commented on #8850
https://github.com/Azure/sonic-utilities/blob/826311cd366825c332a27799e1044509aa3d530e/scripts/generate_dump#L1277

The scripts shouldn't fail even `hw-management-generate-dump.sh` doesn't exists.

From the log `ERR: RC:-1 observed on line 1224` seems like the the issue were happens here:

https://github.com/Azure/sonic-utilities/blob/826311cd366825c332a27799e1044509aa3d530e/scripts/generate_dump#

[2021-09-28 02:39] hubblezzhu commented on #8489
I have meet this problem too, using branch 202106, latest commit
is there a solution now?

any help will be appreciated.

[2021-09-28 03:26] yxieca commented on #8850
The problem was introduced by this PR: https://github.com/Azure/sonic-utilities/pull/1833, when /var/core doesn't exist, the script will fail.

[2021-09-28 05:07] yxieca commented on #8850
https://github.com/Azure/sonic-utilities/pull/1723 for master

[2021-09-28 05:08] yxieca commented on #8850
https://github.com/Azure/sonic-utilities/pull/1843 pending merge for 202006.

[2021-09-28 05:10] yxieca commented on #8850
Above 3 PRs introduced error at line 1224 and line 196

[2021-09-28 07:32] chiourung opened #8852 "AS7326-56X: breakout port from 4x25G to 4x10G would lead swss/syncd carsh"
#### Description
I can breakout from 1x100G[40G] to 4x25G and 1x100G[40G] to 4x10G, but I can't breakout from 4x25G to 4x10G.
It also can't breakout from 4x25G to 1x100G[40G].

#### Steps to reproduce the issue:
1. Define the platform.json:

        "Ethernet72": {
            "index": "55,55,55,55",
            "lanes": "121,122,123,124",
            "breakout_modes": {
                "1x100G[40

[2021-09-28 07:43] ppikh opened #8853 "[config reload] unexpected return code 0 but config reload did not happen"
#### Description

When device just loaded - do command "config reload -y"
It will fail with message "Relevant services are not up. Retry later or use -f to avoid system checks" but exit code will be 0

#### Steps to reproduce the issue:
1. Reboot device
2. After device loaded do command "config reload -y"
3. Check result and return code

#### Describe the results you received:
Reload did not happe

[2021-09-28 09:52] CharlieChenEC commented on #8703
Hi, folks,

For the special hardware limitation reported in this issue, I'd like to suggest to use the command like "config interface breakout mode 4x1G Ethernet0" to solve. In this way, all of the ports that need to change the port speed at the same time can be changed at the same time.

Another alternative is to add some special code snippet in CLI command "config interface speed" when the speci

[2021-09-28 23:00] #8850 closed

[2021-09-29 01:04] grantcurell opened #8862 "ZTP Fails on virtual for HTTP headers"
#### Description

ZTP with HTTP headers for dynamic content fails on the virtual machine because there is no identifiable information. Ex it will send a request like this:

[code]

#### Steps to reproduce the issue:
1. Build a virtual version of SONiC
2. Grab HTTP headers

#### Describe the results you received:

Some identifying information is available for testing purposes.

#### Describe the re

[2021-09-29 03:20] CharlieChenEC commented on #8703
@zhangyanzhao I have some proposals to solve the issue. Is it possible to help find someone to review the proposals? Thanks in advance.

[2021-09-29 03:22] CharlieChenEC commented on #8852
@zhangyanzhao The issue is related to the support of Broadcom SAI library. Is it possible to help find the related persons who work on Broadcom SAI to solve this issue?

[2021-09-29 03:58] qiluo-msft opened #8863 "Bug: load_sonic_global_db_config twice"
An extreme case:
if both `args.from_db` and `args.write_to_db` have valid stirng, will the second `load_sonic_global_db_config` throw exception?

_Originally posted by @qiluo-msft in https://github.com/Azure/sonic-buildimage/pull/8229#discussion_r718132054_

[2021-09-29 07:44] bingwang-ms commented on #8449
@volodymyrsamotiy Thanks for the response.
I still can repro the issue on lattest image
[code]
And I also found that the when the issue happened, the traffic become unidirectional, that is the ICMP packet can't arrive at the neighbor, but the ICMP from the neighbor can arrive the DUT.
Please find below the syslog.
The PortChannel members are add back at ```07:24:17.062261```, and the PortChannel d

[2021-09-29 09:19] lgbin879 opened #8866 "both 2 ports are selected in LACP fallback=true"
both 2 ports are selected in LACP fallback=true

can be reproduce with these steps:

https://support.edge-core.com/hc/en-us/articles/900000200683--Edgecore-SONiC-LAG-Link-Aggregation-

admin@sonic:~$ show interfaces portchannel
Flags: A - active, I - inactive, Up - up, Dw - Down, N/A - not available,
       S - selected, D - deselected, * - not synced
  No.  Team Dev      Protocol     Ports
-----

[2021-09-29 19:31] dduttman opened #8873 "ARP resolution across interface on a VRF doesn't use VRF's src_mac"
#### Description
When configuring a VRF with a src_mac attribute, the interface(s) within that VRF should provide the src_mac from the VRF in reply to ARP Requests from neighboring devices. Incoming packets after that point are expected to have a dest mac matching the L3 src_mac on the VRF, not the L2 mac on the physical interface.

The behavior we are seeing is that the L2 interface mac is provid

[2021-09-29 19:35] dduttman commented on #8873
note that this failure was discovered when testing https://github.com/Azure/sonic-mgmt/blob/master/tests/vrf/test_vrf_attr.py

[2021-09-30 02:26] gechiang commented on #8031
@vaibhavhd Can you Try the latest 202012 image which should have the fix for this issue to see if it is still reproducible?
If not, we can proceed to close this issue.
Thanks!

[2021-09-30 08:15] kevinskwang opened #8878 "[202012][drop counter] Drop counter doesn't work on TH2 with counter type L3_EGRESS_LINK_DOWN"
#### Description

#### Steps to reproduce the issue:
1. On TH2, create a debug drop counter named "Test" with counter_type is L3_EGRESS_LINK_DOWN
2. Randomly select a port as egress port, such as Ethernet148,  and shut down fanout port which is connected with egress port
3. Send 1000 packets from an ingress port which will be sent out from the egress port we selected at Step 2.
4. Then counter of

[2021-09-30 13:34] volodymyrsamotiy commented on #7539
https://github.com/Azure/sonic-buildimage/pull/7735

[2021-09-30 13:34] #7539 closed

[2021-09-30 15:18] moshemos commented on #7989
@bingwang-ms can you elaborate on the update status?

[2021-09-30 15:19] moshemos commented on #7988
@bingwang-ms can you update on the latest status?

[2021-09-30 15:22] moshemos commented on #7943
@jamiedawsonyoung  as I saw you asked to take a look, any update?

[2021-09-30 17:13] gechiang commented on #8878
@kevinskwang have a few questions hope you can help clarify:
1. Is this test passing in previous image and it is broken recently?
2. Is this same test only failing with TH2 but not failing with other BRCM platforms such as TH, TD2, and TD3?
3. What kind of packet were you sending? Reason I am asking is that it also depends on the forwarding decision a packet may end up being dropped at Ingress ins

[2021-10-01 03:33] dgsudharsan opened #8888 "config qos reload followed by config save commands leads to config save command failing with traceback"
#### Description

Sometimes, config qos reload followed by config save commands leads to config save command failing with traceback.

The reason for the traceback is, config qos reload triggers a write to DB and a write to config db triggers hostcfgd to update kdump. (There are no duplicate checks) https://github.com/Azure/sonic-buildimage/blob/b2659dcdbc454ceee5128a597fb34f041b1aeb9f/src/sonic-ho

[2021-10-01 04:38] dgsudharsan commented on #8888
@rajendra-dendukuri Can you please look into this?

[2021-10-01 05:54] lguohan commented on #8888
i agree with the analysis. kdump should not save to startup config directly.

[2021-10-02 03:52] vaibhavhd opened #8893 "[warmboot] swss crash due to translateVidToRid error for SAI_OBJECT_TYPE_BUFFER_POOL"
#### Description

#### Steps to reproduce the issue:
1. Run test_warm_reboot
2. The test will fail with one OA core.
3. Check logs to see that it syncd initiated issue - translateVidToRid error on SAI_OBJECT_TYPE_BUFFER_POOL obj.

#### Describe the results you received:

[code]

Sai redis log:

[code]
#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Output of `

[2021-10-03 23:46] vivekreddynv opened #8898 "[Bug] [Build] DOCKERD for march cmd fails when there are conflicting directives in /etc/docker/daemon.json"
#### Description

#### Steps to reproduce the issue:
1.  Check if there is a /etc/docker.daemon.json file and if not create one on the build server
2.  Add a directive for data-root
[code]
3. Run make config and try to build for a cross-architecture target.
4. Run this:
`NOJESSIE=1 NOSTRETCH=1 make docker-start`

#### Describe the results you received:

[code]

Unfortunately, the actual error is n

[2021-10-04 11:01] #8642 closed

[2021-10-05 11:59] mdivyamohan commented on #8866
Looks like same issue as in https://github.com/Azure/sonic-buildimage/issues/7555

[2021-10-05 19:00] judyjoseph commented on #8893
This happens in 202106 PR builds as well https://dev.azure.com/mssonic/build/_build/results?buildId=41603&view=logs&jobId=88ce9a53-729c-5fa9-7b6e-3d98f2488e3f&j=551384a3-3c3d-5d98-9a93-ab579ce10658

[2021-10-05 19:03] kcudnik commented on #8893
this should be addressing this issue https://github.com/Azure/sonic-sairedis/pull/930

[2021-10-05 22:44] tjchadaga opened #8904 "[9332][platform_tests] Platform API test in test_psu.py - test_master_led fails intermittently"
#### Description

Platform API test_psu.py fails with the error:
[code]
#### Steps to reproduce the issue:
1. Run platform_tests/api/test_psu.py::TestPsuApi::test_master_led on 9332
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
Test should pass

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional inform

[2021-10-06 06:00] moshemos commented on #8888
@lguohan  can you update on the status? what are the next step here. we need this fix for 202106.

[2021-10-06 06:05] judyjoseph commented on #8863
@qiluo-msft calling load_sonic_global_db_config() second time will not throw exception.

It will log an error message "SonicDBConfig Global config is already initialized" which should be ok.

[2021-10-06 07:08] lguohan commented on #8898
two approaches for building arm64 is working as far as I know:
1. use arm64 server for native build
2. use amd64 server for qemu emulated build

for the cross build, i do not know it works. the pr is still in review.

[2021-10-06 07:12] vivekreddynv commented on #8898
This docker command is used in the second case. i.e. when MULTIARCH_QEMU_ENVIRON = y.

[2021-10-06 09:34] DavidZagury opened #8907 "Can't add route with a nexthop of a PortChannel"
#### Description

We no longer can add routes with a nexthop of a PortChannel.
This was possible until the refactor of add/del route functions in this PR - [config]Static routes to config_db (https://github.com/Azure/sonic-utilities/pull/1534)

#### Steps to reproduce the issue:
1. config portchannel add PortChannel0001
2. sudo config route add prefix 20.0.0.1/32 nexthop PortChannel0001

#### Desc

[2021-10-06 10:41] d-dashkov commented on #8907
Started looking into it

[2021-10-06 12:56] #8613 closed

[2021-10-06 13:04] mlok-nokia commented on #8521
Fixed by 1754

[2021-10-06 13:04] #8521 closed

[2021-10-07 02:35] dgsudharsan commented on #8837
@judyjoseph  Do you have an update? This issue is not seen in 202012. Its seen in master as well as 202106. So I believe some recent changes might be attributing to it?

[2021-10-07 10:34] mad4321 commented on #8371
Hi,
I have same issue on Tomahawk BCM56960

[code]

Is there some additional configuration needed for this asic?

[2021-10-07 15:58] #8888 closed

[2021-10-08 05:04] alexrallen opened #8922 "`fwutil update all` does not support firmware update flows which force immediate reboot"
#### Description

When:

1. `fwutil update all` is executed
2. Multiple update are available
3. One of more of these updates forces a reboot on execution
4. Only one of these updates will be installed

#### Steps to reproduce the issue:
1. Setup platform_components.json to point to multiple new version of firmware

i.e.
[code]

2. Execute `fwutil update all fw --boot=cold`

#### Describe the resul

[2021-10-08 05:11] alexrallen opened #8923 "`fwutil update all` CLI feedback does not match HLD"
#### Description

The CLI feedback from `fwutil update all` is not very human-readable and makes debugging difficult. It also does not match the format specified in the CLI.

#### Steps to reproduce the issue:
1. Setup `platform_components.json`

[code]

2. Run `fwutil update all fw --boot=cold`

#### Describe the results you received:
[code]

Numerical return codes are given rather than human-rea

[2021-10-08 05:18] alexrallen opened #8924 "`fwutil show` command has conflicting subcommands"
#### Description

There are two conflicting sub-commands defined for `fwutil show`

One was recently added here: https://github.com/Azure/sonic-utilities/blob/1029c5487dd1190215dae6ca557d6feb96113c9d/fwutil/main.py#L465

[code]

The other was added originally here: https://github.com/Azure/sonic-utilities/blob/1029c5487dd1190215dae6ca557d6feb96113c9d/fwutil/main.py#L406

[code]

These are causing

[2021-10-08 05:24] alexrallen opened #8925 "`fwutil update all` incorrectly autocompletes to `fwutil update auto`"
#### Description

The click library uses the names of functions to assist in the generation of CLI auto-complete trees. In `fwutil update` the method for updating all available firmware is `auto_update`

See here: https://github.com/Azure/sonic-utilities/blob/1029c5487dd1190215dae6ca557d6feb96113c9d/fwutil/main.py#L406
[code]

This is causing click to mistakenly label the command as `auto` instead

[2021-10-08 05:31] alexrallen opened #8926 "`fwutil update all` does not print `fw_au_status` file in human-readable format"
#### Description

When the `fwutil update all` command is run and it generates a `fw_au_status` file for tracking upgrade status, it does not create it in a human readable format. This is important because users are intended to reference this file to check the status of their firmware upgrades.

#### Steps to reproduce the issue:
1. Setup `platform_components.json`

[code]

2. Run `fwutil update a

[2021-10-08 05:44] alexrallen opened #8928 "`fwutil update all` cannot be run consecutively"
#### Description

When `fwutil update all fw --boot=none` it creates a `/var/platform/fw_au_status` which remains even after the firmware is installed. On each subsequent execution of `fwutil update all` it detects the existence of this file and bails out.

This also occurs on all unsuccessful firmware installs, the `fw_au_status` file must be deleted manually to proceed.

#### Steps to reproduce

[2021-10-08 20:44] gechiang opened #8932 "[TH3] dchpmon crashed while running advanced reboot testcase."
#### Description
Observed the following on a TH3 T0 device while running nightly test executing advanced reboot testcase:

[code]
Here is the syslog where the crash occurred:
[code]

#### Steps to reproduce the issue:
Not sure if this is reproducible...
1. Run nightly test on TH3 T0 DUT.  More specifically it should be the platform_tests/test_advanced_reboot.py::test_warm_reboot
2.
3.

#### Output

[2021-10-09 01:57] #8671 closed

[2021-10-09 01:57] #8749 closed

[2021-10-09 06:26] Xichen96 commented on #8934
determine-reboot-cause script hangs on command "docker", which is used to determine if the script is running inside of a container. "docker" hangs because it is called too early, before dockerd is fully initialized. "docker" can be replaced by a read on /proc/1/comm and checking if it is "systemd", but it will fail on other problems. Making the script run later in booting up solved all problems.

[2021-10-09 08:00] vaibhavhd opened #8936 "[fast-reboot][master] Ports flapped after APPLY VIEW and orchagent crashed"
#### Description

Orchagent crash and core seen after fastreboot with IO.

OA receives FDB events for which warning is generated: `doesn't exist but received AGED event`

Soon after this,

#### Steps to reproduce the issue:
1. Install latest master image.
2. Run test_fast_reboot with IO.
3. The test would fail with donwtime > 30s. Unclear how consistent this issue is.

#### Describe the results yo

[2021-10-09 08:14] vaibhavhd opened #8937 "[warmboot][202012][TH3] PortsOrch init failure due to failure in removing SAI_OBJECT_TYPE_BRIDGE_PORT"
#### Description

After warmboot INIT_VIEW, PortsOrch initialization failure is seen.
The failure is due to `SAI_OBJECT_TYPE_BRIDGE_PORT` object is attempted to be removed when it has >=1 active refrences in sairedis Meta.cpp code.

This causes OA to crash, and fail the warmboot procedure.

[code]

This is the first crash seen in the warmboot recovery process. After this, dhcpmon and syncd process

[2021-10-10 03:14] flyover-26 commented on #4118
Has this problem solved?
I got the same problem.
docker:network "host" is specified multiple times

[2021-10-11 04:07] qiluo-msft opened #8938 "`config load_minigraph` broken on Mellanox-SN2700-D40C8S8"
#### Description

#### Steps to reproduce the issue:
1. Install a recent built master image https://dev.azure.com/mssonic/build/_build/results?buildId=42496&view=results
2. run command lines as below
[code]

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information

[2021-10-11 05:50] StormLiangMS opened #8939 "[show techsupport][202012] False timed out message"
#### Description
In current code, it will treat all failures of intermediate commands of "show techsupport" as timed out, which we should improve to recognize the difference between a timedout and other failures.

#### Steps to reproduce the issue:
1. With image before 202012, run the CLI in the shell, "show techsupport".
2.
3.

#### Describe the results you received:
There would be a timed out me

[2021-10-11 08:27] lolyu opened #8941 "[TD2][202012] test_configurable_drop_counter failed because no increase in installed counter"
#### Description
`test_configurable_drop_counter` failed because the installed counter doesn't show the drop while `RX_DROPS` does.

#### Steps to reproduce the issue:
1. run `test_configurable_drop_counter`
2. check the counter when the testcase failed

#### Describe the results you received:
* from syslog `TEST` was installed successfully
[code]
* `RX_DROPS` shows the packet drop, but the new-in

[2021-10-11 09:16] #8941 closed, assigned to nobody

[2021-10-11 15:13] lolyu opened #8944 "[TD2][202012] syslog error `cosq stat get failed` after learning new neighbor"
#### Description
After learning new neighbor, syslog keeps complain that `cosq stat get failed`

#### Steps to reproduce the issue:
1. configure a neighbor in the VLAN subnet on the PTF
[code]
2. ping `192.168.0.100` from the DUT
[code]
3. check the syslog

#### Describe the results you received:
* the syslog output
[code]

#### Describe the results you expected:
* no error in syslog

#### Output

[2021-10-11 21:55] bratashX opened #8949 "[fast-reboot] OA crash because lanes map size is differ"
#### Description
   OA crashed after fast-reboot,  reproduce is less than 100%.

**_Logs:_**
[code]

#### Steps to reproduce the issue:
1. Deploy T0 topology
2. Run `sudo fast-reboot`
2. Check `/var/core` directory.
3. If orchagent core dump is absent need repeat step 2

#### Describe the results you received:
   We have crashed because lanes map is different in Redis and SAI.

#### Describe the r

[2021-10-12 00:56] #8610 closed

[2021-10-12 00:56] dgsudharsan commented on #8610
Closing the issue as fix is merged

[2021-10-12 03:31] kevinskwang opened #8954 "[reboot] Pmon doesn't work well after reboot on th2"
#### Description

Based on latest 202012 image SONiC.20201231.36, run the test_reboot.py test cases, the pmon doesn't work well. Some of daemons is stopped.
#### Steps to reproduce the issue:
1. Run test_reboot.py test case on th2
2. It will report error "Not all pmon daemons running".
#### Describe the results you received:
 The daemon state as bellow:
[code]
#### Describe the results you expecte

[2021-10-12 06:21] kevinskwang commented on #8878
Thanks for the comments!@gechiang
To get a specific counter(1000),  I think we can add a static mac entry before shutdown the egress interface, and then sending the traffic which should be dropped at the egress side.

[2021-10-12 09:05] ppikh opened #8957 "[ARP] No module named 'show_dhcp6relay_counters' - in case when run cmd "sonic-clear arp""
#### Description

Error in  output in case when run cmd "sudo sonic-clear arp"
failed to import plugin clear.plugins.dhcprelay: No module named 'show_dhcp6relay_counters'

#### Steps to reproduce the issue:
1. Run cmd "sudo sonic-clear arp"
2. Check output

#### Describe the results you received:
Error "failed to import plugin clear.plugins.dhcprelay: No module named 'show_dhcp6relay_counters'" in

[2021-10-12 10:51] liat-grozovik commented on #3008
@kcudnik which official version are you referring to? Do you know if it will be released as part of Debian 11, going to SONiC 202111?

[2021-10-12 12:37] ayurkiv-nvda opened #8959 "[telemetry] telemetry.sh script fails to handle missing parameter in config DB and docker does not start"
#### Description
[telemetry_vars.j2](https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-sonic-telemetry/telemetry_vars.j2) file use  **config_db.json**  to generate  set of parameters.
It uses following configs:
[code]
This config is converted by  [telemetry.sh:L13](https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-sonic-telemetry/telemetry.sh#L13)  :

[code]

[2021-10-12 16:16] mdivyamohan opened #8962 "[Query] Can VLAN 1 be used?"
The SDK I am using has VLAN 1 as the default vlan. I want to use this vlan 1 on front panel ports. Is this possible/allowed?

Currently orchagent removes all ports from the default vlan.
If I want to use vlan 1, I have to create vlan 1 and add vlan members from CLI command.
The create_vlan() implementation of SAI would fail as vlan already exists in SDK, but I am ignoring this error in SAI and ret

[2021-10-12 23:38] vaibhavhd commented on #8937
CSP raised with Broadcom for this - MAC events before INIT_VIEW caused reference count to increase, and fail in MEta.cpp

CSP: CS00012205357

[2021-10-13 01:54] #8907 closed

[2021-10-13 02:13] #8938 closed, assigned to nobody

[2021-10-13 14:46] dgsudharsan commented on #8926
@sujinmkang  FYI

[2021-10-13 14:46] dgsudharsan commented on #8925
@sujinmkang  FYI

[2021-10-13 14:46] dgsudharsan commented on #8924
@sujinmkang  FYI

[2021-10-13 14:46] dgsudharsan commented on #8923
@sujinmkang  FYI

[2021-10-14 00:19] #7990 closed

[2021-10-14 00:33] #8934 closed

[2021-10-14 06:04] wen587 opened #8974 "armhf and arm64 may miss those conf file"
#### Description

The config files were only kept under x86_64 dir, which may result other arch build missing the config.
[Possible issue link](https://github.com/Azure/sonic-buildimage/blob/master/build_image.sh#L72)
#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `

[2021-10-14 13:38] dflynn-Nokia opened #8977 "Azure.sonic-buildimage.official.marvell-armhf pipeline builds are consistently failing"
#### Description

The daily Azure pipeline builds of marvell-armhf are consistently failing. The failures are typically due to TLS handshake timeout errors. Please see https://dev.azure.com/mssonic/build/_build?definitionId=141&_a=summary for details.

#### Steps to reproduce the issue:
1. Observe daily pipeline builds for marvell-armhf
2.
3.

#### Describe the results you received:
Frequent TLS h

[2021-10-14 20:32] arlakshm opened #8979 "[chassis] Default route learnt from peer linecard is not installed"
#### Description

In a SONiC chassis in T2 topology, on the linecard with no upstream(T3) neighbors the default route is learnt over the internal iBGP session from the remote linecard which has connected to upstream routers.

Example
[code]

However, the default route learnt from BGP is not installed in the kernel because it is not considered as best route.
The static route programmed for the mana

[2021-10-15 00:44] sujinmkang opened #8981 "[202012][platform_tests] platform_tests/test_cpu_memory_usage.py::test_cpu_memory_usage failure on 7260"
#### Description
test_cpu_memory_usage continuously failed on 7260 with master and 202012 image.
Syncd is showing the cpu usage of more than 50%.

#### Steps to reproduce the issue:
1. run pytest tests/platform_tests/test_cpu_memory_usage.py::test_cpu_memory_usage on 7260
2. check the result
3.

#### Describe the results you received:

cpu_threshold = 50
duthost    = <MultiAsicSonicHost> str2-7260

[2021-10-15 05:41] wangxin opened #8984 "[thermalctld] Caught exception while initializing thermal manager - JSONDecodeError"
#### Description

If restart the pmon service, error like below can be observed in syslog:
[code]

#### Steps to reproduce the issue:
1. Restart the pmon service using command `sudo systemctl restart pmon`
2. Check syslog. Observed err:
[code]
3. Check thermalctld service in pmon docker, it is RUNNING ok.
[code]

#### Describe the results you received:
Observed error message in syslog after the pm

[2021-10-15 23:29] vaibhavhd commented on #7810
Hit this issue on 4600 T0 warmboot to same image (202012)

[code]

[2021-10-16 21:28] vivekreddynv commented on #8898
I was just trying to build cross-architecture targets on my x86 build server and came across this.

@antony-rheneus Can you take a look? I think you've introduced these changes.

[2021-10-18 04:24] tw0byt3 opened #8993 "[DPB] Unable to breakout a port on Mellanox SN2700"
**Description:**

The Dynamic Port Breakout feature is not working as expected on the latest master image

**Describe the results you received:**

config interface breakout Ethernet0 4x10G[25G] -y

Running Breakout Mode : 1x100G[50G,40G,25G,10G]

Target Breakout Mode : 4x10G[25G]

Ports to be deleted :
 {
    "Ethernet0": "100000"
}
Ports to be added :
 {
    "Ethernet0": "10000",
    "Ethernet1":

[2021-10-18 14:54] ArunSaravananBalachandran commented on #8904
@tjchadaga, the base class implementation of the PSU APIs ‘get_status_master_led’ and ‘set_status_master_led’  are not overridden in Z9332f and hence the test case is expected to pass always.

The failure seems to be caused by a connection failure during the test run.

[2021-10-19 03:36] jimmyzhai opened #9005 "[gearbox] port is not operational on sonic platform arista_7280cr3mk_32p4"
#### Description
On sonic platform arista_7280cr3mk_32p4 (HwSKU Arista-7280CR3-C40), the 2nd port of each gearbox (phy1..8) is always not operational and RX/TX failure, however the other 1st, 3rd and 4th ports work.

#### Steps to reproduce the issue:
1. Boot up the device with daily image (Oct 12, 2021 or newer) of master branch
2. Configure IFACE Ethernet0, Ethernet4, ... Ethernet124 as switch p

[2021-10-19 03:46] jimmyzhai commented on #9005
1/ Not able to show gearbox (system and line side) port status
2/ Not able to show gearbox port counters
3/ absence of debug shell to dump the registers of gearbox Credo chip

[2021-10-19 17:13] #8801 closed

[2021-10-19 21:44] alexrallen opened #9010 "[bullseye] Output of iproute2 v5 parsed incorrectly by swss for VLAN removal"
**THIS IS A BUG TARGETING the Debian 11 / Kernel 5.10 UPGRADE**

#### Description

The new major version of iproute2 (5.10) has a different output than the version currently used in SONiC (4.20)

Directly after removing a port from a vlan bridge in 4.20 we see the following results
[code]

SWSS looks at this result and greps for "None" in order to determine that it needs to remove the interface fr

[2021-10-19 21:45] alexrallen commented on #9010
FYI @saiarcot895

[2021-10-19 21:57] alexrallen opened #9011 "[bullseye] fdisk and gpg missing from host"
**THIS IS A BUG TARGETING the Debian 11 / Kernel 5.10 UPGRADE**

#### Description
The packages `fdisk` and `gpg` are missing from the host image. They were previously present in buster.

This is currently breaking `fwutil` which assumes these packages will be present.

Manual installation of these packages fixes the `fwutil` flow.

#### Steps to reproduce the issue:
1. Run `show platform firmware

[2021-10-20 16:52] vivekreddynv opened #9021 "[redis] Design limitation of Configdbconnector could lead to a blackout when using listen"
#### Description

Exact issue seen in the hostcfgd is documented here https://github.com/Azure/sonic-buildimage/issues/8619. (Hostcfgd using configdbconnector is the reason here)

To mitigate this either config_db.listen() can be modified to read the existing data and treat them like an incoming message.

or the usage of ConfigDBConnector connector can be replaced by SubscriberStateTable which alr

[2021-10-21 01:13] yxieca opened #9024 "What should be the behavior when SONiC run out of memory in user space?"
This is a design question:

Currently, when kernel runs out of memory and triggers OOM, kernel panic will happen and device will be rebooted.

What should be the behavior when memory is exhausted in user space?

[2021-10-21 06:16] kamalsahu0001 opened #9028 "VxLan tunnel information is not shown properly while configuring EVPN (tunnel destination remains blank)"
Configure BGP EVPN VxLAN using two L2VNI
The host routes are advertised and learned properly.
In the configuration, 2 vlans 30 and 40 are added and L2VNI's configured as 3000 and 4000
while verifying the configuration using "show bgp l2vpn evpn", the routes are learned.
If we use "show vxlan tunnel", it doesn't show the destination ip address and also all the vni-vlan mappings are not shown

sonic

[2021-10-21 15:22] vganesan-nokia opened #9033 "[voq][orchagent][fabric]"Failed to get port object for portid" error during line card boot up"
#### Description
In VOQ chassis, in the linecard syslog, series of following error logs are seen for all asic instances. These errors are seen during the linecard boot up

**ERR swss0#orchagent: :- doTask: Failed to get port object for port id 0x10000000000a9
ERR swss0#orchagent: :- doTask: Failed to get port object for port id 0x10000000000ac
ERR swss0#orchagent: :- doTask: Failed to get port obj

[2021-10-21 17:27] abhiranjeet opened #9035 "COUNTERS_DB is not getting up after restarting SWSS container on AS7712-32X"
#### Description

Counters DB is not getting initialized on Accton AS7712-32X Switch after restarting SWSS container

#### Steps to reproduce the issue:
1. Just installed onie-compatible SONiC OS image on the switch

#### Describe the results you expected:
Expected COUNTERS_DB to get initialized after restarting SWSS container, Is there any script or file that initializes COUNTERS_DB ?

#### Outpu

[2021-10-21 21:21] Stephenxf opened #9039 "[syncd] syncd crash due to memory corruption"
#### Description
The `syncd` process crashed due to possible memory corruption. A kernel _general protection fault_ (GPF) was observed before `syncd` exit. We have seen this problem only once in lab and production.

The image used is relatively old, based off 201811, but looks like there isn't much change in `swss-common` from 201911 and 202012. As the trigger was unknown and repro not available,

[2021-10-22 15:16] mlok-nokia opened #9042 "[supervisor]monit container-checker failed due to unexpected "database-chassis" docker running"
#### Description
On supervisor card in a VOQ chassis, database-chassis docker is required for proper VOQ operations.  But  monit container-checker fails for this docker.  Syslog shows the following messages
[code]
#### Steps to reproduce the issue:
1.  on Supervisor card. execute the "sudo monit status container_checker"

#### Describe the results you received:
[code]
#### Describe the results you

[2021-10-25 23:42] prsunny opened #9055 "Default route is not deleted from H/W in some cases"
#### Description
With the fix for skipping eth0 route, observed that default route is not deleted from HW in some cases. (PR - [1606](https://github.com/Azure/sonic-swss/pull/1606)).

Old issue - https://github.com/Azure/sonic-buildimage/issues/6483

#### Steps to reproduce the issue:
1. Learn default route via BGP
2. Confirm default route for Mgmt IP is present in table default
3. Shutdown all bg

[2021-10-26 00:42] mlok-nokia opened #9057 "[rsyslog.conf][multiasic] rsyslog server $UDPServerAddress is null in /etc/rsyslog.conf file in multiasic platform"
#### Description
In multi NPU platform,  rsyslog server doesn't work  due to the UDPServerAddress is set to null in the /etc/rsyslog.conf file.

#### Steps to reproduce the issue:
1.  login to the multiasic platform.
2. open file /etc/rsyslog.conf to check the $UDPServerAddress
[code]

#### Describe the results you received:
UDPServerAddress is set to null as below.
[code]
#### Describe the result

[2021-10-26 01:26] sacnaik opened #9059 "Provide common gbsyncd.service.j2 systemd service build template file"
#### Description

SONiC provides gbsyncd.service.j2 build template file for gbsyncd systemd service. Currently the service template file is used for VS and other platforms are required to create symlink.

SONiC provides flexibility that each vendor can define platform specific Makefile to build chip specific gbsyncd docker(Ex gbsyncd-credo).  It would be clean if SONiC provides common gbsyncd.serv

[2021-10-26 01:38] ganglyu opened #9060 "[vlan] Some portchannel operations and vlan operations break process 'orchagent'"
#### Description

shutdown portchannels, create test vlans and startup portchannels. After these operations, process 'orchagent' is not running.

#### Steps to reproduce the issue:
[test.sh.txt](https://github.com/Azure/sonic-buildimage/files/7414437/test.sh.txt)

1. Run attached shell script on TH2 platform.
2. Check 'orchagent' process.

#### Describe the results you received:
Process 'orchagent

[2021-10-26 02:06] superchild opened #9061 "What is the usage of "type" in DEVICE_METADATA?"
There're different types may configured in DEVICE_METADATA's type field when using SONiC.
Is there any rules or document guideline to describe which scenario/feature/config will be changed for different type?

I checked the latest [sonic-device-metatdata.yang](https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-device_metadata.yang#L94), it defines the fol

[2021-10-26 04:21] Blueve opened #9064 "[Console Switch] Unable to load the usb console switch"
#### Description

The SONiC couldn't load the USB console switch, no `ttyUSB*` device created under `/dev` directory.

#### Steps to reproduce the issue:
Suddenly happens on our testbed, not sure how to reproduce, reboot not helpful.

DMESG log:
[code]

Reset root USB hub not helpful:
[code]

[code]

Power-cycle not helpful as well.

#### Describe the results you received:
No `/dev/ttyUSB(0-47)` l

[2021-10-26 06:18] hubblezzhu opened #9066 "How 铜"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-10-26 08:43] #9066 closed, assigned to nobody

[2021-10-26 08:54] hubblezzhu opened #9069 "How to add docker based on centos"
Hi, all,
    I am trying to add a new docker container when building sonic image, the new docker container is not based on Debian, but based on centos.  I got build error while it will enter the centos docker and execute `dpkg -i /usr/local/share/buildinfo/sonic-build-hooks_1.0_all.deb`, because dpkg command is not supportted in centos. Follow the build process I found this command appears in prep

[2021-10-27 10:46] stephenxs opened #9088 "'config qos reload' causes orchagent to be aborted"
#### Description
`config qos reload` causes orchagent to be aborted.

The first step of `config qos reload` is to clear all the qos and buffer tables.
There are dependencies among those tables. Eg. `QUEUE` table item will reference items in `SCHEDULER` and `WRED_PROFILE` table.
Qosorch will call SAI to remove item once it receives a notification to remove, eg `SCHEDULER` and `WRED_PROFILE` table i

[2021-10-27 11:49] dinosn opened #9090 "x86_64-arista_7050_qx32s No interface showing"
#### Description
Installation of sonic on x86_64-arista_7050_qx32s has no ports

#### Steps to reproduce the issue:
1. install sonic on arista 7050QX 32S
2. Login
[code]
#### Describe the results you received:

No ports are present on the system
#### Describe the results you expected:
Ports to be seen

#### Output of `show version`:

[code]

[2021-10-27 13:53] dduttman opened #9091 "VRF admin state attribute(s) not sent to SAI when SONiC config is applied"
#### Description

SAI_VIRTUAL_ROUTER_ATTR_ADMIN_V4_STATE and SAI_VIRTUAL_ROUTER_ATTR_ADMIN_V6_STATE not sent to SAI when VRF v4/v6 SONiC config applied. This issue is seen during test_vrf_attr.py::TestVrfAttrIpState.

In our separate SAI unit tests, the two attributes work as expected when triggered, entering the set APIs mapped to the attributes and taking the VRF admin down or up. In TestVrfAttr

[2021-10-27 23:35] alexrallen opened #9096 "[bullseye] kdump-tools is not built"
**THIS IS A BULLSEYE ISSUE ONLY AND NOT PRESENT IN MASTER**

#### Description

`target/debs/bullseye/kdump-tools_1.6.1-1.deb` is not being built which is causing issues with kdump on the switch as the file `/etc/default/kdump-tools` is not present so `sonic-kdump-config` fails

Log from build....
[code]

#### Steps to reproduce the issue:
1. Run `sonic-kdump-conifg --enable`

#### Describe the res

[2021-10-28 02:26] #9069 closed, assigned to nobody

[2021-10-28 03:18] yxieca opened #9097 "orchagent crash after uplink lag flapping"
#### Description
orchagent crashed after uplink lag flapping

#### Steps to reproduce the issue:
1. run dhcp_relay test
2. orchagent crashed after the uplink flap test case
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

[2021-10-28 05:47] AntheaJiang opened #9147 "Error:server certificate verification failed when build sonic bin"
Hello there:

When I build sonic bin, the error messages will show since October , :
fatal: unable to access 'https://salsa.debian.org/kernel-team/initramfs-tools.git/': server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none

I can avoid the error message by copying debs from other project which was compiled successfully  ,but errors still exist when I git

[2021-10-28 10:22] ppikh opened #9101 "[dhcpv6 relay] - DHCPv6 relay does not forward packets to DHCPv6 server"
#### Description

DHCPv6 relay does not forward packets to DHCPv6 server
When client send "dhcp6 solicit" message - it not forwarded to DHCP server

#### Topology used in test
HOST A (enp4s0f0) -----access VLAN 690----- (Ethernet0) DUT (Ethernet40) -----access VLAN 69----- (enp5s0f0) HOST B

HOST A - acts as DHCP client
HOST B - acts as DHCP server

#### Steps to reproduce the issue:
1. Do config

[2021-10-28 13:25] AndriiLozovyi opened #9103 "[COPP] COPP config isn't updated after config_reload"
#### Description
Starting from `SONiC.master.43510-dirty-20211014.091725` COPP configuration doesn't updates, after changing `/etc/sonic/copp_cfg.json` and performing config_reload, COPP isn't updated in APP_DB and ASIC_DB. On previous image `SONiC.master.43029-dirty-20211012.080803` everything is working as expected.

#### Steps to reproduce the issue:
1. `sudo cp /etc/sonic/copp_cfg.json /tmp/ba

[2021-10-28 14:18] #8619 closed, assigned to vivekkarri

[2021-10-28 15:43] #8977 closed, assigned to nobody

[2021-10-28 21:22] smaheshm opened #9108 "[CBF][Yang] Create yang model for the following: "DSCP_TO_FC_MAP" "EXP_TO_FC_MAP""
#### Description

#### Steps to reproduce the issue:
[New feature]

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-10-29 05:54] dgsudharsan opened #9114 "log_ssd_health timeouts when executing from shell and during warm-reboot"
#### Description

Issue introduced after https://github.com/Azure/sonic-utilities/pull/1850
timeout command was added to smartctl. However, the smartctl command in host is a wrapper which calls docker exec -it  pmon smartctl. With the interactive mode, the command doesn't return and it times out.  This is documented in the bug https://github.com/moby/moby/issues/28207#issuecomment-260322321 and re

[2021-10-29 06:32] seanwu-ec opened #9115 "Build sonic-marvell-arm64.bin fail because ImportError: No module named mock"
#### Description
Build sonic-marvell-arm64.bin fail because ImportError: No module named mock
I think that "RUN pip2 install mock==3.0.5" should be added to sonic-slave-stretch/Dockerfile.j2 , just like Buster's.

#### Steps to reproduce the issue:
1. checkout commit https://github.com/Azure/sonic-buildimage/commit/4e0c4fb8327893f6e153c1d14794c221f70a3bc1
2. make init
3. make configure PLATFORM=ma

[2021-10-29 13:20] mbze430 opened #9117 "Default Configuration File for DX010 uses alias 'ARISTA' in BGP Section"
#### Description

When rebuilding/building a new default configuration JSON, the BGP Neighbor are set to ARISTA ?  This is very Minor.

#### Steps to reproduce the issue:
sudo sonic-cfggen -H -p /usr/share/sonic/device/x86_64-cel_seastone-r0/platform.json --preset t1 -k Seastone-DX010 > ~/config.json

#### Describe the results you received:
 "BGP_NEIGHBOR": {
        "10.0.0.1": {
            "rrc

[2021-10-29 16:11] #9103 closed, assigned to nobody

[2021-10-29 19:19] #9114 closed

[2021-10-29 19:36] srj102 commented on #9028
@kishorekunal01  can you check this ?

show vxlan remotevni reads from the VXLAN_REMOTE_VNI table of the APP DB. This seems empty and hence the
show vxlan remotevtep does not show any tunnels.

[2021-10-29 19:54] ghooo commented on #8808
@praveen-li This is the issue about the cropping of input parameters.

Assume we have yang models for: TABLE_A, TABLE_B
Assume configDbJson input to loadData to be:
[code]

The data will be loaded into `SonicYang` object. But at the same time there will be a side-effect of changing the value in the input configDbJson object

Full example:
[code]

[2021-10-29 20:16] ghooo opened #9119 "[yang-models] BGP_NEIGHBOR yang model is not up-to-date"
#### Description
After building a KVM, and validating config using yang-mgmt. we get an error:
[code]
#### Steps to reproduce the issue:
1. Build up a KVM env
2. Run the following code snippet in python3
[code]

#### Describe the results you received:
[code]

#### Describe the results you expected:
Successfully loading configDb into sonic_yang

#### Output of `show version`:

[code]

[2021-10-29 20:23] ghooo opened #9120 "[yang-models] VLAN yang model is not up-to-date"
#### Description
After building a KVM and removing the file `/usr/local/yang-models/sonic-bgp-neighbor.yang`, and validating config using yang-mgmt and we get an error:
[code]
#### Steps to reproduce the issue:
1. Build up a KVM env
2. run: `sudo rm /usr/local/yang-models/sonic-bgp-neighbor.yang`
3. Run the following code snippet in python3
[code]

#### Describe the results you received:
[code]

#

[2021-10-29 20:37] ghooo opened #9121 "[kvm][configdb] After building a KVM, a deprecated field still exist /VLAN/Vlan1000/members"
#### Description
After building a KVM, config-db has a field that should deprecated/revmoved:
/VLAN/Vlan1000/members

#### Steps to reproduce the issue:
1. Build up a KVM env
2. `show running-config all`
3. look for `members` under `/VLAN/Vlan1000`

#### Output of `show version`:
[code]

[2021-10-29 20:44] ghooo opened #9122 "[yang-models] DEVICE_METADATA yang model is not up-to-date"
#### Description
After building a KVM and removing the file `/usr/local/yang-models/sonic-bgp-neighbor.yang` and removing /VLAN/vlan1000/dhcpv6_servers and removing /VLAN/Vlan1000/members from configdb, and validating config using yang-mgmt and we get an error:
[code]
#### Steps to reproduce the issue:
1. Build up a KVM env
2. run: `sudo rm /usr/local/yang-models/sonic-bgp-neighbor.yang`
3. remove

[2021-10-29 20:47] ghooo commented on #9119
@praveen-li

[2021-10-29 20:47] ghooo commented on #9120
@praveen-li

[2021-10-29 20:47] ghooo commented on #9122
@praveen-li

[2021-10-29 20:51] ghooo commented on #9121
@qiluo-msft please let me know if you need more info

[2021-10-30 04:14] qiluo-msft opened #9127 "Fix `python setup.py --name`"
Good catch! It is working now, and I will fix later in anther PR.

_Originally posted by @qiluo-msft in https://github.com/Azure/sonic-buildimage/pull/9111#discussion_r739602328_

[2021-11-01 05:15] #9060 closed

[2021-11-01 05:19] ganglyu opened #9129 "[portchannel] portchannel router interface can not be removed"
#### Description

shutdown all the portchannels, one router interface can not be removed.

#### Steps to reproduce the issue:
[portchannel.log](https://github.com/Azure/sonic-buildimage/files/7450887/portchannel.log)

1. Shutdown all the portchannels on TH2 platform.
2. Wait 10 minutes, and check related router interface.

#### Describe the results you received:
One router interface is not removed

[2021-11-01 13:35] MaratGubaiev commented on #7283
@lguohan @qiluo-msft @xumia
jleveque doesn't answer and [his e-mail](https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services-data/MAINTAINERS) is invalid. So I would readdress the question to you:

[2021-11-01 16:53] praveen-li commented on #9122
@zhangyanzhao We can assign it in yang WG to a Dev.

[2021-11-01 22:14] mlok-nokia opened #9140 "[Nokia][supervisor]The asic_type of Nokia platform IXR7250E supervisor card should be broadcom-dnx"
#### Description
The asic_type of Nokia platform IXR7250E supervisor card should be broadcom-dnx instead of broadcom

#### Steps to reproduce the issue:
1.  Open the device data file /usr/share/sonic/device/x86_64-nokia_ixr7250e_sup-r0/platform_asic file.  It contains "broadcom"

#### Describe the results you received:
File platform_asic contains "broadcom" instead of "broadcom-dnx"

#### Describe

[2021-11-02 05:58] #8655 closed

[2021-11-02 06:19] #8904 closed

[2021-11-02 08:39] antony-rheneus commented on #8898
@vivekreddynv , sonic march build requires that change, and if you need to run it for your custom configuration of dockerd, you can go ahead with overriding the config file in dockerd command Makefile.work.
However I dont see it as immediate/blocker fix to be handled as no one is blocked by it now.

[2021-11-02 13:13] SavchukRomanLv opened #9150 "[ sFlow ] Failed to enable unit"
#### Description
Issue have been found during execution sflow test suite from sonic-mgmt - all cases failed.

#### Steps to reproduce the issue:
Execute command in DUT cli: `sudo config sflow enable`

#### Describe the results you received:
sFlow can not start during error:
`Failed to enable unit: Unit file /etc/systemd/system/sflow.service is masked.`

#### Describe the results you expected:
sFlo

[2021-11-02 17:33] novikauanton opened #9153 "[iccpd] Do not set env platform"
#### Description

 `mclagsyncd` source is in sonic-swss repo, its binary is inside `iccpd` container and binary use `platform` env variable https://github.com/Azure/sonic-swss/blob/ef6b5d48297f7f19a8ec57e2d7b997fd0919bb9d/mclagsyncd/mclaglink.cpp#L191

 But `platform` env is set only inside `swss` container services, for example https://github.com/Azure/sonic-buildimage/blob/7d40384c58848c368ecf7b

[2021-11-02 18:34] kishorekunal01 commented on #9028
This looks like some issue with FRR.
There is no entry for 00:00:00:00:00:00 for the given vlan in the bridge.fdb file.
This entry represent the imet route in the kernel.

Check your FRR cli if the vlan is extended in the FRR.
"show evpn vni <vni_num>"

[2021-11-02 18:59] kamalsahu0001 commented on #9028
sonic# show evpn vni 3000
VNI: 3000
 Type: L2
 Tenant VRF: default
 VxLAN interface: vtep-30
 VxLAN ifIndex: 376
 Local VTEP IP: 1.1.1.1
 Mcast group: 0.0.0.0
 Remote VTEPs for this VNI:
  2.2.2.2 flood: HER
 Number of MACs (local and remote) known for this VNI: 2
 Number of ARPs (IPv4 and IPv6, local and remote) known for this VNI: 2
 Advertise-gw-macip: No
 Advertise-svi-macip: No

[2021-11-02 19:11] kishorekunal01 commented on #9028
Please check "bridge fdb show" on linux. It should show entries like below.

00:00:00:00:00:00 dev vtep-leaf-295 dst 3.3.3.3 self permanent
00:00:00:00:00:00 dev vtep-leaf-295 dst 45.45.45.45 self permanent
00:00:00:00:00:00 dev vtep-leaf-295 dst 6.6.6.6 self permanent

Else there is some issue with ip stack, somehow it is rejecting these imet
routes.

On Tue, Nov 2, 2021 at 11:59 AM kamalsahu0001

[2021-11-02 19:20] kamalsahu0001 commented on #9028
I can see it:

admin@sonic:~$ sudo bridge fdb show | grep 30
a8:2b:b5:87:a0:dc dev Bridge vlan 30 master Bridge permanent
01:00:5e:00:00:01 dev Vlan30 self permanent
33:33:00:00:00:02 dev Vlan30 self permanent
33:33:00:00:00:01 dev Vlan30 self permanent
33:33:ff:87:a0:dc dev Vlan30 self permanent
33:33:ff:00:00:00 dev Vlan30 self permanent
22:22:00:00:00:01 dev vtep-30 vlan 30 extern_learn master

[2021-11-02 19:28] kamalsahu0001 commented on #9028
Also issue observed with not on single platform. It can be seen on different platforms, between two DUTs or using Emulator

[2021-11-02 19:58] kishorekunal01 commented on #9028
Please enable log(SWSS_LOG_INFO)  for fdbsyncd and delete/add the vni again
so that event can be again triggered.

Please collect TS and load it to the defect.

On Tue, Nov 2, 2021 at 12:28 PM kamalsahu0001 ***@***.***>
wrote:

--
This electronic communication and the information and any files transmitted
with it, or attached to it, are confidential and are intended solely for
the use of the indiv

[2021-11-02 23:17] kamalsahu0001 commented on #9028
Can you please provide me with the command to enable the log?

[2021-11-03 06:14] abdosi opened #9159 "syslog not working on multi-asic platforms"
Issue:

Currently syslog is not working on Multi-asic platfroms. Reason being UDP Syslog Server IP which is docker bridge ip is not getting rendered correctly. As part of this PR#https://github.com/Azure/sonic-buildimage/pull/8418 there was change to use
use JSON to parse ip's output instead of text which is not rendering docker bridge ip.

![image](https://user-images.githubusercontent.com/580471

[2021-11-03 06:18] abdosi commented on #9159
cc @saiarcot895 @anamehra @arlakshm

[2021-11-03 13:39] #9057 closed

[2021-11-03 13:41] mlok-nokia commented on #9057
Duplicated with issue #9159

[2021-11-03 18:39] tjchadaga opened #9165 "[9332][fast-reboot] fast-reboot fails on 9332 due to downtime > 30s"
#### Description

Fast-reboot fails on 9332 due to dataplane downtime greater than 30s (~97s). This is caused by all ports going through an additional flap during fast-reboot as a result of port serdes programming being done after the port comes up

#### Steps to reproduce the issue:
1. Run advanced_reboot/test_advanced_reboot.py::test_fast_reboot
2.
3.

#### Describe the results you received:
[co

[2021-11-03 22:58] #9140 closed

[2021-11-04 01:29] #9159 closed

[2021-11-04 03:36] ganglyu opened #9167 "[arp] Broadcast garp packets are dropped occasionally"
#### Description
Use test_tagged_arp.py to send garp packets，sometimes garp packets are dropped.

#### Steps to reproduce the issue:
1. Run test script.

#### Describe the results you received:
PTF occasionally can't receive arp packet.

#### Describe the results you expected:
PTF can receive arp packet.

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Addit

[2021-11-04 04:42] srj102 commented on #9028
swssloglevel -l INFO -c fdbsyncd

swssloglevel -p

swssloglevel -h

[2021-11-04 06:46] kamalsahu0001 commented on #9028
[sonic_dump_sonic_20211104_061028.tar.gz](https://github.com/Azure/sonic-buildimage/files/7472800/sonic_dump_sonic_20211104_061028.tar.gz)

[2021-11-04 10:50] Xichen96 opened #9171 "CRM available counters does not decrease with route added"
#### Description

There are 2 counters that keep track of CRM resources, one of them counts used and the other counts available. The expectation is that once a route is added, the used counter will increase by one and availble decrease by one. Now we are observing changes in used counter but not availble counter. When a route is added, SWSS will call SAI create_route_entry, once that is successful

[2021-11-04 14:30] Blueve opened #9172 "[Marvell] test_everflow_per_interface failed and SAI error observed"
#### Description

#### Steps to reproduce the issue:
1. Run `tests/everflow/test_everflow_per_interface.py`
2. Check syslog

#### Describe the results you received:
Test failed and SAI issues in the syslog:
[code]

#### Describe the results you expected:
Test pass and no SAI error in syslog

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional informat

[2021-11-04 17:44] #9120 closed

[2021-11-04 17:44] zhangyanzhao commented on #9120
@AkhileshSamineni please help to handle this issue when working on 8946. Thanks.

[2021-11-04 17:50] qiluo-msft commented on #9120
@ghooo Please verify this issue is closed by linked pull request.

[2021-11-04 17:51] zhangyanzhao commented on #9108
@TACappleman  please help to take a look at this PR

[2021-11-04 17:54] zhangyanzhao commented on #7733
@praveen-li can you please help to take a look? Thanks.

[2021-11-04 17:56] zhangyanzhao commented on #7076
@tim-rj is this issue fixed or still happen?

[2021-11-04 17:57] zhangyanzhao commented on #6025
@chaichairiko  can you please provide more info on your request? Thanks.

[2021-11-04 18:00] smaheshm commented on #9108
https://github.com/Azure/sonic-buildimage/pull/9116

[2021-11-04 18:01] kishorekunal01 commented on #9028
I am not sure what is going wrong here.

Earlier your pasted:
***@***.***:~$ sudo bridge fdb show | grep 30
a8:2b:b5:87:a0:dc dev Bridge vlan 30 master Bridge permanent
01:00:5e:00:00:01 dev Vlan30 self permanent
33:33:00:00:00:02 dev Vlan30 self permanent
33:33:00:00:00:01 dev Vlan30 self permanent
33:33:ff:87:a0:dc dev Vlan30 self permanent
33:33:ff:00:00:00 dev Vlan30 self permanent
22:22:00:00

[2021-11-04 18:10] kamalsahu0001 commented on #9028
The latest logs were attached from another switch with different platform. Let me add the logs from the same switch which i tested before.

[2021-11-04 22:58] zebracrowd opened #9177 "[AS7326-56x] syncd does not start up after a clean install. switch creation failure."
#### Description

orchagent and syncd fail to startup on the as7326 platform (cannot check on other accton devices at this time). This is a switch just imaged and not configured yet. The image is compiled from the master branch.

The last commit for which i can start the switch normally is: a99d78dedb838644d13150f5946a962a80ebacab
The sai update that follows seems to be the cause/trigger.

#### St

[2021-11-04 23:02] zebracrowd commented on #9177
[sonic_dump_sonic_20210927_160239.tar.gz](https://github.com/Azure/sonic-buildimage/files/7479363/sonic_dump_sonic_20210927_160239.tar.gz)
show techsupport

[2021-11-05 05:44] AntheaJiang opened #9181 "sfpshow presence/eeprom can't show correctly, error message is :TypeError: 'NoneType' object is not iterable"
#### Description
Did anyone met this error these days in 201911 branch?
When run platform api command: sfpshow presence/eeprom, there are errors,the image built in nov 1 is ok,there is no error when run sfpshow presence/eeprom, but error occurs in the image built since nov 3,I don't know how to fix it, is there anyone can help about this?

#### Steps to reproduce the issue:
1.root@sonic:/# sfpshow

[2021-11-05 05:53] AntheaJiang commented on #9181
docker ps  result:
root@sonic:/# docker ps -a
CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              PORTS               NAMES
53d8eae0f8d6        docker-sonic-telemetry:latest        "/usr/bin/supervisord"   3 hours ago         Up 2 hours                              telemetry
46303d851b69        docker-sonic-mgmt-framework:latest

[2021-11-05 05:54] AntheaJiang commented on #9181
@bbinxie Hi, sorry to bother you,but did you see this failure like this before?I have no idea how to solve it at all.

[2021-11-05 05:55] #9147 closed

[2021-11-05 13:36] tjcw opened #9186 "First 'make' fails with PLATFORM=vs"
#### Description

#### Steps to reproduce the issue:
1. Set up a build
2. Type 'make SONIC_BUILD_JOBS=1 all'
3. Observe that the build fails
4. Type 'make SONIC_BUILD_JOBS=1 all'
5. Observe that the build succeeds

#### Describe the results you received:
A build log ending with
+ sudo rm -rf ./fsroot-vs
rm: cannot remove './fsroot-vs/var/lib/docker': Device or resource busy
+ die 'Failed to clean

[2021-11-05 20:34] zebracrowd opened #9187 "SAI errors installing tunnel entries in the l3vni case"
#### Description

SAI errors setting up tunnel maps in the l3vni case. A purely l2vni setup works. This is running off of the 202106 branch with a couple of local unrelated diffs added. The riot options are enabled to the bcm file.

#### Describe the results you received:

in the log:
...
Sep 28 13:31:47.022976 net-sw1-2-sfh1 ERR swss#orchagent: :- meta_generic_validation_objlist: SAI_TUNNEL_MAP_E

[2021-11-05 20:36] zebracrowd commented on #9187
[sonic_dump_net-sw1-2-sfh1_20210928_133922.tar.gz](https://github.com/Azure/sonic-buildimage/files/7488774/sonic_dump_net-sw1-2-sfh1_20210928_133922.tar.gz)

show techsupport

[2021-11-05 20:37] zebracrowd commented on #9187
a pointer as to how to troubleshoot these kind of issues would also be great

[2021-11-05 23:02] praveen-li commented on #7733
@nazariig : Sure, if you feel, it will help, Please go ahead and make the changes. Thx.

[2021-11-05 23:55] zebracrowd commented on #9187
Also, it seems different than the case described in #9028.

There are type 3 routes sent/received for the l2vni route targets (1022 for example) as shown here. There is no type 3 routes for the l3vni, and this is as expected, l3vni uses type 5 routes only:

vtysh -c 'show bgp l2vpn evpn'
BGP table version is 4, local router ID is 172.16.0.32
Status codes: s suppressed, d damped, h history, * valid

[2021-11-06 03:00] tbgowda commented on #8980
@lguohan , for clarification, are you suggesting we use SAI api : sai_query_attribute_capability to check if the attribute above is supported or not and then call make the subsequent call to set it?

[2021-11-06 05:37] arlakshm opened #9188 "Default route removed from APP_DB on shutdown of management port."
#### Description
On making port `eth0` down the default route is removed from `APP_DB`.

#### Steps to reproduce the issue:
1. Learn the default route via BGP.
2. Confirm the default route is present in APP_DB
3. shutdown the management port

#### Describe the results you received:
The default route is removed from the APP_DB.

#### Describe the results you expected:
The default route should not b

[2021-11-07 14:19] mbze430 opened #9189 "Bunch of docker container is missing??"
#### Description

None of the physical port works

#### Steps to reproduce the issue:
1. show interfaces status - shows all ports are down regardless
2. sudo config interface startup [interface name] - doesn't do anything.
3.

#### Describe the results you received:
all ports down.  However the log show the following:
Nov  7 07:56:47.398702 localhost DEBUG /disk_check.py: /etc is Read-Write
Nov  7

[2021-11-08 16:23] chitra-raghavan opened #9193 "[Z9332] : RX Drop is not accounted in interface counters when PFCWD is triggered in bidirectional traffic."
#### Description

**Test Setup**

PFCWD is enabled on ports Ethernet0 and Ethernet2
Bi directional traffic is sent from ports Ethernet0 and Ethernet2  with Priority P3.
PFC P3 pause is sent  from IXIA connected to Ethernet0 .

#### Describe the results you received:

When PFC pause is received on Ethernet0, the port is stormed.
Packets are dropped at  RX in port Ethernt0 and at Tx in Ethernet2.
Br

[2021-11-08 17:29] saiarcot895 commented on #9011
This will be fixed in my PR.

[2021-11-09 00:10] praveen-li commented on #8808
Yes, this in done intentional. Because only Table A and Table B can be loaded in Data tree. Table C is removed since it can not be validated. Keeping TAble C gives the impression that it is validated, which is incorrect. This way User of library knows the non validated part if a copy is made before by user.

A copy can be made internal in library, but the issue is, how user will know that some par

[2021-11-09 01:52] Blueve opened #9201 "[armhf] Factory default config DB doesn't include port table"
#### Description
The factory default config DB doesn't include port table.
[code]

#### Steps to reproduce the issue:
1. ONIE install armhf image (202012)
2. Check running config and `/etc/sonic/config_db.json`

#### Describe the results you received:
1. There is no `config_db.json` file exists
2. Running config doesn't include port table

#### Describe the results you expected:
1. Device has a fa

[2021-11-09 02:04] StormLiangMS opened #9202 "[flex counter] Flex counter threads consume too much CPU resources."
#### Description

syncd will start multi threads to collect counters, which occupies lots of CPU resources in some platform, how bad it could be? It  depends on the quantity of ports and queues, and the CPU.
#### Steps to reproduce the issue:
1. To enable the flex counter
2.  To check the CPU usage by top command.
3.

#### Describe the results you received:

#### Describe the results you expected:

[2021-11-09 02:46] Blueve commented on #9201
The issue was caused by my private build set `enable_dhcp_graph_service == "y"`

[2021-11-09 05:25] Xichen96 commented on #9171
@prsunny Hi, I added 10 routes, and still only used counter changed. Also I noticed 2 changes. 1. sonic-db-cli took a long time after reboot to function correctly, like more than 5 minutes. 2. When I posted this issue, the used counter was refreshed almost immediately. Now it changes after about 2 minutes.

[2021-11-09 10:40] stephengao-ragilenetworks opened #9204 "[syslog error] No module named "'show.plugins.dhcprelay'"
#### Description

Check syslog  and found an error on today's master version:
Nov  9 10:31:43.094649 stephengao-48v8c ERR sonic-clear: failed to import plugin clear.plugins.dhcp-relay: No module named 'show.plugins.dhcprelay'

#### Steps to reproduce the issue:
1. Install master sonic
2. Deploy sonic testbed.
3. Check

#### Describe the results you received:
Error in module missing

#### Describe

[2021-11-09 16:56] MaratGubaiev commented on #7282
Dear all,

As I understand, to move pcie-check service into sonic-host-services & sonic-host-services-data packages means to move https://github.com/Azure/sonic-platform-daemons/tree/master/sonic-pcied to sonic-buildimage.

It means that changes should be made in two repos simultaneously.

The question is: what is the best practices of the community to make such changes?

Sincerely yours,
Marat Gu

[2021-11-09 20:05] qiluo-msft commented on #7282
What is the motivation to move service?
@sujinmkang for awareness

[2021-11-09 21:14] qiluo-msft commented on #8808
Is it possible to return a read-only reference to the internal copy? so user will know what is actually loaded. If anything failed, originally this function will return False, and we can let it return an empty tree since nothing is loaded.

[2021-11-10 05:05] MaratGubaiev commented on #7282
Maybe I am wrong because there is also https://github.com/Azure/sonic-buildimage/tree/master/files/image_config/pcie-check the bash script with functionality that looks the same as sonic-platform-daemons/sonic-pcied

But bash script cannot be moved into sonic-host-services & sonic-host-services-data packages, also my SONiC I see ```cat /usr/bin/pcie-check.sh``` results but no  ```ps -aux | grep pc

[2021-11-10 06:48] MaratGubaiev commented on #7283
Pull request is ready for review: https://github.com/Azure/sonic-buildimage/pull/9130#issuecomment-962489086

[2021-11-10 07:39] seanwu-ec opened #9216 "[Build] marvell-arm64 build redis_dump_load-1.1-py2-none-any.whl fail"
#### Description

Build redis_dump_load-1.1-py2-none-any.whl fail while building marvell-arm64.  Please see the full log below.
I realized that redis has removed support for end-of-life Python 2.7 https://github.com/redis/redis-py/pull/1318 since v4.0.0b1. Somehow setuptool acquired redis 4.0.0rc1 while performing `python2 setup.py test` and trigger the error.

CHANGE SUGGESTION:
- Just like https

[2021-11-10 15:15] shanshri opened #9219 "SDK Initialization failing on cold boot"
#### Description

#### Steps to reproduce the issue:
1. Do a cold boot.

#### Describe the results you received:
syslog:6330:Nov 10 14:48:11.316302 tb63-host2-cimc NOTICE syncd#syncd: :- processOidCreate: creating switch number 1
syslog:6331:Nov 10 14:48:11.358965 tb63-host2-cimc INFO syncd#syncd: [none] SAI_API_SWITCH:board_id_default:601 Failed to obtain switch ID.
syslog:6332:Nov 10 14:48:11.35

[2021-11-10 15:56] toreanderson commented on #9177
Can confirm. Lastest `master` does not work. I have tried:

* `SONiC.master.46904-dirty-20211028.153400` (the version linked from https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms)
* `SONiC.master.49714-dirty-20211109.140810` (the last build available from https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds?branchName=master at the time of writing)

Latest availab

[2021-11-10 16:03] #8957 closed

[2021-11-10 16:08] zhangyanzhao commented on #7282
update sub-module firstly, then update build-image to add new module

[2021-11-10 16:08] zhangyanzhao commented on #7282
@lguohan  please help to leave your comments

[2021-11-10 16:13] zhangyanzhao commented on #9219
@Adam Yeung can BRCM help to take a look? Thanks.

[2021-11-10 16:21] zhangyanzhao commented on #9189
@mbze430  please provide more detail on the repro steps. Looks like the dockers are there, but not running.

[2021-11-10 16:25] zhangyanzhao commented on #9186
@tjcw  can you please provide the full logs? Thanks.

[2021-11-10 16:26] gechiang commented on #9193
@chitra-raghavan Can you you try removing the SOC property "sai_adjust_acl_drop_in_rx_drop=1" from the corresponding z9332f config.bcm file such as:
device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
To narrow down if the behavior you observed is due to

[2021-11-10 16:29] zhangyanzhao commented on #9177
Possibly because the SAI header issue, can you please retry the latest image.

[2021-11-10 16:32] lguohan commented on #9167
dropped by which component, is it dropped by the server, fanout, or the DUT? is this an image issue or testbed infrastructure issue?

[2021-11-10 16:35] lguohan commented on #9172
@rajkumar38, the issue cannot be closed until master branch has the fix.

[2021-11-10 16:35] zhangyanzhao commented on #9150
@SavchukRomanLv  have you enabled the sflow config before you run the command? That possibly helps, can you double check?

[2021-11-10 16:38] zhangyanzhao commented on #9129
@ganglyu  please provide system dump so that community can further help. Thanks.

[2021-11-10 16:39] lguohan commented on #9129
we need syslog to see if this is sai issue or not.

[2021-11-10 16:39] saiarcot895 commented on #9096
This is fixed in my current Bullseye PR.

[2021-11-10 16:41] lguohan commented on #9096
@saiarcot895 , can you link this issue with your pr?

[2021-11-10 16:44] zhangyanzhao commented on #9115
https://github.com/Azure/sonic-buildimage/commit/56049830fb8e0bbf2eb08587ad9628789eac15b3 could fix this issue.

[2021-11-10 16:44] lguohan commented on #9115
marvel has moved the syncd docker to buster, this issue should be addressed.

[2021-11-10 16:44] #9115 closed

[2021-11-10 16:48] zhangyanzhao commented on #9090
@dinosn  please double check whether you applied the proper config after installing the environment.

[2021-11-10 16:53] zhangyanzhao commented on #9088
@stephenxs  please provide more detail on the repro steps. This looks like a corner case.

[2021-11-10 16:54] tjcw commented on #9186
[build.0.log](https://github.com/Azure/sonic-buildimage/files/7514502/build.0.log)
[build.1.log](https://github.com/Azure/sonic-buildimage/files/7514503/build.1.log)
[build.2.log](https://github.com/Azure/sonic-buildimage/files/7514514/build.2.log)

This time the build took 3 passes to complete

[2021-11-10 16:58] zhangyanzhao commented on #9061
@praveen-li  can you please help to clarify? Thanks.

[2021-11-10 16:59] lguohan commented on #9061
@neethajohn , this is a problem, we should add these types in the yang model. can you do that? 'BackEndToRRouter', 'BackEndLeafRouter'

[2021-11-10 16:59] zhangyanzhao commented on #9061
@neethajohn  can you please help to add BackEndToRRouter/BackEndLeafRouter  to Device_Metadata YANG model?

[2021-11-10 17:04] chitra-raghavan commented on #9193
@gechiang ,   After commenting the SOC property "sai_adjust_acl_drop_in_rx_drop=1" from the corresponding z9332f config.bcm file , the ingress drops are shown in show  interface counters .

[code]

[2021-11-10 18:16] mbze430 commented on #9189
You can close it.  i ended uninstalling (clear out) SONiC and reloading it.  I haven't had those type of error message in the log since.

[2021-11-10 18:16] #9189 closed

[2021-11-10 19:51] vmittal-msft commented on #9193
As per debug call today morning, here are the findings -
1. PFCWD behavior is working fine with or without SOC property "sai_adjust_acl_drop_in_rx_drop=1" part of config.bcm file.
2. This SOC property was introduced to ignore RxDrops due to ACL (installed by user) as part of interface counters. Since PFCWD logic install ACL to drop Tx/Rx traffic during storm. it is not counted as part of interface

[2021-11-10 19:51] #9193 closed

[2021-11-10 23:27] #9011 closed

[2021-11-10 23:27] #9096 closed

[2021-11-10 23:50] stephenxs commented on #9088
@zhangyanzhao this can be reproduced by executing config qos reload only. No other steps required.
This is because the items like wred profiles, which is referenced by queues, are removed ahead of queues being removed. The reference count in SAI redis is not zero when SAI redis receives the removing notification.

[2021-11-11 00:21] qiluo-msft commented on #7076
It should be resolved on 202012. I will close.
Feel free to reopen if still happen.

[2021-11-11 00:21] #7076 closed

[2021-11-11 02:23] ddspring commented on #5097
I am facing this error as well, appriciate for any help.

my build process:
make init
make configure PLATFORM=centec
make all

[sonic-centec.bin.log](https://github.com/Azure/sonic-buildimage/files/7517176/sonic-centec.bin.log)
build log:
....
"Cannot change symbolic links when kdump is loaded ... failed!
dpkg: error processing package kdump-tools (--install):
 installed kdump-tools package post-i

[2021-11-11 02:45] ganglyu commented on #9167
Packets are dropped by the server, and please refer to this PR:
https://github.com/Azure/sonic-mgmt/pull/4635

[2021-11-11 03:17] ganglyu commented on #9129
[syslog.log](https://github.com/Azure/sonic-buildimage/files/7517434/syslog.log)
Attached syslog.

[2021-11-11 03:29] kamalsahu0001 commented on #9028
[dump.zip](https://github.com/Azure/sonic-buildimage/files/7517499/dump.zip)
[log.zip](https://github.com/Azure/sonic-buildimage/files/7517500/log.zip)
[proc.zip](https://github.com/Azure/sonic-buildimage/files/7517502/proc.zip)
[sai.zip](https://github.com/Azure/sonic-buildimage/files/7517503/sai.zip)
[warmboot.zip](https://github.com/Azure/sonic-buildimage/files/7517505/warmboot.zip)

[2021-11-11 03:29] kamalsahu0001 commented on #9028
logs from another switch.
[sonic_dump_sonic_20211108_051740.tar.gz](https://github.com/Azure/sonic-buildimage/files/7517515/sonic_dump_sonic_20211108_051740.tar.gz)

[2021-11-11 03:32] ddspring commented on #5097
this problem seems fixed.

todo:
1)config 'sonic' to sudoers
2)make target/sonic-centec.bin
it build successfully.

[2021-11-11 05:15] MaratGubaiev commented on #7282
Hi Yanzhao,

It looks good if you are updating "master" in main repositories.
I can only update my forks.
So I have a branch in two forks:

[2021-11-11 05:52] keboliu commented on #7282
@sujinmkang, I have the same question as  @MaratGubaiev, why do we have similar functions in both https://github.com/Azure/sonic-buildimage/tree/master/files/image_config/pcie-check  and https://github.com/Azure/sonic-platform-daemons/tree/master/sonic-pcied ? Are they duplicated or serve different purposes?

@MaratGubaiev why do we want to move sonic-pcied from PMON docker to host_services? Any s

[2021-11-11 06:00] MaratGubaiev commented on #7282
Any idea. I'm just fixing the issue. But I asked this question at the biweekly meeting

BTW I have made a guess that there is no relation between docker a script run and package a script located. Am I wrong?

[2021-11-11 06:34] toreanderson commented on #9177
@zhangyanzhao I have now tested [SONiC.master.50075-dirty-20211110.132837](https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds/50075/artifacts/96082?branchName=master&artifactName=sonic-buildimage.broadcom), which is the latest image at the time of writing. I do not see any improvement, unfortunately:

[code]

`show techsupport` result: [sonic_dump_l1-g5-osl2.n.bitbit.net_20211111_

[2021-11-11 07:00] toreanderson commented on #9177
For what it is worth, the latest `master` image that works is [SONiC.master.43924-dirty-20211016.142146](https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=broadcom&buildId=43924&target=target%2Fsonic-broadcom.bin).

[2021-11-11 17:19] saiarcot895 commented on #9127
I ended up fixing this in #8191, in commit a1d30e3aa06991e8f2679c641eb1eaac2f7bfe92. That change was needed to get Bullseye working.

[2021-11-11 18:13] zebracrowd commented on #9177
I tried an image based off of 8219975d6fb35fcaed458401468c2673a7181179 and it is still failing. I have a new build based off of 5826a5c4e751124e2552c78ef826248b49071379 (after the bullseye upgrade) compiling, will update when i am done with the test.

[2021-11-11 18:43] qiluo-msft commented on #9121
Is it a blocking issue to some other task?

[2021-11-11 18:47] ghooo commented on #9121
@qiluo I think it is a pain point for E2E testing of generic-config-updater. We do a work around by removing the `members` from the config using `config reload`. It is an inconvenience, I think it should be fixed.

[2021-11-11 20:41] Xichen96 opened #9236 "ECMP hash is not configured as expected for IPv4 packets"
#### Description

A failed fib test indicates that, IPv4 TCP packets with the same src IP, dst IP but different src port and dst port are not transmitted through different network interfaces as expected. Looks like only L3 hash is used for IPv4 packets and not L4. IPv6 packets are routed through L4 hash.

#### Steps to reproduce the issue:
1. Construct multiple TCP packets with the same IPv4 IP an

[2021-11-11 21:50] zebracrowd commented on #9187
In the logs shortly after startup, this shows up

[code]

[2021-11-11 21:56] qiluo-msft commented on #9127
Thanks @saiarcot895!

[2021-11-11 21:56] #9127 closed

[2021-11-12 00:33] #8738 closed

[2021-11-12 01:00] SuvarnaMeenakshi opened #9239 "RecircPort not present in SNMP interfaces for Voq chassis"
#### Description

#### Steps to reproduce the issue:
1. Run test_snmp_interfaces.py test on Arista Voq chassis or Linecard

#### Describe the results you received:
FAILED snmp/test_snmp_interfaces.py::test_snmp_interfaces[str2-7804-lc7-1-None] - AttributeError: 'module' object has no attribute 'locals'
FAILED snmp/test_snmp_interfaces.py::test_snmp_interfaces_mibs[str2-7804-lc7-1-None] - KeyError:

[2021-11-12 05:42] Blueve commented on #9236
Failed tests are:
[code]

[2021-11-12 07:34] qiluo-msft opened #9241 "Discussed offline: we will not use pam_tacplus function to parse nss_tacplus config in future. Then we will abandon this patch."
Discussed offline: we will not use pam_tacplus function to parse nss_tacplus config in future. Then we will abandon this patch.

_Originally posted by @qiluo-msft in https://github.com/Azure/sonic-buildimage/pull/8715#discussion_r748032972_

[2021-11-12 07:36] liuh-80 commented on #9241
Offline discussion about the config file part:
	1. Use a standalone config file for auditd plugin and bash plugin: more general design, but will bring dupe info in sonic (dupe config file).
	2. Use configDB for those 2 plugin: only for sonic because need read from config DB.

[2021-11-12 07:48] zebracrowd commented on #9177
results of the test on 5826a5c4e751124e2552c78ef826248b49071379 => still seeing the same failure

[2021-11-12 11:14] MaratGubaiev commented on #7282
Related issue: https://github.com/Azure/sonic-buildimage/issues/7283 "Move system-health daemon into sonic-host-services/sonic-host-services-data packages"
_see also_ https://github.com/Azure/sonic-buildimage/pull/9130

[2021-11-12 11:16] MaratGubaiev commented on #7283
Related issue https://github.com/Azure/sonic-buildimage/issues/7282 "Move pcie-check service into sonic-host-services/sonic-host-services-data packages"

[2021-11-12 13:19] ayurkiv-nvda opened #9242 "[snmpd] message "Failed to open /proc/net/dev_snmp6/PortChannelXXX" randomly appears after LAG removing"
#### Description
During LAG testing was found following problem:
Sometimes **snmpd** randomly throw message "`ERR snmp#snmpd[21]: Failed to open /proc/net/dev_snmp6/PortChannelXXX`" after LAG  removing (after execution  **sudo config portchannel del PortChannel1**)
NOTE: error message does not has effect LAG removal, removing passed successfully.

#### Steps to reproduce the issue:
1)  Create and

[2021-11-12 22:04] zebracrowd commented on #8703
I think this is working as designed. There are 4 groups of 12 ports on that switch and they must all be configured the same way speed wise. 0-11, 12-23 24-35 36-47

[2021-11-12 22:05] zebracrowd commented on #8703
Setting any port in a group for a given speed will set all the ports on the group the same way

[2021-11-12 22:52] kishorekunal01 commented on #9028
I checked Tech support (sonic_dump_sonic_20211108_051740.tar.gz)

bridge.fdb there is no imet route (00:00:00:00:00:00) . In fact I don't see
any vxlan interface in the ip.link file.

timeout --foreground 5m bridge fdb show
01:00:5e:00:00:01 dev eth0 self permanent
33:33:00:00:00:01 dev eth0 self permanent
33:33:ff:65:d6:d0 dev eth0 self permanent
33:33:ff:04:86:41 dev eth0 self permanent
01:80:c2

[2021-11-12 23:30] kamalsahu0001 commented on #9028
@Krunal .. Can you please check the logs from other switch. When i am advertising IMET route, then some crash is happening inside and the routes are getting disappeared. This is seen in sonic_dump_sonic_20211108_051740.tar.gz

Without advertising IMET routes, it remains stable.

[2021-11-12 23:34] kamalsahu0001 commented on #9028
I am not able to add the techsupport zip file from other switch as it is giving "is not included the list" error. So i removed the folder which was giving that error and added separate folders for each of them.

I have the zip file. If there is any other location where I can attach it, I will add it there.

[2021-11-12 23:46] qiluo-msft commented on #9241
Even better, you can support both.

[2021-11-13 01:33] kishorekunal01 commented on #9028
@srj102
The dump shared by @kamalsahu0001 (dump.zip Nov10, 2021)
Has IMET route and it is updated to APP_DB. Can you please check why show vxlan remotevtep does not show tunnels information.

bridge.fdb
22:22:00:00:00:01 dev vtep-30 vlan 30 extern_learn master Bridge
00:00:00:00:00:00 dev vtep-30 dst 2.2.2.2 self permanent
22:22:00:00:00:01 dev vtep-30 dst 2.2.2.2 self extern_learn

APP_DB
  "VXLA

[2021-11-13 07:02] MaratGubaiev commented on #7282
@keboliu @qiluo-msft @zhangyanzhao @pshulik,

https://github.com/Azure/SONiC/blob/master/doc/pcie-mon/pcie-monitoring-services-hld.md

Maybe @jleveque just confused _pcied_ with _pcie-check_ because he was writing exactly about _pcie-check_: "Move **pcie-check** service into sonic-host-services/sonic-host-services-data packages"

[2021-11-13 10:10] shanshri commented on #9219
Hi @adam. Can you please why is syncd not detecting any unit. I can see from lspci that broadcom asic has been initialized.

syslog:6338:Nov 10 14:48:11.360131 tb63-host2-cimc CRIT syncd#syncd: [none] SAI_API_SWITCH:platformInit:2042 No attached units.

Regards,
Shantanu

[2021-11-13 23:31] zebracrowd commented on #9187
Further information. The error messages above only appear in the l3vni case, but the l2vni case is also non functional.

It seems that the issue comes from a selective drop when the source address is the local vtep:

[code]

[2021-11-13 23:34] zebracrowd commented on #9187
this is not a routing issue as far as i can see, and the packets are not visible with tcpdump on the other side in the failure case:

[code]

[2021-11-14 13:38] haslersn commented on #5310
Is this still the case with the latest release (I think 202106)?

@BaluAlluru @adyeung @Praveen-Brcm

[2021-11-15 09:12] toreanderson commented on #9177
Just tested [df12ac5abd](https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=broadcom&buildId=51044&target=target%2Fsonic-broadcom.bin), still does not work.

[2021-11-15 12:34] vaibhavhd opened #9261 "[master] swss encounters error after clear_stats fail with SAI_STATUS_NOT_SUPPORTED"
#### Description

SWSS remains in a bad state after cold reboot (or config reload).
From the logs: `clear_stats` calls fail with `SAI_STATUS_NOT_SUPPORTED` : `Unknown or unsupported stat type 20.`

Ultimately, swss remains in bad state with TIMINEDOUT responses:
`Encountered failure in get operation, SAI API: SAI_API_QUEUE, status: SAI_STATUS_FAILURE`

This issue is hit in multiple different platf

[2021-11-15 13:08] vaibhavhd commented on #9261
This is a Broadcom only issue. CSP pending.

[2021-11-15 20:42] Praveen-Brcm commented on #5310
@haslersn : ICCPd is not included by default to be build. The file rules/config needs to be modified to include.
Set INCLUDE_ICCPD = n to INCLUDE_ICCPD = y.
or please consider using the systemctl command to start ICCPD as initially mentioned by jianjundong  at start of the conversation thread.
Thanks.

[2021-11-16 01:19] nicwu-cel commented on #9181
It has been approved that it's caused by the mismatch of ipd.ko and linux kernel. When this problem happens, perform "lsmod | grep ipd" will have no output.

[2021-11-16 08:03] zebracrowd commented on #9187
Further investigations, it seems that the ping issue is a red herring. I am able to peer bgp sessions on that loopback, so not going to dig into that one further.

I got some interesting message from swss in debug mode:

[code]

[2021-11-16 08:13] zebracrowd commented on #9187
the vlans are created later, but it does not look like the tunnel maps are created ten.

[code]

[2021-11-16 13:45] vmorokhx opened #9272 "[NAT][202012] NAT translation entries cannot be removed"
#### Description

#### Steps to reproduce the issue:
1. Add NAT configuration:
[code]
2. Perform TCP handshake and generate TCP traffic
3. Clear all NAT entries:
[code]
4. Perform step 2

5. Establish two-way UDP conversation and generate UDP traffic

6. Clear all NAT entries (step 3) and verify that all entries are removed

The same behavior can be obtained by running `nat/test_dynamic_nat.py::Te

[2021-11-16 14:19] haslersn commented on #5310
@Praveen-Brcm Thank you. Should the `systemctl` command be available in the default image? I get the following output:

[code]

[2021-11-16 17:45] zebracrowd commented on #9187
This is the logs i got after setting orchagent and swss in debug mode, the swss restart happens at timestamp `Oct  9 00:55:35.310167`

[syslog.swss.debug.gz](https://github.com/Azure/sonic-buildimage/files/7548667/syslog.swss.debug.gz)

[2021-11-16 18:46] zebracrowd commented on #9187
My understanding from this experiment is as follows:
* we are on a 202106 image, the swss module is at hash bc4e33488a1f0a9970f6f559b17bada407607d20
* the issue is an ordering bug, but i am not exactly sure which part is a bug. Any help appreciated

The details in brain dump format...
* the error message that concludes it all is at line line 169 on vxlanorch.cpp.
* line 184: the call to sai_tunnel

[2021-11-16 22:42] alexrallen opened #9279 "Clean up Mellanox issue_version and MFT Makefiles"
Due to the Mellanox SDK / SAI / syncd not supporting bullseye currently we have introduced a couple of workarounds for a few packages in the mellanox platform.

Namely in `issue_version` and `MFT` Makefiles we add checks to determine which build environment is currently active (buster / bullseye) and make build decisions based on that.

This issue is to track the removal of these workarounds once

[2021-11-16 22:49] qiluo-msft commented on #9279
Another issue: why BLDENV is not usable in `platform/mellanox/mft/Makefile` ?

[2021-11-16 23:13] #8822 closed

[2021-11-16 23:14] #8821 closed

[2021-11-16 23:15] #8440 closed

[2021-11-16 23:15] #8439 closed

[2021-11-16 23:15] #8453 closed

[2021-11-16 23:16] #8456 closed

[2021-11-16 23:16] #8442 closed

[2021-11-16 23:17] #8661 closed

[2021-11-16 23:17] #8438 closed

[2021-11-17 07:49] jianjundong commented on #5310
@haslersn You should build the image by making INCLUDE_ICCPD = y in rules/config file.

[2021-11-17 08:24] MaratGubaiev commented on #7282
Tests failed because of the conflict: https://github.com/Azure/sonic-buildimage/pull/9285

So I should repeat the questions:
1) How to push coupled changes in base repo and submodule? (As you see, submodule tests are also failed https://github.com/Azure/sonic-platform-daemons/pull/226)
2) Do we need this task at all?

[2021-11-17 08:57] stepanblyschak commented on #8993
https://github.com/Azure/sonic-buildimage/pull/9276

[2021-11-17 09:12] jimmyzhai commented on #9005
1. debug shell had been available in latest Credo SAI package.
2. The issue was due to trial chip Credo B52 A0 used in DUT arista_7280cr3mk_32p4. New devices using B52 B0 will be shipped.

[2021-11-17 09:12] #9005 closed

[2021-11-17 21:16] neethajohn opened #9292 "Pfcwd not getting started as part of load_minigraph execution"
#### Description

As part of load_minigraph execution, pfcwd should get started on all device types excluding a few based on the below code
https://github.com/Azure/sonic-utilities/blob/master/config/main.py#L1521
But don't see it started

#### Steps to reproduce the issue:
1.  On a 202012 image, issue "config load_minigraph -y"
2. Check if pfcwd is started using "pfcwd show config" and the output

[2021-11-17 22:53] qiluo-msft opened #9294 "[yang-models] required service field for control plane ACL table"
#### Description
This issue is found by config apply-patch development.

I see the difference in redis monitor log:
[code]

[code]

Checking the source code src/sonic-host-services/scripts/caclmgrd, it subscribes ACL_TABLE_TABLE and ACL_RULE_TABLE. I believe the non-atomic HMSET operations by `config apply-patch` mess the caclmgrd logic.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe

[2021-11-18 00:23] ghooo commented on #9294
The `patch-applier` command produces the following steps:
[code]
Although the config on the switch are valid after each application of the above steps. There is a problem with [src/sonic-host-services/scripts/caclmgrd](https://github.com/Azure/sonic-buildimage-msft/blob/792a1255886df5ba8e402c9f22dfff517c555304/src/sonic-host-services/scripts/caclmgrd#L418), specifically this code snippet:
[code]
`

[2021-11-18 01:58] AntheaJiang commented on #9181
@Hanly-Cameo Hi,as nicwy-cel's comment,it is that ipd module make sfpshow can't run normally,and the issue still exists by now ,could you please help to update ipd.deb ?

[2021-11-18 07:49] #9059 closed

[2021-11-18 19:11] ghooo opened #9312 "[yang-models] Importing other modules sometimes break libyang backlinks"
#### Description

Importing other modules sometimes break libyang backlinks, which results in break DPB and generic-config-updater unit-tests in sonic-utilities

The build fails and the author of YANG model end up commenting out the the import and also removing the corresponding YANG validation.

Example from [sonic-bgp-neighbor.yang](https://github.com/Azure/sonic-buildimage/blob/f73ffa091357baf6

[2021-11-18 19:17] venkatmahalingam commented on #9312
@praveen-li We commented few YANG fields to avoid the build failures in the past as we had the issue with the libyang back-links code, please update the latest on this, do we have any solution to the libyang backlinks issue and we can uncomment the YANG fields now?

// Comment sonic-vlan import here until libyang back-links issue is resolved for VLAN leaf reference.

[2021-11-18 20:34] alexrallen opened #9313 "DPB loads all Yang models to do dependency checking"
#### Description

Currently, Dynamic port breakout loads in all the Yang models present on the system and attempts to load the ConfigDB into them in order to determine what objects in the configuration depend on ports we are about to remove.

However, due to the implementation of libyang (3rd party dependency we cannot control) if there are any discrepancies between the Yang models and ConfigDB su

[2021-11-19 01:34] qiluo-msft opened #9318 "based on the following issues and prs, looks like the warning message can be skipped, using the newer version is good."
@qiluo-msft , based on the following issues and prs, looks like the warning message can be skipped, using the newer version is good.
Maybe we can improve the test case, explicitly ignore the warning.
https://github.com/redis/redis-py/pull/1726/files
https://github.com/redis/redis-py/issues/1725
https://github.com/redis/redis-py/pull/1721

_Originally posted by @xumia in https://github.com/Azure/so

[2021-11-19 01:35] qiluo-msft commented on #9318
@xumia Thanks for the suggestion! I am working on it.

[2021-11-19 02:03] #8306 closed

[2021-11-19 02:03] #9121 closed

[2021-11-19 03:07] 119064273 opened #9321 "no docker-ptf-saithrift after branch 202006"
#### Description
    I want to test sonic-mgmt/test/qos/test_qos_sai.py on sonic branch 202106
    but it need saithrift related module, since after 202006 docker-ptf-saithrift is removed,
 I try to use the old docker-ptf-saithrift , but some modules's version not match,   help help !
    does any way to test sonic-mgmt/test/qos/test_qos_sai.py on sonic branch 202106?

[2021-11-19 03:11] 119064273 commented on #9321
@lguohan @yingxie2021 @lixinxu  can you give some advice?

[2021-11-19 05:17] alexrallen commented on #9010
Verified this is fixed.

[2021-11-19 05:17] #9010 closed

[2021-11-19 12:34] mykolaxgerasymenko opened #9326 "[DPB] DPB falls cause of invalid value in "has_global_scope" element"
#### Description
The Dynamic Port Breakout feature is not working as expected on the latest master image

#### Steps to reproduce the issue:
1. `sudo config interface breakout Ethernet0 4x100G[50G] -f`

**NOTE:**
To reproduce this issue, a following PRs that fix other issues in SONiC should be merged into master:
1) Azure/sonic-buildimage/pull/9075
2) Azure/sonic-buildimage/pull/9276
#### Describe

[2021-11-19 13:00] MaratGubaiev commented on #9188
Hi @arlakshm!

I have started to fix the issue.
I managed to reproduce it only after reboot:

[code]

Then I added
[code]
to the `/etc/sonic/config_db.json`
and did "config load",
so I got
[code]

After it I cannot reproduce the issue even after reboot.
(Immediately after reboot I get _(empty array)_, but after several seconds it works normally.)

Also adding MGMT_INTERFACE fixed such an issue:
[c

[2021-11-19 13:17] ihorchekh opened #9327 "Incorrect CLI validation for unsupported speed"
#### Description

Setting unsupported speed on interface results in an error, however, when setting speed using the same digits like any supported speed the error doesn't appear, e.g. speed 50000 is supported and if we try to set speed 500 which is not supported and we'll get no errors, but 499 or 501 causes an error. This is not a functional issue and it doesn't set up unsupported speed, but the

[2021-11-19 18:41] shi-su commented on #9122
Added the missing field `synchronous_mode` in https://github.com/Azure/sonic-buildimage/pull/9194

[2021-11-19 21:17] sujinmkang commented on #7282
@MaratGubaiev Sorry that I missed this issue for too long.  pcie-check.service is to check the pcie device during the boot up and perform the retry of pcie bus scan in case when any pcie device is not available. And this information can be used for other docker starts. sonic-pcied is monitoring the pcie bus  devices if there is any degradation during run-time. The purpose is different.

[2021-11-21 11:44] AntonHryshchuk opened #9334 "[monit] [201911] The monit daemon is not running"
#### Description

The Monit daemon is not running

#### Steps to reproduce the issue:
1. run cmd:  sudo monit status
2. add the call of disk_check.py script to comments in /etc/monit/conf.d/sonic-host
3. run again the cmd:  sudo monit status

#### Describe the results you received:

root@r-3700:/home/admin# sudo monit status
/etc/monit/conf.d/sonic-host:37: Program does not exist: '/usr/bin/disk_c

[2021-11-22 02:24] MaratGubaiev commented on #7282
@sujinmkang But as [documentation says](https://github.com/Azure/SONiC/blob/master/doc/pcie-mon/pcie-monitoring-services-hld.md), and as I can see from the code, pcie-check and pcied share the same code, right?

[2021-11-22 03:19] danninov commented on #9177
I have this problem too, trying with latest build 51255 [db0b789b73](https://github.com/Azure/sonic-buildimage/commit/db0b789b73c56fe9d62831d2422439ef6d7a2f77), still doesn't work.

[code]

[2021-11-22 07:18] gechiang commented on #9261
@vaibhavhd Other than DX010 and 7260, is there other platforms that you have noticed having this same issue as well?
This info will help narrow down the issue with BRCM support.

[2021-11-22 07:32] gechiang commented on #9261
BRCM case CS00012219613 [6.0] threadFunction: time span WD exceeded 30335 ms for clear_stats:SAI_OBJECT_TYPE_BUFFER_POOL:oid:0x180000000005d8
Filed...

[2021-11-22 17:51] zebracrowd commented on #9177
[code]
I wonder if this is not the cause of the failure.

[code]

[2021-11-23 03:12] ganglyu opened #9350 "[yang-models] BGP neighbor admin_status should be up/down"
#### Description

src/sonic-yang-models/yang-models/sonic-bgp-common.yang needs to be updated.

#### Steps to reproduce the issue:

#### Describe the results you received:
    leaf admin_status {
        type boolean;
        description "To enable BGP peer";
    }

#### Describe the results you expected:
    leaf admin_status {
        type stypes:admin_status;
    }

#### Output of `show version

[2021-11-23 03:17] ganglyu commented on #9350
@venkatmahalingam

[2021-11-23 09:00] #3444 closed

[2021-11-23 16:32] MaratGubaiev commented on #9334
sonic-utilities reference wasn't updated so it referred to the old version without disk_check.py.
See pull request https://github.com/Azure/sonic-buildimage/pull/9359 -- I updated the reference and tested locally: it worked OK.

[2021-11-23 16:34] toreanderson commented on #9177
@zebracrowd Huh, that is weird. Just installed db0b789b73 (using [this sonic-broadcom.bin](https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=broadcom&buildId=51255&target=target%2Fsonic-broadcom.bin)) to try to debug this, but it turns out that file is not even present on the system:

[code]

[2021-11-23 17:39] zebracrowd commented on #9177
on the master branch pddf is enabled by default. The script lives there `./platform/pddf/i2c/utils/pddf_util.py` maybe your image is compiled without that option?
In the mean time, there are a _lot_ of pending PR from accton regarding pddf on this platform. They are not updating this util specifically though. Trying to fix this code to actually run and see where i land. But we might want to ask @j

[2021-11-23 21:04] #4238 closed

[2021-11-24 05:38] dgsudharsan commented on #5771
@kannankvs  @zhangyanzhao Any update here?

[2021-11-24 07:37] toreanderson commented on #9177
I am using the official builds found at https://sonic-build.azurewebsites.net/ui/sonic/Pipelines, I do not know which options it is compiled with but I would assume it is supposed to work…

[2021-11-24 10:25] MaratGubaiev commented on #9327
Fixed https://github.com/Azure/sonic-utilities/pull/1946

[2021-11-24 17:43] zebracrowd commented on #9177
that makes sense, I am still digging into the details but i suspect that this is a red herring again. I patched (hacked) the pddf utils and parse scripts to make them py3 compatible and fix all those mixed tab and spaces. I am still fighting with a missing kernel module but i am starting to think that the asic specific parts are set elsewhere so this pddf issue should not impact the switch itself,

[2021-11-24 18:04] #9292 closed

[2021-11-24 20:30] theasianpianist opened #9374 "[mux] Mux service fails to start because of invalid service file and non-executable file"
#### Description

The `mux.service` unit file is invalid because it contains two `[Service]` sections. Also, the `mark_dhcp_packet.py` file referenced in this unit file is not executable.

#### Steps to reproduce the issue:
1. Load 202012.43 or .44 on a dual ToR testbed
2. `systemctl status mux`

#### Describe the results you received:
[code]

#### Describe the results you expected:
Service is run

[2021-11-24 21:10] zebracrowd commented on #9187
Built a new image with a disabled ipinip setup. That makes it easier to debug the asic state. The tunnel are brought up in dedicated mode encap and decap on this image. So the previous comment does not hold. That being said, the only maps created are for the l3vni encap/decap (aka virtual router to vni and opposite). The l2vni case does not appear.

[code]

[2021-11-24 23:32] #8979 closed

[2021-11-24 23:32] #9055 closed

[2021-11-25 01:24] lguohan opened #9376 "sonic-mgmt-framework dbg docker build issue"
#### Description

#### Steps to reproduce the issue:

daily build broken.

#### Describe the results you received:

[9.txt](https://github.com/Azure/sonic-buildimage/files/7599496/9.txt)

#### Describe the results you expected:

build pass

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occa

[2021-11-25 04:21] MaratGubaiev commented on #9334
Not an issue any more: https://github.com/Azure/sonic-buildimage/pull/9368#issuecomment-978816638

[2021-11-25 07:51] #9376 closed

[2021-11-25 07:54] #9119 closed

[2021-11-25 11:45] MaratGubaiev commented on #9242
I have started to fix this issue. Please add me to the assignees.

[2021-11-25 12:20] #7127 closed

[2021-11-29 20:04] #9374 closed

[2021-11-30 02:27] zhixzhu commented on #5097
You mean the build will be ok if user is in sudoers?

[2021-11-30 07:13] dgsudharsan opened #9401 "ARP is not generated for static routes with Interface as nexthop"
#### Description

When a static route is added with an interface as nexthop, arp is not generated when traffic is sent to the a device in the subnet.

#### Steps to reproduce the issue:
1. Configure ip on an interface (config interface ip add PortChannel0001 30.0.0.1/24)
2. Configure a route with interface as next hop (e.g. sudo config route add prefix 20.0.0.1/32 nexthop dev PortChannel0001)
3. S

[2021-11-30 07:27] dgsudharsan commented on #9401
@saiarcot895 @yxieca @lguohan FYI

[2021-11-30 07:29] dgsudharsan commented on #9401
[sonic_dump_r-anaconda-15_20211130_072345.tar.gz](https://github.com/Azure/sonic-buildimage/files/7623754/sonic_dump_r-anaconda-15_20211130_072345.tar.gz)

[2021-11-30 13:13] tw0byt3 commented on #9326
@mykolaxgerasymenko Facing this issue on Mellanox SN2700 after resolving the issues mentioned in the NOTE. I observed that in sonic-feature.yang under /src/sonic-yang-models/yang-models, leaf "has_global_scope" has a type **boolean** and the default is **false**, yet it is considered as an Invalid value.

[2021-11-30 14:01] mykolaxgerasymenko commented on #9326
@tw0byt3, I tried adding boolean as typedef in sonic-feature.yang and it works correctly.
But your advice (adding boolean as typedef under sonic-types.yang.j2) seems to be better, because after fixing this issue, there will be another issue with the same cause (boolean types in different literal case), but in a different yang model.
Now I am trying your suggestion, test it and open PR.

[2021-11-30 17:59] bratashX opened #9406 "Fail on ACL table creation"
#### Description
Creation ACL table failed because  **_action_list_** for this table is empty.
Due to https://github.com/Azure/sonic-swss/pull/1982, **action list** will be used from `ACL_TABLE_TYPE` objects.
Looks like in defaults `ACL_TABLE_TYPE`  are absent action lists: https://github.com/Azure/sonic-swss/blob/bb0733aa67ffc4e430e70bcf2db2dc6316172b32/orchagent/aclorch.cpp#L2752-L2768.

#### St

[2021-11-30 19:04] #8686 closed

[2021-11-30 19:26] neethajohn opened #9407 ""show platform ssdhealth" command fails on certain platforms"
#### Description

platform_tests.cli.test_show_platform.test_show_platform_ssdhealth failing on x86_64-arista_7050_qx32s because of "show platform ssdhealth" command failure.
This seems related to changes made in Azure/sonic-platform-common#229

#### Steps to reproduce the issue:
1. Issue "show platform ssdhealth" on x86_64-arista_7050_qx32s

#### Describe the results you received:
[code]
#### Des

[2021-11-30 19:27] neethajohn commented on #9407
@Blueve, fyi

[2021-11-30 19:36] dflynn-Nokia commented on #9407
I'll look into this.
Do you plan to revert my change?

[2021-11-30 19:44] dflynn-Nokia commented on #9407
My change parses the output of the smartctl command.
I do not have access to an Arista box.
Can someone share the output from the following command run on the Arista box in question?

sudo smartctl --all /dev/sda

Note that the Arista box may not have /dev/sda as the primary SSD block device.

Thanks.

[2021-11-30 21:14] neethajohn commented on #9407
@sujinmkang , fyi

[2021-11-30 21:57] tjchadaga opened #9409 "[warm-reboot] SERDES objects get removed from ASICDB after warm-reboot from 201811 to 202012"
#### Description

SERDES objects are missing from ASIC DB after warm-reboot from 201811 to 202012. The objects are discovered during warm-reboot and added to current view after workaround (https://github.com/Azure/sonic-sairedis/pull/959), but not added to the temporary view generated with new image. This results in a 'remove' operations being triggered and the objects get deleted from ASIC-DB.

#

[2021-11-30 22:22] sujinmkang commented on #9407
@neethajohn the ssd drive on x86_64-arista_7050_qx32s falls into the generic device but it seems the command doesn't work. I will check with vendor.

[2021-11-30 23:44] anamehra opened #9411 "config reload reports SwSS container not running for multi-asic"
#### Description
On a multi-asic system, config reload CLI does not work wihtout -f option.
root:/home/admin# config reload
SwSS container is not ready. Retry later or use -f to avoid system checks

The issue is that config/main.py checks for swss.service status even for multi-asic system. On a multi-asic system, there is no swss.service but multi-instance versions like swss@0.service etc.

_swss_

[2021-11-30 23:44] anamehra commented on #9411
@abdosi

[2021-12-01 01:57] wangxin commented on #8150
Issue already fixed. Closing this issue.

[2021-12-01 01:57] #8150 closed

[2021-12-01 01:57] wangxin commented on #8484
Issue already fixed. Closing this issue.

[2021-12-01 01:57] #8484 closed

[2021-12-01 02:35] wangxin commented on #8193
There is no longer such issue after some fixes made to image and tests. Closing this issue.

[2021-12-01 02:35] #8193 closed

[2021-12-01 03:53] #9401 closed

[2021-12-01 05:36] MaratGubaiev commented on #9242
@ayurkiv-nvda
I guess that you might have another problem that causes the issue.

[2021-12-01 09:42] AntheaJiang commented on #9181
There is another failure phenomenon :key is _PORT_TABLE instead of PORT_TABLE in APPL_DB
![Annotation 2021-07-27 113443](https://user-images.githubusercontent.com/87740133/144210330-d597848f-45e6-4b06-81aa-00f394f6e385.png)
and there are no PORT_TABLE in state_db:
![11](https://user-images.githubusercontent.com/87740133/144210554-89b811f6-8c93-434d-8d35-84438026ab29.png)

[2021-12-01 10:06] AntheaJiang opened #9415 "can't capture mcelog in var/log/syslog when injecting errors via Intel XDP"
#### Description

#### Steps to reproduce the issue:
1.Test server connect to SUT with XDP tool
2.Power on, boot to BIOS setup and ensure below setting are enable:
  System Errors/Memory Corrected Error/Spare interrupt - SMI
  and set Correctable Error Threshold to 1
3.Inject a ce memory/CPU error with XDP tool
   ei.injectMemerror(0x10000,errType=”ce”)
#### Describe the results you received:
Erro

[2021-12-01 13:04] Blueve commented on #9201
The default configuration should be there: https://github.com/Azure/sonic-buildimage/blob/master/files/image_config/updategraph/updategraph#L51

Might some issue cause we are not enter this part logic. Investigating..

[2021-12-01 16:09] dflynn-Nokia commented on #9407
My PR #229 in sonic-platform-common did add the following bit of code snippet

![image](https://user-images.githubusercontent.com/60479697/144269673-711a6490-d4c6-451c-a782-4c8a97e020bb.png)

I suspect this is the problem for platforms that do not support the smartctl command?

[2021-12-01 18:38] mykolaxgerasymenko commented on #9326
The PR for fix this issue has been opened:
[DPB][YANG] Fix cases when boolean is used in different literal cases
https://github.com/Azure/sonic-buildimage/pull/9418

[2021-12-01 21:31] prsunny commented on #9406
@stepanblyschak to take a look

[2021-12-02 01:13] bingwang-ms commented on #9406
Ack. Will take a look shortly.

[2021-12-02 07:13] bingwang-ms commented on #9406
Hi, can I know on which platform you saw this error? I verified on a broadcom platform, but could't repro the issue
`
Dec  2 07:09:30.481601 str2-7260cx3-acs-9 NOTICE swss#orchagent: :- bindAclTable: Bind table DATA_INGRESS_IPV4_TEST to ports
Dec  2 07:09:30.483991 str2-7260cx3-acs-9 NOTICE swss#orchagent: :- bind: Successfully bound port oid: 1000000000024, group member oid:c000000001773
Dec  2 0

[2021-12-02 08:47] wangxin commented on #4230
PR https://github.com/Azure/sonic-mgmt/pull/2100 added this error message to ignore list. Closing the issue.

[2021-12-02 08:47] #4230 closed

[2021-12-02 08:52] wangxin commented on #2665
Possibly fixed in https://github.com/Azure/sonic-utilities/pull/1038. Closing this issue since it is too old.

[2021-12-02 08:52] #2665 closed

[2021-12-02 08:53] wangxin commented on #3817
No longer valid. Closing this issue.

[2021-12-02 08:53] #3817 closed

[2021-12-02 14:25] chitra-raghavan opened #9430 "[Z9332 Th3]: When Multiple PFC P3/P4 pause frames are started and stopped simultaneously, PFC Packets are sent out from PFCWD configured ports"
#### Description

When Multiple PFC P3/P4 pause frames are started and stopped simultaneously, PFC Packets are sent out from PFCWD configured ports

Device :  Z9332
ASIC    :  Th3
SKU     : DellEMC-Z9332f-M-O16C64

#### Steps to reproduce the issue:

**Test Setup  :**

1.  Connect 2 (or more)  IXIA ports  to DUT
2. Configure PFCWD drop action on both the ports
3. Send bidirectional  P3 Data  Traff

[2021-12-02 14:53] chitra-raghavan opened #9432 "[Z9332 Th3] : When PFC pause frames are sent sequentially from 2 or more ports, pfcwd is detected in only one port."
#### Description
[Z9332 Th3] : When PFC pause frames are sent sequentially  from 2 or more ports, pfcwd is detected in only one port.
Device : Z9332
ASIC : Th3
SKU : DellEMC-Z9332f-M-O16C64

#### Steps to reproduce the issue:

Test Setup :

1. Connect 2 (or more) IXIA ports to DUT
2. Configure PFCWD drop action on both the ports
3. Send bidirectional P3 Data Traffic ( say 10000 Packets/sec)
4. Sta

[2021-12-02 16:08] stephenxs opened #9434 "Routeorch calls SAI API set attribute for a routing entry which was just removed from SAI in the same bulk operation. Should recreate it in such case."
#### Description

Orchagent exited due to setting a non-existing routing entry during bgp speaker test with the latest swss
The issue was observed during azure pipeline kvm t0 bgp speaker test of PR #9397.

#### Steps to reproduce the issue:

#### Describe the results you received:
The following error observed during bgp speaker test
[code]

route orchagent operating flow on the routing entries:
-

[2021-12-02 16:49] prsunny commented on #9434
Can you check if the failure is due to a regression in code or test? Not sure if there was any recent change in route_orch for this flow.

[2021-12-02 21:54] kperumalbfn commented on #9406
@bingwang-ms I don't think 202106 has these changes. Could you check in master?

[2021-12-03 04:12] MaratGubaiev commented on #9350
Done.
See https://github.com/Azure/sonic-buildimage/pull/9429

[2021-12-03 06:17] bingwang-ms commented on #9406
I'm able to repro this issue on a barefoot device.
[code]
The `action_list` is marked as `mandatory` for INGRESS stage, while the default `action_list` is empty.
@stepanblyschak Can you help take a look?

[2021-12-03 10:49] mdivyamohan opened #9439 "Query: How to download docker images from daily builds"
Hi,

Previously I used to download docker images compiled by SONiC Jenkins job from this [link](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/).

In the Azure Devops [page](https://dev.azure.com/mssonic/build/_packaging?_a=feed&feed=artifacts%40Local), is it possible to download docker images from the artifacts section? I am seeing message "No packages have been promoted to this re

[2021-12-04 04:55] MaratGubaiev commented on #9242
I increased the number of iterations to 10000 but result is the same:
<details><summary>show version</summary>

[code]

</details>

<details><summary>script</summary>

[code]

</details>

<details><summary>result</summary>

[code]

</details>

[2021-12-04 11:48] stephenxs commented on #9434
@prsunny  Looks like it's a production issue in route orch introduced by bulk operation but was hardly to be trigerred. Now with Azure/sonic-swss#1992 merged it is much easier to be.

The flow should be like this.
During the previous test, it announced the routing entries at the beginning and withdrew them after test finished. And then the next test started, the same set of routing entries were an

[2021-12-06 06:36] stephenxs commented on #9434
This issue is reproducible by using gdb.

[2021-12-06 12:23] MaratGubaiev commented on #9242
Just for case I tested it on the vs platform.
It runs as clockwork.
<details>
<summary>show version</summary>

[code]

</details>

[2021-12-06 13:27] tomer-israel opened #9445 "LLDP keeps failing when we remove a port and add it back immediately"
#### Description
when we remove a port and add it back immediately - lldp is keep failing
warning message keeps appearing:
...
[WARN/lldp] unable to send packet on real device for Ethernet4: No such device or address
...

#### Steps to reproduce the issue:
remove a port and immediately add the port back, for example:

redis-cli -n 4 del "PORT|Ethernet0"; sleep 0.1; redis-cli -n 4 hset "PORT|Ethern

[2021-12-06 13:39] tomer-israel commented on #9445
I think that the problem is related to the aggregation of events on lldpd:
https://github.com/lldpd/lldpd/blob/690e447ea0a9cd488b953b95b3f1c86c8a526e03/src/daemon/event.c#L738

delete link event is "overwritten" by new link event -> lldpd is not removing the lldp info of this port and recreating it -> the socket of this lldp port is been used -> the ifindex of this port was updated but lldpd is us

[2021-12-06 16:20] yxieca commented on #9407
@sujinmkang can this issue be closed now?

[2021-12-06 19:33] nathcohe opened #9448 "multi_asic_util:run_on_multi_asic opens too many redis connections to config_db"
#### Description

Multi ASIC utility wrapper method `run_on_multi_asic()` (from [utilities_common/multi_asic.py](https://github.com/Azure/sonic-utilities/blob/master/utilities_common/multi_asic.py) creates too many connections to the redis config db and makes no attempt to close them. For chassis with many ASICs, this will cause some operations to fail, (e.g. `portstat`).

In method call `multi_as

[2021-12-06 19:41] #9108 closed

[2021-12-06 20:33] anamehra commented on #9448
@abdosi This affects "show interface counter" on multi-asic sup

[2021-12-07 00:53] prsunny commented on #9434
@shi-su , could you please take a look?

[2021-12-07 01:29] CharlieChenEC commented on #8703
I know there is a hardware limitation that the ports belong to the same port macro must have the same port speed. Actually, the granularity of the port group can be smaller, that is, the port group is consisted by 4 ports. For example, Ethernet0-3, Ethernet4-7, Ethernet8-11 are three port groups.

I raise the issue does not mean to say something wrong on the hardware limitation. By current impleme

[2021-12-07 08:37] chitra-raghavan opened #9453 "[202012][Z9332][Pfcwd + Asym Pfc]: With Asym PFC enabled and when pfcwd storm is detected on priority P3 and P4 in a port , PFC packets egress out only for one Priority"
#### Description

With Asym PFC enabled and  when pfcwd storm is detected on priority 3 and 4 in a port  , PFC packets egress out only for one Priority

#### Steps to reproduce the issue:

Test Setup :

1. Connect 2 IXIA ports to DUT ( Ethernet4 and Ethernet6)
2. Configure PFCWD drop action on port P2  ( Ethernet6)
3. Configure Asymmetric pfc  on port P2 (Ethernet6)
4. Send P3 and P4  Data traffic

[2021-12-07 08:56] stepanblyschak commented on #9406
@bingwang-ms @bratashX Default ACL tables do not have action list, this is not changed comparing to previous releases. There is a new check added that if "is_action_list_mandatory" is true it is required to pass action list. It looks like vendor SAI returns "is_action_list_mandatory" true while it is not required as I assume in previous release the ACL table creation is working for you. It looks l

[2021-12-07 09:32] akokhan commented on #9406
@stepanblyschak , as you've mentioned, SONiC behavior has changed and it's not obvious (even HLD mentioned this). To keep previous behavior, shouldn't we warn but not fail? Thanks.

[2021-12-07 09:46] stepanblyschak commented on #9406
@akokhan The HLD mentions this (https://github.com/stepanblyschak/SONiC/blob/acl-table-type/doc/acl/ACL-Table-Type-HLD.md#state-db):

[code]

AFAIK, capability checks are not warnings in SONiC.

I see few options:

1. Change vendor SAI to return correct is_action_list_mandatory value (I would say it is a prefered one)
2. Initialize default table types with all actions (This is actually a configura

[2021-12-07 11:10] tw0byt3 commented on #9326
@mykolaxgerasymenko After the fix of this is done, the breakout fails due to the CRM yang model. I tried to accommodate the changes required. Post that, this is the error I am facing.

root@localhost:~# config interface breakout Ethernet0 4x10G[25G]
Do you want to Breakout the port, continue? [y/N]: y

Running Breakout Mode : 1x100G[50G,40G,25G,10G]
Target Breakout Mode : 4x10G[25G]

Ports to be d

[2021-12-07 11:21] liat-grozovik commented on #9434
@shi-su  could you please update?
this is blocking swss submodule pr to get into sonic master

[2021-12-07 14:56] akokhan commented on #9406
@stepanblyschak , thank you for the great summary. I believe the combination of 1 and 3 would the best option. IMO, we should not fail until it's really necessary. In this case it's probably ACL table create SAI call.

[2021-12-07 16:34] ayurkiv-nvda opened #9462 "[crm] Errors in syslog due to contradiction between SAI attribute appropriate API in handling section"
#### Description

On latest master image you can find following CRM related error  logs:
[code]

Root cause: contradiction between attribute in map and corresponding API under "switch - case"

https://github.com/Azure/sonic-swss/blob/master/orchagent/crmorch.cpp#L72
[code]

For SAI_SWITCH_ATTR_AVAILABLE_IPV6_NEXTHOP_ENTRY attribute  should be other API, not the  **sai_object_type_get_availability(

[2021-12-07 19:22] alexrallen commented on #8922
After discussions, with @sujinmkang this is a wontfix.

[2021-12-07 19:22] #8922 closed

[2021-12-07 20:14] shi-su commented on #9434
I'll check it today.

[2021-12-08 01:12] bingwang-ms commented on #9406
Thanks @stepanblyschak  and @akokhan for the great summary.  I also prefer option 1. Relaxing the condition may be misleading for ACL table type for which action list is mandatory.

[2021-12-08 02:18] abdosi commented on #9434
@abdosi following this.

[2021-12-08 10:46] charlag opened #9470 "Routing between VLANs does not work: no ARP request is sent"
#### Description

Routing from the L3 port to the device in VLAN does not produce ARP packets in said VLAN. ARP table does not contain information about the device in VLAN until said device sends a packet towards the router.

#### Steps to reproduce the issue:
1. Apply config_db.json from below
2. Set up device A: on Ethernet68 with IP 10.0.0.2/24 and add route `ip route add 10.1.0.0/24 via 10.0.0

[2021-12-08 15:12] ihorchekh opened #9472 "["config reload"] | config reload does not work in case when "feature state mgmt-framework disabled""
**Description**
Config reload does not work in case when "feature state mgmt-framework disabled"
Getting this error: `Failed to reset failed state of unit mgmt-framework.service: Unit mgmt-framework.service not loaded.`

**Steps to reproduce the issue:**
1. Do command: `config feature state mgmt-framework disabled`
2. Do command: `config save -y`
3. Do command: `config reload -y`
4. Check result

[2021-12-08 15:15] ihorchekh opened #9473 "["SFLOW"] | after reload config_db.json sflow going to disabled state"
**Description**
After reload config_db.json sflow going to disabled state.
Command `show feature status` shows sflow in disabled state after `config reload -y`

**Steps to reproduce the issue:**
1. Check that sflow enabled in config_db.json
*if it has `"state": "disabled"` change to `"enabled"`

2. Reboot device
3. Check `show feature status`
4. Reload config: `config reload -y`
5. Check `show fea

[2021-12-08 16:09] chitra-raghavan commented on #9432
Brcm CSP raised by Vineet

[2021-12-08 16:09] chitra-raghavan commented on #9430
Broadcom CSP raised  by Vineet

[2021-12-08 16:11] zhangyanzhao commented on #9472
Nvidia team will debug further according to comments from issue tirage meeting

[2021-12-08 16:11] zhangyanzhao commented on #9473
Nvidia team will debug further according to comments from issue tirage meeting

[2021-12-08 16:19] zhangyanzhao commented on #9462
Need Intel team to take a look, SRv6 related

[2021-12-08 16:22] zhangyanzhao commented on #9453
Feature gap and addressed by PR https://github.com/Azure/sonic-swss/pull/1887

[2021-12-08 16:26] chitra-raghavan commented on #8483
Fixed in latest 202012 images

[2021-12-08 16:26] #8483 closed

[2021-12-08 16:28] zhangyanzhao commented on #9448
Abhishek, please help to take a look.

[2021-12-08 16:31] zhangyanzhao commented on #9445
wait for #6164

[2021-12-08 16:32] zhangyanzhao commented on #9439
Please check https://azure.github.io/SONiC/Supported-Devices-and-Platforms.html

[2021-12-08 16:34] zhangyanzhao commented on #9432
@chitra-raghavan please work with Vineet on this issue.

[2021-12-08 16:39] prsunny commented on #9462
@kperumalbfn , please fix

[2021-12-08 16:40] zhangyanzhao commented on #9334
Please verify if this issue is fixed. Thanks.

[2021-12-08 16:41] zhangyanzhao commented on #9327
Please double check whether this is fixed.

[2021-12-08 16:43] zhangyanzhao commented on #9326
PR need be merged

[2021-12-08 16:44] zhangyanzhao commented on #9321
build issue which need be fixed

[2021-12-08 16:45] zhangyanzhao commented on #9321
Richard, please check with build team on this issue. Thanks.

[2021-12-08 16:46] zhangyanzhao commented on #9318
handled already

[2021-12-08 16:49] zhangyanzhao commented on #9272
Need Intel to take a look.

[2021-12-08 16:50] zhangyanzhao commented on #9242
race condition happened

[2021-12-08 16:59] zhangyanzhao commented on #9035
Can you please provide more info like the HwSKU, the exception message etc?

[2021-12-08 17:08] MaratGubaiev commented on #9242
Maybe but I repeated the test many thousand times on two platforms without any result. While @ayurkiv-nvda says that he can get the error after only one thousand of tests. So I supposed that he has some other issues. I think that somebody else should check it on another platform for sure!

[2021-12-08 17:10] zhangyanzhao commented on #9272
@kperumalbfn

[2021-12-08 17:15] zhangyanzhao commented on #7989
@bingwang-ms  would you  please help to take a look and provide an update? This issue is raised in today's issue triage meeting, still outstanding issue. Thanks.

[2021-12-08 17:16] zhangyanzhao commented on #7988
@bingwang-ms  would you please help to take a look and provide an update? Thanks.

[2021-12-08 17:19] zhangyanzhao commented on #7943
@jamiedawsonyoung Jamie assign this issue to you and please help to take a look. Let us know if you are not the right person anymore. Thanks.

[2021-12-08 17:23] zhangyanzhao commented on #8599
@AkhileshSamineni would you please help to provide an update on this issue? Thanks.

[2021-12-08 17:29] MaratGubaiev commented on #9327
It is already fixed.
See https://github.com/Azure/sonic-utilities/pull/1952

[2021-12-08 17:34] shi-su commented on #9434
@stephenxs I drafted a PR https://github.com/Azure/sonic-swss/pull/2071 that would potentially resolve the issue. Would you mind adding a test case for the issue?

@abdosi Let me know if you have any thoughts or comments.

[2021-12-08 17:40] liat-grozovik commented on #9434
Not sure i understand your request to add test.
The issue has been raised while test was running so we have a test. "azure pipeline kvm t0 bgp speaker test."
If you have new flow in your draft PR i suggest the test will be enhanced in that PR

[2021-12-08 18:26] dgsudharsan commented on #9470
ip route commands don't program the route in hardware. In SONiC config commands should be used to configure static route. Please refer https://github.com/Azure/sonic-utilities/blob/master/doc/Command-Reference.md#static-routing-config-commands to configure static route

[2021-12-08 18:30] dgsudharsan commented on #9470
One more point, there is another issue with mellanox SDK for which fix is being worked on. Once the SDK fix is updated I will close this issue.

[2021-12-08 18:45] charlag commented on #9470
@dgsudharsan we do not to configure static routing (or any routing) on the SONIC device, this was just an example for connecting devices _to_ the router. Sonic device imports two subnets into the routing table from them just being directly connected.
The whole thing is a simplified example of our scenario where one side is inside VLAN and the other is coming via upstream and populated via BGP.

[2021-12-08 19:41] dgsudharsan commented on #9470
@charlag I see. Can you please add techsupport information to the issue? Please execute 'show techsupport' and attach the tar.gz file generated

[2021-12-08 20:10] bratashX commented on #9406
Issue resolved
@stepanblyschak thanks

[2021-12-08 20:10] #9406 closed

[2021-12-08 20:19] jamiedawsonyoung commented on #7943
Sorry, not me. Not sure how I got assigned here. I'm a design manager ☺️

[2021-12-08 20:53] dgsudharsan commented on #9473
config reload -y
Running command: rm -rf /tmp/dropstat-*
Disabling container monitoring ...
Stopping SONiC target ...
Running command: /usr/local/bin/sonic-cfggen  -j /etc/sonic/config_db.json  -j /etc/sonic/init_cfg.json  --write-to-db
Running command: /usr/local/bin/db_migrator.py -o migrate
Running command: /usr/local/bin/sonic-cfggen -d -y /etc/sonic/sonic_version.yml -t /usr/share/sonic/templ

[2021-12-08 21:53] prsunny commented on #9470
Not clear on this configuration:

[code]

You've a directly connected subnet 10.1.0.0/24 on Ethernet0. So why do you create a route to the same subnet but pointing to 10.0.0.1 via Ethernet68?

[2021-12-08 21:55] dgsudharsan commented on #9470
I had the same doubt but I believe the routes were created on the hosts rather than on SONiC.

[2021-12-08 22:17] prsunny commented on #9470
I see.. Since you mentioned static route on Sonic, I thought its on Sonic device.

Anyways, I don't find the config_db entry correct as well:

[code]
you must have one more entry as below:
[code]

[2021-12-08 22:18] prsunny commented on #9470
Please use `'config interface'` command to add ip address and not directly edit the config_db.json

[2021-12-08 23:02] #8954 closed

[2021-12-08 23:31] tjchadaga opened #9475 "[warm-reboot] warm-reboot from 201811 to 202012 fails on s6100 at SDK initialization"
#### Description

Warm-reboot from 201811 to 202012 is failing with broadcom SDK initilization failure

#### Steps to reproduce the issue:
1. Load 201811 image
2. Set next image as 202012
2. Perform warm-reboot -f

#### Describe the results you received:
Warm-reboot fails with orchagent crash during INIT_VIEW and the following errors are observed in the log:

Nov 10 22:15:31.577603 str-s6100-acs-1

[2021-12-09 01:04] #9122 closed

[2021-12-09 01:29] #9462 closed

[2021-12-09 05:33] raphaelt-nvidia commented on #7943
Rupesh Kumar of Broadcom is working on this and supplied ETA of 10th December.

[2021-12-09 05:33] raphaelt-nvidia commented on #7988
Rupesh Kumar of Broadcom is working on this and supplied ETA of 10th December.

[2021-12-09 05:33] raphaelt-nvidia commented on #7989
Rupesh Kumar of Broadcom is working on this and supplied ETA of 10th December.

[2021-12-09 06:29] tw0byt3 opened #9478 "[DPB] Port Breakout issue on Mellanox SN2700"
root@localhost:~# config interface breakout Ethernet0 4x10G[25G]
Do you want to Breakout the port, continue? [y/N]: y

Running Breakout Mode : 1x100G[50G,40G,25G,10G]
Target Breakout Mode : 4x10G[25G]

Ports to be deleted :
{
"Ethernet0": "100000"
}
Ports to be added :
{
"Ethernet0": "10000",
"Ethernet1": "10000",
"Ethernet2": "10000",
"Ethernet3": "10000"
}

After running Logic to limit the impac

[2021-12-09 06:31] cony7642 commented on #9055
@prsunny
If a user set default route which nexthop is eth0 after learn default route via BGP and then shutdown all BGP interfaces, the problem still happened, right?
We think that root cause is FRR doesn't notify fpmsyncd remove the default route which learned by BGP when shutdown all BGP interfaces.   From FRR point of view, it can chose the default route added by user under this situation, so it

[2021-12-09 07:51] AntonHryshchuk commented on #9334
Fixed. Thanks

[2021-12-09 07:51] #9334 closed

[2021-12-09 09:23] AntheaJiang commented on #9181
find the rootcause：it‘s  because switch chip model changed,and sdk/sai add switch failed
the issue can be closed now.

[2021-12-09 09:23] #9181 closed

[2021-12-09 09:32] Minkang-Tsai commented on #9055
@prsunny
If a user set default route which nexthop is eth0 after learn default route via BGP and then shutdown all BGP interfaces, the problem still happened, right?
We think that root cause is FRR doesn't notify fpmsyncd remove the default route which learned by BGP when shutdown all BGP interfaces.   From FRR point of view, it can chose the default route added by user under this situation, so it

[2021-12-09 17:03] dgsudharsan commented on #9478
@tw0byt3 Can you provide more information like tech support and version where it is reported?

[2021-12-09 17:07] dgsudharsan commented on #9478
@praveen-li @zhenggen-xu  FYI can you please look? I believe it might be related to the DPB infra as I don't see it has anything to do with platform specific portion.

[2021-12-09 18:20] zhangyanzhao commented on #9350
#9429  is merged.

[2021-12-09 18:23] zhangyanzhao commented on #9312
not blocking issue

[2021-12-09 18:41] prsunny commented on #9055
@Minkang-Tsai , I think with the fix for skipping eth0 in routesync and the fix to remove static route from FRR (#9182 ), we've this issue resolved, correct?. Agree with the approach that you proposed but it seems to be significant changes.

[2021-12-09 19:58] mathershifter opened #9484 "Building docker-sonic-mgmt fails with permission denied errors"
#### Description

Following build steps as outlined in the sonic-mgmt testbed [documentation](https://github.com/Azure/sonic-mgmt/blob/master/docs/testbed/README.testbed.Setup.md) fail to create a docker image for sonic-mgmt

#### Steps to reproduce the issue:
1. git clone --recursive https://github.com/Azure/sonic-buildimage.git
2. cd sonic-buildimage
3. make configure PLATFORM=generic
4. make ta

[2021-12-09 23:08] #9473 closed

[2021-12-10 02:44] iris00522 opened #9489 "evpn programming fails: SAI_API_TUNNEL:brcm_sai_tnl_mp_create_tunnel_map_entry:4308 VNI VLAN mapping exists for VNI 20000"
#### Description

EVPN can't work on our Trident 3 switches. Following the information we can find, syncd process is failing to program the ASIC.
Vnet expect without creating vni to vlan map entry, does 2020120 community image only support vnet exclude EVPN L3 VNI?
#### Steps to reproduce the issue:
1. td3 config
[code]
2. setting l3 vni evpn
[code]

#### Describe the results you received:
[code]

[2021-12-10 05:10] isabelmsft opened #9490 "[yang-models] pfcwd yang missing constraint for pfcwd timer"
#### Description

Necessary constraint for pfcwd timer poll interval: must be <= any of the configured detection/restoration intervals

Pfcwd yang is missing this constraint for pfcwd timer, so generic config updater applies even an invalid pfcwd timer update. The constraint must be added to the pfcwd yang model so that only valid pfcwd timer updates are successfully applied.

#### Steps to reprod

[2021-12-10 06:20] #8898 closed

[2021-12-10 06:27] tw0byt3 commented on #9478
@dgsudharsan The below is the output of show version

SONiC Software Version: SONiC.ssdev2
Distribution: Debian 11.1
Kernel: 5.10.0-8-2-amd64
Build commit: f2ee94d20
Build date: Mon Dec  6 16:19:57 UTC 2021
Built by: st@sv-s18

Platform: x86_64-mlnx_msn2700-r0
HwSKU: ACS-MSN2700
ASIC: mellanox
ASIC Count: 1
Serial Number: MT2017T06730
Model Number: MSN2700-CS2ROS
Hardware Revision: A2
Uptime: 06:0

[2021-12-10 07:05] dgsudharsan commented on #9478
Thanks. Can you also add techsupport information?

[2021-12-10 07:11] tw0byt3 commented on #9478
@dgsudharsan I am sorry but I was unable to share the .zip file over here. Can you let me know what is needed and how I can share the same with you?

[2021-12-10 07:18] #8993 closed

[2021-12-10 10:25] MaratGubaiev opened #9498 "config apply-patch --dry-run affects config state"
#### Description

`config apply-patch --dry-run` applies patch to the real config while the option is described as " test out the command _without affecting config state_"

#### Steps to reproduce the issue:
1. `sudo config save config_save1.json`
2. `sudo config apply-patch -d some_patch.json-patch`
3. `sudo config save config_save2.json`
4. Compare config_save1.json and config_save2.json

#### D

[2021-12-10 10:46] MaratGubaiev opened #9499 "config reload freezes SONiC if json is syntactically incorrect"
#### Description

`config reload config.json` freezes SONiC if config.json is syntactically incorrect, like a comma is missing.

#### Steps to reproduce the issue:
1. Create syntactically incorrect config.json file.
2. `config reload config.json`

#### Describe the results you received:
Terminal freezes. After reopening the terminal SONiC commands (inc. reboot) cause to freezing the terminal again

[2021-12-10 13:59] charlag commented on #9470
Hello again

We would like to apologize for taking your time, it is indeed a misconfiguration, we've found it when we reinstalled the system image to make a clean report.

Turns out our firewall was blocking forwarding of packets. We didn't discover this until now because when the ARP entry is there control plane wouldn't invoke the firewall and the packets would come through but it seems that whe

[2021-12-10 13:59] #9470 closed

[2021-12-10 16:25] dgsudharsan commented on #9478
@tw0byt3 Can you then attach your configuration file here? We will try to recreate locally.

[2021-12-10 16:59] dgsudharsan commented on #9478
@tw0byt3 Looks like many others with different platforms are reporting the same.
https://groups.google.com/g/sonicproject/c/uqnUtplY-PI
https://groups.google.com/g/sonic-breakout-workgroup/c/tZIZZpqGXDE

@zhenggen-xu @praveen-li  I believe this is a generic DPB infra related issue. Could you please help here?

[2021-12-10 17:16] MaratGubaiev commented on #9242
Could you provide more information about your topology?

[2021-12-10 18:26] praveen-li commented on #9478
Kindly provide the config.
Kindly run the breakout command in verbose mode and provide syslogs.

[2021-12-10 18:28] prsunny commented on #9028
@srj102 , @kishorekunal01 , could you please help move this forward

[2021-12-10 18:32] abdosi commented on #9411
@SuvarnaMeenakshi working on this.

cc @rlhui

[2021-12-10 18:32] praveen-li commented on #9312
+ @li-pingmao

[2021-12-10 18:34] #9326 closed

[2021-12-10 19:51] mykolaxgerasymenko commented on #9478
I was trying to do DPB on the sonic was built two days ago with my fix PR #9418 and it works correctly.

[2021-12-10 20:02] mykolaxgerasymenko commented on #9478
The problem is fixed by adding sonic-types to sonic-flex_counter yang model:
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-flex_counter.yang#L8
and changing the type to stypes:boolean_type for typedef flex_delay_status:
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-flex_counter.yang#L31
It worked for me

[2021-12-10 20:03] mlok-nokia opened #9503 "[multiasic][database]database.sh failed to create the database for namespace in multiasic platform"
#### Description
database.sh failed to create the database for namespace in multiasic platform.
The latest code Docker version 20.10.x, command "docker create" no longer takes optional "NET=" with empty value. Syntax error show with current docker create command in database.sh.

#### Steps to reproduce the issue:
1. login in to the multiasic platform
2. execute command "docker ps -a" and check out

[2021-12-11 01:33] mlok-nokia opened #9505 "[voq][pmon]xcvrd process show the backtrace in the syslog file on VOQ linecard"
#### Description
[voq][pmon] xcvrd process show the backtrace in the syslog file on VOQ  linecard.
[code]

#### Steps to reproduce the issue:
1.  boot the latest image on a VOQ line card which has internal ports
2. check the syslog file for the PMON module

#### Describe the results you received:
The below Backtrace in he syslog file
[code]

#### Describe the results you expected:
There should not

[2021-12-11 19:31] MaratGubaiev commented on #9242
BTW searching [the dump you provided](https://github.com/Azure/sonic-buildimage/files/7527678/sysdump_test_lags_scale.tar.gz) I didn't found

[2021-12-13 08:52] tw0byt3 commented on #9478
@dgsudharsan @praveen-li
**Config DB:**
{
    "DEVICE_METADATA": {
        "localhost": {
            "hwsku": "ACS-MSN2700",
            "platform": "x86_64-mlnx_msn2700-r0",
            "mac": "1C:34:DA:9C:08:C0"
        }
    },
    "PORT": {
        "Ethernet0": {
            "alias": "etp1",
            "lanes": "0,1,2,3",
            "speed": "100000",
            "index": "1",
            "

[2021-12-13 08:59] mykolaxgerasymenko commented on #9478
@tw0byt3 Is this some other issue? Why logs is different?

[2021-12-13 09:54] tw0byt3 commented on #9478
@mykolaxgerasymenko This is the same issue, but the output differs when -v is used for verbose output

[2021-12-13 10:08] mykolaxgerasymenko commented on #9478
What is the sonic version did you use for show last logs?

[2021-12-13 10:13] tw0byt3 commented on #9478
@mykolaxgerasymenko
SONiC Software Version: SONiC.ssdev2
Distribution: Debian 11.1
Kernel: 5.10.0-8-2-amd64
Build commit: f2ee94d20
Build date: Mon Dec  6 16:19:57 UTC 2021
Built by: st@sv-s18

Platform: x86_64-mlnx_msn2700-r0
HwSKU: ACS-MSN2700
ASIC: mellanox
ASIC Count: 1
Serial Number: MT2017T06730
Model Number: MSN2700-CS2ROS
Hardware Revision: A2
Uptime: 09:53:34 up 3 days, 20:54,  1 user,  l

[2021-12-13 11:07] mykolaxgerasymenko commented on #9478
@tw0byt3 Could you please try DPB on the latest SONiC image to localize the problem you faced?
But just apply the changes from PR #9487 for solve issue with Yang model support for SRV6 CRM.
[code]
But please do not use -v (verbose) option, because with this option I have the same error you showed:
[code]

Without the -v mode, I got a successful result:
[code]

[2021-12-13 12:01] ayurkiv-nvda commented on #9242
inside archive  on path _sonic_dump_r-tigon-15_20211103_070718\log\syslog_ there are
**Nov  3 07:04:37.885212 r-tigon-15 ERR snmp#snmpd[22]: Failed to open /proc/net/dev_snmp6/PortChannel21**

[2021-12-13 12:16] MaratGubaiev commented on #9242
Sorry: It was archive in archive%%%%%

[2021-12-13 12:17] ayurkiv-nvda commented on #9242
Issue was reproduced on **canonical** testbed.

[2021-12-13 12:33] MaratGubaiev commented on #9242
Could you provide more details please? Is it t0, t1-lag or something else?
I have tested on t0 virtual testbed and also on a real device without testbed.

[2021-12-13 13:06] ayurkiv-nvda commented on #9242
A sonic canonical setup is a setup with the following connectivity schema:
-The first port of the switch is always connected to host 1.
-The last port of the switch is always connected to host 2.
-The first middle port is connected to host 1.
-The second middle port is connected to host 2.
-The rest of the ports are connected as loopback, where some loopbacks will be pre-defined splits.

[code]

[2021-12-13 13:07] ayurkiv-nvda commented on #9242
![Capture](https://user-images.githubusercontent.com/70649192/145818012-4bcf5c72-a1dd-432b-9521-c321e947340f.PNG)

[2021-12-13 13:08] ayurkiv-nvda commented on #9242
To be honest I am not  sure if topology is matter.
I will try to reproduce it today on t0 or ptf32

[2021-12-13 18:17] #9503 closed

[2021-12-13 21:07] tw0byt3 commented on #9478
@mykolaxgerasymenko I tried the DPB on the latest SONiC image and applied the change from the PR #9487

[code]

The Output of the Breakout yet remains the same

[code]
I also see that a new_port_config.json file is created in the root user home directory post the command is entered and file includes this:

![Screenshot from 2021-12-14 02-07-21](https://user-images.githubusercontent.com/90885111/14

[2021-12-13 21:59] dgsudharsan opened #9524 "[build]sonic-build in master fails when ENABLE_ZTP=y after upgrade to bullseye"
#### Description

When sonic is built with enable_ztp=y we are seeing the below build failure.
[2021-12-12T10:34:01.470Z] slave.mk:511: "[ DPKG ] Dependecy file(s) are not found for sonic-ztp_1.0.0_all.deb : target/python-wheels/bullseye/swsssdk-2.0.1-py3-none-any.whl.flags target/python-wheels/bullseye/swsssdk-2.0.1-py3-none-any.whl.dep.sha target/python-wheels/bullseye/swsssdk-2.0.1-py3-none-any

[2021-12-13 22:39] saiarcot895 commented on #9524
This line is the error:

[code]

`dh-systemd` is no longer present in Bullseye, and is not needed for installing systemd service files in a Debian package. You can just remove that dependency.

[2021-12-14 02:50] mbze430 commented on #9478
I am having the same exact problem on a broadcom Celestica DX010.  Should I open a new bug report or post mine here?

[2021-12-14 05:19] mbze430 opened #9530 "show system-health detail will not complete"
#### Description

sudo show system-health detail
doesn't complete and shows the following:
[code]

#### Steps to reproduce the issue:
1. sudo show system-health detail

#### Describe the results you expected:
complete with full information

#### Output of `show version`:

[code]

#### Output of `show techsupport`:

[sonic_dump_dx010_20211213_231617.tar.gz](https://github.com/Azure/sonic-buildimage

[2021-12-14 06:50] #9434 closed

[2021-12-14 07:28] prgeor commented on #9505
Dec 11 01:16:45.075905 sonic ERR pmon#sfp: SFP index 37 out of range (1-36)

The index seems to be out of range due to which get_sfp() won't return the sfp object

[2021-12-14 08:24] aravindmani-1 commented on #9478
Same issue is seen in DellEMC Z9332f platform as well.

root@sonic:~# config interface breakout Ethernet0 1x100G[40G] -y -f

Running Breakout Mode : 1x400G
Target Breakout Mode : 1x100G[40G]

Ports to be deleted :
 {
    "Ethernet0": "400000"
}
Ports to be added :
 {
    "Ethernet0": "100000"
}

After running Logic to limit the impact

Final list of ports to be deleted :
 {
    "Ethernet0": "40000

[2021-12-14 09:28] MaratGubaiev commented on #9530
Results of my testing on a mellanox device:
1) branch 202106
<details><summary>"sudo show system-health detail"</summary>

[code]

</details>

<details><summary>"show version"</summary>

[code]

</details>

2) branch master
<details><summary>"sudo show system-health detail"</summary>

[code]

</details>

<details><summary>"show version"</summary>

[code]

</details>

So I cannot reproduce the issu

[2021-12-14 10:34] mdivyamohan opened #9532 "Order of ACL rule creation and port admin up"
Hi,

I have created configuration in CONFIG_DB to make a front panel port administratively enabled, and some ACL TABLE rules to drop packets matching certain criteria on this front panel port.
If SONiC software or the whole machine reboots (cold boot), is there any order in which orchagent/aclorch will read this configuration and apply the startup configuration to ASIC?

Expectation is that when A

[2021-12-14 12:19] tw0byt3 commented on #9478
There are 2 issues which are causing this.
1. There is a typo in the path of the ConfigDB file in the following py script which runs the breakout - /usr/local/lib/python3.9/dist-packages/config/config_mgmt.py
2. If your config_db.json has the value of mac under Device Metadata in the upper case, this causes the Config variable in the script to go null, henceforth giving the aforementioned error.

[2021-12-14 14:24] kcudnik commented on #9409
This fix should keep new discovered objects around: https://github.com/Azure/sonic-sairedis/pull/985

[2021-12-14 14:47] mlok-nokia commented on #9505
The port list which is returned by the port_mapping includes the internal ports (either Backplane or Inband port).  These internal ports don't have transceiver.  They need to be skipped or removed from port_mapping. The old method sfputilbase.py and sfputilhelper.py under sonic-platform-common have this handling.

[2021-12-14 15:01] prgeor commented on #9505
can you propose a fix similar to this [https://github.com/Azure/sonic-platform-common/pull/251/](https://github.com/Azure/sonic-platform-common/pull/251/)

[2021-12-14 15:04] mlok-nokia commented on #9505
I did.  It is shown above too:
[voq][pmon]xcvrd process show backtrace in the syslog on VOQ linecard. Azure/sonic-platform-daemons#233

[2021-12-14 21:04] praveen-li commented on #9478
if SWSS supports a config in uppercase\lowercase only, then it should be a constraint in yang models. And config validation must fail.

Need to check if sonic-yang-mgmt changes from upper to lower case. Ideally it should not.

Thanks,

Regards
Praveen
________________________________
From: Sudharsan Dhamal Gopalarathnam ***@***.***>
Sent: Tuesday, December 14, 2021 7:21 AM
To: Azure/sonic-buildima

[2021-12-14 21:52] ghooo opened #9534 "[yang-models] find_data_dependencies by 'must' statement not only 'leafref'"
#### Description

The problem is current implementation of [sonic-yang-mgmt::find_data_dependencies](https://github.com/Azure/sonic-buildimage/blob/f2774b635dee2d5c0e30489632b47e0210a712dd/src/sonic-yang-mgmt/sonic_yang.py#L518) does not get referrers if they are using `must` statement, it has to use `leafref`.

Investigate getting referrers by `must` statements as well.

[2021-12-15 12:57] aravindmani-1 commented on #9478
config_db used in DellEMC Z9332f:
[9332f_config_db.txt](https://github.com/Azure/sonic-buildimage/files/7719468/9332f_config_db.txt)

[2021-12-15 14:58] ayurkiv-nvda commented on #9242
Managed to reproduce on
Platform: x86_64-mlnx_msn2700-r0
HwSKU: ACS-MSN2700
Spectrum-1

[2021-12-15 20:51] ushax opened #9546 "How to put breakpoints on syncd and swss dockers, because they are stripped binaries?"
I want to find where redis_create_vlan function is located and how it is called. I have sonic-buildimage master branch build with debugging on. The logs says it is being called after addVlan  and before Sai::create. I thought to use gdb to track the flow. By checking binaries through 'file' command in syncd and swss docker. The syncd and swss binaries in dockers are stripped. According to normal b

[2021-12-16 02:23] mbze430 commented on #9530
could be a specific platform issue.  Are there anyone that works on the Celestica?

[2021-12-16 02:55] liuh-80 opened #9548 "[var-log] files/sub-folder under /var/log folder missing because SONiC mount /var/log as a RAM disk/ext4 file."
#### Description
SONiC will mound a ram disk or ext4 to /var/log.
So when /var/log been remount, any data under this folder will lost.
Some service fordepends the folder structure under this folder, if the folder structure lost, server will break, for example auditd depends on /var/log/audit and if the folder lost, auditd can't startup.

#### Steps to reproduce the issue:
1. Install auditd, and cr

[2021-12-16 05:16] ganglyu opened #9550 "[yang-models] device_metadata validation issue"
#### Description

'DEVICE_METADATA': {
    'localhost': {
        'bgp_asn': '64536',
        'deployment_id': None,
        'region': None,
        'cloudtype': None,
        'docker_routing_config_mode': 'separated',
        'hostname': 'OCPSCH01040DDLF',
        'hwsku': 'Force10-Z9100',
        'type': 'LeafRouter',
        'synchronous_mode': 'enable'
    }
}
Config db schema generated by min

[2021-12-16 05:23] ganglyu opened #9551 "[yang-models] feature validation issue"
'FEATURE': {
'telemetry': {
'status': 'enabled'
}
}
Config db schema generated by minigraph can’t pass yang validation, yang model does not have 'status' field.
It seems that we need to update yang model or sonic-config-engine.

#### Description

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/sample_graph.xml --print-data'.
2. Use sonic_yang to validate config db schema.

[2021-12-16 05:34] ganglyu opened #9552 "[yang-models] interface validation issue"
#### Description

                'INTERFACE': {
                                'Ethernet0': {},
                                'Ethernet1': {},
                                'Ethernet0|10.10.1.13/30': {},
                                'Ethernet1|10.10.2.13/30': {}
                },
                'VLAN_INTERFACE': {},
                'PORT': {
                                'Ethernet0':

[2021-12-16 05:46] ganglyu opened #9553 "[yang-models] port validation issue, lanes is mandatory"
'PORT': {
		'Ethernet0': {
			'speed': '40000',
			'description': 'OCPSCH0104012MS:Ethernet12',
			'mtu': '9100',
			'tpid': '0x8100',
			'pfc_asym': 'off',
			'admin_status': 'up'
		}
	},
Config db schema generated by minigraph can’t pass yang validation, PORT table does not have 'lanes' field.
It seems that we need to update yang model or sonic-config-engine.

#### Description

#### Steps to rep

[2021-12-16 07:07] ganglyu opened #9554 "[yang-models] portchannel_member validation issue"
#### Description

[code]
Config db schema generated by minigraph can’t pass yang validation:

* port table does not have fortyGigE0/112, fortyGigE0/116, fortyGigE0/120.

It seems that we need to update yang model or sonic-config-engine.

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/t0-sample-graph.xml --print-data'.
2. Use sonic_yang to validate config db schema.

####

[2021-12-16 07:40] ganglyu opened #9555 "[yang-models] vlan_member validation issue"
#### Description

[code]
Config db schema generated by minigraph can’t pass yang validation:
* port table does not have some ports in vlan_member.

It seems that we need to update yang model or sonic-config-engine.

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/t0-sample-graph.xml --print-data'.
2. Use sonic_yang to validate config db schema.

#### Describe the results y