[2021-03-11 03:25] vaibhavhd commented on #7015
This issue will not be seen in consecutive warmboot.
This is seen because the table contains no keys after cold reboot, and an empty key check should be added:

Repro, and cause:
[code]

A check for empty keys should be put before doing hget

[2021-03-11 03:57] theasianpianist opened #7017 "[SAI 4.3] Adding ACLs matching ICMP packets fails without IP_PROTOCOL field"
#### Description

Adding an ACL that matches any ICMP packet type fails if the IP_PROTOCOL field is not specified.

CS00012059079

#### Steps to reproduce the issue:
1. `admin@str2-7050cx3-acs-11:~$ redis-cli -n 4 hmset "ACL_RULE|DATAACL|RULE_1" "ICMP_TYPE" "8" "SRC_IP" "10.0.0.3" "PACKET_ACTION" "FORWARD" "PRIORITY" "9999"`
2.
3.

#### Describe the results you received:
In the syslog:
[code]

###

[2021-03-11 06:22] kwang789 opened #7019 "Error response from daemon: no build stage in current context"
#### Description
My attempt to build "make configure PLATFORM=broadcom" on the Ubuntu 18.04 environment was unsuccessful
The error is as follows:

wk@atc:~/sonic/sonic-buildimage$ make configure PLATFORM=broadcom
+++ Making configure +++
BLDENV=stretch make -f Makefile.work configure
make[1]: Entering directory '/home/wk/sonic/sonic-buildimage'
Traceback (most recent call last):
  File "/usr/local

[2021-03-11 09:06] #7019 closed

[2021-03-11 12:00] allas-nvidia commented on #6606
Ok, so I leave the current presentation + fix BUG :)

[2021-03-11 13:39] vpsubramaniam commented on #6820
Raised below merge requests to address this issue,
https://github.com/Azure/sonic-buildimage/pull/7022
https://github.com/Azure/sonic-platform-common/pull/177

[2021-03-11 14:55] lguohan opened #7023 "ERR monit[480]: 'routeCheck' program timed out after 5.067 m. Killing program with pid 8480\"
#### Description

#### Steps to reproduce the issue:
1. https://dev.azure.com/mssonic/build/_build/results?buildId=6586&view=logs&j=551384a3-3c3d-5d98-9a93-ab579ce10658&t=dcc0ef7a-c27d-5084-36c2-e0f4d142c187
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happ

[2021-03-11 14:58] lguohan opened #7024 "Unix socket /var/run/monit.sock connection error -- No such file or directory"
#### Description

#### Steps to reproduce the issue:
1. https://dev.azure.com/mssonic/build/_build/results?buildId=6546&view=logs&j=551384a3-3c3d-5d98-9a93-ab579ce10658&t=dcc0ef7a-c27d-5084-36c2-e0f4d142c187
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happ

[2021-03-11 15:02] lguohan commented on #7024
the regression is introduced by this pr https://github.com/Azure/sonic-utilities/pull/1471

[2021-03-11 15:14] lguohan commented on #7024
revert the pr #7025

[2021-03-11 18:14] ppikh opened #7028 "Impossible to set port to be member of VLAN(specific scenario with static route)"
#### Impossible to set port to be member of VLAN(specific scenario with static route)

Impossible to set port to be member of VLAN in case when port previously was configured as L3 and static route was configured via this port.

####Errors in logs:
[code]

#### Steps to reproduce the issue:
1. Add IP and static route for port Ethernet0
[code]
2. Remove IP(without removing static route) and try to

[2021-03-12 02:03] xumia opened #7035 "Improve the changelog of the package versions upgrade pull request"
#### Description

Example:
https://github.com/Azure/sonic-buildimage/pull/6996

[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-03-12 02:16] wendani commented on #6167
Looks like error comes from brcm sai. What is brcm sai version you are using?

[2021-03-12 03:30] renukamanavalan commented on #7023
I installed the sonic-broadcom.bin from the artifacts pointed by your link. I could not repro.

[code]

Can you please check your logs for route_check.py crashing stack generated when it got killed?
This can help us see, where it was stuck.

[2021-03-12 03:49] lguohan commented on #7023
all logs are published here. can you check? https://dev.azure.com/mssonic/build/_build/results?buildId=6586&view=artifacts&pathAsName=false&type=publishedArtifacts

this does not always happens, but in some cases it happens.

[2021-03-12 04:03] abdosi opened #7036 "[snmp] LLDPRemManAddrTable does not gets populated if Remote Interface has both ipv4/6 address"
Issue:
When the Remote LLDP Neighbor advertise both ipv4 and ipv6 address LLDPRemManAddrTable does not gets populated

Eg: below is APP DB where both v4 and v6 address present in `lldp_rem_man_addr`

[code]
It will fail with below error:
`syslog:Mar 11 19:49:18.570078 str-sxxxx-on-2 WARNING snmp#snmp-subagent [sonic_ax_impl] WARNING: Invalid mgmt IP 10.224.25.100,2603:10e2:290:5016:`

Expectation:

[2021-03-12 04:03] abdosi commented on #7036
working on fix.

[2021-03-12 05:57] rkdevi27 commented on #6965
Hi, Is there any update on this issue.

[2021-03-12 13:43] lolyu commented on #6653
Confirmed with SAI 4.3.3.1-1
* original packet
[code]
* encapsulated packet
[code]

[2021-03-12 14:34] vadymhlushko-mlnx opened #7045 "[nbrmgrd] wrong parsing logic for IPv6 address"
#### Description
Changes were introduced by [sonic-swss/pull/1506](https://github.com/Azure/sonic-swss/pull/1506).
In [nbrmgr.cpp Line: 216](https://github.com/Azure/sonic-swss/blob/9e30abb045fd0f20b4bb636c22d04fb89cd7b5c2/cfgmgr/nbrmgr.cpp#L216) a function `tokenize` has a wrong parsing logic for `IPv6 address` from `APP_DB`, because the delimiter for `IPv6 (:)` is the same as the delimiter for k

[2021-03-12 21:59] prsunny commented on #7045
Thanks @vadymhlushko-mlnx for finding this. The fix should be simple similar to [this](https://github.com/Azure/sonic-swss/blob/master/orchagent/intfsorch.cpp#L573). Would you help fixing?

[2021-03-12 22:55] MalteJ commented on #3023
Just to confirm:
The recommended way to configure frr is writing a custom config to `/etc/sonic/frr/frr.conf` right?
So *no one* is using the CONFIG_DB to configure BGP?

Thanks for the info!
Malte

[2021-03-13 00:11] renukamanavalan commented on #7023
**Summary:**
This error happens upon ansible job invoking "config reload". Not on every conflig reload, but every failure happens during config-reload only.  It happens only once, while in the middle of daemons starting up. Even the monit is "awakened". Looked into 7 syslog archives

**Key missing**: Though route_check.py is *stated* to be killed by monit, there is no crash-stack in any of the log

[2021-03-13 05:18] TETA-Net commented on #6167
[code]

[2021-03-13 23:36] #6839 closed

[2021-03-14 07:32] lguohan commented on #7023
it is not uncommon. here is another same case.

https://dev.azure.com/mssonic/build/_build/results?buildId=6941&view=logs&j=551384a3-3c3d-5d98-9a93-ab579ce10658&t=dcc0ef7a-c27d-5084-36c2-e0f4d142c187

[2021-03-14 08:11] wendani commented on #6167
There was sai spec change from SAI_ROUTER_INTERFACE_ATTR_VLAN_ID (enum value 3) to SAI_ROUTER_INTERFACE_ATTR_OUTER_VLAN_ID (enum value 4) in creating a RIF type sub port https://github.com/opencomputeproject/SAI/pull/998

The implementation is not updated to the sai spec change

You can change loglevel on ROUTER_INTERFACE to get more info
[code]

[2021-03-15 00:47] renukamanavalan commented on #7023
This error is "commonly" associated with "config reload" indirectly.
This error is *not* commonly seen otherwise.
Sample sequence below:

a) Ansible invoking "config reload"
b) Later during startup: Monit refreshed with a SIGHUP
c) In 5 mins: routcheck.py timedout error as after 5.067m

[code]

[2021-03-15 00:48] renukamanavalan commented on #7023
Unable to figure out, why we don't get crashing call stack ... Wondering on next steps ...

[2021-03-15 05:09] renukamanavalan commented on #7023
Raised [PR #1502](https://github.com/Azure/sonic-utilities/pull/1502), to help get call stack, upon hang. Not to wait till monit kills, where we lose any crashing call stack.

W/o call stack and with no repro, we are in dark.

[2021-03-15 07:27] 119064273 commented on #6602
@Blueve  ,  can you check your syslog when system startup, the same with below issue ?
  https://github.com/Azure/sonic-buildimage/issues/6459

orchagent crash observed when remove SAI_OBJECT_TYPE_PORT is not supported

[2021-03-15 09:33] ppikh commented on #5663
Issue still reproduce on image version:
[code]

Sysdump added:
[sysdump_config_reload.tar.gz](https://github.com/Azure/sonic-buildimage/files/6140270/sysdump_config_reload.tar.gz)

[2021-03-15 09:59] dprital commented on #6328
@tahmed-dev  - what is the status of this issue ? was the sort logic put back ?

[2021-03-15 16:37] liat-grozovik commented on #6412
@sachinholla this errors raised without any REST request in the test. it was a long weekend run of traffic tesst which the log had the error.
@dprital can you please help to upload dump when this error was raised?

[2021-03-15 18:13] sanmalho-git opened #7060 "'show lldp table' fails when have LLDP neighbors on frontpanel ports and internal ports (multi-asic/T2)"
#### Description

'show lldp table' fails when have LLDP neighbors on frontpanel ports and also have internal ports running LLDP as well. Examples of internal ports include the Inband port 'Ethernet-IB*' on a T2 chassis, or 'Ethernet-BP*' on a multi-asic pizza box.

This fails iface_namingmode::TestShowLldp::test_show_lldp_tables test case in sonic-mgmt tests.

#### Steps to reproduce the issue:
1

[2021-03-15 23:31] prsunny commented on #6841
@lolyu, this shall be fixed in the next image. There will still be an outstanding issue with v6inv4 which is being tracked via CSP

[2021-03-16 00:13] jleveque commented on #7001
Hi @wjaco. Thanks for opening this issue.

When you refer to "parser handlers," are you referring to these methods in the SfpBase API class?

[code]

If so, I do agree that all of the above should be implemented in what is currently sfputilbase.py (however, low-power mode ('get_lpmode()`, `set_lpmode()`) uses a dedicated pin, and is not part of the EEPROM).

True. This data should ultimately get p

[2021-03-16 03:48] laiguoliang-lyr commented on #5752
I also encountered a similar problem, is there a solution currently？ Only enable mgmt-vrf will appear.

Logs:
sonic ERR ntpd[6227]: bind(55) AF_INET 10.0.0.2#123 flags 0x19 failed: Cannot assign requested address
sonic ERR ntpd[6227]: unable to create socket on Ethernet2 (346) for 10.0.0.2#123
sonic INFO ntpd[6227]: failed to init interface for address 10.0.0.2
sonic ERR ntpd[6227]: bind(55) AF_IN

[2021-03-16 10:16] Hedgehog-Guru commented on #6360
Bug has been fixed.
Verified on
[code]

[2021-03-16 10:16] #6360 closed

[2021-03-16 15:42] allas-nvidia commented on #6936
Yes, STATEDB entry is cleaned

[2021-03-16 15:45] maksymbelei95 commented on #7028
Investigating the issue.

[2021-03-16 18:39] uraghura opened #7069 "201811 build failure: Unable to checkout <commit SHA> in submodule path 'src/sonic-utilities'"
#### Description
when I tried to do “make init” in 201811 sonic-buildimage, it failed with below error message. In the Azure/sonic-utilities repo, below commit HASH did not belong to any branch of sonic-utilities repo.  Is this issue known or someone facing it?

fatal: reference is not a tree: 2e44a2b31483e863b1eabbcb06bc8eb597be2a13
Unable to checkout '2e44a2b31483e863b1eabbcb06bc8eb597be2a13' in

[2021-03-16 19:42] vaibhavhd opened #7071 "[warm-reboot] syncd APPLY_VIEW error: brcm_sai_remove_hostif_trap_group in use"
#### Description

Post warm-reboot (master to master), in APPLY_VIEW, syncd encounters a failure with SAI_API_HOSTIF:brcm_sai_remove_hostif_trap_group:1245 trap group in use. This ultimately leads to syncd sends notification to OA for swss to restart
Syslog:
[code]
Sairdeis:

[code]

#### Steps to reproduce the issue:
1. Run continuous warm reboot test.
2. Test will fail with either - LAG flap, pa

[2021-03-16 19:53] #6982 closed

[2021-03-16 20:29] vaibhavhd opened #7072 "[warm-reboot] After APPLY_VIEW failure, syncd gets stuck in INIT_VIEW failure"
#### Description

This issue is seen after another issue is hit - https://github.com/Azure/sonic-buildimage/issues/7071

Here, I am expecting that after swss restarts, the INIT_VIEW stage does not get stuck (TIMEOUT).

After swss restarts (due to APPLY_VIEW failure), swss keeps restarting due to failure in INIT_VIEW. Something is keeping syncd busy.

Sai-redis:
`Apply view failure:` (https://githu

[2021-03-16 20:33] vaibhavhd commented on #6773
The LAGs flap due to swss restart as a SELECT TIMEOUT failure is seen in INIT_VIEW processing

It looks like Orchagent is not reconciled and syncd did not respond within 60s. This led to to `wait: select operation result: timeout on notify`. When swss restarts, LAGs flap, and the test failed.

[code]

[2021-03-16 20:37] vaibhavhd commented on #6773
From the logs, it also appears that vxlanmgrd is stuck for orchagent to reconcile. I tested using the fix provided in https://github.com/Azure/sonic-swss/pull/1647 and the INIT_VIEW operation succeeded and the warm-reboot proceeded to APPLY_VIEW.
When a new image with sonic-swss changes is ready, I will test this again. Meanwhile, it is not clear why OA was not reconciled, and syncd did not respon

[2021-03-16 21:25] kcudnik commented on #7072
[code]

syncd failed to remove trap group after warm boot

[code]

different number of trap groups between boots, can be brcm issue with trap assignment/usage

[2021-03-16 21:30] kcudnik commented on #7072
i already covered this case in one of the internal emails, checkout topic "RE: ASIC operations after warm reboot"  from 12/30/2020 through 1/19/2021

[2021-03-16 21:54] sanmalho-git commented on #7060
With multi-asic, they ignore interfaces that start with "Ethernet-BP", and thus the issue will not show in a multi-asic pizza box.
We will add similar exclusion for Inband port for T2 VOQ chassis.

[2021-03-16 21:54] #7060 closed

[2021-03-16 23:52] wjaco opened #7074 "Default config is based on preset t1 and how to change it to only PORTs"
It is found that config_gen, sonic-cfggen, and config_sameple.py generate configuration only based on t1, l2 or empty. t1 being default in all the default_sku from most vendors.
We wanted to make it a simpler one only based on PORTs and then apply configuration later based on sonic-cfggen with the presents we want.
So we could achieve it by the following change in config_samples, and making the de

[2021-03-17 01:55] #6978 closed

[2021-03-17 02:00] #6653 closed

[2021-03-17 02:02] #7015 closed

[2021-03-17 02:22] tim-rj opened #7076 "[build] error: can't copy './yang-models/sonic_yang_tree': doesn't exist or not a regular file"
#### Description

#### Steps to reproduce the issue:
1. build local for 202012 branch
2. make target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl build failed
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
make target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl build successfully

#### Output of `show version`:

[code]

#### Additional

[2021-03-17 08:34] Hedgehog-Guru commented on #5598
Verified under hash 5263478 FROM 202012 branch.
The issue is not reproduced. Considered as fixed by the community.
Thanks.

[2021-03-17 08:41] #5598 closed

[2021-03-17 12:59] rkdevi27 commented on #6965
Hi,
This issue is not seen in SONiC.master.613-8504c72f (latest master)
Whereas it is consistently seen in SONiC.master.600-880a743c
I will update if the issue is seen again.

[2021-03-17 14:58] d-dashkov commented on #7008
Investigating the issue.

[2021-03-17 15:06] anshuv-mfst commented on #7076
@praveen-li - could you please look into this issue, thanks.

[2021-03-17 15:09] anshuv-mfst commented on #7074
Known limitation, will be treated as enhancement request.

[2021-03-17 15:10] lguohan commented on #7074
what is l1 configuration? how is it different from l2 configuration?

[2021-03-17 15:12] lguohan commented on #7069
looks like also failing here. https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201811/79/

[2021-03-17 15:12] anshuv-mfst commented on #7069
@yxieca - could you please take a look, thanks.

[2021-03-17 15:14] anshuv-mfst commented on #7035
Build improvement

[2021-03-17 15:16] anshuv-mfst commented on #7028
@prsunny - could you please review once PR is available, thanks.

[2021-03-17 15:18] anshuv-mfst commented on #7008
Issue Triage Meeting 3/17: d-dashkov looking into this issue, thanks!

[2021-03-17 15:21] anshuv-mfst commented on #6965
Issue no longer seen in latest master, thanks.

[2021-03-17 15:21] #6965 closed

[2021-03-17 15:23] anshuv-mfst commented on #6965
@vaibhavhd - could you please investigate what might have caused/fixed the issue. Issue is no longer seen in SONiC.master.613-8504c72f (latest master) while seen in SONiC.master.600-880a743c.

[2021-03-17 15:35] mdivyamohan opened #7080 "warm shutdown failure"
Hi,

On attempting warm shutdown, I see logs on attempting to flex counter thread, and watchdog timing out.

I am disabling flex counters in config db, with expectation that this would prevent flex counter threads from running, but that does not seem to be the case.

Has anyone seen similar issues? Any pointers on what could be causing this?

Disabling flex counters:
[code]

Log:
[code]

[2021-03-17 15:48] mdivyamohan opened #7081 "Adding 2-4094 tagged vlans takes ~15 minutes"
I tried creating VLANs with id from 2 to 4094, and configuring two switch ports as tagged members of all these VLANs. I am using sonic-cfggen to update CONFIG_DB.
This operation seems to take around 15 mins to finish ASIC configuration.

Is this expected, or something wrong with my environment?

[2021-03-17 16:34] wjaco commented on #7074
L2 had VLAN1000 untagged created. We were looking for only having PORT entries to start a device with. Not much difference with L2 though. So just added that into the sample configurations and named L1.

[code]

[code]

[2021-03-17 22:07] tahmed-dev opened #7086 "dual tor: Show Mux Cable Status Produces Empty Table After Swss Restart"
#### Description
`show muxcable status` cli produces empty table after swss is restarted.

#### Steps to reproduce the issue:
1. restart swss container
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:
`beta.14`

#### Additional information you deem important (e.g. issue happens only occasionally):
restart pmon con

[2021-03-18 08:09] Hedgehog-Guru commented on #6425
The bug has been fixed by the community. Not reproduced on SONIC.master with hash 6957e37

[2021-03-18 08:09] #6425 closed

[2021-03-18 08:25] #6146 closed

[2021-03-18 08:34] Blueve commented on #6602
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/6162415/syslog.txt)

@119064273 I am not seen any error log related to SAI_OBJECT_TYPE_PORT. There are some log mentioned container starting fail (around Line 3682).
[code]

[2021-03-18 10:22] chitra-raghavan opened #7094 "warmboot syncd pre shutdown fails in latest master and device hangs"
#### Description

Warmboot fails in latest master and the device hangs from  master label # 601
Syncd pre-shutdown failed and the device hangs .
This issue is not seen in image # 600

**Log:**

	root@sonic-10429:~# warm-reboot  -v
	Thu 18 Mar 2021 09:35:22 AM UTC Saving counters folder before warmboot...
	Thu 18 Mar 2021 09:35:23 AM UTC Pausing orchagent ...
	Thu 18 Mar 2021 09:35:23 AM UTC Collec

[2021-03-18 11:28] volodymyrsamotiy opened #7095 "[vnet] Errors in the log during removing VNET objects"
#### Description
Errors are observed syslog during removing VNET objects. It doesn't affect functionality, test itself passes just error messages are observed during cleanup.

#### Steps to reproduce the issue:
1. Run VNET test https://github.com/Azure/sonic-mgmt/blob/master/tests/vxlan/test_vnet_vxlan.py
2. Wait for "Cleanup" step to be performed
3. Observe errors in the log during removing VNET

[2021-03-18 12:28] Ezrickd opened #7096 "201911 "show mac" & "show arp" fail when Trunk interface is Trunk."
Issue can be found fixed in 202012. https://github.com/Azure/sonic-buildimage/issues/5927

I need that fixed also for 201911.

Issue description:

when one of a Vlan members is configured as Tagged, show mac & show arp is failing  with following error.

/home/admin# show vlan brief
+-----------+-----------------------+-----------------+----------------+-----------------------+
|   VLAN ID | IP Add

[2021-03-18 12:49] Ezrickd opened #7097 "201911 Mac address is not removed when learned interface is down."
same issue in 202012 is closed and fixed need that in 201911.

https://github.com/Azure/sonic-buildimage/issues/6425

the issue :

FDB entry will be kept in FDB until the timeout or leaned from new interface, regardless of the leaned interface status.
this keeps the FDB table full of none usable MAC address when interface is Shut.

in the below example I use Portchannel but the behavior is same fo

[2021-03-18 12:58] maksymbelei95 commented on #6951
I have closed my PR https://github.com/sflow/host-sflow/pull/43, as Sflow team merged to master branch the change, which represents my modifications: https://github.com/sflow/host-sflow/commit/2703ecb173bdbc6b1bc6cdea524eafa9640f141e.
The fix will be accessible for SONiC with the next release of Sflow. In my understanding, SONiC uses concrete release version of Sflow. Could somebody explain what i

[2021-03-18 17:09] uraghura opened #7099 "201811 build failure for broadcom build: 'https://salsa.debian.org/kernel-team/initramfs-tools.git/': The requested URL returned error: 503"
#### Description
When trying to build SONiC image for Broadcom platforms, seeing build failure in 201811 branch. Is this issue known?

Facing the below issues during "make SONIC_BUILD_JOBS=40 PASSWORD=xxxx target/sonic-broadcom.bin":

fatal: unable to access 'https://salsa.debian.org/sk-guest/monit.git/': The requested URL returned error: 503
Makefile:9: recipe for target '/sonic/target/debs/monit

[2021-03-18 18:24] qiluo-msft commented on #7096
The latest 201911 image should fix it already https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-201911/330/artifact/target/

Could you please test it again? I verified FDB on tagged interface (a PortChannel inside vlan) is working fine.

PS: could you reformat above messages with markdown syntax for better readability?

[2021-03-18 20:02] vaibhavhd commented on #7071
This issue has been traced back to begin with going-down path of warm-reboot. There is an error requesting syncd pre-shutdown:

**SAI_API_ACL:_brcm_sai_free_hostif:10237 field range destroy failed with error Entry not found (0xfffffff9).**

[code]

Broadcom CSP for the issue has been raised - **CS00012084408**.

[2021-03-18 20:05] vaibhavhd commented on #7071
I am now testing with latest of master image, and tried downgrading the SAI version,.
I have found that both `4.3.3.1-1` and `4.3.3.1` - have this issue.

I am trying `4.3.0.13-1` now, and so far (6 successful warmboot iterations with data traffic), the issue is not seen on this version.

[2021-03-19 13:05] vadymhlushko-mlnx commented on #6793
@GarrickHe kind reminder, is there are any updates?

[2021-03-19 17:53] maksymbelei95 commented on #6940
@qiluo-msft, what is the current status of the issue? I have tried to catch a crash of snmpd on https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-201811/226/ and it seems there are no crashes since start of the system. Could you provide some additional information about how to reproduce the crashes?

[2021-03-19 18:55] qiluo-msft commented on #6940
To me it is random and rare. We did not make progress on this topic yet.

[2021-03-21 02:53] lguohan commented on #7099
https://lists.debian.org/debian-infrastructure-announce/2021/03/msg00000.html

it is recovered

[2021-03-21 02:53] #7099 closed

[2021-03-22 08:24] Hedgehog-Guru commented on #5445
The issue is considered fixed by the community.
Not observed in branch 202012 hash 5263478.

[2021-03-22 08:27] henzelis commented on #5445
Issue fixed.

[2021-03-22 08:27] #5445 closed

[2021-03-22 16:32] mykolaxgerasymenko commented on #6935
Fix for this issue was merged. Take a look PR:
https://github.com/Azure/sonic-swss-common/pull/465

Also I created PR to update sonic-swss-common submodule:
https://github.com/Azure/sonic-buildimage/pull/7121

[2021-03-22 20:18] #6241 closed

[2021-03-23 00:19] qiluo-msft commented on #7096
Close. Feel free to reopen if you found not fixed.

[2021-03-23 00:19] #7096 closed

[2021-03-23 01:08] Blueve commented on #6602
Celestica report that they couldn't repro this issue with newest master branch image.
Since the issue has reported near 2 months, I will test newest master and 202012 branch image to see if the issue still on going.
ETA: 3/25

[2021-03-23 01:17] praveen-li commented on #7076
ack

[2021-03-23 05:32] bingwang-ms opened #7124 "Failed to clear PortChannel on MSN4600c when swss service is stopped"
#### Description

The issue is detected by ```test_po_cleanup```. Test case failed because portchannel still exist in kernel after ```swss``` service is stopped.

[code]

Following logs are observerd.
[code]
[syslog.1.gz](https://github.com/Azure/sonic-buildimage/files/6187077/syslog.1.gz)

#### Steps to reproduce the issue:
1. Run ```test_po_cleanup```
2.
3.

#### Describe the results you receive

[2021-03-23 06:35] bingwang-ms opened #7125 "test_po_update failed because SAI report warnings on MSN4600c"
#### Description

```test_po_update``` failed because SAI report warnings
[code]
[syslog.2.gz](https://github.com/Azure/sonic-buildimage/files/6187410/syslog.2.gz)

#### Steps to reproduce the issue:
1. Run ```test_po_update```
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem import

[2021-03-23 08:46] bingwang-ms opened #7126 "orchagent complains "Failed to parse CRM Config attribute dnat_entry_high_threshold error: map::at""
#### Description
Following error logs are observed in ```test_crm``` on MSN4600c.
[code]

#### Steps to reproduce the issue:
1. Run ```sudo ip neigh replace 2.2.2.2 lladdr 11:22:33:44:55:66 dev PortChannel0002```
2. Run ```sudo crm config polling interval 300```

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additiona

[2021-03-23 13:05] maksymbelei95 commented on #6781
@anshuv-mfst, is there any updates from yang workgroup regarding this issue?

[2021-03-23 13:10] maksymbelei95 commented on #6226
@anshuv-mfst, could I ask you to find somebody who can check my comment above?

[2021-03-23 14:22] Hedgehog-Guru opened #7127 "[warm-reboot] warm-reboot breaks if ssh session in which it was started drops"
**Description**
If ssh session in which warm-reboot was started drops, warm-reboot breaks on syncd stage, and the switch become inoperable.

**This is degradation in comparison to the 201911 version.**

**Steps to reproduce the issue**
1) Verify that warm-reboot enable on the DUT:
[code]
2) Apply VLAN, IP, IPv6, and BGP configuration to the DUT(to be close to real production environment):
[code]
3

[2021-03-23 21:14] prsunny commented on #7028
I don't think this is a valid flow. If you are removing the ip address, it is also expected to remove any associated static route. May be the check should be to return error in CLI when user tries to remove the ip address so that user can explicitly remove the route.

[2021-03-24 00:58] vaibhavhd commented on #6773
This issue is not seen in the latest image in the manner it was seen before. However, LAGs still flap after warm-reboot. But, that is due to swss restart after warm-reboot due to SAI issue in syncd preshutdown. The new issue is tracked separately at

https://github.com/Azure/sonic-buildimage/issues/7071

[2021-03-24 00:58] #6773 closed

[2021-03-24 01:27] praveen-li commented on #7076
@tim-rj

-- build target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl with KEEP_SLAVE_ON=yes i.e.

make KEEP_SLAVE_ON=yes  target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl

-- you will be in the sonic slave docker when build fails.

-- run below command in src/sonic-yang-models folder, send me the output of this command
pyang -f tree ./yang-models/*.yang > ./yang-models/sonic_ya

[2021-03-24 01:31] vaibhavhd commented on #7071
This issue is also seen on TD3 platform:

[code]

As well as on TH1 platform
[code]

[2021-03-24 02:57] Blueve commented on #6602
Couldn't repro with master 616:
[code]

[2021-03-24 03:24] Blueve commented on #6459
Hi @119064273 , you mentioned issue is not same with current one according to syslog and that issue is not longer exists in newest  master image.
For current issue, I saw you closed it before. Is there any PR addressed the SAI issue? Could you mention it here as well?

[2021-03-24 03:27] Blueve commented on #6602
Couldn't repro with 202012-57
[code]

[2021-03-24 03:50] dgsudharsan opened #7132 "config reload command should check if the system status is ready before execution"
#### Description
Currently config reload command doesn't check if the system is up before executing. If config reload is given immediately after reboot when services are booting up, it leads to issues with some services.

Example when config reload is given between snmp.timer trigger but before snmp spawns, snmp will never start as the timer will not trigger after 'config reload' as it had trigger

[2021-03-24 03:59] Blueve opened #7133 "[master][202012] E1031 Bootloop after first cold reboot"
#### Description

Observed bootloop after first cold reboot.
Test with below images and all of them are encounter this issue.
- master-616
- master-565
- 202012-57
- 202012-13

#### Steps to reproduce the issue:
1. Install OS from ONIE
2. Run `sudo reboot`

#### Describe the results you received:
Bootloop

#### Describe the results you expected:
Reboot and enter SONiC cli

#### Output of `show ver

[2021-03-24 04:00] Blueve commented on #6602
The issue not observed, for the additional issue(bootloop), i opened a new issue: https://github.com/Azure/sonic-buildimage/issues/7133

[2021-03-24 05:11] dgsudharsan opened #7134 "Modifying Vlan MTU is not reflected in the linux host interfaces"
#### Description
Modifying Vlan MTU is not reflected in the linux host interfaces. However it is programmed in the hardware.

#### Steps to reproduce the issue:
1. Add the following configuration
{
    "VLAN": {
        "Vlan2": {
            "vlanid": "2",
            "mtu": "3000"
        }
    }
}
2. Check ifconfig
 ifconfig Vlan2
Vlan2: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 9100

[2021-03-24 07:17] pettershao-ragilenetworks opened #7136 "[FDB] show mac command is very slow when entires up to 1k or more"
#### Description

#### Steps to reproduce the issue:
1.  sonic switch change to L2 switch
2.  L2 Data stream flow
3.  show mac

#### Describe the results you received:
when FDB entries up to more than 1k, the command output speed will be too slow, for example, 5k, it will takes about 15 seconds

#### Describe the results you expected:

show mac command will not block the CLI command input for long

[2021-03-24 10:24] uraghura opened #7139 "201811 parallel build failure seen with Innovium platform"
#### Description
Seeing parallel build failure due to conflicts between packages innovium-sai-headers 0.10.8.1.0.3 & libsaivs-dev_1.0.0_amd64.deb. In a single threaded i.e., serial build SONIC_BUILD_JOBS=1, build goes fine.

[ FAIL LOG START ] [ target/debs/libsaivs-dev_1.0.0_amd64.deb-install ]
Selecting previously unselected package libsaivs-dev.
(Reading database ... 135113 files and directorie

[2021-03-24 12:30] maksymbelei95 commented on #6940
@qiluo-msft, I have manually installed gdb into the docker container and attached to snmpd process. Tested in this case with different snmp clients. snmp works fine, no crashes occurred in 2 last days.
It would be good to check diff between current state of the branch and state of `SONiC.20181130.70`. Unfortunately, already there is no such build on Jenkins. Have you information regarding build da

[2021-03-24 15:06] liat-grozovik commented on #7132
@qiluo-msft could you please take a look?

[2021-03-24 15:18] #6928 closed

[2021-03-24 16:19] shlomibitton opened #7140 "[fast-reboot] fast-reboot downtime period exceed 30 seconds on master/202012 branches"
#### Description

Fast-reboot downtime period exceed 30 seconds when running 202012/master based images.
It is working very well when running on top of 201911 based image.
Attached to this ticket sairedis.rec and bootchart graphs for 201911/202012 branches while for 202012 there are two versions, synchronous_mode enabled/disabled.
[results.gz](https://github.com/Azure/sonic-buildimage/files/619897

[2021-03-24 16:38] shlomibitton commented on #7140
@kcudnik can you please check this issue?

[2021-03-24 21:17] chrispsommers opened #7145 "sonic-buildimage for broadcom fails arista pytest but images seem OK"
#### Description
When building broadcom images, `make` results in pytest failure. Runing make a second time results in brief output and no failure (presumably because image builds and pytests don't get run again.

#### Steps to reproduce the issue:
1. make init
2. make configure PLATFORM=broadcom
3. make all

#### Git commit
[code]
#### Describe the results you received:
Below see final portion of

[2021-03-25 02:42] prsunny commented on #7134
This is currently a limitation. Reference - https://github.com/Azure/sonic-swss/blob/master/cfgmgr/vlanmgr.cpp#L351.

[2021-03-25 03:24] 119064273 commented on #6602
@Blueve  I see the docker of "swss" not up ?   is it right ?

[2021-03-25 07:26] Blueve commented on #6602
Most dockers are failed with same reason
`Jun 11 08:37:54 sonic systemd[1]: syncd.service: Job syncd.service/start failed with result 'dependency'.`

[2021-03-25 08:07] maksymbelei95 commented on #7127
Investigating the issue.

[2021-03-25 10:13] dprital commented on #6630
Hi, Is anyone going to look on this issue ?

[2021-03-25 13:13] Ezrickd commented on #6425
can you please provide what is the PR to fix the issue in 201911 ?

[2021-03-25 13:15] Ezrickd commented on #5927
can you please advise on the PR that fix the issue.
thank you

[2021-03-25 13:15] kcudnik commented on #7140
@yxieca hey can you help here also ?

[2021-03-25 14:02] kcudnik commented on #7140
there are 3 files for recordings sairedis.rec-201911 sairedis.rec-202012-sync_off sairedis.rec-202012-sync_on
could you explain what are meanings of each of them ? does sync_off mean asynchronous mode? and sync_on synchronous mode ?

[2021-03-25 14:09] shlomibitton commented on #7140
yes, this is exactly the meaning.

[2021-03-25 14:10] sandycelestica opened #7150 "[onie][sonic202012] install out of memory(2G) under HLX"
#### Description
SONiC 202012 branch image install failed under 2G memory HLX. Show  out of memory. The same image can be installed successfully under 4G memory device.

#### Steps to reproduce the issue:
1. Install SONiC 202012 branch under ONIE on 2G memory HLX

#### Describe the results you received:
Install failed.

Loginfo as below:
[code]

#### Describe the results you expected:
SONiC can be

[2021-03-25 14:15] kcudnik commented on #7140
from 2019:
[code]

from init view 15:53:06 to 1st get response after switch create 15:53:26, so entire process takes about 20 seconds, and switch create about 18 seconds

in 202012 sync off:
[code]

from init view 09:57:25 to first get response 09:57:47, it takes 22 seconds, in which create switch about 19 seconds (ps. init view takes about 3-4 seconds here, seems strange, since during that time s

[2021-03-25 14:29] kcudnik commented on #7140
im assuming we are talking here about warm boot scenario, since dataplance downtime is considered on warm boot scenario, but no "warm boot" was mentioned in main post

[2021-03-25 14:32] shlomibitton commented on #7140
I don't have the syslogs but I will re-run the tests and add them.
this is fast-reboot not warm-reboot, dataplane downtime on this scenario should be less than 30 seconds.

[2021-03-25 14:32] kcudnik commented on #7140
i think we will need @yxieca here to jump in and explain fast boot scenario to me

[2021-03-25 14:34] shlomibitton commented on #7140
maybe this document will help to understand the scenario
https://github.com/Azure/SONiC/blob/master/doc/fast-reboot/fastreboot.pdf

[2021-03-25 14:42] kcudnik commented on #7140
to help solve this i will need exact moments when dataplane is disrupted and when it gets full operational again, and whether those 2 moments can be determined from sairedis.rec files

[2021-03-25 16:33] uraghura commented on #7139
Is this known issue? Any PR for this?

[2021-03-25 19:34] baxia-lan opened #7152 "[Reproducible Build] Installing packages during docker-sonic-vs.gz build is rejected by versions control framework"
#### Description

Background information for reproducible framework is described in https://github.com/Azure/SONiC/pull/684.

The versions files are dumped after building the docker image, but during build, the package versions to install may vary.

As an example for docker-sonic-vs image build, the python3 package `netifaces` was installed first with version 0.10.9 [by this line](https://github.c

[2021-03-25 19:37] baxia-lan commented on #7152
@xumia @qiluo-msft , do you have any thoughts on this issue? Thank you.

[2021-03-25 21:47] anamehra opened #7155 "multi-asic: multi_asic.py and other module using swsssdk, causing CLI breakage"
#### Description
On 202012 branch, on a multi-asic system, show interface and show IP CLIs are not working and throwing errors.

root@sonic:/home/cisco# show interface status
Warning: failed to retrieve PORT table from ConfigDB!
Warning: failed to retrieve PORT table from ConfigDB!
Traceback (most recent call last):
  File "/usr/local/bin/intfutil", line 527, in <module>
    main()
  File "/usr/lo

[2021-03-26 03:32] nasbdh9 commented on #6068
link https://github.com/Azure/sonic-buildimage/pull/6564

[2021-03-26 06:55] anamehra opened #7161 "multi-asic: sonic-cfggen fails to get right port_config file when -n option is provided"
#### Description
On 202012, multi-asic system, when I run sonic-cfggen to genretae config_dbX.json for am asic_id X, the right port config file is not picked. sonic-cfggen calls device_info.get_path_to_port_config_file method with hwsku but no asic_id. The method returns none. Sonic-cfggen fails to get the right port_config.ini path.

        if args.port_config is None:
            args.port_conf

[2021-03-26 07:34] bingwang-ms opened #7162 "'sfputil reset' raises exception"
#### Description
An exception is raised when running ```sfputil reset```
[code]
It's because there is no key named ```x86_64-mlnx_msn4600c-r0``` in ```platform_dict```
[code]

#### Steps to reproduce the issue:
1. Run ```sudo sfputil reset Ethernet288```
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional

[2021-03-26 07:52] bingwang-ms opened #7163 "[xcvrd] xcvrd reports error 'Receive PMPE error event on module x: status 3 error type 0' on MSN4600c"
#### Description

Following errors were observed when running ```test_check_sfputil_reset``` on MSN4600c.

[code]
#### Steps to reproduce the issue:
1. Run ```test_check_sfputil_reset```
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally

[2021-03-26 14:33] maksymbelei95 commented on #7127
Investigation result.
Failures of warm reboot, when disconnecting the SSH session is caused by that the process of warm reboot is attached to the terminal session, in which it running now. The only way I found to solve the issue is to run the script in background mode with detaching from current terminal session and redirection of output to file.
I have created PR with the fix: https://github.com/

[2021-03-27 02:32] prsunny commented on #7023
can this be closed?

[2021-03-27 03:33] #7023 closed

[2021-03-28 04:09] #6951 closed

[2021-03-29 10:53] Hedgehog-Guru opened #7177 "[sflow] Failed to start with result 'start-limit-hit' (Reproduced intermittently)"
**Description**
From time to time restarting of sflow.service fails:
[code]
The issue was detected during ztp process only.
This issue is reproduced intermittently (approximately one time out of ten)

**Steps to reproduce the issue**
1.Boot sonic with ZTP enabled feature
2.Announce DHCP option 67 pointing to ztp_config.json (see at the bottom)
3.Put all necessary plugins and configuration files us

[2021-03-29 19:38] shlomibitton commented on #7140
@kcudnik I have added to the ticket the test log and full system dump with both 'synchronous_mode' enabled and disabled.
To determine when the dataplane erupted you can search on syslog for something like "system is ready for reset" and "system is ready after reset"
If you need any assistance please let me know.

[2021-03-29 20:25] robocoder99 opened #7179 "systemd segfault on switch boot"
#### Description
Systemd was observed to crash on the boot of a Mellanox MSN2100 switch running SONiC 202012. During boot it reports a segfault and from that point no further sonic services / containers are able to start.

It is worth noting that the segfault was immediately preceded by starting the `what-just-happened.timer` unit.

Here are the adjacent syslogs...
[code]

I have attached the syst

[2021-03-29 21:17] alexrallen opened #7180 "SONiC docker containers show as "Exited" after config-reload"
#### Description
Occasionally on `config reload` we have observed that the docker containers fail to properly restart and show as "Exited" when `docker ps` is run.

I have debugged this and the containers that fail to start all depend on the systemd service `interfaces-config.service` which has a start job that is hanging when this bug appears. This start job has an indefinite timeout so the entir

[2021-03-30 09:08] stepanblyschak commented on #7180
Observed the same issue and also investigated down to systemd/systemd#13124.

In my scenario the switch stuck at "systemctl try-restart systemd-timesyncd.service".
The assumption that it is related to systemd/systemd#13124 makes sense because I observe hostcfgd running at that time and executing few "systemctl daemon-reload" commands which is exactly how to reproduce the issue this change - system

[2021-03-30 10:05] mykolaxgerasymenko commented on #6935
@anshuv-mfst @lguohan  PR #7121 ([swss-common] Update submodule) was merged. So, this bug was fixed in SONiC. Therefore, as for me, we can close this issue.

[2021-03-30 10:40] kcudnik commented on #7140
in both cases i see:

[code]

which takes about 2 seconds, so those messages seems to not reflect data plane downtime, i would need some syslog indicators on which i could see when dataplane goes down, and when goes up again after this long absence, then i could investigate what else is going on

[2021-03-30 13:14] NoySa opened #7190 "[Functional] initialize without ports on config_db.json - swss (portsyncd) failure"
#### Description
try to init with 0 ports on config_db.json leads to swss docker down (portsyncd failure)

manual testing. always reproduced. no degradation.

#### Steps to reproduce the issue:
1. Remove all ports from /etc/sonic/config_db.json from the PORT section
2. make sure no ports related configuration
3. reboot

#### Describe the results you received:
swss fails (portsyncd fails)

Warning

[2021-03-30 13:16] NoySa commented on #7190
[files.zip](https://github.com/Azure/sonic-buildimage/files/6229256/files.zip)

[2021-03-30 14:23] #6935 closed

[2021-03-30 15:22] lguohan commented on #7140
@shi-su , does this match your observation?

[2021-03-30 17:17] dgsudharsan opened #7192 "DHCLIENT fails to renew lease on expiry"
#### Description
Sometimes Dhclient doesn't renew after the first boot. It happens very rare and not easily recreatable. This is a known issue reported in isc-dhclient 4.4.2 as listed in the bugs below

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=867276

https://bugs.debian.org/cgi-bin/pkgreport.cgi?archive=0;dist=unstable;ordering=normal;repeatmerged=0;src=isc-dhcp

The issue can be recover

[2021-03-30 17:20] dgsudharsan commented on #7192
@tahmed-dev @jleveque Please let me know if you need any more information

[2021-03-30 17:22] shi-su commented on #7140
The fact that 202012 has longer dataplane downtime than 201911 and some of the operations are taking longer matches my observation.

On the other hand, I am not sure if the synchronous mode makes a difference by 5 seconds. I did see that sync mode is slower, but the difference appears to be smaller. I checked the recording file in the ticket. I am not sure why there are no route entries in the rec

[2021-03-30 18:08] kcudnik commented on #7140
so how this time is measured ? based on port notification arrive ?

[2021-03-30 18:52] liat-grozovik commented on #7127
@maksymbelei95 thanks for the PR. I think the same issue will happen with the fastboot or any command that may take time and the ssh session can be closed in the middle.
May i suggest you do the same for the fastboot command as well? but let's first see it is approved for warm boot.

[2021-03-30 18:53] liat-grozovik commented on #6936
fix was integrated to both master and 202012. issue considered to be closed

[2021-03-30 18:53] #6936 closed

[2021-03-30 18:54] liat-grozovik commented on #6659
issue was fixed and is now also in 201911.

[2021-03-30 18:54] #6659 closed

[2021-03-30 20:21] maksymbelei95 commented on #7127
@liat-grozovik, ok, I will note this for myself.

[2021-03-30 20:47] kcudnik commented on #7140
What i noticed, that in results.gs in 2019 sairedis recording, there is no single route created, similar in 2012 when sync mode is off, when sync mode is on routes are actually created. Why OA didn't created routes at all ? and how dataplane then recovered to pass the test ?

[2021-03-31 00:42] tahmed-dev commented on #7192
@dgsudharsan which DHCP client was used? AFAIK, SONiC doesn't build the DHCP client, only the relay is being built.

[2021-03-31 02:05] bingwang-ms commented on #6481
```test_decap``` was consistently passing on 7260cx3. So close this issue and keep watching.

[2021-03-31 02:05] #6481 closed

[2021-03-31 05:59] Blueve commented on #6602
@119064273
swss and syncd will crash in 2 mins
The syslog shows the same log with issue: https://github.com/Azure/sonic-buildimage/issues/6459

[2021-03-31 06:02] Blueve commented on #6459
We observe same issue after syncd started 2+mins with master-616

[2021-03-31 07:10] Hedgehog-Guru commented on #7127
`@Hedgehog-Guru, could I ask you to clarify what does the next your comment means: This is degradation in comparison to the 201911 version? I have tested the issue on 201911 and the behavior is the same as on master branch.`

@maksymbelei95 , according to my analysis the issue does not exist under 201911 branch.
Perhaps it is in master, but I didn't test it. The 202012 was more important for me.
T

[2021-03-31 13:24] roysr-nv commented on #7192
dhclient version: `isc-dhclient-4.4.1`

[2021-03-31 13:55] dprital commented on #7192
@tahmed-dev  - Can you please estimate when this issue can be fixed ? from our POV it is showstopper bug.

[2021-03-31 14:33] ZQ-XPY commented on #4782
how to solve this issue?

[2021-03-31 15:06] anshuv-mfst commented on #7192
@tahmed-dev - could you please take a look, thanks.

[2021-03-31 15:12] anshuv-mfst commented on #7190
@dprital - could you please look into the issue, thanks.

[2021-03-31 15:13] anshuv-mfst commented on #7180
stepanblyschak - could you please look into this issue, thanks.

[2021-03-31 15:22] abdosi commented on #7155
Can you create PR with using libswsscommon that fixes this issue.

[2021-03-31 15:22] anshuv-mfst commented on #7179
Issue triage meeting 3/31:
- Issue not consistently reproducible
- Confirm if issue is specific to platform (robocoder99 - please confirm and recreate in different DUT as well)
- Issue seen in 202012 image
- systemd doesnot have symbols loaded unlike other daemons. Need support for loading symbols for systemd

[2021-03-31 15:23] abdosi commented on #7139
@tonytitus

[2021-03-31 15:27] abdosi commented on #7132
will having this check https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services/scripts/hostcfgd#L612 helps ?

[2021-03-31 15:31] anshuv-mfst commented on #7177
Issue triage 3/31:
1. BRCM team to help investigate (@adyeung)

[2021-03-31 15:36] anshuv-mfst commented on #7161
Issue seen only on 202012 and not seen in 201911.
@anamehra - please provide more info
1. provide complete command
2. Is the issue seen in master? please re-create with master branch

[2021-03-31 15:49] anshuv-mfst commented on #7145
Issue triage 3/31:
Arista team to debug further;

[2021-03-31 15:50] anshuv-mfst commented on #7145
@eswaranb - could you/Samuel please look into this issue, thanks.

[2021-03-31 15:53] anshuv-mfst commented on #7139
@tonytitus - could innovium team please take a look into this issue, thanks.

[2021-03-31 15:57] anshuv-mfst commented on #7134
Known limitation, to be treated as enhancement request.

[2021-03-31 16:03] anshuv-mfst commented on #7097
Issue is fixed in master and known limitation in 201911 and 202012 release ( do not plan to backport to the releases)

[2021-03-31 16:03] #7097 closed

[2021-03-31 16:08] anshuv-mfst commented on #7094
@gen-hwa could you please link the master branch issue.

[2021-03-31 16:08] anamehra commented on #7161
For a 3 asic system, here is the HWSKU directory structure:
ls /usr/share/sonic/device/platform-x/hwsku/*/
0/port_config.ini
1/port_config.ini
2/port_config.ini

command run:
**export HWSKU=/usr/share/sonic/device/platform-x/hwsku/
sonic-cfggen -n asic0 -H -k $HWSKU --preset t1**

The command doe snot pick the right port_config.ini file which should be /usr/share/sonic/device/platform-x/hwsku/0/po

[2021-03-31 16:27] tonytitus commented on #7139
Will take a look

[2021-03-31 16:37] gechiang commented on #7094
There is already an issue filed for this which we found it to be a BRCM SAI issue taht caused warm reboot pre-shutdown failure:
https://github.com/Azure/sonic-buildimage/issues/7071

[2021-03-31 17:30] anshuv-mfst commented on #7094
Closing as this is dup issue.

[2021-03-31 17:30] #7094 closed

[2021-03-31 17:46] vaibhavhd commented on #7094
Moreover, this errors are unrelated to 7071. This may also be a platform issue:

[code]

[2021-03-31 20:55] tahmed-dev commented on #7192
SONiC does not build nor support this requirement at the moment and so why this is a SONiC issue?

[2021-03-31 21:06] tahmed-dev commented on #7192
@dprital What is POV? The dhclient is not being built by SONiC and so this is new requirement and is not an issue against existing SONiC feature. The solution online states that starting the dhclient with the interface name after reboot solves the issue. Does this work in your setup?

[2021-04-01 01:01] gollarharsha opened #7206 "BGP: Confederation: Confed ID is not being advertised"
Script: test_bgp.py
Test case:
[Link to the test case](https://github.com/Azure/sonic-mgmt/blob/9847391ca206f95eb2cbfba9c5d24bda328416e5/spytest/tests/routing/BGP/test_bgp.py#L952)

I noticed that BGP Neighborship goes to active state after confederation has been configured.

**BGP States before configuration of Confederation:**

![image](https://user-images.githubusercontent.com/42480213/11238728

[2021-04-01 01:16] stephengzh opened #7207 "[test_acl] Egress ACLs are not supported "broadcom" ASICs ,why?"
**Description**

Running test_acl with egress, an skip appeared:
sonic-mgmt/tests/common/helpers/assertions.py:13: Egress ACLs are not currently supported on "broadcom" ASICs
Can I ask why egress ACLs are not currently supported on "broadcom" ASICs?

**Steps to reproduce the issue:**
1. Run acl/test_acl.py
2.
3.

**Describe the results you received:**

skip
**Describe the results you expected:**
A

[2021-04-01 06:50] wangxin opened #7210 "container_checker of monit sanity check failed"
**Description**

**Steps to reproduce the issue:**
1. Run a test with sanity check enabled.
2. Monit check failed with "container_checker": "Status failed",
3.

**Describe the results you received:**

[code]

The output of command `sudo monit status` contains below information:
[code]

The DUT is running t1-lag topology. It is not a dualtor setup.

[code]

**Describe the results you expected:**
Sa

[2021-04-01 07:30] Ezrickd commented on #7097
can you please advise on the PR in 202012 for the Fix..

[2021-04-01 20:25] vaibhavhd opened #7214 "[KVM] Warmboot reboot_pre_check failed as "Docker exec on syncd timedout""
#### Description

After adding a new check in warmboot script for checking docker exec, KVM warmboot test has started reporting exec timedout error for syncd container.
The `docker exec` to `syncd` container timedout after 1s. However docker exec test worked for all other containers
`containers="radv bgp lldp swss database teamd syncd"`

https://dev.azure.com/mssonic/build/_build/results?buildId=9

[2021-04-01 20:59] vaibhavhd commented on #7214
This failure is more frequent and the error is seen on other containers too - radv, syncd are known to timeout on exec call.

At this point the cause seems to be slow KVM device, which leads to timeouts in different containers.

[2021-04-01 22:52] anshuv-mfst commented on #6781
Hi@maksymbelei95, @liat-grozovik - Sorry, I missed the notification.
Feature will be reviewed in next YANG subgroup meeting 4/8/2021. @raphaelt-nvidia - please plan to join to drive PR review, thanks.

[2021-04-02 00:02] shi-su commented on #7214
It is a little surprising that that line takes more than a second to be done. I suspect if it runs at such a speed, it will get some other timeout even if it does not fail here.

[2021-04-02 00:19] vaibhavhd commented on #7214
I agree with you! The 1s was the more strictest timeout of all in the script. Actually these timeouts happened after these new changes https://github.com/Azure/sonic-utilities/pull/1495/files

So, below are the potential KVM failures due to the image change:
1. Docker exec test for all containers - 1s (this failure in this PR)
2. `syncd_request_shutdown` timeout - 5s
2. `remove Redis dump file fro

[2021-04-02 01:16] prsunny commented on #6652
This is fixed in latest SAI version 4.3.3.3. Please retest with latest.

[2021-04-02 01:58] prsunny opened #7216 "[dualtor] Incorrect DSCP field during decap flow"
#### Description

This is similar to #6653 but issue observed during decap. #6653 is resolved.

#### Steps to reproduce the issue:
1. Configure tunnel
[code]
2. Send encap traffic
3. Capture the decap packets

#### Describe the results you received:
Inner dscp value not modified and hence same value in decapsulated packet

#### Describe the results you expected:
Inner dscp value should be same as

[2021-04-02 02:47] dgsudharsan commented on #7132
This doesn't help as the above command returns running even before tasks like snmp are spawned(which have delayed start)
sudo systemctl is-system-running
running
root@sonic:~#

[2021-04-02 09:25] Hedgehog-Guru commented on #6606
Issue fixed and not observed in the image:
[code]

[2021-04-02 09:25] #6606 closed

[2021-04-02 15:05] #7210 closed

[2021-04-02 17:08] #6068 closed

[2021-04-02 17:55] anamehra commented on #7155
Hi @abdosi , With original code from 202012, I was getting this error:

root@sonic:/home/cisco# show int st -d all
Warning: failed to retrieve PORT table from ConfigDB!
Warning: failed to retrieve PORT table from ConfigDB!
Traceback (most recent call last):
  File "/usr/local/bin/intfutil", line 527, in <module>
    main()
  File "/usr/local/bin/intfutil", line 519, in main
    interface_stat.disp

[2021-04-02 18:24] #4793 closed

[2021-04-03 14:46] abdosi commented on #7036
Fixed.

[2021-04-03 14:46] #7036 closed

[2021-04-03 14:47] abdosi commented on #6636
@tbgowda this issue should be fixed now in both master and 201911.
Please confirm.

[2021-04-03 14:48] abdosi commented on #5395
Closing as peer is not sonic.

[2021-04-03 14:50] abdosi commented on #6164
@bingwang-ms is this issue still valid.

[2021-04-03 14:52] abdosi commented on #7155
Root cause is know.
@SuvarnaMeenakshi working on the fix.

[2021-04-03 15:30] anamehra commented on #7155
Thank you @abdosi and @SuvarnaMeenakshi

[2021-04-05 09:45] stepanblyschak commented on #7180
PR - https://github.com/Azure/sonic-buildimage/pull/7228

[2021-04-05 16:35] gechiang commented on #7216
BRCM case CS00012182143:
[4.3][IPinIP][DECAP DSCP Uniform Mode] During Decap we observed DSCP Uniform mode is not working.  Expected outer DSCP was NOT propagated to the inner DSCP value.

Filed to track this issue.

[2021-04-05 16:45] gechiang opened #7230 "TH2 BRCM Support for DualToR IPinIP SOC property "sai_tunnel_support=1" causing SYNCd error and SWSS to restart"
#### Description
Started to observe the restart problem with recent master image (SONiC-OS-HEAD.571-0b64dc30) or newer.
Prior to this (SONiC-OS-HEAD.570-a8f8385d), the same error is also observed on TH2 platform if SOC property "sai_tunnel_support=1" is introduced to support DualToR IPinIP feature in syslog  but without seeing SWSS restart.
This is a SAI issue where this DualToR IPinIP support is

[2021-04-05 18:58] gechiang commented on #7071
The latest SAI 4.3.3.4 seems to have fixed the pre-shutdown issue that was causing this WARM reboot issue.
[code]
In this new SAI I do not see the crashing issue any more caused by:
SAI_API_HOSTIF:brcm_sai_remove_hostif_trap_group:1245 trap group in use. This ultimately leads to syncd sends notification to OA

The warm reboot seems to be able to complete successfully.

@vaibhavhd Please try out th

[2021-04-05 19:33] gechiang commented on #7230
This problem has been addressed in the latest SAI that is now available on Master branch.
[code]

Resolving/Closing this issue..

[2021-04-05 19:33] #7230 closed

[2021-04-06 01:00] #6343 closed

[2021-04-06 05:14] zhenggen-xu commented on #6720
Can you verify this after https://github.com/Azure/sonic-buildimage/pull/7020 ? @slutati1536

[2021-04-06 05:15] zhenggen-xu commented on #6721
can you verify after https://github.com/Azure/sonic-buildimage/pull/7020 ? @slutati1536

[2021-04-06 05:42] gechiang commented on #7017
@theasianpianist

This is fixed in SAI 4.3.3.4 (any new master image after 571)
I validated this on a TH platform with
SONiC Software Version: SONiC.HEAD.587-01b03307

Before the fix (Using SAI4.3.3.3):
[code]

After the fix (SAI 4.3.3.4):
[code]

[2021-04-06 10:26] sandycelestica commented on #7150
This issue happens when the sonic installer extracts the installation image to the ONIE directory which was mounted on the RAM but not hard disk, which cause the remaining RAM is insufficient for the image.

[2021-04-06 16:12] vaibhavhd commented on #7071
Thanks @gechiang for the information, and verification.
I can confirm from my experiments that this error is not seen anymore with (or without) data traffic running in the bg.

[2021-04-06 16:12] #7071 closed

[2021-04-06 17:38] vaibhavhd opened #7240 "LAG flap during warmboot: "Loop callback failed with: No buffer space available""
#### Description
LAGs flap after warmboot.

#### Steps to reproduce the issue:
1. Run warmboot test test_warm_reboot with data traffic
2. The test fails since LAGs flapped soon after DUT warmreboots
3. Packet loss and disruption also reported by test (must be due to LAG flap).

#### Describe the results you received:
Below ERR messages for flapping LAG appear in teamd. In this test, two LAG flaps

[2021-04-06 17:40] gechiang commented on #7094
@chitra-raghavan The root cause to issue (https://github.com/Azure/sonic-buildimage/issues/7071) has been addressed by latest BRCM SAI in the latest master image.  Can you please try it out and see if you still observe this issue and if so, please reopen this issue so we can investigate it.
You can tell which BRCM SAI your image is using by issuing the following cmd:
[code]

If you do not see [4.3

[2021-04-06 17:44] theasianpianist commented on #7017
@gechiang thank you! @daall for awareness

[2021-04-06 18:00] gechiang commented on #6847
This issue has been fixed by latest BRCM SAI 4.3.3.4. as part of the following PR (https://github.com/Azure/sonic-buildimage/pull/7218)
Closing this issue...

[2021-04-06 18:00] #6847 closed

[2021-04-06 18:04] gechiang commented on #6171
Reassign this to @arlakshm since he is the implementor for this show cmd for multi-asic support and it is best that he answer this questions  directly without going through 3rd party (me) :)

[2021-04-06 23:29] robocoder99 commented on #7179
Was not able to reproduce on another platform. However, I do not think that indicates this is platform specific given the low frequency we see this problem at.

I managed to compile the systemd symbols and load in the core dump and do a little more debugging. It was not all that fruitful. My findings are below....

Here is the backtrace from gdb
[code]

The cause of the segfault is that the job in

[2021-04-07 01:25] #5638 closed

[2021-04-07 01:26] #6287 closed

[2021-04-07 01:29] gechiang commented on #6652
Validated with SAI 4.3.3.4
outer TTL observed no longer inheriting from the inner packet.  it starts with 255...

[2021-04-07 01:29] #6652 closed

[2021-04-07 01:29] lguohan commented on #7024
fixed by https://github.com/Azure/sonic-utilities/commit/4a0c0103c7dba820e4ab4aa2239b9a4437460b07

[2021-04-07 02:17] Blueve commented on #7133
Fix: https://github.com/Azure/sonic-linux-kernel/pull/207#

[2021-04-07 07:55] TzvikNVDA opened #7243 "[Functional ] [Telemetry ] | ERR systemd[1]: Failed to start Telemetry container"
[sonic_dump_ptr-sonic-n2-t3_20210404_134112.tar.gz](https://github.com/Azure/sonic-buildimage/files/6269893/sonic_dump_ptr-sonic-n2-t3_20210404_134112.tar.gz)
[sonic_dump_tgn-sonic-n2-t1_20210404_134107.tar.gz](https://github.com/Azure/sonic-buildimage/files/6269898/sonic_dump_tgn-sonic-n2-t1_20210404_134107.tar.gz)
[sonic_dump_ptr-sonic-n2-t3_20210404_134112.tar.gz](https://github.com/Azure/sonic

[2021-04-07 08:11] wangxin opened #7244 ""Caught exception while running thermal policy - NameError("name 'chassis' is not defined")" in syslog"
#### Description

#### Steps to reproduce the issue:
1. SONiC switch is running normally. Observed ERR message in syslog like below:
[code]
2.
3.

#### Describe the results you received:
Observed ERR message in syslog:
`Apr  7 07:43:41.055208 str-dx010-acs-4 ERR pmon#thermalctld: Caught exception while running thermal policy - NameError("name 'chassis' is not defined")`

#### Describe the results

[2021-04-07 10:32] volodymyrsamotiy opened #7248 "[build] Sporadic failures of "make configure" step during building "sonic-slave-stretch" docker image"
#### Description

From time to time build for ```201911``` branch is failing on ```make configure``` step during building ```sonic-slave-stretch``` docker image.
It fails to install ```mockredispy``` package for some reason (it looks like sometimes resource, where this package is hosted, is unavailable.

Exact step that is performed to install the package is shown below:
```RUN pip3 install mockre

[2021-04-07 17:03] jleveque commented on #7244
Bug is fixed by https://github.com/Azure/sonic-platform-daemons/pull/170. This issue will be closed with the submodule update.

[2021-04-07 18:54] theasianpianist commented on #7024
Still seeing this issue on an image with the fix included, re-opening and update the issue description

[2021-04-08 06:56] lguohan commented on #7248
looked into this issue. looks similiar to this issue. https://github.com/martinblech/xmltodict/issues/47

the correct solution is to change mockredispy to move nose froms setup_requirement to test_requirement.

the quick workaround is to install nose explicitly.

[2021-04-08 07:19] #7244 closed

[2021-04-08 10:35] JibinBao opened #7261 "Static route is incorrect when max PortChannels are configured and removed"
#### Description

Firstly create max number of PortChannels depending on system type and remove them. Secondly create one PortChannel, and  add static route with this PortChannel. After that we can find the static route info is not correct, namely the PortChannel is not the specified PortChannel.

#### Steps to reproduce the issue:
1.  Create max number of PortChannels:
      sudo config portchann

[2021-04-08 17:15] #7162 closed

[2021-04-08 19:45] ncalad opened #7268 "Build Error on Ubuntu 20.04: Server does not implement system.SystemServer (missing system.mustEmbedUnimplementedSystemServer method)"
Server does not implement system.SystemServer (missing system.mustEmbedUnimplementedSystemServer method)

#### Steps to reproduce the issue:
1. git clone https://github.com/Azure/sonic-buildimage.git
2. make init
3. make configure PLATFORM=broadcom
4. make all

#### Describe the results you received:
...
patch -d vendor -p0 < patches/gnmi_get.patch
patching file ./github.com/jipanyang/gnxi/gnmi_ge

[2021-04-08 20:04] prsunny commented on #6841
This is resolved in SAI 4.3.3.4. Verified for both IPv4 and IPv6 traffic.

[2021-04-08 20:23] prsunny commented on #6548
Closing this. Verified on 4.3.3.4 with arp request packets

[2021-04-08 20:25] prsunny commented on #6796
With the latest modification of orchagent for initialization, this is no longer seen. Will close this for now and can re-open if issue is seen again.

[2021-04-08 20:25] #6796 closed

[2021-04-08 20:36] prsunny commented on #6571
This is tested with SONiC.HEAD.599-46a7fac1 and swss restart is working as expected.

[2021-04-08 20:36] #6571 closed

[2021-04-08 21:04] AntonHryshchuk opened #7270 "ERR pmon#syseepromd: Failed to remove cache file"
#### Description

test ARP_CoPP_with_reboot passed with error in the log.
(internal test, the flow of it described)

#### Steps to reproduce the issue:
reproduced by internal CoPP ARP test.
test flow:
1. copy copp config file  cp /etc/sonic/copp_cfg.json /tmp/copp_cfg.json
2. set user value of **cir** in **queue4_group2** (500 insted 600)
3. send ARP rate traffic to validate CoPP functionality
4.

[2021-04-09 03:29] pettershao-ragilenetworks commented on #5396
@jeffi-yin help share the commit id, thanks!

[2021-04-09 03:30] #5395 closed

[2021-04-09 03:40] #5343 closed

[2021-04-09 03:45] #5292 closed

[2021-04-09 03:47] #4879 closed

[2021-04-09 05:35] tim-rj commented on #4717
any one help forward this, thanks!

[2021-04-09 05:40] #3023 closed

[2021-04-09 06:37] gord1306 commented on #7268
please refer https://github.com/Azure/sonic-telemetry/pull/76

[2021-04-09 07:09] #7268 closed

[2021-04-09 07:59] Blueve opened #7276 "[HLX] Regression: syncd crash"
#### Description

Syncd crashed due to SAI issue.
Relating SAI issue was ignored previously, a recent change(https://github.com/Azure/sonic-swss/pull/1665) regarding SAI error handling caused this regression.

#### Steps to reproduce the issue:
1. Include all changes for fixing recent HLX platform issue
2. Build image and install
3. Check syncd status and log

#### Describe the results you receive

[2021-04-09 17:50] gechiang commented on #7276
The following case was filed to track this issue with BRCM:
BRCM Case CS00012183303 [4.3] SAI_API_NEIGHBOR:_brcm_sai_nbr_bcast_ip_create:3537 egress create failed with error Invalid configuration (0xfffffff1)

[2021-04-09 23:58] #7248 closed

[2021-04-10 01:40] jleveque opened #7282 "Move pcie-check service into sonic-host-services/sonic-host-services-data packages"
Move pcie-check service into sonic-host-services/sonic-host-services-data packages

[2021-04-10 01:40] jleveque opened #7283 "Move system-health daemon into sonic-host-services/sonic-host-services-data packages"
Move system-health daemon into sonic-host-services/sonic-host-services-data packages

[2021-04-11 14:36] TzvikNVDA commented on #7243
the issues caused by "status": "disabled" in the FEATURE section in config

      "telemetry": {

            "has_per_asic_scope": "False",

            "high_mem_alert": "disabled",

            "auto_restart": "enabled",

            "state": "enabled",

            "has_global_scope": "True",

            "has_timer": "True",

            "state": "enabled",

            **"status": "disabled"

[2021-04-12 17:48] #6267 closed

[2021-04-13 11:25] TETA-Net commented on #6167
This problem was persist via new version.
sonic version : SONiC.master.629-01b03307
build date : 5 Apr 2021
Platform: x86_64-ingrasys_s9100-r0

BRCM SAI ver : 4.3.3.4 OCP SAI ver 1.7.1 and SDK ver sdk-6.5.21

[2021-04-13 14:19] lolyu commented on #6530
Still hit this issue with image latest master image: `SONiC.HEAD.619-32b5b027`

[2021-04-13 15:46] maksymbelei95 commented on #7261
Working on the issue

[2021-04-13 17:13] kcudnik commented on #7140
My suspect here is part of OA or vendor sai execution apis (including switch create), based on virtual switch on amd64 arch, sairedis/syncd pipeline is able to push 13k routes per second ins sync mode (end to end) on top of that there will be added processing time on vendorsai as well as quickly OA will be able to push data to sairedis library. I can push performance timers on syncd per each api t

[2021-04-13 17:21] vaibhavhd opened #7310 "MGMT interface flap: "kernel eth0: igb: eth0 NIC Link is Down""
#### Description

MGMT interface `eth0` flaps abruptly. Netlink and kernel messages in syslog confirm that the interface went down, and came back up.

`eth0: igb: eth0 NIC Link is Down`

This issue was seen while running `test_vlan`.
However, the testcase does not perform this action, and this issue further led to loss of connectivity to the DUT, and the test failed.

#### Steps to reproduce the i

[2021-04-13 19:30] shall1024 opened #7311 "Dynamic Port Breakout throwing error"
#### Description

Dynamic Port Breakout feature is not working with SONiC version SONiC.master.125-dirty-20210216.022428
I attempted to follow the instructions found [here](https://support.edge-core.com/hc/en-us/articles/900002721283--Edgecore-SONiC-Dynamic-Port-Breakout#h_01F20EJ5QNRQHSJYRT5JDT9HH2).

#### Steps to reproduce the issue:
1.  Run the following command:
`sudo config interface breakou

[2021-04-13 19:45] prsunny commented on #7140
@mlnx, one observation with 201911 image is, that the create switch is taking 9 sec vs ~18sec in 202012. Would you please help us understand why such a big delay in create switch?

Logs from 201911:
[code]

[2021-04-13 20:35] zzhiyuan commented on #7145
@chrispsommers

Thank you for raising this issue. It is indeed just a testing issue. Arista will fix it in our repo, then update sonic-buildimage with the fix at a later date.

[2021-04-13 21:07] chrispsommers commented on #7145
Thank  you!

[2021-04-14 00:17] vaibhavhd commented on #7240
Latest on this:
The test_warm_reboot fails with LAG flap, as one of the LAG members flapped. But, in reality, MANY other interfaces (non LAG members too) flapped. It is being analyzed if this is a SAI issue.

Other interfaces flapping:
[code]

[2021-04-14 00:29] praveen-li commented on #6630
@Hedgehog-Guru : Kindly add support for Portchannel at
https://github.com/Azure/sonic-buildimage/blob/75c29cbbb995cc9f0b146c72a1fb2426cf3c9814/src/sonic-yang-models/yang-models/sonic-vlan.yang#L165

similar to
https://github.com/Azure/sonic-buildimage/blob/75c29cbbb995cc9f0b146c72a1fb2426cf3c9814/src/sonic-yang-models/yang-models/sonic-acl.yang#L263

which will fix the issue.

I think, this is YAN

[2021-04-14 02:00] daall commented on #7310
waiting to see if this is reproducible or a one-off mgmt fabric link flap

[2021-04-14 02:11] dgsudharsan opened #7317 "ERR swss#orchagent: :- removeLag: Failed to remove ref count 1 LAG PortChannel0001 is seen during config reload"
#### Description
When config reload is given with PortChannel part of a VLAN, below logs are seen in syslog
Apr 14 01:24:14.912865 r-tigon-15 ERR swss#orchagent: :- removeLag: Failed to remove LAG PortChannel0002, it is still in VLAN

This is due to the fact that teammgrd and teamsyncd perform cleanups during config reload while other modules like VLAN don't leading to the check hit in orchagent.

[2021-04-14 06:19] gechiang commented on #7240
This issue is reproducible on other S6100 DUT as well.
If no traffic, most of the time the  warm reboot is successful without any port flap.  But with traffic, we see port flap on every warm reboot attempt.

Have collected the necessary information and opened the case against BRCM for this issue:
CS00012183901: [4.3][WARMBOOT] WARMReboot with active traffic causes port flap reported during warm re

[2021-04-14 13:09] maksymbelei95 commented on #7261
The issue will be fixed in scope of PR https://github.com/Azure/sonic-utilities/pull/1534 by checking whether the interface for nexthop parameter is present in the system or not before creation of the static route.

[2021-04-14 15:05] maksymbelei95 commented on #7134
Working on the issue.

[2021-04-14 15:10] anshuv-mfst commented on #7317
@judyjoseph - could you please take a look, thanks.

[2021-04-14 15:19] anshuv-mfst commented on #7270
Hi @AntonHryshchuk - Could you please provide manual steps to reproduce the issue?
Is the issue seen on all platforms?

[2021-04-14 15:21] anshuv-mfst commented on #7261
FYI - @d-dashkov, please include this issue in your fix/add this Issue to PR#1534.

[2021-04-14 15:43] Russell123987 opened #7324 "branch 201911 docker-config-engine build fail"
**Description**
branch for 201911

**Steps to reproduce the issue**
make target/sonic-innovium.bin

**Describe the results you received**
WARNING: No swap limit support
[ FAIL LOG START ] [ target/docker-config-engine.gz ]
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 98
Server Version: 18.09.5
Storage Driver: vfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local

[2021-04-14 20:34] vaibhavhd commented on #7240
More information about the scope of this issue:

Tested warmboot with data traffic, and:
ISSUE NOT SEEN on:
KVM (latest master image for KVM `SONiC.HEAD.0-32b5b027`).
Mellanox device (tested on 2700, image 609).
201911 image (tested on 6100).

[2021-04-14 21:40] macikgozwa commented on #7243
Hi @TzvikNVDA,

I see the following error message in the provided logs. telemetry service rejects the `null` value for the `-v` argument and exits.
[code]

This verbosity value come from the config db, which is processed by this [start script](https://github.com/Azure/sonic-buildimage/blob/e5c2937faec615367a04075ab1a4dc7aeeee1be2/dockers/docker-sonic-telemetry/telemetry.sh)

Do you see the verbosi

[2021-04-15 02:47] yozhao101 commented on #7024
@jleveque I talked with @theasianpianist and checked this issue. The root reason is that the image on device `str2-7050cx3-acs-10` did not include the PR https://github.com/Azure/sonic-utilities/pull/1543 which was used to fix this issue.

    admin@str2-7050cx3-acs-10:~$ show ver
    SONiC Software Version: SONiC.20201231.beta.17
    Distribution: Debian 10.9
    Kernel: 4.19.0-12-2-amd64
    Bui

[2021-04-15 14:41] OleksandrKozodoi opened #7339 "swss container is crashed after config load"
#### Description
swss container is crashed after running of CLI command `config load -y /etc/sonic/config_db.json`
##### Note
The issue started to reproduce from SONIC.163. - [**Link**](https://sonic-jenkins.westus2.cloudapp.azure.com/job/barefoot/job/buildimage-bf-all/163/)

#### Steps to reproduce the issue:
1. Install SONiC.master.163
2. Deploy t0 topology
3.  Run CLI command:
[code]

#### Desc

[2021-04-15 15:45] maksymbelei95 commented on #7134
@prsunny, @dgsudharsan I have prepared draft PR with row code, which represents idea of the fix I would like to propose: https://github.com/Azure/sonic-swss/pull/1709

Could I ask you  to check that I goes in a wright direction? Maybe, there will be some suggestions regarding implementation of the functionality.

The idea of the fix is the next.
During update of mtu for the vlan, we will read the

[2021-04-15 22:36] anshuv-mfst commented on #6781
Hi @prsunny - could you please take look, thanks.

[2021-04-16 06:39] xumia opened #7348 "Multiple builds failed with -lpython3.5m not found"
#### Description
Multiple official builds (at least 202012/master) failed, the error messages as below:

[code]
Failure build examples:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/innovium/job/buildimage-invm-202012/59/console

https://dev.azure.com/mssonic/build/_build/results?buildId=10986&view=logs&j=268525a4-f0a8-5106-2898-2602f02ebdb0&t=59457689-49a2-5da2-bad6-5355ff2da0c7

https://d

[2021-04-16 07:52] stepanblyschak opened #7349 "Build is failing when using multiple jobs"
#### Description

Recently we found out that the build is not stable when using parallel build. Observed on recent 202012 5bdbfcfb2647cf1db59401e82807c748838ffee4.

#### Steps to reproduce the issue:
1. make init
2. make configure PLATFORM=mellanox
3. make SONIC_BUILD_JOBS=12 target/sonic-mellanox.bin

#### Describe the results you received:

[code]

#### Describe the results you expected:

Build

[2021-04-16 14:42] maxiestudies commented on #7243
I'm having the same problem, the telemetry container is not started at startup. I was able though to restart the container manually.
The telemetry service is enabled:
[code]

The problem seems to be in the monit config file. From journalctl:

[code]
Also starting the monit process manually gives the same error:
[code]
From what I can see the config file syntax is correct though

Plattform informat

[2021-04-16 18:31] #7145 closed

[2021-04-16 18:41] yozhao101 commented on #7243
@maxiestudies Thanks for your input. Monit is just a monitoring tool which was used to monitor the running status of critical processes and resource usage in SONiC. Monit is not related to the running status of telemetry container. From the logs you provided, I think there is a syntax error in Monit configuration file and will check why this error occurred.

[2021-04-16 19:14] bluecmd opened #7354 "Build fails with "chroot ./fsroot docker info""
#### Description

I am trying to build SONiC master (commit 75c29cbbb995cc9f0b146c72a1fb2426cf3c9814).

#### Steps to reproduce the issue:
1. git checkout master
2. make init
3. make configure PLATFORM=broadcom
4. make all

NOTE: I have also set `SONIC_CONFIG_USE_NATIVE_DOCKERD_FOR_BUILD` but I seem to be getting the same result even without.

#### Describe the results you received:

Output of tar

[2021-04-19 06:32] xumia opened #7363 "Support to restrict the version of debian package installed by apt"
#### Description
Currently, we only support to restrict the version of the debian package installed by apt-get, see https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-build-hooks/hooks/apt-get.
We should add a new hook command for apt.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show ve

[2021-04-19 08:04] stepanblyschak opened #7364 "Interface MAC is overwritten"
[sonic_dump_arc-switch1025_20210419_080448.tar.gz](https://github.com/Azure/sonic-buildimage/files/6334381/sonic_dump_arc-switch1025_20210419_080448.tar.gz)

#### Description

Interface MAC is overwriten by systemd udev-rules, specifically /usr/lib/systemd/network/99-default.link:

[code]

#### Steps to reproduce the issue:
1. Run this script in teamd container (autorestart of teamd container is d

[2021-04-19 08:55] fire-ant opened #7365 "removing an ip from interface with multiple, SONiC Cli removes all ips from interface"
#### Description

When running the docker-sonic-vs docker image taken from https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-all/lastSuccessfulBuild/artifact/target/docker-sonic-vs.gz in a docker I noticed that when an interface is given multiple IP's it is possible to remove the high addressed ip by removing the lower address ip. Whilst this is an unexpected and unlikely e

[2021-04-19 13:04] bluecmd commented on #7354
I have tested with running the same things on another machine, running Ubuntu 20.10, and it seems to work with default build settings.

[2021-04-19 14:11] Hedgehog-Guru opened #7367 "[LAG] | After interface shutdown/startup it goes to the LAG Deselected state"
**Description**
After interface shutdown/startup it goes to the LAG Deselected state

**Steps to reproduce the issue**
1) Configure DUT & AUX:
[code]
2)  On DUT do next commands one by one:
[code]
**Describe the results you received**
After Ethernet interfaces go to UP state, on of them or two left in deselected state:
[code]
**Describe the results you expected**
Interfaces should be in Selected s

[2021-04-19 16:55] anshuv-mfst commented on #7161
Hi @SuvarnaMeenakshi could you please provide input, thanks.

[2021-04-19 17:22] SuvarnaMeenakshi commented on #7161
I will raise a PR to fix sonic-cfggen to take namespace parameter.
A PR for swsscommon which was required is merged in: https://github.com/Azure/sonic-swss-common/pull/470
Will update with sonic-cfggen fix PR here.

[2021-04-19 20:30] vaibhavhd opened #7371 "[port_config] Duplicate lanes for two ports in Arista-7050CX3-32S-C32/port_config.ini"
#### Description

Lane 128 is assigned to two different ports (`Ethernet124` and `Ethernet132`) in port_config.ini file for `Arista-7050CX3-32S-C32`.

This was last informed in https://github.com/Azure/sonic-buildimage/issues/6569#issuecomment-770139291, and it was decided that this needs to be fixed.

There is no known testcase impact because of this. But, I think this still needs to be corrected

[2021-04-19 20:58] bluecmd opened #7372 "Docker startup broken in master for aboot due to systemd upgrade"
#### Description

Using [current image](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/641/artifact/) I am trying to boot it on my Arista 7050 QX32. Image calls itself `image-master.641-782b02d9`.

**NOTE: This worked fine using the latest image from April 17 (`image-master.640-f8d38aee`).**

I receive the following on boot: `[FAILED] Failed to start Docker A

[2021-04-19 20:59] bluecmd commented on #7372
For reference, here is the `journalctl -u docker` from a working 635 build:

[code]

[2021-04-19 21:18] bluecmd commented on #7372
I bisected this to working with Build 640. Looking at the [diff](https://github.com/Azure/sonic-buildimage/compare/7df4c0ad...782b02d9) between the original 635 and 641 I suspected the [systemd upgrade](https://github.com/Azure/sonic-buildimage/commit/436936189473abaa2ab8ae9b1df1c5a37a46bbaf) suggesting me to try the 640 image which seems to work.

[2021-04-19 21:49] bluecmd commented on #7372
I tested building my own master with a revert of https://github.com/bluecmd/sonic-buildimage/commit/436936189473abaa2ab8ae9b1df1c5a37a46bbaf and that seems to work.

[2021-04-19 23:13] lguohan commented on #7372
do you have this one? systemd.unified_cgroup_hierarchy=0  in the /proc/cmdline after the system boots? this one is required.

[2021-04-19 23:19] lguohan commented on #7372
we missed aboot changes in this commit 63885ca96

[2021-04-20 00:28] lguohan commented on #7372
@Staphylo , we need this in the aboot.j2

[2021-04-20 00:39] Staphylo commented on #7372
@lguohan, I'll make a PR right away

[2021-04-20 00:52] Staphylo commented on #7372
@bluecmd, you can temporarily work around this issue by running the following command on your switch.
`echo systemd.unified_cgroup_hierarchy=0 > /host/kernel-params`

[2021-04-20 04:39] vivekreddynv commented on #7177
Start Limit failing is an Expected behavior for Sflow

[sflow systemd unit](https://github.com/Azure/sonic-buildimage/blob/master/files/build_templates/sflow.service.j2#L8)

StartLimitIntervalSec = 1200 and StartLimitBurst=3 which means it'll allow 3 attempts of starting the service within the last 1200 sec. This is obviously crossed in the logs attached.

[code]

This can be manually observed as

[2021-04-20 04:50] vivekreddynv commented on #5378
config reload failed again recently when the ZTP tries to apply configdb-json plugin. Not because of Sflow though.

[sonic_dump_DUT-1_20210419_130556.tar.gz](https://github.com/Azure/sonic-buildimage/files/6340654/sonic_dump_DUT-1_20210419_130556.tar.gz)

[code]

[2021-04-20 06:43] chitra-raghavan commented on #6875
@gechiang , CSP#CS00012047260

[2021-04-20 09:05] #7150 closed

[2021-04-20 15:57] shlomibitton commented on #7140
Adding some more logs based on
**SAI 1.18.3
SDK 4.4.2522
FW *.2008.2520**

**ACS-MSN2700 - 201911**
[fast-reboot.log](https://github.com/Azure/sonic-buildimage/files/6344878/fast-reboot.log)
[syslog.log](https://github.com/Azure/sonic-buildimage/files/6344888/syslog.log)
[sairedis.log](https://github.com/Azure/sonic-buildimage/files/6344906/sairedis.log)

**ACS-MSN4600C - 201911**
[fast-reboot.log

[2021-04-20 16:09] kcudnik commented on #7140
can you describe which one is sync/async mode ?

[2021-04-20 16:38] shlomibitton commented on #7140
They are all with sync mode enabled.

[2021-04-20 17:29] #4934 closed

[2021-04-20 19:12] lguohan commented on #7371
i recall there was a similiar issue and that has been fixed? is this a regression?

[2021-04-20 19:49] vaibhavhd commented on #7371
This is not a regression. Actually, I don't know if this has caused any testcase failure per se.

However, you are right - this was identified before, and I informed @Staphylo about this.
I found out that the lanes were still not updated, and thus I raised this issue again here now for better visibility, and completion.

[2021-04-20 19:57] vaibhavhd commented on #7371
May be what you recall is incorrect speeds that were assigned for this HWSKU in the port_Config.ini file. That issue was fixed. But the duplicate lanes remained in the port_Config.ini file.

[2021-04-20 20:04] dflynn-Nokia commented on #7348
It seems that updating the sonic-sairedis submodule to bring in PR# 820 ([https://github.com/Azure/sonic-sairedis/pull/820](url)) will fix this build break. This update has already been completed on the 202012 branch

[2021-04-20 21:55] #7372 closed

[2021-04-20 22:55] lguohan commented on #7364
can you update the details here? is this related to systemd 247 upgrade?

[2021-04-21 02:06] prsunny opened #7389 "[Drop Counter] ACL drop to be subtracted from RX_DRP"
#### Description

ACL drops are currently counted as RX_DROPS. This might create a false-alarm as the drops are legit drops. Need a design/implementation to subtract the ACL drops from SAI_PORT_STAT_IF_IN_DISCARDS

For e.g, the 10 packets shown as RX_DRP are ACL drops.

[code]

PORT_INGRESS_DROPS, Reason ACL_ANY

[code]

#### Steps to reproduce the issue:
1. On dual-tor testbed, send packet to sta

[2021-04-21 07:56] stepanblyschak commented on #7180
Relevant for 202012 as systemd 247 was reverted.

[2021-04-21 08:58] stepanblyschak commented on #7364
99-default.link - was always in SONiC, but systemd had an issue and it did not work - https://github.com/systemd/systemd/issues/3374.
Now systemd 247 works.

[2021-04-21 17:20] Staphylo commented on #7371
@vaibhavhd, sorry, that item slipped from my todo-list. I'll have a look at this today.

[2021-04-21 18:41] prsunny commented on #7365
This is an unlikely use-case. Orchagent doesn't support overlapping of IP address ([overlap check](https://github.com/Azure/sonic-swss/blob/master/orchagent/intfsorch.cpp#L473)). Currently a limitation.

[2021-04-21 22:31] venkatmahalingam commented on #6943
The HLD has merged already, @jhujhiti hope you got a chance to verify this issue, please confirm.

[2021-04-22 00:50] #7364 closed

[2021-04-22 02:07] bingwang-ms commented on #6446
Same issue is observed on 202012.
[code]
It seems caused by missing ```python3```.

[2021-04-22 04:21] prsunny commented on #6781
@anshuv-mfst, i think this would be fixed by #7265

[2021-04-22 08:43] #6330 closed

[2021-04-22 12:47] slutati1536 opened #7402 "[DPB] config_db.json "BREAKOUT_CFG" update when upgrading"
#### Description

when doing upgrade from image without DPB to image with DPB,
the config_db.json file is not updated with "BREAKOUT_CFG" section.

when testing the upgrade scenario by:

1. installing 201911 vie onie
2. apply config_db.json file without BREAKOUT_CFG
3. upgraded to an image with DPB feature support with sonic-installer
4. the config_db.json was not updated with BREAKOUT_CFG, so the

[2021-04-22 17:29] nazariig opened #7403 "[DPB][VS][master]: SONiC fails to remove HOST IF"
#### Description

Port breakout doesn't work on VS platform

#### Steps to reproduce the issue:
1. Setup VS testbed

* Build image
[code]

* Configure KVM
https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/README.vsvm.md

2. Compose `platform.json`:
[code]

3. Compose `hwsku.json`:
[code]

4. Update `config_db.json`:
[code]

5. Reload configuration:
[code]

6. Run port breakout
[cod

[2021-04-22 22:10] jhujhiti commented on #6943
Oh -- yes the template change works. I'd already applied that when I opened the issue.

I see that the HLD is on master, but https://github.com/Azure/SONiC/wiki/Sonic-Roadmap-Planning still links to an outdated version of the HLD.

[2021-04-22 22:38] venkatmahalingam commented on #6943
Sure, we will fix to point to https://github.com/Azure/SONiC/blob/master/doc/mgmt/SONiC_Design_Doc_Unified_FRR_Mgmt_Interface.md instead of a specific commit.

[2021-04-23 15:07] dflynn-Nokia commented on #7348
After looking at this further it seems that the libsairedis debian build for buster is linking with -lpython3.5m instead of -lpython3.7m. I believe stretch uses python3.5 whereas buster uses python3.7. We are seeing the same error in the 202012  azure pipeline build for marvell-armhf.

[2021-04-24 23:39] qiluo-msft commented on #5928
@prsunny https://github.com/Azure/sonic-utilities/pull/1368 is a workaround after this issue happens. Need a root fix still.

[2021-04-25 02:51] liushilongbuaa opened #7420 "Invalid file name in windows, having ':' charactor."
#### Description

#### Steps to reproduce the issue:
1. run 'git pull' in windows on the branch which tracking master branch.
2.
3.

#### Describe the results you received:
error: invalid path 'src/sonic-host-services/tests/hostcfgd/sample_output/RADIUS/10.1
0.10.1:1645.conf'

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

[2021-04-25 07:34] #4019 closed

[2021-04-25 14:42] ncalad opened #7424 "SONiC won't build on Debian 10 buster: /bin/sh -c apt-get update needs quotes around arguments"
#### Description

#### Steps to reproduce the issue:
1. clean checkout from git
2. make init
2. make configure PLATFORM=broadcom
3. make all

#### Describe the results you received:
The command '/bin/sh -c apt-get update &&            apt-get -y install               curl                         less                         perl                         procps                       python3

[2021-04-25 19:03] lguohan commented on #7424
from daily build here, it looks fine. https://dev.azure.com/mssonic/build/_build?definitionId=138

[2021-04-26 03:35] vaibhavhd commented on #7371
Notes from discussion over mail:
The shared lanes between two ports is a valid configuration. In this hwsku there are no restrictions with sharing a physical lane id:
[code]
Closing this issue now.

[2021-04-26 03:35] #7371 closed

[2021-04-26 06:33] b00418677 commented on #4089
Was this problem solved, and I had the same problem(201911)

[2021-04-26 06:36] baipingping commented on #4576
Was this problem solved, and I had the same problem(201911)

[2021-04-26 09:34] Grim-lock opened #7430 "wrong index in lldp-state-interactions"
#### Description
https://github.com/Azure/SONiC/wiki/Architecture#lldp-state-interactions

the step index should be 0,1,2,3,4, not 1,2,3,4,5

[2021-04-26 14:34] slutati1536 opened #7433 "command sudo config reload --load-sysinfo/-l fails"
#### Description

command " sudo config reload" has the option to load system default information,
but when running the command with this option the following trackback is printed and the switch is stuck afterward.

[code]

#### Steps to reproduce the issue:
1. sudo config reload -l

#### Describe the results you received:
traceback prints in the command output
[code]

there is no option to pass t

[2021-04-26 17:03] vganesan-nokia opened #7434 "VOQ Chassis with port type inband interface in KVM test bed does not establish iBGP connections"
#### Description
In KVM based test beds as decscribed in PR https://github.com/Azure/sonic-mgmt/pull/3218 , in voq chassis with port type inband interface, iBGP sessions are not established

#### Steps to reproduce the issue:

1. Bring KVM t2 topology up with VOQ chassis configurations using configurations process as mentioned in PR https://github.com/Azure/sonic-mgmt/pull/3218

#### Describe the

[2021-04-26 18:28] bluecmd commented on #7354
I will run the build using Ubuntu 20.10 for now

[2021-04-26 18:28] #7354 closed

[2021-04-26 19:06] dgsudharsan commented on #7317
@judyjoseph @anshuv-mfst Is there any update on this?

[2021-04-26 22:31] baxia-lan commented on #7152
Similar to the python packages mentioned in the example, some debian packages installation are also not "reproducible" (eg. [python3-pip](https://github.com/Azure/sonic-buildimage/blob/cd2c86eab65a37f9030277bf3f39cbb43a657ef5/sonic-slave-buster/Dockerfile.j2#L400)) installed during building but uninstalled later are not captured in versions-deb-* files. So their versions are not verified when vers

[2021-04-27 07:06] Hedgehog-Guru opened #7444 "[sflow] | sflow restart required to update interface sampling rate"
#### Description

sflow disable/enable required to update sampling rate when interface speed changes

#### Steps to reproduce the issue:

[code]

#### Describe the results you received:

sflow restart required to update sampling rate when interface speed changes

#### Describe the results you expected:

sflow sampling rate updated without service restart

#### Output of `show version`:

[code]

##

[2021-04-27 07:22] Hedgehog-Guru opened #7445 "[sflow] | SysUptime in exported sflow packets is resetted after disabling sflow"
#### Description

SysUptime in exported sflow packets is resetted after sflow service was restarted

#### Steps to reproduce the issue:
1. Enable sflow and add some reachable collector
[code]
2. Check SysUptime field in exported packets
3. Disable and again enable sflow
[code]
4. Check SysUptime in exported packets again

#### Describe the results you received:

SysUptime field is resetted after s

[2021-04-27 12:24] bingwang-ms commented on #7124
Update: Following errors were seen after stop ```teamd``` service
[code]

[2021-04-27 16:15] judyjoseph commented on #7317
@dgsudharsan will check on this today to see if if I can repro and will update.

[2021-04-27 17:18] zhenggen-xu opened #7449 "[201911/201811] Build failure"
#### Description

#### Steps to reproduce the issue:

#### Describe the results you received:
Upstream build failure:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-201911/190/console

[code]

This should be applicable to 201811 branch too.

#### Describe the results you expected:
Build should be successful.

[2021-04-27 21:18] vganesan-nokia opened #7451 "Traffic forwarding faliure in voq chassis after config reload"
#### Description

In VOQ chassis systems, traffic forwarding across different asics is disrupted permanently after config reload. All required routes and and neighbors are present in kernel.

#### Steps to reproduce the issue:

1. Configure two eBGP neighbors Nbr1 and Nbr2 in ports from two different asics in different line cards.
2. Redistribute routes of two destination networks Nw1 in Nbr1 and

[2021-04-27 23:42] ncalad commented on #7424
I have been trying unsuccessfully to build SONiC for a couple of weeks now. I started with ubuntu and ran into python version issues there, that's why I switched to Debian.

Today, I set up a fresh Debian 10 (buster) instance on Amazon EC2. After installing docker and installing the prerequisites, python, pip, jinja2 and j2cli and adding the user to the docker group, I can now run make configure P

[2021-04-28 01:31] daall commented on #7124
@judyjoseph could you take a look?

[2021-04-28 01:59] daall commented on #7214
KVM-specific issue, fixed in the test cases: https://github.com/Azure/sonic-mgmt/pull/3266

[2021-04-28 01:59] #7214 closed

[2021-04-28 02:02] #6726 closed

[2021-04-28 02:19] 119064273 commented on #6459
hi @yxieca , show techsupport as below

when I check on below image, it merged https://github.com/Azure/sonic-buildimage/pull/7224,
show version
=================================================
admin@localhost:~$ show version

SONiC Software Version: SONiC.202012.85-e6bbb3c3
Distribution: Debian 10.9
Kernel: 4.19.0-12-2-amd64
Build commit: e6bbb3c3
Build date: Fri Apr 23 06:07:36 UTC 2021
Built b

[2021-04-28 02:33] theasianpianist commented on #6823
It looks like the root cause of this is `ndppd` loading IPv6 routes every 30 seconds: https://github.com/DanielAdolfsson/ndppd/blob/b8b2d401b9a83dae45776bb9fa95b1a5fe417d01/src/route.cc#L129

Because of all the routes announced by the T1s, the `/proc/net/ipv6_route` file is about 24k lines long. In `top`, `ndppd` CPU usage can be seen spiking every 30s (lasting for 7-8 seconds) which also correspo

[2021-04-28 03:04] theasianpianist commented on #6823
After further investigation, the undocumented `route-ttl` configuration option can be used to change how frequently kernel IPv6 routes are read. Since this value is stored internally as a [signed integer](https://github.com/DanielAdolfsson/ndppd/blob/b8b2d401b9a83dae45776bb9fa95b1a5fe417d01/src/route.cc#L27), we can delay the CPU spikes to once every 2147483647ms (about 24 days) at most.

[2021-04-28 03:10] 119064273 commented on #6459
May 24 14:26:22.428690 localhost NOTICE swss#orchagent: :- doAppSwitchTableTask::
 Set switch attribute lag_hash_seed to 0
May 24 14:26:22.496672 localhost NOTICE syncd#syncd: :- collectPortRelatedObjectt
s: obtained 34 port oid:0x100000031 related RIDs
May 24 14:26:22.496672 localhost ERR syncd#syncd: :- sendApiResponse: api SAI_COO
MMON_API_REMOVE failed in syncd mode: SAI_STATUS_NOT_SUPPORTED
M

[2021-04-28 05:50] 119064273 commented on #6459
double confirm,  below pr fix it, when change new sonic image , need new config_db.json
[202012][e1031] add GbE and higig port to E1031 port_config.ini #7224

[2021-04-28 05:50] #6459 closed

[2021-04-28 06:21] bingwang-ms commented on #7124
The issue can repro consistently repro if we stop teamd service by ```systemctl stop teamd```.

[2021-04-28 06:34] zhenggen-xu commented on #7311
This issue should be fixed by https://github.com/Azure/sonic-buildimage/pull/7121/ , please try the code later than this commit.

[2021-04-28 06:40] zhenggen-xu commented on #7433
Can you share the configdb.json? do you have below in it?
[code]

[2021-04-28 07:00] #6389 closed

[2021-04-28 12:13] aledwmorris commented on #6820
I still don't have a working system.  Downloaded latest build:

Problem seems to be still in the pmon container:

(this is looped over and over and the container is dead)

I'm grateful for any help you can extend.

[2021-04-28 12:55] nazariig opened #7462 "SONiC Policy Based Hashing PR Tracker"
**SONiC Policy Based Hashing PR Tracker Table:**

Title                    | PR                                                  | Category    | Dependencies | Reviewers | Status | Comment |
:----------------------- | :-------------------------------------------------- | :---------- | :----------- | :-------: | :----: | :------ |
Policy Based Hashing HLD | https://github.com/Azure/SONiC/pull/773

[2021-04-28 13:18] #7424 closed

[2021-04-28 13:29] ncalad opened #7463 "SONiC won't build on a fresh Debian 10 - No such file or directory: '/proc/modules'"
#### Description

I set up a fresh Debian 10 (buster) instance on Amazon EC2. After installing docker and installing the prerequisites, python, pip, jinja2 and j2cli and adding the user to the docker group, I encounter an error when running make all.

#### Steps to reproduce the issue:
1. Stand up a fresh Debian 10 instance (in my case on EC2)
2. sudo modprobe overlay
3. Install docker
4. Add user

[2021-04-28 13:59] caizhenghui-juniper commented on #7449
likely need python 3.6.2 and above.

[2021-04-28 14:25] dflynn-Nokia opened #7465 "[202012] Build failure: marvell-armhf"
#### Description

     The Azure.sonic-buildimage.official.marvell-armhf pipeline builds are failing with the following error.

    make[2]: Entering directory '/sonic/src/sonic-sairedis'
    Making install in meta
    make[3]: Entering directory '/sonic/src/sonic-sairedis/meta'
    make -C ../SAI/meta
    make[4]: Entering directory '/sonic/src/sonic-sairedis/SAI/meta'
    perl -I. parse.pl
    P

[2021-04-28 15:08] anshuv-mfst commented on #7465
HI @kcudnik - Could you please look into this issue, this is seen in Master and 202012 release. Build error is only seen in Azp (Nokia team didnt see this in their pvt build.)

[2021-04-28 15:10] anshuv-mfst commented on #7463
Hi @qiluo-msft - Could you please take a look, thanks.

[2021-04-28 15:19] abdosi commented on #7449
[201911] is fixed https://github.com/Azure/sonic-buildimage/pull/7452
For 201811 @yxieca need to cheery-pick this.

[2021-04-28 15:21] anshuv-mfst commented on #7445
Issue Triage 4/28:
1. Issue discussed with sflow team, Known limitation.
2. Requires documentation for capturing this behavior - need to be included in release notes.

[2021-04-28 15:23] dgsudharsan commented on #7444
This issue is fixed by the PR https://github.com/Azure/sonic-swss/pull/1721

[2021-04-28 15:27] anshuv-mfst commented on #7433
@zhenggen-xu , @praveen-li - could you please take a look, thanks.

[2021-04-28 15:30] anshuv-mfst commented on #7430
@abdosi - could you please take a look, thanks.

[2021-04-28 15:31] ncalad commented on #7463
If I look in ./target I can see the generated docker .gz files and the boot image, so it seems the build succeeded but the test suite failed to run.

-rwxr-xr-x  1 admin admin 938888254 Apr 28 13:53 sonic-aboot-broadcom.swi
-rw-r--r--  1 admin admin    518703 Apr 28 13:53 sonic-aboot-broadcom.swi.log
drwxr-xr-x  8 admin admin      4096 Apr 28 13:53 .
drwxr-xr-x  6 admin admin      4096 Apr 28 13:5

[2021-04-28 15:32] anshuv-mfst commented on #7420
@adam-yeung - could you please take a look, thanks.

[2021-04-28 15:33] adyeung commented on #7420
@adyeung

[2021-04-28 15:35] slutati1536 commented on #7433
@zhenggen-xu we do have it in the config_db:
 },
 "DEVICE_METADATA": {
  "localhost": {
   "default_bgp_status": "up",
   "default_pfcwd_status": "disable",
   "hwsku": "ACS-MSN3420",
   "type": "ToRRouter",
   "mac": "1c:34:da:1c:a0:00",
   "platform": "x86_64-mlnx_msn3420-r0",
   "hostname": "r-lionfish-14"
  }

no option to add this file type

[2021-04-28 15:42] anshuv-mfst commented on #7402
Issue triage 4/28: To be discussed in DPB subgroup.

[2021-04-28 15:43] anshuv-mfst commented on #7367
Issue Triage 4/28: Nvidia team working on the fix.

[2021-04-28 15:51] anshuv-mfst commented on #7365
Hi @fire-ant - could you please provide more input on the usecase?

[2021-04-28 15:55] anshuv-mfst commented on #7349
Hi @liushilongbuaa - could you please take a look, thanks.

[2021-04-28 15:58] anshuv-mfst commented on #7348
@kcudnik - could you please take a look as well, thanks.

[2021-04-28 16:00] anshuv-mfst commented on #7339
Issue triage 4/28:
Please provide config_db file that was supplied
Please provide show techsupport output

[2021-04-28 16:05] kcudnik commented on #7465
seems like missing aspell-en in the build docker, but on 202012 branch this is explicitly installed here: https://github.com/Azure/sonic-buildimage/commit/2f8a5815f7

[2021-04-28 16:11] nazariig commented on #7462
@anish-n / @lguohan / @liat-grozovik / @volodymyrsamotiy FYI

[2021-04-28 16:36] ncalad commented on #7463
On Debian 10, many (possibly all) of the test cases failed with the same error for /proc/modules. Before the first failure, there were some statistics printed for test cases which passed successfully.

Earlier I stood up a fresh Debian 10 instance inside a VM but ran into problems with a composed apt-get update command. It seemed to me that quotes would be needed around the arguments. Strangely, I

[2021-04-28 17:32] kcudnik commented on #7348
already fixed on master and on 202012
https://github.com/Azure/sonic-buildimage/pull/7425
https://github.com/Azure/sonic-buildimage/pull/7409

[2021-04-28 20:03] a-barboza commented on #7420
@liushilongbuaa @renukamanavalan

I think the windows filesystem cannot handle the ":" in the filename. Can you confirm? If so, I can put in a PR to take out the ":" from the Unit Tests.

`C:\>type 10.10.10.1:1645.conf
The filename, directory name, or volume label syntax is incorrect.

C:\>type 10.10.10.1.conf
The system cannot find the file specified.

C:\>`

[2021-04-28 22:48] Staphylo commented on #6641
Just updating this issue to say that this problem still exists.

There is also another issue where the `system-health` cli makes a call to `chassis.initizalize_system_led()` on top of the typo, this method is not defined in `ChassisBase` and therefore probably not implemented by most vendors.
This method seem like a nice addition to the ChassisBase class but I have my doubts about a cli triggering

[2021-04-28 22:51] jleveque commented on #6641
@shlomibitton, @Junchao-Mellanox: Can you please answer explain why show/system_health.py does not instantiate the Platform class and obtain the Chassis object from there?

[2021-04-28 22:54] Staphylo commented on #5134
I believe we can close this issue. It was fixed by https://github.com/aristanetworks/sonic/commit/dc31c69bfbbe9ee3315431b9b78fd0b550834116
I tested with the latest 201911 image and all the `show platform firmware` CLI seem to work.
It is expected for these CLIs to have an empty output for now as we do not yet implement the ComponentBase API.

[code]

[2021-04-28 23:22] Staphylo commented on #4719
We do not see this issue on latest master nor release branches.
I think this bug should be closed/resolved.

[2021-04-29 01:37] anshuv-mfst commented on #6722
@slutati1536 - PR#7020 is merged, could you please confirm and close the issue?

[2021-04-29 01:55] qiluo-msft commented on #7463
You can find the build environment Ubuntu 16.04 recommended in https://github.com/Azure/sonic-buildimage/blob/master/README.md. My personal dev environment is Debian GNU/Linux 10 (buster), and it build and test fine.

You are talking about a unit test issue, not a build issue. Could you narrow down which repo and which test case is complaining? You may find corresponding build/test log in ./target

[2021-04-29 08:07] Sam-Njine commented on #7076
I'm getting this error when building the .bin for sonic-broadcom

tests/test_sonic_yang_models.py .F                                       [ 66%]
tests/yang_model_tests/test_yang_model.py .                              [100%]

=================================== FAILURES ===================================
___________________________ test_generate_yang_tree ____________________________

    def te

[2021-04-29 11:49] ncalad commented on #7463
Here is the console output at the end of the build when I run on Ubuntu 20.04, not Debian. It seems the same problem is happening for many of the test cases. On Debian, I saw a similar pattern but /proc/modules could not be opened.

copying arista/components/asic/bfn/__init__.py -> /sonic/platform/broadcom/sonic-platform-modules-arista/build/python3/lib/arista/components/asic/bfn
make[3]: Leaving

[2021-04-29 19:34] #7449 closed

[2021-04-29 23:57] shi-su opened #7488 "BGP fails to restore route table before reconciliation in warm reboot"
#### Description

#### Steps to reproduce the issue:
1. Run continuous warm-reboot test on kvm
2. The warm-reboot fails in 1 out of 20 warm-reboots
3. An example failure https://dev.azure.com/mssonic/build/_build/results?buildId=12439&view=logs&j=917c1508-19c3-53d5-10ca-59367f40e278&t=82841ee8-7d01-5dbd-2843-d8193599bb85

#### Describe the results you received:
BGP fails to restore route table bef

[2021-04-30 00:41] #7069 closed

[2021-04-30 02:41] liushilongbuaa commented on #7420
A file name can't contain any of the following characters:  \ / : * ? " < > |

[2021-04-30 04:32] liushilongbuaa commented on #7349
https://github.com/Azure/sonic-buildimage/pull/7401, This PR maybe help. Can you have a try?

[2021-04-30 07:06] bingwang-ms commented on #5134
Thanks @Staphylo .

[2021-04-30 07:06] #5134 closed

[2021-04-30 07:18] bingwang-ms commented on #7125
The test failure is not observed again. Close the issue and keep watching.

[2021-04-30 07:18] #7125 closed

[2021-04-30 09:06] aledwmorris commented on #6820
Hi @vpsubramaniam @jeff-yin can you tell me where to look for psud log messages so I can try to figure out why it is dying?  Thanks.

[2021-04-30 10:20] vpsubramaniam commented on #6820
@aledwmorris, the current issue (psud exited) is completely different from the one reported earlier. You can check the 'psud' logs in syslog files, please try the below command,
sudo zgrep -ai "psud" /var/log/syslog*
If possible share this output as well.

[2021-04-30 15:18] vganesan-nokia opened #7497 "[bufferpool] Unable to configure buffer pools for DNX based devices"
#### Description

BUFFER_POOL configuration is not successful in platforms using DNX devices.

#### Steps to reproduce the issue:
1. Have the buffer pool configuration similar to the following in the config_db.json
[code]
2. Apply this configurations from config_db.json

#### Describe the results you received:

- The syncd logs indicates failure status with invalid parameter for the attribute SAI_

[2021-04-30 18:47] shi-su commented on #7488
It seems that one of the peers gets updated late (after reconciliation). Here is an example with logs below: 10.0.0.59 gets updated after the reconciliation. It seems that there is some bgp configuration that prevents any routes that do not point to the whole pre-defined peer-group (10.0.0.57, 10.0.0.59, 10.0.0.61, 10.0.0.63). Therefore, without 10.0.0.59 getting updated, all ipv4 routes would not

[2021-04-30 20:19] aledwmorris commented on #6820
Thanks @vpsubramaniam here's the log:

(repeated over and over)

/var/log/syslog.2.gz:Apr 28 10:55:16.123766 sonic INFO pmon#supervisord 2021-04-28 10:55:16,122 INFO spawned: 'psud' with pid 33
/var/log/syslog.2.gz:Apr 28 10:55:16.124047 sonic INFO pmon#supervisord 2021-04-28 10:55:16,123 INFO success: psud entered RUNNING state, process has stayed up for > than 0 seconds (startsecs)
/var/log/sysl

[2021-04-30 20:57] baxia-lan opened #7502 "[Reproducible Build] apt-get hook incorrect logic and many deb packages versions are missing in versions file."
#### Description

1. The [apt-get hook script](https://github.com/Azure/sonic-buildimage/blob/5da004675515ad2173ba3a37c4eb157754992dfd/src/sonic-build-hooks/hooks/apt-get) contains incorrect logic.

2. Also as mentioned in https://github.com/Azure/sonic-buildimage/issues/7152#issuecomment-827184690:
Some debian packages installation are not *reproducible* (eg. [python3-pip](https://github.com/Azur

[2021-04-30 20:59] baxia-lan commented on #7502
@xumia @qiluo-msft , do you have any insight on this issue? Thank you.

[2021-04-30 21:32] dflynn-Nokia commented on #7465
I am still unable to reproduce this problem in my private builds.
How best to make progress on this?

[2021-04-30 22:48] kcudnik commented on #7465
same here, on my local build i dont see this error, i think there is some difference when building local/az maybe in build images etc

[2021-04-30 23:30] #6823 closed

[2021-05-01 11:07] fire-ant commented on #7365
Im concerned that if we automate the assignment of IP's to interfaces for uses such as anycast that in the event I'd like to migrate or add more IP's I can't remove prior ones without the possibility of removing all addresses. This isn't necessarily what I'd want to have to consider when I am running the correct commands to remove single addresses from an interface.

[2021-05-01 17:25] #7420 closed

[2021-05-02 04:04] Sam-Njine commented on #7076
i was able to resolve my issue by building the wheel file from within the sonic slave docker and then copying the .whl file to the target/python-wheels/ folder

[2021-05-02 16:31] slutati1536 opened #7505 "[Functional] | RedisReply catches system_error"
#### Description

multiple tests failed because of an error in the log caught by the log analyzer, the error is as such:
May 1 15:23:00.963823 r-anaconda-70 ERR syncd#SDK: :- guard: RedisReply catches system_error: command: *48#015#012$7#015#012EVALSHA#015#012$40#015#01219523f22704de0002113324f2c46b06f66a1a319#015#012$2#015#01241#015#012$19#015#012oid:0x1000000000001#015#012$19#015#012oid:0x100000

[2021-05-02 17:09] lguohan commented on #7403
@kcudnik , can you check the vs sai failure?

[2021-05-02 17:11] #7348 closed

[2021-05-02 17:42] kcudnik commented on #7403
@nazariig
* does this happen after warm boot? what's the scenario here ?
* was this ever working and it broke, or are you trying to add new test case?
* can you attach syslog and sairedis recording from that full session?
* does syslog contain line: "setup forward rule for" for the Ethernet0 entry?

[2021-05-03 11:35] ymc-dabe opened #7506 "Please re-enable buildimage-brcm-all and buildimage-brcm-202012"
#### Description
It looks like the jenkins jobs [buildimage-brcm-all](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/) and [buildimage-brcm-202012](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-202012/) were disabled end of April. Thus no new builds are run for branches `master` and `202012` for the broadcom platform.

####

[2021-05-03 14:26] kcudnik commented on #7403
there is a test for breakout mode: /sonic-buildimage/platform/vs/tests/breakout/test_breakout_cli.py which internally uses "config interface breakout" command which seems to be what you are using in step 6, can you check if this test will pass on your environment ?

[2021-05-03 16:03] #7152 closed

[2021-05-03 17:31] judyjoseph commented on #7317
@dgsudharsan I tried this case, yes the error message is there, but this is during the processes are going down ( right as you mentioned team* daemons are cleaning up interfaces ). But after config reload when processes are up, I see port channel in good state - is that a similar behavior you find ?

[2021-05-03 17:52] anshuv-mfst commented on #7463
Hi @jleveque - could you please take a look, thanks.

[2021-05-03 19:38] jleveque commented on #7463
@Staphylo: Have you ever encountered build issues like this building the Arista platform modules? I have not. Maybe you can give some insight?

[2021-05-03 20:27] Staphylo commented on #7463
@jleveque @ncalad, I will make the existence of this file optional when running the tests.
We did not consider builds in an environment where `CONFIG_MODULES` kconfig is not set.

[2021-05-03 21:09] dgsudharsan commented on #7317
@judyjoseph I don't think there is functionality impact as I had mentioned in the description. However, there are log analyzers in customer deployments which would get false alarm because of this error message. I believe the syslog should be clear of errors. In this case may i ask the reason for deleting the APP_DB entry while the actual issue is with clearing the netlink? I feel in clean up scena

[2021-05-03 23:22] vivekreddynv opened #7508 "[services] Job for sonic.target canceled."
#### Description

This is seen intermittently. The sonic.target job is cancelled when the config reload is run. This is also seen in the cases of applying ZTP Plugins.

sonic.target is introduced in this PR: [#5705 ](https://github.com/Azure/sonic-buildimage/pull/5705)

Note that this doesn't imply a problem with the sonic.target. According to systemd, even when the job is cancelled, the service w

[2021-05-04 11:58] ncalad commented on #7463
I encountered this problem on a fresh Ubuntu instance after installing the prerequisites in the build instructions. That seems to suggest that CONFIG_MODULES is not be set by default.

[2021-05-04 14:00] Staphylo commented on #7463
@ncalad, what I meant here is that the kernel of your VM doesn't have support for dynamic kernel module loading (`CONFIG_MODULES` is a kernel config, not a sonic config)
This leads to the /proc/modules files not existing.

[2021-05-04 16:12] lguohan opened #7512 "[202012]: arm64 build failure"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
https://dev.azure.com/mssonic/build/_build/results?buildId=13428&view=logs&j=88e1b2d1-110a-5bbf-c794-091704096bca&t=41cf5733-fbe6-5db0-23ba-ae081db3aefb

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional inf

[2021-05-04 17:08] kcudnik commented on #7465
There is issue with nroff on that latest image:

$ echo foo bar | /usr/bin/aspell  -l en -a
WARNING: Unable to enter Nroff mode: Unknown mode: "nroff".
Error: No word lists can be found for the language "en_US".

But after executing
# apt-get install --reinstall -y aspell-en

This error goes away and everything works fine
How sonicdev-microsoft.azurecr.io:443/sonic-slave-buster-march-armhf   lates

[2021-05-04 17:21] yxieca commented on #7488
Is this issue caused by bgp didn't get enough CPU cycles to work with peer?

What is the likelihood of this happening on a physical DUT?

[2021-05-04 17:24] kcudnik commented on #7465
it seems like reinstall is actually executed on build image but somehow has no effect?https://dev.azure.com/mssonic/build/_build/results?buildId=13430&view=logs&j=594b531d-901a-5eaa-0051-20781037afc4&t=2d2c06c2-f02c-5153-72fa-81e97e4a6a65&l=14667

[2021-05-04 17:31] kcudnik commented on #7465
hey @Sabareesh-Kumar-Anandan, you added original fix in commit 2f8a5815f7b38fd5d1b4d8d5f58aa4a9960a5863 https://github.com/Azure/sonic-buildimage/pull/6248 seems like this issue is back on latest image despite that fix is in place, would you have any tips on this one?

[2021-05-04 19:08] shi-su commented on #7488
Attaching logs from a failed test
[swss.rec.txt](https://github.com/Azure/sonic-buildimage/files/6423382/swss.rec.txt)
[syslog.1.txt](https://github.com/Azure/sonic-buildimage/files/6423383/syslog.1.txt)
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/6423384/syslog.txt)
[zebra.log.txt](https://github.com/Azure/sonic-buildimage/files/6423385/zebra.log.txt)
[bgpd.log.txt](https://githu

[2021-05-04 22:25] Staphylo opened #7515 "[master] thermalctld leak on Arista devices makes them unreachable when memory is exhausted"
#### Description

On Arista devices `thermalctld` leaks memory (unclear if other vendors are affected).
At each loop iteration of `thermalctld` a few more MB are consumed (~3MiB every 60s)
After running for a few hours, `pmon` consumes up to 75% of memory at which point the device becomes unresponsive.
- Existing ssh sessions will freeze
- Console becomes unresponsive
- Pings still go through

###

[2021-05-04 23:31] zzhiyuan commented on #7515
On an Arista device I can run the following snippet python code:

[code]

and it will result in a memory leak. I believe it is caused by:

https://github.com/Azure/sonic-platform-common/blob/master/sonic_platform_base/sonic_sfp/sfputilbase.py

There are many methods which opens a file without using the with statement. It is possible there are stray references to the opened file which results in me

[2021-05-05 00:18] zzhiyuan commented on #7515
In master image on sonic-buildimage, most of the leak currently is from xcvrd, caused by the same issue referenced above. This is also applicable to 202012 image and likely other vendors' products. Andy from the Arista team is making the fix. This will also benefit other vendors.

[2021-05-05 00:43] #5898 closed

[2021-05-05 01:40] sujinmkang opened #7518 "sonic image downgrade failure from latest public master image"
#### Description
SONiC image downgrade fails from the latest public images.
The failures are related to the sonic-package-manager PR.
https://github.com/Azure/sonic-utilities/pull/1527

#### Steps to reproduce the issue:
1. install latest public master image and reboot to the new image
2. try to install 202012 or 201911 image
3. the installation fails while migrating the packages in sonic-installe

[2021-05-05 06:04] raphaelt-nvidia commented on #7505
You don't need to run any test.  Just booting a current build from the master branch generates these errors at a rate of twice per second.  I don’t know if it is related, but the sanity section of a test I ran on such a build failed because it was unable to bring up some of the ports.

[2021-05-05 06:16] gck-04 commented on #7076
Hi Sam,

Could you elaborate the steps/commands you executed to resolve this issue.
Thank you for the help in advance.

Regards,
Gangadhar

[2021-05-05 08:09] zhenggen-xu commented on #7488
What is your FRR configuration?

Do we have “bgp graceful-restart select-defer-time” configured? If not, then it is expected we will wait for all peers End-of-RIB to do route selection.
The question is, why we don’t get End-of-RIB for one peer before the reconciliation timeout (120 seconds)?  This is the time cover from when BGP daemon is up and to get EoR.  This seems to be extremely long already

[2021-05-05 08:16] stepanblyschak commented on #7518
@sujinmkang @lguohan @liat-grozovik Is donwgrade supported in SONiC? I had an assumption that it is not. If this part of sonic-installer needs to pass when downgrading you can use "--skip-package-migration" or I can make a change that this part will never fail even if it is not successful.

[2021-05-05 08:19] #7311 closed

[2021-05-05 08:20] #6721 closed

[2021-05-05 08:20] #6720 closed

[2021-05-05 08:22] #6722 closed

[2021-05-05 12:56] kcudnik commented on #7465
So this is interesting, since master build success, and /sonic-slave-buster/Dockerfile.j2 diff between origin202012 and master is not much, and not include any aspell changes:
[code]
Master just add’s a bunch more packages also aspell-en, but reinstall is executed anyway and from pipeline log is installed:
https://dev.azure.com/mssonic/build/_build/results?buildId=13430&view=logs&j=594b531d-901a-5

[2021-05-05 13:59] lguohan commented on #7518
we did not install any package in master, why do we need to explicitly pass the --skip-package-migration option here? if there is no custom package being installed on the system, it should make no difference and the installation should not fail.

[2021-05-05 14:09] phiea commented on #6167
Any idea if this will be fixed any time soon?
also tried with:
BRCM SAI ver: [4.3.3.4], OCP SAI ver: [1.7.1], SDK ver: [sdk-6.5.21] CANCUN ver: [6.4.1]
same result
i need to use it together with this functionality, attaching subinterface to vrf:
https://github.com/Azure/sonic-swss/pull/1521

[2021-05-05 14:25] #4009 closed

[2021-05-05 14:34] dprital opened #7523 "LLDP is not taking the hostname set by user till lldp is stopped and restarted"
#### Description

By default hostname is set as sonic in lldp packets. Though the switch prompt says hostname (from hostd conf file). When user changes hostname through cli sudo config hostname . LLDP is not taking the hostname set by user till lldp is stopped and restarted.

After lldp start/restart seeing hostname sent correctly to peers.

lldp process need to snoop/take care when hostname is ch

[2021-05-05 14:41] lguohan commented on #7506
you can find them in azure pipeline. public jenkins is going to be deprecated.

https://dev.azure.com/mssonic/build/_build?definitionId=138

[2021-05-05 14:45] yxieca commented on #7518
@stepanblyschak we consistently install an older image then install the target image on DUT in nightly tests to avoid unintended change with stale images. We also has testbed test images in multiple branches. For these use cases, we really need to have the installer solid and forgiving.

[2021-05-05 14:54] sujinmkang commented on #7518
@stepanblyschak  Not only skip_package_migration but also  skip_migration shouldn't fail either.  skip_migration fails during 201811 or 201911 image downgrade and it leaves mounted new image in /tmp directory.
One more thing on package migration, can you make the changes to create the mount directory with random name instead of using next image version? So that the installation fails in the middle

[2021-05-05 15:50] stepanblyschak commented on #7518
Please check https://github.com/Azure/sonic-utilities/pull/1591

[2021-05-05 21:06] vikneels opened #7531 "bgp neighbors doesnt come up with vlan subinterface and bgp neighbor config"
#### Description
When I try to configure BGP neighbor with vlan sub interface, I dont see running config reflecting the same and show ip bgp summary doesnt show neighbor. The following is on vswitch . Added the below on config_db.json.

#### Steps to reproduce the issue:
1. Bring up image
2. configure vlan subintf and bgp neighbor
3.

#### Describe the results you received:
   "VLAN_SUB_INTERFACE"

[2021-05-06 00:48] xumia commented on #7512
The issue should have been mitigated.
We have disabled the reproducible build of the platform temporarily to fix the issue. For the build run time issue of the platform, we will enable it when fixing the long time build issue by using arm64 vm. Or we can allow longer time for the package version upgrade, reduce the build frequency from daily to weekly or bi-weekly.

[2021-05-06 01:39] #6602 closed

[2021-05-06 07:02] uraghura commented on #7139
SONiC specific issue and fix needs to be backported from other branches. We could see a fix https://github.com/Azure/sonic-buildimage/pull/6335/files done for few parallel build issues. But these fixes are not  available for 201811. For now, Workaround is *NOT* to do parallel build for innovium platform.

[2021-05-06 07:02] #7139 closed

[2021-05-06 07:11] ppikh opened #7538 "FDB entry not removed in case when remove port from VLAN"
#### Description
FDB entry not removed in case when remove port from VLAN

#### Steps to reproduce the issue:
1. Add Vlan on DUT(sudo config vlan add 40)
2. Add 2 ports to be VLAN members(sudo config vlan member add 40 Ethernet28 , sudo config vlan member add 40 Ethernet32)
3. Send traffic in VLAN created above from host connected to port Ethernet28 to host connected to port Ethernet32
4. Check MA

[2021-05-06 07:30] Hedgehog-Guru opened #7539 "when disable any counter - after reload "counterpoll show" output status is enable , but when checking confg.db.json its disabled"
issue exist on versions 201911 and 202012

#### Description

when disable any counter from the counter poll and reload or reload config
"counterpoll show" output   will show those counters in  enable" status
but if check the configdb file counters configured to disabled

#### Steps to reproduce the issue:
**disable any counter**
[code]
**verify output:**
[code]
**save and reload :**

**config save

[2021-05-06 08:30] #7518 closed

[2021-05-06 11:51] ymc-dabe commented on #7506
Thanks a lot for the link, @lguohan. That explains, why the jobs on Jenkins are disabled...

[2021-05-06 11:51] #7506 closed

[2021-05-06 20:59] kcudnik commented on #7465
check this out:
[code]

[2021-05-06 21:29] dflynn-Nokia commented on #7465
Trying this now on my PC.

Carl and I were also thinking this is related to readdir issue. See earlier email from Carl.
Still not sure why only seen in Azure pipeline builds.

Dennis

From: Kamil Cudnik ***@***.***>
Sent: Thursday, May 6, 2021 5:00 PM
To: Azure/sonic-buildimage ***@***.***>
Cc: Flynn, Dennis (Nokia - US/Westford) ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/sonic-buildima

[2021-05-06 21:43] kcudnik commented on #7465
yes, thanks to Carl for pointer https://bugs.launchpad.net/qemu/+bug/1805913, and it still a bug, confirmed couple days ago,
and yes it's interesting that this is happening in azure pipelines, hmm, very interesting, since related to readdir and inode number, then maybe on azure pipeline host building docker slave have huge number of inodes? but after downloading docker to local host, inode numbers

[2021-05-06 21:52] dflynn-Nokia commented on #7465
I tried your sequence on my Linux desktop and see the same results you do.
Glad to have a way to test a fix for this without requiring Azure pipeline.

[2021-05-06 22:02] kcudnik commented on #7465
But don't know if this will actually work, since reinstall aspell-en touchces that directory anyway, so i propose to disable aspell on armhf since it's not that critical.

https://github.com/Azure/sonic-buildimage/pull/7550
https://github.com/Azure/sonic-buildimage/pull/7549

[2021-05-07 04:52] vivekreddynv opened #7554 "[FRR-BGP] Changing Hostname is resulting in a Duplicate entry and is also not reflected in the neighbors"
#### Description

Changing Hostname using 'config hostname <new_hostname>' is resulting a duplicate hostname in vtysh running and the new_hostname is not being reflected in the BGP peer.

Workaround: BGP docker/FRR  restart would propagate the change to the neighbor and remove the duplicate hostname.

Even Cumulus NOS has a Duplicate Hostname issue and it seems like a FRR problem.  [Link](https://

[2021-05-07 06:00] mdivyamohan opened #7555 "[LAG] LACP fallback feature not working as expected"
Hi,

I am referring to [LACP fallback design document](https://github.com/Azure/SONiC/blob/master/doc/lag/LACP%20Fallback%20Feature%20for%20SONiC_v0.5.md).

As per this,  `One and only one member port can be put into fallback mode per LAG`.

However, from implementation, is this handled?

From my testing, if a create LAG with fallback option, with 2 member ports, both the ports have enabled status

[2021-05-07 13:03] mdivyamohan commented on #7555
Logs from Docker Virtual Switch (DVS) :

Configuration:
[code]

LAG creation:
`# sonic-cfggen -w -j lag.json`

Logs:

May  7 12:59:48.653650 7f332a448b73 INFO #/supervisord: teammgrd Using team device "PortChannel01".
May  7 12:59:48.653679 7f332a448b73 INFO #/supervisord: teammgrd Using PID file "/var/run/teamd/PortChannel01.pid"
May  7 12:59:48.653688 7f332a448b73 INFO #/supervisord: teammgrd Th

[2021-05-07 18:41] andywongarista commented on #7515
The root cause of this issue has been determined to be in Arista platform drivers rather than in sfputilbase.py. A PR to update the submodule with the fix included will be made shortly.

[2021-05-07 21:22] prsunny commented on #7531
Could you please add a DEVICE_NEIGHBOR_METADATA entry for `"name": "to_tgen",` and retry the config? . Also share the bpgcfgd logs if its still failing!
@neethajohn for viz

[2021-05-07 21:59] kamalsahu0001 opened #7562 "BGP session up time for warm reboot takes around 135 seconds when compared to cold reboot."
Topology:

Server ----> T0 ----> T1. Hosts are connected to server through vlan and LAG/BGP is established between T0 and T1.

Steps:
Send server-server, server - T1 and T1 - server traffic.

Observation:
BGP session up time takes ~135seconds between T0 and T1 for warm-reboot where as it takes around 96seconds for cold reboot.

SONiC Software Version: SONiC.201911.168-88de361f
Distribution: Debian

[2021-05-08 17:32] #7515 closed

[2021-05-09 05:06] yxieca opened #7566 "Arista platform installation failure"
#### Description

Arista platform installation is failing after https://github.com/Azure/sonic-utilities/pull/1527

#### Steps to reproduce the issue:
1. Install master image with the change.
2. Install another master image with the change
3.

#### Describe the results you received:

[code]

#### Describe the results you expected:

Install image successful.

#### Output of `show version`:

[code]

[2021-05-09 11:06] slutati1536 opened #7568 "test_pfcwd_mmu_change failed with error "invalid literal for int() with base 10""
#### Description

The test  test_pfcwd_mmu_change is failing because the function get_mmu_params returns an invalid alpha value

    def get_mmu_params(dut, port):
        """
        Retreive the pg profile for a port and the dynamic threshold used

        Args:
            dut(AnsibleHost) : dut instance
            port(string) : port name

        Returns:
            pg_profile(string), alph

[2021-05-10 10:23] kcudnik commented on #7403
@nazariig i checked removing hostif locally and i can successfully remove those interfaces:

[code]

please provide information i asked in previous post, sairedis logs and syslog for debug your case

[2021-05-10 13:22] Sam-Njine commented on #7076
@gck-04

My error had to do with dependencies like libyang and some others not installing when I just run make target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl.

What I did was to be in the docker slave while it built as @praveen-li suggested using make KEEP_SLAVE_ON=yes target/python-wheels/sonic_yang_models-1.0-py3-none-any.whl

I checked the log file in the target/python-wheels folde

[2021-05-10 15:20] kcudnik commented on #7140
@shlomibitton hey, if you will have time this week, we can setup another session, and maybe try to do syncd + saiplayer only to eliminate OA and other stuff, and just see how fast all notifications will arrive, this will take some time but we can do this over meeting session, what do you think?

[2021-05-10 19:05] vikneels commented on #7531
Sure, Thanks for taking a look. I Will try out and update the same.

[2021-05-11 06:48] zhenggen-xu commented on #7433
This is not related to DPB changes, the CLI on master is broken.   Tried to build master image with some errors:
[code]

[2021-05-11 07:27] Hedgehog-Guru commented on #7444
Checked in SONiC.202012.79-6060da3a_Internal
Thanks!

[2021-05-11 07:27] #7444 closed

[2021-05-11 08:16] shlomibitton commented on #7140
hey @kcudnik, I will try to find a free slot this week and update you.

[2021-05-11 12:53] nazariig commented on #7403
@kcudnik i will take a look and update

[2021-05-11 14:23] dmytroxshevchuk opened #7578 "[DPB] Optional fields not set for child ports after DPB"
#### Description
Dynamic Port Breakout does not work properly because of new port configuration is not consist optional fields for that port.
For example if we have installed `fec` field for parent port, than after DPB `fec` will not be set for child ports.

#### Steps to reproduce the issue:
1. Add any optional field to hwsku.json, for example it can be `"fec": "rs"`
2. Generate and apply `config

[2021-05-12 06:29] judyjoseph commented on #7124
@bingwang-ms Can you confirm whether you see the Portchannel not cleaned up issue when you issue `systemctl stop swss` ?

I did a round of tests today with the below platform,
[code]

I find the issue is reproducible only when with the command `systemctl stop teamd`.

Since teamd is a dependent service of swss, the supported approach will be to stop swss service which indirectly stops peer/depende

[2021-05-12 06:37] bingwang-ms commented on #7124
Thanks @judyjoseph . I'll confirm that and update later.

[2021-05-12 09:38] ezware opened #7590 "[suggest] system-health service should continue to run without configuration file"
**Description**
https://github.com/Azure/sonic-buildimage/blob/a070f1a2392dd4858303782e9d67692956fdad68/src/system-health/scripts/healthd#L77

**healthd** should continue to run when the configuration file does not exist,
when the configuration file does not exist, we should assume it using a default config.

Normally, there is no filter, so we doesn't need the configuration file,
the default conf

[2021-05-12 10:10] shlomibitton opened #7591 "[201911] PortChannel IP addresses are lost after 'config reload'"
#### Description
After running 'config reload', the assigned IP addresses on LAG interfaces are lost.

#### Steps to reproduce the issue:
1. Install a fresh image based on 201911 branch.
2. Configure PortChannels on the switch.
3. Run 'config reload' command and observe IP address is missing.

#### Describe the results you received:
In the log we can see an ERROR for assigning the IP to the PortCh

[2021-05-12 12:46] stepanblyschak commented on #7349
@liushilongbuaa I'll try and reply, thanks.
@qiluo-msft Which autoupdate service are you referring to? How does build servers environment affect if the build is running inside docker? I can try to narrow it down but I am afraid this issue exists for few month already, so it might not be a quick finding.

[2021-05-12 13:46] vganesan-nokia opened #7594 "[portsorch] Port status notifications is not processed if there is only one port connected"
#### Description
If there is only port is connected, the port's operational status is not detected correctly.

#### Steps to reproduce the issue:
1. Remove connection to all the front panel ports.
2. Pick any one front panel port and connect to a device to make the link up
3. Reboot the box.
**Note:**
This problem is not always reproducible. This problem occurs intermittently due to timing issues

[2021-05-12 14:44] vganesan-nokia opened #7595 "[multi-asic][swsscommon] Instance specific config load is not happening in correct database server instance"
#### Description

In multi-asic implementation, configuration load from conifg_db\<instance number\>.json is not happening in redis server of correct instance. All configs are loaded in the global redis server only.

#### Steps to reproduce the issue:
1. In multi-asic system with say 3 asics, have config_db0.json, config_db1.json and config_db2.json in /etc/sonic directory. Let these configuration

[2021-05-12 15:06] anshuv-mfst commented on #7595
@abdosi - could you please take a look, thanks.

[2021-05-12 15:12] anshuv-mfst commented on #7594
@abdosi - could you please take a look, thanks.

[2021-05-12 15:15] judyjoseph commented on #7317
@dgsudharsan, I agree ideally the APP DB entry deletion will be triggered from NETLINK DEL message. But here when all the processes goes down, teamsyncd won't be waiting for the NETLINK messages to do cleanup ( we might miss events ) when teammgrd removes LAG here https://github.com/Azure/sonic-swss/blob/e29d566efb31378fbeac61f0b1a7dbd690d7e287/cfgmgr/teammgr.cpp#L492.
We need to cleanup all LAG e

[2021-05-12 15:29] anshuv-mfst commented on #7591
Issue triage Meeting 5/12:
- Issue occurs when there are many port channels (~80)
- Might be dup of  https://github.com/Azure/sonic-buildimage/issues/6503

[2021-05-12 15:30] anshuv-mfst commented on #7591
@judyjoseph - could you please take a look, thanks.

[2021-05-12 15:34] anshuv-mfst commented on #7578
@zhenggen-xu  - could you please provide input on the issue, thanks.

[2021-05-12 15:42] anshuv-mfst commented on #7562
@yxieca - could you please take a look, thanks.

[2021-05-12 15:45] anshuv-mfst commented on #7555
@heidinet2007 - could you please take a look, thanks.

[2021-05-12 15:49] anshuv-mfst commented on #7554
Hi @vivekreddynv - please engage with FRR team for fix.

[2021-05-12 15:59] anshuv-mfst commented on #7531
@neethajohn - could you please take a look, thanks.

[2021-05-12 16:01] anshuv-mfst commented on #7523
@abdosi -  could you please help with merging PR #6119.

[2021-05-12 16:06] anshuv-mfst commented on #7508
@adam-yeung could you please take a look, thanks.

[2021-05-12 16:37] dgsudharsan commented on #6630
I believe this got fixed by this PR https://github.com/Azure/sonic-buildimage/pull/7407

[2021-05-12 17:40] tahmed-dev commented on #7192
The issue has been inactive for long. Will close this issue in a week if there are no more activity.

[2021-05-12 17:40] jleveque commented on #7590
@Junchao-Mellanox: Is this a bug, or by design? If by design, can you please explain the justification?

[2021-05-12 18:42] zhenggen-xu commented on #7578
The child port optional field values were not part of the initial DPB design. If we would like the DPB to take care of setting that automatically,  we would need enhance the design to have the breakout-mode mapping to fields/values in platform.json, so we can apply them with our defined values.

Without those fields available, we could use CLI to set the autoneg and fec etc manually.   If the CLI

[2021-05-12 20:11] samaity commented on #7433
I guess the problem is [here](https://github.com/Azure/sonic-utilities/blob/master/config/main.py#L1128) in `sonic-utilities` repo. If user does not provide filename with `config reload -l`,` command = "{} -j {} -v DEVICE_METADATA.localhost.hwsku".format(SONIC_CFGGEN_PATH, filename)` will not provide `cfg_hwsku ` i.e. hwsku parameter as it should which will later cause problem [here](https://githu

[2021-05-13 01:57] #6997 closed

[2021-05-13 01:57] #7261 closed

[2021-05-13 02:35] ezware commented on #7590
Thanks for your reply.

It's not a bug.
It's only a design improvement, currently the log was **filled** by the **system-health failure log** if the platform hasn't adapt this feature。

[2021-05-13 05:27] bidhovbizar commented on #6399
Hi. I too faced the same issue. Regarding ping from host1 to switch2,.These are the methods I tried. I tried to setup only some parts as mentioned in network.
1. host1<-> switch1 : Works fine we have to wait till "ss -ta" gives assurance that switch1 is up properly. Then ping works
2. host2<->switch2 : Works fine we have to wait till "ss -ta" gives assurance that switch1 is up properly. Then ping

[2021-05-13 05:53] lolyu opened #7602 "test_ipinip.py::test_decap_standby_tor failed due to tunnel traffic detected"
#### Description
`test_ipinip.py::test_decap_standby_tor` failed due to that the standby tor redirect those encapsulated packets back to T1s.
Same as #6841

#### Steps to reproduce the issue:
1. Run `test_ipinip.py::test_decap_standby_tor`

#### Describe the results you received:
[code]

#### Describe the results you expected:
* testcase passes with no tunnel traffic detected

#### Output of `show

[2021-05-13 08:04] akokhan commented on #6398
Is there a design document for this feature? Could you please share it? Thanks.

[2021-05-13 08:21] liat-grozovik commented on #6398
https://github.com/Azure/SONiC/pull/682

[2021-05-13 09:51] kidoflamancha opened #7606 "[PDDF]Does PDDF support CPLDs with the same device address and different bus numbers?"
#### Description

I have a device that controls different line cards through CPLD, each CPLD has the same address but different bus numbers. Does PDDF support this situation?
It is known from the code that PDDF stores all CPLDs in the linked list and only matches the device address when using it. Why doesn't it match the bus number or device name?

#### Steps to reproduce the issue:
NA

#### Descr

[2021-05-13 16:32] slutati1536 opened #7611 "[DPB] Failed to break out Port. Error: ConfigMgmtDPB Class creation failed"
#### Description

port breakout failed after a few breakouts configurations

#### Steps to reproduce the issue:
1. configure a few breakouts and it will reprudoce

#### Describe the results you received:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

#### Describe the results you expected:

all breakout configuration should pass

#### Output of `show version`:

[code]
#### Output of `sho

[2021-05-13 18:41] zhenggen-xu commented on #7433
Thanks @samaity  for the fix.  Meanwhile, if @slutati1536 want to continue the test, just do:

/usr/local/bin/sonic-cfggen -H -k ACS-MSN3420 --write-to-db

to get the the table into the configDB.

[2021-05-14 17:30] vaibhavhd opened #7616 "[dualtor] ECMP nexthop hashing does not distribute the packets equally"
#### Description

#### Steps to reproduce the issue:
1. Set all MUXes to active. Start traffic from T1 to active TOR.
2. Add a route with 4 nexthops (4 different server IPs connected to downlinks).
3. Check if traffic is equally distributed among 4 downlinks.
4. Simulate one MUX (port connected to one of the nexthops) to standby.
5. Traffic will NOT be equally distributed to 3 downlinks  (for 3 ac

[2021-05-16 18:05] carrierone commented on #5310
It's been quite a few months since this was opened and iccpd is still masked in the repository by default, @davidfordouce @ciju-juniper @jianjundong are there any recent improvements to mclag/iccpd and is broadcom support working?

[2021-05-16 19:50] nxzz commented on #7611
In my environment, the same error is reported.
In my case, the error occurs from the first breakout.

[code]

[code]

[code]

[code]

Output of `show techsupport`:
[code]

[code]

[2021-05-17 04:36] ciju-juniper commented on #5310
@carrierone AFAIK iccpd support is not yet enabled for Broadcom platforms.
@ben-gale Please let us know the latest status.

[2021-05-17 09:46] guking3 opened #7624 "【ZTP】Simple example of ZTP"
Dear Experts：
I had open the ENABLE_ZTP compile option, but the ztp server didn't work well，only the IP address of the port is assigned
How can the option 67 and 239 be used, and where is the configdb-json file should be putting? Can you give me the simple realizing method both conifg file and usage method，I would appreciate for this，Thank you！

[2021-05-17 11:55] kcudnik commented on #7465
@dflynn-Nokia seems like builds are passing, and this workaround is working, can you confirm and close issue ?

[2021-05-17 15:16] kcudnik commented on #7140
hey, can you specify some slot this week?

[2021-05-17 17:40] vaibhavhd commented on #7616
I identified a test issue which do not capture all packets sent on uplinks, but even then the packet distribution to uplink ports remains unequal.

For Hierarchical ECMP, CSP is now raised with Broadcom - `CS00012189203`

[2021-05-17 22:16] adyeung commented on #5310
There is a SONiC MCLAG Subgroup currently reviewing the BRCM MCLAG changes
in the community.

The following are the set of code PRs tracking from BRCM under review, yet
to be merged. Iccpd changes in #4819

https://github.com/Azure/sonic-buildimage/pull/4819
https://github.com/Azure/sonic-swss/pull/1331
https://github.com/Azure/sonic-utilities/pull/1138
https://github.com/Azure/sonic-swss/pull/134

[2021-05-18 00:59] dflynn-Nokia commented on #7465
Yes indeed, builds are now working.
Thanks for all you help with this!

[2021-05-18 00:59] #7465 closed

[2021-05-18 12:12] dmytroxshevchuk commented on #7611
Please take a look fix in PR: https://github.com/Azure/sonic-buildimage/pull/7138

[2021-05-18 14:19] ppikh opened #7643 "Impossible to add static route via interface"
#### Description

Impossible to add static route via interface, for example via Vlan interface or Ethernet.

#### Steps to reproduce the issue:
1. sudo config vlan add 40
2. sudo config vlan member add 40 Ethernet0
3. sudo config route add prefix 1.2.3.4/32 nexthop dev Vlan40

#### Describe the results you received:
Command in step 3 failed, static route not added.
[code]

#### Describe the result

[2021-05-18 16:21] aledwmorris opened #7644 "psud dies immediately on Dell S5248F-ON"
#### Description

psud dies taking down pmon

#### Steps to reproduce the issue:
1. install sonic latest download build
2. boot
3. notice all ports down, all led's hard on, no pmon

#### Describe the results you received:

can't configure ports, system is unuseable

#### Describe the results you expected:

some level of useability

#### Output of `show version`:

[code]
#### Output of `show techsu

[2021-05-18 16:22] aledwmorris commented on #6820
I've opened a new issue https://github.com/Azure/sonic-buildimage/issues/7644

[2021-05-18 16:22] #6820 closed

[2021-05-18 16:23] gechiang commented on #6875
@chitra-raghavan
Do you still see this issue with this test case using the latest SONIC image on your TH3 device?  There were multiple issues with the fib tests in early days but the SAI issue was fixed and then there were test case issues which also were fixed.
It would be very helpful if you can give the latest a try and update if we need to pursuit this issue ay more...
Thanks!

[2021-05-18 19:19] liat-grozovik commented on #7643
@d-dashkov could you please check this one?

[2021-05-18 20:45] vivekreddynv commented on #6793
This issue can be closed.

[2021-05-19 00:12] prsunny commented on #7643
Agree that it might have been working before when called directly via vtysh, but just curious, what is the use-case here, for a route pointing to L2 Vlan?

[2021-05-19 10:52] shlomibitton commented on #7140
@kcudnik sorry I didn't find time this week.
We can have a session next week, I will update you and set a meeting.

[2021-05-19 17:35] kcudnik commented on #7140
sure

[2021-05-19 18:17] tahmed-dev commented on #7192
closing this issue.

[2021-05-19 18:17] #7192 closed

[2021-05-19 19:28] anamehra commented on #7161
@SuvarnaMeenakshi looks like Azure/sonic-swss-common#470 handles the swsscommon issue reported in #7155
Is there a different commit PR for sonic-cfggen port_config.ini path as reported in this issue?

[2021-05-19 19:30] SuvarnaMeenakshi commented on #7161
yes; it is here: https://github.com/Azure/sonic-buildimage/pull/7632

[2021-05-20 12:51] #7531 closed

[2021-05-20 16:27] #6328 closed

[2021-05-21 04:34] jeff-yin commented on #7644
Please assign to @arunlk-dell

[2021-05-21 15:03] chitra-raghavan commented on #6875
Did not hit this issue in latest sai 4.3.3.5  in 202012 branch and testcase passed.
root@sonic-10429:/#
root@sonic-10429:/#
root@sonic-10429:/# dpkg -l | grep sai
ii  libsaibcm                  4.3.3.5                     amd64        Switch Abstraction Interface sdk based on Broadcom SAI
ii  libsaimetadata             1.0.0                       amd64        This package contains SAI-Metadata imp

[2021-05-21 16:46] gechiang commented on #6875
@chitra-raghavan Thanks for the update!  looks like the initial problems are all addressed now.
If you agree, please go ahead and close this case.
Thanks!

[2021-05-21 17:03] vikneels opened #7668 "sshd not listening for ipv6 address"
#### Description

ssh of ipv6 address does not work though ping works. The failure is noticed as part of https://github.com/Azure/sonic-mgmt/blob/master/spytest/tests/system/test_ssh.py where we try to do a ssh on ipv6 address

When I checked the sshd config, by default listen is disabled for ipv6 address and the moment I uncommented the same and restarted sshd service, ssh to ipv6 works.

#Port 2

[2021-05-21 17:15] vaibhavhd opened #7669 "[warm-boot] vxlanmgrd errors seen during warmboot with control plane assistant"
#### Description

Warmreboot with controlplane assistant throws errors - "vxlanmgrd Error: argument "neighbor_advertiser-1000" is wrong: "dev" not a valid ifname"

#### Steps to reproduce the issue:
1. Execute warmboot with control-plane-assistant address (or run test_wr_arp test)
2. The test may or may not fail with error `Timed out waiting for warm reboot`
3. Check syslog, and there are a few er

[2021-05-22 20:46] bidhovbizar commented on #1654
I too have the same problem.

How did you change the docker storage mode? Please advice.

[2021-05-23 19:35] marian-pritsak opened #7679 "Race condition possibility when MAC move"
#### Description

- BGP is about to remove the MAC from local FDB, as it was aged out by remote node
- At the same time the same MAC is already learned locally and local event that is raised  is MAC_MOVE as old MAC is still programmed locally
- The event is received by SDK background process and relayed to user space process and waits in FD
- BGP sends the remove command and updates local DB and i

[2021-05-24 06:15] Komil-yc opened #7683 "The "debian" folder of a newly added platform driver is ignored to be uploaded."
#### Description

    There is a pattern "platform/**/debian/*" described in .gitignore.
That causes GIT to ignore all files in debian/ used to build Debian package.
A newly added platform will miss debian/ folder to finish their building.
The change is introduced by below PR:
      https://github.com/Azure/sonic-buildimage/pull/4803

Is that an expected behavior to ignore debian/ folder automatic

[2021-05-24 09:38] Hedgehog-Guru opened #7687 "[DHCP Relay ipv4] | There is no ip verification in cli commands "config vlan dhcp_relay add""
**Description**
There is no ip verification in cli commands

**Steps to reproduce the issue**
1) Create vlan

2) Run cli command
[code]
3) Observe vlan brief configuration

**Describe the results you received**
Wrong DHCP Helper Address asigned
[code]
**Describe the results you expected**
IP address verification should be included in dhcp_relay command. For example:
[code]
**Output of show version

[2021-05-24 13:46] aledwmorris commented on #7644
Hi @arunlk-dell - if there is anything I can do to help troubleshoot; test new releases etc. please let me know, I'm very keen to get my switches working

[2021-05-25 05:50] anamehra opened #7699 "[multi-asic] multi instance service orchestration for chassis system"
#### Description
This git issue is placeholder for multi instance services like swss, syncd and teamd orchestration for chassis based multi asic system. The containers corresponding to these  services need to be started only if the corresponding asic is present.

The asic may not be available due to:
1. Fabric card hosting the asic not inserted.
2. Asic or fabric card is faulty.

In case the asic

[2021-05-25 05:52] anamehra commented on #7699
@anshuv-mfst Please assign this git issue to me.

[2021-05-25 10:58] aledwmorris commented on #7644
Hi @jeff-yin is there anything I can do to expedite this issue?  I've been sitting on a stack of S5248F switches for a long time now with no working SONIC distribution

[2021-05-25 12:15] arunlk-dell commented on #7644
Hi @aledwmorris

The issue is not only with the psud, we could see many dockers are exiting.
Trying to narrow down the actual root cause.
If possible can you let us know what was the last stable image with which S5248F-ON booted up?

admin@sonic:~$ docker ps
CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              PORTS

[2021-05-25 20:41] aledwmorris commented on #7644
I've never had a working release though I only started trying SONIC at the beginning of this year.

[2021-05-25 21:33] theasianpianist commented on #6841
Still seen as per #7602 . Continuing to track on this thread

[2021-05-25 21:34] theasianpianist commented on #7602
Closing this issue, will be tracking on original issue #6841 for continuity

[2021-05-25 21:34] #7602 closed

[2021-05-26 03:45] judyjoseph commented on #7595
@vganesan-nokia, are you still seeing this issue ? I see that a probable fix (https://github.com/Azure/sonic-swss-common/pull/470/files) would have gone in already and the sonic-swsscommon submodule is updated here in buildimage as well.

[2021-05-26 15:08] anshuv-mfst commented on #7687
Need help from community for proposing fix

[2021-05-26 15:11] anshuv-mfst commented on #7683
Hi @jleveque - could you please take a look, thanks.

[2021-05-26 15:14] anshuv-mfst commented on #7679
Issue triage meeting 5/26/21:
Lower priority issue, can be taken up by Nvidia team.

[2021-05-26 15:15] anshuv-mfst commented on #7679
@dgsudharsan - FYI

[2021-05-26 15:20] anshuv-mfst commented on #7668
Issue triage Meeting 5/26/21:
- Please provide more information on the issue, is the request to change default behavior or enabling IPv6 listening?

Hi @vikneels - please update your details (company) https://github.com/vikneels

Hi @jleveque - can you please take a look, thanks.

[2021-05-26 15:24] anshuv-mfst commented on #7643
Hi @d-dashkov - this is related to #1619, please assign the issue to yourself, thanks.

[2021-05-26 15:25] anshuv-mfst commented on #7624
@adyeung - can you please take a look.

[2021-05-26 15:27] anshuv-mfst commented on #7616
Issue Triage Meeting 5/26:
 Tracked via CS00012189203

[2021-05-26 15:29] anshuv-mfst commented on #7611
@mykolaxgerasymenko - please take a look, seems to be related to #7138

[2021-05-26 15:33] anshuv-mfst commented on #7606
@adyeung - can you please take a look, thanks.
@kidoflamancha - what is the device used?

[2021-05-26 16:06] fk410167 commented on #7606
@kidoflamancha

The i2c device creation part is okay in case of CPLDs with same addresses but different buses. However, if you want to use the APIs, board_i2c_cpld_read() and board_i2c_cpld_write(), they can fetch wrong values due to the i2c-client linked-list stored in the driver.
PDDF framework stores the i2c clients created in a hashtable against the object names in the pddf-device.json files.

[2021-05-26 16:11] mykolaxgerasymenko commented on #7611
@anshuv-mfst  - It seem that the issue is the same. And I have the same logs when break out port was failed. The PR #7138 should solve this issue.

[2021-05-26 17:30] jleveque commented on #7668
@lguohan: At the time we did explicitly disable SSH via IPv6. I can open a PR to re-enable.

[2021-05-26 19:34] jleveque commented on #7683
I agree that this ignore is a bit severe, and could cause vendors to miss adding their debian directory. I will open a PR to remove this line. However, I think each vendor should be responsible for providing one or more `.gitignore` files to properly ignore generated files in their platform directories.

[2021-05-27 12:38] nazariig opened #7733 "[UT][YANG] Test_SonicYang.test_xlate_rev_xlate JSON comparison issue"
#### Description

There are some cases when comparison logic in `Test_SonicYang.test_xlate_rev_xlate` could end up in unexpected failures.
**Example:**
[code]

The current implementation assumes simple `dict` comparison:
[code]

This will end up in failures when input sample config data has inappropriate values formatting:
**Input:**
[code]
**Output:**
[code]

Such issues are hard to debug.
Sugges

[2021-05-27 13:03] liorghub opened #7734 "[Build] Second compilation of branch 201911 (after make clean) is failing"
#### Description

Second compilation of branch 201911 (after make clean) is failing.
Issue is deterministic and occurs only in branch 201911.

#### Steps to reproduce the issue:
1. make configure PLATFORM=mellanox
2. make target/sonic-mellanox.bin
3. make clean; make clean-logs
4. make configure PLATFORM=mellanox
5. make target/sonic-mellanox.bin

#### Describe the results you received:

[2021-05-27 13:11] vikneels commented on #7668
Updated the details

[2021-05-27 15:20] vganesan-nokia commented on #7595
With this fix, I do not see this issue anymore. Thanks

[2021-05-27 16:20] judyjoseph commented on #7595
Thanks, Closing this as it is fixed with this commit https://github.com/Azure/sonic-swss-common/pull/470

[2021-05-27 16:20] #7595 closed

[2021-05-27 22:11] prsunny opened #7736 "[201911] fast-reboot fail on fast-reboot-dump.py script"
#### Description
fast-reboot-dump.py script failed with exception

[code]

This was introduced by PR https://github.com/Azure/sonic-utilities/pull/1047 while cherry-picked to 201911
Fix provided in - https://github.com/Azure/sonic-utilities/pull/1627

#### Steps to reproduce the issue:
1. Run fast-reboot command
2.
3.

#### Describe the results you received:
fast-reboot failed with exception

####

[2021-05-27 22:12] prsunny commented on #7736
@rlhui , @sumukhatv for viz

[2021-05-27 22:17] prsunny opened #7738 "[201911] Warmboot fail on MLNX platform with VNET config"
#### Description

With VNET configuration, and running wr_arp test, orchagent crashes

[code]
This is because neighbor_advertiser also creates a tunnel and currently only one Vxlan tunnel can be created in the system.

The issue is fixed by the below two PRs:

1. https://github.com/Azure/sonic-utilities/pull/1593
2. https://github.com/Azure/sonic-swss/pull/1753

#### Steps to reproduce the issue:

[2021-05-28 01:23] bingwang-ms opened #7740 "lldpmgrd crashed"
#### Description
```lldpmgrd``` crashed frequently with following error
[code]

#### Steps to reproduce the issue:
1.  No need to repro. ```lldpmgrd``` keeps crashing.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:
On both master and internal-202012.

#### Output of `show techsupport`:

[code]

#### Additional information you

[2021-05-28 07:02] kidoflamancha commented on #7606
Thank you for your help, I found that I can customize the do_get() function. This issue can be closed.

[2021-05-28 08:42] irene-pan1202 opened #7745 ""ip vrf exec" does not work"
#### Description

ip vrf exec command is not work in 202012. It seems to always specify the default vrf. Add "cgroup_no_v1=net_prio,net_cls" to /host/grub/grub.cfg will make this problem go away. But I don’t know whether disabling cgroup v1 net_cls, net_prio will cause other effects?

#### Steps to reproduce the issue:
1. config vrf add mgmt
2. ip vrf exec mgmt ping 10.250.0.196
3.

#### Describe

[2021-05-28 21:26] #7566 closed

[2021-05-30 13:49] noaOrMlnx commented on #5067
Solved in https://github.com/Azure/sonic-utilities/commit/22d79f387728f40e9994d8dcd3397f42dda8a578#diff-cd1f4d6a5b025b3feb648269fec7b7db4285329bea576baba3734d16b1a1b263R447

[2021-05-31 03:50] seanwu-ec opened #7758 "[barefoot] Fan fail to set_speed"
https://github.com/Azure/sonic-buildimage/blob/bf21dbce871a8c87e010af9d193ef27b9635bef8/platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/fan_drawer.py#L41

### Suggested change:
Change the line into
`return client.pltfm_mgr.pltfm_mgr_fan_speed_set(self.__num, percent)`

### Reason:
1. NameError: name 'fan' is not defined
2. pltfm_mgr_fan_speed_set() takes fan_num as the first ar

[2021-05-31 08:41] #7740 closed

[2021-05-31 11:37] Hedgehog-Guru opened #7764 "[PFCWD] The incorrect cli command doesn't return failed exit code 1"
**Description**
The incorrect cli PFCWD command doesn't return failed exit code 1

**Steps to reproduce**

1) Run the cli command:
[code]

Observed behavior
[code]

Expected behavior
[code]

**Output of show version**
[code]
 [sonic_dump_r-qa-sw-eth-2132_20210531_113146.tar.gz](https://github.com/Azure/sonic-buildimage/files/6569960/sonic_dump_r-qa-sw-eth-2132_20210531_113146.tar.gz)

[2021-05-31 13:27] PRAVEEN-BABY opened #7766 "Marvel ARM64 build failure : "getCPUInfo for pattern: Cpu architecture: not found""
Hi
I am observing a build failure for Marvel arm64

Docker version 20.10.2, build 20.10.2-0ubuntu1~20.04.2

1.git clone https://github.com/Azure/sonic-buildimage.git
2.sudo modprobe overlay
3.make init
4.make configure PLATFORM=marvell-arm64 PLATFORM_ARCH=arm64
5.make all

+++ --- Making all --- +++
EXTRA_DOCKER_TARGETS=all BLDENV=stretch make -f Makefile.work stretch
make[1]: Entering directory '

[2021-05-31 17:00] ncalad opened #7767 "Building with make configure PLATFORM=broadcom PLATFORM_ARCH=armhf fails"
#### Description

Building with make configure PLATFORM=broadcom PLATFORM_ARCH=armhf fails

I am building on Ubuntu 20.04 x86 64-bit host and cross compiling for ARM.

#### Steps to reproduce the issue:
1. git clone repo from master
2. make init
3. make configure PLATFORM=broadcom PLATFORM_ARCH=armhf
4. make all

#### Describe the results you received:

After some hours, the build system fails and

[2021-06-01 03:39] Junchao-Mellanox opened #7768 "Orchagent exit after configuring incorrect advertised interface type value"
#### Description

Orchagent exit after configuring incorrect advertised interface type value. But it seems that this is by design, see https://github.com/Azure/sonic-swss/pull/1665. In the PR, it introduces a new way to handle SAI return value.

[code]

It just exit if the SAI return value is not SAI_STATUS_SUCCESS. To me, it looks like too strict. In my case, I configured port  adv_speeds=100G, a

[2021-06-01 03:40] Junchao-Mellanox commented on #7768
@qiluo-msft @shi-su Much appreciate if you could take a look.

[2021-06-01 06:31] qiluo-msft commented on #7768
Thanks Junchao for the bug report!
@shi-su Could you check and improve?

[2021-06-01 14:24] Ezrickd commented on #5067
I can verify that frr.conf is present in 201911 at dump/frr.running_config.
closing the Issue.

[2021-06-01 14:24] #5067 closed

[2021-06-01 15:30] joyantamishu opened #7773 "Sonic Traffic Marking Mechanism"
Hello,

We group of people were working on Sonic **WRED** feature, and stuck at one point. It says threshold, marking probability etc for different class of traffic (e.g. **red,green and yellow**). What we didn't get how to set the rules (if any) in SONIC so that any incoming packet can be marked with any of the traffic class specified (**red,green and yellow**). We searched into the documentation

[2021-06-01 16:23] shi-su commented on #7768
Ack. I will take a look.

[2021-06-01 16:38] #7758 closed

[2021-06-02 01:38] #6776 closed

[2021-06-02 05:37] judyjoseph commented on #7591
Thanks @nazariig - Fixed in 201911 via PR #7662

[2021-06-02 05:37] #7591 closed

[2021-06-02 08:53] shlomibitton commented on #7687
@anshuv-mfst I fixed this issue and will publish a PR for it once this PR will merge:
https://github.com/Azure/sonic-buildimage/pull/6531

[2021-06-02 14:12] shlomibitton commented on #7140
hey @kcudnik, sorry for the late respond I couldn't find an empty time slot...
Do you want to have another session on Monday 7.6 ?

[2021-06-02 14:13] slutati1536 opened #7779 "[Functional] [DPB] | Port lane are down after breakdown is configured/removed"
#### Description

on lionfish, if there is a loopback connecting a breakable port and unbreakable port, for example, Ethernet188 and Ethernet192
after configuring breakout on Ethernet192 only the first plan is up which is the correct behavior but after the breakout is removed the ports are both in down state when they should be both up

Also, when configuring breakout on a port connected to host a

[2021-06-02 14:16] ncalad opened #7780 "Building on Ubuntu ARM fails"
I stood up an Amazon EC2 ARM Ubuntu 20.04 instance but SONiC won't build.

#### Steps to reproduce the issue:
1. Stand up ARM 64-bit running Ubuntu 20.04
2. Install Docker using debs for ARM
3. git clone from repo
4. make init
5. make configure PLATFORM=broadcom

#### Describe the results you received:

non-zero code: 100
Unable to find image 'sonic-slave-stretch:a99c9f3c1b0' locally
Error respons

[2021-06-02 14:19] slutati1536 opened #7781 "[Functional ] [DPB] | port with dependencies state is down after breakout configuration without force"
#### Description

after configuring breakout without force on a port with dependencies, port is in down state

#### Steps to reproduce the issue:

- configure dependencies on ports

sudo config portchannel add PortChannel0001
sudo config portchannel member add PortChannel0001 Ethernet228
sudo config portchannel add PortChannel0002
sudo config portchannel member add PortChannel0002 Ethernet232
sudo

[2021-06-02 14:29] slutati1536 opened #7782 "[Functional] [DPB] | port with dependencies is unmapped after breakout with force"
#### Description

after configuring breakout with force on a port with dependencies, port is unmapped from interfaces table

#### Steps to reproduce the issue:

- configure dependencies on ports

sudo config portchannel add PortChannel0001
sudo config portchannel member add PortChannel0001 Ethernet228
sudo config portchannel add PortChannel0002
sudo config portchannel member add PortChannel0002 Et

[2021-06-02 15:35] kcudnik commented on #7140
sure, could you send invite?

[2021-06-02 19:50] lguohan commented on #7780
are you trying to build a broadcom image on arm64? afaik, this is not supported.

[2021-06-02 21:42] ncalad commented on #7780
OK ...thank you.

[2021-06-02 21:42] #7780 closed

[2021-06-03 06:15] zhenggen-xu commented on #7779
The "show int status" looked fine to me except the operations status.  Do you see any issue with settings for the relevant ports in APP-DB/ASIC-DB?   If things looked fine there, it could be a SAI bug ( you can also check the status in SDK shell ).   Or if otherwise, please provide the discrepancy of the settings in Redis-DB so we can be more specific of the issue.

[2021-06-03 06:26] zhenggen-xu commented on #7781
Can you confirm if this commit: https://github.com/Azure/sonic-utilities/commit/a089e53f8b22f269da529c7de6672097c96812c0 is part of your image?

[2021-06-03 06:33] zhenggen-xu commented on #7782
Suggest you check on saidump why the port is still referenced after dependency removal:

[code]

[2021-06-03 09:52] aledwmorris commented on #7644
Hi @arunlk-dell have you made any progress on this yet?

[2021-06-03 12:46] shlomibitton commented on #7140
Sent

[2021-06-03 18:35] AshokDaparthi opened #7791 "[sonic-swss] test case of test_dpb_arp_flush in test_port_dpb_system.py are failing randomly"
Hi,

When we raise pull requests to sonic-utilities and soni-swss.  We see random " vstest" unit test case failing in multiple PR's.
Most of the test case is related to test_dpb_arp_flush scenario.

Example:
1#
https://github.com/Azure/sonic-utilities/pull/1640
Log:
https://dev.azure.com/mssonic/build/_build/results?buildId=16610&view=logs&j=3f6395b2-1619-5ebe-f305-2aedcf353cb5&t=35460df8-21be-531

[2021-06-03 19:15] robocoder99 commented on #7779
Hi all, there is a 25G cable with a SFP transceiver plugged into Ethernet236 of the DUT in this issue. When DPB restores the port it is expected to automatically restore it to 100G which causes the link to go down due to the unsupported speed.

[code]

I tested this behavior on another switch with a 100G cable between it and the linux host and it behaved as expected.

[code]

In addition, I re-ran

[2021-06-03 19:41] robocoder99 commented on #7781
It was not part of the image. After merging that commit in we can no longer reproduce the issue. This may be closed. Thanks!

[2021-06-03 20:35] #7781 closed

[2021-06-03 23:07] robocoder99 commented on #7782
@zhenggen-xu I believe the error you are seeing is a result of a race condition.

If you look at sairedis.rec
[code]

and swss.rec
[code]

there is a possibility that it is attempting to remove the port before the LAG membership causing the error. Can you investigate?

Note: These two log snippets are from a recreation I did on a similar but different switch so don't be startled if you can't find

[2021-06-04 01:02] prsunny commented on #6841
Opened CSP Case CS00012192505 - [4.3] Re-encap IPinIP decap packets

[2021-06-04 12:09] qiluo-msft commented on #7736
Is the issue closed by https://github.com/Azure/sonic-utilities/pull/1627?

[2021-06-04 18:09] vaibhavhd opened #7798 "[fast-reboot] APPLY_VIEW failure in handleSaiCreateStatus causing orchagent crash"
#### Description

After fast-reboot, during APPLY_VIEW stage, Orchagent crashed and swss kept restarting. From syslog, the error reported is as:
`ERR swss#orchagent: :- handleSaiCreateStatus: Encountered failure in create operation, exiting orchagent, SAI API: SAI_API_FDB, status: SAI_STATUS_ITEM_ALREADY_EXISTS`

#### Steps to reproduce the issue:
1. Execute platform_tests/test_fast_reboot
2. Test

[2021-06-04 22:01] prsunny commented on #7736
Yes

[2021-06-04 22:02] #7736 closed

[2021-06-04 23:10] chrispsommers opened #7800 "PLATFORM=broadcom fails arista "ReloadCauseManagerTest" first time"
#### Description
When building broadcom PLATFORM, arista test fails. If you re-rerun `make all` again the build completes w/o error

#### Steps to reproduce the issue:
1. `make configure PLATFORM=broadcom`
2. `make all`

#### Describe the results you received:
[code]
#### Describe the results you expected:
Build w/o any errors

#### Git Commit #:
[code]

[2021-06-05 16:56] VR-Architect commented on #7644
Same issue on new Dell S6010-ON with new install of latest Sonic. Also there is no config file. Additional crash code on reload below.

File "/usr/local/bin/decode-syseeprom", line 18, in <module>
    import sonic_platform
ModuleNotFoundError: No module named 'sonic_platform

root@sonic:~# show platform summary
Warning: failed to retrieve PORT table from ConfigDB!
Warning: failed to retrieve PORT

[2021-06-06 04:29] nishi4321 opened #7804 "[AS5712-54X] Some bugs. QSFP+ port does not work. Interface type is N/A."
#### Description

First, the Type is `N/A` as a result of using the `show interfaces status` command.
The SFP+ module is correctly connected to the switch, and if you use the `201911 image`, it will correctly show `SFP/SFP+/SFP28`.
This problem occurs when using 201911 or later images. (Not including 201911)

Second, there is a problem with QSFP+ ports not working.
These ports are always recognize

[2021-06-07 04:57] arunlk-dell commented on #7644
Hi @VR-Architect, Dell S6010-ON is currently not on SONiC's list of supported devices.

[2021-06-07 07:13] msosyak commented on #6504
@prsunny I have faced thiss issue too on the SONiC master image. From my investigation the isssue is with default routes. When we delete VRF swss tries to delete all route in itt but default routes(with mask 0, added by BGP) are not deleted. the Are updated with DROP nexthop and due to that we still have referecne(to VRF)  that should be removed when all routes in that vrf are removed.
Here are th

[2021-06-07 11:24] VR-Architect commented on #7644
It is in the list and has a download for it. Has it been removed?

[2021-06-07 15:06] arunlk-dell commented on #7644
Dell S6000-ON and Dell S6100-ON are supported devices, S6010 is different and not supported.

[2021-06-07 15:18] aledwmorris commented on #7644
Hi @arunlk-dell, are you making any progress on diagnosing the problem with the containers?  I can help with testing.

[2021-06-07 17:24] vaibhavhd opened #7810 "[warmboot] LAG flaps seen after continous warmboots to same image"
#### Description

One or more LAG flaps seen in continuous warmboots to same image. `PortAddFail` is seen when attempting to add one of the LAG member ports.

[code]

#### Steps to reproduce the issue:
1. Run `test_cont_warm_reboot`
2. Let the test run until LAG flap issue is hit.
3.

#### Describe the results you received:

**syslog**
[code]

**teamd log**
[code]

#### Describe the results you ex

[2021-06-07 18:51] dgsudharsan commented on #7508
Hi Adam,
Can you please provide an update?

[2021-06-07 19:23] shall1024 opened #7811 "'show interfaces status' not showing any information"
#### Description

#### Steps to reproduce the issue:
1. Run the `sudo show interfaces status` command (or `show interfaces status`)
2. View the output and see that nothing is displayed at all.

#### Describe the results you received:

![image](https://user-images.githubusercontent.com/71143113/121076101-ffcaa780-c7a3-11eb-8094-dbe9c62759b7.png)

#### Describe the results you expected:

![image](ht

[2021-06-07 19:52] arunlk-dell commented on #7644
Hi aledwmorris, with the latest changes able to bring up all the dockers up.
The ports are up and able to show the SFP details.
But show commands related to eprom,psu are failing, working on it.

CONTAINER ID IMAGE                                        COMMAND                    CREATED      STATUS       PORTS NAMES
6ef576eea2a6 docker-snmp:latest                      "/usr/local/bin/supe…"    5

[2021-06-07 19:57] aledwmorris commented on #7644
That's great news, @arunlk-dell - please keep me informed of progress.  Thank you for your efforts!

[2021-06-07 23:46] chrispsommers opened #7814 "sonic-vs image virsh: Failed to create domain from sonic.xml"
#### Description

Attempting to create a VM using `virsh` per https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/README.vsvm.md fails. I am using an Ubuntu 16.04 VM inside VirtualBox to build and run.

#### Steps to reproduce the issue:
1. `make configure PLATFORM=vs`
2. `make all`
3. `gunzip`ed `/target/sonic-vs.img.gz` and copied to `/data/sonic/sonic-buildimage/target/sonic-vs.im

[2021-06-08 07:06] phiea commented on #6167
just to keep info complete, tested with:
BRCM SAI ver: [4.3.3.5], OCP SAI ver: [1.8.1], SDK ver: [sdk-6.5.21] CANCUN ver: [6.4.1]
getting different error now, not able to reproduce the old one:
[code]

[2021-06-08 10:36] stepanblyschak opened #7818 "[kubernetes] container does not start due to "failed: open /run/systemd/resolve/resolv.conf: no such file or directory""
#### Description

Container does not start due to "failed: open /run/systemd/resolve/resolv.conf: no such file or directory"

#### Steps to reproduce the issue:
1. Build master image cff37b00 with INCLUDE_KUBERNETES=y
2. Run this image on the switch
3. ``` config kubernetes server ip <VIP> ```
4. Apply this manifest:

[code]

#### Describe the results you received:
[code]

#### Describe the result

[2021-06-08 10:54] ppikh opened #7819 "Command "show ip bgp summary" failed in case when no BGP configuration"
#### Description

Command "show ip bgp summary" failed in case when no BGP configuration

#### Steps to reproduce the issue:
1. Load SONiC image without BGP configuration
2. Do command "show ip bgp summary"
3. Check output

#### Describe the results you received:
Error displayed
[code]

#### Describe the results you expected:
Command executed successfully, command display empty output, or message

[2021-06-09 01:17] vaibhavhd opened #7824 "[fast-reboot] Multiple EVPN and ECMP errors from syncd and swss"
#### Description

Multiple EVPN and ECMP errors from syncd and swss seen after fast reboot.

#### Steps to reproduce the issue:
1. Run test_fast_reboot on a DUT
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
Fast reboot should be error free, and DUT shouldn't be left in a bad state.

#### Output of `show version`:

[code]
#### Output of `show techsup

[2021-06-09 03:10] kperumalbfn opened #7825 "Routeorch: Update route entry's NH to ECMP when all members are resolved"
When ECMP group is not added for set of IP nexthops, routeOrch adds a temporary route pointing to one of the resolved IP nexthops in the group. This route entry is added as part of 'addTempRoute' API. Currently, there is no mechanism to update this temporary route with ECMP when all ECMP members in the group are resolved.

[2021-06-09 03:11] prsunny commented on #7825
As we discussed, this is currently a limitation w.r.t ecmp unresolved nexthops.

[2021-06-09 03:56] prsunny commented on #6167
Looks like an sdk error - `_brcm_sai_vlan_create_internal_vfi:4055 MC-GRP create failed with error Feature unavailable`
Is this TD3 platform?.

[2021-06-09 07:47] #7606 closed

[2021-06-09 13:54] dflynn-Nokia opened #7835 "Build break: marvell-armhf builds on master branch appear to be broken"
#### Description
The master branch builds within the Azure.sonic-buildimage.official.marvell-armhf pipeline are failing.

https://dev.azure.com/mssonic/build/_build?definitionId=141&_a=summary

I suspect this is related to PR #7633

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#

[2021-06-09 15:13] zhangyanzhao commented on #7835
let's revert first @yxieca take a look

[2021-06-09 15:15] zhangyanzhao commented on #7825
help wanted, please take a look

[2021-06-09 15:19] zhangyanzhao commented on #7819
error message should be updated, expected message like "bgp instance not found"

[2021-06-09 15:20] zhangyanzhao commented on #7818
@renukamanavalan

[2021-06-09 15:21] lguohan commented on #7835
reverted.

[2021-06-09 15:24] zhangyanzhao commented on #7814
@chrispsommers can you please try on a host directly?

[2021-06-09 15:25] lguohan commented on #7814
can you create any vm inside this 16.04 vm to see if it is supported or not? this seems not related to sonic.

[2021-06-09 15:26] zhangyanzhao commented on #7811
@shall1024 please recreate the issue with the template.

[2021-06-09 15:26] lguohan commented on #7811
please add tech support information

[2021-06-09 15:29] chrispsommers commented on #7814
@zhangyanzhao It's not immediately convenient to do this but I'll try at some point, thanks.
@lguohan Good suggestion, I'll try when I get a chance

[2021-06-09 15:29] zhangyanzhao commented on #7810
@judyjoseph please help with @vaibhavhd

[2021-06-09 15:31] zhangyanzhao commented on #7804
please triage

[2021-06-09 15:35] zhangyanzhao commented on #7800
@Staphylo please take a look

[2021-06-09 15:37] zhangyanzhao commented on #7798
@prsunny please take a look

[2021-06-09 15:38] zhangyanzhao commented on #7791
@zhenggen-xu please help to take a look.

[2021-06-09 15:40] zhangyanzhao commented on #7782
@zhenggen-xu please take a look. Thanks.

[2021-06-09 15:40] dflynn-Nokia commented on #7835
Looking more closely at the marvell-armhf build failure

make[3]: Entering directory '/sonic/src/systemd-sonic-generator'
gcc -std=gnu99 -D_GNU_SOURCE -D_SSG_UNITTEST -o systemd-sonic-generator.o -c systemd-sonic-generator.c
g++ -std=c++11 -D_GNU_SOURCE -o ssg_test ssg-test.cc systemd-sonic-generator.o /usr/lib/x86_64-linux-gnu/libgtest.a -lpthread -lboost_filesystem -lboost_system
g++: error: **/

[2021-06-09 15:40] zhangyanzhao commented on #7779
close this one

[2021-06-09 15:40] #7779 closed

[2021-06-09 15:41] zhangyanzhao commented on #7773
@joyantamishu  please use the template to submit your issue. Thanks.

[2021-06-09 15:45] zhangyanzhao commented on #7767
ARM build is not supported by BRCM

[2021-06-09 15:48] zhangyanzhao commented on #7766
@antony-rheneus can you please take a look? Thanks.

[2021-06-09 15:51] zhangyanzhao commented on #7764
@lolyu please help to take a look. Thanks.

[2021-06-09 15:57] zhangyanzhao commented on #7734
This issue is fixed in master branch. @abdosi please take a look.

[2021-06-09 16:00] joyantamishu commented on #7773
@zhangyanzhao Sorry for the confusion. Actually the template provided, somehow seems like not aligned with the issue we are having. We just have a query, and that might not be a bug even. It's kind of setting up the configuration, which due to lack of experience we can't figure out. if possible, could you please provide a solution, or direct to any resources that can resolve the above mentioned is

[2021-06-09 17:54] #6631 closed

[2021-06-09 18:26] shall1024 commented on #7811
[sonic_dump_sonic_20210609_141754.tar.gz](https://github.com/Azure/sonic-buildimage/files/6626056/sonic_dump_sonic_20210609_141754.tar.gz)

Apologies; please let me know if you need any additional info.

[2021-06-09 19:52] phiea commented on #6167
yes this is TD3

[2021-06-09 20:01] phiea commented on #6167
by the way, again for completeness, wendani pointed out that on the 202012 branch there is a slightly newer brcm sai version, 4.3.3.5-3 instaid of 4.3.3.5-1, from https://github.com/Azure/sonic-buildimage/pull/7728/files, which is also related to subinterfaces, but the newer lib stil gives the same issue.

[2021-06-10 02:56] venkatmahalingam commented on #7745
I don’t know whether disabling cgroup v1 net_cls, net_prio will cause other effects?
Please refer the below issue for more information.
https://github.com/Azure/sonic-linux-kernel/pull/198

[2021-06-10 02:56] venkatmahalingam commented on #7745
As some utilities in the system, like ip vrf, use cgroup2, there is necessity to disable net_prio, net_cls to ensure that those utilities will work correct.

[2021-06-10 02:57] venkatmahalingam commented on #7745
Please close this issue.

[2021-06-10 04:47] antony-rheneus commented on #7766
The below error log is NOT an issue, which can be ignored.
"ERRO[0000] failure getting variant error="getCPUInfo for pattern: Cpu architecture: not found"

Actual Issue is
"Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.38/info: dial unix /var/run/docker.sock: connect: permission denied"

Please che

[2021-06-10 07:17] eyal-horn-nvidia commented on #4454
I think that this is an inherent problem of the design of the counter clearing mechanism. This basic design is used by many features in SONiC. Basically, when the counters are cleared, the current values are stored in a cache file. Later, the value from the cache file is subtracted from the current value saved in the counters DB.
I would like to suggest a possible approach for a solution. When run

[2021-06-10 07:41] nishi4321 commented on #7804
I don't know if I'm getting your intent right, but I'm hoping that the QSFP+ ports will link up correctly at 40Gbps.

[2021-06-10 09:59] shlomibitton commented on #7140
Update on the latest findings for this issue:
It seems like 'hostcfgd' is starting at the same time as the 'orchagent' 'create_switch' function is running, which means at the same time we reset the ASIC and this is consuming important CPU time at this phase.
This can be observed on the log and in addition to the attached 'bootchart' graph on 202012 branch.

**I measured timings and profiled this p

[2021-06-10 10:09] guking3 opened #7843 "「ConsumerStateTable::pops」 with ctx0->elements size is 0"
The Result was found below,if publish msgs tested with LUA script in Similar time
LuaScript:DEL [INTF_TABLE_CHANNEL INTF_TABLE_KEY_SET _INTF_TABLE:ep195.1 INTF_TABLE_DEL_SET] [G ep195.1]
LuaScript:UPDATE-SET [INTF_TABLE_CHANNEL INTF_TABLE_KEY_SET _INTF_TABLE:ep195.1 _INTF_TABLE:ep195.1 _INTF_TABLE:ep195.1 _INTF_TABLE:ep195.1 _INTF_TABLE:ep195.1] [G ep195.1 vrf_name Vrf_pml admin_status up switch_p

[2021-06-10 10:20] kcudnik commented on #7140
thanks for indepth investigation, just to clarify that 660ms is process running, and this time is not "included" in OA/syncd time, it just slows down entire system, it would be nice to have timeline of each run of this process + cpu load and each notification arrive at the same graph plotted so we visually could observe whats the cpu load between 1st notification and last notification for port UP

[2021-06-10 16:42] lguohan commented on #7140
looks like the delay is related to https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services/scripts/hostcfgd#L930

[2021-06-10 23:33] tahmed-dev opened #7847 "[minigraph] MAC shows as NONE in VLAN Table"
#### Description

MAC address shows as `None` in the Vlan table when minigraph has the following property:

`<MacAddress i:nil="true"/>`

Which results in `vlanmgrd` erring and `swss` get terminated.

#### Steps to reproduce the issue:
1. load minigraph with new 202012/master image
2. observer swss crashing
3.

#### Describe the results you received:
swss crashed and switch is not useable

#### De

[2021-06-11 04:39] renukamanavalan commented on #7818
All we need is
admin@str-s6000-acs-13:/etc/default$ cat kubelet
KUBELET_EXTRA_ARGS="--resolv-conf=/etc/resolv.conf"

Can you please raise the PR?

[2021-06-11 07:48] guking3 opened #7852 "A bug for using KEY_SET method to deliver the message to swss & orchagent"
Helle fellows and everybody:
     I founld a bug in the KEY_SET method to deliver the message as belove:
#### Description
When using the  KEY_SET method to deliver the message to swss&orchagent, ConsumerStateTable judge the msg DEL or SET by getting the value of the KEY_SET.Under normal condition, the SET msg can deliver the key to the KEY_SET, then SET the value with the key in hash table(or othe

[2021-06-11 09:25] lguohan commented on #7852
@qiluo-msft can you check?

[2021-06-11 11:47] qiluo-msft commented on #7852
@guking3 Do you by chance have a failing unit test case in sonic-swss-common repo?
I guess your use case is to fast delete and create new interfaces, could you explain "DEL msg could not be found in the ConsumerStateTable::pops, which would be very **necessary** for the orchangent process using".

Thanks!

[2021-06-11 13:03] uraghura commented on #5097
I am getting this build issue in 202012 while trying to build for 'broadcom' platform.

make init
make configure PLATFORM=broadcom
make SONIC_BUILD_JOBS=1 target/sonic-nbi-broadcom.bin

Log:
-----------
[ FAIL LOG START ] [ target/python-wheels/sonic_platform_common-1.0-py2-none-any.whl ]
[ REASON ] :      target/python-wheels/sonic_platform_common-1.0-py2-none-any.whl does not exist   NON-EXISTEN

[2021-06-11 15:23] yxieca commented on #7835
Looks like https://github.com/Azure/sonic-buildimage/pull/7831 addressed the build issue.

[2021-06-11 16:38] yxieca commented on #7847
Curious how did we missed this issue in nightly tests?

[2021-06-11 21:42] theasianpianist commented on #7847
@yxieca our minigraphs that we generate in the lab to do not have null VLAN MACs

[2021-06-14 05:23] sandipansaha81 commented on #5097
Hi, Can someone please help to fix below error in 202012 branch?

[ FAIL LOG START ] [ target/python-wheels/sonic_utilities-1.2-py3-none-any.whl ]
[ REASON ] :      target/python-wheels/sonic_utilities-1.2-py3-none-any.whl does not exist   NON-EXISTENT PREREQUISITES: target/python-wheels/sonic_py_common-1.0-py3-none-any.whl-install target/python-wheels/swsssdk-2.0.1-py3-none-any.whl-install target

[2021-06-14 14:10] dprital commented on #7764
Any update on that ? Thanks.

[2021-06-14 14:14] Staphylo commented on #7800
@zhangyanzhao I'll have a look, it seems to be an issue where the procfs is restricted for the build user.
I'll make the existance of /proc/uptime optional during the test phase.

[2021-06-14 14:27] chrispsommers commented on #7800
Thanks for looking. Note, I'm building inside an Ubuntu 16.04 VM running in VirtualBox on an Ubuntu 20.04 host. Perhaps this has an impact. I think it's a worthwhile use-case.

[2021-06-14 14:40] kcudnik commented on #7403
hey, any updates on this ? do you still have this problem? could you provide requested logs in that case?

[2021-06-14 16:13] SuvarnaMeenakshi opened #7862 "decode-syseeprom error in snmp.sh"
#### Description

#### Steps to reproduce the issue:
1. Boot a single asic or multi-asic VS image with any latest master branch image.
 ./testbed-cli.sh -t vtestbed.csv -m veos_vtb -k ceos add-topo vms-kvm-t0 password.txt
2. Load configuration to bring up all services.
./testbed-cli.sh -t vtestbed.csv -m veos_vtb deploy-mg vms-kvm-t0 lab password.txt
3. Check journalctl log of snmp service or chec

[2021-06-14 20:12] dflynn-Nokia commented on #7835
Yes, master branch builds are now working again.
Thanks for fixing this.

[2021-06-14 20:12] #7835 closed

[2021-06-15 03:59] PRAVEEN-BABY commented on #7766
Hi,

Thanks for the reply. Again on compiling sonic-buildimage for marvell-arm64, I am getting the below mentioned error. I am using branch 202012 for this. Can you please help us in resolving this issue.
Thank you.

+ ./files/build_templates/organization_extensions.sh -f ./fsroot -h sonic
Executing SONIC Organization Extensions
SONIC Organization Extensions - Done
+ sudo cp -f files/image_config/

[2021-06-15 16:51] vganesan-nokia opened #7879 "[voq] SAI support for changing encap index in voq neighbor attribute programming (set function)"
#### Description

For VOQ neighbors we program encap index for remote neighbor records. If the encap index is reallocated to a different encap index than previously allocated by the owner of the neighbor, at the remote side, the neighbor should be reprogrammed with changed voq encap index. Currently SAI (brcm SAI,  for example) does not support change (set) of voq encap index for existing neighbor

[2021-06-15 18:15] #7847 closed

[2021-06-16 09:37] Staphylo commented on #7800
Thanks for the additional information Chris.
We do not build in such environment and it appears that Azure builds do not either which is why there is a gap.
The issue likely originate from the Ubuntu 16.04 VM which must be using a VM specific kernel which removes a bunch of kernel options or alternatively a locked down user environment. I'd also suggest upgrading your build environment to a more r

[2021-06-16 14:12] stepanblyschak opened #7895 "Errors during SAI discovery"
#### Description

SAI discovery is tries to query all attributes on an object, even if some attributes are not valid for some cases.
E.g: querying SAI_BRIDGE_PORT_ATTR_PORT_ID on bridge port of type SAI_BRIDGE_PORT_ATTR_TYPE == SAI_BRIDGE_PORT_TYPE_1Q_ROUTER.
So, SAI discovery does not respect attr's "conditions".

#### Steps to reproduce the issue:
1. Boot the system
2. show log | grep ERR
3.

##

[2021-06-16 14:19] stepanblyschak commented on #7895
@kcudnik @lguohan Could you please take a look?

[2021-06-16 15:50] kcudnik commented on #7895
yes, discovery don't respect conditions, just query all attributes for discovery, this should not be harmful, just a noise in syslog on error, we could enhance that to skip conditional attributes

[2021-06-17 18:38] #7668 closed

[2021-06-17 20:24] #6504 closed

[2021-06-18 02:48] vganesan-nokia opened #7912 "[voq] System lag id boundary setting in CHASSIS_APP_DB fails"
#### Description

In VOQ chassis systems, system lag id boundary is set in redis-chassis server immediately after starting the database-chassis container in the supervisor card. This system lad id boundary was not set correctly all the time. Intermittently there was failure in setting these values in CHASSIS_APP_DB in redis-chassis server. (Thanks to @ysmanman for pointing out this issue and sugge

[2021-06-18 08:49] mykolaxgerasymenko commented on #7611
@slutati1536
PR #7138 with fix was merged. Please check that your issue was fixed.

[2021-06-18 17:29] yxieca opened #7915 "sxCoreAsync continuously crash on Mellanox 2700 platform"
#### Description
Starting from public Mellanox cache build 857, sxCoreAsync crashes continuous on Mellanox 2700 platform.

The issue was triggered by https://github.com/Azure/sonic-swss/pull/1749.

Jun 17 23:16:51.516475 str2-msn2700-spy-1 NOTICE syncd#SDK: :- threadFunction:  span < 0 = -6 at 244890323
Jun 17 23:16:51.516475 str2-msn2700-spy-1 NOTICE syncd#SDK: :- threadFunction:  new span  = 140

[2021-06-18 18:55] #7915 closed

[2021-06-19 04:41] vaibhavhd opened #7919 "[warmboot] OA RESTARTCHECK failure: warmRestartCheck busy on "ROUTE_TABLE:::/0|SET|nexthop""
#### Description

Warmboot RESTARTCHECK failure due to warmRestartCheck stuck on `ROUTE_TABLE:::/0|SET|nexthop`

#### Steps to reproduce the issue:
1. Install latest master
2. Run test_warm_reboot
3. Warm reboot will fail with RESTARTCHECK failure.

#### Describe the results you received:

Warmreboot failed with RESTARTCHECK failure.

From the syslog, it appears that `SAI_STATUS_FAILURE` is seen w

[2021-06-21 04:15] cpackham-atlnz opened #7922 "Support using cross-compiler"
#### Description

It seems to take a really long time to build for a different architecture. This appears to be because the cross-compilation is done by making use of the qemu-user-static support for running foreign binaries which is several orders of magnitude slower that using a cross-compiler.

#### Steps to reproduce the issue:
1. `make configure PLATFORM=marvell-armhf PLATFORM_ARCH=armhf`
2.

[2021-06-21 04:24] lguohan commented on #7922
wander if you can fine a arm64 machine as the build environment?

[2021-06-21 04:30] cpackham-atlnz commented on #7922
I think arm64 -> armhf would still technically be a cross-build. There may be some speed-ups that qemu-user-static can do since the instruction sets are more compatible but it'd still be slower than `apt install gcc-8-arm-linux-gnueabihf; export CROSS_COMPILE=arm-linux-gnueabihf-`

[2021-06-21 09:57] liat-grozovik commented on #6781
/azp run

[2021-06-21 15:54] #6781 closed

[2021-06-21 18:29] vaibhavhd opened #7933 "[crm] handleSetCommand fails to parse CRM config: Unknown attribute mpls_inseg_high_threshold"
#### Description

https://github.com/Azure/sonic-buildimage/pull/7195 added new MPLS attributes to `files/build_templates/init_cfg.json.j2`.

In the latest master images, CRM config parse throws error as the new attribute (`mpls_inseg_high_threshold`) remains unknown.

There are no known test failures due to this at this point.

#### Steps to reproduce the issue:
1. Install latest master SONiC ima

[2021-06-21 18:30] vaibhavhd commented on #7933
@prsunny for awareness.

[2021-06-21 18:50] zhenggen-xu commented on #7782
By looking at the syslog, actually the orchagent crashed due to this:

[code]

Remove port action will happen, but should fail with SAI_STATUS_OBJECT_IN_USE: See code here:
https://github.com/Azure/sonic-swss/blob/master/orchagent/portsorch.cpp#L3192

and config-mgmt class will try to remove LAG and others dependencies based on yang instance.   You need investigae why above SAI API call will fail.

[2021-06-21 18:56] vaibhavhd opened #7934 "[PortsOrch] Failures seen during port startup: getPortOperSpeed: Failed to get oper speed"
#### Description
Port startup throws errors when `portsorch` attempts to `getPortOperSpeed`. This can potentially cause Log Analyzer failures in regression tests. No known test failures at this point (this can change with new results).

The issue has started after a recent PR which added support for `getPortOperSpeed` : https://github.com/Azure/sonic-swss/pull/1714

 This seems to be due to `SAI_P

[2021-06-21 18:56] vaibhavhd commented on #7934
@prsunny for awareness.

[2021-06-21 19:08] dprital commented on #7402
@zhenggen-xu  - Can you please review this issue ?

[2021-06-21 19:17] zhenggen-xu commented on #7402
We did discuss this in the DPB subgroup meeting.  At this point, we are not automatically importing the "BREAKOUT_CFG" into configDB after upgrade,  instead we use "config reload -l" option to get the table.  If you strongly feel that is required,  please send a PR for importing  "BREAKOUT_CFG" into config_db.json in the migration scripts,  we know exactly the steps to get that table: ` sonic-cfgg

[2021-06-21 23:32] prsunny opened #7935 "[show bgp] show ip bgp "network" broken"
#### Description

`show ip bgp network`  is broken with following error:

[code]

#### Steps to reproduce the issue:
1. Execute `show ip bgp network`
2.
3.

#### Describe the results you received:
Backtrace

#### Describe the results you expected:
Valid output

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. is

[2021-06-22 10:34] kcudnik commented on #7895
@stepanblyschak So after thinking a while, i see there is a problem here, since current discovery logic looks like this:

* create_switch, then query all "OID" attributes on that switch,
* then for each discovered OID (if not processed yet) query it's object type,
* query all OID attributes of that TYPE for that OID,
* mark oid as processed,
* repeat until no OID left.

Problem here is, that for a

[2021-06-22 10:46] lolyu opened #7941 "[sub intf] test_sub_port_interfaces failed due to vlan tag stripped"
#### Description
`test_sub_port_interfaces.py` failed.

#### Steps to reproduce the issue:
1. config a sub-interface on the device: `Ethernet12.10`
[code]
2. config a corresponding sub-interface on the PTF port: `eth3.10`
[code]
3. ping `10.0.0.51` from DUT and dump packets from DUT interface `Ethernet12`
* ping from DUT, **failed due to no `ARP` reply**.
[code]
* dump from DUT interface `Ethernet