[2019-11-11 04:28] #3727 closed

[2019-11-11 18:21] lguohan opened #3735 "incomplete bgp route map for RM_SET_SRC/RM_SET_SRC6"
**Description**

**Steps to reproduce the issue:**

load the latest sonic vs image.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]
It should have loopback IP as source IP.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[2019-11-11 18:45] lguohan commented on #3645
@jleveque , what do you think?

[2019-11-11 18:46] lguohan commented on #3603
@Anandaraj-Maharajan

[2019-11-11 18:49] jleveque commented on #3645
First, I'd like to hear about the intended behavior from @qiluo-msft who created PR https://github.com/Azure/sonic-buildimage/pull/563.

[2019-11-11 19:31] qiluo-msft commented on #3645
@3Hren Could you give some details on "... an issue when all disk's space was consumed by docker containers' logs"? We would like to know which component contributes to the disk consumption.

`/var/log/swss` is used to store `swss` and `sairedis` recording, and they are rotated.

1. `journald` is a promising, please help exploration or pull request

2. What is the benefit of " route swss logs to t

[2019-11-12 11:52] mini-nair-dell commented on #3603
Closing this issue as it doesnt occur in the recent November branches

[2019-11-12 11:52] #3603 closed

[2019-11-12 11:52] mini-nair-dell commented on #3603
Closing this issue as it doesnt occur in the recent November branches

[2019-11-12 17:29] pavel-shirshov commented on #3697
https://github.com/Azure/sonic-buildimage/pull/3741

[2019-11-12 20:59] #3697 closed

[2019-11-13 10:29] hustleige2003 opened #3744 "Permission denied for src/sonic-swss-common/debian/*.debhelper.log when make all"
hi guys

i encounter a problem when trying to make all for the first time of SONIC

i checked that there is no such file named *.debhelper.log in src/sonic-swss-common/debian folder

have you met this issue before?

please help to find the resolution^ ^

[ 01 ] [ target/debs/stretch/libswsscommon_1.0.0_amd64.deb ]
rm: cannot remove 'src/sonic-swss-common/debian/*.debhelper.log': Permission denied

[2019-11-13 10:31] hustleige2003 commented on #3744
i have tried to chmod -R or 777 for all folders or files in src/sonic-swss-common/debian but it does not work yet

[2019-11-13 11:52] kannankvs commented on #3527
@stepanblyschak : We checked this issue.
Following is the result from our analysis.

1)	This issue is observed in latest master image also.
2)	Traceback will be seen when MGMT_VRF_CONFIG does not exist in the database. Traceback is coming from the script “/etc/init.d/ntp”.
3)	Traceback does not affect the NTP functionality with/without management VRF. When MGMT_VRF_CONFIG does not exist or when MG

[2019-11-13 11:55] kannankvs commented on #3527
@wangxin The issue that you have reported is not related to this issue reported by @stepanblyschak . The traceback that you see is related to LOOPBACK_INTERFACE|pfx_filter which is not related to management VRF. Also, the issue is not observed in the recent master images. Request you to kindly recheck the issue and raise a new issue if it still exist.

[2019-11-14 01:39] pavel-shirshov commented on #3649
Please check https://github.com/Azure/sonic-buildimage/pull/3753
I still can't reproduce the issue with/or without the latest change

[2019-11-14 06:08] kannankvs opened #3755 "print error-message inside sonic-cfggen if any stderr is masked"
This issue is based on the [issue3527](https://github.com/Azure/sonic-buildimage/issues/3527) and the feedback from related [PR3745](https://github.com/Azure/sonic-buildimage/pull/3745).
Feedback in PR says "can you print error message in sonic-cfggen saying the data[yyy] is not available to stderr? This can be a separate pr".
This issue is opened to track this requirement.

**Description**
When d

[2019-11-18 07:25] stephenxs opened #3774 "Error log "Eeprom query failed" occurs during sfp lpm and reset test on Mellanox platform"
**Description**
The error log "Eeprom query failed" occurs during sfp lpm and reset test on Mellanox platform. The error fails both test cases because the log analyzer will fail the test case for any log with error log level. Besides that neither the error log nor what causes it has any negative consequences.

**Steps to reproduce the issue:**
Run the platform test

**Describe the results you rece

[2019-11-20 22:18] daall commented on #3701
Hey Adam,

Thanks for reporting this! It looks like the folks from Barefoot merged #3721 and #3766 to fix BFN build issues in the time since you opened this issue. Are you able to build the image now?

[2019-11-21 08:59] akokhan commented on #3701
Hi Adam,
The issue has been caused by SONiC migration to SAI-1.5. As Danny mentioned, it was fixed by #3721  and builds #469..471 were successful. Now, the build is broken again for a different reason. To be able to make a private build, please make sure your sources includes the following changes:
https://github.com/Azure/sonic-buildimage/pull/3766
https://github.com/Azure/sonic-sairedis/pull/530

[2019-11-21 09:17] adamx-xk commented on #3701
Hi Andriy,

Thanks for your anwser, I'll try this.

[2019-11-21 09:18] #3701 closed

[2019-11-21 09:22] zouzhao6 opened #3794 "There is no CLI for VXLAN in barefoot-sonic version"
![image](https://user-images.githubusercontent.com/57378160/69323904-82534b00-0c82-11ea-8393-b13d4526e566.png)
![image](https://user-images.githubusercontent.com/57378160/69323951-939c5780-0c82-11ea-81f7-850475c680a2.png)
There is no show and config CLI for VXLAN in barefoot-sonic version.
How to configure VXLAN on the device?
How to get the VXLAN command line?

[2019-11-21 16:50] kannankvs opened #3798 "Zebra crash is observed when management VRF is disabled. Crash seen with simple linux scripts as well"
**Description**
Zebra crash is seen upon deleting mvrf. From the GDB traces, the route node does not have valid data and the zebra process is crashed while trying to access NULL/Invalid rnode->table pointer.
Various methods have been experimented to recreate the issue using linux commands in a script (without using management vrf commands) to isolate the problem. From those methods, it is clear th

[2019-11-21 20:03] prsunny commented on #3798
Fixed as part of https://github.com/Azure/sonic-buildimage/pull/3763
Please use the latest VS image

[2019-11-22 09:38] zouzhao6 opened #3802 "When I execute "make all", it stays here. It will not continue."
![image](https://user-images.githubusercontent.com/57378160/69414723-3a015f00-0d4e-11ea-90ac-1581d23fbaa7.png)
When I execute "make all", it stays here. It will not continue.

[2019-11-22 14:31] kannankvs commented on #3798
@prsunny : We had integrated this PR in our code and found that the crash exists even with this fix. Once if we see a successful Jenkins image, we will test it again and update you.

[2019-11-22 16:02] kannankvs opened #3803 "dhcp_relay docker results in getting error when management vrf is deleted"
**Description**
When management vrf is deleted dhcp_relay docker results in getting kernel message "unregister_netdevice waiting for mgmt to become free" continuously; it never stops.
When dhcp_relay docker is stopped, this error message goes away.

**Steps to reproduce the issue:**
1. Configure dhcp relay by having atleast one downstream interface and one upstream interface and ensure that proces

[2019-11-23 04:46] lguohan commented on #3803
any idea what is the root cause?

[2019-11-23 04:46] lguohan commented on #3802
kernel build took a long time.

[2019-11-23 04:46] #3802 closed

[2019-11-24 08:31] Str1ker17 commented on #3794
I'm interested in the issue too.
Maybe not a CLI, but an alternate configuration interface exists.

I found these docs:
https://github.com/Azure/SONiC/blob/master/doc/vxlan/Vxlan_hld.md
https://github.com/Azure/SONiC/wiki/Configuration
and source of vxlanmgr: https://github.com/Azure/sonic-swss/blob/master/cfgmgr/vxlanmgr.cpp
but none of them gives any info about configuring and transmitting VxLAN

[2019-11-24 19:33] lguohan opened #3814 "loopback ip not clear in kernel after config reload"
**Description**

**Steps to reproduce the issue:**
1. check current configuration, the config db matches the kernel configuration.
[code]

2. modify /etc/sonic/config_db.json manually to change loopback ip to 10.1.1.32/32

[code]
3. after config reload, config db only has the new loopback ip, but we still see the old loopback ip 10.1.0.32 in the kernel.
[code]

**Describe the results you received:

[2019-11-25 01:02] zouzhao6 commented on #3802
It's been here for three days.

[2019-11-25 01:21] shine4chen commented on #3814
@lguohan Sure we can fix it soon. It is not single case only for loop-back. A lot of modules has same problem.

[2019-11-25 01:30] lguohan commented on #3814
let me know what other modules have the problem, i can open separate cases for them and get them addressed.

[2019-11-25 08:51] chitra-raghavan commented on #3798
Zebra crash is seen in #136 as well.
    root@sonic-z9264f-03:~# show mgmt

    ManagementVRF : Enabled

    Management VRF interfaces in Linux:
    137: mgmt: <NOARP,MASTER,UP,LOWER_UP> mtu 65536 qdisc noqueue state UP mode DEFAULT group default qlen 1000
        link/ether ba:b0:2d:ed:d8:32 brd ff:ff:ff:ff:ff:ff promiscuity 0
        vrf table 5000 addrgenmode eui64 numtxqueues 1 numrxqueues 1 g

[2019-11-25 10:07] shine4chen commented on #3814
We have sent email to you to discuss it.

[2019-11-25 14:43] wangxin opened #3817 "Config reload failed with "No client connected to db_id 'CONFIG_DB'""
**Description**
Run "config reload -y" always failed with below error on latest master image.

[code]

Tested image: SONiC.HEAD.132-45e13b99

The switch is also started without PortChannel IP address:
[code]

**Steps to reproduce the issue:**
1. The switch is running t0 topology.
2. Install the latest SONiC image built from master branch to switch.
3. Check interface IP address using "show ip inte

[2019-11-25 18:25] kannankvs commented on #3803
@lguohan: Root cause is not known. From the analysis, it looks like the dhcp_relay is holding the device.

[2019-11-25 19:59] kannankvs commented on #3803
Few observations:
dhcp_relay uses the configured upstream and downstream interfaces and it uses the function "request_v4_interface" to add those interfaces to its list.
On top of it, it calls "discover_interfaces". Not sure whether this is required.
When the call to "discover_interfaces" is commented  in dhcrelay.c (just to check whether the sockets opened from this function is the root cause), th

[2019-11-25 21:14] kannankvs commented on #3798
When VRF is getting deleted, kernel sends a netlink for "vrf deletion" and it sends one other netlink for "link deletion" (the link whose name is same as vrf name). Looks like the zebra is not handling the deletion of vrf followed by deletion of the link.

[2019-11-25 21:20] prsunny commented on #3798
@tylerlinp , can you please check this?

[2019-11-25 22:25] dzhangalibaba commented on #3817
Now Guohan revert the sonic-py-swss submodule ref update, now there should be  no issue.

The issue happened because we update sonic-py-swsssdk lib which has some API changes, all the application should use the API to get data instead of accessing internal data directly.

While the we missed to find out the script in sonic-utilities which is still accessing internal data directly. We should change

[2019-11-26 11:10] hans-tseng opened #3821 "while remove port could cause syncd container crash within Helix4 platform"
**Description**
Hi sir:
   I trie th platform x86_64-delta_et-6248brb-r0,https://github.com/Azure/sonic-buildimage/tree/master/platform/broadcom/sonic-platform-modules-delta/et-6248brb,
   and I got the syncd container crashed while bringing up the helix4 platform. It seemed that SAI would scan all Broadcom ports would base on the port_config.ini to remove the unnecessary ports. When removing thos

[2019-11-26 14:24] stepanblyschak opened #3822 "during config reload, teamd is restarted twice"
**Description**

Teamd service is restarted twice during config reload/minigraph.
This cause intfmgrd to configure IP address when team devices got created, but then teamd restarts again and recreates teams so IP address is lost on interface.
I believe that there is another issue that intfmgrd cannot reconfigure interfaces after they were recreated, which makes teamd restart whithout bringing down

[2019-11-27 11:36] stepanblyschak commented on #3822
Still happens with https://github.com/Azure/sonic-buildimage/pull/3823.
Config reload is fixed but reboot is not

[2019-11-29 05:16] ArunSaravananBalachandran opened #3831 "Kernel crash is seen upon configuring eth0 ip in mgmt vrf"
**Description**

Kernel crash is seen upon configuring eth0 ip in mgmt vrf

**Steps to reproduce the issue:**

Kernel Crash occurred once with mgmt vrf  , on configuring ip on eth0 , after restarting bgp docker

**Describe the results you received:**

Crash Logs:

.

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2019-11-30 09:43] stephenxs opened #3832 "orchagent crashes due to transfer_attributes: src vs dst attr id don't match GET mismatch"
**Description**
On SONiC, orchagent crashes sporadically with the error message "orchagent failed due to transfer_attributes: src vs dst attr id don't match GET mismatch".
It looks like a sai-redis issue. I guess the flow is like someone tried fetching attribute SAI_SWITCH_ATTR_EGRESS_BUFFER_POOL_NUM to sai-redis but the sai-redis was busy handling some other request or stuck when handling this re

[2019-12-01 07:26] liat-grozovik commented on #3822
Note: this issue is reproduced on both master and 201811

[2019-12-01 21:56] lguohan commented on #3822
do we know the reason why teamd restart twice in config reload?

[2019-12-02 00:15] jleveque commented on #3822
@lguohan: The `config reload` issue was due to the teamd dependency being moved to swss.sh for purposes of warm-reboot, but dhcp_relay still had an explicit dependency on temd. This was fixed in https://github.com/Azure/sonic-buildimage/pull/3823, confirmed by @stepanblyschak in the comments above. I have not seen this issue during reboot. @yxieca: have you seen this occur during reboot?

[2019-12-02 01:51] yxieca commented on #3822
Joe,

I never noticed teamd starting twice with just reboot. According to our finding, this would leave system in broken state. So I am leaning towards to say it didn't happen or happened seldomly.

Regards,
Ying

[2019-12-02 02:07] lguohan commented on #3822
@stepanblyschak is correct, at least I can see the teamd docker has been stopped and restarted during the reboot process.

[code]

[2019-12-02 02:20] lguohan commented on #3822
I did two reboots, both show such behavior.

The image is HEAD.168-5b18aa5f , which contains #3823

below is the log, after reboot. you can see teamd docker has been stopped and restarted. I do not know why after syncd started, systemd tried to stop teamd and restart it again.

[code]

[2019-12-02 02:37] lguohan commented on #3822
i think it is caused by this line.

https://github.com/Azure/sonic-buildimage/blob/master/files/scripts/swss.sh#L90

after syncd get started, it will sequentially restart teamd radv dhcp_relay. the above log match.

@yxieca and @jleveque , can you check.

[2019-12-02 02:43] yxieca commented on #3822
The restart was added to address the radv not started properly issue.

And dhcp_relay doesn't care being restarted again.

But I think teamd is currently started after swss. Therefore, in the boot sequence, at the time when we 'restart' teamd, it should not have been started the first time yet.

[2019-12-02 02:43] yxieca commented on #3822
We should look into the change further regardless.

[2019-12-02 05:42] lguohan commented on #3822
"But I think teamd is currently started after swss. ", it is not the case based on the log above. as you can see swss is considered as started in the following log. Then immediately, teamd started.

[code]

[2019-12-02 19:51] lguohan commented on #3832
sai header has been updated to 1.5.1

[2019-12-02 23:30] stephenxs commented on #3832
I checked the log and found the first this error took place is at the beginning of Nov. when is the sai header update merged?
I don't think so since

[2019-12-04 01:24] keboliu commented on #3630
still can observe this issue with the latest 201811 images.

[2019-12-04 07:07] ryan44guo commented on #3798
We reproduced it.
It still came from the frr issue 5369, which tylerlinp brought out.
The root cause is when vrf removed, In zebra, the remained routes in this vrf route table is freed without removing from the fpm_q.
When we remove a vrf, kernel remove all routes about it, but only IPV6 routes send out DELROUTE message. By the way, after kernel 4.11, there is a "skip" option to do not send out DE

[2019-12-04 09:16] stephenxs opened #3842 "One interface is administratively down after config reload/cold start/swss restart"
**Description**

One interface is administratively down after the start flow, including cold start, config reload, swss restart, etc.

**Steps to reproduce the issue:**

This issue can occur after any start flow of SONiC.

**Describe the results you received:**
***The flow should be like this:***

1. system restarts.
2. portmgrd receives admin status notification and set port's admin status to up

[2019-12-04 10:10] tylerlinp commented on #3798
Yes, crash is because issue [frr#5369](https://github.com/FRRouting/frr/issues/5369)(bug 1). But it is different #3763 that only fixed delroute failure(bug 2). There should be bug 3 in frr7.2, that is when downing interface the routes pointing to it didn't clear(I think frr7.1 maybe do right), such as default route here existing until vrf mgmt removed.

I found 2 other issues when reading scripts.

[2019-12-04 10:46] kannankvs commented on #3798
@ryan44guo , @prsunny : Regarding temporary workaround/solution # 1 to remove this route from kernel manually, I am not sure what is missing. As per the current sequence of operations, following things are already happening.
1) Before mvrf is created, 0.0.0.0/0 is getting deleted from the routing table "default" (this is done using "ifdown --force eth0" that happens from interfaces-config.sh). It

[2019-12-04 11:05] kannankvs commented on #3798
@tylerlinp : W.r.t. crash, can we assume that the crash will be fixed irrespective of the 2 other issues that you mentioned?

Regarding the 2 other issues, please see my inline replies.
a)  lo-m create/remove in lo up/down. I think it is wrong, it should do in mgmt and should do set master first to avoid vrf moving.
<<Kannan.KVS>> lo-m is kept inside lo to keep the related interfaces together. Sin

[2019-12-04 12:37] tylerlinp commented on #3798
@kannankvs Yes, the crash will be fixed irrespective of the 2 other issues that I mentioned. To avoid crash, we should assure to delete routes first then to down eth0. In interfaces.j2, change `down` to `pre-down` would work.

[code]

others:

a) At least set master before add ip, or else lo-m add a global ip then move vrf.
[code]
I think lo-m should create with mgmt rather than lo up, lo-m and lo

[2019-12-04 12:45] tylerlinp commented on #3798
c) What is the meaning to add a directly connected route in interfaces.j2?
`up ip {{ '-4' if prefix | ipv4 else '-6' }} route add {{ prefix | network }}/{{ prefix | prefixlen }} dev eth0 table {{ vrf_table }}`

[2019-12-04 13:55] kannankvs commented on #3798
@tylerlinp : Couple of doubts.
1) w.r.t "pre-down" suggestion, do we need to do this if the zebra crash is fixed? I think that zebra should work even without this "pre-down" change and hence this change is not a mandatory change. If the fix for zebra crash is going to take longer time, we can do this "pre-down" change as a temporary workaround. Reason for my point is that "down" was the solution t

[2019-12-04 14:22] kannankvs commented on #3798
@tylerlinp : regarding the "connected" routes, we followed the code that already existed before mvrf implementation.
It was doing "ip -4 route add 100.104.47.0/24 dev eth0 table default", where it was adding this connected route in table "default".
Kernel was already adding this route in table "main" (and "local"). But, this command is adding the route in another routing table "default" and it add

[2019-12-04 14:27] #3822 closed

[2019-12-04 15:13] lguohan opened #3843 "reuse load_minigraph in sonic utilities in config-setup and updategraph"
**Description**
in #3227

can't the command "config reload or config load -m <>" be used ?
This code here replicated steps from load_minigraph() function in sonic-utilities/config/main.py
If someone updates that part, they should also be updating it here. Doing it like this opens doorway to config load getting out of sync between "config load" and through ztp

**Steps to reproduce the issue:**
1.

[2019-12-04 15:13] lguohan commented on #3843
@rajendra-dendukuri

[2019-12-05 01:49] tylerlinp commented on #3798
@kannankvs
1. I think "pre-down" is the right thing no matter what zebra does. For kernel self, it will clean routes in handling interface down. So deleting routes make sense only if before handling interface down.
2. It conflicts with global lo before moving to mgmt. So vrf workgroup reached an agreement, setting vrf with no ip addresses. Now we can see many meanningless calculation in zebra to h

[2019-12-05 06:07] #3821 closed

[2019-12-05 16:24] volodymyrsamotiy opened #3849 "[swssconfig]: Unable to apply large number of config entries in one JSON file"
**Description**
Unable to apply large number of config entries in one JSON file using ```swssconfig``` tool inside ```swss`` docker container.

**Steps to reproduce the issue:**
1. Prepare JSON file with the 40960 config entries (e.g. VNET route entries were used, but it could any other configuration)
2. Go to ```swss``` container and try to apply prepared config: ```# swssconfig <file>.json```
3.

[2019-12-05 17:37] kannankvs commented on #3798
@tylerlinp :
1. I still think that both pre-down and down are right. In any system, if users bring down the interface before deleting the default route that uses that interface, the application should handle it. Anyway, instead of debating further, we will go ahead and change it to pre-down to avoid the zebra crash.
2. To avoid the calculations in zebra, we will go ahead and change the order.
3. S

[2019-12-05 19:43] kannankvs commented on #3803
When management vrf is created, it uses the /etc/network/interfaces where there is an addition line "vrf mgmt" inside "eth0" which will enslave the eth0 in "l3mdev:mgmt". There is no explicit command to set "mgmt" as master for eth0. This line "vrf mgmt" takes care of setting the "master" for eth0.
Similarly, when management vrf is deleted, the modified /etc/network/interfaces file will not have t

[2019-12-06 02:07] ryan44guo commented on #3798
@kannankvs logically, pre-down and down both should be right, but that's only logically.
In my opinion, linux kernel shall send out DELROUTE to application which registered netlink "route", cause it had send out ADDROUTE for it. But they said that's their design to reduce the number of messages, so the applications must register "link" when they only want the "route". You can consider that frr sho

[2019-12-06 06:31] kannankvs commented on #3798
@ryan44guo : Got it. As mentioned earlier, we will go ahead and make the changes. Just to understand it better, if we have route delete command in "down", is it not getting executed?

[2019-12-06 09:23] ryan44guo commented on #3798
@kannankvs : I am not very sure about the "down" hook call is before or after the down command. So I tested it, it had not send out DELROUTE messages. So I think the "down" hook is called after the "down" command, but before post-down.
Of course, it is executed, but for these route stuff, the routes had been deleted by kernel, so no action really do in these nonexistence routes deletion actions.

[2019-12-06 12:26] kannankvs commented on #3798
I changed the interfaces.j2 and raised the [PR3853](https://github.com/Azure/sonic-buildimage/pull/3853).
@ryan44guo , @tylerlinp  : I am assuming that we shall keep this gitissue open until the FRR code is fixed. If you know who might be fixing it, request you to kindly tag them here.

[2019-12-09 21:33] byu343 opened #3862 "[bgpcfgd] bgp peer is not added successfully sometimes"
**Description**
We experienced an random error on bgpcfgd:
Dec  9 20:07:44.264702 ck417 ERR bgp#bgpcfgd: Peer 10.0.0.1. Error in rendering the template for "SET" command {'rrclient': '0', 'name': 'router1', 'local_addr': '10.0.0.0', 'nhopself': '0', 'holdtime': '180', 'asn': '8074', 'keepalive': '60'}

The result of this error is bgp peer not being added.

The error should be raised from the line:

[2019-12-11 15:03] stephenxs opened #3871 "reboot cause test failed if warm-reboot follows any kind of hardware-caused reboot"
**Description**
If switch has rebooted due to some hardware cause (power, watchdog) and then is warm-rebooted, its hardware reboot causes are not cleared, which fails the reboot cause handling by platform API.
For example, if the system is rebooted by power cycle (cutting down power supply) then its reboot files representing a power-cycle reboot. after that, a warm reboot is executed and after sys

[2019-12-12 08:43] wangxin opened #3881 "db migration failed if switch image from master to 201811"
**Description**

If change image from latest master to latest 201811 on SONiC, db migration will fail on the 201811 image. IP address of the management interface is lost. Switch is not running with correct configuration at all. The workaround is to run `sudo config load_minigraph -y` after image switch. Then run `sudo config save -y`.

**Steps to reproduce the issue:**
1. Install the latest master

[2019-12-13 07:23] wangxin commented on #3511
@DhinakaranDayalan It looks like there is issue with establishing SSH connection to the PTF host.

[code]

This task is to be executed on the PTF host.

[2019-12-18 12:26] stephenxs commented on #3871
fixed by [[process-reboot-cause]Address the issue: Incorrect reboot cause returned when warm reboot follows a hardware caused reboot #3880](https://github.com/Azure/sonic-buildimage/pull/3880)

[2019-12-18 12:26] #3871 closed

[2019-12-18 19:23] yxieca opened #3927 "Propose a further code clean up on top of PR #3880"
This is not an issue. But rather an enhancement request.

With PR https://github.com/Azure/sonic-buildimage/pull/3880 merged. We have a better calculation of reboot cause in different sequence of hardware/software reboot.

I propose to further clean up the calculation/processing code to following structure:

calculate command line (/proc/cmdline) reason.
calculate software reason.
calculate hardwa

[2019-12-20 11:43] mini-nair-dell opened #3934 "syncd crash with warm-reboot on T0 topology"
Description
+++++++++++++++

-	Observing orchagent and syncd crash while performing warm-reboot in Master image 157
-	The issue seen with only T0 topology and not T1-lag-64 topo
-	After the crash, many dockers are not running.
- 	Attached the traces from the core

Pls find the logs below. The issue is not see in the master image 154

Syslog snippet:

Dec 20 06:15:56.828794 sonic-s6100-07 ERR swss#

[2019-12-20 11:53] mini-nair-dell commented on #3934
[Core-Traces.txt](https://github.com/Azure/sonic-buildimage/files/3988164/Core-Traces.txt)

[2019-12-20 12:03] mini-nair-dell commented on #3934
[syslogs.syncd.docx](https://github.com/Azure/sonic-buildimage/files/3988206/syslogs.syncd.docx)

[2019-12-23 09:16] leoli-nps commented on #1771
@stcheng , This patch only resolves issue [#2066](https://github.com/Azure/sonic-buildimage/issues/2066), but the problems in this bug are still not resolved. In this bug, although the portchannel's operator state is down, its admin state is still up. Please check!

[2019-12-24 17:31] Magni79 opened #3942 "Wrong MTU size in ICMP (type 3,code 4) if fragmentation is needed. Reproduced for interface Vlan only."
**Description**
If MTU of egress Vlan interface is less than a size of routed packet, DUT sends ICMP unreachable message (towards a source of such packet)  with misguided MTU size.
**This bug Is reproduced for Interface Vlan only and is not reproduced for regular L3 interfaces.**

**Steps to reproduce the issue**
![setup](https://user-images.githubusercontent.com/59200236/71420738-a1793a00-267f-11

[2019-12-24 19:55] Magni79 opened #3943 "Received untagged traffic is treated as tagged with vlan 1 in case of existing sub-interfaces on this particular port."
**Description**

Received untagged traffic is treated as tagged with vlan 1 in case of existing sub-interfaces on this particular port.
![setup](https://user-images.githubusercontent.com/59200236/71423655-81ec0c80-2693-11ea-8e72-76a5eb35c4b7.jpg)

**Steps to reproduce the issue**
1. Create two sub-interfaces Ethernet44.10, Ethernet44.20 and assign IP addresses on each of them and Ethernet44 as wel

[2019-12-25 03:10] #2279 closed

[2019-12-25 07:54] fillmorechen0928 opened #3944 "Tomahawk3 (TH3) SDK init fail after Upgrade broadcom SAI to 3.7.3.2"
Description
+++++++++++++++
2019/ 12 /19  [broadom]: Upgrade broadcom SAI to 3.7.3.2

Tomahawk3 (TH3) SDK init fail after Upgrade broadcom SAI to 3.7.3.2

Syncd Log:

sonic INFO syncd#supervisord: syncd Platform configuration file "/usr/share/sonic/hwsku/th3-snj60b0-32x400G.config.bcm" is used#015
sonic INFO syncd#supervisord: syncd Platform Boot flags: 0x0#015
sonic NOTICE syncd#syncd: message re

[2019-12-25 08:05] fillmorechen0928 commented on #3944
Syslog for Reference:
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/4000003/syslog.txt)

[2019-12-26 14:19] kcudnik commented on #3832
From sairedis.rec.3:
`2019-11-14.12:05:11.162217|g|SAI_OBJECT_TYPE_SWITCH:oid:0x21000000000000|SAI_SWITCH_ATTR_AVAILABLE_IPV4_ROUTE_ENTRY=1233539504
2019-11-14.12:06:11.165038|G|SAI_STATUS_FAILURE
2019-11-14.12:06:11.165926|g|SAI_OBJECT_TYPE_SWITCH:oid:0x21000000000000|SAI_SWITCH_ATTR_AVAILABLE_IPV6_ROUTE_ENTRY=1233539504
2019-11-14.12:07:11.226903|G|SAI_STATUS_FAILURE
2019-11-14.12:07:11.227339|g

[2019-12-26 16:22] stephenxs commented on #3832
got it.
i agree with your guess. it seems that:

    1. OA has sent 10 messages
    2. and then the msgs 0~8 are time out
    3. and when it is waiting for reply of the 9th msg the 1st reply arrived, thus causing mismatching.

one question, does sairedis handle OA's request in one thread or in multiple threads? if it is handled in one thread, is it possible that log all the requests as well as the

[2019-12-27 11:47] kcudnik commented on #3832
every Get message is synchronous and its processed in single thread, each api is under mutex so only 1 access is done at given time. Messages don't any have id's, so if in communication process any message will time out, and it will arrive later, every next message ids will be mismatched and throw exception

[2019-12-27 12:39] stephenxs commented on #3842
after swss called "enable ports", the netdev is still shutdown.

[2019-12-27 12:46] stephenxs commented on #3832
is it possible to turn on the log of all the messages?
maybe sairedis.rec can help but seems it can also lost message sometimes. is there any debugging options which can be turned on from cli ?

[2019-12-27 13:11] kcudnik commented on #3832
you can enable INFO or DEBUG logging for sairdis/orchagent but it will NOT log message that arrived late, take a look here: https://github.com/Azure/sonic-sairedis/blob/master/lib/src/sai_redis_generic_get.cpp#L216
and values are not logged, only operand and key, values are logged here https://github.com/Azure/sonic-sairedis/blob/master/lib/src/sai_redis_generic_get.cpp#L232, which i mentioned bef

[2019-12-30 08:36] stephenxs commented on #3842
Update the issue with the latest findings.

[2019-12-31 05:23] stephenxs commented on #3814
@lguohan I see the following errors in the log. Is it a consequence of this issue?

    Dec 25 19:35:00.407786 r-boxer-sw01 ERR swss#intfmgrd: :- addLoopbackIntf: Command '/sbin/ip link add Loopback0 mtu 65536 type dummy && /sbin/ip link set Loopback0 up' failed with rc 512
    Dec 25 19:35:00.420626 r-boxer-sw01 ERR swss#intfmgrd: :- exec: /sbin/ip address "add" "10.1.0.32/32" dev "Loopback0": Su

[2020-01-02 16:08] Magni79 opened #3964 "PFCWD detection and restoration times exceed than configured ones."
**Description**
After completing a series of tests it's found out that PFC storm detection and restoration time violate configured values.

**Describe the results you received:**
25 iterations were performed for each pair of PFCWD storm detection/restoration time.
Below you can see the average value of PFC storm detection/restoration time.
The average values exceed configured ones:
![Clipboard01](

[2020-01-02 16:19] dflynn2019 commented on #3673
Hi,

I am struggling to understand precisely how Sonic installs the appropriate
Broadcom based platform modules debian package during the first boot of a
given device SKU based on that platform. Here's the snippet from the SONiC
Porting Guide where this is mentioned.

SONiC images are compiled for each ASIC vendor, and as such are designed to
be installed on any supported device running that vendo

[2020-01-02 19:11] jleveque commented on #3673
@dflynn2019: Hi Dennis. I believe the logic you're looking for resides in /etc/rc.local. For example, the following line will install all .deb packages under the directory with the ONIE platform string: https://github.com/Azure/sonic-buildimage/blob/master/files/image_config/platform/rc.local#L244

[2020-01-03 02:57] richard28530 commented on #3944
Nov 10 21:21:30 sonic kernel: [    8.927921] linux_kernel_bde: loading out-of-tree module taints kernel.
Nov 10 21:21:30 sonic kernel: [    8.931057] linux-kernel-bde (500): _init(2957):use_msi = 0
Nov 10 21:21:30 sonic kernel: [    8.932518] linux-kernel-bde (500): Not find vendor(0x184e) device(0x1004) bus
Nov 10 21:21:30 sonic kernel: [    8.932522] linux-kernel-bde (500): Not find vendor(0x184

[2020-01-03 07:44] inspurSDN commented on #2813
I have the same issue on master, any solution?

[2020-01-03 12:35] MaxYaremchuk opened #3971 "dynamic_th failed because redis sends unchanged field to orchagent when updating dynamic_th"
**Description**
It's impossible to change `dynamic_th` value for lossless buffer profile which has been applied to some ports **on the fly**.

**Describe the results you expected:**
It should be eligible to change `dynamic_th` parameter on the fly.

**Describe the results you received:**

1. The new value for dynamic_th is not offloaded to hardware.
2. There are errors in syslog:
[code]

**Steps t

[2020-01-03 20:09] jjohnson42 commented on #3821
Do you remember how you reloved this?

[2020-01-03 21:44] dflynn2019 commented on #3673
Thanks Joe. That's what I was looking for.
Billie has also helped to set me straight on this.

Dennis

On Thu, Jan 2, 2020 at 2:11 PM Joe LeVeque <notifications@github.com> wrote:

[2020-01-05 00:06] judyjoseph commented on #3944
Hi,
    In the log file the TH3 device is detected by linux-kernel-bde driver after the reboot .. ? Check towards the end of the syslog attached ..

Nov 10 21:52:02.174190 sonic INFO opennsl-modules[502]: Load OpenNSL kernel modules... /etc/init.d/opennsl-modules: line 51: /usr/share/sonic/device/x86_64-alphanetworks_snj60b0_320f-r0/platform_env.conf: No such file or directory
Nov 10 21:52:02.1770

[2020-01-05 05:28] zhenggen-xu opened #3976 "sonic-telemetry_0.1_amd64.deb failed to build on 201811"
**Description**

**Steps to reproduce the issue:**
1.  Make
 ENABLE_SYSTEM_TELEMETRY = y
in rules/config file

2. Build telemetry deb package with:
make target/debs/sonic-telemetry_0.1_amd64.deb

**Describe the results you received:**
[code]

**Describe the results you expected:**
Build should be successful.

Reverted last two commits (4bb02f5  and aaa9188) in https://github.com/Azure/sonic-teleme

[2020-01-06 16:41] #3453 closed

[2020-01-06 16:42] #3527 closed

[2020-01-06 22:34] dzhangalibaba commented on #3976
I guess the sonic-mgmt-frame is not there on 201811 which is introduced recently. today telemetry build depends on sonic-mgmt-frame codes. BRCM guys may take a look.

[2020-01-06 23:19] dlringor opened #3983 "Accton-AS9716-32D - decode-syseeprom error"
**Description**

**Steps to reproduce the issue:**
1. Install last successfulbuild sonic-broadcom.bin build date Jan 6, 2020, (SONiC Software Version: SONiC.HEAD.168-dirty-20200106.050955)
2. run the command "show version" and "show plaform syseeprom" to hit the error
3.

**Describe the results you received:**
admin@sonic:~$ show version

SONiC Software Version: SONiC.HEAD.168-dirty-20200106.05095

[2020-01-07 07:51] wangxin opened #3986 "snmp AgentX socket bind failed"
**Description**

In syslog of SONiC switch, below error can be constantly observed:

[code]

This issue is only observed on master image. This error message failed many test cases because of loganalyzer.

**Steps to reproduce the issue:**
1. No special step is required. Just check /var/log/syslog.
2.
3.

**Describe the results you received:**
Error message `ERR snmp#snmp-subagent [ax_interface] ER

[2020-01-08 06:15] fillmorechen0928 commented on #3944
Issue fixed.
Porting guide updates about platform_env.conf.
But i don't know about this.

[2020-01-08 06:16] #3944 closed

[2020-01-08 10:05] chitra-raghavan opened #3989 "[Sflow]: Samples are received by collector even after deleting collector through cli"
**Description**

Samples are  received by Sflow collector  even after  deleting collector through cli
1. Config Collector

[code]
2. Check samples with sflowtool

[code]

3. Delete Collector

[code]

4. Check for samples . It continues to receive samples

[code]

**Steps to reproduce the issue:**
1.Config and delete sflow collector
2.Check if samples are not received after deletion

**Describe the

[2020-01-08 10:39] chitra-raghavan opened #3990 "[Sflow-Sonic VS]: "config sflow interface disable all" doesn't disable sflow for non default interface"
**Description**

"config sflow interface disable all" doesn't disable sflow for non default interface

Ethernet4,Ethernet8,Ethernet112,Ethernet116,Ethernet120,Ethernet124 are configured with non default values like non-default sampling rate or sflow disabled . These interfaces are not removed with "config sflow interface disable all"  command

[code]

**Steps to reproduce the issue:**
1. Enable sf

[2020-01-08 10:46] chitra-raghavan opened #3991 "[Sflow]: Kernel panic is seen when packets are received in sflow interface with different packet length"
**Description**

[Sflow] : Kernel panic is seen upon sending Icmp packets with different packet size to interface in  which sflow is enabled

[code]

ping the DUT interface ip from peer  continuously with different packet size.  Check  for kernel crash

[code]

**Steps to reproduce the issue:**
1. configure ip address on an interface
2. enable sflow on that interface
3. ping the interface IP addre

[2020-01-08 11:35] wally-wang-accton commented on #3983
You can reference
https://github.com/Azure/sonic-buildimage/pull/3985
You need to update two files.
platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_util.py
device/accton/x86_64-accton_as9716_32d-r0/plugins/eeprom.py

[2020-01-08 16:32] lguohan commented on #3944
is there a PR to fix this issue?

[2020-01-08 20:21] zhenggen-xu commented on #3976
Yes, even the multi-DB changes in the telemetry docker should not be included on 201811 branch.  We should change the makefile to download the particular branch/commit-id for different sonic-buildimage codebase/branches.

[2020-01-08 20:23] dzhangalibaba commented on #3976
correct. I discussed with MSFT team, we need to change telemetry to use submodule as other comp did.

[2020-01-09 08:32] fillmorechen0928 commented on #3944
No, this is for porting new platform.

Thanks a lot.

[2020-01-09 20:29] dzhangalibaba commented on #3976
I submit the fix for this issue , it should be OK on the latest.

[2020-01-09 20:31] dzhangalibaba commented on #3976
https://github.com/Azure/sonic-buildimage/pull/3997
https://github.com/Azure/sonic-buildimage/pull/3995

[2020-01-10 04:24] #3976 closed

[2020-01-10 07:34] dawnbeauty opened #4006 "Request incorrect shutdown type when fast reboot"
**Description**
When fast reboot, we should request syncd FAST shutdown to keep data plane running.

syncd.cpp:
[code]

But, in `sonic-buildimage/files/scripts/syncd.sh`, there are `warm` and `cold` shutdown types, seems like it missing the `FAST`.
[code]

**Steps to reproduce the issue:**
1. fast-reboot

**Describe the results you received:**
request syncd cold shutdown

**Describe the results yo

[2020-01-10 13:11] mkovnir opened #4009 "[teamd]: different portchannels configured with same LACP key"
**Description**

According to 6.3.3 of IEEE 802.1AX-2014:
An Aggregator also shall be assigned an integer identifier that is used by Link Aggregation Control to **uniquely identify** the Aggregator within the System.

SONIC system starts teamd (separate process for each portchannel)  without specifying LACP key, and default value ("0") is used for different portchannels. This lead to situation whe

[2020-01-10 14:45] mkovnir opened #4010 "[Mellanox]: unable to create ACL IPv6 table"
**Description**

ACL_TABLE_L3V6 table on Mellanox switches cant be created due to unsupported ETHERTYPE field.

**Steps to reproduce the issue:**
1. Configure section ACL_TABLE with type "L3V6" and section ACL_RULE with one rule.
Example:
{
"ACL_TABLE": {
        "port29-v6-in": {
                "policy_desc": "ingress v6 acl for port29",
                "type": "L3V6",
                "ports": [

[2020-01-10 14:54] mkovnir opened #4011 ""show run acl" returns traceback when no ACL_RULE present in configuration"
**Description**

When configuration doesnt contain ACL_RULE, cli command "show run acl" returns exception.

**Steps to reproduce the issue:**
1. Assure your running configuration doesnt contain ACL_RULE section - cli command `show run all | grep -e '"ACL_RULE"'` should return nothing.
2. Issue cli command "show run acl"

**Describe the results you received:**
root@r-qa-sw-eth-2134:/home/admin# sho

[2020-01-10 15:34] mkovnir opened #4012 ""show run interfaces" returns traceback when no INTERFACE is present in configuration"
**Description**

CLI command "show run acl" returns traceback when no INTERFACE is present in configuration

**Steps to reproduce the issue:**
1. Assure your configuration doesnt have "INTERFACE" section - CLI command `show run all | grep -e '"INTERFACE"'` should return nothing.
2. Issue CLI command "show run acl"

**Describe the results you received:**
root@sonic:/home/admin# show run interfaces

[2020-01-10 16:26] mkovnir opened #4013 "system is not operable after reboot if configuration contains portchannel"
**Description**

System is not operable (ports are down, containers are restarting) after reboot with configuration with PORTCHANNEL

**Steps to reproduce the issue:**
1. Boot system without any PORTCHANNEL
2. Configure system with 1 portchannel and 2 or more member links
3. Verify that portchannel is up and passing traffic.
4. save configuration and reboot

**Describe the results you received:**

[2020-01-13 10:24] liat-grozovik commented on #3986
Need to be fixed for 201911 release

[2020-01-13 13:29] banagiri opened #4015 "portchannel ip is lost after reboot, but config reload works fine"
**Description**

when device is rebooted having IP on portchannel, the IP address is not recovered.
An explicit config reload or write config_db.json to DB gets the IP address.

**Steps to reproduce the issue:**
1. create portchannel
2. add ip address
3. config save
4. relaod
5. check the "show ip interface" output or dump redis DB

**Describe the results you received:**
Portchannel ip is missing

[2020-01-13 17:50] jeff-yin commented on #3989
hsflowd was not deleting the last sflow collector once it was removed. Padman has notified InMon of the issue and their latest hsflowd version should address this issue.

[2020-01-14 01:03] #3407 closed

[2020-01-14 01:03] #3358 closed

[2020-01-14 01:04] #3025 closed

[2020-01-14 04:01] Junchao-Mellanox opened #4019 "[Issue] Monit service cause many regression test cases failed due to log analyze error, need revert it or disable it"
**Description**

I noticed that there is a new service "monit" enabled recently, and it trigger error logs when some critical process absence. However, it would cause regression test failure for log analyzing error. Is there a way to disable monit while running regression test?

This monit service randomly failed test cases. A number of test cases such as fdb, sfp_presence and so on has observed t

[2020-01-14 10:23] keboliu opened #4021 "Sensord not able to start up on both master and 201911 branches"
**Description**

Sensord inside PMON container failed to boot up in current master and 201911 branches, the error log as below:

[code]

**Steps to reproduce the issue:**
1. Install an image build from master or 201911 and that can observe this issue every time after boot up.
2.
3.

**Describe the results you received:**
Sensord failed to start up

**Describe the results you expected:**
Sensord sh

[2020-01-14 19:57] martin-belanger opened #4024 "sonic-vs: rsyslogd constantly uses over 80% CPU"
**Description**
When running **`sonic-vs`** as a VM, **`rsyslogd`** constantly consumes over 80% CPU.

Here's the output of "`top`".
[code]
Running **`tail -f /var/log/syslog`** shows no activity in the syslog. In other words, nothing on the system is currently generating large amounts of logs.

My VM is configured with 8G RAM and 4 CPUs.

**Steps to reproduce the issue:**
1. Create a VM to run **

[2020-01-14 22:16] #3989 closed

[2020-01-15 12:42] liat-grozovik commented on #4019
Please note that 201911 images are full of such errors which cause many of the tests which to fail due to log analyzer. I dont know who added this service but we should have it fixed ASAP or revert this for now.

[2020-01-15 16:30] #3991 closed

[2020-01-16 13:01] #3964 closed

[2020-01-16 13:46] liat-grozovik commented on #4010
Mellanox team will review and provide a fix.
Need to close the expected behaviour first and later on we will describe the solution.

[2020-01-16 14:03] liat-grozovik commented on #4009
@pavel-shirshov can you please check the below? how do you think the key should be assigned?

[2020-01-16 16:11] yxieca commented on #4019
Would it make more sense for log analysis tool to ignore relevant critical process missing alert when stop/restarting them?

[2020-01-16 17:31] vsenchyshyn commented on #4019
There is also problem in monit itself as for example monit_syncd checks for syncd presence with "/usr/bin/syncd --diag" command. But syncd launch parameters are vendor specific so for example we get error log that syncd is not running for BFN platform whereas it is up and running. Also this continuous error log for telemetry which always crash doesn't add too much information. So, at least in this

[2020-01-16 18:09] prsunny commented on #2760
Looks like fixed as part of https://github.com/Azure/sonic-swss/pull/1159

[2020-01-16 19:07] lguohan commented on #4019
can you provide the error log?

[2020-01-16 19:18] vsenchyshyn commented on #4019
Jan 16 14:22:51.322829 cab18-3-dut ERR monit[589]: 'syncd' process is not running

[2020-01-16 19:28] yozhao101 commented on #4019
@yxieca @lguohan I will talked to Joe to fix this issue ASAP.

[2020-01-16 22:08] pavel-shirshov commented on #4009
Thank you @mkovnir for reporting the issue. @liat-grozovik We should assign unique keys for each portchannel in sonic to prevent the issue. I'll create a patch as soon as I have time.

[2020-01-16 22:10] pavel-shirshov commented on #4009
@mkovnir Would you like to create such patch? You need to fix the configuration here: https://github.com/Azure/sonic-swss/blob/master/cfgmgr/teammgr.cpp#L507
I can help you with the PR

[2020-01-17 01:04] jleveque opened #4034 "DaemonBase: object has no attribute 'syslog'"
In the `signal_handler()` method, the DaemonBase class references member object "syslog", but it doesn't exist (see https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-daemon-base/sonic_daemon_base/daemon_base.py; lines 105, 107, 110, 113). Unsure if DaemonBase was intended to be derived from the Logger class, or if it was meant to instantiate a Logger member object and reference that

[2020-01-17 01:05] jleveque commented on #4034
@stephenxs: Can you please look into this? It appears as though it was introduced by your PR https://github.com/Azure/sonic-buildimage/pull/3281

[2020-01-17 01:08] stephenxs commented on #4034
@jleveque sure, will check it.

[2020-01-17 02:58] Junchao-Mellanox commented on #4019
I have updated the issue description.

[2020-01-17 03:48] prsunny commented on #4015
Can you check if this is fixed by https://github.com/Azure/sonic-swss/pull/1159

[2020-01-17 05:08] banagiri commented on #4015
++ @antony-rheneus
@prsunny ,
 the issue tells about config reload, load minigraph and docker restart, which we have also observed that portchannel would be staying in system even after cleaning startup config.

Here, the issue raised is related to system reboot.

[2020-01-17 06:41] Junchao-Mellanox opened #4038 "[Issue] See error in syslog: telemetry#supervisord: start.sh dialout: ERROR (abnormal termination)","
**Description**

This issue was seen on 201911 image and cause log analyze failed. I run into this error on acl test, and this error happened on other test case too.

Error log:
Jan 16 23:38:16.322615 r-tigris-13 INFO telemetry#supervisor-proc-exit-listener: Process telemetry exited unxepectedly. Terminating supervisor...
Jan 16 23:38:16.324233 r-tigris-13 INFO telemetry#supervisord: start.sh dial

[2020-01-17 10:12] msosyak commented on #4034
I guess that `self.` before syslog is redundant as syslog is a module imported, not a member of some class.

[2020-01-17 15:43] stephenxs commented on #4034
Hi @jleveque,
Originally syslog was a module imported in daemon_base.py, introducing an issue which was fixed in [PR 3281](https://github.com/Azure/sonic-buildimage/pull/3281). The PR was intended to introduce a logic to enforce class Logger is destroyed ahead of module syslog being destroyed by define module syslog as a member of class Logger. It has nothing to do with the DaemonBase class.
So I

[2020-01-17 16:02] stephenxs commented on #3649
Hi @pavel-shirshov,
We found that this issue can also take place after a cold reboot. When it takes place after a cold reboot, the error message is the same.

[2020-01-17 16:19] stephenxs commented on #4034
Hi @jleveque , I create a draft PR to resolve this issue. can you take a look? [# 4039](https://github.com/Azure/sonic-buildimage/pull/4039)

[2020-01-17 16:46] mkovnir commented on #4013
By default interfaces have MTU 9216, but config utility creates portchannel with MTU 9100 (and member links reconfigured with MTU 9100 on fly).

If system boots with configuration where portchannel and member links have different MTU - it cant successfully configure interfaces.

If systems boot with configuration where portchannel and member links have same MTU - no issue observed.

[2020-01-17 22:04] #3862 closed

[2020-01-20 12:10] mkovnir commented on #4009
@pavel-shirshov Sorry, I am not a developer and dont know how to patch the code.

[2020-01-20 17:32] MaxYaremchuk opened #4044 "Failed to remove bridge port PortChannel0002 from default 1Q bridge in case of removing a vlan from a portchannel."
**Description**
During removing a vlan from a portchannel error occurs and the portchannel keeps in DOWN-state until perform rebooting

**Steps to reproduce the issue:**
1.Create a PortChannel0002 `config portchannel add PortChannel0002`
2.Assign ports to PortChannel0002
`config portchannel member add PortChannel0002 Ethernet48`
`config portchannel member add PortChannel0002 Ethernet52`
[code]
3.

[2020-01-21 11:21] chitra-raghavan commented on #2665
Evenafter adding the vlan  port in config_db and deleting later , upon assigning ip address to the port , It shows Master as Bridge. Only config save and reload helps.

[code]

[2020-01-21 18:00] dlringor commented on #3983
Hi Wally-wang,

Thank you for the information.  I have updated the two files that you mentioned and edit the following (I just changed the number 56 to 57):

On sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_util.py:
line 128: 'echo 24c02 0x57 > /sys/bus/i2c/devices/i2c-0/new_device',

On sonic-buildimage/device/accton/x86_64-accton_as9716_32d-r

[2020-01-21 21:33] pavel-shirshov commented on #4009
@mkovnir No problem. I'll try to fix the issue as soon as I have some time

[2020-01-22 11:42] msosyak opened #4049 "[warm-reboot] Warm reboot failed on T0 due to pending tasks"
**Description**
warm-reboot command failed with following error:
[code]

**Steps to reproduce the issue:**
1. deploy t0 topology
2. run warm-reboot command

**Describe the results you received:**
The switch is not rebooted

**Describe the results you expected:**
The switch should do a warm reboot

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `s

[2020-01-22 16:08] msosyak commented on #4049
Looks like some configuration for Loopback0 interface is not cleared during deploy topology.
Here is the DB dump and `ip addr` output before deploy topology:
[code]
[code]
after deploy topology command:
[code]
[code]

and ip addr after reboot:
[code]

[2020-01-23 08:12] stephenxs commented on #3774
Multiple reasons cause this issue.
1. The test script issue. For split ports the test script tries resetting/setting LPM on a per-logical interface basis rather than a per-SFP module basis, which means some SFP module can be reset multiple times in a short time if it has been split into multiple ports. This has been resolved in [[platform/test_sfp]Operate SFP only once for split ports when resetti

[2020-01-24 13:01] nazariig opened #4059 "[mgmt-framework]: unable to parse schema file sonic-acl-deviation.yin"
**Description**

mgmt-framework pollutes syslog with the following error messages:
[code]

**Steps to reproduce the issue:**
1. Install SONiC.HEAD.13-a29a2a49 [201911]
2. Deploy t1-lag topo

**Describe the results you received:**
mgmt-framework pollutes syslog with the error messages and makes a lot of tests fail

**Describe the results you expected:**
no error message are expected while operating

[2020-01-25 08:25] lguohan commented on #4024
I do not see this in the public sonic kvm image.

[code]

[code]

[2020-01-27 15:42] volodymyrsamotiy opened #4070 "[teamd] Port-channel interface is down after system/config reload"
**Description**
Port-channel goes down after few system/config reloads and one member port is operationally down in kernel although it is up in APP_DB and SDK/SAI.
* It is not always reproducible but can be observed after all types of reboots/reloads: 1) ```config reload```; 2) ```cold/fast/warm reboot```; 3) ```minigraph load config```.
* Also it was observed on both typologies with port-channels

[2020-01-27 22:12] wendani commented on #3798
[code]

[2020-01-28 10:14] mini-nair-dell opened #4076 "S6100-T1-'telemetry' process is not running"
The below logs appear in the switch while running regression test on S6100-T1-lag-64 topology

 "Jan 27 21:14:25.500634 sonic-s6100-10 ERR monit[536]: 'telemetry' process is not running",
        "Jan 27 21:14:25.522567 sonic-s6100-10 ERR monit[536]: 'dialout_client' process is not running",
        "Jan 27 21:14:25.544090 sonic-s6100-10 ERR monit[536]: 'sflowmgrd' process is not running",

[2020-01-28 13:42] liat-grozovik commented on #3881
IMO this is by design.
Upgrade flow is suppose to always work while downgrade is not.
This means probably that the downgrade flow requires some manual setting port downgrade or clear configuration manually before reboot to old version.

I believe this issue should be closed.

[2020-01-28 17:55] #4024 closed

[2020-01-28 17:56] martin-belanger commented on #4024
Thanks for trying it.

It must be something with the way I build or run the VM. I will keep looking.

[2020-01-29 21:30] pavel-shirshov commented on #4009
Another approach https://github.com/Azure/sonic-swss/pull/1117

[2020-01-29 23:17] prsunny commented on #3798
Closing as #3853 is merged

[2020-01-29 23:18] prsunny commented on #3798
@wendani , is it a new issue? if so, can you raise an issue

[2020-01-29 23:33] pavel-shirshov commented on #3798
I'll make this open to track the proper fix of the issue.

[2020-01-30 14:20] atrens commented on #1131
Hi Folks,

Curious if this has actually been fixed - can we expect to be able to do GRE (0x6558) encapsulated Everflow monitoring on SONiC?   Or, going forward, will only ERSPAN (0x88be) be supported?

Cheers,

--Andrew

[2020-01-30 14:39] volodymyrsamotiy commented on #3986
This issue is also observed on latest ```201811``` SONiC image (e. g. ```SONiC.HEAD.29-0a2e9da```)

[2020-01-31 01:52] wangxin commented on #3881
Close it according to comments from liat-grozovik

[2020-01-31 01:52] #3881 closed

[2020-01-31 09:55] mini-nair-dell opened #4089 "S6100-T0-64-Continuous Orchagent crash is seen in the latest Jenkins image HEAD.187-dirty-20200130.072127."
Continuous Orchagent crash is seen in the latest Jenkins image HEAD.187-dirty-20200130.072127.

Though all the containers were initially up, few of them stopped running after a few minutes

Attached the syslog.

root@sonic-s6100-07:/var/log# docker ps
CONTAINER ID        IMAGE                            COMMAND                  CREATED             STATUS              PORTS               NAMES
a530

[2020-01-31 10:10] mini-nair-dell commented on #4089
[syslogs-orchagent.zip](https://github.com/Azure/sonic-buildimage/files/4138739/syslogs-orchagent.zip)

[2020-01-31 12:42] banagiri commented on #3436
@lguohan
We have marvell platform ready for amd64, could you add marvell x86_64 also to jenkins

[2020-02-01 00:00] dlringor opened #4096 "SONiC.HEAD.187-dirty-20200130.072127"
I am installing sonic on AS9716-32d. Help please..

admin@sonic:~$ show version

SONiC Software Version: SONiC.HEAD.187-dirty-20200130.072127
Distribution: Debian 9.11
Kernel: 4.9.0-9-2-amd64
Build commit: 5383e2c7
Build date: Thu Jan 30 07:30:49 UTC 2020
Built by: johnar@jenkins-worker-7

Platform: x86_64-accton_as9716_32d-r0
HwSKU: Accton-AS9716-32D
ASIC: broadcom
/usr/bin/decode-syseeprom : ERR

[2020-02-02 23:38] lguohan commented on #4089
this looks likes a broadcom SAI issue.

[2020-02-03 00:09] lguohan opened #4095 "sonic-platform-modules-dell s6000 build failure does not cause job build failure"
**Description**

**Steps to reproduce the issue:**
1. check the buid log
2.
3.

**Describe the results you received:**
s6000 build failure should cause the dpkg-buildpackage -uc -ub to fail. However such failure is ignored.

**Describe the results you expected:**
Please improve the build script not to ignore any error.

**Additional information you deem important (e.g. issue happens only occasiona

[2020-02-03 00:10] lguohan commented on #4095
[platform-modules-z9100_1.1_amd64.deb.log](https://github.com/Azure/sonic-buildimage/files/4145735/platform-modules-z9100_1.1_amd64.deb.log)

[2020-02-03 08:25] lguohan commented on #4096
platform driver issue. @roylee123

[2020-02-03 08:34] jostar-yang commented on #4096
Dlringor,
Can you help check belwo cmd,
systemctl status as9716-32d-platform-monitor.service -l
decode-syseeprom

[2020-02-03 08:36] lguohan commented on #2507
the root cause of issue is https://github.com/moby/moby/issues/38420

temp workaround is here:
[code]

[2020-02-03 09:22] jostar-yang commented on #4096
Please merge code from #3985 to your local build. My code still not be merged on master.
Update Code is
platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_util.py
device/accton/x86_64-accton_as9716_32d-r0/plugins/eeprom.py

[2020-02-04 16:31] xinliu-seattle commented on #4095
@padmanarayana to make sure the fix is in.

[2020-02-04 16:33] xinliu-seattle commented on #4089
plan is to pull back the change, will follow up with asic vendor. @Abdosi

[2020-02-04 16:39] xinliu-seattle commented on #4076
@padmanarayana to take a look at sflow part.
@Pradiya to take a look at the telemetry part.

[2020-02-04 16:39] padmanarayana commented on #4095
@santhosh-kt raised https://github.com/Azure/sonic-buildimage/pull/4108

[2020-02-04 16:41] kannankvs commented on #3803
I am looking into kernel code to find the root cause for refcnt increment for the device.
Analyzing the kernel [patch](https://github.com/torvalds/linux/commit/996b44fcef8f216ea0b6b6e74468c5a77b5e341f#diff-07a34bde5a1c422186acb5d57d6adc2b) to see how it resolves the issue.

[2020-02-04 16:43] xinliu-seattle commented on #4059
@Ben to help to find the right contact for mgmt.-frame.

[2020-02-04 16:46] xinliu-seattle commented on #4049
@yxieca please help to triage this issue in the warm reboot subgroup.

[2020-02-04 16:53] xinliu-seattle commented on #4038
@Pradyna to take a look.

[2020-02-04 16:57] xinliu-seattle commented on #4015
@banagiri , can you please share platform information, configDB.json, show version to help us understand this issue better. thanks.

[2020-02-04 17:48] yxieca commented on #4049
@msosyak can you give a bit more detail on:

- What is your platform / hardware sku (unlikely related, just want to try with a testbed similar to yours).
- What is the command you used to deploy? (I supposed that you used testbed-cli.sh to deploy, please give me the parameters you provided and the testbed definition in testbed.csv file).

[2020-02-04 18:38] dlringor commented on #4096
Hi Jostar-yang,

I will just be using the one built Jan20. Here is the output from the two commands:

admin@sonic:~$ sudo systemctl status as9716-32d-platform-monitor.service -l

● as9716-32d-platform-monitor.service - Accton AS9716-32D Platform Monitoring se

   Loaded: loaded (/lib/systemd/system/as9716-32d-platform-monitor.service; enab

   Active: active (running) since Fri 2016-12-16 12:18:16

[2020-02-05 09:09] #3649 closed

[2020-02-05 09:09] #4070 closed

[2020-02-05 14:08] msosyak commented on #4049
Close this issue as it is not reproducible anymore on latest image.
I look like this https://github.com/Azure/sonic-swss/pull/1141 PR fixed this issue.

[2020-02-05 14:08] #4049 closed

[2020-02-05 20:53] qiluo-msft commented on #3986
I tested https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-201811/29/artifact/target/sonic-mellanox.bin and it works fine.

I tested https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all/164/artifact/target/sonic-mellanox.bin and the bug is reproducible.

[code]

[2020-02-06 03:13] qiluo-msft commented on #3986
This bug is introduced by https://github.com/Azure/sonic-buildimage/pull/3928
And later fixed by https://github.com/Azure/sonic-buildimage/pull/4002

I tested https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all/169/artifact/target/sonic-mellanox.bin and confirm it is working.

Please be aware the bug is exposed by a ill-format `/etc/sonic/snmp.yml`, and if you use

[2020-02-06 03:13] #3986 closed

[2020-02-06 13:31] mykolaf opened #4118 "Service reload failure due to multiple "--net" args in 'docker create'"
**Description**
A few recent changes introduced an issue with restarting services like nat and mgmt-framework.

The reason is [diff](https://github.com/Azure/sonic-buildimage/commit/abe7ef7e2e2e1215c97cee19a83aab0b130cebe5#diff-c8afa64378a9e3327b28e115326db5f2R291) decided to specify `--net` separately, while few services still have [this](https://github.com/Azure/sonic-buildimage/blob/master/rule

[2020-02-06 15:10] mkovnir opened #4120 "config utility allows inteface ip configuration with invalid values for ip / mask"
**Description**

config utility allows configuration of interfaces with invalid values :
1. network (first address from subnet) and broadcast (last address of subnet) addresses
2. mask lower then 8
3. ip address from reserved special ranges (0.0.0.0/8, 127.0.0.0/8, 224.0.0.0/4, 240.0.0.0/4)
4. values with leading zeros

**Steps to reproduce the issue:**
1. configure interfaces with ip addresses
`c

[2020-02-06 15:26] mykolaf commented on #4118
@lguohan This one blocks our regression testing. Could you please take a look at fix I provided? #4119
The fix is needed in 201911 as well.

[2020-02-06 23:37] abdosi commented on #4118
@mykolaf Changes are fine in PR.

[2020-02-07 00:27] #4118 closed

[2020-02-07 04:42] dutta-partha commented on #4059
This is due to the problem that path settings for libyang extension plugin is outdated with new libyang repo changes. You can assign this defect to me.

[2020-02-07 07:16] mini-nair-dell opened #4127 "S6100-T0-64/T1-LAG-64/ Restart of syncd doesnt stop the syncd process"
Sync restart request doesnt get triggered in November images

HEAD.238-a24e040

Steps to Repro:
+++++++++++++++
1) Trigger syncd docker restart

root@sonic-s6100-07:~# docker exec -i syncd /usr/bin/syncd_request_shutdown --cold
requested COLD shutdown

2) Check for the syncd process.

root@sonic-s6100-07:~# pgrep syncd -a
3652 fpmsyncd
4358 /bin/bash /usr/local/bin/syncd.sh wait
4362 /bin/bash /us

[2020-02-07 16:46] Magni79 opened #4129 ""libteamdctl: teamdctl_connect: Failed to connect using all CLIs" after a range of consecutive creation/deletion an interface portchannel"
**Description**
This BUG is reproduced intermittently.
After a range of consecutive creation/deletion an interface portchannel teamd fails.

**Steps to reproduce the issue:**
1. Create a portchannel
`config portchannel add PortChannel0001`
2. Add members to PortChannel0001
`config portchannel member add PortChannel0001 Ethernet0`
`config portchannel member add PortChannel0001 Ethernet4`
3. Assign

[2020-02-08 02:01] prsunny commented on #3842
@zhenggen-xu , can you please check this? I'm not sure if its something broken recently.

[2020-02-08 02:12] prsunny commented on #3814
Closing this as it is fixed as part of - https://github.com/Azure/sonic-swss/pull/1141

[2020-02-08 02:12] #3814 closed

[2020-02-10 10:29] ArunSaravananBalachandran commented on #3831
[PR114](https://github.com/Azure/sonic-linux-kernel/pull/114) merged in sonic-linux-kernel

[2020-02-10 10:29] #3831 closed

[2020-02-12 02:50] keboliu commented on #4021
@jleveque, would you please help to confirm is this only happened on the Mellanox platform or you also observed on other vendors' platforms?

[2020-02-12 06:58] fillmorechen0928 commented on #4021
This issue is the same on Broadcom platform.

The pmon docker can't run "service sensord start" in script lm-sensors.sh.

Reference:
https://github.com/Azure/sonic-buildimage/blob/f49cac086f8421bf5d76a4798c4906700a322a50/dockers/docker-platform-monitor/lm-sensors.sh

[2020-02-12 09:53] banagiri commented on #4015
@xinliu-seattle
the issue was easily reproduced with the commit id
[code]

to reproduce, just we need to configure portchannel through cli commands, once the portchannel is up and fine, save config and reboot.

the portchannel in "show interfaces portchannel" shows as down, and no members will be active

[2020-02-12 14:29] mkovnir opened #4142 "Portchannel with subinterfaces lead to orchagent crash"
**Description**

Orchagent crash if configuration contain Portchannel in routed mode with subinterfaces.

**Steps to reproduce the issue:**
1.  Apply the following sample configuration:
[code]

**Describe the results you received:**
After configuration apply orchagent crashs and the following errors are appear in syslog:
[code]

**Describe the results you expected:**
Portchannel with subinterfaces

[2020-02-12 14:57] #4034 closed

[2020-02-12 16:09] liat-grozovik commented on #4059
When should he expect a fix?

[2020-02-12 16:11] lguohan commented on #4059
@dutta-partha , do we have an eta for the fix?

[2020-02-12 16:12] lguohan commented on #4059
btw, is this the same problem? this is the latest master image.

admin@vlab-01:~$ show version

SONiC Software Version: SONiC.HEAD.243-51fa5e46
Distribution: Debian 9.12
Kernel: 4.9.0-9-2-amd64
Build commit: 51fa5e46
Build date: Tue Feb 11 11:53:09 UTC 2020
Built by: johnar@jenkins-worker-12

[code]

[2020-02-13 02:08] abdosi commented on #4089
@mini-nair-dell Can you check on latest master.  Have updated libsaibcm*.deb package.

[2020-02-13 03:26] dutta-partha commented on #4059
@lguohan I believe this should be same problem. REST server will throw FATAL error if it can't parse the schema files as libyang could not load extension and user-type plugins.

[2020-02-13 07:22] mini-nair-dell commented on #4089
Hi,

I loaded the latest Jenkins image 197, and observe the following issues:

- All interfaces down
- Orchagent crash seen
- sensord doesnt run

Updated the syslog

Thanks
Mini

[2020-02-13 07:23] mini-nair-dell commented on #4089
root@sonic-s6100-07:/var/log#
root@sonic-s6100-07:/var/log#
root@sonic-s6100-07:/var/log# cd /var/core
root@sonic-s6100-07:/var/core# ls
orchagent.1581576559.82.core.gz  orchagent.1581577064.93.core.gz
orchagent.1581576839.90.core.gz
root@sonic-s6100-07:/var/core# docker ps
CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              POR

[2020-02-13 09:19] timmy00274672 commented on #2813
@inspurSDN

Have you manually deleted this folder and re`make`d again?

[2020-02-13 09:42] inspurSDN commented on #2813
@timmy00274672 remake is work, thanks.

[2020-02-13 21:47] #4059 closed

[2020-02-17 10:07] mini-nair-dell commented on #3934
The issue is seen with the latest Jenkins Master image : #202

[2020-02-18 07:05] mini-nair-dell opened #4158 "S6100-T0-64-syncd crash seen multiple times- HEAD.202-dirty-20200217.042028"
Description:
+++++++++++++++
Syncd crash is seen in the latest images. The issue can be seen after reboot of the box.

root@sonic-s6100-07:/var/core# ls -ltr
total 214760
-rw-rw-rw- 1 root root 10466984 Feb 17 09:06 syncd.1581930399.65.core.gz
-rw-rw-rw- 1 root root  1645338 Feb 17 09:08 zebra.1581930533.77.core.gz
-rw-rw-rw- 1 root root  9439828 Feb 17 09:34 syncd.1581932086.70.core.gz
-rw-rw-rw-

[2020-02-18 07:12] mini-nair-dell commented on #4158
[syncd_crash.zip](https://github.com/Azure/sonic-buildimage/files/4217850/syncd_crash.zip)

[2020-02-18 07:41] mini-nair-dell commented on #4158
"Feb 18 07:19:12.936682 sonic-s6100-07 INFO mgmt-framework#supervisord: rest-server ERROR: logging before flag.Parse: I0218 07:19:12.934859   15209 lldp_app.go:61] Init called for LLDP modules module",
        "Feb 18 07:19:12.936833 sonic-s6100-07 INFO mgmt-framework#supervisord: rest-server ERROR: logging before flag.Parse: I0218 07:19:12.934882   15209 app_interface.go:82] Registering for path

[2020-02-18 11:58] stepanblyschak opened #4159 "warm-reboot test fails with #4125"
**Description**

Image containing following change https://github.com/Azure/sonic-buildimage/pull/4125 does not pass warm-reboot test.
Image with reverted change in arp_update passes warm reboot test every time.

This change causes VLAN neighbor flapping during the test.
Current assumption is that the change is using ping to VLAN neighbor; in warm reboot test conditions there are no real neighbors

[2020-02-18 15:02] stepanblyschak opened #4160 "FEATURE table is not handled properly"
**Description**

*FEATURE* table is not properly handled:
- hostcfgd does not handle FEATURE table on system start.
- systemd will start disabled services anyway
- default FEATURE table configuration defined in init_cfg.json will not be migrated to new images
(e.g. a newer sonic image adds new feature with default disabled state in init_cfg.json, this change will not be loaded in config db if user

[2020-02-19 00:52] dlringor opened #4167 "minipack"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-02-19 00:52] #4167 closed

[2020-02-19 05:37] kannankvs commented on #3803
Kernel [patch](https://github.com/torvalds/linux/commit/996b44fcef8f216ea0b6b6e74468c5a77b5e341f#diff-07a34bde5a1c422186acb5d57d6adc2b) is resolving the issue. This patch and the [related patch](https://github.com/torvalds/linux/commit/bc044e8db7962e727a75b591b9851ff2ac5cf846) are available in the kernel 4.19 that is used in Buster release that is going to be added in SONiC for 202006 release. Hen

[2020-02-20 06:09] wangxin opened #4173 "config load_minigraph failed with "Job for sflow.service failed""
**Description**

After upgrade the switch and run "config load_minigraph -y", it failed with "Job for sflow.service failed".

**Steps to reproduce the issue:**
1. Upgrade the switch
2. Run "sudo config load_minigraph -y"
3.

**Describe the results you received:**
Config load_minigraph failed with "Job for sflow.service failed"

**Describe the results you expected:**
Config load_minigraph should be

[2020-02-22 06:24] dev-aviz opened #4184 "DUT doesn't flush fdb entries on port link down"
**Description**
(DUT)Device Under Test  does not flush mac entries on port link down.

**Expected:**
Switch should remove all MAC entries learned on inactive/down ports

**Issue observed**

- Broadcom
- Mellnox

**Steps to reproduce the issue:**
1. Configure Ethernet10 as trunk port and allow Vlan 10
2. Send L2 traffic with SMAC = 00:AA:AA:AA:AA:00 -> 00:AA:AA:AA:AA:09
3. Switch learns MAC address

[2020-02-22 06:38] dev-aviz opened #4185 "LAG hashing is not working"
**Description**
LAG hashing doesn't work

**Steps to reproduce the issue:**

**Topology:**
IXIA ---(p24)EC-Spine (p0-p7) ---------------- (p0-p7) EC-Leaf (p24)---- IXIA

**Configuration:**
**Spine Config:**
config portchannel add PortChannel1
config portchannel member add PortChannel1 Ethernet0
config portchannel member add PortChannel1 Ethernet1
config portchannel member add PortChannel1 Ethernet

[2020-02-22 06:41] dev-aviz commented on #4185
Accidently closed the issue, so reopened it.

[2020-02-22 06:48] dev-aviz opened #4186 "Portchannel going down when remove/add from vlan member ports"
**Description**
Portchannel going down when remove/add from vlan member ports

**Describe the results you received:**
Portchannel going down when remove/add from vlan member ports

**Describe the results you expected:**
Portchannel shouldn't go down when remove/add from vlan member ports

**Steps to reproduce the issue:**

**Topology:**

3 IXIA ports ---- Mellanox Leaf1 ----- pch1 --------- Mellan

[2020-02-22 06:57] dev-aviz opened #4187 "NTP functionality broken"
**Description**
NTP functionality is not working as expected.

**Describe the results you received:**
Switch time and date is not sync with NTP server

**Describe the results you expected:**
Expect switch time and date should sync with NTP server

**Steps to reproduce the issue:**
Confgured NTP server on MGMT interface

root@sonic:~# show ntp
     remote           refid      st t when poll reach

[2020-02-22 15:29] abdosi commented on #4173
@wangxin  Please check latest master. It should be fix now.

[2020-02-22 16:01] dev-aviz opened #4188 "BGP sesssion shouldn't stuck in Idle/Active state on changing loopback as router ID."
**Description**
BGP sesssion shouldn't stuck  in Idle/Active state on changing loopback as router ID.

**Describe the results you received:**
BGP sesssion shouldn't stuck  in Idle/Active state on changing loopback as router ID.

**Describe the results you expected:**
BGP shouldn't stuck  in Idle/Active state on changing loopback as router ID.

**Steps to reproduce the issue:**
1. Apply default BGP

[2020-02-22 16:12] dev-aviz opened #4189 ""show mac" command hangs with 32K mac address learnt on the hardware"
**Description**
 "show mac" command hangs with 32K mac address learnt on the hardware

**Describe the results you received:**
 "show mac" command hangs with 32K mac address learnt on the hardware

**Describe the results you expected:**
 "show mac" command shouldn't hang with 32K mac address learnt on the hardware

**Steps to reproduce the issue:**
Topology:
topology with EC spine connected to Cele

[2020-02-23 03:32] keboliu opened #4190 "Telemetry error log "telemetry#supervisord: start.sh dialout: ERROR (abnormal termination)""
**Description**
There is some telemetry related error log in the syslog, it can be observed from time to time, it can be observed in 201911 version, e.g.; SONiC.HEAD.36-f197f0d2

`'Feb 12 15:59:56.809685 arc-switch1038 INFO telemetry#supervisord: start.sh dialout: ERROR (abnormal termination)\n`

**Steps to reproduce the issue:**
1. not exactly know how to reproduce it but can observe it from time

[2020-02-24 09:05] mini-nair-dell commented on #3934
The fast-reboot and warm-reboot stucks with the latest master. And the below cores seen as well.

Image - HEAD.209-b8561545
root@sonic-s6100-07:/var/core# ls -ltr
total 34636
-rw-rw-rw- 1 root root 10441474 Feb 24 07:12 syncd.1582528323.69.core.gz
-rw-rw-rw- 1 root root 10483127 Feb 24 08:10 syncd.1582531855.92.core.gz
-rw-rw-rw- 1 root root   278605 Feb 24 08:12 orchagent.1582531955.131.core.gz
-

[2020-02-25 07:37] wangxin commented on #4173
I am closing this issue since it was not observed on SONiC-OS-HEAD.39-887ea003 from the 201911 branch.

[2020-02-25 17:37] prsunny commented on #4159
Can you please try with fix #4165 ?

[2020-02-26 16:32] gord1306 commented on #4038
@Junchao-Mellanox , did you put the certificate inside the switch, I have the same issue and check the history of this PR #3759, it enables the security mode for telemetry when generating the minigraph file, if no certificate file found, the telemetry will be not up

[2020-02-27 01:41] Junchao-Mellanox commented on #4038
@gord1306 thanks, I will check it.

[2020-02-28 05:01] lguohan opened #4204 "hostname does not match /etc/hosts"
**Description**

   After merging PR https://github.com/Azure/sonic-buildimage/commit/1ef740361c4ee4e00cadc29fe2228ac5712afefd, there are lots of vsimage test failures.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/2685/console
https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/2686/
https://sonic-jenkins.westus2.cloudapp.azure.

[2020-02-28 09:11] koenkooi commented on #3503
Not anymore, that url only has linux_4.9.189-3+deb9u2.dsc nowadays.

[2020-02-28 09:20] koenkooi commented on #3503
[code]

[2020-02-28 09:21] koenkooi commented on #3503
But that's a bandaid, the real fix would be to either properly maintain the branch or mirror the files it uses.

[2020-02-28 09:40] simonJi2018 commented on #3503
I have move this from deb9u3 to deb9u5 by myself

[2020-02-28 11:09] banagiri commented on #4184
this also happens when a member port is removed from vlan.
in linux fdb table the entries are flushed, but not from sonic

[2020-03-04 18:01] stepanblyschak commented on #4159
Fix works, thanks!

[2020-03-04 18:01] #4159 closed

[2020-03-06 04:36] wangxin opened #4230 "snmp-subagent MIBUpdater exception loc_chassis_data not subscriptable"
**Description**

During testing, this kind of error messages were observed in syslog:

[code]

**Steps to reproduce the issue:**
1. SONiC switch is running t1-lag topology
2. Check /var/log/syslog
3.

**Describe the results you received:**
Error message `ERR snmp#snmp-subagent [ax_interface] ERROR: MIBUpdater.start() caught an unexpected exception` in syslog.

**Describe the results you expected:*

[2020-03-06 05:18] dgsudharsan opened #4231 "BGP neighbor configurations are not pushed to frr when DEVICE_NEIGHBOR_METADATA is not present"
**Description**
When config_db.json does not have DEVICE_NEIGHBOR_METADATA, the BGP neighbor configurations present in config_db.json are not pushed to FRR.

The dependency on device_neighbor_metadata was introduced in this pull request
https://github.com/Azure/sonic-buildimage/pull/3694/files
**Steps to reproduce the issue:**
1. Add BGP neighbor entries in config_db.json
2. Do not add DEVICE_NEIG

[2020-03-09 08:20] AlexanderVeber opened #4236 "[VNET] proxy ARP not enabled by default"
**Description**

Proxy ARP is not enabled by default by VNET configuration and needs to be manually enabled by Linux toolson the relevant RIFs.

for Example:
[code]

**Describe the results you expected:**
Proxy ARP enabled when a RIF is assigned to a VNET

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-03-09 08:30] AlexanderVeber opened #4237 "[VNET] VNET networks are advertised through BGP after warm-reboot or config reload"
**Description**

When VNET configuration is saved to config_db and "config reload" or "warm-reboot" are done, FRR configuration is updated to advertise VNET network.

The networks are added to FRR configuration under " address-family ipv4 unicast" as another network to advertise.

**Steps to reproduce the issue:**
1. Configure VNET and attach a RIF.
2. Save the configuration to config_db.json
3. P

[2020-03-09 08:35] veber-alex opened #4238 "[VNET] VLAN sub interface RIFs are not assigned to VNET"
**Description**

VLAN sub interfaces are not attached to VNET and appear in the global routing table.

**Steps to reproduce the issue:**
1. Load the following two configurations:
[code]

[code]

**Describe the results you received:**

The RIFs are not attached to VNET and show in global routing table:
[code]

[code]

**Describe the results you expected:**
VLAN interface RIF should work with VNET t

[2020-03-09 18:25] rlhui commented on #4089
@mini-nair-dell , a brcm new SAI was merged, can you please check again if this issue is fixed? Thanks.

[2020-03-10 12:16] rpjday opened #4243 "Minor README issue, "git clone" doesn't recurse into submodules"
Instruction in README suggests normal "git clone" will recurse into submodules; pretty sure you need "--recurse-submodues" for that, no? Or am I misreading?

rday

[2020-03-10 12:55] msosyak commented on #4243
Submodules are automatically cloned during the `make init` step.

Not sure if the `make init` will update submodules in the case you pull the latest changes with new submodules ref points.

[2020-03-10 13:07] rpjday commented on #4243
I noticed that, I was pointing out that, earlier on that page, the git clone command used is described as cloning recursively, which it doesn't, that's all. (The header above that also suggests the git clone command will fetch "all git submodules" -- again, that is inaccurate.)

[2020-03-10 16:56] SavchukRomanLv opened #4247 "[supervisor-proc-exit-listener] Error message in syslog if feature is not supported"
**Description**
Error message in syslog appears if feature is not supported
After changes, made in https://github.com/Azure/sonic-buildimage/pull/4208 for nat container, error messages appears in syslog.

**Steps to reproduce the issue:**
Run crm test on t0 topology:
`ansible-playbook test_sonic.yml -i inventory --limit <testbed> -e testbed_name=<testbed> -e testbed_type=t0 -e testcase_name=crm`
*

[2020-03-12 06:02] CYKuanTW commented on #4089
@rlhui
Hi, my ASIC is broadcom Tomhawk 3, i have the same problem, and i have updated my SONiC to the latest version (include commit #4233), and the issues is still exist.

Error logs as follows:
[code]

I also found that the version of Brcm SAI is "3.7.3.3-2" in syncd container,
even though my SAI package was pulled from URL: "https://sonicstorage.blob.core.windows.net/packages/bcmsai/3.7/libsaib

[2020-03-12 23:11] #4247 closed

[2020-03-13 07:09] santhosh-kt commented on #4089
@rlhui still observing orchagent crash in Jenkins image-HEAD.221-fc91f81d having latest brcm SAI

    root@s6100:/var/core# pgrep orchagent -a
    root@s6100:/var/core#
    root@s6100:/var/core# ls
    orchagent.1584083053.43.core.gz
    root@s6100:/var/core#

[2020-03-13 16:58] prsunny commented on #4237
Fix as part of - https://github.com/Azure/sonic-buildimage/pull/4260

[2020-03-16 11:49] wangxin opened #4264 "Starting hw-management service on simX failed by org.freedesktop.PolicyKit1"
**Description**

Starting the hw-management service on platforms like x86_64-mlnx_msn3700_simx-r0 or x86_64-mlnx_msn2700_simx-r0 failed with below error:

[code]

**Steps to reproduce the issue:**
1. Upgrade to the latest master image on mlnx SimX platform.
2. The hw-management service is not started after reboot.
[code]
3. Try to start the hw-management service using "systemctl start hw-managemen

[2020-03-17 13:10] tuhooo opened #4270 "build 201911 with platform=cavium failed"
I clone and build sonic with steps below:

[code]

and it failed with this message:

[code]

It seems that linux kernel in sonic-slave-stretch-xu not match when compiling cavm_platform_modules.

[code]

in directory /lib/modules only exists:

[code]

I hope to get some help!

[2020-03-17 13:11] tuhooo opened #4271 "build failed"
I clone and build sonic with steps below:

[code]

and it failed with this message:

[code]

It seems that linux kernel in sonic-slave-stretch-xu not match when compiling cavm_platform_modules.

[code]

in directory /lib/modules only exists:

[code]

I hope to get some help!

[2020-03-17 13:11] #4271 closed

[2020-03-17 15:29] liat-grozovik commented on #4013
this is a major bug in 201911 as well. it is a degradation issue and must be handled soon for approving 201911 as GA level

[2020-03-18 05:43] gord1306 commented on #4038
@Junchao-Mellanox , you can try to create the folder directly and put the key / certifacte inside this path
[code]

[2020-03-18 07:09] santhosh-kt commented on #4089
Core details:
[code]

[2020-03-18 11:19] nazariig opened #4276 "[nat]: Unable to retrieve features for container 'nat'"
**Description**

NAT service pollutes syslog with the following error messages:
[code]

**Steps to reproduce the issue:**
1. Install SONiC-OS-HEAD.49-055d7cd1 [201911]
2. Deploy t1-lag topo

**Describe the results you received:**
NAT service pollutes syslog with the error messages and makes a lot of tests fail

**Describe the results you expected:**
no error message are expected while operating in

[2020-03-18 14:43] mykolaf opened #4277 "rpc image - No module named ptf"
**Description**

Faced issue while running CoPP test:

[code]

Looks like ptf_nn_agent.py has new dependency. Due to it being downloaded by [wget](https://github.com/Azure/sonic-buildimage/blob/master/platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2#L53) we uncontrollably received an updated version.

**Steps to reproduce the issue:**
1. run CoPP test
2.
3.

**Describe the results you receive

[2020-03-18 15:11] pjeyarat opened #4278 "sonic-config-engine setup.py Absolute Path Vs Relative Path"
Following in sonic-config-engine,

[code]

Is in conflict with python documentation of [setup.py](https://docs.python.org/3/distutils/setupscript.html) . The data_files path should be relative than absolute. Exact wording from the python documentation is below,

**The directory should be a relative path. It is interpreted relative to the installation prefix**

[2020-03-18 17:50] stepanblyschak commented on #4276
Closing as duplicate - https://github.com/Azure/sonic-buildimage/issues/4247
Fix in - https://github.com/Azure/sonic-buildimage/pull/4250

[2020-03-18 17:50] #4276 closed

[2020-03-19 00:42] zhanggongc opened #4284 "sonic-buildimage:make target/docker-fpm-gobgp.gz reports error !"
make target/docker-fpm-gobgp.gz

it reports following error:
![image](https://user-images.githubusercontent.com/58503468/77020091-8471b000-69bd-11ea-9a87-b62d941a8fba.png)

who can explain this error ?

[2020-03-19 16:01] nazariig opened #4291 "[mgmt-framework]: service fails to start on 201911"
**Description**

Mgmt-framework service fails to start:
[code]

**Steps to reproduce the issue:**
1. Install SONiC 201911
2. Deploy t0 topo
3. service mgmt-framework restart

**Describe the results you received:**
mgmt-framework fails to start

**Describe the results you expected:**
mgmt-framework service should be operational or disabled

**Additional information you deem important (e.g. issue ha

[2020-03-19 16:02] nazariig opened #4292 "[telemetry]: service fails to start on 201911"
**Description**

Telemetry service fails to start:
[code]

**Steps to reproduce the issue:**
1. Install SONiC 201911
2. Deploy t0 topo

**Describe the results you received:**
telemetry fails to start:
[code]

**Describe the results you expected:**
telemetry service should be operational or disabled

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output

[2020-03-19 16:02] nazariig commented on #4291
@dutta-partha please have a look

[2020-03-19 17:12] nazariig commented on #4277
Closed by https://github.com/Azure/sonic-buildimage/pull/4279

[2020-03-19 17:12] #4277 closed

[2020-03-19 22:21] prsunny commented on #4236
Design proposal - https://github.com/Azure/SONiC/pull/579

[2020-03-20 03:53] rlhui commented on #4089
@santhosh-kt , this bt is different from original issue.  Also adding @daall  and @abdosi to check on the above two.

[2020-03-20 04:15] daall commented on #4089
@santhosh-kt regarding the version number inside of syncd, I uploaded the wrong binary. I forgot to update the changelog before I built it, so the changes were there but the version number did not get updated. Your build should still have the latest SAI, however. I've updated the binary to reflect the correct version number, so you can try it again to confirm if you would like. Apologies for the c

[2020-03-20 05:45] abdosi commented on #4089
@santhosh-kt @mini-nair-dell
Can you run 201911 and confirm ? We are running 201911 and don't see the issue. Intially we were seeing below error

syncd: :- processEvent: failed to execute api: set, key: SAI_OBJECT_TYPE_LAG_MEMBER:oid:0x1b000000000b1e, status: SAI_STATUS_INVALID_PARAMETER

Is it seen now also or some other error ? Also can you attach /var/log/syslog.

[2020-03-20 08:31] santhosh-kt commented on #4089
@daall @abdosi  will check and revert back to this thread.

[2020-03-20 10:28] wangxin commented on #4264
According to this post (https://unix.stackexchange.com/questions/158494/the-name-org-freedesktop-policykit1-was-not-provided-by-any-service-files/394946#394946), the "org.freedesktop.PolicyKit1" issue is because `systemctl` need root privilege. I am closing this issue.

[2020-03-20 10:28] #4264 closed

[2020-03-20 15:22] dutta-partha commented on #4291
@nazariig REST server is failing to load the certificate file. Is it present in mgmt-framework docker ?
@sachinholla Please provide your input.

"Failed to load server cert/key -- open /etc/sonic/telemetry/streamingtelemetryserver.cer: no such file or directory"

[2020-03-20 16:45] sachinholla commented on #4291
Hi @nazariig , both telemetry and mgmt-framework containers read server certificate configurations from DEVICE_METADATA['x509'] config_db entry. So, both containers should include same certificate files at same path. Please copy /etc/sonic/telemetry/streamingtelemetryserver.cer and /etc/sonic/telemetry/streamingtelemetryserver.key to mgmt-framework repo as well.

[2020-03-20 17:32] stepanblyschak opened #4300 "[test_lldp_neighbor] fails because DUTs port id is mac address"
**Description**

It is possible, that right after lldp service start, lldpd was not configured to use port alias as port id in tlv and by default lldpd sets it to mac address of interface.

[code]

506b.4b8f.d240 - is the MAC of DUT.

**Steps to reproduce the issue:**
1. sudo systemctl restart lldp
2. show lldp neighbors | watch
3.

**Describe the results you received:**
Test fails because it find

[2020-03-22 04:17] stephenxs opened #4304 "rsyslog error message found in syslog and running 'logrotate -f /etc/logrotate.conf' on buster"
**Description**
2 errors regarding rsyslog found during integration.
1. Error logs found in syslog:
[code]
2. Error found when executing the command `logrotate -f /etc/logrotate.conf`
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):*

[2020-03-22 04:22] stephenxs opened #4305 "Debian default reboot routine is executed when user typing "reboot" on buster"
**Description**
Debian default reboot routine is executed when user typing "reboot".
This is because the `/usr/sbin` where the debian default reboot routine sits is in front of `/usr/bin` where the SONiC reboot routine sits in the PATH env. variable, causing Debian's one called when user typing `reboot`.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describ

[2020-03-22 04:55] stephenxs opened #4306 "Error message regarding ntpd found on buster"
**Description**
The following ntpd error message found on buster
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-03-22 16:53] lguohan commented on #4305
is this for buster only?

[2020-03-22 23:35] stephenxs commented on #4305
Yes. It's only observed on buster.
On buster and stretch the PATH is the same:
`/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`
However, on buster the Debian default reboot routine is in `/usr/sbin` while on stretch it's in `/sbin/reboot`, which causes the issue reproducible on buster only.
Another phenomenon, which I don't know whether it's related is that on buster the dirs includi

[2020-03-23 11:44] mini-nair-dell commented on #3934
Couldnt verify this with the latest master, due to orchagent crash.

[2020-03-24 13:39] tieguoevan opened #4315 "sonic-slave-stretch build failed"
**Description**

sonic-slave-stretch cannot be built because debhelper from stretch-backports is conflicted with cmake from stretch
[code]

Without cmake, subsequent compilation will fail
[code]
sonic-jenkins can also see related logs
https://sonic-jenkins.westus2.cloudapp.azure.com/job/bldenv/job/sonic-slave-stretch/110/consoleFull

**Steps to reproduce the issue:**
1. remove existed sonic-slave-

[2020-03-24 22:33] qiluo-msft commented on #4315
I think related to this bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=954852
The upstream is broken.

[2020-03-25 00:53] stephenxs commented on #4304
With -iNONE removed the issue fixed.

[2020-03-25 00:53] #4304 closed

[2020-03-25 03:15] lguohan commented on #4315
I suspect not. it seems to be cause by debhelper

[code]

[2020-03-25 06:10] lguohan commented on #4315
this is a tricky one. here is my analysis:

- smartmontools requires debhelper >= 11, therefore, we need to install debhelper 12.1.1 from stretch-backports.

- debhelper in requires cmake (>= 3.9)

- previously, we install cmake v13.3.2, which is ok. recently, cmake in debhelper is upgraded to v13.6.3 which requires libarchive13 (>= 3.3.3).

- but libarchive13 is not available in stretch-backports

[2020-03-25 14:23] gpaussabrcm commented on #4315
With this change, please keep a close watch on building src/libyang. When I tried this, the newer version of cmake seems to behave differently regarding SWIG, causing the following error:

[code]

Not sure if there are any other build errors in SONiC, but this is the first one I encountered.

For reference, here are the versions installed in my sonic-slave-stretch build container after making the

[2020-03-25 18:20] lguohan commented on #4315
ack. two solutions in my mind

1. upgrade libyang to latest release 1.0.130 to see if there is issue.
2. downgrade debhelper, and only install debhelper 12 before smartmontools and then download debhelper after build smartmontools.

[2020-03-27 01:15] gpaussabrcm commented on #4315
Consider the following change as an additional patch in the src/libyang/patch series:

[code]

             find_program(PYTHON_EXECUTABLE NAMES python${CUR_PYTHON_VERSION})
             execute_process(COMMAND ${PYTHON_EXECUTABLE} -c

The VERSION_LESS check most likely isn't exactly right, but this is meant as an alternative to upgrading the libyang version, and is in addition to the sonic-slave-

[2020-03-27 05:12] chitra-raghavan opened #4331 "[DellEmc S5232]: Orchagent crash is seen with 201911 images"
**Description**

Upon loading T0 or T1 config in S5232 platform ,  orhcagent crashes.

Syslog:

    Mar 17 05:40:02.321023 sonic INFO syncd#supervisord: syncd 0:soc_iproc_data_send_wait: No response for msg 0#015
    Mar 17 05:40:02.321254 sonic INFO syncd#supervisord: syncd 0:soc_cmicx_led_link_status: Led msg id 0x0 send failed, Error Code -3#015
    Mar 17 05:40:03.581098 sonic INFO syncd#super

[2020-03-27 06:56] lguohan commented on #4315
@gpaussabrcm, thanks for the investigation. @qiluo-msft has found the pre-built binary for 3.13.2. we are fixing using this approach. It is probably better to keep cmake the same version.

i think this time lesson learned. I did not realized so many project relies on the cmake. Did not realize cmake is such a basic tool. it is probably not a good idea to cmake from stretch-backports in the first p

[2020-03-27 17:49] #4315 closed

[2020-03-27 19:28] judyjoseph commented on #4331
Could you update the sonic-buildimage and try again. Had seen this issue earlier in master branch ---- advanced the sairedis submodule version to fix it  . Can you check if it works ok ?

[2020-03-28 01:50] lguohan commented on #4331
what is the issue, here? Judy, I see you have reverted the fix in #4336 . is this a broadcom sai issue, or it is a sairedis issue?

[2020-03-28 06:16] judyjoseph commented on #4331
Hi Guohan,
   I reverted the sairedis submodule advance (https://github.com/Azure/sonic-buildimage/pull/4323) because the submodule advance was causing vsimage failures.

The issue reported by here by @chitra-raghavan  -- should get fixed by https://github.com/Azure/sonic-sairedis/commit/59b04301996b88d1c810fbe89f5a6bf323b46bb8.
I had hit this earlier in my testing and wanted to get it fixed in pu

[2020-03-29 08:47] wendani commented on #4142
Thanks for reporting the issue. I just noticed your post.
I believe the problem is here: https://github.com/Azure/sonic-swss/blob/master/orchagent/portsorch.cpp#L617

When adding the parent port oid, we did not check the type of the parent port, whether it is of type PORT (physical port) or LAG (port channel). This should cause the sairedis metadata validation to fail.

[2020-03-30 07:34] stephenxs opened #4338 "swssloglevel -p crashes"
**Description**
`swssloglevel -p` crashes with the following coredump:
[swssloglevel.1585549658.921.core.gz](https://github.com/Azure/sonic-buildimage/files/4401376/swssloglevel.1585549658.921.core.gz)
[code]
The related code
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem importan

[2020-03-30 07:58] chitra-raghavan opened #4339 "[DellEmc S5232]: Orchagent crash is seen in latest master (#238)"
**Description**

Orchagent crash is seen in S5232 , with latest master Jenkins image # 238

**Steps to reproduce the issue:**
1. Load T1 config and check for crash

**Describe the results you received:**
syslog:

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-03-30 14:24] stepanblyschak opened #5497 "[mirroring] mirror rule fails to apply after warm reboot"
MirrorOrch and AclOrch don't process configuration correctly on warm restoration:
[sonic_dump_r-qa-sw-eth-214_20200313_221021.tar.gz](https://github.com/Azure/sonic-swss/files/4403429/sonic_dump_r-qa-sw-eth-214_20200313_221021.tar.gz)

[code]

Adding more information about issue from our internal issue:

Steps to reproduce
1. Enable ISSU
2. Reboot switch
3. Assign ip addresses to interfaces connec

[2020-03-30 15:08] lguohan commented on #4339
does this affect other broadcom platform? can you get the show tech so that we can do some analysis?

[2020-03-30 16:24] #4011 closed

[2020-04-01 03:19] rlhui commented on #4270
@tuhooo, is build still failing for you?

[2020-04-01 03:26] rlhui commented on #4187
@dev-aviz , is it still an issue with latest build in Master? Thanks.

[2020-04-01 03:31] rlhui commented on #4186
@dev-aviz , can you please add "show version" output? Thanks.

[2020-04-01 03:37] rlhui commented on #4127
@mini-nair-dell, is this issue still seen in latest image? Thanks.

[2020-04-01 07:55] santhosh-kt commented on #4089
Sorry for the late update.
@abdosi  Checked with 201911 and yes, the issue was not seen there.
@daall  Checked with recent master version (.238) and saw both syncd and orchagent still crashes,

[2020-04-01 08:41] chitra-raghavan commented on #4339
[syslog-crash.gz](https://github.com/Azure/sonic-buildimage/files/4413865/syslog-crash.gz)

@lguohan , show tech file is about 250 Mb , couldnt upload it , please find syslogs during that time.

[2020-04-01 11:19] ciju-juniper commented on #4339
@lguohan

Orchagent is crashing in the latest master for Juniper QFX5210 platform as well. We don't see any cores yet. So not sure if both the issue are related.

We started seeing crashes after the migration to libsaibcm_3.7.3.3-3.  Opening a new issue.

[2020-04-01 11:40] ciju-juniper opened #4347 "Orchagent crashes after moving to libsaibcm_3.7.3.3-3"
Orchagent process is crashing in Juniper QFX5210 platform after SAI library is moved to libsaibcm_3.7.3.3-3.

Prior to this commit, interfaces used to come up with libsaibcm_3.7.3.3-2:
https://github.com/Azure/sonic-buildimage/commit/590caaf5cfae54dd7b7d152f9a6fbc90cf83f4eb

[sonic_dump_sonic_20200401_165619.tar.gz](https://github.com/Azure/sonic-buildimage/files/4414791/sonic_dump_sonic_20200401_

[2020-04-01 11:42] ciju-juniper commented on #4347
@daall Please help to resolve this issue.  Let me know if you need any further details.

We had verified the image prior to this commit and it was fine.

[2020-04-01 11:43] ciju-juniper commented on #4339
@lguohan Opened https://github.com/Azure/sonic-buildimage/issues/4347

[2020-04-01 13:08] stepanblyschak opened #4350 "Need a way to update CPLD from image binary as done on 201811"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
A way to update CPLD binaries and install them as done for 201811.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-04-01 14:58] #4350 closed

[2020-04-01 15:09] lguohan commented on #4339
[code]

[2020-04-01 15:09] lguohan commented on #4339
looks like the failure is related to the led proc init.

[2020-04-01 15:11] xinliu-seattle commented on #4339
Dell team: this seems a  LED issue, can Dell team triage this?

[2020-04-01 15:15] xinliu-seattle commented on #4347
@gechiang,  can you please take a look first.

[2020-04-01 15:18] lguohan commented on #4347
[code]

seems like syncd crash.

[2020-04-01 15:20] xinliu-seattle commented on #4331
@chitra-raghavan, can you please also take a look at #4339, could be the same LED issue? And please provide >show tech logs. thanks.

[2020-04-01 15:23] xinliu-seattle commented on #4306
This has been resolved, need to cherry to pick the fix to master. Guohan will merge the BUSTER, will close this.

[2020-04-01 15:36] lguohan commented on #4300
according to the discussion, the lldp in the beginning send the mac address, then later lldpmgrd starts and change to use interface name. looks like need test improvement and wait until lldpmgrd starts.

[2020-04-01 15:36] xinliu-seattle commented on #4300
@yxieca can you please triage in the test subgroup meeting?

[2020-04-01 15:38] lguohan commented on #4292
due to missing cert issue.

[code]

[2020-04-01 15:41] xinliu-seattle commented on #4292
@nazariig this is due to missing cert issue, can you please confirm if you used deploy-mg CLI in the test? If yes, need to fix the script by Pra-moh.

[2020-04-01 15:44] lguohan commented on #4291
it is strange that mgmt-framework container tries to read streaming telmetry cert.

[2020-04-01 15:47] xinliu-seattle commented on #4284
@zhanggongc GoBGP is not supported in SONiC anymore, will need help to investigate.

[2020-04-01 15:52] lguohan commented on #4278
the problem here is the those templates are installed by other packages, so it is not easy to use relative path. those files are not coming with sonic-config-engine.

[2020-04-01 15:52] xinliu-seattle commented on #4278
@pjeyarat thanks for the suggestion, this is a lower priority for now. put into backlog as Enhancement.

[2020-04-01 22:52] gechiang commented on #4347
Here are some information that I gathered from the compressed dump file:

From syslog.1:
Apr  1 16:13:56.774737 sonic NOTICE swss#orchagent: :- main: Get switch virtual router ID 3000000000042
...
Apr  1 16:34:01.963292 sonic ERR swss#orchagent: :- wait: SELECT operation result: TIMEOUT on getresponse
Apr  1 16:34:01.963292 sonic ERR swss#orchagent: :- wait: failed to get response for getresponse

[2020-04-01 23:09] srideepDell commented on #4339
@lguohan  in the same log we were able to see issue as #4347. This issue is seen on TH3 platform Z9264F. we have seen this working early Feb or In Jan code base. We don't have image to validate again
-----
Apr  2 12:26:38.509278 sonic NOTICE swss#orchagent: :- set: setting attribute 0x10000001 status: SAI_STATUS_SUCCESS
Apr  2 12:26:38.509278 sonic NOTICE swss#orchagent: :- initSaiRedis: Notify sy

[2020-04-02 06:09] sachinholla commented on #4291
Yes, it is by design. Is DEVICE_METADATA['x509'] entry intended only for telemetry container? I don't think it is practical to have different server & CA certificates for different management services on one box. This must be the reason for having certificate configurations in a generic DEVICE_METADATA['x509'] table entry; while other telemetry service specific configurations (like port) in the TE

[2020-04-02 07:11] lguohan commented on #4291
in this pr, the telemetry is not using its own cert. https://github.com/Azure/sonic-buildimage/commit/a0d213cc3789382748a2c632c7a8713c72e76812

we are deprecating DEVICE_METADATA['x509'] as a cert location.

mgmt-framework should have it's own certs location, even if it decides use the same cert as telemtry. it should still looking for its own location.

[2020-04-02 07:14] lguohan commented on #4339
what about th, and td2 platform. do you observe the same problem as #4347 ?

[2020-04-02 07:19] ciju-juniper commented on #4339
@lguohan #4347 is seen on TH1 platform as well. Updating the #4347 with more details regarding the point of failure and suspected commits.

[2020-04-02 07:19] lguohan commented on #4347
@gechiang, it looks like this is a universal problem on broadom, we got report that this problem happens on td3, th2, th3 platform. likely to happen on th, td2.

Thanks for you logs. but I cannot get much useful information here. can you load the master image on a broadcom switch can see if you can repro this problem?

[2020-04-02 07:24] lguohan commented on #4204
resolved by #4206

[2020-04-02 07:24] #4204 closed

[2020-04-02 07:27] ciju-juniper commented on #4347
We have further narrowed down this issue between two images.

Build #216 (Mar 4, 2020 12:22:35 AM) is the last good label on which things are fine.
[march_4_sonic_dump_sonic_20200402_122706.tar.gz](https://github.com/Azure/sonic-buildimage/files/4419397/march_4_sonic_dump_sonic_20200402_122706.tar.gz)

Build #217 (Mar 5, 2020 12:22:33 AM)  is the build which has the problem.
[march_5_sonic_dump_so

[2020-04-02 07:27] #3497 closed

[2020-04-02 07:32] lguohan commented on #4347
then, I think the leading suspect is the commit #4217

@kcudnik , what further information do you need to debug this #4217?

[2020-04-02 07:36] lguohan commented on #4347
@ciju-juniper, here is what I found from the show tech log.

it looks like syncd is running 100% cpu.

[code]

@kcudnik , i suspect there is a looping in the syncd prevent it from responding of orchagent query. Can you check what is causing the syncd to be running 100%?

[2020-04-02 07:41] ciju-juniper commented on #4347
@lguohan That's right. I've the system running with problematic image. Here is the top indicating the same:

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 3061 root      20   0  798136 412380  62820 S 108.9  2.5  40:14.36 syncd

@lguohan  Please let me know if you need any further details. If needed, we can have a meeting for live debugging.

[2020-04-02 07:43] lguohan commented on #4347
I'll let @kcudnik to chime-in for this issue.

[2020-04-02 09:52] kcudnik commented on #4347
@lguohan if syncd running 100% thats interesting, i see that it was started with "--diag" shell, does this syncd already contain updated patch that will unlock mutex before starting diag shell (https://github.com/Azure/sonic-sairedis/pull/571)?

[2020-04-02 10:25] kcudnik commented on #4347
this line from syslog is interesting:
`Apr  1 16:44:11.954834 sonic NOTICE syncd#syncd: :- startDiagShell: starting diag shell thread for switch RID oid:0x0
`

not sure why switch RID is 0x0, it should be a real object id, so something went wrong there

[2020-04-02 11:17] tim-rj opened #4357 "[Soaking Test] In long term test with DMAC mobility, the memory runs out."
**Description**

**Steps to reproduce the issue:**
1. Port 1 and Port 2 are members of Vlan2, and Port 1 and Port 2 are connected to the tester respectively.
2. Send the same traffic with 2k DMAC to the two ports.

**Describe the results you received:**
Memory continues to grow until memory runs out.

**Describe the results you expected:**
Memory shouldn't run out.

**Additional information you de

[2020-04-02 11:51] sachinholla commented on #4291
Not aware of this enhancement.. We can make similar changes in mgmt-framework startup script also.

hi @nazariig -- if you have pulled the commit a0d213c, please move certificate configurations from DEVICE_METADATA['x509'] to TELEMETRY['certs']. It should resolve the error in mgmt-framework for now.

[2020-04-02 12:51] pjeyarat opened #4358 "Building Sonic With : "KERNEL_PROCURE_METHOD" = download"
Resolving sonicstorage.blob.core.windows.net (sonicstorage.blob.core.windows.net)... 40.79.8.16
Connecting to sonicstorage.blob.core.windows.net (sonicstorage.blob.core.windows.net)|40.79.8.16|:443... connected.
HTTP request sent, awaiting response... 403 Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
2020-03-31 1

[2020-04-02 13:06] pjeyarat commented on #4278
Indeed you are correct. Here are locations within sonic which directly references Absolute path ( /usr/local/bin/sonic-cfggen ).

[code]

I believe above entries of referencing absolute path of sonic-cfggen by '/usr/local/bin/sonic-cfggen' SHALL be changed to "sonic-cfggen" as /usr/local/bin is already present in the PATH variable in any debian system.

[2020-04-02 14:15] pjeyarat opened #4359 "Sonic Building : Host ( Build environment ) Docker Image Residue"
I see some residue piling up while building sonic in the build platform. Probably due to Make abortions. See attached image

![image](https://user-images.githubusercontent.com/10811097/78259405-a8a7b380-74ca-11ea-9eb4-d2c47843545c.png)

The ones highlighted in the image with  none and none field entries for both repository and tags. If they are difficult to remove at least marking them with a info

[2020-04-03 02:02] gechiang commented on #4347
@ciju-juniper Looks like Kamil has root caused this issue and provided a fix for this.  Please wait for the next image that contains the fix for Azure/sonic-sairedis#587 and validate it.
Thanks!

[2020-04-03 07:19] ciju-juniper commented on #4347
@gechiang The patch is not yet available in the sonic-buildimage.git. Manually applied the patch and started a build. Will update the results.

[2020-04-03 09:15] kcudnik commented on #4347
My fix is just fixing correct RID to be passed, i don't know if this is causing 100% cpu on vendor sai, if yes, then this will be the fix, lets wait for @ciju-juniper to confirm

[2020-04-03 09:26] #4142 closed

[2020-04-03 12:21] BaluAlluru opened #4366 "“apt-get update” always fail when build base docker image."
seeing below error when building sonic image on main trunk.
$ make configure PLATFORM=broadcom
+++ Making configure +++
make -f Makefile.work configure
make[1]: Entering directory '/home/bala/sonic/Apr3_soniclocalRepo/SONiC_QFX5200_GitHub'
Image sonic-slave-jessie:da83677fffb not found. Building...
Sending build context to Docker daemon  26.11kB
Step 1/38 : FROM debian:jessie
 ---> c1045f0373cd
St

[2020-04-03 19:03] nazariig opened #4367 "[mellanox] SONiC fails to start on t0"
**Description**

The latest 201911 branch is broken: SONiC fails to start on t0 topo.
The latest stable version is: SONiC-OS-HEAD.62-a5a11f6e
Looks like the culprit is: https://github.com/Azure/sonic-buildimage/pull/3888

**Steps to reproduce the issue:**
1. Install latest 201911 image
2. Deploy t0
3. Reload config

**Describe the results you received:**
[code]

**Describe the results you expected

[2020-04-03 19:48] #4021 closed

[2020-04-03 21:27] lguohan commented on #4367
it appears to be the same issue that lead the vs test failure.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image/300/artifact/sonic-mgmt/tests/logs/test_announce_routes.log

[2020-04-04 07:04] ciju-juniper commented on #4347
@lguohan @kcudnik @gechiang I built an image with the patch  Azure/sonic-sairedis#587  Still no luck. Orchagent has stopped after hitting a timeout and 'syncd' is running at 100%.

Attached the generate_dump archive.
[sonic_dump_sonic_20200404_122907.tar.gz](https://github.com/Azure/sonic-buildimage/files/4430878/sonic_dump_sonic_20200404_122907.tar.gz)

[2020-04-04 07:11] ciju-juniper commented on #4366
I was able to get the 'sonic-slave-jessie' built by adding the option "-o Acquire::CompressionTypes::Order::=gz" option to apt-get in sonic-slave-jessie/Dockerfile & sonic-slave-jessie/Dockerfile.j2

314    # Install docker engine 17.03.2~ce-0 inside docker and enable experimental feature
315   RUN apt-get update -o Acquire::CompressionTypes::Order::=gz

This is just a way to get going. I can see

[2020-04-04 09:34] kcudnik commented on #4347
Could you make one more test but disable diag shell ? I took a look to your logs and i dont see anything suspicious on syncd side :/

[2020-04-04 10:12] ciju-juniper commented on #4347
@kcudnik Could you tell me how to disable diag shell?

I will initiate another build with debugging tools installed.

[2020-04-04 13:29] kcudnik commented on #4347
that will require to modify startup script for syncd:
src/sonic-sairedis/syncd/scripts/syncd_init_common.sh:CMD_DSSERVE_ARGS="$CMD_SYNCD --diag"

[2020-04-04 16:12] ciju-juniper commented on #4347
@kcudnik I did the following in /usr/bin/syncd_init_common.sh

     16    #if [ -x $CMD_DSSERVE ]; then
     17    #    CMD=$CMD_DSSERVE
     18    #    CMD_ARGS=$CMD_DSSERVE_ARGS
     19    #else
     20          CMD=$CMD_SYNCD
     21           CMD_ARGS=
     22    #fi

After a 'reboot' of the system, interfaces are showing up. So disabling the diagshell seems to be helpful.

I will post the gdb

[2020-04-04 16:46] ciju-juniper commented on #4347
@kcudnik Here is the stack trace after attaching syncd to gdb

(gdb) bt
#0  0x00007fbafd04ef7c in __lll_lock_wait ()
   from /lib/x86_64-linux-gnu/libpthread.so.0
#1  0x00007fbafd048bb5 in pthread_mutex_lock ()
   from /lib/x86_64-linux-gnu/libpthread.so.0
#2  0x0000564ad5b7954a in __gthread_mutex_lock (__mutex=0x564ad7817790)
    at /usr/include/x86_64-linux-gnu/c++/6/bits/gthr-default.h:748
#3

[2020-04-04 17:00] ciju-juniper commented on #4347
@kcudnik Attaching the back trace for all the threads of syncd
[gdb_4347.txt](https://github.com/Azure/sonic-buildimage/files/4431974/gdb_4347.txt)

[2020-04-05 05:25] lguohan commented on #4366
check this job.

daily build works. https://sonic-jenkins.westus2.cloudapp.azure.com/job/bldenv/job/sonic-slave-jessie/132/

i suspect some temp issue.

[2020-04-05 05:31] lguohan commented on #4359
check this one.

https://github.com/moby/moby/issues/22235

failed build can results such docker images, suggest to follow the advice in the above thread to clean up.

[2020-04-05 05:32] lguohan commented on #4358
@yxieca , since we have a new way to do dpkg cache, I suggest to deprecate this option. KERNEL_PROCURE_METHOD. what do you think?

[2020-04-05 08:43] kcudnik commented on #4347
Thanks for dbg threads dump, from them i dont know why there would be 100% cpu usage, but i see another thing that main thread is stuck waiting for mutext on "GET" api querying switch attribute, while the diag shell is started, i dont see grabbing mutex on that diag shell which is good, but also still i would like to try this without starting diag shell,

i dont see any other thread blocking on th

[2020-04-05 16:21] ciju-juniper commented on #4347
@kcudnik I don't see this patch (https://github.com/Azure/sonic-sairedis/pull/571/files) in the 'syncd/VendorSai.cpp'

I'm at commit fe94170c809773d86b196bd8d881f78ba71a1d7c of sonic-sairedis repo. This commit was on March 11 (Way too old).

I'm at commit ea38d061c75ed139d005ff0112ff957b0928c06f of sonic-buildimage.git This commit is latest (April 3'rd).

Is the 'sonic-sairedis' repo properly sync

[2020-04-05 20:56] kcudnik commented on #4347
Can you cherry pick that commit ?

[2020-04-06 04:41] ciju-juniper commented on #4347
@kcudnik  With this patch (https://github.com/Azure/sonic-sairedis/pull/571/files) in the 'syncd/VendorSai.cpp', interfaces are coming up with the diag shell.

Syncd is still running at >100% cpu.

Attached the syncd back traces from gdb:
[gdb_4347_with_571.txt](https://github.com/Azure/sonic-buildimage/files/4435862/gdb_4347_with_571.txt)

[2020-04-06 06:55] gechiang commented on #4347
I took a quick look at the syncd back traces you collected.
It seems to me that there is one thread that may be contributing to the "busy" with the following which seems to be some counter statistic running :

Thread 8 (Thread 0x7fe710d56700 (LWP 40)):
#0  0x00007fe720c2ecbb in pthread_spin_trylock () from /lib/x86_64-linux-gnu/libpthread.so.0
#1  0x00007fe723a45394 in sal_spinlock_lock () from /u

[2020-04-06 09:08] kcudnik commented on #4347
@ciju-juniper the patch unlocked deadlock happening in the starting of diag shell
And from the new dump as @glteache notices, this thread 8 looks suspicious, waiting in spin lock to tray lock, which is probably causing 100% cpu (not sure why it was 100% cpu before patch, since before that flex counters collection was not running yet). But from this new dump seems like maybe flex counter collection

[2020-04-06 11:36] ciju-juniper commented on #4347
@kcudnik In the previous working image also, syncd is occupying >100% cpu. I don't have the debug output from this image. I can try rebuilding it, if you need it. Let me know.

@kcudnik How can we get the https://github.com/Azure/sonic-sairedis/pull/571/files patch to sonic-buildimage master branch?

[2020-04-06 12:05] ciju-juniper commented on #4366
@lguohan For us, it's consistent. Started hitting even after building the base build container

E: Failed to fetch http://security.debian.org/debian-security/pool/updates/main/o/openjdk-7/openjdk-7-jre-headless_7u251-2.6.21-1~deb8u1_amd64.deb  Hash Sum
mismatch

E: Failed to fetch http://security.debian.org/debian-security/pool/updates/main/g/gcc-4.9/cpp-4.9_4.9.2-10+deb8u2_amd64.deb  Hash Sum mis

[2020-04-06 13:38] kcudnik commented on #4347
you can cherry pick https://github.com/Azure/sonic-sairedis/pull/571/files this on your build image in directory src/sonic-sairedis/

as for 100% usage, do you have any version of libsai that was previously build and working fine ?

[2020-04-06 13:53] ciju-juniper commented on #4347
@kcudnik We need the fix in the sonic-buildimage master as we/customers will take the image from Jenkins directly. Also it's impacting all the Broadcom platforms. When will the fix be available to master branch? What's the process involved?

[2020-04-06 13:55] ciju-juniper commented on #4347
@kcudnik We will dig through the various images to see if any one of them had Syncd working fine.

[2020-04-06 16:27] kcudnik commented on #4347
advancing pointer https://github.com/Azure/sonic-buildimage/pull/4379

[2020-04-06 16:34] kcudnik commented on #4347
but also needs to be updated to fix mtu issue, im working on it and will post updates

[2020-04-06 17:21] yxieca commented on #4358
Let's remove KERNEL_PROCURE_METHOD support. It is too hard to keep current.

[2020-04-06 17:34] pjeyarat commented on #4358
@yxieca At the moment sonic building takes a lot of time. Mostly the time is consumed for kernel building < aprox around 1 hour > is there any other alternative that is going to be put in place if KERNEL_PROCURE_METHOD is removed ? Please advice

[2020-04-06 17:57] yxieca commented on #4358
@pjeyarat right now, I am using a poor-man's-download method. Because kernel change is not often, after initial build, you can keep a copy of kernel debian packages. And copy back in your future sonic image builds.

[2020-04-06 18:08] pjeyarat commented on #4358
@yxieca  Thank you very much for such nice hack info. My only worry is specially with CI/CD systems this hack makes it complicated. As we would like to obtain the code base directly from git and build it as fast as possible automatically using jenkins. In my humble opinion, it would be nice to have KERNEL_PROCURE_METHOD=download as it eases a lot of CI/CD efforts. Thanks again for considering it.

[2020-04-06 18:40] pjeyarat commented on #4359
@lguohan Thank you very much for your answer, Leaving it here for your review and consideration.

**Removing orphaned images**
`docker rmi $(docker images -f dangling=true -q)`

Above command will remove all orphaned docker images. Additionally if following error occurs during the execution of above command;

**Removing Orphan Images Associated to Containers**
`Error response from daemon: conflict

[2020-04-07 00:23] stephenxs commented on #3971
From the log I see it tries to modify `SAI_BUFFER_PROFILE_ATTR_POOL_ID` which is read-only while for `dynamic_th` the id should be `SAI_BUFFER_PROFILE_ATTR_SHARED_DYNAMIC_TH`.
I think it's an issue of SONiC ore redis. I also encountered this kind of issue when I tried updating `size` of BUFFER_POOL table: when I tried updating `size` in `BUFFER_POOL` table it updated `type` as well and failed.

[c

[2020-04-07 00:28] stephenxs commented on #3971
@lguohan Could you please assign someone to look into this issue, especially my comments?
Thank you.

[2020-04-07 07:05] #4367 closed

[2020-04-07 07:16] lguohan commented on #4359
can you check what are those stopped container? 5783ff94112f

I still do not quite understand why we have those dangling images? if they are due to failed build, then we should not have containers running on those images.

[2020-04-07 08:55] chitra-raghavan opened #4386 "[Sflow][BRCM] : Flow packets are not sampled by sflow"
**Description**
flow Packets are not sampled by Sflow and  received by sflow collector. Only counter samples are received by Sflow collector.
This is verified in 201911 branch.

**Steps to reproduce the issue:**
1. Enable sflow  on an interface , and assign ip address to interface.
2. Configure loopback as collector
2. From peer , send packets to interface .
3. Check  if packets are sampled by sfl

[2020-04-07 09:09] mini-nair-dell commented on #4127
Yes, we still see this in the latest Nov-2018 branch

[2020-04-07 11:37] mini-nair-dell commented on #4127
This issue is seen in 11-2019 images as well. The last tested one is,

root@sonic-s6100-10:/var/log# show ver

SONiC Software Version: SONiC.HEAD.37-cf1dd5ba
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: cf1dd5ba
Build date: Tue Mar 24 12:06:38 UTC 2020
Built by: johnar@jenkins-worker-8

Platform: x86_64-dell_s6100_c2538-r0
HwSKU: Force10-S6100-T1
ASIC: broadcom
Serial Number: F

[2020-04-07 13:40] pjeyarat commented on #4359
This happens when make is aborted in the middle rather than make error exit. Here is a sample docker inspect on such aborted containers.

[docker_inspect.txt](https://github.com/Azure/sonic-buildimage/files/4444713/docker_inspect.txt)

[2020-04-07 14:52] chenkelly commented on #4230
Hi @wangxin, do you see lldp-syncd process start successfully?
I encountered a similar problem, lldp-syncd process is not running sometimes.

[2020-04-07 19:49] ben-gale commented on #4291
Guohan,

I'm not sure about this change you made. Following reasons: -
- You say (earlier) "it is strange that mgmt-framework container tries to read streaming telemetry cert." - I don't think this is the right conclusion. The DEVICE_METADATA['x509'] was a common path reference, not a common location - the location is within each container, so each container (Mgmt FW, Telemetry) has it's own certs

[2020-04-07 19:59] lguohan commented on #4291
mgmt fw should not use certs in TELEMETRY. it should use its own certs in config db, for example, MGMT_FRAMEWORK['certs'].

I do not know how this can be achieved.

I think the right way is to have
TELEMTRY['certs'], MGMG_FRAMEWORK['certs'] defined in the config db. They can point to same certs file or different depending on user's needs.

Yes. MGMG_FW and TELEMTRY have different users, we would l

[2020-04-07 20:16] srideepDell commented on #4331
led load failure was causing other apis from SAI to not configure and result in error. once led firmware load issue is fixed we could play other config correctly.
Fix is in review
https://github.com/Azure/sonic-buildimage/pull/4360

[2020-04-08 01:12] gechiang commented on #4347
@ciju-juniper Wondering if you were able to find a previous image with Syncd not hitting 100% usage?

[2020-04-08 03:27] aravindmani-1 opened #4389 "Migrate Dell platform specific settings from SAI library to post init script framework"
**Objective:**

- To make use of post init script framework and keep the SAI library cleaner (without Dell platform setting).
- It is required to move the Dell platform related settings(e.g. pre-emphasis, de-emphasis settings ) inside platform specific directory.
- Removing Dell platform settings would give control to Dell to make any further changes in future without depending on SAI team to make

[2020-04-08 06:03] #4347 closed

[2020-04-08 06:53] bryantkwu commented on #3080
I think this is a problem with broadcom SAI.
When I enter bcmsh, and add some actions to the FP rule of ARP, for example:
“fp action add 0x7 YpDrop” and “fp action add 0x7 GpCopyToCpu”, and then reinstall.
After that the function will be normal.

[2020-04-08 06:53] bryantkwu commented on #3942
I think you can try "config reload", which will re-write the mtu settings, and then check if it is written into the database:

admin @ sonic-ag9032v2a: ~ $ redis-cli
127.0.0.1:6379> keys * VLAN *
1) "VLAN_TABLE: Vlan5"
127.0.0.1:6379> hgetall VLAN_TABLE: Vlan5
1) "admin_status"
2) "up"
3) "mtu"
4) "7000"

[2020-04-08 09:41] #4339 closed

[2020-04-08 14:03] stephenxs opened #4399 "Warm reboot from 201811 to 201911 failed due to directed-connected route entries without nexthop address."
**Description**
Warm reboot from 201811 to 201911 failed due to route entries without nexthop address.

**Steps to reproduce the issue:**
1. Install 201911 image on system running 201811
2. warm reboot system

**Describe the results you received:**
orchagent segment failed.
log:
[code]
gdb info
[code]

According to the source code, it can crash if it receives a routing entry with empty nexthop.
in

[2020-04-08 14:39] stephenxs opened #4400 "To delete neighbor entries which are next-hop of routing entries from NEIGH_TABLE causes DEL operations pending in the neighorch::m_toSync"
**Description**
To delete neighbor entries which are next-hop of routing entries from NEIGH_TABLE causes DEL operations pending in the neighorch::m_toSync
It can be reproduced in any scenario where the kernel ages/removes a neighbor entry (ARP or ND) who is the next-hop of a routing entry. An example is the warm reboot test: after warm reboot orchagent receives neigh remove from kernel/net link.
T

[2020-04-09 04:34] BaluAlluru opened #4404 "build error in latest sonic mainline"
**Description**

**Steps to reproduce the issue:**
1. make target/sonic-broadcom.bin is resulting in build error

**Describe the results you received:**
port.c: In function 'local_if_add_vlan':
port.c:527:5: warning: implicit declaration of function 'update_if_ipmac_on_standby' [-Wimplicit-function-declaration]
     update_if_ipmac_on_standby(local_if);
     ^~~~~~~~~~~~~~~~~~~~~~~~~~
gcc -g -O2 -

[2020-04-09 05:07] ciju-juniper commented on #4404
@lguohan The build failure reason is this:

**dpkg-deb: error: control directory has bad permissions 770 (must be >=0755 and <=0775)**

ciju@vlinux-5:~/sonic/commit/apr_14/sonic-buildimage/src/iccpd/debian$ ls -ld DEBIAN
drwxrwx--- 2 ciju ciju 4096 Apr  8 00:24 DEBIAN

If the permission is set to **'0755'** for DEBIAN directory, build will proceed.

ciju@vlinux-5:~/sonic/commit/apr_14/sonic-buildi

[2020-04-09 05:25] tuhooo commented on #4270
I give up my build in my local pc, and copy docker images from others.

[2020-04-09 05:44] lguohan commented on #4404
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/248/artifact/target/debs/stretch/iccpd_0.0.5_amd64.deb.log

@shine4chen to fix

[2020-04-09 05:46] lguohan commented on #4347
@ciju-juniper , please reopen the ticket if you still see this issue.

[2020-04-09 05:57] ciju-juniper commented on #4347
@lguohan I will verify again once if you accept https://github.com/Azure/sonic-buildimage/pull/4376

[2020-04-09 07:16] jianjundong commented on #4404
@lguohan @shine4chen @BaluAlluru
I just downloaded a code from GitHub on April 8, the permissions of control directory is 0755.

jianjun@nps65:/home/jianjun/git_master/sonic-buildimage/src/iccpd/debian$ ls -ld
drwxr-xr-x 3 jianjun jianjun 4096 Apr  7 23:34 .
jianjun@nps65:/home/jianjun/git_master/sonic-buildimage/src/iccpd/debian$ cd DEBIAN/
jianjun@nps65:/home/jianjun/git_master/sonic-buildimage/

[2020-04-09 07:25] ciju-juniper commented on #4404
@jianjundong  It's not fixed. Just checked again in the mainline code.

commit 7405f8cfea9eae265eb1e92086f31c5a897b78b7

ciju@vlinux-5:/tmp/sonic-buildimage/src/iccpd/debian$ ls -ld DEBIAN/
drwxrwx--- 2 ciju ciju 4096 Apr  9 12:52 DEBIAN/

[2020-04-09 08:12] jianjundong commented on #4404
@ciju-juniper

This directory does not have permission control on GitHub. It should be related to your local compilation environment.

[2020-04-09 08:32] lguohan commented on #4404
@jianjundong , looks like you have even bigger problem here. it is not properly debianized.

check example here. https://github.com/Azure/sonic-swss-common/tree/master/debian

https://www.debian.org/doc/manuals/maint-guide/dreq.en.html

[2020-04-09 08:55] ciju-juniper commented on #4404
@jianjundong What do you mean by compilation environment? No one sets up SONiC compilation environment as it's created automatically. As @lguohan said, you need to organize the files properly. Look at the examples of other debian projects sourced to SONiC.

Make sure that you build all the targets from scratch and all are successfully built.

[2020-04-09 11:16] stephenxs opened #4407 "getHwCounters returns error during pfc_wd test"
**Description**
The following errors were observed when testing pfc_wd
[code]

The `sai_queue_api->get_queue_stats` method implemented by verdor's SAI complained the 4th argument was NULL. However, from `getHwCounters` we can see it was `queueStats.data()` which is not NULL.
Is it possible that something wrong during argument packing/unpacking between swss and syncd?

[code]

**Steps to reproduce

[2020-04-09 11:52] vsenchyshyn commented on #4407
@stephenxs I guess you see the same issue as fixed here: https://github.com/Azure/sonic-sairedis/pull/586

The NULL array pointer is passed from syncd code to SAI adapter.

[2020-04-09 16:30] lguohan commented on #4399
@stephenxs , thanks for reporting this issue. it looks like there is a schema change in the appdb from 201811 to 201911.

In 201911 and master, the schema change to
[code]

it looks like due to this change. https://github.com/Azure/sonic-swss/commit/bd3675114c1c81c26c93bb5db18426112a95713c

@prsunny , can you take a look?

[2020-04-10 00:34] tylerlinp commented on #4404
@ciju-juniper The directory is not tracked by git, it get os default access permission when created. Maybe your user account `umask` is not `0022` but `0007`. I think it is not a good thing to `chmod` it when compiling.

[2020-04-10 01:27] stephenxs commented on #4399
Hi @lguohan, @prsunny
Thanks.
Some additional info:
The segment fault is because in 201811 nexthop of directly connected routing entries in the ROUTE_TABLE are "" while in 201911 "0.0.0.0" is expected.
After avoiding the coredump, there are further error logs during warm reboot
[code]

[2020-04-10 01:28] stephenxs commented on #4407
Hi @vsenchyshyn,
The issue fixed by the commit.
Thanks.

[2020-04-10 05:52] stephenxs commented on #4407
Previously I tested the wrong image and thought it has been resolved.
Now I realize that it hasn't.
Sorry for the mess.

[2020-04-15 02:09] jianjundong commented on #4404
We will raise a PR to change ENABLE_ICCPD = n at first, and will change the debianize progress follow the example later.

[2020-04-15 02:42] Linda5067 opened #4427 "SONiC.HEAD.225-487a734c has the "ERR lldp" issue"
**Description**

**Steps to reproduce the issue:**
1. Boot into SONiC
2. Execute "# show logging |grep ERR |grep lldp"
3. Then you can see lots of the lldp err messages.

**Describe the results you received:**
Execute the "show logging |grep ERR |grep lldp" command can see lots of the lldp err message.

**Describe the results you expected:**
No any LLDP error message.

**Additional information you

[2020-04-15 06:13] mini-nair-dell commented on #4089
The issue is not seen in the latest master.Closing the case.

root@sonic-s6100-07:~# show ver

SONiC Software Version: SONiC.HEAD.253-2872d802
Distribution: Debian 9.12
Kernel: 4.9.0-11-2-amd64
Build commit: 2872d802
Build date: Tue Apr 14 09:17:49 UTC 2020
Built by: johnar@jenkins-worker-8

Platform: x86_64-dell_s6100_c2538-r0
HwSKU: Force10-S6100
ASIC: broadcom
Serial Number: 2G5ZZP2
Uptime: 05:

[2020-04-15 06:13] #4089 closed

[2020-04-15 06:20] mini-nair-dell commented on #3934
The issue is still seen with the latest master HEAD.253-2872d802.
Both warm-reboot and fast-reboot make the switch hung, which can be recovered only with a power-cycle.
Syncd crash is also seen once the switch is up after the powercycle.
Pls find the logs below.

Logs:
++++
root@sonic-s6100-07:/var/core# warm-reboot -vvv
Wed Apr 15 05:39:26 UTC 2020 Pausing orchagent ...
Wed Apr 15 05:39:27 UTC 20

[2020-04-15 06:41] mini-nair-dell commented on #4158
This issue, where the syncd was frequently crashing is not seen in the recent image - HEAD.253-2872d802

Hence closing the case

[2020-04-15 06:41] #4158 closed

[2020-04-15 08:26] mini-nair-dell opened #4428 "S6100-T0-syncd crash seen on cold reboot- HEAD.253-2872d802"
Description:

- Load the s6100 with the latest master in T0 topology
- Reboot the node
- We can see syncd crashes, once the switch comes up.

root@sonic-s6100-07:~# exit
root@sonic-s6100-07:/var/core# ls -l
total 458308
-rw-rw-rw- 1 root root  10455628 Apr 15 05:30 syncd.1586928610.29.core.gz
-rw-rw-rw- 1 root root  10455365 Apr 15 05:39 syncd.1586929172.30.core.gz
-rw-rw-rw- 1 root root  10469609

[2020-04-15 12:05] mini-nair-dell opened #4429 "S6100 - T0 and T1 - Zebra crash seen with continous cold reboot- Master 253"
Observe Zebra crash in S6100- T0 and T1 topology with continuous reboot. The issue is not seen with a single reboot.

We can see this if we reboot the dut twice

Pls find the sylog and the backtrace attached

#0  0x00007fb09d189fff in raise () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007fb09d18b42a in abort () from /lib/x86_64-linux-gnu/libc.so.6
#2  0x00007fb09e1d73bf in ?? () from /usr/lib/x

[2020-04-15 15:11] xinliu-seattle commented on #4429
Will need core file to help with the investigation.

[2020-04-15 15:12] xinliu-seattle commented on #4429
Please provide >show tech file.

[2020-04-15 15:16] xinliu-seattle commented on #4428
need >show tech file.  Seems SAI is crashing. please check with SAI sanity.

[2020-04-15 15:18] xinliu-seattle commented on #4427
need lldp failure info, please provide >show tech file.

[2020-04-15 15:22] xinliu-seattle commented on #4407
Can you add "show tech" file?

[2020-04-15 15:31] xinliu-seattle commented on #4400
please take this to the warm reboot subgroup meeting and discuss there.

[2020-04-15 15:33] xinliu-seattle commented on #4399
please bring this to the warm reboot bi-weekly subgroup meeting for investigation.

[2020-04-15 15:36] xinliu-seattle commented on #4389
This is for coordinating the change on SAI from BRCM. Enhancement not an issue.

[2020-04-15 15:38] xinliu-seattle commented on #4386
dgsudharsan and prince are discussing how to fix this.

[2020-04-15 15:41] xinliu-seattle commented on #4366
ciju, our build job doesn't have this issue. suggest you to check on your side.

[2020-04-15 15:49] xinliu-seattle commented on #4357
Need help on scaling DMAC.
@tim-rj, will you be able to contribute a fix on this? thanks.

[2020-04-15 15:54] xinliu-seattle commented on #4237
Fix checked in, please close this after validation.

[2020-04-15 15:58] xinliu-seattle commented on #4231
Pavel, please confirm if this applies to 201911 or not.

[2020-04-15 15:59] jeff-yin commented on #4389
Ben is working on getting someone from Broadcom involved to look at this.

[2020-04-15 16:00] xinliu-seattle commented on #4230
@wangxin, which branch is this issue reported on?

[2020-04-15 16:02] xinliu-seattle commented on #4230
The dump file is not there, please re-attach it.

[2020-04-15 16:43] lguohan commented on #4359
is there a way to repro this issue so that I can look into how to do the clean up.

[2020-04-15 16:48] lguohan commented on #4331
#4360 has been merged

[2020-04-15 16:48] #4331 closed

[2020-04-15 23:46] prsunny commented on #4399
Request @tylerlinp to take a look

[2020-04-16 03:33] Linda5067 commented on #4427
Add the error information as below:

admin@AS7712-32X:~$ show logging |grep ERR |grep lldp
Nov  9 21:24:31.245623 AS7712-32X ERR monit[544]: 'lldpd_monitor' process is not running
Nov  9 21:24:31.256438 AS7712-32X ERR monit[544]: 'lldp_syncd' process is not running
Nov  9 21:24:31.267264 AS7712-32X ERR monit[544]: 'lldpmgrd' process is not running
Nov  9 21:25:05.674493 AS7712-32X ERR lldp#lldpmgr

[2020-04-16 09:28] mkovnir opened #4434 "[dropcounters] incorrect syslog message when adding first drop reason to a dropcounter"
**Description**
Dropcounters activation/deactivation generates syslog messages, but activation of first drop reason leads to incorrect syslog message.

**Steps to reproduce the issue:**
1. Create drop counter with single drop reason via CLI:
`config dropcounters install COUNTER SWITCH_INGRESS_DROPS [ACL_ANY]`

2. Check swss logs for addDropReason message:
[code]

3. Add more reasons to counter:
`c

[2020-04-16 10:43] wangxin commented on #4230
@xinliu-seattle It was on 201911 branch. I'll see if I can reproduce it using the same image and get a dump.
@chenkelly I am not sure what the status of lld-syncd process was. I'll try to reproduce it and report back.

[2020-04-16 17:13] BrcmSAI commented on #4428
It looks like the crash happens at shutdown path. The attached syslog doesn't contain any message in shutdown path. It is possible that the corresponding log entries has been rolled into syslog.1. or even older. Can you attach them as well?

[2020-04-17 01:38] chenkelly commented on #4230
We once got the following message during testing lldp case on t1-lag topology, but cannot reproduce it now.
After checking syslog message on DUT, find that 'lldp_syncd' process is not running during lldp test.
The lldp_sync don't be spawned successfully.

         "________________________ ERROR at teardown of test_lldp ________________________",
        "",
        "duthost = <common.devices.Soni

[2020-04-17 04:05] tylerlinp commented on #4399
@prsunny Yes, Guohan is right, This is because of the schema change. The schema change is required in the VRF implementation.  The VRF implementation does not support the old format but during warmboot the old format is not converted to new format.

Warmboot from 201811 to 201911 may have other problems in other areas as well, not sure if in SONiC community we have to support this operation.

For

[2020-04-17 04:08] lguohan commented on #4399
@tylerlinp , thanks for the analysis. warmboot form 201811 to 201911 is a hard requirement. can you do schema transform during the warmboot upgrade. @yxieca , maybe can you pointed out the place that @tylerlinp can inject such logic?

[2020-04-17 07:02] chitra-raghavan commented on #4230
The same error message is seen  while running snmp tests in 201911 branch in PTF topology.

`Apr 17 14:03:09.344505 sonic-s5232-01 ERR snmp#snmp-subagent [ax_interface] ERROR: MIBUpdater.start() caught an unexpected exception during update_data()#012Traceback (most recent call last):#012  File \\"/usr/local/lib/python3.6/dist-packages/ax_interface/mib.py\\", line 40, in start#012    self.reinit_da

[2020-04-17 16:13] babu-s2 opened #4440 "how to build docker-sonic-telemetry"
There is no document how to build sonic-telemetry.tgz.
Can you please provide the list of steps.

Also, once its built, how do I download the app on the sonic switch?
Do I make changes in the supervisord files?

[2020-04-18 13:48] stephenxs commented on #4407
Done.

[2020-04-19 03:04] dev-aviz commented on #4186
[Version]
SONiC Software Version: SONiC.master.0-dirty-20191207.003133
Distribution: Debian 9.11
Kernel: 4.9.0-9-2-amd64
Build commit: f345935
Build date: Sat Dec 7 11:52:18 UTC 2019
Built by: dev-aviz@aviznetworks.com

Platform: x86_64-accton_as5712_54x-r0
HwSKU: Accton-AS5712-54X
ASIC: broadcom
Serial Number: 571254X1630035
Uptime: 20:09:57 up 2:53, 1 user, load average: 1.88, 2.05, 2.06

[2020-04-19 03:24] msreddypaluru commented on #4189
sonic version;
+++++++++++++
SONiC Software Version: SONiC.HEAD.155-77d63625
Distribution: Debian 9.11
Kernel: 4.9.0-9-2-amd64
Build commit: 77d63625
Build date: Fri Dec 20 07:52:36 UTC 2019
Built by: johnar@jenkins-worker-4

Platform: x86_64-mlnx_msn2100-r0
HwSKU: ACS-MSN2100
ASIC: mellanox
Serial Number: MT1950X05002
Uptime: 18:00:33 up  5:50,  1 user,  load average: 3.28, 3.08, 3.06

Docker ima

[2020-04-20 01:16] pjeyarat commented on #4359
Yes, by following steps

1. Clean your build machine docker image registry
2. Build sonic again
3. Abort the build during the build process.

[2020-04-20 14:32] ben-gale commented on #4291
[Ben]: It isn't - each docker has it's own certs file

[Ben]: The path reference is local to the respective docker

[Ben]: As I said, they were already using different certs files - the use case in question is whether they should different paths in configuration.

Anyway, no big deal - we can go with your change and have separate path configuration for the 2 dockers.

[2020-04-20 18:15] pavel-shirshov commented on #4231
Should be fixed by https://github.com/Azure/sonic-buildimage/pull/4143

[2020-04-21 16:33] mkovnir opened #4454 "[dropcounters] after clear new counters have negative values"
**Steps to reproduce the issue:**

1.Create counter
`config dropcounters install COUNTER_SMAC_EQUALS_DMAC SWITCH_INGRESS_DROPS SMAC_EQUALS_DMAC`

2. sent traffic eligible to drop reason (200kk for SMAC_EQUALS_DMAC)
[code]

3.  clear counters
[code]

4. recreate drop counter (delete and install)
[code]

[2020-04-21 19:27] Magni79 opened #4456 "SWSS container stops in case of assigning a vlan to a portchannel's member."
**Description**
SWSS container stops in case of assigning a vlan to a portchannel's member.

**Steps to reproduce the issue:**
1. Create a portchannel `config portchannel add PortChannel0001`
2. Assign ports to PortChannel0001
[code]
3. Add vlans
[code]
4. Assign vlan 2 to PortChannel0001
`config vlan member add 2 PortChannel0001`
5. Assign vlan 3 to a portchannel member
`config vlan member add 3

[2020-04-21 21:42] Magni79 opened #4457 "[ACL] A rule with action "REDIRECT:next-hop" can't be created if there is no hext-hop's arp record in the cache"
**Description**
ACL rule which has the action "REDIRECT:next-hop" can't be created in case of absence of next-hop information in arp cache

**Setup**
![setup](https://user-images.githubusercontent.com/59200236/79916567-a71a3d00-8431-11ea-88a5-1760edbd786d.jpg)

**Steps to reproduce the issue:**
1. Create ACL table **DATAACL**
2. Try to create the following ACL rule:
[code]
**Pay attention: next-ho

[2020-04-21 22:03] wangluochao902 opened #4458 "A potential typo in dockers/docker-sonic-telemetry/Dockerfile.j2"
https://github.com/Azure/sonic-buildimage/blob/bddd0d1e53b886925270d51b87f24aa0a28ff313/dockers/docker-sonic-telemetry/Dockerfile.j2#L21

Hi, we are developing a tool to detect typos/bugs in dockerfiles automatically. Our tool finds a potential typo above. Is it a typo? I think it should be `apt-get autoclean -y &&\`. Thank you for your confirmation.

[2020-04-21 23:56] lguohan commented on #4458
yes, it is. is that tool available?

[2020-04-22 03:28] wangluochao902 commented on #4458
Thank you for the confirmation! The tool is currently under development. We will make it available soon.

[2020-04-22 08:38] stephenxs opened #4460 "SONiC DHCP Relay | Test fails with Discover count of 0 != 4"
**Description**
DHCP relay test failed for all the test cases.

**Steps to reproduce the issue:**
1. Deploy the DUT in t0 topo
2. Run dhcp relay test.
3.

**Describe the results you received:**
Test failed with the following error message
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show vers

[2020-04-22 12:24] pphuchar opened #4463 "[sonic-broadcom] Incorrect kernel image package installed"
**Description**

The unsigned kernel image package(linux-image-4.19.0-6-amd64-unsigned) installed to Debian buster was replaced by the signed version(linux-image-4.19.0-6-amd64) when building sonic-broadcom image.

This happens when the script try to install opennsl-module package(and others that have keyword depends: linux-image-4.19.0-6-amd64)

**Steps to reproduce the issue:**
1. `make target/s

[2020-04-22 20:23] yxieca commented on #3934
There is a Broadcom SAI issue with 3.5.3.3, causing syncd to crash during fast/warm reboot.

Please move on to use latest build from master (I tried 259).

With this build. I can see that the fast reboot shutdown no longer generate sycnd cores.

With this build. warm reboot still generating core during pre-shutdown. This still looks like SAI issue. Will follow up with Broadcom.

[2020-04-23 02:41] #4463 closed

[2020-04-23 10:57] chitra-raghavan opened #4470 "[201911] Hash test fails for ingress-port in T1 Topology"
**Description**

Hash tests fails for ingress port for Broadcom platforms (S6100,S5232) in 201911 branch for T1lag topology
script : https://github.com/Azure/sonic-mgmt/blob/master/tests/fib/test_fib.py#L141

Attached ptf log for the test.
[hash.log.txt](https://github.com/Azure/sonic-buildimage/files/4521987/hash.log.txt)

	root@sonic-s5232-01:~# show ip route 9.0.0.0
	Routing entry for 0.0.0.0/0

[2020-04-23 16:42] #4231 closed

[2020-04-23 17:14] yxieca opened #4473 "Service Requires swss will cause fast/warm reboot to fail"
**Description**

Following 3 services were added with Requires swss flag:

root@sonic-host:/etc/systemd/system# grep swss *.service | grep Requires
iccpd.service:Requires=updategraph.service swss.service
mgmt-framework.service:Requires=swss.service
nat.service:Requires=updategraph.service swss.service

There are issues associated with this Rerquires flag:

During warm/fast reboot. These service wi

[2020-04-24 07:17] mini-nair-dell commented on #3934
I tested this on the image - 259, and could see syncd crash on both warm-reboot and fast-reboot. The switch gets stuck for both the reboots, and can be recovered only by a powercycle

root@sonic-s6100-07:/var/core# ls -l
total 20124
-rw-rw-rw- 1 root root 10239276 Apr 24 06:52 syncd.1587711123.30.core.gz
-rw-rw-rw- 1 root root 10366558 Apr 24 07:10 syncd.1587712223.29.core.gz

root@sonic-s6100-07:

[2020-04-24 10:24] wangxin commented on #4230
Tested using the same image again, observed these error in syslog:
[code]

Checked lldp-syncd status, it is running.

[code]

Attached a dump here.
[sonic_dump_r-tigris-13_20200424_101940.tar.gz](https://github.com/Azure/sonic-buildimage/files/4528258/sonic_dump_r-tigris-13_20200424_101940.tar.gz)

[2020-04-24 15:25] madhanmellanox opened #4479 "ICMPv6 type2 (A Packet Too Big) is not sent by SONiC switch in response to a packet that it cannot forward because the packet is larger than the MTU of the outgoing link."
**Description**

**Steps to reproduce the issue:**
1. configure switch with an ingress VLAN interface and egress VLAN interface with ipv6 address of different subnets respectively. Configure MTU of egress VLAN interface to say, 1500.
2. Attach Traffic generator ports to both ingress port and egress port of the switch. Send end-end-end ipv6 traffic of size say, 2000.
3. Run tcpdump over source VLAN

[2020-04-26 08:02] Junchao-Mellanox commented on #3832
I reproduced this issue recently. In my test, there is no SAI API takes more than 30 seconds(I don't see log "main loop execution exceeded"). Instead, my test contains a lot of short SAI API calls, and those calls are async operations, such as remove/create route entry. My test flow is like below:
1. Orchagent sent many "create route entry" requests to redis database.
2. Syncd got those requests f

[2020-04-26 11:05] kcudnik commented on #3832
To handle synchronous request i a manner that when late response1 will arrive and OA will at that time expecte response2, we need to add ID to each request/response pair and only expect those. currently no ID was required, since currently all messages are processed in single thread so order of processing messages is guaranteed. and processing many route entries in OA side is being addressed  by Qi

[2020-04-27 01:54] Junchao-Mellanox commented on #3832
Thanks for your quick reply. I agree that ASIC might need improve its performance for certain operation. Adding bulk request/create will definitely help route entries issue. But consider following case:
1. Orchagent sends a big number of async requests to syncd
2. Orchagent sends a sync request right after that

Adding entries to redis is relatively fast, but processing such entries in syncd proba

[2020-04-27 03:02] babu-s2 commented on #4440
Most importantly, how do I build a private image with code changes in sonic-telemetry repository locally

[2020-04-28 22:23] melsom commented on #4270
Hello,

Any update to this? compiling for cavium still fails.

My install is a Debian 10:

<pre>
$ make all
+++ --- Making all --- +++
BLDENV=stretch make -f Makefile.work stretch
make[1]: Entering directory '/home/amh/sonic-buildimage2'
SONiC Build System

Build Configuration
"CONFIGURED_PLATFORM"             : "cavium"
"SONIC_CONFIG_PRINT_DEPENDENCIES" : ""
"SONIC_BUILD_JOBS"                : "1

[2020-04-29 06:41] dlringor commented on #4096
Hello,

The latest build is okay.  No dirty docker images.  Thank you!

don@sonic:~$ show version

SONiC Software Version: SONiC.master.0-e75da77f
Distribution: Debian 10.3
Kernel: 4.19.0-6-amd64
Build commit: e75da77f
Build date: Mon Apr 27 01:53:42 UTC 2020
Built by: don@dell1

Platform: x86_64-accton_as9716_32d-r0
HwSKU: Accton-AS9716-32D
ASIC: broadcom
Serial Number: 971632D1946004
Uptime: 02:

[2020-04-29 06:41] #4096 closed

[2020-04-29 06:43] dlringor commented on #3983
Its working!  Thanks

don@sonic:~$ show version

SONiC Software Version: SONiC.master.0-e75da77f
Distribution: Debian 10.3
Kernel: 4.19.0-6-amd64
Build commit: e75da77f
Build date: Mon Apr 27 01:53:42 UTC 2020
Built by: don@dell1

Platform: x86_64-accton_as9716_32d-r0
HwSKU: Accton-AS9716-32D
ASIC: broadcom
Serial Number: 971632D1946004
Uptime: 02:40:47 up 21 min,  1 user,  load average: 0.55, 0.4

[2020-04-29 06:43] #3983 closed

[2020-04-29 09:24] tim-rj commented on #4357
Does scaling DMAC means large amount of DMAC?
After communicating with developer team, they used jemalloc to resolve this problem. We want to confirm which solution you need. If you need the solution posted in this issue, we will work on it.
-BTW, it seems unable to submit PR in 201803 release. Is this branch locked?
Thanks a lot.

[2020-04-29 10:39] chitra-raghavan commented on #4470
Hash test  passed without ingress-port parameter.

[2020-04-29 14:44] yvolynets-mlnx opened #4503 "[test_po_update] Fails due to found "mclag" errors in syslog"
**Description**
Test `test_po_update` from `pc/test_po_update.py` fails because during test case execution there were printed errors to the DUT syslog, and loganalyzer match this errors.

**Steps to reproduce the issue:**
1. Run test case on T0 topology:
`py.test $PYTEST_COMMON_OPTS pc/test_po_update.py`

**Describe the results you received:**

[code]

**Describe the results you expected:**
Error

[2020-04-29 14:58] dev-aviz commented on #4187
Sure, we will try with latest build? do you know any commit fixed it recently?

[2020-04-29 15:05] dev-aviz commented on #4189
It's sonic software issue, not specific to hardware.

[2020-04-29 15:16] xinliu-seattle commented on #4479
Volod will help to get more input.

[2020-04-29 15:17] xinliu-seattle commented on #4479
Debian 4.19 might have this fixed.

[2020-04-29 15:22] xinliu-seattle commented on #4473
service owners please help to take a look. BRCM will take a look at mgmt.-framework, and NAT, Nephos will take a look at ICCPD.

[2020-04-29 15:29] xinliu-seattle commented on #4470
BRCM will take a look at this.

[2020-04-29 15:35] xinliu-seattle commented on #4458
@hui-ma, can you help to fix the typo in the telemetry docker. thanks.

[2020-04-29 15:41] santhosh-kt opened #4500 "[201911] S5232f - Z9264f T0 Syncd crashes on reboot"
**Description**
Both in S5232f and Z9264f - Syncd got crashed on reload after loading T0 topology in 201911 branch

**Steps to reproduce the issue:**
1. Load the S5232 or Z9264 with the latest 201911 in T0 topology
2. Reboot the node
3. We can see syncd crashes, once the switch comes up.

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional informatio

[2020-04-29 15:42] xinliu-seattle commented on #4457
@prsunny, can you help to take a look at the ARP.

[2020-04-29 15:52] xinliu-seattle commented on #4456
This should be checked and should fail before sending to SWSS.

[2020-04-29 15:59] xinliu-seattle commented on #4454
@daall this is to clear the cache when deleting the drop counter.

[2020-04-29 17:51] tahmed-dev commented on #4460
@stephenxs Just tries this test case using internal branch with build from 4/25 and the test case is passing on my end. It is worth noting that the test case also passes on vsimage build check.

Can you please share the logs from ptf docker /tmp/dhcp_relay_test.DHCPTest.*? Also, can you share the output of:
`
show ip bgp sum
show ip route 192.0.0.1
`

[2020-04-29 18:05] lguohan commented on #4503
iccpd needs to triage the log message. check #4404 , iccpd needs to be disabled by default.

[2020-04-29 18:35] mgrzybowski opened #4504 "Accton-AS7712-32X - ARP is blocked on subport/VLAN_SUB_INTERFACE"
**Description**
No *who-has* and *reply* on VLAN_SUB_INTERFACE on tcpdump. No  MAC address discovery performed.

**Steps to reproduce the issue:**
1. Create VLAN_SUB_INTERFACE, for example
`config interface ip add Ethernet43.3  10.0.0.102/31`
2. Configure box at the other end of the cable:
[code]
3. run tcpdump on the box interface and on the switch
4. ping from the sonic switch
5. ping from the b

[2020-04-29 19:10] wendani commented on #4504
Can you try 'tcpdump -leni Ethernet43.3'?

Step 6 add vlan: 'config vlan add 3' is not necessary.

[2020-04-29 19:26] mgrzybowski commented on #4504
Hi Wendani
Thx for reply. Please note vlan tag on previous tcpdumps. tcpdump on master interface was intentional.

- Ping from SONIC, tcpdump on SONIC:
[code]
- Ping from SONIC, tcpdump on box:
[code]

- Ping from BOX, tcpdump on SONIC ( ARP entry on boxis clear `ip n del  10.0.0.102 dev enp65s0f1.3` ) :
[code]
no packets
- Ping from BOX, tcpdump on SONIC ( ARP entry on box is clear `ip n del  10.

[2020-04-29 21:24] prsunny commented on #4457
This is expected as per the current Sonic logic. If you notice the SAI defintion for SAI_ACL_ENTRY_ATTR_ACTION_REDIRECT, it requires a NEXTHOP object for creating the ACL

[code]

Which means, the ACL cannot be created in H/W if Nexthop is not reachable. Now we can do some enhancements in `orchagent `to retry the ACL rule until NH is reachable but I dont see a real use-case for it. Since it is con

[2020-04-30 05:18] kumarph opened #4505 "No rule to make target 'target/debs/buster/python-p4-hlir_0.9.36-1_all.deb"
Hi Team,

I am trying to build P4 platform. During "make all" command i am facing the below error
Can you please help us to resolve the build error

BLDENV=buster make -f Makefile.work all
make[1]: Entering directory '/home/saps/sonic/sonic-buildimage'
SONiC Build System

Build Configuration
"CONFIGURED_PLATFORM"             : "p4"
"CONFIGURED_ARCH"                 : "amd64"
"SONIC_CONFIG_PRINT_DE

[2020-04-30 05:45] #4404 closed

[2020-04-30 05:45] #4503 closed

[2020-04-30 05:59] santhosh-kt commented on #4500
Attached show tech support dump in my dedicated repository since the file size is more than 25MB which Github doesn't allow to upload.

[tech support dump](https://github.com/santhosh-kt/sonic-dumps-to-Azure/blob/master/sonic_dump_sonic-s5232-01_20200430_132515.tar.gz)

[2020-04-30 06:26] jianjundong commented on #4503
The reason of this error log is ICCPD can not establish TCP connection to MCLAGSYNCD. The commit ID of PR 'add mclagsyncd (#811)' is 0de72da, 'sonic-swss' may be pused or cherry-pick to this ID.

[2020-04-30 09:29] mini-nair-dell commented on #4429
[sonic_dump_sonic-s6100-10_20200430_091155.tar.gz](https://github.com/Azure/sonic-buildimage/files/4557392/sonic_dump_sonic-s6100-10_20200430_091155.tar.gz)

[2020-04-30 09:36] mini-nair-dell commented on #4429
[zebra.1588237631.40.core.gz](https://github.com/Azure/sonic-buildimage/files/4557438/zebra.1588237631.40.core.gz)

[2020-04-30 09:37] mini-nair-dell commented on #4429
[syslog.2.gz](https://github.com/Azure/sonic-buildimage/files/4557441/syslog.2.gz)

[2020-04-30 09:41] mini-nair-dell commented on #4429
Pls find the Core file and show tech attached.

Thanks
Mini

[2020-04-30 09:51] mini-nair-dell commented on #4428
[syncd.1588229327.30.core.gz](https://github.com/Azure/sonic-buildimage/files/4557504/syncd.1588229327.30.core.gz)
[sonic_dump_sonic-s6100-07_20200430_065821.tar.gz](https://github.com/Azure/sonic-buildimage/files/4557506/sonic_dump_sonic-s6100-07_20200430_065821.tar.gz)

[2020-04-30 09:54] mini-nair-dell commented on #4428
[syslog.docx](https://github.com/Azure/sonic-buildimage/files/4557523/syslog.docx)
[syslog1.docx](https://github.com/Azure/sonic-buildimage/files/4557524/syslog1.docx)

[2020-04-30 09:55] mini-nair-dell commented on #4428
Have uploaded the core file/show tech and syslog from the master - 259 for the issue

Thanks
Mini

[2020-04-30 14:30] rck-innovium commented on #4457
Hi Prince,
Say the ARP is learnt, the nexthop is created and then the ACL is created with redirect action using this nexthop. Now, what should be the behavior when the ARP ages out?

[2020-04-30 16:56] prsunny commented on #4457
Since there is a reference for NH object in SAI, I wouldn't expect removal of NH object to succeed.

[2020-05-01 11:55] melsom opened #4517 "Unable to compile for Cavium (AS7512-32X) - undefined reference to `sai_object_type_get_availability'"
**Description**

I am unable to compile an image for the Cavium platform using the latest code. Any help to get this compiling would be highly appreciated.

I am building on Debian Stretch.

**Steps to reproduce the issue:**
1. make init
2. make configure PLATFORM=cavium
3. make target/sonic-cavium.bin

**Describe the results you received:**

<pre>
libtool: link: g++ -g -O2 -fdebug-prefix-map=/son

[2020-05-02 19:36] lguohan opened #4521 "changed buffers_config.j2 does not trigger rebuilt of the docker-sonic-vs.gz"
**Description**

**Steps to reproduce the issue:**
1. `make $CACHE_OPTIONS target/docker-sonic-vs.gz`, make sure docker-sonic-vs.gz is up-to-date. CACHE_OPTIONS=rwcache
2. change `files/build_templates/buffers_config.j2` and commit.
3. do another ``make $CACHE_OPTIONS target/docker-sonic-vs.gz`

**Describe the results you received:**
the `target/docker-sonic-vs.gz` is not rebuilt.

**Describe the

[2020-05-04 21:44] qiluo-msft opened #4531 "Buster has official python 3.7 support"
This is a TODO item.

Before buster, snmp docker image must use a local build python3.6. After we migrate snmp docker to Debian Buster (https://github.com/Azure/sonic-buildimage/pull/4529), we have official python 3.7 in Debian sources.

In stead of install it into snmp image, we could install it in docker-base image. It will be the same disk occupancy, but every derived image could benefit from f

[2020-05-05 11:09] chitra-raghavan commented on #4470
As per the weekly discussion with Dell-MSFT, This ingress-port is optional parameter . Hence closing this Issue

[2020-05-05 11:09] #4470 closed

[2020-05-05 14:19] mykolaf opened #4536 "config CLI fails with traceback no attribute 'load_sonic_global_db_config'"
**Description**

201911 have issue with `config` CLI.
` AttributeError: type object 'SonicDBConfig' has no attribute 'load_sonic_global_db_config' `

**Steps to reproduce the issue:**
1. `config load_minigraph `
2.
3.

**Describe the results you received:**
[code]
**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Ou

[2020-05-05 14:56] stephenxs commented on #4460
Some other features hog the CPU and make it unable to learn the routing entries for the DHCP server.
After removing that features the test passes.
So I'm going to close this issue.
Thank you.

[2020-05-05 14:56] #4460 closed

[2020-05-05 16:21] judyjoseph commented on #4536
Hi,
   In 201911, it should get resolved, once we merge in https://github.com/Azure/sonic-py-swsssdk/pull/63. We are in the process of doing the same.

   Ideally in master we should not be seeing the sonic-py-swssdk submodule is already updated to latest via this PR https://github.com/Azure/sonic-buildimage/pull/4421

[2020-05-06 06:10] melsom commented on #4517
Anyone who could take a look at this issue?

[2020-05-06 06:25] wendani commented on #4517
You may try reverting https://github.com/Azure/sonic-sairedis/pull/528 in your local sonic-sairedis clone and try compiling. Not sure if it works or not.

[2020-05-06 06:43] linalvin opened #4539 "interface status abnormal with partial setting in config_db.json"
**Description**
the situation is not happening on sonic-201811
this happens on sonic-201911

the oper status in "show interface status" is N/A with the partial setting in config_db.json
the bcm port status is not enable

ex.
root@sonic:~# show interfaces status
  Interface            Lanes    Speed    MTU       Alias    Vlan    Oper    Admin             Type    Asym PFC

 Ethernet48      85,86,87,

[2020-05-06 15:03] ben-gale commented on #4470
Thanks Chitra. I did follow-up. As we know: -
- SONiC (nor SAI) does not specify required hash behavior, so I think this test should be considered informative rather than normative.
- SAI also does not have any knobs for Hash configuration - it's implementer choice
- In this case, we (Broadcom) *could* include the src port in the hash, but don't seem to today. Maybe we'll change this one day, but

[2020-05-06 16:18] rck-innovium opened #4545 "ecnconfig does not set wred_green_enable, wred_yellow_enable and wred_red_enable"
**Description**
**ecnconfig** command can be used to create WRED/ECN profiles and attach them to queues.
However it does NOT allow setting the below attributes which are needed to enable WRED/ECN  in any SAI platform.

- wred_green_enable
- wred_yellow_enable and
- wred_red_enable

ecnconfig does not allow user to specify **"wred_green_enable"**.  Only if "wred_green_enable": "true" is set, **qoso

[2020-05-06 18:23] mykolaf commented on #4536
Fixed by [submodule update](https://github.com/Azure/sonic-buildimage/commit/acd82fcdc1e44afe8cacfbf9028db0591862c236)

[2020-05-06 18:23] #4536 closed

[2020-05-06 21:49] ben-gale commented on #4473
https://github.com/Azure/sonic-buildimage/pull/4548 has been raised for Mgmt FW.

NAT is coming soon.

[2020-05-07 11:05] stepanblyschak opened #4553 "sonic-cfggen is consuming a lot of CPU during switch startup"
**Description**

During switch bootup sonic-cfggen is called over 100 of times from different places from different SONiC containers. It consumes a lot of CPU mainly because of jinja2 and natsort python packages which which compile a lot of regular expressions on import time. It makes containers to start very slow and has impact on cold/fast/warm boot timings.

**Steps to reproduce the issue:**
No

[2020-05-07 11:13] stepanblyschak opened #4554 "supervisor consumes lot of CPU during switch startup"
**Description**

During switch bootup supervisorctl is called lot of times from different SONiC containers to start daemons. It consumes a lot of CPU. It makes containers to start slower and has impact on cold/fast/warm boot timings.

**Steps to reproduce the issue:**
No specific steps, just perform any kind of reload/reboot and start some profiling tool (bootchart, perf&flamegraphs)

**Describe t

[2020-05-10 15:43] MaxYaremchuk opened #4570 "Key IPV6_NEXT_HEADER is not supported in MIRRORV6 ACL"
**Description**
Key  **IPV6_NEXT_HEADER** is not supported in MIRRORV6 ACL.

**Steps to reproduce the issue:**
1. Create ACL table by applying json file:
[code]
2. Create a mirror session by applying json file:
[code]
3. Create ACL rule by applying json file
[code]

**Describe the results you received:**
Applying aforementioned rule causes errors:
[code]

**Describe the results you expected:**
The

[2020-05-11 09:08] shaoshouping commented on #4089
@all, on sonic@5e17126ffe42b9c03140d4131e7ae6c41fa2b02d, we face same issue. could you share the resution with me. Thanks and I am waiting for response!

[2020-05-11 09:09] shaoshouping commented on #4089
branch:201911

[2020-05-11 09:56] shaoshouping commented on #4089
below command will trigger issue:
config portchannel add PortChannel1
config portchannel member add PortChannel1 Ethernet0

[2020-05-11 14:30] Ezrickd opened #4572 "BGPv6 Neighbor configuration on config_db not generated to frr.conf"
bgp neighbor at 2019 image from March is creating frr config for ipv6 afi neighbor atatement.
when moving to newest image BGP ipv6 unicast neighbor statement is not created.

checking at BGP container I see that there are new folders :
At BGP Docker it is pointing to /usr/share/sonic/templates/bgpd/templates/general/instance.conf.j2

when on erlier build it was all on /usr/share/sonic/templates/

[2020-05-11 21:13] Ezrickd commented on #4572
thank you Pavel.
attached show commands.
[show commands.txt](https://github.com/Azure/sonic-buildimage/files/4612142/show.commands.txt)

[2020-05-12 02:22] shaoshouping opened #4574 "Orchagent crash is seen in sonic@5e17126ffe42b9c03140d4131e7ae6c41fa2b02d branch:201911"
below command will trigger issue:
config portchannel add PortChannel1
config portchannel member add PortChannel1 Ethernet0

//syslog
May 11 10:01:00.429152 switch2 ERR syncd#syncd: [none] brcm_sai_set_lag_member_attribute:1103 trunk set failed with error Invalid parameter (0xfffffffc).
May 11 10:01:00.429152 switch2 ERR syncd#syncd: :- processEvent: VID: oid:0x1b0000000009ba RID: oid:0x1001b000000

[2020-05-12 02:31] shaoshouping commented on #4574
platform: broadcom
Waiting for replay! Thanks!

[2020-05-12 02:56] #4574 closed

[2020-05-12 04:41] tim-rj opened #4576 "Orchagent crash is seen when portchannel is configured"
Orchagent crash is seen when portchannel is configured

**Steps to reproduce the issue:**
1. config portchannel add PortChannel1
2. config portchannel member add PortChannel1 Ethernet0

**Describe the results you received:**
May 11 10:01:00.429152 switch2 ERR syncd#syncd: [none] brcm_sai_set_lag_member_attribute:1103 trunk set failed with error Invalid parameter (0xfffffffc).
May 11 10:01:00.42915

[2020-05-12 10:39] stepanblyschak opened #4589 "orchagent crashes on warm restoration during upgrade from 1811 to 1911"
[sonic_dump_arc-switch1025_20200512_103750.tar.gz](https://github.com/Azure/sonic-swss/files/4615046/sonic_dump_arc-switch1025_20200512_103750.tar.gz)
Steps to reproduce:
1. Load 1811 image
2. Install 1911 image
3. Warm reboot

Observed crash in orchagent:
[code]

Looks like the schema for INTF_TABLE changed since 1811.

[2020-05-12 15:28] abdosi opened #4580 "Image is compile with flag ENABLE_DHCP_GRAPH_SERVICE and loaded it will not able to use existing config_db.json on system"
**Description**
Issue where image is compile with flag ENABLE_DHCP_GRAPH_SERVICE and then we load image and reboot even if there was existing
config_db.json on file system we will still look for DHCP Service for minigraph after reboot and system remain in that stuck state.This behavior is different to what we have in 201811 image.

**Steps to reproduce the issue:**
1. compile image with flag ENABL

[2020-05-12 15:28] abdosi commented on #4580
Issue is being fixed via

https://github.com/Azure/sonic-buildimage/pull/4573

[2020-05-13 08:47] mini-nair-dell opened #4586 "ERR syncd#syncd: :- collectPortCounters: Failed to get stats of port 0x100000071: -5 ---> Seen in master 281"
I see the syslogs of T0 S6100 filled with the below logs in the master image – 281. The same logs were not present in the image – 259.

This issue doesn’t look like the syncd crash because, the logs are always seen, and even when there is no crash.

The same is not seen in T1 TB.

root@sonic-s6100-07:/var/log# tail -f syslog
May 13 05:43:16.087433 sonic-s6100-07 ERR syncd#syncd: [none] brcm_sai_ge

[2020-05-13 08:59] mini-nair-dell commented on #4586
[syslog1-syncd.docx](https://github.com/Azure/sonic-buildimage/files/4620837/syslog1-syncd.docx)
[syslog-syncd.docx](https://github.com/Azure/sonic-buildimage/files/4620839/syslog-syncd.docx)

[2020-05-13 09:18] mini-nair-dell opened #4587 "The query on OID ChStackUnitCpuUtil5sec doesnt fetch any o/p in the latest master 281"
Failed Image - 281
==============>

nmini@login-eqx-01 ~ $ snmpwalk -v2c -c public 10.11.46.86 1.3.6.1.4.1.6027.3.10.1.2.9.1.2.1
SNMPv2-SMI::enterprises.6027.3.10.1.2.9.1.2.1 = No Such Object available on this agent at this OID
nmini@login-eqx-01 ~ $

root@sonic-s6100-07:~#  sudo docker exec -it snmp snmpwalk -v2c -c public 10.11.46.86 1.3.6.1.4.1.6027.3.10.1.2.9.1.2.1
iso.3.6.1.4.1.6027.3.10.1.2.

[2020-05-13 09:56] mini-nair-dell commented on #4586
root@sonic-s6100-07:/var/core# bcmcmd "a"
a
Attach: Unit 0 (BCM56960_B1): attached (current unit)
drivshell>
root@sonic-s6100-07:/var/core# bcmcmd "version"
version
Broadcom Command Monitor: Copyright (c) 1998-2020 Broadcom
Release: sdk-6.5.16 built 20200417 (Fri Apr 17 02:10:18 2020)
From sonicbld@9cacac0fd10c:/var/sonicbld/workspace/Build/broadcom/broadcom_sai/20-sai-build-brcm-3.7/output/x86-xg

[2020-05-13 09:57] mini-nair-dell commented on #4586
root@sonic-s6100-07:~# show ver

SONiC Software Version: SONiC.master.281-286aa35a
Distribution: Debian 10.4
Kernel: 4.19.0-6-amd64
Build commit: 286aa35a
Build date: Sun May 10 11:13:59 UTC 2020
Built by: johnar@jenkins-worker-8

Platform: x86_64-dell_s6100_c2538-r0
HwSKU: Force10-S6100

[2020-05-13 10:09] mini-nair-dell commented on #4587
root@sonic-s6100-07:~# show ver

SONiC Software Version: SONiC.master.281-286aa35a
Distribution: Debian 10.4
Kernel: 4.19.0-6-amd64
Build commit: 286aa35a
Build date: Sun May 10 11:13:59 UTC 2020
Built by: johnar@jenkins-worker-8

Platform: x86_64-dell_s6100_c2538-r0
HwSKU: Force10-S6100
ASIC: broadcom

[2020-05-13 15:10] xinliu-seattle commented on #4587
@qiluo-msft, can you take a first look at this?

[2020-05-13 15:16] #4580 closed

[2020-05-13 15:17] xinliu-seattle commented on #4580
This has been resolved.

[2020-05-13 15:26] xinliu-seattle commented on #4576
@tim-rj , please help to provide show tech output.

[2020-05-13 15:37] xinliu-seattle commented on #4570
@Magni79 this is not supported. If need to be support, new feature will be required.

[2020-05-13 15:38] xinliu-seattle commented on #4570
@Magni79 this is not supported. If need to be support, new feature will be required.

[2020-05-13 15:38] xinliu-seattle commented on #4570
@Magni79 this is not supported. If need to be support, new feature will be required.

[2020-05-13 15:41] lguohan commented on #4570
we support SAI_ACL_TABLE_ATTR_FIELD_IP_PROTOCOL for ipv6, not sure if it is equivalent to SAI_ACL_TABLE_ATTR_FIELD_IPV6_NEXT_HEADER.

[2020-05-13 15:42] abdosi commented on #4570
@Magni79 Can you try using key as IP_PROTOCOL.  it should map to nextheader of ipv6

[2020-05-13 15:48] yxieca commented on #4586
@mini-nair-dell please attach show techsupport to this ticket. We need the logs to triage this issue.

[2020-05-13 15:51] lguohan commented on #4553
![image](https://user-images.githubusercontent.com/2293967/81835112-b18e9a80-94f6-11ea-85b7-40ef5b5bc632.png)

looks like supvervisorctl is causing lots of cpu, it seems better just to leverage the supervisord autostart

[2020-05-13 16:04] abdosi commented on #4545
@rck-innovium =>

There is another command ecnconfig [-h] [-v] [-q QUEUE_INDEX] [{on,off}] [-vv].

Where we attach/detach ECN Profile to Port,queue. I think this make wred status enable for green/yellow. Can you check that ?

[2020-05-13 16:08] lguohan commented on #4554
![image](https://user-images.githubusercontent.com/2293967/81837114-3ed2ee80-94f9-11ea-8d57-ee49c2451b92.png)

i suspect we do not really need supervisorctl to start the process and just need supervisord to start those process, change the process to auto start.

[2020-05-13 19:06] rck-innovium commented on #4545
.

[code]

This does not work. It only modifies the [Queue table ](https://github.com/Azure/SONiC/wiki/Configuration#queue)and not the [WRED_PROFILE](https://github.com/Azure/SONiC/wiki/Configuration#wred_profile) table in CONFIG_DB.
Pls refer https://github.com/Azure/sonic-utilities/blob/master/scripts/ecnconfig#L211

[2020-05-14 05:48] tim-rj commented on #4576
[show tech.zip](https://github.com/Azure/sonic-buildimage/files/4626280/show.tech.zip)

[2020-05-14 06:23] lguohan commented on #4576
looks like this is private build. We do not triage private build.

[2020-05-14 09:02] mini-nair-dell opened #4594 "S6100: sonic-clear command doesnt work in master image - 281"
Passed image - Jenkins Master Branch 259
==========================================

root@sonic-s6100-07:~# sonic-clear fdb all
FDB entries are cleared.

Failed image - Jenkins Master Branch 281
=========================================

root@sonic-s6100-07:/var/core# sonic-clear fdb all
Traceback (most recent call last):
  File "/usr/bin/sonic-clear", line 8, in <module>
    from clear.main impor

[2020-05-14 18:43] wendani commented on #4504
Tried on the latest broadcom 3.7.3.3-4, and got the following syslog error on creating a subport:
[code]
Value 4 corresponding to `SAI_ROUTER_INTERFACE_ATTR_OUTER_VLAN_ID` in `sai_router_interface_attr_t`, https://github.com/opencomputeproject/SAI/blob/v1.5.2/inc/sairouterinterface.h#L121

From above, I would believe subport is not supported on broadcom 3.7.3.3-4 with respect to the latest SAI sub

[2020-05-15 05:41] tim-rj commented on #4576
yeah, It is a private build, could you help do me a favor to provider some solutions(such as configuration file, code file, similiar issue link and so on ) which may be help.  Thanks and Waiting for your reply.

[2020-05-15 10:36] mini-nair-dell opened #4607 "S6100: Installation of new service ACL fails -Fails in Build 284,passed in 281"
Steps to Repro:
================
1) Generate an ACL config file which allows only some IP address ranges , which doesnt contain the IP address of the test server.
2) Load the ACL json file using the command to the switch : acl-loader update full /tmp/testacl.json
3) Initiate ssh from the test server  >>> SSH should fail and should timeout, but here ssh goes through

johnar@e4ec12c0f9e3:~/sonic-mgm

[2020-05-15 11:00] mini-nair-dell commented on #4607
[syslog.1-acl.docx](https://github.com/Azure/sonic-buildimage/files/4633924/syslog.1-acl.docx)
[syslog-acl.docx](https://github.com/Azure/sonic-buildimage/files/4633925/syslog-acl.docx)
[testacl.json.docx](https://github.com/Azure/sonic-buildimage/files/4633929/testacl.json.docx)

[2020-05-17 11:26] #4531 closed

[2020-05-18 08:11] Junchao-Mellanox opened #4612 "bgpd exited during regression"
See bgpd exited during regression test.

[code]

**Steps to reproduce the issue:**

Cannot reproduce the issue.

**Describe the results you received:**

bgpd exited

**Describe the results you expected:**

bgpd should not exited.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_

[2020-05-18 08:56] tim-rj opened #4613 "[docker] After modifying system time, "docker ps" shows status is " Up Less than a second""
**Description**

After modifying system time to earlier , "docker ps" shows status is " Up Less than a second".

**Steps to reproduce the issue:**

	root@switch2:/home/admin# docker ps -a
	CONTAINER ID        IMAGE                                COMMAND                  CREATED             STATUS              PORTS               NAMES
	063a61038a21        docker-snmp-sv2:latest               "/usr

[2020-05-18 09:22] tim-rj opened #4614 "show ipv6 interfaces"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-05-18 09:22] #4614 closed

[2020-05-18 11:34] mini-nair-dell commented on #4586
the show tech is > 10 MB and unable to attach.

[2020-05-18 11:35] volodymyrsamotiy opened #4615 "[VNET] "zebra" crashes after VNET removal"
**Description**

"zebra" process crash happens after removing VNET.
It is known FRR issue in 7.2.1 version which is currently in "201911" branch.
Issue is already fixed in FRR 7.2.1-s3 version which is in "master" branch and this version will be cherry-picked to "201911" branch as well.

**Steps to reproduce the issue:**

* Create 1 VNET
<pre>
root@sonic:/home/admin# cat vnet.conf.json
{
    "VXLA

[2020-05-18 16:48] yxieca commented on #4586
@mini-nair-dell  can you use box to upload and share a link?

[2020-05-18 18:14] ben-gale commented on #4473
See https://github.com/Azure/sonic-buildimage/pull/4551 for NAT

[2020-05-19 08:26] Ezrickd commented on #4572
Hi Pavel
Found the issue it is a Bug.
IPv6 address is trancating the traling zero to double colon as allowed for IPv6 address.
the IPv6 local address is paresed as user inserted it , thus the local address is not found on ipv6 local device and neighbor is not created.

as you can see from the example only if i will configre the local address as trancated zero's to match the ipv6 interface BGP neig

[2020-05-19 09:04] paNjii commented on #4505
I am also running into this issue, is there any known workaround/solution for this?

[2020-05-19 10:16] kumarph commented on #4505
I stopped builing P4 platform and went to VS platform.
With VS platform build is successfull without any issue. i was able to spawn SONIC KVM in my Ubuntu 18.04

[2020-05-19 16:24] kktheballer commented on #4366
@ciju-juniper @BaluAlluru Were you guys able to resolve this? I am actually facing the exact same problem when trying to run "make configure PLATFORM=vs"

[2020-05-20 07:17] Russell123987 opened #4621 "SONiC build fail - azure-storage cannot be installed anymore"
**Description**
Build SONiC bin fail happened 5/12 until now. Before that i can build success.

**Steps to reproduce the issue:**
 branch is up-to-date with 'origin/master'.
1.git checkout =>branch is up-to-date with 'origin/master'.
2.make init
3.make configure PLATFORM=broadcom (build other vendor the same problem)
4.make all

**Describe the results you received:**
Collecting azure-storage
  Dow

[2020-05-20 09:23] zoe-kuan commented on #4539
I think this phenomenon may caused by Orchagent crash.

Orchagent will do removePort() for the ports which were removed from config_db.json,
and then Runtime error occurs after "processQuadEvent()" failed, orchagent exit unexpected.

syslog as below:

May 20 08:08:05.019544 sonic NOTICE swss#orchagent: :- initializePort: Initializing port alias:Ethernet8 pid:1000000000002
May 20 08:08:05.020113 so

[2020-05-20 18:03] yxieca commented on #3934
@rlhui please arrange update Broadcom SAI in master branch

[2020-05-20 20:00] lguohan commented on #4621
fixed in https://github.com/Azure/sonic-buildimage/commit/1066f238ba2a2ad80000bd8a233856dffc3352b2

[2020-05-20 20:00] #4621 closed

[2020-05-20 20:02] lguohan commented on #4615
fixed in https://github.com/Azure/sonic-buildimage/commit/27783630492d58d72679cefaced148d233a090c2

[2020-05-20 20:03] lguohan commented on #4613
you have changed the system time, what is the expectation here?

[2020-05-21 03:47] #4473 closed

[2020-05-21 09:05] tim-rj commented on #4613
I think the time of docker should synchronize with system time, but in this case it didn't. Docker was up for 5 hours, and then changed the system time to more than 5 hours ago, the status showed up less than a second. The expectation is up 5 hours.

[2020-05-22 07:52] tim-rj commented on #4576
It is a private build, but we change nothing, it seems that th3 warks fine, td3 exist this issue!

[2020-05-22 14:14] stepanblyschak opened #4632 "sonic-db-cli is broken on latest master"
**Description**

[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
traceback when executing keys command. If executing hget command the output is with prefix b'' which most SONiC scripts won't expect.

**Describe the results you expected:**
keys command works without traceback. If executing get/hget the output is a pure string, without prefix b''.

**Additi

[2020-05-22 17:09] dzhangalibaba commented on #4632
there is a fix PR , https://github.com/Azure/sonic-py-swsssdk/pull/71

[2020-05-22 18:01] #4554 closed

[2020-05-23 00:36] bwebb94 opened #4634 "QuantaMesh BMS T7032-IX1 EEProm Errors"
Hello!

Similar to Issue #1074, I'm having some difficulty with the EEPRom on my QuantaMesh BMS T7032-IX1

show version output:

admin@sonic:~$ show version
Warning: failed to retrieve PORT table from ConfigDB!

SONiC Software Version: SONiC.HEAD.168-dirty-20200106.050955
Distribution: Debian 9.11
Kernel: 4.9.0-9-2-amd64
Build commit: 12212467
Build date: Mon Jan 6 05:18:36 UTC 2020
Built by: john

[2020-05-24 00:00] #4632 closed

[2020-05-26 04:26] CLUDev opened #4643 "[SONiC 201911][BRCM TD3][QoS] Port went down after applying QoS config"
**Description**

Port status went down after applying QoS configuration
SONiC: 201911
BRCM SAI: 4.1.1.7

**Steps to reproduce the issue:**
1.  Config port and connect DAC cable to make sure port status is "up"
     Check port status:
        root@sonic:/etc/sonic# show interfaces status | grep net16
        Ethernet16   29   25G   9100  Ethernet16  routed  **up**  up  SFP/SFP+/SFP28   N/A

2. Appl

[2020-05-26 06:59] tim-rj opened #4645 "[soaking test] After warm-restart swss docker, crm counters were abnormal."
**Description**

After warm-restart swss docker, crm counters were abnormal. It prompted that _CRM counters are not ready. They would be populated after the polling interval._ It couldn't be recovered until device  restarted.

**Steps to reproduce the issue:**
1. sudo config warm_restart enable swss
2. sudo systemctl restart swss
3. crm  show resources all

**Describe the results you received:**

[2020-05-26 07:53] ciju-juniper opened #4646 "Port status not reflected in SONiC"
## Description

This is an issue observed in the latest SONiC images. When the cables are connected/removed in the switch ports, interface status is not correctly reflected in 'show interfaces status'. Link status is updated correctly in the broadcom side. Changes in the link state are not updated in the kernel. The files '/sys/class/net/Ethernet*/carrier' are not updated whenever the OIR is done.

[2020-05-26 08:02] ciju-juniper commented on #4646
@lguohan @jleveque   Please have a look and let me know how to proceed further. We are trying on 201911 branch as well. Will update the test results shortly.

[2020-05-26 17:41] volodymyrsamotiy commented on #4615
Issue is still observed on latest 201911 image:
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-201911/100/

[2020-05-26 18:20] lguohan opened #4651 "systemd[1]: Failed unmounting /host."
**Description**

**Steps to reproduce the issue:**
1. in vs, reboot
2.
3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-05-27 00:41] dlringor opened #4653 "not showing correct transceiver eeprom, DOM and DDM"
"show interfaces transceiver eeprom --dom" is not showing the correct information

**Steps to reproduce the issue:**
1. Establish data-link with another switch (system-to-system connectivity)

admin@sonic:~$ show inter status Ethernet0
  Interface                    Lanes    Speed    MTU             Alias    Vlan    Oper    Admin                                             Type    Asym PFC
-------

[2020-05-27 00:46] dlringor commented on #4653
<!--

"show interfaces transceiver eeprom --dom" is not showing the correct information

**Steps to reproduce the issue:**
1. Establish data-link with another switch (system-to-system connectivity)

admin@sonic:~$ show inter status Ethernet0
  Interface                    Lanes    Speed    MTU             Alias    Vlan    Oper    Admin                                             Type    Asym PFC
-

[2020-05-27 00:46] dlringor commented on #4653
"show interfaces transceiver eeprom --dom" is not showing the correct information

**Steps to reproduce the issue:**
1. Establish data-link with another switch (system-to-system connectivity)

admin@sonic:~$ show inter status Ethernet0
  Interface                    Lanes    Speed    MTU             Alias    Vlan    Oper    Admin                                             Type    Asym PFC
-------

[2020-05-27 00:47] dlringor commented on #4653
[sonic_dump_sonic_20190214_105613.tar.gz](https://github.com/Azure/sonic-buildimage/files/4685791/sonic_dump_sonic_20190214_105613.tar.gz)

[2020-05-27 07:21] ciju-juniper commented on #4646
In 201911 branch, issue is not seen.

[2020-05-27 07:44] mini-nair-dell commented on #4076
We don’t see the log wrt sflow. Here is the o/p

root@sonic-s6100-10:/var/log# cat syslog | grep "sflowmgrd"
Apr 15 10:56:33.510557 sonic-s6100-10 NOTICE sflow#sflowmgrd: :- main: --- Starting sflowmgrd ---
Apr 15 10:56:33.519021 sonic-s6100-10 NOTICE sflow#sflowmgrd: :- loadRedisScript: lua script loaded, sha: 88270a7c5c90583e56425aca8af8a4b8c39fe757
Apr 15 10:56:33.967162 sonic-s6100-10 INFO sfl

[2020-05-27 08:32] BaluAlluru opened #4654 ""show line" command is not working in Jenkins 290 image"
-->
"show line" command is not working in Jenkins 290 image

**Steps to reproduce the issue:**
1.login to the box and execute "show line" command.

**Describe the results you received:**
root@sonic:/home/admin# show line
Traceback (most recent call last):
  File "/usr/bin/show", line 12, in <module>
    sys.exit(cli())
  File "/usr/lib/python2.7/dist-packages/click/core.py", line 764, in __call__

[2020-05-27 12:13] mini-nair-dell commented on #4587
I couldnt see any other CPU related MIB in the snmp_fact library file.
# From Dell Private MIB
        self.ChStackUnitCpuUtil5sec = dp + "1.3.6.1.4.1.6027.3.10.1.2.9.1.2.1"

Other MIBs work fine

Thanks
Mini

[2020-05-27 13:11] mini-nair-dell commented on #4586
[sonic_dump_sonic-s6100-07_20200527_130305.tar.gz](https://github.com/Azure/sonic-buildimage/files/4688917/sonic_dump_sonic-s6100-07_20200527_130305.tar.gz)

[2020-05-27 13:11] mini-nair-dell commented on #4586
Pls find the show tech attached

[2020-05-27 15:06] xinliu-seattle commented on #4594
@mini will re-test and will confirm if it has been fixed.

[2020-05-27 15:09] xinliu-seattle commented on #4587
Suvarna will take a look.

[2020-05-27 15:13] xinliu-seattle commented on #4586
@daall please take a look.

[2020-05-27 15:17] xinliu-seattle commented on #4500
@santhosh-kt , please test with SAI 3.7.4.2.

[2020-05-27 15:22] xinliu-seattle commented on #4429
Still see this issue on the master on 5/22. By continuous reboot - it is more 2 times.

[2020-05-27 15:24] xinliu-seattle commented on #4428
Close this as dup of https://github.com/Azure/sonic-buildimage/issues/4429, which is on a different platform.

[2020-05-27 15:24] #4428 closed

[2020-05-27 15:27] xinliu-seattle commented on #4386
the change is under-going.

[2020-05-27 15:29] lguohan commented on #4653
@jostar-yang to take a look at?

[2020-05-27 15:33] rlhui commented on #3073
@prsunny will check/revisit.

[2020-05-27 15:34] lguohan commented on #4634
x86_64-quanta_ix1_rangeley-r0  is not supported platform for sonic. please contact quanta to adding support for sonic.

[2020-05-27 15:36] rlhui commented on #3798
@prsunny will sync up with @pavel-shirshov

[2020-05-27 15:37] rlhui commented on #3798
was mentioned as seen in latest 201911

[2020-05-27 15:44] rlhui commented on #3238
potential duplicate of #3934

[2020-05-27 15:48] rlhui commented on #3832
@volodymyrsamotiy will sync with @Junchao-Mellanox . thx.

[2020-05-27 15:51] lguohan commented on #3832
@kcudnik , if it is a timeout, then why won't we get a get timeout message?

[2020-05-27 16:04] rlhui commented on #4646
@ciju-juniper, it's a little bit not clear what the issue is still.  Please make it more clear what is not expected, and make the formatting more clear. Thanks.

[2020-05-27 16:15] ciju-juniper commented on #4646
@rlhui When the cables are connected/removed in the switch ports, the link status is not updated in the kernel. The files '/sys/class/net/Ethernet*/carrier' are not updated whenever the OIR is done. Due to this problem, 'show interfaces status' is not reflecting the link status.

[2020-05-27 16:18] lguohan opened #4656 "sonic-db-dump is broken"
[code]

on latest image

[code]

[2020-05-27 16:49] lguohan commented on #4646
@ciju-juniper , can you provide the dump file after you did trail 2 for the bad image. I need to look at the sairedis log to see if port status notification is generated or not. In your current dump, it seems it is for trail 1.

as you can see, it only has up notification. when you unplug Ethernet4, we should receive a port down notification from SAI, which I cannot find in the sairedis log.

[cod

[2020-05-27 17:05] ciju-juniper commented on #4646
@lguohan The dump was captured after Trial-2. As you can see  '/sys/class/net/Ethernet4/carrier' still reports '1' even after the cable pull out.

We can try recreating the problem and capture the dump again. Needs a day or two as we don't have physical access to the box these days.

Could you tell me which driver in the kernel find out the link status change and update the '/sys/class/net/Etherne

[2020-05-27 18:41] lguohan commented on #4646
the mismatch here is that if you look at the broadcom.ps file, it says ce12 and ce13 up. In the trail-2, i think it should be ce3 to be up according to your good trail log. So, it seems after you swap the cable, ce3 is not up from broadcom.ps file.

that is why I am not sure if you have provide the right capture after trail-2.

[code]

ethernet4 is the broadcom knet driver. when there is link down

[2020-05-27 20:48] daall commented on #4586
ack. Thank you for the show tech, I'll take a look today and try to sort this out.

[2020-05-27 23:37] stephenxs commented on #3832
now that we know almost all the reproductions of the `transfer_attributes: src vs dst attr id don't match` error are caused by time out, can we simply treat the case `src vs dst attr id don't match` as a timeout and return something like timeout in this case?
comparing to adding a sequence no approach, this solution will be much easier and require smaller effort.
the negative side of this solution

[2020-05-28 07:07] ciju-juniper commented on #4646
@lguohan Please see the attached test logs and the dump from the bad image.
[Test_logs_28_05_2020.txt](https://github.com/Azure/sonic-buildimage/files/4693812/Test_logs_28_05_2020.txt)
[sonic_dump_sonic_20200528_055104.tar.gz](https://github.com/Azure/sonic-buildimage/files/4693814/sonic_dump_sonic_20200528_055104.tar.gz)

[2020-05-28 07:55] ciju-juniper commented on #4646
@lguohan Look like there are no SAI notifications after Trial-2

crajank-mbp:log crajank$ grep -i "SAI_PORT_OPER_STATUS_" sairedis.rec
2020-05-28.05:38:10.297727|n|port_state_change|[{"port_id":"oid:0x100000000000e","port_state":"SAI_PORT_OPER_STATUS_UP"}]|
2020-05-28.05:38:10.300046|n|port_state_change|[{"port_id":"oid:0x100000000000f","port_state":"SAI_PORT_OPER_STATUS_UP"}]|
2020-05-28.05:40:23

[2020-05-28 08:27] lguohan commented on #4646
so, it looks like a broadcom SAI issue. if you bring down the port on the other side, will the SAI generate the notification?

[2020-05-28 09:40] ciju-juniper commented on #4646
@lguohan We had tested by connecting DAC cables in loopback within the same box.

Are you asking to do an 'ifconfig Ethernet0 down' in this loopback setup? Or connect the cables between two boxes and check?

[2020-05-28 09:47] ciju-juniper commented on #4366
@kktheballer It's better now. Sometimes, we still do hit this problem. So we add the workaround "-o Acquire::CompressionTypes::Order::=gz"  in the failing docker slave Dockerfile.j2

[2020-05-28 13:23] mkovnir opened #4664 "BGP_PEER_RANGE is not translated into FRR configuration"
**Description**

BGP_PEER_RANGE is not translated into FRR configuration

**Steps to reproduce the issue:**
1. Create BGP_PEER_RANGE table in config.db
[code]
2. Reload configuration (config reload) or restart BGP container (systemctl restart bgp).
3. Check BGP range configuration via vtysh
`vtysh -c 'show run' | grep range`

**Describe the results you received:**
No bgp range configured in FRR.

[2020-05-28 19:33] pavel-shirshov commented on #4664
I installed the latest sonic public master.
Then I followed your steps and have the configuration in the config:
[code]
I'd suggest to check the error messages for bgpcfgd in the syslog. It could give you a clue what is going on.

[2020-05-28 19:48] pavel-shirshov commented on #4664
I checked the logs you attached and found that bgpcfgd doesn't see anything from the config_db.
No activity.
[code]
I;d suggest you to enable debug mode
[code]
And check syslog output

[2020-05-28 20:09] lguohan commented on #4646
basically, I am asking to simulate the port oper status down and check if sai sends a notification to upper layer or not.

[2020-05-28 23:46] pavel-shirshov commented on #4429
@xinliu-seattle Can you please define continuous reboot? I can't reproduce the crash.

[2020-05-29 00:32] abdosi commented on #4127
@mini-nair-dell this should get fix when below PR gets merged
https://github.com/Azure/sonic-mgmt/pull/1708

Please re-verify

[2020-05-29 04:30] stephengzh commented on #4366
Hello, I met the same issue when I built the PTF docker with:
admin5@admin5-PowerEdge-R720:~/sonic-buildimage-1$ make configure PLATFORM=generic

I added the workaround  "-o Acquire::CompressionTypes::Order::=gz" in the failing docker slave Dockerfile.j2:

admin5@admin5-PowerEdge-R720:~/sonic-buildimage-1/sonic-slave-jessie$ cat Dockerfile.j2
.
.
.
# Install depot-tools (for git-retry)
RUN git clo

[2020-05-29 09:21] stephengzh commented on #1281
Hi, I met same issue, did you fix it?

[2020-05-29 10:45] mini-nair-dell commented on #4127
The issue is seen with the latest 201911 branc h. Build - 83

Thanks
MIni

[2020-05-29 11:03] BaluAlluru commented on #4646
We tried to simulate the port oper status down by executing below command to make the port 1 down
**bcmcmd "port ce13 Enable=False".**

We are seeing the issue in latest SONIC image. Attached is **jenkins290_logs** file. This file has the logs captured for latest SONIC Jenkins 290 image on the box. In the attached log, the issue is seen after **Trial 5**. SAI is not sending notification to upper l

[2020-05-29 13:12] tanpinsiang opened #4667 "[device/accton]Syntax error on config.bcm for AS7312-54XS, AS7312-54X and AS7315-27XB causing interface not showing up"
**Syntax error on config.bcm for AS7312-54XS, AS7312-54X and AS7315-27XB causing interface not showing up**

Tested on 201904_57, 201911_74, 201911_81 and master branch.
`sudo show interfaces status`
Shows nothing and the port didn't responds to any command.

Error occur on AS7312-54XS:
sonic INFO syncd#supervisord: syncd Platform configuration: format error in /usr/share/sonic/hwsku/th-as7312-48x

[2020-05-29 13:26] stepanblyschak opened #4668 "[everflow] mirror destination is not updated with new route nexthop"
**Description**

When running _everflow/test_everflow_testbed.py::TestEverflowIngressAclIngressMirror::test_everflow_case4[spine]_ on t1-lag topology, route 2.2.2.0/24 is replaced with nexthop 10.0.0.5. However, mirror session is not updated and still references old 10.0.0.53@Ethernet104 hexthop.

[code]

**Steps to reproduce the issue:**
1. configure mirror session with valid DST IP
2. change rou

[2020-05-29 14:09] rlhui commented on #4127
@abdosi, @mini-nair-dell , thanks for info. the mentioned PR as fix is not yet in 201911 branch.