[2020-09-09 01:36] tim-rj opened #5343 "show interfaces breakout not working"
**Description**

show interfaces breakout not working

**Steps to reproduce the issue:**
1.show interfaces breakout

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-09-09 03:28] hanstseng commented on #3212
Hi jleveque:

    We also cross-tested the "custom_led.bin" and  "linkscan_led_fw.bin" from Dell, DellEMC-S5232f-C32, but the error message still the same.

Best Regards
Hans

[2020-09-09 06:08] tim-rj opened #5344 "snmp no Response when snmpwalk -v 2c -c tcnw 127.0.0.1"
**Description**

snmp No Response when snmpwalk -v 2c -c tcnw 127.0.0.1

**Steps to reproduce the issue:**
1. snmpwalk -v 2c -c tcnw 127.0.0.1

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate

[2020-09-09 06:13] tim-rj opened #5345 "ERR syslog about snmp-subagent [ax_interface] "self.vlanmac_ifindex_map[vlanmac] = mibs.get_index_from_str(self.if_id_map[port_id])#012KeyError: b'20000000009b6']""
**Description**

ERR syslog about snmp-subagent [ax_interface] "self.vlanmac_ifindex_map[vlanmac] = mibs.get_index_from_str(self.if_id_map[port_id])#012KeyError: b'20000000009b6']"

**Steps to reproduce the issue:**
1. Upgrade the device to master,Check syslog, whether there is abnormal log

**Describe the results you received:**

[code]

**Describe the results you expected:**
no print err log

**

[2020-09-09 06:36] #5241 closed

[2020-09-09 07:27] shlomibitton opened #5347 "Interface state is 'down' and not going up when adding and removing it from vlan group"
**Description**
Interface state change to 'down' and not going up again when adding an interface to some vlan group and then remove it.
This issue is not easy to reproduce, It occur randomly after several times or even more of doing the steps below.
In order to restore the interface a config reload or reboot is required.

**Steps to reproduce the issue:**
1. config vlan add 2
2. config vlan member

[2020-09-09 10:21] jianjundong commented on #5310
@BaluAlluru
Before 'systemctl start iccpd', you may run 'systemctl unmask iccpd' first. And 'docker start docker-iccpd' is not correctly, you may run 'docker start iccpd'.

[2020-09-09 15:26] bratashX opened #5349 "[platform-daemons] pcied daemon doesn't update STATE_DB"
**Steps to reproduce the issue:**

1. Run pcied daemon
2. Execute command
`redis-cli -n 6 SET "PCIE_STATUS|PCIE_DEVICES" "TEST"`
3. Wait one minute
4. Execute command
 `redis-cli -n 6 GET "PCIE_STATUS|PCIE_DEVICES`

**Describe the results you received:**

pcied daemon must update the database every minute, but `PCIE_STATUS|PCIE_DEVICES` doesn`t change.

**Additional information you deem important

[2020-09-09 17:58] BrynXu opened #5351 "Duplicated dbid in redis multi-instances causes error"
**Description**
Ideally dbid in different redis instances can be duplicated, but due to following code:
const TableNameSeparatorMap TableBase::tableNameSeparatorMap = {
   { APPL_DB,             TABLE_NAME_SEPARATOR_COLON },
   { ASIC_DB,             TABLE_NAME_SEPARATOR_COLON },
   { COUNTERS_DB,         TABLE_NAME_SEPARATOR_COLON },
   { LOGLEVEL_DB,         TABLE_NAME_SEPARATOR_COLON },
   { CO

[2020-09-09 21:32] prsunny commented on #5347
can you provide the full output of 'show version' including the platform?

[2020-09-09 22:43] prsunny commented on #5332
Please try "`sudo iptables --list -n`". By default the program will try to resolve the names for IP address and that can cause delays in output. This is expected.

[2020-09-10 03:16] tim-rj opened #5354 "show reboot-cause not working while syslog print "WARNING systemd[1]: process-reboot-cause.service: Failed with result 'exit-code'""
**Description**

show reboot-cause not working while syslog print "WARNING systemd[1]: process-reboot-cause.service: Failed with result 'exit-code'"

**Steps to reproduce the issue:**
1. reboot the system and  after system Get up,then show reboot-cause

**Describe the results you received:**

[code]

**Describe the results you expected:**
show reboot-cause can work

**Additional information you de

[2020-09-10 07:14] shlomibitton commented on #5347
@prsunny I have added the platform from 'show version', this is reproduced on several platform not only this one.
In addition, after further investigation I added 'saidump.txt' to this issue, looks like during the time the interface was part of the vlan group a mac entry learned on this interface and then there was a reference for this entry on the interface causing a failure of removing it from t

[2020-09-10 10:14] bratashX commented on #5236
Bug fixed.

[2020-09-10 10:14] #5236 closed

[2020-09-10 15:55] prsunny commented on #5319
So are you saying the portchannel member must be "admin" down when the portchannel itself is shutdown? The description says you are expecting "oper" down. Can you please clarify?

[2020-09-10 16:15] #5303 closed

[2020-09-10 17:24] willieken559099 commented on #5342
Any updates guys ?

[2020-09-10 18:03] judyjoseph commented on #5291
@wangxin Since the next image is available already, could you try the build SONiC.20191130**.48**, instead of the private build which we discussed earlier. The PR is already merged in.

[2020-09-10 20:15] lguohan commented on #5342
we need the show tech information.

[2020-09-10 21:27] jleveque commented on #5275
@Ezrickd: I see you provided the ACL tables and rules output from the CLI, but can you please also provide the ACL configuration being used (you can simply provide the entire config_db.json file if that is acceptable for you).

[2020-09-11 08:56] Ezrickd commented on #5275
Hi Joe.

No problem will do that on Sunday 👍

Have a great weekend

Ezrick

Sent from my iPhone
Sorry for his typing errors (-;

On 11 Sep 2020, at 0:27, Joe LeVeque <notifications@github.com> wrote:

﻿

@Ezrickd<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FEzrickd&data=02%7C01%7Cezrick%40nvidia.com%7Ce31a5aebd5514953a28208d855d05c79%7C43083d15727340c1b7db39efd9cc

[2020-09-11 09:35] tim-rj commented on #5319
What I expect is that when the portchannel is shut down, the state of the member port that belongs to it is also shut down, and the member port cannot communicate normally until the portchannel is up or it is removed from the portchannel。

[2020-09-11 17:58] prsunny commented on #5319
Got it, so that's a feature request that needs to be planned.

[2020-09-12 22:13] #4399 closed

[2020-09-14 01:32] stephenxs opened #5366 "backward compatibility isn't provided for subcommands of sonic_installer"
**Description**

On master, all the underscore has been replaced by hash with backward. However, for subcommands of `sonic_installer`, backward compatibility isn't provided, which fails the deployment in the regression test.
[code]

**Steps to reproduce the issue:**
1. to run `sonic_installer binary_version`
2.
3.

**Describe the results you received:**
the command can't be executed

**Describe th

[2020-09-14 05:39] BaluAlluru commented on #5310
@jianjundong ,
Thanks for clarifying on this. Executed **systemctl unmask iccpd** command followed by
**systemctl start iccpd**. Observed iccpd docker container running.

@shine4chen @sdddean @tylerlinp, @jianjundong
Attached file **TopologyDiagram_MCLAGconfig-SW1-SW2** has topology diagram along with the MC-LAG configs on Switches SW1 and SW2.

Orchagent is crashing on our setup when MCLAG negoti

[2020-09-14 07:09] wangxin commented on #5291
Tested build **SONiC.20191130.49**. Performed `sudo config reload -y` 10 times. This issue cannot be reproduced. I am closing it.

[2020-09-14 07:09] #5291 closed

[2020-09-14 07:13] wangxin commented on #5332
Thank you @prsunny. It makes sense. The DNS server is unreachable when the switch is populated with routes because the default gateway points to the VMs. It works perfectly fine with `sudo iptables --list -n`. I am closing this issue.

[2020-09-14 07:13] #5332 closed

[2020-09-14 07:30] BaluAlluru commented on #5310
few more observations:
1) Initially all the docker containers are running after iccpd is started.

![image](https://user-images.githubusercontent.com/52991553/93056024-727d7b00-f689-11ea-9fa5-ecc094541c2b.png)

2) After few seconds, orchagent is crashing and many of the docker containers are not running.
![image](https://user-images.githubusercontent.com/52991553/93056169-ae184500-f689-11ea-8b6a-3

[2020-09-14 10:17] Ezrickd commented on #5067
Hi,
how it is going to be implemented?
also under which folder in tech-support.

/Ezrick

[2020-09-14 12:20] liat-grozovik commented on #5217
@tahmed-dev can you please update on status?

[2020-09-14 15:45] torombolo17 commented on #4366
Hello! I've tried running  `make configure PLATFORM=barefoot` in two different VMs (Debian 9 and Ubuntu 18.04) and I get the same issue in both of them:

Sending build context to Docker daemon  26.62kB
Step 1/18 : ARG slave_base_tag_ref=latest
Step 2/18 : FROM sonic-slave-stretch:${slave_base_tag_ref}
pull access denied for sonic-slave-stretch, repository does not exist or may require 'docker logi

[2020-09-14 19:45] tahmed-dev commented on #5217
@stepanblyschak, is the issue here the FDB are not restored or the restoration process is delayed? if it is the latter, what are quantitative expectations to have FDB entries restored? I can see from the following logs that the process is taking about 55s. However the order of restoration is not clear to me. @prsunny do you see a race condition here?

[code]

[2020-09-15 01:29] jianjundong commented on #5310
@BaluAlluru
Sep 11 18:51:54.120675 QFX5200-SONiC-SW1 ERR syncd#syncd: [none] _brcm_sai_create_acl_table:5334 OUT PORTS not supported on this platform.
Sep 11 18:51:54.120723 QFX5200-SONiC-SW1 ERR syncd#syncd: [none] brcm_sai_create_acl_table:109 create table entry failed with error -327680.
Sep 11 18:51:54.121148 QFX5200-SONiC-SW1 ERR syncd#syncd: :- run: Runtime error: :- processQuadEvent: failed

[2020-09-15 05:18] ciju-juniper commented on #5310
@jianjundong Could you provide an example configuration that will work on TH1 platforms?

[2020-09-15 07:07] MaxYaremchuk opened #5377 "[ZTP] "show ztp status" command requires root privileges to be executed"
**Description**

**show ztp status** command requires root privileges to be executed

**Steps to reproduce the issue**
1. On the SONiC image with enabled ZTP feature issue the command **show ztp status**

**Describe the results you received**
[code]

**Describe the results you expected**
**show ztp status** command should be successfully executed under admin credentials.

**Output of `show version

[2020-09-15 07:10] MaxYaremchuk opened #5378 "[ZTP] configdb-json plugin fails to apply config_db.json. Reproduced intermittently."
**Description**
From time to time execution of built-in configdb-json plugin fails with exit code(1).
It doesn't depends on whether ZTP process is running just after cold rebooting or not.
The following run of ZTP process may finish successfully (no changes on config_db.json or ztp_config.json have applied)
This issue is reproduced intermittently (approximately one time out of ten)

**Steps to rep

[2020-09-15 07:12] MaxYaremchuk opened #5379 "[ZTP] firmware plugin: predefined task of removing of existing image fails."
**Description**
Attempt of removing inactive sonic image by firmware's remove plugin fails.
In syslog it claims that image is not specified but it has been specified in ztp config file.

**Steps to reproduce the issue**
1. Install two images on the switch.
2. Boot sonic with ZTP enabled feature
3. Specify in the remove section the name of currently inactive image to be removed.
[code]
[code]
4. An

[2020-09-15 07:13] MaxYaremchuk opened #5380 "ZTP process doesn't have to start again in case of absence of config_db.json if earlier ZTP process had finished. But it does."
**Description**
[According to ](https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#test-case-26)  ZTP process doesn't have to start again in case of absence of config_db.json if it earlier had finished.
`If ztp.status field of local file is either SUCCESS, FAILED or DISABLED, ZTP service exits.`
But ZTP starts again no matter whether it has finished earlier.

**Steps to reproduce the issue*

[2020-09-15 11:17] BaluAlluru commented on #4646
@gechiang
Today we tested Jenkins 404 image on TH1 and TH2 platform.
We didn't observe port status issue.

In the first instance, loaded Jenkins 404 image on TH1 platform, connected 100G DAC cable back to back in different ports on TH1 platform and tested for OIR.
Didn't observe the port status issue.
Below are the logs captured.
[Jenkins404-TH1-OIR-logs.txt](https://github.com/Azure/sonic-buildim

[2020-09-15 14:01] rajendra-dendukuri commented on #5380
Please refer to https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#36-start-and-exit-conditions. The ZTP is starting again as there is no configuration in the switch which means, since ZTP admin mode is enabled, it is the responsibility of ZTP to fetch the lost configuration.

[2020-09-15 14:13] rajendra-dendukuri commented on #5377
Fixed in:
https://github.com/Azure/sonic-ztp/pull/13
https://github.com/Azure/sonic-utilities/pull/872

[2020-09-15 16:24] rajendra-dendukuri commented on #5378
The issue is due to sflow service start failing not starting as part of the "config reload".

[code]

I propose that we can provide an additional option to specify in the configdb-json plugin to ignore errors seen during "config reload". This option will be disabled by default to catch errors seen during "config reload".

Please raise another issue for the sflow service issue seen.

[2020-09-15 18:58] gechiang commented on #4646
@BaluAlluru Thanks so much for getting back to working on this again.  I have analyzed both logs that you captured.  On surface although the end result of the link status seems correct, but there are some transitions that is not being detected correctly based on what you captured.  The one on TH1-OIR only looks fine.  But I do have some questions about the TH1-TH2-OIR test result.

For the TH1-TH2

[2020-09-15 19:26] ciju-juniper commented on #4646
@gechiang OIR was done manually. We will try again that scenario and try to get the gdb attached.

[2020-09-15 19:37] jleveque commented on #3212
@rlhui is tracking this issue with Broadcom.

[2020-09-15 19:47] gechiang commented on #4646
@ciju-juniper Thanks for confirming that it is "manually" unplug/plug of the cable being performed.
@BaluAlluru When you retry this scenario again, please see if you can leave the cable disconnected a little longer and capture the swss/sairedis.rec to ensure you do observe the expected "DOWN" event from both TH1 and TH2 DUTs before you plug the cable to the new destination port.   If you never see

[2020-09-15 21:59] qiluo-msft commented on #5275
@Ezrickd Is this issue a regression or a history one?
If regression, do you have a good version under comparision?

[2020-09-15 23:54] qiluo-msft commented on #5351
The `tableNameSeparatorMap` and the constructor `TableBase(int dbId, const std::string &tableName)` is going to deprecate in future, so it is suggested not to extend the map. Instead the same functionality could be achieved by `database_config.json`. Could you check?

[2020-09-16 02:24] rck-innovium commented on #5258
Description:
=============
While performing warm-reboot and fast-reboot PTF testcases in T0 topology, python core is generated. This is consistently seen in post-August NOS image.

The python corefile is generated in both T0 and T1 topologies when a simple ‘warm-reboot -vvv’ command is issued on the CLI.

Platform :
===========
x86_64-delta_evs-a-32q56-r0  with T0 topology loaded.

Build :
======

[2020-09-16 02:26] rck-innovium commented on #5258
The calcmgrd core during warm-reboot is happening on our platform as well.
On our platform, we do **NOT** have the hardware watchdog issue or the kernel crash.
We have updated the details here.
https://github.com/Azure/sonic-buildimage/issues/5258#issuecomment-693130234

[2020-09-16 03:44] dzhangalibaba commented on #5351
we need the dbid unique to go ahead with current multidb warmboot design.

[2020-09-16 03:47] dzhangalibaba commented on #5351
Any case we must use duplicated dibs?

[2020-09-16 05:16] docker2017713 commented on #5310
@jianjundong I found the following configuration example, I don't know if it is correct.
  "ACL_TABLE": {
      "mclag": {
         "policy_desc" : "Mclag egress port isolate acl",
         "type" : "MCLAG",
         "ports" : [
                "PortChannel0001"
                ]
        }
    },
    "ACL_RULE": {
       "mclag|mclag": {
            "OUT_PORTS" : "Ethernet0",
            "IP_TYPE"

[2020-09-16 07:39] tim-rj opened #5387 "【201911】orchagent crash when config a PortChannel add into vlan member"
**Description**

orchagent crash when config PortChanneladd into vlan member
**Steps to reproduce the issue:**
1. config a portchannel and add ip add
2. when config PortChannel0001 add into vlan member

[code]

**Describe the results you received:**
 orchagent crash and syslog print ERR with syncd

[code]

**Describe the results you expected:**
config success

**Additional information you deem imp

[2020-09-16 08:04] stepanblyschak commented on #5217
@tahmed-dev FDBs are restored, but ARP entries are not. ARP is populated only after the port is operationally up and then the system learns ARP entries. Yesterday I did another test and found out that when I change neighsyncd to start when orchagent is running the ARPs are restored. Looks like a race between swssconfig and neighsyncd. Basically what I did is in https://github.com/Azure/sonic-build

[2020-09-16 08:20] MaxYaremchuk commented on #5379
Hi @rajendra-dendukuri
Thank you for having answered me.
There is a mistake in [manual](https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#firmware).
[code]
Please change it on  "**version**": "SONiC-OS-brcm_xlr_gts.0-dirty-20190304.154831" in the manual.
Thanks.

[2020-09-16 09:06] tim-rj opened #5390 "Layer 2 portchannel ping fails"
**Description**

Layer 2 portchannel ping fails

**Steps to reproduce the issue:**
1. Layer 2 portchannel ping fails
2.Layer 3 portchannel ping success
3.L2 Physical port ping success

**Describe the results you received:**

[code]

**Describe the results you expected:**
config success

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show ver

[2020-09-16 09:21] MaxYaremchuk commented on #5380
Hi @rajendra-dendukuri
Thank you for having answered.
I'd like to put your attention to the fact  that there is ambiguity  in the manual.

[snippet#1](https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#35-ztp-service)
[code]
[snippet#2](https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#test-case-26)
**Test Case #26**
Objective: Verify behavior of ZTP when /etc/sonic/config_db.json f

[2020-09-16 11:08] BaluAlluru commented on #4646
@gechiang
As suggested by you in the previous update, we did the following exercise.

1) Initially 100G DAC cable is connected between Port 0 of TH1 and Port 0 of TH2 box.
2) We moved the cable to different ports in TH2 box,keeping cable connected to port 0 of TH1 box.
3) We left the cable disconnected for little longer before we moved the cable from one port to
     other in TH2 box and collected

[2020-09-16 15:10] anshuv-mfst commented on #5390
1. Issue seen in SONiC master version.
2. Seen in manual test run.
- Could you please reproduce the issue seen in 201911?

[2020-09-16 15:13] anshuv-mfst commented on #5387
Configuration is not supported (Adding interface with ip address to vlan member) .
Resolution: Remove the ip address from the portchannel, works as per design.

[2020-09-16 15:16] anshuv-mfst commented on #5390
Please syslog output once reproduced.

[2020-09-16 15:19] anshuv-mfst commented on #5380
@rajendra-dendukuri  - assigned to the issue.

[2020-09-16 15:20] anshuv-mfst commented on #5379
@rajendra-dendukuri working in the issue.

[2020-09-16 15:33] gechiang commented on #4646
@BaluAlluru Thanks a lot for trying out the suggested triage steps.  Indeed this looks like a problem in BRCM SAI of handling link de-bounce.  there seems to be 2 issues that we need some answer from BRCM SAI team based on your new test result:
1. It seems that if the link is unplugged and plugged back quick enough, there is a chance that the link bounce event may go undetected.
2. In your new tes

[2020-09-16 15:34] anshuv-mfst commented on #5354
Issue is not seen in 201911 and seen in master.
Platform might not have support for showing reboot cause. (might be missing module)

@tim-rj to confirm.

[2020-09-16 15:38] #5349 closed

[2020-09-16 15:38] liat-grozovik commented on #5349
issue was handled and clarified as fixed

[2020-09-16 15:40] anshuv-mfst commented on #5347
- Is ethernet100 part of another Vlan?
- Please provide show techsupport output for the bug.

[2020-09-16 15:44] anshuv-mfst commented on #5345
Can you please upload show techsupport output. @tim-rj

[2020-09-16 15:45] lguohan commented on #5344
provide "netstat -an"

[2020-09-16 15:45] prsunny commented on #5347
@itaibaz, could you please take a look at this issue?

[2020-09-16 15:46] anshuv-mfst commented on #5344
Need to confirm if this is supported/socket is open.
Please provide show techsupport output. @tim-rj

[2020-09-16 15:48] lguohan commented on #5344
works on my master vs image

[code]

[2020-09-16 15:48] anshuv-mfst commented on #5342
Please provide show techsupport output.

[2020-09-16 15:49] anshuv-mfst commented on #5335
Please provide show techsupport output. @tim-rj

[2020-09-16 15:51] anshuv-mfst commented on #5335
Convergence from reachable to stale status takes time.
Please confirm if the status does not change to stale and when?

[2020-09-16 15:55] anshuv-mfst commented on #5334
Need to test on another platform, seems problem in flushing FDB entries.
Please provide steps to reproduce the issue (exact process), like configuration, environment.
Please provide show techsupport output as well.

[2020-09-16 15:57] anshuv-mfst commented on #5331
Seems like build issue, might need to engage FRR community.

[2020-09-16 16:00] lguohan commented on #5331
it is sonic-slave-buster does not necessary package to frr with grpc, can you identify those packages and add them into sonic-slave-buster.

[2020-09-16 16:04] prsunny commented on #5328
@tonytitus , can you take a look?

[2020-09-16 16:04] anshuv-mfst commented on #5323
@tahmed-dev - could you please confirm fix and close the issue.

[2020-09-16 16:05] caizhenghui commented on #5331
This need the following packages, the version might be different:
# For grpc
        libprotobuf-dev=3.6.1-4~bpo9+1 \
        libprotoc-dev=3.6.1-4~bpo9+1 \
        libgrpc++-dev=1.16.0-1~bpo9+1 \
        protobuf-compiler=3.6.1-4~bpo9+1 \
        protobuf-compiler-grpc=1.16.0-1~bpo9+1 \

[2020-09-16 16:05] #5307 closed

[2020-09-16 16:06] anshuv-mfst commented on #5307
Please verify is issue is seen.

[2020-09-16 16:08] tahmed-dev commented on #5323
@anshuv-mfst fix for original [issue:5277](https://github.com/Azure/sonic-buildimage/issues/5277) is in master. This is to track why the issue was not seen KVM based PR checker.

[2020-09-16 16:10] zhanggongc commented on #5331
@lguohan @anshuv-mfst
@caizhenghui
ok...thanks
I will try to resolve grpc version match issues.
now I need to start grpc service normally in FRR ,not in sonic-frr.

[2020-09-16 16:10] tonytitus commented on #5328
@prsunny , sure Prince

[2020-09-16 16:34] BaluAlluru commented on #4646
@gechiang
Below are the command outputs requested by you on TH1 box.

root@sonic:/home/admin# bcmcmd bsv
bsv
BRCM SAI ver: [3.7.5.1], OCP SAI ver: [1.6.3], SDK ver: [6.5.16]
drivshell>

root@sonic:/home/admin# bcmcmd "show unit"
show unit
Unit 0 chip BCM56960_B1 (current)
drivshell>

root@sonic:/home/admin# bcmcmd "ver"
ver
Broadcom Command Monitor: Copyright (c) 1998-2020 Broadcom
Release: sdk-6.

[2020-09-16 16:51] madhanmellanox commented on #5307
@anshuv-mfst Does the build 193 of 20181911 contain the fix?

[2020-09-16 16:53] jleveque commented on #5366
@stephenxs: This was due to the fact that the aliases were not getting installed with the sonic-installer package. This bug should have been fixed by https://github.com/Azure/sonic-utilities/pull/1088. This PR was merged two weeks ago and the submodule has since been updated. Please try the an image built from the current master HEAD and confirm that the issue is resolved.

[2020-09-16 17:04] BrynXu commented on #5351
not really a case, we found we have to use unique dbid for new db in new redis instance and assign it unique id, @lguohan raised a concern why the dbid is unique for the db in different redis instance.
Per my understand, dbids from different redis instances are not relevant, redis allows duplication among them, it is current sonic code introduces the unique id requirement, it is better to indicate

[2020-09-16 18:09] caizhenghui commented on #5331
and you will need to put the right runtime packages in wherever you will run grpc.
e.g.
               libgrpc++1 \
               libprotobuf17

[2020-09-16 19:27] madhanmellanox commented on #5307
@anshuv-mfst  Yes, the snmpwalk is working on build 193 (Hash 75068f3) of 201911.

[2020-09-16 23:26] itaibaz commented on #5347
The error seems to be SAI redis issue, and not SAI issue, so I don't understand the connection to SAI
ERR swss#orchagent: :- meta_generic_validation_remove: object 0x3a000000000662 reference count is 1, can't remove
ERR swss#orchagent: :- removeBridgePort: Failed to remove bridge port Ethernet104 from default 1Q bridge, rv:-5

[2020-09-16 23:29] gechiang commented on #4646
@BaluAlluru I have filed BRCM CSP case CS00011146863
I don't think you have access to this CSP.  I will update you when I get new update from BRCM on this...

[2020-09-17 00:24] stephenxs commented on #5366
Thanks @jleveque . It is fixed by [Azure/sonic-utilities#1088](https://github.com/Azure/sonic-utilities/pull/1088).

[2020-09-17 00:24] #5366 closed

[2020-09-17 01:05] jianjundong commented on #5310
@ciju-juniper
Please refer to https://github.com/Azure/SONiC/blob/master/doc/mclag/Sonic-mclag-hld.md.
If you have a problem, would you mind pasting up your configuration and topology map? Let's see what the problem is.

[2020-09-17 01:22] jianjundong commented on #5310
@docker2017713
In this example, "Ports" is the peerlink, "OUT_PORTS" are the member ports of mclag enabled portchannel.
This ACL table is created automatically and does not need to be manually modified.
There are usually two reasons for container crash: 1. The attribute "OUT_PORTS" is not supported. SAI needs to be modified to support "OUT_PORTS" attribute. 2. When deleting an FDB entry, if it is

[2020-09-17 01:31] BaluAlluru commented on #5310
@jianjundong

I did attach Topology Diagram, config's and generate dump few days ago in this issue page. Please scroll up the conversations.

you should see below attachments
**TopologyDiagram_MCLAGconfig-SW1-SW2.docx
sonic_dump_QFX5200-SONiC-SW1_20200911_185608.tar.gz
sonic_dump_QFX5200-SONiC-SW2_20200911_185612.tar.gz**

[2020-09-17 01:35] tahmed-dev commented on #5217
Thanks @stepanblyschak ! I am a bit reluctant to accept that the above change resolves the issue for two reasons, 1) the issues as stated is hard to produces and so we might not be hitting the race condition, and/or 2) the `swssconfig` process does wait for `orchagent` process to be running and so the change does cause the neighsyncd to start a bit earlier.

I found a bug with the way arp_update p

[2020-09-17 01:40] tahmed-dev commented on #5217
Hey @stepanblyschak can you please try once more with [PR:5391](https://github.com/Azure/sonic-buildimage/pull/5391)?

[2020-09-17 03:08] tim-rj commented on #5334
teps :
1、config a L2 portchannel  and add a port as it's portchannel member
2、learn a arp neighbor and mac from the  L2 portchannel
3、shutdown the portchannel member port

[2020-09-17 03:30] tim-rj opened #5392 "[Ask for HLD] Help share the hld of Layer 2 Forwarding."
**Description**

I want to check some detials of FDB entry updating, but i can't found the origin HLD about "Layer 2 forwarding", and this link "https://github.com/Azure/SONiC/tree/d4dacee69ac8eb51e22a11a6ae08d210c42d812e/doc/layer2-forwarding-enhancements" seems not contain it. So could you help share me one?

**Steps to reproduce the issue:**

**Describe the results you received:**

**Describe t

[2020-09-17 07:34] tim-rj commented on #5390
[Uploading config_db.json…]()

[2020-09-17 07:37] tim-rj commented on #5390
[config+syslog.zip](https://github.com/Azure/sonic-buildimage/files/5237110/config%2Bsyslog.zip)

[2020-09-17 07:43] jianjundong commented on #5310
@BaluAlluru
In your attached syslog document, there are the following log information:
Sep 11 18:56:32.110825 QFX5200-SONiC-SW1 NOTICE iccpd#iccpd: [iccp_csm_transit.NOTICE] csm 1 change state from CONNECTING to OPERATIONAL.
//jianjun: ICCP connection is established, your configuration is OK.

Sep 11 18:56:34.281952 QFX5200-SONiC-SW1 NOTICE iccpd#iccpd: [update_peerlink_isolate_from_all_csm_lif.NO

[2020-09-17 07:51] tim-rj commented on #5390
It seems that teamdy has some errors. The configuration of show interface portchannel and config_db.json are not consistent
}
root@sonic:/home/admin# show interfaces portchannel
Flags: A - active, I - inactive, Up - up, Dw - Down, N/A - not available,
       S - selected, D - deselected, * - not synced
  No.  Team Dev         Protocol     Ports
-----  ---------------  -----------  -------------
 0

[2020-09-17 08:09] tim-rj commented on #5387
It seems that the fault tolerance of the software needs to be strengthened

[2020-09-17 08:12] tim-rj commented on #5345
[show tech.text.log](https://github.com/Azure/sonic-buildimage/files/5237365/show.tech.text.log)

[2020-09-17 08:12] tim-rj commented on #5344
[show tech.text.log](https://github.com/Azure/sonic-buildimage/files/5237370/show.tech.text.log)

[2020-09-17 08:13] tim-rj commented on #5334
[show tech.text.log](https://github.com/Azure/sonic-buildimage/files/5237374/show.tech.text.log)

[2020-09-17 08:18] shlomibitton commented on #5347
@anshuv-mfst ethernet104 is not belong to any other vlan.
I added a full techsupport output here.

[2020-09-17 08:56] tim-rj opened #5394 "【201911】learn Arp from L2 portchannel, show arp or show nd cannot display portchannel ID"
**Description**

learn Arp  from L2 portchannel, show arp or show nd cannot display portchannel ID

PS :The master version does not have this problem

**Steps to reproduce the issue:**
1. config a L2 portchannel,and learn Arp   from it,cannot display portchannel ID
2.config a L3 portchannel,and learn Arp  from it,can display portchannel ID

**Describe the results you received:**

[code]

**Describ

[2020-09-17 09:18] tim-rj opened #5395 "【201911】Mgmt IP in show lldp neighbors is wrong, what should be filled is the management IP of peer, not the local IP"
**Description**

MgmtIP in show lldp neighbors is wrong, what should be filled is the management IP of peer, not the local IP

**Steps to reproduce the issue:**
1. learn LLDP neighbors and show lldp neighbors
2.I have captured packets to confirm the management IP address in the LLDP packet sent by the peer,I have uploaded the capture file in the attachment

**Describe the results you received:**

[2020-09-17 09:19] tim-rj commented on #5395
[lldp.zip](https://github.com/Azure/sonic-buildimage/files/5237894/lldp.zip)

[2020-09-17 09:24] tim-rj commented on #5395
![lldp](https://user-images.githubusercontent.com/51427706/93452173-afa47000-f90a-11ea-82ad-5e209288397d.png)

[2020-09-17 10:14] tim-rj opened #5396 "【201911】ERROR syslog about mgmt-framework "rest-server ERROR: logging before flag.Parse""
**Description**

ERROR syslog about  mgmt-framework "rest-server ERROR: logging before flag.Parse"

**Steps to reproduce the issue:**
1. When the device is running, the device prints the wrong syslog intermittently

**Describe the results you received:**

[code]

**Describe the results you expected:**

no print ERROR SYSLOG

**Additional information you deem important (e.g. issue happens only occa

[2020-09-17 15:29] ciju-juniper commented on #5310
@jianjundong Which are the ASIC platforms currently supported with mclag?

In this platform, we have a Broadcom TH1 (Tomahawk-1) asic. Who can we ask about the SAI support for OUT_PORTS attribute of ACL? We would like to know if this can be fixed in the SAI layer or hardware limitation.

[2020-09-17 18:48] dev-aviz commented on #5328
Here is the update : Issue is not reproducible with official SONiC Releases. Closing the issue.
More details:
We went ahead and reproduce the issue with official releases(201911 release) with sonic command reference and found that issue not reproducible. so closing the issue.
Platform: x86_64-cameo_esc601_32q-r0
ASIC: innovium

[2020-09-17 18:48] #5328 closed

[2020-09-17 22:45] gechiang commented on #4646
@BaluAlluru BRCM has requested for the following information to help debug this issue.  Please repeat the exact experiment you did with cable unplugged for longer time between TH1 and TH2 DUTs but include the following:
go to BCM shell and issue the following cmd:
    bcmsh
    drivshell>debug link +
    Ctrl-c
The above cmd will capture additional link information into the syslog
Run the unplug e

[2020-09-18 01:34] tahmed-dev commented on #5217
@stepanblyschak please reopen if the issue is not resolved on your end.

[2020-09-18 01:51] jianjundong commented on #5310
@ciju-juniper
The ASIC platforms of nephos supported with mclag.

If the OUT_PORTS attribute cannot be supported currently, the temporary solution is not to install the ACL. You can remove following codes in function update_peerlink_isolate_from_all_csm_lif().
//if (sys->sync_fd)
//write(sys->sync_fd, msg_buf, msg_hdr->len);

return;
This modification may result in CE receiving duplicated traffic

[2020-09-18 02:29] keboliu commented on #5347
in function [PortsOrch::removeBridgePort](https://github.com/Azure/sonic-swss/blob/201911/orchagent/portsorch.cpp#L3019) there is a comments as below:

    /* Flush FDB entries pointing to this bridge port */
    // TODO: Remove all FDB entries associated with this bridge port before
    //       removing the bridge port itself

    /* Remove bridge port */
    status = sai_bridge_api->remove_brid

[2020-09-18 02:33] itaibaz commented on #5347
I checked what is the FDB that was learnt

2020-09-08.15:12:57.786288|n|fdb_event|[{"fdb_entry":"{\"bvid\":\"oid:0x26000000000013\",\"mac\":\"24:8A:07:3E:0C:86\",\"switch_id\":\"oid:0x21000000000000\"}","fdb_event":"SAI_FDB_EVENT_LEARNED","list":[{"id":"SAI_FDB_ENTRY_ATTR_BRIDGE_PORT_ID","value":"oid:0x3a000000000662"},{"id":"SAI_FDB_ENTRY_ATTR_TYPE","value":"SAI_FDB_ENTRY_TYPE_DYNAMIC"},{"id":"SA

[2020-09-18 02:35] itaibaz commented on #5347
Bottom line I think there are 2 issues -
1) why wasn't PVID 3 set on the port
2) Sonic should add a flow for flushing fdb entries (And removing them from SAI redis) on top of a bridge port before removing it

[2020-09-18 06:17] ciju-juniper commented on #5310
@smaheshm Would you know if Broadcom SAI supports 'OUT_PORTS' attribute? Who would be the point of contact for this query? Could you add him to this thread?

[2020-09-18 09:25] gord1306 opened #5404 "docker-sonic-vs.gz build fail on 202006 branch"
**Description**
VS platform build fail on 202006 branch

**Steps to reproduce the issue:**
Use 202006 branch to build docker-sonic-vs.gz

**Describe the results you received:**
curl is not installed when build the docker image
[code]

And then I tried to add curl into the Dockerfile.j2, will encounter the redis-tools dependency issue, the depends package init-system-helpers have to >= 1.54~, but 1

[2020-09-21 03:42] superchild commented on #5404
In current 202006 branch, the process running inside docker-orchagent still use stretch container to run.
It should revert the following two PRs not to upgrade the docker-sonic-vs build using the buster container.
- https://github.com/Azure/sonic-buildimage/pull/4979
- https://github.com/Azure/sonic-buildimage/pull/4889
After reverting these PRs, the docker-sonic-vs can be built.

I'll send a PR t

[2020-09-21 11:53] BaluAlluru commented on #4646
@gechiang,
Thanks for your support.

We enabled Broadcom ASIC logs and repeated the same exercise. We couldn't recreate the issue after repeated tries.
Attached are the logs for reference.
[Sept21-Jenkins404-TH1-TH2-OIRlogs.txt](https://github.com/Azure/sonic-buildimage/files/5255122/Sept21-Jenkins404-TH1-TH2-OIRlogs.txt)

As part of our interoperability testing, we did the same OIR testing exerci

[2020-09-21 15:49] vadymhlushko-mlnx opened #5417 "[DPB] Dynamic Port Breakout feature is not working on the latest master image"
**Description**

The Dynamic Port Breakout feature is not working on the latest master image

**Steps to reproduce the issue:**
1. Put capability files to correct location according to PR [DPB_Seastone](https://github.com/Azure/sonic-buildimage/pull/4235/files)
2. Run the command:
`sonic-cfggen -p <platform.json file location> -k <hwsku> -w`
3. Check `CONFIG_DB`
4. Run the command:
`config interfa

[2020-09-21 15:50] vadymhlushko-mlnx commented on #5417
@praveen-li

[2020-09-21 15:51] vadymhlushko-mlnx commented on #5417
@samaity

[2020-09-21 16:04] gechiang commented on #4646
@BaluAlluru The two log files you sent looks pretty good.  No issues at all as you also confirmed.
You mention that the problem is no longer reproducible.  Wondering if you have also tried NOT to enable the "debug link +" and to confirm that the problem is NOT reproducible as well?  If so, then this might be something physical with your cable or the connection not properly seated...  If it is a SW

[2020-09-21 16:19] praveen-li commented on #5417
As per email:

Hi Vadym

You did not share Syslog yet. Also, copy the config, you can change the parameters in the config for security purpose.[Or share in email].

Please run the command with -v option. Then paste the Syslog while error.

Or in Slack, you can show me your config if that is okie.

[2020-09-21 21:51] davidfordouce commented on #5310
I've hit similar problems, and concluded that OUT_PORTS is not supported or supportable by Broadcom, which is why there is an enhanced version under development. https://github.com/Azure/sonic-swss/pull/810 details the initial discussion when this was committed.

I suspect therefore that getting the MC-Lag enhancements merged is the solution to this issue.

[2020-09-22 02:23] tim-rj opened #5423 "The interface adds a secondary address, show ip interfaces does not display the BGP Neighbor and Neighbor IP corresponding to the primary ip of the interface"
**Description**

The interface adds a secondary address, show ip interfaces does not display the BGP Neighbor and Neighbor IP corresponding to the primary ip of the interface

**Steps to reproduce the issue:**
1. config primary ip of the interface,and add it's BGP Neighbor
2.show ip interface Confirm that the interface shows BGP neighbor and neighbor IP
3.config secondary ip of the interface
4.sho

[2020-09-22 04:02] ciju-juniper commented on #5310
@davidfordouce  Thanks for the pointer. Would you know if Broadcom chips can workaround this as mentioned in Azure/sonic-swss#810?

@adyeung @prsunny @shine4chen @lguohan  Would you know the configuration to make mclag work on Broadcom chips?

[2020-09-22 05:07] huiwu-atc commented on #5097
did you fix this building issue, how to correct it ? thanks @HelenHZhang

[2020-09-22 05:50] ciju-juniper commented on #4646
@gechiang Both of our platforms QFX5210 & QFX520 (TH2 & TH1 asic respectively) doesn't have any internal phy. External phy used for these experiments are 1m long 100G DAC cable.

root@sonic:~# sfputil show eeprom
Ethernet0: SFP EEPROM detected
	Connector: No separable connector
	Encoding: 256B257B
	Extended Identifier: Power Class 1(1.5W max)
	Extended RateSelect Compliance: QSFP+ Rate Select Vers

[2020-09-22 06:30] ciju-juniper commented on #4646
@gechiang TH1 box (QFX5200-32C-S) is having a PHYLESS design. Tomahawk-1 BCM56960 chip that has 32 Falcon core (FC). All the FCs are directly connected to 32 zQSFP+ ports.

[2020-09-22 07:23] Junchao-Mellanox opened #5425 "[sonic-mgmt] ip command is not available in sonc-mgmt docker"
**Description**

After the commit https://github.com/Azure/sonic-buildimage/commit/2868a2793558353a912cd2d738c3a70bb4ef7dbf, ip command is no longer available in sonic-mgmt docker

**Steps to reproduce the issue:**
1.  Run sonic-mgmt dokcer and exec ip command

**Describe the results you received:**

[code]

**Describe the results you expected:**

ip command should be available

**Additional infor

[2020-09-22 08:40] batmancn opened #5427 "[VLAN] vlan device will down when all member is down"
Hi all,

I test SONiC-201811 vlan device, I found "vlan device will down when all member is down", which is NOT the same behavior compared with 201807, this is my configure:
[code]

I check commit, found this:
[code]

In this commit, it said "needs to be up all the time".

So my question is:
1) Should vlan device will down when all member is down in SONiC ? I think it's better of this behavior.
2)

[2020-09-22 09:12] BaluAlluru commented on #4646
@gechiang
We disabled the "debug link +" and carried out the same exercise of OIR testing between TH1 and TH2 boxes.

Tried multiple times, but couldn't hit the issue.

Attached are the logs for reference.
[Sept22-Jenkins404-TH1-TH2-OIRLogs.txt](https://github.com/Azure/sonic-buildimage/files/5260287/Sept22-Jenkins404-TH1-TH2-OIRLogs.txt)

[2020-09-22 10:35] vadymhlushko-mlnx commented on #5417
**config interface breakout Ethernet76 1x10G -v**
[code]

[2020-09-22 12:54] vsenchyshyn commented on #5354
@anshuv-mfst If you run **sudo which reboot** on 201911 you'll see that it points to **/usr/bin/reboot** script which writes the appropriate message to the root cause file and therefore **show reboot-cause** shows correct result
[code]

On master the **reboot** command points to  **/usr/sbin/reboot** which is a binary. Therefore root cause is not written anywhere.
[code]

At the same time for admi

[2020-09-22 13:25] vadymhlushko-mlnx commented on #5417
`show techsupport --since "1 day"`

[sonic_dump_r-boxer-sw01_20200922_132027.tar.gz](https://github.com/Azure/sonic-buildimage/files/5261675/sonic_dump_r-boxer-sw01_20200922_132027.tar.gz)

[2020-09-22 13:26] vadymhlushko-mlnx commented on #5417
@praveen-li @samaity

[2020-09-22 13:53] davidfordouce commented on #5310
My understanding (which is based on https://github.com/Azure/SONiC/pull/550# and https://github.com/Azure/SONiC/wiki/Release-Progress-Tracking-202012 is that not only will Broadcom chips support this, but code is awaiting review to do so, written by Broadcom

I did attempt to build a private image using that code, however sadly I lack sufficient knowledge of the SONIC codebase to rebase they vario

[2020-09-22 15:11] gechiang commented on #4646
@ciju-juniper @BaluAlluru Thanks for supplying additional trials and clarifications.
It looks like the problem is no longer reproducible which makes me to suspect that the last issues was most likely a temporary issue where the cable itself may not have seated correctly.
I will update BRCM accordingly and I believe we can close this case for now.
If in future you start to see other issues, please

[2020-09-22 15:11] #4646 closed

[2020-09-22 15:17] stepanblyschak commented on #5217
Still reproducible on hash 13d28f9d197eab9782a729c7b0dea3bc31a8c6a3

[2020-09-22 15:39] tahmed-dev commented on #5217
@stepanblyschak do you see arp_update process started in the syslog? Do you think [PR:4165](https://github.com/Azure/sonic-buildimage/pull/4165/files#diff-cddf1f1eccdd3c92221977cccfdb6665R51)'s relocation of 5min timer to be before the ping cmd has an effect?

[2020-09-22 16:05] prsunny commented on #5427
As you mentioned in commit, there was a change in bridge handling from 201811 with the introduction of dummy interface. Most likely, the behavior change can be attributed to that.

[2020-09-22 16:25] lguohan commented on #5425
@daall , can you take a look at this one?

[2020-09-22 16:28] daall commented on #5425
Looks like a common issue w/ the 18.04 docker image. Looks like we just need to install iproute2.

[2020-09-22 16:42] prsunny commented on #5201
This is a limitation with 4.9 kernel (201911). Hence the fix is not taken to 201911 but only available in master (4.19 kernel). Please find the notes here - https://github.com/Azure/sonic-swss/pull/1393#issuecomment-679302109

[2020-09-22 16:42] #5201 closed

[2020-09-22 18:18] daall opened #5432 "test_po_cleanup is unstable on KVM"
**Description**

**Steps to reproduce the issue:**
1. Open a PR
2. Run the test_po_cleanup test

**Describe the results you received:**
Test fails frequently. See:

https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-pr/test_results_analyzer/

https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/test_results_analyzer/

htt

[2020-09-22 18:20] daall commented on #5432
@yxieca FYI

[2020-09-22 18:34] nazariig opened #5433 "[tlm_teamd]: sporadic segfault is observed during config reload"
**Description**
Sporadic segfault in `tlm_teamd` is observed during config reload:
[code]

**Steps to reproduce the issue:**
1. config reload -y

**Describe the results you received:**
[code]

**Describe the results you expected:**
No segmentation fault is expected

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `show version`:**
[code]

**Attach

[2020-09-22 19:45] Praveen-Brcm commented on #5310
@ciju-juniper @BaluAlluru @jianjundong and All,
What version of the SAI is being used .?
The ACL attribute "OUT_PORTS" is not supported by Broadcom, Broadcom uses isolation_groups to achieve blocking the traffic received on peer_link to MCLAG PO.
Code to stupport the isolation groups is submitted for review, below are the related PR's.
HLD: @ Azure/SONiC#596
Code PR's:
https://github.com/Azure/son

[2020-09-22 23:56] HelenHZhang commented on #5097
I got a different build error today:

[helzhang@mb10-003 sonic-buildimage-public]$ more .git/refs/heads/master
75e4258508e63d865ec509b19eae4fc29bb05f6a

git pull
make clean
export NOJESSIE=1
make configure PLATFORM=broadcom
make target/sonic-broadcom.bin

fatal: not a git repository (or any of the parent directories): .git
"SONIC_DPKG_CACHE_METHOD"         : "none"

[ FAIL LOG START ] [ target/pyt

[2020-09-23 01:39] #5425 closed

[2020-09-23 02:58] batmancn commented on #5427
Thanks.

But, I still have questions.

1. For summary, this is 201811 behavior now:
- vlan port will DOWN when all member port is DOWN.

2. But in the comment of the commit, it saids, vlan device should NOT DOWN ("create a dummy interface in the Bridge to keep it up all the time").

So which is right ?

[2020-09-23 05:30] ciju-juniper commented on #5310
@Praveen-Brcm Thank you for the details.

As I look at the PRs, it's not in a state to be committed. Do you have any time frame in mind for making it available in the master branch?

SAI version is the one which is available in the master branch as of now:  BRCM_SAI = libsaibcm_3.7.5.1-3_amd64.deb

[2020-09-23 05:40] prsunny opened #5439 "[Warmboot] Error occuring intermittently while executing warmboot command"
**Description**
The following error is observed while executing warmboot command:

[code]

**Steps to reproduce the issue:**
1. sudo warm-reboot
2.
3.

**Describe the results you received:**

Above error message

**Describe the results you expected:**
No error message

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-09-23 07:15] tim-rj opened #5440 "[201911]show ipv6 bgp summary does not work when add a BGPV6 neighbor in the FRR module"
**Description**

show ipv6 bgp summary does not work when add a BGPV6 neighbor in the FRR module

**Steps to reproduce the issue:**
1. add a BGPV6 neighbor in the FRR module
2.show ipv6 bgp summary

[code]

**Describe the results you received:**
show ipv6 bgp summary does not work when add a BGPV6 neighbor in the FRR module

[code]

**Describe the results you expected:**
show ipv6 bgp summary can

[2020-09-23 07:15] henzelis opened #5441 "[BGP4MIB] Wrong output from BGP4MIB OID"
**Description**
BGP4MIB OID 1.3.6.1.2.1.15.6.1.4 return wrong output.

**Steps to reproduce the issue:**
1. Configure BGP peering between DUT & AUX and advertise some prefixes
2. Run command # snmpwalk -v 2c -c public 127.0.0.1 1.3.6.1.2.1.15.6.1.4
3. Observe the wrong output.

**Describe the results you received:**
I get 0 as output from this OID
[code]

**Describe the results you expected:**
Out

[2020-09-23 07:33] liat-grozovik commented on #5396
the errors are seen also on Mellanox platform.
for tests not to fail on it, it is recommended to add to loganalyzer_common_ignore.txt

[2020-09-23 09:32] MaxYaremchuk opened #5442 "[warm-reboot] traceback's appears in CLI output while performing warm-reboot"
**Description**
Traceback appears in the CLI output while performing warm-rebooting

**Steps to reproduce the issue:**
1. Install SONiC.201911.193-75068f3a
2. Execute  warm-reboot -v

**Describe the results you received:**
Although warm-reboot is being carried out successfully there is traceback output
[code]

**Output of `show version`:**
[code]
[sonic_dump_20200918_163104.part-001.zip](https://g

[2020-09-23 11:08] SoftPaper opened #5443 "is not a debian format archive"
[ FAIL LOG START ] [ target/debs/stretch/libsai_1.3.3_amd64.deb-install ]
dpkg-deb: error: 'target/debs/stretch/libsai_1.3.3_amd64.deb' is not a debian format archive
dpkg: error processing archive target/debs/stretch/libsai_1.3.3_amd64.deb (--install):
subprocess dpkg-deb --control returned error exit status 2
Errors were encountered while processing:
target/debs/stretch/libsai_1.3.3_amd64.deb
[

[2020-09-23 11:10] SoftPaper commented on #5443
compile environment:

Ubuntu 16.04.6 LTS
GNU Make 4.1

[2020-09-23 11:58] Junchao-Mellanox opened #5444 "[sonic-mgmt] new sonic-mgmt docker lack of dhclient tool"
**Description**

Dhclient tool is required to get IP for the sonic-mgmt container, but it is missing now. Please add it to the docker build file.

**Steps to reproduce the issue:**
1. Run dhclient command in sonic-mgmt docker

**Describe the results you received:**

The command is missing.

**Describe the results you expected:**

dhclient should be available

**Additional information you deem impo

[2020-09-23 11:59] Junchao-Mellanox commented on #5444
@daal could you please take a look?

[2020-09-23 12:00] Junchao-Mellanox commented on #5444
@daall could you please take a look?

[2020-09-23 13:45] stephenxs commented on #4400
This issue appeared recently.
[sonic_dump_mtbc-sonic-01-2410_20200923_104248.tar.gz](https://github.com/Azure/sonic-buildimage/files/5268504/sonic_dump_mtbc-sonic-01-2410_20200923_104248.tar.gz)

[2020-09-23 15:19] henzelis opened #5445 "[BGP] FRR docker container goes down after BGP command "aggregate-address" input"
**Description**

**Steps to reproduce the issue:**
Configure BGP peering between two devices and advertise prefixes.
2. Go vtysh on DUT and run command:

vtysh
configure terminal
    router bgp <AS_NUMBER>
    address-family ipv4
        aggregate-address 10.0.0.0/8 summary-only  <----- your summary address here.

3. Observe, that FRR container goes down.

**Describe the results you received:**
Af

[2020-09-23 17:55] madhanmellanox commented on #5347
@prsunny When we flush the FDB entries corresponding to the bridge port before calling SAI API remove_bridge_port(), the issue is fixed. Doesn't this fix look good?

[2020-09-23 18:30] prsunny commented on #5347
sure, could you help provide the fix?

[2020-09-23 18:36] #4434 closed

[2020-09-23 18:42] madhanmellanox commented on #5347
Yes, I have the fix. I have tested it. I will raise a PR shortly.

[2020-09-23 23:28] prsunny commented on #5442
Same issue as https://github.com/Azure/sonic-buildimage/issues/5439

[2020-09-23 23:42] prsunny commented on #5442
could you please execute "warmboot -x" and provide the output?

[2020-09-24 00:02] prsunny commented on #5439
Based on the logs, it could be due the following change:
https://github.com/Azure/sonic-utilities/pull/1037

@sujinmkang , looks like watchdog is getting enabled after stopping database container and no more access to DB

[code]

[2020-09-24 00:40] stephenxs commented on #4400
Hi @lguohan
I encountered this issue when I was testing warm reboot from 201911 to dynamic buffer which is based on master.
So I can't say for sure whether it appears in 201911.

[2020-09-24 01:08] prsunny commented on #5439
output with` warmboot -x`

[code]

[2020-09-24 01:43] stephenxs commented on #4400
After warm reboot test finished, the neighbors were somehow removed and then learned approximately 1-second latter.
I added some debug in `neighsyncd` and saw the following log which indicated the arp entries were removed for each of the IPv4 neighbor learnt from port channel.
[code]
and the following messages indicating the entries were learned
[code]
And then the following messages observed:
[co

[2020-09-24 02:45] sujinmkang commented on #5439
The problem came with my changes which is enabling the hw watchdog during the fast/warm-reboot.
Unlike the other platforms, mlnx platform api calls the sonic-cfggen to retrieve the platform and hwsku information as follows.
https://github.com/Azure/sonic-buildimage/blob/master/platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py#L30-L31
I recommend to read /host/machine.conf to get those

[2020-09-24 03:01] #5444 closed

[2020-09-24 05:54] keboliu commented on #5439
For the platform name, we can get it from /host/machine.conf, but for the MSFT specific SKU name it maybe not possible, for example:

For this MSFT SKU:

admin@arc-switch1004:~$ show platform summary
Platform: x86_64-mlnx_msn2700-r0
HwSKU: Mellanox-SN2700-D48C8
ASIC: Mellanox

admin@arc-switch1004:~$ sudo sonic-cfggen -d -v DEVICE_METADATA.localhost.hwsku
Mellanox-SN2700-D48C8

But we don’t have t

[2020-09-24 07:55] tim-rj opened #5456 "Failed to delete LAG when it is a member of a vlan"
**Description**

Cannot delete LAG correctly when it is a member of a vlan

**Steps to reproduce the issue:**
1. config a portchannel and add it into vlan meber
2. config delete the portchanel

[code]

**Describe the results you received:**
Cannot delete LAG correctly when it is a member of a vlan,but teamd The teamd module has been deleted

[code]

**Describe the results you expected:**
show ipv6

[2020-09-24 08:48] tim-rj opened #5457 "show interfaces status Corresponding portchannel is not deleted when config delete the portchannel"
**Description**

show interfaces status Corresponding portchannel is not deleted when config delete the portchannel

**Steps to reproduce the issue:**
1. config a portchannel and add port as it's portchannle member
2. config delete the portchanel

**Describe the results you received:**
Cannot delete LAG correctly when it is a member of a vlan,but teamd The teamd module has been deleted

[code]

**

[2020-09-24 09:39] tim-rj opened #5458 "ERR syslog about pmon "ERR pmon#thermalctld[39]: Caught exception while initializing thermal manage""
**Description**

ERR syslog about pmon "ERR pmon#thermalctld[39]: Caught exception while initializing thermal manage"

**Steps to reproduce the issue:**
1. reboot and cat syslog

**Describe the results you received:**
ERR syslog about pmon "ERR pmon#thermalctld[39]: Caught exception while initializing thermal manage"

[code]

**Describe the results you expected:**
no print err syslog

**Additional

[2020-09-24 16:46] lguohan commented on #5439
i think tamer has put hwsku and platform into the environment variable and does not need sonic-cfggen to get it. @keboliu  can you check that?

[2020-09-24 16:46] lguohan commented on #5439
@tahmed-dev , where is the example now?

[2020-09-24 17:20] lguohan commented on #5439
meanwhile, @sujinmkang , you also call this one "PLATFORM=$(sonic-cfggen -H -v DEVICE_METADATA.localhost.platform)". do you know if sonic-cfggen is execute early in the script, or later when you use the variable. if it is latter, then the generic code also have this issue.

[2020-09-24 19:02] tahmed-dev commented on #5439
@lguohan, @sujinmkang  here is an [example](sorted_data) I pushed into the driver framework before it was refactored.

[2020-09-24 19:05] prsunny commented on #5439
@tahmed-dev , can you check the "example" link. looks like broken?

[2020-09-24 19:06] tahmed-dev commented on #5439
@prsunny just updated it. [example](https://github.com/Azure/sonic-buildimage/pull/5010/files#diff-4fcd0f69f947831d0ebdb4dac6981052R133)

[2020-09-25 00:47] #5392 closed

[2020-09-25 05:58] Junchao-Mellanox opened #5464 "New platform.json file cause Mellanox ACS-2700 failed to get port information"
**Description**

After platform.json being added to device/mellanox/x86_64-mlnx_msn2700-r0, mellanox ACS-2700 cannot load minigraph due to failed to get port information. The reason could be that device_info.get_path_to_port_config_file() returns platform.json instead of port_config.ini when platform.json exists. And in the current platform.json, there is no interfaces defined. See commit https://

[2020-09-25 13:38] bratashX opened #5469 "[ACL] SONiC adds “IP Proto” field with “0” value to all rules if user-defined rule does not contain this field."
**Description**

**Steps to reproduce the issue:**
1. Copy into SONiC table.txt  and rules.txt (attached files)
2. Apply ACL table config `sonic-cfggen -j table.txt --write-to-db`
3. Apply ACL rule config `sudo config acl update full rules.txt`
3. Show config `sudo config save config_with_acl.txt  -y && less config_with_acl.txt`

**Describe the results you received:**
SONiC adds “IP Proto” field w

[2020-09-25 23:16] abdosi commented on #5432
Looking into this.

[2020-09-27 01:48] keboliu commented on #5439
https://github.com/Azure/sonic-buildimage/pull/5468
https://github.com/Azure/sonic-platform-common/pull/121
above two PR fix this issue

[2020-09-27 03:03] tim-rj commented on #5440
Has fixed on master month ago, please cherry pick commit id: fce546d86c0374b5fb090b4ba0970c3a8796801e

[2020-09-27 23:40] madhanmellanox commented on #5347
@prsunny the PR for the fix is:
 https://github.com/Azure/sonic-swss/pull/1451

[2020-09-28 09:41] dennis0113 opened #5477 "Cannot customize the port config when using platform.json"
**Description**

**Steps to reproduce the issue:**
1.Add "autoneg" or "fec" or whatever else.. setting in platform.json
2.Regenerate config by sonic-cfggen command with platform.json
3.The output will no have the setting for the port in step1.

**Describe the results you received:**
Ex: PORT table in config db

"Ethernet0": {
            "admin_status": "up",
            "alias": "Eth1/1",

[2020-09-28 20:28] tonytitus opened #5481 "[201911] "show sflow interface" doesn't show all interfaces enabled with sflow"
**Description**
"show sflow interface" doesn't show all interfaces enabled with sflow

**Steps to reproduce the issue:**
1. config sflow interface enable all
2. show sflow interface

**Describe the results you received:**
If port_config.ini has 4 interfaces with same index number then only 1 interface in the list is shown.

**Describe the results you expected:**
All the interfaces configured with

[2020-09-28 20:30] daall commented on #4454
Update: we hit some unexpected complexities in trying to address this issue, It's still being worked on, and should hopefully have a PR soon. Apologies for the delay.

[2020-09-29 02:10] tim-rj opened #5486 "[pdk pde] Make initpde failed"
**Description**

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
[code]

**Describe the results you expected:**
can integrate pde module into sonic.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-09-29 02:49] tim-rj commented on #5395
pre-analyzing:
device s6500 port11 associate to ip 11.1.1.0, port13 associate to ip 13.1.1.0 (by port channel), all of their lldp PDU were receive by sonice device, but when prot13's package come later, its mgmt ip 13.1.1.0 was set to the device's management address which replace the old on 11.1.1.0.
I think this is a issue, because as below description, differenct interfaces may associate to diff

[2020-09-29 02:55] bingwang-ms opened #5487 "[warm-reboot] warm-reboot aborted with code 1"
**Description**
warm-reboot aborted with code 1 on Celestica-DX010-C32, and DUT is not rebooted.

**Steps to reproduce the issue:**
1. Run ```sudo warm-reboot -v```

**Describe the results you received:**
[code]
The syslog
[code]
**Describe the results you expected:**
The warm-reboot completed successfully.

**Additional information you deem important (e.g. issue happens only occasionally):**

[2020-09-29 04:04] chitra-raghavan commented on #4872
This is seen with latest version of BRCM sai3.7.5.2  also.
Topology :
S5232(td3)----------Z9100(th)

S5232 is connected to Z9100 and 1 BGP neighbor is established with each other.
Both are having sai version 3.7.5.2

**DUT-S5232f-C32**
version:

    root@sonic:~# show platform summary
    Platform: x86_64-dellemc_s5232f_c3538-r0
    HwSKU: DellEMC-S5232f-C32
    ASIC: broadcom
    root@sonic:~#

[2020-09-29 06:05] bingwang-ms opened #5488 "[monit/buffermgrd] monit reporting errors from buffermgrd"
**Description**
Some new ERROR logs are found in SONiC.master.425-4006ce71 and cause test error.
[code]
For ```swss|buffermgrd``` logs, I guess it's caused by unhandled exception in the process_checker script.

**Output of `show version`:**

[code]

[2020-09-29 06:39] bingwang-ms opened #5490 "[orchagent] test_wr_arp caused orchagent crash"
**Description**
orchagent crashed at the end of test_wr_arp after warm-reboot. The issue exists on both **master.415.d12e9cbb** and **master.425-4006ce71**
[code]

**Steps to reproduce the issue:**
1.Run test case arp/test_wr_arp.py
2.
3.

**Describe the results you received:**
Orchagent crashed.

**Describe the results you expected:**
The test pass with no crash.

**Additional information you dee

[2020-09-29 06:54] bingwang-ms opened #5491 "[tlm_teamd] tlm_teamd crashed when running pc/test_po_update.py"
**Description**
The tlm_teamd crashed when running pc/test_po_update.py. This issue exist on both **master.415.d12e9cbb** and **master.425-4006ce71**
[code]

**Steps to reproduce the issue:**
1. Run test script pc/test_po_update.py
2.
3.

**Describe the results you received:**
The test case passes without error and no process crash.

**Describe the results you expected:**
The tlm_teamd crashed.

*

[2020-09-29 10:11] mipxman opened #5494 "AS5712-54X operational status"
Hi Guys!

according SONiC Supported Devices and Platforms list, on below link:
[https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms]()

I install the latest Jenkins sonic installer bin on my as5712-54x, in the test environment my device detect 10G SFP+ module
`sonic#sudo sfputil show eeprom --dom -p Ethernet0`
, but It’s operational status always down!  I try to test my connections

[2020-09-29 11:35] akokhan commented on #5491
I think this duplicates https://github.com/Azure/sonic-buildimage/issues/5306

[2020-09-29 16:23] lguohan commented on #4306
@stephenxs, is there any update on this issue?

https://forum.opnsense.org/index.php?topic=18557.0

[2020-09-29 18:05] daall opened #5501 "[monit/bgpmon] Tests fail against master image because bgpmon is not running"
**Description**
Many tests are failing during teardown on public image `SONiC.master.425-4006ce71` because loganalyzer is flagging `monit` error messages due to `bgpmon` not running.

**Steps to reproduce the issue:**
1. Run a set of nightly tests
2. Check the failed test cases

**Describe the results you received:**
[code]

**Describe the results you expected:**
Tests should not run into any tear

[2020-09-29 18:15] daall opened #5502 "[monit/snmp] Tests fail against master image because snmp_subagent is not running"
**Description**
Many tests are failing during teardown on public image SONiC.master.425-4006ce71 because loganalyzer is flagging monit error messages due to snmp_subagent not running.

**Steps to reproduce the issue:**
1. Run a set of nightly tests
2. Check the failed test cases

**Describe the results you received:**
[code]

**Describe the results you expected:**
Tests should not run into any tea

[2020-09-29 18:24] theasianpianist commented on #5502
I saw a previous issue involving SNMP over the weekend, I believe some transient error caused the snmp timer to not run, which meant the SNMP container never started. Not sure if they are somehow related, but I have not seen the error since.

[2020-09-29 18:24] daall commented on #5501
From #5488: "For snmp|snmp_subagent and bgp|bgpmon logs, I believe they are caused by incorrect config for monit."

[2020-09-29 18:25] daall commented on #5502
From #5488: "For snmp|snmp_subagent and bgp|bgpmon logs, I believe they are caused by incorrect config for monit."

[2020-09-29 18:26] daall commented on #5488
Opened #5501 and #5502 for the snmp and bgp errors.

[2020-09-29 18:28] daall commented on #5488
@bingwang-ms can you add whether the buffermgrd error was found in a specific test or if this is a general issue?

[2020-09-29 18:47] daall opened #5504 "[orchagent] test_decap causes orchagent crash in master image"
**Description**
orchagent crashed at the end of test_decap. This issue exists on both `master.415.d12e9cbb` and `master.425-4006ce71`.

**Steps to reproduce the issue:**
1. Run test_decap

**Describe the results you received:**
monit indicates that orchagent crashed:
[code]

**Describe the results you expected:**
orchagent should not crash and the test should pass.

**Output of `show version`:**

[2020-09-29 19:02] daall opened #5552 "[QoS SAI] Need RPC docker build to test master image"
**Description**
The corresponding RPC syncd docker image is not present on Jenkins, so currently there isn't an easy way to download and use the RPC docker for running the QoS SAI test.

**Steps to reproduce the issue:**
1. Run QoS SAI test w/ a master image version.

**Describe the results you received:**
The test fails during setup b/c there is not a syncd RPC docker with the correct version tag

[2020-09-29 21:53] theasianpianist opened #5507 "[acl] TestAclWithPortToggle test setup fails from LogAnalyzerError"
**Description**
TestAclWithPortToggle because expected match is not found

**Steps to reproduce the issue:**
1. Run nightly test cases
2. Check test failures

**Describe the results you received:**
[code]

**Describe the results you expected:**
No failures due to LogAnalyzer

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

[2020-09-29 21:55] theasianpianist opened #5508 "[acl] TestIncrementalAcl test setup fails from LogAnalyzerError"
**Description**
TestAclWithPortToggle because expected match is not found

**Steps to reproduce the issue:**
1. Run nightly test cases
2. Check test failures

**Describe the results you received:**
[code]

**Describe the results you expected:**
No failures due to LogAnalyzer

**Additional information you deem important (e.g. issue happens only occasionally):**

Possibly related to #5507

[code]

[2020-09-29 22:21] lguohan commented on #4872
can you dump the fp show.

[2020-09-29 22:46] theasianpianist commented on #4872
@lguohan was able to replicate the issue on another TD3 device (Arista 7050CX3). Brought down and up a BGP session several times, saw an associated increase in the drop counter each time.

[2020-09-30 01:28] bingwang-ms commented on #5488
Yes. I think it was a general issue in **process_checker** script. I was not running test cases.

[2020-09-30 08:40] chitra-raghavan commented on #4872
[fp_show.txt](https://github.com/Azure/sonic-buildimage/files/5304144/fp_show.txt)
Attached fp show output.

[2020-09-30 11:37] liat-grozovik commented on #3942
@MaxYaremchuk please note that the issue is fixed on master and cannot be cherry pick to 201911 as it required fix in the kernel/distro.
Please verify on top of master and close the issue if possible.

[2020-09-30 13:44] ben-gale commented on #4872
Broadcom is seeing the same issue internally and is tracking it - will advise .....

[2020-09-30 15:10] anshuv-mfst commented on #5494
Which SONiC release version is this?
TD2 is verified, please check with 201911 image if issue persists.
Please add output for show techsupport.

[2020-09-30 15:13] anshuv-mfst commented on #5486
Please add link to the PR.

[2020-09-30 15:16] tim-rj commented on #5486
https://github.com/Azure/SONiC/pull/407

[2020-09-30 15:16] anshuv-mfst commented on #5481
Dell is looking into the issue, please coordinate with @padmanarayana.

[2020-09-30 15:18] anshuv-mfst commented on #5477
@zhenggen-xu could you please help with this issue, thanks.

[2020-09-30 15:27] tonytitus commented on #5481
Raised PRS https://github.com/Azure/sonic-utilities/pull/1141 and https://github.com/Azure/sonic-utilities/pull/1143 with the proposed fix

[2020-09-30 15:28] anshuv-mfst commented on #5457
Please re-test with this change
https://github.com/Azure/sonic-utilities/pull/1062

[2020-09-30 15:29] anshuv-mfst commented on #5456
Please re-test with change https://github.com/Azure/sonic-utilities/pull/1062

[2020-09-30 15:31] anshuv-mfst commented on #5445
Issue needs to be checked with FRR community.

[2020-09-30 15:34] abdosi commented on #5433
can you check this issue with PR https://github.com/Azure/sonic-swss/pull/1450 ?
we need to still update submodule

[2020-09-30 15:34] anshuv-mfst commented on #5443
Please provide more information
- which platform
- commands for reproducing the issue

[2020-09-30 15:38] anshuv-mfst commented on #5440
@pavel-shirshov - could you please take a look. Thanks.

[2020-09-30 15:39] prsunny commented on #5439
Closing this issue as the PRs are merged

[2020-09-30 15:39] #5439 closed

[2020-09-30 15:40] prsunny commented on #5442
Closing this as PRs are merged to master. Please wait for the image and re-open if the issue still persists.

[2020-09-30 15:40] #5442 closed

[2020-09-30 15:46] anshuv-mfst commented on #5396
Ben to look into this issue, thanks.

[2020-09-30 15:50] anshuv-mfst commented on #5395
Peer is not SONiC

[2020-09-30 15:54] anshuv-mfst commented on #5394
Issue will not be fixed in 201911, PR fixed in master.

[2020-09-30 16:12] tim-rj commented on #5390
The issue can be seen in 201911.

[2020-09-30 17:17] pavel-shirshov commented on #5440
@arlakshm Can you please take a look into the issue?
I see you made a change to the code recently
https://github.com/Azure/sonic-utilities/pull/1064

[2020-09-30 17:42] zhenggen-xu commented on #5477
@samaity will look into it.

[2020-09-30 18:14] mipxman commented on #5494
Hi, Thanks. I try to install some OS from [Jenkins](https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/) the version 202006 , 201811, 201803 is same and I have a problem with physical layer!
About 201911 version I install my own SONiC build and its not work correctly. I tested last version of Jenkins build of this version and share my experience in next two days.

For SONiC Version: 202

[2020-09-30 18:15] prsunny commented on #5481
Merged PR - https://github.com/Azure/sonic-utilities/pull/1143

[2020-09-30 19:07] lguohan commented on #5396
@ben-gale

[2020-09-30 19:32] lguohan commented on #5432
https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/1429/testReport/junit/pc/test_po_cleanup/test_po_cleanup/

looks like we still consistently see this issue.

[2020-09-30 19:41] abdosi commented on #5432
@lguohan Sonic-swss submodule update PR is still not merged.

https://github.com/Azure/sonic-buildimage/pull/5489

[2020-09-30 19:55] arlakshm commented on #5440
@tim-rj, Can you please attach the config_db.json

[2020-09-30 20:34] martin-belanger opened #5514 "Errors when building sonic-vs"
**Description**
I'm trying to build `target/sonic-vs.bin` and I get errors. I reported the problem on https://groups.google.com/g/sonicproject, but the only response I got was from someone confirming that they have the same issue.

**Steps to reproduce the issue:**
I followed the standard procedure to build SONiC as described here: https://github.com/Azure/sonic-buildimage/blob/master/README.md. M

[2020-09-30 20:48] ben-gale commented on #5396
Per @anand-kumar-subramanian, this is fixed in Master, but we need a 201911 branch for sonic-mgmt-framework in order to maintain it there. @jeff-yin is working with Rita on this part .....

[2020-09-30 21:32] ben-gale commented on #5486
The code for this feature is not yet merged - see https://github.com/Azure/sonic-buildimage/pull/3778 - this is why you are seeing what you are seeing.

[2020-09-30 22:47] daall commented on #5502
Adding some more info from the syslog:
[code]

[2020-10-01 16:08] yxieca opened #5521 "orchagent crash after warm reboot"
**Description**

**Steps to reproduce the issue:**
1. run nightly test on t0 topology
2.
3.

**Describe the results you received:**
orchagent crashed after warm reboot and test failed. The DUT was left on failure state.

**Describe the results you expected:**
1. test pass

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[cod

[2020-10-01 16:10] yxieca commented on #5521
system is unable to self healing because config reload is failing:

root@str-dx010-acs-4:/var/log# sudo config reload -y
Executing stop of service telemetry...
Failed to stop telemetry.service: Failed to activate service 'org.freedesktop.systemd1': timed out (service_start_timeout=25000ms)
See system logs and 'systemctl status telemetry.service' for details.

[2020-10-01 16:16] yxieca opened #5522 "config reload failed due to telemetry service fail to stop"
**Description**

**Steps to reproduce the issue:**
1. This issue is a follow up issue of #5521, after system get into the orchagent crashed state. Subsequent tests all failed. Because the recover method "config reload" failed to heal the system.
2.
3.

**Describe the results you received:**
config reload failed

**Describe the results you expected:**
config reload should succeed

**Additional info

[2020-10-01 19:44] qiluo-msft commented on #5404
It should be fixed by https://github.com/Azure/sonic-buildimage/pull/5516

[2020-10-01 19:44] #5404 closed

[2020-10-01 23:35] vaibhavhd opened #5525 "load_minigraph consistently fails on S6100 T0 and T1 testbeds."
**Description**

`load_minigraph` fails with errors seen in starting the Telemetry service.
The telemetry service throws an error as it depends on `/var/platform` dir's presence.

In turn  `/var/platform` dir is not created because of an error seen in `rc.local` file and the `mkdir` step is never executed:
https://github.com/Azure/sonic-buildimage/blob/master/files/image_config/platform/rc.local#L

[2020-10-02 00:12] yxieca opened #5526 "Command "show interfaces neighbor expected" doesn't show all interfaces"
**Description**

**Steps to reproduce the issue:**
1. run test iface_namingmode/test_iface_namingmode.py::test_show_interfaces_neighbor_expected
2.
3.

**Describe the results you received:**
Both alias and default mode are failing

**Describe the results you expected:**
Both alias and default mode are passing

**Additional information you deem important (e.g. issue happens only occasionally):**

[2020-10-02 00:13] yxieca commented on #5526
This is also a master branch issue. Confirmed with image:
Platform: x86_64-cel_seastone-r0
HwSKU: Celestica-DX010-C32
ASIC: broadcom
Serial Number: DX010F2B118711MS100005
Uptime: 00:13:30 up  9:16,  1 user,  load average: 1.39, 2.25, 2.34

Docker images:
REPOSITORY                    TAG                   IMAGE ID            SIZE
docker-teamd                  latest                20617ff1849b

[2020-10-02 09:49] stepanblyschak commented on #5217
Thanks @tahmed-dev!

[2020-10-02 09:49] #5217 closed

[2020-10-02 16:06] #5432 closed

[2020-10-02 16:31] volodymyrsamotiy opened #5529 "[monit] Errors in the log related to "telementry", "dialout_client" and "snmp_subagent" services"
**Description**
Many ansible and pytest tests fail due to "monit" errors found by loganalyzer. Errors are related to services: "telementry", "dialout_client" and "snmp_subagent".

**Steps to reproduce the issue:**
1. No steps to reproduce. Just install image ```SONiC.201911.207-1da60a68``` and errors are in the syslog.
2.
3.

**Describe the results you received:**
Monit errors in the log related t

[2020-10-02 16:46] praveen-li commented on #5417
@vadymhlushko-mlnx : the config has many fields which are not supported by yang models, for example: pfc_asym in PORT table.
We need to find who added this field and ask to add such fields in YANG models as well.
For this, I will discuss with Microsoft, how to make sure new fields are added in YANG models. As of now, I will raise a new PR will the new fields in your config.

@samaity : Kindly chec

[2020-10-02 16:58] srideepDell opened #5530 "[z9332]orchagent crash observed when tunnel termination is not supported (TH3)"
Description:
=============
Below logs is seen with errors and syncd sends shutdown notification to orchagent which creates crash of orchagent. This issue is seen only when BCM SAI is changed to 3.7.4, issue not seen with 3.7.3

Platform :
===========
DellEMC-Z9332f-O32 with T1 config loaded

Steps to reproduce:
===============

1.  Install latest master build on z9332
2. System is configured with

[2020-10-02 17:50] theasianpianist opened #5531 "Multiple tests fail b/c PFC Watchdog messages in LogAnalyzer"
**Description**

**Steps to reproduce the issue:**
1. Run nightly tests
2. Check test results

**Describe the results you received:**
LogAnalyzer fails with several hundred instances of
[code]

**Describe the results you expected:**
PFC Watchdog is able to start normally and LogAnalyzer does not catch any error messages

**Additional information you deem important (e.g. issue happens only occasion

[2020-10-02 17:58] daall commented on #5501
[code]

[2020-10-02 17:58] daall commented on #5502
[code]

[2020-10-02 18:09] #5501 closed

[2020-10-02 18:09] #5502 closed

[2020-10-02 18:54] lguohan commented on #5491
@abdosi is this fixed in https://github.com/Azure/sonic-buildimage/pull/5489

[2020-10-02 19:02] lguohan commented on #5526
@yxieca , i checked, it looks like this is an issue for 201911 image as well.

[code]

[2020-10-03 09:00] mipxman commented on #5494
@anshuv-mfst I installed SONiC-201911  SONiC.HEAD.200-e9c2fdbf  but it is not different with other versions. the SFP+ 10Gbps modules not work correctly !
![B1](https://user-images.githubusercontent.com/66869651/94987449-54fa4d80-0573-11eb-861b-ddf7fc1b8243.png)
[sonic_dump_sonic_20161103_173105.tar.gz](https://github.com/Azure/sonic-buildimage/files/5321331/sonic_dump_sonic_20161103_173105.tar.gz)

[2020-10-03 17:51] jleveque commented on #5458
Removed the "Issues for 201911" label, as this platform is not supported in 201911; in fact support for this platform is not yet even included in the master branch (it is currently in pull request [here](https://github.com/Azure/sonic-buildimage/pull/4954)).

[2020-10-03 17:51] jleveque commented on #5458
@Junchao-Mellanox: Can you please investigate this thermalctld exception and why there is no error message appended to the message? Support for the platform in question is currently under pull request [here](https://github.com/Azure/sonic-buildimage/pull/4954).

[2020-10-04 06:00] #5525 closed

[2020-10-04 09:52] liat-grozovik commented on #5529
Note: all tests which are wrapped by log analyzer to make sure we see these errors are failing and it is hard to validate any new image from 201911
I dont think monit is the problem but we have too many services which are not working properly!

@volodymyrsamotiy please upload techsupport as well. have it with 1d long to show the problem

[2020-10-05 08:49] mipxman commented on #5494
I found the problem sfp module_rx_los_ and module_tx_disable_ are true in my device. I edited manually
`sudo echo "1" > /sys/bus/i2c/devices/1-0061/module_tx_disable_<port_number> `  #please check some module ports are in 1-0062 folder.
or use the python script code to change it
`accton_as5712_util.py set sfp <port_number> <0|1>`  #0:false 1:true
`accton_as5712_util.py set sfp 1 0 `

I think we mu

[2020-10-05 08:49] #5494 closed

[2020-10-05 11:40] MaxYaremchuk opened #5540 "[PFC] pfcstat utility returns incorrect number of received PFC frames"
**Description**
pfcstat utility returns incorrect number of received PFC frames
It is a degradation. This issue is not reproduced on : SONiC.201911.193-75068f3a

**Steps to reproduce the issue:**
1. Configure default QoS: *config qos reload*
2. Inject some pfc frames. (1234 PFC frames in this scenario)

**Describe the results you received:**
Although all frames have been received pfcstats utility

[2020-10-05 18:33] daall opened #5544 "[cacl] caclmgrd reports errors when dataplane ACL rules are deleted"
**Description**
We observe that the acl counter CRM test fails against the 201911 image due to loganalyzer failures. These failures are because caclmgrd is writing error messages to the syslog referencing dataplane ACL rules. These failures are observed during test teardown.

**Steps to reproduce the issue:**
1. Run test_crm.py::test_acl_counter against 201911 image

**Describe the results you rec

[2020-10-05 18:42] jleveque commented on #5544
@abdosi: The log message in question is being generated by swsscommon, so it appears that this was introduced when you migrated caclmgrd to use swsscommon in lieu of swsssdk when adding multi-ASIC support. I assume this issue is also present in the master branch. Can you please investigate?

[2020-10-05 21:59] rlhui commented on #4553
@tahmed-dev , are all fixes for this in 201911 branch and ready for verification by @stepanblyschak ? Thanks.

[2020-10-05 22:19] tahmed-dev commented on #4553
@rlhui Yes! all low hanging fruit fixes went into master. Do we have plans to port those fixes to 201911 branch?

[2020-10-05 22:26] rlhui commented on #4553
@tahmed-dev, I believe some PRs are in 201911 branch already.  are you saying this is still a issue for 201911?
could you please map the PRs to this issue?  Which ones are not yet in 201911 branch?

[2020-10-05 23:18] tahmed-dev commented on #4553
@rlhui, I'll defer it to @stepanblyschak to answer if he still see this issue on 201911.

Here are the remianing PRs: Azure/sonic-buildimage/pull/5250, Azure/sonic-buildimage/pull/5203, Azure/sonic-buildimage/pull/5200, Azure/sonic-buildimage/pull/5178, Azure/sonic-buildimage/pull/5176, Azure/sonic-buildimage/pull/5175, Azure/sonic-buildimage/pull/5174, Azure/sonic-buildimage/pull/5166, Azure/soni

[2020-10-06 14:16] stephenxs commented on #4400
I suspect even in the 201911 branch the kernel will notify the removal of the neighbors which are the next-hop of the routing entries. But the issue isn't observed in 201911 branch because
- there is a logic of merging a DEL operation followed by a SET operation if both the DEL and SET operate the same key [(orch::addToSync)](https://github.com/Azure/sonic-swss/blob/201911/orchagent/orch.cpp#L92)

[2020-10-06 14:32] davidfordouce commented on #5272
@anshuv-mfst - I've managed to make some progress with this, but it still isn't working.

I have reconfigured things such that the breakout is of port 32, which makes the config changes slightly simpler.

I've adjusted:

`portmap_3=9:100`

to

[code]

and added:

[code]

This stops the orchagent crashes, however something is still wrong as the port status reported by `bcmcmd ps` and the port statu

[2020-10-06 14:43] vganesan-nokia opened #5551 "sonic-vs.img.gz target build failure"
**Description**
Build fails for target sonic-vs.img.gz.

**Steps to reproduce the issue:**
1. Clone latest sonic-buildimage master (as of Oct 4, 2020)
2. make init
3. make configure PLATFORM=vs
4. make target/sonic-vs.img.gz

**Describe the results you received:**

The failure occurs during installation of sonic-utilities python 2 wheel, when sonic_debian_extension.sh is run as part of build_debia

[2020-10-06 20:14] vganesan-nokia commented on #5551
This is fixed by PR #5498

[2020-10-06 22:39] lguohan commented on #5504
is this related to #5530 ? it has SAI errors.

[2020-10-06 22:44] SuvarnaMeenakshi commented on #5441
@henzelis This MIB implementation did not have any recent change. snmpd is responsible for this MIB.
Will be helpful if you have a version when this was working fine?
Also, did you verify the SNMP output against "show ip route summary" vtysh cli output in bgp docker ?

[2020-10-06 22:47] #5551 closed

[2020-10-06 23:58] daall opened #5554 "COPP test is flaky when run against master image"
**Description**
Occasionally, different "no policer" COPP tests fail when run against the master image. They fail sporadically, and there's no particular pattern to which protocol fails.

**Steps to reproduce the issue:**
1. Run COPP tests several times

**Describe the results you received:**
Non-policer tests occasionally fail.

**Describe the results you expected:**
All tests should pass reliabl

[2020-10-07 00:06] daall opened #5555 "No warnings for high route utilization when running CRM tests"
**Description**
The IPv4/IPv6 route CRM tests are failing against the master image because no THRESHOLD EXCEEDED message is ever received.

**Steps to reproduce the issue:**
1. Run crm_route test.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Threshold should be hit, tests should pass.

**Output of `show version`:**

[code]

[2020-10-07 00:12] daall opened #5556 "bgp_multipath_relax test cannot parse bgp prefix info"
**Description**

**Steps to reproduce the issue:**
1. Run bgp_mulipath_relax test.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Test should pass. NOTE: This test was working properly in master image 425.

**Output of `show version`:**

[code]

[2020-10-07 01:14] daall commented on #5273
This issue is also seen on physical switches running the master image.

[2020-10-07 01:21] daall commented on #5531
This is most likely due to a missing buffer/queue configuration template for this platform (TD3).

[2020-10-07 02:51] gechiang opened #5557 "snmp#snmp-subagent [ax_interface] ERROR: MIBUpdater.start() caught an unexpected exception during update_data()..."
Seeing SNMP subagent crash during boot up with master branch based image.
This issue is very easy to reproduce.
With any recent daily build master image should be able to hit this.

image version:
[code]
Syslog that shows events leading to the crash as following:

[code]

**Steps to reproduce the issue:**
1. Load master image 434
2. sudo reboot
3. Wait for system to complete boot up, issue "show l

[2020-10-07 02:51] gechiang opened #5603 "There is only IPv6 address(es) in lldp_loc_man_addr in Redis"
Seeing SNMP subagent crash during boot up with master branch based image.
This issue is very easy to reproduce.
With any recent daily build master image should be able to hit this.

image version:
[code]
Syslog that shows events leading to the crash as following:

[code]

**Steps to reproduce the issue:**
1. Load master image 434
2. sudo reboot
3. Wait for system to complete boot up, issue "show l

[2020-10-07 02:59] lguohan commented on #5557
@qiluo-msft , can you take a look at this issue?

[2020-10-07 06:18] henzelis commented on #5441
"did you verify the SNMP output against "show ip route summary"
Yes, I did. It looks very strange behavior with snmp.
I start analyzing this MIB just now and have no see is it work correctly previously, but it's very strange that it shows zero values as its not even in the list of possible ones.

[2020-10-07 17:04] #5423 closed

[2020-10-07 20:56] abdosi commented on #5544
Possible Root casue: (Not able to reproduce on my local setup)

caclmgrd subscribes to swsscommon.CFG_ACL_RULE_TABLE_NAME Which is also subscribed by Orchagent also .

In this test case we are loading and deleting DATAACL rules which gets  processed by caclmgrd and causes iptables to be reprogrammed for each event (though not causing any issue with rule itself) but this take time

Meanwhile acl-lo

[2020-10-08 18:31] #5544 closed

[2020-10-09 00:53] daall opened #5570 "orchagent continuously prints out "set: setting attribute 0x10000004 status: SAI_STATUS_SUCCESS""
**Description**
Orchagent continually sprays this message to the syslog:
[code]

Which causes this to occur:
[code]

Which masks legitimate syslog messages from orchagent (e.g. "create ACL table foo").

**Steps to reproduce the issue:**
1. Start the DUT.
2. Check the syslog.

**Describe the results you received:**
[code]

**Describe the results you expected:**
There shouldn't be any throttling/nee

[2020-10-09 05:53] srideepDell commented on #5530
Issue is resolved with  latest image using "BRCM SAI ver: [4.2.1.3], OCP SAI ver: [1.6.5], SDK ver: [sdk-6.5.19]"

root@sonic:~# bcmcmd "bsv"
bsv
BRCM SAI ver: [4.2.1.3], OCP SAI ver: [1.6.5], SDK ver: [sdk-6.5.19]
drivshell>
root@sonic:~#

root@sonic:~# show  version | more

SONiC Software Version: SONiC.master.436-d03de95e
Distribution: Debian 10.6
Kernel: 4.19.0-9-2-amd64
Build commit: d03de95e

[2020-10-09 08:29] tim-rj opened #5572 "Error syslog about "Router interface oid:0x1000600000002 does not have supported counters""
**Description**

Error syslog about "Router interface oid:0x1000600000002 does not have supported counters"

**Steps to reproduce the issue:**
1.reboot
2.cat syslog afterreboot
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-10-09 09:11] tim-rj opened #5573 "config reload fail"
**Description**

 config reload fail

**Steps to reproduce the issue:**
1.config reload

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-10-09 09:42] Junchao-Mellanox commented on #5458
Will create a PR to fix this. The issue is at line:
[code]
Need change it to:
[code]
And i need also catch the NotImplementedError and log a warning message.

[2020-10-09 13:51] vadymhlushko-mlnx commented on #5417
@praveen-li, any updates?

[2020-10-09 15:16] praveen-li commented on #5417
@vadymhlushko-mlnx: My PR is underway, but that will not solve this issue. As mentioned to use DPB features:
You need to have YANG models for the config tables you used, especially the one which has a dependency on PORT. Also, you need to have backend code developed for those tables.
Without that, even though port will break after my PR, but backend will not work as expected.

[2020-10-09 18:48] praveen-li commented on #5417
Raise https://github.com/Azure/sonic-buildimage/pull/5577.

But remember you need to remove tables from config DB which does not have Yang models, to make it work.

[2020-10-09 19:48] daall commented on #5555
This is most likely related to #5570

[2020-10-10 01:46] bingwang-ms opened #5580 "[fast-reboot] ARP table is not restored after fast-reboot"
**Description**
I noticed that ARP table is not restored correctly after fast-reboot when debugging test_fast_reboot. I believe the swssconfig has loaded the /arp.json because following logs are found in syslog:
[code]
However, there is no restored ARP entry in db and system.
[code]
[code]
The issue is possible cause by ``` /usr/bin/restore_neighbors.py``` because following logs are found in syslo

[2020-10-10 07:31] bingwang-ms commented on #5487
This issue is possibly cause by ```test_vlan```. I have created a PR to address the test case issue. https://github.com/Azure/sonic-mgmt/pull/2328 . So this issue is colsed for now.

[2020-10-10 08:28] tim-rj opened #5581 "After the device started, show interfaces status occasionally appeared abnormal"
**Description**

After the device started, show interfaces status  occasionally appeared abnormal

**Steps to reproduce the issue:**
1.reboot
2.show interfaces status

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach de

[2020-10-10 09:27] wangxin opened #5582 "dSMS_endpoint_modifier.py in acms docker failed with IndentationError"
**Description**

Process `dSMS_endpoint_modifier` in acms container fails early due to IndentationError.

**Steps to reproduce the issue:**
1. Check process status in acms container by command `docker exec acms supervisorctl status`. The command shows that status of process `dSMS_endpoint_modifier` is FATAL
2. Directly run the script got IndentionError
3.

**Describe the results you received:**
[c

[2020-10-10 10:30] bingwang-ms opened #5583 "[crm] Incorrect crm counter for ipv4(6)_next_hop"
**Description**
The crm counter for ipv4_next_hop and ipv6_next_hop is incorrect, which leads to test failure in test_crm.

**Steps to reproduce the issue:**
1. Set crm polling interval to 1 second ```crm config polling interval 1```.
 The default polling interval is 300 seconds. This setting is to reduce waiting time between set and check.
2. Retrieve used and available nexthop count
[code]
3. Ad

[2020-10-11 22:11] lguohan opened #5587 "redis-dump -d 6 -k JINJA2_CACHE error"
**Description**

**Steps to reproduce the issue:**
1. redis-dump -d 6 -k JINJA2_CACHE
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
it should not have issue.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-10-11 22:12] lguohan commented on #5587
introduced in https://github.com/Azure/sonic-buildimage/pull/3658

[2020-10-11 22:13] lguohan commented on #5587
I am not sure if JINJA2_CACHE belongs to state db.

[2020-10-12 04:51] shi-su commented on #5521
These two PRs meant to fix orchagent crash after warm-reboot: https://github.com/Azure/sonic-sairedis/pull/668 and https://github.com/Azure/sonic-sairedis/pull/664.

[2020-10-12 05:04] srideepDell commented on #5530
Issue seen with 436 Image

SONiC Software Version: SONiC.master.436-d03de95e
Distribution: Debian 10.6
Kernel: 4.19.0-9-2-amd64
Build commit: d03de95e
Build date: Wed Oct  7 17:20:56 UTC 2020
Built by: johnar@jenkins-worker-11

Platform: x86_64-dellemc_z9332f_d1508-r0
HwSKU: DellEMC-Z9332f-O32
ASIC: broadcom
Serial Number: TH0J5HDGCET009740036A00
Uptime: 05:03:35 up 2 min,  1 user,  load average:

[2020-10-12 06:51] tim-rj opened #5589 "ERR syslog "ERR monit[621]: 'telemetry|telemetry' status failed ""
**Description**
ERR syslog "ERR monit[621]: 'telemetry|telemetry' status failed "

**Steps to reproduce the issue:**
1.Upgrade 10.8 version
2.cat syslog
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `s

[2020-10-12 07:00] tim-rj opened #5590 "After configuring and adding portchannel members, show inter portchannel does not display the added member ports, but the physical port Vlan status corresponding to show int status is displayed as PortChannel"
**Description**
After configuring and adding portchannel members, show inter portchannel does not display the added member ports, but the physical port Vlan status corresponding to show int status is displayed as PortChannel

**Steps to reproduce the issue:**
1.config a new portchannel
2.add a port as the new portchannel's member
3.show int portchannel and show int status

**Describe the results y

[2020-10-12 07:14] henzelis opened #5591 "[SNMP] ifMIB ifAlias show wrong output"
**Description**

ifAlias OID of the ifMIB shows the wrong output. According to the RFC2863:

This object is an 'alias' name for the interface as
specified by a network manager, and provides a non-volatile
'handle' for the interface.

**Steps to reproduce the issue:**
1. Run on DUT show interface status
2. Run snmp query to DUT:
 snmpwalk -v 2c -c public <IP.ADDRESS> 1.3.6.1.2.1.31.1.1.1.18
3. Obse

[2020-10-12 07:22] henzelis opened #5592 "[SNMP] ifMIB ifName show wrong output"
**Description**

SNMP ifMIB ifName output shows the wrong output - Alias of interface names instead of Names as required by RFC2863.
RFC2863:
"The textual name of the interface. The value of this
object should be the name of the interface as assigned by
the local device and should be suitable for use in commands
entered at the device's console'."

**Steps to reproduce the issue:**
1. Run on DUT sh

[2020-10-12 07:32] henzelis opened #5593 "[SNMP] A lot of OIDs absent in MIB-2.IP(1.3.6.1.2.1.4)"
**Description**

A lot of OIDs are absent in MIB-2.IP(1.3.6.1.2.1.4).
After going through snmpwalk command lot of OIDs not present in the MIB tree.

**Steps to reproduce the issue:**
 1. Run # snmpwalk -v 2c -c public <IP.ADDRESS> 1.3.6.1.2.1.4
 2. Observe absence of OIDs in MIB-2.IP MIB.

**Describe the results you received:**
[code]

**Describe the results you expected:**
MIB-2.IP should contain

[2020-10-12 07:51] vadymhlushko-mlnx commented on #5417
Okay, thanks.
@praveen-li, who will be responsible to write code for - `"YANG models for the config tables you used, especially the one which has a dependency on PORT"` and for `"backend code developed for those tables"`?

[2020-10-12 08:33] tim-rj opened #5594 "vlan member delete fail"
**Description**
vlan member delete fail

**Steps to reproduce the issue:**
1.config vlan member delete

**Describe the results you received:**
[code]

**Describe the results you expected:**
vlan member delete success

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[co

[2020-10-12 08:42] bingwang-ms opened #5595 "[warm-reboot] PortChannel member is missing after warm-reboot"
**Description**
I noticed that the PortChannel member is missing when debugging ```test_wr_arp.py```.
Before warm-reboot
[code]
After warm-reboot
[code]
Besides, lldpmrgd and kernel keep printing WARNING log
[code]

**Steps to reproduce the issue:**
1. Reload minigraph to initialize DUT status ```sudo config load_minigraph```
2. Perform ```warm-reboot``` after load_minigraph is done.

**Describe t

[2020-10-12 08:54] Blueve opened #5596 "Failed to install SONiC on physical switch"
**Description**

I am trying to install a SONiC image (from recent master branch: https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/436/) to my switch, but it hanging forever and not able to login.

I met this issue before, I power cycled the switch and rolled back to previous image to get my switch back. But I want to test my code with current master branch cod

[2020-10-12 11:02] bingwang-ms opened #5597 "[watchdog] Watchdog not work on Celestica-DX010"
**Description**
Watchdog not work on Celestica-DX010.

**Steps to reproduce the issue:**
1. Arm a watchdog for 5 seconds timeout
[code]
There is no WARNING or ERROR

2. Check watchdog status
[code]
The returned status is unarmed, which should be armed in step 1.

3. An error is reported when attempting to disarm watchdog
[code]
And the DUT is not rebooted as expected.

**Describe the results you r

[2020-10-12 14:10] mkovnir opened #5598 "ntpd uses incorrect src ip for requests via front panel and mgmt ports"
**Description**

NTPd uses incorrect src ip for requests toward configured servers.

**Steps to reproduce the issue:**
1. Configure NTP servers (either via dhcp or static)
2. Configure Loopback0 with IP
3. Reboot
4. Do capture on egress interface.

**Describe the results you received:**
If system is configured with loopback0 and mgmt interfaces - NTPd uses Loopback0's IP as source for requests via

[2020-10-12 16:53] praveen-li commented on #5417
@vadymhlushko-mlnx, anybody in the community, who wants the DPB feature to work for those tables. So if it is a must for you, then you and your team should start with YANG models and the backend code. Without these yang models, you can break-out the port but may potentially crash the backend.

Please refer to get more insight: https://github.com/Azure/SONiC/blob/master/doc/dynamic-port-breakout/so

[2020-10-13 01:30] #5526 closed

[2020-10-13 05:46] bingwang-ms opened #5602 "[dropcounter] Failed to clear dropcounter for non-root user"
**Description**

Non-root user is not able to clear dropcounter if the path ```/tmp/dropstat/``` was created by root.
**Steps to reproduce the issue:**
1. Run ```sudo show dropcounters counts```. The command will create path ```/tmp/dropstat/```, which is owned by ```root```.
[code]
2. Run ```show dropcounters counts``` as a non-root user, and we can see there is some recorded drops.
[code]
3. Run

[2020-10-13 06:22] tim-rj opened #5604 "vlanmgrd exit and the INTF_TABLE entry in the database is null"
**Description**
vlanmgrd exit and the INTF_TABLE entry in the database is null

**Steps to reproduce the issue:**
1.config a new portchannel
2.config a new vlan,add config ip
3.Add a physical port as a member port of vlan
4.Add a physical port as a member port of portchannel
5.config save and reboot

 Proceed as follows:
  1.config vlan add 2
  2.config interface ip add Vlan2 12.1.1.1/16
  3.confi

[2020-10-13 06:40] mkovnir opened #5605 ""show ntp" return error when MGMT vrf is present in configuration"
**Description**

"show ntp" without MGMT vrf works under normal user
"show ntp" with MGMT vrf works only under root user.

**Steps to reproduce the issue:**
1. Configure MGMT vrf
2. Reboot
3. Issue "show ntp" under normal and root users.

**Describe the results you received:**
When MGMT vrf is present in configuration, "show ntp" under normal user returns meaningless error.
[code]

**Describe the

[2020-10-13 08:14] MaxYaremchuk opened #5607 "An ACL rule is ignored if this rule contains a key with a lowercase letter."
**Description**
An ACL rule is ignored if this rule contains a key with a lowercase letter.

**Steps to reproduce the issue:**
1. Create ACL table:
[code]
2.Create ACL rule contains a key SRC_IP**v**6 with a lowercase letter
[code]

**Describe the results you received:**
The rule hasn't been created:
[code]
Although the rule has listed in show acl rule's output :
[code]

**Describe the results you

[2020-10-13 13:37] stepanblyschak commented on #5216
[sonic_dump_arc-switch1004_20201013_124814.tar.gz](https://github.com/Azure/sonic-buildimage/files/5371433/sonic_dump_arc-switch1004_20201013_124814.tar.gz)

Reopening as the issue reproduced. Attached new system dump.

[2020-10-13 13:57] tahmed-dev commented on #5216
I see in the log file the following signature:

[code]

which seem related to [issue:5580](https://github.com/Azure/sonic-buildimage/issues/5580)

[2020-10-13 14:28] vadymhlushko-mlnx commented on #5417
@praveen-li, could you please explain to me why such tables `DEVICE_METADATA, CRM, FEATURE` etc. are affecting on YANG lib which is deciding to split port or not?

I'm asking it because `DEVICE_METADATA, CRM, FEATURE` is not related to PORT instance at all, so why do we need to check if there are YANG models of those before splitting the port?

Maybe this is a design issue?

[2020-10-13 15:25] vboykox opened #5610 "healthd crash: ImportError: No module named sonic_platform.platform"
**Description**
Receiving next log in /var/log/syslog
[code]

**Steps to reproduce the issue:**
1. Deploy
2. see /var/log/syslog

**Describe the results you received:**
the heathd monitor does not crash

**Describe the results you expected:**
The daemon is started inside PMON container or the sonic_platform package is installed to the host fs.

**Additional information you deem important (e.g. iss

[2020-10-13 15:49] abdosi commented on #5529
For Telemetry we need to deploy telemetry certificate in /etc/sonic/telemetry. Following steps should do it
testbed-cli.sh deploy-mg from sonic-mgmt repo

[2020-10-13 18:30] liat-grozovik commented on #5107
the proposed solution is to remove this config param when the fast reboot script is being called.

[2020-10-13 18:37] liat-grozovik commented on #4553
Following tests on 201911_T0 by @stepanblyschak we definitely see major improvements comparing to the time the issue was raised. All the above PRs were cherry picked to 201911_T0 branch but not yet in 201911.
@rlhui when can we plane a merge window of 201911_T0 to 201911?

[2020-10-13 18:55] rlhui commented on #4553
@liat-grozovik, great, good to know.  201911 branch needs to be in a bit tighter control to accept critical bug fixes only at this moment.   We can assess this late this week/early next week.  Thanks.

[2020-10-13 19:21] theasianpianist opened #5615 "[WR ARP]: Test fails because DUT returned error for uptime request"
**Description**

**Steps to reproduce the issue:**
1. Run a set of nightly test cases

**Describe the results you received:**
[code]

**Describe the results you expected:**
Test passes

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

[2020-10-13 19:27] theasianpianist opened #5616 "Multiple tests fail because of syncd process_on_fdb_event message"
**Description**

**Steps to reproduce the issue:**
1. Run a set of nightly test cases

**Describe the results you received:**
Multiple instances of LogAnalyzer errors with messages like the following:
[code]

**Describe the results you expected:**
Test passes

**Additional information you deem important (e.g. issue happens only occasionally):**
[code]

[2020-10-13 20:26] theasianpianist opened #5617 "[drop_packets]: Multiple cases fail because drop counter was not incremented"
**Description**

**Steps to reproduce the issue:**
1. Run nightly tests

**Describe the results you received:**
Multiple cases in `drop_packets` fail because counter `RX_DRP` was not incremented
[code]

**Describe the results you expected:**
Test passes

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

[2020-10-13 20:30] theasianpianist opened #5618 "Telemetry service crashes because server certificate doesn't exist"
The telemetry service inside the telemetry container exits immediately after starting. This is also causing multiple tests to fail because monit detects that the service has crashed.

**Steps to reproduce the issue:**
1. Enter `telemetry` docker
2. Run `/usr/bin/telemetry.sh`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Telemetry process starts normally

*

[2020-10-13 23:10] sumukhatv opened #5620 "Error when accessing supervisorctl status"
**Description**

Platform tests are failing while executing the command `docker exec snmp supervisorctl status`

The `supervisor` repo also has an issue: https://github.com/Supervisor/supervisor/issues/48

**Steps to reproduce the issue:**
1. Run any of the pytest platform tests

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:*

[2020-10-13 23:58] #5464 closed

[2020-10-14 00:41] theasianpianist commented on #5618
Also shouldn't the sanity check detect a crashed service like this?

[2020-10-14 01:22] daall commented on #5616
@theasianpianist can you please provide @kcudnik with the logs + sairedis recordings for this issue?

[2020-10-14 01:23] bingwang-ms commented on #5615
I believe it's a test case issue. This test case needs to pass sonic_admin_password as an argument to ptf scripts. However, the sonic_admin_password stored in internal secrets.json is incorrect. As a result, the SSH from ptf to DUT will fail.
I work around the issue by update the password in secrets.json with a bash command.

[2020-10-14 01:23] Junchao-Mellanox commented on #5610
Hi, this feature requred to load platform API on host side, please see design document: https://github.com/Azure/SONiC/blob/master/doc/system_health_monitoring/system-health-HLD.md#4-platform-api-and-pmon-related-change-to-support-this-new-service

[2020-10-14 02:37] #5486 closed

[2020-10-14 05:12] #5273 closed

[2020-10-14 05:21] daall opened #5623 "[kvm/gearbox] Unable to run gbsyncd in KVM switch"
**Description**
The KVM switch continually prints errors relating to `gbsyncd`.

**Steps to reproduce the issue:**
1. Start a virtual switch instance
2. Check the syslog

**Describe the results you received:**
[code]

**Describe the results you expected:**
We should not be seeing any error messages from gbsyncd.

**Additional information you deem important (e.g. issue happens only occasionally):**

[2020-10-14 07:39] Blueve commented on #5596
Update with more information.

[2020-10-14 10:23] kcudnik commented on #5616
got logs, will analyze

[2020-10-14 11:50] liat-grozovik commented on #5347
issue is fixed and merged thus closing it.
still not in 201911. request to pick it was sent to release manager.

[2020-10-14 11:50] #5347 closed

[2020-10-14 13:32] kcudnik commented on #5616
i did analysis and posted results internally, let me know if you want them to see here as well

[2020-10-14 15:05] #5275 closed

[2020-10-14 15:22] abdosi commented on #5582
this has been fixed

[2020-10-14 15:24] anshuv-mfst commented on #5607
Seems to be day-1 issue.
Please verify IPV4 also has the same issue with lowercase ACL rule (i.e. if same issue is seem with v4 rules).

cc: @liat-grozovik

[2020-10-14 15:28] anshuv-mfst commented on #5605
Need to be reviewed by mgmt-vrf owner (Dell team) @kannankvs could you please look into this issue., thanks.

[2020-10-14 15:33] anshuv-mfst commented on #5604
Ethernet1 is configured in both Vlan and portchannel.
This seems to be invalid configuration. Right way to be to remove from Vlan and add interface to the portchannel.

[2020-10-14 15:33] #5604 closed

[2020-10-14 15:36] liat-grozovik commented on #5603
@shlomibitton i am unable to assign you to this issue. can you please assign yourself?

[2020-10-14 15:39] anshuv-mfst commented on #5598
Was the configuration saved before reboot?
Is the same issue seem when restarting the NTP deamon?

[2020-10-14 15:39] shlomibitton commented on #5603
@liat-grozovik I can't also, only the owner can or when given write permission I think

[2020-10-14 15:42] anshuv-mfst commented on #5596
Hi @Blueve - please connect with Celestica team offline.
cc: @yxieca

[2020-10-14 15:47] lguohan commented on #5596
check out this message. it looks like a platform driver issue on celestica platform.

[code]

[2020-10-14 15:48] anshuv-mfst commented on #5593
Impact due to recent change in SNMP, this might have caused this issue.
Please confirm last working image where issue is not seen.
cc: @liat-grozovik

[2020-10-14 15:56] anshuv-mfst commented on #5590
Please provide output for ps -aux -teamd (confirm if teamd is running and not crashed)
cc: @prsunny

[2020-10-14 15:57] anshuv-mfst commented on #5590
Also - please provide exact steps to reproduce this issue starting with fresh system to narrow the issue.

[2020-10-14 15:58] kcudnik commented on #5616
Iif we look at syslog, then we can see *a lot* of  messages from internal bcm:
Oct 13 06:33:25.529002 str2-7050cx3-acs-01 INFO syncd#syncd: [0] SAI_API_FDB:_brcm_sai_fdb_event_cb:57 FDB event: 1 for mac 98-03-9B-03-22-00 vid:0x3e8, port:0x2d lagid:0x0 flags:0x10440 flags2:0x0 lag:false
Oct 13 06:33:25.545438 str2-7050cx3-acs-01 INFO syncd#syncd: [0] SAI_API_FDB:_brcm_sai_fdb_event_cb:57 FDB event:

[2020-10-14 15:58] SuvarnaMeenakshi commented on #5592
@henzelis Can you check the output of CLI "show interfaces description".  Ideally, snmp output for the MIB should retrieve the alias from PORT table in APP_DB. So if the alias is not correctly configured, snmp output might not be as expected. "show interfaces description" will help understand the expected output.

[2020-10-14 16:00] anshuv-mfst commented on #5581
Expected behavior, please wait for system to populate the tables & stabilize after boot.

[2020-10-14 16:02] SuvarnaMeenakshi commented on #5591
@henzelis This output should be "interface description" and not "alias". This is not a recent change and has been the case in SONiC.
https://github.com/Azure/sonic-snmpagent/blob/6e4a796b245a99da29f8390fe01d09a37d32ec4f/src/sonic_ax_impl/mibs/ietf/rfc2863.py#L146
Again, "show interfaces description"  output will help verify, the snmp output in the MIB should match "Description" column.

[2020-10-14 16:02] anshuv-mfst commented on #5580
Fix merged, issue can be closed. @bingwang-ms

[2020-10-14 16:07] anshuv-mfst commented on #5573
Is the issue is seen on master branch? Please provide more details on how to reproduce the issue and add show techsupport output.
cc: @lguohan

[2020-10-14 16:08] gechiang commented on #5603
@shlomibitton Assigned...
cc @liat-grozovik
Thanks!

[2020-10-14 20:04] daall opened #5627 "Toggling autorestart feature crashes SNMP"
**Description**
If the autorestart feature is disabled or enabled for the SNMP service then the whole SNMP container seems to crash/restart.

**Steps to reproduce the issue:**
1. Run `sudo config feature autorestart snmp enabled` or `sudo config feature autorestart snmp disabled`
2. Check `docker ps` + `syslog`

**Describe the results you received:**
SNMP docker gets restarted:
[code]

And a crash

[2020-10-14 21:19] gechiang commented on #5504
I was able to reproduce this with Both
BRCM SAI ver: [4.2.1.3], OCP SAI ver: [1.6.5], SDK ver: [sdk-6.5.19] and
BRCM SAI ver: [3.7.5.1], OCP SAI ver: [1.6.3], SDK ver: [6.5.16] CANCUN ver: [5.3.3]
The HW SKU that we have tried one is TH based one is TD3 based and both behaved the same way with the above versions of SAI code.

The cause of the crash was due to setting SAI_TUNNEL_DSCP_MODE_PIPE_MODE

[2020-10-14 22:05] #4570 closed

[2020-10-14 22:59] BrynXu opened #5631 "chassisdb.conf path has to be sourced from platform directory in docker-database"
**Description**
On a linecard, chassisdb.conf will not be present in /etc/sonic because
this is a condition to start docker-database-chassis. However we still
want to source this file and proceed to create database_global.json, add
redis_chassis.server to the container and to *not* call
update_chassisdb_config.
This is a bug on VoQ modular switch only.

**Steps to reproduce the issue:**
The proble

[2020-10-15 01:03] theasianpianist commented on #5570
From what I can tell, the SAI_STATUS_SUCCESS message does not seem to be causing the rate limiting. Will continue investigating.

@daall next time you notice this, can you `grep` for "begin to drop messages" in your syslogs?

[2020-10-15 01:40] bingwang-ms commented on #5580
Fixed.

[2020-10-15 01:43] bingwang-ms commented on #5580
So, the issue is caused by the unicode issue in fast-reboot-dump.py?

[2020-10-15 05:38] bingwang-ms commented on #5580
I think this issue is not fixed by  https://github.com/Azure/sonic-utilities/pull/1164. Because there is no unicode issue in fast-reboot-dump.py in 201911 branch, and the arp.json has been backed up successfully. I guess the problem is caused by some incorrect logic in restoring ARP.  So reopen it.

[2020-10-15 06:10] henzelis commented on #5592
Output is here:
'''root@r-qa-sw-eth-2134:/home/admin# show int desc
  Interface    Oper    Admin    Alias    Description
-----------  ------  -------  -------  -------------
  Ethernet0    down       up     etp1            N/A
  Ethernet4    down       up     etp2            N/A
  Ethernet8    down       up     etp3            N/A
 Ethernet12    down       up     etp4            N/A
 Ethernet16

[2020-10-15 06:59] SuvarnaMeenakshi commented on #5592
@henzelis looking at the above output, SNMP output looks correct. There is no issue here.
As I mentioned above, SNMP output should show "alias", which from the above output is "etp1/etp2..".
If you change the interface alias in config_db to , that should get reflected in SNMP output as well.
Looking at the above CLI output, I see that https://github.com/Azure/sonic-buildimage/issues/5591 - this is

[2020-10-15 07:00] Junchao-Mellanox commented on #5592
See code here:
https://github.com/Azure/sonic-snmpagent/blob/6e4a796b245a99da29f8390fe01d09a37d32ec4f/src/sonic_ax_impl/mibs/ietf/rfc2863.py#L141
and here:
https://github.com/Azure/sonic-snmpagent/blob/6e4a796b245a99da29f8390fe01d09a37d32ec4f/src/sonic_ax_impl/mibs/ietf/rfc2863.py#L154

For ifName, it returns alias, for ifAlias, it returns description. From the comment of those method, it seems th

[2020-10-15 09:09] MaxYaremchuk commented on #5607
@anshuv-mfst
IPV4 also has the same issue with lowercase ACL rule.

[2020-10-15 09:30] bingwang-ms opened #5635 "[orchagent][warm-reboot] orchagent crashed after warm-reboot"
**Description**
orchagent crashed after warm-reboot even no test is running.
[code]

**Steps to reproduce the issue:**
1. Perform a ```cold reboot``` and wait for DUT to be stable
[code]
2. Perform a ```warm-reboot```, and wait for DUT boot up
3. Orchagent crashed after DUT is boot up.

**Describe the results you received:**
warm-reboot restart DUT without any crash.

**Describe the results you ex

[2020-10-15 11:31] nazariig opened #5636 "[201911] Config reload fails: global name 'clicommon' is not defined"
**Description**
Config reload fails on `201911` branch:
[code]
**The bug was introduced by hash:** https://github.com/Azure/sonic-buildimage/commit/a7ed68319b7b7982f662df004de78b3a9b58a435
**sonic-utilities diff:** [clicommon.run_command("sudo monit reload")](https://github.com/Azure/sonic-utilities/compare/8a9bfe8736c6812cad347b5bb0c2360581cc4d83...ea0205e4d6ac0228f386196b1d88f29fae930630#diff-8b

[2020-10-15 14:01] mkovnir commented on #5598
Yes, configuration was saved before reboot.
Yes, same issue when NTP is restarted (via systemctl restart ntp).

[2020-10-15 16:02] liat-grozovik commented on #5015
As of the above, i believe we should not handle the issue but rather document it.
madhan will add the info to the cli command reference when acl show is documented.

[2020-10-15 16:20] theasianpianist opened #5638 "Deleting VxLAN tunnel crashes orchagent"
**Description**

**Steps to reproduce the issue:**
1. Remove a VxLAN tunnel (or run the vxlan_decap pytest)

**Describe the results you received:**
[code]

**Describe the results you expected:**
Tunnels can be removed without crashing orchagent

**Additional information you deem important (e.g. issue happens only occasionally):**

This line seems especially relevant:
[code]
According to the syslog

[2020-10-15 16:54] vadymhlushko-mlnx commented on #5417
I have tried to integrate this [sonic-buildimage/pull/5577](https://github.com/Azure/sonic-buildimage/pull/5577) PR.
And copy YANG models from [sonic-buildimage/pull/4442](https://github.com/Azure/sonic-buildimage/pull/4442) to `/usr/local/yang-models` folder on the switch.
Also on the switch was the very simple CONFIG_DB (please check attachments)
[config_db.zip](https://github.com/Azure/sonic-bu

[2020-10-15 17:02] nazariig opened #5640 "[201911] ERR route_check | Unaccounted_ROUTE_ENTRY_TABLE_entries"
**Description**
Sporadic errors are observed in system log after route check.
The issue is observed during automation testing and makes some tests fail.
It seems that trigger is link/neighbor flap situations.

**Steps to reproduce the issue:**
1. Deploy t0
2. Get LAG member:
[code]
3. Shutdown LAG member
[code]
4. Run route check:
[code]

**Describe the results you received:**
[code]

**Describe t

[2020-10-15 17:39] prsunny commented on #5638
Looks like this is a sequencing problem ?

`SAI_API_TUNNEL:_brcm_sai_vxlan_disable:1200 tunnel_idx not valid in tunnel map entry, delete tunnel after deleting tunnel map entry (tunnel map index = 1)`

[2020-10-15 22:06] abdosi commented on #5275
@Ezrickd can you run your test again on latest 201911 and post the result.

cc @jleveque

[2020-10-15 22:09] jleveque commented on #5275
@Ezrickd: I will also be merging https://github.com/Azure/sonic-buildimage/pull/5312 soon. I would also like you to take another measurement with those changes as well for comparison.

[2020-10-15 23:40] DeepanSaha opened #5642 "SNMP error"
snmpd[4829]: Cannot statfs /sys/kernel/debug/tracing: Permission denied

[2020-10-16 01:16] #5581 closed

[2020-10-16 01:34] tim-rj commented on #5394
please share the PR, we will fixed it in our local 1911 branch. thanks!

[2020-10-16 10:21] Str1ker17 commented on #5638
@theasianpianist Can you tell how did you create the tunnel? Especially on broadcom device.

[2020-10-16 12:38] DukeOwlington opened #5647 "VxLAN configuration doesn't work on SONiC VS"
Hello,
We are very interested in how the **L3 VxLAN** on **SONiC** is configured. We are using **SONiC VS** at the moment for the purpose of testing its capabilities. On the picture below you can see the scheme that we are using for **VxLAN** capabilities test:
![1](https://user-images.githubusercontent.com/24269409/96260406-2e172f00-0fe9-11eb-94de-fb6586803f87.png)

When we're trying to set the n

[2020-10-16 16:53] nazariig opened #5648 "Fine Grained ECMP doesn't distribute flows according to configured banks"
**Description**

Fine Grained ECMP doesn't distribute flows according to configured banks.
The behavior differs to what is described by HLD.

**Steps to reproduce the issue:**
1. Deploy PTF32 topo
2. Set IP addr for PTF container
[code]
3. Configure ECMP
[code]
4. Configure Fine Grained ECMP
[code]
5. Send traffic
[code]
6. Disable port `Ethernet16`
[code]
7. Observe invalid flows distribution
[co

[2020-10-16 19:01] #5587 closed

[2020-10-17 00:23] abdosi opened #5655 "Issues in portstat/show interface counters"
Two issues found while running portstat/show interface counters

a) Issue 1 : port_speed in not accounted when get Port rx/tx utilization when running portstat without -a option.
show interface counters invoke portstat without -a option.
By default utilization always map to 40G port speed

b) Issue 2: If we do sonic-clear counters during init while sonic is coming up (Counter DB still not ready/av

[2020-10-18 08:49] #4012 closed

[2020-10-18 09:07] liat-grozovik commented on #5655
@abdosi if i am not mistaken at least the #2 issue has been handled by Mykola F with the below HLD
it was decided back then not to backport it to 201911. can you please check if the problem in master and 201911 is the same?
https://github.com/Azure/SONiC/blob/ec6d35dd2c28491bfade19cfee990fe612f1e5e9/doc/rates-and-utilization/Rates_and_utilization_HLD.md

the PR which is not yet merged and should f

[2020-10-19 04:18] madhanmellanox commented on #5051
The issue is fixed with merging of following PR: https://github.com/Azure/sonic-utilities/pull/1062.
So, closing this PR.

[2020-10-19 04:18] #5051 closed

[2020-10-19 13:23] nazariig opened #5663 "Config reload fails sporadically: Job for swss.service canceled"
**Description**
Config reload fails sporadically due to systemd service dependencies:
[code]

The issue appears to be in **SNMP** delay timer:
[code]

The **SNMP** service is configured to be a requisite of **SWSS** service:

https://github.com/Azure/sonic-buildimage/blob/201911/files/build_templates/snmp.service.j2#L4
[code]

https://github.com/Azure/sonic-buildimage/blob/201911/files/build_templ

[2020-10-19 13:29] nazariig commented on #5636
The bug is fixed with: 36ea042cb9dafd601f0b6f117a9d2095ae1fc721

[2020-10-19 13:29] #5636 closed

[2020-10-19 16:58] anish-n commented on #5648
@nazariig can you try with "bank" instead of "Bank" note lack of capitalization of B, I will fix the schema/example in the documentation.
Upon changing to "bank", can you share the following if you still observe issues:
1.  what Ethernet16 was configured as? Vlan, regular L3 interface etc?
2. Do you observe invalid flow distribution without disabling Ethernet16?

[2020-10-19 17:51] iMasaruOki opened #5665 "'show nat config' and 'show nat statistics' includes garbage output"
**Description**

'show nat config'  shows the information but includes garbage.
Output of 'show nat statistics' are same thing.

**Steps to reproduce the issue:**
1. show nat config

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

I tested with SONiC-VS
https://son

[2020-10-19 18:33] nazariig commented on #5648
@anish-n Sure. I will check and update. Also, can you please elaborate on the following:
According to HLD we have:
[code]
In the example above we have:
[code]
Which is totally different, since i would expect to see something like `0,1,2,3...11` but not `0,1,2...127`. Is it expected?

[2020-10-19 18:45] anish-n commented on #5648
@nazariig 0...127 is expected, since the real hash bucket size in hardware is 128(vs 12 requested by the user in config_db entry), so fg_ecmp orch populates next-hop entries per the 128 size(vs 12 size).

[2020-10-19 19:15] theasianpianist opened #5667 "SWSS logs lower than current log level still count towards rate-limiting threshhold."
**Description**

Revert #5666 once a permanent fix is implemented.

Syslog messages from orchagent will sometimes be rate-limited for no apparent reason. The rate-limiting threshhold is set at 20k messages sent in 5 minutes, however syslog will sometimes start rate-limiting messages from orchagent when fewer than 20k messages have been logged in the past 5 minutes.

I believe this occurs because l

[2020-10-19 19:16] theasianpianist commented on #5667
Temporary fix in #5666 but still need to RCA this to figure out why the issue is occurring in the first place

[2020-10-20 10:15] Str1ker17 opened #5674 "How L3 VxLAN should work on SONiC"
Hello! We are interested in **SONiC** configuration for **Broadcom** chip. There is an information that **L3 VxLAN** is implemented in **SONiC**. We found no traces of **L2 VxLAN** implementation in **SONiC**. As far as we know **L3 VxLAN** can't handle packets without **L2 VxLAN**. We want to understand how **SONiC** is supposed to be used with the sole **L3 VxLAN** functionality.

The big questi

[2020-10-20 16:23] vadymhlushko-mlnx commented on #5417
I have tried to get all YANG models (except [sonic-flex_counter.yang](https://github.com/Azure/sonic-buildimage/pull/4442/files#diff-b9f8e98f7abb53dc7b42c3d5e58e17e1b498012bfe577bb13410775adbda0285))  from [LINK](https://github.com/praveen-li/sonic-buildimage/tree/new_yang_models_msft/src/sonic-yang-models/yang-models).
With very simple [CONFIG_DB](https://github.com/Azure/sonic-buildimage/files/5

[2020-10-20 17:53] praveen-li commented on #5417
@vadymhlushko-mlnx

Kindly share var/log/syslog as well.

natsorted is not used by config_mgmt, but it seems an internal library is using this package which is not installed on your switch.

Natsort related change is merged 11 days ago via below PR :
https://github.com/Azure/sonic-utilities/pull/1151.
@jleveque for PR 1151.

for the time being maybe, if you install the PKGs yourself, it should wor

[2020-10-20 18:29] #5555 closed

[2020-10-20 22:26] prsunny commented on #5504
The root-cause is some of the attributes were create_only and it is recently changed to create_and_set ([PR](https://github.com/opencomputeproject/SAI/pull/1086/files)). Originally sai library returned the following error in 201911 and the orchagent bypassed it.

`orchagent: :- meta_generic_validation_set: SAI_TUNNEL_ATTR_DECAP_DSCP_MODE:SAI_ATTR_VALUE_TYPE_INT32 attr is create only and cannot be

[2020-10-20 23:42] holmanb opened #5678 "Feature Request: GNS3 Documentation / Support"
I see in this repo documentation for kvm/qemu, and I would love to test out sonic using GNS3.

Currently there is no GNS3 documentation for sonic available on gns3.com, but since [it appears kvm/qemu is already apparently supported](https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/README.vsvm.md), this shouldn't be too technically difficult.

This would allow network operators suc

[2020-10-21 02:04] keboliu opened #5680 "xcvrd print out error logs from initializeGlobalConfig call"
**Description**

**Steps to reproduce the issue:**
 Install a  recent 201911 image like SONiC.201911.209-bea968bb will see this issue from time to time.

**Describe the results you received:**
error log captured from the syslog:

[syslog.9.gz](https://github.com/Azure/sonic-buildimage/files/5412780/syslog.9.gz)

**Describe the results you expected:**

there should be error logs

**Additional infor

[2020-10-21 04:55] daall commented on #5635
Closing as duplicate of #5521.

[2020-10-21 04:55] #5635 closed

[2020-10-21 05:12] judyjoseph commented on #5680
Initial update:

Oct 20 00:02:45.922548 arc-switch1025 ERR pmon#xcvrd[34]: :- initializeGlobalConfig: Sonic database config global file doesn't exist at /var/run/redis/sonic-db/database_global.json

          Multi-asic platforms don’t have this error message. Will check how to suppress this error message in swsscommon.

Oct 20 00:03:42.371442 arc-switch1025 ERR pmon#xcvrd[34]: :- initializeGlobal

[2020-10-21 05:18] daall opened #5681 "test_fib fails after update to BRCM SAI 4.2"
**Description**
test_fib.py was working up until we cut over to SAI 4.2 in brcm master image 436. Now it is failing consistently. We suspect this is due to a regression between 3.7 and 4.2.

**Steps to reproduce the issue:**
1. Run test_fib.py against any brcm master image from version 436 or later.

**Describe the results you received:**
test_basic_fib:
[code]

test_hash (ipv4 & ipv6):
[code]

**

[2020-10-21 06:38] wzlxyx commented on #3944
I meet the same issu.  I cannot get any useful information from above commit.  How did you resolve this issus ?

[2020-10-21 06:44] volodymyrsamotiy commented on #3849
Reopening this issues since it is observed again on latest 201911 images.

[2020-10-21 08:40] #5631 closed

[2020-10-21 09:57] lguohan commented on #5678
thanks for the feedback. is this what you are looking for?

https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/README.gns3.md

[2020-10-21 11:34] nazariig opened #5684 "FW tools logging system is broken"
**Description**
FW tools logging system has been broken by recent changes, when `sonic-py-common` package has been introduced.
The issue is caused by logger implementation which has several weak places:
1. It implicitly suppress logging messages up to `NOTICE` level: [logger.py](https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-py-common/sonic_py_common/logger.py#L34)
The side effect

[2020-10-21 11:36] nazariig commented on #5684
@jleveque please have a look

[2020-10-21 12:13] nazariig commented on #5648
@anish-n I have retested with the change you suggested - no issues observed. Please update the HLD with working example.

[2020-10-21 12:14] #5648 closed

[2020-10-21 14:25] vadymhlushko-mlnx commented on #5417
@praveen-li
Latest logs [syslog.zip](https://github.com/Azure/sonic-buildimage/files/5416497/syslog.zip)

Also you can check `sonic_dump_r-tigris-13_20201020_161152.tar.gz` archive for the logs.

[code]

As you can see, `natsort` is already installed, but I have tried again

[code]

And the output of breakout command the same as in previous comment.
Could you please suggest something?

[2020-10-21 16:26] stepanblyschak opened #5687 "watchdogutil does not work correctly"
**Description**
watchdogutil does not work correctly. It arms the watchdog but fails to disarm. Actually the watchdog gets disarmed but the message shown is not appropriate.  'wathdogutil status' disarms the watchdog because of how watchdog API is implemented.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

*

[2020-10-21 16:27] stepanblyschak commented on #5687
Pending some clarification from Joe & Sujin on requirements on Watchdog API implementation.

[2020-10-21 16:39] #5107 closed

[2020-10-21 17:24] hulksmaaash commented on #4366
I was hitting this same issue and adding the `-o Acquire::CompressionTypes::Order::=gz'` to the Dockerfile and Dockerfile.j2 didn't help.  However, after adding `--force-yes` after every `apt-get install -y` and `apt install -y` in both files, I was able to complete the build.

I am building with `PLATFORM=vs` and `PLATFORM_ARCH=arm64`

[2020-10-21 17:27] jleveque commented on #5684
@nazariig: the Logger class in sonic_py_common defaults the minimum log level to NOTICE, however it offers a `set_min_log_priority()` method for changing this level. This is available in both master and 201911 branches.

Could you explain what is inconsistent here? Have changes been made to sonic_py_common in the master branch that have not been backported to 201911?

[2020-10-21 17:36] holmanb commented on #5678
Well that's embarrassing.  I clearly should've done a basic search before making a feature request for something that basically already exists.  I'll give it a try when I get a chance.

Is there a plan to share a .gns3a file to the website so users can more easily make use of Sonic?

[2020-10-21 18:16] praveen5582 commented on #5417
@vadymhlushko-mlnx

the logs shared are not from the same timestamp. ideally you should do timestamp before running command. Also natsort is not a problem here, ConfigMgmt is still going ahead.

I think, we should schedule a debugging session to help you guys, Ask Anshu, I think 10.00 P.M. to 11.00 P.M. Friday should be good. Thx.

[2020-10-21 18:36] nazariig commented on #5684
@jleveque let me elaborate a little bit of that:
I think there are some issues with this `set_min_log_priority()` since it applies not to a logger instance but towards entire process.
Thus, it makes logging facility working not as expected, at least on Mellanox platforms. The reason for that is because we use logger twice:
1. In Chassis API implementation: [chassis.py](https://github.com/Azure/son

[2020-10-21 18:53] jleveque commented on #5684
I don't understand this:

`set_min_log_priority()` applies to a Logger instance, as it is a class method. Each instance can have its own minimum priority.

I understand that the syslog default behavior is to log all priorities, but for the SONiC logger we chose to implement a default minimum log level of NOTICE. We can eliminate this default, if you prefer, and the developer can explicitly call `s

[2020-10-21 19:15] nazariig commented on #5684
@jleveque please have a look at this example:
[code]

[2020-10-21 19:24] jleveque commented on #5684
Interesting. This was not the behavior I expected. I was not aware that syslog sets the mask on a per-process level.

Would you mind drafting a PR to make the proposed changes to sonic-py-common/logger.py?

[2020-10-21 20:54] yxieca opened #5690 "Code cleanup: use hset/hget for fast-reboot flag setting/getting"
**Description**

This is not an issue. Just a code cleanup opportunity identified during code review:

https://github.com/Azure/sonic-utilities/blob/master/scripts/fast-reboot#L383

Is setting fast-reboot flag with SET instead of HSET, which causes other code unable to use db_connect to retrieve this value.

This change was done to match the boot up flag setting/getting in other places (following

[2020-10-22 00:28] #5504 closed

[2020-10-22 00:49] wangxin commented on #5582
Verified OK on `20191130.51`.

[2020-10-22 00:49] #5582 closed

[2020-10-22 01:28] iMasaruOki opened #5692 "Build fails on master branch"
**Description**

Build fails on master branch.

**Steps to reproduce the issue:**
1. make all

**Describe the results you received:**

[code]

**Describe the results you expected:**

build successful.

**Additional information you deem important (e.g. issue happens only occasionally):**

tested on ommit 97b33e4da

[2020-10-22 01:56] wzlxyx commented on #3944
i fixed my problem. refer this https://github.com/Azure/sonic-buildimage/pull/1053/files

[2020-10-22 04:07] DukeOwlington commented on #5647
The answer has been given here: https://github.com/Azure/SONiC/issues/688

[2020-10-22 04:07] #5647 closed

[2020-10-22 06:20] judyjoseph commented on #5690
An additional place where this change would be needed is in the **sonic-py-common/device_info.py** ( https://github.com/Azure/sonic-buildimage/blob/82ea6422bf736ed53e01dd0552e41ac0bf720693/src/sonic-py-common/sonic_py_common/device_info.py#L456)

[2020-10-22 06:36] ciju-juniper opened #5696 "Issues while parsing port_config.ini"
**Problem description**
Recently the parsing of port_config.ini is broken in SONiC. Earlier (till a few weeks back), we could give a column in port_config.ini for "fec". Now it has been observed that sonic-cfggen throws an error during boot and none of the docker images are loaded. When 'fec' column is removed from port_config.ini, things are fine.

This scenario is important when the switches are

[2020-10-22 06:38] bingwang-ms opened #5697 "[lldp] lldpmgrd crashed in test_iface_namingmode"
**Description**
The lldp service crashed in test_iface_namingmode.
The alias of interfaces will be updated in test setup and teardown with following commands, which have a quite lagre possibility to crash lldp.
[code]
The crash logs are following.
[code]
The log said that redis is not accessible, but I did a test and redis seemd fine.
[code]

**Steps to reproduce the issue:**
1. Just run test case

[2020-10-22 07:27] tahmed-dev commented on #5696
@ciju-juniper Updated the description due to a typo. I mean adding fec should not affect the availability of the port_config.ini. If the PR in question is the issues, the file will not be found if the pathname contains the hwsku. Since the file is found, I do not think that PR is the underlying cause.

[2020-10-22 07:35] ciju-juniper commented on #5696
@tahmed-dev I've a working image that was built on Oct-3. I don't have the exact commit id on which it was built as it had some local commits.

How do we debug this problem further? Please let me know if you have any suggestions.

[2020-10-22 07:39] ciju-juniper commented on #5696
It does look to me that the breakage is in some common library. Were there any recent updates to  any of the parsing libraries that can even overwrite the references from 201911 branch?

[2020-10-22 08:14] ciju-juniper commented on #5696
@lguohan @abdosi @jleveque  Please take a look

[2020-10-22 09:36] vadymhlushko-mlnx commented on #5417
@praveen5582, @praveen-li - could we set up a debug session on Monday (26 October) at any time that is suitable for you (we have a time zone GMT+3).

Also could you please provide me email or something else, so I can contact with Anshu?

[2020-10-22 09:48] ciju-juniper commented on #5696
None of the sonic specific commands are working if this issue happens. So I'm not able to take 'show techsupport'. Please let me know if any of the files are required to debug this further.

The following traceback is seen in the /var/log/syslog:

Oct 22 17:40:26 sonic config-setup[1238]: True
Oct 22 17:40:26 sonic config-setup[1238]: True
Oct 22 17:40:26 sonic config-setup[1238]: Traceback (most

[2020-10-22 10:14] ciju-juniper commented on #5696
Just an update as it may help to debug better:

I had this change in the /usr/lib/ztp/templates/ztp-config.j2

`{% if PORT[port].fec is defined and PORT[port].fec != "" %}`
`                "fec": "{{ PORT[port].fec }}",`
`{% endif %}`

After removing this change, sonic services are loaded, but 'FEC: rs' setting is still not applied.

@rajendra-dendukuri  Look like, ztp is not able to get the 'FEC

[2020-10-22 10:21] ciju-juniper commented on #5696
Here is the 'show techsupport' after removing the 'fec' from ztp template
[sonic_dump_sonic_20201022_181911.tar.gz](https://github.com/Azure/sonic-buildimage/files/5421982/sonic_dump_sonic_20201022_181911.tar.gz)

[2020-10-22 14:52] bratashX commented on #5603
This PR can fix the problem with IPv6 address: https://github.com/Azure/sonic-buildimage/pull/5699

[2020-10-22 15:25] iMasaruOki commented on #5692
Only parallel build are affected.

[2020-10-22 17:31] #5552 closed

[2020-10-22 17:32] daall commented on #5552
RPC docker included in nightly master build.

[2020-10-22 17:44] tahmed-dev commented on #5696
I do not see the ztp change on [master](https://github.com/Azure/sonic-ztp/blob/master/src/usr/lib/ztp/templates/ztp-config.j2)

[2020-10-22 18:52] lguohan commented on #5692
can you print out more information. what are those arguments?

[2020-10-22 19:28] nazariig commented on #5684
@jleveque sure. I will take care.

[2020-10-22 19:30] dflynn-Nokia opened #5701 "Need ARM versions of redis-tools and redis-server debian packages imported into blob storage"
**Description**

I am working to get the marvell-armhf architecture to build successfully  on the master branch. I noticed that with PR #5340 the debian packages for the 'amd64' versions of redis-tools and redis-server have been imported into blob storage. Please also add 'armhf' and 'arm64' versions of these debian packages to blob storage. Once these ARM packages are in place I can create a new

[2020-10-22 19:32] daall commented on #5491
It looks like there is a chance that this crashes when `config reload` is run as well, see logs:

[syslog.txt](https://github.com/Azure/sonic-buildimage/files/5425271/syslog.txt)
[teamd.log](https://github.com/Azure/sonic-buildimage/files/5425272/teamd.log)

[2020-10-22 21:52] shi-su commented on #4400
I experienced exactly the same issue in the master image. I found it happens and blocks the following warm-reboot as long as SONiC boots up (no matter it is cold/fast/warm) with the ping traffic in the warm/fast reboot test. And the logic in https://github.com/Azure/sonic-swss/pull/1184 makes the DEL operation stay in m_toSync. So I think this might not completely be a warm-reboot problem, it just

[2020-10-22 23:09] pavel-shirshov commented on #5491
duplicate https://github.com/Azure/sonic-buildimage/issues/5306

[2020-10-22 23:09] #5491 closed

[2020-10-22 23:22] stephenxs commented on #4400
You’re correct. This issue can also be reproduced without warmreboot.
I m going to update the title

[2020-10-23 00:05] paulmenzel opened #5702 "`make init`: Docker is run in privileged mode"
Using 201803.01-2570-g80cc037b, `Makefile.work` runs Docker in privileged mode.

https://github.com/Azure/sonic-buildimage/blob/73825e4d4de05f7e8933ce1b3054be0033c3fb61/Makefile.work#L113

Nowadays, Docker only seldomly should be run in privileged mode, as it is a security issue for the build host.

[2020-10-23 00:29] stephenxs commented on #5157
Fixed by [PR #1440](https://github.com/Azure/sonic-swss/pull/1440)

[2020-10-23 00:29] #5157 closed

[2020-10-23 01:26] theasianpianist commented on #5667
Turns out this is a non-issue. #5666 should be reverted. It only appears that there aren't enough messages to justify rate limiting because of the way `rsyslog` handles repeated messages. Repeated messages are usually handled as follows:

1. Some message `A` is sent to `rsyslog` once.
2. Message `A` is written to the log file.
    * The number of messages that count towards the rate-limit threshho

[2020-10-23 01:26] #5667 closed

[2020-10-23 01:50] stephenxs commented on #4400
The title and description have been updated.
The lable `Issues for 201911` has also been removed since this is a master issue and can't be reproduced on 201911.

[2020-10-23 04:10] pavel-shirshov commented on #5306
Something wrong with zmq initialization
[code]

[2020-10-23 08:00] iMasaruOki commented on #5692
I had misunderstanding the problem.

I'm tested some cases.
- In my (source is modified) tree, build fails with JOBS=1.  (note: dpkg cache are enabled)
- Build twice without clean are successful.

- In unmodified master, build successful.
- In master with JOBS=8 (without dpkg cache), build successful.
- In master with dpkg cache, build fails.

It seems to be dpkg cache problem.
I'll try remove all

[2020-10-23 10:01] ciju-juniper opened #5704 "Orchagent crash in the recent SONiC images"
Orchagent is crashing in the 201911 & master images. No interfaces are loaded and orchagent is core is generated in '/var/core/' directory.

[code]

Seeing the below errors in the /var/log/syslog

[code]

Please let me know what could be the problem here.

[2020-10-23 10:03] ciju-juniper commented on #5704
Here is the dump from 201911 image.
[sonic_dump_sonic_20201023_093429.tar.gz](https://github.com/Azure/sonic-buildimage/files/5428772/sonic_dump_sonic_20201023_093429.tar.gz)

[2020-10-23 10:25] ciju-juniper commented on #5704
Here is the dump from master branch build 445
[sonic_dump_sonic_20201023_101203.tar.gz](https://github.com/Azure/sonic-buildimage/files/5428856/sonic_dump_sonic_20201023_101203.tar.gz)

[2020-10-23 10:26] ciju-juniper commented on #5704
Errors are similar in both 2019 & master branches. Please let me know if anything from the platform side need to be done to get rid of this issue.

[code]

[2020-10-23 10:33] ciju-juniper commented on #5696
@tahmed-dev No change for ZTP code, but ztp is not able to get the complete data from port_config.ini. I think there are some script breakage.

[2020-10-23 10:36] ciju-juniper commented on #5704
@lguohan @kcudnik Would you have any pointers on this?

[2020-10-23 15:02] volodymyrsamotiy opened #5706 "[vnet] Orchagent crash after warm-reboot if VNET configured"
**Description**
Orchagent crash after warm-reboot if VNET configured

**Steps to reproduce the issue:**
1. Apply config with VxLAN tunnel and VNET configured
[code]
2. Perform ```warm-reboot```
3. Once switch is up observe that segmentation fault happened in orchagent
[code]
**Describe the results you received:**
Segmentation fault in orchagent
[code]

**Describe the results you expected:**
```war

[2020-10-23 15:31] caizhenghui opened #5709 "PortChannel IP addresses are lost after restarting teamd service"
**Description**
After restarting teamd service, the assigned IP addresses on LAG interface are lost.

**Steps to reproduce the issue:**
1. Configure LAG interfaces with ip address.
2. systemctl restart teamd
3. check ip addresses on PortChannel interface.

**Describe the results you received:**
The IP addresses are gone after restart teamd service.

**Describe the results you expected:**
The IP ad

[2020-10-23 15:43] caizhenghui commented on #5709
The techsupport dump:
[sonic_dump_sonic_20201023_154403.tar.gz](https://github.com/Azure/sonic-buildimage/files/5430467/sonic_dump_sonic_20201023_154403.tar.gz)

[2020-10-23 15:49] caizhenghui commented on #5709
Additional log:
root@sonic:/etc/sonic# ip address show PortChannel001
157: PortChannel001: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 9100 qdisc noqueue state UP group default qlen 1000
    link/ether 78:4f:9b:65:5e:c4 brd ff:ff:ff:ff:ff:ff
    inet 1.0.0.2/24 brd 1.0.0.255 scope global PortChannel001
       valid_lft forever preferred_lft forever
    inet6 1001::2/48 scope global
       valid_lft fore

[2020-10-23 17:15] kcudnik commented on #5704
After quick look seems like some brcm issue, i dont see any issues related to syncd/ siredis, first time i see this isse, this is interesting:  board_id_default:581 Failed to obtain switch ID., this messages comes from internal brcm
and that is very interesting that this happens on master branch as well as on 201911, could be device issue ?

[2020-10-23 17:22] ciju-juniper commented on #5704
Nothing wrong with the device. I have loaded master build 404 in this box without any issue. Next available image in jenkins is 424. I'm trying to load it. Will update the result.
@kcudnik  Would you know how to get older builds?

[2020-10-23 17:23] ciju-juniper commented on #5704
This is a TH2 switch.

[2020-10-23 18:12] kcudnik commented on #5704
im not sure if older builds are available on jenkins

[2020-10-23 18:17] ciju-juniper commented on #5704
@smaheshm Could you take a look at this issue?

We had a similar issue (almost same) reported in July: https://github.com/Azure/sonic-buildimage/issues/4907
It went away in the later builds. Look like it has resurfaced again.

It's very consistent this time. Seen in both 201911 & master branches. The last working image that I have in 201911 is built sometime in mid of August. The last working imag

[2020-10-23 18:25] smaheshm commented on #5704
@arlakshm Is this similar to the issue you saw?

[2020-10-23 22:47] kielfriedt commented on #4366
This worked for me

[2020-10-24 01:33] #5306 closed

[2020-10-24 02:28] #5570 closed

[2020-10-24 19:36] #5684 closed

[2020-10-25 07:50] lguohan commented on #5709
teamd docker restart alone (code restart) is not supported, needs restart swss as well.

[2020-10-25 07:53] lguohan commented on #5702
in the build process, we need to start another docker engine inside the docker. have you tried to remove the privileged option and check the build? I think there will be build error if it is removed.

[2020-10-25 07:54] lguohan commented on #5701
@qiluo-msft , can you do that?

[2020-10-25 07:57] lguohan commented on #5678
gns3a is embedded in the sonic-gns3a.sh. since the licence is apache, please feel free to upload to website.

[2020-10-25 14:00] caizhenghui commented on #5709
Even after warm_restart enabled, it's still showing the same issue.
root@sonic:~# ip address show PortChannel001
9: PortChannel001: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 9100 qdisc noqueue state DOWN group default qlen 1000
    link/ether 78:4f:9b:65:5e:c4 brd ff:ff:ff:ff:ff:ff
    inet 1.0.0.2/24 brd 1.0.0.255 scope global PortChannel001
       valid_lft forever preferred_lft forever
    inet6

[2020-10-26 04:24] qiluo-msft commented on #5701
@dflynn-Nokia I uploaded as below.
- https://sonicstorage.blob.core.windows.net/packages/redis/redis-server_6.0.6-1_bpo10+1_arm64.deb?sv=2015-04-05&sr=b&sig=622w2KzIKIjAaaA0Bz12MzU%2BUBzY2AiXFIFfuKNoKSk%3D&se=2030-10-24T04%3A21%3A44Z&sp=r
- https://sonicstorage.blob.core.windows.net/packages/redis/redis-server_6.0.6-1_bpo10+1_armhf.deb?sv=2015-04-05&sr=b&sig=xTdayvm0RBguxi9suyv855jKRjU%2FmKQ8nHuct

[2020-10-26 05:47] bingwang-ms commented on #3849
Same issue is found in lattest master image SONiC.master.447-bef76b10 when applying a large route config file.
[code]
[route_test.zip](https://github.com/Azure/sonic-buildimage/files/5437039/route_test.zip)

[2020-10-26 06:35] lguohan commented on #5556
the test is passing for me.

I am using master kvm image 525.

[code]

[2020-10-26 07:35] lguohan commented on #5556
anyway, i have improved the bgp_route module to leverage the frr json output directly instead of comand line output parse. it should improve the robustness of the test.

https://github.com/Azure/sonic-mgmt/pull/2406

[2020-10-26 10:40] bingwang-ms commented on #5580
This issue is also observed on master branch.

[2020-10-26 17:07] prsunny commented on #5706
Thanks Volodymyr for the backtrace. I think the root-cause is due to nullptr access when vnet config is pushed while it exists. Could you please check this linked PR?

[2020-10-26 20:02] vaibhavhd opened #5722 "Portsyncd crash and cores seen during warmreboot of 201911 image"
**Description**

WARM reboot failure - `portsyncd` errors and cores were noticed during warm-reboot.

**Steps to reproduce the issue:**
1. Run continuous warm-reboot cycles, and one of the warm-reboot attempts will fail with a non-zero (`255`) return code.
2. From the syslog, below messages can be seen and the CORE files will be genereated:
3. In my testing, the error was hit in 6th iteration of c

[2020-10-27 03:38] tim-rj opened #5723 "[201911][warm-reboot] python and orchagent crash when exec warm-reboot -v"
**Description**

**Steps to reproduce the issue:**
1. wait board stable
2. exec `warm-reboot -v`
3. found python and orchagent crashed, dockers quit at the end

**Describe the results you received:**
warm reboot work faild

**Describe the results you expected:**
warm reboot work successfully

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `sh

[2020-10-27 03:43] tim-rj commented on #5723
[Uploading syslog.log…]()

[2020-10-27 09:04] sujinmkang commented on #5687
Watchdogutil assumes the platform api is stateless api which returns the hw watchdog status based on the previous hw watchdog execution. I see that the platform API implementation varies between platforms. But at least, I believe that arm()/disarm()/is_armed() should be stateless api. I understand the remaining time needs to be maintained as state. To get the correct remaining time, we also need a

[2020-10-27 09:30] stepanblyschak commented on #5687
@sujinmkang I understand that. I'll adapt watchdog implementation based on this requirement. Do we have a pytest test for wathcdogutil? the watchdog API test does not cover this.
Another question, let's say there will be a watchdog daemon running all test time and periodically arming the watchdog.
Vendors which implement API based on linux watchdog driver will face the following issue:
If watchdog

[2020-10-27 15:57] judyjoseph commented on #5680
Working on this !

[2020-10-27 20:03] rajendra-dendukuri commented on #5696
@tahmed-dev we want to make the change and ensure it works before rolling it out the change in the sonic-ztp repo. Can you please help us here.

[2020-10-28 00:04] daall opened #5729 "broadcom master image build broken for >10 days"
**Description**
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/ has broken for several days.

**Steps to reproduce the issue:**
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/448/
https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/450/
https://sonic-jenkins.westus2.cloudapp.azure.com/jo

[2020-10-28 01:28] daall commented on #5697
Based on the error message this might be related to #3849

[2020-10-28 01:34] #5556 closed

[2020-10-28 07:34] ciju-juniper commented on #5704
This issue goes away once a powercycle is done. It will be a problem for upgrading the images as even the switch reboot will not help to recover.

[2020-10-28 08:32] ciju-juniper opened #5732 "Cannot assign DHCP addresses to In-band ports"
**Problem description**
In the recent SONiC images, DHCP address assignment for in-band ports doesn't work. This is a blocker for in-band ztp. Once the ZTP kicks in, it tries to get a DHCP address over the management / in-band ports. DHCP does work over management port but it fails to assign an address to in-band ports.

From the switch I can see it requests for a DHCP address:

Oct  7 11:18:43.86

[2020-10-28 08:34] ciju-juniper commented on #5732
@lguohan @abdosi @rajendra-dendukuri  Please have your thoughts on this.

[2020-10-28 09:09] lguohan commented on #5732
i think you are right, but a more complete solution is to disable dhcp copp after ztp is finished. This is because dhcp packets should not be trapped on leaf router. currently copp rule is not configurable. @prsunny , will coppmgr allow copp rule to be configurable. also, @rajendra-dendukuri , is ztp supported over in-band interface?

[2020-10-28 09:41] ciju-juniper commented on #5732
@lguohan in-band ztp is supported and I'm using it successfully now: https://github.com/Azure/SONiC/blob/master/doc/ztp/ztp.md#37-provisioning-over-in-band-network

[2020-10-28 15:17] anshuv-mfst commented on #5723
Please provide more input:
1) Is the issue reproducible (seen every time?)
2) What hardware platform/ASIC is this issue seen in?
3) Please add show techsupport output and syslog file.

[2020-10-28 15:23] anshuv-mfst commented on #5709
Issue should be fixed via [5163](https://github.com/Azure/sonic-buildimage/pull/5163).

[2020-10-28 15:24] anshuv-mfst commented on #5706
Hi @volodymyrsamotiy - please check with the fix and close if issue is no longer seen.

[2020-10-28 15:35] anshuv-mfst commented on #5704
10/28: Issue is seen during image upgrade on TH2 based platforms.
Please provide lspci output to confirm if switch create is failing.

(@ciju-juniper and Ben to connect on the issue)

[2020-10-28 15:44] anshuv-mfst commented on #5696
Issue is not seen without ZTP.
@SuvarnaMeenakshi - could you please look into this issue.

[2020-10-28 15:52] anshuv-mfst commented on #5665
Please provide more information:
1) Issue seen in which image?

[2020-10-28 15:54] gechiang commented on #5681
This is a hashing issue. There are a lot of changes made from 3.7.5.3 to 4.2.1.3.  Most of the changes were made to support HX4 platform where the hash field is being programmed differently.  But some of the code seems to be confused as when it needs to program which field.  I made some manual changes and IPV6 started to pass but IPV4 and basic still fails.  I have already opened a CSP CS000113886

[2020-10-28 15:54] anshuv-mfst commented on #5642
Please provide more info:
1) show techsupport output
2) Which release is this issue seen?

[2020-10-28 16:03] anshuv-mfst commented on #5598
@SuvarnaMeenakshi - could you please look into this issue.

[2020-10-28 16:23] lguohan commented on #5729
after building syncd, the current build system will uninstall
libsaibcm-dev package. when building ptf docker, libsaithrift-dev
requires libsaibcm-dev to be installed.

i have a temporary workaround to address this problem in sonic-build-tools.

https://github.com/Azure/sonic-build-tools/commit/8220ed1506d3b4447ce69462bd81e09e97dd3783

[2020-10-28 16:25] #5701 closed

[2020-10-28 16:26] lguohan commented on #5681
is hashing completely not working in 4.2 or it is not load balanced correctly?

[2020-10-28 16:29] gechiang commented on #5681
@lguohan It is not load balanced correctly.  We tried manually generating packet with different IP and do see the hash difference.  So hashing is working but the overall load balancing no longer balance distribution correctly and thus causing the test case to fail.

[2020-10-28 17:02] liat-grozovik commented on #5605
@kannankvs kindly reminder. please let us know if you need additional information

[2020-10-28 17:23] #5627 closed

[2020-10-28 18:14] ben-gale commented on #5704
@ciju-juniper - my email is ben.gale@broadcom.com - feel free to connect directly.

[2020-10-28 19:45] daall commented on #5602
I tried to model this after `portstat` but I missed one key detail - each *user* has a tmp directory to store the checkpoints. I will implement this for drop counters as well.

[2020-10-28 20:37] vaibhavhd opened #5738 "DB_MIGRATOR misses FEATURE table during warm upgrade from 201811 to 201911"
**Description**

Warm reboot upgrade from 201811 to 201911 fails to update FEATURE table in the target config_db
Possible cause of the issue - FEATURE table is not found in 201811 image and in 201911 image, `db_migrator` failed to update this new information in config_db.
However, with cold reboot, the error gets fixed. So there might be a difference in db_migrator functionality in WARM vs COLD re

[2020-10-28 22:59] SuvarnaMeenakshi commented on #4587
@mini-nair-dell can this be closed?

[2020-10-29 00:15] qiluo-msft commented on #5592
@Junchao-Mellanox You may check the discussion https://github.com/Azure/sonic-snmpagent/pull/74#discussion_r208055665.
Basically the industry practice is not exactly matching the ifName/ifAlias/IfDesc "names" well. We implement as-is just to make the monitor system happy.

[2020-10-29 00:25] tim-rj commented on #5723
[Uploading syslog.log…]()

[2020-10-29 00:25] tim-rj commented on #5723
[syslog.log](https://github.com/Azure/sonic-buildimage/files/5455451/syslog.log)

[2020-10-29 00:30] tim-rj commented on #5723
1. it is a always issue;
2. broadcom/td3;
3. see newest attachament;

[2020-10-29 00:37] gechiang commented on #5583
This looks to be new issue introduced by SAI 4.2.1.3
I rolled back to previous version (3.7.5.1) and it was working fine.
On the very first version of master image using SAI 4.2.1.3 this issue is observed.
Tried on two different BRCM DUTs  one on Celestica-DX010-C32 (BCM56960_B1 ) and another one on Force10-S6000 (BCM56850_A2).  Both shows the same failing behavior.
From the code this available re

[2020-10-29 00:48] Junchao-Mellanox commented on #5592
@qiluo-msft Thanks for the information.
@henzelis I think Qi's comment answered our question, what do you think?

[2020-10-29 09:03] lguohan commented on #5697
i tried this on the master kvm image multiple times, I cannot repro it. how frequently does this issue appear?

[2020-10-29 09:14] bingwang-ms commented on #5697
It happens pretty frequently. I just ran test_iface_namingmode.py::TestShowInterfaces::test_show_interfaces_portchannel on dx010-4, and it happened almost each time.

[2020-10-29 15:17] aravindmani-1 commented on #5258
API 2.0 was missing that has caused the crash. https://github.com/Azure/sonic-buildimage/pull/5637 will fix this issue.

[2020-10-29 21:42] #5729 closed

[2020-10-30 07:16] bingwang-ms opened #5751 "[monit] monit reported 'process is not running' even the process was started"
**Description**
Some issues are found about ```monit``` service.
1. Monit is configured to report an error for 5 consecutive failure, but the monit was reporting error in each cycle.
[code]
Errors reported in each cycle:
[code]
 2. Monit was reporting some _fake alarms_. Sometimes the process being monitored is running, but monit will report an ERROR msg in syslog. As a result, LogAnalyzer will re

[2020-10-30 08:14] irene-pan1202 opened #5752 "NTP service bind v6 loopback failed and unable to create socket on lo for ::1#123 when mgmt VRF is enabled"
**Description**
Why does the loopback network interface of mgmt VRF not need to be configured ::1/128?
This should cause NTP service bind v6 loopback failed and unable to create socket on lo for ::1#123 when mgmt VRF is enabled.

**Steps to reproduce the issue:**
1. Enable mgmt vrf
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you d

[2020-10-30 14:46] lguohan opened #5755 "tlm_teamd still crashing when running test_po_update test"
check out this test.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/1792/testReport/junit/route/test_default_route/test_default_route_set_src/

[code]

you can find the dump file in here.

https://sonic-jenkins.westus2.cloudapp.azure.com/job/common/job/sonic-mgmt-testing/job/sonic-mgmt-pr/1792/

[2020-10-30 14:51] lguohan commented on #5755
the test is using latest kvm image 531, which has latest swss submodule. @pavel-shirshov , it looks like your previous fix https://github.com/Azure/sonic-swss/pull/1347 introduce some new issues.

[2020-10-30 14:54] lguohan commented on #5697
it looks like this test is also due to the same failure. https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image-test/434/testReport/junit/route/test_default_route/test_default_route_set_src/

[2020-10-30 16:56] daall opened #5758 "bulk route API printing not implemented errors when routes are added and removed"
**Description**
When we load a recent master image onto a device, it constantly prints errors from syncd reporting that the bulk route API is not implemented.

**Steps to reproduce the issue:**
1. reboot a device that is running the latest master image

**Describe the results you received:**
[code]

**Describe the results you expected:**
We shouldn't see any errors from syncd.

**Additional inform

[2020-10-30 16:58] daall commented on #5758
Seems like it could be related to: https://github.com/Azure/sonic-sairedis/pull/656

[2020-10-30 17:25] daall opened #5759 "pmon crashing immediately in latest master image"
**Description**
pmon is consistently crashing in the latest master image. It looks like some import/package is missing, causing it to fail suddenly on startup.

**Steps to reproduce the issue:**
1. Load the latest master image onto a device and reboot

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**
pmon should work.

**Output of `show version`:**
[cod

[2020-10-30 18:07] kcudnik commented on #5758
here is loglevel update: https://github.com/Azure/sonic-sairedis/pull/687

[2020-10-30 21:48] vaibhavhd opened #5761 "[teamd][warmreboot] LAG flap seen with ioctl SIOCADDMULTI and SIOCDELMULTI failures"
**Description**

**Steps to reproduce the issue:**
1. Run continuous warm-reboot cycles,
2. One of the warm-reboot attempts will fail with a LAG flap reported.
3. `syslog` and `teamd.log` will report LAG IOCTL errors.

*Very* similar issue was reported earlier  - https://github.com/Azure/sonic-buildimage/issues/3649
Testing with the patch failed on 201811 image with similar errors. Submitted patch

[2020-11-01 07:56] #5433 closed

[2020-11-01 07:56] #5755 closed

[2020-11-02 01:51] wangxin opened #5770 "bgp#fpmsyncd raises err msg "Invalid VRF name mgmt" when management VRF is enabled"
**Description**

Component bgp#fpmsyncd raises error message in syslog when management VRF is enabled. Captured error message:
[code]

**Steps to reproduce the issue:**
1. Run command `sudo config vrf add mgmt` on SONiC.
2. Check `/var/log/syslog`.
3.

**Describe the results you received:**
After management VRF is enabled, service fpmsyncd running in bgp container raised error message in syslog:
[

[2020-11-02 01:55] wangxin opened #5771 "snmp#snmpd raises err message "Duplicate IPv4 address detected" when management VRF is enabled"
**Description**
Component snmp#snmpd raises error message "Duplicate IPv4 address detected" in syslog when management is enabled. Captured error message:
[code]

**Steps to reproduce the issue:**
1. Run command sudo config vrf add mgmt on SONiC.
2. Check /var/log/syslog.
3.

**Describe the results you received:**
After management VRF is enabled, service snmpd running in snmp container raised error

[2020-11-02 08:56] SoftPaper commented on #4517
How to solve this problem?

[2020-11-02 08:56] SoftPaper commented on #4517
HELP！！！How to solve this problem?

[2020-11-02 09:11] lguohan commented on #5697
[lldpmgrd-debug.tar.gz](https://github.com/Azure/sonic-buildimage/files/5473792/lldpmgrd-debug.tar.gz)

it is easy to repro it now.

just using ./testalias.sh and ./testalias1.sh alternatively, usually in 2~3 rounds you will be able to repro the lldpmgrd crash. I also added some debug log in lldpmgrd.

it looks like there is something wrong in the swss-common python library. @qiluo-msft , can you

[2020-11-02 17:20] msosyak commented on #5759
I also faced a similar issue with pmon on the latest SONiC image. The error is a bit different, but the issue is observed after #5743 and #5747 was merged, See details below.
@jleveque  Could you check or should I open a new issue?

[code]

[2020-11-02 18:16] jleveque commented on #5759
@msosyak: I also discovered this issue on Friday; it applies to Arista devices. The Arista sonic_platform package imports 'enum', which is part of the standard library starting with Python 3.4. However, for versions < 3.4, the 'enum34' package needs to be installed. This package was previously getting installed in PMon for Python 2.7, but due to conflicts between these two packages in Python 3.7,

[2020-11-02 19:15] #5680 closed

[2020-11-02 22:04] daall commented on #5759
@jleveque LGTM in the latest master image. I'm going to go ahead and close this issue. Do we need to open another issue for the Arista issue, or does the PR you opened fully cover it?

[2020-11-02 22:06] jleveque commented on #5759
@daall: The two PRs I mention above should fix the issue. I say you can close this.

@msosyak: If, after those PRs merge, the Arista issue still exists, please open a new issue to track it.

[2020-11-02 22:07] daall commented on #5759
Cool, thanks again! :)

[2020-11-02 22:07] #5759 closed

[2020-11-03 00:02] mkjprior opened #5787 "QCT IX9 Module supply does not come up and port LEDs uninitialized"
**Description**

Installed the sonic-broadcom.bin image from (https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms) on switch hardware (QCT T9032-IX9). Install appeared normal and system seems to boot normally. Expect the system LEDs on the port all fade in and out in unison, as they do during boot/ OS install, IE they are uninitialized.  Also found any modules inserted (tried 6, kn

[2020-11-03 00:07] daall commented on #5618
certs need to be deployed via `deploy-mg` from the testbed-cli, otherwise this issue is hit. I am going to go ahead and close this and open a separate issue in sonic-mgmt to handle this more gracefully (maybe as a pretest or something).

[2020-11-03 00:07] #5618 closed

[2020-11-03 02:21] bingwang-ms commented on #5487
https://github.com/Azure/sonic-mgmt/pull/2328 only fix following error
[code]
But following error messages were still there in latest master branch, which caused  ```warmRestartCheck``` failed. So reopen the issue.
[code]

[2020-11-03 02:24] SoftPaper commented on #5443
$ make init
$ make configure PLATFORM=centec
$ make all

	[ FAIL LOG START ] [ target/debs/stretch/libsai_1.3.3_amd64.deb-install ]
	dpkg-deb: error: 'target/debs/stretch/libsai_1.3.3_amd64.deb' is not a debian format archive
	dpkg: error processing archive target/debs/stretch/libsai_1.3.3_amd64.deb (--install):
	 subprocess dpkg-deb --control returned error exit status 2
	Errors were encountered

[2020-11-03 07:45] henzelis opened #5792 "No interface MAC addresses in output of ifPhysAddress RFC1213"
**Description**

OID ifPhysAddress(1.3.6.1.2.1.2.2.1.6) show empty values. But should show MAC addresses according to RFC1213

**Steps to reproduce the issue:**
1. Run command:
_snmpwalk -v 2c -c public 127.0.0.1 1.3.6.1.2.1.2.2.1.6_

2.Observe empty values

**Observed behavior**
Empty values in output:
<pre>
 snmpwalk -v 2c -c public 127.0.0.1 1.3.6.1.2.1.2.2.1.6
iso.3.6.1.2.1.2.2.1.6.1 = ""
iso.

[2020-11-03 07:53] henzelis opened #5793 "OID ifSpeed show wrong interface speed values"
**Description**

OID ifSpeed show wrong interface speed values,

**Steps to reproduce the issue:**
1. configure interface speed on DUT:
<pre>
config interface speed Ethernet64 10000
</pre>
2. Run snmpwalk command to verify values:
<pre>
 snmpwalk -v 2c -c public 127.0.0.1 1.3.6.1.2.1.2.2.1.5.65
iso.3.6.1.2.1.2.2.1.5.65 = Gauge32: 4294967295
</pre>

**Describe the results you received:**
snmpwalk c

[2020-11-03 10:13] liat-grozovik commented on #5377
@rajendra-dendukuri will you be able to check if the fix can also be cherry picked to 201911?

[2020-11-03 10:36] CLUDev opened #5795 "[201911][vnet] show vnet [neighbors | routes [all | tunnel]] crashed"
**Description**

**Steps to reproduce the issue:**
1. show vnet neighbors
2. show vnet routes all
3. show vnet routes tunnel

**Describe the results you received:**

    root@VTEP1:/home/admin# show vnet neighbors
    Traceback (most recent call last):
      File "/usr/bin/show", line 12, in <module>
        sys.exit(cli())
      File "/usr/lib/python2.7/dist-packages/click/core.py", line 722, in

[2020-11-03 15:40] henzelis opened #5796 "RFC4293 OIDs not mplemented in snmp agent"
**Description**

Output of next OIDs return incorrect values.:

-  ipAddressPrefixOrigin
-  ipAddressType
-  ipDefaultRouterLifetime
-  ipv6ScopeZoneIndexTable

**Steps to reproduce the issue:**
1. Run on DUT snmp query for next OIDs:
<pre>
ipAddressPrefixOrigin
 ipAddressType
 ipDefaultRouterLifetime
 ipv6ScopeZoneIndexTable
</pre>
 2. Verify that output is incorrect.

**Describe the results you

[2020-11-03 16:50] abdosi commented on #5751
Issue 1> Fixed with PR: https://github.com/Azure/sonic-buildimage/pull/5720

Issue 2> Monit Issue as listed here https://bitbucket.org/tildeslash/monit/issues/19/race-condition-when-using-check-program

The problem is, that the "check program" is always one cycle behind the reality. This is due to design limitation of current Monit test scheduler - to not block the validation engine with check pro

[2020-11-03 16:50] #5751 closed

[2020-11-03 16:55] abdosi commented on #5640
PR 5720 is merged . That pr was updated so we don;t need 2nd PR .
Closing this as fixed.

cc @rlhui

[2020-11-03 16:55] #5640 closed

[2020-11-03 16:56] abdosi commented on #5655
PR: https://github.com/Azure/sonic-utilities/pull/1180 fixes this issue. Closing this.

cc @rlhui

[2020-11-03 16:56] #5655 closed

[2020-11-03 18:01] rajendra-dendukuri commented on #5377
@liat-grozovik Yes. There are two PR's pending review and approval to be merged to 201911. Once they are approved I can merge them to 201911.

[2020-11-03 18:31] liat-grozovik commented on #5377
Appreciate

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: rajendra-dendukuri <notifications@github.com>
Sent: Tuesday, November 3, 2020 8:01:57 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildimage] [ZTP] "show ztp status" command require

[2020-11-03 18:35] melsom commented on #4517
Unfortunately not possible to fix this. SONiC is broken for Cavium.

[2020-11-03 18:48] yxieca commented on #4400
@stephenxs can you validate and close the issue?

[2020-11-03 18:52] yxieca commented on #5487
@bingwang-ms  was this issue due to warm reboot issued too early after previous reboot?

[2020-11-04 00:28] #5697 closed

[2020-11-04 00:42] tim-rj commented on #5573
It is a must issue on newest master branch. I will try to fix it.

[2020-11-04 01:06] bingwang-ms commented on #5487
I tried to warm-reboot immediately after cold-reboor and fast-reboot, but can't repro it. I guess some operation before that triggered the issue. It's not easy to find it because the error is only reported on warm-reboot.

[2020-11-04 01:07] lguohan commented on #5692
check build failure here. https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-all-pr/5822/console

[2020-11-04 01:27] lguohan commented on #5692
@iMasaruOki , what cache mode are you using RWCACHE or RCACHE?

[2020-11-04 02:08] bingwang-ms commented on #5488
Fixed in https://github.com/Azure/sonic-buildimage/pull/5716

[2020-11-04 02:08] #5488 closed

[2020-11-04 02:35] tim-rj opened #5803 "[master] config sflow enable failed"
**Description**

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
[code]

**Describe the results you expected:**
enable and start sflow successfully!

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

[2020-11-04 06:09] stephenxs commented on #4400
Hi @yxieca ,
With PR #1485 merged, this issue has been fixed.
Thanks.

[2020-11-04 06:09] #4400 closed

[2020-11-04 06:47] bingwang-ms opened #5804 "[route_check] route_check is still reporting transient route mismatch"
**Description**

The route_check is configured to check routes every 5 minutes, and report an error after 3 consecutive failures. In other words, it shouldn't detect and report transient route mismatch as an error.
[code]
But following error message was even observed when running test_lag[single_lag]

[code]

I added some log in check_route to record result of each cycle, and found that monit didn

[2020-11-04 10:01] shlomibitton opened #5806 "Integrating new package issue for generic image build"
**Description**
Integrating new package into the sonic-buildimage system is not working for generic image.
The new package is not a debian based, It is for building a binary and copy the output to the relevant locations.
All other images were successfully built.
The issue can be observed on this PR: https://github.com/Azure/sonic-buildimage/pull/5725

**Steps to reproduce the issue:**
1. Try to bu

[2020-11-04 17:23] #5804 closed

[2020-11-04 17:34] #5758 closed

[2020-11-04 18:01] daall opened #5812 "SNMP missing expected LLDP data in master image"
**Description**
https://github.com/Azure/sonic-mgmt/blob/master/tests/snmp/test_snmp_lldp.py is failing consistently in the master image, going back at least as far as image #447.

**Steps to reproduce the issue:**
1. Run snmp/test_snmp_lldp.py

**Describe the results you received:**
[code]

**Describe the results you expected:**
The test should pass.

**Additional info**
Looking at the data, it d

[2020-11-04 18:09] kcudnik commented on #5758
you just closed this? are there any comments whether this was resolved on OA level ?

[2020-11-04 18:11] daall commented on #5758
we're opening a new issue for the OA problems. the syncd issue is resolved.

[2020-11-04 18:20] daall opened #5813 "can't remove next hop groups due to reference counting"
**Description**
As reported in https://github.com/Azure/sonic-buildimage/issues/5758, there is an issue w/ reference counting for next hop groups in orchagent. It looks like during route changes we are often hitting this issue where we can't delete next hop groups because there are still objects referencing them.

**Steps to reproduce the issue:**
1. Add and remove a large volume of routes (the ro

[2020-11-04 19:12] #5692 closed

[2020-11-04 19:40] lguohan commented on #5812
https://sonic-jenkins.westus2.cloudapp.azure.com/job/vs/job/buildimage-vs-image/test_results_analyzer/

the test passing for kvm image consistently. can you check if it is testbed issue?

[2020-11-04 19:46] lguohan commented on #5761
@shi-su , do you see such issue on kvm image?

[2020-11-04 19:53] shi-su commented on #5761
I think I did see LAG flap reported on master kvm image. I will check if it is the same issue.

[2020-11-04 20:01] vaibhavhd commented on #5761
So far this seems to be a 201811 issue only. I am running tests to repro this on 201911 image. 500+ iterations have successfully passed on 201911.
I am closely monitoring this, and trying to find out a way to easily repro this locally.

[2020-11-04 20:19] vaibhavhd commented on #5761
@shi-su can you please point me to the LAG flap failures on master kvm image? Did you see one or multiple LAGs flapping at the same time? We have seen LAG flap failures for a few different reasons in the past. I can find if your test failures have similarity to this issue.

[2020-11-04 21:42] shi-su commented on #5761
@vaibhavhd I just checked on my side. I can see LAG flap if I run the warm-reboot test for real switches on the latest kvm image. The failure looks like this. I also checked the syslog and teamd log but did not find anything abnormal. It seems irrelevant to this issue.
[code]

[2020-11-04 23:15] daall commented on #5812
Nope, it looks like the SNMP data is missing:
[code]

This is noticed on 4 different physical testbeds (2 BRCM skus).

[2020-11-04 23:19] daall commented on #5812
Nope, it looks like the snmp data is missing:
[code]

This is noted on 4 different physical testbeds, so it seems like there is some sort of consistent issue here.

[2020-11-04 23:30] daall commented on #5812
The data is present in APP DB so it seems like the subagent is failing to fetch it:
[code]

[2020-11-04 23:32] daall commented on #5812
The data is present in APP DB so it seems like the subagent is failing to fetch it:
[code]

I also noticed this in the logs:
[code]

[2020-11-04 23:47] daall commented on #5812
@lguohan I am pretty sure it is because the physical DUTs have an IPv6 address for lldp_loc_man_addr.

The VS testbed has an IPv4 address in that field, which is why it is passing consistently.

[2020-11-05 01:51] lguohan commented on #5812
since @qiluo-msft has recently fixed a similiar issue, let me assign to  @qiluo-msft . @qiluo-msft , can you take a look at this issue?

[2020-11-05 02:14] qiluo-msft commented on #5812
There is a fix PR https://github.com/Azure/sonic-buildimage/pull/5699
`lldp_loc_man_addr` should be an IPv4 address.

[2020-11-05 03:44] nazeerhussainf commented on #5206
Any progress on this case?

[2020-11-05 05:56] bingwang-ms opened #5819 "[pmon] pcied keeps reporting warning"
**Description**
pcied in pmon container keeps printing warning logs
[code]
It is generated by following code
[code]
I checked the utils in ```/usr/share/sonic/platform/plugins``` and found no pcieutil library.

**Steps to reproduce the issue:**
The log is alway printing even no test case is running.
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additio

[2020-11-05 06:09] bingwang-ms opened #5820 "[radv] radvd reported error when existing"
**Description**
Following ERROR msg is reported by ```radv#radvd``` when ```radvd``` is existing.
[code]

**Steps to reproduce the issue:**
1.  Run ```docker exec -it radv supervisorctl restart radvd``` to restart radvd, and the error msg will be observed in syslog
2.
3.

**Describe the results you received:**
radvd reported some error when existing, and cause LogAnalyzer to report test errors.

*

[2020-11-05 06:23] tim-rj commented on #5573
it is config_db.json problem, after adjust the config_db.json, the issue has gone, close this one.

[2020-11-05 06:23] #5573 closed

[2020-11-05 06:25] tim-rj commented on #5803
will close this one since it is cause by config_db.json.

[2020-11-05 06:25] #5803 closed

[2020-11-05 07:11] tim-rj commented on #5590
It is not seed in newest master branch, close this one.

[2020-11-05 07:11] #5590 closed

[2020-11-05 08:41] mini-nair-dell opened #5821 "S5232/PFC/RDMA-Test/The PFCWD total drop counters are incorrect with drop action."
Topology:
==========
Topology :

4/1-----Eth0(DUT)Eth4---------4/2

Source - 4/1
Receiver - 4/2
Pause frames from 4/2

Steps:
=======

1)Configure the DUT with PFCWD drop action
root@sonic:~# show pfcwd config
     PORT    ACTION    DETECTION TIME    RESTORATION TIME
---------  --------  ----------------  ------------------
Ethernet0      drop               200                 200
Ethernet4      d

[2020-11-05 09:17] wangxin opened #5822 "Interface MAC address may be changed after some operations"
**Description**

In test script [test_arpall.py](https://github.com/Azure/sonic-mgmt/blob/master/tests/arp/test_arpall.py), the interface under test may have a different MAC address after some operations in the setup phase. The operations performed on the interface:
* remove it from port channel
* startup the interface
* add an IP address for it.

After the operations, the PTF script injects ARP r

[2020-11-05 17:38] AshokDaparthi commented on #5136
@wendani - All PFCWD entries can go in same TCAM table. Not sure why it table created for PG

[2020-11-06 00:25] tim-rj commented on #5457
fixed, close this.

[2020-11-06 00:25] #5457 closed

[2020-11-06 00:38] tim-rj commented on #5456
still exist, i will try to fix this!

[2020-11-06 00:53] SoftPaper opened #5833 "'target/debs/stretch/libsai_1.3.3_amd64.deb' is not a debian format archive"
ubuntu 16.04
$ make init
$ make configure PLATFORM=centec
$ make all

dpkg-deb: error: 'target/debs/stretch/libsai_1.3.3_amd64.deb' is not a debian format archive
dpkg: error processing archive target/debs/stretch/libsai_1.3.3_amd64.deb (--install):
 subprocess dpkg-deb --control returned error exit status 2
Errors were encountered while processing:
 target/debs/stretch/libsai_1.3.3_amd64.deb

[2020-11-06 01:29] tim-rj commented on #5456
@anshuv-mfst help forward the new pr, thanks!

[2020-11-06 02:42] #5738 closed

[2020-11-06 03:44] bingwang-ms opened #5837 "[buffermgrd] buffermgrd reported error when restarting"
**Description**
buffermgrd reported some error when restarting.
[code]
I checked the configuration file ```/usr/share/sonic/hwsku/pg_profile_lookup.ini``` and there is no config for speed 10000 and length 300
[code]
And the output of ```show int status```
[code]

**Steps to reproduce the issue:**
1. Run ```supervisorctl restart buffermgrd``` in swss, and such error will be reported in syslog.
2.
3

[2020-11-06 05:13] anamehra opened #5839 "Multi asic support for config vlan, show vlan and show ip int"
**Description**
config vlan, show vlan and show ip interface CLIs does not have multi asic support.

**Steps to reproduce the issue:**
1. config vlan -n asic0
2. show ip int -d all
3. show vlan brief -d all

**Describe the results you received:**
root@sonic:# config vlan -n asic0 add 101
Error: no such option: -n

root@sonic# show ip int -d all
Error: no such option: -d

root@sonic# show vlan brie

[2020-11-06 06:54] dennis0113 opened #5841 "[fast-reboot] arp table will be cleared after swssconfig restores it"
**Description**

**Steps to reproduce the issue:**
1.Run fast-reboot command
2.Compare the arp.json with ARP entry in db.

**Describe the results you received:**
=> Any ARP entries in arp.json do not appear in db.

**Describe the results you expected:**
=> All ARP entries which backup in arp.json are restored to db.

**Additional information you deem important (e.g. issue happens only occasionally

[2020-11-06 07:04] dennis0113 commented on #5841
#5842

[2020-11-06 07:04] dennis0113 commented on #5841
#5842

[2020-11-06 19:41] lguohan commented on #5819
@sujinmkang , can you take a look?

[2020-11-07 02:55] armartirosyan commented on #2813
The problem is still present in the master branch?
Any ideas why this is happening?

[2020-11-07 05:04] kielfriedt opened #5852 "make after configure fails"
make init
make configure PLATFORM=vs PLATFORM_ARCH=arm64
make target/docker-sonic-vs.gz

make[1]: Leaving directory '/sonic/src/sonic-sairedis'
/sonic
mv: cannot stat 'src/sonic-sairedis/../syncd-vs_1.0.0_amd64.deb': No such file or directory
mv: cannot stat 'src/sonic-sairedis/../syncd-vs-dbg_1.0.0_amd64.deb': No such file or directory
[  FAIL LOG END  ] [ target/debs/buster/libsairedis_1.0.0_arm

[2020-11-07 18:30] #5812 closed

[2020-11-07 20:58] lguohan opened #5853 "[Celestica] PMon error"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-11-07 21:02] lguohan opened #5854 "loadRedisScript: loadRedisScript: lua script loaded, sha: a8da2cfe2f7323ca3ecee51ab8475add8368f8b7"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
please clean up this notice log.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-11-07 21:08] lguohan opened #5855 "teamd debug log flooding syslog"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
logs flooding on master image.

[code]

**Describe the results you expected:**
please clean up this notice log.

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2020-11-07 21:37] jleveque commented on #5853
Root cause is that there is no `get_change_event()` method defined for the dx010 platform in the platform's [Chassis class](https://github.com/Azure/sonic-buildimage/blob/master/device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py), so xcvrd falls back to try the old sfputil plugin, and `get_transceiver_change_event()` is [not implemented there](https://github.com/Azure/sonic-buildima

[2020-11-08 00:11] #5854 closed

[2020-11-08 04:35] ChinaMobileNG opened #5857 "Config reload -y leads to kernel Oops"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

**Steps to reproduce the issue:**
1.Update Mellanox SN2700 SONiC image with hw-mgmt 7.0010.1000, SAI SAIRel1.17.3-sonic1910 and FW/SDK 2008.1912/4.4.1912
2.Run sudo config reload -y
3.After 2 finished, some minutes later, run docker ps to display running

[2020-11-08 04:41] ChinaMobileNG commented on #5857
Nov  8 03:53:59.814170 sonic INFO config: 'reload' executing...
Nov  8 03:53:59.815413 sonic INFO config: delete portstat data to ready for next time
Nov  8 03:53:59.821690 sonic INFO config: 'reload' stopping services...
Nov  8 03:53:59.840413 sonic INFO systemd[1]: Stopping WEB SERVER container...
Nov  8 03:54:01.131465 sonic INFO containerd[429]: time="2020-11-08T03:54:01.131272874Z" level=info

[2020-11-08 04:49] lolyu opened #5858 "[bgpmon] bgpmon error flooding in syslog"
**Description**

`bgpmon` floods syslog with error messages like below:
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
1. `bgpmon` fails to populate neighbors info in state DB:
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

[2020-11-08 04:58] lguohan commented on #5858
do you have details?

[2020-11-08 05:08] padmanarayana commented on #5857
Can you please check if the image has the patch of https://github.com/Azure/sonic-linux-kernel/pull/154 (since it looks like https://github.com/Azure/sonic-linux-kernel/issues/153) ?

[2020-11-08 05:13] lolyu commented on #5858
Yes, updated, just fat-fingered to create before filling the details.

[2020-11-08 05:16] lguohan commented on #5858
is this catch by log analyzer? or a specific test for bgpmon?

[2020-11-08 05:19] lolyu commented on #5858
Yes, it is caught by log analyzer in my debugging of pfcwd for master branch.

[2020-11-08 05:20] lguohan commented on #5858
@gechiang , have you added the bgpmon test? if not, please add then we won't have such regression.

[2020-11-08 05:29] liat-grozovik commented on #5857
If this is master version then u need the kernel patch. If this is 201911 all should work

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: padmanarayana <notifications@github.com>
Sent: Sunday, November 8, 2020 7:09:04 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Assign <assign@noreply.github.com>
Subjec

[2020-11-08 05:29] lolyu commented on #5858
@lguohan, I have a quick fix for this, would you mind taking a look?

[2020-11-08 05:34] lguohan commented on #5857
@liat-grozovik , which kernel patch? the one posted by padman is for 201911 release.

[2020-11-08 07:52] gechiang commented on #5858
@lolyu Did someone manually edited bgpmon.py in this DUT?
I logged in to this DUT and found that this file had a very new date and 2 line of code got changed that was causing some indentation issues.  Did someone by mistake logged into this DUT and updated the wrong file??
Here is the date of the file I found which is "Nov  8 05:04"  while the rest shows it should have been "Nov  6 08:52 ish"
[cod

[2020-11-08 08:06] gechiang commented on #5858
@lolyu
I see that this is indeed your change to fix the original issue.
Looks like it got introduced when migrating from python2 to python3.
Your changes looks good.
Thanks for investigating and fixing the issue.
I

[2020-11-08 08:21] gechiang commented on #5858
@lguohan This should have been caught by vs image test as part of the bgp_fact testcase.
Not sure how this vs image test passed when the code went through the python2 to python3 migration?

[2020-11-08 08:34] lguohan commented on #5858
@gechiang , can you investigate why bgp_fact missed this? how can we improve that?

[2020-11-08 09:58] lolyu commented on #5858
No problem, my bad not to reset my change on that DUT.

[2020-11-08 12:02] ChinaMobileNG commented on #5857
@padmanarayana thanks a lot. I tested and you're exactly correct,  my sonic-linux-kernel is too old and lack of that patch, I upgrade and it works, thank you again, I'll close this issue.

[2020-11-08 12:02] #5857 closed

[2020-11-08 12:23] shlomibitton commented on #5603
@gechiang this issue resolved by PR #5699
thanks @bratashX

[2020-11-08 21:43] lguohan commented on #5858
keep this issue for missing test cases.

[2020-11-09 00:57] tim-rj commented on #5354
new api need to adapt, close this issue.

[2020-11-09 00:57] #5354 closed

[2020-11-09 01:32] gechiang commented on #5858
@lguohan I tried to check the VsImage testlog for the PR that introduced this issue (https://github.com/Azure/sonic-buildimage/pull/5746) but unfortunately those results were no longer available.  But with the fix that @lolyu made (https://github.com/Azure/sonic-buildimage/pull/5859) I was able to view the test result and it looks like it is due to the vsimage is still built and tested using pytho

[2020-11-09 01:36] #5440 closed

[2020-11-09 01:44] gechiang commented on #5858
@lguohan As for the unit test test cases for bgpmon it is on my todo list.  Let's keep this PR as a reminder for the missing testcases that I will raise a different PR in the near future to enhance test coverage.

[2020-11-09 01:47] lguohan commented on #5858
@gechiang , i think you need to talk to arvind why your testing code change is removed.

https://github.com/Azure/sonic-mgmt/commit/47037567085cbc178a41808b8afe67a3cace3cb9#diff-23e2943a406c883e83d4105aa7fa57eb5f86a590a9f36125872ed375332a729d

and someone either you or arvind needs to add it back.

[2020-11-09 05:23] lolyu opened #5864 "[monit] Report status error for bgpcfgd bgpmon and lldpmgrd"
**Description**

* `bgpcfgd`, `bgpmon` and `lldpmgrd` are reported not running by `monit` due to the transition to `Python3` in recent changes.
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
`monit` periodically report status error for `bgpcfgd`, `bgpmon` and `lldpmgrd`, but all those three services are running.
[code]

**Describe the results you expecte

[2020-11-09 06:11] yozhao101 commented on #5864
If we looked into this issue carefully, for the processes `bgpcfgd`, `bgpmon` and `lldpmgrd`, the python version was changed to `python3`. That is the reason why Monit continuously fired alerting messages into syslog.

[2020-11-09 07:02] gechiang commented on #5864
@yozhao101  I think you are saying that inside monit_bgp file it is defined with using BGP as the sample:
[code]
This worked fine with python2.  but when the python version got changed to python3, the check program for MONIT above no longer match and causing MONIT not able to find the process matching with the exact wording and concluded that those processes failed...  with python3 these 2 process

[2020-11-09 07:40] yozhao101 commented on #5864
Thanks @gechiang, I will open a PR to fix this issue.

[2020-11-09 07:45] gechiang commented on #5864
@yozhao101 The corresponding monit_files that need to be edited to use python3 are under:
sonic-buildimage/dockers/docker-fpm-frr/base_image_files/monit_bgp
sonic-buildimage/dockers/docker-lldp/base_image_files/monit_lldp
I was about to pull a PR for the changes but sure please go ahead and pull the PR and if I have the permission to approve it I will... You may want to include @lguohan for that P

[2020-11-09 08:17] lolyu commented on #5864
Hi @yozhao101 @gechiang , I want to remind you that I have opened a PR fixing this, and your review is much appreciated!

[2020-11-09 08:31] lguohan commented on #5858
test fix https://github.com/Azure/sonic-mgmt/pull/2490

[2020-11-09 09:52] #5864 closed

[2020-11-09 21:37] caizhenghui opened #5872 "orchagent crash due to unresolved next hop at warm_restart"
**Description**

**Steps to reproduce the issue:**
1. set static route to a non-resolved NH: e.g. ip route add 100.0.0.0/24 via 10.0.0.107 where: 10.0.0.107 is not resolved.
2. config warm_restart enable swss
3. systemctl restart swss

**Describe the results you received:**
orchagent crashes and swss container exits.
In syslog:
Nov  9 21:36:24.325599 sonic NOTICE swss#orchagent: :- postBake: Start

[2020-11-10 02:00] bingwang-ms commented on #5853
pmon service will not start on SONiC.master.478-23b0e07d, dx010-4. Is it the same issue?

[2020-11-10 02:08] jleveque commented on #5853
@bingwang-ms: I just checked that device, and yes, this issue is present. However, it also appears that there is also a driver or hardware issue with that device, as I see errors like the following:

[code]

You might want to try rebooting and/or power-cycling the device.

[2020-11-10 02:17] bingwang-ms commented on #5853
Thanks @jleveque . Already rebooted the DUT, but the issue is still present. The file ```'/sys/class/i2c-adapter/i2c-12/12-0050/eeprom'``` is missing on DUT. Is this file included in image?

[2020-11-10 02:18] jleveque commented on #5853
@bingwang-ms: No. This is a device file. It should be created by the platform drivers.

[2020-11-10 02:58] bingwang-ms opened #5877 "[Celestica] /sys/class/i2c-adapter/i2c-12/12-0050/eeprom is missing on DUT"
**Description**
The file ```/sys/class/i2c-adapter/i2c-12/12-0050/eeprom``` is missing on DUT, and ```thermalctld``` failed to start due to this.
[code]
And ```psud``` raised an error either. I'm not sure if it was caused by above issue.
[code]
The absence of ```psud``` will cause ```pmon``` reload, and then stuck in failed loop.
This issue was observed on SONiC.master.478-23b0e07d and SONiC.maste

[2020-11-10 07:59] lguohan commented on #5877
@bingwang-ms, is build 476 good?

[2020-11-10 08:01] lguohan commented on #5872
do you see this issue on master as well?

[2020-11-10 08:02] bingwang-ms commented on #5877
Yes. I've verified that 476 is good. The file exists on 476, and pmon is good.

[2020-11-10 08:24] irene-pan1202 opened #5880 "rsyslogd display "sendto() error: Network is unreachable" when management VRF is enabled"
**Description**

rsyslogd display "sendto() error: Network is unreachable" when management VRF is enabled, and eth0 does not have any syslog packet.

**Steps to reproduce the issue:**
1. Run command sudo config vrf add mgmt.
2. Check /var/log/syslog and rsyslog status
3.

**Describe the results you received:**
[code]
**Describe the results you expected:**

**Additional information you deem importa

[2020-11-10 08:36] lguohan commented on #5877
it looks like the issue is introduced in this https://github.com/Azure/sonic-linux-kernel/commit/02f41e8e0459ae9733a122633dbf85874c2f3183

on dx010 platform it uses i2c_mux_pca954x . but the the above pr also enabled i2c_mux_pca9541, there is some conflict to cause the i2c probe failure.

Nov 10 08:14:52.839345 str-dx010-acs-4 WARNING kernel: [   10.900019] pca954x 0-0071: probe failed

the temp s

[2020-11-10 08:47] bingwang-ms commented on #5877
Thanks @lguohan . Already add a temp fix to DUT to workaround this issue.

[2020-11-10 09:13] lguohan commented on #5880
@padmanarayana , can you comment on this issue?

[2020-11-10 15:18] caizhenghui commented on #5872
@lguohan No, I didn't run test with master. Is there an known issue report/PR from master that just need to backport?