[2021-01-08 18:56] kielfriedt opened #6401 "sudo missing from VS docker image"
I am able to build the VS docker image on ARM but running show commands I keep getting sudo not found and other configure related issues.

[code]

[code]
im guessing this is related to portsyncd, this service is failing and is reporting that a port is not found in the configDB:
[code]
Can someone help me with the port configure. Im trying to find documentation to show me where to put this port.

[2021-01-09 01:03] shi-su commented on #6383
Also noticed this issue in kvm warm reboot with latest images.

[2021-01-09 17:01] lguohan commented on #6383
this one is important. any clue? is this related to frr 7.5?

[2021-01-09 17:02] lguohan commented on #6401
can you supply tech support?

[2021-01-10 04:44] mjo1994 commented on #5097
Hi, Is anyone able to fix this issue?..
I am getting same error on master branch.. with below commands:
make init
make configure PLATFORM=broadcom
make target/sonic-broadcom.bin
Error:
"Cannot change symbolic links when kdump is loaded ... failed!"
Not sure what is going wrong.
Any suggestions would be great.
Thanks

[2021-01-10 05:21] mipxman commented on #6355
https://github.com/Azure/sonic-snmpagent/pull/181

[2021-01-10 05:21] #6355 closed

[2021-01-10 09:09] liat-grozovik commented on #4456
@renukamanavalan any plan to fix it as part of 201911 or 202012?

[2021-01-10 18:46] lguohan commented on #6313
@qiluo-msft , i do not think so. if you make it atomic, then if get notified, then the notification will also have the data and allows the subscriber to consume.

[2021-01-10 19:27] qiluo-msft commented on #6313
Redis does not support "the notification will also have the data".
In Redis psubscribe output, there are only limited data including key and operation. We need to read the hash to determine what are changed.
[code]

[2021-01-10 20:16] lguohan commented on #6313
I think we have discussed this before publish can send custom data via the channel.

[2021-01-11 06:27] judyjoseph commented on #5971
Thanks @bingwang-ms , ideally this ERROR message was verified to be fixed with https://github.com/Azure/sonic-buildimage/pull/5628. If feel the image with issue was an intermediate image made during the py2 --> py3 conversion where **docker-wait** script had to be fixed.

[2021-01-11 06:27] #5971 closed

[2021-01-11 06:39] tim-rj commented on #5589
issue not seen in newest master, close this.

[2021-01-11 06:39] #5589 closed

[2021-01-11 08:37] 119064273 commented on #6389
@StanleyCi @hanstseng

[2021-01-11 12:59] liat-grozovik commented on #3943
Issue will be handled by @deran1980

[2021-01-11 14:51] TzvikNVDA opened #6412 "[Non-Functional ] [REST] | framework#supervisord: rest-server 2020/12/27 03:53:03 http: TLS handshake error from 10.80.54.9:56475: EOF"
[sonic_dump_ptr-sonic-n2-t2_20201130_083504.tar.gz](https://github.com/Azure/sonic-buildimage/files/5796380/sonic_dump_ptr-sonic-n2-t2_20201130_083504.tar.gz)
**Description**

Errors found in syslog

**Steps to reproduce the issue:**
    1. run RDMA and TCP traffic for 12 hours
    2.check logs

**Describe the results you received:**
    didn't see any impact on the traffic

**Describe the results

[2021-01-11 16:54] kielfriedt commented on #6401
Iguohan, I'm not sure what you mean. But ill make whatever changes you request. My goal is to get this VS image running and working.

[2021-01-11 17:55] raphaelt-nvidia opened #6413 "Code optimization cannot be disabled from make command line"
**Description**

Including "SONIC_PROFILING_ON=y" in the make command line does nothing.  The code is optimized anyway.

**Steps to reproduce the issue:**

For example,

make SONIC_BUILD_JOBS=12 INSTALL_DEBUG_TOOLS=y SONIC_PROFILING_ON=y target/debs/stretch/swss_1.0.0_amd64.deb

**Describe the results you received:**

Output produced during the make shows

"SONIC_PROFILING_ON"              : ""

R

[2021-01-11 18:45] vaibhavhd commented on #6240
This issue is fixed by Azure/sonic-sairedis#761

[2021-01-11 18:45] #6240 closed

[2021-01-11 19:21] maksymbelei95 commented on #6209
Dear @lguohan,

The issue is reproducible on a fresh build and it affects VRF feature. Could I ask you to pay some attention on the issue and on PR https://github.com/Azure/sonic-utilities/pull/1325 with probable fix for the issue?

The build version, on which the issue is reproducible:
[code]

[2021-01-12 04:15] zhenggen-xu commented on #6024
@vadymhlushko-mlnx  As mentioned, I was not sure where you get the etp2 from?  was it inherited from old configuration? If so, this is expected and the old configuration was not compatible with platform.json. And In the DPB design, we only use the aliases from the platform.json.  And if we expect to have different alias names for different breakout modes for the same interface say: Ethernet4, we w

[2021-01-12 05:43] #6378 closed

[2021-01-12 05:43] Mithunkh commented on #6378
We are able to solve this issue.

[2021-01-12 09:04] Hedgehog-Guru opened #6421 "Missing validation of not assigning several vlans as untagged on the same interface."
Description
SONiC does not prevent from assigning several VLANs as untagged on the same interface.
This bug is reproduced on the stable image as well.

Steps to reproduce the issue

1. Config two arbitrary VLANs
[code]
2. Assign vlan 17 on the interface as untagged one
[code]
3. Assign VLAN 1002 on the interface as an untagged one
[code]
Describe the results you received
Two untagged VLANs on the

[2021-01-12 09:06] 119064273 commented on #6389
@yxieca does any one of broadcom's friends know if BCM SAI 3.7 support helix4 56340 platform?

[2021-01-12 09:08] Hedgehog-Guru commented on #6421
Bug still exists on SONiC.201911.51-dea38d15 and moved from:
https://github.com/Azure/sonic-utilities/issues/803

[2021-01-12 12:40] Hedgehog-Guru opened #6424 "Config utility allows incorrect values for interface speed"
Description
config utility allow configuration (insertion into db) incorrect values for interface speed parameter
if very big value was used - it will continue to display via "show int status" even if database is updated with normal value

Steps to reproduce the issue
1.Original state
[code]
Change speed to invalid value
[code]
Change speed to original value
[code]
Changing speed to very big value

[2021-01-12 13:33] Hedgehog-Guru opened #6425 "FDB Entries are not cleared even after shutting down the respective interface on which the entry learned."
Description:
FDB Entries are not cleared even after shutting down the respective interface on this the entry learned.

Procedure:

Created a VLAN using below commands
[code]
Now, sent matching traffic in bi-direction using external TG (IXIA). Observed that traffic is forwarding to the ports and respective FDB entries are created.
[code]
Stop the traffic and shutdown the interface Ethernet12 and Et

[2021-01-12 13:36] Hedgehog-Guru commented on #6425
Bug moved from https://github.com/Azure/SONiC/issues/253

[2021-01-12 13:42] Hedgehog-Guru opened #6426 "Missing validation for "config interface ip add" command in case of assigning an ip-address on a trunk port."
**Description**
There should be verification for config interface ip add command in case of assigning an ip-address on a trunk port.

**Steps to reproduce the issue**

Add a vlan
[code]
Add interfaces to vlan
[code]
Assign IP addresses on trunks ports
[code]
**Describe the results you received**

Having assigned an ip-address on a trunk port neither L2 not L3 traffic (with and without 802.1Q heade

[2021-01-12 13:42] Hedgehog-Guru commented on #6426
Moved from https://github.com/Azure/sonic-utilities/issues/807 and edited.

[2021-01-12 14:02] Hedgehog-Guru opened #6427 "Missing validation of adding a vlan member port to a portchannel interface."
**Description**
The config portchannel member add command doesn't check whether added interface is a vlan member.

Although such added port has not been added to portchannel, but if running configuration is saved it will lead to system crashes during next system rebooting.

**Steps to reproduce the issue**

Add a vlan
[code]
Add a vlan member
[code]
Create a portchannel interface and add a trunk p

[2021-01-12 14:02] Hedgehog-Guru commented on #6427
The bug was moved from https://github.com/Azure/sonic-utilities/issues/806

[2021-01-12 14:15] Hedgehog-Guru opened #6428 "Missing validation for "config portchannel member add " command in case of adding a port that has already been a member of another portchannel interface."
**Description**
There should be a verification for config portchannel member add command in case of adding a port that has already been a member of another portchannel interface.

Currently, system just ignore such attempts but puts these new settings to running config.
In case of saving such configurations and performing reboot portchannel interfaces will be inoperable state.

**Steps to reproduc

[2021-01-12 16:44] ppikh commented on #6053
Issue verified on image c64052b

[2021-01-12 17:26] #6103 closed

[2021-01-12 19:44] anamehra opened #6430 "PortChannel mtu change fails with CLI"
**Description**
PortChannel mtu change fails with CLI
root@FC0:/home# config interface mtu PortChannel20 1510
**Invalid port specified**

**Steps to reproduce the issue:**
1. Configure a portchannel
2. modify mtu on portchannel
3.

**Describe the results you received:**
**Invalid port specified**

**Describe the results you expected:**
The CLI should succeed and portchannel MTU should be updated

[2021-01-13 04:46] yangxile commented on #6401
hi Kiel @kielfriedt ,
You can try to execute "show techsupport" to collect what lguohan mentioned.

admin@sonic:~$ show -?
Usage: show [OPTIONS] COMMAND [ARGS]...
  SONiC command line - 'show' command

Options:
  -?, -h, --help  Show this message and exit.

Commands:
  aaa                   Show AAA configuration
  acl                   Show ACL related information
  arp                   Show IP

[2021-01-13 06:44] keboliu opened #6437 "PCIed try to get the PCIed config files from {platform}/plugin/ folder instead of {platform}/ folder"
**Description**

PCIed is trying to read the pcie.yml file from {platform}/plugin/ folder instead of {platform}/ folder. the plugin folder should be only for the plugins, all the platform related configuration files including pcie.yml should go to {platform}/ folder.

**Steps to reproduce the issue:**
run the current master image and read the PCIed code will understand that PCIed is expecting the

[2021-01-13 15:13] liat-grozovik commented on #6330
FYI, this is a degradation on recent master identified while testing Mellanox PRs to support DPB.
Note, that on earlier hash from master this was not observed.

It is not a blocker for merging Mellanox DPB files but it means the feature is not fully working as expected.

[2021-01-13 17:42] kielfriedt commented on #6401
Sorry about that:
[code]

[2021-01-14 00:20] daall opened #6445 "tag/commit hash is not respected in new image builds"
**Description**
Recent 202012 builds from Jenkins are coming out like this:
[code]

**Steps to reproduce the issue:**
1. Build an image based on a specific tag or commit hash, w/o any outstanding/uncommitted changes.
2. Check the IMAGE_VERSION in the build output
3. Check `show ver` on a DUT

**Describe the results you received:**
Image says "dirty" and has a time stamp like so:
[code]

**Describe

[2021-01-14 00:43] prsunny opened #6446 "[restapi] status failed error"
**Description**

restapi feature should be enabled only for required deployments. All other deployments/roles should have the feature as disabled. There is monit reporting status failed.

ERR monit[975]: 'restapi|restapi' status failed (1) -- '/usr/sbin/go-server-server' is not running in host

**Steps to reproduce the issue:**
1. Load Sonic image with Restapi built
2.
3.

**Describe the results y

[2021-01-14 01:18] judyjoseph commented on #6097
Closing this issue as using the "skip_xcvrd" in pmon_daemon_control.json worked fine.

[2021-01-14 01:18] #6097 closed

[2021-01-14 08:34] #6283 closed

[2021-01-14 08:35] vadymhlushko-mlnx commented on #6330
Yes, this is not the blocker for all DPB PR's. This means that the feature is not fully working as expected.

[2021-01-14 10:04] kpetremann commented on #6378
how did you solve the issue?

[2021-01-14 10:13] d-dashkov commented on #6428
Hi,
This is the same issue as Azure/SONiC#360.
I investigated the issue and I made PR with member validation.
Could you check it?

[2021-01-14 14:16] maksymbelei95 commented on #6367
Dear @ppikh,

I have analyzed the attached dump and found a root cause of the issue.
ASIC_DB.json inside the dump contains the next FDB entry record:
[code]
But, if my understanding is right, bvid "oid:0x26000000000013" belongs to default VLAN 1, which does not present in the system. The next record has not "SAI_VLAN_ATTR_VLAN_ID":
  "ASIC_STATE:SAI_OBJECT_TYPE_VLAN:oid:0x26000000000013": {
    "e

[2021-01-14 18:12] vaibhavhd opened #6453 "warm-upgrade (201811 to 202012) fails with orchagent core"
**Description**

Orchagent crashes after warm upgrade from 201811 to 202012:

[code]

**Steps to reproduce the issue:**
1. Run `test_upgrade_path` testcase with base image as latest 201811 branch, and target image as latest 202012 branch image.
2. Check syslog - SWSS terminate and OA core is found.

**Describe the results you received:**

**Describe the results you expected:**
Successful warm upgr

[2021-01-14 18:45] mrhuanle commented on #5097
I am running into the same failure building `target/sonic-broadcom.bin` in a pristine `202012` branch workspace at:
[code]

The entire build log are here:
[sonic-broadcom.bin.log](https://github.com/Azure/sonic-buildimage/files/5816369/sonic-broadcom.bin.log)

[2021-01-14 18:50] dflynn-Nokia opened #6455 "Unable to build for the marvell armhf platform on the latest master branch"
**Description**
Master branch build break observed when building for the marvell-armhf platform.
Specifically the error below is seen when building the sonic-slave-buster build docker.

[2021-01-14T08:02:37.631Z] Step 72/74 : RUN apt-get install -y node.js
[2021-01-14T08:02:37.631Z]  ---> Running in fae422047202
[2021-01-14T08:02:52.968Z] Reading package lists...
[2021-01-14T08:02:52.968Z] Buildin

[2021-01-14 18:53] dflynn-Nokia commented on #6455
I would like to attach a couple existing labels to this issue.
Do I have access to that?

[2021-01-15 00:04] amar304 opened #6456 "show mux config | show mux status doesn't work without sudo"
Problem description:
1) show mux config | show mux status doesn't work without sudo
2) Once the command is run with sudo, it can be run without sudo and the output is seen

amaragra@BN9-0101-0301-01LT0:~$ show mux config
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/redis/connection.py", line 559, in connect
    sock = self._connect()
  File "/usr/local/lib/pyth

[2021-01-15 00:20] daall commented on #6392
@yxieca fyi

[2021-01-15 00:22] daall commented on #5617
@chitra-raghavan did you guys also open a CSP for this?

[2021-01-15 02:14] 119064273 opened #6459 "orchagent crash observed when remove SAI_OBJECT_TYPE_PORT is not supported (helix4 56340)"
Platform :
x86_64-cel_e1031-r0

drivshell>bsv
bsv
BRCM SAI ver: [3.7.5.2], OCP SAI ver: [1.5.2], SDK ver: [6.5.16]

Feb 9 19:21:03.706091 sonic NOTICE swss#orchagent: :- initializePort: Initializz
ing port alias:Ethernet1 pid:1000000000002
Feb 9 19:21:03.712170 sonic NOTICE syncd#syncd: :- get_port_related_objects: obb
tained 34 port oid:0x100000031 related RIDs
Feb 9 19:21:03.712521 sonic ERR syn

[2021-01-15 10:10] Hedgehog-Guru opened #6462 "Command not working "show techsupport""
**Description**
Command "show techsupport" not working on the image from master based on "7fc2d381a98c73ffbc6668c9800b07f50b4d9c04" from Jan 05.

**Steps to reproduce the issue**
1. Try to run the command:
    show techsupport

**Describe the results you received**
`
show techsupport
/usr/local/bin/generate_dump: line 89: syntax error near unexpected token `fi'
/usr/local/bin/generate_dump: line 8

[2021-01-15 10:33] Hedgehog-Guru opened #6463 "Command not working "show system-health detail""
Description
Command "show system-health detail" not working on the image from master based on "7fc2d381a98c73ffbc6668c9800b07f50b4d9c04" from Jan 05.

Steps to reproduce the issue

    Try to run the command:
    show system-health detail

**Describe the results you received**
[code]

**Describe the results you expected**
Command "show system-health detail" should work correctly.

**Output of show

[2021-01-15 15:15] vadymhlushko-mlnx commented on #6331
The fix is fine.

Please ask - @praveen-li and @zhenggen-xu to review it.

[2021-01-15 15:48] #6383 closed

[2021-01-15 18:20] vaibhavhd opened #6466 "[KVM][warm reboot] syncd crashes during shutdown with double-free-corruption"
[sonic_dump_vlab-01_20210120_172005.tar.gz](https://github.com/Azure/sonic-buildimage/files/5844189/sonic_dump_vlab-01_20210120_172005.tar.gz)

**Description**
Tested Image: SONiC-OS-202012.5-264ecb18 on KVM switch, and  warm-reboot test leads to SYNCD crash.

There are multiple messages for missing OIDs in switch state map prior to the crash.

**Steps to reproduce the issue:**
1. Continuous warm

[2021-01-15 18:21] vaibhavhd commented on #6466
From the core, not a very helpful trace is generated from 3 running threads at the time of crash:

[code]

[2021-01-15 21:15] vaibhavhd commented on #6453
This is expected due to missing SAI support for the warm upgrade. ETA for the support - ~April.

[2021-01-15 21:15] #6453 closed

[2021-01-16 09:54] mipxman commented on #6167
#6305

[2021-01-16 21:03] shi-su commented on #5026
It seems that there is a race condition between zebra server accepts connections and bgpd tries to connect. Bgpd has a chance to try to connect before zebra is ready. In this scenario, bgpd will try again after 10 seconds and operate as normal within this 10 seconds. As a consequence, whatever bgpd tries to sent to zebra will be missing in the 10 seconds.

[2021-01-17 06:03] lguohan commented on #6445
I do not think this issue is related to #6469

[2021-01-17 10:35] liat-grozovik commented on #5445
FYI the following PR will be probably wont be accepted https://github.com/FRRouting/frr/pull/7745
It seems that the SONiC flow should be adopted.

[2021-01-17 23:46] 123toorc opened #6476 "The Operational status keeps down and can't ping"
Hi,
**Description**

**Background:**

Our Lab has a FS.COM N8500 32C 100GbE switch (https://www.fs.com/uk/products/69229.html), but the hardware is actually a Celestica Seastone DX010. Thus, it runs SONiC

A server and the switch are directly connected by a 100GbE cable. On the switch side, I have created a VLAN interface, called vlan1000, it has the Ethernet65 as its member. I set the IP range eq

[2021-01-18 04:28] yxieca commented on #6392
This is a know issue from Broadcom SDK.

[2021-01-18 09:04] bingwang-ms opened #6481 "IPinIP packets are dropped (RX_DRP)"
**Description**
Test cases ```test_decap``` are consistently failing. I did some debug and found that packets are dropped for unknown reason.
The test case will generate IPinIP packets and send them to DUT's loopback address via a random interface (say ```Ethernet0```). Normally, the encapsulated packets should be decapsulated and transfered. But packets are dropped on DUT.
To make it more visible

[2021-01-18 09:51] maksymbelei95 commented on #6367
Dear @ppikh,

I have investigated the system behavior more deeper and realized that the system looks like works as designed. The FDB entry with default VLAN 1 is a normal reaction on untagged traffic, so, it is ok that such entry presents in the system.
As result, I think Azure/sonic-utilities#1357 is a solution for the issue.

[2021-01-18 11:55] paulmenzel opened #6482 "Wiki: Supported Platforms: Update switching ASIC for Edgecore AS4630-54PE"
From the [mailing list][1]:

[1]: https://groups.google.com/g/sonicproject/c/aR_IicnoWgM

[2021-01-18 12:06] bingwang-ms opened #6483 "Incorrect route for 0.0.0.0 in APPL_DB"
**Description**
The test case ```test_hash``` will extract route from ```APPL_DB``` by ```redis-dump -d 0 -k 'ROUTE*' -y```.
Recently, ```test_hash``` was consistently failing with exception
[code]
The exception was because of incorrect default route, which results in empty ```exp_port_list```.
[code]
The most bizarre thing is the route in kernel is correct.
[code]

**Still not sure if this issue

[2021-01-18 12:16] slutati1536 opened #6484 "Incorrect breakout port results in traceback prints instead of an error print"
**Description**

Incorrect breakout results in traceback prints instead of an error print.

**Steps to reproduce the issue:**

1.sudo config interface breakout Ethernet4 2x50G
2.sudo config interface breakout Ethernet8 2x50G
3.sudo config interface breakout Ethernet8 1x100G
4.sudo config interface breakout Ethernet6 1x100G - Failure is expected but should have error print, not traceback

port Ethe

[2021-01-18 14:28] slutati1536 opened #6486 "Failed to unbreak out a port"
**Description**

After a negative check of try to unsplit the port, correctly unspliting a port failed

**Steps to reproduce the issue:**

1.sudo config interface breakout Ethernet4 2x50G
2.sudo config interface breakout Ethernet8 2x50G
3.sudo config interface breakout Ethernet8 1x100G
4.sudo config interface breakout Ethernet6 1x100G - failing is expected
5.sudo config interface breakout Ethernet

[2021-01-18 14:32] slutati1536 commented on #6486
@zhenggen-xu @praveen-li

[2021-01-18 14:44] dflynn-Nokia commented on #6445
Oops, my bad. PR #6469 is linked to Issue #6455 and not #6445.

[2021-01-19 05:55] #6367 closed

[2021-01-19 08:23] #5026 closed

[2021-01-19 10:42] vemulabalaji commented on #6463
Thought of updating this issue, in our case LED status also not displayed.

show system-health detail
show system-health monitor-list
show system-health summary
-- All the three are reporting issue.

root@sonic:~# show system-health detail
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/show/system_health.py", line 84, in detail
    if os.environ["UTILITIES_UNIT_T

[2021-01-19 14:15] dmytroxshevchuk commented on #5343
Please check fix in PR:
https://github.com/Azure/sonic-utilities/pull/1198

[2021-01-19 15:02] dmytroxshevchuk opened #6495 "Not able to set FEC parameter by default from hwsku.json"
**Description**
After deploy new platform.json, hwsku.json files, don`t have possibility to set FEC parameter for port as it was in port_config.ini.
For example from port_config.ini:
[code]
In hwsku.json we don`t have opportunity to set FEC parameter.

**Steps to reproduce the issue:**
1. deploy platform.json, hwsku.json
2. generate config_db and install it
3. reboot sonic

**Describe the results

[2021-01-19 17:09] dmytroxshevchuk commented on #6495
@zhenggen-xu @daall @praveen-li , please take a look

[2021-01-19 20:20] zhenggen-xu commented on #6486
I assuming the Ethernet6 is not part of the platform.json root port,  in such case, the "4.sudo config interface breakout Ethernet6 1x100G - failing is expected" should fail at CLI level, and not impacting any subsequent commands.
@samaity

[2021-01-19 20:21] zhenggen-xu commented on #6484
This is a bug that CLI should check the key existence first.  @samaity

[2021-01-19 20:27] zhenggen-xu commented on #6495
@dmytroxshevchuk  FC configuration should come from config_db.json, if not configured, then it is leave to orchagent or SAI for the default.  If you want to define the default for each hwsku.json,  we may have to add this capability in, so that it could translate to PORT table during the initialization.

[2021-01-19 21:48] dmytroxshevchuk commented on #6495
@zhenggen-xu , we need define the default for each hwsku.json. Please take a look this PR: https://github.com/Azure/sonic-buildimage/pull/6155. This PR parse additional fields from hwsku.json, so we can define FEC parameter by default and it will be translate to PORT table during the initialization.

[2021-01-19 22:22] Hedgehog-Guru commented on #6361
Closed. A duplicate was created by mistake.

[2021-01-20 03:39] lolyu opened #6498 "config load_minigraph fails due to Redis BGSAVE already in progress"
**Description**
config load_minigraph fails due to Redis BGSAVE already in progress

**Steps to reproduce the issue:**
1. run `config load_minigraph`

**Describe the results you received:**
[code]

**Describe the results you expected:**
No such an error.

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

[2021-01-20 03:43] lolyu commented on #6498
This looks like the `bgsave`  [here](https://github.com/Azure/sonic-py-swsssdk/blob/591a5c0bda1ce4c51fe03f60646014d03172040b/src/swsssdk/configdb.py#L416) is the reason for this. This cannot guarantee there is no `save` running in background so `Redis` warns about this.

[2021-01-20 04:43] AkhileshSamineni commented on #6428
You can close this issue, I have fixed this issue using PR - https://github.com/Azure/sonic-utilities/pull/1328

[2021-01-20 06:22] keboliu opened #6499 "[DPB] XCVRD not able to fetch the new port SFP info after perform dynamic port breakdown"
**Description**

XCVRD is based on the assumption that all the ports will be created during the SONiC boot-up stage, with no port add/remove in the fly.
Dynamic port breakdown breaks this assumption, now XCVRD needs to subscribe to the port add/remove to make the ports --> SFP mapping always updated.

**Steps to reproduce the issue:**
1.  perform port breakdown with command "config interface break

[2021-01-20 07:29] judyjoseph commented on #6199
@bingwang-ms , I see this issue in master image, Investigating further.

Meanwhile I tried ~20 times with 201911 build, I cannot see this issue. Do you also have a similar finding ?

[2021-01-20 10:05] kcudnik commented on #6466
could we get redisdb operation dump in log, to see if we will get VIDTORID empty map or missing 0x21000 switch in there, and if  there maybe was called FLUSHALL on redis

[2021-01-20 11:18] #6140 closed

[2021-01-20 11:49] allas-nvidia opened #6502 "LLDP management IP advertisement when MGMT interface is down"
**Description**

Is there any algorithm in SONIC which maintains advertisement of MGMT IP in case MGMT INTERFACE is down?
There are 3 scenarios I tried :
     1.MGMT INTERFACE is down & it has IP on it: advertised address to the neighbor is this IP which is assigned to MGMT
        INTERFACE.
       Is this expected behavior?  Should SONiC advertise any address of interface which is in DOWN as mgm

[2021-01-20 13:31] nazariig opened #6503 "[201911][teamd] Interface PortChannel not getting IP assigned when large number of PortChannel RIF are defined"
**Description**

PortChannel kernel leftovers observed after SWSS stop:
[code]

The issue is caused by docker stop timeout:
[code]

**Steps to reproduce the issue:**
1. Add >= 80 LAG RIFs
2. config reload -y

**Describe the results you received:**
LAG RIF init flow:
[code]

**Describe the results you expected:**
LAG RIF init flow:
[code]

**Additional information you deem important (e.g. issue hap

[2021-01-20 14:28] vsenchyshyn opened #6504 "Non default VRF removal fails due to VRF references existing"
**Description**

The non default VRF "Vrf1" fails to be deleted during "config vrf del Vrf1" execution in vrf/test_vrf.py::TestVrfDeletion due to references still existing.

**Steps to reproduce the issue:**
Deploy t0 topology
Run vrf/test_vrf.py::TestVrfDeletion

**Describe the results you received:**
The Vrf1 should be removed from config DB as well as from the ASIC DB.

**Describe the results y

[2021-01-20 14:46] nazariig commented on #6503
@abdosi please have a look

[2021-01-20 15:19] akokhan commented on #6495
As per DPB HLD:
"**platform.json** and **hwsku.json** files will deprecate the old **port_config.ini** file in the current SONiC design"

Looks like without fixing this issue, we can not deprecate **port_config.ini** which contains both autoneg & fec.

[2021-01-20 16:08] anshuv-mfst commented on #6504
@prsunny could you please look into this issue, thanks.

[2021-01-20 16:10] anshuv-mfst commented on #6503
@abdosi @judyjoseph - could you please look into this issue, thanks.

[2021-01-20 16:14] anshuv-mfst commented on #6502
There is no LLDP owner in SONiC community, issue is raised to get clarity on the mgmt IP behavior.
@abdosi could you please provide input.

[2021-01-20 16:14] anshuv-mfst commented on #6502
Issue to refer: https://github.com/Azure/sonic-buildimage/pull/6119

[2021-01-20 16:16] vaibhavhd commented on #6462
This should be fixed in latest image. The fix was introduced by https://github.com/Azure/sonic-utilities/commit/bc2d27edc2923f5096b37a727200a8427f93463e

[2021-01-20 16:18] anshuv-mfst commented on #6499
Issue related to Dynamic port breakout. This is not supported as of today.

[2021-01-20 16:19] anshuv-mfst commented on #6498
@tahmed-dev could you please look into this issue, thanks.

[2021-01-20 16:22] anshuv-mfst commented on #6486
@zhenggen-xu @praveen-li - could you please assign the issue to you, thanks.

[2021-01-20 16:23] vaibhavhd commented on #6463
@jleveque, it seems that these were the issues that were earlier fixed in other platforms. This time `Accton` is reporting missing `sonic_platform` module, and Mellanox has some Python2 to 3 issues.

[2021-01-20 16:26] anshuv-mfst commented on #6476
Please provide more input:
- show techsupport output
- show interface status
please check the FEC setting and connected peer info.

[2021-01-20 16:39] anshuv-mfst commented on #6455
Issue is fixed, please re-try.

[2021-01-20 16:39] #6455 closed

[2021-01-20 16:45] anshuv-mfst commented on #6430
Issue seen in 201906, also seen on master as well.

[2021-01-20 16:46] anshuv-mfst commented on #6428
Please re-try and close.

[2021-01-20 16:48] anshuv-mfst commented on #6427
Could you please re-test with latest SONIC test utilities, new changes merged in last few days.

[2021-01-20 16:48] anshuv-mfst commented on #6427
@prsunny - FYI

[2021-01-20 16:50] anshuv-mfst commented on #6426
Though this is invalid config, CLI check can be enhanced to return warning for such scenario.

[2021-01-20 16:52] 123toorc commented on #6476
Hi @anshuv-mfst, Thanks for the reply. Really appreciate!!

I have fixed this issue by setting the port speed from 100G to 40G. But I have to **keep and support** 100G connection, please help me!

Set up target:
**[server_pluto] <------100G------> [ SONiC switch ] <-------100G/40G------> [server_luna]**
On my server-side, I have 2 servers currently connect to the SONiC switch, both servers have Me

[2021-01-20 16:52] anshuv-mfst commented on #6425
This is not supported. MAC entries age out after 600sec/10mins.

[2021-01-20 16:59] anshuv-mfst commented on #6421
Not supported today, enhancement for input validation for interface config.

[2021-01-20 17:02] anshuv-mfst commented on #6413
@lguohan could you please tag this issue.

@Dror - Could you please provide workaround mentioned in the triage meeting, thanks.

[2021-01-20 17:04] anshuv-mfst commented on #6412
@ben-gale - could you please help on this, thanks.

[2021-01-20 17:07] dprital commented on #6413
WorkAround:

Can be set by uncomment this line in sonic-buildimage/rules/config:
SONIC_PROFILING_ON = y

[2021-01-20 17:08] anshuv-mfst commented on #6399
From the output seems that it was not started correctly. Please provide more info (need to identify why portsyncd crashed)

1. provide syslog

[2021-01-20 17:17] anshuv-mfst commented on #6499
@zhenggen-xu @jleveque - could you please take a look.

[2021-01-20 17:53] vaibhavhd commented on #6466
I don't have the recordings from the time when I reported the issue. But, I just reproduced this and attached a new set of logs in the dump https://github.com/Azure/sonic-buildimage/files/5844189/sonic_dump_vlab-01_20210120_172005.tar.gz

[2021-01-20 18:08] tahmed-dev commented on #6498
bgsave was removed via [PR:86](https://github.com/Azure/sonic-py-swsssdk/pull/86) I added a label to request the fix to be ported to 201911.

[2021-01-20 18:08] tahmed-dev commented on #6498
@abdosi FYI...

[2021-01-20 18:28] jleveque commented on #6463
The original issue was reported on a Mellanox SN4700. I don't have one available to test, but I was unable to reproduce the Mellanox issue on a SN2700 with the latest Master build.

It appears the Accton issue is due to the lack of a Python 3 sonic-platform package.

@jostar-yang, @Junchao-Mellanox: Can you please investigate the reported issues on your respective platforms?

[2021-01-20 18:39] maksymbelei95 commented on #6463
@jleveque,
I am currently investigating the issue. It reproduces on my SN2700.
[code]
Is it ok that I will continue checking the issue?

[2021-01-20 18:41] jleveque commented on #6463
@maksymbelei95: Yes, please continue. Your help is appreciated! :)

[2021-01-20 18:59] #6456 closed

[2021-01-20 19:29] tahmed-dev commented on #6498
@lolyu can you please close this issue once the fix is verified?

[2021-01-20 20:05] zhenggen-xu commented on #6495
Yes, I agree we should fix it.  I left some comments in  https://github.com/Azure/sonic-buildimage/pull/6155 .

[2021-01-20 20:08] zhenggen-xu commented on #6486
It does not allow me to assign to samaity.

[2021-01-20 20:10] zhenggen-xu commented on #6499
The issue follows to new requirement category,  where we need community to support the effort.

[2021-01-20 20:23] zhenggen-xu commented on #6484
should be addressed by https://github.com/Azure/sonic-utilities/pull/1270

[2021-01-20 20:23] #6484 closed

[2021-01-20 20:48] samaity commented on #6484
already merged [Azure/sonic-utilities#1270](url)

[2021-01-20 20:51] samaity commented on #6486
checking the issue.

[2021-01-20 21:00] kcudnik commented on #6466
from internet digging this seems like pthread_cancel was invoked
[code]

[2021-01-20 21:05] kcudnik commented on #6466
attaching syslog from dump:
[code]

notice that this one is slightly different than top one, we have double free here or corruption, and there is no message
[code]
in previous one

[2021-01-20 22:37] shi-su opened #6509 "[KVM][warm reboot] syncd crash when getting virtual router ID"
**Description**

**Steps to reproduce the issue:**
1. Run warm reboot test in KVM (This issue happens by chance at a probability of about one occurrence every 20 attempts)
2.
3.

**Describe the results you received:**
Syncd fails when getting the default virtual router ID in warm boot.

Recording
[code]

Syslog
[code]

**Describe the results you expected:**
Crash free warm reboot.

**Additional in

[2021-01-21 00:05] gechiang opened #6512 "Collecting bitarray Downloading bitarray-1.6.2.tar.gz error out during "make configure PLATFORM=xxx" BRCM, MLNX all failed the same way"
**Description**
Git Cloned sonic-buildimage that I created today. Facing problem with both “make configure PLATFORM=Broadcom” and “make configure PLATFORM=mellanox” with the following error:
[code]

**Steps to reproduce the issue:**
1. git clone https://github.com/Azure/sonic-buildimage.git
2. make init
3. make configure PLATFORM=xxx where xxx could be broadcom or mellanox
4. See the failure above

[2021-01-21 00:09] kcudnik commented on #6509
need redis monitor logs from this crash to confirm that db was cleared or not during that time

[2021-01-21 00:25] daall commented on #5898
This appears to a Broadcom SAI bug. It appears that the ACL rule created to handle the PFC storm is still present on the ASIC even after we remove the ACL binding from the SAI. Removing the binding on the port that had the PFC storm also seems to cause the rule to get applied to _all_ ports for that particular traffic class.

[2021-01-21 01:31] lolyu commented on #6498
@tahmed-dev, no problem.

[2021-01-21 02:01] tbgowda opened #6514 "SNMP spytest failure due to SNMP service failure"
**Description**

SNMP spytest test cases fail due to SNMP service failure. SNMP service exceeds the restart limit.

**Steps to reproduce the issue:**
1.	Have a two router setup with Sonic
2.	Run the spytest test case:  system/test_snmp.py::test_ft_snmp_link_down_trap

**Describe the results you received:**
2021-01-21 01:19:47,122 T0000: INFO  Restarting the 'snmp' service , post configuring snmp c

[2021-01-21 02:06] Junchao-Mellanox commented on #6463
@jleveque I cannot reproduce both issues on following version.

[code]

For the original issue, I suppose it has been fixed by commit: https://github.com/Azure/sonic-buildimage/commit/2d77a36658867a4f39340f5fa4bc066dd38d13ef

[2021-01-21 03:07] tbgowda opened #6516 "CMIS 4.0 QSFP-DD EEPROM decode fails"
**Description**

Unable to decode CMIS 4.0 compliant QSFP-DD optics module EEPROM to get the vendor information.

**Steps to reproduce the issue:**
1. Use any CMIS 4.0 compliant QSFP-DD module on a Sonic system.
2. Dump the vendor information through “show interface transc eeprom”

**Describe the results you received:**

Ethernet23: SFP EEPROM detected
        Application Advertisement: N/A

[2021-01-21 03:16] lguohan commented on #6512
fixed by upstream. https://pypi.org/project/bitarray/1.6.3/

[2021-01-21 05:05] #6512 closed

[2021-01-21 07:28] maksymbelei95 commented on #6463
@jleveque, I confirm the comment of @Junchao-Mellanox. The issue has fixed by 2d77a36.
I have tested on my SN2700 with a local changes from 2d77a36, and the issue is not reproducing now:
[code]

[2021-01-21 09:17] lguohan commented on #6399
portsyncd crashed, not sure why, can we get the syslog?

[2021-01-21 10:24] chitra-raghavan commented on #6381
CSP raised with Broadcom

[2021-01-21 12:41] #6361 closed

[2021-01-21 15:54] d-dashkov opened #6520 "Show interface status does not work with portchannels"
**Description**

Adding portchannels breaks the script for showing interface status

**Steps to reproduce the issue:**

1. Create portchannel
	$ sudo config portchannel add PortChannel0011
2. Execute interface status command
	$ show int status

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happe

[2021-01-21 17:30] kielfriedt commented on #6399
[code]

above is the only data i can find related to portsyncd on syslogs

Its looking for a port. Do you have documentation? I am using the p4 test to run the 4 docker containers. I do not see a port configuration which is given in this setup.(https://github.com/Azure/SONiC/wiki/SONiC-P4-Software-Switch)

[2021-01-21 17:58] lguohan commented on #6399
are you following this step? https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/README.vsdocker.md  it is working fine for x86. wonder if you can first try x86 and setup the base line?

[2021-01-21 18:26] daall commented on #6445
It looks like the issue is coming from ./platform/broadcom/sonic-platform-modules-dell/z9332f/build/lib.linux-x86_64-2.7/sonic_platform/ipmihelper.py. This file is overridden by ./platform/broadcom/sonic-platform-modules-dell/common/ipmihelper.py in platform/broadcom/sonic-platform-modules-dell/debian/rules, which causes the workspace to become dirty. Following up with Dell.

[2021-01-21 18:37] prsunny commented on #6520
in what case is speed N/A ? is it a missing config?

[2021-01-21 18:55] 123toorc commented on #6476
Hi @anshuv-mfst,

**I have fixed the problem by setting the FEC as rs, it supports 100G speed now, and my server can ping each other.**

**But I still need help**, which is, the server still can't ping the switch Vlan interface.(as a gateway).
More importantly, the speed of connection shows in interfaces status is 100G now, also the server ethtool. However, when we do the iperf test for bandwidth,

[2021-01-21 18:58] d-dashkov commented on #6520
The redis LAG_TABLE entry is missing speed information and when I tried intfutil it returned None, which caused the script to crash. In other cases with Ethernet interfaces, PORT_TABLE also doesn't contain information about the port speed by default, but it works well and shows N/A. Therefore, I suggested a PR in which, with such an error, the script does not crash, but returns N/A.

[2021-01-21 20:45] jleveque commented on #6463
@Junchao-Mellanox, @maksymbelei95: Thank you for your help confirming!

Since the original issue reported was specific to Mellanox platforms, I am going to close this issue. @vemulabalaji: If you are still having issues with the Accton platform, please create a new issue to track it.

[2021-01-21 20:45] #6463 closed

[2021-01-22 01:50] MiaoXuHui commented on #2813
Looks like it is a code bug, not a docker issue, we need to umount fsroot/var/lib/docker and fsroot, then the fsroot can be removed.

133e8fcc4ec4:/sonic$ sudo rm -rvf fsroot/
rm: cannot remove 'fsroot/var/lib/docker': Device or resource busy

133e8fcc4ec4:/sonic$ mount | grep fsroot
/dev/sdc on /sonic/fsroot type ext4 (rw,relatime)
/dev/sdc on /sonic/fsroot/var/lib/docker type ext4 (rw,relatime)

[2021-01-22 01:57] lolyu opened #6530 "[PFCWD] test_pfcwd_timer_accuracy failed due to PFCWD not triggered"
**Description**
PFCWD is not triggered causing the failure `test_pfcwd_timer_accuracy` test case.

**Steps to reproduce the issue:**
1. Run `test_pfcwd_timer_accuracy` with modification to fix the port to `Ethernet28`:
[code]
2. Run `Redis` monitor to log all operations done to `Ethernet28` and `Ethernet28:4`
[code]

**Describe the results you received:**
1. No `PFCWD_ACTION` event triggered by th

[2021-01-22 05:39] CLUDev commented on #5944
@pavel-shirshov Any comments would be highly appreciated!

[2021-01-22 07:09] bingwang-ms commented on #6483
I figured out the method to repro the issue. If we shutdown some interface on DUT, the default route in ```APPL_DB``` will be lost.
Normally, the route should be
[code]
If we shutdown an interface (say ```Ethernet40```), the route will be lost
[code]
In our regression test, the ``` test_configurable_drop_counters``` will shutdown an interface on leaf-fanout, as a result, the default  route in APPL

[2021-01-22 14:35] maksymbelei95 commented on #6430
Dear @anamehra, @gechiang,

I have checked unit tests and found there is no tests, related to `config interface mtu` or other subcommands of `config interface`.
I suppose a cause is described here: https://github.com/Azure/sonic-utilities/issues/1301.

[2021-01-22 15:23] lguohan commented on #6483
completely unexpected. I can repro it in the virtual dut. meanwhile, it seems only affecting default route.

[2021-01-22 20:32] anamehra commented on #6430
Dear @maksymbelei95,
Diff looks good and works fine with EThernet and PortChannel ports. We would need this for 201911. Thanks

[2021-01-22 21:06] prsunny commented on #6483
This seems to be a bug/behavior change in FRR/Zebra:

When any interface is shutdown, a route update is sent from zebra to fpmsyncd for eth0 and thats causing the route change to APPDB. Looks like routes in kernel default table are being reinstalled

**Zebra log during Ethernet28 shutdown:**

[code]

Upon receiving this event, fpmsyncd just modifies default route in APPDB causing the issue

**fpms

[2021-01-23 00:29] lguohan commented on #119
still seeing https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/1790/logs/33

however, it seems admindir is not changed, not sure if it is dpkg-buildpackage specific.

[2021-01-23 08:26] #6445 closed

[2021-01-24 04:57] #6199 closed

[2021-01-24 22:54] lguohan commented on #6483
this only repro when there is such default route in the default table.

root@b263e2768225:/# ip route list table default
default via 172.17.0.1 dev eth0
2.2.2.2 via 172.17.0.1 dev eth0

[2021-01-25 01:12] #6483 closed

[2021-01-25 02:40] lguohan commented on #6413
is this similar to #5982

[2021-01-25 02:41] lguohan commented on #5883
looks like aufs issue. upgrade to overlay fs.

[2021-01-25 02:41] #5883 closed

[2021-01-25 06:36] sachinholla commented on #6412
Hi @TzvikNVDA, these errors indicate that a non-HTTPS request has been made to the REST server. We also observed the  Swagger UI (launched via `https://SWITCH_IP/ui`) can send such requests some time. Is your testcase involves sending any requests to the REST server or do you open Swagger UI?

I do not see these syslogs in the dump file; so I am not sure what was going on around that time.

[2021-01-25 06:51] raphaelt-nvidia commented on #6413
No.  In the issue I opened, the compile succeeds, but optimization is enabled in spite of the command line option.

Raphael Tryster
Staff Engineer, Software

From: lguohan <notifications@github.com>
Sent: Monday, 25 January, 2021 4:41 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Raphael Tryster <raphaelt@nvidia.com>; Author <author@noreply.github.com>
Subject: Re: [Azure

[2021-01-25 08:10] bingwang-ms opened #6547 "NEIGH_STATE_TABLE in STATE_DB is possibly overwriten"
**Description**

It is possible that BGP neighbors in IPv4 and IPv6 address families share the same name.
For example, if belowing config is applied to creare a bgp monitor:
[code]
Then a bgp neighbor named 11.0.0.1 will exist in both ipv4 and ipv6 neighbors.
[code]
The ```NEIGH_STATE_TABLE``` is updated in ```bgpmon.py```, which uses ```NEIGH_STATE_TABLE|x.x.x.x``` as keys in STATE_DB.
[code]
If

[2021-01-25 08:44] kpetremann commented on #6378
If anyone is having the same issue, the fix is to include this commit if not included in the hash you are building: https://github.com/Azure/sonic-buildimage/commit/ac5117f20b1a2652e3f4338a724644f8827d6660

[2021-01-25 08:52] bingwang-ms opened #6548 "[syncd] syncd returns errors when applying proxy ARP for vlan"
**Description**
syncd returns errors when applying proxy ARP for vlan.
[code]
Errors are following.
[code]
Looks like a SAI issue?

**Steps to reproduce the issue:**
1. Run ```config vlan proxy_arp 1000 enabled```
2.
3.

**Describe the results you received:**
No error should be reported.

**Describe the results you expected:**
```syncd``` and ```orchagent``` repored errors.

**Additional informati

[2021-01-25 09:52] lguohan commented on #6548
yes, pending on broadcom sai implementation.

[2021-01-25 09:53] lguohan commented on #6495
fixed by #6155

[2021-01-25 09:53] #6495 closed

[2021-01-25 10:57] vemulabalaji opened #6549 "sonic-cli commands resulting error messages [/tmp/klish.fifo.62.TUKsQ0: 1: /tmp/klish.fifo.62.TUKsQ0: python: not found]"
**Description**

**Steps to reproduce the issue:**
1. Load 202012 image on ACCTON board.
2. change to super user, using sudo command
3. Go to sonic-cli by executing sonic-cli.

**Describe the results you received:**
root@sonic:/# sonic-cli
sonic# show system cpu
/tmp/klish.fifo.62.8rCDDe: 1: /tmp/klish.fifo.62.8rCDDe: python: not found
sonic# show system memory
/tmp/klish.fifo.62.TUKsQ0: 1: /tmp/k

[2021-01-25 10:59] vemulabalaji commented on #6549
Please let me know any other logs/details are required.

[2021-01-25 11:56] maksymbelei95 commented on #6391
Dear @bingwang-ms,

The issue has introduced in https://github.com/Azure/sonic-utilities/commit/be63918dbba4b6329bddf090ac2f83522932ceb4.
I have prepared a fix for the issue: https://github.com/Azure/sonic-utilities/pull/1383
It seems I have some problem with configuring NAT entries. Command `config nat add` always returns `Max limit is reached for NAT entries, skipping adding the entry.` Due to t

[2021-01-25 12:43] maksymbelei95 commented on #6430
Dear @anamehra,

Thank you for review, I have added new PR for branch 201911: https://github.com/Azure/sonic-utilities/pull/1384

Dear @gechiang,

Will be glad if you review PRs https://github.com/Azure/sonic-utilities/pull/1375 and https://github.com/Azure/sonic-utilities/pull/1384.
Thanks in advance.

[2021-01-25 14:38] bingwang-ms commented on #6548
I see. Thanks!

[2021-01-25 19:52] prsunny commented on #6548
This is part of SAI 4.3. Request to retest once the image is built.

[2021-01-25 20:10] vaibhavhd commented on #6466
I tried to dig into the shutdown flow and could not find an explanation for `pthread_cancel` being invoked. Can you imagine the reason for `pthread_cancel`?

I think that in the previous one I just missed to capture those log lines while creating an issue. The logs remain very similar in every crash.
Do you know why

[2021-01-25 20:17] kcudnik commented on #6466
that's interesting, since there is a difference in those, if you forgot to capture that, then there maybe some clue into that, from current attached those seems like it broke in 2 different places
do you have previous logs maybe ?

[2021-01-25 20:32] vaibhavhd commented on #6466
I don't have previous logs. But, I am saying that there was no difference in previous and new logs.

Also, I noticed that syncd uninitialize is completed before `~NetMsgRegistrar` is called.:

[code]

1. Is it possible that since syncd uninit has finished, something invokes the pthread_cancel for every other syncd initiated thread?
2. Shouldn't the `~NetMsgRegistrar` call be made before declaring

[2021-01-25 22:06] tahmed-dev opened #6559 "[configlet/dhcp relay] Duplicate Helpers IP Configuration"
Attempting to configure DHCP relay using configlets that has duplicate helper IPs results in config DB having duplicate DHCP helpers IPs
**Steps to reproduce the issue:**
1. configlet command:
[code]
2. Resulting Config DB `dhcp_server` list show duplicate entries:
[code]

**Describe the results you received:**
Duplicate helper IPs as shown in repro section above

**Describe the results you expect

[2021-01-25 22:27] qiluo-msft commented on #6559
We used array structures in config_db.json, including ACL.ports, MGMT_INTERFACE.*.forced_mgmt_routes. I think we need a protection to all of them.

[2021-01-26 02:06] #6311 closed

[2021-01-26 06:31] gechiang commented on #6547
With the new fix in place to address the duplicate entry by converting the peer list to a peer set:
https://github.com/Azure/sonic-buildimage/pull/6546#pullrequestreview-576054343
This issue should already been addressed.

Marking this issue is fixed by (https://github.com/Azure/sonic-buildimage/pull/6546#pullrequestreview-576054343)

[2021-01-26 07:36] Junchao-Mellanox opened #6563 "Not supported attribute SAI_SWITCH_ATTR_AVAILABLE_IPMC_ENTRY"
**Description**

See following warning and error in syslog. I assume this is related to PR https://github.com/Azure/sonic-swss/pull/1511. These warning and error causes a lot of log analyzer error in sonic-mgmt regression. Please remove them.

[code]

**Steps to reproduce the issue:**
1. Load master image on Mellanox platform and check syslog

**Describe the results you received:**

See error and

[2021-01-26 08:42] lguohan commented on #6563
what sai value are we returning? if it is not supported, then it should query only once.

https://github.com/Azure/sonic-swss/blob/master/orchagent/crmorch.cpp#L460

[2021-01-26 08:45] vadymhlushko-mlnx opened #6737 "[snmp | lldp] table is no present in SNMP facts"
**Description**

**Steps to reproduce the issue:**
1. Run the `snmp/test_snmp_lldp.py`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The test `snmp/test_snmp_lldp.py` should pass

**Additional information you deem important:**

    **Output of `show version`:**

[code]

[2021-01-26 09:17] kcudnik commented on #6466
1. still not sure why, im't just assuming that is pthread_cancel since stacktrace looks exactly the same as other found on web
2. NetMsgRegistrar is singleton (static object), and it's destroyed after main() will end
3. thats expected

[2021-01-26 09:35] itaibaz commented on #6563
SAI_SWITCH_ATTR_AVAILABLE_IPMC_ENTRY returns SAI_STATUS_ATTR_NOT_SUPPORTED_0 = -(0x50000) = -327680

SAI_SWITCH_ATTR_AVAILABLE_SNAT_ENTRY, SAI_SWITCH_ATTR_AVAILABLE_DNAT_ENTRY return SAI_STATUS_ATTR_NOT_IMPLEMENTED_0 = -(0x30000) = -196608

[2021-01-26 09:37] itaibaz commented on #6563
I think Sonic should query if NAT API is implemented (either query NAT API itself, or sai_query_attribute_capability for the SAI_SWITCH_ATTR_AVAILABLE_SNAT_ENTRY/DNAT), and not just try to read this attribs
Same for IPMC
As I would think, NAT and IPMC are "advanced optional" APIs, and not the mandatory basic APIs that all vendors must support
And since we do have a clean way to query capability, w

[2021-01-26 10:15] lguohan commented on #119
https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/1964/logs/12

[2021-01-26 10:50] lguohan commented on #6563
so simply add additional check on line 460 to include NOT_IMPLEMENTED will work here?

[2021-01-26 11:16] lguohan commented on #119
looks like dpkg-buildpackage is calling dpkg-shlibdeps, and the admindir is not proprogated.

[2021-01-26 12:02] ben-gale commented on #6563
Shouldn't we use the SAI_SWITCH_ATTR_SUPPORTED_OBJECT_TYPE_LIST query for SONiC/CRM to see if the object is available in SAI? This seems better than making making per-feature decisions on what is/is not an advanced feature.

In the meantime, we can implement Guohan's suggestion of the additional check (for SAI_STATUS_ATTR_NOT_IMPLEMENTED).

[2021-01-26 15:03] vadymhlushko-mlnx commented on #6024
@praveen-li, @zhenggen-xu, @samaity

As it turned out recently, this issue with aliases naming is not only a cosmetic problem that you can see when you execute `show interfaces status` command.

In SONiC we have a flow to generate a `/etc/sonic/config_db.json` from `/etc/sonic/minigraph.xml` by using the command `config load_minigraph`.

`/etc/sonic/minigraph.xml` generated by [sonic-mgmt](https:/

[2021-01-26 15:04] vadymhlushko-mlnx commented on #6024
`show techsupport`
[sonic_dump_arc-switch1038_20210126_150103.tar.gz](https://github.com/Azure/sonic-buildimage/files/5874116/sonic_dump_arc-switch1038_20210126_150103.tar.gz)

[2021-01-26 18:28] liat-grozovik commented on #6563
@ben-gale probably need to extend the 'unsupported' logic to also include an additional unsupported error code. As can be seen above you need to add ' SAI_STATUS_ATTR_NOT_SUPPORTED_0'. Suggest to check the list on SAI API.
Please note that there is a logic in SWSS unit testing which can simulate the return code and thus verify the SONiC logic. You may check how it is done in the ACL capabilities c

[2021-01-26 20:32] praveen-li commented on #6024
+Sangita

to double-check if 3909 is adding suffix 'a'
________________________________
From: Vadym Hlushko <notifications@github.com>
Sent: Tuesday, January 26, 2021 7:04 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Praveen Chaudhary <pchaudhary@linkedin.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildimage] [DPB] wrong aliases for interfaces (

[2021-01-26 20:41] vaibhavhd commented on #6466
So I tried with removing the newly added `unregisterMessageHandler` from the Thread, and could not reproduce this error.
So I think this issue has to be related with unregistering the handler. Possibly because of sending  `m_link_thread_event.notify()` in the destructor `~NetMsgRegistrar()`?

Also, I got a new trace from core, this time utilizing `libc-dbg`. As can be seen from the T1, the error i

[2021-01-26 20:57] vaibhavhd commented on #6466
I have added a draft PR here - https://github.com/Azure/sonic-sairedis/pull/779
I have some more changes in mind, that we can discuss before finalizing the fix.

[2021-01-26 20:57] kcudnik commented on #6466
hey, i reproduced this issue locally, and it's fairly consistent 3/3, i will work on this to figure out where can be the issue

[2021-01-26 21:40] samaity commented on #6024
I just checked the code. It is not adding any suffix 'a' to the alias. We only use the aliases from the platform.json in the logic.

[2021-01-26 22:47] kcudnik commented on #6466
i build small app:
[code]

and it gives:
[code]

and surprisingly when i comment "swss::Logger::linkToDbNative("syncd");" it works XD

[2021-01-26 23:52] kcudnik commented on #6466
ok i think i found issue:
[code]

so after main exit, static function locals (singleons) aer destroyed, that's why NetDispatcher::dtr is called, and at this point memroy don't exists, but then, thread notification for NetMsgRegistrar destructor comes in, and thread is woken up, and calls NetDispatcher::unregisterMessageHandler, but memory was already freed, but! since getInstance is called, and pr

[2021-01-26 23:55] daall opened #6569 "master->master warm reboot fails because of pending tasks in the queue"
**Description**
We see on some platforms that warm reboot fails the RESTARTCHECK due to pending tasks on ports that have been disabled in the system.

**Steps to reproduce the issue:**
1. Configure a platform w/ 2 ports that are oper and admin down.
2. `sudo warm-reboot`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Warm boot should succeed.

**Additional i

[2021-01-27 00:06] vaibhavhd commented on #6569
I looked at this issue today, and found out that the issue is not necessarily with the ports that are oper and admin down.
With minigraph.xml untouched, the warm-reboot fails at pausing OA:
[code]

After making the below changes manually to the ports names, the RESTARTCHECK passes:

[code]

[code]

[2021-01-27 00:54] daall commented on #5929
this behavior is still seen in master branch

[2021-01-27 01:19] daall opened #6571 "container restart triggers tunnel resource issues on TD3"
**Description**
The syncd/swss autorestart tests fail consistently on TD3 due to loganalyzer errors, which indicate that there are not enough HW resources to create a new tunnel entries.

**Steps to reproduce the issue:**
1. Run test_autorestart against master image

**Describe the results you received:**
[code]

**Describe the results you expected:**
Test should pass, we shouldn't see any resourc

[2021-01-27 01:32] daall opened #6572 "Unexpected routes advertised to BGP neighbors with empty allow list"
**Description**
When we run the bgp_allow_list.TestBGPAllowListDeny tests we see failures due to routes being advertised to neighbors that should not be present when the allow list is empty and the default action is drop.

**Steps to reproduce the issue:**
1. Run bgp.test_bgp_allow_list.TestBGPAllowListDeny.test_empty_allow_list_deny against a DUT running the master image

**Describe the results y

[2021-01-27 01:57] gechiang opened #6573 "test_decap execution fails at "warmup" test on S6100"
**Description**
When executing test case decap/test_decap.py it is always failing while executing "warmup" under ptftests/vxlan-decap.py.
If the exception handling under warmup is bypassed and set ret as success for this method, then the rest of the decap test testcases can run successfully to completion.
Not sure what is causing the "warmup" to hit exception...

**Steps to reproduce the issue:**

[2021-01-27 05:03] liat-grozovik commented on #6024
Something in the flow when using the command of mini graph and creating the config is doing so
I think you should go over the exact flow described in details and look in the dpb logic what causes it as it is causing mismatch and non functional system

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sangita Maity <notifications@github.com>
Sent: Tuesday, January 26

[2021-01-27 07:01] #6547 closed

[2021-01-27 08:22] vadymhlushko-mlnx commented on #6024
@praveen-li, @samaity, @zhenggen-xu

I'm sorry, maybe the previous comment was not clear, let me clarify about the postfix `a` (e.g `etp1a`):

Aliases like `etp1a`, `etp2a` are taken from the [platfrom.json](https://github.com/Azure/sonic-buildimage/blob/6fa807d0d0796d407fef9a1cf60c8119c778f4e3/device/mellanox/x86_64-mlnx_msn4700-r0/platform.json#L6) file and goes to the `/etc/sonic/config_db.json

[2021-01-27 10:44] chitra-raghavan commented on #6323
"crm show resources acl group and "show acl table " output below.

**BEFORE APPLYING ACL :**

	root@sonic-z9332-10429:~# crm show resources acl group

	Stage    Bind Point    Resource Name      Used Count    Available Count
	-------  ------------  ---------------  ------------  -----------------
	INGRESS  PORT          acl_group                  32                224
	INGRESS  PORT          acl_ta

[2021-01-27 13:06] Junchao-Mellanox opened #6578 "bgp#supervisord gave up: supervisor-proc-exit-listener entered FATAL state, too many start retries too quickly"
**Description**

See many error related to BGP supervisord:

[code]

The content of critical_processes in bgp docker is:

[code]

**Steps to reproduce the issue:**

I did a few warm-reboot, but I am not sure if it is the reproduce step.

**Describe the results you received:**

See unexpected logs for bgp supervisord.

**Describe the results you expected:**

No such logs

**Additional information y

[2021-01-27 16:59] kcudnik commented on #6466
reopened since better solution would need to be found, and issue was automatically closed when PR related was merged

[2021-01-27 17:31] kcudnik commented on #6466
I found this interesting article: https://sourcemaking.com/design_patterns/to_kill_a_singleton which mentions problem that we having here, that one singleton depends on another and order of destruction is not guaranteed. They propose solution to use explicit destruction of singleton before exiting program.

There is also another mechanism where order is guaranteed using atexit() functionality, but

[2021-01-27 17:53] kcudnik commented on #6466
i created a simple program to demonstrate cause of our issue:
[code]

and the output is like this:

[code]

in our case A::doSomething is NetDispatcher::unregisterMessageHandler() which tries to modify memory of std::map which was already destroyed, hence corruption/double free error

[2021-01-27 17:56] kcudnik commented on #6466
interestingly enough, if we swap order:
[code]

to
[code]

output is like this
[code]

and A::~A() is executed at the end, and no issue is present, but this destruction order is strictly gcc internal implementation and we can't relay on that

[2021-01-27 18:11] vaibhavhd commented on #6466
Thanks Kamil, that is nice and simple example. Two questions:

I think `NetDispatcher::dtr` should not be called before `NetMsgRegistrar::dtr` as the NetDispatcher still holds static instance that NetMsgRegistrar will use in desctruction path. This is the change that we should focus on perhaps.

Based on syslog, the double-free error was not seen at this call, as the caller gets a return, prints s

[2021-01-27 18:20] kcudnik commented on #6466
So the problem is that we don't have control when NetDispatche::dtr and NetMsgRegistrar::dtr is called, at least in current implementation.

As for error, it could be double free or corruption, when that corruption will happen in point of time that's good question, since memory of std::map was released and could be pointing to something else, but since erase(it) is called, it could modify some unk

[2021-01-27 18:27] kcudnik commented on #6466
i added this:
[code]

and it solves the issue, if we assume that order of creation is guaranteed

[2021-01-27 18:39] kcudnik commented on #6466
if we can relay on this draft: https://eel.is/c++draft/basic.start.term

not sure if this exactly explains this, and if this is what we are looking for, to confirm order, also in https://eel.is/c++draft/basic.stc#static there is nothing about order, but it could be in subparagraphs

[2021-01-27 18:46] vaibhavhd commented on #6466
I still have problem connecting all pieces here.

Before the `erase(it)` call, we check for `nlmsg_type` presence in the map `m_handlers` and also find it present. So I think the map's memory is not released at this point. It is also possible that the
https://github.com/Azure/sonic-swss-common/blob/master/common/netdispatcher.cpp#L30
Additionally, we are not freeing anything here, I mean the erase

[2021-01-27 18:51] kcudnik commented on #6466
yes it't is relased, as well as the mutex memory, maybe it's just not cleared, and it could be coincidence that we don't get exception when acquire mutex and when calling find() on map, and that memory is released already take a look at this call sequence: (i added locally printf logging on each function to see where each event happens)

[code]

here: net dispatcher dtr finished here, so std::map

[2021-01-27 19:48] vaibhavhd commented on #6569
There is one issue in port_config.ini. One of the lanes (128) is shared between two ports (Ethernet124 and Ethernet132):
https://github.com/Azure/sonic-buildimage/blob/master/device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/port_config.ini#L35

[code]

Apart from this, the show int status output seems to be incorrect - the speed for two 10G ports is set to 100G. The minigraph also ha

[2021-01-27 19:56] zhenggen-xu commented on #6024
@vadymhlushko-mlnx  Still not sure what the problem is.  Do you want `etp1` for `Ethernet0` all the time?  If so, then configure that way in platform.json.   Or do you want the alias to be `etp1` for `Ethernet0` in case of 100G but `etp1a` for `Ethernet0` in case of breakout?  If that is the case, the current DPB does not support that, we have to enhance the design and also implement it.

Again, i

[2021-01-27 20:52] lguohan commented on #6024
etp1 is for 100G ethernet0
etp1a is for 50G ethernet0

need to enhance that.

[2021-01-27 23:44] zhenggen-xu commented on #6024
@vadymhlushko-mlnx If this is the case, for simplicity reasons,   I would suggest we introduce one more field in platform.json, like "alias_root", which can specify the alias for the root port when we don't breakout (I,E single port) for that port group. e,g, we use etp1 for Ethernet0.  and we can incorporate the changes in the parsing logic to use that alias. Changes need to be made in https://gi

[2021-01-28 02:40] vaibhavhd opened #6584 "[warm reboot] SAI_COMMON_API_CREATE failed in syncd mode: SAI_STATUS_ATTR_NOT_IMPLEMENTED_0"
**Description**
After warmboot is requested, there are multiple syncd errors relating to missing SAI attribute. createTunnelHw fails with SAI_STATUS_FAILURE, and ultimately Orchagent's state remain inconsistent.
VXLAN_TUNNEL_MAP_TABLE remains as an pending item which blocks Orchagent's RESTARTCHECK.

**Steps to reproduce the issue:**
1. Pytest - the issue was seen during wr_arp testcase
2. As part

[2021-01-28 05:55] #6466 closed

[2021-01-28 06:19] #4038 closed

[2021-01-28 08:53] dmytroxshevchuk commented on #5343
PR Azure/sonic-utilities#1198 was merged, so issue must be resolved after update submodule.

[2021-01-28 09:52] vadymhlushko-mlnx commented on #6024
Additional field the `alias_root` - sounds great. Thanks!

[2021-01-28 10:51] liat-grozovik opened #6590 "spelling mistakes on iccp and mlag"
**Description**
While running spell check on SONiC source code tree I found the following typo with ICCP and MLAG.
Suggest to fix them although we have no spell check part of the PR check list.

While fixing them I suggest to have a space between /* and */

Errors in file src/iccpd/include/port.h
=======================================
Misspelled word: loacl --> line 69: struct LocalInterface* vla

[2021-01-28 19:04] liat-grozovik opened #6596 "spelling mistakes on src/sonic-sairedis/SAI/bm"
**Description**
While running spell check on SONiC source code tree I found the following typos.
Suggest to fix them although we have no spell check part of the PR check list.

**Note**: the lines might not be aligned with the latest source tree but I am sure it will be easy to find them while searching on the specific files.

Errors in file src/sonic-sairedis/SAI/bm/behavioral-model/PI/src/pi_tab

[2021-01-28 19:38] anshuv-mfst commented on #4009
Hi @lguohan - could you please re-assign this PR.

[2021-01-28 19:44] liat-grozovik commented on #4009
@anshuv-mfst Nvidia team will take it. I will assign .

[2021-01-28 19:45] anshuv-mfst commented on #5839
Closing as this will be tracked via #6171

[2021-01-28 19:45] #5839 closed

[2021-01-28 23:12] #6264 closed

[2021-01-29 03:23] prsunny opened #6599 "[Neighbor Advertiser] IPv6 link-local not advertised"
**Description**

IPv6 link-local addresses are not advertised by the script during warmboot as the current approach is fetching the data from config_db. Need to get the link-local for the Vlan interface from kernel and add to mapping. This is required for NS/ND to work during warmboot.

**Steps to reproduce the issue:**
1. Run neighbor advertiser script
2. Check the advertised mapping.
3.

**Descr

[2021-01-29 06:56] Blueve opened #6602 "[OS][master][202012] SONiC not start well in Celestica E1031"
**Description**

System required dockers not start as expect in Celestica E1031.

**Steps to reproduce the issue:**
1. Install OS from ONIE
2. Run `show version`
3. Run `sudo docker ps` after a few minutes

Run above test for `SONiC.202012.13-c8b3a709` and `SONiC.master.565-e616a329`

**Describe the results you received:**

***Test Result for `SONiC.202012.13-c8b3a709`***
[code]

Show version
[cod

[2021-01-29 07:09] Blueve opened #6603 "[Celestica][E1031] USB tty devices not listed under `\dev` after SONiC installed"
**Description**

USB tty devices not listed under `\dev` folder after SONiC installed, however the USB devices already been recognized by system.

**Steps to reproduce the issue:**
1. Connect Console Switch and E1031 with USB link
2. Install SONiC image from ONIE
3. Run `show version`
4. Run `lsusb -t`
5. Run 'ls \dev\ttyUSB*'

Run above test for `SONiC.202012.13-c8b3a709` and `SONiC.master.565-e6

[2021-01-29 07:38] #5596 closed

[2021-01-29 07:47] Blueve commented on #6602
If anything information need collect from my side, feel free to share the command and I will update the ticket.

[2021-01-29 09:41] lguohan commented on #6603
can you debug this with celestica?

[2021-01-29 09:41] lguohan commented on #6603
looks like their platform driver is not installed properly.

[2021-01-29 09:44] #6578 closed

[2021-01-29 09:56] Blueve commented on #6603
Yes, the driver is missing. I've looped Celestica in an email thread.

[2021-01-29 11:11] Blueve commented on #6603
The driver missing caused this issue. Re-plug can bring the driver back. Below command can also bring the driver back without touch the box physically:
[code]

Before
[code]

After
[code]

But not sure why the usb uart bridge couldn't binding the cp210x driver automatically. Maybe a driver bug?

[2021-01-29 11:28] Blueve commented on #6603
First SONiC boot after installed
[code]

unbind USB Hub 1-1.1
[code]

bind USB Hub 1-1.1 again
[code]

Seems like the system not register USB interface during first boot except hub's interface.

[2021-01-29 12:20] Hedgehog-Guru opened #6606 "No output from "show vlan config" command when VLANs not assigned to interfaces"
**Description**
Command "show vlan config" not providing information about configured VLANs if no interface assigned to this VLANs

**Steps to reproduce the issue**

1) Add two VLANs:
[code]
2) Run command
[code]

**Describe the results you received**
Empty output received after command input:
[code]

**Describe the results you expected**
Expecting that command output will provide information abou

[2021-01-29 12:29] Blueve commented on #6603
Possible relating topics:

https://www.linuxquestions.org/questions/linux-newbie-8/usbcore-only-registers-new-interface-driver-cdc_wdm-when-i-hot-plug-my-device-after-bootup-4175638603/
https://bugzilla.redhat.com/show_bug.cgi?id=253823
https://askubuntu.com/questions/1015207/udev-rule-at-boot-time
https://www.linuxquestions.org/questions/mandriva-30/how-to-have-udev-start-at-boot-432287/

Keyword

[2021-01-29 13:10] Blueve commented on #6603
@lguohan  The driver is embedded in kernel, usually we don't need to install it. Consider the issue only happens with coldplug device, it more likely a timing issue, I guess the usbcore/udev are not fully initialize during boot.

[2021-01-29 15:24] maksymbelei95 commented on #6424
Dear @Hedgehog-Guru,

I have investigated the issue and found the root cause.
Swss container gets exception, when you are trying to set speed, which value is bigger then maximum value of `unsigned long int`. The exception is caused by function `stoul `here: https://github.com/Azure/sonic-swss/blob/f4aefbaf3ff1690c4d10e186fdfe3eea9949e392/orchagent/portsorch.cpp#L2154
Here is a peace of log:
[code]

[2021-01-29 15:39] Hedgehog-Guru opened #6608 "[DPB] Command not working "show interface breakout""
**Description**
Command "show interface breakout" not working - the output is traceback.

**Steps to reproduce the issue**
1) Issue a command:
[code]
**Describe the results you received**
Command ended with traceback:
[code]

**Describe the results you expected**
The command should provide configured breakout modes of the interfaces;

**Output of show version**
[code]

[2021-01-29 16:23] Hedgehog-Guru opened #6610 "[DPB] After a few consecutive breakout\unbreakout of the interface, the feature stop working"
**Description**
After a few consecutive breakout\unbreakout of the interface, the feature stop working.

**Steps to reproduce the issue**
1) Breakout interface to 2x50G mode:
[code]
2) Breakout interface back to 1x100G:
[code]
3) One more time try to breakout the same interface to 2x50G mode:
[code]

**Describe the results you received**
Breakout stop working and we get error message:
[code]

**De

[2021-01-29 18:01] judyjoseph commented on #6503
@nazariig can you please check if this fix done in https://github.com/Azure/sonic-buildimage/pull/6537, solves the issue for you ? I am not able to get a testbed up with the large number of Po's. Thanks !

[2021-01-29 18:44] prsunny commented on #6606
@dawnbeauty, this is introduced by the PR-https://github.com/Azure/sonic-utilities/pull/768. Could you take a look and fix?

[2021-01-30 02:10] vaibhavhd commented on #6569
RCA:

1. port_config.ini does not have speed for this SKU - https://github.com/Azure/sonic-buildimage/blob/master/device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/port_config.ini#L35
2. This leads to `portspeed` dict being empty for this SKU during execution of port_alias.py - https://github.com/Azure/sonic-mgmt/blob/master/ansible/library/port_alias.py#L181
3. This leads to using de

[2021-01-30 02:16] vaibhavhd commented on #6569
I have tried with manually corrected minigraph.xml and warm-reboot happens as expected.

@Staphylo I think the best solution is to add a new column for speed in the port_config.ini for this SKU. This is because if we don't know port's bandwidth, assigning any default speed is probably a bad idea.

Also as earlier mentioned in the email, we also need to fix duplicate lane issue - lanes 128 is share

[2021-01-30 06:49] VenkatCisco commented on #6453
how do we disable warm reboot in sonic so orchagent doesnt crash ? I see the same issue with 202012 branch.

[2021-01-30 07:04] VenkatCisco opened #6614 "orchagent crash with SAI_OBJECT_TYPE_NULL, but expected SAI_OBJECT_TYPE_SWITCH"
I have disabled warm reboot but the orchagent bails out

root@sonic:/home/cisco# redis-cli -n 6 hgetall "WARM_RESTART_ENABLE_TABLE|system"
1) "enable"
2) "false"
root@sonic:/home/cisco# redis-cli -n 6 hgetall "WARM_RESTART_ENABLE_TABLE|swss"
1) "enable"
2) "false"

Jan 29 22:55:07.301143 sonic DEBUG swss#orchagent: :> getSelectResultAsString: enter
Jan 29 22:55:07.301143 sonic DEBUG swss#orchagent

[2021-01-30 07:05] VenkatCisco commented on #6614
Seeing this issue with 202012 branch.

[2021-01-30 07:27] VenkatCisco commented on #6614
2021-01-29.23:04:13.311158|A|SAI_STATUS_SUCCESS
2021-01-29.23:04:13.313501|c|SAI_OBJECT_TYPE_SWITCH:oid:0x21000000000000|SAI_SWI
TCH_ATTR_INIT_SWITCH=true|SAI_SWITCH_ATTR_FDB_EVENT_NOTIFY=0x55c2a890d5b0|SAI_SW
ITCH_ATTR_PORT_STATE_CHANGE_NOTIFY=0x55c2a890d5c0|SAI_SWITCH_ATTR_SWITCH_SHUTDOW
N_REQUEST_NOTIFY=0x55c2a890d5d0|SAI_SWITCH_ATTR_SRC_MAC_ADDRESS=78:72:5D:53:6A:5
9
2021-01-29.23:04:25.844570

[2021-01-30 14:41] lguohan opened #6617 "usermod: cannot lock /etc/passwd; try again later."
**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
see warning message

**Describe the results you expected:**
should not see the warning message

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug file `sudo generate_dump`:**

[code]

[2021-01-30 15:10] nazariig commented on #6503
@judyjoseph do we have a PR for 201911?

[2021-02-01 01:01] lguohan opened #6621 "presantity check failed total_omem: 16874792"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
[code]

https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/2391/logs/50

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`:**

[code]

    **Attach debug

[2021-02-01 02:21] Junchao-Mellanox opened #6622 "syncd crash on master RPC image"
**Description**

syncd crash on master RPC image, error log:

[code]

The issue is found beween hash 25e4d77 and hash 46b3bd5. I went over all changes between two hash, here is a suspicious commit: https://github.com/Azure/sonic-buildimage/commit/8ce1e3ed92ed0e141bd74d99f76af61e34b96ffd

In this commit, it removes libboost-all-dev and upgrade it to libboost1.71-dev.

**Steps to reproduce the issue

[2021-02-01 02:59] lguohan commented on #6622
can you provide the suspicious commit id?

[2021-02-01 03:01] Junchao-Mellanox commented on #6622
https://github.com/Azure/sonic-buildimage/commit/8ce1e3ed92ed0e141bd74d99f76af61e34b96ffd

[2021-02-01 03:32] guking3 opened #6625 "Multi-DB must use with Multi-Asic?"
**Description**

**Steps to reproduce the issue:**
1.Now, SONiC has support multi-db wtih namespaces
2.But, namespaces has related to Multi-ASIC
3. The following description was wrote in docker_image_ctl.j2 file
        # For Multi-ASIC platform we have to mount the redis paths for database instances running in different
        # namespaces, into the single instance dockers like snmp, pmon on lin

[2021-02-01 03:48] lguohan commented on #6622
@tahmed-dev , can you take a look?

[2021-02-01 06:51] longruiliu opened #6626 "Vrfmgrd crash when enable default vrf"
**Description**

 Vrfmgrd in swss container crashed when enable default vrf.

**Steps to reproduce the issue:**
There are two ways to reproduce this issue.
1.Modify redis and restart swss.

HMSET "VRF|default" enabled true

2.Modify config_db.json
    Add vrf config to config_db.json

        "default": {
            "enabled": "true"
        }
    }

    reload config_db.json

**Describe the resu

[2021-02-01 07:32] lguohan commented on #5929
i checked 201911 branch and the issue is resolved.

[2021-02-01 07:55] slrflr opened #6627 "Arista 7170 series port maps are incorrect"
**Description**
The Arista 7170 series switches are missing SFP+ ports from their port maps, and as such are not usable from SONiC. For example, the Arista 7170-32(C/CD) has 2 SFP+ ports in addition to 32 QSFP+ front panel ports but they are missing from the port configuration in `device/arista/x86_64-arista_7170_32cd/Arista-7170-32CD-C32/port_config.ini`.

I attempted to add the two new ports the

[2021-02-01 08:40] lguohan commented on #5929
it is the same root cause. I found this pr is not in master or 202012 branch.

* 9e0ea83c 2020-11-26 | [bgpcfgd]: Use peer commands for BBR, not peer-group (#6048) [pavel-shirshov]

[2021-02-01 08:58] lguohan commented on #5929
looks like there is a new fix for this in upstream https://github.com/FRRouting/frr/pull/7977

[2021-02-01 15:11] Hedgehog-Guru opened #6630 "[DPB] Breakout of interface failed with it is part of PortChannel with VLAN"
**Description**
Breakout fails if try to breakout interface that is part of PortChannel with VLAN assigned to it.

**Steps to reproduce the issue**
1) Configure PortChannel:
[code]
2) Configure VLAN;
[code]
3) Add interface to PortChannel:
[code]
4) Assing VLAN to PortChannel:
[code]
5) Try to breakout the interface in the Portchannel:
[code]

**Describe the results you received**
Breakout failed:

[2021-02-01 15:36] Hedgehog-Guru opened #6631 "[DPB] After breakout mode apply failed, interface switch to admin state down"
**Description**
After breakout mode apply failed, interface switch to admin state down.

**Steps to reproduce the issue**
Apply configuration like in https://github.com/Azure/sonic-buildimage/issues/6630 (this configuration example lead to breakout fail)
Configure PortChannel:
[code]
Configure VLAN;
[code]
Add interface to PortChannel:
[code]
Assing VLAN to PortChannel:
[code]
Try to breakout the

[2021-02-01 15:55] lguohan opened #6632 "teamd#tlm_teamd: :- get_dump: Can't get dump for LAG 'PortChannel999"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
https://dev.azure.com/sonicswitch/build/_build/results?buildId=2494&view=logs&j=551384a3-3c3d-5d98-9a93-ab579ce10658&t=dcc0ef7a-c27d-5084-36c2-e0f4d142c187

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `s

[2021-02-01 17:29] tahmed-dev commented on #6622
Looking.

[2021-02-01 17:32] tahmed-dev commented on #6622
The unmangled symbols is:
```apache::thrift::server::TSimpleServer::TSimpleServer(boost::shared_ptr<apache::thrift::TProcessor> const&, boost::shared_ptr<apache::thrift::transport::TServerTransport> const&, boost::shared_ptr<apache::thrift::transport::TTransportFactory> const&, boost::shared_ptr<apache::thrift::protocol::TProtocolFactory> const&)```

Looks like recent [TSimpleServer](https://githu

[2021-02-01 18:37] lguohan commented on #6632
another case. https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/2517/logs/29

[2021-02-01 18:48] judyjoseph commented on #6632
@lguohan, I am able to reproduce this locally, looing into this - thanks

[2021-02-01 18:48] tahmed-dev commented on #6622
@lguohan to solve this issue we can
1. install thrift server v0.13.0 that moved away from boost smat ptr, or
2. change our build to use std smart ptr [here](https://github.com/Azure/sonic-buildimage/blob/master/src/thrift/Makefile#L29)

I also made change ([PR:784](https://github.com/Azure/sonic-sairedis/pull/784)) to azure pipeline to pull matching boost lib to what we have in buildimage.

[2021-02-01 19:00] Staphylo commented on #6569
@vaibhavhd I'm still looking into the issue you reported.
I've had to balance out a few tasks so I haven't made as much progress as I'd like.
I'll keep you posted.

[2021-02-01 19:04] lguohan commented on #6622
it is using CXXFLAGS="-DFORCE_BOOST_SMART_PTR" , I do not quite understand the proposal here.

[2021-02-01 19:10] tahmed-dev commented on #6622
The second proposal to remove the macro definition such that it will use `std::shared_ptr`. It's been adopted in c++11.

On another note and for first proposal above, there is no 0.13.0 in Debian packaging and it was not back-ported to buster.

[2021-02-01 19:47] lguohan commented on #6622
do you know why it is added, and who?

[2021-02-01 20:02] #5929 closed

[2021-02-01 20:19] tahmed-dev commented on #6622
@stepanblyschak the boost flag was introduced via [PR:2640](https://github.com/Azure/sonic-buildimage/pull/2640/files#diff-58b852f06fd683d54ef700d479d367e58d099be7809ef6b3dcc9e0f20cc4bd7fR24) Wonder why it was forced to use boost variant?

[2021-02-01 21:39] ben-gale commented on #6459
Here's the answer I got from the team: -

"Remove SAI_OBJECT_TYPE_PORT is a port breakout/in operation. In the release in question (3.7) that’s only supported on TH.
Even on the latest release breakout/in is not supported on HX4, as it was not requested for a mgmt. switch usecase."

[2021-02-01 22:17] tbgowda opened #6636 "lldpRemManAddrTable SNMP failure due to DHCP on Mgmt interface"
**Description**

Sonic node configured with DHCP fails the SNMP query for OID : 1.0.8802.1.1.2.1.4.2 (lldpRemManAddrTable)

**Steps to reproduce the issue:**
1. Have a Sonic box connected either back-to-back or with LLDP enabled peer.
2. Remove static IP address on Mgmt interface if configured. Make sure there is no entry for MGMT_INTERFACE in config_db.json.
3. Reload lldp service
4. Query SNMP f

[2021-02-02 02:28] 119064273 commented on #6459
@ben-gale    since this operation not support on HX4,  in order to init HX4 normal, i have to remove this step in sonic ?

[2021-02-02 05:08] #6209 closed

[2021-02-02 05:40] Blueve commented on #6603
Additional testing with 201911, no issue observed.
* In that branch, the C0 udev rule has not been merged yet.
* The Kernel version is lower than 202012

[code]

[code]

[2021-02-02 05:52] prsunny commented on #6626
What is the use-case here? Why do you want to create a "default" vrf via config_db?. In current Sonic, all L3 interfaces are intended to be in default vrf if not explicitly specified. As such, there is no requirement to create default vrf.

[2021-02-02 05:53] prsunny commented on #6626
@tylerlinp for visibility.

[2021-02-02 06:03] Blueve commented on #6602
Additional information, can be reproduce on both 202012 and master image

After install the image, we can login in to the SONiC.
Run `sudo reboot`
And it will reboot forever, the log shown below

[code]

[2021-02-02 06:31] longruiliu commented on #6626
We use Management-Framework to create bgp instance,  If we don't set vrf explicitly, it will use default vrf. So, there should  have default vrf config in redis.

[2021-02-02 06:44] Blueve commented on #6603
@lguohan

Base on current investigation, consider there are two possibility:
1. The new Kernel has bug which cause the cp210x couldn't attach to usb device at first boot
1. The C0 udev rule blocked the normal process

Here is my plan:
For 1: I am not familiar how the kernel work with usb driver...But if this is the reason, I think we might not able to update kernel easily. Looking forward your sug

[2021-02-02 09:06] tim-rj opened #6640 "[iccpd] error log Failed to connect to mclag syncd: errno str Connection refused, where is the server socker be created for 127.0.0.6:2626"
**Description**

**Steps to reproduce the issue:**
1. I merge iccpd codes from master to local 201911
2. when run in device, warning log was show as below always:
[code]

**Describe the results you received:**
[code]
when run netstat   -nultp, no such socker was found.

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally)

[2021-02-02 09:07] tim-rj commented on #6640
[Uploading syslog…]()

[2021-02-02 09:08] tim-rj commented on #6640
does i miss merge something?

[2021-02-02 09:12] dmytroxshevchuk commented on #6608
duplicate of https://github.com/Azure/sonic-buildimage/issues/5343
please see fix in PR: https://github.com/Azure/sonic-utilities/pull/1198 , merged into sonic-utilities, so issue must be resolved after update submodule.

[2021-02-02 09:34] gcupryn opened #6641 "Command not working "show system-health""
**Description**
On SONiC

show version

SONiC Software Version: SONiC.master.98-dirty-20210119.070609
Distribution: Debian 10.7
Kernel: 4.19.0-9-2-amd64
Build commit: 755c7379
Build date: Tue Jan 19 07:17:32 UTC 2021
Built by: johnar@jenkins-worker-4

Platform: x86_64-arista_7170_64c
HwSKU: Arista-7170-64C
ASIC: barefoot
ASIC Count: 1

**Steps to reproduce the issue:**
1.run sudo show system-healt

[2021-02-02 09:35] gcupryn commented on #6463
Seeing similar issue with Arista box with Barefoot ASIC - https://github.com/Azure/sonic-buildimage/issues/6641

[2021-02-02 11:42] lguohan opened #6643 "telemetry#supervisord 2021-02-02 10:50:32,464 ERRO pool supervisor-proc-exit-listener event buffer overflowed, discarding event 3"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
https://dev.azure.com/sonicswitch/build/_build/results?buildId=2587&view=ms.vss-test-web.build-test-results-tab&runId=13694&resultId=100002&paneView=debug

**Describe the results you expected:**
test_telemetry_output should work

**Additional information you deem important (e.g. issue happens only occ

[2021-02-02 12:00] lguohan commented on #6643
fixed in 3f2a39d5

[2021-02-02 12:00] #6643 closed

[2021-02-02 13:27] ben-gale commented on #6459
Yes I think so.

On Mon, Feb 1, 2021 at 9:29 PM 119064273 <notifications@github.com> wrote:

--
This electronic communication and the information and any files transmitted
with it, or attached to it, are confidential and are intended solely for
the use of the individual or entity to whom it is addressed and may contain
information that is confidential, legally privileged, protected by privacy
laws

[2021-02-02 14:05] maksymbelei95 commented on #6424
Dear @Hedgehog-Guru,

I'd like to propose you a solution regarding checking of supported speeds directly for each port. The idea is to read from ASIC a list of supported speeds and store it inside related table of APPL_DB while initialization of each Ethernet port.
There are two related PRs:
1. reading of supported speeds by orchagent/portsorch and storing them into APPL_DB:
https://github.com/Azu

[2021-02-02 15:18] Hedgehog-Guru opened #6645 "[DPB] Different configuration section for interface with applied and unapplied breakout and same split mode"
**Description**
Configuration for an interface after the applying breakout has a different format in the config_db.json file.

**Steps to reproduce the issue**
1) Show configuration of the interface in config_db.json before breakout:
[code]
2) Breakout interface:
[code]
3) Unbreakout interface to 1x100G mode:
[code]
4) Save configuration
[code]
5) Check config_db.json

**Describe the results you r

[2021-02-02 16:29] slutati1536 opened #6646 "[DPB] Port state is down after breakout on a port with dependencies without force"
**Description**

configure vlan and port channel dependencies on port,
try to breakout the port without force, breakout will fail as expected.
following the configuration, multiple dockers fail on the switch and several ports(included the port on which the breakout was configured) are observed to be in downstate permanently.

**Steps to reproduce the issue:**

1. show interfaces status
2. sudo con

[2021-02-02 17:35] jleveque commented on #6641
@gcupryn: The `generate_dump` syntax error was fixed [here](https://github.com/Azure/sonic-utilities/commit/bc2d27edc2923f5096b37a727200a8427f93463e#diff-cd1f4d6a5b025b3feb648269fec7b7db4285329bea576baba3734d16b1a1b263). Can you please try building from the latest HEAD?

[2021-02-02 17:38] jleveque commented on #6641
@Staphylo, @zzhiyuan: Can you please try to reproduce this `show system-health` issue on the Arista 7170-64C?

[2021-02-02 17:53] gcupryn commented on #6641
Thanks !
I have checked on other HW running :
**SONiC Software Version: SONiC.master.107-dirty-20210128.022453**
Distribution: Debian 10.7
Kernel: 4.19.0-9-2-amd64
Build commit: aab37b7f
Build date: Thu Jan 28 09:26:28 UTC 2021
Built by: johnar@jenkins-worker-4

**Platform: x86_64-accton_wedge100bf_32x-r0**
HwSKU: montara
ASIC: barefoot
ASIC Count: 1

This time seeing this :
[code]

[2021-02-02 17:59] jleveque commented on #6641
@gcupryn: It appears as though a dump file was generated, have you examined the dump file to see if it looks OK? I'm not sure about the `Command: sensors timedout after 5 minutes.` message, but the `HW Mgmt dump script /usr/bin/hw-management-generate-dump.sh does not exist` is expected if a `hw-management-generate-dump.sh` script does not exist for the platform, and this is a newly-added feature.

[2021-02-02 18:23] gcupryn commented on #6641
Thanks @jleveque,  indeed dump file looks correct.
I will take close look(including checks on other platforms) into   ```Command: sensors timedout after 5 minutes``` if needed I will created a separate ticket.

[2021-02-02 19:26] #6569 closed

[2021-02-02 20:02] zzhiyuan commented on #6641
I was able to replicate it. However, I want to ask why is system_health using:

sonic_platform.chassis.Chassis()

and not:

sonic_platform.platform.Platform().get_chassis()

as seen here:
https://github.com/Azure/sonic-platform-daemons/blob/master/sonic-xcvrd/xcvrd/xcvrd.py#L1227

[2021-02-02 20:07] jleveque commented on #6641
Good question. @shlomibitton, @Junchao-Mellanox: Can you please answer explain why show/system_health.py does not instantiate the Platform class and obtain the Chassis object from there?

[2021-02-02 20:41] prsunny commented on #6626
ok, then this will require changes in swss to handle the new key. its a feature request!

[2021-02-02 23:51] lguohan commented on #6622
@liat-grozovik , can you take a look at the question?

[2021-02-03 00:17] #6640 closed

[2021-02-03 01:28] vaibhavhd commented on #6584
Tried with the latest SAI - `4.3.0.10-3` on 6100 platform, and _similar_ issue is still seen:

[code]

[2021-02-03 01:30] vaibhavhd commented on #6584
@gechiang does this appear to be a new SAI issue?

`Feb  2 19:56:56.585774 str-s6100-acs-2 CRIT syncd#syncd: [none] SAI_API_SWITCH:_brcm_sai_switch_assert:558 ERROR: Assertion failed: (index[1] < __brcm_sai_index2_max[type].max2) at /__w/1/s/src/arch/brcm_sai_data_mgr.c:16869
`

[2021-02-03 01:37] gechiang commented on #6584
@vaibhavhd This looks awfully familiar to the one that Ying fixed in SAI 4.2.2.4 and BRCM has not yet get back to us on the official fix for 4.3.  Perhaps it is also failing for 4.3... let me look at the source code in 4.3 and apply this same patch ouirselves if it is indeed the case...

[2021-02-03 02:13] lolyu commented on #6498
Close it since the issue is resolved in `20191130.59` and `config load_minigraph` works well.
[code]

[2021-02-03 02:13] #6498 closed

[2021-02-03 02:27] jleveque commented on #5597
Watchdogutil is now Python 3 (as is all of sonic-utilities). Thus, watchdogutil will not work on Celestica platforms until they provide a Python 3 sonic-platform package. This is being tracked by https://github.com/Azure/sonic-buildimage/issues/6068. Thus, I am closing this issue.

[2021-02-03 02:27] #5597 closed

[2021-02-03 03:00] lolyu opened #6652 "[dualtor] Incorrect TTL field for tunnel traffic"
**Description**

For the tunnel from the standby ToR to the active ToR, the TTL is in `pipe` mode.  But the TTL field in the packet received by the server doesn't match the behavior of `pipe` mode.

**Steps to reproduce the issue:**
1. Apply mux config to both active ToR and standby ToR
[code]
[code]
2. Assign ptf `eth2` with IP address `192.168.0.3/21` and add neighbor
[code]
[code]
3. Send packe

[2021-02-03 03:20] lolyu opened #6653 "[dualtor] Incorrect DSCP field for tunnel traffic"
**Description**
Incorrect DSCP field for the tunnel traffic.

**Steps to reproduce the issue:**
Same as #6652

**Describe the results you received:**
the ToS of tunnel packet is `0x2`.

**Describe the results you expected:**
the ToS should be `0x3e` same as the inner packet since the encap ECN mode is standard and DSCP mode is uniform.

**Additional information you deem important (e.g. issue happe

[2021-02-03 06:48] vaibhavhd opened #6655 "[warm-boot][SAI] syncd crash with SAI_API_SWITCH:_brcm_sai_switch_assert ERROR"
**Description**

Warm-reboot fails with syncd crash and core is seen with the latest SAI version `4.3.0.10-3` with below log seen:
`Feb  2 19:56:56.585774 str-s6100-acs-2 CRIT syncd#syncd: [none] SAI_API_SWITCH:_brcm_sai_switch_assert:558 ERROR: Assertion failed: (index[1] < __brcm_sai_index2_max[type].max2) at /__w/1/s/src/arch/brcm_sai_data_mgr.c:16869`

**Steps to reproduce the issue:**
1. Warm

[2021-02-03 07:13] zhenggen-xu commented on #6024
would you implement this?  and we will review it.

[2021-02-03 08:35] ChinaMobileNG opened #6657 "vports creation on Mellanox Spectrum didn't take effect"
**Description**

**Steps to reproduce the issue:**
1. Create vport {Ethernet0, Vlan 1000} with SAI API sai_bridge_api->create_bridge_port;
2. Create vport {Ethernet4, Vlan 1000} (any way, different port or VLAN than 1st creation) with SAI API sai_bridge_api->create_bridge_port;
3. Go to syncd docker and run the python script sx_api_ports_dump.py to check if the vports are created successfully.

**

[2021-02-03 08:53] stepanblyschak commented on #6622
@tahmed-dev @lguohan
Initially thrift 0.9.3 used boost pointers by default. With upgrade to 0.11.0 ```-DDFORCE_BOOST_SMART_PTR``` forces thrift to be backward compatible. Please see the boost usage in saithrift code: https://github.com/opencomputeproject/SAI/blob/master/test/saithrift/src/switch_sai_rpc_server.cpp#L77 which does not compile with 0.11.0 without  ```-DDFORCE_BOOST_SMART_PTR```

[2021-02-03 09:05] guking3 opened #6658 "How to use multi-db in database_config.json with multi port defined"
**Description**

**Steps to reproduce the issue:**
1.different db connect with different port to redis server
2.how to modify the database_config.json file , is the belove database_config.json defined right?
3.is it support in prent SONiC version

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occ

[2021-02-03 12:43] stepanblyschak opened #6659 "DB migration does not account mandatory entries in new init_cfg.json/FEATURE table in particular"
[sonic_dump_arc-switch1004_20210203_163415.tar.gz](https://github.com/Azure/sonic-buildimage/files/5920032/sonic_dump_arc-switch1004_20210203_163415.tar.gz)

**Description**

DB migration does not account mandatory entries in new init_cfg.json/FEATURE table in particular

**Steps to reproduce the issue:**
1. Install SONiC 201811 image and run it
2. Install SONiC 201911 image and perform warm upgra

[2021-02-03 13:07] maksymbelei95 commented on #6657
@ChinaMobileNG, I will investigate the issue.
Could I ask you to retest Steps to reproduce, perform "sudo generate_dump" and attach output of the command to the ticket? It should help to understand what is going on.

[2021-02-03 16:14] lguohan commented on #6590
@liat-grozovik , are you planning to submit pr to fix them?

[2021-02-03 16:15] lguohan commented on #6559
@praveen-li , will yang model capture such issue?

[2021-02-03 16:16] anshuv-mfst commented on #6559
Issue triage 2/3: Do we have YANG model for config checks (@praveen-li could you please provide input, thanks)

[2021-02-03 16:18] liat-grozovik commented on #6590
For those I opened git issue, no. for others I am doing 😊 silently

From: lguohan <notifications@github.com>
Sent: Wednesday, February 3, 2021 6:15 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildimage] Spelling mistakes on iccp and mlag (#6590)

@liat-grozovik<https://gith

[2021-02-03 16:19] anshuv-mfst commented on #6559
@ddashkov - could you please provide input, thanks.

[2021-02-03 16:22] volodymyrsamotiy commented on #6573
Not sure if it is the same but recently we observed similar issue, please find details below, maybe it will help if it is the same.

In issue that we observed "vxlan-decap" test itself and VxLAN funtionality are working without any issues.
Only "warmup" test case failure is seen due to other issues related to "show fdb" and "show arp" CLI commands.
It is not always reproducible and observed only i

[2021-02-03 16:23] lguohan commented on #6516
@jleveque , is the cims 4.0 eeprom decode supported or not?

[2021-02-03 16:25] anshuv-mfst commented on #6659
@jleveque - could you please provide input on this issue, thanks.

[2021-02-03 16:27] lguohan commented on #6659
@shi-su , can you check this one? it seems it affect 201811 to master as well.

[2021-02-03 16:27] anshuv-mfst commented on #6659
@stepanblyschak - could you please confirm if the issue is seen when upgrading to master, thanks.

[2021-02-03 16:28] lguohan commented on #6658
@dzhangalibaba , can you take a look?

[2021-02-03 16:31] anshuv-mfst commented on #6657
@liat-grozovik could you please take a look, thanks.

[2021-02-03 16:34] liat-grozovik commented on #6657
please provide techsupport

[2021-02-03 16:36] lguohan commented on #6636
can @abdosi take a look is it a 201911 image?

[2021-02-03 16:41] anshuv-mfst commented on #6626
Issue triage meeting 2/3: Unknown behavior, seems to be feature request.
@ben-gale could you please take a look.

[2021-02-03 16:43] lguohan commented on #6626
@longruiliu, can you explain your configuration workflow here? need to understand which module needs the enhancement? can you explain what you mean by this?

[2021-02-03 16:44] anshuv-mfst commented on #6625
@judyjoseph - could you please take a look. Thanks!

[2021-02-03 16:48] lguohan commented on #6614
do you see this issue on master image as well? we are doing master to master warm reboot continuously on kvm image and no such issue is observed. it looks like the problem here is the syncd does not respond to orchagent, can you check your syncd docker to see if it has any issue?

[2021-02-03 16:55] anshuv-mfst commented on #6596
Issue triage meeting 2/3: Need to check with barefoot team, Behavioral model was summitted by Barefoot.

[2021-02-03 17:14] mtchhor opened #6665 "Unable to query status of single interface"
On previous versions of SONIC, I was able to use the "show interface status <interface name>" to query the status for a specific interface. On 20191130.49, I am no longer able to. Rather, it shows the status for all ports, as if I didn't specify an interface. I am running SONIC on a Mellanox switch.

[code]

[2021-02-03 17:14] tahmed-dev commented on #6622
thanks @stepanblyschak! Indeed [thrift 0.11.0](https://github.com/apache/thrift/blob/0.11.0/lib/cpp/src/thrift/server/TSimpleServer.h#L43) is using `stdcxx` name that could be either `boost` or `std` and is not hard coded. In v0.13.0, `boost` use for smart pointers was removed since it was adopted in C++ standard.

Let me dig further why the mangled name differed when upgraded to boost v1.71. I am

[2021-02-03 17:35] jleveque commented on #6516
@shlomibitton (who added QSFP-DD support): Which CMIS spec is the SONiC QSFP-DD driver designed against?

[2021-02-03 17:45] liat-grozovik commented on #6499
@keboliu please suggest the fix and we will discuss it on the workgroup.

[2021-02-03 17:48] shlomibitton commented on #6516
QSFP-DD-CMIS-rev4p0

[2021-02-03 17:52] vadymhlushko-mlnx commented on #6486
The reproduce happening if you follow the next instructions:
Initial mode was `1x100G[50G,40G,25G,10G]`

1. `sudo config interface breakout Ethernet4 2x50G`
2. `sudo config interface breakout Ethernet4 1x100G`

[2021-02-03 17:59] vadymhlushko-mlnx commented on #6610
Looks like the duplicate of [Failed to unbreak out a port #6486](https://github.com/Azure/sonic-buildimage/issues/6486)

[2021-02-03 18:06] praveen-li commented on #6631
https://github.com/Azure/sonic-utilities/pull/1303 Solves this. Let me try to expedite the review.

[2021-02-03 18:13] praveen-li commented on #6630
-- Kindly provide full configuration,

-- Also run all breakout commands with -v option as below:
[code]

-- Provide syslogs around the same time as shown in the date command above. Thx.

[2021-02-03 18:28] zhenggen-xu commented on #6645
It seems you have two modes defined in platform.json:  "1x100G[50G,40G,25G,10G]" and "1x100G", and if you set to 1x100G, it will be saved as 1x100G. So this is expected. Closing it.   Feel free to re-open if needed.

[2021-02-03 18:29] dzhangalibaba commented on #6658
better to use different socket as well. Above json looks good, current SONIC support it.

[2021-02-03 18:40] shi-su commented on #6659
It seems that the FEATURE table does not show up in init_cfg.json, and the format of the file does not seem to come from the template file. I checked the files in 20191130.58 image and master image, both look normal. Is it possible that this file has ever been replaced?

[2021-02-03 19:16] jleveque commented on #6516
@shlomibitton: Thanks for the quick reply. So the spec should be supported. Are you able to reproduce this issue with a CMIS 4.0 compliant QSFP-DD module?

[2021-02-04 01:36] vaibhavhd commented on #6453
@VenkatCisco, I don't know if you can disable warm-reboot altogether. If you want, you can still do cold reboot.
What is the issue that you had noticed? Were you trying to warm upgrade from 201811 to 202012?

This error should not be seen if you are trying to warm-reboot from 202012 to 202012 image.

[2021-02-04 01:53] longruiliu commented on #6626
We use Broadcom's [sonic-mgmt-framework](https://github.com/project-arlo/sonic-mgmt-framework/commits/broadcom_sonic_3.x_share)，which provides CLI to control SONiC. In sonic-mgmt-framework,if we want to create bgp instance, we use these command "sonic(config)# router bgp XXX", we don't set the vrf of bgp XXX, it will use the default vrf,if these's no default vrf config in redis, it will report an

[2021-02-04 02:18] bingwang-ms opened #6675 "[rsyslog] rsyslogd is flooding ERR and WARNING after system startup"
**Description**

```rsyslogd``` is flooding ERRs and WARNINGs after system startup

[code]
The logs usually keeps flooding for a few seconds after system startup. It's possibly caused by some unready service. Could we supress these ERRs and WARNINGs?

[syslog.45.gz](https://github.com/Azure/sonic-buildimage/files/5922735/syslog.45.gz)
[syslog.34.gz](https://github.com/Azure/sonic-buildimage/files/

[2021-02-04 02:31] bingwang-ms opened #6676 "[pcie-check.sh] Incorrect command in pcie-check.sh"
**Description**
```pcie-check.sh``` is reporting errors because incorrect command.
[code]
It's because PR #1297 updated subcommand of pcieutil, but ```pcie-check.sh``` script is not updated yet.

**Steps to reproduce the issue:**
1. Run ```pcie-check.sh```
2.
3.

**Describe the results you received:**
No errors should be seen.

**Describe the results you expected:**
Errors are observed when runnin

[2021-02-04 03:41] ChinaMobileNG commented on #6657
Hi, already updated the ticket, please check

[2021-02-04 03:50] ChinaMobileNG commented on #6657
@liat-grozovik Hi, do you mean the output message of command "show techsupport" ?
[techsupport.txt](https://github.com/Azure/sonic-buildimage/files/5923045/techsupport.txt)

[2021-02-04 07:15] Hedgehog-Guru commented on #6645
Hi,
In attachment platform.json file. This file does not contain two different modes - with and without section in square brackets.
Arguments to reopen this issue:
1) Configuration parsing system should correctly input the right parameters to configuration files if CLI with different input options allowed. For example, if the command has a short and long version of the CLI command - the written li

[2021-02-04 08:28] Hedgehog-Guru commented on #6645
@zhenggen-xu could you please take a look

[2021-02-04 09:22] maksymbelei95 commented on #6657
@ChinaMobileNG , I'm sorry, but I meant you to attach the result archive, which should be generated by the system and placed here: `/var/dump/<DEVICE_HOST_NAME>_YYYYMMDD_HHMMSS.tar.gz`
I think @liat-grozovik meant the same.
According to output of command `show techsupport`, the archive is here: `/var/dump/sonic_dump_sonic_20210204_034330.tar.gz`
Could I ask you to attach it to the ticket?

[2021-02-04 12:14] stepanblyschak opened #6684 "SONiC components versioning feature"
# SONiC Versioning Feature

## Motivation

1. Reflect breaking changes and new features, bug fixes in component version
2. Determine compatibility of a component with other components
3. Determine dependencies of a component on a features from other components

## Proposal

SONiC uses semantic versioning (https://semver.org) rules.
SONiC component version consists of crucial parts:
        - Major

[2021-02-04 14:18] Hedgehog-Guru commented on #6645
@anshuv-mfst , I was not able to re-open the bug.
Please extend rights for my account in order to have the ability to reopen at least my bugs :-)
Thanks.

[2021-02-04 17:23] lguohan commented on #6621
https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/2745/logs/53

[2021-02-04 17:52] shlomibitton commented on #6516
@jleveque I don't see it with our cables

root@sonic:/home/admin# show interfaces transceiver eeprom Ethernet0 -d
Ethernet0: SFP EEPROM detected
        Application Advertisement: 400GAUI-8 C2M (Annex 120E) - Active Cable assembly with BER < 2.6x10^-4
				   IB EDR (Arch.Spec.Vol.2) - Active Cable assembly with BER < 5x10^-5
				   IB QDR (Arch.Spec.Vol.2) - Active Cable assembly with BER < 10^-12

[2021-02-04 18:45] tahmed-dev commented on #6622
@Junchao-Mellanox, @daall was the issue seen with RPC syncd built after [PR:6649](https://github.com/Azure/sonic-buildimage/pull/6649) got merged and syncd compiled with that PR?

[2021-02-04 19:59] tbgowda commented on #6516
Thank you for looking at this issue. It is a very interesting observation.

Could it be possible to dump the EEPROM of the INNOLIGHT optics above and match it against the spec? One of the things I looked at was to check if the optics is indeed compliant with rev 4.0 and look for the Vendor Name offset, which is different for non 4.0 CMIS spec. Also, could you try this out with 201911 drop?

000000

[2021-02-04 20:14] #6676 closed

[2021-02-04 21:52] venkatmahalingam commented on #6626
Please ignore VRF table event with default key in VRFmgrd, also, we have a code in place to implicitly populate VRF|default during mgmt-framework initialization, so, explicit VRF|default creation in config-DB is not required, VRF|default was required to meet the YANG leafref requirement i.e BGP global table refers the VRF table, hope this helps.

[2021-02-04 22:04] venkatmahalingam commented on #6626
Also, @longruiliu https://github.com/project-arlo/sonic-mgmt-framework/commits/broadcom_sonic_3.x_share is not a SONiC community code, when we (Broadcom/Dell) upstream the changes, we'll have the relevant changes (including vrfmgrd change for this crash) in the Azure master, but for now, you can work with the workaround, hope this helps.

[2021-02-05 00:31] #6520 closed

[2021-02-05 01:14] Junchao-Mellanox commented on #6622
I verified with hash aae9664, the issue is still there.

[code]

[2021-02-05 01:47] longruiliu commented on #6626
@venkatmahalingam
We don't create default vrf manually,we use the code you are mentioned,these steps are just for reproduce this issue for SONiC.If we don't use management-framework, and add default vrf config to configDB,it will cause this issue too.

[2021-02-05 01:50] longruiliu commented on #6626
Do you have a plan to merge broadcom_sonic_3.x_share  codes to SONiC community?

[2021-02-05 01:57] venkatmahalingam commented on #6626
There is no requirement to create VRF|default in the community code now, we can add the defensive check to ignore the default VRF event in vrfmgrd incase if someone mistakenly adds the VRF default entry in the config DB, but I'll leave this decision to @lguohan and @prsunny

[2021-02-05 01:59] venkatmahalingam commented on #6626
Yes, there is a plan, this is part of the ongoing effort to upstream various features developed by Dell and Broadcom to the SONiC community.

[2021-02-05 03:08] #6572 closed

[2021-02-05 03:13] Tsingsoon opened #6687 "[Warm-reboot] Warm-reboot failed due to debug counter configuration"
When l config debug counter before Warm-reboot, the system failed to reload because can't transfer new vid (of debug counter) to rid.In fact, the vid in TEMP table is in VIDTORID.I noticed that other modules will also generate the new vid, but it won't call transfer vid to rid function.
So,I want to know if debug counter supports Warm-reboot?

[2021-02-05 05:55] #6599 closed

[2021-02-05 09:35] lguohan commented on #6617
nss_tacplus.c

if i commented line 492 - 495, then the problem disappear. so the problem is that nss call usermod, and at that time the /etc/passwd is locked. so, the question is do we need to call this during sudo.

[code]

[2021-02-05 10:14] Hedgehog-Guru commented on #6630
@praveen-li all required information in the attached dump file.

[2021-02-05 12:01] MaxYaremchuk commented on #3971
Bug has been fixed.
Verified on:
[code]

[2021-02-05 12:01] #3971 closed

[2021-02-05 13:01] Hedgehog-Guru commented on #6428
Issue has been fixed.
Verified on:
<pre>
SONiC Software Version: SONiC.SONIC.202012.7-e6c98ea_Internal
Distribution: Debian 10.7
Kernel: 4.19.0-9-2-amd64
Build commit: e6c98eab
Build date: Thu Jan 28 13:55:06 UTC 2021
Built by: sw-r2d2-bot@r-build-sonic-ci02
</pre>

[2021-02-05 13:01] #6428 closed

[2021-02-05 13:43] Hedgehog-Guru opened #6693 "Config utility allows incorrect values for ip/mask and system crashes after apply."
**Description**
Config utility allows configuration (insertion into db) incorrect values for ip/mask and after the apply system crashed.

**Steps to reproduce the issue**
1) Input incorrect IP/MASK configuration:
[code]
2) Save configuration and verify config_db.json

**Describe the results you received**
Configuration excepted and saved to config_db.json, system crashes.

[code]
**Describe the re

[2021-02-05 13:50] Hedgehog-Guru commented on #6427
Issue has been fixed.
Verified on:
[code]

[2021-02-05 13:50] #6427 closed

[2021-02-05 15:16] ben-gale commented on #6549
Per @kwangsuk, this is a Python 3 thing. This PR fixes it - [(https://github.com/Azure/sonic-mgmt-framework/pull/76)] - however  [https://github.com/Azure/sonic-buildimage/pull/6148] is also needed, and this still hasn't merged.

[2021-02-05 16:19] lguohan opened #6694 "build failure: gzip: stdin: unexpected end of file"
**Description**

**Steps to reproduce the issue:**
https://dev.azure.com/sonicswitch/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/2984/logs/18

**Describe the results you received:**

**Describe the results you expected:**
expect build pass

suspect the cache race condition, maybe generating the cache for rw job and read the same file.

**Additional information you deem important (e.g.

[2021-02-05 19:03] lguohan commented on #6617
looks like the change is made in this pr. https://github.com/Azure/sonic-buildimage/pull/1804

[2021-02-05 19:43] lguohan commented on #6617
here is the call flow difference between the original code and sonic code.
[code]

[2021-02-05 20:05] prsunny opened #6697 "'show ip bgp summary' returns failure in certain cases"
**Description**

With SLB routes present, 'show ip bgp summary' is returning 'AddressValueError'. It looks like the issue happens if output has asterisks. (Details below)

**Steps to reproduce the issue:**
1. Run bgp speaker test
2. While test announce routes, login to dut and execute 'show ip bgp summary'
3.

**Describe the results you received:**

[code]

VTYSH output
=========

[code]

**Descri

[2021-02-05 20:14] prsunny commented on #6697
@rlhui , @abdosi for viz

[2021-02-05 22:18] mrhuanle opened #6698 "`telemetry_vars.j2` generates single-quoted (and invalid JSON) string"
Hello all,

I suspect the template `telemetry_vars.j2` generates an invalid JSON string that caused `telemetry.sh` to fail.

The suspected line of code is [`dockers/docker-sonic-telemetry/telemetry_vars.j2:L3`](
https://github.com/Azure/sonic-buildimage/blob/d4b852abd2006dce47e2ab4871567521d96f899d/dockers/docker-sonic-telemetry/telemetry_vars.j2#L3).

To generate a double-quoted JSON string, perh

[2021-02-06 01:37] mrhuanle commented on #6698
Close the issue as this may have been addressed in `telemetry.sh` at
[code]

[2021-02-06 01:37] #6698 closed

[2021-02-06 05:31] zhenggen-xu commented on #6645
Understood the need of the fix if that was what happened.  If you only have `1x100G[50G,40G,25G,10G]`, the below CLI command should fail:
config interface breakout Ethernet96 1x100G

Can you confirm if that succeed with the platform.json you attached?   If so,  @samaity can take a look.

[2021-02-06 05:51] zhenggen-xu commented on #6024
After the last DPB subgroup meeting with the example config_db.json.  It was noted that some of the tables like PORT_CHANNEL table member has invalid name.  After checking the code, it turned out to be in the flow from minigraph to configDB translation.  Minigraph takes the alias as input, in this case `etp1`, and trying to translate to PORT_NAME into config_db.json, since platform.json do not hav

[2021-02-06 20:27] #6617 closed

[2021-02-06 21:46] #6391 closed

[2021-02-06 22:41] lguohan commented on #6694
https://dev.azure.com/mssonic/build/_build/results?buildId=3150&view=logs&j=83516c17-6666-5250-abde-63983ce72a49&t=c10d5f44-55ce-55d7-7975-407ed75d9a96

[2021-02-07 01:29] zhenggen-xu commented on #6024
@samaity Will work on the changes.

[2021-02-07 01:34] lguohan opened #6708 "ERR sniffer: :- initializeGlobalConfig: Sonic database config global file doesn't exist at /var/run/redis/sonic-db/database_global.json"
**Description**

**Steps to reproduce the issue:**
https://dev.azure.com/mssonic/build/_build/results?buildId=3077&view=ms.vss-test-web.build-test-results-tab&runId=35866&resultId=100000&paneView=debug

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version`

[2021-02-07 01:35] lguohan commented on #6708
@qiluo-msft , can you talk a look, are we missing something?

[2021-02-07 07:20] lguohan commented on #6708
i found all issue appear in this pr. https://github.com/Azure/sonic-buildimage/pull/6679

so, i think it is still pyswsssdk conversion problem. can you take a look? the pr #6679 is still blocked.

[2021-02-07 12:31] nazariig opened #6711 "[vs]: docker-syncd-vs.gz build constantly fails"
**Description**

docker-syncd-vs.gz build constantly fails because of unmet dependencies:
https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/docker-syncd-vs/Dockerfile.j2#L11
[code]

**Steps to reproduce the issue:**
1. git clone https://github.com/Azure/sonic-buildimage.git
2.  git submodule update --recursive --init --progress
3. make target/docker-syncd-vs.gz

**Describe the resu

[2021-02-07 12:36] nazariig commented on #6711
The potential fix is to add `--allow-downgrades`, still need to revisit the logic behind of overriding the packages from `docker-config-engine-buster`

[2021-02-07 16:16] nazariig commented on #6711
The same issue is here: https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/docker-gbsyncd-vs/Dockerfile.j2#L11

[2021-02-07 22:01] qiluo-msft commented on #6708
ACK

[2021-02-07 23:31] lguohan commented on #6708
i grep the repro, i can only find sniffer in sonic-utilties, which is related to mellanox, i am not sure why it appears on kvm platform.

[2021-02-08 01:54] Blueve opened #6717 "[Build Artifacts] Azure Devops Pipeline generate compact artifacts only"
**Description**

I notice that we have migrate some of our build pipeline from Jenkins to Azure Devops Pipeline, the UI and UX is great, but the artifacts distribution behaviors changed.

All the artifacts are compact in one package which means we are no longer to:
1. Download/share the image link
2. View the image checksum

Here is one example: https://dev.azure.com/mssonic/build/_build/results?b

[2021-02-08 03:51] #6711 closed

[2021-02-08 07:01] Hedgehog-Guru commented on #6645
Command succeed with the attached platform.json:
[code]

[2021-02-08 11:42] slutati1536 opened #6720 "[DPB] "[ERROR] Port breakout Failed" when configuring consecutive breakouts on ports with dependencies"
**Description**

when configuring multiple breakouts one after the other with force on ports that have dependencies, we get the following error:
" [ERROR] Port breakout Failed!!! Opting Out
Failed to break out Port. Error:"
and the feature is stops working.

when configuring the breakout with 3 seconds delay this error doesn't reproduce.

**Steps to reproduce the issue:**

1. sudo config vlan add

[2021-02-08 12:12] slutati1536 opened #6721 "port-channel configuration dependency is not removed from port after breakout"
**Description**

when configuring a breakout on port with VLAN and port-channel dependencies with force, VLAN configuration is removed from the port (as expected) but the port-channel configuration is not removed.

**Steps to reproduce the issue:**

1. sudo config portchannel add PortChannel0001
2. sudo config portchannel member add PortChannel0001 Ethernet212
3. sudo config vlan add 1536
4. sudo

[2021-02-08 12:43] slutati1536 commented on #6646
duplicate of https://github.com/Azure/sonic-buildimage/issues/6631, I close the issue.

[2021-02-08 12:43] #6646 closed

[2021-02-08 13:28] slutati1536 opened #6722 "[DPB] | printed output for dependencies on a port is unclear"
**Description**

1. printed output for dependencies on a port is unclear, not all the dependencies are printed, and when configuring breakout with force there is no dependencies list printed as a warning.
2.  the word "Dependecies" in output is misspelled. Dependecies -> Dependencies
3. "Do you wish to Continue? [y/N]:" appears twice in the output, which means the flag  -y isn't serving its purpos

[2021-02-08 16:19] lguohan commented on #6655
@vaibhavhd, do we have csp opened for this one?

[2021-02-08 16:25] kcudnik commented on #6509
try using "redis-cli monitor"

[2021-02-08 17:03] prsunny commented on #6626
Currently there is no CLI command to configure 'default' vrf. Also, since this is intended to be handled in sonic-mgmt-framework, I don't think we need to add extra defensive check in vrfmgrd.

[2021-02-08 17:19] vaibhavhd commented on #6655
There are two issues captured here:
1. ` CS00011729363`  handled the `_brcm_sai_switch_assert` failure and stacktrace seen above. This issue is not seen anymore in the latest public image.
2. `processBufferPool: Failed to modify buffer pool` still is an open issue. I need to confirm if this is broadcom issue or sonic image issue.

[2021-02-08 17:58] shi-su commented on #6509
It seems that `redis-cli monitor` opens a monitor that starts to record new incoming redis activities. I doubt if we could get the history of the redis activities since running monitor seems to significantly reduce the efficiency of redis. Is it possible to get some useful information from the history without running `redis-cli monitor`? Otherwise, I will probably have to try reproducing this cras

[2021-02-08 18:10] vaibhavhd opened #6723 "[warmboot] syncd warmstart error: Invalid sai_api_t passed to sai_api_query"
**Description**
syncd warmstart (after issuing device warm-reboot) throws error `SAI_API_UNSPECIFIED:sai_api_query:410 Invalid sai_api_t 45 passed to sai_api_query`

**Steps to reproduce the issue:**
1. Warm-reboot the DUT
2. Check syslog
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only o

[2021-02-08 18:55] vaibhavhd opened #6724 "syncd performWarmRestartSingleSwitch: failed to create switch RID: SAI_STATUS_INVALID_PARAMETER"
**Description**
syncd warmstart (after issuing device warm-reboot) fails with `performWarmRestartSingleSwitch: failed to create switch RID: SAI_STATUS_INVALID_PARAMETER for VID oid:0x21000000000000`
This further leads to Orchagent crash: `meta_sai_on_switch_shutdown_request: switch_id oid:0x0 is of type SAI_OBJECT_TYPE_NULL, but expected SAI_OBJECT_TYPE_SWITCH`

Orchagent core is also generated as

[2021-02-08 19:29] kcudnik commented on #6509
if you would run this with system start in background, we could at least confirm what commands is clearing bd

[2021-02-08 19:31] vaibhavhd commented on #6723
This issue is also seen on S6100 T0 device.

[2021-02-08 19:54] daall opened #6725 "system port initialization failure raised on non-VOQ based systems"
**Description**
When orchagent starts on non-VOQ/pizza box systems, we see errors in the log because we're not able to get the number of system ports, like so:
[code]

**Steps to reproduce the issue:**
1. Start orchagent (restart swss container, config reload, etc.) on a non-VOQ system
2. Check syslog

**Describe the results you received:**
[code]

**Describe the results you expected:**
There shou

[2021-02-08 19:55] #6708 closed

[2021-02-08 20:20] vaibhavhd commented on #6724
This issue is seen on TD3 platform and not seen on TH (S6100 T0) with same SONiC version on both:

[code]

[code]

[2021-02-08 20:58] vaibhavhd opened #6726 "syncd translateVidToRid failures for ingress and egress buffer pools"
**Description**
After Orchagent state changes to initialized, syncd throws errors in translating VID to RID for OIDs - `egress_lossless_pool`, `egress_lossy_pool` and `ingress_lossless_pool`.

This further leads to failures when syncd executes operations on ASIC with errors for the 3 pools with:
`api SAI_COMMON_API_SET failed in syncd mode: SAI_STATUS_ATTR_NOT_IMPLEMENTED_0`

Ultimately, this caus

[2021-02-08 20:58] venkatmahalingam commented on #6626
OK, thanks, hope we can close this bug.

[2021-02-08 21:01] vaibhavhd commented on #6655
Closing this issue as there is a PR linked to this issue which fixes the `_brcm_sai_switch_assert` failure seen.
The second issue (failure in modifying buffer pool) will be separately tracked here https://github.com/Azure/sonic-buildimage/issues/6726

[2021-02-08 21:01] #6655 closed

[2021-02-08 21:55] vaibhavhd opened #6727 "PortsOrch init error: SAI attr SAI_SWITCH_ATTR_NUMBER_OF_SYSTEM_PORTS not supported"
**Description**

PR https://github.com/Azure/sonic-swss/pull/1431 made changes in PortsOrch for system ports init/addition. `getSystemPorts` call fails https://github.com/Azure/sonic-swss/blob/master/orchagent/portsorch.cpp#L401.

Errors seen in PortsOrch initialization: `ERR swss#orchagent: :- getSystemPorts: Failed to get number of system ports, rv:-2`
Sairedis recording reports `SAI_STATUS_NOT_

[2021-02-08 21:56] zhenggen-xu commented on #6645
@samaity  Please take a look, it seems to be a simple matching issue in CLI where we should match the whole string instead.

[2021-02-08 22:14] kcudnik commented on #6726
Those translations are related to collecting stats, are you sure that those objects were still available and VIDTORID map was intact after warm boot ?

[2021-02-08 22:19] kcudnik commented on #6726
from logs, whats happening look here:
syncd: :- executeOperationsOnAsic: operations to execute on ASIC: 56

at this point syncd is not yet fully translated to new view generated via orchaged, and  those oids that you have there at this point they maybe invalid, for example:
"OA warm booted, and created new asic VIEW, and this asic view contains new buffer pools which needs to be matched during app

[2021-02-08 23:55] vaibhavhd commented on #6584
This issue (`addOperation: Error adding tunnel map entry`) is not seen in latest public master image. This has been reportedly fixed in SAI 4.3.

[2021-02-08 23:55] #6584 closed

[2021-02-09 02:42] ChinaMobileNG commented on #6657
@maksymbelei95 got, but the archive is too big (170+ M) to attach it here

[2021-02-09 04:01] #5819 closed

[2021-02-09 04:01] #6437 closed

[2021-02-09 08:43] lguohan commented on #6727
make it as info level. i do not think it deserve error log. 202012 does not have this code.

[2021-02-09 09:30] vaibhavhd commented on #6726
Just attached the logs to the ticket. From the sairedis recording, I do see these objects after warmreboot, for example:

[code]

[2021-02-09 13:25] richawil commented on #6135
In the sonic-mgmt/spytest/tests/routing/BGP/test_bgp_fast_reboot.py file, the vtysh is used to configure BGP neighbors. If such configuration is not supported, why is it being used in this file?

[2021-02-09 14:23] kcudnik commented on #6726
yes, this is exactly what i mentioned, those objects are created between INIT_VIEW and APPLY_VIEW, so actual VID is not matched yet with existing object, or new one would need to be created.
clear_stats needs to be called after APPLY_VIEW, that will solve the issue
as for other not implemented stuff, that errors are returned from SAI vendor

[2021-02-09 15:04] richawil commented on #6135
FRR is also used to configure BGP neighbors in sonic-mgmt/spytest/tests/routing/test_ip.py

[2021-02-09 19:15] abdosi commented on #6737
There are two issues here:

First the LLDP docker when setting the command "configure system ip management pattern"  uses MGMT_INTERFACE.keys() which can be any order of v4 and v6 Management IP .

Second SNMP currently only handles v4 Management Address
https://github.com/Azure/sonicsnmpagent/blob/3885f193be05099659808092d22c5f69407cdda4/src/sonic_ax_impl/mibs/ieee802_1ab.py#L323

We are looking i

[2021-02-09 23:01] vaibhavhd commented on #6726
Two issues here:
1. `translateVidToRid` errors  (as explained above) are due to `processClearStatsEvent` event being called before `APPLY_VIEW` - I will work on this.
2. `SAI_STATUS_ATTR_NOT_IMPLEMENTED_0` messages for buffer pool objects are due to the changes made in the PR https://github.com/Azure/sonic-swss/pull/1338.
The buffer pool objects that are reported as not implemented have been now m

[2021-02-09 23:27] vaibhavhd commented on #6724
@gechiang this appears to be a new SAI issue in TD3 causing runtime error during syncd init and swss crash:

[code]

[2021-02-09 23:33] vaibhavhd commented on #6723
@gechiang this one also seems to be related to new SAI. At this point, this error particularly, does not seem to be causing any crash or failure. The sync init completes after this in 6100, and warmboot sequence proceeds normally.

[code]

[2021-02-10 10:26] #6622 closed

[2021-02-10 12:54] #6727 closed

[2021-02-10 14:15] #6603 closed

[2021-02-10 14:19] lguohan opened #6750 "build kvm failure: telnet: Unable to connect to remote host: Connection refused"
**Description**

**Steps to reproduce the issue:**
https://dev.azure.com/mssonic/build/_build/results?buildId=3464&view=logs&j=5562265b-363f-5c64-5cff-7b508c285721&t=a6f2aaf4-4d30-50c0-c491-b0c5bd079658

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

    **Output of `show version

[2021-02-10 17:13] zhenggen-xu commented on #6608
https://github.com/Azure/sonic-buildimage/pull/6681

[2021-02-10 17:13] #6608 closed

[2021-02-10 19:49] shi-su opened #6754 "[Fast reboot] Fast reboot regression since 201911 branch"
**Description**
Fast reboot is experiencing regression since 201911 branch

**Steps to reproduce the issue:**
1. Run fast-reboot test with image later than 201911
2.
3.

**Describe the results you received:**
Data-plane downtime is longer than the fast-reboot limit of 30 seconds

**Describe the results you expected:**
Data-plane downtime below the 30-second limit

**Additional information you deem

[2021-02-10 19:50] shi-su commented on #6754
@yxieca for visibility

[2021-02-10 21:11] tahmed-dev opened #6758 "muxcable: Inconsistent Mux Stat Reported"
**Description**

During testing on dual-ToR setup with two muxes, both ToRs were rebooted. It was noticed that xcvrd reported MUX state as active for one cable on both sides. The issue was observed on both muxcables once and so it might have some time element to it.

The issue will result in lost of tunnel from standby cable to active cable. This will render the service flaky. The condition that t

[2021-02-10 21:21] pguibert6WIND commented on #5445
it looks like attachment contains a zebra core. which version are you using ?
also, why are you referring to 7745 ? is there a relation ship with this issue? (for isntance, does your bgp aggregate command take time, even if you have no full routes?)

[2021-02-10 21:32] tahmed-dev opened #6761 "dual tor: Initialization Loop Detected Among Gemini Components"
**Description**

Dual ToR initialization requires muxcable to be active on one ToR and standby on peer ToR when the mux is healthy.
When orchagent goes bad as noticed in the lab dues to h/w vendor SAI bug, it fails to create/tear down tunnels and put overall mux state as unknown. Linkmgrd during initialization, reads the overall mux state and when it finds unknown (no tunnel created,) it probes xc

[2021-02-11 02:57] prsunny opened #6766 "[restapi] check for duplicate vni value"
**Description**

In the current implementation, same VNI values are allowed for different virtual networks. This is not a supported feature as there could only be one VNI<->VRF mapping.
Recommend to  check for duplicate vni value and return failure to controller. This can be treated as an invalid config

**Steps to reproduce the issue:**
1. Configure two vrouter with same vni value
2.
3.

**Descri

[2021-02-11 09:12] Hedgehog-Guru commented on #6630
HI @praveen-li, the output with required format:
[code]
Also attaching syslog for the same time.
[syslog_lab_vlan_dpb.txt](https://github.com/Azure/sonic-buildimage/files/5964041/syslog_lab_vlan_dpb.txt)

[2021-02-11 14:01] d-dashkov opened #6769 "Orchagent errors in case of deleting a vlan that has IP addresses."
#### Description
There is no validation of the attached IP addresses when deleting vlan

#### Steps to reproduce the issue:
1. config vlan add 20
2. config int ip add Vlan20 100.0.0.20/24
3. config vlan del 20

#### Describe the results you received:
[code]

#### Describe the results you expected:
There should be no errors in the system log when deleting Vlan with IP address.

#### Output of show

[2021-02-11 18:12] nazariig commented on #6563
@volodymyrsamotiy / @liat-grozovik we still see a lot of warning on latest `202012`:
[code]

[2021-02-11 18:17] nazariig commented on #6563
@lguohan / @PrabhuSreenivasan FYI. There is swss crash observed due to last CRM changes:

[code]

**Codebase:**

https://github.com/Azure/sonic-swss/blob/202012/orchagent/crmorch.cpp#L433
[code]

https://github.com/Azure/sonic-swss/blob/202012/orchagent/crmorch.cpp#L440
[code]

https://github.com/Azure/sonic-swss/blob/202012/orchagent/crmorch.cpp#L470
[code]

**Conclusions:**

Seems like the issue

[2021-02-11 19:28] vaibhavhd opened #6772 "warmboot cancelled - vxlanmgrd warm-start reconciliation failed in previous warmboot"
#### Description

After warm-reboot:
1. Processes start doing warmstart.
2. The common warm-start states are `initialized` -> `replayed` -> `reconciled`
2. `vxlanmgrd` is one such process, but it continuously (for > 10mins) fails  to reconcile Orchagent.
3. `WARMBOOT_FINALIZER` reports that orchagent is not reconciled, but goes ahead with `Finalizing warmboot`.
4. After some time, a new warm reboo

[2021-02-11 21:45] vaibhavhd opened #6773 "Multiple LAG flaps are noticed after warm reboot"
#### Description

Warmboot proceeds as expected, and LAG interfaces and members are also added as expected.
After  `WARMBOOT_FINALIZER` finishes, there is a system reload! (need to confirm and RCA this)

#### Steps to reproduce the issue:
1. Run warm reboot test.
2. Test fails consistently reporting 2(or more) LAG  flaps.
3.

#### Describe the results you received:
Test failure log:
[code]

Syslog

[2021-02-11 22:49] abdosi commented on #6636
@tbgowda

For the MIB snmpwalk -v 2c -c public 1.0.8802.1.1.2.1.4.2 (Remote Peer)  the data is generated from table LLDP_ENTRY_TABLE from APPDB . Can you provide o/p of that table when issue is seen .

Above information is for Local Table/Mib.

[2021-02-11 23:53] abdosi commented on #6737
cherry-pick https://github.com/Azure/sonic-buildimage/pull/5699 to 201911. This should fix this issue.
@vadymhlushko-mlnx  can you re-verify and confirm ?

[2021-02-12 01:04] lguohan commented on #6761
1. orchagent write the unknown|error.
2. orchagent write to the state db every time the linkmgr write to appdb.

note: linkmgr will ignore mux_state same db update, and log such unsolicited response.

[2021-02-12 10:27] d-dashkov commented on #6052
Hello,
I have stumbled upon this issue while trying to setup DHCP relay on Mellanox SN2700.
Packages do not reach the DHCP server from the client.
[code]
I researched that DHCP discovery packets are dropping on the interface and not even getting into Vlan 20($ tcpdump -i Vlan20 port 67 or port 68 -e -n -vv).
Also, if I tried to generate a DHCP packet on Vlan20($ dhclient -v Vlan20), it did not com

[2021-02-12 11:14] Hedgehog-Guru commented on #6421
Bug has been fixed.
Verified on:
[code]

[2021-02-12 11:14] #6421 closed

[2021-02-12 11:24] Hedgehog-Guru commented on #6426
Bug has been fixed.
Verified on:
[code]

[2021-02-12 11:24] #6426 closed

[2021-02-12 11:58] Hedgehog-Guru opened #6776 "Inability to remove IPv6 address. IPv6 address is assigned on interface with leading zeros although all leading zeros were omitted when IPv6 was being assigned using CLI command."
**Description**
After assigning IPv6 address to the interface with leading zeros it is not possible to remove IPv6 address without leading zero in the remove IPv6 command.
Some times IPv6 address is assigned on interface with leading zeros ([[https://en.wikipedia.org/wiki/Leading_zero]]) although all leading zeros were omitted when IPv6 was being assigned using CLI command.
It can be confusing for

[2021-02-12 16:52] ppikh commented on #6053
Hi,

Issue reproduces again on next images:
Master branch based image: 4c8bff6
201911 branch based image: 4742eaac
202012 branch based image: 5fe83529

[2021-02-12 19:15] prsunny commented on #6772
@srj102, can you please take a look at this issue. It would have been caused by https://github.com/Azure/sonic-swss/pull/1266. You could also check on the recent discussion on https://github.com/Azure/sonic-swss/pull/1556#issuecomment-777912552 and remove this orchagent dependency.

[2021-02-12 21:35] gechiang commented on #6171
Already Fixed by https://github.com/Azure/sonic-utilities/pull/1396

[2021-02-12 22:45] arlakshm commented on #6697
This issue is fixed in this PR https://github.com/Azure/sonic-utilities/pull/1194. This PR is now included in 201911. Closing this issue.

[2021-02-12 22:45] #6697 closed

[2021-02-12 23:09] anshuv-mfst commented on #6171
@anamehra - please re-test and close this issue.

[2021-02-13 11:46] PrabhuSreenivasan commented on #6563
Hi @nazariig,  Understood the problem. Will push a fix.

[2021-02-13 20:20] caizhenghui-juniper opened #6778 "Build break for 201911 branch"
#### Description
Build break for 201911 branch

#### Steps to reproduce the issue:
1. Try to build any target for 201911 branch with SNMP enabled.

#### Describe the results you received:
Build failure with
distutils.errors.DistutilsError: Setup script exited with error: package directory 'find_namespace:' does not exist
When building target/python-wheels/asyncsnmp-2.1.0-py3-none-any.whl

#### Des

[2021-02-14 07:42] liat-grozovik commented on #6659
the file is not replaced.
it is an upgrade via warmboot from 201811 to 201911

[2021-02-14 18:11] raphaelt-nvidia opened #6781 "PortChannel creation with out of range(0-255) value of "min-links", leads to Exception during update_data()"
#### Description

Creating a portchannel with an invalid value for min-links results in repeated errors in the log, as well as a stack dump when executing "show interfaces portchannel".

#### Steps to reproduce the issue:
1. config portchannel add PortChannel10 --min-links 256

#### Describe the results you received:

show logging:

Feb 10 11:19:27.156197 r-lionfish-07 ERR snmp#snmp-subagent [ax_i

[2021-02-15 16:02] maksymbelei95 commented on #6781
Took into investigation.

[2021-02-15 18:09] #6563 closed

[2021-02-16 10:04] d-dashkov commented on #6776
Hi,
This PR: https://github.com/Azure/sonic-utilities/pull/1414 should prevent leading zeros in configuration

[2021-02-16 14:02] volodymyrsamotiy commented on #5822
Fixed in latest master/202012/201911 branches

[2021-02-16 14:02] #5822 closed

[2021-02-16 14:56] Hedgehog-Guru opened #6791 "[sflow] Invalid sflow interface admin state keyword returned"
#### Description

"show sflow interface" output contain "up" and "down" keywords for Admin State, but according to HLD it should be "Enabled" / "Disabled".

#### Steps to reproduce the issue:

1. Enable sflow globally
[code]
2. Disable sflow for one of interfaces just to check state in the following output
[code]
3. Check output the per interface sflow state
[code]

#### Describe the results you r

[2021-02-16 16:03] Hedgehog-Guru opened #6793 "[sflow] system crashed once sflow is enabled and switch has 200G+ interfaces"
#### Description

If switch has 200G and above interfaces system crash occur after sflow was enabled

#### Steps to reproduce the issue:
1. Enable sflow feature
[code]
2. Make sure at least one interface is oper-up and has 200G or above speed
[code]
3. Enable sflow
[code]
4. Check system health for example by "pgrep orchagent"

#### Describe the results you received:

System crashed

#### Describe

[2021-02-16 16:48] kcudnik commented on #3008
After merge https://github.com/redis/redis/pull/8180 this problem will go away on it's own

[2021-02-16 17:25] Hedgehog-Guru opened #6795 "[sflow] corrupted interfaces counters are exported to sflow collector"
#### Description

Interface counters which are exported by sflow to the collector have corrupted structure

#### Steps to reproduce the issue:
1. Enable sflow feature
[code]
2. Configure any sflow collector. For example reachable via management interface
[code]
3. Enable sflow
[code]
4. Capture and analyse packets on the collector

#### Describe the results you received:

sflow counters structure

[2021-02-16 18:29] shi-su commented on #6659
Just noticed that the dump file seems to come from an upgrade from 201811.170-701a304 to 20181130.87. Wondering if it is possible to share the dump file you got in 201811->201911 upgrade?

[2021-02-16 18:52] tahmed-dev opened #6796 "dual tor: Too Many SWSS.REC Messages Between Orchagent And Xcvrd"
#### Description
#### Description
While Debugging issue #6761, lot of communication took place between orchagent and xcvrd even after the underlying issue was mitigated.

#### Steps to reproduce the issue:
1. Load Gemini image after 1/26 on ToRs with complete set of muxcables
2. Reboot the ToR or config reload
3. Notice initialization loop in the syslog and in swss.rec
4. Fix swss ipinip issue, re

[2021-02-16 19:05] maksymbelei95 commented on #6781
I have investigated the issue. The root cause of the issue is that the system cannot create portchannel due to value range restriction of `min_ports` parameter(`min-links` in terminology of sonic-utilities) inside `teamd` daemon of `libteam` library. `min_ports` parameter has allowable range 1...255. To fix the issue is just need to set range of allowable value of the parameter.
But, this is my co

[2021-02-16 19:17] kcudnik commented on #6509
do you happen to have full syslog form that event ? lines before beginning of that what you pasted? there could be some hint information from syncd during startup in syslog

[2021-02-16 19:28] shi-su commented on #6509
The syslog is attached below.

[syslog.txt](https://github.com/Azure/sonic-buildimage/files/5991212/syslog.txt)
[syslog.1.txt](https://github.com/Azure/sonic-buildimage/files/5991213/syslog.1.txt)

[2021-02-16 20:58] kcudnik commented on #6509
ok, i found something like this in syslog (take a look at timestamps):

[code]
 root: Flushing APP, ASIC, COUNTER, CONFIG, and partial STATE databases

this will be the issue, ASIC db is cleared, but now to figure out why this happening :/
take look here: https://github.com/Azure/sonic-buildimage/blob/master/files/scripts/swss.sh#L144

so actually this operation here is COLD BOOT not warm as you s

[2021-02-16 21:50] kktheballer commented on #6778
Hi, am experiencing this same issue also. Any suggestions would be appreciated

Traceback:
Traceback (most recent call last):
  File "setup.py", line 42, in <module>
    'Programming Language :: Python :: 3.5',
  File "/usr/lib/python3.5/distutils/core.py", line 108, in setup
    _setup_distribution = dist = klass(attrs)
  File "/usr/lib/python3/dist-packages/setuptools/dist.py", line 317, in __in

[2021-02-16 21:51] prsunny commented on #6793
@padmanarayana , @dgsudharsan , could you please take a look and suggest next steps?

[2021-02-16 21:52] prsunny commented on #6795
Is this generic (for all interfaces/platforms that you tested)? @padmanarayana , @dgsudharsan , could you please take a look and suggest next steps?

[2021-02-16 21:53] prsunny commented on #6791
"up"/"down" is widely being used in Sonic. Could you update the HLD?

[2021-02-16 22:05] #6769 closed

[2021-02-16 22:08] jeff-yin commented on #6791
@GarrickHe  can you push an update to the HLD to change the "admin state" to up/down in order to reflect the actual operation of the code?
https://github.com/Azure/SONiC/blob/master/doc/sflow/sflow_hld.md

[2021-02-16 23:14] shi-su commented on #6509
It seems that either `WARMBOOT_FINALIZER` kicks in too early or the swss service stops too late. The step `Finalizing warmboot` clears the warmboot flag in state_db. It is supposed to happen after swss stops. But in this situation, they happen in the opposite way. And swss no longer does warm shutdown and warm boot.

[code]

[2021-02-17 00:15] padmanarayana commented on #6795
The counters are retrieved from the CountersDB and the samples get constructed entirely from within hsflowd (https://github.com/sflow/host-sflow/blob/master/src/Linux/mod_sonic.c#L1120).

@sflow : can you please help in determining if the "Unknown sample format" is just a Wireshark dissector issue or a real corruption ?

[2021-02-17 01:24] shi-su commented on #6509
I think I understood the cause of this issue. There was another issue https://github.com/Azure/sonic-buildimage/issues/6383 that warm reboot finalizer waits for not enabled component for 5 minutes. This causes warm reboot finalizer to clear warmboot flag in state_db after 5 minutes after the switch boots up. And the second warm reboot request happens right before clearing the flag in state_db, the

[2021-02-17 01:58] praveen-li commented on #6722
It says
[code]

So you need to add YANG models for PORTCHANNEL_MEMBER

[2021-02-17 02:48] sflow commented on #6795
It looks like the Wireshark dissector does not decode some of the standard sFlow structures.  It's hard to tell if it's skipping over them cleanly or not (I suspect not, in which case there is a Wireshark bug).  I ran the .pcap through sflowtool to see which structures are there.  It is the standard set of host structures that report MAC addresses, CPU, memory, disk, TCP/IP counters etc.   So ther

[2021-02-17 07:34] gechiang commented on #6723
This issue is not specific to WARM Reboot.
At boot up time we also observe this issue which is likely to be a missmatch on what is in 1.7 Header that BRCM SAI is not in full compliance with...
Here is what I observed from coldboot syslog:
[code]

[2021-02-17 08:14] TETA-Net opened #6803 "Vrf binding via cli is NOT working in 202012 version"
In the master version and last version 202012, the cli command of vrf is not working correctly. I check if you edit `config_db.json` it works good . but command `sudo config interface vrf bind <ifname> <Vrf_name>` it can not set the setting.

I try it in vs build and  Broadcom Tomahawk serise.
[code]

[2021-02-17 08:38] gck-04 opened #6804 "build failure when "make configure platform=p4" is executed"
Getting error while creating sonic-slave-stretch  base container image. Please find the below log

~/sonic-repo/sonic-buildimage$ make configure PLATFORM=p4
+++ Making configure +++
BLDENV=stretch make -f Makefile.work configure
make[1]: Entering directory '/home/sonic/sonic-repo/sonic-buildimage'
~/sonic-repo/sonic-buildimage/src/sonic-build-hooks ~/sonic-repo/sonic-buildimage
make[2]: Entering d

[2021-02-17 08:40] gck-04 commented on #6804
Hi @kcudnik any thoughts on this?

[2021-02-17 09:06] kcudnik commented on #6509
we can sync up with Ying on that too

[2021-02-17 09:08] kcudnik commented on #6804
seems like you have connections issues, since apg get cant connect to redrive packages and get connection refused, check your internet connections

[2021-02-17 09:25] gck-04 commented on #6804
HI @kcudnik I tried ping to that IP. I can do it but still i am getting that error

[2021-02-17 09:26] gck-04 commented on #6804
Hi @kcudnik, Do you know why i am getting this error

docker: Error response from daemon: pull access denied for sonic-slave-stretch-sonic, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.
See 'docker run --help'.
make[1]: *** [Makefile.work:265: configure] Error 125
make[1]: Leaving directory '/home/sonic/sonic-repo/sonic-buildimage'
mak

[2021-02-17 10:27] gck-04 commented on #6804
Do you mean resolving connection issue help the build to succeed?

[2021-02-17 16:08] anshuv-mfst commented on #6804
P4 is not supported, will have to treat this as an enhancement request., thanks.

[2021-02-17 16:11] anshuv-mfst commented on #6803
Can you please more information:
1. Show techsupport output
2. CLI output (to show error from CLI output)

[2021-02-17 16:13] anshuv-mfst commented on #6795
Dell team to provide input on the issue, thanks.

[2021-02-17 16:14] anshuv-mfst commented on #6793
Issue Triage 2/17: Dell team to provide input on the issue, thanks!

[2021-02-17 16:14] anshuv-mfst commented on #6791
Issue Triage 2/17: Dell team to provide input on the issue, thanks!

[2021-02-17 16:19] abdosi commented on #6778
Fixed by https://github.com/Azure/sonic-buildimage/pull/6800

[2021-02-17 16:19] #6778 closed

[2021-02-17 16:25] anshuv-mfst commented on #6781
Liat: Please confirm with Lib team on the max limit (i.e. 128), thanks.
Sonic portchannel yang model also reflects the same range for min links (1..128).

Next steps:
Might require code changes for this issue.
Also, to be discussed in YANG model subgroup for CLI check

[2021-02-17 16:34] lguohan commented on #6725
fixed in https://github.com/Azure/sonic-swss/commit/aaa7bf2d1ec04fbdbc835f9139d7a76061beb740

[2021-02-17 16:34] #6725 closed

[2021-02-17 16:45] anshuv-mfst commented on #6687
Please provide more info:
1. show techsupport output
2. Issue seen in which release

[2021-02-17 16:46] anshuv-mfst commented on #6684
Issue triage 2/17: To be discussed in Kubernetes subgroup, thanks.

[2021-02-17 16:48] gechiang commented on #6723
Had a discussion email thread with @kcudnik and according to Kamil this is an expected behavior for experimental SAI API from the extension header:
[code]

If all agreed, we should go ahead close this issue...

[2021-02-17 17:07] rlhui commented on #6665
@arlakshm  - would we please address this? Thanks.

[2021-02-17 17:44] vaibhavhd commented on #6723
Thanks @gechiang. Closing this issue as these syslog errors do not actually seem to cause any harm.

[2021-02-17 17:44] #6723 closed

[2021-02-17 17:57] #6766 closed

[2021-02-17 21:50] #6717 closed

[2021-02-18 01:28] vaibhavhd opened #6811 "Backing up database fails during warmboot"
#### Description

#### Steps to reproduce the issue:
1. Run test `test_warm_reboot` OR manually issue warmboot
2. The test fails, as the warmboot flag was not set
3. In the CLI output, below errors are seen during backing up database:

[code]

#### Describe the results you received:
[code]

#### Describe the results you expected:
Database backup should proceed without errors during warmboot.

####

[2021-02-18 06:32] gck-04 commented on #6804
I am able to do wget on those links

[2021-02-18 06:32] qiluo-msft opened #6815 "[ci] build break of sonic-telemetry"
#### Description

When we are working on a mellanox related PR https://github.com/Azure/sonic-buildimage/pull/6805 which targeting 201911 branch, we met a broadcom PR build failure https://dev.azure.com/mssonic/build/_build/results?buildId=4220&view=logs&j=406f67d9-8952-5074-7a53-dcb346cb6a5f&t=b3777219-5c97-5c20-138a-8b0d961575dd

I suspect it is the relating to build sequence in parallel build.

[2021-02-18 07:10] Hedgehog-Guru opened #6816 "Traceback after "show interface status" command if LAG configured"
**Description**
After the reboot and config reload command "show interface status" provide Traceback instead for empty interface list before them loaded. It is reproducible 1:2 times.

**Steps to reproduce the issue**
1) Configure LAG interfaces:
[code]
2) Configure speed on 2 interfaces:
[code]
3) Configure LAG membership and save configuration:
[code]
4) Reboot the switch:
[code]
5) Do configura

[2021-02-18 17:40] maksymbelei95 commented on #6803
It might be the same problem as https://github.com/Azure/sonic-buildimage/issues/6209. I will make more detailed check and provide the result here.

[2021-02-18 18:54] aledwmorris opened #6820 "Fresh install on Dell S5248F-ON, no working SFP ports, pmon/pcied/xcvrd/psud dead"
#### Description

Install of SONiC on Dell S5248F-ON switch.  From first boot, no SFP ports are working - all lights are solid on.  Seems that pmon processes pcied, xcvrd, psud have died.

#### Steps to reproduce the issue:
1. install
2. observe lights (all on)
3. "show interface transceiver presence" (shows none present)

#### Describe the results you received:

no working SFP slots

#### Describ

[2021-02-18 21:08] tbgowda commented on #6636
@abdosi , thanks for looking at this issue. The reason why I gave the local chassis info is because that is what is being sent to the remote end through LLDP, I should have been clearer in my description of the issue.

In any case, here is the output from the LLDP_ENTRY_TABLE.

 127.0.0.1:6379> hgetall LLDP_ENTRY_TABLE:Ethernet0
 1) "lldp_rem_index"
 2) "1"
 3) "lldp_rem_port_id"
 4) "Ethernet0"

[2021-02-18 23:49] prsunny opened #6823 "[ndppd] observing high cpu utilization"
#### Description

ndppd is observed to be taking high cpu utilization when system is receiving significant control plane traffic

[code]

#### Steps to reproduce the issue:
1. Execute top command on device running latest master
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem import

[2021-02-19 02:04] sandycelestica commented on #6603
Verified this change under haliburton it works well.

[2021-02-19 11:23] maksymbelei95 commented on #6803
As I supposed, the issue is the same as #6209. With changes from https://github.com/Azure/sonic-utilities/pull/1325 works fine. Tested on:
[code]

https://github.com/Azure/sonic-utilities/pull/1325 could be cherry-picked into 202012. @liat-grozovik, could I ask you to label the PR to cherry-pick it to 202012?

[2021-02-19 16:04] liat-grozovik commented on #6803
Will do

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: maksymbelei95 <notifications@github.com>
Sent: Friday, February 19, 2021 1:23:53 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildimage] Vrf binding via cli is NOT working in 202012 ve

[2021-02-19 17:41] maksymbelei95 commented on #6781
@liat-grozovik, here is the place in libteam, where the range of min_ports is being checked: https://github.com/jpirko/libteam/blob/267f24839536234ca621d4fd0466d3b57cb6dccd/teamd/teamd_runner_lacp.c#L286
Could you ask guys from libteam to clarify from where they get the top limit value of min_ports? Maybe, there was some reason to limit it on value of UCHAR_MAX? IMO, the value is too high.

[2021-02-19 18:19] jeff-yin commented on #6820
Please assign to @vpsubramaniam

[2021-02-19 19:28] prsunny commented on #6772
Fix as part of https://github.com/Azure/sonic-swss/pull/1647

[2021-02-19 22:34] padmanarayana commented on #6795
Thanks @sflow.
@Hedgehog-Guru : can you run the tests with sflowtool and confirm this is just a wireshark issue ?

[2021-02-20 00:36] gechiang commented on #6573
Saw this again.
Found the root cause.
Will open a PR to fix this...
Also the test case mentioned when I opened this was incorrect.  It was the "vxlan/test_vxlan_decap.py" test case that encountered this issue.

[2021-02-20 07:07] gechiang commented on #6573
Fix checked in.
Closing this issue.

[2021-02-20 07:07] #6573 closed

[2021-02-21 03:14] wjaco opened #6834 ""portstat -a" doesn't work till counters are cleared (-c)"
This typically happens when there is high data traffic on the ports and a config reload is done. After config reload most of the counters stay at value 0 (sometimes NA). It start working only after doing "portstat -c".
30% traffic is flowing on 2 of the 100G ports.

Did a config reload, sometimes all counters stay at 0 till clear is done.

[code]

After clear

[code]

[2021-02-21 03:33] wjaco commented on #6834
I see a similar problem in while using intfstat too - may be the same cause:

[code]

[2021-02-21 05:27] TETA-Net commented on #6803
merged with #6209

[2021-02-21 07:34] liat-grozovik commented on #4793
@anshuv-mfst for some unknown reason i cannot assign the issue to @shlomibitton  and he cannot self assign it. Could you please help?

[2021-02-21 17:32] liat-grozovik commented on #6657
@ChinaMobileNG we are able to reproduce the problem and are working on a fix. Once we have it upstream will close the issue.
issue is self assigned

[2021-02-22 02:50] Blueve opened #6839 "[console] udev rule not execute well due to permission issue"
#### Description

#### Steps to reproduce the issue:
1. Install SONiC OS
2. Run command `show line`

#### Describe the results you received:
The line number start from zero.

#### Describe the results you expected:
The line number start from one.

#### Output of `show version`:

Master branch.

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

The exec

[2021-02-22 07:24] nazeerhussainf opened #6840 "warm-reboot throws many errors before going for a reboot"
#### Description

#### Steps to reproduce the issue:
1. Load the latest master image(build 585)
2. Execute the command warm-reboot.
3. Throws many errors before going for a reboot.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-02-22 08:32] lolyu opened #6841 "[dualtor] Standby ToR re-encapsulate the encap traffic back to T1s"
#### Description
For a ToR interface that is in standby mode, if we send some encapsulated packets from the other ToR to this ToR, it should not decapsulate, re-encapsulate those packets back to T1s.

#### Steps to reproduce the issue:
1. Config the upper ToR's `Ethernet8`  as standby via swssconfig
[code]
2. Send an encapsulated packet from the lower ToR to the upper ToR with the inner packet des

[2021-02-22 08:34] lolyu commented on #6841
@prsunny, could you please help confirm this?

[2021-02-22 09:18] dprital commented on #6606
Hi, Any progress with this issue ?

[2021-02-22 15:06] liat-grozovik commented on #6781
There is a newer version of libteam which has a fix for it
Please check https://git.kernel.org/pub/scm/linux/kernel/git/jpirko/libteam.git/commit/?id=69a7494bb77dc10bb27076add07b380dbd778592

@lguohan is there any plan to move to a newer version of libteam or should we consider backporting the change to sonic libteam?

[2021-02-22 15:39] maksymbelei95 commented on #6781
@liat-grozovik, could you clarify will the system be checking the value range of "min-links", according to updates of libteam, or we still should allign on information, defined in https://github.com/Azure/sonic-buildimage/blob/ab0ee0bfae5354adbf36f6fac0144883a5222037/src/sonic-yang-models/yang-models/sonic-portchannel.yang?
To fix the issue a proper range of the input argument should be set in the

[2021-02-22 15:50] liat-grozovik commented on #6781
I think this should be part of the validation on the yang model which need to be aligned as well as used in the command we referred to

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: maksymbelei95 <notifications@github.com>
Sent: Monday, February 22, 2021 5:39:21 PM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.c

[2021-02-22 15:51] liat-grozovik commented on #6781
@Anshu Verma<mailto:ansverm@microsoft.com> can u please raise it in the yang workgroup?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Liat Grozovik <liatg@nvidia.com>
Sent: Monday, February 22, 2021 5:50:47 PM
To: Azure/sonic-buildimage <reply@reply.github.com>; Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Mention <mention@noreply.github.com

[2021-02-22 16:41] #6811 closed

[2021-02-22 17:05] vaibhavhd commented on #6840
This is a duplicate of https://github.com/Azure/sonic-buildimage/issues/6811
The fix is added in sonic-utilities, and submodule is now being updated.

[2021-02-22 21:42] gechiang opened #6847 "VxLAN Decap test case failure on TH based platform running with SAI 4.3.0.10/4.3.0.13"
[4215_worked_syslog.txt](https://github.com/Azure/sonic-buildimage/files/6025340/4215_worked_syslog.txt)
[43013_failed_syslog.txt](https://github.com/Azure/sonic-buildimage/files/6025341/43013_failed_syslog.txt)
[interface counteres_success_case.txt](https://github.com/Azure/sonic-buildimage/files/6025342/interface.counteres_success_case.txt)
[interface_counters_failed_case.txt](https://github.com

[2021-02-23 00:42] prsunny commented on #6841
This should be fixed in the latest SAI drop

[2021-02-23 02:31] xumia opened #6851 "Remove the versions of the packages from build target"
#### Description

We can remove the versions of the packages from build target, example in the files as below:
files/build/versions/build/build-sonic-slave-stretch/versions-deb-stretch
libsairedis==1.0.0
libsaithrift-dev==0.9.4
libswsscommon==1.0.0
libswsscommon-dev==1.0.0

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

[2021-02-23 05:55] anamehra commented on #5839
#6171 is for "show ip interface"
Is there a different bug for config vlan/show vlan CLI? My understanding was this bug will be used for that.

[2021-02-23 06:34] anamehra commented on #6171
The CLI works for multi asics. -n, -d options work

The interfaces from host are printed in output of each asic:

Loopback0              10.1.0.1/32          up/up         N/A             N/A
docker0                240.127.1.1/24       up/up         N/A             N/A
eth0                   1.2.32.3/16          up/up         N/A             N/A
eth1                   1.0.0.31/24          up/up

[2021-02-23 07:51] Junchao-Mellanox opened #6856 "ARP entry is not cleared after shutdown peer port"
#### Description

Say we have Ethernet0 and it is connected to another switch Eth/1. Shutdown Eth/1 and wait for Ethernet0 operational status change to down.  After that, see the ARP entry for Ethernet0 is not cleared even if we wait a few minutes.

However, if we shutdown Ethernet0, all ARP entry for Ethernet0 is cleared soon.

#### Steps to reproduce the issue:
1. Shutdown peer port
2. Wait for

[2021-02-23 08:09] gechiang commented on #6171
@arlakshm Can you answer @anamehra in regard to his question?

[2021-02-23 08:34] Hedgehog-Guru opened #6858 "[ntp] manully added serveron frontpanel and mgmt not connecting after applying mgmt vrf with no ntp from dhcp"
Description
**ntp server connected to frontpanel ports stopped working after applying mgmt vrf configuration**

Steps to reproduce the issue
1. remove "ntp-servers" /usr/share/sonic/templates/dhclient.conf.j2
2. replace string "interface ignore wildcard" with "interface listen wildcard" on /usr/share/sonic/templates/ntp.conf.j2
3. reboot
4. configure servers reachable from mgmt(eth0) and frontpane

[2021-02-23 08:52] stepanblyschak commented on #6659
Dump with an upgrade:
[sonic_dump_ptr-sonic-n1-t2_20210128_171634(1).tar.gz](https://github.com/Azure/sonic-buildimage/files/6027723/sonic_dump_ptr-sonic-n1-t2_20210128_171634.1.tar.gz)

[2021-02-23 10:47] vboykox opened #6860 "Barefoot build is broken due to pcie.yaml relocation in #6475"
#### Description
#6475 breaks image build with following log (Azure barefoot build 132):
[code]

@sujinmkang
If you make changes in multiple platforms code please tag relevant contributors for review.

[2021-02-23 13:14] TETA-Net commented on #6803
[code]

[2021-02-23 14:17] liat-grozovik commented on #6803
@TETA-Net a new broken show techsupport is not the issue described in here.
the issue is functional and as mentioned below already merged to master. as if it is in 202012 depends now on the cherry pick process. this will be done as i added a label for it.

if you think there is a new issue for the techsupport generation please open a different bug and provide the full output of the command executi

[2021-02-23 16:31] vadymhlushko-mlnx commented on #6737
The fix is working, the test - PASSED

[2021-02-23 16:31] #6737 closed

[2021-02-23 16:52] stepanblyschak opened #6866 "Kernel crash observed during kexec"
#### Description

Kernel crashes because of device list corruption during kexec (warm-reboot, fast-reboot) with the following stack trace:

[code]

#### Steps to reproduce the issue:
1. sudo warm-reboot -v
or
2. sudo fast-reboot -v

#### Describe the results you received:
Kernel crashes with above stack trace, following a cold reboot.

#### Describe the results you expected:
Successfully warm/fast

[2021-02-23 17:18] prsunny commented on #6856
This is an expected kernel behavior. ARP entry is not impacted by oper status. On another note, if there is an ECMP group and if a neighbor is oper down, orchagent takes care of removing it from the ECMP group. In summary, kernel neighbor entry stays during oper down and get eventually cleaned by garbage collector based on on other factors like the total number of entries.

[2021-02-23 17:52] lguohan commented on #6866
is this related to this platform only?

[2021-02-23 19:48] vaibhavhd commented on #6772
Thanks @prsunny . But I think 1647 will not solve warm reboot issue captured here. The change will let `vxlanmgr` not wait for orchagent reconciliation. But, if the Orchagent is not reconciled, will the RESTARTCHECK still not fail when the warm-reboot is issues? I think it will still fail with
[code]
Thoughts?

[2021-02-23 21:16] #6860 closed

[2021-02-23 22:27] #6290 closed

[2021-02-23 22:27] #5617 closed

[2021-02-24 01:52] Junchao-Mellanox commented on #6856
Thanks for the explanation.

[2021-02-24 02:42] Junchao-Mellanox commented on #6856
@antoninamelnyk could you please share your view on this issue?

[2021-02-24 07:14] #6803 closed

[2021-02-24 07:33] nazeerhussainf opened #6875 "Load balancing fails when running test_fib on latest brcm-cache image"
#### Description
Script test_fib fails due to load balancing not happening properly on the latest brcm-cache image(SONiC.HEAD.405-2e42ecb5).
Attached the test logs, fib logs from PTF docker and show tech files.

There was an old case where the same issue was  #reported(https://github.com/Azure/sonic-buildimage/issues/5681) and it was fixed in the latest BRCM SAI version. But, the issue still occur

[2021-02-24 07:49] TETA-Net opened #6877 "L3 RIF COUNTERS show"
Hello Guys
I have some device via tomahawk and trident 2

[code]

when I create L3 Router interface (RIF) that add and work correctly. I check the redis database and see for each RIF table I have a hash key in `APPL_DB, ASIC_DB` and `FLEX_COUNTER_DB` but in `COUNTERS_DB` only the `COUNTERS_RIF_NAME_MAP` and `COUTER_RIF_TYPE_MAP` is add and created, but I haven't any packet coutners in `COUNTERS:oi

[2021-02-24 15:50] maksymbelei95 commented on #6858
Investigating the issue.

[2021-02-24 16:48] stepanblyschak opened #6881 "Default route stays with packet action DROP in hardware"
#### Description

When system starts orchagent creates a default route with action DROP and no NH.
When orchagent receives:
[code]
Orchagent will use bulker to perform route update.

From sairedis recording:

[code]

It looks that the order is the following:

1. SAI_ROUTE_ENTRY_ATTR_NEXT_HOP_ID=oid:0x4000000000ba0
2. SAI_ROUTE_ENTRY_ATTR_PACKET_ACTION=SAI_PACKET_ACTION_FORWARD

This order is inval

[2021-02-24 17:02] stepanblyschak commented on #6866
I do not have way to test other platforms, but I do not see anything related to platform from the kernel trace

[2021-02-24 17:40] zhenggen-xu commented on #6486
See: https://github.com/Azure/sonic-utilities/pull/1440

[2021-02-24 17:41] zhenggen-xu commented on #6610
see: https://github.com/Azure/sonic-utilities/pull/1440

[2021-02-24 17:41] zhenggen-xu commented on #6630
@praveen-li  can you take a look?

[2021-02-24 19:54] gechiang commented on #6724
@vaibhavhd I tried the latest master image but it has problem with warmreboot precheck so that was not helpful.
Luckily I was able to go back to the same image that you used (364) and was able to reproduce the same issue.  It does looks like a SAI issue in SAI 4.3.0.10-4.  Since this master image can also run with the latest SAI 4.3.0.13-1, I tried loading it and repeated the warmreboot test and I

[2021-02-24 23:43] vaibhavhd commented on #6773
Just tested the latest of 202012 and the issue is not seen there. I think this has always been only master branch issue, and I was mistaken to tag 202012 here.

[2021-02-25 01:09] prsunny commented on #6881
@stepanblyschak , not sure I fully understand? Are you saying the default route is not getting modified in hardware when orchagent receives the default route update from APP_DB? Or are you concerned about the orchagent created "default" routes with DROP? AFAIK, the behavior we want is to have the default action for 0.0.0.0/0 as DROP.

[2021-02-25 03:05] wjaco opened #6884 "Port state remain down in CLI, port is up in HW"
Happens in 202012.

Port is up in HW and syncd sends oper status update and I can see that orchagent is receiving it, but it's dropped in the below code.

PortsOrch::doTask returns from here when interface oper status up received:

[code]

Logs showing the same:

[code]
Because, PortInitDone notification arrives late (after ~45msec)

[code]

I have only one port in this system. Noticed that, if I

[2021-02-25 03:09] wjaco commented on #6834
This is seen in both 201911, and 202012.

[2021-02-25 03:19] Blueve commented on #6839
Celestica is following up this issue...

[2021-02-25 10:24] stepanblyschak commented on #6881
Are you saying the default route is not getting modified in hardware when orchagent receives the default route update from APP_DB?

Yes and this is due to reordering of setting attributes SAI_ROUTE_ENTRY_ATTR_PACKET_ACTION and SAI_ROUTE_ENTRY_ATTR_NEXT_HOP_ID

[2021-02-25 14:22] nazeerhussainf opened #6891 "DHCP discover packets are dropped when running the script test_dhcp_relay.py on latest brcm-cache image"
#### Description

DHCP discover packets are dropped when running the script test_dhcp_relay.py on latest brcm-cache image(430).
Attached show techsupport, dhcp_relay_test.DHCPTest.log from PTF and test log.
E                   "dhcp_relay_test.DHCPTest ... FAIL",
E                   "",
E                   "======================================================================",
E

[2021-02-25 21:03] dprital commented on #6212
Hi,
@yxieca @zhenggen-xu
 Where do we stand with this issue ?

[2021-02-26 08:13] #6024 closed

[2021-02-26 08:24] lguohan commented on #6866
[code]

it looks like some ethernet driver shutdown and cause corruption? are you sending/receiving traffic during the warm reboot/fast reboot?

[2021-02-26 10:34] #6331 closed

[2021-02-26 16:57] stepanblyschak commented on #6866
@lguohan I'll shutdown ports and retest. Also noticed the ability to generate kdump in SONiC and will investigate it.

[2021-02-26 18:55] lguohan opened #6911 "checkout code failure."
#### Description

#### Steps to reproduce the issue:
https://dev.azure.com/mssonic/build/_build/results?buildId=5260&view=logs&j=5562265b-363f-5c64-5cff-7b508c285721&t=27753019-8ff4-5eae-cfff-869853f0e297

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only

[2021-02-26 20:26] abdosi commented on #6834
Looking into it.

[2021-02-27 03:45] yxieca opened #6918 "All LAGs are down due to no IP configured after EOS to sonic conversion"
#### Description
Newly converted a device from EOS to sonic. The topology was previously deployed (this is an RMA situation).

Then deployed the minigraph to the DUT and the lag didn't come up.

(this issue is found in 202012 image, but there is no diff in teamd between 202012 and master.

#### Steps to reproduce the issue:
1. Convert from EOS to sonic.
2. config eth0
3. executed deploy-mg task

#

[2021-02-27 03:49] yxieca commented on #6918
as expected, after config reload, lags are up with IP configured.

[2021-02-27 22:50] #6503 closed

[2021-02-28 06:36] zhenggen-xu commented on #6212
I think system wide or swss service warm reboot configuration should be good either way.

It is expected that if warm-reboot is enabled, we separate syncd service from swss service, while if warm-reboot is disabled, two services are bond together. So in your case, when stop swss with warm-restart enabled, syncd would be still running.  and if later you restart swss with warm-reboot disabled,  you

[2021-03-01 04:11] prsunny opened #6921 "[bgp update timer] test fails on 201911"
#### Description

If the neighbor type is ToRRouter for a ToRRouter which is created as part of the psuedo switch config, the template is picked up for a BackEnd Router and the test fails. ,

bgp/test_bgp_update_timer.py::test_bgp_update_timer FAILED

#### Steps to reproduce the issue:
1. Run bgp/test_bgp_update_timer.py::test_bgp_update_timer
2.
3.

#### Describe the results you received:

`FAILE

[2021-03-01 12:58] Hedgehog-Guru opened #6928 "Trunk LAG interface is listed as routed port in "show interfaces status" output."
#### Description
A trunk LAG port is listed as router port in show interfaces status output

#### Steps to reproduce the issue:
1. add random vlans
2. create a portchannel
3. add ports to portchannel
4. assign vlans to portchannel
5. issue show interface status

#### Describe the results you received:
`
#show int status | grep -iE "(Ethernet0|Ethernet8|portcha)"

      Ethernet0          0,1,2,3

[2021-03-01 13:48] dprital commented on #4456
Hi @prsunny , Any plans to fix this issue ?

[2021-03-01 16:17] seiferteric commented on #6815
This PR (https://github.com/Azure/sonic-buildimage/pull/6910) to add mgmt-framework as a build dependency should fix the issue.

[2021-03-01 19:59] liat-grozovik commented on #6793
@padmanarayana kindly reminder

[2021-03-01 21:05] qiluo-msft opened #6931 "dhcp_relay does not support empty dhcp_servers"
#### Description
In the DUT, there are 2 Vlans, and both of them have some dhcp_servers. I tried to change config to make one Vlan has no dhcp_servers.

#### Steps to reproduce the issue:

[code]

Then I notice the container dhcp_servers started and exited quickly.

Seems the supervisor configuration inside container is invalid
[code]

#### Describe the results you received:
`docker logs dhcp_rela

[2021-03-01 23:02] qiluo-msft commented on #6815
Thanks!

[2021-03-01 23:02] #6815 closed

[2021-03-02 05:53] ChinaMobileNG commented on #6657
@liat-grozovik ok, thanks~

[2021-03-02 06:34] keboliu commented on #5928
[sonic_dump_arc-mtbc-1001_20210302_062502.tar.gz](https://github.com/Azure/sonic-buildimage/files/6066550/sonic_dump_arc-mtbc-1001_20210302_062502.tar.gz)

@anshuv-mfst I attached the show tech as an attachement.
image info: master branch, community commit hash: e179ec2

config command:
`config vlan member add 1000 Ethernet0`

[2021-03-02 10:15] vadymhlushko-mlnx opened #6935 "[DPB] redis (database) input/output errors"
#### Description
The Dynamic Port breakout CLI throws DB exceptions.

#### Steps to reproduce the issue:
1. Install the latest master image via ONIE
2. `config interface breakout Ethernet0 2x50G[40G,25G,10G] -v -y`

#### Describe the results you received:
[code]

Brief logs output
[code]

#### Describe the results you expected:
The DPB CLIE should work

#### Output of `show version`:

[code]

####

[2021-03-02 10:16] vadymhlushko-mlnx commented on #6935
@samaity, @praveen-li, @zhenggen-xu - could you please take a look?

[2021-03-02 15:29] allas-nvidia opened #6936 "Error message displayed on deleting vlan member "Failed to get port by bridge port ID""
#### Description:
When we remove vlan member from vlan we can see error in log:

It seems there is a race which can cause the scenario, when we receive notifications about FDB FLUSH on port which was already removed.

removeBridgePort (portsorch.cpp) called as a result of "remove vlan member" command, will call flushFDBEntries and at the end of this function ( removeBridgePort ) will set port.m_br

[2021-03-02 16:09] prsunny commented on #6936
@madhanmellanox , can you please take a look?

[2021-03-02 17:20] madhanmellanox commented on #6936
@allas-nvidia in bool PortsOrch::removeBridgePort(Port &port), we call
    //Flush the FDB entires corresponding to the port
    gFdbOrch->flushFDBEntries(port.m_bridge_port_id, SAI_NULL_OBJECT_ID);

we don't m_bridge_port_id to SAI_NULL_OBJECT_ID, we set vlan_id to SAI_NULL_OBJECT_ID.

[2021-03-02 18:31] maksymbelei95 commented on #6858
@Hedgehog-Guru, current investigation status.

The root cause of the defect is conflict between cgroups v1(net_prio, net_cls) and v2. Currently, the system uses v1 cgroups, for example, for docker, but ip vrf utility, which is used for running ntp daemon in case with Mgmt-VRF enabled, requires v2 cgroups for normal work.
As the system currently uses net_prio, net_cls, the Linux kernel disable cgro

[2021-03-02 20:16] qiluo-msft opened #6940 "snmpd core dump"
#### Description

#### Steps to reproduce the issue:
snmpd crashed and auto recovered.

Use gdb to check the stack
[code]

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-03-02 22:57] jhujhiti opened #6943 "frr-mgmt-framework syntax for PREFIX_SET is impossible to use in a route-map"
#### Description

The templates that write FRR configuration for route-maps and prefix-lists assume opposite and incompatible things about the `mode` field of each `PREFIX_SET`.

`bgpd.conf.db.pref_list.j2` requires uppercase (eg., `IPv4`) to match: https://github.com/Azure/sonic-buildimage/blob/a171e6c5e4e51a360a70190903e09decb44ec7e3/src/sonic-frr-mgmt-framework/templates/bgpd/bgpd.conf.db.pref_

[2021-03-02 23:43] praveen-li commented on #6935
@vadymhlushko-mlnx

https://github.com/Azure/sonic-py-swsssdk/blob/fa760c46b25b154a5985fc1a50bfda18beb67bec/src/swsssdk/configdb.py#L126

This problem seems to be coming from the below line and is not related to dynamic Port breakout. You can modify this file on the switch to print the exception here.

[code]

[2021-03-03 02:36] daall commented on #6659
@shi-su can you check the dump Stepan provided?

[2021-03-03 02:54] lguohan commented on #6918
i do not see the LAG_TABLE in the state db, and that is the reason why lag without no ip.

[2021-03-03 03:24] shi-su commented on #6659
I did some investigation into this issue. It appears that the warm boot logic does not read or apply `init_cfg.json`. I need to check with the owner of FEATURE table and DB migrator for a fix.

[2021-03-03 04:18] zhenggen-xu commented on #6486
close it since code is merged.  Re-open if you see any more issue.

[2021-03-03 04:18] #6486 closed

[2021-03-03 04:19] zhenggen-xu commented on #6610
close it since code is merged. Re-open if you see any more issue.

[2021-03-03 04:19] #6610 closed

[2021-03-03 04:21] #6645 closed

[2021-03-03 06:07] #6509 closed

[2021-03-03 08:06] padmanarayana commented on #6793
@liat-grozovik : the dump is from an Internal build. Nevertheless, it is very likely that the 200G is failing because there is no entry in either https://github.com/Azure/sonic-swss/blob/288fb40d8ff4ec825645c2fbab1e79f50881a9f2/cfgmgr/sflowmgr.cpp#L13 or https://github.com/Azure/sonic-swss/blob/288fb40d8ff4ec825645c2fbab1e79f50881a9f2/cfgmgr/sflowmgr.h#L14. We'll check and get back.

[2021-03-03 08:42] Hedgehog-Guru opened #6951 "[sflow] | sflow doesn't switch to IPv6 agent-id if IPv4 address was removed from interface"
**Description**
sflow doesn't switch to IPv6 agent-id if IPv4 address was removed from the interface

**Steps to reproduce the issue**

1.  Enable sflow, configure some collector to export
2.  Create any new loopback interface by assigning both IPv4 and IPv6 addresses
3.  Use that interface as sflow agent-id

[code]

4. Remove IPv4 address from that loopback
5. Check exported sflow packets for age

[2021-03-03 09:07] Hedgehog-Guru opened #6952 "[sflow] Command 'config sflow agent-id del' not applied immediately"
**Description**
After the changing IP address used by sflow agent-id and trying to remove it, sflow continues using the previous IP address till the reboot.

**Steps to reproduce the issue**

1. Enable sflow;
2. Configure some reachable collector (via management interface for example);
3. Check agent-id in exported sflow packets (IP address form switch mgmt0 interface);
4. Configure agent-id refer

[2021-03-03 09:30] maksymbelei95 commented on #6858
3rd party source with comment regarding the conflict between cgroup1 and cgroup2:
https://elixir.bootlin.com/linux/v4.19.156/source/include/linux/cgroup-defs.h#L745

[2021-03-03 10:09] Blueve commented on #6839
Sandy summarized that:

- might not caused by the permission assign delay
- udev rule execution timing might delay, we might need trigger udev rule again after driver loaded

[2021-03-03 16:03] padmanarayana commented on #6952
This is expected behavior. As mentioned in the HLD, the hsflowd uses simple heuristics to select the agent-id. The agent-id is sticky (even after deletion) until sflow is re-enabled...

[2021-03-03 16:06] anshuv-mfst commented on #6952
For changing the behavior, please file an enhancement request.

[2021-03-03 16:08] anshuv-mfst commented on #6951
@padmanarayana - Could you please look into this issue, thank you.

[2021-03-03 16:12] anshuv-mfst commented on #6943
@venkatmahalingam - could you please look into the issue, thanks.

[2021-03-03 16:16] anshuv-mfst commented on #6935
To be discussed in DPB workgroup

[2021-03-03 16:20] anshuv-mfst commented on #6928
Known limitation, needs output enhancement.
CC: @qiluo-msft

[2021-03-03 16:26] anshuv-mfst commented on #6891
@nazeerhussainf - could you please confirm if this is image or test issue?

[2021-03-03 16:28] anshuv-mfst commented on #6884
@volodymyrsamotiy - FYI

[2021-03-03 16:31] anshuv-mfst commented on #6877
Known limitation, please work with SAI community for enhancement, thanks.

[2021-03-03 16:34] anshuv-mfst commented on #6875
Issue seen in TH3.

[2021-03-03 16:39] anshuv-mfst commented on #6858
@chitra-raghavan/Kannan/DELL team could you please look into issue.

[2021-03-03 16:43] anshuv-mfst commented on #6840
@vaibhavhd - could you please link the PR to this issue, thanks.

[2021-03-03 16:45] Hedgehog-Guru commented on #6795
@padmanarayana , with the **sflowtool** it looks OK. You are right, it is a Wireshark issue.

[2021-03-03 16:47] anshuv-mfst commented on #6820
@vpsubramaniam - could you please look into the issue, thanks.

[2021-03-03 16:47] anshuv-mfst commented on #6816
Issue triage meeting 3/3: seems to be fixed by #1442

[2021-03-03 16:47] #6816 closed

[2021-03-03 16:50] anshuv-mfst commented on #5928
@gechiang - could you please look into the issue, thank you.

[2021-03-03 16:50] vaibhavhd commented on #6840
Fix in sonic-utilities: https://github.com/Azure/sonic-utilities/pull/1441
Submodule update: https://github.com/Azure/sonic-buildimage/pull/6831

[2021-03-03 16:52] anshuv-mfst commented on #4456
Issue triage 3/3: @prsunny could you please provide expected behavior.

[2021-03-03 17:03] venkatmahalingam commented on #6943
@jhujhiti HLD is pending to merge because of the BGP/route-map schema dependent YANG models review, will fix the table names.

We should use IPv4 & IPv6 values, will create the PR with the fixes, meanwhile, please use the following fixes.

**Please change ipv4 -> IPv4 and ipv6 -> IPv6**

sonic-buildimage/src/sonic-frr-mgmt-framework/templates/bgpd/bgpd.conf.db.route_map.j2
Line 28 in a171e6c
 {% s

[2021-03-03 17:33] jhujhiti commented on #6943
Since the HLD is still in a PR, the roadmap link ought to at least be updated. https://github.com/Azure/SONiC/wiki/Sonic-Roadmap-Planning links to an outdated document which, among other things, doesn't mention the need to enable the entire feature with the `frr_mgmt_framework_config` flag.

[2021-03-03 18:25] praveen-li commented on #6935
I updated this PR, seems to be broken by some issue related to Redis DB.

Thanks,

Regards
Praveen
________________________________
From: anshuv-mfst <notifications@github.com>
Sent: Wednesday, March 3, 2021 8:16 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Praveen Chaudhary <pchaudhary@linkedin.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildim

[2021-03-03 19:54] qiluo-msft commented on #6928
@prsunny Could you check on this platform?

[2021-03-03 20:47] venkatmahalingam commented on #6943
HLD is expected to be merged before the next release, will update the HLD soon.

[2021-03-03 23:58] shi-su commented on #6659
This should have been fixed by https://github.com/Azure/sonic-utilities/pull/1209. Need to include the commit in 201911.

[2021-03-04 03:29] wjaco commented on #6884
No crash
root@sonic:/home/cisco# cd /var/core/
root@sonic:/var/core# ls -ltr
total 0
root@sonic:/var/core#

show tech attached.
[sonic_dump_sonic_20210304_032015.tar.gz](https://github.com/Azure/sonic-buildimage/files/6080670/sonic_dump_sonic_20210304_032015.tar.gz)

Ethernet0 is down. Ethernet1 is made admin down (in config_db). If I make both admin up it both come up. So it appears to be a timin

[2021-03-04 06:33] liat-grozovik commented on #6659
Can it be cherry pick or need to create new PR against 201911?
I don't see the label added to the fixed PR

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shi Su <notifications@github.com>
Sent: Thursday, March 4, 2021 1:59:02 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Comment <comment@noreply.github.

[2021-03-04 07:16] prsunny commented on #6928
@qiluo-msft, this is a known issue in the CLI output and requested help in the community for a fix.

[2021-03-04 07:30] prsunny commented on #4456
The expectation in this case shall be click CLI to check if the port that is added to a Vlan belongs to a PortChannel. It already has the checks for if the port is a [router port](https://github.com/Azure/sonic-utilities/blob/master/config/vlan.py#L144) (with IP configured) etc. So this would be an additional check to validate PortChannel membership. Refer the link.

[2021-03-04 07:43] stephengzh opened #6962 "Some packets are always dropped (RX_DRP are always not 0)"
#### Description

Hi, when after deploying any topology from sonic-mgmt, executing "portstat -c",and  checking portstat, I find the RX_DRP is always not 0. I am wondering whether some protocol is filtered after revceived? Or I miss something in deployment? It is abnormal. The RX_DRP should always be 0 when no test cases running, right?

admin@str-msn2700-01:~$ portstat -c
Cleared counters
admin@st

[2021-03-04 08:31] stephengzh commented on #6962
I grab some packets, seems all these packets are dropped after receiving them:
![packets](https://user-images.githubusercontent.com/65524539/109934068-0d851280-7d07-11eb-8620-7bb1a3c2cbd9.png)

[2021-03-04 13:18] maksymbelei95 commented on #6928
@Hedgehog-Guru, @prsunny, here is the fix for the issue: https://github.com/Azure/sonic-utilities/pull/1478. Could you check it?

[2021-03-04 15:40] rkdevi27 opened #6965 "Fast-reboot fails in latest Master"
#### Description
The "fast-reboot" command in latest master image fails in Dell S6100 device.
root@sonic:/home/admin# fast-reboot
Failed to run fast-reboot-dump.py. Exit code: 2

#### Steps to reproduce the issue:
1. Load the latest Master image
2. Wait till the dockers are up and running
3. Execute "fast-reboot" command

#### Describe the results you received:
The "fast-reboot" command fails with

[2021-03-04 18:41] qiluo-msft commented on #5738
Should we cherry-pick to fix commit to 201911?

[2021-03-04 18:53] vaibhavhd commented on #5738
I think it should be cherry-picked. There is also an ongoing discussion regarding this in https://github.com/Azure/sonic-buildimage/issues/6659

[2021-03-04 18:54] prsunny commented on #5738
@vaibhavhd , i think we may need to test and verify before we do cherry-pick. What do you say?

[2021-03-04 18:58] anshuv-mfst commented on #6722
Enhancement request to add portchannel member YANG model.

[2021-03-04 19:00] vaibhavhd commented on #5738
Sure Prince. I _think_ that @shi-su has already tested the fix (https://github.com/Azure/sonic-utilities/pull/1209) for 201811 to 201911 upgrade. @shi-su can you confirm please?

[2021-03-04 19:33] shi-su commented on #5738
Yes, I checked that the fix addresses the problem in https://github.com/Azure/sonic-buildimage/issues/6659.

[2021-03-04 21:35] praveen-li commented on #6722
@slutati1536 Dell has confirmed to raise PR for portchannel_member table yang models, I will wait till Monday, else I will raise PR. Thx.

[2021-03-05 04:43] #6931 closed

[2021-03-05 05:09] jeff-yin commented on #6820
Short term fix is to address the crashes, but after that we need to migrate the platform to API 2.0.

[2021-03-05 09:40] #6795 closed

[2021-03-05 15:18] prsunny commented on #6761
Fixed by https://github.com/Azure/sonic-swss/pull/1662

[2021-03-05 15:18] #6761 closed

[2021-03-07 02:40] yxieca opened #6978 "xcvrd crash on Celestica dx010 and S6100"
#### Description
Nightly test is failing on Celestica DX010 platform consistently because xcvrd is crashing

From show version output. It appears that the platform API implementation is either missing or wrong.

Also found this issue on S6100. The problem happened between image 459 and 467. The most likely regression is from PR #6957

#### Steps to reproduce the issue:
1. load latest master image

[2021-03-07 02:51] lguohan commented on #6978
is this a regression? @jleveque

[2021-03-07 03:07] lguohan commented on #6978
reopen this issue for tracking the root cause.

I am very concerned about these continuous regressions.

[2021-03-07 17:44] abdosi commented on #6098
@anamehra we are supporting only front-end asic o/p as part of show commands. To get backend we can individual docker and execute lldpcli.

As of now there is no plan to enhance CLI command. One reason is in future we can move away from running lldp for backend asic/docker.

[2021-03-07 19:36] rlhui opened #6982 ""show run all", "show run ports", "show run interfaces" are not showing running configs in 201911 image"
#### Description

CLI "show run all", "show run ports", "show run interfaces" are outputting errors

#### Steps to reproduce the issue:
1.  Issue CLI "show run", "show run ports" or "show run interfaces" and it did not work as expected.

#### Describe the results you received:
ritahui@TestDUT:~$ show run all | more
Traceback (most recent call last):
  File "/usr/local/bin/sonic-cfggen", line 416,

[2021-03-07 20:01] tahmed-dev commented on #6982
This should have been fixed by [PR:5289](https://github.com/Azure/sonic-buildimage/pull/5289)

[2021-03-07 20:59] jleveque commented on #6978
Yes. Regression was introduced by https://github.com/Azure/sonic-platform-daemons/pull/72. I have opened a fix here: https://github.com/Azure/sonic-platform-daemons/pull/162.

[2021-03-08 00:46] GarrickHe commented on #6791
PR: https://github.com/Azure/SONiC/pull/755

[2021-03-08 00:47] GarrickHe commented on #6793
@Hedgehog-Guru - We don't have a 200G interface. Can we provide a patch and you build and re-test on your end?

Thanks,
Garrick

[2021-03-08 02:32] anamehra commented on #6098
Thanks for the update @abdosi !
LLDP helps determine the peer connectivity between frontend and backend asics. If comes handy debugging link/connectivity issues and validating configuration between these asics. In absence of LLDP, is there any other plan to fill that gap?

[2021-03-08 06:13] wendani commented on #6951
Modification is needed in host-sflow code

[2021-03-08 06:48] liat-grozovik commented on #6793
Please share draft PR and Nvidia will be able to validate.

From: Garrick He <notifications@github.com>
Sent: Monday, March 8, 2021 2:48 AM
To: Azure/sonic-buildimage <sonic-buildimage@noreply.github.com>
Cc: Liat Grozovik <liatg@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/sonic-buildimage] [sflow] system crashed once sflow is enabled and switch has 200G+ interfaces (#679

[2021-03-08 22:30] #6881 closed

[2021-03-08 23:02] prsunny commented on #6772
Fix merged

[2021-03-08 23:02] #6772 closed

[2021-03-09 06:59] prsunny commented on #6936
In this flow, flushFDBEntries is called from two places:
1. removeVlanMember
2. removeBridgePort

So I'm assuming flush event is generated in both cases and for the first one, `FdbOrch::update` correctly process the event but for the second flush event, it throws the` Failed to get port by bridge port` error. Is this correct understanding?

When you repro the issue, can you please confirm if the S

[2021-03-09 14:40] ppikh opened #6997 "Static routes not available in config_db.json and does not work after upgrade"
#### Static routes not available in config_db.json and does not work after upgrade

#### Steps to reproduce the issue:
1. Add RIF: sudo config interface ip add Ethernet0 30.0.0.1/24
2. Add static route via RIF: sudo config route add prefix 1.2.3.4/32 nexthop 30.0.0.5
3. Check that static route exist: "show ip route"
4. Save config: "sudo config save -y"
5. Check that static route exist in /etc/son

[2021-03-09 17:11] prsunny commented on #6921
Fixed as part of https://github.com/Azure/sonic-mgmt/pull/3109

[2021-03-09 17:11] #6921 closed

[2021-03-09 17:49] stepanblyschak commented on #6866
PR to fix this issue: https://github.com/Azure/sonic-linux-kernel/pull/199

[2021-03-10 01:16] wjaco opened #7001 "SfpUtilBase: not all EEPROM data are parsed"
To complete the below get/set function, it is found those information are not parsed from EEPROM though there are parser handlers found.

We are on 202012 branch.

[code]
Not found in the DB too - which I think is brought into by the sfputil base class only via xcvrd right ? Are these going to be available ?

[code]

[2021-03-10 01:43] wjaco commented on #7001
One more question - shouldn't the reset/set_xxx() functions be performed via xcvrd since that is the driver which does port initializations, transceiver status change event handlings ? There could be potential contention issues if they are done by 2 separate contexts (depending on the underlying device access).

[2021-03-10 02:03] vaibhavhd commented on #6724
This issue is not seen on the TD3 platform - based on the latest nightly results. Closing this here. Thanks Gen-Hwa!

[2021-03-10 02:03] #6724 closed

[2021-03-10 02:06] vaibhavhd commented on #6773
This is now a priority issue as some of the other SAI issues seem to have been solved.
Unfortunately new tests have revealed that this issue is also seen on 202012 branch images. Also, this is seen on TD3 platform as well.

The first warmboot goes through and no lag-flaps are noticed. However, after/during second warm-reboot, LAG flaps are pretty consistently noticed.

I will post an update shortl

[2021-03-10 05:35] lolyu commented on #6841
Still hit this issue with the following image
[code]

[2021-03-10 05:36] lolyu commented on #6841
The 20000 encapsulated packets got passed to the active ToR:
[code]

[2021-03-10 06:16] rlhui commented on #6982
@tahmed-dev  - PR:5289 was already there.

[2021-03-10 06:17] lguohan commented on #6841
so, the encapped packet is not dropped on the standby tor, and still got send back to the active tor?

[2021-03-10 06:18] lolyu commented on #6841
@lguohan, yes, those packets are not dropped.

[2021-03-10 08:47] dprital commented on #5928
Hi, Any update here ?

[2021-03-10 13:10] TETA-Net commented on #6167
@wendani
I try to solve the problem you mention above. but the problem was not solved.  can you check the syslog ?
[afterlog.txt](https://github.com/Azure/sonic-buildimage/files/6116022/afterlog.txt)

[code]

[code]

[code]

[2021-03-10 13:30] maksymbelei95 commented on #6951
I have made PR to sflow repository with potential fix of the issue. The idea of the change is to read IPv6 address and apply it to adaptor, if reading of IPv4 address was unsuccessful. Could somebody check the PR?
https://github.com/sflow/host-sflow/pull/43

[2021-03-10 16:25] prsunny commented on #5928
The original issue reported w.r.t mac learning on vlan 1 is fixed by https://github.com/Azure/sonic-utilities/pull/1368.

[2021-03-10 16:42] MaxYaremchuk commented on #5377
The bug has been fixed.  Verified on:
[code]
[code]

[2021-03-10 16:42] #5377 closed

[2021-03-10 17:38] zhenggen-xu commented on #6722
So based on the DPB WG meeting, two issues:
1,  Let's print the final ports to be deleted/added ONLY by default .  and make the initial ports list into verbose mode.
2, Add portchannel_member yang models.

[2021-03-10 18:53] allas-nvidia commented on #6606
Hi.
I see the problem. IMO we need to decide what should be the output of show vlan config even with "working" flow.
The current  output is:
[code]
Do we need to repeat vlan77 for every member. Maybe its better to have:
[code]
Then, the question is:what is the difference between
`show vlan config` and `show vlan brief`

[code]
Please let me know your opinion

[2021-03-10 20:42] tbgowda opened #7008 "Incorrect iptable rules from caclmgrd"
#### Description

There are a couple of issues that I want to bring to your notice.

a. caclmgrd does not handle mgmt IP address to form the iptable rules if the mgmt interface is using DHCP.
b. caclmgrd seem to form incorrect IP address while configuring the IP table rules. If the configured IP address has 24-bit or lower netmask then the iptable rules are not formed correctly. Consider the follo

[2021-03-10 22:26] #6866 closed

[2021-03-10 22:56] prsunny commented on #6653
@lolyu , tested the flow and I could see that inner ToS matches the outer. Can you please retest with SAI 4.3.3.1-1

**_Inner:_**
22:44:55.940904 00:00:aa:bb:cc:dd > 94:8e:d3:04:bf:d8, ethertype IPv4 (0x0800), length 54: (**tos 0x3e,ECT(0)**, ttl 50, id 1, offset 0, flags [none], proto TCP (6), length 40)
    2.2.2.2.5000 > 192.168.0.10.8000: Flags [S], cksum 0x9864 (correct), seq 0, win 8192, len

[2021-03-10 23:56] prsunny commented on #6652
Reproduced the issue with SAI 4.3.3.1-1. @gechiang is raising CSP

[2021-03-11 00:08] gechiang commented on #6652
Case CS00012058054 raised against BRCM

[2021-03-11 02:10] #6858 closed

[2021-03-11 02:59] prsunny commented on #6606
@allas-nvidia , agree that it is redundant info, but currently i dont think we have a command to see what Vlan's are associated to an interface. But with this '`show vlan config | grep Ethernet0`', we could get that info. So prefer to keep the existing output format. What do you think?

[2021-03-11 03:19] vaibhavhd opened #7015 "warmboot error reported when checking WARM_RESTART_ENABLE_TABLE"
#### Description

#### Steps to reproduce the issue:
1. Cold reboot the DUT
2. Warm reboot
3. Errors are reported on stdout as below

#### Describe the results you received:
[code]

#### Describe the results you expected:
`sonic-db-cli` errors should not be reported during warm-reboot

#### Output of `show version`:
[code]

#### Additional information you deem important (e.g. issue happens only oc