[2022-03-15 22:24] wenyiz2021 opened #10243 "[201911] [202012] [MASIC] test_bgp_update_timer fail to support multi-asic device"
#### Description

When running test_bgp_update_timer, shell cmd "config interface" fail because of namespace unspecified for muti-asic device.

#### Steps to reproduce the issue:
1. run tests/bgp/test_bgp_update_timer with ./run_tests.sh script
2.
3.

#### Describe the results you received:
E           RunAnsibleModuleFail: run module shell failed, Ansible Results =>
E           {
E

[2022-03-16 00:49] wen587 commented on #9746
any update for this one?

[2022-03-16 01:03] #9743 closed

[2022-03-16 01:06] dgsudharsan commented on #9478
@praveen-li  Can you provide an ETA for the fix?

[2022-03-16 01:27] praveen-li commented on #9478
We have PR https://github.com/Azure/sonic-utilities/pull/2066 already.

Thanks,

Regards
Praveen
________________________________
From: Sudharsan Dhamal Gopalarathnam ***@***.***>
Sent: Tuesday, March 15, 2022 6:06 PM
To: Azure/sonic-buildimage ***@***.***>
Cc: Praveen Chaudhary ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/sonic-buildimage] [DPB] Port Breakout issue on Mellanox SN2700 (I

[2022-03-16 02:52] dgsudharsan opened #10244 "[vstest]Remove config calls from test_nat.py in swss vs tests"
#### Description

As a part of ongoing effort to  decouple vstests from sonic-utilities, the click commands called in vs tests should be modified to redis-CLI based config_db set.
This is to remove vs tests from running in sonic-utilities pipeline checkers

Example of existing command in test_nat:
https://github.com/Azure/sonic-swss/blob/00266891a9f41e5bd37100b05237e865cde429b2/tests/test_nat.py#L

[2022-03-16 02:56] dgsudharsan opened #10245 "[vstest]Remove config calls from test_mclag_cfg.py in swss vs tests"
#### Description
As a part of ongoing effort to decouple vstests from sonic-utilities, the click commands called in vs tests should be modified to redis-CLI based config_db set.
This is to remove vs tests from running in sonic-utilities pipeline checkers

Example of existing command in test_mclag_cfg:
https://github.com/Azure/sonic-swss/blob/00266891a9f41e5bd37100b05237e865cde429b2/tests/test_mcla

[2022-03-16 02:59] dgsudharsan opened #10246 "[vstest]Remove config calls from test_virtual_chassis.py in swss vs tests"
#### Description
As a part of ongoing effort to decouple vstests from sonic-utilities, the click commands called in vs tests should be modified to redis-CLI based config_db set.
This is to remove vs tests from running in sonic-utilities pipeline checkers

Example of existing command in test_virtual_chassis:
https://github.com/Azure/sonic-swss/blob/00266891a9f41e5bd37100b05237e865cde429b2/tests/tes

[2022-03-16 02:59] wangxin commented on #10020
PR #10021 updated wrong file. The issue is not fixed correctly.

[2022-03-16 03:01] dgsudharsan opened #10247 "[vstest]Remove config calls from conftest.py in swss vs tests"
#### Description

As a part of ongoing effort to decouple vstests from sonic-utilities, the click commands called in vs tests should be modified to redis-CLI based config_db set.
This is to remove vs tests from running in sonic-utilities pipeline checkers

Example of existing command in conftest.py:
DPB: https://github.com/Azure/sonic-swss/blob/00266891a9f41e5bd37100b05237e865cde429b2/tests/confte

[2022-03-16 14:32] AmitKaushik7 commented on #9801
As [alexrallen](https://github.com/alexrallen) pointed that BUFFER_PORT_EGRESS_PROFILE_LIST and BUFFER_PORT_INGRESS_PROFILE_LIST yang files are incorrectly having the profile_list
 as Lists ("profile_list": ["lossless_buffer_profile", "lossless_buffer_profile2"]).
Rather these leaves should have been a comma separated string ("profile_list": "lossless_buffer_profile, lossless_buffer_profile2".).

[2022-03-16 14:56] mannytaheri opened #10250 "Chassis: test_show_pfc_counters fails since show pfc counters does not include inband and recycle ports"
#### Description
test_show_pfc_counters fails since show pfc counters does not include inband and recycle ports.
"show interface counters" includes inband and recycle ports and it passes

mode = 'alias'
It searches for each alias from port_alias_map in the output of "SONIC_CLI_IFACE_MODE=alias sudo show pfc counters"
It does not find aliases associated with Inband ports (Ethernet-IB0, Ethernet-IB1

[2022-03-16 17:38] zhenggen-xu opened #10251 "[202012] build fail"
#### Description

Build fails with 202012 branch

#### Steps to reproduce the issue:
1.  make configure PLATFORM=broadcom && make target/sonic-broadcom.bin
2.
3.

#### Describe the results you received:
Failure happens happens when sonic is packaging the sonic-broadcom.bin by sonic_debain_extention.sh:
[code]

#### Describe the results you expected:
build successful.

#### Output of `show version`

[2022-03-16 23:25] zhenggen-xu commented on #10251
debug logs:
[code]
python2-dev -> python2.7-dev -> libexpat1-dev -> libexpat1

libexpat1 (= 2.2.6-2+deb10u3) but 2.2.6-2+deb10u4 is to be installed

[2022-03-16 23:26] zhenggen-xu commented on #10251
in build log:
[code]

[2022-03-17 00:34] keboliu commented on #10000
Hi @kishorekunal01, please check the syslog files which I have attached, they are the relevant logs to this error msg, seems all of them happened in the system boot up stage.

[2022-03-17 19:18] iMasaruOki opened #10268 "'make reset' cannot remove fsroot*"
#### Description

Run 'make reset' in sonic-buildimage after build image, fsroot* should be removed, but isn't it.

#### Steps to reproduce the issue:
1. cd sonic-buildimage; make init; make configure PLATFORM=broadcom; make sll
2. make reset
3. git status

#### Describe the results you received:

[code]

#### Describe the results you expected:

[code]

Tested on master and 202111 branch.

[2022-03-17 19:59] iMasaruOki opened #10269 "[VS] default mac address is assigned at build time"
#### Description

Default mac address of SONiC is quoted from management port.
Usually in virtual environment, mac address of management port are assigned by the system.
Individual mac address should be assigned for multiple SONiC-VS virtual machine, but isn't it.

#### Steps to reproduce the issue:
1. Run multiple SONiC-VS virtual machine cloned from same image
2. grep mac /etc/sonic/config_db.js

[2022-03-17 22:42] alexrallen commented on #10131
@praveen-li This is an explicit DPB bug.

Right now only port name and speed are used to uniquely identify a port configuration when running the "optimization" logic which fails when you are transferring to a new breakout mode that has a port with the same name and speed but different lane configuration.

i.e. If you go from

Ethernet0 running 100G on 8 lanes

to

Ethernet0 running 100G on 4 lanes

[2022-03-17 22:46] alexrallen commented on #9802
Hrm okay looking at this a bit more I think you are correct @praveen-li that this is a timing issue.

Specifically I believe this is a race condition between APP_DB and LLDP.

In the log we can see directly before portmgrd does a deletion of the port it sets it to admin down.

[code]

I believe that before LLDP handles the admin_down operation the port is also deleted so that when it gets to the f

[2022-03-17 22:59] alexrallen commented on #10191
@praveen-li This is likely due to port breakout using the following heuristic to get the port name map

https://github.com/Azure/sonic-utilities/blob/master/config/config_mgmt.py#L441

On a warm / fast reboot this table may not be immediately accessible. I suggest pulling this information from the ASIC_DB.

[2022-03-17 23:03] alexrallen commented on #10005
@praveen-li I do not see frequent reproductions of this, however I will check internally at NVIDIA to see if we are still seeing this in our testbeds.

At the very least I would like someone familiar with DPB to take a look at this issue and see if they come to the same conclusion that I did and see if anyone has any thoughts on why we might see this behavior.

This is directly related to the DPB

[2022-03-18 08:13] cel-eric commented on #10020
Celestica sonic_platform(s) are packaged from device/celestica/{DEVICE}/sonic_platform. PR 10276 is raised to fix the issue for dx010 and e1031.

[2022-03-18 09:15] Blueve commented on #9064
We hit the issue again.

[2022-03-18 16:29] sanmalho-git opened #10282 "[chassis][VoQ] No support for recycle port in minigraph"
#### Description
In a T2 VoQ chassis, there are two pseudo ports per asic - Inband and Recycle. In the port_config.ini, these ports are listed as:
[code]

For inband ports, there is a  'VoqInbandInterfaces' metadata defined in the minigraph.

[code]

In [minigraph.py ](https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/minigraph.py) that parses the minigraph.xml file, we

[2022-03-18 16:59] mlok-nokia commented on #9719
Issue is fixed by 10071

[2022-03-18 16:59] #9719 closed

[2022-03-18 19:23] vaibhavhd opened #10284 "[warm-upgrade] 3.5 to 4.3 fails at APPLY_VIEW due to unexpected BUFFER_POOL ASIC operations"
#### Description

This is a regression in the latest 202012 image.

Warm upgrade from 3.5.3.8 to 4.3.5.3 fails at APPLY_VIEW due to unexpected ASIC operations on BUFFER_POOL, PROFILE:
[code]

#### Steps to reproduce the issue:
1. Warm upgrade from 201811 to 202012.
2. SWSS, syncd crash will be seen during APPLY VIEW.
3.

#### Describe the results you received:
APPLY VIEW failure:

[code]

#### Des

[2022-03-18 19:41] lguohan commented on #10284
is it our bug or sai bug?

[2022-03-18 20:41] vaibhavhd commented on #10284
At this point we are inclined to believe that this is SONiC bug. So far below change is suspicious:
https://github.com/Azure/sonic-sairedis/pull/1011

In image 54 the current and temp view count for `SAI_OBJECT_TYPE_SCHEDULER`, `SAI_OBJECT_TYPE_BUFFER_POOL`, `SAI_OBJECT_TYPE_BUFFER_PROFILE` remained same, and there were no ASIC operations for these objects.

In image 57 (latest 202012), these 3 ob

[2022-03-18 21:07] mfyuce commented on #10055
Thank you for the information.

Logs inside each folder in "target" could be of help. For example "debs", "python-debs" etc folders will contain such logs.

On the other hand, there is a bug in p4rt which is solved by this [PR](https://github.com/Azure/sonic-buildimage/pull/10127) which is not integrated in the mainstream yet.

Can you cherry pick it and apply it to your codes and then try it? The

[2022-03-18 21:44] lguohan commented on #10284
@kcudnik , can you take a look?

[2022-03-21 02:43] #10096 closed

[2022-03-21 07:56] Blueve commented on #9064
The C0 can be recovered by powering-off/on the it.

[2022-03-21 12:26] kcudnik commented on #10284
yes, i'm working on it

[2022-03-21 15:34] stepanblyschak commented on #10218
@qiluo-msft

The code that I used for test:

[code]

[2022-03-21 19:43] #9643 closed

[2022-03-21 20:29] vivekreddynv opened #10310 "[snmp-subagent] AgentX TCP Connection is being terminated when blocking=True arg is set"
#### Description

When blocking=True is used and the data is not available in Redis, the corresponding data-fetching coroutine are eating up time and not giving enough time for the
coroutine which maintains the TCP connection to AgentX Socket and thus the connection is getting terminated and eventually causing the failure of SNMP queries.

This SNMP query failure is also reported here:
https://git

[2022-03-21 20:29] vivekreddynv commented on #10310
@qiluo-msft, @SuvarnaMeenakshi Please check

[2022-03-21 22:16] dflynn-Nokia commented on #10070
Issue is now fixed.

[2022-03-21 22:16] #10070 closed

[2022-03-22 05:32] zhenggen-xu commented on #10131
This is the same for https://github.com/Azure/sonic-buildimage/issues/9663 , and I agree with the analysis.  @alexrallen  do you have some one from your team to fix this logic?   we can use the lane list or # to be part of the port uniqueness identifier.

[2022-03-22 05:47] zhenggen-xu commented on #10191
Is the problem going away if we run the DPB commands later?
I agree it could be that port_name_map existence issue, do you have syslog to confirm?

If this is the issue, we may need to wait for the table to be available before we continue the breakout.  That table is used to get ASIC_DB information later.

[2022-03-22 06:14] wen587 commented on #9746
Is there an ETA for this one?

[2022-03-22 06:27] zhenggen-xu commented on #10005
I looked into the swss.rec, and it did seem to miss the DEL op for Ethernet80.  To be certain it is an issue in Redis lib or orchagent issue, can you record the redis events with "redis-cli monitor" during the DPB operations.

[2022-03-22 06:45] zhenggen-xu commented on #9802
Is this a temp issue and would be recovered by it own later?

By looking at the code, it does have timing issue where the code use different snapshot of the app PORT table make decision vs execution.  If this is the case, we may need refactor the code to take a snapshot of the PORT table once then make decision and execution based on that.

[2022-03-22 08:14] Blueve commented on #10020
We still observing this issue in 202012, we need cherry-pick the fix to 202012 before close.

[2022-03-22 13:16] Rancho333 opened #10319 "Does innovium support ARM platform on SONiC?"
#### Description

Does innovium support ARM platform on SONiC?

#### Steps to reproduce the issue:
Sorry first, I don't know if this question is appropriate to ask here.But I have no choice.

I found companies that support arm platform on SONiC like marvel and centec, they all have a separate directory under the `platform` directory to put arm-related files like `centec-arm64` and `marvell-arm64`.

[2022-03-22 17:24] jSML4ThWwBID69YC opened #10321 "Breakout does not work on a Dell S6100."
#### Description

Breakout does not work on a Dell S6100.

#### Steps to reproduce the issue:
1. Install SONiC. Use branch 202106, 202111, or master. This report reflects today's master image. (03-22-2022)
2. Run breakout commands and see that it is broken.

#### Describe the results you received:

Here are the tested commands and results.

[code]
[code]

The platform.json file does exist.

[code]

[2022-03-22 18:21] jSML4ThWwBID69YC commented on #10321
Adding the Redis check from https://github.com/Azure/sonic-buildimage/issues/6023 shows the same empty results.

admin@sonic:~$ redis-cli -n 4 KEYS "*BREAKOUT_CFG*"
(empty array)

[2022-03-22 19:43] kcudnik commented on #10284
Potential fix is here: https://github.com/Azure/sonic-sairedis/pull/1022

[2022-03-22 20:37] vaibhavhd opened #10326 "[202012] DHCPmon core generated in fast-reboot recovery path"
DHCMPmon core generated after fast-reboot - `dhcpmon-Vlan1000 (terminated by SIGSEGV (core dumped); not expected)`

#### Description

#### Steps to reproduce the issue:
1. Install latest 202012 image. (57 in the case of this repro).
2. Do fast-reboot.
3. Check logs for dhcmpmon failure and core generated. This issue is NOT consistently reproducible.

#### Describe the results you received:

[code]

[2022-03-23 00:23] qiluo-msft commented on #9746
@praveen-li Could you help check "re-visit the logic of clearing dictionary keys (for empty value)"?

[2022-03-23 01:20] praveen-li commented on #9746
Let me check it once tomorrow.

Thanks,

Regards
Praveen
________________________________
From: Qi Luo ***@***.***>
Sent: Tuesday, March 22, 2022 5:23 PM
To: Azure/sonic-buildimage ***@***.***>
Cc: Praveen Chaudhary ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/sonic-buildimage] [yang] validating TACPLUS with empty “global” fails, while non-empty “global” does not fail (Issue #9746)

@pra

[2022-03-23 01:26] praveen-li commented on #9746
Which yang model is in picture here, Kindly send me the link.
Here global is container and Timeout is leaf right ?

Thanks,

Regards
Praveen
________________________________
From: Praveen Chaudhary ***@***.***>
Sent: Tuesday, March 22, 2022 6:20 PM
To: Azure/sonic-buildimage ***@***.***>; Azure/sonic-buildimage ***@***.***>
Cc: Mention ***@***.***>; Gaurav Dawra ***@***.***>
Subject: Re: [Azure/so

[2022-03-23 04:01] alexrallen commented on #9802
Looks like it does recover yes, the error log is seen only during the race condition.

[2022-03-23 05:32] wen587 commented on #9746
sonic-system-tacacs.yang
Right, global is container and timeout is leaf.

[2022-03-23 09:41] Pterosaur commented on #10193
Fix by PR: https://github.com/Azure/sonic-mgmt/pull/5337

The MAC address of SONiC host is locally administrated. So, LLDPd will use an arbitrary fixed value (00:60:08:69:97:ef) as the source MAC address of LLDP packet (https://lldpd.github.io/usage.html). But the MACsec driver in Linux used by SONiC VM has a bug that cannot handle the packet with different source MAC address to SCI if the send_sc

[2022-03-23 09:41] #10193 closed

[2022-03-23 19:33] yozhao101 opened #10336 "[20191130.82] intfmgrd failed to assign IPv4 address to PortChannel"
#### Description
Recently we observed the testing of `teamd` autorestart feature frequently failed on `str-s6000-on-2` in our nightly test. The failure is due to the BGP sessions with 5 T2 upstream VMs were not up.

When we did the RCA for this BGP session issue, we also found that `intfmgrd` from `SwSS` did not assign IPv4 address to PortChannels of these 5 T2 devices. So we need do some investig

[2022-03-24 00:41] qiluo-msft commented on #9991
I see PR is not merged yet. So open issue. It will be auto closed if PR merged.

[2022-03-24 02:00] bingwang-ms commented on #10336
Can you please paste the err logs to help a quick analysis? Thanks

[2022-03-24 05:08] zhenggen-xu commented on #9802
I agree, we should fix it.  The appDB PORT table should be read once to local memory in the while loop, and then it should be used in the functions in the loop. This can avoid inconsistency in different functions having potential different views of the table.

[2022-03-24 07:03] lizhijianrd opened #10339 "Some DUTs crashed on memory exhaustion test case"
### Description

 Some DUTs crashed on test case `platform_tests.test_memory_exhaustion`, the following are the specific device model:

* Celestica e1031
* Celestica dx010

### Steps to reproduce the issue

Use the following commands to run test case `platform_tests.test_memory_exhaustion`:

[code]

### Describe the results you received

I can no longer connect to DUTs by either SSH or console.

#

[2022-03-24 15:27] dgsudharsan opened #10342 "Yang validation fails when Buffer profiles are configured with "NULL" values"
#### Description
Below is the sample buffer configuration. In dynamic buffer model, "NULL" is a legal value but yang model check doesn't tolerance it.

Failed to install p4-examples=1.0.1-8: Failed to install p4-examples: Data Loading Failed
Leafref "/sonic-buffer-profile:sonic-buffer-profile/sonic-buffer-profile:BUFFER_PROFILE/sonic-buffer-profile:BUFFER_PROFILE_LIST/sonic-buffer-profile:name" of

[2022-03-24 17:11] zhangyanzhao commented on #10342
@adyeung Adam, can you please help to find someone in BRCM to take a look? Thanks.

[2022-03-24 19:01] adyeung commented on #10342
@AmitKaushik7 Amit from BRCM will followup

[2022-03-24 23:07] dgsudharsan commented on #10244
@AkhileshSamineni  @adyeung Can you please look into this?

[2022-03-24 23:08] dgsudharsan commented on #10244
@Praveen-Brcm @adyeung Can you please look into this?

[2022-03-24 23:09] dgsudharsan commented on #10245
@Praveen-Brcm @adyeung Can you please look into this?

[2022-03-24 23:11] dgsudharsan commented on #10247
@prsunny  Can you please assign virtual chassis to someone in MSFT?

@zhenggen-xu  @praveen-li  Can you please assign someone for the breakout config?

[2022-03-25 09:00] bingwang-ms opened #10350 "[CRM] crmorch complains `Failed to get availability counter `"
#### Description

We are seeing crmorch is complaining `Failed to get availability counter` err logs on Dx010 (broadcom) platform.
[code]
Is it safe to ignore these errors?

#### Steps to reproduce the issue:
1.  No need to repro. The log shows up each 5 minures.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Out

[2022-03-25 12:07] AmitKaushik7 commented on #10342
Raised a PR #10353 [Allow NULL Buffer Profile in buffer pg/queue yang files for Dynamic Buffer Model ] for this issue.

[2022-03-25 16:26] #10284 closed

[2022-03-25 16:31] #9409 closed

[2022-03-26 00:06] #9709 closed

[2022-03-26 12:41] zhengbiqing commented on #8546
“Warm upgrade from SAI 3.5 to 4.3 fails”    Can you tell me where is the SAI?  Thanks!

[2022-03-27 07:12] zhengbiqing opened #10357 "make init fail. Help please!"
#### Description

#### Steps to reproduce the issue:
1. Follow the steps of Usage section in https://github.com/Azure/sonic-buildimage.  in Ubuntu 20.04. system.
2. in make init, almost dead after: "Cloning into '/home/zbq/sonic/sonic-buildimage/platform/mellanox/sdk-src/sx-kernel/Switch-SDK-drivers'... "  so I enter /home/zbq/sonic/sonic-buildimage/platform/mellanox/sdk-src/sx-kernel and use comm

[2022-03-28 03:39] dgsudharsan commented on #9831
@judyjoseph Is there any update on this bug?

[2022-03-28 06:34] ganglyu opened #10363 "[yang] Invalid asn number"
#### Description

radv-test-sample-graph.xml, sample-graph-resource-type.xml, sample-graph-subintf.xml, simple-sample-graph.xml and t0-sample-graph.xml are using 0 as bgp asn number, can not pass yang validation.

#### Steps to reproduce the issue:
1. Run yang validation, follow https://github.com/Azure/sonic-buildimage/pull/9700
2. Just check xml can find invalid asn number.

#### Describe the re

[2022-03-28 09:09] ganglyu opened #10364 "[yang] sample-chassis-packet-lc-graph is using invalid switch_type"
#### Description

https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml#L397
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml#L462
Switch_type is 'chassis_packet', and it does not match pattern in:
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yan

[2022-03-28 09:16] ganglyu opened #10365 "[yang] device metadata validation failed"
#### Description

https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/test_minigraph_case.py#L173-#L184
There's a new field 'dhcp_server' in device metadata, and yang model is not updated.

#### Steps to reproduce the issue:
1. Follow test_minigraph_dhcp_server_feature to run sonic-cfggen command, and check device_metadata field.

#### Describe the results you recei

[2022-03-28 09:38] ganglyu opened #10366 "[yang] portchannel configuration does not match yang models"
#### Description

https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml#L319-#L328
portchannel is referring port alias, but yang model needs port name.
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-portchannel.yang#L65

#### Steps to reproduce the issue:
Run sonic-config-engine unit te

[2022-03-28 09:53] #9167 closed

[2022-03-28 10:33] #10366 closed

[2022-03-28 14:55] ITJamie commented on #9716
@jostar-yang / @wally-wang-accton  do you have any idea when the proposed fixes will be merged?
the most recent commit to PR #8305 was on march 8th. but this has been going on for quite some time

[2022-03-28 18:16] #8140 closed

[2022-03-28 19:13] #9996 closed

[2022-03-28 21:21] yozhao101 commented on #10336
Update: We also observed the auto-restart testing failure of `teamd` on device `str-e1031-acs-3` and the failure is due to the same reason. Following are log messages from device:

        7012 Mar 28 06:08:39.295430 str-e1031-acs-3 NOTICE swss#portsyncd: :- onMsg: nlmsg type:16 key:PortChannel102 admin:1 oper:0 addr:00:e0:ec:84:9c:6a ifindex:133 master:0 type:team
        7013 Mar 28 06:08:39.295

[2022-03-28 22:28] yozhao101 commented on #10336
**Update**: See the same race condition issue on device `str2-7215-acs-1`:

After `teamd`, `swss` and `syncd` were restarted, BGP sessions with T2 devices were not up:

        admin@str2-7215-acs-1:~$ show ip bgp summary

        IPv4 Unicast Summary:
        BGP router identifier 10.1.0.32, local AS number 65100 vrf-id 0
        BGP table version 6729
        RIB entries 1923, using 246144 bytes

[2022-03-28 22:35] vaibhavhd commented on #10152
https://github.com/Azure/sonic-buildimage/pull/10237 closes this issue. Thanks Celestica team!

[2022-03-28 22:35] #10152 closed

[2022-03-28 22:35] vaibhavhd commented on #10150
https://github.com/Azure/sonic-buildimage/pull/10171 closes this issue. Thanks Dell team!

[2022-03-28 22:35] #10150 closed

[2022-03-29 01:57] #10020 closed

[2022-03-29 02:24] cel-eric commented on #10339
Postpone to handle this issue until back to office.

[2022-03-29 02:34] wen587 opened #10376 "[yang] sonic-bgp-peerrange.yang same ip_range is not allowed"
#### Description
ip_range in sonic-bgp-peerrange.yang is not allowed.

#### Steps to reproduce the issue:
1. Initial peer_range setup in kvm t0
[code]
2. Add two extra config. One with same ip_range with BGPVac, the other is not.
[code]
3. Check bgp config. Only one is added.
[code]

#### Describe the results you received:
See above.

#### Describe the results you expected:
In GCU test, syslog wil

[2022-03-29 05:09] JafarSeyedi commented on #10004
Hi, I have the same error (chipset : Trident 2)
This is the log:

Mar 16 17:26:57.335089 sonic ERR syncd#syncd: [none] SAI_API_TUNNEL:_brcm_sai_vxlan_create_vpn:875 create tunnel initiator setup for net port failed with error Invalid parameter (0xfffffffc).
Mar 16 17:26:57.335089 sonic ERR syncd#syncd: [none] SAI_API_TUNNEL:_brcm_sai_vxlan_enable:1167 create a vxlan decap tunnel failed with error

[2022-03-29 06:08] srj102 commented on #10004
EVPN VXLAN is supported only on Trident 3.

[2022-03-29 07:25] ganglyu commented on #10364
@[mlorrillere](https://github.com/mlorrillere)

[2022-03-29 10:02] ljyfree opened #10386 "[YANG]sonic-dot1p-tc-map.yang would cause failed deployment via mgmt-framework"
#### Description
There are nested LISTs in ./yang-models/sonic-dot1p-tc-map.yang as follows:
[code]
The target configuration into configDB as follows:
[code]
It means dot1p-1 maps to tc-2 and dot1p-3 maps to tc-4.
However,mgmt-framework's CVL function would check if field(here is "1" and "3") exist in the schema sourced from yang.
It would definitely failed.

Same issue for dscp-to-tc-map.

I foun

[2022-03-29 10:36] maheshwari-mayank commented on #10386
When sonic-dot1p-tc-map.yang was uploaded to sonic-yang-models, the community didn't agreed to use CVL extension "map-list". In review, it was told to remove this extension. So this PR (https://github.com/Azure/sonic-mgmt-common/pull/51) was raised which removes the support of CVL extension "map-list" support from CVL. This PR is still not merged.

To fix this issue, either sonic yang should be al

[2022-03-29 10:40] ppikh commented on #9679
Hi @kellyyeh

I tried sonic-db-cli using next scenario:

[code]
Then I checked that DHCP settings applied:
[code]
Then I did restart for DHCP relay service:
[code]
Then tried to get IPv6 address from DHCPv6 client - but it was not successful. Packet was not forwarded to DHCP server.
It looks like DHCP relay service not running.

[code]

Please check from your side, or provide me step by step scena

[2022-03-29 13:26] raphaelt-nvidia commented on #7538
Hi @anilkpan,

SAI is able to generate both SAI_FDB_EVENT_FLUSHED and SAI_FDB_EVENT_AGED, based on the event arriving from SDK.  Our SDK sends FLUSHED in a scenario like the present one, where a member port is removed from a vlan.  It sends AGED after a configurable amount of time with no traffic.  Thus, where ports A and B are members in a vlan passing traffic, FLUSHED is generated when A is remo

[2022-03-29 14:28] slutati1536 opened #10388 "[Functional ] [vlanmgr] | vlanmgrd might crash when a member is removed from vlan"
#### Description
/sbin/bridge vlan del vid {{vlan_id}} dev {{port_alias}}
cmd is failing and this the process is exiting taking down swss docker with it.
This is happening because https://github.com/Azure/sonic-swss/blob/master/cfgmgr/vlanmgr.cpp#L240
this is a functional issue that can be seen in 202012 & 202111 versions.

#### Steps to reproduce the issue:

config vlan add 10
config portchannel

[2022-03-29 16:12] kellyyeh commented on #9679
Hi @ppikh which image are you running these commands on?

[2022-03-29 16:57] vaibhavhd opened #10390 "[201811->202012][WARM] APPLY_VIEW failure and core seen in LAG member down scenario"
#### Description

Warmboot SAD case (dur_lag_member_down) causes APPLY_VIEW failure due to unwanted ASIC operations during APPLY_VIEW.

#### Steps to reproduce the issue:
1. Warm reboot from 201811 to latest 202012 with 1 or more LAG member down from DUT side.
2.
3.

#### Describe the results you received:

1. Object count for SAI_OBJECT_TYPE_LAG_MEMBER, SAI_OBJECT_TYPE_ROUTE_ENTRY on current view

[2022-03-29 17:49] anilkpan commented on #7538
@raphaelt-nvidia,
It depends on the SAI/SDK implementation. Both AGED and FLUSHED events will cause fdb to be removed from SONiC. Some SAI implementations generate AGED events for all the mac that are flushed.

[2022-03-29 18:22] kcudnik commented on #10390
could you provide sairedis recording for this scenario ?

[2022-03-29 18:23] kcudnik commented on #10390
SAI_OBJECT_TYPE_NEIGHBOR_ENTRY is a leaf objects and it don't have any dependencies, it should be possible to remove it at any time, i think we discuss this on last issue with lag members, and it needs to be fixed by vendor

[2022-03-29 20:55] tjchadaga commented on #10390
CS00012228971 filed with broadcom is tracking this RFE

[2022-03-29 22:22] kcudnik commented on #10390
issue is probably related to wrong matching RIF interfaces, which from syslog seems like wrong guess is taken, since rif interfaces based on lag which don't have lag members are exactly the same, so selection at random is performed. i will analyse attached logs and add pre match logic based on neighbor entry which will cause match rif interfaces

[2022-03-29 23:03] judyjoseph commented on #10336
From logs I see this is a completely different scenario where the portchannels were not cleaned up on exit

[code]

So can we try updating the autorestart testcase to use SIGTERM and see the behavior ?

[2022-03-29 23:15] selldinesh commented on #9406
Hi
we are using barefoor dut with SONiC.202111.83809-dirty-20220324.191815 image.
When we run the acl/test_acl.py case , we are hitting the same issue, i.e in syslog we are getting failed to create aCL table, Can you please let us know what is the workaround to resolve this issue

[2022-03-30 02:08] #10233 closed

[2022-03-30 02:12] jostar-yang commented on #9716
There is some problem on 202106br if you use this branch. PDDF is not complete merged. So it cause PDDF init fail. PDDF work on master code base. But it seems it is not good to get master code to do manual merge to 202106br. Because kernel is different and master has use sfp refactor, PDDF support it in master code. But these code can't work on 202106br. So you need to get code from 202012br to le

[2022-03-30 03:12] jostar-yang commented on #9716
When use 202106BR, you should do below to your code base,
rm  sonic-buildimage/device/accton/x86_64-accton_as7726_32x-r0/pddf_support
rm sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.postinst
rm sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.install

rm sonic-buildimage/platform/bro

[2022-03-30 14:17] dgsudharsan opened #10408 "[BFD]Robust port number check is required before passing to SAI"
#### Description
In SONiC code BFD port number allocation start at 49152 and max is 65536. Though these port numbers are available for applications to use, there might be scenarios where there are other applications using a port and it becomes unavailable for BFD.
To overcome this, I believe the check needs to be more robust and check port availability before programming SAI. Without checking this

[2022-03-30 15:23] zhangyanzhao commented on #10005
Need capture more logs to determine which component missed the deletion operation in the invoke chain.

[2022-03-30 15:27] zhangyanzhao commented on #10388
@adyeung will find someone from BRCM to take a look. Thanks.

[2022-03-30 15:31] zhangyanzhao commented on #10350
Volodymyr will check his change to see if it is related to this issue.

[2022-03-30 15:34] zhangyanzhao commented on #10350
Do not see this issue before 3/2. Maybe orchagent logic issue, if counter is not available, then should not pull this.

[2022-03-30 15:38] zhangyanzhao commented on #10326
Kelly, please help to take a look. Thanks.

[2022-03-30 15:39] #10251 closed

[2022-03-30 15:39] #10321 closed

[2022-03-30 15:40] zhangyanzhao commented on #10319
not supported.

[2022-03-30 15:49] zhangyanzhao commented on #10310
Mitigated for now, long term fix may require a new feature: by default, make ALL the blocking calls as False

[2022-03-30 15:52] zhangyanzhao commented on #10282
@rlhui can you please help to triage during Chassis meeting? Thanks.

[2022-03-30 15:53] zhangyanzhao commented on #10269
Need a new feature to address. Need help from community.

[2022-03-30 15:59] lguohan commented on #10222
no sonic does not support poe

[2022-03-30 15:59] kcudnik commented on #10390
@tjchadaga sairedis.rec you attached is from warm boot only, i need also part from cold boot on 201811, otherwise i wont be able to reproduce this

[2022-03-30 16:01] liat-grozovik commented on #10232
@keboliu could you please help to fix?

[2022-03-30 16:15] kellyyeh opened #10409 "Radvd failing to start due to new device type name"
#### Description
Radvd checks for device type name that contains "ToRRouter" to determine if process should be started.
When new device type name is introduced but not added to radv docker whitelist of devices, radvd process fails to start.

#### Steps to reproduce the issue:
1. In config db, set DEVICE_METADATA|localhost|type to a name that does not include ToRRouter and not in radv docker whilte

[2022-03-30 16:16] vaibhavhd opened #10410 "[master][warmboot] APPLY_VIEW failures seen due to ASIC operations on `SAI_OBJECT_TYPE_UDF_MATCH`"
#### Description

After warm-reboot ASIC operations on `SAI_OBJECT_TYPE_UDF_MATCH` fail the APPLY_VIEW process. This caused syncd, swss errors and OA crash.

#### Steps to reproduce the issue:
1. Install latest master image on Broadcom ASIC platform
2. Issue warm-reboot
3. Check logs

#### Describe the results you received:

There are attempted ASIC operations on `SAI_OBJECT_TYPE_UDF_MATCH`. This

[2022-03-30 16:54] prsunny commented on #10245
@Praveen-Brcm , could you please address this? @gechiang for viz

[2022-03-30 17:33] kcudnik commented on #10390
possible fix is here: https://github.com/Azure/sonic-sairedis/pull/1026

[2022-03-30 19:23] vaibhavhd commented on #10326
This was most recently seen on 4600 TOR running master image. Fast-reboot resulted in dhcpmon core. This issue is NOT consistently reproducible.

[2022-03-30 19:30] anilkpan commented on #10388
PortChannel1111 was removed before removing it from Vlan 10. And when Vlanmgr tries to remove PortChannel1111 from Vlan 10 in kernel, it returns error, which causes Vlanmgr to crash.
To avoid this kind of dependency issues, we should add a check in Click command processing to not allow removing a portchannel if it is still a member of vlan.

[2022-03-30 19:57] victorhooi commented on #10222
Wait - are you saying that Sonic does not support PoE ports at all on switches?

Because the SONiC HCL does have PoE switches (e.g. AS4630-54PE) - do you mean the PoE ports won't deliver PoE at all?

Or simply that you can't configure/monitor them at all?

[2022-03-30 22:40] vivekreddynv commented on #10388
Along, with that this should also be handled in the vlanmgr to not crash and handle it gracefully

[2022-03-30 22:42] qiluo-msft commented on #8501
Confirmed the bug on a multi-ASIC DUT.

[2022-03-30 23:48] dgsudharsan commented on #10357
@zhengbiqing  Can you please specify the branch you are using in sonic-buildimage? Can you also please check if you are synced to the head of the branch in sonic-buildimage?
make init should also be accomplished by "git submodule update --recursive". Can you please try this?

[2022-03-30 23:52] Blueve commented on #10409
Instead of depending on specific device type, a feature flag in config db is better.
We should avoid naming assumption or device type dependency in our image.
This issue is for tracking the refactoring effort.

[2022-03-31 01:30] dgsudharsan opened #10412 "[VNET]Removing Vnet with scope default results in SAI VRF delete failure due to references not removed."
#### Description

When Vnet object with scope default is deleted, the removal of the VRF in SAI fails. With default scope both overlay routes and regular routes get created with the VRF associated with VNET. After Overlay routes are removed, when VNET is deleted during the tests, it fails with the below logs

 Mar 29 18:18:23.508200 r-tigon-11 ERR swss#orchagent: :- meta_generic_validation_remove:

[2022-03-31 07:29] #10364 closed

[2022-03-31 11:08] ppikh opened #10419 "[DHCPv6_RELAY] DHCPv6 relay does not forward DHCP6_RelayForward message"
#### Description
DHCPv6 relay does not forward DHCP6_RelayForward message
Issue similar to: https://github.com/Azure/sonic-buildimage/issues/9689 which is closed(I can't reopen it)

**For example in case when topology is next:**
DHCP6 client ------ > DHCP6 Relay ------ > DHCP6 relay ------ > DHCP6 server

Message from client will be encapsulated into DHCP6_RelayForward  message by first DHCP6 rela

[2022-03-31 13:21] zhengbiqing commented on #8796
I failed 3 times for this reason:

The command '/bin/sh -c git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git /usr/share/depot_tools' returned a non-zero code: 128
Unable to find image 'sonic-slave-stretch:eb0558e0531' locally
Error response from daemon: pull access denied for sonic-slave-stretch, repository does not exist or may require 'docker login': denied: requested ac

[2022-03-31 13:23] zhengbiqing commented on #9741
I have the same problem. Do you fix this?

[2022-03-31 13:41] zhengbiqing commented on #10357
Thanks!  I fix the problem by hand.   but don't know the real reason.

I find something wrong with .git directory and .git file of many modules.  the modules are links in sonic-buildimg will have wrong:

[Switch-SDK-drivers @ 37475d9](https://github.com/Mellanox/Switch-SDK-drivers/tree/37475d91930e3aae3490a4423da280a5cae72407)

maybe my git not configured normally?

[2022-03-31 16:17] #8239 closed

[2022-03-31 17:24] zhangyanzhao commented on #10386
Venkat will help to review this issue. Thanks.

[2022-03-31 17:24] venkatmahalingam commented on #10386
@AshokDaparthi Can you please check this issue?

[2022-03-31 17:28] zhangyanzhao commented on #10363
@ganglyu will you take care of this issue or you need some help from community?

[2022-03-31 17:30] qiluo-msft commented on #10363
@ganglyu If we added a dummy ASN in xml files, will it work?

[2022-03-31 17:37] zhangyanzhao commented on #9312
Need @li-pingmao help to fix #9136

[2022-03-31 17:43] zhangyanzhao commented on #9692
@ghooo will check with Praveen on this task. CV is required.

[2022-03-31 17:53] venkatmahalingam commented on #10386
@ljyfree SONiC YANG models present https://github.com/Azure/sonic-mgmt-common/tree/master/models/yang/sonic and https://github.com/Azure/sonic-buildimage/tree/master/src/sonic-yang-models/yang-models are not same, we still honor map-list in mgmt-common repo, please continue to use it, if https://github.com/Azure/sonic-mgmt-common/pull/51 is merged, you can migrate to newer model.

[2022-03-31 21:04] kellyyeh commented on #10326
@shlomibitton seems like this is introduced by dhcpmon v6, it is missing offset bound check here: https://github.com/Azure/sonic-buildimage/blob/32c00fb014d73becc395b8562d8b77b9c6aff79a/src/dhcpmon/src/dhcp_device.c#L341

Can you help check and fix it?

[2022-04-01 00:31] ljyfree commented on #10386
@maheshwari-mayank
Have you ever compiled mgmt-common with mgmt-framework and validate if deploy dot1p-to-tc work via RESTConf works?

[2022-04-01 00:48] praveen-li commented on #9746
Kindly add below, it should fix this issue. Let me know if not. Thx.

if not configC.get(ccontainer['@name']):
+       # Empty container, clean config and return
+      del configC[ccontainer['@name']]
        return

[2022-04-01 01:34] bingwang-ms opened #10425 "[ACL] Failed to create ACL table because Action list is mandatory"
#### Description

We saw below errors when creating ACL/EVERFLOW table in nightly test on master image.
[code]
#### Steps to reproduce the issue:
1. Run test_acl or test_everflow
2.
3.

#### Describe the results you received:
Test should pass with no error.

#### Describe the results you expected:
Test failed because `DATAACL` and `EVERFLOW` tables were not created.

#### Output of `show version`:

[2022-04-01 03:31] wen587 commented on #9746
Hi @praveen-li , Could you elaberate where to add those lines?

[2022-04-01 05:54] maheshwari-mayank commented on #10386
@ljyfree
Sorry I didn't depolyed dot1p-to-tc yang as I am not owner of this yang.
@AshokDaparthi @ohu1 Please kindly check this yang.

[2022-04-01 06:08] jostar-yang commented on #9716
I suggest you can use the latest master code base because PDDF work well.
And show platform cmd work well. You don't need do these manual merge from 202012br and PR#8305.

[2022-04-01 08:48] #9852 closed

[2022-04-01 09:13] stepanblyschak opened #10434 "sonic-installer does not work when there is no database running"
#### Description

```sonic-installer``` and ```show version``` commands don't work when there is no database running.
These utilities should be working regardless of database state.

If there is an issue in the image with the database it won't be possible to reinstall the image.

#### Steps to reproduce the issue:
1. docker kill `docker ps -q`
2. sudo sonic-installer list
3. show version

#### Des

[2022-04-01 17:47] #8501 closed

[2022-04-01 22:39] AshokDaparthi commented on #10386
@ljyfree - We are not deployed dot1p-to-tc or any qos maps with sonic-yang with restconf. We  defined YANG models for qos maps and we did not sing up for testing YANG with restconf etc with sonic yang's. Defining YANG models does not mean it will work from mgmt-common for RESTconf unless YANG and DB formats is same.

Here YANG model and DB formats are different. In YANG, key is "dot1p"; and values

[2022-04-01 23:32] #10365 closed

[2022-04-02 00:04] gechiang commented on #8292
@yozhao101 Any ideas?
I am seeing this getting hit a lot more often now on this particular device.
Do you think it may be a HW issue?  Can you share what you find so far for this?
Thanks!

[2022-04-02 00:33] maulik-innovium opened #10442 "[sflow] sflow samples are not received any more after warm-reboot in sonic 202012"
#### Description
When the testcase sflow/test_sflow.py::TestReboot::testWarmreboot was run, it fails because no sflow samples were received after warmboot.

#### Root cause:
Host sflow deamon running in sflow docker is not listening on multicast group ‘psample’ anymore after warm-reboot

#### Detailed flow of test:

1. Test testcase sflow/test_sflow.py::TestReboot::testWarmreboot  configures sflow

[2022-04-02 16:56] JafarSeyedi commented on #10004
@srj102, Thanks for your response. So what I must do with Trident 2 based switch? As I know Trident 2 supports VXLAN (VLAN to VNI at least), but it is not supported in SAI as you said.
1. Is there any way to call Opennsl directly in Sonic?
2. Is there any plan to support VXLAN in the SAI for Trident 2?

[2022-04-02 17:31] abdosi commented on #8501
Submodule PR is merged: https://github.com/Azure/sonic-buildimage/pull/10440

@sanmalho-git please check.

[2022-04-03 08:52] liat-grozovik commented on #10419
@kellyyeh FYI, appreciate if you can take a look.

[2022-04-03 19:12] prsunny commented on #10419
DHCP traps are installed for `type = ToRRouter` ([Ref](https://github.com/Azure/sonic-buildimage/blob/202012/files/image_config/copp/copp_cfg.j2#L84)). Can you confirm the type in DEVICE metadata?. Also, is DHCPv4 working fine?

[2022-04-04 04:55] #9553 closed

[2022-04-04 08:37] shlomibitton commented on #10419
Hi @prsunny,
Yes the device type is ToRRouter and DHCP trap is configured on the switch by the copp_cfg.json

**From Config DB**

    "DEVICE_METADATA": {
        "localhost": {
            "buffer_model": "dynamic",
            "default_bgp_status": "up",
            "default_pfcwd_status": "disable",
            "docker_routing_config_mode": "split",
            "hostname": "r-spider-05",

[2022-04-04 14:18] sanmalho-git commented on #8501
@abdosi  Could you please provide a link to where I can get a multi-asic KVM image with the above fix.

[2022-04-04 15:03] #5948 closed

[2022-04-04 15:41] liat-grozovik commented on #9945
@kellyyeh kindly reminder to provide the needed info.

[2022-04-04 15:43] liat-grozovik commented on #9714
@nazariig and @judyjoseph  can you please update on the above?  We also see the issue on 202111.

[2022-04-04 15:51] judyjoseph commented on #9714
@nazariig Could you share more info on the state of the device when this issue happens , like the memory free etc. There are a large number of teamd instances running.

[2022-04-04 23:00] vivekrnv opened #10466 "[Vxlanmgrd] vxlan tunnel map netdev creation fails when the dev name length crosses IFNAMSIZ"
#### Description

Vxlan Tunnel Map Netdev creation fails when the length of vxlan_dev_name crosses IFNAMSIZ .

#### Steps to reproduce the issue:
[code]

Note: This is seen in 202012 & 202111 and master as well.

#### Describe the results you received:

No vxlan netdev is created.

In syslog:
[code]

#### Describe the results you expected:

These commands must be executed succesfully [Code](https:

[2022-04-05 03:37] zhengbiqing opened #10468 "make SONIC_BUILD_JOBS=4 all Fail"
#### Description

#### Steps to reproduce the issue:
1. I follow "Usage" section as https://github.com/Azure/sonic-buildimage.
2. there are some problems when "make init", but I fixed them.  https://github.com/Azure/sonic-buildimage/issues/10357
3. make configure PLATFORM=broadcom
4. and run "make SONIC_BUILD_JOBS=4 all" many times, but there are various problems. for example, there are no output

[2022-04-05 04:10] zhengbiqing commented on #10468
the recent run "make SONIC_BUILD_JOBS=4 all", after about 20 minutes, exist with error. the tail of the output is :

[ 02 ] [ target/debs/bullseye/libnl-3-200_3.5.0-1_amd64.deb-install ]
[ 03 ] [ target/python-wheels/bullseye/swsssdk-2.0.1-py3-none-any.whl-install ]
[ 04 ] [ target/debs/bullseye/sonic-platform-arista_1.0_amd64.deb ]
[A[K[A[K[A[K[A[K[ FAIL LOG START ] [ target/debs/bullseye

[2022-04-05 05:01] jmmikkel commented on #10157
I had nothing to do with this table. If you are going to dig up the people who originally added the tables, this needs someone else.

[2022-04-05 08:59] shlomibitton commented on #9690
@kellyyeh Do you have an ETA for this fix?

[2022-04-05 10:49] kcudnik commented on #10390
Fix for master and 202012 https://github.com/Azure/sonic-sairedis/pull/1027 has been merged

[2022-04-05 10:51] zhengbiqing commented on #10468
I try "make SONIC_BUILD_JOBS=1 all".  after do something. the command "stop": no output and no error, and the command not exist. "stop" for several hours:

Successfully built sonic-host-services pycairo
Installing collected packages: pycairo, sonic-host-services
Successfully installed pycairo-1.21.0 sonic-host-services-1.0
Found existing installation: sonic-host-services 1.0
Uninstalling sonic-hos

[2022-04-05 12:48] zhengbiqing commented on #10468
At last, the command exist with error:

Uninstalling sonic-host-services-1.0:
[ 01 ] [ target/sonic-broadcom.bin ]
[ FAIL LOG START ] [ target/debs/bullseye/sonic-platform-arista_1.0_amd64.deb ]
[ REASON ] :      target/debs/bullseye/sonic-platform-arista_1.0_amd64.deb does not exist   NON-EXISTENT PREREQUISITES: target/debs/bullseye/linux-headers-5.10.0-8-2-amd64_5.10.46-4_amd64.deb-install targe

[2022-04-05 13:20] YanChii commented on #9716
Thanks @jostar-yang

I confirm the platform info and interface status is working in `master`  `20220404.3` build.

[code]
[code]
[code]
[code]
However:
[code]
Should I start a separate thread about the above error?

Thanks for the work guys.

Jan

[2022-04-05 21:22] kellyyeh commented on #10419
Hi @shlomibitton
[code]
Why is unicast used instead of multicast here?

[2022-04-05 21:41] #9767 closed

[2022-04-05 23:44] kellyyeh commented on #9945
I am not able to reproduce the issue. Can we confirm if this issue is still happening?

[2022-04-06 00:05] iMasaruOki commented on #10269
eth1 is, but Ethernet0 isn't.

[2022-04-06 01:47] bingwang-ms commented on #10425
Similar issue with https://github.com/Azure/sonic-buildimage/issues/9406

[2022-04-06 06:06] shlomibitton commented on #10419
Hi @kellyyeh
Only the client send the DHCPv6 packets as multicast, the messages between the relay and the server are unicast packets.
Please check this:
https://www.cisco.com/c/dam/en/us/support/docs/ip/dynamic-host-configuration-protocol-dhcp-dhcpv6/200138-ASA-DHCPv6-Relay-configuration-example-11.png

[2022-04-06 06:33] #10363 closed

[2022-04-06 06:57] kellyyeh commented on #10419
@shlomibitton correct me if I'm wrong, SONiC is acting as the second relay agent here. First relay agent should multicast the packet to second relay agent, which is then encapsulated and forwarded to the server. Why is scapy crafted packet unicasting to the server instead of multicasting to relay agent?

[2022-04-06 08:40] ppikh commented on #10419
Hi,
Issue also reproduces on SONiC 202111 image.

[2022-04-06 09:42] jostar-yang commented on #9716
For "show platform firmware status", it need to manual merge below PR,
https://github.com/Azure/sonic-buildimage/pull/8315

For "show platform summary", we are checking pddf code currently.

[2022-04-06 11:03] shlomibitton commented on #10419
@kellyyeh You are correct about SONiC is acting as the second relay agent here.
Can you share the RFC or other doc explaining packets between relays should be multicast?

[2022-04-06 11:39] ppikh commented on #10419
Hi @kellyyeh

I checked RFC 8415 https://datatracker.ietf.org/doc/html/rfc8415#page-89

[code]

So it looks like in Relay-forward message destination should be unicast  IP of DHCP server(or next DHCP relay).

[code]

Also the same packet format works good with 202106 image(with different DHCPv6 relay implementation)

[2022-04-06 13:59] #9628 closed

[2022-04-06 21:50] sanmalho-git commented on #8501
@abdosi  - this is still failing on the latest 4 asic multi-asic KVM.

[code]

[2022-04-07 00:46] #9746 closed

[2022-04-07 00:59] ganglyu opened #10487 "[yang] Support new device type"
#### Description

minigraph has introduced new device type: BmcMgmtToRRouter
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/minigraph.py#L40
Yang models does not support this pattern:
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-device_metadata.yang#L88-L93

#### Steps to reproduce the issue:
1. Run unit test for sonic

[2022-04-07 05:50] #9579 closed

[2022-04-07 06:02] jostar-yang opened #10489 "[ACCTON/PDDF] Show platform summary display serial number=N/A on as7726"
#### Description
Show platform summary not display serial number on as7726

#### Steps to reproduce the issue:
1.  Install master image to as7726
2.   Do "show platform summary",
3. show platform summary

#### Describe the results you received:
Serial number show "N/A" as below log,
Platform: x86_64-accton_as7326_56x-r0
HwSKU: Accton-AS7326-56X
ASIC: broadcom
ASIC Count: 1
Serial Number: N/A
Model

[2022-04-07 06:02] jostar-yang opened #10490 "[ACCTON/PDDF] Show platform summary display serial number=N/A on as7726"
#### Description
Show platform summary not display serial number on as7726

#### Steps to reproduce the issue:
1.  Install master image to as7726
2.   Do "show platform summary",
3. show platform summary

#### Describe the results you received:
Serial number show "N/A" as below log,
Platform: x86_64-accton_as7326_56x-r0
HwSKU: Accton-AS7326-56X
ASIC: broadcom
ASIC Count: 1
Serial Number: N/A
Model

[2022-04-07 06:09] jostar-yang commented on #10490
Duplicate issue. So close this one.

[2022-04-07 06:09] #10490 closed

[2022-04-07 14:55] dgsudharsan commented on #10466
@prsunny  FYI. There is a test in sonic-mgmt that results in vxlan netdev crossing IFNAMSIZ and thus leading to errors. Can you please assign someone to investigate?

[2022-04-07 18:50] nazariig commented on #9714
@judyjoseph providing the details per your request:

**LAG configuration**:
[code]

**Before LAG members scale**:
[code]
**After LAG members scale (~15 min)**:
[code]

**LOG**:
*/var/log/syslog*:
[code]

*/var/log/teamd.log*:
[code]
We don't see a memory depletion (significant)

**P.S**: IMHO, the issue is caused by `netlink` memory management in kernel

Kernel NET subsystem memory configuration:

[2022-04-07 23:14] prsunny commented on #10466
@vivekreddynv , @dgsudharsan , can you point me to the test where they create vxlan netdevs crossing the name size limit

[2022-04-07 23:48] #10487 closed

[2022-04-08 00:41] anamehra opened #10501 "Fix gbsyncd and swss inter dependency"
#### Description

In current software, it appears that gbsyncd restart is required when syncd and swss services restart manually or due to a failure. If gbsyncd service does not restart, swss keeps failing until systemd puts the service in failed state. It appears that gbsyncd is required to be restarted when swss restart, like syncd which is restated every time swss restarts.

This bug is to inve

[2022-04-08 00:43] anamehra commented on #10501
Hi @abdosi , FYI-

[2022-04-08 02:34] ganglyu opened #10503 "[yang] vlan subintf name does not match yang model definition"
#### Description

Yang model does not support long name format for portchannel.

libyang[0]: Must condition "(substring-before(current(), '.') = /sonic-port:sonic-port/sonic-port:PORT/sonic-port:PORT_LIST/sonic-port:name) or (starts-with(substring-before(current(), '.'), 'Eth') and concat('Ethernet', substring-after(substring-before(current(), '.'), 'Eth')) = /sonic-port:sonic-port/sonic-port:PORT

[2022-04-08 03:14] vivekreddynv commented on #10466
Hi @prsunny, after a recheck it seems the test isn't configuring a netdev name greater than IFNAMSIZ. We did see these logs in out test but unclear where the config came from.

So, no issue in the test, it is configuring names under the IFNAMSIZ. This is a general issue for vxlanmgr source code

[2022-04-08 03:50] gord1306 commented on #10466
@vivekreddynv  Could you provide the info that IFNAMSIZ being enlarged to 256? In the [linux github repo](https://github.com/torvalds/linux/blob/v5.10/include/uapi/linux/if.h#L33) the IFNAMSIZ is still defined to 16. Thanks.

[2022-04-08 06:57] vivekreddynv commented on #10466
You're right. Thanks for correcting. This fails on bullseye as well.

[2022-04-08 13:25] feanis commented on #9716
Did you also verified traffic on it's interfaces  ?

[2022-04-08 18:02] mlok-nokia opened #10569 "[multiasic] Issue is shown on "sudo sfputil show presence" on a multiasic platform with minigraph generated config_db files"
After sonic-buildimage picked up PR https://github.com/Azure/sonic-platform-common/pull/264,  command "sudo sfpulti show presence" and "eeprom" show the following back trace.   After an investigation:  On the multasic platform,  minigraph generates a partial port info (doesn't contains INDEX -- "physical_port")  and inserts to a PORT table in the CONFIG_DB in the host database if the port's extern

[2022-04-08 18:16] dgsudharsan commented on #9478
This issue regarding upper case MAC should be fixed with Praveen's changes getting merged in latest master branch.

[2022-04-08 21:24] feanis opened #10518 "AS7726-32x's Traffic is not UP with VIAVI ONT 812(N-PORT Module) interconnected by ET6402-40DAC-3M"
#### Description

AS7726-32x Traffic(40GBASE-CR4) is not UP with VIAVI ONT 812(N-PORT Module) interconnected by ET6402-40DAC-3M.  We have been also observing frequency out of range and unstable at receiver side of PORT 1 VIAVI. Which creates a malfunctioning at PHY layer, hence due this reason PCS layer becomes unstable and reports LOBL, ISH, LOAML, LOA, Local Fault and Link Down alarms. Overall t

[2022-04-08 23:34] #10408 closed

[2022-04-09 00:31] kellyyeh commented on #9690
@shlomibitton PR in progress: https://github.com/Azure/sonic-buildimage/pull/10486

[2022-04-09 01:52] prsunny commented on #10466
@vivekreddynv , Could you close the issue if a fix is currently not expected? Thanks.

[2022-04-09 01:55] dgsudharsan commented on #10466
Prince, this issue is still a functional one. The test we thought introduced the config is not present. However we can manually create the issue and there is no check in vxlanmgr preventing invalid name

[2022-04-09 07:15] zhengbiqing commented on #3944
@fillmorechen0928  hi, "Tomahawk3 (TH3) SDK init fail after Upgrade broadcom SAI to 3.7.3.2", the SAI is a open source package? where can I get it?
How to integrate broadcom SDK and broadcom SAI into Sonic? Is there any doc about it?
Thanks!

[2022-04-10 10:15] shlomibitton commented on #9690
Thanks!

[2022-04-10 11:16] dprital commented on #9714
@judyjoseph - now that Nazarii delivered the required information, what should be the next step ?

[2022-04-11 01:56] #9676 closed

[2022-04-11 03:52] fillmorechen0928 commented on #3944
@zhengbiqing hi, please reference:
https://github.com/Azure/sonic-buildimage/commits/master/platform/broadcom/saibcm-modules

Broadcom SDK and Broadcom SAI are already in SONiC.

[2022-04-11 11:28] stephenxs opened #10530 "xcvrd received an error "get redis type 3 got type 5, err: NON-STRING-REPLY" when it tried removing an entry in `TRANSCEIVER_DOM_SENSOR` table for an absent SFP module"
#### Description

Error `NON-STRING-REPLY: Input/output error` occurred when `xcvrd` tries removing TRANSCEIVER_DOM_SENSOR table in `test_check_sfputil_reset`.

[code]

#### Steps to reproduce the issue:
1. Run `test_check_sfputil_reset` test.
2.
3.

The issue is reproduced at a very low probability.

#### Describe the results you received:
See above.

#### Describe the results you expected:
There

[2022-04-11 14:19] stephenxs commented on #10530
A possible solution:
1. Do not initialize any db_connection in `DaemonXcvrd.init`
2. Parent creates db_connection after `SfpStateUpdateTask.task_run` is called.

[2022-04-11 15:18] stephenxs commented on #10530
All other daemons with parent/child(ren) processes sharing db_connection can run into this issue as well. eg., we also observed a similar issue in thermal control daemon.

[2022-04-11 18:29] #10342 closed

[2022-04-11 18:29] #9991 closed

[2022-04-11 18:47] judyjoseph opened #10534 "The teamd docker not getting restarted when teamsyncd gets SIGTERM signal"
#### Description
The teamd docker not getting restarted when teamsyncd gets SIGTERM signal

#### Steps to reproduce the issue:
1. Send SIGTERM signal to teamsyncd process in teamd docker
2. Check if teamd docker exists

#### Describe the results you received:
The teamd docker did not restart.

str2--acs-1 INFO teamd1#supervisord 2022-04-11 18:39:11,420 INFO exited: teamsyncd (exit status 0; expect

[2022-04-12 01:07] wenyiz2021 commented on #10339
Same issue happened on multi-asic device, with 20191130.83 image

[2022-04-12 06:51] ganglyu opened #10544 "[yang] Need Yang for CONSOLE_SWITCH table"
#### Description

We don't have Yang model for CONSOLE_SWITCH table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models

[2022-04-12 06:53] ganglyu opened #10545 "[yang] Need Yang for DEVICE_NEIGHBOR_METADATA table"
#### Description

We don't have Yang model for DEVICE_NEIGHBOR_METADATA table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Y

[2022-04-12 06:56] ganglyu opened #10546 "[yang] Need Yang for DHCP_SERVER table"
#### Description

We don't have Yang model for DHCP_SERVER table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
1. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models.

[2022-04-12 06:58] ganglyu opened #10547 "[yang] Need Yang for KDUMP table"
#### Description

We don't have Yang model for KDUMP table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models.

#### D

[2022-04-12 07:00] ganglyu opened #10548 "[yang] Need Yang for RESTAPI table"
#### Description

We don't have Yang model for RESTAPI table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models.

####

[2022-04-12 07:01] ganglyu opened #10549 "[yang] Need Yang for SNMP table"
#### Description

We don't have Yang model for SNMP table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models.

#### De

[2022-04-12 07:03] ganglyu opened #10550 "[yang] Need Yang for SNMP_COMMUNITY table"
#### Description

We don't have Yang model for SNMP_COMMUNITY table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models

[2022-04-12 07:09] ganglyu opened #10552 "[yang] Need Yang for TELEMETRY table"
#### Description

We don't have Yang model for TELEMETRY table.

#### Steps to reproduce the issue:
1. Run 'config apply-patch' command
2. We can get below info:
sonic_yang(6):Note: Below table(s) have no YANG models: CONSOLE_SWITCH, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, KDUMP, RESTAPI, SNMP, SNMP_COMMUNITY, TELEMETRY

#### Describe the results you received:
sonic_yang reports no Yang models.

##

[2022-04-12 10:41] liat-grozovik commented on #10310
@qiluo-msft, @SuvarnaMeenakshi kindly reminder to review

[2022-04-12 17:54] kellyyeh commented on #10419
@ppikh @shlomibitton We do not have the plan to support relaying relay-forward unicast as we operate on L3, but I'm only to discussion on why this should be added. Please start an email thread if needed thanks!

[2022-04-12 22:27] kellyyeh commented on #9945
@ihorchekh This error message usually occurs when there are vlan(s) not configured with ipv6 helpers. Could you please check if this is the case for this issue?

[2022-04-12 22:27] #8932 closed

[2022-04-12 22:55] qiluo-msft commented on #10310
The proposed solution seems in good direction. It should not be extreme easy because existing code has some assumption on redis data availability. Would you like to raise a PR on this solution?

[2022-04-13 13:02] zhengbiqing opened #10563 "broadcom sonic errors：No module named 'sonic_platform'"
#### Description

#### Steps to reproduce the issue:
1. boot system on sonic-broadcom.bin
2.
3.

#### Describe the results you received:

ERROR 1:
zbq@sonic:~$ ishow platform firmware status
2004lTraceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/fwutil/__init__.py", line 2, in <module>
    from sonic_platform.platform import Platform
ModuleNotFoundError: No module n

[2022-04-13 15:06] #10192 closed

[2022-04-13 15:08] prsunny commented on #10563
[Issue Triage] Looks like a platform specific issue. Can you check if it works on master?

[2022-04-13 15:10] prsunny commented on #10534
Is the issue on master or 201911 specific?

[2022-04-13 15:18] dgsudharsan commented on #9629
@adyeung any update on this issue?

[2022-04-13 15:28] prsunny commented on #10442
[Issue Triage] Is this issue seen with master image?

[2022-04-13 15:37] prsunny commented on #10434
[Issue Triage] This issue is fixed by https://github.com/Azure/sonic-buildimage/pull/10179.

@abdosi to validate and create another issue if required for multi-asic

[2022-04-13 15:46] prsunny commented on #10390
[Issue triage] @vaibhavhd, PRs are merged. Can you please check if this can be closed?

[2022-04-13 15:48] prsunny commented on #10569
@abdosi for viz

[2022-04-13 15:50] shlomibitton commented on #10419
This can be closed.

[2022-04-13 15:50] prsunny commented on #10223
Please try with this - https://sonic-build.azurewebsites.net/ui/sonic/pipelines

[2022-04-13 15:50] #10223 closed

[2022-04-13 15:52] prsunny commented on #10196
[Issue Triage] Can someone from barefoot help on this issue?

[2022-04-13 15:54] prsunny commented on #10186
[Issue Triage] @prgeor, is this a platform specific (Dell) issue?

[2022-04-13 15:58] dgsudharsan commented on #10569
Can we add UT covering the scenario for multi-asic scenario? Not all vendors have multi-asic platforms and if there are no UT to cover the cases it may be difficult to test the scenarios.

[2022-04-13 16:24] maulik-innovium commented on #10442
Did not try with master image, seen in 202012 build.

[2022-04-13 16:50] dgsudharsan commented on #10388
@adyeung Can you please update the status on this?

[2022-04-13 17:12] prsunny commented on #10138
Can you please confim if the attribute ` sai_tunnel_support=1` is set in your config.bcm
`

[2022-04-13 17:17] prsunny commented on #10170
@abdosi to triage and identify next steps for this issue.

[2022-04-13 21:53] prgeor commented on #10186
@prsunny not Dell specific.

[2022-04-13 22:30] abdosi commented on #10569
@anamehra @shyam77git for viz
cc @judyjoseph / @rlhui

[2022-04-14 09:53] wally-wang-accton commented on #10518
Do you find this issue in master image?  You can submit one ticket at https://support.edge-core.com/, Technical Support will verify and help you.

[2022-04-14 11:03] Lewis-Kang commented on #10518
@feanis Is there any packet loss? If there is no packet loss, maybe this is just how the switching ASIC distributes the packets among different lanes with its own algorithm. Am I right?

[2022-04-14 11:53] feanis commented on #10518
@Lewis-Kang, This is uncertainly, sometimes you will be able to see traffic and corresponding counters, but PHY layer lies in out of frequency with stability, This was a case of fresh installation.

More of times, traffic will not be up and counters are not increasing due to this instability.

[2022-04-14 15:26] zhengbiqing commented on #3944
@fillmorechen0928  thanks!

there are some files in platform/broadcom/saibcm-modules,  but only 278 items and the size is only 2.2M.

I am not know what you mean.  can you give me more information about this? Thank you very much.

[2022-04-14 19:43] feanis commented on #10518
@wally-wang-accton, we have observed replication of this behaviour on SONIC 202106 & 202111 images, where everything is fine except the "Out of frequency" alarm at PHY Layer of VIAVI traffic generator. Soon this will be verified with master image.

[2022-04-14 21:12] ihorchekh commented on #9945
@kellyyeh The test is not related to VLANs and DHCP helpers. It removes all members and IP from a port-channel and the interface itself, and in the end, returns all back. We tried to run the test again and the issue was not reproduced.
But this error appears on other tests during our nightly regression:
[code]

[2022-04-14 21:26] kellyyeh commented on #9945
@ihorchekh there is a known issue of dhcp6relay starting for VLAN's that do not have ipv6 helpers configured, which results in "Failed to bind to socket" message. The fix for that is in progress. If this is the case, the error message can be safely ignored. This would also explain why the issue cannot be consistently reproduced.

[2022-04-15 08:02] stepanblyschak commented on #10434
@prsynny the above mentioned PR is not a fix for this issue

[2022-04-15 18:13] nazariig commented on #9714
@judyjoseph the bug is not reproducible with a low number of LAG members. In our case the errors are seen when at least 46 LAG members are added:
[code]

[2022-04-15 19:17] dgsudharsan commented on #9634
@prsunny @TACappleman Any further progress on this issue?

[2022-04-15 19:18] dgsudharsan commented on #9633
@theasianpianist @prsunny @TACappleman  any updates on this issue?

[2022-04-15 19:19] dgsudharsan commented on #9631
@kellyyeh Any updates on this issue?

[2022-04-15 22:52] judyjoseph commented on #10534
Prince, this issue is seen in master too

[2022-04-16 12:48] songlinglingpml opened #10591 "[arm64] build any target docker fail in 202012"
#### Description

Debian11，deb package can be compiled success.An error is reported when compiling docker：Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running

#### Steps to reproduce the issue:
1. git clone 202012 code
2. make init
3. make configure PLATFORM=centec-arm64 PLATFORM_ARCH=arm64
4. make all

#### Describe the results you received:
Deb packag

[2022-04-17 03:11] zhengbiqing opened #10592 "make configure PLATFORM=broadcom error：fatal: Not a git repository (or any of the parent directories): .git"
#### Description

#### Steps to reproduce the issue:
1.  git clone https://github.com/Azure/sonic-buildimage.git
2. make init
3. make configure PLATFORM=broadcom

#### Describe the results you received:

..........
"SONIC_VERSION_CONTROL_COMPONENTS": "none"
"ENABLE_ASAN"                     : "n"
"DEFAULT_CONTAINER_REGISTRY"      : ""

fatal: Not a git repository (or any of the parent directories)

[2022-04-18 16:21] nazariig commented on #10534
@judyjoseph why do we want to restart when SIGTERM is received? What about service stop flow when supervisord sends SIGTERM by default?

[2022-04-18 19:36] theasianpianist commented on #9633
@dgsudharsan @alexrallen are you seeing any impact to SONiC functionality? This is the expected behavior for this service running on non dual ToR devices, but it should not affect anything else. It might be possible to have the service exit gracefully in this scenario.

[2022-04-18 21:49] anilkpan commented on #10388
@dgsudharsan, i will add a fix for this by end of this week.

[2022-04-18 23:37] dgsudharsan opened #10603 "[BGP]SONiC advertises Loopback0 IPv6 address with "/128" subnet as IPv6 routes with "/64" subnet"
#### Description
When loopback interface in SONiC has IPv6 address as ‘/128’ subnet it is advertised as ‘/64’ subnet. This behavior is hardcoded due to the below j2 template which does the replacement

https://github.com/Azure/sonic-buildimage/blob/3522ac61fe967ed1ae8bd091345a67980e4ece6f/dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2#L14

Due to this if two devices have IPv6 in Loopback with d

[2022-04-19 00:44] dgsudharsan opened #10604 "[Overlay ECMP]vnetRouteCheck' status failed with Overlay ecmp configurations"
#### Description
When Overlay ECMP configs are added we see error logs with the below message.

Apr 18 16:28:03.894467 r-leopard-58 ERR monit[533]: 'vnetRouteCheck' status failed (1) -- Traceback (most recent call last):#012  File "/usr/local/bin/vnet_route_check.py", line 364, in <module>#012    sys.exit(main())#012  File "/usr/local/bin/vnet_route_check.py", line 335, in main#012    app_db_vnet_

[2022-04-19 01:54] vivekreddynv opened #10605 "[FDB] [OA] [Warm-reboot] Cannot remove vlan since FDB Flush per port per vlan doesn't clear FDB entries"
#### Description

#### Steps to reproduce the issue:
[code]

#### Describe the results you received:
**1) Vlan delete couldn't be handled by OA**
[code]

**2) Subsequently, this impacts Warm-reboot restartcheck.**
[code]

**3) FDB Entry from State DB is not removed. This is also documented here:** https://github.com/Azure/sonic-buildimage/issues/7538
[code]

**4) OA doesn't have the logic to conso

[2022-04-19 03:38] dgsudharsan commented on #10605
@prsunny  @dr412113 We may need to revert the check introduced in this PR https://github.com/Azure/sonic-swss/pull/1716 to return failure to remove VLAN with FDB entries until the problems mentioned here are sorted out

[2022-04-19 12:21] guxianghong commented on #10591
Community's daily compile jobs are always success, you can reference https://dev.azure.com/mssonic/build/_build?definitionId=140&_a=summary&branchFilter=573%2C573%2C573%2C573%2C573%2C573.
Have you made any changes to your local code?

[2022-04-19 18:56] abdosi commented on #10135
Issue is happening as part of sonic-installation as we do package migration we start docker/stop service in new image mount point which seems to change docker0 ip which makes the connectivity of namespace over docker bridge broken

Before Installation

[code]

After Installation

[code]

[2022-04-19 18:57] abdosi commented on #10135
@[stepanblyschak](https://github.com/stepanblyschak) please take a look into this.

[2022-04-19 19:14] abdosi commented on #10135
Also I see after post installation iptables rules created by dockcer. Basically all the option provided by sonic image as docker service are ignore when run again from different mount point

[code]

![image](https://user-images.githubusercontent.com/58047199/164077392-062a6809-6a6c-4518-b7ef-656b0bae7f8c.png)

[2022-04-20 04:51] prsunny commented on #10605
@dgsudharsan , as discussed, please consider this to be handled in FLUSH event.

[2022-04-20 11:02] #9733 closed

[2022-04-20 11:02] #10501 closed

[2022-04-20 17:53] vivekrnv opened #10629 "[FDB] [VLAN] Error log "Failed to get port by bridge port ID" seen"
#### Description

#### Steps to reproduce the issue:
1.  This is hard to repro and is seen when fdb learn events are received and at the same timewhen the corresponding VLAN member is removed from VLAN

#### Describe the results you received:

In Syslog:
[code]

Notifications:
[code]

#### Triage:

There are three SAI_FDB_EVENT_LEARNED fdb_events coming from syncd. But before fdborch operates on t

[2022-04-20 18:22] mlok-nokia opened #10630 "[chassis][supervisor] show system-health summary failed on the supervisor card"
#### Description
In Chassis supervisor card,  command "sudo show system-health summary" shows the following error.
[code]
This issue is caused by the function get_critical_process_list_from_file() that is not able to handle the empty line in the file critical_processes.

#### Steps to reproduce the issue:
1. On Supervisor card,  execute command "sudo show system-health summary",  the output will b

[2022-04-20 19:13] yucgu commented on #9945
Hi @kellyyeh
is it possible to cause the failure of the dhcp6 test case:
test_dhcp_relay_after_link_flap in
https://github.com/Azure/sonic-mgmt/blob/master/tests/dhcp_relay/test_dhcpv6_relay.py

the error logs for the test case shows the UDP port in the received packet is not the expected "547". as instead, it's 53658 (0xD19A), looks it's modified by the dhcp-relay.
from the UDP usage dump, the dh

[2022-04-20 20:24] kellyyeh commented on #9945
Hi @yucgu, could you elaborate on the image version and platform this test failure happened on?

[2022-04-20 20:38] yucgu commented on #9945
Hi @kellyyeh,
the image is the 202012, and the platform is cisco-8000.

However, even with the failure to bind with the standard UDP port (547), using non standard source ports are fine according to dhcp relay RFC (shown below) as long as source port sub-option is specified.

While the test script expects the UDP port always to be the 547, when the dhcp-relay uses the non-standard UDP port, should

[2022-04-21 05:14] Xichen96 opened #10636 "[orchagent] Set hash_seed for EPMS and MgmtTsToR"
#### Description

The suffix "ToRRouter" is used to match device type to determine whether it is a tor router device, which is inappropriate. There can be other devices with the function but is not named with ToRRouter, like MgmtTsToR. Scripts should be changed to be not dependent on the naming of device types. There is such case in dockers/docker-orchagent/switch.json.j2.

#### Steps to reproduce

[2022-04-21 05:15] Xichen96 commented on #10636
https://github.com/Azure/sonic-buildimage/pull/10478

[2022-04-21 05:15] #10636 closed

[2022-04-21 05:16] Xichen96 opened #10637 "[radv] Add new device type in docker-router-advertiser.supervisord.conf.j2"
#### Description

The suffix "ToRRouter" is used to match device type to determine whether it is a tor router device, which is inappropriate. There can be other devices with the function but is not named with ToRRouter, like MgmtTsToR. Scripts should be changed to be not dependent on the naming of device types. There is such case in docker-router-advertiser.supervisord.conf.j2.

#### Steps to repr

[2022-04-21 05:16] Xichen96 commented on #10637
https://github.com/Azure/sonic-buildimage/pull/10375

[2022-04-21 05:16] #10637 closed

[2022-04-21 05:33] aravindmani-1 opened #10638 "[DellEMC]Failed to set pre-emphasis settings"
#### Description
In latest master image, pre-emphasis settings failure message is seen in Dell platforms.
Even though the pre-emp settings are present in PORT_TABLE, swss fails to push it to NPU.

#### Steps to reproduce the issue:
1. Load latest master image.
2. Look for swss logs and notice the failure.
3. Issue is seen for all the ports.

#### Describe the results you received:
        Apr 21 1

[2022-04-21 05:35] aravindmani-1 commented on #10638
@prgeor Could you please help to resolve this issue?.

[2022-04-21 12:36] zhengbiqing opened #10639 "make configure PLATFORM=broadcom always fail: Error response from daemon: pull access denied for sonic-slave-bullseye"
#### Description

#### Steps to reproduce the issue:

git clone https://github.com/Azure/sonic-buildimage.git
make init
make configure PLATFORM=broadcom

run command: "make configure PLATFORM=broadcom" many times,  but not success.

#### Describe the results you received:

The command '/bin/sh -c git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git /usr/share/depot_tools' ret

[2022-04-21 13:43] carl-nokia commented on #9407
@neethajohn, can we close this with the resolution above, which is to not run the SSD test if the platform does not have SSD ?

[2022-04-21 16:47] #10530 closed

[2022-04-21 18:21] wenyiz2021 opened #10643 "[201911] Fail to get sonic release in 201911"
#### Description

201911 branch fail to get sonic release when I run test_techsupport, duthost.sonic_release not in ["201811", "201911"] is False. This will also happen on any test that need sonic_release.
PR [[build]: add branch and release tag in sonic_version.yml by lguohan · Pull Request #6356 · Azure/sonic-buildimage (github.com)](https://github.com/Azure/sonic-buildimage/pull/6356) is needed

[2022-04-22 00:46] kellyyeh commented on #9945
Thanks @yucgu for sharing your findings. We want to keep udp port to be 547 as it is the standard port. We also saw a few testcase failures on some nightly test, but it is very inconsistent and cannot be reproduced when running the test manually. Could you share how you reproduced the error?

[2022-04-22 01:45] jerseyang commented on #10052
@jostar-yang @prgeor seems 5.10 kernel ismt driver does not support the parameter "force_deselect_on_exit"

[2022-04-22 01:46] jerseyang commented on #10052
sorry, i2c-mux-pca954x driver

[2022-04-22 01:49] aseaudi commented on #10052
This patch helped me detect the i2c bus devices correctly, including the interfaces, psu, fans, temp, etc ...
https://github.com/Azure/sonic-buildimage/pull/9146

[2022-04-22 02:10] jerseyang commented on #10052
Thanks,   aseaudi, got it,  seems fix it via enable idle_state to -2.

[2022-04-22 02:49] jerseyang commented on #10052
and also, aseaudi,  I have met this issue, in master branch, when I ran watchdogutil command, which will cost about 10s to execute

root@sonic:/home/admin# time watchdogutil status
Status: Unarmed

real    0m10.886s
user    0m0.171s
sys     0m8.255s
root@sonic:/home/admin#

root@sonic:/home/admin# uname -a
Linux sonic 5.10.0-8-2-amd64 #1 SMP Debian 5.10.46-4 (2021-08-03) x86_64 GNU/Linux
root@soni

[2022-04-22 02:49] jerseyang commented on #10052
@jostar-yang

[2022-04-22 03:10] yucgu commented on #9945
Thanks @kellyyeh for checking it. Yes, looks it's an intermittent issue, and it's not easy to reproduce on our testbeds either, it occasionally happened on our nightly test runs, and i have to keep reloading the whole system multiple times to reproduce the issue. if it's okay after system bootup, to re-run the testcase or to reload the dhcp_relay container doesn't help reproduce it.  and if the is

[2022-04-22 07:02] ganglyu opened #10647 "Can not start sonic-hostservice"
#### Description

1. import error
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services/scripts/sonic-host-server#L10
2. Wrong python path
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-host-services/scripts/sonic-host-server#L18

#### Steps to reproduce the issue:
1. Start service with "sudo systemctl start sonic-hostservice"
4. Check service with "sudo sy

[2022-04-22 13:07] Blueve commented on #9201
The system will keep send dhcp request until get a response (not matter correct or wrong).
If it gets an unexpected response, then it will fall back and use an empty configuration.

We might revisit this issue later.
Possible solution in my mind could be: place an empty l2 configuration and make sure all ports are shutdown before waiting dhcp response

[2022-04-24 12:14] perry1106 opened #10662 "[swss] orchagent priority in select()"
#### Description
Hi, all
Currently, orch object support create with <table_name_with_pri_t> params, but it seems that the priority not working.
Because the orch Executor class constructors constructed parent class(swss::Selectable) using default priority(pri=0), so all orch Executor with pri=0 when it add to Select::addSelectables(). So, it works as FIFO.
Q: Is this a bug? or any other reason?
Tha

[2022-04-25 03:50] aslam4g opened #10668 "[Yang] Failed to find the xDbSpecMap: xpath for Annotation yang with field-name and table-name"
#### Description
When a yang file with annotation (table-name field-name) is included , The user should be able to do
put , set and get from swagger and corresponding redis table should be created.

We are not seeing the redis table being created ,

Want to understand if I am missing anything as xDbSpecMap: xpath  seems to not filled properly as expected by the program.

My understanding is no ove

[2022-04-25 17:11] Xichen96 opened #10674 "Add option for ToRRouter"
#### Description

Currently ToRRouter related features are turned on by finding the string ToRRouter in device type, which caused a problem recently because a ToRRouter device is named MgmtTsToR, which does not contain the string ToRRouter. Several pr has been opened to fix all places where device type is used to determine whether a device is ToRRouter. There should be a new option like is ToRRout

[2022-04-25 20:56] #10326 closed

[2022-04-25 21:13] lukasstockner commented on #10103
Problem still occurs with latest 202111 and Broadcom SAI 6.1.0.3.

[2022-04-25 21:15] lukasstockner commented on #10138
Yes, `sai_tunnel_support=1` is set, and the same config works on older images or without https://github.com/Azure/sonic-swss/commit/b0aa6a0c20d2da850c8c0605c8d5db5b45e17df1.

[2022-04-26 04:53] Blueve commented on #10674
Can you link all short-term fix PRs here?

[2022-04-26 06:06] AntheaJiang commented on #10167
We have found a way to solve it and the issue can be closed now.

[2022-04-26 06:06] #10167 closed

[2022-04-26 11:48] #10097 closed

[2022-04-26 16:12] radha-danda commented on #9830
@bingwang-ms, Fix has been delivered to this and PR got merged. Can this issue be closed please?

[2022-04-26 16:16] radha-danda commented on #9172
@lguohan, Fix for everflow tests have been delivered on master and PR got merged.
Link to PR: https://github.com/Azure/sonic-buildimage/pull/10403

Kindly check and close the issue.

[2022-04-26 16:18] radha-danda commented on #9097
@yxieca, We are not seeing this issue. Can you please share the details on how to reproduce the issue?

[2022-04-26 21:11] anilkpan commented on #10388
@dgsudharsan, @adyeung:
I have created a pull request to not allow deleting a portchannel if its member of vlan.
https://github.com/Azure/sonic-utilities/pull/2141

[2022-04-26 21:22] vivekreddynv commented on #10388
Thanks @anilkpan, Can you also add a check in vlanmgrd to not let it crash?

[2022-04-26 22:22] Praveen-Brcm commented on #10245
@prsunny, @gechiang , @dgsudharsan : Am working on the changes and will have them in by this week.

[2022-04-26 23:14] #10647 closed

[2022-04-27 07:47] AspenBen commented on #9181
@AntheaJiang How did u resolve the bug _( [1 Dec 2021](https://github.com/Azure/sonic-buildimage/issues/9181#issuecomment-983463344))_  about **"_PORT_TABLE"** in **APPL_DB**

[2022-04-27 08:23] AntheaJiang commented on #9181
@[AspenBen](https://github.com/AspenBen) It‘s said as above :there are some errors about switch chip configure, and You'd better give the logs to  your sdk owner  and let them check

[2022-04-27 09:34] radha-danda commented on #8698
@Blueve, issue is fixed in 202012 and master branch as well.
Link to PR (on master branch): https://github.com/Azure/sonic-buildimage/pull/10403
Link to PR (on 202012 branch): https://github.com/Azure/sonic-buildimage/pull/8762

Kindly check and close the issue

[2022-04-27 15:11] zhangyanzhao commented on #10639
Please check your environment config, looks like config issue on your side.

[2022-04-27 15:12] zhangyanzhao commented on #10639
Check if the docker repo available.

[2022-04-27 15:13] zhangyanzhao commented on #10630
Need someone help to review the PR

[2022-04-27 15:18] zhangyanzhao commented on #10638
Please investigate if this is because of SAI issue.

[2022-04-27 15:32] zhangyanzhao commented on #10629
Race condition happened.  The expected operation logic: set admin false firstly then fdb flush. BRCM will fix this issue.

[2022-04-27 15:33] zhangyanzhao commented on #10605
Nvidia team is working on the fix.

[2022-04-27 15:37] zhangyanzhao commented on #10603
make the template changeable to be able to support both /128 and /64 advertisement. MSFT can help to provide some help.

[2022-04-27 15:40] zhangyanzhao commented on #10591
not supported feature with 202012 release.

[2022-04-27 15:40] zhangyanzhao commented on #10591
Docker upgrade to Debian 11 is still under-going

[2022-04-27 16:50] Xichen96 commented on #10674
https://github.com/Azure/sonic-buildimage/pull/10375
https://github.com/Azure/sonic-buildimage/pull/10478

[2022-04-27 19:01] #9892 closed

[2022-04-27 20:17] praveen-li opened #10700 "Wrong template for mux feature in files/build_templates/init_cfg.json.j2"
#### Description

today files/build_templates/init_cfg.json.j2 generates wrong config for mux feature as below:

{
"mux":

{ "auto_restart": "enabled",
  "has_global_scope": "True",
  "has_per_asic_scope": "False",
  "has_timer": "False",
  "high_mem_alert": "disabled",
  "state": "
{% if 'subtype' in DEVICE_METADATA['localhost'] and DEVICE_METADATA['localhost']['subtype'] == 'DualToR' %}

enabled

[2022-04-27 22:56] anilkpan commented on #10629
@zhangyanzhao, currently, admin state is set to false, then fdb flush is done and then the bridgeport is removed. This sequence is already in place for the case when the last vlan is removed from the port.
Fdb learn events can be already in flight to OA even before admin state is disabled and these events can cause the error to be logged if they arrived at OA after bridgeport is removed.

[2022-04-28 02:20] ganglyu commented on #10503
Need to modify unit test to use 15 characters long sub interface name

[2022-04-28 05:48] Blueve commented on #10674
What do you mean the release planning?
The issue here is to track effort on long-term fix solution.

[2022-04-28 09:24] yaoting-chang commented on #8216
I also can not init syncd (TD4 BCM56880_B0) on SONiC master branch.
If api is not supported in BRCM SAI, how to solve the "sai_metadata_apis_query: :- failed to query api [SAI_API_name]" problem in SONiC?

### Steps to reproduce the issue:

1. Add yml config file in device/delta/x86_64-delta_dds32c4s-r0/Delta-dds32c4s
2. Manual to restart syncd
3. syncd init fail

### Describe the results you rece

[2022-04-28 14:32] #8698 closed

[2022-04-28 17:07] ixodie opened #10709 "Build for vs fails"
Here is the issue which causes my build to fail:

Successfully built 15340755e924
Successfully tagged sonic-slave-buster-ubuntu:7172934592a
SONiC Build System

Build Configuration
"CONFIGURED_PLATFORM"             : "vc"
"CONFIGURED_ARCH"                 : "amd64"
"SONIC_CONFIG_PRINT_DEPENDENCIES" : ""
"SONIC_BUILD_JOBS"                : "1"
"SONIC_CONFIG_MAKE_JOBS"          : "1"
"USE_NATIVE_DOCK

[2022-04-28 17:39] zhangyanzhao commented on #10547
@adyeung can BRCM help on this YANG table? Thanks.

[2022-04-28 22:25] adyeung commented on #10550
@ganglyu @zhangyanzhao BRCM will post PR, ETA mid May

[2022-04-28 22:26] adyeung commented on #10549
@ganglyu @zhangyanzhao BRCM will post PR, ETA mid May

[2022-04-28 22:26] adyeung commented on #10547
@ganglyu @zhangyanzhao BRCM will post PR, ETA mid May

[2022-04-28 22:45] samaity commented on #10700
@yxieca yes, we got the same output; however, it is taking around 120 sec to get the rendered data in config db. Is it expected? Could you kindly point to any documentation which explains the reasoning behind this logic?

[2022-04-28 23:19] xumia commented on #9896
Fixed on master branch, it will take some time for release manages to cherry-pick the PR to 202012/202106/202111.

[2022-04-28 23:19] #9896 closed

[2022-04-29 00:36] ixodie commented on #119
Getting this when building vs:
slave.mk:217: platform/vc/rules.mk: No such file or directory

Any ideas?

[2022-04-29 05:58] alessandro-veras commented on #9984
Hi, team.
I'm having the same issue over here with the build:

SONiC Software Version: SONiC.master.0-dirty-20220210.142503
Distribution: Debian 11.2
Kernel: 5.10.0-8-2-amd64
Build commit: 25a0ce5eb
Build date: Thu Feb 10 14:31:19 UTC 2022
Built by: veras@ubuntu-001

Platform: x86_64-cel_seastone-r0
HwSKU: Seastone-DX010
ASIC: broadcom
ASIC Count: 1

I can provide further info if required.

[2022-04-29 10:51] ixodie commented on #10709
That was a typo, I should have included a different screen capture, here is one with p4:

ubuntu@sonic:~/sonic-buildimage$ make configure PLATFORM=p4
+++ Cheking platform/p4 +++
+++ Making configure +++
BLDENV=stretch make -f Makefile.work configure
make[1]: Entering directory '/home/ubuntu/sonic-buildimage'
~/sonic-buildimage/src/sonic-build-hooks ~/sonic-buildimage
make[2]: Entering directory '/

[2022-04-29 16:19] yucgu commented on #9945
Hi @kellyyeh, is there a plan for the issue? thanks

[2022-05-01 11:23] liat-grozovik commented on #10236
@vivekreddynv is this issue can be closed or there is still an open issue?

[2022-05-01 11:24] liat-grozovik commented on #8657
@nazariig can you close the issue or there is something need to further handle?

[2022-05-01 11:27] liat-grozovik commented on #7768
@Junchao-Mellanox and @shi-su is this issue still relevant? if so, @shi-su could you please update?

[2022-05-02 16:22] kellyyeh commented on #9945
@yucgu yes the solution will be able to resolve the dhcp testcase failure. The fix is in progress

[2022-05-02 18:28] #8657 closed

[2022-05-03 00:14] #9945 closed

[2022-05-03 02:47] prsunny commented on #7768
looks like its fixed as part of https://github.com/Azure/sonic-swss/pull/1906. @Junchao-Mellanox , can you please close this issue?

[2022-05-03 10:57] GAcharyaIndia opened #10733 "Broadcom Ports are not coming in Arisat Device 7050cx3-32s with Credo Dual-ToR cable with SONiC 202111 branch"
Hi,

I am from Credo, while doing some testing/verification with **202111 SONiC branch** found below issue.  Need help on this.

Broadcom Ethernet ports are not coming up with Credo Dual-ToR (100G) Y-cable **with SONiC 202111 branch**, while same ports are coming up fine with **SONiC 202012 branch** .

**Note: Same configuration and device has been used, during testing using 202012 branch and 2021

[2022-05-03 11:51] liat-grozovik commented on #10412
@sumukhatv can you please confirm sonic-buildimage master has the fix already? do you have an intention to backport it to any other sonic branches? if so can you share your view on that

[2022-05-03 13:54] #9327 closed

[2022-05-03 14:12] mannytaheri opened #10734 "[chassis] Removing a nbr causes orchagent to exit on remote asics with error SAI_STATUS_OBJECT_IN_USE"
#### Description
If any test bring downs a local eBGP neighbor (like bgp shutdown, link flap etc.), then sometimes we see orchagent exit on the remote asics with the following error in syslog:

Orchagent exits on a remote
Encountered failure in remove of a eBGP neighbor, exiting orchagent, SAI API: SAI_API_NEIGHBOR, status: SAI_STATUS_OBJECT_IN_USE

handleSaiRemoveStatus: Encountered failure in re

[2022-05-03 15:36] #8926 closed

[2022-05-03 15:36] #8925 closed

[2022-05-04 00:24] saiarcot895 commented on #10410
UDF is being added from [here](https://github.com/Azure/sonic-swss/blob/5329c3927880dfc1ade856068f25d919132e074b/orchagent/p4orch/acl_table_manager.cpp#L40), which is called from [here](https://github.com/Azure/sonic-swss/blob/5329c3927880dfc1ade856068f25d919132e074b/orchagent/orchdaemon.cpp#L626). There doesn't seem to be a platform check in this area, so it gets created for all platforms.

[2022-05-04 02:23] dgsudharsan commented on #8121
@gechiang  This issue is fixed from 202111 version onwards. Closing this bug.

[2022-05-04 02:23] #8121 closed

[2022-05-04 02:24] dgsudharsan commented on #8121
Please also note that this bug will not be fixed in 202012.

[2022-05-04 04:06] aslam-man opened #10741 "sonic-cli-gen giver error"
#### Description

Following command  is not generationg CLI , is giving error
root@ip-172-26-8-32:/# sonic-cli-gen generate config sonic-bgp-global.yang

#### Steps to reproduce the issue:
Run above command from sonic shell

#### Describe the results you received:
Gives following error
oot@ip-172-26-8-32:/# sonic-cli-gen generate config sonic-bgp-global.yang
Traceback (most recent call last):
  Fi

[2022-05-04 08:51] radha-danda commented on #8479
@Blueve, issue is fixed in 202012 and master branch as well.
Link to PR (on master branch): https://github.com/Azure/sonic-buildimage/pull/10403
Link to PR (on 202012 branch): https://github.com/Azure/sonic-buildimage/pull/8836

Kindly check and close the issue

[2022-05-04 12:08] rajkumar38 commented on #8301
Issue fixed. Verified with latest commit.

[2022-05-04 14:50] Staphylo commented on #10733
I investigated the issue after seeing the Gautam's email on the mailing list.
This seems to be the same issue that happened on 201811 and 202012.
@lguohan AFAICT this will require a SAI fix to enable AN/LT no FEC

[2022-05-04 18:46] mlok-nokia opened #10746 "[reboot-cause] A broken symlink of previous-reboot-cause file triggers a back trace in syslog and system-running state shows degraded"
#### Description
When the previous-reboot-cause has a broken symlink,  the following back trace is shown in the syslog and system-runing state show degraded.  And rebooting the system will not be able to generated a new symlink for the new previous reboot cause.
[code]
[code]
#### Steps to reproduce the issue:
1.   Manually made the broken symlink of the previous-reboot-cause file by using "ls  /h

[2022-05-04 22:05] #10157 closed

[2022-05-04 22:08] #10158 closed

[2022-05-05 01:18] #7768 closed

[2022-05-05 02:55] #8479 closed

[2022-05-05 02:55] Blueve commented on #9236
To be verify in our testbed

[2022-05-05 17:23] zhangyanzhao commented on #10550
Thanks @adyeung and BRCM for the help

[2022-05-05 20:47] arlakshm opened #10761 "[Voq][Chassis] Recirc port stays admin down"
#### Description
In the Voq Chassis the `Recirc` [port with role 'Rec'] stays admin-down after load minigraph.

#### Steps to reproduce the issue:
1. Load the T2 linecard minigraph on Voq chassis linecard
2. execute `sudo config load_minigraph`
3. check the admin and oper status of the recirc port

#### Describe the results you received:
[code]

#### Describe the results you expected:
The expectat

[2022-05-06 01:04] #9690 closed

[2022-05-06 03:20] perry1106 commented on #10662
@zhangyanzhao sorry, I am a newbie, I have reformed with bug template

[2022-05-06 05:06] xumia opened #10765 "Move the test cases of sonic-config-engine which refer to the files in devices/ to sonic-device-data"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
Move the test cases of sonic-config-engine which refer to the files in devices/ to sonic-device-data:
Reasons:
1.	Better package dependency, sonic-config-engine is as a common api provider, sonic-device-data is one of the user of the sonic-config-engine. When there is a change in devices folder,

[2022-05-06 05:49] arlakshm commented on #10135
same issue seen on single asic linecard as well
[code]
[code]

[2022-05-06 17:57] zhangyanzhao commented on #10545
@StormLiangMS  please help to create YANG model

[2022-05-06 19:27] judyjoseph opened #10773 "Container not able to spawn errors seen with load_minigraph"
#### Description

See the following errors on a multi-asic device on config load_mingraph, and the dockers not getting spawned

[code]

#### Steps to reproduce the issue:
1. config load_minigraph

#### Describe the results you received:
  admin@str2--lc2-1:~$ sudo config load_minigraph -y
	Disabling container monitoring ...
	Stopping SONiC target ...
	Running command: /usr/local/bin/sonic-cfggen -

[2022-05-06 22:13] jonwhaley commented on #10103
The race condition here is caused by linkscan being disabled for 10 seconds while the LED init script sleeps after loading the LED microprocessor..

Change:

device/celestica/x86_64-cel_seastone_2-r0/led_proc_init.soc

to be

#Load LED firmware
m0 load 0 0x3800 /usr/share/sonic/platform/custom_led.bin
led start

[2022-05-07 07:10] #9236 closed

[2022-05-07 17:45] dereksun01 opened #10778 "[VxLAN][202111][Broadcom][SAI] Create a VxLAN session fail for flex flow module."
#### Description
- Broadcom SDK configuration parameter of VxLAN flex flow module with "flow_init_mode=1". SAI still call Legacy VxLAN module process.
- Please to check SAI function "_brcm_sai_vxlan_enable" about flow_init_mode parameter. If flow_init_mode set "1" value, VxLAN module will call vxlan flow create vpn, right?
- Thank your help.

#### Steps to reproduce the issue:
1. sudo config inter

[2022-05-09 07:06] liuh-80 commented on #10218
ETA of this issue will be 2022/05/31

[2022-05-09 09:23] wen587 opened #10782 "Incremental Config occurs after load_minigraph(or config reload)"
#### Description
During the process of `config load_minigraph -y`, there will have some additional configs generated after the reload process.
I am worried this could affect the migration from minigraph to the NDM Golden Config. If Golden Config has been confirmed to be the final state of configDB, how do we deal with the generated configs after config reload?

#### Steps to reproduce the issue:
1

[2022-05-09 11:06] AntonHryshchuk opened #10785 "[DHCPv6] dhcpv6 packets doesn't forwarded"
#### Description

dhcpv6 packets doesn't forwarded

The suspicious changes:

https://github.com/Azure/sonic-buildimage/pull/10486
https://github.com/Azure/sonic-buildimage/pull/10712

#### Steps to reproduce the issue:
Reproduced on simple setup which contains the 2 Hosts and 1 Switch. The Hosts are connected by one cable directly to the switch and don't connect between themselves.
HostA <-> Switc

[2022-05-09 18:06] #10105 closed

[2022-05-09 18:25] adyeung commented on #10547
Changes ported to #10786

[2022-05-10 00:22] #7943 closed

[2022-05-10 08:29] ganglyu opened #10793 "[sonic-config-engine] Yang validation for sonic-config-engine is blocked by sonic-bgp-voq-chassis-neighbor.yang"
#### Description

I’m trying to merge this PR, and it will run Yang validation for sonic-config-engine unit test.
https://github.com/Azure/sonic-buildimage/pull/9700
And I find the unit test is blocked by sonic-bgp-voq-chassis-neighbor.yang, and many test cases can’t satisfy this constraint.
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-bgp-voq-chass

[2022-05-10 09:37] arfeigin opened #10795 "[mirroring] Queue value 0 is missing after validation in config mirror-session command"
#### Description
When adding new mirror session with queue value = 0, it is not entered to the config DB and won't show when printing the current mirror sessions.
The issue is found on master/202111/202012 branches, however it works correctly on 202106 branch.
I explored it a bit and the issue was introduced after PR [#1825](https://github.com/Azure/sonic-utilities/pull/1825).

#### Steps to repro

[2022-05-10 09:45] #9279 closed

[2022-05-10 16:39] Hedgehog-Guru opened #10802 "Sub-interface created using short parent interface name failed to bind to VRF"
#### Description

Sub-interface created using short parent interface name failed to bind to VRF. Long name form works OK.

#### Steps to reproduce the issue:
1. Create any VRF
2. Create any subinterface using short form
3. Try to bind subinterface to VRF
4. Check subinterface status

#### Describe the results you received:
Sub-interface disappear from "show subinterfaces status" output. Linux inte

[2022-05-10 16:49] kellyyeh commented on #10785
Thanks @AntonHryshchuk, could you confirm if Relay-Forward packets are generated? Would be great if you can attached a tcpdump/pcap of the client packets

[2022-05-10 19:26] gechiang opened #10804 "DELL Z9332f power lost result to no reboot-cause in history"
#### Description

On an unplanned power failure a Z9332F device went through a reboot successfully but failed to register the appropriate reboot-cause history.

#### Steps to reproduce the issue:
1. Do whatever to cause the power to stop applying it to the device
2. Watch the device rebooted once power is reapplied
3. Issue "sudo reboot-cause history" to see it did not capture the power loss reboo

[2022-05-10 22:00] qiluo-msft commented on #10310
We fixed one of the blocking call, but not all.
https://github.com/Azure/sonic-snmpagent/pull/255

[2022-05-11 00:51] bingwang-ms commented on #10795
Will take a look. Thanks for the great finding.

[2022-05-11 01:21] santhosh-kt opened #10807 "sonic-cfggen throws error during bootup"
#### Description
- DellEMC use sonic-cfggen to get the hwsku(`/usr/local/bin/sonic-cfggen -H -v DEVICE_METADATA.localhost.platform`)  for device path directory during platform initialization script.
- But during boot-time(only), sonic-cfggen throws following error.
[code]

- Hence, sonic_platform package installation has failed due to missing package wheel location with device path directory.
[cod

[2022-05-11 01:23] santhosh-kt commented on #10807
This change happen due to the following PR #10581  and the above issue is not seen without this change.

[2022-05-11 02:55] bingwang-ms commented on #10795
PR raised to fix the issue https://github.com/Azure/sonic-utilities/pull/2162. Please help take a look. Thanks

[2022-05-11 09:05] arfeigin commented on #10795
You welcome!

[2022-05-11 09:05] arfeigin commented on #10795
Thanks for the quick fix!

[2022-05-11 14:42] MaratGubaiev commented on #10019
Sorry, I didn't have possibility to work on it, but now I can continue.
I guess that this commit could have fixed the issue: https://github.com/Azure/sonic-swss-common/commit/be160cfd722c3cf6a46d5ff15731798f41ac8f4f
Now I'm checking it.

[2022-05-11 14:44] MaratGubaiev commented on #10552
I'm working on it.
Does anybody knows if we can use https://www.openconfig.net/ or something like this?

[2022-05-11 14:59] preetham-singh commented on #10802
From captured dump, short name subinterface Eth48.11 fields are being overwritten with vrf binding information after vrf bind operation. Due to this vlan encap information is getting deleted after vrf binding.
In contrast, long name subinterfaces vlan encap is derived from subinterface index in intfmgrd, hence the issue not observed for long name subinterfaces.
I will fix this by updating vrf bind

[2022-05-11 15:08] zhangyanzhao commented on #10804
@chitra-raghavan will take a look. Thanks.

[2022-05-11 15:20] zhangyanzhao commented on #10741
AppExtension related, need Nvidia team to take a look.

[2022-05-11 15:24] lguohan commented on #10733
an/lt with no fec is support on 202012 only for now. 202111 does not support an/lt with no fec.

[2022-05-11 15:27] zhangyanzhao commented on #10709
Please fix all the typos and retry.

[2022-05-11 15:35] zhangyanzhao commented on #9620
Is this issue still there? Can you please double check?

[2022-05-11 15:37] zhangyanzhao commented on #9741
Looks like environment issue, have you checked your permission to the doc repository?

[2022-05-11 15:39] zhangyanzhao commented on #9577
Known issue, need help to fix this.

[2022-05-11 15:40] zhangyanzhao commented on #9568
Is this still there?

[2022-05-11 16:06] alexrallen commented on #8928
@sujinmkang During testing we discovered that this issue has not been completely resolved (my fault for not catching this during the PR review).

https://github.com/Azure/sonic-utilities/pull/2040 only fixed the case of using `--boot none` we *also* see this issue anytime a firmware install fails.

i.e. If you attempt to install firmwares that can only be installed by a cold reboot but you pass th

[2022-05-11 16:12] alexrallen opened #10811 "`fwutil update all` tab completion broken"
#### Description

The tab completion for `fwutil update all` does not behave as expected. Issue found when attempting to verify fix for https://github.com/Azure/sonic-buildimage/issues/8925

#### Steps to reproduce the issue:
Type `fwutil update` followed by anything and attempt to tab complete.

#### Describe the results you received:
[code]

#### Describe the results you expected:
1. Tab complet

[2022-05-11 16:13] alexrallen commented on #10811
@sujinmkang Can you please take a look at this I believe this was introduced with https://github.com/Azure/sonic-utilities/pull/2040

[2022-05-11 19:05] abhiranjeet commented on #9620
Yes, its working now, I had to enable virtualization on my build machine. Thanks !

[2022-05-11 19:05] #9620 closed

[2022-05-11 19:50] kellyyeh commented on #10785
@AntonHryshchuk I confirmed the latest dhcp6relay to have no issue relaying packets. Can you confirm if relay-forward is generated? And a tcpdump/pcap of the client packets would be great.

[2022-05-11 22:35] adyeung commented on #10245
[https://github.com/Azure/sonic-swss/pull/2264](url)

[2022-05-12 01:46] #10795 closed

[2022-05-12 06:29] AntonHryshchuk commented on #10785
**The tcpdump on previous version, which works:**

tcpdump on the interface to the server(interface member in LAG):
[code]

tcpdump on interface to Client:
[code]

**The tcpdump on the version, which contains the issue:**
tcpdump on the interface to Server(interface member in LAG):
[code]

tcpdump on the interface to Client:
[code]

[2022-05-12 09:07] kellyyeh commented on #10785
@AntonHryshchuk Can you increase verbosity on client side tcpdump so I can see Solicit options? I suspect https://github.com/Azure/sonic-buildimage/pull/10486 could be the culprit, but I cannot reproduce the issue on my side. Would also appreciate if you could include the counter after sending client requests. Command is `sudo show dhcp6relay_counters counts`

[2022-05-12 09:15] shlomibitton commented on #10785
@kellyyeh it is indeed https://github.com/Azure/sonic-buildimage/pull/10486 causing this degradation.
I verified it by running the test with and without this commit and this is the root cause.

from tcpdump with highest verbosity:

09:14:38.691841 IP6 (flowlabel 0x3459f, hlim 1, next-header UDP (17) payload length: 92) fe80::e42:a1ff:fe17:e6fd.dhcpv6-client > ff02::1:2.dhcpv6-server: [udp sum ok]

[2022-05-12 09:30] kellyyeh commented on #10785
@shlomibitton  Thanks for the output. Confirm message type was missed, and the issue should be resolved by the PR linked. Will also file a test gap for this

[2022-05-12 09:47] shlomibitton commented on #10785
I tried to add you fix and compile, but it is not fixing the issue, SOLICIT messages also dropped.

![image](https://user-images.githubusercontent.com/60430976/168042928-c932c795-b9ff-4628-9b31-172773f7bf56.png)

[2022-05-12 13:03] vadymhlushko-mlnx commented on #10741
Please try to execute the next CLI command:

`oot@ip-172-26-8-32:/# sonic-cli-gen generate config sonic-bgp-global`

As you may notice, you should provide the YANG model name without the `.yang` ending.

[2022-05-12 21:47] gechiang commented on #10804
Sorry for the trouble...
I tried again with the latest 20201231 image (.66) and I do not see this issue:

[code]
I am closing this issue.

[2022-05-12 21:47] #10804 closed

[2022-05-12 22:56] #10793 closed

[2022-05-12 23:05] MaratGubaiev commented on #10019
@ZhaohuiS
Now I cannot reproduce the issue.
I installed latest official master
<details>

[code]

</details>

then I caused an error and got information about it from redis
then I restored config and got "OK"
<details>

[code]

</details>

Could you try to reproduce it too?

[2022-05-13 00:36] prsunny commented on #10412
This should be available as part of https://github.com/Azure/sonic-buildimage/pull/10803

[2022-05-13 00:36] #10412 closed

[2022-05-13 08:02] bingwang-ms commented on #10425
A possible solution is in PR https://github.com/Azure/sonic-swss/pull/2205/files
Since the `action_list` is mainly used for custom ACL table type, we may add a default action_list for the already existing hardcoded types, such as L3, L3v6, MIRROR.
What do you think? @stepanblyschak

[2022-05-13 16:01] zhangyanzhao commented on #10549
#10828 is created by BRCM team

[2022-05-13 18:22] adyeung commented on #10550
Support added in #10828

[2022-05-13 21:53] abhiranjeet commented on #6167
Hi, I am still seeing same issue on AS7726-32X platform using 202111 branch. Is this resolved on any other branch ?

[2022-05-13 22:00] arlakshm opened #10832 "[chassis] gbysncd in feature table on linecards which have gbsyncd service running"
#### Description
On Linecards where the `gbsyncd` container is running, `gbsyncd` is missing from feature table.
Logs
[code]
`gbsyncd` is missing in the `feature table`
[code]

This results in the monit `container_checker` errors
[code]
(paste your output here)
[code]
(paste your output here or download and attach the file here )
[code]

[2022-05-15 05:02] #10503 closed

[2022-05-16 01:04] xumia opened #10841 "Improve apt-get stability"
#### Description
Sometime the debian mirror is not stable, need to retry the apt-get update/install commands

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasion

[2022-05-16 03:07] ZhaohuiS commented on #10019
@MaratGubaiev Thank you for looking this issue. But the issue is not easy to reproduce, it happened sometimes after long running.  I will keep an eye on it, if it happed again, I will let you know.

[2022-05-16 05:08] srj102 commented on #10778
Please check the following issue for the correct set of configs.
https://github.com/Azure/sonic-buildimage/issues/8371

[2022-05-16 10:29] AStrangwood opened #10845 "Accton-AS7726-32X Show Platform Commands Not Working"
#### Description

show platform commands either show no info or error about python. This was fixed and working since https://github.com/Azure/sonic-buildimage/pull/10215 was merged but it now seems to be broken again in master.

#### Steps to reproduce the issue:
1. show platform fan

#### Describe the results you received:

[code]

#### Output of `show version`:

[code]

[2022-05-16 16:33] samaity opened #10848 "[202012] Build fail issue for sonic-marvell-armhf platform"
#### Description

not able to build sonic-mgmt-common_1.0.0_armhf.deb due to `net/http: TLS handshake timeout` issue
[code]

#### Steps to reproduce the issue:
1. make configure PLATFORM=marvell-armhf PLATFORM_ARCH=armhf
2. make target/sonic-marvell-armhf.bin

#### Describe the results you received:
[code]

#### Describe the results you expected:
should be built successfully

[2022-05-16 20:11] lukasstockner opened #10850 "Missing FEC port statistics on management port cause port rate script to fail"
#### Description
When running a recent 202111 image on a Celestica Seastone2, the syslog gets spammed with errors related to FEC counters and Redis failures, and `show interface counters` doesn't show port data rates on ports past Ethernet63.

#### Steps to reproduce the issue:
1. Install recent 202111 image on Celestica Seastone2
2. Check syslog

#### Describe the results you received:
When SONiC

[2022-05-17 14:49] AkhileshSamineni commented on #10244
@dgsudharsan Fix this one, PR link is https://github.com/Azure/sonic-swss/pull/2278

[2022-05-17 15:02] #10244 closed

[2022-05-17 18:41] anamehra opened #10857 "multi-asic support for config apply-patch and show runningconfig CLIs"
#### Description

sonic-mgmt testcase under generic_config_updater use config apply-patch for some of the test cases. config apply-patch does not handle multi-asic scenarios and that causes test cases to fail.

config apply-patch uses 'show runningconfig <>' command to fetch the running-config which also misses multi-asic support.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the res

[2022-05-17 18:41] anamehra commented on #10857
@abdosi , FYI-

[2022-05-18 14:54] nazariig opened #10867 "[202012][autorestart teamd]: Unable to initialize team socket: Cannot assign requested address"
#### Description

The LAG deinit flow is not being called: the `teammgrd` is being killed by `SIGKILL` in the test.
The race condition happens when `teamsyncd` tries to get a subscription to LAG interface while `teammgrd` does a netdev recreate.
LAGs are being recovered after `teamd` service restart although the errors are present in the log

[code]

Incomplete deinit flow (LAG netdev leftovers) i

[2022-05-18 20:01] SuvarnaMeenakshi opened #10870 "[chassis] Too many open files error and unable to connect to redis socket error"
#### Description

#### Steps to reproduce the issue:
1. Boot up chassis and leave SNMP service running for a few days (seeing issue after 5 days of service being up)
2. Observe the below logs in syslog in both Supervisor and Linecards.
   - Unable to connect to redis
   -  Too many files open
4. No functionality issue seen

#### Describe the results you received:
Error logs seen
[code]

#### Descr

[2022-05-18 20:02] SuvarnaMeenakshi commented on #10870
@abdosi fyi

[2022-05-18 22:27] #10605 closed

[2022-05-19 02:07] microsoft-github-policy-service[bot] opened #10875 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 04:45] congh-nvidia opened #10878 "[Sub-Interface] CLI should throw an error if short name format is called without vlan when adding a sub-interface"
#### Description

The CLI should throw an error if short name format is called without vlan when adding a sub-interface, because the vid is a must parameter when using short names.
Currently the CLI accepts short name without a vid which will cause errors.

#### Steps to reproduce the issue:
1. Create a sub interface in short name but don't assign the vid in the cli command:
[code]
2. Try to show

[2022-05-19 05:10] gechiang commented on #10638
Investigated this issue and found this is a SAI issue where it is failing to get the port serdis ID and it gets stuck there forever (perhgaps due to the way OA  will keep retrying...:
[code]
I have filed CSP case CS00012246105 with BRCM on this issue.

[2022-05-19 06:29] MaratGubaiev commented on #10552
It is doing here https://github.com/Azure/sonic-buildimage/pull/10840

[2022-05-19 08:54] jostar-yang commented on #10845
Does you code has merger below RP?
https://github.com/Azure/sonic-buildimage/pull/10669
There is some issue with PDDF, it will cause problem to sonic_platform.
If no sonic_platform, related cmd can't show these data.

[2022-05-19 10:46] ZhaohuiS opened #10883 "caclmgrd core dump file generated after loading scale ipv6 cacl rules"
#### Description

During test `test_cacl_application.py::test_cacl_scale_rules_ipv6`, after applying scale ipv6 rules, these is no ip6tables rules added.
From syslog, some many syncd error logs appear and syncd crashed and all containers restarted except database.

Even ip6table rules are added successfully, there is core dump file for `caclmgrd` under /var/core during the test, its core file is a

[2022-05-19 11:54] dprital commented on #10785
@kellyyeh - What is the ETA for a fix ?

[2022-05-19 14:56] dgsudharsan opened #10884 "Error log "radvd[34]: Vlan1000 not found: No such device" is observed while running auto restart test for syncd"
#### Description

While running the auto restart test for syncd the following error log is observed
[code]

In regular reboot/config reload scenario radv gets stopped before syncd, swss
[code]
In this specific test where syncd is purposely killed to test auto restart feature, radv stop happens way after syncd is killed and swss is stopped
[code]

Since this behavior is expected, this error log sho

[2022-05-19 15:39] ayurkiv-nvda commented on #9568
@zhangyanzhao

Reproduced on **202106.84-212cdfbe8_Internal**

May 19 15:31:09.664353 r-spider-05 ERR syncd#SDK: :- translateVidToRid: unable to get RID for VID oid:0x6000000000be2

[2022-05-19 17:16] zhangyanzhao commented on #10547
YANG model PR is merged and close this issue.

[2022-05-19 17:16] #10547 closed

[2022-05-19 19:33] jeff-yin opened #10887 "[202012] [Dell S5248F] Platform modules missing for DellEMC-S5248f"
Opening this based on query from mailing list:
https://groups.google.com/g/sonicproject/c/Yv6R-_ubBzg/m/GOf6gfgODAAJ?utm_medium=email&utm_source=footer&pli=1

#### Description

`pmon` fails to start due traceback thrown in `decode-syseeprom`, which leads to platform module not loading correctly.

#### Steps to reproduce the issue:
Install the `202012` sonic-broadcom image to the Dell S5248F-ON.

#

[2022-05-19 19:33] jeff-yin commented on #10887
Please assign to @aravindmani-1 for initial triage

[2022-05-19 19:43] madhupalu commented on #10887
@jeff-yin
Thanks for tracking the issue.

- Issue is seen other images as well ex: 202211.
- We have confirmed this is not the hardware issue.
- I see there is fix - https://github.com/Azure/sonic-buildimage/pull/10775/files  and the issue got addressed in 202211 and there is a back port requested to for 202012.

[2022-05-20 05:29] kellyyeh commented on #10785
@dprital Here is the PR fix: https://github.com/Azure/sonic-buildimage/pull/10819 @shlomibitton I tested on my end to be working. Could you verify with the PR build on your end if it fixes your issue?

[2022-05-20 05:57] 119064273 commented on #9321
confirm. close

[2022-05-20 05:57] #9321 closed

[2022-05-20 08:25] stepanblyschak commented on #10135
@harish-kalyanaraman @abdosi @arlakshm Please check the PR https://github.com/Azure/sonic-utilities/pull/2179. I tested VS multi-asic. Could you please help with verification on single-asic linecard?

[2022-05-20 13:56] ixodie opened #10895 "Slack Workspace Request"
The SONiC Slack workspace:

https://sonicswitch.slack.com/signup#/domain-signup

is currently limited to a subset of email domains.

How does one go about joining this workspace if you are independent?

[2022-05-20 16:34] ayurkiv-nvda opened #10896 "DHCP client errors in the logs are caused by config reload during ZTP provisioning data discover"
#### Description

#### Steps to reproduce the issue:
DHCP client errors in the logs are caused by config reload during ZTP provisioning data discover:
ZTP still running when config reload is issued.
1) Start ZTP
[code]
2) Wait for ZTP status
[code]
3)  Run config reload
[code]

#### Describe the results you received:

[code]

#### Describe the results you expected:
No errors

#### Output of `show

[2022-05-21 00:23] wenyiz2021 opened #10897 "[MASIC] [CLI] "show ip route" not parsing correctly for ip with prefix"
#### Description
Seeing issue on multi-asic platform test_bgpmon.py test, where it calls "show ip route {random ip} json".
When random ip is a non-existing ip, for single asic, an '{}' is returned. However, for multi-asic "show ip route {random ip}" says "Network not in table" and not able to parse it.

Issue seems to be in:
https://github.com/Azure/sonic-utilities/blob/494dd62efb56614ed2409b89fe5

[2022-05-21 01:08] xumia opened #10898 "Support pip download for reproducible build"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
If the version of the python package is specified in the version file, then the pip download the command will download the package with specified version.

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional i

[2022-05-23 05:04] KrupakarAnnam commented on #10887
[sonic_dump_sonic_20220522_234126.tar.gz](https://github.com/Azure/sonic-buildimage/files/8751586/sonic_dump_sonic_20220522_234126.tar.gz)
Hi Team, Attaching 'show techsupport' dump here...

[2022-05-23 06:56] jostar-yang commented on #10845
I git clone at 2022/5/20 and build code. After build done image to load to as7726, show platform are fine.
root@as7726-32x-19u:~# show platform fan
  Drawer    LED         FAN    Speed    Direction    Presence    Status          Timestamp
--------  -----  ----------  -------  -----------  ----------  --------  -----------------
Fantray1  green  Fantray1_1      38%      EXHAUST     Present        O

[2022-05-23 06:58] jostar-yang commented on #10845
root@as7726-32x-19u:~# show platform temp
                  Sensor    Temperature    High TH    Low TH    Crit High TH    Crit Low TH    Warning          Timestamp
------------------------  -------------  ---------  --------  --------------  -------------  ---------  -----------------
           CB_temp(0x4B)           21.5       80.0       N/A             N/A            N/A      False  20220523 0

[2022-05-23 06:59] jostar-yang commented on #10845
root@as7726-32x-19u:~# show platform summary
Platform: x86_64-accton_as7726_32x-r0
HwSKU: Accton-AS7726-32X
ASIC: broadcom
ASIC Count: 1
Serial Number: 772632X1911006
Model Number: FP3ZZ7632074A
Hardware Revision: N/A

[2022-05-23 08:10] shlomibitton commented on #10785
@kellyyeh I tested your fix and it is working, thanks!
Once the PR is merged we can close this issue.

[2022-05-24 00:26] liuh-80 commented on #10434
sonic installer import utilities_common.cli because it need use following class:
MutuallyExclusiveOption

However the global variable iface_alias_converter in utilities_common.cli will connect to config db when initialize.

[2022-05-24 01:25] abdosi commented on #10887
@jeff-yin is the installation of new image done via sonic installer or onie ?

[2022-05-24 01:29] abdosi commented on #10887
cc @anamehra

[2022-05-24 02:28] liuh-80 commented on #10434
PR for this issue: https://github.com/Azure/sonic-utilities/pull/2183
Also will be a submodule update PR after this.

[2022-05-24 07:29] KrupakarAnnam commented on #10887
HI Jeff,
We did some more tests..

**The issue is happening on the 202012 branch with ONIE installation only.**

- Sonic 202111 build is installed using ONIE and we don't see a Debian file loading issue.
- Now, install the 202012 22nd May build using ONIE and the Debian file loading issue reproduced.
- Tried manually installing Debian file but failed: dpkg -i /host/image-202012.100954-acfee3be9/pl

[2022-05-24 11:05] aravindmani-1 commented on #10887
Thanks @KrupakarAnnam . We observed the same issue in DellEMC S5232f also.  i believe that we will be hitting this issue in most of the platforms. @abdosi , @xumia Could you please share your insights on this issue?.

[2022-05-24 21:36] #10761 closed

[2022-05-24 21:37] #10785 closed

[2022-05-25 02:08] jostar-yang commented on #10563
This issue should only happen on 202111br. Master image is fine.  202111bra and master use kernel 5.10. But some as9716 drv compile fail due to kernel doesn't support these api. We has fixed it and send PR. The code has merged to master. But it not sync to 202111br.

[2022-05-25 03:29] jostar-yang commented on #10563
I git clone code at 5/20 from master code  and build to image. Load image to as9716 and show platoform cmd is fine.

[2022-05-25 06:13] lolyu opened #10920 "[202012][dualtor][ipv6] `test_active_tor_remove_neighbor_downstream_active[ipv6]` failed"
#### Description

#### Steps to reproduce the issue:
run `test_active_tor_remove_neighbor_downstream_active[ipv6]`

#### Describe the results you received:
After removing the neighbor, with `arp_responder` running, downstream ipv6 traffic to the server could not be forwarded because SONiC doesn't try to send neighbor discovery.

#### Describe the results you expected:
SONiC should treat ipv6 traff

[2022-05-25 09:26] lizhijianrd opened #10921 "Force10-S6000 cannot pass memory exhaustion test case"
#### Description

DUT `Force10-S6000` failed on test case `platform_tests.test_memory_exhaustion`. The test result is:

[code]

After the DUT trigger OOM and reboot, the process `orchagent` in docker container `swss` is gone. Then the critical processes check failed.

#### Steps to reproduce the issue:

Use the following commands to run test case `platform_tests.test_memory_exhaustion`:

[code]

[2022-05-25 09:48] jostar-yang commented on #10563
If you still need to use 202111br, you need to get code from master.
It need to merge below for as9716 drv,
https://github.com/Azure/sonic-buildimage/tree/master/platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules
It also need to merge below code,
https://github.com/Azure/sonic-buildimage/tree/master/platform/pddf

Please make clean and rebuild image to check again.

[2022-05-25 11:49] aravindmani-1 commented on #10638
Just an update, this issue is seen in latest SAI too.
root@sonic:~# bcmcmd "bsv"
bsv
BRCM SAI ver: [7.1.0.0], OCP SAI ver: [1.10.2], SDK ver: [sdk-6.5.24]
drivshell>
root@sonic:~#

[2022-05-25 15:07] zhangyanzhao commented on #10921
@Blueve can you please help to take a first look? Check with Ying if you need help. Thanks.

[2022-05-25 15:12] zhangyanzhao commented on #10896
Error message in the log, no functional impact. Nice to have fix. Long term plan is to move this to DHCP relay infrastructure

[2022-05-25 15:13] zhangyanzhao commented on #10896
Assign to Kelly for long term fix.

[2022-05-25 15:14] zhangyanzhao commented on #10895
No easy way to support this in Slack. If you want to join, please let me know  your id and I can add you in.

[2022-05-25 15:21] zhangyanzhao commented on #10878
@adyeung can you please help to find someone from BRCM to check? Thanks.

[2022-05-25 15:26] zhangyanzhao commented on #10850
Known issue with BRCM SAI.

[2022-05-25 15:27] zhangyanzhao commented on #10850
@gechiang

[2022-05-25 15:31] zhangyanzhao commented on #10848
Reproduceable, likely because of the cross-compiling performance issue caused the timeout.

[2022-05-25 15:36] gechiang commented on #10850
We have already started a case for this with BRCM SAI team.  Initial reply from BRCM SAI team is that this is not supported on TH3 devices.  but looks to be a generic issue for all 10G ports which FEC does not apply perhaps...  Will update once confirmed and plan course of action for this.

[2022-05-25 15:54] zhangyanzhao commented on #9498
Qi, please help to take a look.

[2022-05-25 15:58] zhangyanzhao commented on #9489
L3 is not supported yet.

[2022-05-25 16:22] abdosi commented on #10870
seen on other platforms also

[2022-05-25 16:34] rlhui commented on #10734
@sanmalho-git would you please help to see if this one could be taken up by Nokia?  Thanks.

[2022-05-25 16:41] SuvarnaMeenakshi commented on #9239
Fixed with this PR https://github.com/Azure/sonic-snmpagent/pull/244

[2022-05-25 16:41] #9239 closed

[2022-05-25 16:44] rlhui commented on #6430
@gechiang would check

[2022-05-25 16:45] rlhui commented on #7699
@abdosi - please comment and/or close if suitable.

[2022-05-25 16:51] rlhui commented on #9033
@sanmalho-git will check if Nokia could help, thanks.

[2022-05-25 17:06] rlhui commented on #10569
@mlok-nokia, kindly share a PR if you have it? Thanks.

[2022-05-25 17:19] anamehra commented on #7699
This is handled via https://github.com/Azure/sonic-buildimage/pull/7477

[2022-05-26 21:37] sanmalho-git opened #10942 "[chassis][dnx] Ports don't come up after reboot/config load_minigraph if we have qos buffer profile/cfg files on a brcm dnx linecard in a T2 chassis"
#### Description
On a DNX multi-asic linecard in a T2 chassis, the ports don't become operationally up if we have the QoS buffer profile / configuration files added to the device data folder, and:
- config load_minigraph and config save
- Reboot with config_db with qos buffer profile/configuration

#### Steps to reproduce the issue:
1. For Nokia-IXR7250E-36x400G linecard, add the QoS profile/confi

[2022-05-26 21:40] sanmalho-git commented on #10942
@judyjoseph @rlhui - Here is the issue regarding 'config qos reload' required after 180 seconds for ports to become operationally up.

Could you please add the chassis label to it - and as discussed in our meeting, assign it to somebody in MSFT to take a look.

[2022-05-27 02:32] rlhui commented on #10942
@vmittal-msft  - would you please check? Thanks.

[2022-05-27 10:42] xumia opened #10952 "The docker image docker-platform-monitory build failed for dpkg package dependency issue"
#### Description
Failed to build target/docker-platform-monitor.gz, caused by the dpkg package dependency issue.

https://dev.azure.com/mssonic/build/_build/results?buildId=103226&view=logs&j=d37bc48d-29a0-534f-a1dc-3d699deb17a6&t=933dfdc6-d074-504d-ee66-71743fd9ae4e

#### Steps to reproduce the issue:
1. Checkout the commit https://github.com/Azure/sonic-buildimage/commit/9b84294ffc3f3257e718da54

[2022-05-27 15:43] #10135 closed

[2022-05-27 19:04] #10425 closed

[2022-05-27 19:53] bacrossland commented on #8162
I've opened a PR on sonic-swss to fix this issue: https://github.com/Azure/sonic-swss/pull/2299

[2022-05-29 01:22] #10552 closed

[2022-05-29 01:39] ganglyu opened #10966 "[yang] Need Yang for PEER_SWITCH table"
#### Description

We don't have Yang model for PEER_SWITCH table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: PEER_SWITCH, VOQ_INBAND_INTERFACE, CONSOLE_PORT, TUNNEL, MUX_CABLE, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI, CONSOLE_SWITCH

#

[2022-05-29 01:41] ganglyu opened #10967 "[yang] Need Yang for VOQ_INBAND_INTERFACE table"
#### Description

We don't have Yang model for VOQ_INBAND_INTERFACE table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: PEER_SWITCH, VOQ_INBAND_INTERFACE, CONSOLE_PORT, TUNNEL, MUX_CABLE, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI, CONSOLE_

[2022-05-29 01:43] ganglyu opened #10968 "[yang] Need Yang for CONSOLE_PORT table"
#### Description

We don't have Yang model for CONSOLE_PORT table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: PEER_SWITCH, VOQ_INBAND_INTERFACE, CONSOLE_PORT, TUNNEL, MUX_CABLE, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI, CONSOLE_SWITCH

[2022-05-29 01:45] ganglyu opened #10969 "[yang] Need Yang for TUNNEL table"
#### Description

We don't have Yang model for TUNNEL table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: PEER_SWITCH, VOQ_INBAND_INTERFACE, CONSOLE_PORT, TUNNEL, MUX_CABLE, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI, CONSOLE_SWITCH

#### D

[2022-05-29 01:50] ganglyu opened #10970 "[yang] Need Yang for MUX_CABLE table"
#### Description

We don't have Yang model for MUX_CABLE table.

#### Steps to reproduce the issue:
1. Run build pipeline for below PR:
https://github.com/Azure/sonic-buildimage/pull/10963
2. Check build log:
sonic_yang(6):Note: Below table(s) have no YANG models: PEER_SWITCH, VOQ_INBAND_INTERFACE, CONSOLE_PORT, TUNNEL, MUX_CABLE, DEVICE_NEIGHBOR_METADATA, DHCP_SERVER, RESTAPI, CONSOLE_SWITCH

###

[2022-05-30 04:05] qiluo-msft commented on #10434
Fixed by https://github.com/Azure/sonic-utilities/pull/2183

[2022-05-30 04:05] #10434 closed

[2022-05-30 07:48] 119064273 opened #10979 "[FRR] how to compiler bgp with rpki in sonic"
#### Description

#### Steps to reproduce the issue:
[1.
2.

#### Describe the results you received:

#### Describe the results you expected:
we can start bgp like this "bgpd_options=" -A 127.0.0.1 -M rpki""

https://github.com/Azure/sonic-buildimage/blob/master/rules/frr.mk

librtr-dev

https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-frr/Makefile

-Ppkg.frr.nortrlib
#### Output of

[2022-05-31 01:29] gavinht21 opened #10985 "[Pipelines]How to download a separate DEB or docker image from the official Azure Devops pipeline"
#### Description

#### Steps to reproduce the issue:
1.The official pipeline has only one artifact that contains the entire target directory, which is very large
2.Downloading it is very time consuming
3.Most of the time I just want one of the deb packages or docker images

#### Describe the results you received:

#### Describe the results you expected:
How to download a separate deb package or do

[2022-05-31 02:59] ZhaohuiS commented on #10883
Paste core file decode information here:

[code]

[2022-05-31 05:28] ZhaohuiS commented on #10883
It crashed at line 863 of `caclmgrd`:
`if self.config_db_map[namespace].get_table(self.ACL_TABLE)[acl_table]["type"] == self.ACL_TABLE_TYPE_CTRLPLANE:`

Even add the following protection, it crashed as same.
`if self.config_db_map[namespace].get_table(self.ACL_TABLE):`

The content of previous acl_table is:
[code]

From decoded traceback, it seems it crashed at `auto const& entry = client.hgetall<

[2022-05-31 22:56] vivekreddynv commented on #9021
Fixed by https://github.com/Azure/sonic-swss-common/pull/587

[2022-05-31 22:56] #9021 closed

[2022-06-01 21:02] SuvarnaMeenakshi opened #10999 "Allow SSH via midplane when SSH control plane ACLs are added"
#### Description

#### Steps to reproduce the issue:
1. Run CACL test case test_cacl_application, specifically scale_acl test case on chassis Linecard.
2. scale_acl test case adds a bunch of ssh/snmp/ntp acl rules using acl.json format.
3. When acl rules are added, a default rule is added to drop ssh from any IP other than from that specified in the acl.json.
4. Try to ssh to midplane IP of a line

[2022-06-02 07:30] shinoharakazuya opened #11004 "FRR SRv6 End.DT4 decap"
I'm using sonic-vs.
SRv6EndDT4 included in the FRR function is not working. End DT4 does not work even if the contents corrected by FRR are reflected in sonic-frr.
https://github.com/FRRouting/frr/commit/e735c8073c70abddab09f8600b551df7f630809e

It seems that SRv6 End DT4 can be used from linux kernel 5.15 in FRR. Is that the cause?
The linux kernel version of sonic is as follows.
Kernel: 5.10.0-1

[2022-06-02 08:02] bingwang-ms opened #11006 "Failed to add port to LAG because the port is bound to ACL table"
#### Description
We were seeing port failed to be added to LAG because the port is bound to ACL table.
[code]
The issue is probably caused by PR [[portsorch]: Prevent LAG member configuration when port has active ACL binding](https://github.com/Azure/sonic-swss/pull/2165)

The failure is because we create an Ingress ACL table `IngressTableDrop` in `muxorch`, and the table is bound to all ports, in

[2022-06-02 08:19] ayurkiv-nvda opened #11007 "[sonic-kdump-config] erros during "config reload"/image install"
#### Description
During ONIE install and during config reload error logs observed
[code]
1. wget http://fit69/auto/sw_system_release/sonic/202111_rc_11_20220503.1-dcd5b93ce_Internal/Mellanox/sonic-mellanox.bin
2. onie-nos-install sonic-mellanox.bin
3. config reload -y

#### Steps to reproduce the issue:
Reproduced on **202111_rc_11_20220503.1-dcd5b93ce_Internal**, **202111.73-cd2c522a0_Internal**

[2022-06-02 09:44] romanvasylys opened #11008 "[LLDP] fails to replace default value for portID and PortDescr on neighbors"
**Description**

lldp can't configure correct portID and PortDescr on some neighbors.
lldp places default value in form of MAC address of DUT on PortID, and Interface name on PortDescr.
lldp doesn't replace default data with correct one

**Steps to reproduce the issue:**

Deploy t0 topology

**Describe the results you received:**

[lldpcli] # show interfaces summary
[code]

[code]

**Describe the

[2022-06-02 12:52] #10952 closed

[2022-06-03 12:31] ayurkiv-nvda opened #11023 "SAI_SWITCH_ATTR errors after deploying minigraph"
#### Description
There are few strange errors in logs that appeared during deploying minigraph.
It does not effect deploying but still need to investigate

#### Steps to reproduce the issue:
1. install sonic-image via ONIE
2. ansible-playbook -i inventory --limit (testbad-name) deploy_minigraph.yml -e dut_minigraph=(testbad-name).t0.xml -b -vvv

reproduced on :
[code]

Maneged to reproduce on test

[2022-06-03 15:15] romanvasylys opened #11025 "[LLDP] lldp_manager spams syslog with "port is not up" due to conflicting information"
**Description**

When lldp is active, lldp_manager sends 10-15 INFO messages on ports being down every 5-10 seconds.
lldp sends INFO messages on ports, that are shown as "oper = up; admin = up" in `show interfaces status`, but in `RedisDB[6]` shown as "netdev_oper_status" = "down", "admin_status" = "up"
lldpmgrd doesn't spam INFO messages on ports without conflicting information (either "up" or "d

[2022-06-04 09:07] aseaudi opened #11028 "Serial console not working after building 2020 9b84294ff"
#### Description

After building 2020 sonic-broadcom.bin, i cannot use console access using ttyS0.
I found out that the serial ports are detected different in my build, it's detected as ttyS4 instead of ttyS0.
My build was off 2020 9b84294ff, and I compared with sonic broadcom image 2020 a0376a6e5 downloaded from azure.

My build off 2020 9b84294ff gives the following:
dmesg:
[    1.423062] Serial

[2022-06-06 05:04] #9201 closed

[2022-06-06 05:13] lguohan opened #11042 "check the config.bcm template in the build"
#### Description

#### Steps to reproduce the issue:

If the new config.bcm property is hardcoded, we need to add it to permitted_list. Otherwise it will break the build.
If the new config.bcm property is added by template, then config_checker does not check it.
We need to make sure the config_check also checks the template.

#### Describe the results you received:

#### Describe the results you e

[2022-06-06 13:27] ZhaohuiS opened #11046 "orchagent crashed when trying to delete fdb static entry with swssconfig"
#### Description

orchagent crashed when trying to delete fdb static entry with swssconfig,
the fdb static entry was added with swssconfig minutes ago.

#### Steps to reproduce the issue:
1. Run test script `tests/drop_counters/test_configurable_drop_counters.py` in [sonic-mgmt](https://github.com/Azure/sonic-mgmt) repo.
2. In script, it adds a static fdb entry by command `docker exec -i swss swss

[2022-06-07 03:29] gavinht21 commented on #10985
No response, close the issue

[2022-06-07 07:42] liuh-80 commented on #10883
Can't reproduce this issue with latest 202112 build:

https://sonic-build.azurewebsites.net/ui/sonic/pipelines/142/builds/105963/artifacts/198518?branchName=202012&artifactName=sonic-buildimage.vs

admin@vlab-01:~$ show version

SONiC Software Version: SONiC.202012.105963-5d2ae332d
Distribution: Debian 10.12
Kernel: 4.19.0-12-2-amd64
Build commit: 5d2ae332d
Build date: Fri Jun  3 15:31:21 UTC 2022

[2022-06-07 07:47] liuh-80 commented on #10883
Confirmed this issue only happen with read hardware, will debug with hardware later.

[2022-06-07 13:39] odd22 opened #11061 "Installation failed on EdgeCore Wedge100bf-32qs"
#### Description

Attempt installing SONiC master or 202111 version on a brand new Edge Core Wedge100bf-32qs failed while it is working fine on the 32x version.

1. After the first boot, the debian package sonic-platform-accton-wedge100bf-32qs_1.1_amd64.deb refused to be install due to a dependencies problem. It look for linux image version 4.19.x while installed linux image version is 5.10.x
2. S

[2022-06-07 16:40] judyjoseph opened #11064 "[master] orchagent exits in a multi-asic linecard in Chassis"
#### Description

On booting up of a multi-asic linecard in Chassis, the following error is seen and orchagent exits

[code]

#### Steps to reproduce the issue:
1. Use the latest master image after May 28th build.
2. Boot the multi-asic linecard.

#### Describe the results you received:
The above errors and OA exit.

#### Describe the results you expected:
There should not be an OA exit.
Not expec

[2022-06-07 22:48] s7thamon commented on #10639
I had this same error, turns out I ran out of disk space. Missed the note about having 100gb.

[2022-06-08 10:06] liushilongbuaa opened #11077 "dood affects reproducible build when generating version files."
#### Description

#### Steps to reproduce the issue:
1.set SONIC_VERSION_CONTROL_COMPONENTS=all
2.make a SONiC image.
3.check target/versions

#### Describe the results you received:
ERROR: Cannot install sonic-utilities==1.2 because these package versions have conflicting dependencies.

The conflict is caused by:
    sonic-utilities 1.2 depends on toposort==1.6
    The user requested (constraint)

[2022-06-08 12:51] stepanblyschak commented on #9817
I see that for some counters (e.g dropstat) the cache file is cleared on config reload, [code](https://github.com/Azure/sonic-utilities/blob/master/config/main.py#L1484).
This has to be done for every counter cache file, however there is another issue, e.g swss restart due to a crash, counters cache isn't cleared.

To solve this I propose:
1. Have a single cache registry/directory where every appl

[2022-06-08 13:40] nazariig commented on #9817
@stepanblyschak how about `/var/cache/sonic/` path?

[2022-06-08 15:08] zhangyanzhao commented on #11061
@odd22 can you please create a PR with your fix? Community can review. Thanks.

[2022-06-08 15:09] zhangyanzhao commented on #11046
BRCM will take a look.

[2022-06-08 15:13] zhangyanzhao commented on #11028
Looks like a build issue. Can you please upload the show tech log if you  still see this issue? Thanks.

[2022-06-08 15:17] zhangyanzhao commented on #11008
Is this repeatable or just ad-hoc occurs?

[2022-06-08 15:17] zhangyanzhao commented on #11008
Is this repeatable or just ad-hoc occur?

[2022-06-08 15:18] zhangyanzhao commented on #11008
Please provide the show tech support logs. Thanks.

[2022-06-08 15:20] zhangyanzhao commented on #11007
BRCM will help to take a look. Thanks.

[2022-06-08 15:26] zhangyanzhao commented on #10979
Invalid bug, need more details provided.

[2022-06-08 15:28] zhangyanzhao commented on #11008
Consistently repro with Nokia T2 Chassis, also see the issue with Pizza box device.

[2022-06-08 15:39] odd22 commented on #11061
@zhangyanzhao Yes of course, but only for the first one a.k.a. the sonic-platform-accton-wedge100bf-32qs_1.1_amd64.deb package. For the second, one, it is related to P4studio SDE component which it is not open-source. I'll contact Intel/Barefoot for this issue.

[2022-06-08 20:21] zhangyanzhao commented on #10098
Please retry

[2022-06-09 02:10] jimmyzhai commented on #10014
The issue had been fixed by https://github.com/Azure/sonic-swss/pull/2218.

[2022-06-09 02:10] #10014 closed

[2022-06-09 12:12] #10850 closed

[2022-06-09 16:21] #10569 closed

[2022-06-09 16:47] aseaudi commented on #11028
I confirmed again this bug, i downloaded the image 4f19945b48 built by azure pipepline
https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds/108060/artifacts?branchName=202012

and it loses the console connection right after:
Loading SONiC-OS OS kernel ...
Loading SONiC-OS OS initial ramdisk ...

[2022-06-09 17:48] rlhui commented on #10942
@vmittal-msft  - any update on this, thanks

[2022-06-09 18:24] prsunny commented on #11064
Tracking with Broadcom

[2022-06-09 19:31] hasan-brcm commented on #11064
I see the default weight in frr is 1:
`
root@sonic:/home/admin# vtysh -c"show ip route 10.10.10.10/32"
Routing entry for 10.10.10.10/32
  Known via "bgp", distance 20, metric 0, best
  Last update 00:03:14 ago
  * 30.0.0.2, via Ethernet4, weight 1
  * 30.1.0.2, via Ethernet12, weight 1
`

But app-db it gets reflected as 2:
`
root@sonic:/home/admin# sonic-db-cli APPL_DB "hgetall ROUTE_TABLE:10.10.1

[2022-06-09 20:46] prsunny commented on #11064
Fix - https://github.com/Azure/sonic-swss/pull/2320

[2022-06-10 05:05] vmittal-msft commented on #10942
@rlhui I tried this multiple times on a chassis with LC having single DNX asic. I haven't seen this issue. My QoS/MMU settings are little bit different than what we have in master. Not sure if this makes any difference. I will raise a PR to push these settings soon.

[2022-06-10 11:05] abhiranjeet opened #11102 "SUBINTERFACE support on 202106 branch sonic-broadcom.bin AS7712-32X Switch"
#### Description
No Subinterface support on Debian 10 Installer of sonic-broadcom.bin

#### Steps to reproduce the issue:
1. Clone sonic-buildimage repository
2. Follow build instructions for 202106 branch
3. Install resulting sonic-broadcom.bin image on AS7712-32X switch

#### Describe the results you received:
Could not create subinterfaces on AS7712-32X switch

#### Describe the results you exp

[2022-06-10 14:03] sanmalho-git commented on #10942
@vmittal-msft  - please let us know the PR# for the differences to the QoS/MMU settings that you have as compared to master. We can try it out on our linecards in Nokia.

[2022-06-10 17:19] #10887 closed

[2022-06-10 18:05] lguohan commented on #11064
fix in #11094

[2022-06-10 18:06] #11064 closed

[2022-06-10 20:06] vmittal-msft commented on #10942
https://github.com/Azure/sonic-buildimage/pull/11108

[2022-06-10 20:35] qiluo-msft opened #11110 "Add yang model unit test for check_up_status field type"
Could you add yang model unit test?
We recently fixed a bug https://github.com/Azure/sonic-buildimage/pull/10986

_Originally posted by @qiluo-msft in https://github.com/Azure/sonic-buildimage/pull/10479#discussion_r894871729_

[2022-06-10 20:36] qiluo-msft commented on #11110
@sg893052 Could you help this issue?

[2022-06-10 21:18] adyeung commented on #10878
@preetham-singh to followup next week

[2022-06-12 04:29] sinaebrahimi commented on #1784
Hi, the issue was created in 2018. Is there any support for ODL or ONOS right now? (Or maybe ONOS and ODL should support SONIC as an on-switch NOS.)

[2022-06-14 00:06] dprital opened #11124 "The command "show ipv6 interface" output shows the name of the column as IPv4 address/mask instead of IPv6"
#### Description

The command "show ipv6 interface" output shows the name of the column as IPv4 address/mask instead of IPv6

#### Steps to reproduce the issue:
1. Run "show ipv6 interface"
2. Wait for the output t be presented
3. The header of the IP address column is IPv4 instead of IPv6

#### Describe the results you received:

[code]

#### Describe the results you expected:

[code]

#### Outpu

[2022-06-14 02:45] Junchao-Mellanox opened #11126 "[ZTP] management interface link flaps due to ZTP periodically start network discovery"
#### Description

management interface link flaps due to ZTP periodically start network discovery. The issue is always reproduced.

#### Steps to reproduce the issue:
1. Build SONiC with ZTP enabled
2. Install SONiC via ONIE
3. ZTP automatically runs4.
4. ZTP start network discovery periodically, which calls "systemctl restart interfaces-config". Code here: https://github.com/Azure/sonic-ztp/blob/

[2022-06-14 06:07] AntheaJiang opened #11131 "Failed when "make target/sonic-innovium.bin" on master branch"
#### Description

There are errors when building sonic-innovium.bin on master branch. Does anyone else met this before? How to solve it?

#### Steps to reproduce the issue:
1.git clone https://github.com/Azure/sonic-buildimage.git
2.make init
3.make configure PLATFORM=innovium
4.make target/sonic-innovium.bin --->stop because of error

#### Describe the results you received:
"TELEMETRY_WRITABLE"

[2022-06-14 09:18] abhiranjeet commented on #6167
Hi, Is this thread active ?
This issue is still visible on AS7712-32X (Tomahawk) & AS7726-32X (Trident 3) platform with 202111 branch.

[2022-06-14 10:18] lizhijianrd commented on #10921
We found it only fails on a specific device, maybe due to some hardware failure. So I'll close this issue.

[2022-06-14 10:18] #10921 closed

[2022-06-14 12:27] Blueve opened #11134 "[202012][armhf] sshd failed to start"
#### Description

sshd failed to start in armhf platform after this PR merged https://github.com/Azure/sonic-buildimage/pull/10910

Permission errors are raised during start up sshd service
[code]

Issue can be mitigated by manually change the key's permission level
[code]

The issue were not found on x86 platform.

#### Steps to reproduce the issue:
1. Install image with change https://github.com

[2022-06-14 12:37] Blueve commented on #11134
Might related to this change? https://github.com/Azure/sonic-buildimage/pull/10633

[2022-06-14 12:45] JafarSeyedi commented on #6167
Hi

No, The problem resolved. It was because of Broadcom SAI which has been resolved.

Thanks

[2022-06-14 14:42] Blueve commented on #11134
Plan to revert the openssh upgrade change: https://github.com/Azure/sonic-buildimage/pull/11136

The main concern is the openssh 8.4 will bring another issue: [CVE-2021-28041](https://access.redhat.com/security/cve/CVE-2021-28041) openssh: double-free memory corruption may lead to arbitrary code execution

[2022-06-14 20:04] adyeung commented on #10878
Fix is available in [https://github.com/Azure/sonic-utilities/pull/2211
](url)

[2022-06-14 20:05] adyeung commented on #10802
Fix is available in [https://github.com/Azure/sonic-utilities/pull/2211]

[2022-06-14 23:10] anilkpan commented on #11046
FDB flush is removing static mac as well. Need to change flush call to remove only dynamic mac. Will make the change and create PR for review.

[2022-06-15 00:14] arlakshm opened #11143 "[chassis][voq] Internal BGP session between the single and multi asic linecards are flapping continously"
#### Description

#### Steps to reproduce the issue:
1. Load the minigraph on the single and multi asic linecards
2. Verify the BGP session
3.

#### Describe the results you received:
The iBGP sessions between single and multi asic cards continously flaps.
Below bgp.log excerpt from one linecard
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of

[2022-06-15 01:37] lizhijianrd commented on #10339
Celestica dx010 no longer fails on this test case.

[2022-06-15 02:03] AntheaJiang commented on #11131
connect with innovium and they have raised a PR to solve it.so close /

[2022-06-15 02:03] #11131 closed

[2022-06-15 10:57] nazariig opened #11150 "[201911][caclmgrd] core dump is generated during WR ARP test"
#### Description

The issue is caused by DB unavailability during `warm-reboot` flow: the container is being stopped before the `caclmgrd`.
The same situation is also relevant for `hostcfgd`

#### Steps to reproduce the issue:
1. Stop all docker services
[code]
2. Stop database container
[code]
3. Observe coredump
[code]

**Note:** The bug is reproducible also with `warm-reboot` command

#### Desc

[2022-06-15 13:02] rajendra-dendukuri commented on #11126
The basic principle of ZTP is that user's intervention is not required. The ZTP service tries to establish connectivity repeatedly and looks for provisioning information. If due to network error or misconfiguration, the provisioning information is not made available, the ZTP serviceretries to discover it periodically (every 300s). That is where the existing DHCP leases are released and taken afres

[2022-06-15 22:36] anilkpan commented on #11046
PR created for the fix:
https://github.com/Azure/sonic-swss/pull/2332

[2022-06-16 00:09] alexrallen opened #11155 "[log] Error in syslog seen on boot `Failed to add device '/dev/sda3' to watch: Operation not permitted`"
#### Description

Error seen in log sometimes on boot
[code]

#### Steps to reproduce the issue:
1. Reboot the switch

#### Describe the results you received:

Error in log

#### Describe the results you expected:

No error log

#### Output of `show version`:

Seen on 202111

#### Additional information you deem important (e.g. issue happens only occasionally):

Reproduces very infrequently.

Seem

[2022-06-16 09:48] romanvasylys commented on #11008
This issue was not 100% repeatable - in most cases LLDP needs 1-2 minutes to replace portID and PortDescr with correct one.
I noticed this issue, when it worked on Apr 18th, but failed on Apr 19th, both having **SONiC.master.91374-dirty-20220418.121505**. Issue became less repeatable on May 7th with **SONiC.master.96834-dirty-20220507.130212**.
I can't reproduce this issue since **SONiC-20220602**

[2022-06-16 13:34] vadymhlushko-mlnx opened #11163 "[VNET] "zebra" crashes after applying VNET configuration and config load_minigraph command"
#### Description

"zebra" process crash happens after adding a VNET configuration and the `config load_minigraph` command.
After the crash, the core dump generated in the `/var/core` directory - leads to failures for the `sonic-mgmt/tests/vxlan/test_vnet_vxlan.py` test.

#### Steps to reproduce the issue:

- Install the latest `202111` SONiC image
- Deploy `t0` topology
-  Clear the FBD on the swi

[2022-06-16 16:13] mlok-nokia opened #11165 "[chassis][supervisor] containers bgp, teamd, macsec, asic lldp and radv should not be run on Supervisor cards"
#### Description
There is no front panel ports  on Supervisor card,  containers bgp,  teamd, macsecm,  asic lldp and radv should not be created and started on Supervisor card.

#### Steps to reproduce the issue:
Using 'docker ps  -a' , show all containers.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show

[2022-06-16 17:12] msosyak opened #11167 "OA apply view failed if bridge_port type tunnel is configured"
#### Description
On a system, with up and running VxLAN L2EVPN tunnel after warm-reboot OA can't apply view with the following logs
[code]

#### Steps to reproduce the issue:
1. Configure VxLAN L2EVPN tunnel
2. run warm-reboot
3.

#### Describe the results you received:
OA failed at the first iteration.

#### Describe the results you expected:
OA start successfully at the first time

#### Output o

[2022-06-16 17:14] msosyak commented on #11167
@kcudnik Could you, please, have a look.

[2022-06-16 17:32] prsunny commented on #11163
@vadymhlushko-mlnx , is there a similar issue with other versions 202012 or 201911?. Do you know the reason for zebra crash?
@sumukhatv , can you please check this issue?

[2022-06-16 19:11] vaibhavhd commented on #11150
This is a known issue on 201911. The issue was fixed on 202012 as part of https://github.com/Azure/sonic-utilities/pull/2133 and https://github.com/Azure/sonic-buildimage/pull/10511.

This issue is so far not known to cause any functional issues in the down or up path. The fix #10511 touches a lot of files and changes shutdown path for them. Hence, this was not ported to 201911.

[2022-06-16 19:27] #10390 closed

[2022-06-16 19:29] vaibhavhd commented on #10410
Issue fixed.

[2022-06-16 19:29] #10410 closed

[2022-06-16 19:30] #10018 closed

[2022-06-16 19:32] #9898 closed

[2022-06-16 19:32] #8937 closed

[2022-06-16 19:33] #8722 closed

[2022-06-16 19:44] vaibhavhd commented on #8546
Links to SAI are mentioned in the repo. For example:
https://github.com/Azure/sonic-buildimage/blob/044570c42eec228e192eae4db928ce2749571e2d/files/build/versions/build/build-sonic-slave-buster/versions-web#L36

[2022-06-17 02:10] wen587 opened #11171 "bgpcfgd fails to refresh ip route when remove and add back Loopback0"
#### Description

1. bgp failed to refresh ip route when Loopback0 is updated. Warning related code https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-bgpcfgd/bgpcfgd/managers_setsrc.py#L45-L67
2. Mannual hack to force the update is to restart bgpd then bgpcfgd service inside bgp container.
    supervisorctl  restart bgpd
    supervisorctl  restart bgpcfgd

#### Steps to reproduce the

[2022-06-17 02:54] Junchao-Mellanox commented on #11126
Close as this is expected behavior.

[2022-06-17 02:54] #11126 closed

[2022-06-17 08:19] liuh-80 commented on #10883
Create a draft PR for this issue: https://github.com/Azure/sonic-swss-common/pull/634
Install local build package with this issue to test device and can't reproduce issue with manually test.

[2022-06-17 10:42] volodymyrsamotiy opened #11180 "Syslog rate limiter might drop some important messages"
#### Description
SONiC configures rate limit for the syslog, which means that once configured threshold is reached all the log messages are dropped for some period of time. As a result some important messages might be lost in some cases.

It is not a big problem in case of debugging issues because it is always possible to change rate limit values manually to some higher values or even disable it a

[2022-06-17 19:13] #10088 closed

[2022-06-20 00:47] vivekreddynv opened #11190 "[DPB] [Counters] Error logs related to Counters seen when a port is broken out"
#### Description

#### Steps to reproduce the issue:
1. Apply a port breakout

#### Describe the results you received:

[code]

I suspect this is because of a race condition b/w the Flex-Counter Manager and the DPB Flow. DPB deletes the port and its related objects but the Flex-Counters running in a different thread is polling the stale objects and throwing the error.

#### Describe the results yo

[2022-06-20 01:20] liuh-80 commented on #10883
After offline discussion the caclmged need code change:
1. For performance reason, libswsscommon is not thread safe by design.
2. caclmged share config DB connection cross thread, so it need code change to fi this issue.

[2022-06-20 08:57] dcantunes123 commented on #10098
Hello.

I have interest in joining Slack but email from the @clouflare.com domain is not allowed here:

[https://sonicswitch.slack.com/signup#/domain-signup](url)

Can someone assist please? Thank you in advance.

[2022-06-20 11:24] dcantunes123 opened #11198 "Slack Request"
Hello.

I have interest in joining Slack but email from the @clouflare.com domain is not allowed here:

[https://sonicswitch.slack.com/signup#/domain-signup](url)

Can someone assist please? Thank you in advance.

[2022-06-20 14:27] msosyak commented on #11167
@kcudnik  I see that you were added this transition logic and the SAI_BRIDGE_PORT_ATTR_BRIDGE_ID is not supported here yet https://github.com/Azure/sonic-sairedis/blob/4b2638cab69f245cc36122f37d6c88bfc7999b86/syncd/ComparisonLogic.cpp#L1602. But I do not really understand why. Could you help me with that?

[2022-06-20 16:24] #11124 closed

[2022-06-20 16:26] kcudnik commented on #11167
do you have sairedis.rec from this warm boot ? i will need full recording from cold boot and warm boot

[2022-06-20 16:35] kcudnik commented on #11167
this is some corner case, i will need that recording to reproduce that locally then i could start looking why this is failing

[2022-06-21 11:45] AndriiLozovyi opened #11208 "Auto-Techsupport collect logs beyond since value"
#### Description
It looks like option `since` is not working as expected, after setting since value for `'5 minute ago'`, auto-techsupport collected all of available logs on DUT into techsupport dump, when it was expected to have logs only for last 5 minutes.
Value '5 minute ago' is a valid value based on the HDL and gnu date formats:
[code]

#### Steps to reproduce the issue:
1.  `sudo config aut

[2022-06-21 15:17] msosyak commented on #11167
I have attached sairedis and other log files as well. Thank you in advance.

[2022-06-21 18:32] ntoorchi opened #11211 "Feature request to enable P4RT App at the build time and allow P4RT App to read configs from CONFIG_DB"
This is a feature request to include P4RT App at the build time and allow P4RT App to read configs from CONFIG_DB. There are 3 open PRs that cover this issue and are ready for review:

| PR Title | PR # | Owner | Shepherd |
| --- | --- | --- | --- |
| Enable P4RT at build time and disable at startup | <a href="https://github.com/Azure/sonic-buildimage/pull/10499"><img src="https://img.shields.io/g

[2022-06-22 00:31] bingwang-ms opened #11214 "`test_dscp_to_tc_map_applied_to_switch` is blocking PR testing"
#### Description

We are seeing `test_dscp_to_tc_map_applied_to_switch` is consistently failing in PR testing
[code]

#### Steps to reproduce the issue:
1. Run PR testing
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issu

[2022-06-22 09:07] slutati1536 opened #11216 "Release key in sonic version.yml is 'none' on 202205 image"
#### Description

on sonic version info 'release' key is not updated to 202205.

#### Steps to reproduce the issue:
1. deploy image
2. cat /etc/sonic/sonic_version.yml

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]

#### Output of `show techsupport`:

[code]

[2022-06-22 10:23] Rancho333 opened #11217 "Does broadcom's sai support 56770(td3) chip? IOCTL failed on /dev/linux_ngknet"
#### Description
I got a error when I try to bring up SONiC on Broadcom's chip of 56770(td3). The error messages is as follows.
[code]
I'm not sure if the real cause of the error is on line 15111 or 15134.  Everything works fine on 56873(also td3).
I found similar errors from [here](https://github.com/sonic-net/SONiC/issues/907) ,but nothing came of it.
Anyone have any idea on this ?

#### Steps t

[2022-06-22 13:51] SavchukRomanLv commented on #11208
@lguohan  could you please assign smbd to take a look?

[2022-06-22 14:05] nhe-NV opened #11218 "[sub-interface] | Err msg detected in syslog when add portchannel sub-interface: "Can't connect to teamd LAG='Po58.58', error='No such file or directory""
#### Description
Err msg detected in sysog: "Can't connect to teamd LAG='Po58.58', error='No such file or directory"

#### Steps to reproduce the issue:
1./home/admin# config portchannel add PortChannel58
2./home/admin# config portchannel member add PortChannel58 Ethernet0
3./home/admin# config subinterface add Po58.58 58
4.check the syslog, there is Err msg in the syslog: "Can't connect to teamd

[2022-06-22 14:20] vadymhlushko-mlnx commented on #11163
I haven't tested it on `201911` branch, only on `202111`.
I think, the reason for `zebra` crash is the VNET configuration pushed to config_db

[2022-06-22 14:49] nazariig opened #11219 "[202111][counterpoll | wartmark] | The tables related to QUEUE_WATERMARK counter are not generated on WATERMARK enable"
#### Description

The issue appears to be in current approach: the queue watermark counters are only generated when a specific key is passed to FlexCounter orch.
This means that enabling watermark group won't actually enable the relevant counters but only when a stats for queue is requested.

[code]

https://github.com/Azure/sonic-utilities/blob/202111/counterpoll/main.py#L223
[code]

https://gith

[2022-06-22 15:08] yxieca commented on #11219
Help from community is wanted.

[2022-06-22 15:11] yxieca commented on #11217
It is supported according to brcm. BRCM will take further look into the issue. @Rancho333 please upload the tach support for further analysis.

[2022-06-22 15:13] yxieca commented on #11211
@prsunny  please help tag this issue to PINS team.

[2022-06-22 15:15] yxieca commented on #11208
@vivekreddynv is working on it.

[2022-06-22 15:20] yxieca commented on #11190
Question to nvidia: is the feature complete? currently, after breakout, number of things needs to be reconfigured, e.g. flex counter, qos.

[2022-06-22 15:21] yxieca commented on #11190
Believe that flex counter is supporting DPB. The belief is that the counter might be out of sync with port configuration transiently.

Did these error log cause further failure? If not, should these errors be lower to warning?

[2022-06-22 15:22] #10942 closed

[2022-06-22 15:26] yxieca commented on #11190
Need help to confirm this is a transient issue.

[2022-06-22 15:40] yxieca commented on #11155
@saiarcot895 are you able to take a look at this?

[2022-06-22 15:42] yxieca commented on #11150
Close according to the discussion on the issue.

[2022-06-22 15:42] #11150 closed

[2022-06-22 15:48] yxieca commented on #11102
@abhiranjeet can you upload show tech support for further analysis?

[2022-06-22 15:52] yxieca commented on #11028
@aseaudi can you upload show tech support?

[2022-06-22 15:53] yxieca commented on #11028
@aseaudi  can you specify a working image as well?

[2022-06-22 16:09] yozhao101 commented on #10867
Same issue is posted at here as well: https://github.com/Azure/sonic-buildimage/issues/10336

[2022-06-22 16:21] prsunny commented on #11211
@bocon13, @bhagatyj to analyze/review

[2022-06-23 02:16] wen587 opened #11224 "[yang] TCP_FLAGS pattern need update in sonic-acl.yang"
#### Description
TCP_FLAGS could be 0x24/0x24 which doesn't apply to current pattern.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2022-06-23 02:51] Blueve commented on #11134
@yxieca  the root cause was armhf private key permission issue.
I think we need to solve it as well before we close this issue.

[2022-06-23 04:11] #11216 closed

[2022-06-23 10:12] Rancho333 commented on #11217
Thanks for your comment. I have already upload the `show tech` info.

[2022-06-23 11:47] ayurkiv-nvda commented on #11023
Known issue, currently in progress on in RM

[2022-06-23 11:47] #11023 closed

[2022-06-23 17:37] rck-innovium opened #11235 "Create ACL table fails due to incorrect check for supported ACL actions"
The recent change to add mandatory ACL actions has a bug when checking whether the ACL action is supported or not.

__Steps to reproduce:__

___CLI:___
 config acl add table DATA_EGRESS_IPV4_TEST L3 -s egress

___Error:___
Jun 23 02:23:09.467384 sonic-dut ERR swss#orchagent: :- validate: Action SAI_ACL_ACTION_TYPE_REDIRECT is not supported on table DATA_EGRESS_IPV4_TEST
Jun 23 02:23:09.467384 soni

[2022-06-23 17:52] zhangyanzhao commented on #10548
@sumukhatv can you please help to create the YANG model for RESTAPI table?

[2022-06-23 18:00] vivekreddynv commented on #11208
Fixed by https://github.com/Azure/sonic-utilities/pull/2209

[2022-06-23 19:00] ayurkiv-nvda commented on #11007
@rajendra-dendukuri Regarding https://github.com/Azure/sonic-utilities/pull/2217 - this PR was created in order to fix this bug, or it is just assumption that it can help?

[2022-06-23 19:50] rajendra-dendukuri commented on #11007
Not an assumption. It is the fix.

[2022-06-23 20:05] dereksun01 opened #11238 "[202012 branch] UART issue on booting stage"
#### Description
The number b9a3edd8 of commit-ID that UART parameter of Cisco linux kernel configuration  will  cause our platform not to dump any message on booting stage.

Fail parameter:
"CONFIG_SERIAL_8250_RUNTIME_UARTS=32"

Pass parameter:
"CONFIG_SERIAL_8250_RUNTIME_UARTS=4"

#### Steps to reproduce the issue:
1. Download lastly 202012 SONiC image on Accton as5835_54x.
2. Booting platform.

[2022-06-23 20:29] #8848 closed

[2022-06-24 11:35] ayurkiv-nvda commented on #11007
@rajendra-dendukuri I have tested it and it looks that PR works, thanks

[2022-06-24 14:50] #11235 closed

[2022-06-25 08:24] ZhaohuiS opened #11255 "DUT sent lldp frame with incorrect port ID to EOS neighbor"
#### Description
The Neighbor Port ID is not correct in the output of 'show lldp neighbors' on EOS neighbor.
It should be the DUT's interface alias name, not mac address.

#### Steps to reproduce the issue:
1. Load internal image on testbed
2. Check `show lldp neighbors` on EOS neighbor, neighbor port ID is mac address, not interface alias.
3. Four interfaces of DUT have this issue, after debuggin

[2022-06-27 18:41] ysmanman opened #11268 "[chassis][voq] Internal BGP session was not established"
#### Description

We observed the ibgp issue after running sonic-mgmt tests. This was observed in a t2 topo, which has mixed single & multi-asic LCs.  Initially, all ibgp sessions were established and up.  However, after running certain sonic-mgmt tests, we observed some ibgp session was broken and not able to established.

#### Steps to reproduce the issue:
1. Start running all sonic-mgmt tests f

[2022-06-28 00:23] SuvarnaMeenakshi opened #11269 "[multi-asic]: load minigraph is failing on multi-asic vs with latest master branch image"
#### Description

The multi-asic  image  from Jun19th does not see any issue: https://dev.azure.com/mssonic/build/_build/results?buildId=112200&view=results
The multi-asic image from Jun 22 has this issue https://dev.azure.com/mssonic/build/_build/results?buildId=113368&view=results
#### Steps to reproduce the issue:
1. Take sonic-4asic-vs.img.gz from https://dev.azure.com/mssonic/build/_build/res

[2022-06-28 00:24] SuvarnaMeenakshi commented on #11269
Do not see this issue without https://github.com/Azure/sonic-buildimage/commit/c1d0d2e0234a5e8adb921f8978fd3a6760fea967

[2022-06-28 04:03] sg893052 commented on #11110
@[yxieca](https://github.com/yxieca) Could you please help assign someone to review fix PR https://github.com/Azure/sonic-buildimage/pull/11243

[2022-06-28 06:15] cel-eric commented on #10339
platform_tests.test_memory_exhaustion test case is also passed without failure.

[code]

[2022-06-28 06:40] liuh-80 commented on #11269
The issue may relate with this PR:
https://github.com/Azure/sonic-utilities/pull/2183

This PR change InterfaceAliasConverter() to lazy initialize. and InterfaceAliasConverter() will try load DB config if it's not initialized.

Then pfcwd seems not initialize DB config by itself, so when InterfaceAliasConverter() change to lazy initialize, pfcwd breaked.

To fix this issue, pfcwd need initialize c

[2022-06-28 06:52] arlakshm opened #11271 "[chassis][multi-asic] Load minigraph is failing on multi asic linecards"
#### Description
The CLI command `config load_minigraph` is failing on multi asic linecards with the following error

[code]

#### Steps to reproduce the issue:
1. Execute the command `config load_minigraph` on the latest master image
2.
3.

#### Describe the results you received:
The command fails.

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `sh

[2022-06-28 18:17] saiarcot895 commented on #11167
Would it be possible to attach the VxLAN L2EVPN part of your config (or the steps to configure it) to make it easier to locally test it?

[2022-06-29 00:34] SuvarnaMeenakshi commented on #11271
duplicate of https://github.com/Azure/sonic-buildimage/issues/11269

[2022-06-29 18:54] sanmalho-git commented on #10282
Issue is fixed with latest code - Recycle ports are admin enabled and are operationally up in a T2 chassis.

[2022-06-29 18:54] #10282 closed

[2022-06-29 18:55] sanmalho-git commented on #8520
Closing this as this should be addressed by https://github.com/Azure/sonic-buildimage/issues/10170

[2022-06-29 18:55] #8520 closed

[2022-06-29 19:23] sanmalho-git opened #11290 "[chassis] Remote ASIC SYSTEM_INTERFACE is not created if it is received before remote SYSTEM_LAG from the Chassis DB"
#### Description
In a Sonic chassis the Chassis DB is used to exchange SYSTEM_LAG and SYSTEM_INTERFACE on the LAG from one asic to another. The asic where the LAG and the Interface are local – creates entries in the Chassis DB. These tables are subscribed to and received by the OrchAgent on the other ASICs. Sometimes it is possible that the OrchAgent received the SYSTEM_INTERFACE entry (for a LAG)

[2022-06-29 22:14] michaelli10 commented on #11217
Hi Rancho.  Were you able to get passed this issue?  I see you have PR11281 open for adding a new Celestica platform.
If this is still an issue, can you enable SDK init logs and provide this output?

Add the following cmds in the config.bcm file on the target then reboot.  The sdk.log output will be located in the syncd docker  base directory.
/usr/share/sonic/platform/td3-as13-48f8h.config.bcm

d

[2022-06-30 02:09] #11224 closed

[2022-06-30 02:48] jusherma opened #11292 "Builds now require password-less sudo access"
This change assumes that all users building SONIC have password-less sudo access, which is not the case in our build environment. This is causing build problems for us.

_Originally posted by @jusherma in https://github.com/Azure/sonic-buildimage/issues/11111#issuecomment-1170621783_

[2022-06-30 15:41] romanvasylys opened #11300 "[sfputil] device fails to run command "sfputil show eeprom""
**Description**
Whilst trying to run `sudo sfputil show eeprom` command, device fails with KeyError when it's trying to get `supported_max_laser_freq`. Instead of eeprom, it outputs error traceback. Device fails to take facts from [QSFP_DD_DATA_MAP](https://github.com/Azure/sonic-utilities/blame/8dee36cb826eb07948c04083ed4e3b074fc27c57/sfputil/main.py#L104), which was added only [on May 10th, 2022

[2022-06-30 17:14] zhangyanzhao commented on #10969
MSFT will handle this

[2022-06-30 17:19] zhangyanzhao commented on #10668
@aslam4g can you please join the next YANG subgroup meeting and have a discussion on this issue? Thanks.

[2022-06-30 17:30] zhangyanzhao commented on #9312
Praveen will talk to Ping internally.

[2022-06-30 17:31] sjhwilkes commented on #9984
Think I'm hitting the same issue with a build from current Master (June 15th).  iccpd and the other containers seem to restart though teamd doesn't due to hitting max restarts.  Orchagent leaves cores behind...  (also on DX010 here)

[2022-06-30 21:39] arlakshm opened #11302 "[chassis] Macsec sessions on the multi asic chassis linecard not working"
#### Description
In the PR https://github.com/Azure/sonic-buildimage/pull/11141 the feature table was changed to enable mac-sec based on conditions in the jinja2 template.
This change however is not working for multi-asic linecards as hostcfgd is not update the config_db in the asic namespaces
So the feature state in the config_db in namespaces is j2 template iso of `enabled` or `disabled`
Example

[2022-06-30 22:11] qiluo-msft commented on #11292
Could you give more details on repro? What is the steps and what is observed? Thanks!

[2022-06-30 23:12] saiarcot895 commented on #11167
Also, what version of SONiC did the upgrade happen from? I can see that the version after upgrade is `SONiC-OS-master.88058-dirty-20220407.201045`.

[2022-07-01 00:40] jusherma commented on #11292
During normal build (`make init`, `make configure`, `make all`), user gets prompted by sudo for their password multiple times. Build proceeds normally even if they don't have sudo access, but this makes the build stall until they deal with the interactive password prompt

Suggested remediation: using a small, temporary docker container to remove the files. For example:

[code]

[2022-07-01 09:46] stepanblyschak commented on #10218
In 202111 an image built from commit https://github.com/Azure/sonic-buildimage/commit/9b4387ace93ed4a96fd8a47b01087f23a9249d53 does not execute sonic-db-cli C++ version:

[code]

[2022-07-01 18:26] #11302 closed

[2022-07-02 10:00] FunForNOS opened #11315 "Celestica Seastone DX010-C32: fan leds indicate faults, but there are none."
#### Description

After booting up, the LEDs of all 5 Fans at the back of the switch show a RED status.
All fans are healthy and operating, though.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. Boot up

#### Describe the results you received:
- FAN leds are red, indicating a fan issues, although none are there

#### Describe the results you expected:
1. Install Sonic 202

[2022-07-02 10:07] FunForNOS opened #11316 "Celestica Seastone DX010-C32: show platform fan broken"
#### Description
the command
`show platform fan` does not show the fans / fan speed / etc.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform fan`

#### Describe the results you received:
Output:
`admin@sonic:~$ show platform fan`
`Fan Not detected`

#### Describe the results you expected:
Output:
[code]
Last working version is

[2022-07-02 10:14] FunForNOS opened #11317 "Celestica Seastone DX010-C32: show platform firmware updates"
#### Description
the command `show platform firmware updates` fails with a chassis names mismatch instead of listing updates.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform firmware updates`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
The command shows available updates, e

[2022-07-02 10:18] FunForNOS opened #11318 "Celestica Seastone DX010-C32: show platform psustatus fails to get the psu status"
#### Description
the command `show platform psustatus` fails to get the PSUs and show their status.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform psustatus`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
Output:
[code]
Last known working version is 202105.

#### Output of `s

[2022-07-02 10:22] FunForNOS opened #11319 "Celestica Seastone DX010-C32: show platform summary does not show the serial or model number"
#### Description
the command `show platform summary` fails to read the serial or model number.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform summary`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
Output:
[code]
Last known working version is 202105.

#### Output of `show ver

[2022-07-02 10:25] FunForNOS opened #11320 "Celestica Seastone DX010-C32: show platform syseeprom fails reading the eeprom"
#### Description
the command `show platform syseeprom` fails to read the eeprom.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform syseeprom`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
Output:
[code]
Last known working version is 202105.

#### Output of `show version`:
[code

[2022-07-02 10:27] FunForNOS opened #11321 "Celestica Seastone DX010-C32: show platform temperature cannot retrieve fan info"
#### Description
the command `show platform temperature` cannot retrieve any info for the fans.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `show platform temperature`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
Output:
[code]
Last known working version is 202105.

#### Output of `sho

[2022-07-02 10:30] FunForNOS opened #11322 "Celestica Seastone DX010-C32: show system-health detail fails with 'Chassis' object has no attribute 'initizalize_system_led'"
#### Description
the command `sudo show system-health detail` fails with 'Chassis' object has no attribute 'initizalize_system_led'.

#### Steps to reproduce the issue:
1. Install Sonic 202111 or 202205
2. log in as admin
3. issue command `sudo show system-health detail`

#### Describe the results you received:
Output:
[code]

#### Describe the results you expected:
The command completes without e

[2022-07-04 01:57] liuh-80 commented on #11269
Close because fixed by this PR: https://github.com/Azure/sonic-utilities/pull/2238

[2022-07-04 01:57] #11269 closed

[2022-07-04 08:10] msosyak commented on #11167
My setup consists of two directly connected devices(one direct link), but the same could be configured on any two devices with an IP connection.
Here are the conf files for both devices.
[LEAF1-l2evpn.json.txt](https://github.com/Azure/sonic-buildimage/files/9037539/LEAF1-l2evpn.json.txt)
[LEAF2-l2evpn.json.txt](https://github.com/Azure/sonic-buildimage/files/9037542/LEAF2-l2evpn.json.txt)
Also af

[2022-07-04 08:11] msosyak commented on #11167
There is no upgrade during warmreboot. The SONiC version remains unchanged

[2022-07-04 14:42] stepanblyschak opened #11327 "[ntpd] leapsecond file ('/usr/share/zoneinfo/leap-seconds.list'): expired error message"
#### Description

It is observed that images built prior to Jun 28th have outdated /usr/share/zoneinfo/leap-seconds.list file.

[code]

and ntpd reports about it with error severity:

[code]

Images built after the file beeing updated in the corresponding debian upstream repository do not have such problem as newer images have newer file that expires in Dec 2022.

The ntpd uses leap-seconds.list f

[2022-07-04 16:31] nazariig opened #11328 "[Generic Config Updater] Failed to replace interface speed via GCU when the interface is up"
#### Description

The issue is caused by Buffer Configuration: once speed is updated the new profile is being generated automatically.
When port is admin down no automatic profile generation takes place.
Basically, the Config DB is being modified while Generic Config Updater expects data consistency.

**Simple reproduce:**
1. Port is Admin UP
[code]

2. Port is Admin DOWN
[code]

**Extra info:**
/

[2022-07-04 16:40] nazariig commented on #11328
@ghooo FYI

[2022-07-05 05:40] lizhijianrd opened #11331 "[Console] Console switch cannot be setup correctly on Celestica-E1031-T48S4 after install a new SONiC image."
#### Description

Console switch cannot be setup correctly on Celestica-E1031-T48S4 after install a new SONiC image. When connecting to console line, it will report `Cannot connect: unable to open picocom process`. After I run `sudo service udev restart`, it'll work correctly.

#### Steps to reproduce the issue:
1. Install a new SONiC image on `Celestica-E1031-T48S4`:
[code]
2. Reboot the switch t

[2022-07-05 10:29] Japanavt opened #11337 "Build failed. Marvell amd64."
#### Description

#### Steps to reproduce the issue:
1. make init
2. make configure PLATFORM=marvell
3. make SONIC_BUILD_JOBS=1 all

#### Describe the results you received:
Build failed with the above error.

#### Describe the results you expected:
Build succeeds

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

[output_new.txt](https://github.com/Azure/sonic-buil

[2022-07-06 08:31] DavidZagury opened #11352 "[Radius] Fail to login to switch when Radius is configured "shell /usr/bin/sonic-launch-shell does not exist""
#### Description

#### Steps to reproduce the issue:
1. Configure Radius Server
2. Configure aaa authentication on Sonic Switch
`config aaa authentication login radius local`

4. Config radius server on Sonic Switch
`config radius add {RadiusServerIP} -k {RadiusServerIP} `

5. Try to connect by ssh to Sonic Switch with user from Radius Database

#### Describe the results you received:
Authenticati

[2022-07-06 09:01] talber-nvidia commented on #9630
[0003-Fix-the-return-value-of-utils._execute_subprocess-me.patch.zip](https://github.com/Azure/sonic-buildimage/files/9053283/0003-Fix-the-return-value-of-utils._execute_subprocess-me.patch.zip)
This seems to be a general issue in ifupdown2 when it executes commands that result in empty output.
In this case the command was: "/bin/ip -6 addr show eth0".
It should be fixed by patching ifupdown2, see

[2022-07-06 11:11] lizhijianrd commented on #11331
Fixed by #11351

[2022-07-06 11:11] #11331 closed

[2022-07-06 15:05] zhangyanzhao commented on #11352
Can BRCM help to take a look?

[2022-07-06 15:07] zhangyanzhao commented on #11337
Can Marvell take a look?

[2022-07-06 15:14] zhangyanzhao commented on #11292
@jusherma what is your specific ask to the community?

[2022-07-06 15:18] zhangyanzhao commented on #11255
@prsunny

[2022-07-06 15:18] lguohan commented on #11255
is this a regression? which pr caused the regression? are we missing any test to catch this one?

[2022-07-06 15:23] zhangyanzhao commented on #11238
Can Accton team help to take a look? Is this Accton platform specific or applicable to other platforms? Please work with Cisco if required.

[2022-07-06 15:25] zhangyanzhao commented on #11238
@dereksun01 can you please join the issue triage meeting next time if the issue stil there?

[2022-07-06 15:34] zhangyanzhao commented on #11327
Need someone to investigate the impact from this leap second issue.

[2022-07-06 15:38] zhangyanzhao commented on #11028
similar as #11238

[2022-07-06 15:39] lguohan commented on #11028
dup of #11238

[2022-07-06 18:19] prsunny commented on #11255
Fixed PR - https://github.com/Azure/sonic-swss/pull/2233

[2022-07-06 22:33] qinchuanares commented on #11300
@romanvasylys what is the module type you use when encountering this issue? I would like to reproduce the issue.

[2022-07-07 00:01] jusherma commented on #11292
Well, I was hoping this regression would be fixed. Assuming passwordless sudo is available for all users who build SONIC is not a good assumption to make. I now have a fix for this, so I'll open a PR later today

[2022-07-07 00:10] ZhaohuiS commented on #11255
As it's fixed in https://github.com/Azure/sonic-swss/pull/2233, close this issue.

[2022-07-07 00:10] #11255 closed

[2022-07-07 00:15] ZhaohuiS commented on #11255
@lguohan it's a regression, but it's already fixed in https://github.com/Azure/sonic-swss/pull/2233, actually, `test_lldp.py::test_lldp_neighbor` helped me to catch this issue. It's already covered by our test.

[2022-07-07 01:12] dereksun01 commented on #11238
@zhangyanzhao  ,  It's great and what's the meeting time? My location is Taiwan.

[2022-07-07 08:55] msosyak commented on #11167
@saiarcot895 Were you able to reproduce the issue? Please, let me know if you need more information or maybe some debug session.

[2022-07-07 16:08] vivekrnv opened #11376 "[VS][KVM] VS on VM is broken because of unexpected interface naming"
#### Description

#### Steps to reproduce the issue:
1. Create sonic-vs.img.gz (I've tested for 202012)
2.  Start the image using sonic.xml file provided under platform/vs/ (virsh create sonic.xml)
3.  login to the VM

Host configuration:

[code]

#### Describe the results you received:
[code]

As an example, i've just used two "ethernet" type interfaces and one "user" type interface in the sonic.

[2022-07-07 16:39] mlok-nokia opened #11377 "[MultiAsic] sudo reboot command doesn't gracefully stop Asic syncd# on multiasic platform."
#### Description
Function stop_sonic_service() in /usr/local/bin/reboot script doesn't handle stopping the Asic syncd# on multiasic platform.  When issue command "sudo reboot", the below error message is shown:
[code]

#### Steps to reproduce the issue:
1. Issue "sudo reboot" command on a multiasic platform. The following error message will shown
[code]
#### Describe the results you received:
When

[2022-07-07 18:11] vivekrnv opened #11381 "[VS] ARP packets are being dropped on the VS Image When used as a L2 device"
#### Description

#### Steps to reproduce the issue:
1. Topology: HA <-> Eth0, HB <-> Eth4
2. config vlan add 10
3. config vlan member add 10 Ethernet0 -u
4. config vlan member add 10 Ethernet4 -u
5. Assign IP addresses in the same network to HA & HB
6. Ping HB from HA

#### Describe the results you received:
- ARP request is being dropped by the VS
- This is because of the ebtable rules configure

[2022-07-08 20:43] aseaudi opened #11399 "1000BASE-X auto negotiation not working on EDGECORE AS5853-54X TRIDENT 3 BROADCOM BCM56771"
Hello

We are trying to enable auto negotiation for 1G FIBER, 1000BASE-X Auto Negotiation, on an EdgeCore AS5835-54X, without success, the link stays DOWN.

Any idea if the Broadcom ASIC BCM56771 Trident 3, supports 1000BASE-X Auto Negotiation ?

Do we need to configure something to make it work ?

admin@localhost:~$ sudo config interface autoneg Ethernet0 enabled
Jul  8 20:40:23.933491 localhost

[2022-07-11 14:13] mlok-nokia commented on #11377
@judyjoseph  @prgeor  Please help to review this PR. Thanks.

[2022-07-11 18:46] vaibhavhd opened #11416 "[202012] warmboot failed as services performed cold restart"
#### Description

Warmboot failure - dataplane disruption seen as services performed cold restart instead of warm.

#### Steps to reproduce the issue:
1. Continuous warmboot test on 202012 image.
2. In one of the iterations, dataplane disruption will be hit.
3.

#### Describe the results you received:

Although warmboot was done, dataplane downtime was observed.

From the logs it appears that serv

[2022-07-12 03:07] salvadorb opened #11418 "Missing counter rate information for breakout ports"
#### Description

'show interfaces counters rates' command  is not showing information for ports in 10G breakout mode.

#### Steps to reproduce the issue:
1. Configure a port in 10G breakout mode
2. Run the show interfaces counter rates

#### Describe the results you received:
It shows N/A instead of the valid output it should be showing

[code]

#### Describe the results you expected:
It should s

[2022-07-12 06:15] lizhijianrd commented on #10339
For Celestica-E1031, we found it only fails on a specific device, maybe due to some hardware failure. I'll close this issue.

[2022-07-12 06:15] #10339 closed

[2022-07-12 09:37] rlhui commented on #11271
@SuvarnaMeenakshi - if this is fixed, please close it. thanks.

[2022-07-12 14:18] jaganbal-a opened #11424 "[Submodule] Update src/sonic-platform-daemons and src/sonic-swss to absorb link bring-up seq"
[#### Description]
The following commit is needed from src/sonic-platform-daemons submodule. so update the submodule up to below commit.
[[CMIS]Improved 400G link bring up sequence (](https://github.com/Azure/sonic-platform-daemons/commit/7c0be2422512483b403527fcfef70a3cb363a6d2)https://github.com/Azure/sonic-platform-daemons/pull/254[)](https://github.com/Azure/sonic-platform-daemons/commit/7c0be

[2022-07-12 16:38] SuvarnaMeenakshi commented on #11271
https://github.com/Azure/sonic-buildimage/issues/11269 is closed and fix is merged.

[2022-07-12 16:38] #11271 closed

[2022-07-12 17:02] prgeor commented on #11424
@jaganbal-a  how is SWSS PR 2277 associated with this?

[2022-07-12 22:46] dgsudharsan opened #11428 "[EVPN] When VRF to VNI map gets processed before VLAN to VNI mapping, it results in fails to create VLAN to VNI mapping"
#### Description

When VRF – VNI mapping arrives before VLAN – VNI mapping (It happens all the time during config reload), the VxLAN tunnel gets created with just VRF to VNI mapper. This is an issue because the encap mappers and decap mappers are create only attributes in tunnel and cannot be added when vlan to vni mapping arrives later.  In all other places VLAN to VNI and VRF to VNI are created

[2022-07-13 02:08] vivekrnv opened #11431 "[DHCP_RELAY] [IPv6] [202012] Failed to bind socket to link local ipv6 address"
#### Description

When started, dhcp6relay tries to bind the socket to ipv6 link local address.
However, in rare scenarios, there might be a race condition b/w the IPv6 device in the kernel becoming oper up and binding the socket to the iface
If the former doesn't happen before the latter the socket bind fails.
There is a retry mechanism in the dhcp6relay which tries for 6 times before giving up b

[2022-07-13 08:23] dellwuchuan opened #11437 "[SFLOW] [error log] ERR sflow#port_index_mapper: no interface with this name"
#### Description

When I enable SFLOW configuration as background configuration which is existing with other configuration, such as vlan and port.
Vlan deletion could trigger sflow error log - ERR sflow#port_index_mapper: no interface with this name

One of my colleague had some investigation on this issue, I hope it could provide some advantage.
_Failing at this line https://github.com/Azure/soni

[2022-07-14 15:57] praveen-li commented on #10116
@[StormLiangMS](https://github.com/StormLiangMS) config must be in config_db.json format not in db schema format. Also plz add a link to yang model for same config. Thx.

[2022-07-14 16:16] prsunny commented on #10604
@volodymyrsamotiy working on the fix and verify if there is a feature gap.

[2022-07-15 01:51] vivekrnv opened #11455 "[202012] [DHCP_RELAY] [IPv6] Inconsistent CLI usage for add/del/show of dhcpv6_server addresses"
#### Description

Currently, this is how dhcpv6 address are configured for different branches
​
For IPv4 this cli would work for all branches:  `config vlan dhcp_relay add <vlan_id> <dhcp_relay_destination_ip>`

For IPv6:

for the latest 202012 config has to be manually added and do a "systemctl restart dhcp_relay.service" after adding the config

[code]

For the latest 202111 & 202205 This cli is

[2022-07-15 02:47] wayneee188 commented on #11352
I tried to modify the rules file of libnss-radius and the problem was solved. Is it correct to do so?

[code]

[2022-07-15 03:12] stephenxs commented on #11219
Also observed in 202205.

[2022-07-15 09:22] tapashdas commented on #11428
orchagent/vxlanorch.cpp#L2218
        if (!tunnel_obj->isActive())
        {
            ++ return false;
            -- tunnel_obj->createTunnel(MAP_T::VRID_TO_VNI, MAP_T::VNI_TO_VRID);
        }

As part of Vlan to VNI mapping,   createTunnelHw() will be called and isActive() will be set.
createTunnel() can be replaced with createTunnelHw().

[2022-07-15 15:14] dgsudharsan commented on #11428
Thanks. Can you please fix this flow and raise PR?

[2022-07-15 19:26] saksarav-nokia opened #11457 "Everflow mirror session is not active if the mirror destination is in remote asic & monitor_port is not always Ethernet-Rec port"
#### Description
1) If the destination IP of the everflow mirror is in the remote asic in the chassis,  orchagent never activates the mirror. When the nexthop is resolved, it calls the function updatenextHop->updateSession->getNeighborInfo.  In getNeighborInfo function, it takes the nexthop  and compares the ip address and alias of nexthop with neighbor entry.  But for remote nexthops, the alias s

[2022-07-15 22:05] prsunny commented on #10350
@volodymyrsamotiy , do you've a fix for this?

[2022-07-16 17:16] dgsudharsan commented on #11218
@adyeung @preetham-singh  Can you please share status on this issue?

[2022-07-17 19:58] prgeor commented on #11300
Please use the lastest master. Submodule is now updated.

[2022-07-17 19:58] #11300 closed

[2022-07-18 01:01] stephenxs commented on #11219
IMO the correct logic should be:
1.	Flexcounter to generate the queue maps when queue or watermark counter is enabled for the 1st time
2.	Flexcounter to generate PG maps when pg-drop or watermark counter is enabled for the 1st time.

[2022-07-18 02:31] congh-nvidia opened #11464 "[PortChannel][Error in log]: ERR teamd#teammgrd: :- addLagMember: Failed to add Ethernet0 to port channel PortChannel1111"
#### Description

An error message was observed in log when running a Nvidia internal test for port channel min member:
[code]
This was observed in our regression test and I failed to reproduce it. But @dgsudharsan has found the root cause.

#### Steps to reproduce the issue:
The steps in the test script(the test was running on a Nvidia 2700 platform):
1. sudo config portchannel add PortChannel111

[2022-07-18 09:02] liorghub opened #11472 "monit errors in the logs "ERR /memory_checker: Failed to retrieve the running container list from docker daemon""
#### Description
The following error appear in log during deinit flow:
ERR /memory_checker: Failed to retrieve the running container list from docker daemon! Error message is: 'Error while fetching server API version: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))'

#### Steps to reproduce the issue:
This is issue is not deterministic. It happens when Monit plugin memor

[2022-07-18 14:58] mlok-nokia opened #11473 "[chassis]After sonic-db-cli C++ implementation, database.sh fails to start database-chassis on Supervisor card"
#### Description
After sonic-db-cli C++ implementation,  database.sh fails to start database-chassis on the supervisor card. Before the new impelementation,  "sonic-db-cli  [database] PING" return "True".  After the implementation, it return "PONG".  This causes the database.sh  wait forever when it tries to PING the "CHASSIS_APP_DB" since the database.sh expects "True" instead of "PONG"

Before n

[2022-07-18 15:03] mlok-nokia commented on #11473
@prgeor @judyjoseph  This issue exists in the latest code. Please help to assign to the right person.