[2021-12-16 08:00] ganglyu opened #9556 "[yang-models] device_metadata validation issue"
#### Description

 'DEVICE_METADATA': {'localhost': {'bgp_asn': '65100',
                                   'cloudtype': None,
                                   'cluster': 'AAA00PrdStr00',
                                   'deployment_id': '1',
                                   'docker_routing_config_mode': 'separated',
                                   'hostname': 'switch-t0',

[2021-12-16 08:19] ganglyu opened #9557 "[yang-models] vlan validation issue"
#### Description

 'VLAN': {'Vlan1000': {'alias': 'ab1',
                       'dhcp_servers': ['192.0.0.1', '192.0.0.2'],
                       'vlanid': '1000'},
          'Vlan2000': {'alias': 'ab2',
                       'dhcp_servers': ['192.0.0.1', '192.0.0.2'],
                       'vlanid': '2000'},
          'Vlan2001': {'alias': 'ab3',
                       'dhcp_servers': ['192.0.

[2021-12-16 08:53] MaratGubaiev commented on #9242
Could you provide sysdump for this case?
(I will also try to investigate the code and reconstruct the issue conditions.)

[2021-12-16 08:57] ganglyu opened #9561 "[yang-models] vlan_interface validation issue"
#### Description

 'VLAN_INTERFACE': {'Vlan1000': {'grat_arp': 'enabled', 'proxy_arp': 'enabled'},
                    'Vlan1000|192.168.0.1/27': {}},

Config db schema generated by minigraph can’t pass yang validation:

* there's no 'grat_arp', 'proxy_arp' in yang model.

It seems that we need to update yang model or sonic-config-engine.

#### Steps to reproduce the issue:
1. Run command 'sonic-c

[2021-12-16 09:05] ganglyu opened #9563 "[yang-models] port validation issue"
#### Description

[code]
Config db schema generated by minigraph can’t pass yang validation:
[code]
It seems that we need to update yang model or sonic-config-engine.

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/simple-sample-graph-case.xml --print-data'.
2. Use sonic_yang to validate config db schema.

#### Describe the results you received:
Yang validation failed.

#

[2021-12-16 14:20] MaratGubaiev commented on #9532
Hi Divya,

I checked ACL during reboot and config reload:
Everything is working well.
<details><summary>My ACL configuration</summary>

[code]
</details>

`sudo ping 12.12.12.11` was used to check.

I checked SSH and SNMP too:
It is also impossible to connect during reboot if it's restricted by ACL rules.

Can you perform perform some tests to double-check my results?

notify @pshulik

[2021-12-16 16:16] dprital commented on #7989
Do we have an update on this issue ?

[2021-12-16 16:17] dprital commented on #7988
Hi, Do we have an update on this issue ?

[2021-12-16 16:17] dprital commented on #7943
Do we have an update on this issue ?

[2021-12-16 16:48] ppikh commented on #9101
Hi @kellyyeh

Why we need updated something in config_db.json?
We configure DHCP relay settings by CMD: "sudo config vlan dhcp_relay add".
And we can see DHCP relay setting by doing cmd: "show vlan brief"

[2021-12-16 17:58] praveen-li commented on #9550
@ganglyu

Hi, issues must be assigned to owner of field or feature. i.e. the person who added 'deployment_id' in config and backend code. Same for other issues, plz let me know if I am owner of any field :). Thx.

[2021-12-16 18:11] kellyyeh commented on #9101
Yes, that is the case for 202106 branch only, which uses isc-dhcp. For other branches, which uses SONiC dhcp6relay, they use DHCP_RELAY table in config_db.json for configuration.

[2021-12-16 19:07] praveen-li commented on #9478
@tw0byt3 lets have a quick call, sometime b/w 5-6 P.M or 9-10 P.M PST, We can discuss the code in question to help you debug it faster. It is generic python code and needed no expertise of networking feature as such. Thx.

[2021-12-16 20:13] praveen-li opened #9567 "Add config generated from build templates to sample_config_db.json at build time."
#### Description
Templates from below directory are used to add default configs in configDB.
https://github.com/Azure/sonic-buildimage/tree/master/files/build_templates.
This config fails config validation at run time against YANG models.

This issue is opened to catch such scenario at build time. If the auto generated config from build templates can be added to
https://github.com/Azure/sonic-buil

[2021-12-16 20:16] ayurkiv-nvda opened #9568 "[LAG] Inconsistence between error log and proper handling it (unable to get RID for VID)"
#### Description

Sometimes when port/LAG becomes removed "Flex counter" logic do checking in that moment and find out that there is no RID for VID.
We are trying to translate VID to RID and when it fails we throw Warning message.
This message does not have any functional impact, it just notifies the user that SONiC tried to poll counters for the port-channel which was removed

[code]

The flow is

[2021-12-16 23:54] qiluo-msft commented on #9490
Could you paste the "visible error" you met?

[2021-12-17 01:27] ganglyu commented on #9556
@theasianpianist
Could you check the new fields in device_metadata and add yang models for them?

[2021-12-17 01:30] ganglyu commented on #9561
@theasianpianist ,
Could you add these new fields to src/sonic-yang-models/yang-models/sonic-vlan.yang?

[2021-12-17 01:31] ganglyu commented on #9563
@theasianpianist
Could you help add the yang model for the new field “mux_cable” ?

[2021-12-17 01:58] dgsudharsan commented on #9478
@tw0byt3 Please remove Ethernet4 from your configuration if you have to breakout Ethernet0 4x.  In 2700 if you need to breakout the first or third port into 4x10G you need to disable the immediate port. Since DPB doesn't have an infra to handle this limitation, we can remove the port from config_db.json (Ethernet4) and perform breakout on Ethernet0.

eg
show interfaces  status
  Interface

[2021-12-17 02:07] ganglyu opened #9570 "[yang-models] vlan validation issue"
#### Description

 'VLAN': {'Vlan1000': {'alias': 'ab1',
                       'dhcp_servers': ['192.0.0.1', '192.0.0.2'],
                       'dhcpv6_servers': ['fc02:2000::1', 'fc02:2000::2'],
                       'mac': '00:aa:bb:cc:dd:ee',
                       'vlanid': '1000'},
          'Vlan2000': {'alias': 'ab2',
                       'dhcp_servers': ['192.0.0.1'],

[2021-12-17 02:20] ganglyu opened #9571 "[yang-models] syslog validation issue"
#### Description

 'SYSLOG_SERVER': {'': {}, '10.0.10.5': {}, '10.0.10.6': {}},

Config db schema generated by minigraph can’t pass yang validation:

* server address can't be empty

It seems that we need to update sonic-config-engine.

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/simple-sample-graph-case.xml --print-data'.
2. Use sonic_yang to validate config db schema

[2021-12-17 02:23] stephenxs opened #9572 "DHCP relay test test_dhcpv6_relay_counter failed in 202012 ci"
#### Description

#### Steps to reproduce the issue:
This is a failure observed in 202012 ci.

#### Describe the results you received:

The following error was observed in more than one pr

[code]

#### Describe the results you expected:

No error

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]
[sonic-buildimage.kvmtest.t0.log@1.zip](https://github.com/Azure/soni

[2021-12-17 02:37] ganglyu opened #9574 "[yang-models] device_metadata validation issue"
#### Description

 'DEVICE_METADATA': {'localhost': {'bgp_asn': '65100',
                                   'cloudtype': 'Public',
                                   'deployment_id': '1',
                                   'docker_routing_config_mode': 'separated',
                                   'downstream_subrole': 'downstream_subrole_y',
                                   'hostname': 'switc

[2021-12-17 03:06] ganglyu opened #9575 "[yang-models] device_metadata validation issue"
#### Description

 'DEVICE_METADATA': {'localhost': {'asic_name': 'Asic0',
                                   'bgp_asn': None,
                                   'cloudtype': 'Public',
                                   'deployment_id': '1',
                                   'docker_routing_config_mode': 'separated',
                                   'hostname': 'linecard-1',

[2021-12-17 03:14] stephenxs commented on #9572
This issue blocks PRs to 202012 branch, like #9531 #9562

[2021-12-17 03:15] ganglyu opened #9576 "[yang-models] device_metadata validation issue"
#### Description

'DEVICE_METADATA': {'localhost': {'asic_name': 'Asic0',
'bgp_asn': None,
'cloudtype': 'Public',
'deployment_id': '1',
'docker_routing_config_mode': 'separated',
'hostname': 'linecard-1',
'hwsku': 'Force10-S6000',
'max_cores': '16',
'region': 'usfoo',
'resource_type': 'resource_type_x',
'switch_id': '0',
'switch_type': 'voq',
'synchronous_mode': 'enable',
'type': 'ToRRouter'}},

C

[2021-12-17 04:15] yejianquan opened #9577 "[kvm image] portstat presents all 0 even though there're I/O traffics"
#### Description
In SONiC KVM image(sonic-vs.img), portstat presents all 0 even though there're I/O traffics
[code]

#### Steps to reproduce the issue:
1. Setup a KVM testbed on the dev machine and deploy minigraph(vms-kvm-t0)
2. Log on kvm DUT and run "portstat -c"
3. Make some traffics(like ping 10.0.0.57)
3. run "portstat"

#### Describe the results you received:
portstat presents all 0

#### D

[2021-12-17 04:42] mbze430 commented on #9478
wait are you saying if you breakout Ethernet0 to 4x25G[10G] you lose Ethernet4?  That can't be right?  On my Celestica DX010 I have Ethernet116-124 all broken out by 4x25G[10G] and it works fine manually when editing for the config_db.json just not automatically; using 'config interface breakout Ethernet0 4x10G[25G]'.

[2021-12-17 04:44] dgsudharsan commented on #9478
@mbze430  This is a specific limitation for Mellanox SN2700 platform.

[2021-12-17 04:47] mbze430 commented on #9478
@dgsudharsan Okay, so there is still a possibility that there is a script issue when using the breakout command

[2021-12-17 04:50] dgsudharsan commented on #9478
There are two issues.
First one is when using the MAC in upper case in device metadata. Work around is to change it to lower case.
Second is orchagent crash  @tw0byt3 mentioned. The issue happens because of a specific hardware limitation of Mellanox SN2700 for which I provided the solution.

Hope this helps.

[2021-12-17 04:55] mbze430 commented on #9478
I am personally not a programmer by trait, the part about MAC in upper case is that something I can do?  I can provide whatever information if needed to get this resolved, at least on the Celesitca Seastone DX010

[2021-12-17 05:03] dgsudharsan commented on #9478
@mbze430 In your system please check the file /etc/sonic/config_db.json
There will be section like below
"DEVICE_METADATA": {
"localhost": {
"hwsku": "ACS-MSN2700",
"platform": "x86_64-mlnx_msn2700-r0",
"mac": "1C:34:DA:9C:08:C0"
}

Modify the mac value from upper case to lower case (e.g for above "mac" : "1c:34:da:9c:08:c0"). Perform config reload or reboot the system.
Execute breakout command.
H

[2021-12-17 05:06] mbze430 commented on #9478
@dgsudharsan awesome, I will give that a whirl tomorrow morning.  I will report back

[2021-12-17 06:08] kellyyeh commented on #9572
Hi Stephen, this test is failing on 202012 branch because I missed cherry-picking PR https://github.com/Azure/sonic-buildimage/pull/9283 before I merged the test. Sorry about the inconvenience. Created the cherry-pick PR https://github.com/Azure/sonic-buildimage/pull/9578 and the fix should be in by tomorrow.

[2021-12-17 06:20] ganglyu opened #9579 "[yang-models] port validation issue, speed is mandatory"
#### Description

 'PORT': {'Ethernet0': {'alias': 'fortyGigE0/0',
                        'description': 'fortyGigE0/0',
                        'lanes': '29,30,31,32',
                        'mtu': '9100',
                        'pfc_asym': 'off',
                        'tpid': '0x8100'},
          'Ethernet100': {'admin_status': 'up',
                          'alias': 'fortyGigE0/100',

[2021-12-17 06:51] ganglyu opened #9580 "[yang-models] port validation issue"
# name          lanes                     alias       index speed     asic_port_name role
Ethernet13      1280,1281,1282,1283       Eth1/1/13   13    100000    Eth13-ASIC1  Ext
Ethernet14      1284,1285,1286,1287       Eth1/1/14   14    100000    Eth14-ASIC1  Ext
Ethernet16      1288,1289,1290,1291       Eth1/1/16   16    100000    Eth16-ASIC1  Ext
Ethernet17      1292,1293,1294,1295       Eth1/1/

[2021-12-17 07:11] ganglyu opened #9581 "[yang-models] vlan validation issue"
#### Description

[code]
Config db schema generated by minigraph can’t pass yang validation:

* there's no Vlan31 in 'VLAN' table.

It seems that we need to update sonic-config-engine or yang model.

#### Steps to reproduce the issue:
1. Run command 'sonic-cfggen -m tests/fg-ecmp-sample-minigraph.xml -p tests/mellanox-sample-port-config.ini --print-data'.
2. Use sonic_yang to validate config db sc

[2021-12-17 07:27] ganglyu commented on #9551
@pra-moh
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/minigraph.py#L1624-L1628
Yang model uses 'state' field, why do you add 'status' field?

[2021-12-17 07:34] ganglyu commented on #9570
@theasianpianist
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/simple-sample-graph-case.xml#L141
Why do you add 'mac' field? If it's necessary, could you please update sonic-vlan.yang?

[2021-12-17 07:41] mdivyamohan commented on #9532
I am testing on DVS (Docker Virtual Switch) environment.

I created one ACL table and ACL rule, attached to Ethernet4.
Admin state of Ethernet 4 is up.
[code]
Then I saved the configuration.

[code]

And restarted all processes - to simulate a device reboot.

[code]

Now observe the order of configuration from logs:
[code]
The port Ethernet4 is enabled first, before configuring the ACL rules.
i.e

[2021-12-17 07:42] ganglyu commented on #9574
@anish-n
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/simple-sample-graph-metadata.xml#L261-L265
If downstream_subrole is necessary, could you please update sonic-device_metadata.yang?

[2021-12-17 08:04] ganglyu commented on #9575
@mlorrillere @arlakshm
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/tests/sample-voq-graph.xml#L120-L139
If 'asic_name', 'switch_id', 'switch_type', 'max_cores' are necessary, could you please update sonic-device_metadata.yang?

[2021-12-17 08:16] tw0byt3 commented on #9478
@praveen-li Sure, we can schedule a call and work on it. You can reach out to me at  chintan.mistry@samespace.com for further discussions.

[2021-12-17 08:20] MaratGubaiev commented on #9532
Yes, I see.

I used "ping -f" in fact

Yes, I agree.

I will consider your information,
but I would be also helpful if demonstrate a successful DoS attack.

[2021-12-17 08:24] ganglyu commented on #9557
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/minigraph.py#L588-L589
'alias' is introduced by minigraph.py, and redis db does not have this field.

[2021-12-17 08:39] MaratGubaiev commented on #9242
I have found that the error message could be thrown from ※/src/snmpd/net-snmp-5.9+dfsg/agent/mibgroup/ip-mib/data_access/systemstats_sysctl.c:724

Also /proc/net/dev_snmp6/ is operated in ※/src/sonic-linux-kernel/linux-5.10.46/debian/build/source_rt/net/ipv6/proc.c ※/src/sonic-linux-kernel/linux-5.10.46/net/ipv6/proc.c ※/src/sonic-linux-kernel/linux-5.10.46/net/ipv6/addrconf.c

[2021-12-17 09:40] mdivyamohan commented on #9532
Practically, this would be difficult.

Theoretical example:
[code]

Here SONiC is used in a DUT which provides firewall protection for another Linux machine connected to it.  i.e DUT is switching traffic from external network to a Linux machine.
ACLs could be used on DUT to drop all TCP/UDP IP traffic, and allow traffic only with a trusted source IP.
When DUT restarts, it is possible that an attac

[2021-12-17 19:57] kellyyeh commented on #9572
@stephenxs The fix has been merged in 202012.

[2021-12-17 22:18] ghooo commented on #9294
Fixed by #9295

[2021-12-17 22:18] #9294 closed

[2021-12-17 22:30] SuvarnaMeenakshi commented on #7161
Fixed in https://github.com/Azure/sonic-buildimage/pull/7632

[2021-12-17 22:30] #7161 closed

[2021-12-18 01:23] stephenxs commented on #9572
Thank you Kelly. Now dhcp relay count test now passes. So close the issue.

[2021-12-18 01:23] #9572 closed

[2021-12-18 03:35] mbze430 commented on #9478
@dgsudharsan
turns out my config_db.json MAC address is already in lower case:
[code]
just for fun I made them UPPER CASE.  and did a config reload the result is still the same.  Either lower case or upper case it won't breakout the port

[2021-12-18 06:39] richardyu-ms commented on #9321
copy on that. @zhangyanzhao

I am not sure so about the status of docker docker-ptf-saithrift, i started my work from 202012 branch, and do not get touch with that docker, docker-ptf-saithrift.

For testing purpose, we use the docker-ptf directly, for sai related testing we are using and will use docker-saiserver as client and  docker-ptf as the testing server side.
@119064273 do you ever check th

[2021-12-18 08:42] zebracrowd commented on #9489
same issue here:
https://github.com/Azure/sonic-buildimage/issues/9187

[2021-12-19 09:32] dprital commented on #3008
@kcudnik  - Can you please refer to this question ? (Thanks in advance)

[2021-12-20 01:58] ganglyu opened #9591 "[yang-models] device_metadata validation issue"
#### Description

 'DEVICE_METADATA': {'localhost': {'asic_name': 'asic0',
                                   'bgp_asn': '65100',
                                   'cloudtype': None,
                                   'deployment_id': None,
                                   'docker_routing_config_mode': 'separated',
                                   'hostname': 'multi_npu_platform_01',

[2021-12-20 02:23] #9350 closed

[2021-12-20 04:42] #9524 closed

[2021-12-20 04:43] #8571 closed

[2021-12-20 04:43] #8394 closed

[2021-12-20 04:44] #8392 closed

[2021-12-20 05:43] ganglyu opened #9592 "[yang-models] device_metadata validation issue"
#### Description

 'DEVICE_METADATA': {'localhost': {'bgp_asn': '65100',
                                   'cloudtype': None,
                                   'deployment_id': None,
                                   'docker_routing_config_mode': 'separated',
                                   'hostname': 'multi_npu_platform_01',
                                   'hwsku': 'multi-npu-01',

[2021-12-20 07:17] Junchao-Mellanox opened #9595 "Port operational speed and configured speed share the same field in APPL DB PORT_TABLE"
#### Description

Now port operational speed and configured speed share the same field in APPL DB PORT_TABLE. This limitation brings a workaround for auto negotiation feature. See https://github.com/Azure/sonic-swss/pull/1769 for detail. This workaround brings an limitation that:

1. If user configures speed, interface type when auto negotiation is disabled, there is no way for user to show the co

[2021-12-20 10:56] abhiranjeet commented on #3673
Hi @adamx-xk
I replaced 4.8 with 4.9 in the dockerfile. But later on, it shows me this error :
`/usr/bin/gcc-4.8: not found (maybe gcc-4.8 is not installed?)`

I even went to 201811 branch (which does not have this problem). But while running `make target/sonic-broadcom.bin`  it builds a sonic Debian 9 image. I even tried to run it as `BLDENV=jessie make target/sonic-broadcom.bin` but it does not

[2021-12-20 11:36] #7800 closed

[2021-12-20 12:53] abhiranjeet commented on #9147
Hi,

I am facing this same issue. I made the change in dockerfile mentioned above. But the error still persists. Any suggestions ?

Thanks !

[2021-12-20 13:35] chitra-raghavan opened #9597 "[Z9332][202012]: "FLEX_COUNTER_TABLE" is missing from config_db.json after fast-reboot"
#### Description
"FLEX_COUNTER_TABLE" is missing from config_db.json after fast-reboot.
The Configs are added back to config_db.json after config save , Once the system settles down after few minutes ,

#### Steps to reproduce the issue:
1. Fast-reboot the device
2. Initially for few minutes , FLEX COUNTERS will not be present in the device.
3. check for FLEX_COUNTER_TABLE in conifg_db.json
4. Wai

[2021-12-20 16:56] #7958 closed

[2021-12-20 16:59] stepanblyschak opened #9598 "[init_cfg.json][YANG] The initial configuration /etc/sonic/init_cfg.json does not pass YANG validation"
#### Description

The ```init_cfg.json``` does not pass YANG validation due to:

[code]

#### Steps to reproduce the issue:

There is no user interface flow to reproduce it, but it is going to be ```sonic-package-manager``` (https://github.com/Azure/sonic-utilities/pull/1650). With https://github.com/Azure/sonic-utilities/pull/1650 the SONiC build will fail due to invalid ```init_cfg.json```.

Sim

[2021-12-20 17:00] stepanblyschak commented on #9598
Temporary W/A https://github.com/Azure/sonic-buildimage/pull/9587 to unblock https://github.com/Azure/sonic-utilities/pull/1650 which was reverted by https://github.com/Azure/sonic-utilities/pull/1972

[2021-12-20 19:15] #9490 closed

[2021-12-20 23:28] gechiang commented on #8031
It looks like it is fixed in 202012 branch.
@vaibhavhd if you see it again, feel free to reopen this issue.

Closing it...

[2021-12-20 23:28] #8031 closed

[2021-12-20 23:40] qiluo-msft commented on #9598
The issue seems from the hack of field in `FEATURE` table, `mux` entry's `state` field in `/etc/sonic/init_cfg.json`, contains a short json template.

Since the ground truth of `DualToR` is from minigraph parser, we should manipulate the `state` in that script. In Yang model, we could enforce that the mux enabled when `DualToR`, and disabled when not.

@lguohan Any thought?

[2021-12-21 01:14] #9550 closed

[2021-12-21 06:08] zhenggen-xu commented on #9478
@mbze430  Can you do breakout with verbose mode like `config interface breakout Ethernet0 4x10G[25G] -v` then attach the output and syslog.  It would be good to share the complete config_db.json file (you can get by `sonic-cfggen -d --print-data > config_db.json`) so we can see the difference since it worked for someone not the others.

[2021-12-21 07:29] vainiusd commented on #9439
Hi @mdivyamohan, I was searching for the pre-built images (especially the platform=vs one).
Jenkins lacks read permissions and when going directly to Azure Devope I also did not find anything. But links to the current build state in the [readme](https://github.com/Azure/sonic-buildimage) file of this repo lead to saved builds and there you can find the artifacts, assuming that the build succeeded.

[2021-12-21 08:04] lolyu opened #9605 "[dualtor] Enable kvm dualtor testbed"
#### Description
Goal: enable kvm dualtor testbed

#### Steps to reproduce the issue:
Current issues:
* platform daemons are not running on kvm(`xcvrd`)
* mux container is not started(disabled)

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem imp

[2021-12-21 10:45] aravindmani-1 opened #9606 "[DPB] DellEMC Z9332f Dynamic port breakout fails in verbose mode"
#### Description
In DellEMC Z9332f, breakout mode is working fine if verbose mode is not added.

#### Steps to reproduce the issue:
1. Do config interface breakout EthernetX <breakout_mode> -y -f -v
2. Observe the failure.

#### Describe the results you received:
**Without -v:**
    root@sonic:~# config interface breakout Ethernet0 1x400G -y -f

    Running Breakout Mode : 4x100G
    Target Breako

[2021-12-21 11:08] #9552 closed

[2021-12-22 00:48] anamehra opened #9610 "chassis-packet: ipv6 bgp update-source missing causing ibgp down"
#### Description

On a packet chassis T2 router, sometimes iBGP ipv6 session fails to come up after reload.

root@sfd-t2-lc1:/home/cisco# show ipv6 bgp su -d all
.
.
Neighbhor           V     AS    MsgRcvd    MsgSent    TblVer    InQ    OutQ  Up/Down    State/PfxRcd    NeighborName
----------------  ---  -----  ---------  ---------  --------  -----  ------  ---------  --------------  -------------

[2021-12-22 00:49] anamehra commented on #9610
Hi @abdosi , as discussed, raised this issue for iBGP v6. Thanks!

[2021-12-22 01:10] ganglyu opened #9611 "[yang-models] sonic-scheduler.yang pattern issue"
#### Description

In config_db.json, scheduler name is ‘sheduler.0’ or ‘scheduler.1’, and they can’t match the new pattern, https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-models/yang-models/sonic-scheduler.yang#L36

#### Steps to reproduce the issue:
1. Run apply-patch command to modify configuration.

#### Describe the results you received:
apply-patch command failed for sch

[2021-12-22 01:10] ganglyu commented on #9611
@AshokDaparthi

[2021-12-22 01:12] #9411 closed

[2021-12-22 03:10] AntheaJiang commented on #9147
You should put "RUN export GIT_SSL_NO_VERIFY=1" at the position like other "RUN xxx" sentence, not at the beginning of Docker,j2

[2021-12-22 05:23] #9555 closed

[2021-12-22 06:42] abhiranjeet commented on #9147
Yes, I added another line "RUN export GIT_SSL_NO_VERIFY=1", not at the beginning.

[2021-12-22 16:36] abhiranjeet opened #9620 "Error in building sonic-vs image"
#### Description

Tried building `sonic-vs.img.gz` image

#### Steps to reproduce the issue:
1. `make init`
2. `make configure PLATFORM=broadcom`
3. `make target/sonic-vs.img.gz`

#### Describe the results you received:
[code]

#### Describe the results you expected:
Expected the build to go through successfully

Any suggestions to why this might be happening ?

Thanks in advance !

[2021-12-22 20:41] qiluo-msft commented on #9553
The Step 1 needs `-p` parameter.
I checked below 2 command lines. All the ports have the lanes attribute.

[code]

[2021-12-22 21:09] ghooo opened #9623 "[yang-models] Verify 'lanes' are unique per entry in 'PORT' table"
#### Description
Verify 'lanes' are unique per PORT i.e. each PORT should different lanes, and a lane should not be used by 2.

Example:
[code]

In the above example lane `25` is in both `Ethernet0` and `Ethernet1`. This should be invalid.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[2021-12-22 21:17] ghooo opened #9624 "[yang-models] Create extension 'create-only'"
#### Description
'create-only' fields are currently hard-coded in `generic-config-updater` [here](https://github.com/Azure/sonic-utilities/blob/3b642c98fb1deeb16a62ff288dfc5e9a91c9676b/generic_config_updater/patch_sorter.py#L386)

Let's create a YANG extension.
[code]
Which will be used to mark fields with `create-only` flag, e.g. `lanes` in PORT table:
[code]

More details about the create-only e

[2021-12-22 22:13] ghooo opened #9625 "[yang-models] FEATURE yang-model is out-of-date"
#### Description
`FEATURE` yang model is out-of-date

#### Steps to reproduce the issue:
1. Startup a most recent KVM
2. run: `echo '[]' > nochanges.json-patch`
3. run: `sudo config apply-patch nochanges.json-patch`

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

####

[2021-12-22 22:15] ghooo opened #9626 "[yang-models] QUEUE yang-model is out-of-date"
#### Description
`FEATURE` yang model is out-of-date

#### Steps to reproduce the issue:
1. Startup a most recent KVM
2. run: `echo '[]' > nochanges.json-patch`
3. run: `sudo config apply-patch nochanges.json-patch -i /FEATURE`

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[2021-12-22 22:16] ghooo opened #9627 "[yang-models] SCHEDULER yang-model is out-of-date"
#### Description
`SCHEDULER` yang model is out-of-date

#### Steps to reproduce the issue:
1. Startup a most recent KVM
2. run: `echo '[]' > nochanges.json-patch`
3. run: `sudo config apply-patch nochanges.json-patch -i /FEATURE -i /QUEUE`

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]
#### Output of `show tec

[2021-12-22 23:03] alexrallen opened #9628 "[logs][interfaces-config] Logs show "main exception: cannot find interfaces: eth0""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:23] alexrallen opened #9629 "[logs][kdump] Logs show "kdump-tools[635]: failed!" on boot"
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:24] alexrallen opened #9630 "[logs][dhcp] Logs show "eth0: cannot use a string pattern on a bytes-like object""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:26] alexrallen opened #9631 "[logs][swss] Logs show "Failed to start dhcp_relay.service: Unit dhcp_relay.service is masked.""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:27] alexrallen opened #9632 "[logs][tunnelmgrd] Logs show "tunnelmgrd delete tunnel "tun0" failed: No such device""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:28] alexrallen opened #9633 "[logs][tunnel] Logs show "Could not get tunnel addresses from config DB""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:

`tunnel_packet_handler` repeatedly crashes and restarts due to this.

[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:30] alexrallen opened #9634 "[logs][swss] Logs show "cannot stat /proc/sys/net/mpls/conf/Ethernet0/input""
#### Description
Receiving error log during switch boot.

#### Steps to reproduce the issue:
1. Install SONiC latest master via ONIE
2. Boot switch and check log

#### Describe the results you received:

This error is shown for all port interfaces during the port initialization.

[code]

#### Describe the results you expected:
No error log.

#### Output of `show version`:
[code]

[2021-12-23 01:56] ganglyu commented on #9625
Duplicate with https://github.com/Azure/sonic-buildimage/issues/9551

[2021-12-23 01:56] #9625 closed

[2021-12-23 01:58] ganglyu commented on #9627
Duplicate #9611

[2021-12-23 01:58] #9627 closed

[2021-12-23 02:01] ganglyu commented on #9626
Duplicate with #9611

[2021-12-23 02:01] #9626 closed

[2021-12-23 02:03] #9571 closed

[2021-12-23 03:32] qiluo-msft commented on #9623
Try to understand the impact, is it a blocking issue?

[2021-12-23 03:37] ganglyu commented on #9623
it's a reasonable requirement, 'lanes' should unique.
Need to compare each member of PORT_LIST, seems like a difficult one.

[2021-12-23 04:29] wen587 opened #9638 "[yang-models] missing ACCEPT in sonic-types.yang which used in ACL"
#### Description
packet_action enumeration missing `ACCEPT`, which is used in ACL control plane.
sonic-acl.yang
[code]
sonic-types.yang
[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important

[2021-12-23 11:09] mdivyamohan commented on #9546
Are you using debug images?

Check section "Build debug dockers and debug SONiC installer image:" from this link https://github.com/Azure/sonic-buildimage/blob/master/README.buildsystem.md

[2021-12-23 15:06] mykolaxgerasymenko opened #9643 "config-setup factory failed to parse platform.json"
#### Description
If the platform.json file includes some fields with a boolean type value, an error occurred while parsing platform.json during `config-setup factory`.

#### Steps to reproduce the issue:
1) Deploy SONiC image
2) Added to platform.json file to node psus one more field with boolean type "temperature": false.
For example:

[code]

3) Remove config_db.json file

`sudo rm -f /etc/sonic

[2021-12-23 16:21] msosyak commented on #9643
@qiluo-msft @samaity Have a look, Please

[2021-12-23 17:02] #7433 closed

[2021-12-27 03:41] mbze430 commented on #9478
Here are what you asked for, but I am not sure how to get the syslog

admin@dx010:~$ sudo config interface breakout Ethernet0 4x10G[25G] -v
Do you want to Breakout the port, continue? [y/N]: y
[ERROR] Target mode 4x10G[25G] is not available for the port Ethernet0
Aborted!

admin@dx010:~$ cat /etc/sonic/config_db.json
{
    "BREAKOUT_CFG": {
        "Ethernet0": {
            "brkout_mode": "1x100G

[2021-12-28 13:34] nazeerhussainf opened #9653 "Orchagent crash after performing port breakout of 400G into 4x100G[50G]"
#### Description
Dell Z9332F switch running SONiC.master.59513-dirty-20211216.193424 encounters orchagent crash while performing port breakout of multiple ports from 400G into 4x100G[50G]. Crash is seen when doing interface startup after port breakout.

#### Steps to reproduce the issue:
1.
[orchagent.1640713324.46.core.gz](https://github.com/Azure/sonic-buildimage/files/7784888/orchagent.16407133

[2021-12-29 22:21] bluecmd commented on #8212
https://github.com/Azure/sonic-buildimage/pull/9660 might fix this

[2021-12-29 23:48] bluecmd commented on #8212
Indeed, that fix is a step in the right direction - however it seems some code need to be py3-ified.

E.g. https://github.com/Azure/sonic-buildimage/blob/master/platform/broadcom/sonic-platform-modules-cel/services/platform_api/sonic_platform/__init__.py#L1 uses absolute imports but should be `from . import common`.

[2021-12-30 20:05] ghooo commented on #9623
@qiluo-msft not blocking for `generic-config-updater` as we have hard-coded a special validator for the lanes. It would be good if we can add it directly to yang validation instead.

[2021-12-31 05:14] TyagiShailesh commented on #9478
Hi Folks —

Any update on this?  We tried it on the latest 202106 Mellanox build but still no luck.

Kindly see the version info and the error below:

----
admin@r2:~$ show version

SONiC Software Version: SONiC.202106.62230-1aa225cd0
Distribution: Debian 10.11
Kernel: 4.19.0-12-2-amd64
Build commit: 1aa225cd0
Build date: Thu Dec 30 14:12:30 UTC 2021
Built by: AzDevOps@sonic-build-workers-0010XR

[2021-12-31 05:22] TyagiShailesh opened #9662 "NAT Issue | Max limit is reached for NAT entries, skipping adding the entry."
Hi there —

We are getting the following error during nat config.

--
admin@r2:~$ sudo config nat add static basic xx.xx.xx.20 10.10.10.20
Max limit is reached for NAT entries, skipping adding the entry.
admin@r2:~$

---
admin@r2:~$ show feature status
Feature         State            AutoRestart     SetOwner
--------------  ---------------  --------------  ----------
bgp             enabled

[2021-12-31 15:05] bluecmd commented on #5752
I've done some debugging on this. This error is because SONiC VRFs, and more specifically the `mgmt` VRF [does not add](https://github.com/Azure/sonic-buildimage/blob/b0f0d4e9636d171de98b44571a7d233074f0b707/files/image_config/interfaces/interfaces.j2#L11-L18) a IPv6 loopback address.

It seems that before kernel 4.20 it [was not possible](https://patchwork.ozlabs.org/project/netdev/patch/20180919

[2022-01-01 12:18] bluecmd commented on #5880
@tisteagle and I made a patch that enables rsyslog for VRF management, fixing this issue.

The intention is to submit a PR with the fix, but if somebody else needs it you can apply the following patch.

[code]

You can then manually add a `vrf` property to a syslog server in config_db, like this:
[code]

[2022-01-03 06:31] prgeor commented on #9606
@zhenggen-xu @praveen-li please help on this DPB issue

[2022-01-03 07:28] aravindmani-1 opened #9663 "[DPB] swss docker crashes when doing DPB in DellEMC Z9332f"
#### Description

- swss docker exits in DellEMC Z9332f platform when doing DPB from 1x100G(4) to 4x100G mode.

#### Steps to reproduce the issue:
1. Load latest master image.
2. Breakout the default 1x400G mode to 1x100G(4) and save the config
3. Breakout 1x100G(4) to 4x100G mode and observe swss docker exits.

#### Describe the results you received:
    -----Breakout mode available--------------

[2022-01-03 07:46] aravindmani-1 commented on #9663
Also, it is being mentioned that "None" field could be used in platform.json. Breakout CLI doesn't work when None is included.
https://github.com/Azure/SONiC/blob/master/doc/dynamic-port-breakout/sonic-dynamic-port-breakout-HLD.md

    root@sonic:~# show interface breakout
    {
        "Ethernet0": {
            "index": "1,1,1,1,1,1,1,1",
            "lanes": "33,34,35,36,37,38,39,40",

[2022-01-04 00:30] gechiang commented on #9597
@vaibhavhd Can you please help take a look at this issue raised by DELL?
It appears to be related to the fix you made in attempt to reduce the fast-reboot downtime...
(https://github.com/Azure/sonic-utilities/pull/1774)
The question is once the FLEX_COUNTER_TABLE is deleted from the CONFIG DB during fast-reboot, There seems to be missing the restore action after fast-reboot completes wher the FLEX

[2022-01-04 01:21] praveen-li commented on #9606
@aravindmani-1

Are we working on some Dev version of YANG models here. In which yang model below priority field is present?

sonic_yang(3):Yang Models Load failed:[priority,] message string
Yang Models Load failed
[priority,] message string

[2022-01-04 03:46] aravindmani-1 commented on #9606
@praveen-li Issue is seen in latest master image and the error pops up only when we use "-v" option.

[2022-01-04 09:43] hubblezzhu opened #9671 "Is there a way to shorten SONiC compile time?"
Hi, I am a newcomer who has just come into contact with SONiC, and I am doing some functional verification based on SONiC.
I found that it takes 4~5 hours to compile every time I make some little modifications.
So is there any way to shorten SONiC compile time?

Any help will be highly appreciated.

[2022-01-04 22:48] richmondstacey opened #9673 "wget docker-sonic-p4.gz returns 403 forbidden"
#### Description

The P4 Docker .gz artifact is missing? When trying to wget the "docker-sonic-p4.gz", it returns a 403 forbidden status.

[code]

Even with `--no-check-certificate`.

[code]

After looking into the forums, it looks like the artifact location has been moved, but there's nothing listed/available for P4 or PINS. Per this discussion: https://groups.google.com/g/sonicproject/c/nfom0YXa

[2022-01-05 05:16] dgsudharsan opened #9675 "[202012][snmpd] Snmpd ioctl 35123 returned -1 logs appear during config reload"
#### Description

When a scaled LAG configuration is added and config reload is performed snmpd emits below log before shutting down. 'Jan  2 21:35:03.621782 r-panther-13 ERR snmp#snmpd[21]: ioctl 35123 returned -1\n'

I believe it might be due to some race condition where interface is deleted but snmpd tries to access it.

This issue occurs very rarely and hard to reproduce.

#### Steps to reprod

[2022-01-05 06:30] ganglyu opened #9676 "[sonic-cfggen] Minigraph parser must generate port lanes and speed"
#### Description

Please refer to https://github.com/Azure/sonic-buildimage/issues/9553
Config db schema generated by minigraph can’t pass yang validation, PORT table does not have 'lanes' field.
We will add a new constraint for minigraph parser: if PORT table does not have 'lanes' field, minigraph parser will raise an exception.
When we invoke sonic-cfggen, must provide '-p' or '-S' for minigraph

[2022-01-05 10:03] ppikh commented on #9101
Hi @kellyyeh
We did configuration via CLI which is wrong for latest master/202012 images.
When we do configuration via config_db.json - DHCPv6 relay works

[code]
I think this issue can be closed.

[2022-01-05 10:03] #9101 closed

[2022-01-05 10:17] ppikh opened #9679 "[dhcpv6 relay] - DHCPv6 relay does not work after load json config with DHCPv6 relay configuration"
#### Description
DHCPv6 relay does not work after load json config with DHCPv6 relay configuration

**Topology used in test:**
DHCP client (enp66s0f0) -----access VLAN 690----- (Ethernet64) DUT (Ethernet60) ----- (enp67s0f1) DHCP server

DHCP server has IP: 6900::2/64 and can advertise IP for subnet 6900:1::/64

#### Steps to reproduce the issue:
1. Configure DUT
[code]
2. Check VLAN: show vlan br

[2022-01-05 14:22] richmondstacey commented on #9673
This looks related to https://github.com/Azure/SONiC/issues/906 in the main repo.

[2022-01-05 16:14] yxieca commented on #9679
Summary:
Newly added configuration is not picked up immediately. And dhcp relay docker restart doesn't pick it up either. A full config reload will pick it up.

@kellyyeh  is the configuration format correct? Do we need to add dhcp relay config to the vlan config instead of a separate configuration?

[2022-01-05 16:22] yxieca commented on #9675
Scaled LAG: many LAGs on the system, each LAG has 1 member to maximize the number of LAGs, in this test, all ports are in LAGs (# of LAG == # of physical ports).
Repro rate: 1 out of 10 retries.

[2022-01-05 16:26] yxieca commented on #9675
@dgsudharsan please check if SNMP and TEAMD are both SWSS service dependents and shutdown by SWSS service script. If so, please try shutdown SNMP first as you suggested.

[2022-01-05 16:30] #9673 closed

[2022-01-05 16:32] richmondstacey commented on #9673
There isn't a link for P4, however. I assume this is not supported anymore. And if so, the ask in 906 above is to get the wiki/docs updated.

[2022-01-05 16:33] yxieca commented on #9671
@hubblezzhu please try to use CACHE: https://github.com/Azure/sonic-buildimage/blob/master/Makefile.work#L39. It won't help your first build, but subsequent incremental build should be faster. And if you are changing a particular part, you can also only build the immediate target until your dev changes are done.

[2022-01-05 16:33] #9671 closed

[2022-01-05 16:41] yxieca commented on #9663
@zhenggen-xu can you get someone to help @aravindmani-1. It appears that in this particular case, because Ethernet0 is seemingly unchanged, so it was NOT removed in running configuration, as result, the new ports cannot be added.

Ports to be deleted :
 {
    "Ethernet0": "100000"
}
Ports to be added :
 {
    "Ethernet0": "100000",
    "Ethernet2": "100000",
    "Ethernet4": "100000",
    "Etherne

[2022-01-05 16:45] yxieca commented on #9662
@TyagiShailesh can you attach show techsupport? Did you configure nat prior to this command? The max limit reached might be a valid message.

[2022-01-05 16:46] yxieca commented on #9653
@zhenggen-xu please help.

[2022-01-05 16:49] zhangyanzhao commented on #9662
@adyeung Adam, would you please find someone from BRCM to take a look? Thanks.

[2022-01-05 16:53] yxieca commented on #9643
@msosyak can you elaborate what is the significance of step 2? In other words, if you execute step 1,3,4, will there be any issue?

Also, please attach show techsupport to the ticket.

[2022-01-05 16:58] yxieca commented on #9634
@alexrallen after system boots up, do these entries (e.g. /proc/sys/net/mpls/conf/Ethernet0/input) show up eventually or they are persistently missing?

[2022-01-05 17:29] kamalsahu0001 commented on #9028
@srj102 , @kishorekunal01 .. any update here ?

[2022-01-05 17:51] TACappleman commented on #9633
That script appears to be a new one (see https://github.com/Azure/sonic-buildimage/commit/7bd0a2ad11c96325cb69f5a463fa0d29cdaf134c#diff-0ce422261770900e0d7df3c6bbcf7fc7a625472773b2a505c66e2adedce86fc2). It looks like it tries to run even when no IPinIP tunnels are in use, and will exit in that case.

How often does it then restart?

[2022-01-05 18:03] TACappleman commented on #9634
This will happen if the "mpls_router" module isn't loaded. This will only cause a problem if you actually wish to enable MPLS on a router - otherwise it will just attempt to set that MPLS is disabled, which will cause this log but no other effect.

I don't know whether the mpls_router module should be loaded by default so that this doesn't cause a log, and so that if MPLS is actually needed the co

[2022-01-05 18:10] #9581 closed

[2022-01-05 18:27] #9557 closed

[2022-01-06 01:14] #9554 closed

[2022-01-06 02:15] AkhileshSamineni commented on #9662
@TyagiShailesh
There are 3 possibilities to see this message
1. We have reached the max limit 1024 entries.
2. NAT is not supported in this platform.
3. "COUNTERS_GLOBAL_NAT:Values" table is not created in COUNTERS_DB ==> It's an issue.

Please dump the below command and provide the output
sonic-db-cli COUNTERS_DB hgetall "COUNTERS_GLOBAL_NAT:Values"

[2022-01-06 05:42] TyagiShailesh commented on #9662
Hi Guys

Thanks for the note and response. I am copying @Chintan Mistry
***@***.***> from our team to assist you with the logs.

Best,
Shailesh

On Thu, Jan 6, 2022 at 7:45 AM Akhilesh Samineni ***@***.***>
wrote:

[2022-01-06 06:10] TyagiShailesh commented on #9662
Hi Team,

Please find the output of the mentioned command.

***@***.***:~# sonic-db-cli COUNTERS_DB hgetall "COUNTERS_GLOBAL_NAT:Values"
{'MAX_NAT_ENTRIES': '0', 'TCP_TIMEOUT': '86400', 'UDP_TIMEOUT': '300',
'TIMEOUT': '600'}

Regards,

On Thu, Jan 6, 2022 at 11:12 AM Shailesh Tyagi ***@***.***> wrote:

--
Chintan Mistry Technical Support Lead

***@***.***
India: 91 22 6201 8120
International: 164

[2022-01-06 06:17] AkhileshSamineni commented on #9662
@TyagiShailesh From the given output, 'MAX_NAT_ENTRIES': '0', means NAT is not supported on mentioned platform.
Have you seen NOTICE log in /var/log/syslog like this => "Failed to get the SNAT available entry count .." ??

[2022-01-06 06:28] TyagiShailesh commented on #9662
Yes we saw those errors in syslog. We also spoke to Nvidia/Mellanox team and they confirmed that they currently do not support NAT.

Thanks for the help.

[2022-01-06 06:28] #9662 closed

[2022-01-06 12:25] mykolaxgerasymenko commented on #9643
@yxieca Yes, you are right, if skip step 2 there will no issue.
But this step needed to add chassis configuration for example for PSU or something else. This additional information is needed because it is used for testing by some test-cases. For example, a test-case for test temperature:
https://github.com/Azure/sonic-mgmt/blob/8a47ab3de9fbbdea65689ef3f6d90c8ab1c0414a/tests/platform_tests/api/test

[2022-01-06 13:47] ppikh opened #9689 "[dhcpv6 relay] - DHCPv6 relay does not forward DHCP6_RelayForward message"
#### Description
DHCPv6 relay does not forward DHCP6_RelayForward message

**For example in case when topology is next:**
DHCP6 client ------ > DHCP6 Relay ------ > DHCP6 relay ------ > DHCP6 server

Message from client will be encapsulated into DHCP6_RelayForward  message by first DHCP6 relay and then it will not be forwarded by second DHCP6 relay
Scenario can be emulated using Scapy traffic gene

[2022-01-06 13:50] ppikh opened #9690 "[dhcpv6 relay] - DHCPv6 relay forwards request from client with malformed payload"
#### Description
DHCPv6 relay forwards request from client with malformed payload

**For example in case when topology is next:**
DHCP6 client ------ > DHCP6 relay ------ > DHCP6 server

Scenario can be emulated using Scapy traffic generator

**Connection in scenario is next:**
Ethernet116 - connected to enp130s0f0 which will send request message to DHCP6 relay
Ethernet120 - connected to enp131s0f

[2022-01-06 16:50] dprital commented on #8599
@AkhileshSamineni - Aby update on this issue ?

[2022-01-06 17:39] prgeor commented on #9663
++@praveen-li

[2022-01-06 18:09] zhangyanzhao commented on #9638
@wen587 can you please raise a PR to make the change for the YANG model and add one test case? Thanks.

[2022-01-06 18:16] zhangyanzhao commented on #9478
@praveen-li  will follow-up offline.

[2022-01-06 18:21] zhangyanzhao commented on #9606
syslog is required.

[2022-01-06 18:26] zhangyanzhao commented on #9663
@samaity can you please help to take a look? Thanks.

[2022-01-06 18:37] zhenggen-xu commented on #9663
This seems to be related to the optimization we did in https://github.com/Azure/sonic-utilities/blob/master/config/main.py#L3591.  we probably need improve the logic so that we not only check speed but also lanes for example.  @samaity

[2022-01-06 18:38] theasianpianist commented on #9556
@ganglyu I will add yang models for these, however for the 'cluster' and 'resource type' fields I am not the right person as I am not familiar with the expected values. Could you split these two out into separate issues and assign accordingly? Thanks.

[2022-01-06 18:51] zhangyanzhao commented on #9623
Add extension to custom validation. @praveen-li  will create an issue to track the extension enablement.

[2022-01-06 19:17] praveen-li opened #9692 "Support for custom validation in Python Lib for Yang (PLY)"
#### Description
New Feature: Support for custom validation in Python Lib for Yang (PLY)
Libyang support extensions, which can also be used to provide custom validation. Today CVL has custom validation support using custom_Validation extension. This TKT is to have similar support for PLY with extension say custom_validation_ply.

More Details:
<TODO>

#### Steps to reproduce the issue:
1. N/A: new

[2022-01-06 19:24] praveen-li commented on #9606
@aravindmani-1  Plz share syslog, I will have a look then we can jump on call, today (01/06) or tom eve.

[2022-01-06 19:59] kamalsahu0001 opened #9694 "Learned EVPN routes are getting disappeared after we advertise IMET route"
#### Description

#### Steps to reproduce the issue:
1. Configure BGP EVPN VxLAN with one L2VNI
2. Advertise the IMET route from other end
3. See that the learned routes disappear after advertising IMET routes

#### Output of `show version`:

SONiC Software Version: SONiC.202106.62436-dirty-20211231.160323
Distribution: Debian 10.11
Kernel: 4.19.0-12-2-amd64
Build commit: c4bc9933f
Build date: Fri

[2022-01-06 20:02] kamalsahu0001 commented on #9694
[sonic_dump_sonic_20220106_194626.tar.gz](https://github.com/Azure/sonic-buildimage/files/7824397/sonic_dump_sonic_20220106_194626.tar.gz)

[2022-01-07 02:04] ganglyu opened #9699 "[yang-models] device_metadata validation issue"
#### Description

'DEVICE_METADATA': {'localhost': {'bgp_asn': '65100',
'cloudtype': None,
'cluster': 'AAA00PrdStr00',
'deployment_id': '1',
'docker_routing_config_mode': 'separated',
'hostname': 'switch-t0',
'hwsku': 'Force10-S6000',
'peer_switch': 'switch2-t0',
'region': None,
'resource_type': 'Storage',
'storage_device': 'true',
'subtype': 'DualToR',
'synchronous_mode': 'enable',
'type': 'ToRRo

[2022-01-07 02:05] ganglyu commented on #9556
updated.

[2022-01-07 04:29] aravindmani-1 commented on #9606
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/7826385/syslog.txt)
@praveen-li Please find the requested syslog.

[2022-01-07 07:16] praveen-li commented on #9606
Issue is introduced by this PR\Commit.
https://github.com/Azure/sonic-buildimage/commit/4d07bbbec6b4826ae5383c08370cc07578d91dba

We are passing a List for syslog printing, which is not supported
https://github.com/Azure/sonic-buildimage/blame/master/src/sonic-yang-mgmt/sonic_yang_ext.py#L52

[code]

Try str(self.yangFiles), it should work. Thanks a lot

Thanks,

Regards
Praveen
__________________

[2022-01-07 07:42] aravindmani-1 commented on #9606
Thanks Praveen. It does resolves the issue when i used str(self.yangFiles).

[2022-01-07 22:16] renukamanavalan commented on #9699
@praveen-li , can you please look into this issue ?

[2022-01-08 02:07] samaity commented on #9663
@oleksandrivantsiv any idea? did you change anything in [sonic-utilities](https://github.com/Azure/sonic-utilities) repo regarding the recent changes done in [portconfig](https://github.com/Azure/sonic-buildimage/pull/9278) logic?

[2022-01-08 02:08] samaity commented on #9663
Just built the master image. Checking  if any recent changes in [portconfig](https://github.com/Azure/sonic-buildimage/pull/9278) logic have any effect on this error?  Will get back soon.

[2022-01-08 15:35] bluecmd opened #9708 "rsyslog tries to start before config file is generated"
#### Description

When starting a new VM based on `sonic-vs.img` from the 202111 branch I got a handful of `Failed to start System Logging Service.` errors in the boot log. The rsyslog service does start after a while, so this is more a cosmetic issue.

#### Steps to reproduce the issue:
1. Boot a clean `sonic-vs.img` in e.g. QEMU
2. Watch the boot log for failure messages

#### Describe the resul

[2022-01-10 00:25] stephenxs commented on #8722
Hi
can we close this bug as it has been resolved by Azure/sonic-swss#1987?

[2022-01-10 02:24] #9318 closed

[2022-01-10 05:10] dgsudharsan opened #9709 "Config reload with VNET and VxLAN tunnel configuration results in error in syslog "Cannot create vxlan Vxlan1""
#### Description

#### Steps to reproduce the issue:
1.  Add vxlan tunnel configuration (e.g. sudo config vxlan add tunnel1 1.1.1.1)
2. sonic-cfggen -a "{\"VNET\": {\"Vnet1\": {\"vxlan_tunnel\": \"tunnel1\",\"vni\": \"1\"}}}" --write-to-db
3. sudo config save -y
4.  sudo config reload -y

#### Describe the results you received:
Jan  6 21:07:10.858785 r-lionfish-16 WARNING swss#vxlanmgrd: :- doVxla

[2022-01-10 06:54] wen587 commented on #9638
@zhangyanzhao
Hi Yanzhao, Not sure how to add that. Could you assign to someone in yang team? I have one testcase from Generic Config Updater may help.

[code]

[2022-01-10 07:13] wen587 opened #9710 "[yang-models] sonic-system-aaa.yang missing key in aaa authentication"
#### Description
`apply-patch` to config aaa authentication failed due to some key in sonic-system-aaa.yang being unsupported.
Whereas `sudo config aaa authentication` to config has no problem.
[code]

#### Steps to reproduce the issue:
1. Add AAA authentication config by `apply-patch`
2. config action fails
3.

#### Describe the results you received:
[code]
[code]
[code]

#### Describe the result

[2022-01-10 07:22] wen587 opened #9711 "[yang-models] missing yang model for BGP_MONITORS"
#### Description
[Generic Config Updater](https://github.com/Azure/SONiC/blob/master/doc/config-generic-update-rollback/SONiC_Generic_Config_Update_and_Rollback_Design.md#91-unit-tests-for-apply-patch) has a test case about BGP listener which refers to the configDB table BGP_MONITORS

#### Steps to reproduce the issue:
1. `apply-patch` to add config for BGP_MONITORS
2. action fails
3.

#### Descri

[2022-01-10 09:29] wen587 opened #9713 "[yang-models] aaa login should verify valid input"
#### Description
Invalid AAA login value should fail to apply from yang verification.
Same input is restricted from CLI `sudo config aaa`

#### Steps to reproduce the issue:
1. `apply-patch` invalid input to configDB
2. action succeed
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
localllll is not valid input and should not pass yang validation.
[code]

[2022-01-10 10:05] kellyyeh commented on #9689
@yxieca Dhcp6relay does not support relaying relayed packets as discussed in HLD. Do we want to add this feature?

[2022-01-10 11:12] nazariig opened #9714 "[202012][teamd]: segmentation fault is observed during LAG members scale"
#### Description

**Backtrace:**
[code]

Very likely that segmentation fault caused by some internal race condition in teamd (`ifinfo = 0x30`), and triggered by kernel which failed to allocate a memory for options/port change event via netlink (`err -105`, no buffer space available)

**Code:**
[code]

**GDB:**
[code]

Seems that `tdport->team_port->ifinfo` points to invalid memory address, which c

[2022-01-10 15:11] YanChii opened #9716 "SONiC unusable on EdgeCore AS7726"
#### Description

After fresh install using ONIE, the system is practically unusable. A lot of commands gives errors.
[code]
This is same as https://github.com/Azure/sonic-buildimage/issues/8506:
[code]
[code]

The problem is even worse on the latest master because the master version doesn't recognize interfaces.
[code]

#### Steps to reproduce the issue:
1. Clean install from ONIE

#### Describe

[2022-01-10 16:22] kcudnik commented on #3008
im referring to official redis server package, please refer here: https://github.com/redis/redis/pull/9449

[2022-01-10 17:19] praveen-li commented on #9638
@wen587 Can we meet for 15-30 min to discuss this. I can help you to resolve this and raise the PR yourself. This way in future, It will be easy to resolve such issues. Thx. I am in PST timezone, kindly suggest a appropriate time. Thx.

[2022-01-10 17:25] praveen-li commented on #9699
@ganglyu   Kindly follow this PR https://github.com/Azure/sonic-buildimage/pull/6464.
This way you can add 'cluster' field by yourself and also can add tests.
Kindly let me know if any issues in understanding this, we can have a quick call b/w 5-6 PM PST anyday.

[2022-01-10 20:24] #9561 closed

[2022-01-10 20:24] #9563 closed

[2022-01-10 20:24] #9570 closed

[2022-01-10 20:57] mlok-nokia opened #9719 "[chassis][pmon]chassis_db_init process shown as FATAL state in the PMON"
#### Description
In the VOQ chassis, process chassis_db_init shown as FATAL state in the PMON.

#### Steps to reproduce the issue:
1. On the VOQ chassis (ether linecard or supervisor card), execute the supervisorctl status command in PMON docker.
[code]

#### Describe the results you received:
[code]
#### Describe the results you expected:
The expected result should be:
[code]

#### Output of `sho

[2022-01-10 22:39] kellyyeh commented on #9679
@yxieca The configuration format is correct. We want dhcp6relay configuration in DHCP_RELAY, configuration in VLAN config will not be picked up by dhcp6relay.

[2022-01-10 22:41] kellyyeh commented on #9679
@ppikh You can use command "show dhcprelay_helper ipv6" to check if dhcpv6 server ip are added to dhcp6relay configuration. Restarting dhcp relay service is needed after changing dhcp6relay configuration.

[2022-01-11 03:09] wen587 commented on #9638
@praveen-li  Hi Praveen, I have meeting this Tuesday and Wednesday. Can we schedule at Thursday PST time 5:00PM PST?

[2022-01-11 03:37] guking3 opened #9725 "NTP support for management VRF, show information “cgroup change of group failed” when using “cgexec -g l3mdev:mgmt ntpq -p”"
#### Steps to reproduce the issue:
1. config vrf add mgmt
2. enable ntp
3. show ntpq -p

#### Describe the results you received:
root@sonic:/var/log#  cgexec -g l3mdev:mgmt ntpq -p
cgroup change of group failed

#### Describe the results you expected:
ntpq -p message

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (

[2022-01-11 03:43] bsun-sudo commented on #9725
Are you using a Buster image?. If so, could you please try either "ip vrf exec mgmt ntpq -p " or "show ntp" (which checks version and uses either "ip vrf exec mgmt ntpq -p -n" or "cgexec -g l3mdev:mgmt ntpq -p".

[2022-01-11 04:20] praveen-li commented on #9638
Sure, Thurday 5 PM PST is good.

Thanks,

Regards
Praveen
________________________________
From: jingwenxie ***@***.***>
Sent: Monday, January 10, 2022 7:09 PM
To: Azure/sonic-buildimage ***@***.***>
Cc: Praveen Chaudhary ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/sonic-buildimage] [yang-models] missing ACCEPT in sonic-types.yang which used in ACL (Issue #9638)

@praveen-li<https://nam

[2022-01-11 06:00] guking3 commented on #9725
@bsun-sudo,Thanks for your reply, information as belove:
root@sonic:~# ip vrf exec mgmt ntpq -p
     remote           refid      st t when poll reach   delay   offset  jitter
==============================================================================
*172.17.0.114 (b                2 u    1   64    1    0.257  -344.69   0.250
root@sonic:~#
root@sonic:~# ip vrf exec mgmt ntpq -p -n
     remote

[2022-01-11 07:20] bsun-sudo commented on #9725
@guking3 from the output, seems you are indeed running a SONiC image with Debian buster. "cgcreate -g l3mdev:mgmt" is no longer needed, so "cgexec -g l3mdev:mgmt" doesn't work anymore. Please use "ip vrf exec" instead.

[2022-01-11 09:59] dinosn commented on #9090
I run the arista setup, reboot , copied the files from the DCS-7050QX-32S path, same case

[2022-01-11 13:31] Staphylo commented on #9090
It's an issue on the DPB config for the DCS-7050QX-32S product.
We'll look into fixing it.
Issue also tracked here https://github.com/aristanetworks/sonic/issues/35

[2022-01-11 14:25] uraghura opened #9732 "[Build] [201911] sonic-mgmt-framework build failure"
#### Description

#### Steps to reproduce the issue:
1. make init
2. make configure PLATFORM=xxx
3. make target/sonic-xxx.bin

#### Describe the results you received:
Build is failing with the below error

make[3]: Leaving directory '/sonic/src/sonic-mgmt-framework/src/cvl/testdata/schema'
make -C src/translib
make[3]: Entering directory '/sonic/src/sonic-mgmt-framework/src/translib'
cd ocbinds &&

[2022-01-11 19:05] sacnaik opened #9733 "Syslog error for Unexpected running containers: gbsyncd"
#### Description
During bootup sonic syslog throw following container check errors

Error message - 'container_checker' status failed (4) -- Unexpected running containers: gbsyncd

The SONiC monit service looks up FEATURE table from CONFIG DB and actual running container service to match all the expected containers are up and running.  Since gbsyncd feature is not added in the FEATURE table, monit

[2022-01-11 19:07] sacnaik commented on #9733
Ze.Gan@microsoft.com knows about the issue. He said he will look into it and provide common solution for all gbsyncd based platform

[2022-01-11 21:41] gechiang commented on #9597
@chitra-raghavan  We have a question in regard to the PFC, PFCWD issue that you observed.

- Is the PFC, PFCWD not functioning after fast-reboot a permanent issue after fast-reboot if no one performs "config save -y"?

[2022-01-12 01:14] #9725 closed

[2022-01-12 01:45] qiluo-msft opened #9739 ""DEVICE_METADATA" - "bgp_asn" support"
My understanding of currently SONiC behaviors:
1. supporting missing "DEVICE_METADATA" - "bgp_asn"
   - The case appears in https://github.com/Azure/SONiC/wiki/L2-Switch-mode
   - /etc/frr/bgpd.conf will have a `router bgp` line, which is not valid
2. supporting "DEVICE_METADATA" - "bgp_asn" with a value "None"
   - The case appears if /etc/sonic/minigraph.xml miss <DeviceMiniGraph> <CpgDec> <Rout

[2022-01-12 01:45] qiluo-msft commented on #9739
@arlakshm @shi-su Could you help check?

[2022-01-12 03:32] chitra-raghavan commented on #9597
@gechiang ,  PFCWD functions after few minutes  when flex counters get initiated.
only intermediate time  between Ports coming up and flex counters getting initiated , PFCWD doesnt work.

The configs are  written back to config_db.json in /etc/sonic/ only after config save -y.

[2022-01-12 04:23] gechiang commented on #9597
@chitra-raghavan I have discussed with @vaibhavhd about this and the changes that he made was needed to reduce the fast-reboot down time.  The problem you observed is in-line with what was expected.  For post 202012 and master image a more "complete" solution is in place, so we do not expect to see what you observed here in 202012.
We understand this has an impact to PFCWD during this window and w

[2022-01-12 07:25] #9576 closed

[2022-01-12 08:06] mdivyamohan opened #9741 "Unable to fetch sonic-slave-stretch"
Hi,

When executing "make configure PLATFORM=broadcom" either on master or 202012 branch, I am getting below error.

Is there any configuration that is needed to be applied to compilation host to resolve this issue?

[code]

[2022-01-12 08:30] wen587 opened #9742 "[yang-models] POLICER table missing"
#### Description
POLICER yang is needed. It is used to set rate limit for mirror-session

#### Steps to reproduce the issue:
1. Sample configDB table about policer.
[code]
2. `apply-patch` to add policer
[code]
3.

#### Describe the results you received:
Action failed.

#### Describe the results you expected:
Yang model should provide verification.

#### Output of `show version`:

[code]
#### Outp

[2022-01-12 08:34] wen587 opened #9743 "[yang-models] sonic-mirror-session.yang miss policer leaf"
#### Description
sonic-mirror-session.yang doesn't support policer where it is needed for rate limit

#### Steps to reproduce the issue:
1. Sample mirror session config contains policer.
[code]
2.
3.

#### Describe the results you received:

#### Describe the results you expected:
We need to add Yang model for policer first then add the leaf for sonic-mirror-session.yang.

#### Output of `show ver

[2022-01-12 08:35] wen587 commented on #9743
POLICER yang missing should be solved first to fix above issue.
https://github.com/Azure/sonic-buildimage/issues/9742

[2022-01-12 08:58] prgeor commented on #9595
Option 1 looks fine. can we capture this change in some doc?

[2022-01-12 10:00] wen587 opened #9746 "[yang] validating TACPLUS with empty “global” fails, while non-empty “global” does not fail"
#### Description
yang validation fail when `global` is empty, but it succeeds when nonempty.

_Background of tacacs table._
In t0 topo, tacacs has default value while configDB doesn't contain those table.
After sudo config tacacs value, its table will appear in configDB.
Then the table will contains empty value after set back to default.

#### Steps to reproduce the issue:
1. config tacacs and let

[2022-01-12 10:25] chitra-raghavan commented on #9597
@gechiang , if this expected issue , we can close this issue.

[2022-01-12 10:25] #9597 closed

[2022-01-12 18:23] #9710 closed

[2022-01-12 22:40] #8779 closed

[2022-01-12 22:49] netmanyys opened #9749 "sonic-vs.img"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2022-01-13 02:13] #9556 closed

[2022-01-13 06:19] ganglyu commented on #9711
https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-config-engine/minigraph.py#L823

Please refer to above line, name should be 'BGPmonitor'

[2022-01-13 17:15] abhiranjeet opened #9758 "Not able to fetch platform related details on AS7712-32X through CLI"
#### Description
`show platform` commands are not working properly to check status of hardware components on AS7712-32X switch

#### Steps to reproduce the issue:
1. `SONIC_USE_PDDF_FRAMEWORK = n` in rules/config file
2. `make init`
2. `make configure PLATFORM=broadcom`
3. `make target/sonic-broadcom.bin`
4. Installed resulting sonic-broadcom.bin image on AS7712-32X switch
5. `show platform fan`
6

[2022-01-13 18:10] zhangyanzhao commented on #9478
Target to have an update next week

[2022-01-13 18:12] mbze430 commented on #9478
that would be great.  looking forward to it.  Will it be going into only the master or it will fall on the older branches?
    On Thursday, January 13, 2022, 12:11:02 PM CST, Yanzhao Zhang ***@***.***> wrote:

Target to have an update next week

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving

[2022-01-13 18:13] zhangyanzhao commented on #9606
@aravindmani-1  can you please raise a PR with the suggested solution, link it to this issue and close this issue? Thanks.

[2022-01-13 18:22] zhangyanzhao commented on #9611
@venkatmahalingam will help to check with Dell team to update scheduler YANG mode to support scheduler.0/.1 value.

[2022-01-13 18:24] zhangyanzhao commented on #9623
#9692 is the issue for the extension enablement.

[2022-01-13 18:30] zhangyanzhao commented on #9746
@ArthiSivanantham can you please help to take a look at this issue? Venkat will follow-up with you. Thanks.

[2022-01-13 18:43] zhangyanzhao commented on #6025
@venkatmahalingam will summarize the request. Thanks.

[2022-01-13 19:34] jon-nokia opened #9759 "broadcom-dnx: warning message, "image you're trying to install is of a different ASIC type""
#### Description
Warning message during sonic-installer or onie-nos-install, “The image you're trying to install is of a different ASIC type as the running platform's ASIC.  Do you still wish to install this image? [y/n]”

Root Cause:
Recall when building an image with PLATFORM=broadcom, two images are built
 - sonic-broadcom.bin
 - sonic-broadcom-dnx.bin

device/**/platform_asic files indicate wh

[2022-01-14 01:23] praveen-li commented on #9638
1.) Add an ACCEPT entry here.
    typedef packet_action{
        type enumeration {
            enum DROP;
            enum ACCEPT;   <<<<<<<<<<
            enum FORWARD;
            enum REDIRECT;
            enum DO_NOT_NAT;
        }
    }

2.)https://datatracker.ietf.org/doc/html/rfc7951  To know JSON to yang encoding.

3.) Add the test case:

3a.) Add a json entry for test in acl.json file [h

[2022-01-14 06:08] wally-wang-accton commented on #9758
You can try the below PR to support API 2.0.
https://github.com/Azure/sonic-buildimage/pull/8617

[2022-01-14 09:51] sif7en opened #9765 "Insufficient sonic_platform support for as7315_27xb - no module named sonic_platform"
Hi,

#### Description

I have a problem with missing module sonic_platform
Consenquently we  have a dropp of watchdog-control and swss services

Swss or switch stateservice is keep dropping because of control-watchdog service claiming it can't import sonic-platform:

-- Logs begin at Fri 2022-01-14 10:18:00 UTC, end at Fri 2022-01-14 10:48:37 UTC. --
Jan 14 10:18:26 sonic systemd[1]: Started watch

[2022-01-14 17:17] tjchadaga opened #9767 "[202012] warm-reboot from 201811 to 202012 with one LAG down results in recreation of multiple LAG_MEMBER objects during APPLY_VIEW"
#### Description

Issue was seen when warm-reboot was done on a system with 4 LAGs, where one LAG is admin down before warm-reboot. After warm-reboot, it is seen that  along with the LAG_MEMBER that is down,  two or three other LAG_MEMBER objects get removed and created during APPLY_VIEW. This also results in recreation of other objects dependent on these LAG_MEMBER objects like ROUTER_INTERFACE -

[2022-01-14 17:42] vaibhavhd commented on #9767
Attaching logs from KVM - this contains INFO level logs, SAIdump (on 201811, 202012) and techsupport:

[logs-lagdown-upgrade.zip](https://github.com/Azure/sonic-buildimage/files/7872208/logs-lagdown-upgrade.zip)

In this example, `PortChannel102` was shutdown on DUT running 201811 image, and then warmboot to 202012 was done.
[code]

[2022-01-14 18:25] judyjoseph commented on #9759
@qiluo-msft, as a fix to this issue, can we use the $TARGET_MACHINE instead of $CONFIGURED_PLATFORM ? https://github.com/Azure/sonic-buildimage/blob/ca36b4a57b1e0c027d32527894163e60716aa5dd/build_image.sh#L100

[2022-01-14 21:20] qiluo-msft commented on #9759
@wen587 Could you please check this issue?

[2022-01-15 04:29] OTaoZh opened #9768 "Build sonic-slave-stretch image failed"
+++ Cheking platform/p4 +++
+++ Making configure +++
BLDENV=stretch make -f Makefile.work configure
make[1]: Entering directory '/home/sonic/ws/sonic-buildimage'
~/ws/sonic-buildimage/src/sonic-build-hooks ~/ws/sonic-buildimage
make[2]: Entering directory '/home/sonic/ws/sonic-buildimage/src/sonic-build-hooks'
dpkg-deb: building package 'sonic-build-hooks' in 'buildinfo/sonic-build-hooks_1.0_all.d

[2022-01-16 02:06] #9090 closed

[2022-01-16 13:14] aseaudi opened #9771 "Vxlan traffic dropped by default SONIC Drop Rule"
#### Description

I created a P2P Vxlan tunnel between 2 sonic switches using the Loopback interfaces as SRC and DST, but it didn't work.

I found out it was because Sonic by default creates iptables rule to DROP INPUT traffic for Loopbacks.

I added a specific allow rule to ACCEPT INPUT DST UDP port 4789, then vxlan traffic worked.

Why does Sonic add those DROP rules ?

#### Steps to reproduce t

[2022-01-16 22:25] bluecmd commented on #9771
Note: From discussion on the mailing list, this happens on sonic-vs - not physical hardware. Likely because the VXLAN tunnel is emulated and hits the control plane ACLs.

[2022-01-17 02:58] aussieserverhosts commented on #9478
Confirmed also affecting Celestica DX010 on the latest build on the 202106 branch.

[2022-01-17 06:32] wen587 commented on #9759
@jon-nokia Hi could you please share your `show version`

[2022-01-18 11:13] prgeor commented on #9505
this issue has now been fixed. closing.

[2022-01-18 11:13] #9505 closed

[2022-01-18 18:38] alexrallen commented on #9633
We see it a few times (~4-5) during boot @TACappleman

[2022-01-18 20:29] liat-grozovik commented on #9689
This was part of the implementation provided in 202106. ANy reason why not to align the behaviour to what was ?

[2022-01-18 21:18] ppikh commented on #9679
Hi @kellyyeh
Command "show dhcprelay_helper ipv6" shows that DHCP servers IPs are added to DHCP relay configuration. But if restart dhcp relay server - dhcp relay still does not work.
Which command should we use for restart dhcp relay service without "config reload -y"?

[2022-01-18 21:58] kellyyeh commented on #9679
Hi @ppikh "config reload -y" is required to change configuration for dhcp6relay. We will add implementation to allow in time config change for dhcp6relay in the near future.

[2022-01-19 03:11] vivekreddynv commented on #9675
[code]

Hi @yxieca,

SNMPD & TEAMD are both SWSS dependent services and from the logs it is clear that stop jobs for teamd and snmp are running concurrently and once both are finished, stop job for swss is started.  To start snmp before teamd, a explicit dependency on the teamd service has to be given for snmp. I can test doing this but the problem is, i couldn't repro this to actually verify if t

[2022-01-19 05:59] #9606 closed

[2022-01-19 06:25] qiluo-msft opened #9793 "BGP_NEIGHBOR and BGP_MONITORS tables should be unified."
This is a good question, and I believe it is large than the PR trying to solve, ie, add the missing yang model for BGP_MONITORS table, which is existing for long,.

This PR will help minigraph parser unit test improvement, which validate each minigraph generated ConfigDB by SONiC Yang model.

This PR will also unblock the generic config updater end-to-end test.

We can create an issue that BGP_NEI

[2022-01-19 07:41] ganglyu opened #9794 "Need YANG for BGP_PEER_RANGE table"
I think, we should add YANG for BGP_PEER_RANGE table as well, please check and create the PR for review.

_Originally posted by @venkatmahalingam in https://github.com/Azure/sonic-buildimage/pull/9752#discussion_r785263084_

[2022-01-19 08:27] hubblezzhu commented on #5752
meet same problem. is there any way to solve?

[2022-01-19 08:37] venkatmahalingam commented on #6025
Request: Get yang models from the yang-models dir to sonic-mgmt-common instead of duplicating a subset of them there

This is the long-term goal but currently, the plan is to keep separate YANG models in mgmt-framework as it provides additional capabilities that are tightly coupled with CVL i.e custom validation.

There is a plan to follow Guohan's proposal to templatize the YANG models but no ETA

[2022-01-19 08:39] venkatmahalingam commented on #9611
@AshokDaparthi Please take a look at this issue.

[2022-01-19 14:20] prgeor opened #9798 "[yang-model] DPB configuration fails due to missing yang model"
#### Description

While configuring 1x100G breakout the DPB configuration fails complaining missing yang model

[code]

#### Steps to reproduce the issue:
1. root@sonic:~# config interface breakout -y Ethernet96 "1x100G(4)"
2.
3.

#### Describe the results you received:

#### Describe the results you expected:
DPB configuration should not fail

#### Output of `show version`:
[code]
#### Output of

[2022-01-19 14:22] prgeor commented on #9798
@zhangyanzhao @praveen-li please check this latest failure seen during DPB configuration.

[2022-01-19 15:59] TACappleman commented on #9634
@prsunny this is code in sonic-swss (intfmgr) that gets called whenever INTERFACE config exists (even if MPLS is disabled), and will always cause this log if the mpls_router module isn't loaded. If someone actually wants to enable MPLS that will then fail.

Should the mpls_router module be loaded by default in SONiC, and if so where is that done?

[2022-01-19 16:07] #119 closed

[2022-01-19 16:10] zhangyanzhao commented on #7989
@rupesh-k can you please help to provide an update? Thanks.

[2022-01-19 16:10] zhangyanzhao commented on #7988
@rupesh-k can you please help to provide an update? Thanks.

[2022-01-19 16:10] zhangyanzhao commented on #7943
@rupesh-k can you please help to provide an update? Thanks.

[2022-01-19 16:14] zhangyanzhao commented on #9242
Can not be reproduced after thousands of times retry. Nvidia will try more.

[2022-01-19 16:19] zhangyanzhao commented on #8959
@yozhao101 is working on this issue.

[2022-01-19 16:20] zhangyanzhao commented on #8599
Need help from BRCM.

[2022-01-19 16:21] zhangyanzhao commented on #8606
@adyeung would you please help to check the status of this issue?

[2022-01-19 16:24] zhangyanzhao commented on #9768
@OTaoZh can you please organize the info with the issue template? Thanks.

[2022-01-19 16:31] zhangyanzhao commented on #9765
@wally-wang-accton

[2022-01-19 16:37] zhangyanzhao commented on #9732
Need BRCM to take a look

[2022-01-19 16:39] zhangyanzhao commented on #9716
@YanChii can you please create one issue for one exception? @wally-wang-accton

[2022-01-19 16:41] zhangyanzhao commented on #9709
Not regression

[2022-01-19 16:43] zhangyanzhao commented on #9714
@judyjoseph can you please check if this is a regression bug and update the label? Thanks.

[2022-01-19 16:48] zhangyanzhao commented on #9694
Need BRCM to take a look.

[2022-01-19 16:51] zhangyanzhao commented on #9689
Feature gap.

[2022-01-19 16:56] zhangyanzhao commented on #9633
Lawrence, please help to take a look. Thanks.

[2022-01-19 18:27] alexrallen opened #9800 "[yang] Scheduler Yang models do not support "scheduler.0" value"
When a scheduler is defined in the following way....

[code]

We see dynamic port breakout fail in the following manner...

[code]

 This is due to the following constraint defined by the scheduler yang model which is too restrictive

[code]

[2022-01-19 18:29] alexrallen opened #9801 "[yang] DPB fails when Dynamic Buffer is configured"
When we configure the following buffer profiles....

[code]

[2022-01-19 19:06] alexrallen opened #9802 "[lldp] LLDP does not have logic to gracefully handle port deletion"
#### Description

When we delete a port using dynamic port breakout lldp does not gracefully handle the port deletion.

This is likely due to the fact that in the lldpmgrd logic it attempts to lookup the alias and port name of a deleted port in Config DB, a request that we know will fail.

https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-lldp/lldpmgrd#L288

#### Steps to reprod

[2022-01-19 20:25] sujinmkang commented on #8926
@alexrallen I think it would be better to have readable fw_au_status but you can check update status using "fwutil show update status" to check the status(refer to https://github.com/Azure/SONiC/blob/master/doc/fwutil/fwutil.md)? can you use it for now to check the update status?

[2022-01-19 20:58] sujinmkang commented on #8928
@alexrallen originally it is designed to prevent from another fwutil all if there is already 'fwutil all' ran for a different reboot type.
But I agree to allow another 'fwutil all' for different reboot type if the first fwutil all call is for none.

[2022-01-19 22:41] qiluo-msft commented on #9643
I debug a little bit and find this line throw the error string. @samaity Could you please check?

https://github.com/Azure/sonic-buildimage/blob/bb3362760d01055d1c30cbda8ec3bf5ea4f5d7aa/src/sonic-config-engine/portconfig.py#L56

[code]

[2022-01-19 23:29] adyeung commented on #9732
@maheshwari-mayank: pls help take a look

[2022-01-19 23:38] adyeung commented on #9694
@hasan-brcm: pls help followup

[2022-01-19 23:54] adyeung commented on #8606
#8740 already merged. Pending UT on #1903 UT, Utpal will followup and update #1903

[2022-01-20 00:51] #9711 closed

[2022-01-20 00:51] #9551 closed

[2022-01-20 03:11] wally-wang-accton commented on #9765
Accton added this platform 2 years ago.  At that time, we think Broadcom may support BCM88470 (Qumran AX) in bcmsai later.
Unfortunately, bcmsai does not support it till now.  So, you can't execute SONiC on this AS7315-27XB.

[2022-01-20 08:05] sif7en commented on #9765
Do you have any plans to provide SONiC support for AS7315-27XB? Is there any roadmap available ?

[2022-01-20 08:17] wally-wang-accton commented on #9765
It needs to ask Broadcom, because bcmsai is released by them.

[2022-01-20 08:20] sif7en commented on #9765
Please do so, since my company is interested in purchasing the device in question.

[2022-01-20 08:24] prgeor commented on #9653
The OA crash log

[code]

[2022-01-20 08:25] wally-wang-accton commented on #9716
We don't test 202106, maybe you can try to remove
sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.postinst
sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.install
sonic-buildimage/platform/broadcom/sonic-platform-modules-accton/as7726-32x/service／pddf-platform-init.service
Then, add th

[2022-01-20 08:30] aravindmani-1 commented on #9653
[z9332f_dpb.zip](https://github.com/Azure/sonic-buildimage/files/7903497/z9332f_dpb.zip)

Just for information: after loading the image, you can replace platform.json under z9332f device dir and hwsku.json in DellEMC-Z9332f-O32 profile with the attached JSON config(z9332f_dpb.zip) to recreate the issue.

[2022-01-20 08:53] wen587 opened #9811 "[bgpcfgd] BGP_MONITOR holdtime and keepalive setting is not working"
#### Description
When load BGP_MONITOR config to configDB, the `holdtime` and `keepalive` setting is not taken into effect

#### Steps to reproduce the issue:
1. Find a t0 topo, then apply BGP_MONITOR setting to it
[code]
2. Check holdtime and keepalive which is not number from step1 patch.
[code]

3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
Expected

[2022-01-20 09:37] maheshwari-mayank commented on #9732
Which version of Golang used for compilation? We do not see any compilation failure with Go 1.14.1

[2022-01-20 10:55] wally-wang-accton commented on #9765
As I know, Broadcom does not have roadmap for Qumran SAI.  Maybe you can consider TD3 platforms, AS7326-56X or AS5835-54X.

[2022-01-20 12:39] raphaelt-nvidia commented on #7538
Waited 40 minutes after removing one interface from vlan.  Both entries still present in FDB table.

redis-cli -n 6 keys "*FDB*"
1) "FDB_TABLE|Vlan247:0c:42:a1:17:e7:1c"
2) "FDB_TABLE|Vlan247:0c:42:a1:17:e7:ac"

[2022-01-20 15:26] stephenxs opened #9817 "Cached counter file is not cleared during config reload, causing portstat give wrong counter values"
#### Description

#### Steps to reproduce the issue:
1. send some traffic to generate a non-zero counter value. let's say the amount of traffic is A.
The counter content is:
[code]
2. portstat -c to clear counter
3. config reload -y
4. send some traffic to generate a non-zero counter value. let's say the amount of traffic is B. B should be less than A
5. portstat
The content of admin user is like

[2022-01-20 15:28] stephenxs commented on #9817
This kind of cached files should be cleared during `config reload`.

[2022-01-20 16:04] raphaelt-nvidia commented on #7538
I believe this is one of the issues that were intended to be addressed by Broadcom's work on Layer 2 forwarding enhancements, with the following components:

Design doc:  https://github.com/Azure/SONiC/blob/master/doc/layer2-forwarding-enhancements/SONiC%20Layer%202%20Forwarding%20Enhancements%20HLD.md

Related PRs:

https://github.com/Azure/sonic-utilities/pull/529
This is closed and not merged,

[2022-01-20 17:05] zhenggen-xu commented on #9653
I see a few major potential  issues here:
- th3-z9332f-32x100G.config.bcm (or other bcm files for this platform) does not seem to have flex port enabled there, and when you breakout port with SAI APIs, the APIs will fail and cause orchagent crash.  So please enable the flex port in bcm file,  it could be one profile for all HWSKUs under this platform.
- I don't even sure if DPB is supported on TH3

[2022-01-20 17:19] dgsudharsan commented on #9802
@zhenggen-xu  @praveen-li  Can you please investigate?

[2022-01-20 18:08] zhangyanzhao commented on #9567
still working on, update next week.

[2022-01-20 18:13] zhangyanzhao commented on #9801
Need BUFFER_PORT_EGRESS_PROFILE YANG model owner to take a look. Viswanath will follow up.

[2022-01-20 18:15] zhangyanzhao commented on #9800
Venkat will follow up with Dell team.

[2022-01-20 18:26] zhangyanzhao commented on #9793
Low priority ask.

[2022-01-20 18:26] zhangyanzhao commented on #9746
Dell team is working on this.

[2022-01-20 18:26] qiluo-msft commented on #9794
This feature is not used in community.

[2022-01-20 18:29] zhangyanzhao commented on #9743
@rupesh-k can you please help to take a look? Thanks.

[2022-01-20 18:32] zhangyanzhao commented on #9713
fixed by 9805

[2022-01-20 18:39] zhangyanzhao commented on #9624
Need help from extension experter in the community.

[2022-01-20 19:27] praveen-li commented on #9802
Kindly share initial config and command used for breakout.
Seems like config_Db did not have the entry initially for a port and that port is added later by breakout. But lldrmgrd complains that port is not present in config db which is a local copy taken at start.

[2022-01-20 22:32] qiluo-msft commented on #9794
@ganglyu Is it a blocking issue? or low priority?

[2022-01-20 22:57] ganglyu commented on #9794
@venkatmahalingam is it blocking anyone?

[2022-01-20 23:22] venkatmahalingam commented on #9794
I dont think so, @dgsudharsan Please confirm.

[2022-01-21 03:11] #9638 closed

[2022-01-21 03:54] #9759 closed

[2022-01-21 09:59] ZhaohuiS opened #9823 "It shows RuntimeError when run"show acl rule""
#### Description

When run the command "show acl rule" it shows the following traceback, it happens on SONiC.20201231.49, it works well on
SONiC.20191130.80.

[code]
#### Steps to reproduce the issue:
1. Load SONiC.20201231.49 image
2. show acl rule

#### Describe the results you received:

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]
#### Output of `show

[2022-01-21 10:03] YanChii commented on #9716
Thanks for the reply.
@wally-wang-accton which version should I test then? I'll create issues for the version that makes sense for you.
Jan

[2022-01-21 10:21] ZhaohuiS opened #9824 "Some iptables rules can't be removed after "acl-loader delete" three cacl tables on multi asic testbed."
#### Description

Some iptables rules can't be removed after "acl-loader delete" three cacl tables on multi asic testbed.
Load scale cacl rules with json file on asic0, there are many corresponding iptables rules are created on asic0.
Clear cacl table with "acl-loader delete" command, there are some iptables rules can't be cleaned.

#### Steps to reproduce the issue:
1. Load multiple rules(50 rule

[2022-01-21 10:48] sif7en commented on #9765
We have in mind AS4630-54TE.

Regarding this device, please let me know if SONiC SDK is supported and if
we can install a custom app, like wireshark server for example ?

V V čet., 20. jan. 2022 ob 11:55 je oseba Wally Wang <
***@***.***> napisala:

[2022-01-21 12:26] bingwang-ms commented on #9261
This issue also caused the main loop in orchdaemon hangs for a long time, which result in entries in CONFIG_DB failed to be consumed.
So, almost all `config` command have no effect.

[2022-01-21 16:30] gechiang commented on #9261
@bingwang-ms and @vaibhavhd Please wait for the next master image that contains BRCM SAI 6.0.0.13 to re-evaluate this issue.
This new SAI contains the necessary fix for this issue.  Without it, none of the BRCM based platforms can run with master image which is based with SAI 6.0.  That PR just got merged few hours ago.
If you still see issues using a master image that is based on SAI 6.0.0.13, pl

[2022-01-21 16:40] bluecmd opened #9825 "[Security] Rogue swsssdk package on PyPI"
#### Description

I was running some pytests and accidentally the swsssdk package from https://pypi.org/project/swsssdk/ was pulled.
I noticed and thought it was weird that it existed on pypi and looked at it. It looks like it is a security research
project where the only thing it does is pinging a server that it has been installed.

[code]

However, nothing is stopping the owner with replacing th

[2022-01-22 04:04] bingwang-ms opened #9830 "[Nokia-7215] [marvell] orchagent exited when activating mirror_session"
#### Description

`orchagent` exited when activating mirror session
[code]
#### Steps to reproduce the issue:
1.Shutdown all BGP `config bgp shutdown all`
2.Create a mirror session `config mirror_session add test_session_1 1.1.1.1 2.2.2.2 8 4`
3.Add a static route to collector `vtysh -c "configure terminal" -c "ip route 2.2.2.0/24 10.0.0.63"`

#### Describe the results you received:
orchagent exit

[2022-01-22 09:05] vivekreddynv opened #9831 "[teamd] config portchannel del is resulting in an extra keyspace notification"
#### Description

A config portchannel delete is causing an extra/unnecessary SET notification before DEL in the state db

This behavior was traced back from the appearance of this error log in tlm_teamd, which was already reported and fixed here https://github.com/Azure/sonic-swss/pull/1629, although because of a different reason

[code]

#### Steps to Reproduce

[code]
This extra notification is

[2022-01-23 14:58] roysr-nv commented on #5158
@tim-rj , @xinliu-seattle  - any update on this matter, is it still reproducible?

[2022-01-23 21:54] qiluo-msft commented on #9708
This is not a dependency issue. From the log, it seems that the default /etc/rsyslog.conf has some issue and prevent rsyslog.service working properly.

@bluecmd Could you sharing the file `/etc/rsyslog.conf` when the problem happens?

[2022-01-24 04:03] wally-wang-accton commented on #9716
You can try the 202012 branch.

[2022-01-24 04:08] wally-wang-accton commented on #9765
Yes, you can use AS4630-54TE if its hardware features are enough for you.
Please note it, it still has some open PRs if you test its SONiC image.
https://github.com/Azure/sonic-buildimage/pulls?q=is%3Apr+is%3Aopen+AS4630-54TE

[2022-01-24 04:33] aravindmani-1 commented on #9653
Hi Zhenggen Xu,

TH3 has the support for DPB.
From sairedis.rec dump, failure is seen when configuring port serdes settings.
Is there any reason why is this operation failing?.

Logs:
2022-01-20.08:59:15.119663|g|SAI_OBJECT_TYPE_PORT:oid:0x1000000000737|SAI_PORT_ATTR_PORT_SERDES_ID=oid:0x0
2022-01-20.08:59:15.121695|G|SAI_STATUS_SUCCESS|SAI_PORT_ATTR_PORT_SERDES_ID=oid:0x57000000000741
2022-01-20.

[2022-01-24 14:05] dflynn-Nokia commented on #9830
Hi,
Can you provide 'show techsupport' info?

Thanks,
Dennis

[2022-01-24 16:35] alexrallen commented on #8926
For now, yes this is non-functional. However from a quality perspective we should have any output to the terminal be human readable.

[2022-01-24 19:05] prsunny commented on #7935
Fix PR merged

[2022-01-24 19:05] #7935 closed

[2022-01-24 19:14] kellyyeh opened #9841 "[dhcp_relay] dhcp6relay memory issue resulting in segfault"
#### Description
DHCPv6 Relay tests are failing on armhf with dhcp6relay resulting in segfault

#### Steps to reproduce the issue:
1. On version 20201231.48, 20201231.49, 20201231.50, run dhcpv6 relay management tests
2. Tests fail and dhcp6relay results in segfault

#### Describe the results you received:
// Initialization
Jan 23 20:52:00.690932 str2-7215-acs-3 WARNING dhcp_relay#dhcp6relay: ===

[2022-01-24 19:31] vivekreddynv commented on #9831
I've seen this on master.

[2022-01-24 19:48] bluecmd commented on #9708
Hi, sorry about this - but it seems I cannot reproduce this issue anymore. A clean image boots fine and I tried restoring the original rsyslog.conf works fine.

Let's drop this.

[2022-01-24 19:48] #9708 closed

[2022-01-24 20:10] qiluo-msft commented on #9643
@samaity is not available recently.

[2022-01-24 22:05] vivekreddynv opened #9843 "[techsupport] failures seen in generate_dump stdout while handling /etc/ folder"
#### Description

#### Steps to reproduce the issue:

1) sudo generate_dump -s "60 seconds ago"

#### Describe the results you received:

[code]

Error logs are related to these 3 lines in generate_dump script.
https://github.com/Azure/sonic-utilities/blob/master/scripts/generate_dump#L1281
https://github.com/Azure/sonic-utilities/blob/master/scripts/generate_dump#L1391
https://github.com/Azure/so

[2022-01-24 22:05] vivekreddynv commented on #9843
These changes introduced by @liuh-80 in https://github.com/Azure/sonic-utilities/pull/1886

[2022-01-24 22:53] anilkpandey commented on #7538
Azure/sonic-swss#885 is closed, as all required changes have been split and upstreamed separately.
The FDB flush changes were not needed anymore, as similar changes were merged before my changes could be reviewed and merged:
https://github.com/Azure/sonic-swss/pull/1242

I see the code is present to flush fdb when port is removed from vlan. Not sure why you are still seeing the issue.

void FdbOrc

[2022-01-25 00:59] dereksun01 opened #9845 "linux_ngknet insmod issue of saibcm-modules"
#### Description

@saiarcot895  or Someone, I use lastly saibcm-modules kernel module and find a issue of linux_ngknet.ko can not be install and show message:
"insmod: ERROR: could not insert module linux_ngknet.ko: Device or resource busy"

Following my information:

root@as7326-56x:/lib/modules/5.10.0-8-2-amd64/extra# lsmod |grep linux
linux_ngbde            57344  0
linux_knet_cb          24576

[2022-01-25 01:44] #9574 closed

[2022-01-25 07:58] raphaelt-nvidia commented on #7538
I don't see that code being called when the port is removed from the vlan.  But I do see lines like this:

Jan 25 07:50:47.548674 r-panther-13 DEBUG swss#orchagent: :> update: enter
Jan 25 07:50:47.548674 r-panther-13 INFO swss#orchagent: :- update: FDB event:3, MAC: 00:00:00:00:00:00 , BVID: 0x26000000000792 ,                    bridge port ID: 0x3a00000000079d.
Jan 25 07:50:47.548674 r-panther-1

[2022-01-25 14:12] davidpil2002 opened #9849 "hostcfgd issue when calling method get_interface_ip"
#### Description

#### Steps to reproduce the issue:
1. create some values in the eth0 table: 'MGMT_INTERFACE' or create a real interface name "eth0"  with an IP address
2. the hostcfgd is always running, and it will create an exception instead reading the values as I wrote in the description
3. is possible to see the error just by using the command: "show loggin hostcfgd" or "sudo service hostcfg

[2022-01-25 20:55] saiarcot895 commented on #9845
Is there anything in the dmesg log or `journalctl -ke`?

[2022-01-26 00:12] #9475 closed

[2022-01-26 02:00] wen587 commented on #9759
@jon-nokia  Hi, could you try recent build see if it is resolved?

[2022-01-26 02:37] prsunny commented on #9694
@adyeung , @hasan-brcm, @srj102, could you please update?

[2022-01-26 03:14] adyeung commented on #9694
The vxlan interface is not created in the kernel, Rajesh S will take a look

[2022-01-26 03:23] wen587 opened #9852 "[yang] Need Yang for RADIUS table"
#### Description
We don't have RADIUS table in configDB. But after config radius and set it back as default, it will left an empty 'RADIUS' table.
We cannot do yang verification on configDB due to missing Yang model for it.

#### Steps to reproduce the issue:
1. no RADIOUS table in configDB
[code]
2. config and then set default value back
[code]
3. Rollback to configDB where it doesn't contains RA

[2022-01-26 04:11] dereksun01 commented on #9845
Dear Saiarcot895,

It's great to got your reply. Now, for our platform, we found error following message:

DMA pool size: 33554432
BDE dev 0 (PCI), Dev 0xb873, Rev 0x01, Chip BCM56873_A0, Driver BCM56870_A0
SOC unit 0 attached to PCI device BCM56873_A0
rc: unit 0 device BCM56873_A0
0:soc_trident3_chip_reset: TS_PLL locked on unit 0 using 50.0MHz external reference clock
Recommended to add "ptp_ts_

[2022-01-26 05:02] #9699 closed

[2022-01-26 09:54] aussieserverhosts opened #9855 "mclagdctl missing from Broadcom build"
#### Description

mclagdctl missing from Broadcom build

#### Steps to reproduce the issue:
Attempting to setup MCLAG on two identical switches using this article:
https://support.edge-core.com/hc/en-us/articles/900002380706--Edgecore-SONiC-MC-LAG

#### Describe the results you received:
Missing mclagdctl and other mclag related commands
Unable to "show mclag"

#### Describe the results you expect

[2022-01-26 13:42] jon-nokia commented on #9759
@wen587 Yes, we already cherry-picked - works great! Thanks.

[2022-01-26 15:23] srj102 commented on #9694
Jan  6 17:58:41.523541 sonic WARNING swss#vxlanmgrd: :- doVxlanTunnelMapCreateTask: State VXLAN tunnel table not yet empty.

The above is preventing the kernel device from being created and also an APP_DB entry for the VLAN-VNI map entry.

The STATE_DB.json contains an entry for VXLAN tunnel.
  "VXLAN_TUNNEL_TABLE|EVPN_2.2.2.2": {
    "expireat": 1641498428.590671,
    "ttl": -0.001,
    "type": "

[2022-01-26 15:45] nazariig commented on #9714
The bug is seen when some LAG members are connected with the `loopbacks`.

Before the `teamd` fails with the segmentation fault, we have got a memory allocation errors.
The issue is reproducible after a short timeout: on each received LACP PDU `teamd` sets the port options via `netlink` and fails at some point on message receive.

**SONiC**
[code]

**TEAMD log**
[code]

**GDB:**
[code]

**NETLINK

[2022-01-26 16:09] srj102 commented on #9028
Same issue as https://github.com/Azure/sonic-buildimage/issues/9694

[2022-01-26 16:22] srj102 commented on #9694
The sai_create_tunnel error needs to be solved by support for P2P tunnels (SAI_TUNNEL_PEER_MODE_P2P ).

The STATE_DB cleanup to be fixed by adding VXLAN_TUNNEL_TABLE to the files/scripts/swss.sh

[2022-01-26 17:14] alexrallen commented on #9802
@praveen-li I have attached a techsupport which should give you access to the state of config_db.json as well as the state of CONFIG_DB.

What we did was breakout 4 ports from 100G to 4x25G and then clean  up those breakouts. You should be able to follow the syslog and see that pattern.

[sonic_dump_r-lionfish-14_20220119_161453.tar.gz](https://github.com/Azure/sonic-buildimage/files/7943734/sonic

[2022-01-26 17:58] #9841 closed

[2022-01-26 21:52] kellyyeh commented on #9679
Hi @ppikh, to correct and add on to this, one way to change dhcp6relay server IP is to make in memory change. You can use sonic-db-cli to change dhcpv6 server addresses in DHCP_RELAY table, then restart dhcp_relay service and the changes should take it effect.

[2022-01-27 03:02] bingwang-ms commented on #9830
Offered offline.

[2022-01-27 03:02] bingwang-ms commented on #9830
Offered offline.

[2022-01-27 06:06] wen587 opened #9866 "[yang] Need Yang for BGP_ALLOWED_PREFIXES table"
#### Description
We don't have yang model about BGP_ALLOWED_PREFIXES table.
It is need by bgp prefix hijacking from Generic Config Updater E2E test.

#### Steps to reproduce the issue:
1.
[code]

2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you

[2022-01-27 18:18] zhangyanzhao commented on #7733
@nazariig please check with @praveen-li between 8-10 AM PST time if you have any question.

[2022-01-27 18:25] zhangyanzhao commented on #9611
@AshokDaparthi  kindly ping..

[2022-01-27 18:41] zhangyanzhao commented on #9866
Need someone to create the YANG model for BGP_ALLOWED_PREFIXES  table

[2022-01-27 18:55] AshokDaparthi commented on #9611
@zhangyanzhao - Raised the pull request https://github.com/Azure/sonic-buildimage/pull/9873

[2022-01-27 23:50] kamalsahu0001 commented on #9028
Attached the logs from broadcom chipset
[sonic_dump_sonic_20210721_222140.tar.gz](https://github.com/Azure/sonic-buildimage/files/7954606/sonic_dump_sonic_20210721_222140.tar.gz)

[2022-01-28 00:03] anilkpandey commented on #7538
From PortsOrch::removeVlanMember:
notify(SUBJECT_TYPE_VLAN_MEMBER_CHANGE, static_cast<void *>(&update));

As part of this notification, fdborch will call FdbOrch::updateVlanMember

[2022-01-28 02:08] praveen-li commented on #9623
Posted a question in stack-overflow yang group for leaf-list unique valus. But realized that, in our case, 'lanes' is string, so we have to use custom validation only.

https://github.com/Azure/sonic-buildimage/blob/bcf5388f250d99fbd626dead98be511a0306ec6d/src/sonic-yang-models/yang-models/sonic-port.yang#L44

[2022-01-28 02:41] qiluo-msft commented on #9623
@praveen-li Do you mean 'lanes' as integer will be easier?

[2022-01-28 04:57] mdivyamohan opened #9876 "202012 branch vs master - Increase in syncd virtual memory usage"
Hi,

When I was using 202012 branch, virtual memory usage of syncd process was around 3.6 GB.
[code]

After taking master branch, this seems to have increased to ~4GB.
[code]

I wanted to understand if this expected because of SONiC side changes, or could be caused by my ASIC environment (SAI/SDK etc).
Has anyone else observed the same?

[2022-01-28 06:33] dereksun01 commented on #9845
Dear Saiarcot895,

Thank your kindly feedback and we found the issue is about wrong CANCUN files on SONiC community image.

[2022-01-28 06:33] #9845 closed

[2022-01-28 06:44] dereksun01 opened #9878 "SONiC master with Broadcom CANCUN version issue"
#### Description

Dear judyjoseph or Someone,

We find lastly SONiC image has CANCUN version issue on our platform.
That will be caused SDK initialization fail and syncd stop.

#### Steps to reproduce the issue:
1. Upgrade SONiC image file (49a036e9) on Accton as7326_56x.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:
- Broadcom upgrade bcm56870_a0 CANCUN f

[2022-01-28 12:30] srj102 commented on #9028
}()@: dump $ grep VXLAN APPL_DB.json
  "VXLAN_EVPN_NVO_TABLE:nvo": {
  "VXLAN_TUNNEL_MAP_TABLE:vtep:map_101_Vlan101": {
  "VXLAN_TUNNEL_MAP_TABLE:vtep:map_102_Vlan102": {
  "VXLAN_TUNNEL_MAP_TABLE:vtep:map_103_Vlan103": {
  "VXLAN_TUNNEL_TABLE:vtep": {

()@: dump $ grep vtep ip.link
45: vtep-101: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master Bridge state UNKNOWN mode DEFAULT grou

[2022-01-28 13:23] akokhan commented on #9643
@qiluo-msft , but this change will cause TC failure which expect True or False but not string

[2022-01-28 18:34] kishorekunal01 commented on #9028
@kamalsahu0001 <https://github.com/kamalsahu0001>
ROUTE_TABLE/VXLAN_REMOTE_VNI/VXLAN_FDB is not populated since it looks like
there is no EVPN route received from the BGP neighbor.

If you expect to receive a route from the BGP neighbor. Please collect
below information from the FRR.
show bgp l2vpn evpn summary
show bgp l2vpn evpn route detail
show bgp l2vpn evpn route vni all detail
show bgp l2vp

[2022-01-28 18:56] zhangineer opened #9885 "VS image build failed when P4RT container is enabled"
#### Description

#### Steps to reproduce the issue:
1. Proceed with the normal building process to choose `PLATFORM=vs`
2. Execute `make SONIC_BUILD_JOBS=4 INSTALL_DEBUG_TOOLS=y target/sonic-vs.bin`

#### Describe the results you received:

ERROR: invalid type '' for SAI_ACL_COUNTER_ATTR_TABLE_ID
ERROR: flags are not defined for SAI_ACL_COUNTER_ATTR_TABLE_ID
ERROR: FATAL ERROR === MUST FIX === :

[2022-01-28 21:32] kamalsahu0001 commented on #9028
sonic# show bgp l2vpn evpn summary
BGP router identifier 1.1.1.1, local AS number 65011 vrf-id 0
BGP table version 0
RIB entries 11, using 2112 bytes of memory
Peers 3, using 64 KiB of memory

Neighbor        V         AS   MsgRcvd   MsgSent   TblVer  InQ OutQ  Up/Down State/PfxRcd   PfxSnt
10.1.11.1       4      65101        39        70        0    0    0 00:00:07            2        6
10.1.12.1

[2022-01-28 22:28] kishorekunal01 commented on #9028
There is no vxlan interface created in FRR(Zebra). Zebra is not aware of
any L2VNI.
Please share the show output for "ip.link" as well.

On Fri, Jan 28, 2022 at 1:32 PM kamalsahu0001 ***@***.***>
wrote:

--
This electronic communication and the information and any files transmitted
with it, or attached to it, are confidential and are intended solely for
the use of the individual or entity to whom

[2022-01-28 23:32] kamalsahu0001 commented on #9028
[sonic_dump_sonic_20210722_220030.tar.gz](https://github.com/Azure/sonic-buildimage/files/7962473/sonic_dump_sonic_20210722_220030.tar.gz)

[2022-01-28 23:46] kishorekunal01 commented on #9028
Hi Kamal,

Please fix the SAI issue as suggested by Rajesh.

Here BGP routes are not imported as the vxlan interface is not created. (
sonic_dump_sonic_20210722_220030.tar.gz
<https://github.com/Azure/sonic-buildimage/files/7962473/sonic_dump_sonic_20210722_220030.tar.gz>
)

Where as the other TS you provided (sonic_dump_sonic_20210721_222140.tar.gz
<https://github.com/Azure/sonic-buildimage/files

[2022-01-29 11:57] abhiranjeet opened #9892 "Using different libyang version while building sonic-broadcom.bin image"
#### Description
Using different libyang version

#### Steps to reproduce the issue:
1. Followed the README file for building sonic-broadcom.bin image
2. Looking for a way to use libyang2, instead of default libyang version

#### Describe the results you received:
Is there a way to change libyang version ?

I see 2 files of relevance : `libyang.mk` & `Makefile` under `src/libyang`

libyang.mk
[cod

[2022-01-29 23:42] toggit opened #9893 "what if i only want to run this on my Home Lab VM"
Hello guys,

in docs i can see in a list of supported platform its look like its only for hardware platforms or maybe i get it wrong.
but what if i only want to run this on my Home Lab.
does this project support a build for Virtual Machine?  or maybe docker-compose ?

i want to do test for:
 L2 vlan /trunk / lacp
 L3  static and dynamic routing / vxlan / vrf / svi.

[2022-01-30 11:11] dereksun01 commented on #9878
Dear @judyjoseph or Someone,

Could you confirm this issue for CANCUN files(bcm56870_a0) for SDK-6.5.24 on SAI package?
Thank your kindly help.

[2022-01-30 17:04] radha-danda commented on #9830
Everflow/Mirror functionality is not supported in M0 on SONIC 202012 branch.
This feature is currently planned to be supported on SONIC master branch

[2022-01-30 21:34] bluecmd commented on #2042
You can get the software from:

- Official: https://sonic-build.azurewebsites.net/
- Fan-made: https://sonic.software/

[2022-01-30 21:36] bluecmd commented on #9893
This is what the sonic-vs (Virtual Switch) is for! :-).
You can run it in e.g. QEMU or GNS3 - and likely many more.

[2022-01-31 06:59] judyjoseph commented on #9831
@vivekreddynv -- I don't find this additional SET before the DEL on 2 lab devices different platform running master image - I will give it a try again in 2700. Do you see this every time ?

admin@str2--acs-03:~$ sudo config portchannel member del PortChannel105 Ethernet8
admin@str2--acs-03:~$ sudo config portchannel member del PortChannel105 Ethernet12
admin@str2--acs-03:~$ sudo config portchannel

[2022-01-31 10:51] shinglerb commented on #9855
I have encountered the same issue on the mellanox build

show version:

[code]

[2022-01-31 12:09] akokhan commented on #9893
You may find useful the following blog:
https://plvision.eu/rd-lab/blog/sdn/sonic-network-os-configuration

[2022-01-31 12:54] raphaelt-nvidia commented on #7538
I see that FdbOrch::updateVlanMember is called, but the FDB entry in STATE_DB is not cleared.  Drilling down with gdb, I see that updateVlanMember calls flushFDBEntries.  While stepping, I dumped the vlan member tables before and after the call to flushFDBEntries.

Before:

dump state vlan_member "Vlan247|Ethernet0"
{
    "Vlan247|Ethernet0": {
        "CONFIG_DB": {
            "keys": [

[2022-01-31 15:12] dflynn-Nokia opened #9896 "[sonic-restapi] ARM architecture not supported"
#### Description

The sonic-restapi module currently seems to be only applicable to the 'amd64' architecture.
As part of the ongoing effort to support the ARM platform architecture, sonic-restapi should also be provided for ('armhf' and 'arm64').

Here's the results when attempting to build sonic-restapi for 'armhf'
Note the result of building sonic-rest-api_1.0.1_`amd64`.deb instead of sonic-rest

[2022-01-31 16:54] vaibhavhd opened #9897 "[fast-reboot] Ports flap twice after fast-reboot results in >30s downtime"
#### Description

Some vlan ports flap twice during Fast-reboot. Ports are expected to go down and come up once during fast-reboot.
However, ports going down twice will cause increased downtime, and hence will fail fast-reboot 30s downtime SLA.

This is not easily reproducible. The issue was seen only once in nightly regression tests.

#### Steps to reproduce the issue:
1. Run test_fast_reboot tes

[2022-01-31 16:57] vaibhavhd commented on #9897
This issue fails fast-reboot test as the downtime is increased due to some ports go and remain down for >5s:
[code]

[2022-01-31 17:16] vaibhavhd commented on #9897
Other interfaces that also showed similar flapping after fast-reboot:

[code]

[2022-01-31 18:21] vivekreddynv commented on #9831
I've rechecked this on the master image, `commit hash: 6100a6c8f91d2d65ee61e9212e73b1cc67537ea1`
`platform: x86_64-mlnx_msn3420-r0` and i still see the extra pspace notification

[code]

Syslog:
[code]

[2022-01-31 18:35] vaibhavhd opened #9898 "[warm-reboot][master] Create RIF counters fails and sends switch_shutdown_request notification to OA"
#### Description

Warm reboot fails with all LAGs flap due to swss restart.

#### Steps to reproduce the issue:
1. Install latest mater image - cold reboot to it.
2. Issue warm-reboot to the same master image.
3. SWSS, OA crash will be seen in syslog - check logs to confirm the below line is the start of the issue:
`ERR syncd#syncd: [none] SAI_API_SWITCH:_brcm_sai_switch_rif_ingress_counter_init:1

[2022-01-31 18:40] #9261 closed

[2022-01-31 18:58] kamalsahu0001 commented on #9028
In case of sonic_dump_sonic_20210721_222140.tar.gz, policy was enforced under bgp so those routes are not advertised. In case of sonic_dump_sonic_20210722_220030.tar.gz, "no bgp ebgp-requires-policy" command is issued and the routes are advertised.

[2022-01-31 19:39] vaibhavhd commented on #9898
This seems to be BRCM only issue. This issue is not seen on MLNX SKUs.

[2022-01-31 20:56] vaibhavhd opened #9899 "[fast-reboot][202012] Orchagent timeout to notify syncd to begin INIT_VIEW"
#### Description

Fast reboot failure due to syncd not responding to OA request for INIT_VIEW. OA wait for ~60s and then fails within
`SELECT operation result: TIMEOUT on notify`

#### Steps to reproduce the issue:
1. Fast reboot on 9332 SKU.
2. Check logs for syncd INIT_VIEW notify TIMEOUT.
3. So far, this issue is seen only on 9332 SKU.

#### Describe the results you received:

**Good case scena

[2022-01-31 20:57] vaibhavhd commented on #9899
Not sure if these operations have any impact, and why they happened. Not seen on a good case scenario:
[code]

[2022-01-31 21:00] vaibhavhd commented on #9899
Not much is seen when I checked logs (swss, sairedis, bgp) to see what happens between when OA sends notification and times out.

The only activity is seen from:
1. Kernel - `eth0: Link Speed was downgraded by SmartSpeed`
2. BGP: `if_zebra_speed_update: eth0 old speed: 4294967295 new speed: 100`
3. bgp/snmp: `Failed to connect to the agentx master agent (tcp:localhost:3161`

[2022-01-31 22:35] vaibhavhd opened #9900 "[warm-upgrade][201811 -> 202012] Switch creation fails with "EMAD transaction FW error""
#### Description

Warm upgrade from 201811 to 202012 fails on 2700 SKU with:
1st attempt INIT_VIEW failure:
[code]

2nd attempt APPLY_VIEW fail with same above error again.

#### Steps to reproduce the issue:
1. Warmboot on 2700 from 201811 to 202012 image
2. Check logs for failures - INIT_VIEW and APPLY_VIEW failures
3.

#### Describe the results you received:

[code]

#### Describe the results y

[2022-01-31 23:08] vaibhavhd opened #9901 "[fast-reboot][master] SYNCD busy loop slows down reconciliation and causes increased downtime"
#### Description

#### Steps to reproduce the issue:
1. Install latest master image.
2. Fast-reboot.
3.

#### Describe the results you received:

Fast reboot goes ahead, but fails the 30s downtime SLA, as the syncd appears to be in busy loop, which must have slowed the reconciliation:

[code]

But, in syslog,, below lines keep appearing from syncd:

[code]

#### Describe the results you expected:

[2022-02-01 00:58] prsunny commented on #9896
@sumukhatv , @xumia for viz

[2022-02-01 05:05] dgsudharsan commented on #9800
Should be fixed by https://github.com/Azure/sonic-buildimage/pull/9873

[2022-02-01 16:44] #8980 closed

[2022-02-02 01:51] gechiang commented on #8558
Not seeing this same crash any more with warmboot on TH3 with latest 202012 image running with  BRCM SAI 4.3.5.2 and above.

[2022-02-02 01:51] #8558 closed

[2022-02-02 13:38] rupesh-k commented on #7943
Fix in progress. ETA 02/04

[2022-02-02 15:24] Hedgehog-Guru opened #9908 "System crashed if IPv6 link-local is enabled and user tried to add member to port-channel"
#### Description

System crashed when port added to the LAG if IPv6 link-local addresses were enabled before

#### Steps to reproduce the issue:
1. Empty config without any IP addresses on interfaces
2. Enable IPv6 link-local
`config ipv6 enable link-local`
3. Create port-channel interface
`config portchannel add PortChannel0001`
4. Try to add any member to it
`config portchannel member add PortCh

[2022-02-02 15:27] dgsudharsan commented on #9908
@adyeung Can you please assign?

[2022-02-02 16:05] zhangyanzhao commented on #9908
BRCM will take a look. Thanks.

[2022-02-02 16:06] zhangyanzhao commented on #9896
Feature gap, need be handled in future release if effort is too big.

[2022-02-02 16:10] zhangyanzhao commented on #9885
PINS is an opt-in feature, this should not happen if you disable it. Need PINS member to take a look.

[2022-02-02 16:13] prsunny commented on #9885
@mint570, @donNewtonAlpha, @reshmaintel to take a look

[2022-02-02 16:16] dflynn-Nokia commented on #9896
Sorry for being late to join this week's triage meeting.
Please note that this is not urgent but it would be good to finish off our SONiC support for ARM

[2022-02-02 16:16] zhangyanzhao commented on #9876
The RES looks similar, Virtual Mem usage has dependency to other components, may see variance.

[2022-02-02 16:19] zhangyanzhao commented on #9855
BRCM team will take a look.

[2022-02-02 16:24] zhangyanzhao commented on #9849
Can you add more detail on your repro steps? How did you made  the config?

[2022-02-02 16:31] zhangyanzhao commented on #9824
Is this a regression issue?

[2022-02-02 16:37] zhangyanzhao commented on #9811
By design for now. Need improvement.

[2022-02-02 16:45] zhangyanzhao commented on #9771
Vxlan is not supported on sonic-vs.

[2022-02-02 16:51] zhangyanzhao commented on #9629
BRCM will help to take a look.

[2022-02-02 17:00] zhangyanzhao commented on #9242
Can not be reproduced when Jabil team did  the investigation.

[2022-02-02 17:02] zhangyanzhao commented on #9242
If no reproduce after more retry, please close this issue.

[2022-02-02 18:36] vaibhavhd commented on #9899
When I hit this issue, it was with the test_fast_reboot test with I/O involved.

I think I/O might play a role here, as some entity/action delayed the start of syncd main function. Also this issue is seen only once on this image (.51). But, more iterations will confirm the reproducibility.

[2022-02-02 19:22] kellyyeh commented on #9689
Added the feature with PR https://github.com/Azure/sonic-buildimage/pull/9887.
Closing this issue.

[2022-02-02 19:22] #9689 closed

[2022-02-02 21:55] mint570 commented on #9885
How did you enable/disable the P4RT container?
The build error is in src/sonic-sairedis. Doesn't seem to relate to P4RT.

[2022-02-02 22:33] qiluo-msft commented on #9825
Just to clarify, it is an issue in the dev environment, but does not appears in the build system?

[2022-02-02 22:49] zhangineer commented on #9885
I enabled it through config file, by changing P4RT from `no` to `yes`

[2022-02-02 23:57] kamalsahu0001 commented on #9028
@kishorekunal01

requested output is pasted below.

sonic# show bgp l2vpn evpn summary
BGP router identifier 1.1.1.1, local AS number 65011 vrf-id 0
BGP table version 0
RIB entries 11, using 2112 bytes of memory
Peers 3, using 64 KiB of memory

Neighbor        V         AS   MsgRcvd   MsgSent   TblVer  InQ OutQ  Up/Down State/PfxRcd   PfxSnt
10.1.11.1       4      65101        90       112

[2022-02-02 23:58] kamalsahu0001 commented on #9028
[sonic_dump_sonic_20210727_223535.tar.gz](https://github.com/Azure/sonic-buildimage/files/7990812/sonic_dump_sonic_20210727_223535.tar.gz)

[2022-02-03 06:15] bluecmd commented on #9825
Yes, correct. This is only a problem if a developer tries to execute the tests outside the Docker build environment.

[2022-02-03 17:38] zhangineer commented on #9885
Hey guys, I run into a different issue as I am testing to disable various containers but leave P4RT on, because that's what I really need.

I received the following error, but with no helpful details. I do have the debug set to `y`. My question is, where can I dig into the logs to really see what's happening?

[code]

[2022-02-03 17:40] venkatmahalingam commented on #9746
We'll update our findings today.

[2022-02-03 17:45] dgsudharsan opened #9915 "[yang] DEVICE_METADATA Validation fails during ZTP"
#### Description

The DEVICE_METADATA validation fails during ZTP.

sonic_yang(6):Note: Below table(s) have no YANG models: KDUMP, ZTP
libyang[0]: Value "not-provisioned" does not satisfy the constraint "ToRRouter|LeafRouter|SpineChassisFrontendRouter|ChassisBackendRouter|ASIC|MgmtToRRouter|SpineRouter|BackEndToRRouter|BackEndLeafRouter|EPMS|MgmtTsToR" (range, length, or pattern). (path: /sonic-de

[2022-02-03 19:21] #9679 closed

[2022-02-04 01:13] adyeung commented on #9908
@AkhileshSamineni pls take a look and update the thread

[2022-02-04 04:03] antony-rheneus commented on #9768
@zhangyanzhao , sonic-build-hooks debian packagage is built in the Host build Ubuntu and inside debian docker image, as there is dependency to be prebuilt before docker image building.  So the outcome is a Ubuntu sonic-build-hooks.deb package which is not the accurate debian version and may impact due to Debian vs Ubuntu compatibility issues.

If the host Ubuntu version is not 16 or 18, this issue

[2022-02-04 05:14] dgsudharsan commented on #9709
@shi-su  Any updates on the issue?

[2022-02-04 05:19] kishorekunal01 commented on #9028
As expected when vxlan interface is present in the system, EVPN route are
imported and APP_DB for VXLAN is populated correctly.

  "VXLAN_REMOTE_VNI_TABLE:Vlan101:10.10.101.1": {
    "expireat": 1627425367.006665,
    "ttl": -0.001,
    "type": "hash",
    "value": {
      "vni": "101"
    }
  },
  "VXLAN_REMOTE_VNI_TABLE:Vlan102:10.10.102.1": {
    "expireat": 1627425367.0073202,
    "ttl": -0.00

[2022-02-04 07:44] gechiang commented on #9899
@vaibhavhd
I tried manually run:
platform_tests/test_reboot.py,
platform_tests/test_reboot.py::test_fast_reboot
several times and the only problem I can see is due to a known issue with thermalctrld that is known to fail on image 20201231.51. Once I disabled the assertion check on pmon the testcase passes without any issues.
I also manually ran
platform_tests/test_advanced_reboot.py::test_fast_reb

[2022-02-04 08:28] bluecmd opened #9916 "[Security] caclmgrd always allows all control plane traffic sourced from port TCP/179"
#### Description

I detected that all traffic that uses a source port TCP/179 will be allowed with no option of disabling this.

An attacker can trivially send packets with any source port they wish, so this would allow bypassing any control plane ACL.

#### Steps to reproduce the issue:

1. Use SONiC and **optionally** apply control plane ACLs (even with or without control plane ACLs this exploit

[2022-02-04 08:38] bluecmd commented on #9916
For completeness sake, here is a default `iptables` listing with and without a simple control plane ACL applied. Notice that the `tcp spt:179` is before all the other DROPs.

[code]

[code]

The ACL used to demo was:
[code]

[2022-02-04 10:22] Zmegolaz opened #9917 "[Security] caclmgrd always allows all control plane traffic which arrives with TTL < 2"
#### Description

There are iptables rules that permits tools like tcptraceroute to work, by allowing incoming packets with a TTL (or hop limit) of 1 or lower. This rule *only* looks at TTL, which the source can control and set to a value which will be decremented to 1 by intermediate routers by the time it reaches the control plane filters. This makes it trivial for an attacker to bypass all filt

[2022-02-04 21:20] jboomer opened #9919 "Docker in docker builds do not work in build container"
#### Description
Can not build `target/sonic-barefoot.bin` , the build fails at the `docker-start` step with error : "Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"

If I enter the build container with `make sonic-slave-bash`, and try to start docker with `sudo dockerd -D` , I see the following errors:

[code]

This goes for both 'stretch' and 'b

[2022-02-05 02:07] gechiang commented on #9878
New BRCM HSDK Cancun files moved to different location causing this issue.
Case raised and was informed where to find it.
A PR will be raised to address this issue shortly...

[2022-02-05 18:15] toggit commented on #9893
ok this is good information.
case close

[2022-02-05 18:15] #9893 closed

[2022-02-06 19:21] raphaelt-nvidia commented on #6413
It is related to https://github.com/Azure/sonic-buildimage/issues/5982 in that 5982 describes the workaround for this bug, which doesn't work.  That is, if I want to turn off optimization, I edit rules/config to set SONIC_PROFILING_ON = y, but then the compile fails.  This forces a very roundabout way of working: compile the whole project with optimization o as usual, then set SONIC_PROFILING_ON =

[2022-02-07 02:17] dereksun01 commented on #9878
Dear @gechiang,

I have confirmed this PR and it's works fine on as7326_56x. I will close this issue and thank your kindly help.
@judyjoseph , thank your help.

:)

[2022-02-07 02:17] #9878 closed

[2022-02-07 07:43] wen587 opened #9925 "[yang] Need Yang for BGP_PEER_RANGE table"
#### Description
We don't have yang model about BGP_ALLOWED_PREFIXES table.
It is need by bgp prefix hijacking from Generic Config Updater E2E test.

#### Steps to reproduce the issue:
1.
[code]

2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you

[2022-02-07 15:29] jboomer commented on #9919
Additional info : I've also tried with the option `SONIC_CONFIG_USE_NATIVE_DOCKERD_FOR_BUILD` set to `y`. This will pass through the `/var/run/docker.sock` to the container. However, this also doesn't work because the `docker` GID on the host is not the same as the `docker` GID in the container (999).

[2022-02-07 16:23] MaratGubaiev commented on #9242
I started tests for all the weekend. It made at least 124000 of tests without any sign of the error (each test takes about 2 seconds).

The script I used:
`./test-forever.sh &> test-forever.log & disown %%`<details><summary>cat test-forever.sh</summary>

[code]
</details>

So the latest output was 124000.

I used Mellanox SN2700 switch without testbed:
<details><summary>show version</summary>

[co

[2022-02-07 19:26] ArthiSivanantham commented on #9746
For config validation, in sonic_yang_ext.py "_xlateContainer()" method, translates a dictionary in config DB to a Yang JSON container using yang model. A copy of config keys are deleted after every match. When all the keys are being processed, an empty dictionary was expected,

https://github.com/Azure/sonic-buildimage/blob/master/src/sonic-yang-mgmt/sonic_yang_ext.py#L654

**Working case:**

admi

[2022-02-07 21:08] vaibhavhd opened #9926 "[warm-reboot] SAI 3.5 to 4.3 fails with "unknown attr SAI_SWITCH_ATTR_BFD_SESSION_STATE_CHANGE_NOTIFY""
#### Description

Warmbooting 7060 device from SAI 3.5.3.7 to 4.3.5.3 fails at APPLY_VIEW where `SAI_SWITCH_ATTR_BFD_SESSION_STATE_CHANGE_NOTIFY` seems to cause `Unknown switch attribute` errors:
[code]
#### Steps to reproduce the issue:
1. Install 201811 image, cold boot to it.
2. Install 202012 image, warm boot to it. No I/O needed for this repro.
3. Check logs for failures.

#### Describe the r

[2022-02-08 01:06] Praveen-Brcm commented on #9855
Hi all:
Mclagdctl command is not part of the show Tree. Please consider execute the commands directly. examples below
# mclagdctl dump state
# mclagdctl -i <domain-id> dump mac
thanks

[2022-02-08 01:48] aussieserverhosts commented on #9855
-bash: mclagctl: command not found

[2022-02-08 01:50] Praveen-Brcm commented on #9855
@[aussieserverhosts](https://github.com/aussieserverhosts) did you try mclagdctl   or mclagctl .?
Can you please check if the ICCPd is running as well .?

docker ps will show if ICCP is running.

thanks.

[2022-02-08 02:01] aussieserverhosts commented on #9855
@Praveen-Brcm both

ICCP is not running and isn't even on the list

[code]

[2022-02-08 02:11] aussieserverhosts commented on #9855
It does not, do we need to build it ourselves? We simply pulled the latest built image from the pipelines here:
https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds/70590/artifacts/130617?branchName=202111&artifactName=sonic-buildimage.broadcom

[2022-02-08 02:19] Praveen-Brcm commented on #9855
Default behavior was changed as part of this PR by lguohan
https://github.com/Azure/sonic-buildimage/pull/4502 .

We would need to change the config rules and re-build.  Thanks.

[2022-02-08 03:08] venkatmahalingam commented on #9800
@alexrallen What's the latest status on this issue? hope the issue is fixed after Ashok's fix, please confirm, if the issue is fixed, please close the same.

[2022-02-08 03:09] #9800 closed

[2022-02-08 03:42] Blueve opened #9928 "[sonic-config-engine] How to run unit tests manually?"
#### Description

I want to run `sonic-config-engine` unit tests manually, however the test run will fail due to module `swsscommon.swsscommon` not found.

#### Steps to reproduce the issue:
1. Switch to 202012 branch
2. make init
3. make PLATFORM=broadcom
4. make  SONIC_BUILD_JOBS=4 KEEP_SLAVE_ON=yes all
5. cd `src/sonic-config-engine`
6. run `pytest tests/test_minigraph_case.py`

I also tried be

[2022-02-08 08:28] dprital commented on #8959
@yozhao101 - Can you please update the status here ?

[2022-02-08 08:31] wen587 opened #9929 "[yang] missing MIRROR_INGRESS_ACTION and MIRROR_EGRESS_ACTION in sonic-acl.yang"
#### Description
missing MIRROR_INGRESS_ACTION and MIRROR_EGRESS_ACTION in sonic-acl.yang
which is used for EverflowAlwaysOn in Generic Config Updater E2E test.

#### Steps to reproduce the issue:
1.
[code]
2.
3.

#### Describe the results you received:
See above

#### Describe the results you expected:
no error expected

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[

[2022-02-08 12:04] raphaelt-nvidia commented on #7538
@anilkpandey could you please reply to my latest comment so we can get to the bottom of this?

[2022-02-08 17:36] #9610 closed

[2022-02-09 00:52] ZhaohuiS commented on #9824
@zhangyanzhao I think so. It needs a design improvement to fix this issue.

[2022-02-09 05:44] kamalsahu0001 commented on #9028
Even after the routes are present, I cannot ping the host each other in same VNI. Due to that traffic is not flowing.

[2022-02-09 10:47] aussieserverhosts commented on #9855
Build appears to be failing based on current 202111 branch with instructions here:
https://github.com/Azure/sonic-buildimage
What should be build environment be? I can see that it spins up a docker container to build, but currently failing.
[buildlog.log](https://github.com/Azure/sonic-buildimage/files/8031885/buildlog.log)

I've attached the log here:

[2022-02-09 16:27] gechiang opened #9944 "[202012] [Z9332f] pmon#thermalctld: Update fan and temperature status took 33.02897024154663 seconds, there might be performance risk"
#### Description
Observing the following warning in syslog when running z9332f with 20201231 image:

[code]
#### Steps to reproduce the issue:
1. boot with latest 20201231 image

#### Describe the results you received:
check the syslog and see this is showing periodically (every 60 seconds)

#### Describe the results you expected:
Not expecting this warning message

[2022-02-09 16:53] ihorchekh opened #9945 "[DHCP6RELAY] Error in logs "ERR dhcp_relay#dhcp6relay: bind: Failed to bind to socket""
**Description**
Error in the log. Reproducing from time to time.

**Steps to reproduce the issue:**
1. Run test pc/test_po_update.py
```py.test pc/test_po_update.py --inventory="../ansible/inventory,../ansible/veos" --host-pattern r-tigon-04 --module-path                ../ansible/library/ --testbed r-tigon-04-t0-64 --testbed_file ../ansible/testbed.csv --log-cli-level debug --show-capture=no -ra

[2022-02-09 17:01] prsunny opened #9946 "Configuring default Vlan 1 can cause swss crash"
#### Description

If user configures Vlan 1, as `config vlan add 1`, orchagent is crashing. This is because Vlan 1 is already configured during orchagent initialization and a user configuration results in SAI returning INVALID value or ALREADY EXISTS error, causing orchagent to crash.

#### Steps to reproduce the issue:
1. config vlan add 1
2.
3.

#### Describe the results you received:
orchagent

[2022-02-10 03:57] aravindmani-1 commented on #9653
@zhenggen-xu could you please confirm whether l2,l3, IPMC entries are deleted when doing DPB?.

[2022-02-10 04:50] ganglyu commented on #9611
verified

[2022-02-10 04:50] ganglyu commented on #9611
verified.

[2022-02-10 04:50] #9611 closed

[2022-02-10 08:31] george-deng88 commented on #6293
I think it is not a issue, because TD3 internal used 1 fdb counter:

drivshell>l2 show
l2 show
mac=00:e0:ec:cc:1b:a2 vlan=1 GPORT=0x0 modid=0 port=0/cpu0 Static CPU

it is not show in sonic show mac, but it can show in crm.

[2022-02-10 17:54] MaratGubaiev commented on #9885
I tried to build sonic-vs too, and build succeeded.
Build server: Ubuntu 20.04.1 LTS
Branch: 202111 with `INCLUDE_P4RT = y` in rules/config
Build command: make init && make configure PLATFORM=vs SONIC_DPKG_CACHE_METHOD=cache SONIC_DPKG_CACHE_SOURCE=/nfs/dpkg_cache/vs && make SONIC_BUILD_JOBS=4 SONIC_DPKG_CACHE_METHOD=cache SONIC_DPKG_CACHE_SOURCE=/nfs/dpkg_cache/vs target/docker-sonic-vs.gz target

[2022-02-10 19:33] vaibhavhd opened #9957 "[dualtor] Failed to set attribute dscp_mode with value uniform - triggers OA shutdown"
#### Description

Failed to set attribute dscp_mode with value uniform. This triggers OA shutdown and OA never recovers:
[code]

#### Steps to reproduce the issue:
1. Install 202012 image on dualtor testbed
2. Issue warmboot on one of the TORs - no test or IO traffic needed for repro.
3. Check logs for failures.

#### Describe the results you received:

[code]

After this, the OA never restarted(?

[2022-02-10 22:25] zebracrowd commented on #9177
I am able to start syncd on master after ddfe87a71a84b7ce47324f178b4aeb5192887cf1 and 6ed0c434b3496ae7afd273d634724e80fab94ffb

[2022-02-10 23:55] vaibhavhd opened #9962 "[dualtor] warmboot on standby fails with unexpected ASIC operations causing swss crash"
#### Description

Unexpected ROUTE removal and neighbor create operations are seen as part of warmboot APPLY_VIEW. This ultimately leads to swss crash due to:

`SAI_API_NEXT_HOP:brcm_sai_create_next_hop:572 Neighbor not found`

#### Steps to reproduce the issue:
1. Install 202012 image on dualtor testbed
2. Switch the TORs to manual mode.
3. warmboot the standby tor.
4. swss will crash, check logs

[2022-02-11 03:13] tjchadaga opened #9965 "[202012][warmboot] Orchagent crash during warm-reboot on s6100 at saiGetHardwareLaneMap for 10G ports"
#### Description
Warm-reboot with changes in https://github.com/Azure/sonic-buildimage/pull/9906 ported to 202012 results in orchagent crash while getting hw lane map for the 10G ports.

Feb 10 23:22:56.930876 str-s6100-acs-1 ERR syncd#syncd: :- run: Runtime error during syncd init: :- saiGetHardwareLaneMap: failed to get hardware lane list port RID oid:0x100000042: SAI_STATUS_INVALID_OBJECT_TYPE

[2022-02-11 05:35] ranjekum opened #9968 "cannot import name 'platform_ndk_pb2' from 'platform_ndk'"
ImportError: cannot import name 'platform_ndk_pb2' from 'platform_ndk' (/usr/local/lib/python3.7/dist-packages/platform_ndk/init.py)

/usr/local/lib/python3.7/dist-packages/platform_ndk/nokia_common.py(16)()
-> from platform_ndk import platform_ndk_pb2

platform_ndk_pb2 module is missing from package https://github.com/nokia/sonic-platform/tree/main/chassis/platform_ndk.

#### Steps to reproduce t

[2022-02-11 06:02] prgeor commented on #9663
@samaity any update?

[2022-02-11 06:53] Junchao-Mellanox commented on #9801
Hi @zhangyanzhao, I suppose this issue is related to function _findYangTypedValue: https://github.com/Azure/sonic-buildimage/blob/b621dafff77642db541553f5a2f8ec85e70ea695/src/sonic-yang-mgmt/sonic_yang_ext.py#L410

The issue is that when a CONFIG DB field is defined as "leaf-list", it is usually a comma separated string in CONFIG DB. In this case, the value is "egress_lossless_profile,egress_lossy

[2022-02-11 14:27] zhangineer commented on #9885
Thank you @MaratGubaiev  !. I got farther than before using your setup. I ended up with a .img and a .bin file, though I still received some error.

Thank you for the update on the C incompatibility issue !

[2022-02-11 14:43] ihorchekh opened #9972 "Incorrect information about release version in sonic_version.yml"
#### Description
On **202111** branch, `release: 'none'`  appears in the next file `/etc/sonic/sonic_version.yml `

#### Steps to reproduce the issue:
1. Do `cat /etc/sonic/sonic_version.yml`
2. Check `release: 'none'`

#### Describe the results you received:
[code]

#### Describe the results you expected:
[code]

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[sonic_du

[2022-02-11 20:45] qiluo-msft commented on #9929
@stepanblyschak Could you help check the issue?

In yang model, the ACL_TABLE_TYPE/actions is a string as [link](https://github.com/Azure/sonic-buildimage/blob/09b0cc2ccef41bf0fbb0fa4d42bca28f37e13f59/src/sonic-yang-models/yang-templates/sonic-acl.yang.j2#L270)

However, in swss schema ACL_TABLE_TYPE_ACTIONS value is a list of strings as [link](https://github.com/Azure/sonic-swss/blob/d9e72a9677b8

[2022-02-12 00:50] tjchadaga opened #9976 "[202012][warm-reboot] Orchagent crash during warm-reboot from 201811 to 202012 at processQuadInInitViewModeRemove"
#### Description

Orchagent crash during warm-reboot from 201811 to 202012 image which includes changes to add back 10G ports (https://github.com/Azure/sonic-buildimage/pull/9820).

Syslog error:
[code]
Sairedis:
[code]

#### Steps to reproduce the issue:
1. Load 201811 image
2. Warm-reboot to 202012 image which includes https://github.com/Azure/sonic-buildimage/pull/9820

#### Describe the result

[2022-02-12 04:05] #9915 closed

[2022-02-13 01:09] ITJamie commented on #9177
I just installed latest build for broadcom. Interfaces now show up 🎉 .
But still no system details / fan control. attempting to start the pddf-platform-init service still shows missing files stopping service from starting
[code]
attempting to start pddf service
[code]

[2022-02-13 12:55] ITJamie commented on #9716
I just installed latest build (72021) for broadcom. Interfaces now show up 🎉 .
But still no system details / fan control. attempting to start the pddf-platform-init service still shows missing files stopping service from starting
[code]
attempting to start pddf service
[code]

[2022-02-14 05:29] MaratGubaiev commented on #9242
Repeated the tests once again on t0 physical testbed. Gain at least 126000 tests without any error.

<details><summary>SONiC Software Version: SONiC.202106.71429-293ca0b87</summary>

[code]

</details>

[2022-02-14 11:44] dprital opened #9983 "Dummy Issue"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2022-02-14 12:52] dinosn opened #9984 "mclagsyncd crashing"
#### Description

mclagsyncd crashing every couple of hours with the following message:

[code]

This will break dockers as well and at the same time dockers of swss, teamd, syncd, radvd will go down.  Switch will stop forwarding traffic until a full docker restart on all pods will take place.

#### Output of `show version`:

[code]

[2022-02-14 23:21] mfyuce commented on #9673
As indicated [here](https://github.com/Azure/sonic-buildimage/issues/2591#issuecomment-649425081), P4 platform is not supported any more.

[2022-02-14 23:50] praveen-li commented on #7733
@zhangyanzhao
fixed in https://github.com/Azure/sonic-buildimage/pull/8318/files. We can close this issue.

[2022-02-15 02:54] 10164367 commented on #5097
sudo kdump-config unload

execute it on host.

[2022-02-15 06:39] gechiang commented on #9957
Investigated this issue and found 2 probl;ems:
1. Tunnel Mgr is not handling warmrebopot currently resulted to attempt to recreate the MUX tunnel which already exists and this caused exposing issue # 2  (@prsunny )
2. Known BRCM issue where it can only handle Tunnel attributes during Tunnel creation but does not support tunnel attribute SET operations. (CSP CS00012231236 created with BRCM)

[2022-02-15 08:46] #9972 closed

[2022-02-15 18:13] alexrallen opened #9991 "[yang] [ACL] Value "2048" does not satisfy the constraint"
#### Description

Receiving the following error on dynamic port breakout
[code]

This indicates that "2048" is not a valid value for `ETHER_TYPE` however it is documented as an example in the documentation (https://github.com/Azure/SONiC/wiki/Configuration)
[code]

#### Steps to reproduce the issue:
1. Set the above ACL configuration
2. Attempt to break out a port

[2022-02-16 02:52] SuvarnaMeenakshi opened #9996 "SNMP error seen on supervisor in chassis"
#### Description

SNMP queries fail on supervisor because periodic data update for MIBs fail due to "Key '{COUNTERS_PORT_NAME_MAP}' unavailable in database '{COUNTERS_DB}'" error.
#### Steps to reproduce the issue:
Always seen on chassis supervisor

#### Describe the results you received:
Key '{COUNTERS_PORT_NAME_MAP}' unavailable in database '{COUNTERS_DB}' seen continuously in syslog.

#### Desc

[2022-02-16 03:46] alexrallen opened #9998 "/dev/sdaX: Can't open blockdev"
#### Description

On the master branch recently we are seeing the following error during boot

[code]

This issue is reproducing on all Mellanox platforms. It also seems to be reproducing on some broadcom platforms as well (see logs from https://github.com/Azure/sonic-buildimage/issues/9028 and https://github.com/Azure/sonic-buildimage/issues/9898)

This issue is a recent degradation (unsure of th

[2022-02-16 08:09] #9976 closed

[2022-02-16 09:56] keboliu opened #10000 "fdbsyncd report netlink error=-25 on start"
#### Description
fdbsyncd report error just after started:

error code definition in libnl:
[code]

#### Steps to reproduce the issue:
can be reproduced with some possibility in regression test case

#### Describe the results you received:
there should be no error log reported

#### Describe the results you expected:

#### Output of `show version`:
image branch is 202012

[code]
#### Output of `sh

[2022-02-16 13:22] MaratGubaiev commented on #9946
I am working on it.
Now I just need to check the fix.

[2022-02-16 14:42] raphaelt-nvidia commented on #7943
@rupesh-k do you have an update?

[2022-02-16 15:27] ayurkiv-nvda commented on #9242
Tried to reproduce on latest master **master.281-1223a7bab_Internal**  and **202106.83-293ca0b87_Internal**

**Not reprodeced**

Suggest to close ticket 

[2022-02-16 15:27] #9242 closed

[2022-02-16 16:14] zhangyanzhao commented on #5982
How to make this workaround work completely to fix the issue of #6413 ?

[2022-02-16 16:27] zhangyanzhao commented on #9998
No function impact, but want to understand why the error message happened and how to clean it up.

[2022-02-16 16:32] zhangyanzhao commented on #9984
BRCM team will help to take  a look.

[2022-02-16 16:33] zhangyanzhao commented on #9968
Which branch do you see this issue? @ranjekum

[2022-02-16 16:35] zhangyanzhao commented on #9945
A new lag is configured which caused this error message, can be ignored safely.

[2022-02-16 16:37] zhangyanzhao commented on #9919
@jboomer looks like you are doing the investigation pretty well, any help do you need?

[2022-02-16 16:41] rupesh-k commented on #7943
Adding CLI validation to check both port and direction. Will update once i raise PR.

[2022-02-16 16:48] zhangyanzhao commented on #9917
@prsunny will work with @bluecmd  on the fix.

[2022-02-16 19:18] dgsudharsan commented on #9801
@praveen-li @zhangyanzhao @zhenggen-xu Can you please prioritize this?

[2022-02-16 20:03] praveen-li commented on #9801
Not sure, How the tests for PR https://github.com/Azure/sonic-buildimage/pull/7838 passed in this case ?

@AmitKaushik7, @dgsudharsan @zhangyanzhao
----
Seems by using a HACK in test config.  I guess, SOT for config is important, because either config used in test or used in this issue is wrong.
-----------
        "BUFFER_PORT_EGRESS_PROFILE_LIST": {
            "Ethernet9": {
                "pr

[2022-02-16 20:18] aseaudi opened #10004 "VXLAN not coming up with error unexpected type: SAI_OBJECT_TYPE_TUNNEL"
#### Description

I created a Vxlan EVPN tunnel between 2 sonic switches using the Loopback interfaces as SRC and DST, but it didn't work.

#### Steps to reproduce the issue:
Configure OSPF and BGP EVPN between 2 sonic switches, and ensure Loopback0 is in the routing tables.
Create Vlan 50 and add it as tagged egress pvid on a port on each switch. Connect 2 hosts on each switch.

#### Describe the

[2022-02-16 21:09] alexrallen opened #10005 "[DPB] [portsorch] Orchagent missing DELETE update from CONFIG_DB during DPB"
#### Description

When multiple ports are configured with a LAG which is belong to a VLAN which is assigned multiple IP addresses and these ports are broken out via DPB with the force option (`-f`) there is a chance (~20%) that orchagent will miss one of the delete updates and will not attempt to delete the port which will result in the following error from the `config breakout` command.

[code]

[2022-02-16 21:20] Praveen-Brcm commented on #9984
@[dinosn](https://github.com/dinosn) Can you please share the Techsupport and BT for the crash. ?

@zhangyanzhao : Can you please share the initial triage information .?

thanks,
-praveen.

[2022-02-17 02:02] superchild opened #10007 "Inconsistent iptables drop rule for configured IP address"
#### Description
In current SONiC implementation, if user configured IP address in config_db.json and then boot, iptables will add drop rules for them automatically.
https://github.com/Azure/sonic-buildimage/blob/de3a928c7cc4bdb6177c0494e917fce10ea58a80/src/sonic-host-services/scripts/caclmgrd#L200

But if user use click CLI to configure IP address after booting, it will not add the corresponding

[2022-02-17 02:08] prsunny commented on #10007
This is a known limitation in the current caclmgrd design. caclmgrd would need to subscribe to IP events and apply the drop rules.

[2022-02-17 02:26] superchild commented on #10007
Got it, is there any scheduled roadmap to enhance this caclmgrd design?

[2022-02-17 02:49] prsunny commented on #10007
AFAIK, there is no plan to enhance this for the upcoming release.

[2022-02-17 07:07] yozhao101 commented on #8959
@dprital Thanks so much for reporting this issue! we have an open PR (https://github.com/Azure/sonic-buildimage/pull/9600) to address this issue.

[2022-02-17 10:50] pavelrn commented on #6083
Hi!
Have you solved this? Is there a known working SONiC build that supports Broadcom Limited Device b967?

[2022-02-17 16:50] arpp93 opened #10014 "Macsec flexCounters do not work for gbsyncd, and are processed by syncd"
#### Description
Currently the key ID for MACsec objects are written to flexcounter table consumed by syncd rather than gb_flexcounter table.
This leads to SAI stats call not being called in the correct container and the PHYs in gbsyncd catering to the MACsec are not able to provide the MACsec statistics.

#### Steps to reproduce the issue:
1. Configure macsec on an interface on a device running g

[2022-02-17 18:50] zhangyanzhao commented on #9801
@bandaru-viswanath will work with @dgsudharsan  and @praveen-li  on this issue.

[2022-02-17 18:57] zhangyanzhao commented on #9929
@wen587 please schedule a meeting with @praveen-li  to understand more detail.

[2022-02-17 19:13] stepanblyschak commented on #9929
Hi @qiluo-msft , in yang model ACL_TABLE_TYPE/actions is a leaf-list of strings [here](https://github.com/Azure/sonic-buildimage/blob/09b0cc2ccef41bf0fbb0fa4d42bca28f37e13f59/src/sonic-yang-models/yang-templates/sonic-acl.yang.j2#L269).

But how it is related to this issue? This issue is due to ACL_RULE yang container not having all actions that are supported by orchagent including:
- ACTION_REDIR

[2022-02-17 19:39] saiarcot895 opened #10015 "/var/log/ directory is readable only by root"
#### Description

#### Steps to reproduce the issue:
1. Install a new image from master branch

#### Describe the results you received:

`/var/log` has 0700 permissions, which means only root can access the directory. In previous images, all users could access the directory and at least list the files in there.

#### Describe the results you expected:

`/var/log` should have 0755 permissions.

###

[2022-02-17 23:05] #9916 closed

[2022-02-17 23:26] vaibhavhd commented on #9898
I see errors in the warmboot shutdown path, where preshutdown steps for syncd container failed. There are CRIT errors in the syslog from BRCM SAI:
[code]

[2022-02-17 23:34] gechiang commented on #9944
PRs merges closing this issue.

[2022-02-17 23:34] #9944 closed

[2022-02-18 00:20] tjchadaga commented on #9165
Issue is resolved

[2022-02-18 00:20] #9165 closed

[2022-02-18 00:32] vaibhavhd opened #10018 "[warm-reboot][master] TD3 SAI failures seen in shutdown and recovery path"
#### Description

Warmreboot failure seen on TD3 platform in shutdown AND recovery path.

Shutdown failure: `SAI_API_SWITCH:_brcm_sai_mpls_global_save:16317 mpls global data DB record set failed with error -1.`

Recovery failure: `SAI_API_SWITCH:platform_process_command:445 Platform command "init bcm" failed, rc = -1.`

#### Steps to reproduce the issue:
1. Install latest master image on TD3 devic

[2022-02-18 00:37] #8532 closed

[2022-02-18 00:44] tjchadaga commented on #8570
Issue is resolved

[2022-02-18 00:44] #8570 closed

[2022-02-18 00:51] prsunny commented on #9946
Fixed PR merged

[2022-02-18 00:51] #9946 closed

[2022-02-18 01:10] prsunny commented on #9917
Question: This rule is currently after all the IP2ME drop rules, so how is this impacting?

[2022-02-18 03:01] ZhaohuiS opened #10019 "system-health hang, can't refresh db SYSTEM_HEALTH_INFO"
#### Description
system-health hang, can't refresh db SYSTEM_HEALTH_INFO even changed config file `system_health_monitoring_config.json`

There is error to connect redis:
`Failed to perform health check for ServiceChecker due to exception - RuntimeError('Unable to connect to redis: Cannot assign requested address')`

#### Steps to reproduce the issue:
Not sure how to reproduce this issue, it happe

[2022-02-18 06:47] 119064273 commented on #9321
@richardyu-ms , when we use sonic-mgmt to test qos, we found qos_sai test need  saithrift switch ... ,  how do you test it ?

[2022-02-18 07:05] wangxin opened #10020 "[Celestica] Platform API partially parse eeprom value with whitespace in middle"
#### Description

#### Steps to reproduce the issue:
1. Use platform api to get the syseeprom information:
[code]
2. Use "show platform syseeprom" to get the eeprom information
[code]
3. Comparing value of field "0x25", the value got from platform API is "07/19/2018". The value got from CLI is "07/19/2018 02:10:45". They do not match.

#### Describe the results you received:
If syseeprom value has

[2022-02-18 07:41] bluecmd commented on #9917
Correct, this is in the best case less severe than e.g. #9916. But it's still troublesome.

For scenarios without any custom control plane ACLs installed this rule does nothing.

However the final DROP that is enabled when you install custom control plane ACLs are after this ACCEPT - so essentially this allows any explicitly undefined traffic to be accepted.

Put in another way, for an attacker it

[2022-02-18 13:10] msosyak commented on #9321
You need to use regular docker-ptf. it contains PYTHON_SAITHRIFT package.

https://github.com/Azure/sonic-buildimage/blob/master/platform/vs/docker-ptf.mk#L5

[2022-02-18 13:10] AkhileshSamineni commented on #9908
@zhangyanzhao @dgsudharsan
The CLI command should reject when user trying to add a member to a portchannel when link-local is enabled for the member port.
Fixed this issue.

[2022-02-18 13:50] kcudnik commented on #9767
thanks for explanation, i will be working on this to figure out whether there is a way to correctly match LAG/LAG_MEMBER and not cause remapping, i already have logs for this scenario thanks to [vaibhavhd](https://github.com/vaibhavhd), i need to do a repro locally and then will try to fix this

[2022-02-18 19:10] dgsudharsan commented on #10005
@praveen-li @zhenggen-xu Can you please investigate?

[2022-02-18 21:39] praveen-li commented on #10005
Can you provide
-- Config DB before DPB.
-- Writes done to config DB during DPB. This should be in syslog.
-- full snapshot of relevant logs during one round of DPB.
-- dump of entire redis_db once error happened.

[2022-02-18 22:27] lguohan commented on #9998
kvm is using vda, so sda is not available on kvm, so it still could be platform specific issue.

[2022-02-19 01:35] tjchadaga opened #10038 "xcvrd crash on s6100 bootup - SFP index out of range"
#### Description

xcvrd crashes while getting SFP info due to SFP count mismatch and index out of range after changes in https://github.com/Azure/sonic-buildimage/pull/9988
[code]

#### Steps to reproduce the issue:
1. Load image with https://github.com/Azure/sonic-buildimage/pull/9988
2. Check syslog and xcvrd status

#### Describe the results you received:
xcvrd crash with "SFP index 64 out of r

[2022-02-21 11:08] FuzailBrcm opened #10048 "PDDF debian package is not included in the build"
#### Description

PDDF debian package, sonic-platform-pddf_1.1_amd64.deb, is being built but its not present in the final binary sonic-broadcom.bin. Please check the below artefacts.

https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds/69143/artifacts/128581?branchName=master&artifactName=sonic-buildimage.broadcom

Interestingly, when I clone the sonic-buildimage repo and trigger a

[2022-02-21 13:16] AkhileshSamineni commented on #8599
@dgsudharsan
Even if we have a knob to disable the auto-generated link-local address, once we configure the ipv6 address on an interface, the auto-generated LL gets created in the Stack automatically and there is no way to disable that behavior in the Linux Stack.

I think the right approach to fix this issue is to select the user configured link-local address in the FRR code itself, from the list

[2022-02-21 20:24] lukasstockner opened #10050 "ARP traffic gets dropped in VXLAN-EVPN tunnels"
#### Description
When configuring a L2 VXLAN-EVPN overlay on Celestica Seastone2 (Trident3-based) switches in a simple test setup, ARP packets don't reach the server on the other switch.

IPv4 unicast traffic works just fine after manually adding the ARP entries on the servers, IPv6 (including ND) works just fine out of the box, and other broadcast traffic (e.g. a simple ping to the broadcast addr

[2022-02-21 22:34] aseaudi opened #10052 "I2C error on sonic 202111 on AS5835-54X"
#### Description

When booting sonic community edition 202111 on Edgecore AS5835-54X, i get I2C error, and none of the transceivers are detected, no ports can be enabled

[   13.562111] i2c /dev entries driver
[   13.570246] i2c_mux_pca954x: unknown parameter 'force_deselect_on_exit' ignored
[   13.572197] intel_rapl_common: Found RAPL domain package
[   13.572202] intel_rapl_common: Found RAPL do

[2022-02-22 02:33] dgsudharsan commented on #9998
Guohan as alex pointed out it is seen even in tech supports from Broadcom issues mentioned in the description and so I believe its not platform specific

[2022-02-22 05:58] aussieserverhosts opened #10055 "Unable to build image, Error 2"
#### Description

Unable to build the image, following instructions on the README.md as per:
https://github.com/Azure/sonic-buildimage

#### Steps to reproduce the issue:
Ubuntu 20.04
sudo apt install -y python3-pip
sudo pip3 install j2cli
sudo apt install docker.io
sudo gpasswd -a ${USER} docker
git clone -b 202111 https://github.com/Azure/sonic-buildimage.git
sed -i 's/INCLUDE_ICCPD = n/INCLUDE_

[2022-02-22 19:37] vaibhavhd commented on #9926
This issue is fixed by https://github.com/Azure/sonic-swss/pull/2139

[2022-02-22 19:37] #9926 closed

[2022-02-23 00:41] adyeung commented on #9908
@dgsudharsan pls review the fix

[2022-02-23 01:10] qiluo-msft commented on #9929
Agree with @stepanblyschak

[2022-02-23 03:29] hasan-brcm commented on #8599
Which ipv6LL address will be picked for sending out the frames depends on the order in which addresses are present on the interface. For e.g., if user provided ipv6LL is configured after auto generated ipv6LL, the user ipv6LL is used. However, interface flap changes the order.

One can disable auto generation of link-local address completely in the kernel using:
    ip link set dev <interface> add

[2022-02-23 03:41] saiarcot895 commented on #9998
The `Can't open blockdev` message is coming from this line: https://github.com/Azure/sonic-buildimage/blob/9fe128c8e8bb44fa9959c482116541ce64b87486/files/initramfs-tools/union-mount.j2#L135

During initramfs, `/dev/sda3` (or in the case of virtual switch, `/dev/vda3`) is getting mounted at `/root/host`. The `mount` binary that runs isn't the mount binary that's available during normal runtime (whe

[2022-02-23 15:51] MaratGubaiev commented on #10019
I have reproduced the issue (Platform: x86_64-mlnx_msn2700-r0).
I have been working on it.

Could you provide your `system_health_monitoring_config.json` ?
As I understand it is /usr/share/sonic/device/x86_64-arista_7050cx3_32s/system_health_monitoring_config.json

<details><summary>show version</summary>

[code]
</details>

[2022-02-23 21:47] dflynn-Nokia opened #10070 "marvell-armhf: Azure pipeline master branch build failure"
#### Description

The following master branch build error is consistently occurring in the  Azure.sonic-buildimage.official.marvell-armhf pipeline
This is a sonic-config-engine unittest failure.

2022-02-23T05:47:46.8539674Z ======================================================================
2022-02-23T05:47:46.8540138Z FAIL: test_buffers_dell6100_render_template (tests.test_j2files.TestJ2Files

[2022-02-24 01:23] ZhaohuiS commented on #10019
Ye, the content of the config file is :
[code]

[2022-02-24 07:51] xumia commented on #10048
It should be caused by the sonic-broadcom.bin built in the previous step. The last step to build the bin image skipped.
[code]

[2022-02-24 09:02] xumia commented on #10048
The bin image was built during building raw image, see https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=broadcom&buildId=69143&target=target%2Fsonic-broadcom.raw.log
We need to remove the bin image, before building it.

[code]

[2022-02-24 09:19] FuzailBrcm commented on #10048
Thanks @xumia for a quick fix !

[2022-02-24 15:27] sachinv-msft commented on #10070
@yxieca to provide reviewer's for this issue

[2022-02-24 20:14] praveen-li commented on #9567
[PC] 3.2.1   For Init-Config.json: Already covered now.
Related Links:
[code]

[2022-02-24 22:54] aseaudi commented on #10050
Could you do the following:

swssloglevel -l INFO -a
config vxlan map delete vtep 1000 10000
tail -f /var/log/syslog &
config vxlan map add vtep 1000 10000

and send the logs showing the vxlan tunnel being created

I am facing an issue, might be related

[2022-02-25 01:19] xumia commented on #10048
@FuzailBrcm , could you please help review https://github.com/Azure/sonic-buildimage/pull/10083?

[2022-02-25 02:57] SuvarnaMeenakshi commented on #9580
@ganglyu :  'asic_port_name' and 'role' have to be added in the sonic port yang mode.
Index range: the range can be removed and you can keep it just as uint16.
@arlakshm fyi

[2022-02-25 02:58] SuvarnaMeenakshi commented on #9591
@ganglyu subrole has to be added in the yang model
@arlakshm cc

[2022-02-25 02:59] SuvarnaMeenakshi commented on #9592
@ganglyu deployment_id is specified as int value, so ideally should not be None.
Fix should be made in sonic-cfggen to ensure that deployment id is not populated if it is None.

@arlakshm fyi

[2022-02-25 15:53] #7733 closed

[2022-02-25 16:45] zhenggen-xu commented on #9653
As we do shutdown the interfaces,  the l2/l3 entries should be removed from the port.  also, we try the sai remove port API if busy, we will wait and re-try.

The syslog failure seemed to be at create_port phase?  Again, I do think the flex port mapping was not enabled (similar to TH examples I posted earlier) and could cause this type of error.  Please confirm with BRCM.

[2022-02-25 16:46] nazariig opened #10088 "monit errors in the logs "ERR memory_checker: [memory_checker] Failed to execute the command""
#### Description

The issue is caused by a missing `telemetry` container.
The situation may take place on a system start when `docker` container is not created yet.
The root cause is `monit` async service health state check.

#### Steps to reproduce the issue:
[code]

#### Describe the results you received:
[code]

#### Describe the results you expected:
No error messages are expected when docker

[2022-02-25 21:13] alexrallen commented on #10005
All this information should be available in the techsupport (it contains all the syslogs and the redis dump). I do not have the ConfigDB prior to writing but that should be pretty easy to reverse engineer from the config_db dump in the techsupport and the syslogs from DPB.

[2022-02-25 23:09] ysmanman opened #10093 "Loopback4096 address of iBGP peer was not programmed correctly in HW"
I encountered the issue when running sonic-mgmt fib/test_fib.py on VOQ chassis with T2 topo.

The chassis has 3 LCs: LC3, LC4, and LC5. Each LC has only 1 ASIC.  The address of Loopback4096 of LC5 was 8.0.0.7:
root@cmp210-5:/# ifconfig Loopback4096
Loopback4096: flags=195<UP,BROADCAST,RUNNING,NOARP>  mtu 65536
        inet 8.0.0.7  netmask 255.255.255.255  broadcast 0.0.0.0
        inet6 2603:10e2

[2022-02-26 00:25] ysmanman opened #10094 "fpmsyncd failed to insert routes in APPL_DB"
The issue was uncovered in a VOQ chassis. The symptom is learnt BGP routes were installed correctly in kernel, but they were missing in APPL_DB. Shut/no shut BGP neighbor didn't fix this issue.  The following error was seen:

2022-02-25T05:19:30.404176+00:00 cmp210-3 fpmsyncd: :- poll_descriptors: readData error: Malformed FPM message received: Bad message
2022-02-25T05:19:30.412191+00:00 cmp210-3

[2022-02-27 13:58] raphaelt-nvidia opened #10096 "[ERSPAN] Hexadecimal values are not accepted for GRE parameter"
#### Description

In June 2021, I opened https://github.com/Azure/sonic-buildimage/issues/7990 [mirroring] Missing type validations in config mirror-session command.  This was addressed by https://github.com/Azure/sonic-utilities/pull/1825 Validate input of config mirror_session add.  In particular, that PR introduced

GRE_TYPE_RANGE = click.IntRange(min=0, max=65535)

The result of this change is

[2022-02-27 16:13] abhiranjeet opened #10097 "salsa.debian.org GitLab URLs not accessible"
#### Description
Looks like salsa.debian.org GitLab is not responding. There are multiple GitLab URLs which are being used to build debian packages for SONiC (monit, openssh, etc.). This was working till yesterday.

#### Steps to reproduce the issue:
1. Build any SONiC Image

#### Describe the results you received:
[code]

#### Describe the results you expected:
Example: I expected openssh-server

[2022-02-27 23:53] kellyyeh commented on #9690
@liat-grozovik This item is work in progress. Will update thread once the fix is in.

[2022-02-28 04:00] hubblezzhu opened #10098 "Slack request"
Is it possible to add @alibaba-inc.com to the slack workspace?
I have interest in joining and I know colleagues who have also expressed interest in this project.
:)

[2022-02-28 04:49] DesktopECHO commented on #10097
[https://micronews.debian.org/2022/1645992519.html](https://micronews.debian.org/2022/1645992519.html)

[2022-02-28 04:51] MrHamel commented on #6482
Why hasn't this been updated in over a year? https://www.edge-core.com/_upload/images/2021-148-EPS202_AS4630-54PE-DS-R05-20211216.pdf

[2022-02-28 07:54] mfyuce commented on #9885
I have tried many times, no luck so far for a working p4rt container;

- p4rt container is based on `buster`.
- But the software inside is compiled on bullseye.
- Disabling bullseye + stretch+jessie and enabling p4rt in turn requires jessie to be enabled. But, even after enabling jessie,  no p4rt image is generated for buster build.
- This is true in 202111 branch also.

[2022-02-28 09:56] swapwz opened #10101 "Can we remove the cache directory before pack the image?"
#### Description

I found there is a directory named .cache under the path /root in my device. It will size about ~45MB disk.
Can we remove the cache directory before pack the image?

#### Steps to reproduce the issue:
1. make target/sonic-broadcom.bin
2. you will found the .cache under the fsroot/root

#### Describe the results you received:
root@build:/home/xxx/build/202012/sonic-buildimages/fsr

[2022-02-28 14:01] sif7en commented on #9765
Hi,

One more question from my side.

I am trying to boot latest ONIE sw on as7315_27xb via USB, However it
appears the Bios is locked.

Ia there a way unlock it or reset it ?

Regards,
Peter

V V čet., 20. jan. 2022 ob 04:12 je oseba Wally Wang <
***@***.***> napisala:

[2022-02-28 15:18] mfyuce commented on #10055
Can you provide following logs (if they exist on the `target` folder) ?;

- `target/sonic-broadcom.bin.log`
- `target/sonic-broadcom.bin.gz.log`
- `target/docker-lldp.gz.log`

or the last changed ten (10) logs in the target folder?

At first skim, it seems memory related.
Also trying with one job may resolve or give better insights; `make SONIC_BUILD_JOBS=1 all`

[2022-02-28 15:20] mfyuce commented on #10097
Any salsa mirror you know of?

[2022-02-28 16:12] lukasstockner commented on #10050
@aseaudi I'm currently testing other images on the switches, but I think the following section from the log in the techsupport dump is what you want:
[code]

For me, the `oper_down` error could be fixed by applying https://github.com/Azure/sonic-swss/pull/2080, maybe also try that?
The ARP problem still persists, though.

[2022-02-28 16:43] lukasstockner opened #10103 "Broadcom SAI 6.0.0.13 breaks Seastone2 port status on boot"
#### Description
When booting a current build of 202111 or master on a Celestica Seastone2 switch, all ports show as down in `show interfaces status` and `ip link` even though they are physically up and reported as up in `bcmcmd ps`.

Replugging the transceiver fixes the port status, making it show as up everywhere as expected.

Bisecting indicates that this issue is present since https://github.c

[2022-02-28 19:00] dgsudharsan commented on #9831
@judyjoseph Can you please provide an update?

[2022-02-28 19:46] #9548 closed

[2022-02-28 19:46] #10015 closed

[2022-02-28 21:13] #10038 closed

[2022-02-28 21:28] dgsudharsan commented on #8599
@hasan-brcm @AkhileshSamineni
We can disable the addr autogen to none using "ip link set dev Ethernet0 addrgenmode none". The existing ipv6 link local can be delete using "ip -6 addr del fe80::7efe:90ff:fef5:3640/64 dev Ethernet0" on top of which user configured ipv6 link local address can be added

Ethernet0              fe80::7efe:90ff:fef5:1111%Ethernet0/64    up/up         N/A             N/A

[2022-02-28 21:35] tjchadaga commented on #9767
Issue is not seen after porting this PR to 202012.

[2022-02-28 23:35] mlok-nokia opened #10105 "[VoQ][config] Multiasic Supervisor card fails to load config_db#.json in chassis when system reboot"
#### Description
Supervisor card fails to load config_db#.json in chassis when system reboot.   The Supervisor card which has 16 ASICs,  when it is reboot, the first one or two Instance fail to load the config_db#.json due to unavailable of some instance /var/run/redis#/sonic-db/database_config.json file.  This is an intermittent issue.
[code]
#### Steps to reproduce the issue:
1.  Reboot  a VOQ m

[2022-03-01 00:47] anilkpan commented on #7538
A fdb flush call from orchagent sends flush request to SAI. When the mac is deleted in HW, a AGED notification is generated, which triggers the deletion of the fdb entry in ASIC_DB (by syncd) as well as STATE_DB (by fdborch).
Can you check whether the mac was deleted in HW and whether the AGED notification was received by SONiC (by syncd and then by fdborch)?

[2022-03-01 04:47] aravindmani-1 commented on #9653
@zhenggen-xu,  OA crash was not seen when media_settings.json is removed. We use media_settings.json to configure pre-emphasis settings for cable media.

[2022-03-01 06:13] hubblezzhu commented on #10097
Can't do anything but wait?

[2022-03-01 06:45] FuzailBrcm commented on #10048
Done

[2022-03-01 09:06] aseaudi commented on #10050
@lukasstockner
you have the error: ERR swss#orchagent: :- meta_sai_on_port_state_change_single: data.port_id oid:0x2a00000000061a has unexpected type: SAI_OBJECT_TYPE_TUNNEL, expected PORT, BRIDGE_PORT or LAG
what happens after that, does the VXLAN appear in the "show vxlan remotevtep" output ?
what is the output of "bridge fdb show br Bridge" ?
in my case, after the error, i get a log saying orch

[2022-03-01 13:03] raphaelt-nvidia commented on #7538
Thanks.  I confirm that the MAC was deleted in HW and a notification reached SAI.  I am continuing to investigate.  Here are some lines of interest from syslog.

INFO syncd#SDK: :- processSingleEvent: key: SAI_OBJECT_TYPE_FDB_FLUSH:oid:0x21000000000000 op: flush
DEBUG syncd#SDK: :- processFdbFlush: attr: SAI_FDB_FLUSH_ATTR_BRIDGE_PORT_ID: oid:0x3a000000000d5a
DEBUG syncd#SDK: :- processFdbFlush: a

[2022-03-01 13:36] StormLiangMS opened #10116 "[yang-models] can't use leaf-list when add test case into the sample_config_db.json"
#### Description
Failed to compile the target - sonic_yang_mgmt-1.0-py3-none-any.whl, the reason is that the current function (src/sonic-yang-mgmt/sonic_yang_ext.py) which parsing the sample_config_db.json can't tackle with leaf-list type.

#### Steps to reproduce the issue:
1. Add one configuration sample with leaf-list data into the sample_config_db.json
        "BGP_ALLOWED_PREFIXES" :{

[2022-03-01 20:30] kishorekunal01 commented on #10000
I will check from BRCM side.

[2022-03-01 22:15] SamB commented on #10097
I suppose you could try asking nicely on #salsa (<irc://irc.debian.org/salsa>) whether it would be worth putting up a read-only git mirror in salsa's place. (Assuming they haven't done that already?)

Also, there are of course source packages available in the Debian archive and at https://snapshot.debian.org/ -- for example, just now I went to snapshot.debian.org and entered `openssh-server` into

[2022-03-02 01:16] kishorekunal01 commented on #10000
Hi,

Can you please provide the Tech support for this error.
From the error code looks like nl_lib is busy, may be since the netlink buffer size is only 3MB.

Thanks and Regards,
Kishore Kunal

[2022-03-02 11:25] slutati1536 opened #10131 "[Functional] [DPB] [MSN4410] | incorrect port configuration after breakout"
#### Description

dynamic port breakout on MSN4410 system is not configuring port correctly.
this bug is when the breakout command is executed where the default speed of the new breakout mode is the same as the current speed of the port.

This is due to the fact that the breakout command uses the [port name and the port speed](https://github.com/Azure/sonic-utilities/blob/master/config/main.py#L35

[2022-03-02 11:41] bingwang-ms commented on #10096
Hi @raphaelt-nvidia
Thanks for the comments. Supporting both hexadecimal and decimal makes sense to me. I'll self-assign this issue and post a fix.

[2022-03-02 13:59] lukasstockner commented on #10050
@aseaudi After the log snippet that I posted above, swss/orchagent keeps running in my case and the tunnel is working (except for the ARP issue). See the full log in the techsupport dump for details.

`show vxlan remotevtep` shows `oper_down` for me, unless I apply the PR that I linked above - in that case, it correctly shows `oper_up` instead with no actual change to the tunnel behavior.

`bridge

[2022-03-02 16:08] zhangyanzhao commented on #10131
Need someone from LinkedIn to take a look. @praveen-li

[2022-03-02 16:11] zhangyanzhao commented on #10105
@dflynn-Nokia will find someone in Nokia to take a look. Thanks.

[2022-03-02 16:18] zhangyanzhao commented on #10105
@abdosi @judyjoseph please help to take a look.

[2022-03-02 16:21] zhangyanzhao commented on #10101
@xumia please help to take a look. Thanks.

[2022-03-02 16:22] zhangyanzhao commented on #10097
Server issue impacted others as well.

[2022-03-02 16:25] zhangyanzhao commented on #10094
@arlakshm is helping on this issue.

[2022-03-02 16:28] zhangyanzhao commented on #10055
@mfyuce please help and thanks.

[2022-03-02 16:30] zhangyanzhao commented on #10052
@prgeor can you please help to take a look? Thanks.

[2022-03-02 16:32] zhangyanzhao commented on #10050
Adam will find someone in BRCM to take a look. Thanks.

[2022-03-02 16:36] zhangyanzhao commented on #10014
Ze Gan will take a look.

[2022-03-02 16:39] zhangyanzhao commented on #10005
Praveen, please help to take a look. Thanks.

[2022-03-02 16:41] zhangyanzhao commented on #10004
Adam will follow up with BRCM

[2022-03-02 17:08] prgeor commented on #10052
@jostar-yang can you take a look at your platform  i2c issue?

[2022-03-02 17:15] prgeor commented on #10052
++ @jeffhtgt

[2022-03-02 18:16] zhangyanzhao commented on #10098
@hubblezzhu there is SONiC workspace already. What do you want from SONiC community  on the alibaba-inc.com workspace creation?

[2022-03-02 20:11] saiarcot895 commented on #10070
I believe #10132 should resolve this.

[2022-03-02 21:12] abdosi opened #10134 "swss service in active state even though swss docker has exited"
Observed Issue:
In Multi-asic environment have seen it's possible (especially during bootup) is OA gets error out (fox example: no response from syncd in case of ASIC missing) swss service do not transition from wait to stop state even though docker itself has got exited. These cause swss service remain to be active and syncd and teamd docker to be running.

Expected behaviour:
Ideally `docker-wai

[2022-03-02 21:13] abdosi commented on #10134
@judyjoseph created the issue for tracking.

cc @rlhui

[2022-03-02 21:23] abdosi commented on #10134
FYI: @anamehra

[2022-03-02 22:40] harish-kalyanaraman opened #10135 "On single-asic and multi-asic sonic devices, after sonic-installer install an image that does not exist, executing any commands generate backtrace"
#### Description
On a multi-asic DUT, after we issue a sonic-installer install command, all SONIC commands produces a backtrace and exits w/out executing the command after a long time.

A 'sudo reboot' command does reboot the DUT, but only after the exception is thrown after a long time.

#### Steps to reproduce the issue:
1. Run a show command like 'show feature status'
2. Run sonic-install insta

[2022-03-03 00:15] gechiang commented on #10103
@lukasstockner can you please try capture the output of the following command on this device that you are having problem:

bcmcmd "show unit"
bcmcmd "bsv"
bcmcmd "config show"

Trying to identify if this device is really running with BRCM TD3 ASIC.
Thanks!

[2022-03-03 00:58] lukasstockner commented on #10103
[code]

[code]

[bcmcmd_config_show.txt](https://github.com/Azure/sonic-buildimage/files/8173933/bcmcmd_config_show.txt)

[2022-03-03 01:20] lukasstockner opened #10138 "VXLAN tunnel creation fails after P2MP support was added"
#### Description
When configuring VXLAN-EVPN in recent-ish builds on a Celestica Seastone2 (Trident3-based), the VXLAN tunnel fails to come up and orchagent crashes.
Bisecting indicates that this issue occurs since 9661f10d0, and reverting https://github.com/Azure/sonic-swss/commit/b0aa6a0c20d2da850c8c0605c8d5db5b45e17df1 indeed makes it work again.
#### Steps to reproduce the issue:
1. Install a

[2022-03-03 03:07] hubblezzhu commented on #10098
I have interest in joining Slack but email with @alibaba-inc.com is not allowed here  https://sonicswitch.slack.com/signup#/domain-signup
![image](https://user-images.githubusercontent.com/14011375/156488657-05efd4dc-6d34-4c45-b25d-074c34b337f6.png)

[2022-03-03 03:08] hubblezzhu commented on #10098
@zhangyanzhao

[2022-03-03 03:20] xumia commented on #10101
@swapwz , it only takes some space, right?
I am not expert, only some search. Found an answer for it, "generally safe, but not recommend", see https://askubuntu.com/questions/102046/is-it-okay-to-delete-the-cache-folder

Do you have any better answers, to make sure which one can be removed, or all can be removed?

[2022-03-03 04:23] alessandro-veras commented on #8371
Hey guys.
I have probably the same issue in a Celestica Seastone DX010 running over Tomahawk BCM56960.
Any suggestions ? Maybe the same solution is applicable here?
How can I find and modify the right file?

[2022-03-03 04:34] gechiang commented on #10103
@lukasstockner When you captured the "config show" output were you running master image or 202111 image?  It seems to me that you were running master image correct?
Do you still see this issue on the latest master image?  Or this issue is now only happening with 202111 based mage only?

[2022-03-03 06:03] swapwz commented on #10101
@xumia yes, it causes the image file become larger and takes some space after installed.
I think the fsroot/root/.cache/pip is useless after build the rootfs.  see
### https://stackoverflow.com/questions/9510474/removing-pips-cache

should we add pip clean up step,  as following:
[code]

[2022-03-03 06:05] wen587 opened #10141 "[GCU or bgpcfgd]bgp prefix updating only fail for prefixes_v4 removal when GCU apply-patch"
#### Description
Test based on BGP_ALLOWED_PREFIX yang https://github.com/Azure/sonic-buildimage/pull/10142
bgp prefix removal only fails on prefixes_v4 when GCU apply-patch to remove.
Not sure it is a bug from `bgpcfgd` or `GCU`.

#### Steps to reproduce the issue:
1. Load bgp prefix config and check it takes into effect
[code]
2. GCU apply patch to remove one prefix value. Process completed. But

[2022-03-03 06:34] xumia commented on #10101
Fix on master branch: https://github.com/Azure/sonic-buildimage/pull/10143

[2022-03-03 06:51] swapwz commented on #10101
@xumia sure, how can I join it?

[2022-03-03 07:12] xumia commented on #10101
@swapwz ,you can open the link below, and add your comments, or you can approve it.
[code]

[2022-03-03 08:35] aravindmani-1 opened #10144 "Media type is not displayed in show interface status when DPB is done."
#### Description
Media Type is not displayed in "show interface status" when DPB is configured.
STATE_DB didn't populate TRANSCEIVER_INFO for breakout ports.

        root@sonic:~# redis-cli -n 6 hgetall "TRANSCEIVER_INFO|Ethernet2"
        (empty array)
        root@sonic:~# redis-cli -n 6 hgetall "TRANSCEIVER_INFO|Ethernet4"
        (empty array)
        root@sonic:~# redis-cli -n 6 hgetall "TRA

[2022-03-03 09:08] StormLiangMS opened #10145 "[yang-models] Type or pattern enforcement for BGP community"
#### Description
Currently, in yang-model files, the type of community is a string and no pattern enforcement, it would be always good to have enforcement of pattern for yang model element.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
code snippet for community yang model type.
        container COMMUNITY_SET {

            list COMMUNITY_SET_LIST {

[2022-03-03 11:56] lukasstockner commented on #10103
The config output is from [this build](https://dev.azure.com/mssonic/build/_build/results?buildId=77195&view=results), the latest 202111 build, except that I manually applied the `sai_load_hw_config` path fix from #9922.

The [latest master build](https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=broadcom&target=target%2Fsonic-broadcom.bin) shows the same port st

[2022-03-03 13:59] dflynn-Nokia commented on #10070
It looks like this did not fix the problem.

https://dev.azure.com/mssonic/build/_build/results?buildId=77524&view=logs&j=268525a4-f0a8-5106-2898-2602f02ebdb0&t=59457689-49a2-5da2-bad6-5355ff2da0c7

[2022-03-03 18:22] gechiang commented on #10103
@lukasstockner   Thanks for the clarification. that fix requires not just the bcm.config file change it also requires to use the new libsaibcm 6.0.0.13-1 which is not there in 202111 branch yet.  I have requested that "complete" fix be included in 202111 branch.
Since I do not have a device with the same HW SKU as you are working with, will need your help on gathering information to assist me to d

[2022-03-03 20:27] aseaudi commented on #10138
I had a similar error like above: _brcm_sai_mptnl_sipdip_tnl_lookup failed with error -7.

after comparing sairedis.rec for OK and NOK scenarios, i found the difference was the tunnel entry created as P2P instead of P2MP, and that's why it give SAI ITEM NOT FOUND error

[code]

[2022-03-03 23:45] vaibhavhd opened #10150 "[warm-upgrade][202012] Slow DELL platform init in rc.local causes lacp-teardown"
#### Description

202012 Warm upgrade failure on 6100.

#### Steps to reproduce the issue:
1. Warm upgrade 6100 device from any older image to new 202012 image.
2. If running test, the failure will be caught by test. Otherwise, to catch this manually, check for LAG flap signs in syslog.
3.

#### Describe the results you received:
Hitting issues in warm-upgrading Dell devices running SONiC from any

[2022-03-04 00:11] vaibhavhd commented on #10150
Upgrade case from 201811 to 202012 - notice the time that it took to enable and install platform-modules-s6100:

Start - 12.582966s
End - 30.920802s

Time taken = 18.3s

[code]

[2022-03-04 00:13] vaibhavhd commented on #10150
Upgrade case from 202012 old to 202012 new image - notice the time that it took to enable and install platform-modules-s6100:

Start - 13.915978s
End - 27.308390s

Time taken = 13.3s

[code]

[2022-03-04 00:14] vaibhavhd commented on #10150
Reached out to Dell team for debugging this.

[2022-03-04 00:48] vaibhavhd opened #10152 "[warm-upgrade][202012] Slow Celestica platform init in rc.local causes lacp-teardown"
#### Description

202012 Warm upgrade failure on Dx010 TOR.

#### Steps to reproduce the issue:
1. Warm upgrade 6100 device from any older image to new 202012 image.
2. If running test, the failure will be caught by test. Otherwise, to catch this manually, check for LAG flap signs in syslog.

#### Describe the results you received:

are hitting issues in warm-upgrading Celestica devices running SO

[2022-03-04 00:49] vaibhavhd commented on #10152
Bad case: 202012 image 53 to 202012 image 54:
[code]

[2022-03-04 01:56] #9042 closed

[2022-03-04 22:22] aussieserverhosts commented on #10055
Tried to run it again with ```make SONIC_BUILD_JOBS=1 all```, but there's no output this time, unfortunately I had already purged the previous logs before trying again

[code]

[2022-03-05 01:20] #9866 closed

[2022-03-05 10:01] aseaudi commented on #10050
I was troubleshooting the same issue on my edgecore as8535-54x with sonic 202012, and i noticed that the arp packet is encapsulated in a vxlan packet with ttl=0 and was dropped by the next switch en route to the end vtep.

So, the ARP was dropped by the intermediate switch.

I don't know if this is normal, or if this is something configurable in the sonic.

16:32:52.234085 IP (tos 0x0, id 2994, of

[2022-03-06 19:09] bluecmd commented on #10050
We too had issues getting ARP to work a while back but gave up debugging it. See https://github.com/kamelnetworks/sonic/issues/9 for our own notes. Basically IPv4 w/ static ARP and IPv6 worked fine, ARP did not. We assumed it was something to do with ARP suppression at the time, but that was just a hunch.

[2022-03-07 01:37] ganglyu opened #10157 "[yang] Need Yang for BGP_INTERNAL_NEIGHBOR table"
#### Description

We don't have yang model about BGP_INTERNAL_NEIGHBOR table.
Please refer to https://github.com/Azure/sonic-utilities/issues/2029

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem impor

[2022-03-07 01:39] ganglyu opened #10158 "[yang] Need Yang for BGP_VOQ_CHASSIS_NEIGHBOR table"
#### Description

We don't have yang model about BGP_VOQ_CHASSIS_NEIGHBOR table.
Please refer to https://github.com/Azure/sonic-utilities/issues/2029

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem im

[2022-03-07 02:48] ganglyu commented on #10157
@jmmikkel Can you add Yang for BGP_INTERNAL_NEIGHBOR table?

[2022-03-07 02:49] ganglyu commented on #10158
@jmmikkel Can you add Yang for BGP_VOQ_CHASSIS_NEIGHBOR table?

[2022-03-07 05:05] #9713 closed

[2022-03-07 06:04] #9929 closed

[2022-03-07 06:24] coolkidBigEye commented on #8405
Hi, we have also encountered this problem. Is there any solution to this problem?

[2022-03-07 07:54] #9580 closed

[2022-03-07 09:08] AntheaJiang commented on #9147
Sorry,can't login because of network until today,have you solve this issue? I have no idea why don't work for you.

[2022-03-07 09:28] AntheaJiang opened #10167 "How to add compatibility mechanism for BMC and non-BMC sw version?"
#### Description
Hello :
Our project have two sw version: with-BMC and NON-BMC, Is there good method to make these two version to be compatible ?
We want to add  a suffix such as "non-bmc" to the driver/platform api files,and Which file to be loaded is determined by whether bmc is presence.
Do you guys have better mechanism ?Looking forward to discussing with you

[2022-03-07 15:30] judyjoseph commented on #9714
I see this is a scale scenario where more number of member interfaces added to a Portchannel. The error "Loop callback failed with: Cannot allocate memory" is not due to loopback interfaces, I find it is due to memory depletion and not available for allocation.

I find that is as a scenario where memory is NOT available in the device @nazariig can you check how much free mem is available.

I have

[2022-03-07 15:37] judyjoseph commented on #9831
@dgsudharsan yes I am now able to repro this.
The additional hset is coming is mostly due to an admin down set for Portchannel interface that is getting triggered before interface delete. The CPU usage with master image is high, not sure if that is related - but will have to triage further.

[2022-03-07 15:53] dgsudharsan commented on #9831
@judyjoseph  Thanks for your response. We are also facing some issues in master/202111 with high CPU. Has there been any suspect? Is the high CPU with teamd or in general

[2022-03-07 19:34] rossanx commented on #5514
You should use this line to build:

make target/sonic-vs.img.gz

That's the only target not ending in .bin.

[2022-03-07 21:20] SuvarnaMeenakshi opened #10170 "Monit container_checker swss/syncd/teamd containers not running error in supervisor"
#### Description

#### Steps to reproduce the issue:
1. Bringup chassis with n-asic sup , where few asics are not present.
2. swss/syncd/teamd services will come up in namespace corresponding to the asics that are available.
3. for the asics that are NOT available, swss/syncd/teamd service will come up, but dockers will not be up as asic is not present.
4. systemctl service will be in "active" sta

[2022-03-08 00:51] xumia opened #10173 "Build hung when runinging command umount /sonic/dpkg/tmp.TjMN03P7y2"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

azureus+  531770  0.0  0.2 935160 41148 ?        Sl   Mar07   0:38 docker build --squash --no-cache --build-arg http_proxy= --build-arg https_proxy= --build-arg user=az
azureus+  531771  0.0  0.0   2560  1768 ?        S    Mar07   0:00 /bin/bash /sonic/scripts/process_log.sh
root      614913  0.

[2022-03-08 04:21] aravindmani-1 opened #10174 "[DPB]Orchagent crashes in master image while configuring DPB in DellEMC Z9332f"
#### Description
OA crashes in z9332f while configuring breakout for multiple interfaces in master image.
Used debug image here to get OA back traces.

#### Steps to reproduce the issue:
1. config interface breakout Ethernet0 4x100G[50G] -y -f
2. Repeat step 1 for multiple interfaces
3. Check whether OA crashes

#### Describe the results you received:
OA core is generated.
**Crash trace:**
[core t

[2022-03-08 04:22] aravindmani-1 commented on #10174
@zhenggen-xu Could you please help on this issue?.

[2022-03-08 07:48] #9592 closed

[2022-03-08 09:32] liat-grozovik commented on #9802
@praveen-li this issue is for 202111. can you please help to provide ETA for fix to be available?

[2022-03-08 09:34] liat-grozovik commented on #9801
@bandaru-viswanath any update? as this issue for 202111 can you please provide ETA?

[2022-03-08 09:50] bandaru-viswanath commented on #9801
We checked and asked the concerned person to work on this. Will get back to you on the ETA.

[2022-03-08 10:03] Junchao-Mellanox commented on #9801
Hi @liat-grozovik , I have a proposal for this issue, will include you to the loop.

[2022-03-08 17:55] praveen-li commented on #9802
As per Code, LLDP listens to DEL event in config DB. So we need more data on:

-- Do you observe LLDP listens to only specific DEL event in config DB, but not all.
-- If listens to all, then Is it a regression introduced later in LLDP or do we surely know, it is day 1 issue which is exposed by DPB?

Thanks,

Regards
Praveen
________________________________
From: liat-grozovik ***@***.***>
Sent: Tu

[2022-03-08 21:53] alexrallen commented on #9802
Wouldn't this line of code fail when a port is deleted?
https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-lldp/lldpmgrd#L299

It attempts to pull a port that no longer exists from CONFIG_DB here
https://github.com/Azure/sonic-buildimage/blob/master/dockers/docker-lldp/lldpmgrd#L140

[2022-03-08 23:42] praveen-li commented on #9802
When DPB deletes the Port, Config Changes is
[code]

Here we seems to be checking >>>> "if ("alias" in fvp_dict or "description" in fvp_dict)" in https://github.com/Azure/sonic-buildimage/blob/d112e7cca9087d02892ada9d70bddcc5d5616c24/dockers/docker-lldp/lldpmgrd#L297

BTW, we do not have a local repro for this in LinkedIn, so if possible please log all FVs in case of config_db changes during DPB.

[2022-03-09 05:07] prgeor opened #10186 "[DPB] BREAKOUT_CFG table is NOT present in CONFIG DB"
#### Description
DPB fails while configuring 4x100G breakout on Dell Z9332F on latest public master image.

#### Steps to reproduce the issue:
1. Load the platform.json and hwsk.json on Dell Z9332F. json files are attached.
2. config reload -f -y
3. config interface breakout Ethernet0 "4x100G"

#### Describe the results you received:
[code]

#### Describe the results you expected:
DPB should not f

[2022-03-09 05:12] prgeor commented on #10186
[platform.zip](https://github.com/Azure/sonic-buildimage/files/8211851/platform.zip)

[2022-03-09 05:15] prgeor commented on #10186
++ @zhangyanzhao @praveen-li

[2022-03-09 12:30] nazariig commented on #9817
The bug is also valid for ACL/PBH:
1. /tmp/.pbh_counters.txt
2. /tmp/.counters_acl.p

[2022-03-09 13:35] slutati1536 opened #10191 "[DPB] | breakout cleanup fail with error "Key '{COUNTERS_PORT_NAME_MAP}' unavailable""
#### Description

during a test run that checks DPB with dependencies and fast-reboot,
after the fast-reboot, when trying to configure the port to previous breakout mode 1x200G[100G,50G,40G,25G,10G,1G],
the command failed with error:
**Do you wish to Continue? [y/N]: Key '{COUNTERS_PORT_NAME_MAP}' unavailable in database '{COUNTERS_DB}'
[ERROR] Port breakout Failed!!! Opting Out
Failed to break ou

[2022-03-09 13:59] dprital opened #10192 "Endless LLDP warning messages when removing a port"
#### Description

When we add and remove a port in a loop we can reach to a situation where a warning message is keep appearing on syslog:

Jul 27 14:16:54.054777 r-anaconda-15 WARNING lldp#lldpmgrd[32]: Command failed 'lldpcli configure ports Ethernet18 lldp portidsubtype local etp5b': 2021-07-27T14:16:54 [WARN/lldpctl] cannot find port Ethernet18
Jul 27 14:16:54.062649 r-anaconda-15 WARNING lldp

[2022-03-09 16:36] Pterosaur opened #10193 "[lldp]: The source MAC address of LLDP is not correct in SONiC virtual Switch"
#### Description

![image](https://user-images.githubusercontent.com/18609639/157485828-511b6279-371f-454c-8601-80470029cffb.png)
The source MAC address of LLDP protocol is an arbitrary fixed value (00:60:08:69:97:ef) instead of the host's.
According to the usage https://lldpd.github.io/usage.html, we should specify the source MAC address explicitly.

#### Steps to reproduce the issue:
1. Start a

[2022-03-09 18:17] kamalsahu0001 commented on #9028
@prsunny ... what is the next step here? as we can see the routes getting installed correctly, is it because of software issue that it shows tunnel as down?

[2022-03-09 20:59] JSpewock opened #10196 "Wedge 100BF-32X-O-AC Randomly crashing"
#### Description

I am running an Edgecore Wedge 100BF-32X-O-AC switch on Sonic Barefoot and running into an issue where it will occasionally fall over and stop working. Unsure as to why the switch dies but it seems to just lock up and not allow access until power is cut off and the switch is rebooted. Just updated to the latest Barefoot image from master on February 23rd but the issue still persi

[2022-03-09 21:23] aseaudi commented on #10050
I changed the VXLAN tunnel attribute in orchagnet from the default UNIFROM_MODEL to PIPE_MODEL with TTL = 64, and now ARP and Ping is working over the P2P Vxlan Tunnel.

[code]

[2022-03-09 22:44] #9965 closed

[2022-03-10 00:04] lukasstockner commented on #10050
@aseaudi Fantastic find, thanks! I can confirm that that change makes it work.
Looks like the code already supports specifying an `encap_ttl`, but all callers just leave it at zero.

[2022-03-10 05:31] dgsudharsan commented on #10191
@praveen-li  @zhenggen-xu  Can you please investigate this issue?

[2022-03-10 22:42] #9591 closed

[2022-03-10 23:00] qiluo-msft commented on #9801
@alexrallen Could you help me understand the problem statement?

I checked code in src/sonic-yang-models/tests/files/sample_config_db.json, and the appropriate configuration should be a list of strings.

[2022-03-11 10:27] victorhooi opened #10217 "Any possibility to support AS4610-54P (Helix 4)?"
Is there any possibility at all to support the EdgeCore (Accton) AS4610-54P model?

The AS4610-54P used a Helix4, with 48x1G, 4x10G, 2x20G port config.

I noticed from the [HCL](https://azure.github.io/SONiC/Supported-Devices-and-Platforms.html) that the Celestica E1031 is supported by SONiC, and also uses a Helix4, with 48x1G, 4x10G.

Are there many challenges to adding support?

[2022-03-11 11:56] stepanblyschak opened #10218 "sonic-db-cli high CPU usage on SONiC startup"
#### Description
sonic-db-cli high CPU usage on SONiC startup

#### Steps to reproduce the issue:
1. Install and start bootchart2
2. Regular boot
3. Generate bootchart2 plot

#### Describe the results you received:
Looking at the bootchart plots we see an enormous amount of CPU time taken by sonic-db-cli.

![image](https://user-images.githubusercontent.com/38952541/157862393-629aed72-dcc1-4b82-8bf

[2022-03-11 18:37] qiluo-msft commented on #10218
Thanks for raising the issue and detailed analysis! Could you attach "the PoC code"? Are you able to submit a PR (may in draft) and we can keep discussing on PR.

[2022-03-11 19:21] victorhooi opened #10222 "Documentation on PoE features?"
I just wanted to confirm - SONiC does support PoE on switches, right?

Is there any documentation on how to configure/manage any PoE features? (e.g. turn on/off, or configure the level, or monitor output).

I couldn't find any in the wiki, or elsewhere, but it's possible I missed them.

[2022-03-11 19:37] iancote opened #10223 "Can't download VS build per wiki instructions"
#### Description
Hopefully I'm just missing something.  I'm trying to follow the instructions from https://github.com/Azure/SONiC/wiki/SONiC-on-virtual-machine-for-Windows to download a VS image to use for testing.  When I try to follow the link https://sonic-build.azurewebsites.net/ui/sonic/pipelines/142/builds/49244/artifacts/94210?branchName=master&artifactName=sonic-buildimage.vs it just times

[2022-03-11 22:07] alexrallen commented on #9801
This is what is used in the test for this Yang model (this is working)
[code]

This is what we are giving in CONFIG_DB
[code]

You can see the former is a JSON list and the latter is a comma separated list. This is a discrepancy.

[2022-03-11 22:32] #8606 closed

[2022-03-14 05:08] wen587 commented on #10141
Yes.

[2022-03-14 05:08] #10141 closed

[2022-03-14 05:48] #10101 closed

[2022-03-14 11:35] ranjekum commented on #9968
master branch.

[2022-03-14 13:41] ppikh opened #10232 "[RJ45/SFP/LAG] Possible to create PortChannel interface with RJ45 + SPF interfaces"
#### Description

Possible to create PortChannel interface with RJ45 + SPF interfaces.

#### Steps to reproduce the issue:
1. Set speed 1000M for RJ45 interface
2. Set speed 1000 for SPF interface
3. Create PortChannel0001 interface
4. Add RJ45 to be member in LAG interface PortChannel0001
5. Try to add SPF interface to be member in LAG interface PortChannel0001

[code]

#### Describe the results

[2022-03-14 14:21] nazariig opened #10233 "[ACL/PBH] Invalid LAG member configuration when port has active ACL binding"
#### Description

SONiC doesn't track port ACL/PBH configuration when adding a LAG member which causes an issues on warm reboot.
We need to add some extra validation to make sure that port can't be made a LAG member when ingress/egress ACL binding is configured. Before moving port to LAG, user should disable active ACL binding, since LAG uses a different dedicated attributes.

#### Steps to reprod

[2022-03-14 18:34] #9998 closed

[2022-03-14 21:25] vivekrnv opened #10236 "[Mellanox] saisdkdump might fail if run in paralell."
#### Description

#### Steps to reproduce the issue:
1. launch multiple instances of  'docker exec -it syncd saisdkdump'

#### Describe the results you received:

Some of these invocations might fail with non-zero exit code and will also see error logs in syslog

[code]

#### Describe the results you expected:

`sai_dbg_do_dump` for mlnx is not designed to run in paralell. SONiC should avoid doing

[2022-03-14 21:27] vivekreddynv commented on #10236
PR to allow only one instance of techsupport: https://github.com/Azure/sonic-utilities/pull/2065

[2022-03-14 22:21] dgsudharsan commented on #10236
@itaibaz FYI

[2022-03-15 01:54] cel-eric commented on #10152
**A: More drivers added in 202012, which add more sleeps in the init script, and it causes the 202012 branch take more time than 201811.**

**A: I have optimized the sleep time in dx010 sonic platform init script, reduce the sleep duration and keep driver work well.**

**A: 202012 branch DX010 SONiC platform codes were already ported to python3, python2 is deprecated, so we can remove installing o

[2022-03-15 06:45] srj102 commented on #10004
meta_sai_on_port_state_change_single needs to also handle SAI_OBJECT_TYPE_TUNNEL

    switch (ot)
    {
        // TODO hardcoded types, must advance SAI repository commit to get metadata for this
        case SAI_OBJECT_TYPE_PORT:
        case SAI_OBJECT_TYPE_BRIDGE_PORT:
        case SAI_OBJECT_TYPE_LAG:
        case SAI_OBJECT_TYPE_TUNNEL:

            valid = true;
            break;

[2022-03-15 19:45] lukasstockner commented on #10103
@gechiang Sorry for the delay, I didn't have physical access to the switches for a while.

I've attached the log of the process above and the syslog/sairedis.rec before and after:
[sonic-port-status.zip](https://github.com/Azure/sonic-buildimage/files/8256609/sonic-port-status.zip)
This was done on a completely fresh install of the latest 202111 image.

Regarding the image where it worked: That wa