[2021-06-22 10:56] kcudnik commented on #7140
@shlomibitton thanks for providing 202012 4 dumps from logs 2700, on syncd mode on and off.
What i noticed, that on 3 runs on sync mode, between 1st and 2nd SAI_HOSTIF_ATTR_OPER_STATUS=true there is 4 second gap, in all of 3 runs of tests, and between this gap there is a scheduler_group GET and SET for scheduler profile. single api in syncd mode is fairly quick, it takes about ~1-2ms RTT, but betw

[2021-06-22 13:29] raphaelt-nvidia opened #7943 "[mirroring] Incorrect validation for multiple source ports and direction"
#### Description

There are two related issues which I am grouping together because the solution of one needs to consider the other.

1) The code in validate_mirror_session_config aims to prohibit the same source port appearing in more than one mirror session.  I believe this is undesirable, because some HW allows mirroring the rx direction in one session and tx in another.  Solving this would req

[2021-06-22 14:02] kcudnik commented on #7140
201911 just for comparison, assuming that this and all previous attached logs were performed on the same 2700 device (different than on first reported on issue in github)

Here create_switch takes 12 seconds (which is significantly more compared to ~8 sec previously, it could be to different number of ports

From create switch, to last oper status

2021-06-22.12:40:43.416433|c|SAI_OBJECT_TYPE_SWIT

[2021-06-22 16:57] kcudnik commented on #7140
One big thing that I noticed, as mentioned, because OA is listening on notifications from sairedis, and not relying on port_state_change notification switch callback, the notification will be processed by OA only after select will return, and it happens much later after processing all doTask() operations:

Sync mode 202012 (total is 28 notifications, I just recorded first and last):

2021-06-20.14

[2021-06-23 01:23] adyeung commented on #7508
@rajendra-dendukuri pls help check

[2021-06-23 04:01] prsunny commented on #7935
@rlhui for viz

[2021-06-23 08:19] stepanblyschak commented on #7895
[swss.rec.1.gz](https://github.com/Azure/sonic-buildimage/files/6700171/swss.rec.1.gz)

[2021-06-23 08:23] stepanblyschak commented on #7895
1. SAI_BRIDGE_PORT_ATTR_PORT_ID.
2. SAI_BRIDGE_ATTR_UNKNOWN_UNICAST_FLOOD_GROUP
3. SAI_BRIDGE_ATTR_UNKNOWN_MULTICAST_FLOOD_GROUP
4. SAI_BRIDGE_ATTR_BROADCAST_FLOOD_GROUP

These attributes cause errors. First one is Ok to check via condition but 2-3 are valid only for 1D bridge and it does not seem to be in metadata, just a comment in SAI - https://github.com/opencomputeproject/SAI/blob/master/inc/

[2021-06-23 10:30] kcudnik commented on #7895
this valid for bridge type, is in comment, since SAI does not support mixed conditions yet (im working on it now, and this will be supported later) condition should be then like: @validonly bridge_attr_type == 1D and ( ... )

thanks for attaching syslog, form it i see that there are only those 4 attributes on BRIDGE which are producing errors, since there is only 1 bridge used in sonic (default on

[2021-06-23 15:08] zhangyanzhao commented on #7943
Expect CLI level validation. @jamiedawsonyoung  will take a look

[2021-06-23 15:10] zhangyanzhao commented on #7922
@xumia please take a look and evaluate

[2021-06-23 15:12] zhangyanzhao commented on #7912
@judyjoseph please review the PRs.

[2021-06-23 15:17] zhangyanzhao commented on #7879
For tracking purpose. @abdosi will take care

[2021-06-23 15:18] zhangyanzhao commented on #7862
@SuvarnaMeenakshi  platform specific issue. Talk to Joe on this.

[2021-06-23 15:19] zhangyanzhao commented on #7843
@qiluo-msft please take a look.

[2021-06-23 15:26] zhangyanzhao commented on #7935
@arlakshm please take a look

[2021-06-23 15:44] caizhenghui-juniper opened #7953 "[fwutil] update command reference for platform_components.json example"
#### Description

Since commit https://github.com/Azure/sonic-utilities/commit/fd7781b52d6b70d90505ca128277ce864cee7ab2#diff-dfdf5772988b97db10b1fe0354cbbe81a91f14939a9ba68091e5038990f50a13
The info field in component section is not valid anymore. But the command reference document is not updated for the change.
Example:
                "FPGA": {
                    "firmware": "/etc/<platform_nam

[2021-06-23 15:45] zhangyanzhao commented on #7953
@sujinmkang please take a look. Thanks. @nazariig

[2021-06-23 18:51] kcudnik commented on #7798
please attach full syslog and sairedis.rec from that encounter

[2021-06-23 19:20] vaibhavhd commented on #7798
Thanks Kamil! The older logs are attached.

But, here I am attaching the latest logs. Also, this issue is inconsistent, and thus I have also seen successful fast-reboot test results.

[syslog-fdb-error.txt](https://github.com/Azure/sonic-buildimage/files/6704367/syslog-fdb-error.txt)
[sairedis.rec.5.gz](https://github.com/Azure/sonic-buildimage/files/6704370/sairedis.rec.5.gz)

[2021-06-23 19:25] kcudnik commented on #7798
from first logs:
[code]
first line is where fdb is learned by hw, second where OA tries to explicitly create fdb
PS. log also contains notifications for port state change that arrive quickly since snoop is done, seems like they arrive right after switch is created before port_list query

[2021-06-23 19:58] kcudnik commented on #7798
from new attached logs, same scenario:
[code]
72:06:00:01:00:09 mac is learned and about 1.5 seconds later OA tries to create it, and fails since exist already, 1.5 sec seems a long time here compared to previous 0.02sec

[code]
i selected couple events here from sairedis.rec, switch is created ad 36 seconds, and first operations start sa 46, at 52 ports are getting up and also at 52 bridge ports

[2021-06-23 20:45] alexrallen opened #7956 "[DPB] Port Breakout Fails with "sonic_yang(3):All Keys are not parsed in CRM""
https://github.com/Azure/sonic-buildimage/pull/7195 introduced more potential leaves in the CRM Yang model, particularly...

`mpls_inseg_high_threshold`
`mpls_inseg_low_threshold`
`mpls_inseg_threshold_type`

and

`mpls_nexthop_high_threshold`
`mpls_nexthop_low_threshold`
`mpls_nexthop_threshold_type`

These needed to be added to the Yang model as it is currently causing Dynamic Port Breakout to f

[2021-06-23 21:12] robocoder99 opened #7957 "[DPB] show interface breakout throws error when BREAKOUT_CFG table not present"
When the user upgrades from a previous version of SONiC such as 202012 the table `BREAKOUT_CFG` is not automatically imported which is required for certain dynamic port breakout commands to function such as `show interface breakout` and `config interface breakout`

While the absence of `BREAKOUT_CFG` is an intentional design decision (see [this comment](https://github.com/Azure/sonic-buildimage/is

[2021-06-23 21:13] robocoder99 commented on #7402
@zhenggen-xu After some discussion locally, we are okay with BREAKOUT_CFG not being imported by default, however we do believe that this case should be handled elegantly by `show interface breakout` and `config interface breakout` so that the end user is not faced with a Python traceback for a flow that we intend (user attempts to use breakout -> user runs `config reload -l`)

Something like `CONF

[2021-06-23 21:33] alexrallen opened #7958 "[DPB] sonic-cfggen does not correctly match breakout modes with different default speed"
Currently sonic-cfggen does a very simple comparison between breakout modes in hwsku.json and supported modes in platform.json this means if you want to have a mode with a different default speed than is defined in platform.json

i.e. 1x10G[100G,50G] vs 1x100G[50G,10G]

Then you need an independent entry in platform.json. This is not best practice for these files as it will bloat quickly and becom

[2021-06-23 21:52] alexrallen opened #7959 "[DPB] BGP_NEIGHBOR yang model causing DPB errors"
https://github.com/Azure/sonic-buildimage/pull/6917 introduced a model for BGP_NEIGHBOR in Yang. However:

1. It does not support defining a neighbor without an explicit VRF
2. It does not support any fields inside a BGP_NEIGHBOR entry in CONFIG_DB such as asn or holdtime.

## Defining Neighbor without VRF

This model expects the neighbors to be defined as
[code]

where default is the VRF name and

[2021-06-23 22:37] xumia commented on #7922
@cpackham-atlnz , armhf can be built on arm64, should not a cross-build, it supports tests in the debian:armhf slave container. It takes time similar to amd64, about 5 hours, the same build takes 30+ hours using qemu. See https://dev.azure.com/mssonic/build/_build/results?buildId=16912&view=results

See https://thegeeklab.de/posts/run-arm32-docker-daemon-on-arm64-servers/

For cross build, it is a

[2021-06-23 23:06] robocoder99 commented on #7611
This has been verified resolved, the issue may be closed. Thanks.

[2021-06-23 23:56] robocoder99 commented on #7402
Given this, this issue may be closed.

[2021-06-24 01:10] praveen-li commented on #7956
The fix is to add new fields in CRM yang model...
as per https://github.com/Azure/sonic-buildimage/pull/7195

@qbdwlr

[2021-06-24 01:19] praveen-li commented on #7959
@robocoder99
-- Kindly paste relevant yang models field.

@venkatmahalingam
-- We need to check if grouping is supported  in Python yang library or not.
-- We need to add missing fields if these are allowable configs.

[2021-06-24 02:49] stephengzh opened #7962 "[SAI] Orchagent crash while announcing routes 6400"
#### Description

When deploying testbed with announcing routes 6400 (ansible/roles/vm_set/tasks/announce_routes.yml), the DUT syslog shows：

Jun 24 02:30:27.999251 ra-b6510-48v8c ERR syncd#syncd: [none] SAI_API_ROUTE:_brcm_sai_l3_route_config:3167 L3 route add failed with error Table full (0xfffffffa).
Jun 24 02:30:27.999251 ra-b6510-48v8c ERR syncd#syncd: [none] SAI_API_ROUTE:brcm_sai_create_rou

[2021-06-24 03:34] qbdwlr commented on #7956
@praveen-li CRM yang models were originally part of https://github.com/Azure/sonic-buildimage/pull/7195, but were removed due to yang sub-group review scheduling.  init_cfg.json.j2 changes here should have been moved to the new yang model PR https://github.com/Azure/sonic-buildimage/pull/7881.

[2021-06-24 10:14] lolyu opened #7968 "[static route] No arp entries for nexthops in the static route after config reload"
#### Description
* After config reload, there are no arp entries for those nexthops in the static route added by the test, thus the IO test failed.

#### Steps to reproduce the issue:
1. increase the IO packet count from 1 to 10000
1. run `test_static_route.py::test_static_route_ecmp`

#### Describe the results you received:
1. after config reload, verify the static route existence
[code]
2. verif

[2021-06-24 10:27] lolyu commented on #7968
@prsunny, could you please check this issue? Thanks!

[2021-06-24 10:33] wangxin opened #7969 "[dualtor] too many linkmgr logs caused rsyslogd rate-limiting"
#### Description

The linkmgrd outputs too many logs for each of its interface connected to mux cable. This could cause message lost due to rate-limiting of rsyslogd. When the issue is triggered, below message can be observed in syslog:
[code]

#### Steps to reproduce the issue:
1. When SONiC switch is running idle, the linkmgrd keeps logging INFO level messages like below for each interface conne

[2021-06-24 12:14] vemulabalaji commented on #6641
Observed same issue on BCM boards. sonic_platform module not found. (Image: SONiC.202012.0-b4832d40a)

root@sonic:~# show system-health summary
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/show/system_health.py", line 21, in summary
    if os.environ["UTILITIES_UNIT_TESTING"] == "1":
  File "/usr/lib/python3.7/os.py", line 678, in __getitem__
    raise KeyError

[2021-06-24 22:08] vaibhavhd opened #7974 "[warmboot] OA crash: INIT_VIEW failure "SELECT operation result: TIMEOUT on notify""
#### Description

OA crashes when warmboot process fails at INIT_VIEW with `ERR swss#orchagent: :- wait: SELECT operation result: TIMEOUT on notify`

#### Steps to reproduce the issue:
1. Install latest 202012 image
2. Issue warm-boot via CLI
3. Check syslog

#### Describe the results you received:

INIT VIEW failure causing OA crash:
[code]

SAIREDIS:

[code]
#### Describe the results you expecte

[2021-06-25 00:31] vaibhavhd commented on #7974
This is a regression. There is a kernel segfault seen in syncd, and core is generated.
This issue was not present in prev 202012 image which had `4.3.3.5-3` SAI.

[code]

[2021-06-25 01:25] vaibhavhd commented on #7974
From analyzing the coredump file, it appears that `syncd::VendorSai::create` call failed at bcm SAI method `_brcm_sai_egress_leak_chk`.

[code]

The call to `VendorSai::create` was

[code]

[2021-06-25 01:29] vaibhavhd commented on #7974
@gechiang, from the above observation I think SAI version `4.3.3.8` is not good.
Moreover, I also see that error here is at `_brcm_sai_egress_leak_chk` and in the latest SAI for 202012 branch we had a fix for egress create. MAY BE, this fix caused the regression?

`CS00012183303: Fix HLX Platform SAI_API_NEIGHBOR:_brcm_sai_nbr_bcast_ip_create:3537 egress create failed`

[2021-06-25 02:52] gechiang commented on #7974
The fix patch for CS00012183303 did not include _brcm_sai_egress_leak_chk().  I did verify it manually by patching it on top of 4.3.3.7 and validated that it fixes the issue reported by CS00012183303 .  I will open a new case with BRCM to ask them to check which CSP this new leak check is introduced for...

[2021-06-25 05:21] venkatmahalingam commented on #7959
@robocoder99
It does not support any fields inside a BGP_NEIGHBOR entry in CONFIG_DB such as asn or holdtime.
-> We have these fields in the BGP_NEIGHBOR table, did you get any error for these fields? since the key is different (expect VRF anem as well) now in YANG, how did you get to check the fields?

[2021-06-25 08:21] gechiang commented on #7974
I have opened a CSP with BRCM for this CS00012196056
A temporarily workaround for this crash was suggested by @yxieca and was part of the following PR:
https://github.com/Azure/sonic-buildimage/pull/7979

[2021-06-25 13:11] kcudnik commented on #7895
@stepanblyschak I added support for SAI mixed conditions https://github.com/opencomputeproject/SAI/pull/1255 so that validonly could be now fixed for bridge 1D here https://github.com/opencomputeproject/SAI/blob/master/inc/saibridge.h#L502

[2021-06-25 13:15] kcudnik commented on #7140
We spent some time with Shlomi to figure out what’s happening during fast boot sync mode, and why it was extending over 30 seconds, and here are our findings so far:

Just looked at those (those are 202012 with qos orch removed from OA for testing), and in
* async mode hostif oper status is right after port ntfs, create switch at 06:36:46 and last hostif oper status at 06:37:11, in total 25 second

[2021-06-25 16:46] tahmed-dev commented on #7969
Thanks @wangxin for your reporting. Linkmgrd has ability to switch its verbosity, Please send `SIGUSR1` to the process to toggle between available log verbosity levels.

[2021-06-25 17:00] robocoder99 commented on #7959
@venkatmahalingam  Please see my "steps to reproduce section" this includes all details to produce a minimal recreation of the bug.

[2021-06-25 18:29] tahmed-dev commented on #7969
closing this issue.

[2021-06-25 18:29] #7969 closed

[2021-06-25 22:40] vivekreddynv commented on #7508
Update: sonic.target cancelled can be easily reproduced even without running config reload -y.

[code]

This happens because, stop job on sonic.target gets cancelled if there is a conflicting job installed even for one of it's dependent stop jobs

[2021-06-26 12:57] abhiranjeet commented on #6256
Hi, I have been trying to do the same thing. And I am getting the exact same error. By any chance, were you able to solve this ?

[2021-06-26 13:08] abhiranjeet commented on #7767
Hi, I just tried the same build but with 1 difference : `PLATFORM_ARCH=arm64`
It worked fine with no errors. But `make all` does not seem to work. Is it WIP ?

[2021-06-27 14:39] raphaelt-nvidia opened #7988 "[mirroring] Session on source portchannel is active when portchannel has no members"
#### Description

According to HLD:

Mirror session on source portchannel will be active if at least one port is part of portchannel.
Mirror session on source portchannel will become inactive when portchannel has no members.

In fact, creating a SPAN session whose only source is a portchannel with no members shows the session as active.

#### Steps to reproduce the issue:
1. config portchannel add

[2021-06-27 15:26] raphaelt-nvidia opened #7989 "[mirroring] Portchannel as destination rejected with errors by orchagent"
#### Description

The HLD hints that a portchannel might be valid as a mirror session destination:

Existing CLI 'config mirror_session add/remove' to be extended to include destination port/portchannel.

But MirrorOrch::validateDstPort() explicitly rejects any port type other than PHY.

Two possibilities:

1) Allowing LAG as destination was intentional.  If so, MirrorOrch::validateDstPort() shoul

[2021-06-27 15:56] raphaelt-nvidia opened #7990 "[mirroring] Missing type validations in config mirror-session command"
#### Description

Things that are not checked at CLI level in config mirror-session include:
•	Queue is a uint8
•	TTL is a uint8
•	DSCP is a unit8
•	Source and destination IPs have valid IP address format.

What all in the above paragraph have in common is that the HLD of 10/2020 prescribes Yang model validation for them.  There is currently no such validation; there is only this file https://gith

[2021-06-28 04:47] venkatmahalingam commented on #7959
Created the PR https://github.com/Azure/sonic-buildimage/pull/7992/files to fix this issue.

[2021-06-28 07:43] DavidZagury opened #7993 "[pcied] daemon is in FATAL state when system starts"
#### Description
The pcied damon does not start.
It crashes when trying to start it and enters FATAL state.

#### Steps to reproduce the issue:
1.  Load switch
2.  Enter pmon contianer
3.  Check pcied status

#### Describe the results you received:
Pcied daemon crashes when trying to start it.

#### Describe the results you expected:
Pcied daemon should load.

#### Output of `show version`:
Image

[2021-06-28 12:46] liat-grozovik commented on #7993
@sujinmkang could you please take a look? this is a result of recent changes in master I believe. Lets not take into 202012 until it is clear we have stable changes in master.

[2021-06-28 19:28] prsunny opened #8001 "[MSN3800 Warmboot] Linkdown after warmboot"
#### Description
Link stays down after warmboot on MSN3800. Issue is observed with ports with FEC disabled. On FEC enabled ports, the issue was resolved as part of https://github.com/Azure/sonic-buildimage/pull/7806

#### Steps to reproduce the issue:
1. Admin down of ports (FEC disabled)
2. Perform warmboot
3. Admin up the ports

#### Describe the results you received:
After step 3, port stays op

[2021-06-28 23:34] yxieca commented on #7798
I think @kcudnik 's either suggestion is good. But I want to point out:
1. The meta function is not changed for long time. Why did we not see this issue earlier?
2. This is a sonic bug. the second creating call didn't reach SAI, it failed in meta functions.

[2021-06-29 00:55] robocoder99 commented on #7782
@zhenggen-xu  I have located the root cause of this problem.

In the log, the host interface is successfully removed
[code]
However this happens before the lag membership entry is removed.

In the lag removal attempt we see this log line....
[code]

Checking the source code for this function [here](https://github.com/Azure/sonic-swss/blob/master/orchagent/portsorch.cpp#L4767)
[code]
`portsorch` co

[2021-06-29 07:34] kcudnik commented on #7798
Ad1. thats a good question, maybe we have been lucky ? if i remember correctly @vaibhavhd was saying that this error is present for some time, and i pointed out in previous post that would be nice to have history of this test run so we could corelate this to PR that might cause this issue to start

Ad2. what do you mean second creating call ? each fdb entry is created only once explicitly by OA, a

[2021-06-29 21:29] vikneels opened #8020 "Orchagent exits is -i parameter gets exercised . Either via asic_id in config_db.json or via ORCHAGENT_ARGS"
Description
When we pass asic_id to orchagent as part of the ORCHAGENT ARGS via -i parameter, orchagent exits.
ORCHAGENT_ARGS+="-i /dev/uio10 "
--> this would set the gAsicInstance in orchagent, which would in turn add attribute
  if (!gAsicInstance.empty())
    {
        attr.id = SAI_SWITCH_ATTR_SWITCH_HARDWARE_INFO;
        attr.value.s8list.count = (uint32_t)gAsicInstance.size();
        // TO

[2021-06-30 03:43] bahirul opened #8025 "can't receive ospf packets from switch interfaces."
#### Description

#### Steps to reproduce the issue:
1. Running ospf on switch interface Ethernet0
2. tcpdump show hello packet send
3. no reply response from neigbor

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens

[2021-06-30 05:39] shi-su opened #8026 "Cannot reach the first 256 addresses in specific VLANs"
#### Description
Cannot reach the first 256 addresses in VLANs with specific prefixes other than 192.168.0.1/21 (e.g., 192.168.16.1/21)

#### Steps to reproduce the issue:
1. Deploy a t0 testbed with the VLAN prefix here https://github.com/Azure/sonic-mgmt/blob/master/ansible/vars/topo_t0.yml#L60 changed to a prefix other than 192.168.0.1/21 (192.168.16.1/21 in this issue as an example) and redepl

[2021-06-30 06:17] vivekreddynv opened #8027 "[bgpcfgd] Couldn't configure a Static Route without BGP_ASN field"
#### Description

Configuring a Static Route fails when there is no ASN field in the DEVICE_METADATA table of Config DB.
Just for configuring a Static Route, a BGP_ASN shouldn't have been required

#### Steps to reproduce the issue:
[code]

The StaticRouteMgr throws the corresponding log.
`Jun 30 03:10:15.313990 sonic DEBUG bgp#bgpcfgd: Not all dependencies are met for the Manager: <class 'bgpcfgd

[2021-06-30 20:07] vaibhavhd opened #8031 "[202012] Fail to program configurable drop counters: "create status: SAI_STATUS_INSUFFICIENT_RESOURCES"
#### Description

#### Steps to reproduce the issue:
1. Install latest of 202012 image on dualtor testbed
2. Via CLI, issue cmd: `config dropcounters install TEST PORT_INGRESS_DROPS L3_EGRESS_LINK_DOWN`
3. Check syslog for errors

#### Describe the results you received:
[code]

#### Describe the results you expected:
Drop counters should be configurable, and no errors should be seen.

#### Output

[2021-06-30 20:16] vaibhavhd commented on #8031
This issue has been failing the `test_configurable_drop_counters`

[2021-06-30 20:43] vaibhavhd commented on #8031
The error was also seen on older image 202012.02, SAI 4.3.3.5-3

[2021-06-30 21:01] vaibhavhd opened #8032 "Image installation failure caused by sonic-package-manager"
#### Description

Master image installation fails with errors from `sonic-package-manager`.

#### Steps to reproduce the issue:
1. Install latest master on SONiC device.
2. The installation will fail with errors from sonic-package-manager.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:

Image installation should succeed without errors.

#### Output of `

[2021-06-30 23:16] prsunny commented on #8031
L3_EGRESS_LINK_DOWN is part of the capabilities. Should ideally be supported.

[2021-07-01 01:38] prsunny commented on #8026
is it a ptf issue or dut isssue?

[2021-07-01 15:22] stepanblyschak opened #8036 "[crm] error in logs querying for SAI_OBJECT_TYPE_INSEG_ENTRY"
#### Description

Errors in logs querying for SAI_OBJECT_TYPE_INSEG_ENTRY found on switch that does not support them.

#### Steps to reproduce the issue:
1. Boot switch and ```show log -f | grep ERR ```

#### Describe the results you received:

[code]

rv:-5 means SAI_STATUS_INVALID_PARAMETER - this is our SAI issue which will be resolved but in any case the current code does not check for not sup

[2021-07-01 16:05] vaibhavhd commented on #8032
@volodymyrsamotiy pointed out that this issue is a regression after this PR: #7598
"After these changes “packages.json” generation is broken."

[2021-07-01 16:10] vaibhavhd commented on #8036
This is likely a duplicate of https://github.com/Azure/sonic-buildimage/issues/7933

[2021-07-01 16:24] vaibhavhd commented on #8031
@prsunny, @gechiang should we raise a CSP with Broadcom for this?

[2021-07-01 16:27] gechiang commented on #8031
I will open a CSP for this. Thanks!

[2021-07-01 16:28] gechiang commented on #8031
@vaibhavhd Is this only failing for TD3 platform and not seen on other BRCM based platforms such as S6100, 7260CX3, DX010,... etc?

[2021-07-01 17:18] gechiang commented on #8031
On S6100 and 7260 no issue found when same command issued:
[code]

[2021-07-01 17:28] gechiang commented on #8031
BRCM Case CS00012197146 filed

[2021-07-01 19:31] #7132 closed

[2021-07-01 20:00] gechiang commented on #8031
manually re-ran the offending testcase but this time it seems to not have caused the error...
We need to figure out if any other prior testcase run may be required before hitting this issue...
Will lower the BRCM case priority till we get more details on it.

[2021-07-01 20:10] judyjoseph commented on #8032
I see that this sonic_install failure happens when we install a new version of master image - with the DUT already running master.

Sonic_install works fine when upgrading from older version like 201811/201911 --> this master image

   On a code browse, I see this as one of the probable reasons. The logic in this new file files/build_templates/packages.json.j2 needs to be updated with the _MACHINE

[2021-07-02 01:51] bingwang-ms opened #8038 "test_pfc_pause/unpause were consistently failing"
#### Description

```test_pfc_pause``` and ```test_pfc_unpause``` were consistently failing since 202012.05.
[code]
pfc counters on all interfaces are ```0```, which should be ```10``` by default.
The most interesting thing is both cases will pass consistently when manually run. They are only failing during nightly regression test. So probably it's a test issue or testbed issue.

#### Steps to rep

[2021-07-02 14:10] OleksandrKozodoi commented on #7941
A similar issue was reproduced in the past and was fixed by [**1573**](https://github.com/Azure/sonic-swss/pull/1573). Probably that issue relates to new fails of test_sub_port_interfaces.

[2021-07-02 17:39] #7434 closed

[2021-07-02 19:23] vaibhavhd commented on #7919
This issue is not seen on latest master.

[2021-07-02 19:23] #7919 closed

[2021-07-02 21:38] vaibhavhd opened #8048 "[warmboot] vlan_port_down SAD case failure: downstream traffic loss before warmboot"
#### Description

Warm reboot SAD testcase `vlan_port_down` is failing consistently. This is a regression. Last good image: SONiC-OS-20201231.01

The error may not be with vlan_port_down case, but with the preceeding sad-case(s) which left DUT in bad state.
More information to be added here.

#### Steps to reproduce the issue:
1. Run test `platform_tests.test_advanced_reboot.test_warm_reboot_multi

[2021-07-03 05:56] zhenggen-xu commented on #7782
OK, can you raise a PR to fix this issue as you can reproduce the issue?  Probably we can check the host interface status before we operate the VLAN tag?

[2021-07-04 09:10] kcudnik commented on #7895
I corrected bridge 1D validonly condition, since mixed conditions support was added: https://github.com/opencomputeproject/SAI/pull/1271

[2021-07-05 05:22] arunlk-dell commented on #7644
@aledwmorris , changes are merged thru https://github.com/Azure/sonic-buildimage/pull/7930.
Can you verify the behavior with the latest build.

[2021-07-05 10:08] aledwmorris commented on #7644
Great, can you re-enable the Jenkins pipeline and I'll take a snapshot from there

https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/

unless you can point me to a snapshot I can download directly?

[2021-07-05 10:53] arunlk-dell commented on #7644
https://sonic-build.azurewebsites.net/ui/sonic/pipelines/138/builds?branchName=master

[2021-07-06 03:16] nicwu-cel opened #8067 "failed to build target/debs/stretch/python-click_6.7-4_all.deb on branch 201911 on 2021/7/6"
#### Description

#### Steps to reproduce the issue:
1. git clone  https://github.com/Azure/sonic-buildimage.git
2. git checkout 201911 origin/201911
3. make init
4. reuse the stretch docker images by modifying Makefile and Makefile.work
5. make configure PLATFORM=innovium
6. make target/debs/stretch/python-click_6.7-4_all.deb

#### Describe the results you received:
[ FAIL LOG START ] [ target/de

[2021-07-06 05:36] nicwu-cel opened #8068 "failed to build "target/debs/stretch/sonic-platform-cameo-esc601-32q_1.0.0_amd64.deb" and "target/debs/stretch/sonic-platform-wistron-sw-to3200k_1.1_amd64.deb" on branch 201911 on 2021/7/6"
#### Description

#### Steps to reproduce the issue:
1. git clone  https://github.com/Azure/sonic-buildimage.git
2. git checkout 201911 origin/201911
3. make init
4. reuse the stretch docker images by modifying Makefile and Makefile.work
5. make configure PLATFORM=innovium
6. make target/debs/stretch/sonic-platform-cameo-esc601-32q_1.0.0_amd64.deb
7. make target/debs/stretch/sonic-platform-wistron

[2021-07-06 08:05] #8038 closed

[2021-07-06 09:49] dprital opened #8071 "Removal of LAG with no members takes around 1 sec on 202012"
Recently we have faced one very strange degradation in LAGs deinit process which requires your attention.
It takes place in 202012 while works perfectly fine in 201911.

The bug is caused by teamd.service long deinit time:

Jun 29 12:19:05.007799 sonic NOTICE teamd#teammgrd: :- removeLag: Stop port channel PortChannel57
Jun 29 12:19:05.023175 sonic NOTICE swss#portsyncd: :- onMsg: nlmsg type:16 ke

[2021-07-06 18:21] lguohan commented on #8048
may related to this https://github.com/Azure/sonic-mgmt/pull/3650

[2021-07-06 18:22] theasianpianist opened #8077 "[drop_counters] Packets with incorrect header attributes not dropped"
Occurs for three scenarios:

1. Packet contains VLAN tag and is sent to a non-VLAN port (packet is forwarded instead of being dropped)
2. Packet missing IP header and is sent to a VLAN port (packet is flooded instead of being dropped)
3. Packet with malformed IP header (incorrect version and/or ihl values) and is sent to a VLAN port (packet is flooded instead of being dropped)

These issues are be

[2021-07-06 18:23] theasianpianist commented on #8077
Currently waiting for brcm to repro and respond

[2021-07-06 18:25] vaibhavhd commented on #8048
sonic-mgmt issue for the same: https://github.com/Azure/sonic-mgmt/issues/3738

[2021-07-06 19:19] theasianpianist opened #8078 "[drop_counters] test needs to be made compatible with dual ToR"

[2021-07-07 00:10] theasianpianist opened #8080 "[dualtor] heartbeat failure tests have incorrect allowed disruption time"

[2021-07-07 00:11] theasianpianist opened #8081 "[dualtor] multiple traffic tests report traffic disruption prior to/at beginning of the test"
Fixed by https://github.com/Azure/sonic-mgmt/pull/4074

[2021-07-07 00:16] theasianpianist opened #8082 "[dualtor] IPinIP test_decap_standby_tor reports unexpected tunnel traffic"
[code]

[2021-07-07 00:17] theasianpianist opened #8083 "[dualtor] orchagent test_active_tor_remove_neighbor_downstream_active failed to find expected packet"
[code]

[2021-07-07 00:18] theasianpianist opened #8084 "[dualtor] orchagent test_downstream_ecmp_nexthops reports uneven distribution of packets"
[code]

[2021-07-07 00:21] theasianpianist opened #8085 "[dualtor] orchagent test_mac_move fails"
[code]

[2021-07-07 00:22] theasianpianist opened #8086 "[dualtor] test_orchagent_slb fails"
[code]

[2021-07-07 00:23] theasianpianist opened #8087 "[dualtor] orchagent test_downstream_standby_mux_toggle_active fails"
[code]

[2021-07-07 00:24] theasianpianist opened #8088 "[dualtor] orchagent test_standby_tor_downstream_t1_link_recovered fails"
[code]

[2021-07-07 00:24] theasianpianist opened #8089 "[dualtor] orchagent test_standby_tor_remove_neighbor_downstream_standby fails"
[code]

[2021-07-07 00:27] theasianpianist opened #8090 "[dualtor] test_server_down fails and experiences teardown failure"
The test is unable to toggle the mux simulator

[code]

During teardown, the test also experiences a failure since the majority of the test body never ran

[code]

[2021-07-07 00:28] theasianpianist opened #8091 "[dualtor] orchagent test_standby_tor_upstream_mux_toggle fails"
[code]

[2021-07-07 00:29] theasianpianist opened #8092 "[dualtor] test_dscp_to_queue_during_decap_on_active fails"
[code]

[2021-07-07 00:37] theasianpianist opened #8093 "[acl] multiple TestAclWithPortToggle and TestAclWithReboot fail because expected packet was not received"
Possible because port toggle and reboot can induce a mux switchover, and the current test cases are not looking for the expected packets on both ToRs.

~This PR may help: https://github.com/Azure/sonic-mgmt/pull/3486~

I have confirmed that the linked PR fixes this issue

[2021-07-07 00:42] theasianpianist opened #8094 "[arp] test_proxy_arp fails"
[code]

[2021-07-07 00:44] theasianpianist opened #8095 "[autorestart] teamd autorestart test fails postcheck"
[code]

[2021-07-07 00:45] theasianpianist opened #8096 "[bgp] test_bgp_speaker_announce_routes fails"
[code]

[2021-07-07 00:46] theasianpianist opened #8097 "[bgp] test_bgp_speaker_announce_routes_v6 fails"
[code]

[2021-07-07 00:47] theasianpianist opened #8098 "[decap] test_decap fails"
[code]

[2021-07-07 00:50] theasianpianist opened #8099 "[dhcp_relay] multiple test cases fail"
multiple failures with the same message:
[code]

[2021-07-07 00:51] theasianpianist opened #8100 "[drop_packets] multiple test cases fail because not all dropped packets captured by counter"
[code]

[2021-07-07 00:52] theasianpianist opened #8101 "[drop_counters] test_configurable_drop_counters.test_neighbor_link_down[PORT_INGRESS_DROPS-L3_EGRESS_LINK_DOWN] fails because drop counter not incremented"
[code]

[2021-07-07 00:53] theasianpianist opened #8102 "[fdb] test_fdb for arp_reply, arp_request, and ethernet fail because expected packet not received"

[2021-07-07 00:54] theasianpianist opened #8103 "[fib] test_hash[ipv6] fails"
[code]

[2021-07-07 00:55] theasianpianist opened #8104 "[memory_checker] test_memory_checker failed to stop telemtry container"
[code]

[2021-07-07 00:55] theasianpianist opened #8105 "[sanity_check] mux simulator sanity check fails"

[2021-07-07 00:58] theasianpianist opened #8106 "[qos] multiple test cases fail"

[2021-07-07 00:59] theasianpianist opened #8107 "[qos_sai] multiple test cases fail"

[2021-07-07 01:00] theasianpianist opened #8108 "[radv] test_radv_ipv6_ra fails because expected packet not received"
[code]

[2021-07-07 01:01] theasianpianist opened #8109 "[route] test_static_route_ecmp ipv4 and ipv6 failures because expected packet arrives on wrong port"

[2021-07-07 01:02] theasianpianist opened #8110 "[sub_port_interfaces] multiple test cases fail because expected packet not received"

[2021-07-07 01:03] theasianpianist opened #8111 "[vlan] multiple test cases fail"
[code]

[2021-07-07 01:14] vganesan-nokia opened #8112 "[multi-asic][voq][minigraph] For minigraph does not add admin_status attribute for voq inband interface port"
#### Description

For VOQ chassis, in the config_db.json generated by minigraph, "admin_status" attribute is missing for the VOQ inband interface port in the PORT table.

#### Steps to reproduce the issue:

1. Have an minigaphy.xml file in /etc/sonic with voq chassis configurations. The xml file has Ethernet-IB port in PORT table.
2. Reboot the chassis
3.
#### Describe the results you received:

-

[2021-07-07 01:14] vganesan-nokia commented on #8112
PR https://github.com/Azure/sonic-buildimage/pull/8050 if the fix for this issue

[2021-07-07 01:14] theasianpianist commented on #8086
test should be using `wait_until` or similar method and continuously poll for 60 secs

[2021-07-07 01:17] theasianpianist commented on #8087
Test should continuously check queue counters for up to 60 sec.

[2021-07-07 01:19] theasianpianist commented on #8087
https://github.com/Azure/sonic-mgmt/blob/d2eaa907a99e5d4f85b54e47cbe70dbb81bb0c89/tests/common/dualtor/tunnel_traffic_utils.py#L116

[2021-07-07 01:25] vganesan-nokia opened #8113 "[multi-asic][voq][cli] CLI commands executed from voq chassis linecard attempts to connect to chassis db in supervisor card"
#### Description

Currently, for all the cli commands, we connect to all databases mentioned in the database_config.json. The database_config.json also includes the databases from chassis redis server from supervisor card. It is unnecessary to connect to databases from chassis redis server in supervisor card when cli commands are executed form linecard. But we need to allow connection to chassis d

[2021-07-07 01:27] vganesan-nokia commented on #8113
sonic-buidimage PR https://github.com/Azure/sonic-buildimage/pull/8065 and sonic-utilities PR https://github.com/Azure/sonic-utilities/pull/1707 together fix this issue

[2021-07-07 01:30] theasianpianist commented on #8094
should discuss offline if this needs to be run on dual ToR, or if single ToR only is sufficient

[2021-07-07 01:44] theasianpianist commented on #8099
Assign to Tianrong

[2021-07-07 01:46] theasianpianist commented on #8101
Possible related to https://github.com/Azure/sonic-buildimage/issues/8031

[2021-07-07 01:54] theasianpianist commented on #8108
Assign to Prince George

[2021-07-07 10:12] larryming commented on #2042
Is this issue resolved? I am interested in the solution.

[2021-07-07 10:14] nazariig commented on #7953
@caizhenghui-juniper / @zhangyanzhao FYI: https://github.com/Azure/sonic-utilities/pull/1708

[2021-07-07 10:49] #7462 closed

[2021-07-07 12:23] kevinskwang commented on #8109
Created a PR to fix this issue at [#PR3740](https://github.com/Azure/sonic-mgmt/pull/3740).

[2021-07-07 14:47] chitra-raghavan opened #8119 "While generating configs through sonic-cfggen , two sets of "DEVICE_METADATA" and "PORT" are created and loading config fails ."
#### Description

While generating configs through sonic-cfggen , two sets of DEVICE_METADATA and PORT sets are created  and  loading config  fails .
ASIC: TH3
SKU: DellEMC-Z9332f-M-O16C64

#### Steps to reproduce the issue:
1.  sonic-cfggen -H -k DellEMC-Z9332f-M-O16C64 -H --preset l2 --print-data >  config_db.json

#### Describe the results you received:
Config_db should get loaded without any e

[2021-07-07 15:06] zhangyanzhao commented on #8119
Looks like sonic-cfggen issue.

[2021-07-07 15:17] dprital commented on #6693
It looks like this issue was not fixed:

config interface ip add Ethernet32 198.18.32.0/24 NOT FIXED

config interface ip add Ethernet34 198.18.34.255/24 FIXED PARTIALLY – no IP added to interface but no error message about wrong IP address and user not informed why this IP was not added to system

config interface ip add Ethernet40 10.0.0.0/7 NOT FIXED

config interface ip add Ethernet42 0.0.0.1/

[2021-07-07 15:18] zhangyanzhao commented on #6693
Issue still exists. @dprital please provide more info

[2021-07-07 15:25] zhangyanzhao commented on #7958
@alexrallen  please provide more detail on your proposal.

[2021-07-07 15:28] zhangyanzhao commented on #7957
@zhenggen-xu please evaluate this suggestion to improve the error message. Thanks.

[2021-07-07 15:31] alexrallen commented on #7958
To resolve this we would improve `sonic-cfggen` to intelligently match port breakout configurations from hwsku.json to the supported ones defined in platform.json

This would require parsing the breakout string and matching using logic rather than string comparison.

A breakout configuration with the *same supported speeds* and a different *default speed* should be considered functionally equivale

[2021-07-07 15:45] liat-grozovik commented on #7956
@smaheshm can you please help to take it with the owner of #7195

[2021-07-07 17:05] #8105 closed

[2021-07-07 21:11] gechiang opened #8121 "[Mellanox SAI] MAC Station Move missing MAC AGED event causing WARNING"
#### Description

While simulating MAC station move scenario found Mellanox SAI is miss reporting the AGED event.
We understand that currently the MAC STATION Move event is not yet implemented by most SAI vendors and the way to handle MAC station move is to by notifying SONiC application via 2 events (simulate the MAC aged and then simulate that the MAC is learnt on a new interface:
[code]
But on

[2021-07-07 21:45] #8084 closed

[2021-07-08 00:46] #8048 closed

[2021-07-08 03:47] seanwu-ec opened #8123 "[PDDF] Request to add psu_vout_max, psu_vout_min attributes"
#### Description
While SystemHealthMonitor would like to verify PSU's voltage (despite it can be ignored via config),  I wish we can

1. Add psu_vout_max, psu_vout_min attributes to pddf psu driver at
https://github.com/Azure/sonic-buildimage/blob/3b3012791311ea7724975c8485236a0ee88d7510/platform/pddf/i2c/modules/psu/driver/pddf_psu_driver.c#L96
2. Add get_voltage_high_threshold() and get_voltage_

[2021-07-08 05:40] nazeerhussainf opened #8124 "Issue in transceiver eeprom during OIR"
problem with "show interfaces transceiver eeprom -d"

We now have .06 installed on the switch and I have found a new, but seemingly related, issue.

When we installed .06 and rebooted/reloaded the switch, the eeprom data from the ONet AOCs seemed to be correct. Then, today, I continued with my testing and started getting test failures during out hotswap test. This is the test where we check the fu

[2021-07-08 06:37] gechiang commented on #8119
I was able to reproduce this issue as well over a S6100 DUT.  So this is not a specific issue with TH3.
It appears that the option "--preset l2" is already including the META_DATA and PORT Configuration while the hwsku option also included the META_DATA and PORT already... Will investigate deeper to see if this is broken recently or the bug has been there for a while...

[2021-07-08 07:39] akokhan commented on #8111
We see the same issue on SONiC master - VLAN TCs are failing.

This is because of IP add/remove validation added by https://github.com/Azure/sonic-utilities/pull/1414 . The validate_ip_mask() (https://github.com/Azure/sonic-utilities/blob/888701b67fd4f1cc5b9da534a360048f93f263f4/config/main.py#L807) not just validate user-provided IP but also can modify it.

E.g., `"FC00::71/126"` will be converte

[2021-07-08 07:55] akokhan commented on #8111
@lguohan , @prsunny , @jleveque , how would you suggest to proceed?

[2021-07-08 09:41] seanwu-ec opened #8129 "[PDDF] PSU fan status is always NOT OK while thermalctld is enabled"
#### Description

PSU Fan status is always NOT OK while pmon's thermalctld is enabled. As below:
[code]

## Suggestion
While it is PSU fan, PddfFan.get_target_speed() should raise NotImplementedError instead of returning 0.
https://github.com/Azure/sonic-buildimage/blob/4f2bc1fbeddc49af62c8f1acb748e251d043e792/platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan.py#L227
Otherwise

[2021-07-08 16:58] d-dashkov commented on #8111
@akokhan A case with IP address transformation was added to resolve this issue https://github.com/Azure/sonic-buildimage/issues/6776 and validate_ip_mask() should check the mask and IPs, but additionally it turned out that ipaddress.ip_address() could correct similar cases "10.10.10.002/24" to "10.10.10.2/24 ". If this causes problems, I propose to slightly change validate_ip_mask() and return 0 i

[2021-07-08 20:25] #7798 closed

[2021-07-08 21:09] vikneels commented on #8020
Can we please take a look at this one?

[2021-07-09 00:02] #8078 closed

[2021-07-09 00:38] gechiang commented on #8119
@lguohan
The root cause is somewhat caused by the following PR as well as user usage error...
https://github.com/Azure/sonic-buildimage/pull/4941
Which allowed both options "--preset l2" and "--print-data" to be specified as parameters at the same execution iteration.  This was not allowed previously and both were set to mutually exclusive of each other.  If both are allowed we see this duplicatio

[2021-07-09 01:21] theasianpianist opened #8136 "[vlan] All cases fail on 7050cx3 single ToR"

[2021-07-09 06:11] chitra-raghavan commented on #8119
@gechiang , thanks will close this issue

[2021-07-09 06:11] #8119 closed

[2021-07-09 08:30] akokhan commented on #8111
@d-dashkov , thanks for providing details. I believe that the function that intent to validate input parameters should not modify them. In this case, the IP addresses are used as a part of Redis keys. So, the impact can be unexpected like in case of VLAN TCs failure. So, as for me, it totally make sense to modify `validate_ip_mask()` to return 0 instead of changing the IP.
Could you fix it proper

[2021-07-09 09:26] archidote commented on #5880
in my case that was a problem with udp traffic.

so in the bottm of my client configuration file, I have added the following line :

*.* @@192.168.0.101:514

@@  = TCP
@ = UDP

I hope that it will help you

[2021-07-09 09:41] #7745 closed

[2021-07-09 09:42] irene-pan1202 commented on #7745
Refer to Azure/sonic-linux-kernel#198

[2021-07-09 15:41] qiluo-msft opened #8140 "[snmp] test_snmp_default_route failure"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-07-09 18:34] theasianpianist commented on #8100
duplicate of https://github.com/Azure/sonic-buildimage/issues/8078

[2021-07-09 21:24] #8027 closed

[2021-07-10 02:04] judyjoseph commented on #8032
Closing the issue as fix is merged viz commit https://github.com/Azure/sonic-buildimage/pull/8044

[2021-07-10 02:04] #8032 closed

[2021-07-10 03:02] nicwu-cel commented on #8067
Don't reuse previous docker image to build SONiC can fix this issue

[2021-07-10 03:02] #8067 closed

[2021-07-10 03:02] nicwu-cel commented on #8067
Don't reuse previous docker image to build SONiC can fix this issue

[2021-07-10 13:53] wangxin opened #8149 ""chroot: failed to run command ‘/usr/lib/docker/docker.sh’: No such file or directory" in sonic-installer log"
#### Description

Observed error message "chroot: failed to run command ‘/usr/lib/docker/docker.sh’: No such file or directory" in sonic-installer log while installing internal-202012 image (SONiC-OS-internal-202012-20210710-0230.post-merge).

The issue is only observed while installing [this image](https://artprodeussu2.artifacts.visualstudio.com/A41bf5486-7392-4b7a-a7e3-a735c767e3b3/b32aa71e-8ed

[2021-07-10 14:19] wangxin opened #8150 "BGP allow list is not working on 202012 image"
#### Description

When BGP allow list is enabled and default action is "permit", the default derop_community configured in `/etc/sonic/constants.yml` should be added to routes not on allow list.

#### Steps to reproduce the issue:
1. Bring up a t1-lag topology.
2. Check ip routes on neighbors.
3.

#### Describe the results you received:
By default, allow list is empty, SONiC switch should add the

[2021-07-10 18:14] lguohan commented on #8150
@abdosi, can you take a look at this issue?

[2021-07-10 18:16] lguohan commented on #8149
@stepanblyschak , can you take a look at this issue?

[2021-07-11 12:44] qiluo-msft commented on #8140
Found error message in syslog
[code]

[2021-07-11 14:16] akokhan commented on #8136
I think this duplicates https://github.com/Azure/sonic-buildimage/issues/8111

[2021-07-11 20:11] zhangyanzhao commented on #4961
@zhanggongc can we close this issue since it is a known limitation without further action left?

[2021-07-11 20:22] zhangyanzhao commented on #3942
@MaxYaremchuk  would you please verify and close this issue? Thanks.

[2021-07-12 10:11] nazeerhussainf commented on #8124
Will open this issue in sonic-platform-daemon.
Closing this issue.

[2021-07-12 10:11] #8124 closed

[2021-07-12 12:36] stepanblyschak commented on #8036
@vaibhavhd this is different issue from what I can see.

[2021-07-12 20:14] prsunny commented on #8036
@qbdwlr, can you look into this issue? We have to first check on the capability for CRM_MPLS_INSEG (Introduced by https://github.com/Azure/sonic-swss/pull/1686). @smaheshm for visibility.

[2021-07-12 20:45] qbdwlr commented on #8036
@stephanblyschak This issue is resolved by https://github.com/Azure/sonic-sairedis/pull/824
The sonic-sairedis submodule in sonic-buildimage was not updated until https://github.com/Azure/sonic-buildimage/pull/8043 which is after the build date of the version in this issue.

[2021-07-13 06:12] gechiang opened #8162 "SAIREDIS Record when facing continuous SAI events is not compressing and rotating the record causing /var/log partition to completely run out of space."
#### Description
With the continuously L2 MAC station move testcase running observed sairedis record file does not get properly rotated.
If the events is non stop one can see the /var/log partition gets completely occupied by the current sairedis record.
syslog seems to be rotating fine at a rate of every 10 minutes with my L2 MAC station move trigger.  This is not the case with SAI REDIS Record.

[2021-07-13 07:12] #7993 closed

[2021-07-13 09:13] abhiranjeet commented on #5986
Hi, I am using an Edgecore switch with SONiC on it. But it seems that the same problem is repeating here too : **PMON crashes**. I built this image from the master branch. Is there any branch which has a fix for it ?
Including docker logs for the crashed container :
[code]

[2021-07-13 10:39] #7367 closed

[2021-07-13 10:40] #7180 closed

[2021-07-13 11:28] lolyu commented on #8086
This issue was introduced because `_check_queue` tries to filter out queue counter with regex
https://github.com/Azure/sonic-mgmt/blob/1b53581d1d32239a5b133b8c9000c0911746e698/tests/common/dualtor/tunnel_traffic_utils.py#L120-L127

[2021-07-13 12:30] Prashankalikotayt opened #8167 "Sonic Build Failure in arm64 for VS"
Hello All,
              I am trying to build SONiC image for VS on debian 9 arm64 machine with 8 cores. However the build fails trying to look for some amd.deb files although I have given the command as follows:
$ make init
$ make configure PLATFORM=vs PLATFORM_ARCH=arm64
$ make target/sonic-vs.img.gz SONIC_BUILD_JOBS=4

The make fails with an error trying to look for file_name_amd.deb.
I have ta

[2021-07-13 14:06] akokhan commented on #8111
PR with the fix under review: https://github.com/Azure/sonic-utilities/pull/1709

[2021-07-13 17:46] abdosi commented on #8150
@wangxin Fix should be available in next image. Please re-verify.

[2021-07-13 19:15] thaj-deen opened #8171 "SYNCD exits with SAI Failures while onboarding Dell EMC S5212 to Community SONiC"
#### Description

Dell S5212 is based on BRCM TD3.X5. SAI Support for BCM56770 is available in SAI versions > 4.x

My cloned repo (label #7996) is running 5.0.0.1.

#### Steps to reproduce the issue:
1. Cloned Community code label #7996 on June 29th
2. Made changes for onboarding S5212 and built the image
3. Ports failed to come up. syslog's point to _brcm_sai_dm_init () failure

BRCM SAI ver: [5.

[2021-07-13 20:05] #8104 closed

[2021-07-14 01:28] theasianpianist commented on #8111
@akokhan could you share the failure messages you were seeing for the VLAN tests prior to the fix? Want to check if it has the same symptoms as the failures I am seeing.

[2021-07-14 01:46] theasianpianist commented on #8101
CS00012197146

[2021-07-14 02:10] kevinskwang commented on #8087
Merge the [PR3761](https://github.com/Azure/sonic-mgmt/pull/3761) to fix this issue.

[2021-07-14 04:58] mikeberesford opened #8177 "occasional syncd crash at initialization time"
#### Description

We're seeing occasional syncd crashes during initialization that appear to be related to updating the API log levels. These crashes are infrequent, but always occur during system startup with a similar trace (see example below). We do not have a reliable way to reproduce this issue, but it has been seen multiple times.

#### Steps to reproduce the issue:
1. Restart the system man

[2021-07-14 10:01] lolyu opened #8181 "[pfcwd] `test_pfcwd_actions` failed due to IO still got passed on stormed ports with action as drop"
#### Description

#### Steps to reproduce the issue:
* run `test_pfcwd_actions` on a storage-backend testbed.
* here are how to reproduce this manually:
1. start `pfcwd` with default config
[code]
2. start pfcwd on `Ethernet44:4`
[code]
3. run `pfc_wd` ptftest on ptf to check the egress drop
[code]

#### Describe the results you received:
* Packets to the stormed queue `Ethernet44:4` got passed.

[2021-07-14 16:11] akokhan commented on #8111
@theasianpianist , will do
meanwhile, could you please update the issue with the description? Thanks.

[2021-07-14 18:53] #8093 closed

[2021-07-14 18:54] #8080 closed

[2021-07-14 20:56] neethajohn commented on #8181
I tried to repro this but could not. I sent packets using scapy. Can you check if the test is constructing the packet properly?

-- before starting the test --
[code]

-- sending 100 pkts with src port as Ethernet44 --
[code]
[code]
[code]

-- 100 pkts sent with dest port as Ethernet44 --
[code]
[code]
[code]

[code]

[code]

[2021-07-14 21:34] theasianpianist commented on #8111
@akokhan I believe I am seeing the same issue that is described here and in the linked PR, as I see IPv6 addresses not being deleted after running the deletion CLI command. Thanks for your assistance on this issue.

[2021-07-15 07:29] lolyu commented on #8181
the root cause for this is the packet sent by `pfcwd.py` ptftest is to the sub interface(`eth14.10`), and when the subinterface tags the packet with VLAN tag, the priority is default to zero, and the queue is not stormed.

[2021-07-15 10:05] akokhan commented on #8111
@theasianpianist , thank you for providing details. I see the issue with exactly the same details.

The problem is that IPv6 address was added through config_db.json as `FC00::71/126` and when we remove through `config` command, the address is converted to `fc00::71/126`. So, the RIF is not get removed. You may want to try https://github.com/Azure/sonic-utilities/pull/1709 fix.

[2021-07-15 10:33] #8181 closed

[2021-07-15 13:22] lolyu commented on #7941
Could not repro with the latest public image.

[2021-07-15 13:22] #7941 closed

[2021-07-15 15:41] raphaelt-nvidia opened #8189 "[mirroring] Missing per-vendor validation of mirror session queue parameter"
#### Description

It is possible to configure a value for queue in a mirror session that is outside the range supported by the switch vendor.  The flow is that MirrorOrch::createEntry calls activateSession which calls status = sai_mirror_api->create_mirror_session.  If it fails, e.g. due to invalid queue, activateSession calls handleSaiCreateStatus, which in any failure case initiates exiting orch

[2021-07-15 15:44] mikeberesford commented on #8177
We believe that this is likely due to multi-threaded access to maps in swss::Logger, specifically m_currentPrios and m_currentOutputs

[2021-07-15 17:58] vaibhavhd opened #8190 "[watchdog reboot] platform_pcieutil throws errors and DUT becomes unreachable"
#### Description

Watchdog reboot invokes platform_pcieutil which throws errors and further DUT becomes unreachable via SSH or console.
pcied TypeError: get_pcie_aer_stats() got an unexpected keyword argument 'dev'

#### Steps to reproduce the issue:
1. Run `platform_tests/test_reboot.py::test_watchdog_reboot`
2. Soon after the test, the DUT will become unreachable - both on SSH and console.
3. PD

[2021-07-16 00:43] theasianpianist opened #8192 "[autorestart] failure due to mux container not running"
[code]

[2021-07-16 00:46] theasianpianist opened #8193 "[sanity] mux simulator sanity check reports active side mismatch"
[code]

[2021-07-16 00:49] theasianpianist opened #8194 "[snmp] multiple test cases failing"

[2021-07-16 00:51] theasianpianist opened #8195 "[vxlan] test_vxlan_decap fails"
[code]

[2021-07-16 01:00] judyjoseph commented on #7810
Looking into logs, see that in the bad case the orchagent:portmgrd  process tries to bring up the physical interface before teammgrd:addLagMember() API does add the interface as a part of Portchannel.  If the teammgrd:addLagMember() finds the interface is up, if flaps it without which it cannot enslave the port to the portchannel.

Good case below
[code]

Looking further to see if this is a 202012

[2021-07-16 01:10] theasianpianist commented on #8136
closing as duplicate of https://github.com/Azure/sonic-buildimage/issues/8111, resolved by https://github.com/Azure/sonic-utilities/pull/1709

[2021-07-16 01:10] #8136 closed

[2021-07-16 01:20] theasianpianist commented on #8077
fixed by https://github.com/Azure/sonic-buildimage/pull/8179

[2021-07-16 01:20] #8077 closed

[2021-07-16 01:33] vaibhavhd commented on #8101
Duplicate of https://github.com/Azure/sonic-buildimage/issues/8031

[2021-07-16 01:40] yxieca opened #8197 "PMON docker is crashing on E1031 platform"
#### Description
This is an issue for 202012 branch. It is likely also an issue for master branch but I don't have data for master image yet.

#### Steps to reproduce the issue:
1. load up image build from 202012 branch
2.
3.

#### Describe the results you received:
pmon docker is not running. syslog shows that failure was due to platform modules

/var/log/syslog.1:Jul 15 12:40:57.827366 str-e1031

[2021-07-16 01:43] theasianpianist commented on #8096
this test should be skipped based on topology name for all dual ToR topologies

[2021-07-16 01:43] theasianpianist commented on #8097
this test should be skipped based on topology name for all dual ToR topologies

[2021-07-16 03:04] kevinskwang commented on #8109
Link to the [PR3749](https://github.com/Azure/sonic-mgmt/pull/3749) and [PR3791](https://github.com/Azure/sonic-mgmt/pull/3791/)

[2021-07-16 03:34] #8086 closed

[2021-07-16 06:37] zhenggen-xu commented on #6630
Closing it

[2021-07-16 06:37] #6630 closed

[2021-07-16 06:47] zhenggen-xu commented on #7957
@samaity  Please take a look.

[2021-07-16 17:04] tahmed-dev commented on #8192
@yozhao101 would look at this issue as per offline discussion.

[2021-07-16 22:51] vivekreddynv opened #8202 "[SNMP-SUBAGENT] [202012] Observed a unusual spike in CPU usage because of blocking=True argument"
#### Description

#### Steps to reproduce the issue:
1. Load any 202012 image which was was built with this change [PR](https://github.com/Azure/sonic-swss/pull/1804)
2. Disable counterpoll, if not already disabled and reload the switch
3. Wait for the SNMP Container to be up.

#### Describe the results you received:

Check the CPU usage of the SNMP docker and snmp-subagent process
[code]

After d

[2021-07-17 01:08] vaibhavhd opened #8204 "[6100] Show version fails with eeprom permission errors"
#### Description

`show version` and `show platform summary` commands fail with permission errors in eeprom file.

#### Steps to reproduce the issue:
1. Install latest master image on a Dell device.
2. Do `show version`
3.

#### Describe the results you received:

[code]

Same failures are seen when `show platform summary` command is executed.

#### Describe the results you expected:
`show version

[2021-07-17 17:30] CNM777 opened #8207 "make all failed due to Error： j2 command not found"
#### Description
When I execute make target/sonic-vs.bin，it shows /bin/bash: j2 command not found，but the j2 command can work fine via terminal. I have tried many methods but all useless. eg., I have also tried to add $(shell ) function or add PATH at slave.mk, but don't work. Please help me, thanks!
#### Steps to reproduce the issue:

1. make init
2.make configure PLATFORM=vs
3.make target/sonic-

[2021-07-17 21:46] bluecmd commented on #5947
Hello.

This hit me today as well. I can confirm that this was due to MAC conflict between the interfaces.

I configured my switch with its management port (`eth0`) and one normal port (`tenGigE1/34`) to the same subnet (`172.18.0.0/24`). I am using a `Vlan110` interface that has been assigned to a Vrf.

Interfaces:
- `tenGigE/34` VRF `VrfProd` IP `172.18.0.250/24`
- `eth0` VRF `mgmt` IP `172.18.0

[2021-07-18 21:58] bluecmd opened #8212 "[Celestica] Seastone 2 DX030 missing `sonic_platform`"
#### Description

I have a Celestica Seastone 2 DX030.  When booting it the first time after installation I get the message that says that `sonic_platform` cannot be installed for this platform:

[code]

#### Steps to reproduce the issue:
1. Install SONiC 202012 on a DX030
2. Observe error message on first boot
3. Run `show platform firmware`

#### Describe the results you received:

[code]

####

[2021-07-19 06:30] yozhao101 commented on #8192
the nightly test logs related to this issue is here: https://sonic-jenkins.corp.microsoft.com/job/NewTests/job/TEMPLATE_PYTEST_T0_DUALTOR-7050/180/artifact/tests/logs/autorestart/test_container_autorestart.log. I checked the logs and the root cause is `Mux` container is not running at the beginning of this test and the following is output of command docker ps -a:

"stderr_lines": [],
"stdout_lines

[2021-07-19 06:43] yozhao101 commented on #8095
the nightly auto-restart test of ​Teamd​ container failed on the post-check stage of ​#172​ and ​#173​, here are the nightly test logs https://sonic-jenkins.corp.microsoft.com/job/NewTests/job/TEMPLATE_PYTEST_T0_DUALTOR-7050/172/testReport/autorestart/test_container_autorestart/test_containers_autorestart_str2_7050cx3_acs_07_str2_7050cx3_acs_07_teamd_/ and https://sonic-jenkins.corp.microsoft.com/

[2021-07-19 08:11] jeffchen1988 opened #8216 "[SAI] Is SONiC master branch support Broadcom TD4 chip?"
#### Description

Is SONiC master branch support Broadcom TD4 chip?
There is no TD4 device in SONiC Supported Devices and Platforms pages.

#### Steps to reproduce the issue:
1. Add yml config file in device/delta/x86_64-delta_dds32c4s-r0/Delta-dds32c4s
2. Manual to restart syncd
3. syncd init fail

#### Describe the results you received:
Jul 15 16:23:26.531191 sonic NOTICE syncd#syncd: :- Syncd:

[2021-07-19 17:09] dgsudharsan commented on #7782
@zhenggen-xu  Can you please review the fix raised for this bug? https://github.com/Azure/sonic-swss/pull/1825

[2021-07-19 17:28] vaibhavhd commented on #8204
This appears to be file permission change that caused the commands to fail. The same commands when executed with sudo permissions pass.
[code]

[code]

[2021-07-19 22:44] mikeberesford commented on #8177
Possibly caused by this commit: http://github.com/Azure/sonic-sairedis/commit/d458a11acb81b6d6cd1f00e029a6fa7c74a5af24#diff-0f282bb4fdc70639e695cdafd322730eaa1c141b3b4e87ec0fda6e317f687017

This moved linkToDb after linkToDbNative, which (per the API) looks to be invalid (http://github.com/Azure/sonic-swss-common/blob/master/common/logger.h#L81) and may result in data race conditions. @kcudnik

[2021-07-20 08:31] Junchao-Mellanox commented on #8036
I still see this issue on latest master, hash c89b62e4daaad76daaa26bb0f87bbbf8432a33ae.

[code]

[code]

[2021-07-20 12:02] qiluo-msft commented on #8202
How long is the "CPU Usage spike" starting from process invoke? If the timeframe is reasonable, does snmpagent work well after that as before?

[2021-07-20 12:20] qbdwlr commented on #8036
@Junchao-Mellanox I didn't realize that Mellanox platform was being tested here... I mistakenly assumed that this was seen testing VS platform.  Clearly Mellanox does not have any support for this type of resource in its SAI implementation and this error will continue until it does.  It is not clear why this resource is being polled in the absence of any MPLS configuration.

[2021-07-20 18:52] gechiang opened #8230 "[202012] ThermalCtrl"
#### Description
Observed the following when warm-reboot a S6100 device:
[code]

#### Steps to reproduce the issue:
1. on S6100 boot up with 202012 image ( I used an internal MSFT 202012 image .09 but it should be repeatable on public 202012 as well)
2. issue "sudo warm-reboot -vvv"
3. Take a look into syslog for the above issue.

#### Describe the results you received:

#### Describe the results

[2021-07-20 19:52] vaibhavhd opened #8231 "[warmboot][7260] vlan port flaps after warmboot with data traffic"
#### Description

VLAN port flaps after warmboot. This causes dataplane downtime which is unexpected in warmboot case.

This issue is not consistent and not seen without data traffic running in background.

prot_state_change notifications are received after INIT_VIEW, and before APPLY_VIEW.

LOGS:
[sairedis](https://github.com/Azure/sonic-buildimage/files/6851563/sairedis.txt.log)
[syslog](https:/

[2021-07-20 21:21] neethajohn opened #8232 "[Test gap] Need unit tests for configlet feature"
#### Description

Syntax error seen after migration to python3 in configlet module

Traceback (most recent call last):
  File "/usr/local/bin/configlet", line 212, in <module>
    main()
  File "/usr/local/bin/configlet", line 205, in main
    process_entry (do_update, i)
  File "/usr/local/bin/configlet", line 175, in process_entry
    do_operate(op_upd, t, (), data[t])
  File "/usr/local/bin/con

[2021-07-21 00:39] theasianpianist opened #8236 "[vlan] multiple failures on dual ToR"
It looks like the interfaces created here are interfering with the VLAN tagging of packets generated by the test: https://github.com/Azure/sonic-mgmt/blob/3a5a650b49d59d3962ceac6cbd3c9ae30a7d047d/tests/vlan/test_vlan.py#L85

[2021-07-21 01:05] theasianpianist commented on #8236
This PR should fix the issue https://github.com/Azure/sonic-mgmt/pull/3811

[2021-07-21 01:08] theasianpianist commented on #8236
Once the above PR is merged I will be able to create a PR for dual ToR compatibility

[2021-07-21 02:05] theasianpianist opened #8238 "[drop_packets] failures on T1"

[2021-07-21 02:36] bingwang-ms opened #8239 "[202012] test_pmon_ledd_kill_and_start_status is consistently failing"
#### Description
```test_pmon_ledd_kill_and_start_status``` was consistently failing with following errors
[code]

#### Steps to reproduce the issue:
1. Run test case ```platform_tests\daemon\test_ledd.py::test_pmon_ledd_kill_and_start_status```
2.
3.

#### Describe the results you received:
Test failed with assertion error.

#### Describe the results you expected:
Test should pass.

#### Output o

[2021-07-21 08:27] lguohan commented on #8239
@sujinmkang, why the error message says pcied exited, but the test is ledd?

[2021-07-21 10:16] #8098 closed

[2021-07-21 15:08] zhangyanzhao commented on #8230
@sujinmkang please help to take a look. Thanks.

[2021-07-21 15:10] zhangyanzhao commented on #8216
@adyeung please help to take a look.

[2021-07-21 15:13] zhangyanzhao commented on #8212
Need check with Celestica. Ying will help. Thanks.

[2021-07-21 15:16] zhangyanzhao commented on #8207
Can you please upgrade the Ubuntu to 18.04 or later version, retry? Thanks.

[2021-07-21 15:17] zhangyanzhao commented on #8202
@qiluo-msft is checking

[2021-07-21 15:22] zhangyanzhao commented on #8189
orchagent crashed for this issue. @shi-su please work with @raphaelt-nvidia on this issue.

[2021-07-21 15:24] zhangyanzhao commented on #8177
@kcudnik please help to double check the suggestion from Mike. Thanks.

[2021-07-21 15:25] zhangyanzhao commented on #8171
already tracked with mail thread offline. No action from community so far

[2021-07-21 15:30] zhangyanzhao commented on #8167
[ FAIL LOG START ] [ target/debs/buster/libsairedis_1.0.0_arm64.deb ]
[ REASON ] :      target/debs/buster/libsairedis_1.0.0_arm64.deb does not exist   NON-EXISTENT PREREQUISITES: target/debs/buster/libswsscommon-dev_1.0.0_arm64.deb-install

dependency issue, please fix the above error.

[2021-07-21 15:33] zhangyanzhao commented on #8162
Platform issue, log need cleanup regularly. Need someone from MSFT to take a further look. @lguohan

[2021-07-21 15:35] zhangyanzhao commented on #8129
@adyeung will take a look

[2021-07-21 15:36] zhangyanzhao commented on #8123
@adyeung will take a look. Thanks.

[2021-07-21 15:38] zhangyanzhao commented on #8068
Need Innovium to take a look. @tonytitus please help to check. Thanks.

[2021-07-21 15:40] zhangyanzhao commented on #8026
@shi-su please provide more info. Thanks.

[2021-07-21 15:43] zhangyanzhao commented on #8025
Not supported feature.

[2021-07-21 15:45] zhangyanzhao commented on #8020
@judyjoseph please help to take a look. Thanks.

[2021-07-21 15:47] zhangyanzhao commented on #7962
Looks like platform config issue. Can you please enable alpm and retry? Thanks.

[2021-07-21 16:50] CNM777 commented on #8207
@zhangyanzhao Thank you for your reply!
Whether the image builing process is isolated from the host? like in a container?
So even if the j2cli has been installed on the host via terminal but it cannot be recognized?
So the error that j2 command could not be found occurred?
Similarly, like the Docker , also needs to be  installed additonally via the makefile script during the building process?

[2021-07-21 16:53] kcudnik commented on #8177
@qiluo-msft hey, can you explain why in this case order matters https://github.com/Azure/sonic-swss-common/blob/master/common/logger.h#L81 ??

[2021-07-21 18:14] vaibhavhd commented on #8190
This issue is also seen on other platforms. I noticed it on 7050CX3 and 7260 platforms.

[code]

[2021-07-22 09:18] #8202 closed

[2021-07-22 13:19] kcudnik commented on #8177
Created issue for this https://github.com/Azure/sonic-swss-common/issues/507

[2021-07-22 20:04] praveen-li opened #8249 "Support Grouping in Sonic-yang-mgmt Lib."
#### Description

Current translation in Sonic-yang-mgmt Lib allows few variations of leaf such as choice, leaf-list and leaf is allowed. Need to add support for grouping in Translation.

New Feature
#### Steps to reproduce the issue:
N/A: New Feature
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `s

[2021-07-22 20:07] praveen-li commented on #8249
@anshuv-mfst : I realized, I had only internal LinkedIn ticket for this issue, Open the issue here as well for tracking. I will pick it up, if nobody in the community is ready to develop\support translation of groupings in yang. Thx.

[2021-07-23 00:58] theasianpianist opened #8252 "[ipfwd] test_dip_sip fails"
[code]

[2021-07-23 01:43] #8111 closed

[2021-07-23 01:52] bingwang-ms commented on #8195
I debug the issue on 20201231.09, the error is different
[code]
Seems the tor wasn't doing ARP flooding. Will take a closer look at.

[2021-07-23 01:54] #8109 closed

[2021-07-23 01:58] #8192 closed

[2021-07-23 16:16] kcudnik commented on #8177
i created a fix for that https://github.com/Azure/sonic-swss-common/commit/bf022983b764cf5996167a2907d07d8ef2d4a14d but imho looks ugly as hell :/ any suggestions?

[2021-07-23 16:29] mikeberesford commented on #8177
If we were to enforce the call order (and that linkToDbNative must only be called exactly once) and move linkToDbNative to just before http://github.com/Azure/sonic-sairedis/blob/master/syncd/syncd_main.cpp#L71 would that be cleaner? It wouldn't make Logger thread-safe (multiple threads calling linkToDb would still be unsafe), but that might be fine. This would be more along the lines of "avoid th

[2021-07-23 16:31] bluecmd commented on #5947
@zhangyanzhao Could I be so bold to ask for a re-triage of this bug?

[2021-07-23 16:40] kcudnik commented on #8177
i would not recommend to move this to line 71, since that would indicate that you are aware of whats in Syncd::ctr, which we should not, and it could still happen in other applications, so i would rather want to fix the problem instead of avoiding. If we fix that in logger, then it would be fixed everywhere for free.

Also if you look inside linkToDbNative, then inside it calls linkToDb, so why th

[2021-07-23 16:53] shi-su commented on #8026
I think I understood the problem. If the Vlan gets configured in this way, test setup will have some overlap between the Vlan network and some bgp routes, and the Vlan gets override by bgp for the first 256 addresses. However, as such setup is used in many places in sonic-mgmt (e.g., https://github.com/Azure/sonic-mgmt/blob/master/ansible/vars/topo_t0.yml#L67, https://github.com/Azure/sonic-mgmt/b

[2021-07-24 05:02] vaibhavhd commented on #7810
This is latest seen on 4600c platform running 202012 image.

[code]

[2021-07-24 21:02] vmittal-msft opened #8255 "[dual tor] : ECN test cases are failing"
#### Description

ECN test cases are failing on dual tor testbeds.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
                        pt_assert(False, "!!!!!!!!!!!!!!!! Pre-test sanity check after recovery failed: !!!!!!!!!!!!!!!!\n{}"\

E                       Failed: !!!!!!!!!!!!!!!! Pre-test sanity check after recovery failed: !!!!!!!!!!!!!!!!
E

[2021-07-24 21:42] vmittal-msft commented on #8106
QoS test cases are passing on run # 187 (jul 21 nighlty).
Possibly due to[]( https://github.com/Azure/sonic-buildimage/issues/8038)

[2021-07-26 16:31] #7953 closed

[2021-07-26 17:16] #7488 closed

[2021-07-26 22:03] bluecmd opened #8261 "[DellEMC S5232F-ON] `show system-health summary` broken in 202012"
#### Description

#### Steps to reproduce the issue:
1. Run a Dell EMC S5232F-ON
2. Run `show system-health summary`

#### Describe the results you received:

[code]

#### Describe the results you expected:

A system health summary.

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

N/A

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-07-27 02:32] sumukhatv opened #8263 "syseepromd crashing repeatedly on SONiC.20201231.02"
#### Description

syseepromd is crashing on Arista-7060. Upon trying to restart syseepromd, it crashes over and over again.
#### Steps to reproduce the issue:
1. Login to a  Arista-7060CX-32S-D48C8 device running SONiC.20201231.02 which has reported the issue
2. Restart syseepromd using supervisorctl inside pmon container
3. Follow the syslog

#### Describe the results you received:
syslog.10.gz:J

[2021-07-27 04:11] FuzailBrcm commented on #8129
@seanwu-ec
Thanks for raising this. Your suggestion seems correct but I need to test some more as we didn't enable thermalctld locally (or enabled it with some restrictions). I will work on it and push the fix.

[2021-07-27 04:30] FuzailBrcm commented on #8123
@seanwu-ec
Thanks for the suggestions. I will add these attributes in PDDF OSU driver.

[2021-07-27 05:40] seanwu-ec commented on #8123
Thanks, @FuzailBrcm 😊

[2021-07-27 05:48] seanwu-ec commented on #8129
Understood. I appreciate that, @FuzailBrcm.
If you know any downsides or reasons that we should not enable thermalctld, please kindly let us know. Recently we are enabling it back because some customers complained `show platform fan/temperature` doesn't work.

[2021-07-27 12:57] rajkumar38 opened #8301 "SWSS Orchagent crashed for "soft-reboot" command."
Issue happens in test-bed testing in t0-52 topology, while executing reboot test suite,

[code]

As part of this, syncd is stopped and Orchagent still pushing some request to syncd and in this flow for a bulk request there is no response (expected, as syncd is down) and an exception is thrown, which is not handled by swss-orchagent, eventually supervisord catch this exception and terminates the Or

[2021-07-27 16:07] shlomibitton commented on #7140
Fixes provided on PR's:
https://github.com/Azure/sonic-buildimage/pull/8117
https://github.com/Azure/sonic-buildimage/pull/8157
https://github.com/Azure/sonic-buildimage/pull/7987
https://github.com/Azure/sonic-buildimage/pull/7965
https://github.com/Azure/sonic-swss/pull/1803
https://github.com/Azure/sonic-swss/pull/1804

[2021-07-27 16:08] #7140 closed

[2021-07-27 19:18] #6754 closed

[2021-07-27 23:20] theasianpianist commented on #8100
Looks like this is a behavior change that is expected on only TD3 platforms. Will add edge cases to the drop_packets tests to account for this change.

[2021-07-28 00:21] theasianpianist commented on #8238
closing as duplicate of https://github.com/Azure/sonic-buildimage/issues/8100

[2021-07-28 00:21] #8238 closed

[2021-07-28 01:52] yxieca commented on #8194
test and image matching issue. added a delay in waiting for snmp facts.

[2021-07-28 01:52] #8194 closed

[2021-07-28 01:54] #8106 closed

[2021-07-28 01:59] prsunny commented on #8088
Orchagent tests is expected to be run on simulated tor as there is a step that sets mux status to standby or active via `swssconfig `and this can conflict with the states set by `mux `processes running in the real dualtor setup. I found that the swss standby configs done part of test are overwritten shortly after. So if we have to run orchagent tests on actual dualtor, then we need to rely on the

[2021-07-28 02:01] prsunny commented on #7216
Closing as the fix is available in 4.3.3.9

[2021-07-28 02:01] #7216 closed

[2021-07-28 02:03] prsunny commented on #6841
Closing this as fix is available as part of 4.3.3.9

[2021-07-28 02:03] #6841 closed

[2021-07-28 02:04] prsunny commented on #7389
Fixed in 20201231.07 image

[2021-07-28 02:04] #7389 closed

[2021-07-28 02:07] prsunny commented on #8082
Issue similar to https://github.com/Azure/sonic-buildimage/issues/6841. Fixed as part of SAI 4.3.3.9

[2021-07-28 02:07] #8082 closed

[2021-07-28 02:12] prsunny commented on #7738
Fixed in 20191130.76 image

[2021-07-28 02:12] #7738 closed

[2021-07-28 02:12] prsunny commented on #7086
Closing as the fix is merged

[2021-07-28 02:12] #7086 closed

[2021-07-28 04:39] mdivyamohan opened #8273 "QoS configuration for cpu0 port"
Hi,

My Broadcom ASIC has a cpu0 port (port number 0), which receives the packets copied from ASIC with COPP_TABLE rules.
I have configured COPP_TABLE for certain trap ids with trap_action = copy, to use specific queue numbers, as given in swss schema.

[code]

Now, I would like to control the scheduling policy of this cpu0 port queues.
For that how should the cpu0 be modelled in SONiC? Should thi

[2021-07-28 05:40] #7402 closed

[2021-07-28 11:23] zhuangjh3 opened #8277 "[NSS_TACACS]When I was preparing to support gcov in nss, I found an error."
I added the following in configure.ac, it can be compiled normally.
[code]
But when I run AAA on the device, it produces a coredump,GDB debugging results are as follows：
**Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `sshd: admin [net]   '.
Program terminated with signal SIGSYS, Bad system call.
#0  0x00007f19c20ae9c7 in access () from /lib/x86_6

[2021-07-28 17:23] Staphylo commented on #7800
I believe this issue should be closed. The fix merged with #8047 2 weeks ago.
I'm planning on making a separate PR to fix the issue on 202012 as well.

[2021-07-28 21:56] lguohan commented on #8263
@sujinmkang , can you track this arista?

[2021-07-28 23:20] Staphylo commented on #8263
Just saw this issue, I'm looking into it.

[2021-07-28 23:39] Staphylo commented on #8263
The exit code of 5 means `ERR_EEPROM_LOAD`.
This happens because on 202012 we do not initialize `ChassisBase._eeprom` which is what gets returned by `ChassisBase.get_eeprom()`.
This issue was fixed on master by making a few changes in our platform library but not on 202012.
I was already planning to merge a few fixes in 202012 this week on next week, so I'll also cherry-pick what is needed to fix

[2021-07-29 09:43] kpetremann commented on #7734
Hello, I am facing the same issue.

Could please tell which commit in the master branch is fixing it?

[2021-07-29 11:28] qiluo-msft commented on #7508
This observation makes sense. What is wrong from your point of view?

[2021-07-29 15:15] AndoniSanguesa opened #8287 ""No Management Interface on Neighbor" on KVM Testbed"
#### Description
On the latest version of the `sonic-buildimage`, running `sonic-mgmt` test fails on the pretest with error message `there is no management interface in neighbor ARISTA03T1`. This error is not present with sonic image from Jun 17th.

This error has been observed by myself and another member on my team.

#### Steps to reproduce the issue:
1. Setup KVM testbed using SONiC T1 nodes
2.

[2021-07-29 16:54] vivekreddynv commented on #7508
Agree, but this is affecting config reload and thus ZTP which depends on the config reload to proceed.

[2021-07-29 18:56] Staphylo commented on #8261
This is likely to be an issue for all platform vendors that have not tested this command or did not want to implement something out of spec.
It also feels weird that a `show` command actually changes hardware state by initializing the system leds every time it is invoked.

The failing method `initizalize_system_led` is not part of the `sonic_platform` API as of today https://github.com/Azure/sonic

[2021-07-29 23:12] sujinmkang commented on #8239
@lguohan I will fix the message which is confusing. I will check the issue with Arista.

[2021-07-30 01:06] judyjoseph commented on #7810
Adding preliminary analysis here:

interface is enabled before it gets enslaved into the portchannel. Working on a fix to prevent this race condition.

This happens first
[code]
followed by interface added to portchannel here
[code]

[2021-07-30 01:34] theasianpianist opened #8290 "[acl] test_icmp_match_forwarded[ipv6-ingress-uplink->downlink] fails on 7050cx3 T1"
failed due to ACL counter sanity check for the applied rule not being incremented

[2021-07-30 01:54] lguohan commented on #8088
skip this test.

[2021-07-30 01:57] #8096 closed

[2021-07-30 01:58] #8097 closed

[2021-07-30 02:02] #8236 closed

[2021-07-30 03:52] gechiang opened #8292 "TH3 DELL Z9332f Kernel panic due to CPU stall detected"
#### Description

We observed the following when running nightly test.  the DUT was already suffering syncd timeout on a FDB flush request and been sitting there for a few hours ad all of a sudden the DUT rebooted.  When checked the syslog observed the following:
[code]

#### Steps to reproduce the issue:
We are not sure if this can be reproduced...
1.  Run nightly test which encountered FDB flush

[2021-07-30 04:02] gechiang commented on #8292
[kernelCrash.txt](https://github.com/Azure/sonic-buildimage/files/6904994/kernelCrash.txt)

[2021-07-30 07:08] vivekreddynv opened #8293 "[SNMP-SUBAGENT] CPU Spike because of redundant and flooded keyspace notifications"
#### Description

Recently, an extremely similar bug [LINK](https://github.com/Azure/sonic-buildimage/issues/8202) is seen in the snmp-subagent process which was related to blocking calls and fix is ported already.

This is of similar nature i.e very high CPU Usage, but this occurs occasionally i.e around 20-30 % of the time.

#### Steps to reproduce the issue:
1. Load an image which has the fix f

[2021-07-30 16:31] #8026 closed

[2021-07-30 23:17] adyeung commented on #8216
Failure is due to SAI_API_BMTOR, the SAI extension for P4 runtime bare metal TOR api is not supported in BRCM SAI.

[2021-07-30 23:31] vaibhavhd opened #8300 "[warm-reboot] INIT_VIEW failure: syncd crash due to SIGABRT in VendorSai::create"
#### Description

Warm reboot fails during INIT_VIEW during `syncd::VendorSai::create`

Based on coredump and syslog analysis, the `create` call failed due to failure to parse JSON file:
`SAI_API_UNSPECIFIED:syncdb_data_file_read:2230 Failed to parse JSON: error -2`

SYNCD crashes with SIGABRT and keeps warm restarting with every attempt crashing and generating coredump.

SAI version: `5.0.0.6-1`

[2021-07-31 00:49] gechiang commented on #8300
case CS00012201827 filed against BRCM.

[2021-07-31 01:13] lguohan commented on #8301
can you help us to understand why syncd is killed in the soft-reboot first?

[2021-07-31 01:23] vaibhavhd opened #8302 "[fast-reboot] Orchagent crash after "addFdbEntry: Failed to create dynamic FDB""
#### Description

Orchagent crashes as FDB was learnt before it could be programmed.

SAI version: 5.0.0.6-1

#### Steps to reproduce the issue:
1. Run test `platform_tests/test_advanced_reboot.py::test_fast_reboot`
2. The test will fail with `"FAILED:dut:DUT hasn't booted up in 300 seconds", `
3. Check syslog for real errors.

#### Describe the results you received:
[code]

#### Describe the resu

[2021-07-31 02:01] qiluo-msft commented on #8293
Thanks for the report, analysis and proposal.

Is it possible to improve upstream lldp_syncd first? If it only apply the delta into Redis, does snmpagent work well?

[2021-07-31 02:10] vivekreddynv commented on #8293
It is possible to optimize lldp_syncd but we would still get atleast num_lldp_neigh notifications for every 10 secs. So, snmp-sub agent will still have to be modified

[2021-08-01 14:28] bluecmd commented on #5947
Since I found [this](https://github.com/Azure/sonic-swss/pull/814/files) sonic-swss PR I have managed to change MAC addresses on L3 interfaces (haven't tried the eth0 mgmt though) - so I am very close to being able to ping between VRFs.

[code]

There appears to be two issues that are relevant to this reported issue:

- Setting MACs per VRF: https://github.com/Azure/sonic-swss/issues/1833
- My own

[2021-08-02 03:33] qiluo-msft commented on #8293
Please submit a PR based on "Traige", we can continue discuss on the PR context.

[2021-08-02 08:29] jeffchen1988 commented on #8216
Hi adyeung,

I didn't configure the SAI_API_BMTOR in config.yml.
And I supposed that the config.yml has never been loaded by BRCM SAI.
Could you please help to reply the below questions first?

1. I have confirmed that the config.yml was placed in syncd docker.
    Would you please explain why the syncd load default context config?

- _In syncd docker:_
    root@sonic:/etc/sai.d# cat sai.profile

[2021-08-02 11:56] tomer-israel opened #8306 ""show vlan config" command display wrong member information"
#### Description

"show vlan config" may display wrong information about vlan members after generating vlan members configuration from minigraph and removing vlan members.

the problem is related to a change in the vlan schema that was changed on this PR:
https://github.com/Azure/sonic-utilities/pull/1038

In the new schema, we no longer use the “members” field on the VLAN table:
[code]

And the m

[2021-08-02 13:43] rajkumar38 commented on #8301
I don't find any documentation related to soft-reboot.
@sujinmkang , Can you pls help answer @lguohan comment.

[2021-08-02 14:14] mlok-nokia opened #8308 "config interface speed throws an error on a multi-asic box."
#### Description
config interface speed is broken when trying to configure for a frontpanel port on a multi-asic pizza box.

#### Steps to reproduce the issue:
1. Issue config interface to set the speed of an interface on a multi-asic pizza box

#### Describe the results you received:
[code]

#### Describe the results you expected:
Expect no error message and speed get set on the specified interfa

[2021-08-02 15:13] slutati1536 opened #8310 "sonic-cfggen L2 config_db.json missing information causing SNMP test failure"
#### Description

several SNMP tests are failing on setups with Microsoft HWsku and L2 configuration(i.e, Mellanox-SN2700-D48C8)
After deploying the L2 configuration with sonic-cfggen the config_db.json doesn't include "description" for ports  this is causing several tests to fail.

#### Steps to reproduce the issue:
##### deploy t0 topo
##### deploy L2 on the switch with Microsoft HWSKU
sudo soni

[2021-08-02 18:19] lguohan opened #8312 "arm64 build failure"
#### Description

#### Steps to reproduce the issue:
1. https://dev.azure.com/mssonic/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/26609/logs/9
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
for arm64 build, need to use native dockerd for dockerfs. generate_shutdown_order.py needs to provide option.

docker **-H unix:///dockerfs/var/run/do

[2021-08-02 18:25] lguohan commented on #8312
this affects armhf as well.

[2021-08-02 21:54] vaibhavhd commented on #8302
This is same as an older issue that was fixed:

The fix (https://github.com/Azure/sonic-swss/pull/1815) is still not part of master branch.

Updating the master branch head with this PR should fix this issue: https://github.com/Azure/sonic-buildimage/pull/8313

[2021-08-03 02:11] sujinmkang commented on #8190
@vaibhavhd The pcied error should be fixed in the latest image that is caused by the mismatch between platform api and the pcied call. But I don't think that is related to the watchdog_reboot test issue which is DUT unreachable issue. Do you have the console output or full device log available for the issue?

[2021-08-03 03:41] vishnushetty commented on #8216
The context error has nothing to do with yml or SAI. You can ignore it.

SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/td4-dds32c4s-32x400G-1.config.yml

This is right way to specify the yml file. You need to check with HW vendor for the feature set inside it.

[2021-08-03 05:55] bingwang-ms opened #8314 "[portstat] portstat always returns N/A for all interfaces"
#### Description

```portstat``` always returns ```N/A``` for all interfaces.
[code]
And all services are up and stable
[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
```portstat``` printed ```N/A``` for all interfaces.

#### Describe the results you expected:
```portstat``` should print the actual packet number.

#### Output of `show version`:

[code]

[2021-08-03 07:38] bingwang-ms commented on #8314
The issue is because oid defined in ```COUNTERS_PORT_NAME_MAP``` is not same with that referenced in ```counter_db```.
[code]
[code]

[2021-08-03 07:43] vivekreddynv commented on #8293
@qiluo-msft, please review

[2021-08-03 09:19] #8149 closed

[2021-08-03 10:34] raphaelt-nvidia opened #8316 "build fails in systemd-sonic-generator when SONIC_PROFILING_ON = y"
#### Description

When SONIC_PROFILING_ON = y, building sonic-buildimage fails with errors in systemd-sonic-generator.  Some, but not all, of these errors are caused by bad formatting in a changelog file.

#### Steps to reproduce the issue:
1.  In rules/config, uncomment the line: SONIC_PROFILING_ON = y
2.  make configure PLATFORM=mellanox
3.  make target/sonic-mellanox.bin-clean
4.  make target/s

[2021-08-03 10:55] jeffchen1988 commented on #8216
Hi vishnushetty,

If the config.yml file was right to specify.
How to identify the parameters of config.yml be loaded by SAI?
Would you please provide some tips in syslog?
Thank you.

[2021-08-03 19:52] kielfriedt opened #8319 "failed arm64 target/sonic-vs.img.gz build"
#### Description
[output.txt](https://github.com/Azure/sonic-buildimage/files/6926701/output.txt)

Building target/sonic-vs.img.gz on arm64 fails
I am able to build the docker sonic image but need to create the img file to complete [testbed](https://github.com/Azure/sonic-mgmt/blob/master/docs/testbed/README.testbed.VsSetup.md) setup.
using option [3](https://github.com/Azure/sonic-mgmt/blob/maste

[2021-08-03 20:20] #8302 closed

[2021-08-03 20:44] judyjoseph commented on #8020
@vikneels Can you see if you are hitting this issue, when you update the DEVICE_METADATA with the right asic_id as bellow ?

    "DEVICE_METADATA": {
        "localhost": {
            "asic_id": "08:00.0",
            "asic_name": "asic4",
            "bgp_asn": "65100",
.......
      }

I did a quick check on a multi-asic device where I see orchagent coming up correct .. few of them below.

[cod

[2021-08-03 21:17] kcudnik commented on #8020
please provide syslog data, in the url for contest config, swithces start from      "hwinfo" : "09:00.0", but -i 08:00.0 is provided, mayb thats the problem?

[2021-08-03 21:44] vaibhavhd commented on #8190
Thanks @sujinmkang. This may be coincidental that PCIE error was seen at the same time when 1) `watchdogutil arm -s 5 ` command was issued as part of reboot and 2) DUT also became unreachable.

For the watchdog reboot issue, we can continue discussing on the email thread with Dell. We can close this issue here if PCIE errors are fixed in the latest master image.

Can you link the PR that fixed the

[2021-08-03 22:34] #8088 closed

[2021-08-03 23:14] neethajohn opened #8323 "[ecnconfig] Exception while displaying ecn status on queue"
#### Description

admin@sonic:~$ ecnconfig -q 3
Exception caught:  'dict_keys' object has no attribute 'sort'

#### Steps to reproduce the issue:
1. Issue the command mentioned above and the error should be seen

#### Describe the results you received:
Exception caught:  'dict_keys' object has no attribute 'sort'

#### Describe the results you expected:
admin@sonic:~$ ecnconfig -q 3
ECN status:
qu

[2021-08-04 01:18] vaibhavhd commented on #8083
This test issue was seen on real dualtor device. However, this test should be skipped on real dualtor testbed, as per https://github.com/Azure/sonic-buildimage/issues/8088#issuecomment-887950628 and Orchagent test plan (https://github.com/Azure/sonic-mgmt/blob/master/docs/testplan/dual_tor/dual_tor_orch_test_plan.md).

As far as single tor testbed is concerned, this test is passing now on both 202

[2021-08-04 01:18] #8083 closed

[2021-08-04 02:30] sujinmkang commented on #8239
@bingwang-ms  2 PRs are available to resolve this issue. One at sonic-mgmt with log message clean up and the other one to enable auto-restart for all PMON daemons.

[2021-08-04 09:56] JafarSeyedi opened #8332 "sub-interface still not working in BRCM SAI 5.0.0.6"
sub-interface still not working as the following log:

Aug  3 11:56:37.966317 sonic NOTICE swss#orchagent: :- addSubPort: Sub interface Ethernet0.2 inherits mtu size 9100 from parent port Ethernet0
Aug  3 11:56:37.973345 sonic NOTICE swss#orchagent: :- setHostIntfsStripTag: Set SAI_HOSTIF_VLAN_TAG_KEEP to host interface: Ethernet0
Aug  3 11:56:38.056975 sonic INFO syncd#syncd: [none] SAI_API_ROUTE

[2021-08-04 11:48] #8332 closed

[2021-08-04 11:49] JafarSeyedi commented on #6167
sub-interface still not working in BRCM SAI 5.0.0.6

[2021-08-04 11:50] JafarSeyedi commented on #6305
sub-interface still not working in BRCM SAI 5.0.0.6

Aug 3 11:56:37.966317 sonic NOTICE swss#orchagent: :- addSubPort: Sub interface Ethernet0.2 inherits mtu size 9100 from parent port Ethernet0
Aug 3 11:56:37.973345 sonic NOTICE swss#orchagent: :- setHostIntfsStripTag: Set SAI_HOSTIF_VLAN_TAG_KEEP to host interface: Ethernet0
Aug 3 11:56:38.056975 sonic INFO syncd#syncd: [none] SAI_API_ROUTER_INT

[2021-08-04 12:10] Hedgehog-Guru opened #8335 "port channel - cli output | when physical port assigned to Portcahnnel -its appear under vlan column of the "show interfaces status" command"
#### Description

when create port channel and assign physical interface to it , portchannel name will appear under vlan column  header of the "show interface stats"

#### Steps to reproduce the issue:
1.create interface Portchannel
2.assigne physical port to the Portchannel
3.show interface status

#### Describe the results you received:
PortChannel shown under vlan column header

root@r-qa-sw-et

[2021-08-04 12:13] Blueve opened #8336 "[Nokia] Console baud rate should be 9600 instead of 115200 by default"
#### Description

For Nokia platform, we need the default console baud rate to be 9600 instead of 115200
There are two parts:
1. Image baud rate should be set to 9600 after boot up
2. ONIE image uboot with baud rate 9600

#### Steps to reproduce the issue:
N/A

#### Describe the results you received:
Baud rate is 115200

#### Describe the results you expected:
Baud rate is 9600

#### Output of `sh

[2021-08-04 12:24] Blueve opened #8337 "[ARM] ping6 is not available in orchagent docker"
#### Description

The `ping6` tool is available in amd64 build image but missing in armhf build image.

The base image doesn't explicitly install the `iputils-ping` for both amd64 and armhf, we guessing the tool might be installed as some packages' dependency in amd64 base image.

To solve the issue, we can explicitly install the package on the top of armhf base image.

#### Steps to reproduce the

[2021-08-04 13:56] chitra-raghavan commented on #8261
Dell is working on this.

[2021-08-04 14:31] velaar commented on #6306
Same here. Also, fans are in hwmon6 device they seem to ignore any input on fan*_target

[2021-08-04 15:13] zhangyanzhao commented on #8335
Exists for several releases, no functional impacts. Change may cause regression in test script, keep it so far.

[2021-08-04 15:16] zhangyanzhao commented on #8319
Img on Arm64 is not supported yet.

[2021-08-04 15:17] zhangyanzhao commented on #8316
Do you still need help or this one has been handled by yourself? @raphaelt-nvidia

[2021-08-04 15:19] zhangyanzhao commented on #8308
PR is waiting for review.

[2021-08-04 15:20] zhangyanzhao commented on #8308
@abdosi  will help to review the PR

[2021-08-04 15:24] zhangyanzhao commented on #8306
@qiluo-msft please help to take a look.

[2021-08-04 15:28] zhangyanzhao commented on #8287
@yxieca will take a look.

[2021-08-04 15:32] zhangyanzhao commented on #8273
No supported feature to configure policy on cpu0 port. Please create a feature ask for future release.

[2021-08-04 15:42] raphaelt-nvidia commented on #8316
Still need help.  The fix I did in pending PR#8317 eliminates some of the errors but not all.  The remaining errors are shown in the lower part of my description.  The problem seems to be around here:

mv ../systemd-sonic-generator_1.0.0_amd64.deb /sonic/target/debs/buster/
rm ../systemd-sonic-generator-* ../systemd-sonic-generator_*
rm: cannot remove '../systemd-sonic-generator-*': No such file o

[2021-08-04 17:31] Staphylo commented on #6641
FWIW I merged a fix in master for this issue as part of #8281
We do not have an immediate desire to backport this to 202012 but we could if it is being asked for.

Bear in mind that that there are still a few shortcomings in our platform API that will make `system-health` report faulty PSUs though they are just fine.
We're working on exposing the missing PSU power consumption API as well as an oth

[2021-08-04 17:32] #8319 closed

[2021-08-04 19:29] yxieca commented on #8287
@AndoniSanguesa thanks for raising this issue. I don't have exact vs image you tested and hit this issue. the latest vm image seems to be fine for me. Can you try latest and see how it goes?

admin@vlab-01:~$ show version

SONiC Software Version: SONiC.master.27172-e13f5246b
Distribution: Debian 10.10
Kernel: 4.19.0-12-2-amd64
Build commit: e13f5246b
Build date: Wed Aug  4 14:29:43 UTC 2021
Built

[2021-08-04 21:22] vikneels commented on #8020
Judyjoseph, thanks for taking a look. let me try those and also will make sure on the presence of context.json and get back on this.

[2021-08-05 03:43] #8293 closed

[2021-08-05 06:36] raphaelt-nvidia commented on #8189
Here is suggested code to add to MirrorOrch::createEntry that would address this:

            else if (fvField(i) == MIRROR_SESSION_QUEUE)
            {
                sai_status_t status;
                sai_attribute_t attr;
                entry.queue = to_uint<uint8_t>(fvValue(i));
                attr.id = SAI_SWITCH_ATTR_QOS_MAX_NUMBER_OF_TRAFFIC_CLASSES;
                status = sai_switc

[2021-08-05 06:56] bingwang-ms commented on #7968
The issue is reopened since same issue is detected again on ```SONiC.20201231.11``` on Mellanox-SN4600C.
Static routes are configured, but neighbors are not resolved after config reload even after 10 minutes.
[code]
[code]

[2021-08-05 08:44] gcupryn commented on #6641
Thanks for the fix !
I have verified it on:

[code]

Output on my side looks :
[code]

What about supporting other platforms - I have quickly checked on WEDGE 100-32X from Edge Core:

[code]

and got :

[code]

[2021-08-05 14:00] #8337 closed

[2021-08-05 15:30] prsunny commented on #7968
@shi-su , is it due to arp_responder?

[2021-08-05 16:00] Staphylo commented on #6641
The system-health daemon is platform independent but it relies on some vendor specific platform API to work and as well as a configuration file.
To get support on the `x86_64-accton_wedge100bf_32x-r0` you should try to get in contact with the platform owner to see if they can add the missing support.
You can look at the git history of the files under https://github.com/Azure/sonic-buildimage/tree/

[2021-08-05 16:12] dflynn-Nokia commented on #8336
We (Nokia) have verified operation of the ixs-7215-T1 platform console port at 9600 baud after making manual changes in the u-boot bootloader, ONIE Linux, and Sonic Linux environments. We do have a bit of work to do to automate this and make it the default. We will update this Issue with status as we go.

Note that we have confirmed with our HW team that HW based flow control is not supported in t

[2021-08-05 16:23] yxieca opened #8351 "[Nokia] fanout switch syncd crashed with memory issue"
#### Description
This issue was found on nightly testbed. syncd crashed on fanout switch and causing link_flap test to fail.

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
syslog.342.gz:Jun  4 06:56:22.238158 str-2-7215-acs-2 INFO syncd#supervisord: syncd syncd: cpssEnabler/mainOs/src/gtOs/linux/osLinuxMem.c:700: internalOsFree: Assertion `memblock != ((void

[2021-08-05 17:29] shi-su commented on #8189
I am not sure about this, but I felt it should be '>=' since it seems to be defined as the maximum number and 0-14 includes 15 values. In an extreme case that it supports nothing, the return value should be 0, otherwise, it could not cover it. This is just my feeling, we need to check.

Another concern about this change is that it seems to check for `SAI_SWITCH_ATTR_QOS_MAX_NUMBER_OF_TRAFFIC_CLASS

[2021-08-05 17:46] raphaelt-nvidia commented on #8189
I see that many instances of calling sai_switch_api->get_switch_attribute occur in initialization routines, so I agree with your second comment.  If you wish me to supply the code, I would like to wait until there is a definite ruling on my original question, so that we can test it with a conforming SAI implementation.

[2021-08-05 18:16] sujinmkang commented on #8230
thermal_manager is not available for all platform and this is only place which is missing to check if it exists before calling the thermal_manager.stop() in thermalctld.

[2021-08-05 21:39] praveen-li commented on #8249
https://github.com/Azure/sonic-buildimage/pull/8318

[2021-08-05 22:33] shi-su commented on #8189
I tried your proposed fix. Interestingly, for the scenario that valid values for queue are 0-14, the `SAI_SWITCH_ATTR_QOS_MAX_NUMBER_OF_TRAFFIC_CLASSES` is neither 14 nor 15. I got 16 for this attribute. Not sure what went wrong.

[2021-08-06 01:43] vaibhavhd commented on #8101
Closing as this is a duplicate.

[2021-08-06 01:43] #8101 closed

[2021-08-06 01:46] vaibhavhd commented on #7974
The latest SAI for 202012 fixes this issue - https://github.com/Azure/sonic-buildimage/pull/8179

[2021-08-06 01:46] #7974 closed

[2021-08-06 01:50] #8085 closed

[2021-08-06 07:11] Junchao-Mellanox opened #8362 "[sonic-utilities] config reload got exception if "state" field is not present in FEATURE table of CONFIG_DB"
#### Description

Execute "config reload -y" got exception:
[code]

The root cause on my environment is that "state" is not a field of "FEATURE|rest_api" in CONFIG_DB:

[code]

So the question is that: is state a mandatory field of FEATURE table. If yes, this is a configuration issue; else we need fix the code at line https://github.com/Azure/sonic-utilities/blob/4b88e0eaae942c1cde32953f3814d438b3

[2021-08-06 08:20] jeffchen1988 commented on #8216
I work as an engineer in Delta company. (HW vendor)
Actually, it is no problem to bring up TD4 BCM56880_B0 chip by **hsdk-all-6.5.20**.
And there are four config.yml used for bcm.user.
- ./bcm.user -y 32x400.config.yml -y bcm-device.config.yml -y lane_map.config.yml -y preemphassis_3m_dac.yaml

However, is it possible to use one config.yml merged by the four ymls for SONiC SAI?
- td4-dds32c4s-32x4

[2021-08-06 10:27] raphaelt-nvidia commented on #8189
The 16 is a bug in our SAI implementation that has been changed to 15 - not sure when that goes upstream.  My question here is whether it should actually be changed to 14.

[2021-08-06 13:08] AkhileshSamineni opened #8364 "Specify the global IPv6 mode to enable/disable in device metadata field."
As per the review comments in IPv6 link local enhancements (https://github.com/Azure/SONiC/pull/625) HLD, need to specify the global IPv6 mode to enable/disable in device metadata field from kernel perspective.

In current code, the IPv6 global mode is set to enable by default.

[2021-08-06 13:41] gcupryn commented on #6641
Thanks @Staphylo for the explanation, I have found needed contact.

[2021-08-06 13:41] #6641 closed

[2021-08-06 16:46] shi-su commented on #8189
Per my understanding, 15 makes better sense. Yet this question should better be answered by someone who is familiar with the SAI definition.

[2021-08-06 23:13] vaibhavhd opened #8367 "[warm-reboot] APPLY_VIEW failure in set operation "SAI_API_FDB:brcm_sai_set_fdb_entry_attribute""
#### Description

SYNCD and OA failures seen during APPLY_VIEW. Two issues that are brought up here:

1. As part of APPLY_VIEW, SET operation `brcm_sai_set_fdb_entry_attribute` failed during `asic_process_event: field: SAI_FDB_ENTRY_ATTR_ALLOW_MAC_MOVE, value: true`
2. As a result, syncd sent `sendShutdownRequest` to OA, OA also crashed because of kernel GP in `free` call with error `corrupted uns

[2021-08-07 00:53] vaibhavhd commented on #8231
This turned out to be a lab connection issue (between DUT and fanout) due to bad cable/optics. Issue is fixed with replacements.

[2021-08-07 00:53] #8231 closed

[2021-08-07 17:02] bluecmd opened #8371 "VXLAN programming fails with `brcm_sai_create_tunnel_map_entry: Can't create brcm vxlan tunnel`"
#### Description

We are unable to get VXLAN (as part of EVPN) to work on our Trident 3 switches. Following the information we can find, we end up with a `syncd` process that is failing to program the ASIC.

We have tried on two different platforms from two different vendors, and using both SONiC 202012 and master from a few days ago.

#### Steps to reproduce the issue:
 1. Start `show logging -f`

[2021-08-08 03:10] liushilongbuaa commented on #7349
https://github.com/Azure/sonic-buildimage/pull/8373

[2021-08-08 06:46] raphaelt-nvidia commented on #8189
How do we identify and get the attention of the people who should decide?  It seems to me that if the decision is 15, then the comment "Maximum traffic classes limit" should be changed and clarified.  Also say something about the lower bound.  Is the assumption that 0 is the lowest valid value true for all platforms?

[2021-08-08 13:29] liorghub commented on #7190
@anshuv-mfst
@NoySa
@dprital

The fix is merged, see https://github.com/Azure/sonic-swss/pull/1808.
Please close this bug.

[2021-08-09 06:25] shi-su commented on #8189
@zhangyanzhao Could you please help get attention from someone who has expertise in the SAI definition? This seems to go beyond my knowledge set.

[2021-08-09 12:50] SavchukRomanLv opened #8388 "caclmgrd.service FAILURE status for single ASIC device"
#### Description
After  [8222](https://github.com/Azure/sonic-buildimage/pull/8222)  caclmgrd.service: Main process exited, code=exited, status=1/FAILURE error appears due to reference before assignment error:
`Aug  9 14:37:00.653073 igk-5-dut INFO caclmgrd[16197]:   File "/usr/local/bin/caclmgrd", line 821, in <module>
Aug  9 14:37:00.653191 igk-5-dut INFO caclmgrd[16197]:     main()
Aug  9 14:37

[2021-08-09 12:50] SavchukRomanLv commented on #8388
@trzhang-msft can you please take a look?

[2021-08-09 15:10] mlok-nokia opened #8389 "[rsyslogd][multiasic] rsyslogd process exited with FATAL status in mutliasic platform database container"
#### Description

In multiasic platform, rsyslogd process exited with FATAL status in the global instance database container.  In the database container, /etc/rsyslog.conf is empty file.

#### Steps to reproduce the issue:
1.  go to the the database container: docker exec -it database bash
2. execute command :  supervisorctl status

#### Describe the results you received:
[code]
#### Describe the

[2021-08-09 15:37] kcudnik commented on #8177
ping, on thread and fix PR

[2021-08-09 17:30] #8308 closed

[2021-08-09 18:01] dgsudharsan opened #8392 "Incorrect rate values in counters_db rates table populated through rates lua script"
#### Description
RIF rates and port rates calculation has couple of issues.
1) The counterpoll command gives polling interval in milliseconds. Lua script expects the delta (time difference) arguments to be in seconds. However, syncd multiplies it by 1000 which I think is wrong.(Rates would be order of 10^6 less).
https://github.com/Azure/sonic-sairedis/blob/master/syncd/FlexCounter.cpp#L1600

2) B

[2021-08-09 18:45] trzhang-msft commented on #8388
@SavchukRomanLv thanks, the fix is here https://github.com/Azure/sonic-buildimage/pull/8393

[2021-08-09 18:59] dgsudharsan opened #8394 "Clear rifcounters per interface is not working as expected"
#### Description
The per interface clear is not working as expected in CLI. When we clear the per interface counters and execute show interface counters rif globally, the old values still show. However, the show at the interface level displays counters after the clear. Digging into this, I found out that per interface level commands use a different storage file than global level command and thus s

[2021-08-09 19:41] tjchadaga opened #8397 "[warm-reboot] [TH3] test_warm_reboot fails and orchagent crash seen on 9332f platform"
#### Description

Warm-reboot test fails at APPLY_VIEW due to SAI_OBJECT_TYPE_TUNNEL_TERM_TABLE_ENTRY create error. The following log is seen in syslog:

ERR syncd#syncd: :- executeOperationsOnAsic: Error while executing asic operations, ASIC is in inconsistent state: :- asic_process_event: failed to execute api: create, key: SAI_OBJECT_TYPE_TUNNEL_TERM_TABLE_ENTRY:oid:0x2b00000000080f, status: SA

[2021-08-10 00:42] #8388 closed

[2021-08-10 00:43] trzhang-msft commented on #8388
fixed by https://github.com/Azure/sonic-buildimage/pull/8393

[2021-08-10 00:55] bingwang-ms opened #8401 "[pmon] pcied keeps flooding WARNING and ERROR logs"
#### Description

```pcied``` keeps flooding WARNING and ERROR on mellanox platform. But seems all PCIE cards are working, and all interfaces are up.
[code]
[code]
#### Steps to reproduce the issue:
1. The logs are flooding every  minute
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[2021-08-10 00:59] AlanYoush opened #8402 "EVPN Vxlan FDB would not be delete when clear bgp evpn route"
When clear the bgp evpn neighbor, then the vxlan evpn type3 routes would be deleted. And vlan member of tunnel bridge port was deleted and lead to flush fdb entries by vlan and tunnel bridgeport. But when vxlan evpn type3 routes removed caused to remove fdb entries, it would cannot find the fdb entries in redis meta key and failed to remove fdb entries in orchagent. The remote dynamic p2p tunnel i

[2021-08-10 01:00] youshcentec opened #8403 "202012 Branch Vxlan EVPN ARP suppression can't be enabled"
When I configure ARP suppression, the command of "config neigh-suppress vlan <"on"/"off">" is invalid. How can
I configure ARP suppression ?

[2021-08-10 01:13] vincentchiang-ec opened #8404 "[Broadcom platform] CLI change MTU causes portmgrd crashed"
#### Description

Use CLI to change MTU, portmgrd is crashed.

#### Steps to reproduce the issue:
1. Use CLI "sudo config interface mtu Ethernet0 1501" to change MTU value

#### Describe the results you received:
Syslog:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):
Thi

[2021-08-10 01:56] bingwang-ms opened #8405 "[telemetry] Telemetry docker is not triggered after config reload"
#### Description

```telemetry``` is not triggered after ```config reload```
[code]
And ```telemetry.timer``` service is stuck at waiting even 10 more minutes after config reload.
[code]
[code]
#### Steps to reproduce the issue:
1. Run config reload, and check the status of telemetry
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show versi

[2021-08-10 02:24] bingwang-ms commented on #8401
@sujinmkang Are you working on this issue?

[2021-08-10 02:50] sujinmkang commented on #8401
@bingwang-ms This error happens because MLNX4600 needs the different mlnx pcie.yaml file for the different BIOS version on the device. All changes are already in even with the last change (https://github.com/Azure/sonic-buildimage/pull/8309) from MLNX. It's included in 202012 branch 5 days ago.

[2021-08-10 02:51] abhiranjeet opened #8406 "Enabling INCLUDE_PDE build failed"
#### Description
     SONiC Buildimage fails when `INCLUDE_PDE` is enabled in `/rules/config`.

#### Steps to reproduce the issue:
1. Make changes to `/sonic-buildimage/rules/config`; `INCLUDE_PDE=y`
2. make init
3. make configure PLATFORM=broadcom
4. make target/sonic-broadcom.bin

#### Describe the results you received:
[code]

#### Describe the results you expected:
I expected that an ONIE-comp

[2021-08-10 03:42] qiluo-msft commented on #8177
@marian-pritsak Could you answer @kcudnik 's question on https://github.com/Azure/sonic-buildimage/issues/8177#issuecomment-884340109

[2021-08-10 03:48] dgsudharsan commented on #8394
@abdosi FYI.
@noaOrMlnx  Please tag this issue to the fix.

[2021-08-10 03:48] dgsudharsan commented on #8392
@abdosi FYI.
@noaOrMlnx  Please tag this issue to the fix.

[2021-08-10 18:11] #8312 closed

[2021-08-10 18:16] yxieca commented on #8367
We need to revert the follow PRs until the regression is addressed.

https://github.com/Azure/sonic-swss/pull/1331
https://github.com/Azure/sonic-buildimage/pull/4819

[2021-08-10 18:35] #8314 closed

[2021-08-10 19:12] vaibhavhd commented on #8204
This is due to PR - https://github.com/Azure/sonic-utilities/pull/1624

The root cause was explained in https://github.com/Azure/sonic-utilities/pull/1624#discussion_r681860907

The fix is work in progress by Mellanox.

[2021-08-10 20:36] vaibhavhd opened #8415 "[warm-reboot] GP error seen when Orchagent gets on_switch_shutdown_request"
#### Description

This is an issue that was seen when https://github.com/Azure/sonic-buildimage/issues/8367# was hit.
Orchagent crashes with core and GP in kernel while doing `on_switch_shutdown_request`.

#### Steps to reproduce the issue:
1. Simulate a switch creation failure, so that OA receives on_switch_shutdown_request
2. Core is produced, and GP is seen in syslog
3.

#### Describe the resul

[2021-08-10 21:10] Praveen-Brcm commented on #8367
@vaibhavhd : Can you please share the full syslog files, also the TechSupport file collected after the failure.?  - Thanks.

[2021-08-10 23:59] tushar-ty commented on #8371
The following config properties are needed to enable vxlan on TD3:

use_all_splithorizon_groups=1
riot_enable=1
sai_tunnel_support=1
riot_overlay_l3_intf_mem_size=4096
riot_overlay_l3_egress_mem_size=32768
riot_overlay_ecmp_resilient_hash_size=16384
flow_init_mode=1

[2021-08-11 00:54] vaibhavhd commented on #8089
This test was earlier seen on dualtor, and later marked as skipped.

On mocked dualtor setup, this test is consistently passing now.

[2021-08-11 00:54] #8089 closed

[2021-08-11 01:06] gechiang commented on #6323
@chitra-raghavan This issue is due to TH3 has lower ACL resource and if DATA_ACL is already present, then it will not have space available to accommodate another ACL TABLE (in this case Test_acl).
Please remove DATA_ACL (or do not program it to begin with) and try again with the TEST_ACL table addition to see if it still fails.  The expectation is that it should not fail any more.
After your valid

[2021-08-11 01:19] #6875 closed

[2021-08-11 01:25] gechiang commented on #6392
@yxieca If this is a known issue with BRCM SDK should we pursuit the issue with BRCM to get a fix or this is not fixable by BRCM in which case we should go ahead make changes in testcase to not expect the exact address being reported in syslog?

[2021-08-11 01:28] gechiang commented on #6381
@chitra-raghavan Can you share what is the CSP that track this issue with BRCM?  Is this issue resolved?
Thanks!

[2021-08-11 01:33] theasianpianist opened #8423 "[dualtor] test_decap_active_tor fails"

[2021-08-11 01:40] gechiang commented on #5530
@srideepDell Please use an image that has the following PR in place to see if you still encounter this issue...
https://github.com/Azure/sonic-buildimage/pull/8395

[2021-08-11 01:43] gechiang commented on #5932
@vmittal-msft Is this already addressed by your recent MMUT profile PRs?

[2021-08-11 01:53] tjchadaga opened #8424 "[drop_packets][iface_namingmode] test_acl_drop and test_show_acl_table fail on platforms with no DATAACL table"
#### Description

DATAACL table programming is skipped on certain platforms like TH3 due to resource constraints. test_acl_drop and test_show_acl_table run into error while looking up 'dataACL' table

#### Steps to reproduce the issue:
1. Run test_acl_drop with DATAACL disabled
2. Run test_show_acl_table with DATAACL disabled

#### Describe the results you received:
test setup failure and  KeyErro

[2021-08-11 02:01] gechiang commented on #6392
@chitra-raghavan I just checked the test run results on TH3 for test_ser and they are passing for us.
Perhaps some recent changes already addressed the issue?
Can you please try again and see if the issue still present?
Thanks!

[2021-08-11 02:10] lolyu opened #8425 "[bbr] test_bgp_bbr fails"
#### Description

#### Steps to reproduce the issue:
`test_bgp_bbr` fails on the nightly run

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-11 02:14] lolyu commented on #8425
Could not reproduce with manually run. The error is because the new routed could not be verified on the neighbor `ARISTA15T0`, this might be a testbed issue, and the BGP setting on the DUT LGTM:
[code]

[2021-08-11 03:04] lolyu commented on #8425
Could not reproduce, the test passed on other nightly t1 with 20201231.15 image, let's wait for the result for another run.

[2021-08-11 03:31] lolyu commented on #8425
The BGP running config for this looks correct to me(as `allowas-in` was assigned on the PG level)
[code]

[2021-08-11 05:37] chitra-raghavan commented on #6381
@gechiang , CSP is in Open state.
CS00011813932 - [Th3 Z9332]: packets are not dropped for class e address and src_ip_link_local address

[2021-08-11 06:40] gechiang commented on #6381
@chitra-raghavan
I just checked the test case and it shows the following:
[code]
Which it is saying that this is an expected BRCM behavior where it does not drop such packets and this test is no longer run for BRCM platforms.  I think you can close the BRCM case as well as this issue as it is an expected behavior.

Thanks!

[2021-08-11 07:20] vmittal-msft commented on #5932
Yes this should be taken care already. I took care for Z9332 (TH3) & Aravind recent PR for S5232F (TD3) should have taken care for this. @aravindmani-1 can confirm.

[2021-08-11 07:44] #8401 closed

[2021-08-11 07:53] bluecmd commented on #8371
@tushar-ty You just made some folks over here very very happy :D. We applied those lines to one of our TD3 switches, rebooted, and things started working straight away.

Amazing!

[2021-08-11 07:56] chitra-raghavan commented on #6392
@gechiang , the issue is still seen . These entries are mapped into "cannot pass" list .
https://github.com/Azure/sonic-mgmt/blob/master/tests/platform_tests/broadcom/files/ser_injector.py#L274

[code]

**Sample entry1**

[code]

syslog:

[code]
**Sample entry2:**

[code]
syslog :

[code]

[2021-08-11 09:05] kcudnik opened #8428 "[fast-reboot] long downtime period possibly exceed 30 seconds 202012 on mlnx2700"
#### Description
Data plane down can be reduced by additional 9 seconds (6 seconds on qosorch and 3 seconds on fdborch).

#### Steps to reproduce the issue:
1. fast boot on mlnx2700 (including 500 mac addresses) + @shlomibitton for help

#### Describe the results you received:
Current fast boot is on balance near 30 seconds

#### Describe the results you expected:
We should be reduce fast-boot as

[2021-08-11 09:06] kcudnik commented on #8428
My possible fix: https://github.com/kcudnik/sonic-swss/commit/5be43ebbcfb61d4b8fa4a3d557e61bd15fb79a76
But @shlomibitton already tested it and it didn't help

[2021-08-11 09:38] bingwang-ms commented on #8102
I can repro the issue now. But it looks like that the failure I reproed is caused by PR https://github.com/Azure/sonic-mgmt/pull/3897, which might be different with the problem mentioned in this issue.

[2021-08-11 10:06] lguohan opened #8429 "test_unknow_mac failure"
#### Description

#### Steps to reproduce the issue:
2021-08-10T14:03:09.6669121Z ============================= test session starts ==============================
2021-08-10T14:03:09.6672679Z platform linux2 -- Python 2.7.17, pytest-4.6.5, py-1.10.0, pluggy-0.13.1
2021-08-10T14:03:09.6719168Z ansible: 2.8.12
2021-08-10T14:03:09.6721860Z rootdir: /azp/agent/_work/8/s/tests, inifile: pytest.ini
2021

[2021-08-11 10:10] lguohan opened #8430 "test_memory_checker"
#### Description

#### Steps to reproduce the issue:
rrun test_memory_check on dual tor platform

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-11 10:25] liorghub opened #8431 "SONiC Zero ports PR tracker"
Allow system without ports in config db run without errors.
Related PRs:

| PR title                                                                                             | State                                                                                                               | Status

[2021-08-11 10:25] lguohan opened #8432 "qos/test_pfc_pause.py::test_no_pfc"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-11 10:29] lguohan opened #8433 "pfc_asymc/test_pfc_asym"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-11 12:02] #5932 closed

[2021-08-11 13:01] #7782 closed

[2021-08-11 13:37] prsunny commented on #8403
arp suppression is not supported in the current code.

[2021-08-11 13:46] lguohan commented on #8425
seems to be related. https://github.com/Azure/sonic-mgmt/issues/3786

[2021-08-11 16:41] sujinmkang opened #8435 "[202012 platform_tests] TestSfpApi.test_get_name failure"
#### Description
TestSfpApi.test_get_name failed on vms20-t1-7050cx3-3.1
platform_tests/api/test_sfp.py::TestSfpApi::test_get_name[str2-7050cx3-acs-03] FAILED

#### Steps to reproduce the issue:
1. run sonic-mgmt/tests/platform_tests/api/test_sfp.py
2.
3.

#### Describe the results you received:
2021-08-10T12:00:55.4781064Z ________________ TestSfpApi.test_get_name[str2-7050cx3-acs-03] ___________

[2021-08-11 16:51] sujinmkang opened #8436 "[202012 platform_tests ] TestSfpApi::test_get_presence failure on vms20-t1-7050cx3-3.1"
#### Description
platform_tests/api/test_sfp.py::TestSfpApi::test_get_presence[str2-7050cx3-acs-03] FAILED

#### Steps to reproduce the issue:
1. run sonic-mgmt/tests/platform_tests/api/test_sfp.py on vms20-t1-7050cx3-3.1
2.
3.

#### Describe the results you received:

2021-08-10T12:00:55.4933348Z
2021-08-10T12:00:55.4935642Z     def test_get_presence(self, duthosts, enum_rand_one_per_hwsku_hostna

[2021-08-11 17:03] sujinmkang opened #8437 "[202012 platform_test ] most of the test cases from test_sfp.py failed on vms20-t1-7050cx3-3.1"
#### Description
Lastest 202012 image has most of the test cases from test_sfp.py failed on vms20-t1-7050cx3-3.1

#### Steps to reproduce the issue:
1. run sonic-mgmt/tests/platform_tests/api/test_sfp.py on vms20-t1-7050cx3-3.1
2.
3.

#### Describe the results you received:
2021-08-10T12:00:55.7641003Z - generated xml file: /azp/agent/_work/19/s/tests/logs/platform_tests/api/test_sfp.xml -
2021-08

[2021-08-11 17:16] sujinmkang opened #8438 "[202012 platform_test] TestThermalApi::test_set_<low/high>_threshold failure on vms20-t1-7050cx3-3.1"
#### Description
Latest 202012 image has TestThermalApi::test_set_high/low_threshold failed on vms20-t1-7050cx3-3.1
platform_tests/api/test_thermal.py::TestThermalApi::test_set_low_threshold failure on vms20-t1-7050cx3-3.1
platform_tests/api/test_thermal.py::TestThermalApi::test_set_high_threshold failure on vms20-t1-7050cx3-3.1

#### Steps to reproduce the issue:
1. run sonic-mgmt/tests/platform_

[2021-08-11 17:24] sujinmkang opened #8439 "[ 202012 platform_tests ] TestWatchdogApi::test_arm_disarm_states failure on vms20-t1-7050cx3-3.1"
#### Description
Lastest 202012 image has TestWatchdogApi::test_arm_disarm_states failure on vms20-t1-7050cx3-3.1

#### Steps to reproduce the issue:
1. Run sonic-mgmt/tests/platform_tests/api/test_watchdog.py::TestWatchdogApi::test_arm_disarm_states on vms20-t1-7050cx3-3.1
2.
3.

#### Describe the results you received:
2021-08-10T12:04:31.9501044Z     @pytest.mark.dependency()
2021-08-10T12:04:31

[2021-08-11 17:29] sujinmkang opened #8440 "[202012 platform_tests] TestWatchdogApi::test_remaining_time failure on vms20-t1-7050cx3-3.1"
#### Description
Lastest 202012 image has sonic-mgmt/tests/platform_tests/api/test_watchdog.py::TestWatchdogApi::test_remaining_time failure on vms20-t1-7050cx3-3.1

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:
2021-08-10T12:04:31.9713678Z     def test_remaining_time(self, duthosts, enum_rand_one_per_hwsku_hostname, platform_api_conn, conf):
2021-08-10T12:04

[2021-08-11 17:36] sujinmkang opened #8442 "[202012 platform_tests ] cli/test_show_platform.py::test_show_platform_firmware_status failure on vms20-t1-7050cx3-3.1"
#### Description
Lastest 202012 image has platform_tests/cli/test_show_platform.py::test_show_platform_firmware_status failure on vms20-t1-7050cx3-3.1

#### Steps to reproduce the issue:
1. Run  sonic-mgmt/tests/platform_tests/cli/test_show_platform.py::test_show_platform_firmware_status on vms20-t1-7050cx3-3.1
2.
3.

#### Describe the results you received:
2021-08-10T12:33:54.6857522Z ===========

[2021-08-11 19:50] vaibhavhd commented on #8367
@Praveen-Brcm here is the syslog file. Techsupport I can pull up the next time I repro this.
[syslog.107.log](https://github.com/Azure/sonic-buildimage/files/6971015/syslog.107.log)

[2021-08-11 20:09] vaibhavhd commented on #8300
BRCM reported that the fix should be present in latest SAI version `5.0.0.7`. Leaving this issue open until image verification with the latest SAI.

[2021-08-11 22:15] tjchadaga opened #8446 "[system_health][Dell 9332] test_system_health fails since thermal_policy.json is missing for Dell platforms"
#### Description

thermal_policy.json file is missing for Dell platforms. This is causing test_system_health to fail at test_device_checker

#### Steps to reproduce the issue:
1. Execute test_system_health.py::test_device_checker

#### Describe the results you received:
Test case fails and throws the below error:
**"mv: cannot stat '/usr/share/sonic/device/x86_64-dellemc_z9332f_d1508-r0/thermal_po

[2021-08-12 06:47] bingwang-ms commented on #8102
The failure on dualtor-1 is not related to https://github.com/Azure/sonic-mgmt/pull/3897 since its SKU is ```Arista-7050CX3-32S-C32```. The issue is still flaky only on this testbed. I added a fixture to record mux cable status if test failed https://github.com/Azure/sonic-mgmt/pull/4014. Hoping to find some clues.

[2021-08-12 07:07] bluecmd commented on #8371
I'll keep this open for visibility even as the workaround is known; enable SAI tunnel and riot in the .bcm for applicable platforms.

Suggested action to close this issue:
 - If would be great if the VXLAN config command flagged that the platform does not support VXLAN instead of spamming the syncd log. The message could link to a Wiki page how to modify the platform configuration to enable VXLAN

[2021-08-12 09:07] nhe-NV opened #8448 "[mgmt-framework][docker] There is no critical_processes in docker-sonic-mgmt-framework"
#### Description
There is no critical_processes in docker-sonic-mgmt-framework

#### Steps to reproduce the issue:
admin@r-anaconda-51:~$ docker exec mgmt-framework bash -c '[ -f /etc/supervisor/critical_processes ] & cat /etc/supervisor/critical_processes'
cat: /etc/supervisor/critical_processes: No such file or directory

#### Describe the results you received:
cat: /etc/supervisor/critical_proc

[2021-08-12 09:20] bingwang-ms opened #8449 "Portchannel doesn't take traffic after updated"
#### Description

```test_po_update``` was failing in recent nightly test. I did some investigation, and found that it's because Portchannel didn't work after being updated.

 ```PortChannel0001``` is up
[code]
Route is as expected
[code]
But ping is not reachable
[code]
#### Steps to reproduce the issue:
The issue can be reproed with following script
[code]
The portchannel will come back after ar

[2021-08-12 11:50] raphaelt-nvidia commented on #8189
Ping

[2021-08-12 18:13] zhangyanzhao commented on #8189
Ack and let me see how can help on the SAI part.

[2021-08-12 18:36] bluecmd commented on #4969
I might be hitting this issue, or something similar - the symptom is that while Linux has the kernel routes installed, there are no SAI objects.

[code]

If I manually insert the L3 route using `l3 ip6route add VRF=3 IP=2001:678:f40:: masklen=48 mac=00:09:0f:09:d4:01 intf=100007` things start working as expected.

[2021-08-12 21:09] sujinmkang opened #8453 "[202012 platform_tests] test_platform_info.py::test_thermal_control_psu_absence error"
#### Description
202012 image has an error from sonic-mgmt/tests/platform_tests/test_platform_info.py::test_thermal_control_psu_absence error
on vms20-t0-7050cx3

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

ignore_list = ['.*Error getting sensor data: dps460.*Kernel interface error.*']
loganalyzer = <tests.common.plugins.loganalyzer.loganalyzer.LogAnalyzer

[2021-08-12 21:13] bluecmd commented on #6943
+1. I hit this issue with 202012 today. I was trying to understand how the templates were created to allow me to reverse engineer how to write the `PREFIX_SET` with a `ROUTE_MAP` - glad I found this issue before spending too much time on it.

Do you have an estimate when this can be fixed and backported to 202012?

[2021-08-12 23:32] sujinmkang commented on #8301
@lguohan and @rajkumar38 the sycd shutdown came from cold reboot script which soft-reboot was based off. As I understand, it was added to prevent some rare reboot failure - https://github.com/Azure/sonic-utilities/pull/223 is one of the changes that introduce the syncd shutdown.

[2021-08-13 01:08] yozhao101 commented on #8430
[Update]: I reproduced this issue on a Dual ToR `str2-7050cx3-acs-8`. The `test_memory_checker` will install a utility `stress` in the `streaming telemetry` container. But the `stress` utility sometimes can not be installed correctly. I am working on to figure out the root reason why the installation failed.

[2021-08-13 01:08] gechiang commented on #8404
I am able to reproduce this.
Had a discussion with Mahesh about this issue and this change was removed at SAI 4.3 bring up time suggested by BRCM since there was some issue with port not able to come up.
I am in the process of adding this change back to see if it addresses this issue while not causing the port not coming up issue.
I will then follow up with BRCM on this to get a final resolution.

[2021-08-13 01:25] sujinmkang commented on #8239
The last PR to fix all pmon regression test needs to be merged. https://github.com/Azure/sonic-mgmt/pull/3922

[2021-08-13 01:31] sujinmkang opened #8456 "[202012 platform_tests] TestChassisApi failures on vms20-t0-7050cx3-1"
#### Description
[202012 image have several failures  from platform_tests/api/test_chassis.py::TestChassisApi tests on vms20-t0-7050cx3-1

#### Steps to reproduce the issue:
1. Run sonic-mgmt/tests/platform_tests/api/test_chassis.py
2.
3.

#### Describe the results you received:
platform_tests/api/test_chassis.py::TestChassisApi::test_get_name[str2-7050cx3-acs-01] FAILED [  4%]
platform_tests/api/

[2021-08-13 01:34] kevinskwang commented on #8423
In this test case, it tries to set all interfaces to the active state with "swssconfig",  but this step can't be guaranteed. Some of the interfaces are still in the standy state. Below is the error log:
 Aug 12 10:39:59.076273 str2-7260cx3-acs-10 WARNING mux#linkmgrd: link_manager/LinkManagerStateMachine.cpp:801 handleMuxWaitTimeout: Ethernet28: xcvrd timed out responding to linkmgrd, current stat

[2021-08-13 01:55] lolyu opened #8457 "[BGP] test_bgp_update_timer failed"
#### Description

#### Steps to reproduce the issue:
Run `test_bgp_update_timer`

#### Describe the results you received:
* new BGP session could not be established after 30s wait.
* the announced route could not be verified
[code]
#### Describe the results you expected:

[2021-08-13 02:01] vaibhavhd opened #8459 "[dualtor] test_power_off_reboot failed with "Not all critical processes are healthy""
#### Description
`test_power_off_reboot ` failed.

**Steps to reproduce the issue:**
1. Issue seen in nightly run. Test: test_power_off_reboot
2.
3.

**Describe the results you received:**
`test_power_off_reboot` failure:

[code]
#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important

[2021-08-13 02:03] vdahiya12 opened #8460 "[202012 platform_tests] TestFanDrawerFans failures on vms20-t0-7050cx3-1"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-13 02:05] vaibhavhd opened #8461 "[dualtor] Test test_reload_configuration failed at "test setup failure""
#### Description
`test_reload_configuration` failed on dualtor.

#### Steps to reproduce the issue:
1. Issue seen in nightly run. Test: `test_reload_configuration`
2.
3.

#### Describe the results you received:
This looks like test issue:

[code]

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information

[2021-08-13 05:14] sujinmkang opened #8464 "[2020 platform_tests] TestChassisApi::test_status_led failure on vms20-t0-7050cx3-1"
#### Description

Latest 202012 image has platform_tests/api/test_chassis.py::TestChassisApi::test_status_led failure on vms20-t0-7050cx3-1
#### Steps to reproduce the issue:
1. run platform_tests/api/test_chassis.py on arista-7050cx3_32s
2.
3.

#### Describe the results you received:

platform_tests/api/test_chassis.py:444:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

[2021-08-13 06:25] #7968 closed

[2021-08-13 06:34] #6943 closed

[2021-08-13 11:37] charlag opened #8465 "Adding untagged vlan member failes (setPortPvid fails)"
#### Description
Adding untagged port vlan does not produce error in management interface but does not work and produced errors in syslog.
`setPortPvid` always fails because `m_rif_id` is always set.
Adding and removing ip address from port fixes it.

#### Steps to reproduce the issue:
1. `sudo config vlan add 500`
2. `sudo config vlan member add -u 500 Ethernet0`

#### Describe the results you re

[2021-08-13 13:41] bingwang-ms commented on #8429
The issue was also observed on SN4600 T0 testbed. But the error is a little bit different.
For dscp 3 and dscp 4, the packets were dropped, but drop counter didn't increase as expected.
For dscp 8, the packet was forwarded according to FDB table before clear, and drop counter didn't show packet drop either.

[2021-08-13 16:01] prgeor commented on #8437
Almost all the test cases are failing for SFP0, and I think its because the SFP0 object is not the expected one returned by the platform/chassis.

root@str2-7050cx3-acs-03:~# python2
Python 2.7.16 (default, Oct 10 2019, 22:02:15)
[GCC 8.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'sfp34'  => Probably the SFP0 object is not the expected one for index 0

[2021-08-13 19:30] vdahiya12 commented on #8460
on 2012 this seems to be problem.
RCA
admin@10.3.146.65's password:
Linux str2-7050cx3-acs-04 4.19.0-12-2-amd64 #1 SMP Debian 4.19.152-1 (2020-10-18) x86_64
You are on
  ____   ___  _   _ _  ____
 / ___| / _ \| \ | (_)/ ___|
 \___ \| | | |  \| | | |
  ___) | |_| | |\  | | |___
 |____/ \___/|_| \_|_|\____|

-- Software for Open Networking in the Cloud --

Unauthorized access and/or use are prohibit

[2021-08-13 19:43] vaibhavhd opened #8471 "[dualtor] CRM failure seen in test_standby_tor_upstream_mux_toggle"
#### Description

#### Steps to reproduce the issue:
1. Run test `test_standby_tor_upstream_mux_toggle` on mocked dualtor testbed.
2. After applying fix in https://github.com/Azure/sonic-mgmt/pull/4041/files, the test still failed with below error.
3.

#### Describe the results you received:
[code]

#### Describe the results you expected:
Test should pass.

#### Output of `show version`:

[code]
(

[2021-08-13 19:48] vaibhavhd commented on #8471
The test expects that CRM counters remain unchanged. However, fdb count is increased. Test starts with fdb used count 24, and ends with 25
Before:
[code]
After:
[code]

[2021-08-13 19:51] vaibhavhd commented on #8471
This looks like test issue. Comparing fdb table before and after test, there is a duplicate entry for the same port. The new entry that shows up is test MAC ` 00:06:07:08:09:0A` which is generated by ptf testutils.

[code]

[2021-08-13 20:51] gechiang commented on #8404
@vincentchiang-ec I have added back this fix and validated that it addressed the issue.
Please help review the PR (https://github.com/Azure/sonic-buildimage/pull/8472)
Please refer to that PR for details on what was done and what is expected from BRCM team.
When the PR is merged and an image is available with the fix, please help re-evaluate and closet his issue if you are satisfied with the resol

[2021-08-13 22:01] #8397 closed

[2021-08-13 22:03] #8424 closed

[2021-08-13 22:48] shi-su commented on #8252
Is there any specific 202012 image number that this test case starts to fail? I tried to run this test multiple times on a 7050cx3 dualtor testbed with the 20201231.11 image, all passed.

[2021-08-13 22:54] vaibhavhd opened #8473 "[202012][fast-reboot] Dataplane downtime of 48s in 7260 T0 testbed"
#### Description

Flaky issue - While testing same image on 7260, once degraded downtime was seen.

#### Steps to reproduce the issue:
1. Issue seen in nightly test execution of test_fast_reboot (with I/O).
2. Test failed with downtime of 48s.
3.

#### Describe the results you received:

TBD

#### Describe the results you expected:

#### Output of `show version`:

`20201231.15`

#### Output of `sh

[2021-08-13 22:54] saiarcot895 opened #8474 "Bullseye: DHCP relay test case fails with missing packets and zebra crash"
#### Description

On a Bullseye image, when running the `dhcp_relay/test_dhcp_relay.py` testcase on a kvm t0 topology, `zebra` crashes, with the following backtrace:

[code]

In addition, the DHCP test case fails because it's unable to find the relay/offer packets.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output

[2021-08-13 23:15] bluecmd commented on #6943
I have verified the fix with the following configuration snippet:

[code]

It does not seem to work with online configuration through frrcfgd but running `systemctl restart bgp` causes the objects to show up, which is good enough for me for now.

The only part that did show up during "online" apply was this:
[code]

[2021-08-13 23:20] venkatmahalingam commented on #6943
It does not seem to work with online configuration through frrcfgd

[2021-08-13 23:23] bluecmd commented on #6943
Yep! I used `config load bgp.json` where `bgp.json` contained the snippet I shared.

[2021-08-14 01:56] vaibhavhd opened #8478 "[2700][master] Fast reboot failed with Orchagent crash"
#### Description

#### Steps to reproduce the issue:
1. Run test_fast_reboot (with IO)
2. The test would fail with DUT dropping traffic for longer than expected.
3. Check syslog

#### Describe the results you received:
[code]

#### Describe the results you expected:

Fast reboot should pass

#### Output of `show version`:
[code]
#### Output of `show techsupport`:

[code]

#### Additional informati

[2021-08-14 01:58] vaibhavhd commented on #8478
This is very similar to an existing issue triaged on BRCM platform, but it is seen during warm-reboot
https://github.com/Azure/sonic-buildimage/issues/8367

[2021-08-14 02:16] vaibhavhd commented on #8478
Update: this same issue is hit in warm reboot path also. Likely due to the same logic hitting with `mlnx_create_fdb_entry` when I/O traffic is running

[code]

[2021-08-14 04:59] #8367 closed

[2021-08-14 14:25] nishi4321 commented on #7804
Did you make any progress?

[2021-08-14 14:59] #8471 closed

[2021-08-14 16:02] #8091 closed

[2021-08-14 21:48] lguohan commented on #8474
the bug is fixed in #8443 , can you rebase your pr?

[2021-08-15 00:01] #8404 closed

[2021-08-16 02:31] Blueve opened #8479 "[Nokia][armhf] SQUASHFS errors which can lead to box becoming inaccessible"
#### Description

We observed that SQUASHFS errors raised randomly on our testbed and that issue can lead the switch becoming inaccessible.

The SQUASHFS errors happening on Open Community (OC) Test Run, usually happens after 35-45 hours.

#### Steps to reproduce the issue:
1. Install SONiC 202012 armhf on Nokia platform
2. Run OC test suite continuously

#### Describe the results you received:
Te

[2021-08-16 07:58] mpfau opened #8480 "Outdated links to images"
The links from https://github.com/Azure/SONiC/wiki/Supported-Devices-and-Platforms link to outdated binaries. Seems like https://sonic-build.azurewebsites.net/ui/sonic/Pipelines is the place to get the latest release.

[2021-08-16 13:15] chitra-raghavan opened #8483 "[Z9332][202012]: PFC WD is not working"
#### Description

[Z9332][202012]: PFC WD is not  working in 202012 images.
This is seen after inclusion of PR https://github.com/Azure/sonic-swss/pull/1111 in 202012  branch.
Without the PR changes ( with older version of pfc_detect_broadcom.lua)  , PFCwd works fine.

#### Steps to reproduce the issue:
1. Enable PFCwd with drop action
2. Send P3 Traffic from Port 1 to port2
3. Send PFC pause for

[2021-08-16 14:25] wangxin opened #8484 "State of mux feature is un-rendered in config_db.json"
#### Description

State of mux feature is un-rendered in config_db.json

#### Steps to reproduce the issue:
1. Check content of /etc/sonic/config_db.json
2.
3.

#### Describe the results you received:
State of mux feature is un-rendered in config_db.json:

[code]

#### Describe the results you expected:
State should be rendered, not raw Jinja template.

#### Output of `show version`:

[code]
####

[2021-08-16 14:48] wangxin commented on #8193
Probably caused by this issue: https://github.com/Azure/sonic-buildimage/issues/8484

[2021-08-16 19:31] #7811 closed

[2021-08-16 19:31] shall1024 opened #8489 "'show interfaces status' not showing any information"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-08-16 19:32] shall1024 commented on #8489
https://github.com/Azure/sonic-buildimage/files/6626056/sonic_dump_sonic_20210609_141754.tar.gz

[2021-08-16 20:47] tjchadaga opened #8490 "[202012 platform_tests][test_autonegotiation] test_autonegotiation cases are failing on most platforms"
#### Description

test_autonegotiation cases (enabled by https://github.com/Azure/sonic-mgmt/pull/3780) are failing on 202012 images. Issue is seen on most platforms.
The test cases are using config command which seems to be supported only on 202106 or later images

**config interface autoneg <interface_name> **(Versions >= 202106)**
This command is used to set port auto negotiation mode.**

####

[2021-08-16 20:50] vaibhavhd commented on #8473
Comparing timing data between pass and failure case:
Notes:
1. First port ready event started 13s late in fail case.
2. All port ready took extra ~12s( `updatePortOperStatus down to up` for all)
3.  Neighbor entry population too extra ~25s. (`|c|SAI_OBJECT_TYPE_NEIGHBOR_ENTRY` for all)

[code]

[2021-08-16 20:55] vaibhavhd commented on #8473
In the failure case, the syslog has a lot of `addFdbEntry` errors. Total 1196 such errors.
[code]

[2021-08-16 20:59] vaibhavhd commented on #8473
In first two port UP operations after fast-reboot, there is a gap of ~15s. In between first and second operation it appears that `ERR swss#orchagent: :- addFdbEntry: Failed to create dynamic FDB` is keeping swss busy, and swss receives the second port state change notification after 15s.

First:
Aug  9 19:33:38.623758 str2-7260cx3-acs-9 NOTICE swss#orchagent: :- updatePortOperStatus: Port Ethernet

[2021-08-16 21:03] vaibhavhd commented on #8473
Since physical port bring UP took so much of time, the LAGs were brought up much later than expected. And the downtime consecutively increased significantly.

[2021-08-16 22:59] saiarcot895 commented on #8474
Zebra isn't crashing anymore, so the switch is in a good state now, but DHCP packets are still not being received.

[2021-08-16 23:48] Staphylo commented on #8442
We do not report any firmware information on our products as of today so this failure is expected.
Could we just ignore this failure or is there something better we should do?

[2021-08-16 23:54] tahmed-dev commented on #8484
is it rendered when using `sonic-cfggen -d --print-data`? Maybe the configuration was not saved...

[2021-08-17 00:10] Staphylo commented on #8440
Our hardware does not have the capability to query remaining time.
On the master branch we ended up implementing a software workaround, but the downside is that it only work from within the same process. If one process monitors while a different one arms the watchdog it won't report accurate information.
I believe we just want to ignore this failure, but I could always cherry-pick our master worka

[2021-08-17 00:13] Staphylo commented on #8439
I believe this issue goes in pair with #8440 as this test requires `get_remaining_time` to work properly.
Fixing `get_remaining_time` would solve this problem.
Let me know if you're fine with ignoring this failure of if you would prefer a cherry-pick of the fix.

[2021-08-17 00:15] Staphylo commented on #8438
This is not implemented in our 202012 platform API but it is in master.
Because no daemon uses the `set_threshold` API I don't believe a fix is required.
Also I wouldn't really trust a platform independent daemon changing the temperature sensor threshold that are already set.
I would suggest ignoring this failure.

[2021-08-17 00:18] Staphylo commented on #8464
This API is implemented but failing indeed. I'll have a look.

[2021-08-17 04:17] qiluo-msft commented on #8310
@AndriiLozovyi Could you please check?
The port description should be optional field.

[2021-08-17 05:54] lolyu commented on #8457
Could not reproduce this and this issue has been gone from the latest nightly. Le'ts keep watching nightlies for the next few days.

[2021-08-17 05:56] Ariadw opened #8493 "EVPN_NVO Vxlan would not be deleted when delete all Vxlan"
#### Description

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

Description:
when I test the sonic-vxlan.yang,I can not delete the data what I was p

[2021-08-17 06:23] wangxin commented on #8484
I regenerated minigraph using "testbed-cli.sh gen-mg". This tool will generate minigraph to the DUT, load from minigraph and save config to /etc/sonic/config_db.json with command `sonic-cfggen -d --print-data`. It was still not rendered.

[2021-08-17 07:42] mchomnic commented on #8489
Hi @shall1024 ,
I found in your log:
_'container_checker' status failed (3) -- Expected containers not running: swss, teamd, snmp, dhcp_relay, syncd, radv_

Did you install new SDK? I found this after syncd initialization.

[2021-08-17 08:16] LuiSzee commented on #6884
@anshuv-mfst
I also meet the same question on centec arm64 board. 201911/202012 branch.
Is there any mechanism for check allPortsReady in sai ?
Maybe, portsOrch should call refreshPortStatus after allPortsReady.

[2021-08-17 14:28] wangxin commented on #8484
When the mux state is incorrect, same mux on both ToRs could be both active or standby.
After changed mux state in both ToRs to "enabled" and reloaded config, then the mux state became normal. For a same mux, if it is active on upper ToR, then it is standby on lower Tor, and vice versa.

[2021-08-17 15:29] AndriiLozovyi commented on #8310
@qiluo-msft,
I looked up to this, the issue was as you mentioned above.
Made PR that should fix this - [PR](https://github.com/Azure/sonic-mgmt/pull/4058)

[2021-08-17 15:43] sanmalho-git opened #8498 "SONIC_CLI_IFACE_MODE=alias show ip route returns output in json format"
#### Description
If we set interface naming mode to 'alias', and run the 'show ip route' command, the output is shown in json format. If we don't set SONIC_CLI_IFACE_MODE or set it to 'default', then the output is not in JSON format

Because of this, sonic-mgmt test test_show_ip_route_v4(https://github.com/Azure/sonic-mgmt/blob/master/tests/iface_namingmode/test_iface_namingmode.py#L921) and [test

[2021-08-17 16:01] sanmalho-git opened #8501 "'show acl table' as user guest user gives permission denied error"
#### Description

Test [test_show_acl_table](https://github.com/Azure/sonic-mgmt/blob/master/tests/iface_namingmode/test_iface_namingmode.py#L739) creates a guest user and then issues the command 'show acl table DATAACL'.

This command throws a 'Permission denied' error causing the test to fail.

#### Steps to reproduce the issue:
1.  Add guest user with password 'guest'
[code]

2. ssh into the bo

[2021-08-17 16:09] #8490 closed

[2021-08-17 16:48] sanmalho-git opened #8504 "sfputil show error-status on a multi-asic box shows no ports"
#### Description

Running command 'sudo sfputil show error-status' on a multi-asic box generates an empty table with no ports.

[code]
This command gets the ports from state_db in [sfputil/main.py](https://github.com/Azure/sonic-utilities/blob/b540f5f8fd73525d05f6cb3d1844849346f471c8/sfputil/main.py#L689), When no ports are defined as part command, then we are getting the ports using

[code]

Howe

[2021-08-17 19:33] dinosn opened #8506 "python not present on mgmt-framework docker"
#### Description
python not present on mgmt-framework docker

#### Steps to reproduce the issue:
1. Compile the image normally for broadcom
2. Run the image
3. execute sonic-cli

#### Describe the results you received:

[code]
<img width="807" alt="Screenshot 2021-08-17 at 9 28 20 PM" src="https://user-images.githubusercontent.com/3851678/129788334-78e4281a-95f2-4c9f-95d5-afb0519f281f.png">

####

[2021-08-17 22:23] yozhao101 commented on #8430
[Update]: This pytest script failed only on Dual ToR and passed all single ToR testing.

[2021-08-18 00:02] yozhao101 commented on #8430
@lguohan @yxieca

 [Update **Root Cause**]:
The logic of this pytest script `test_memory_checker.py` is as following:
1. (Fixture function) Reduces the monitoring interval of Monit from 60 seconds to 10 seconds.
2. Installs the `stress` utility in `streaming telemetry` container.
3. Runs `stress` utility to consume more than 400MB memory.
4. Checks whether the `streaming telemetry` container will

[2021-08-18 01:37] lolyu opened #8510 "[dualtor][202012] test_orchagent_slb fails"
[code]
[code]

[2021-08-18 02:50] bingwang-ms opened #8511 "[ACL][TD3] L3 ACL_TABLE catches IPv6 packets on TD3 platform"
#### Description

The issue was detected on TD3 platform when running ```test_null_route_helper```.
The test case created two ACL tables for testing
[code]
And both ACL tables have some rules for testing purpose
[code]
According to my understanding, below packet should be catched by ```BLOCK_RULE_fc03:1000::1/128```
[code]
However, ```RULE_9998``` in ```NULL_ROUTE_ACL_TABLE_V4``` will catch this p

[2021-08-18 03:21] keboliu opened #8512 "eth0 failed to get an IP address via DHCP when install the image via ONIE"
#### Description

When installing an image from ONIE, it failed to get an IP address for eth0, which result in no way to access the DUT except console.  This issue can be reproduced from the master image with the latest commit hash c89567750.  As I tested, if I revert https://github.com/Azure/sonic-buildimage/commit/c8b5daed27fa29a1d993379d68dbbe5b05dcfc0d, this issue disappeared, so I believe thi

[2021-08-18 04:42] lolyu opened #8514 "[202012][test_bgp_bounce] DUT discard all routes advertised to neighbor"
#### Description
`test_bgp_bounce` falsely passes over 202012 image.

#### Steps to reproduce the issue:
Run `test_bgp_bounce` over 202012 image

#### Describe the results you received:
1. After the test step applying the `bgp_plain` config, all BGP sessions are like:
[code]
* the neighbor status

[code]
* all updates(both inbound and outbound) are discarded due to missing policy, so the first che

[2021-08-18 04:48] lolyu commented on #8514
This is because `bbr` requires group policy for ebgp sessions, which is missing from the `bgp_plain` configuration. Will modify the configuration to either add group policy or disable this limitation.

[2021-08-18 06:20] #8310 closed

[2021-08-18 06:40] judyjoseph commented on #8449
@bingwang-ms Are you seeing this issue consistent ? I did try with 20201231.15 and it was ok - didn't see this behavior.
Can you check, else share the device details where you see the issue, would like to take a look at logs.

[2021-08-18 08:21] tjcw commented on #8512
I see the same problem with DHCP using the master branch at commit ca713e2fad73c436a4beef5470be7d24185a5bba , configured to use OVS switch (make configure PLATFORM=vs). I use the sonic-vs.img.gz image, decompressed and booted with qemu.
I have previously had success with the 201206 branch at commit 93e939b8af46e89183e4d845b834d8040e916f38 .

This is the first time that a build of 'master' has comp

[2021-08-18 08:37] tjcw commented on #8489
I often see this issue when I run SONiC in a VM with only 2 virtual CPUs, and the issue goes away when I increase to 4 virtual CPUs. Is this issue related to not having sufficient CPU power to run enough containers concurrently ?

[2021-08-18 09:55] keboliu commented on #8512
I was able to identify the problematic commit hash, it's  https://github.com/Azure/sonic-buildimage/commit/c8b5daed27fa29a1d993379d68dbbe5b05dcfc0d,  after I reverted it, I see the eth0 can obtain IP address as before.

[2021-08-18 10:01] gcupryn commented on #8489
Hi @tjcw,
 this particular issue is reported against HW platform:

[code]
Those boxes are powerful enough to run SONiC.

Fromm attached logs, it looks like docker containers are not in good shape:

[code]
The question is what made them crash and restart.

[2021-08-18 10:53] bingwang-ms opened #8518 "[dropcounter] drop counter doesn't increase for expired ttl or invalid vlan"
#### Description

The issue was found in ```test_drop_counter``` on SN4600, Mellanox platform.
```test_not_expected_vlan_tag_drop``` and ```test_ip_pkt_with_expired_ttl``` failed for same reason
[code]
```show interfaces counters rif``` didn't show any ```DROP``` or ```ERROR``` either.

#### Steps to reproduce the issue:
1. Run ```drop_packets/test_drop_counters.py::test_ip_pkt_with_expired_ttl```

[2021-08-18 12:54] keboliu commented on #6499
PR to fix this issue:
https://github.com/Azure/SONiC/pull/839
https://github.com/Azure/sonic-platform-daemons/pull/212

[2021-08-18 13:16] raphaelt-nvidia commented on #7505
The script that fails is /usr/share/swss/port_rates.lua.  Whereas in older versions, per-port tables such as RATES:oid:0x100000000014a:PORT had "INIT_DONE" with value "DONE", and COUNTERS:oid:0x100000000014a contains 57counters and their values, here none of the RATES:oid...:PORT tables exist,  and the only counter present is SAI_PORT_STAT_ETHER_TX_OVERSIZE_PKTS.   This causes the script to fail o

[2021-08-18 14:03] lolyu opened #8519 "[202012][test_fib] test_fib fails"
#### Description

`test_fib` constantly fails on nightly.

#### Steps to reproduce the issue:
This issue could be manually reproduced:
**NOTE**: both `icmp_responder` and `garp_service` are stopped.
1. build TCP packet with dest IP that has nexthop as one of the t1s
* dest IP as `100.1.0.29`
[code]
* build tcp packet that has dest MAC as the upper ToR
[code]
2. send the TCP packet to the upper ToR

[2021-08-18 14:48] vemulabalaji commented on #8489
Regarding "The question is what made them crash and restart."
Please refer to /var/log/syslog & /var/log/syslog.1 will have the reason for the crash.

In case those files are moved to syslog.*.gz, just reboot the Switch and please refer to /var/log/syslog.

I was not able to down load the full dump.

[2021-08-18 14:58] sanmalho-git opened #8520 "[chassis] monit container checker status fails on supervisor card with not all SFM's present"
#### Description

On a supervisor card in a VoQ chassis, we create syncd/teamd/swss/lldp etc dockers for each Switch Fabric card. However, not all chassis would have all the switch fabric cards present.  In this case, only dockers for Switch Fabrics present would be created.

The monit 'container_checker' fails in this scenario as it is expecting dockers for all Switch Fabrics (possibly based on N

[2021-08-18 15:17] mlok-nokia opened #8521 "[[supervisor][show][interfaces]show interfaces command shows warning on Supervisor card"
#### Description
On Supervisor card, execute CLI "show interfaces status" command. A warning message "Warning: failed to retrieve PORT table from ConfigDB!" is displayed since there is NO port interfaces on supervisor card

#### Steps to reproduce the issue:
1.  login to supervisor card.
2.  execute the CLI command "show interfaces status"

#### Describe the results you received:
[code]

#### Desc

[2021-08-18 16:13] gechiang commented on #8511
Will gather information to work with BRCM on invesitgating this issue further.

[2021-08-18 16:58] saiarcot895 commented on #8512
I see the cause of this issue: ifupdown2 3.0.0 added a check after starting dhclient to see if a new IP address was added (if dhclient succeeded in getting a new address); this check wasn't there in 1.2.8. This alone would be fine (and in fact match the behavior of ifupdown), but we're installing a policy file at `/etc/network/ifupdown2/policy.d/ifupdown2_policy.json` with `"dhcp-wait" : "no"` (pa

[2021-08-18 17:38] vaibhavhd opened #8523 "[202012] Fast reboot dataplane downtime degraded"
#### Description

#### Steps to reproduce the issue:
1. Run test_fast_reboot with IO.
2. The test would fail with dataplane downtime >30s.
3. This issue is seen on most of the HWSKUs.

#### Describe the results you received:
Fast reboot test failed with:
[code]

#### Describe the results you expected:
Fast reboot downtime should be less than 30s.

#### Output of `show version`:

[code]
#### Output

[2021-08-18 18:55] prsunny commented on #8518
@liat-grozovik to check and get back

[2021-08-18 23:18] Staphylo commented on #8453
I found the problem related to this issue.
The test replaces our thermal_policy configuration by its own but it therefore relies on properties we did not implement.
I will be adding the missing ones.

[2021-08-19 01:46] tjchadaga opened #8525 "[test_decap] [Broadcom] test_decap fails due to DSCP Uniform mode issue with IPinIP tunnel"
#### Description

IPinIP tunnels programmed with DSCP Uniform mode in ASIC-DB are not taking effect on any of the Broadcom XGS platforms (except TD3).  The test failure is seen for IPv4 & IPv6 tunnels

#### Steps to reproduce the issue:
1. Run decap/test_decap.py on TH, TH2, TH3 or TD2 platform

#### Describe the results you received:
test_decap fails due to DSCP field from outer IP header not bei

[2021-08-19 06:21] lolyu commented on #8519
the issue is because the acl rules left by `test_acl.py`, here is some acl rules left on the device after running `test_acl.py`:
[code]

[2021-08-19 07:36] vdahiya12 opened #8528 "[202012 dualtor] test_ipinip.py::test_decap_active_tor failure on vms21-dual-t0-7260"
#### Description
on vms21-dual-t0-7260 and other dualtor testbeds the test_ipinip.py::test_decap_active_tor fails because all ports are not toggled.

#### Steps to reproduce the issue:
1.run dualtor/test_heartbeat_failure.py::test_standby_tor_heartbeat_failure_upstream  test on a dualtor setup
2. followed by running dualtor/test_ipinip.py::test_decap_active_tor
3.

#### Describe the results you re

[2021-08-19 07:37] kcudnik commented on #8428
Just for notice what's happening in one qos between events
[code]

[2021-08-19 07:42] kcudnik commented on #8428
We could measure performance if redis is really slow here, for example by zmq, but becasue of this bug: https://github.com/Azure/sonic-swss/issues/1145 but OA is firectly listening on events on redis instead of on callback on the switch. Untill this will be fixed there is no easy way to compare speed between redisdb and zmq as a communication cahnnel

[2021-08-19 07:44] Blueve commented on #8479
Investigation from Nokia team:

# Ruled out
- Bad memory (DIMMS) - multiple memory stress tests run
- Bug in kernel zlib code - believe zlib code is victim of prior failure
- Kernel config changes to QSQUASHFS_DIRECT
- SCSI subsystem errors (scsi_logging_level - nothing reported)
- SSD device health, temperature, bad block count
- Compile kernel with gcc-7 compiler
- fstrim interference (commented

[2021-08-19 10:49] raphaelt-nvidia commented on #7943
Any news?

[2021-08-19 10:51] raphaelt-nvidia commented on #7988
Any news?

[2021-08-19 10:52] raphaelt-nvidia commented on #7989
Any news?

[2021-08-19 10:53] raphaelt-nvidia commented on #7990
Any news?

[2021-08-19 18:45] rajendra-dendukuri commented on #8512
This option was added to allow multiple dhclient instances to start in parallel. When dhclient is run on in-band interfaces(typically 32-48ports), having the no wait option ensures that "systemctl restart networking" is not blocked for a lot of time. Yes, if we remove it, there can be issues when using ZTP. Also, if the OOB interface is not receiving DHCP offer as soon as the switch boots, it may

[2021-08-19 20:04] tjchadaga opened #8531 "[warm-reboot] Warm-reboot with image upgrade fails to trigger due to ASIC config checksum failure"
#### Description

Warm-reboot from 201811 to 202012 image fails to trigger with ASIC config checksum failure

sudo sonic_installer list
Current: SONiC-OS-20181130.96
Next: SONiC-OS-20201231.18
Available:
SONiC-OS-20201231.18
SONiC-OS-20181130.96

sudo warm-reboot -v
ASIC config may have changed: errno=1
Thu Aug 19 19:40:11 UTC 2021 warm-reboot failure (1) cleanup ...
Thu Aug 19 19:40:12 UTC 2021 C

[2021-08-19 20:38] prsunny commented on #8531
Could you please try with `warm-reboot -f`?

[2021-08-19 21:45] prsunny commented on #8493
@srj102, could you please take a look?

[2021-08-19 22:09] tjchadaga opened #8532 "[warm-reboot] [SAI 3.5 to 4.3] Orchagent crash and SAI failure at INIT_VIEW seen after 'warm-reboot -f' with image upgrade"
#### Description

Orchagent crash is seen when warm-reboot -f is triggered from 201811 to 202012 ("-f" option is used as a workaround for https://github.com/Azure/sonic-buildimage/issues/8531)
#### Steps to reproduce the issue:
1. warm-reboot -f while on 201811 image, with next-image set to 202012

#### Describe the results you received:
[code]

#### Describe the results you expected:

#### Output

[2021-08-19 22:10] tjchadaga commented on #8531
warm-reboot -f helps get past this issue. Running into https://github.com/Azure/sonic-buildimage/issues/8532 after doing this.

[2021-08-19 22:17] dflynn-Nokia commented on #8479
After much effort we have determined the root cause of the squashfs errors and ext4 filesystem corruption observed on the Nokia ixs-7215 M0 platform when running the sonic-mgmt open community test suite. We isolated this down to the auto-restart and critical-process-monitoring test cases. In both of these test cases, a SIGKILL signal is issued to the syncd process within the syncd docker. There is

[2021-08-19 22:22] lguohan commented on #8512
can this ifupdown2 policy be per interface? the issue is on eth0 now.

[2021-08-19 22:37] saiarcot895 commented on #8512
For this particular policy entry, it looks like ifupdown2 checks only the global policy setting, not the per-interface policy setting. They do have the ability to specify per-interface policy settings, but this one is calling a method that only checks the global policy settings.

[2021-08-20 00:22] judyjoseph commented on #7810
I tried this couple of times to see if this issue is reproducible, but NOT ( I hit a similar failure but that was unrelated )

From the earlier logs when Vaibhav reproduced this issue, the root cause points to **teammgrd missing a portState update**
This update should have triggered Portchannel member add before the interface admin

Good case:
[code]

Bad case:
[code]

NEXT step: Will change a few

[2021-08-20 01:37] gechiang opened #8534 "[TH3] [Platform API] "watchdogutil arm 5" not working on z9332F platforms"
#### Description
While running reboot_test testcase against a z9332f DUT the testcase failed executing watchdog reboot test:
[code]
It looks like this platform is not honoring any "time" specification as part of the API parameter:
Also it appears even with default 180 second it is not taking effect...

[code]

#### Steps to reproduce the issue:
1. run the test_reboot testcase and observe the watch

[2021-08-20 01:37] gechiang commented on #8534
@sujinmkang Please help track this issue with the DELL team.
Thanks!

[2021-08-20 01:58] lguohan commented on #8484
@tahmed-dev , can you follow up this one. it is causing all failures on 7260 dual tor testbed.

[2021-08-20 06:22] gechiang opened #8538 "[DropCounters] Unable to configure Drop Counters on BRCM platforms"
#### Description
DropCounter configuration on all BRCM platform stopped working after the 07/31/21 202012 build.

[code]

#### Steps to reproduce the issue:
1. install 202012 image build on 7/31/21
2. Issue 'sonic-db-cli STATE_DB keys "DEBUG_COUNTER_CAPABILITIES|*"' and you should see this is no longer present in state DB.
3. Issue "show dropcounters capabilities" and you will see the new error me

[2021-08-20 07:47] gcupryn commented on #8489
Going through syslog.1 there is :

This part is for SAI level switch creation
[code]

From ASIC dependent layer perspective switch was initialized correctly
[code]

@shall1024 I can see that SONiC build you use is from April - is there a chance to give a try to newer(August) one ?

[2021-08-20 08:46] wangxin commented on #8484
Observed similar issue for feature `dhcp_relay` on master image.

Version:
[code]

Issue in /etc/sonic/config_db.json:

[code]

[2021-08-20 10:12] wangxin commented on #8484
Same issue on 7050 running 202012.18:

[2021-08-20 11:14] santhosh-kt commented on #8204
This issue got fixed in PR https://github.com/Azure/sonic-utilities/pull/1751

[2021-08-20 11:33] #8177 closed

[2021-08-20 13:24] tahmed-dev commented on #8484
@wangxin, rendering takes place after hostcfgd is restarted. I can see that config_db after first boot has the template, however when hostcfgd is started, mux service will start and config db in memory will be correct and also `show feature status`. It might take while to for mux service to start. Can you please provide `sonic-cfggen -d --print-data` after 2min of load minigraph. Also, provide `sh

[2021-08-20 17:32] tahmed-dev commented on #8484
[PR:8117](https://github.com/Azure/sonic-buildimage/pull/8117) delay start hostcfgd by 90sec. @wangxin it is not clear to me why the un-rendered value is the cause of the underlying failures.

Please elaborate on the expectations why template rendering is the issue rather than delay starting mux service.

[2021-08-20 17:35] tahmed-dev commented on #8484
@qiluo-msft can you please revert [PR:8117](https://github.com/Azure/sonic-buildimage/pull/8117)?

[2021-08-20 19:37] prsunny opened #8545 "[Teamd logs] Continuous tlm teamd logs"
#### Description

Observing continuous teamd logs on a stable system. Likely due to telemetry feature and exhibited from tlm_teamd

[code]

#### Steps to reproduce the issue:
1. Run image 202012 or above
2.
3.

#### Describe the results you received:
Continuous debug logs

#### Describe the results you expected:
Should not throw continuous logs

#### Output of `show version`:

[code]
#### Output o

[2021-08-20 19:38] prsunny commented on #8545
@judyjoseph for viz

[2021-08-20 22:28] gechiang commented on #8538
Confirmed that the change from
[debugcounterorch] check if counter type is supported before querying… ( 04105a4
is exposing the BRCM SAI issue where the count check was failing.
[code]

[2021-08-20 23:52] #8204 closed

[2021-08-21 01:20] gechiang commented on #8538
BRCM case CS00012205138 filed

[2021-08-21 02:01] vaibhavhd opened #8546 "[warm-upgrade] Warm upgrade from SAI 3.5 to 4.3 fails with SAI_SWITCH_ATTR_CPU_PORT RID differs"
#### Description

Warm upgrade from SAI 3.5 to 4.3 fails with a FIXME error:

`ERR syncd#syncd: :- helperGetSwitchAttrOid: FIXME: SAI_SWITCH_ATTR_CPU_PORT RID differs: oid:0x10100000000 (asic) vs oid:0x100000000 (redis), ids must be remapped v2r/r2v`

#### Steps to reproduce the issue:
1. Warm upgrade from 201811 to 202012 image (SAI 3.5 to 4.3) (or run test_upgrade_path case).
2. The warm upgrade

[2021-08-21 03:28] #8512 closed

[2021-08-23 03:51] tahmed-dev commented on #8484
@lguohan I do not think this issue is critical. If the `enabled` field is rendered or not, it is consumed by `hostcfgd` which renders the field anyway, obtains the target state, and enables `systemd` config accordingly. Subsequent `load_minigrpah` will not have effect on the timing as `systemd` is already configured, assuming switch type does not change.

The first boot is when those containers ar

[2021-08-23 04:50] Blueve opened #8553 "[BGP] BGPs are not able to start properly on HLX"
#### Description

The BGP sessions are not start up on HLX when using 202012 image.
BGP startup command will result in following logs:
[code]

#### Steps to reproduce the issue:
1. Install Broadcom 202012 image to HLX(E1031)
2. Run `show bgp ip sum`

Run the same procedure with 201811 image will get a expected result.

#### Describe the results you received:
[code]

#### Describe the results you e

[2021-08-23 06:22] FuzailBrcm commented on #8129
Added the fix for this issue as part of
https://github.com/Azure/sonic-buildimage/pull/7834

[2021-08-23 09:13] #7133 closed

[2021-08-23 14:20] bluecmd commented on #7804
@nishi4321 This platform is unlikely to be fixed by Accton anytime soon as it is an EOL switch in their catalog. My experience tells me however that companies are happy to review and merge fixes to their models if you were to give submit a PR.

Dynamic Port Breakout (DPB) is a relatively new feature in SONiC so very few platforms have been modified to support it. You have two choices: either use t

[2021-08-23 20:49] gechiang opened #8558 "[TH3][202012] WARMReboot test in test_advanced_reboot.py failed due to MAC events reported by SAI to SONIC during warmboot"
#### Description
While testing TH3 Advanced reboot, part of the warmreboot test we observed Orchagent crashed.  Upon closer examination on the syslog we found that the crash was due to BRCM SAI returning a set of bridge ports that belong to VLAN 1000 instead of the default VLAN (1).  This caused the meta checker to catch that the reference count being > 0 and failed the attempt to remove these non

[2021-08-24 02:09] #8081 closed

[2021-08-24 03:48] bingwang-ms commented on #8511
The issue is also found on 7260, not a TD3 platform. So I updated the title for the issue.

[2021-08-24 06:13] #8430 closed

[2021-08-24 10:14] bingwang-ms commented on #8511
Update
1. The ACL_V6 table could capture the packets when the ACL_V4 table was not present
2. Update the rule for IPV4 ACL can workaround the issue, for example, we can match ```ETHER_TYPE = "ETHERTYPE_IPV4"``` for IPV4 rules. Actually, this change has been done in PR https://github.com/Azure/sonic-utilities/pull/1540. But the change is not included in ```202012``` branch. We can do a clean cherry

[2021-08-24 13:49] Blueve commented on #8553
This might caused by wrong configured costumed BGP template.
I am investigating the issue.

[2021-08-24 13:56] mdivyamohan opened #8564 "Query: 202106 stable branch"
Hi,

In https://github.com/Azure/sonic-buildimage#readme I can see that last stable branch is 202012.
Any information on when 202106 branch will be frozen?

[2021-08-24 14:37] gechiang commented on #8511
@bingwang-ms Thanks for the experimental information update.  I will follow up with BRCM on this to confirm the behavior.

[2021-08-24 14:43] gechiang commented on #8511
@bingwang-ms One more favor to ask.  Can you also re-evaluate on the MLNX platforms that with the change for PR https://github.com/Azure/sonic-utilities/pull/1540 in place it is still functioning correctly?
Thanks!

[2021-08-24 17:47] kcudnik commented on #7403
any update?

[2021-08-24 18:35] shi-su opened #8569 "[fast-reboot] Long fast reboot downtime in asynchronous mode"
#### Description
Fast reboot experiences a long downtime (~250s) in asynchronous mode.

#### Steps to reproduce the issue:
1. Disable synchronous mode
2. Run fast reboot test
3.

#### Describe the results you received:
Downtime of ~250s exceeds the 30-second limit.

#### Describe the results you expected:
Downtime within 30 seconds.

#### Output of `show version`:
202012.11 or later

#### Output o

[2021-08-24 21:28] tjchadaga opened #8570 "[warm-reboot] Warm upgrade from 201811 to 202012 on SN-2700 results in SDK error and orchagent crash"
#### Description

Warm-reboot with upgrade from 201811 to 202012 on Mellanox-SN2700 platform failed with SDK errors while getting attribute SAI_PORT_ATTR_ADMIN_STATE. This resulted in orchagent crash

#### Steps to reproduce the issue:
1. warm-reboot -f on SN2700 loaded with 201811 image, next image set to 202012

#### Describe the results you received:
SDK errors in syslog:

[code]
Orchagent cras

[2021-08-24 22:42] dgsudharsan opened #8571 "IPv6 use-link-local-only disable is not working as expected"
#### Description
When there are no IPv6 addresses configured on an interface and IPv6 link local is enabled globally/local and then disabled, IPv6 should be disabled on the interface. However, IPv6 works on the interface and even ping from peer works on the link local IP address.
The behavior is not as per the HLD which has below statement.
"Similarly, the IPv6 mode on an interface is disabled whe

[2021-08-24 23:46] tjchadaga opened #8573 "[202012 platform_tests][9332] test_show_platform_syseeprom fails - API and show output differ"
#### Description

'show platform syseeprom' differs from the output retrieved from API using test_get_system_eeprom_info for 0xFD field

[code]

API output:
[code]

#### Steps to reproduce the issue:
1. Run platform_tests/test_show_platform.py::test_show_platform_syseeprom

#### Describe the results you received:
test_show_platform_syseeprom returns
Failed: System EEPROM info is incorrect - for '0

[2021-08-25 00:18] prsunny commented on #8571
@AkhileshSamineni , can you please take a look? @dgsudharsan , please check this [review comment](https://github.com/Azure/sonic-swss/pull/1463/files#r654055476)

[2021-08-25 01:01] bingwang-ms commented on #8511
@gechiang  Update on 7260 device.
I found the failure on Arista-7260 is caused by resoure limitation because I saw below error in syslog.
[code]
If I remove some ACL table before testing, the test will pass.
I'll do a double-check on TD3 platform also.

[2021-08-25 01:08] bingwang-ms commented on #8518
@andriyz-nv Thanks for the fix. How about the expired_ttl test? Is it not supported either?

[2021-08-25 01:13] #8514 closed

[2021-08-25 02:31] vaibhavhd commented on #7810
This issue is being hit rather more consistently in nightly regressions. 7260 is more stable. But issue is pretty consistently seen on 7050cx3 test_cont_warm_reboot.
Attaching latest syslog:

[syslog.113.gz](https://github.com/Azure/sonic-buildimage/files/7043199/syslog.113.gz)

[code]

[2021-08-25 03:26] bingwang-ms commented on #8511
The test case failed on TD3 for the same reason. ACL table was not created due to insufficient resources. Test will pass if I remove some ACL table before testing. I will update the test script to address this issue. Sorry for the trouble.

[2021-08-25 05:58] prsunny commented on #8538
Revert commit on 202012 branch - https://github.com/Azure/sonic-swss/pull/1884. Issue is still present on master

[2021-08-25 07:45] eyal-horn-nvidia opened #8581 "sonic-buildimage/files/image_config/copp/copp-config.service is marked "executable""
#### Description

The following file is marked executable:
-rwxr-xr-x 1 eyalh hardware 196 Jul 21 18:19 ./files/image_config/copp/copp-config.service

This causes the following warning:
Aug 25 06:36:43.738669 r-anaconda-51 WARNING systemd[1]: Configuration file /lib/systemd/system/copp-config.service is marked executable. Please remove executable permission bits. Proceeding anyway.

#### Steps to

[2021-08-25 07:50] gechiang commented on #8511
@bingwang-ms Thanks for sharing the details.  As we discussed over the phone this is indeed due to TCAM resources are almost fully occupied and your test case requires total 5 additional physical slices that the DUT does not have.  Both TD3 and 7260CX3 platforms have similar FP resources that has only one logical slice and 3 disjoint physical slices left.
This also explains why after you deleted t

[2021-08-25 07:53] bingwang-ms commented on #8511
Thanks @gechiang for the detailed instruction and explanation. I will update the test case as your great suggestion.

[2021-08-25 08:01] eyal-horn-nvidia commented on #8581
Attachments:
[https://www.dropbox.com/sh/4emorsjkicew0zm/AACkvISnGygkZFKas3hGmIVda?dl=0](url)

[2021-08-25 08:18] andriyz-nv commented on #8518
@bingwang-ms  Hi, expired_ttl is under investigation if it should be supported or not

[2021-08-25 09:12] bingwang-ms opened #8585 "[ACL][broadcom] EVERFLOW table is recreated when EVERFLOWV6 table is being updated"
#### Description

Updating ```ACL_TABLE:EVERFLOW``` and ```ACL_TABLE:EVERFLOWV6``` separately will cause the ```EVERFLOW``` table being recreated rather than being updated.

The root cause for this issue is a minor logic error in https://github.com/Azure/sonic-swss/blob/12f0ee7888be5efac5b4213e92d77a030832c40b/orchagent/aclorch.cpp#L3164-L3170
[code]
The ```MIRROR``` and ```MIRRORV6``` should be t

[2021-08-25 09:29] kcudnik commented on #8569
can you pass logs what happens during that 250s gap? full sairedis.rec and syslog please

[2021-08-25 10:13] nazariig commented on #7403
@kcudnik sorry, don't have enough time to get into this, will try to prioritize

[2021-08-25 11:42] jeffchen1988 opened #8587 "[SAI] The config.yaml format is not supported in SONiC SAI"
#### Description
It is no problem to bring up TD4-X11 chip by hsdk-all-6.5.20.
However, it seems the config.yaml format is not supported in SONiC SAI.
We have asked about if SONiC supports Broadcom TD4-X11 chip or not.
And the response from Broadcom CSP as below.

- _Broadcom CSP:_
Notes:
Check if "BCMCFG_USE_YAML_FILE" is defined.
Refer to bcmcfg_file_parse().

- _SONiC SAI version:_
BRCM SAI ver

[2021-08-25 12:14] kcudnik commented on #7403
no worries

[2021-08-25 15:07] #7497 closed

[2021-08-25 16:44] shi-su commented on #8569
Sairedis recording and syslog attached.
[sairedis.rec.txt](https://github.com/Azure/sonic-buildimage/files/7048551/sairedis.rec.txt)
[syslog.1.txt](https://github.com/Azure/sonic-buildimage/files/7048552/syslog.1.txt)
[syslog.txt](https://github.com/Azure/sonic-buildimage/files/7048553/syslog.txt)

[2021-08-26 03:39] dgsudharsan opened #8599 "Unable to override the auto generated IPv6 link local address."
#### Description

By default SONiC auto generates IPv6 link local address when use-link-local-only is set or a global IPv6 address/any IPv4 address is configured on the interface.
However, the is no mechanism to override the auto generated with a user configured link local address. There must be provision to either replace the auto generated address or remove it and then add user configured addres

[2021-08-26 19:08] tjchadaga opened #8605 "[9332][platform_tests] test_power_off_reboot fails since reboot-cause is not recognized after power-cycle"
#### Description

Platform API is not recognizing reboot-cause after powercycle of 9332.

[code]
Syslogs
[code]
#### Steps to reproduce the issue:
1. Powercycle device and check reboot-cause using 'show reboot-cause' or
2. Run platform_tests/test_reboot.py::test_power_off_reboot

#### Describe the results you received:
Reboot-cause shows as "Unknown" after power-cycle

#### Describe the results yo

[2021-08-26 20:00] dgsudharsan opened #8606 "IPv4 routes with IPv6 link local next hops are not installed in the hardware."
#### Description

IPv4 routes with IPv6 link local next hops are not installed in the hardware. The routes are not pushed to the ASIC DB. The issue is next hop is pushed to APP_DB as v4 instead of v6.

As we can see in the output below fe80:: is directly converted to ipv4 and it results in 254.128.0.0 as next hop which is wrong!!

show ip route
Codes: K - kernel route, C - connected, S - static, R

[2021-08-26 20:45] dgsudharsan opened #8609 "Link-local global command exists in the IPv4 CLI tree"
#### Description
Link local global commands exist in the IPv4 CLI tree. Currently there is no feature to support IPv4 link local. So this command shouldn't be part of the config CLI. This command however operates on the IPv6 CLI. Its better to remove the command for IPv4.
[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results you exp

[2021-08-26 20:50] dgsudharsan opened #8610 "show ipv6 link-local-mode doesn't display 'disabled' mode if the interface doesn't have global IPv6 address"
#### Description

The show ipv6 link-local-mode command doesn't show the interface as disabled, if the interface doesn't have global IPv6 address. The command needs to be enhanced to show the link-local-mode irrespective of whether the interface contains any other IPv6 address.

[code]

#### Steps to reproduce the issue:
1.
2.
3.

#### Describe the results you received:

#### Describe the results

[2021-08-26 22:02] vivekreddynv opened #8611 "[Build][restapi] Failed to build sonic-restapi deb because of incorrect read-only permissions"
#### Description

Failed to build  sonic-restapi deb because of incorrect read-only permissions

#### Steps to reproduce the issue:
1. `make INCLUDE_MGMT_FRAMEWORK=y  INCLUDE_RESTAPI=y target/debs/stretch/sonic-rest-api_1.0.1_amd64.deb`

#### Describe the results you received:

[code]

#### Describe the results you expected:

make clean should be able to remove the directories

#### Output of `sho

[2021-08-27 00:00] mlok-nokia opened #8613 "[caclmgrd]load_sonic_global_db_config() should only be called for multiasic platform"
#### Description
python script caclmgrd calls function load_sonic_global_db_config() without checking if the platform is multiasic  platform.  This cause an error message has been logged.

#### Steps to reproduce the issue:
1.  Reboot the system.
2. checking the log message file by executing the following command
  ``` sudo grep "Sonic database" /var/log/syslog* ```
 The error message will be show

[2021-08-27 01:33] mlok-nokia opened #8615 "show ip interfaces on pizza box (single asic platform) triggers an error message in log file"
#### Description
CLI command "show ip interfaces" on single asic platform triggers an error message "/var/log/syslog:Aug 27 01:16:50.592178 sonic ERR python3: :- initializeGlobalConfig: Sonic database config global file doesn't exist at /var/run/redis/sonic-db/database_global.json" to be logged.

#### Steps to reproduce the issue:
1. Execute CLI command "show ip interfaces"
2. Execute the followin

[2021-08-27 01:40] #8615 closed, assigned to nobody

[2021-08-27 20:32] vivekrnv opened #8619 "[hostcfgd] hoscfgd doesn't honor CFG DB updates if they arrive in a specific time interval"
#### Description

We have an internal test which invokes "config feature state sflow enabled" at around 92 sec after the boot and the update was never honored. The issue was narrowed down to the delayed start of hostcfgd (which starts at 90th sec). I'll explain with an example

Let say system boots up at 0th sec. hostcfg starts at 90th sec. The hostcfgd reads the FEATURE|* tables at 90th sec and a

[2021-08-27 20:51] gechiang opened #8620 "[Z9332f] custom_led.bin failure during boot"
#### Description
Observed the following in the syslog for TH3 platforms during boot time:
[code]
Suspect this is due to the introduction of the following PR:
https://github.com/Azure/sonic-buildimage/pull/7964

#### Steps to reproduce the issue:
1. Just boot with the 20201231 image on a z9332f platform and then check the syslog to see the issue
2.
3.

#### Describe the results you expected:
It sho

[2021-08-27 22:39] yxieca opened #8621 "202012 branch image cannot detect PSU power loss event on Arista-7050-QX-32S platform"
#### Description
202012 branch image cannot detect PSU power loss event on Arista-7050-QX-32S platform

#### Steps to reproduce the issue:
(Note: PDU connection information is correct, turning off both PDU outlets will cause DUT to lost power).

1. turn off one of the 2 PDU connections towards Arista-7050-QX-32S
2. run "sudo psuutil status" to check PSU status on the PDU side
3.

#### Describe the

[2021-08-27 23:33] tjchadaga commented on #8605
@aravindmani-1 - Thanks, after firmware upgrade, the status is now " Hardware - Other (Power on reset)" instead of Unknown.
This is the version:
cat /var/log/firmware_versions
BIOS: 2.0.4
FPGA: 0.6
BMC: 1.3
Baseboard CPLD: 9
Switch CPLD 1: 1
Switch CPLD 2: 1

The test case still fails since its looking for "power loss". I guess the script can be updated to handle this.

[2021-08-30 05:36] dgsudharsan commented on #7959
@alexrallen  Can you please close this as the fix is merged?

[2021-08-30 09:10] robert1030 opened #8628 "Build failed for barefoot platform"
#### Description
1. Build failed for Barefoot platform
2. Branch: master

#### Steps to reproduce the issue:
1. git clone https://github.com/Azure/sonic-buildimage.git
2. sudo modprobe overlay
3. cd sonic-buildimage
4. git checkout master
5. make init
6. make configure PLATFORM=barefoot
7. make SONIC_BUILD_JOBS=4 all

#### Describe the results you received:
Build error message:
../orchagent/reques

[2021-08-30 11:49] liat-grozovik commented on #6053
@tahmed-dev and @shlomibitton could you please refer to this issue?

[2021-08-30 15:27] #8323 closed

[2021-08-30 15:40] AkhileshSamineni commented on #8609
@dgsudharsan There is no IPv4 CLI tree in config mode. We have only ipv6 tree.
The command "config ip disable  link-local" is same as "config ipv6 disable link-local", as CLICK treating 'ip' as short form for 'ipv6'.

Example : Command "show int status" is similar as "show interface status". CLICK treating 'int' as short form for 'interface'.
Please check once.

[2021-08-30 15:50] dgsudharsan commented on #8609
@AkhileshSamineni Please check show --help output here. There is an IPv4 tree
show --help
Usage: show [OPTIONS] COMMAND [ARGS]...

  SONiC command line - 'show' command

Options:
  -h, -?, --help  Show this message and exit.

Commands:
  aaa                   Show AAA configuration
  acl                   Show ACL related information
  arp                   Show IP ARP table
  boot

[2021-08-30 16:18] AkhileshSamineni commented on #8571
@dgsudharsan
Here are more details about ipv6 link-local :
1. The global/interface enable config command will create the RIF in the hardware, if there is no ipv6 global address configured on a interface.
2. The global/interface disable config command will delete the RIF in the hardware, if there is no ipv6 global address configured on a interface.
3. IPv6 LL is enabled by default in the kernel sta

[2021-08-30 16:22] dgsudharsan commented on #8571
@AkhileshSamineni Can you please check the steps provided

1.config interface ipv6 enable use-link-local-only Ethernet24
2.config interface ipv6 disable use-link-local-only Ethernet24
3.show ipv6 interfaces
4. Ping from peer

Before the first step RIF doesn't exist - Ping doesn't work
After the first step RIF is created - Ping works.
After the second step - RIF is not removed (There are no global

[2021-08-30 16:25] AkhileshSamineni commented on #8599
@dgsudharsan There is no knob for now to disable the ipv6 lnk-local from kernel.
There is a task item to disable the ipv6 link-local from kernel perspective - #8364

[2021-08-30 16:35] AkhileshSamineni commented on #8609
Please check the config --help, not show --help.

[2021-08-30 16:37] dgsudharsan commented on #8609
@A

Sorry for missing it out. Will close the bug. Thanks for clarification.

[2021-08-30 16:37] #8609 closed

[2021-08-30 17:18] AkhileshSamineni commented on #8610
@dgsudharsan The current show command will display the link-local mode only when RIF is present for the interface.
As you are asking to enhance the show command to display the link-local mode for all interfaces even though RIF is not present. It means by default, the command should display all the available interfaces right.

[2021-08-30 19:36] jeremytouve opened #8631 "syncd double free or corruption"
#### Steps to reproduce the issue:
1. Use `date -s` to update the current time
2. Enable NTP
3. Wait

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:
SONiC.HEAD.175-dirty-20200117.083849
[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

Here is t

[2021-08-31 02:06] dgsudharsan commented on #8610
Yes. That would be helpful for the end user.

[2021-08-31 08:27] msosyak commented on #8628
I will have a look.
As a workaround just run `make SONIC_BUILD_JOBS=4 all` again.
It kind of dependencies race conditions. Some targets depend on libsaivs another on bfn libsai and it could be the situation when the libsaivs is removed but bfn libsai is not installed yet, or vise versa. It depends on the SONIC_BUILD_JOBS parameter and server performance.

[2021-08-31 11:52] volodymyrsamotiy opened #8642 "[202012] [PR checks] Some KVM VS tests are failing"
#### Description

Below PR checks are failing for PRs created for ```202012``` sonic-buildimage branch.
* Azure.sonic-buildimage (Test kvmtest-t0)
* Azure.sonic-buildimage (Test kvmtest-t1-lag)

Failures are observed in the following tests:
* [test_container_checker[vlab-03|teamd]](https://dev.azure.com/mssonic/be1b070f-be15-4154-aade-b1d3bfb17054/_apis/build/builds/32242/logs/62)
* [test_cpu_memo

[2021-08-31 14:20] gechiang commented on #8620
Debugged this issue and found it was due to missing soc property in config.bcm files to specify the path for the custom_led binary.
Once specified "led_fw_path=/usr/share/sonic/hwsku/" then the failure is not seen.
Communicated the finding with DELL and DELL team has raised the PR.

[2021-08-31 17:54] #8437 closed

[2021-09-01 01:09] #8100 closed

[2021-09-01 02:14] lguohan commented on #8642
@yozhao101 , can you check?

[2021-09-01 02:16] lguohan opened #8645 "show_techsupport/test_techsupport.py::test_techsupport_commands[str2-7050cx3-acs-06] FAILED [ 66%]"
#### Description

#### Steps to reproduce the issue:
[code]

#### Describe the results you received:

#### Describe the results you expected:

#### Output of `show version`:

[code]
#### Output of `show techsupport`:

[code]

#### Additional information you deem important (e.g. issue happens only occasionally):

[2021-09-01 02:16] lguohan commented on #8645
link: https://dev.azure.com/mssonic/12b9cbf4-b1d3-4768-8e49-669345c32e5d/_apis/build/builds/32166/logs/14

[2021-09-01 02:23] bingwang-ms commented on #8449
Yes. The failure is consistent on SN4600 testbed.

[2021-09-01 02:24] yozhao101 commented on #8642
Thanks! I will check and figure out the reason.

[2021-09-01 02:42] tjchadaga opened #8646 "[9332][platform_test] PSU API test_power fails since get_maximum_supplied_power is not implemented"
#### Description

PSU api test - test_power fails since get_maximum_supplied_power is not
#### Steps to reproduce the issue:
1. Run TestPsuApi::test_power script on 9332 testbed

#### Describe the results you received:
Test case fails with the following error due to unimplemented API

[code]

Syslog

[code]
#### Describe the results you expected:
test case should pass

#### Output of `show version

[2021-09-01 03:24] qiluo-msft commented on #8645
My educational guess is that `show ip bgp neighbors` outputs no neighbors, so there is no further checks with these commands.
https://github.com/Azure/sonic-utilities/blob/70414008679e347596a10532427b383fae72be81/scripts/generate_dump#L402-L411

[2021-09-01 06:09] lguohan commented on #8645
is this expected?

[2021-09-01 08:44] prgeor commented on #8436
Fix PR: [https://github.com/Azure/sonic-mgmt/pull/4157](https://github.com/Azure/sonic-mgmt/pull/4157)

[2021-09-01 09:06] prgeor commented on #8108
I see its passing in latest run

<testsuite errors="0" failures="0" name="pytest" skipped="0" tests="2" time="123.940">
<properties>
<property name="topology" value="dualtor"/>
<property name="testbed" value="vms17-dual-t0-7050-1"/>
<property name="timestamp" value="2021-08-31 18:31:49.547868"/>
<property name="host" value="str2-7050cx3-acs-06"/>
<property name="asic" value="broadcom"/>
<property

[2021-09-01 15:10] zhangyanzhao commented on #8631
@jeremytouve can you please retry with latest 202012 image?

[2021-09-01 15:12] zhangyanzhao commented on #8619
Vivek will fix this issue.

[2021-09-01 15:16] zhangyanzhao commented on #4454
This issue should be still there. Need someone to handle.

[2021-09-01 15:22] zhangyanzhao commented on #8611
@sumukhatv can you please take a look and reply the mail? Thanks.

[2021-09-01 15:28] zhangyanzhao commented on #8606
Adam will take a look.

[2021-09-01 15:32] zhangyanzhao commented on #8599
Adam will follow up with @dgsudharsan offline.

[2021-09-01 15:34] zhangyanzhao commented on #8587
Adam will take a look. Somehow I can not assign the ticket to him.

[2021-09-01 15:39] zhangyanzhao commented on #8581
@Sudharsan Dhamal Gopalarathnam will take a look. Thanks.

[2021-09-01 15:45] zhangyanzhao commented on #8564
No firm ETA yet.

[2021-09-01 15:55] zhangyanzhao commented on #8538
Discussed with BRCM and Genhwa will take a look.

[2021-09-01 15:59] zhangyanzhao commented on #8525
Engaged with BRCM and BRCM is working on the fix.

[2021-09-01 17:55] zhangyanzhao commented on #8599
@AkhileshSamineni please also add the test cases for the related feature.

[2021-09-01 17:59] tjchadaga opened #8655 "[9332][platform_tests] CLI test - test_show_platform_psustatus fails due to invalid LED status"
#### Description

No status is retrieved for PSU LED, which causes test_show_platform_psustatus to fail. The below message is seen
[code]

#### Steps to reproduce the issue:
1. Run platform_tests/cli/test_show_platform.py::test_show_platform_psustatus or test_show_platform_psustatus_json

#### Describe the results you received:
[code]

#### Describe the results you expected:
Test case should pass

[2021-09-01 18:19] tjchadaga opened #8656 "[9332][platform_tests] TestChassisFan::test_get_speed fails due to a few fan speeds returned as RPM"
#### Description

test_get_speed expects fan speed in percentage (value 0 to 100), but some fan speeds are returned as RPM value. This issue is seen intermittently

#### Steps to reproduce the issue:
1. Run TestChassisFan::test_get_speed on 9332

#### Describe the results you received:
[code]

#### Describe the results you expected:
Speed output should be consistently returned as percentage

####

[2021-09-02 00:10] v-wfarris opened #8657 "Mellanox 2700 Unable to configure mgmt ip and hostname info"
#### Description

#### Steps to reproduce the issue:
1. Installed sonic-mellanox-20201231.08.bin on Mellanox 2700.
2. Went to following website: https://github.com/Azure/SONiC/wiki/L2-Switch-mode
3.Once I was logged in ran the following commands
cat <<EOF | sudo config reload /dev/stdin -y
{
    "MGMT_INTERFACE": {
        "eth0|10.199.0.239/25": {
            "gwaddr": "10.199.0.129"
        }

[2021-09-02 00:30] prsunny commented on #8657
@volodymyrsamotiy , can you please check this?

[2021-09-02 01:53] jeffchen1988 commented on #8587
Thank you. We look forward to hearing from your soon.

[2021-09-02 07:00] sujinmkang opened #8661 "[202012: platform_tests]TestPsuApi::test_power / TestPsuApi::test_temperature failed on arista-7050"
#### Description
ERROR platform_tests/api/test_psu.py::TestPsuApi::test_power[str2-7050cx3-acs-07]
ERROR platform_tests/api/test_psu.py::TestPsuApi::test_temperature[str2-7050cx3-acs-07]
FAILED platform_tests/api/test_psu.py::TestPsuApi::test_power[str2-7050cx3-acs-07]
FAILED platform_tests/api/test_psu.py::TestPsuApi::test_temperature[str2-7050cx3-acs-07]

#### Steps to reproduce the issue:
1. ru